[2018-11-03 01:59] dhmlau commented on #1971
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/1971.

[2018-11-03 02:48] dhmlau commented on #1971
Sorry to close your issue by accident.  Looks like this issue will be closed if I closed your original ticket.

[2018-11-03 02:51] dhmlau commented on #1971
@DivCorleone, may I know what you're trying to accomplish in the code snippet above?
You might want to take a look at this documentation page: https://loopback.io/doc/en/lb3/Email-connector.html.  Thanks.

[2018-11-03 04:52] leezhenghui commented on #110
Hello,
I would like to participate.
BTW, I'm currently working on a personal project [tsnode-proxify](https://leezhenghui.github.io/node.js/2018/08/08/tsnode-proxify.html) for AOP library for node.js w/ typescript, I was told that lookback-next may have similar feature plan. If possible, I am happy to help on that feature.

[2018-11-03 15:20] DivCorleone commented on #1971
I'm trying to send mails. I have seen your loopback v3 documentation, but unfortunately i didnt find a way to make it works in lb4 ? I tried reproducing every step in loopback v4 but for me some steps doesn't stick with lb4. Maybe i am not yet enough experienced with loopback to make it works. So here are the different approaches i tried:

By following the v3 doc:

 - Create a mail datasource usin

[2018-11-05 03:06] jiwantmg opened #1973 "Docs: how to impose additional conditions on repo.find filter"
I am trying to find all records based on deleted_at flags null. I typed a query like..

[code]

but it seems it is not working. I also tried this query with fields and where individually without including at once. Please tell me where can I put a where condition that returns me a list of records with deleted_at= null;

I found a one solution. I can send a filter query in a url but I don't exactly

[2018-11-05 05:59] raymondfeng commented on #133
See https://docs.nestjs.com/interceptors

[2018-11-05 14:53] abductedMind commented on #1946
<img width="322" alt="screen shot 2018-11-05 at 9 33 54 am copy" src="https://user-images.githubusercontent.com/3782314/48005049-7250e380-e0e0-11e8-9e4e-f0a57ebbce18.png">

The logo's teeny weeny little triangle on the center right is required to read the shapes but its disproportionately small compared to the rest of the logo. Even on the website itself, the upper left size the logo starts to bec

[2018-11-05 14:56] dhmlau opened #1978 "Spike: How to write a LB3-like application in JavaScript"
## Description / Steps to reproduce / Feature proposal
In the spike,
1. Find out the following, focus on what can be done right now without changing the code too much:
- how to create and boot application class in javascript
- how to register route
- how to customize the sequence without dependency injection
- data access should not depend on LB Repository.  Options: 1/ Juggler + connectors. 2/ us

[2018-11-05 15:46] dhmlau commented on #1971
@DivCorleone, after discussing with @bajtos:
- Ideally we can use the email connector for this purpose.  However, the email connector is part of the LB3 core, so cannot be used as-is.
- What  you can do is:
    - Option#1: use nodemailer directly (which you have already done) and implement it as a service.  See https://github.com/strongloop/loopback-next/blob/master/examples/todo/src/services/geoc

[2018-11-05 15:50] DivCorleone commented on #1971
Thank you for the answers, that is good for me so i close the threat.

[2018-11-05 15:50] #1971 closed

[2018-11-05 15:53] bajtos commented on #1902
@strongloop/loopback-next I'd like to hear your opinion. Is Decimal type something you would need in the projects you are building? If yes then please upvote this issue by pressing the thumbs-up button at the top, just under the issue description.

[2018-11-05 15:59] BostjanPisler commented on #1902
We work with financial numbers and calculation in LB3 on a daily basis and in my opinion storing and retrieving decimal numbers is not a problem, the problem is, as stated above, in working with them ie. floating point calculations. We use decimal.js to calculate and then convert back to normal JS number for storing and retrieval.

[2018-11-05 16:05] niyoko commented on #1902
There are 3 options that we can use: [big.js](https://github.com/MikeMcl/big.js/), [bignumber.js](https://github.com/MikeMcl/bignumber.js/) and [decimal.js](https://github.com/MikeMcl/decimal.js/)
The differences is discussed [here](https://github.com/MikeMcl/big.js/issues/45#issuecomment-104211175). Currently I use decimal.js, but for most projects, I think bignumber.js is sufficient.

[2018-11-05 17:20] dhmlau opened #1979 "Document how to send emails in LB4"
## Description / Steps to reproduce / Feature proposal
Originated from https://github.com/strongloop/loopback-next/issues/1971

In LoopBack 3, users can use our [email connector](https://loopback.io/doc/en/lb3/Email-connector.html) to send emails.
Ideally, we can use the same connector in LoopBack 4 the same way we use other connectors.  However, the email connector is part of the LB3 core, so can

[2018-11-05 18:55] dhmlau opened #1980 "How email connector should work in Juggler-next"
## Description / Steps to reproduce / Feature proposal
Originated from: https://github.com/strongloop/loopback-next/issues/1971#issuecomment-435923465

Currently we cannot use our own email connector in LB4 because the email connector is part of LB3 core.  Workaround is documented in the above comment.

[2018-11-05 19:17] dhmlau commented on #1761
Moved the slipped tasks to November milestone.

[2018-11-05 19:17] #1761 closed

[2018-11-05 19:57] JorisPalings opened #1981 "Cannot start the application. Error: Unsupported type: geopoint"
# Description/Steps to reproduce
I'm attempting to start my project by using `npm start` and get the following output:
[code]

In one of my models, I have a property of type 'geopoint':
[code]

Upon closer inspection, no `case` is defined for the `'geopoint'` type in the switch statement in `@loopback/repository-json-schema/dist/src/build-schema.js`.

# Expected result

For the Loopback 4 project

[2018-11-05 20:49] JoshuaKGoldberg commented on #1954
You can set it as a child of `"compilerOptions"`:

[code]

[2018-11-05 20:51] raymondfeng commented on #1954
@JoshuaKGoldberg Thanks for pointing out. If I remember correctly, we cannot override such rules in TypeScript like `// tslint:disable:...`.

[2018-11-05 21:42] loredanacirstea commented on #1951
At the end of this section: https://loopback.io/doc/en/lb4/HasMany-relation.html#configuring-a-hasmany-relation there are links for `create`, `find`, `delete`, `patch` - e.g. https://apidocs.strongloop.com/@loopback%2fdocs/repository.html#HasManyRepository.prototype.create.

None of them work anymore (they worked ~2 weeks ago). I did not find the `HasManyRepository` documentation at all in https:/

[2018-11-05 23:56] raymondfeng commented on #1873
What about even simpler solution - https://github.com/strongloop/loopback-next/pull/1936/commits/5c2051da08b295387de92fa145d1ccf6b7c0c423?

Basically, we allow controller methods to skip body parsing by configuring `x-skip-body-parsing` and give the implementation the full control to handle `multipart/form-data`.

[2018-11-06 03:36] dhmlau opened #1982 "Tutorial/Blog: how to mount LB app as Express/Koa middleware"
## Description / Steps to reproduce / Feature proposal
Per our discussion with @raymondfeng @bajtos and others, users can mix and match using LoopBack and Express, taking the best of both framework.
LB can have a facade application that can continue to use express for hosting capability but can compose different segment of the route.  LB app can be mounted to express / koa as middleware.

See also

[2018-11-06 03:45] dhmlau commented on #1951
@bajtos , it might be related to the clean up work you've done recently on `hasMany`?

[2018-11-06 09:04] bajtos commented on #1982
See https://github.com/strongloop/loopback-next/issues/691 and https://github.com/strongloop/loopback-next/issues/1818 for related discussions we have had in the past.

With the current code base and APIs, it's already possible to mount LB4 REST API as an Express middleware.

[code]

[2018-11-06 09:41] David-Mulder opened #1983 "Why is there a `package-lock=false` instruction"
## Description / Steps to reproduce / Feature proposal
For continious integration it's crucial that a package-lock.json is generated, but for some reason a default loopback project will contain a `.npmrc` file with a `package-lock=false` instruction.

## Current Behavior
No `package-lock.json` is generated

## Expected Behavior
A `package-lock.json` file is generated

[2018-11-06 10:02] bajtos commented on #1352
I was thinking about this problem and perhaps we can implement this at LB4 Repository level?

Let's say "Customer" has many "Order" instances, the relation is called "orders" and we want to fetch a customer with their orders.

The way how inclusion works in juggler and LB 3.x, such request creates multiple queries:
 1. First, Customer instances are fetched the usual way.
 2. Secondly, we process "

[2018-11-06 10:02] bajtos commented on #1889
I have posted a comment in the other issue with a proposal how to implement inclusion of related models at Repository level, see https://github.com/strongloop/loopback-next/issues/1352#issuecomment-436197152

[2018-11-06 12:50] b-admike commented on #1973
@jiwantamang Thank you for providing details on the failure. I can try to recreate a model with your properties and try it out, but if you can create a simple app which can show the problem in a repo, it'd help me to debug it.

[2018-11-06 13:18] bajtos commented on #1873
I like this idea as a short-term workaround allowing LB4 app developers to build their own solutions for parsing multipart/form-data requests, buying us more time to implement the official support in a robust way.

I am proposing the following approach:
 - Convert 5c2051d into a pull request. Add documentation (a HOWTO guide) explaining LB4 app developers how to handle file uploads.
 - Keep this i

[2018-11-06 13:30] bajtos commented on #1952
I have posted a comment in the other issue with a proposal how to implement inclusion of related models at Repository level, see https://github.com/strongloop/loopback-next/issues/1352#issuecomment-436197152

[2018-11-06 13:54] bajtos commented on #1464
@Edo78 see the following resources to learn about other options available:
 - https://loopback.io/doc/en/lb4/Deploying-to-IBM-Cloud.html#updating-application
 - https://itnext.io/loopback-4-database-configuration-8f085399268

TL;DR: if you are using `@loopback/boot` to load your datasources (as is the default in LB4 applications scaffolded using `lb4` CLI tool), then you can bind just the custom d

[2018-11-06 13:59] bajtos commented on #1919
@David-Mulder thank you for joining the discussion.

Could you please be more specific about the scenario you have in mind and give us an example of a model and the different repositories used with this single model? What are the requirements you are addressing with this solution?

IMO, it's perfectly valid to have multiple repositories using the same model class.

The situation seems pretty simpl

[2018-11-06 14:08] bajtos commented on #1967
Should we perhaps leverage Context bindings, similarly to how `app.controller()` leverages context bindings under the hood to keep a list of all controllers?

1. The Explorer component exports a binding with the key `static-assets.explorer`. (`app.static` would be changed to create bindings with a similar key under the hood too.) See how controllers are registered now: https://github.com/strongloo

[2018-11-06 18:09] loredanacirstea opened #1987 ".find() and .delete() issues on a DefaultHasManyRepository with MongoDB connector"
## Description / Steps to reproduce / Feature proposal

Using `loopback-connector-mongodb` and a `hasMany` relationship between two Mongo collections (`PipeContainer` and `PipeFunction`).

Inside my `PipeContainerController`, I can successfully do `await this.pipeContainerRepository.functions(containerid).create(pipeFunctionDataObject);` and it correctly creates the new `PipeFunction` record.

How

[2018-11-06 18:15] kawasaki23Ven commented on #1963
+1

[2018-11-06 19:36] raymondfeng commented on #1956
I think the issue is more complex than just implementing the atomic `findOrCreate`. It depends on how `hasOne` is enforced:

1. By LoopBack using atomic `findOrCreate` from the connector
2. By the database with a unique constraint of the FK, for example, a user has a profile and the profile model has a unique index of `userId`. This can be potentially automated by `automigrate`.
3. For relational

[2018-11-06 19:36] dhmlau opened #1988 "Cleanup in HomeController and shopping app with the ability to serve static assets"
## Description / Steps to reproduce / Feature proposal
Proposed by @bajtos and @hacksparrow has a PR on documentation for serving static assets:

## Acceptance Critiera
- [ ] Change the generated code to remove `HomeController` and invoke `app.static()`
- [ ] Apply the same changes in [loopback4-example-shopping](https://github.com/strongloop/loopback4-example-shopping)
- [ ] Apply the same change

[2018-11-06 19:48] jannyHou commented on #1956
based on Raymond's comment, Cloudant/Couchdb2 have a similar situation as sql databases.

[2018-11-06 20:00] jannyHou commented on #1963
Hi @Dallsant @kawasaki23Ven could you explain more about "start a function in a service"?
This might be related to the life cycle discussion in https://github.com/strongloop/loopback-next/issues/1845

[2018-11-06 23:38] loredanacirstea commented on #1987
My `containerid`field is a `string`. I am using MongoDB, so in fact it is an `ObjectId(<string>)`).
I assume the above issue is related to the fact that when querying:
-  `where = {containerid: "5bdf94e84388069b10351f23"}` returns `[]`
- `where = {containerid: {like: "5bdf94e84388069b10351f23"}}` returns all the pipefunctions with `containerid == "5bdf94e84388069b10351f23"`

`console.log(this.pipe

[2018-11-07 16:10] raymondfeng commented on #1983
For generated applications, a `package-lock.json` can be desired as you said. Are you willing to contribute a patch?

[2018-11-07 17:58] yagobski commented on #695
LB4 is great but changing model declaration will be easy to migrate from LB3 to LB4 without rewriting the whole application. Do you have any migration plan to follow from LB3 to LB4.

[2018-11-07 18:43] jannyHou commented on #1983
we could make it an option when generate the app: let the user decide generating `package-lock.json` or not.

[2018-11-07 19:01] #1547 closed

[2018-11-07 19:46] b-admike commented on #1973
@jiwantamang I've created a sample app with a similar but simpler model:
[code]

Adding a controller method which searches with filter `{where: {deleted_at: null}}` returns the expected results:
[code]

[code]
as opposed to a call to `find()`:
[code]
One thing I noticed from your code snippet was that you had `filter` as the first argument (which is coming from the query perhaps?) and you are pass

[2018-11-07 21:14] jannyHou commented on #1981
The support for GeoPoint is not finished yet. I suggest turn this issue to be a feature.

We can either leverage the `GeoPoint` class in juggler https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/geo.js#L164

Or implement a `GeoPoint` type in loopback 4: see https://github.com/strongloop/loopback-next/tree/master/packages/repository/src/types

[2018-11-08 03:44] jiwantamang commented on #1973
Thank you very much Biniam.
    I really appreciated with your concern about the issue but I was looking for a different solution like I wanted to use the feature of filter on find() where a user can send a custom filter query. At the mean time we must also able to put some extra param on filter like 'deleted_at:null'

I did some extra work and find a solution, please tell me if I am doing right o

[2018-11-08 06:44] marioestradarosa commented on #1973
@jiwantamang ,  if you want to place a default where clause for the find controller method, do the following:

[code]
You will have to import in the controller the following items:

[code]

[2018-11-08 11:40] bajtos commented on #1981
Adding "feature" label.

@raymondfeng what's your take on the direction we should take here? I see two options:

1. A quick fix: keep using the current `GeoPoint` class from juggler and/or [loopback-datatype-geopoint](https://github.com/strongloop/loopback-datatype-geopoint).  `@loopback/repository` should export `GeoPoint` constructor. We may need to describe GeoPoint in juggler typings.

2. A re

[2018-11-08 11:41] bajtos commented on #1981
@JorisPalings your model is storing GeoPoint types as `string`. I find that a bit unusual, shouldn't GeoPoints be represented as objects?

[2018-11-08 12:38] bajtos commented on #1956
Good point!

This is loosely related to my ideas related to validation, see https://github.com/strongloop/loopback-next/issues/1872#issuecomment-435025909

:+1:

Makes sense. To make this option easy to use, I would like our implementation to have the following traits:

 - The database-specific error reporting violating of unique constraint is converted into a well-known LoopBack error code, so th

[2018-11-08 12:43] bajtos commented on #1873
It would be great if `@loopback/rest` provided an extension point allowing 3rd party extensions to provide parsers for different content type. With that extension point in place, we can have multiple extensions implementing file upload functionality using different programming models e.g. push vs pull, files as streams vs. files saved in a temp directory, etc.

@raymondfeng WDYT?

[2018-11-08 12:57] tioback commented on #1449
@dhmlau it seems #1859 was accepted before 4.0 GA tag was released.

![image](https://user-images.githubusercontent.com/13951017/48200019-fefbdb80-e344-11e8-929d-37c72fd7938c.png)

[2018-11-08 13:04] JorisPalings commented on #1981
@bajtos I created it through the `lb4 model` CLI command, which for some reason defined **all** model properties as `string`s.

[2018-11-08 13:05] bajtos opened #1994 "Docs: fix file-name captions for source code snippets"
In many places of LB4 documentation, we use the following style for source code file examples:

<pre><code>
#### src/models/todo-list.model.ts

[code]
</code></pre>

This is inconsistent with the style we use in LB3 documentation and possibly other places, see https://loopback.io/doc/en/contrib/code_samples.html

<pre><code>
{% include code-caption.html content="/common/models/user.json" %}

[code

[2018-11-08 13:08] bajtos commented on #695
@yagobski

We are fully aware of this concern. We are discussing migration paths from LB 3.x in the issue https://github.com/strongloop/loopback-next/issues/1849 - feel free to join the discussion and/or upvote the issue.

[2018-11-08 13:16] bajtos commented on #1973
I think the current implementation is fine, at least as far as I am concerned.

See the example in the comment by @marioestradarosa for how to solve the use case required by the user.

I think it would be great to capture this recipe in our documentation. I am labelling this issue as "Docs" and "good first issue".

[2018-11-08 13:34] ido567 opened #1995 "Running unit tests inside docker"
I have a fresh installation of Loopback V4 which I try to run inside a docker.
To access the `ping` endpoint, I had to set the `HOST` ENV variable to `0.0.0.0`.
My problem is that after the change, I get an error when I run `npm run test`, the log:
[code]

I found few posts about Loopback & docker, but they were all about V3.
Any idea of how to fix it? Or any related materials for docker & V4?

[2018-11-08 14:21] nabdelgadir opened #1996 "Refactoring: Customer credentials"
## Description
Step 1 from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436.

Let's keep things simple for now and use a password as the only credential. (No 2-factor-auth, no OAuth/OpenID/SAML for now.)

In LoopBack 3.x, we are storing storing user's password together with user data in the same model (table), which opens a lot of security vulnerabilities to deal with

[2018-11-08 14:22] b-admike commented on #1973
Ah I misunderstood your question @jiwantamang. @marioestradarosa's example snippet should do the trick. I also agree on adding this to docs as @bajtos mentioned as many users would be looking to customize/constrain incoming filter objects.

[2018-11-08 14:23] nabdelgadir opened #1997 "Groundwork: Access tokens, login & logout"
## Description
Step 2 from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436.

Define a new `AccessToken` model and a relation to `Customer` (a customer has many tokens, a token belongs to a customer).

Implement login and logout, expose them via REST API. Let's create a new Controller class for these endpoints!

The goal of this step is to show a reference implementat

[2018-11-08 14:26] nabdelgadir opened #1998 "The First Scenario: Authenticated orders (a minimal authentication)"
## Description
Step 3 from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436.

Rework `UserOrderController` to obtain the customer id from the request (the access token provided by the client) instead of a URL-path parameter.

For example, we can remove `/users/{userId}` prefix from all endpoints to end up with the following API:

- `POST /orders` creates a new order
-

[2018-11-08 14:28] nabdelgadir opened #1999 "The Second Iteration: Cancelling orders (a minimal scope-based authorization)"
## Description
Step 4 from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436.

Let's add a new `Order` property called `state` with the following values: `new` (set for all newly created orders), `delivered`, `canceled`. Implement a new REST API for cancelling orders: `POST /orders/{orderId}/cancel`.

Let's define two kinds of users in our Shopping app:

- customers ca

[2018-11-08 14:32] nabdelgadir opened #2000 "Advanced Auth Features"
## Description
Step 5 from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436.

Armed with a small application having authentication and authorization constraints in place, let's look at extensibility and what extension points we may need to define to support those use cases.

Few example scenarios to drive our focus:

- Allow customers to register and login using their

[2018-11-08 18:31] #1988 closed

[2018-11-08 18:39] dhmlau commented on #1449
@tioback , thanks for checking.  It's possible that the PR had merged before that.  For the docs content in `loopback-next` repo, we need to release `@loopback/docs` in order to be sync to loopback.io.

[2018-11-09 08:38] David-Mulder commented on #1997
Is the idea here that tokens are stored in the database or to use JWTs?

[2018-11-09 08:56] David-Mulder commented on #2000
Just noting: A user might be able to "only read data (role: 'reader') from realm A", but also "can be an admin (role: 'admin') in realm B". So I would expect:

 - Realms can be nested (e.g. company -> department -> team)
 - A user can have one role for each realm he has access to

In combination with the nested behavior this would allow a user to have read access to all data from company A & C, bu

[2018-11-09 09:01] jgutix opened #2002 "Regression: Model names not used for queries."
## Description / Steps to reproduce / Feature proposal
Having this model definition:
[code]

It no longer uses the `name` attribute in the model decorator for building the queries to the database.

## Current Behavior
The queries will use the class name as the table name, resulting in errors like this: `Unhandled error in GET /orders: 500 Error: ER_NO_SUCH_TABLE: Table 'mydb.orders' doesn't exist`

[2018-11-09 09:11] David-Mulder commented on #1996
Just some thoughts from an outsider:

I assume that the idea is that there will be an authorization mechanism which will create some loopback class which grants a set of privileges. It sounds very reasonable to me to leave the creation of this class instance to the implementer.

So the login controller would return some token (whatever the implementer wants). The client will take care of putting t

[2018-11-09 10:50] apocaliss92 opened #2003 "[OpenAPI] Filter properties different from number, not used in the call"
## Description / Steps to reproduce / Feature proposal
1. Open OpenAPI
2. Select an endpoint allowing filter param
3. Set di filter to something like this:
      {
        "where": {"a": 1},
        "fields": {"a": true},
        "offset": 10,
        "limit": 10,
        "skip": 10,
        "order": [
             "a"
        ]
      }
4. Execute the call
## Current Behavior
The effective call ma

[2018-11-09 11:12] mightytyphoon opened #2004 "loadash low severity issue on npm audit"
## Issue Description
npm audit return a low severity issue.

## Current Behavior
on npm audit
[code]

## Expected Behavior
no issue.

[2018-11-09 13:33] bajtos commented on #1956
@b-admike and me have discussed this matter yesterday. We concluded there are two ways forward:
1. Look into transaction-based implementation of `findOrCreate`
2. Require the target of hasOne relation to use the foreign key as the primary key. I believe the unique constraint of primary keys is enforced by all databases (SQL and NoSQL), thus not atomic operation like findOrCreate is needed.

[2018-11-09 15:18] #1828 closed

[2018-11-09 15:28] bajtos commented on #1922
@israelglar thank you for the suggestions. Have you managed to find time to start working on these improvements? Is there anything we can help you with along the road?

[2018-11-09 15:43] bajtos commented on #1914
Based on the discussion in #1947, this issue is not as easy to fix as it seems.

Cross-posting a part of https://github.com/strongloop/loopback-next/pull/1947#discussion_r230057001:

Personally, I am thinking about a different approach that may be easier to implement: modify LB4's `Model.prototype.toJSON()` method to exclude hidden properties configured via `definition.settings.hiddenProperties`.

[2018-11-09 16:08] bajtos commented on #1449
@tioback sorry for the confusion. v4 was released, but since we have changed package names as part of the rewrite, the new packages use `1.x.y` versions. For example, `@loopback/core` is at `1.0.1` right now.

Could you suggest where should we capture this information to save future readers from this confusion?

[2018-11-09 18:41] tioback commented on #1449
Hi, Miroslav.
No need for apologies, let's settle for a tag 🤣

Perhaps the [announcement note](https://strongloop.com/strongblog/loopback-4-ga) about v4 release, a new column right at the LTS table might be a good place.

Jokes aside, I do believe a tag at the master branch named something like "loopback-4.0.0-GA" at the commit which released v4 would be of great help.

[2018-11-09 21:29] dhmlau commented on #2004
It's related to this ongoing PR: https://github.com/strongloop/loopback-next/pull/1903

[2018-11-09 22:29] KyDenZ opened #2006 "React SDK"
Hi,

I saw that you are currently working on the React SDK. Do you know approximatively when will you release that feature ?

Thank you very much.

[2018-11-10 01:22] samhoamt opened #2007 "Loopback 4 belongsTo relation got error"
## Description
Hi, I'm working on the belongsTo relation to two models (Restaurant, Cuisine). I follow the documentation exactly. After setting up, I use the LoopBack API Explorer to do the GET request and POST request to Restaurant (source Model) and I got the following response body:

`{
  "error": {
    "statusCode": 500,
    "message": "Internal Server Error"
  }
}`

Console error:
`
Unhandled

[2018-11-10 04:27] hosiduy opened #2009 "Example of using --copy-resources"
## Description
Hi Loopback Team,
I read on the document which talk about using option: --copy-resources when running lb-tsc.
Please give an example on how to use this option.
I tried several commands aleady but none of them work:
[code]

Thanks.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-11-10 04:39] samhoamt commented on #2007
The issue solved after updated modules.

[2018-11-10 04:39] #2007 closed

[2018-11-10 07:32] jiwantamang opened #2010 "referece two different repositories into one controller"
I am trying to reference two different repository in a single controller.
Please let me know if i can do this or not ??

**Repositories**
ProductRepository
CategoryRepository

**Controller**
CategoryRepository

error: **Cannot start the application. Error: Duplicate key found with different value: get/products/{code}**

[2018-11-10 12:02] naveenkumashi opened #2011 "Update embedded models in Loopback 4"
## Description / Steps to reproduce / Feature proposal
I have the following model relationship in my LoopBack 4 application: A Survey has 1-many relationship with Question, Question has 1-many relationship with Option.

Am using MongoDB as the database. I am unable to figure out how to implement a PUT/PATCH REST api, that can update the entire Survey model containing the Questions and Options.

##

[2018-11-10 15:30] haresh333 opened #2012 "Perspective towards Loopback - Gaps in Loopback 3.0"
_Related: Feature parity with LoopBack 3.x (and the lack of it) #1920_

## Description / Steps to reproduce / Feature proposal

This is in context with series of tweets by me to @StrongLoop. Requesting attention from senior management.

I have been using loopback over last one year and looking back when I thought to see whether loopback contributed in my organizations’ commercial projects; Followi

[2018-11-10 16:04] raymondfeng commented on #2012
@haresh333 We really appreciate your constructive feedback. 💯 The team will look into your suggestions and post responses here as we go.

[2018-11-10 17:08] overburn opened #2013 "Defining virtual fields in models (linked to a mysql datasource)"
Hi,

Having trouble handling a hasMany relation. So, I have Product -> Has Many -> Properties

I've defined the productId property on the Properties model; Defined the hasMany decorator on the 'properties' field of the Product model.

Updated the Product repository to handle assignment via a HasManyRepositoryFactory.
Only issue now is that the automigration creates a "properties" TEXT field on the

[2018-11-10 17:31] haresh333 commented on #2012
Hi Raymond
Thanks.
At the least can someone help/guide me on way to implement social authentication in IONIC Mobile App. I am stuck here.

Regards

[2018-11-10 22:09] dhmlau commented on #1673
Reviewing what we have for the "contributing" docs and `CONTRIBUTING.MD` files in various places, there seems to be a duplication of contents. I'd like to propose the [Contributing to LoopBack](https://loopback.io/doc/en/contrib/index.html) page will have the following structure in the sidebar:
   - Governance: will bring to the governance page (no change) but contents need to be updated, e.g. cle

[2018-11-11 20:35] Dallsant commented on #1963
Hello, yes, that is what I had been looking for, thank you very much.

[2018-11-12 05:35] raymondfeng commented on #2009
For example:
[code]

[2018-11-12 05:35] #2009 closed

[2018-11-12 09:57] yogevlahyani opened #2015 "Trying to create a static endpoint that includes `:`"
## Description / Steps to reproduce / Feature proposal
I am trying to create a static endpoint that includes `:`, for example: `/files:upload` for an RPC Server.

## Current Behavior
I am getting an error on compile time according to RegExp validation that I need to use `{param}` instead of `:param` although I am not trying to use a param.

## Expected Behavior
Ability to use `:` inside a route pa

[2018-11-12 13:31] susannaHayrapetyan commented on #1419
Hi, any news? I'm getting the same issue. Cannot use near filter.

[2018-11-12 14:35] David-Mulder commented on #1983
First of all it would be useful to find out why somebody explicitly put it in there? That's not something that happens by mistake~

Couldn't find the new CLI code quickly, but changing that will be trivial, just didn't want to put in a PR if there is some reason for not generating a `package-lock.json` file ever in an application. Only place afaik where it sometimes can make sense is in public lib

[2018-11-12 21:20] shadyanwar opened #2019 "Accessing Data Internally"
## Description / Steps to reproduce / Feature proposal
Just like a [Persisted Model](http://apidocs.loopback.io/loopback/#persistedmodel) in LB3, how to use methods like `PersistedModel.find` to return data based on a filter for example?

I am trying to use PassportJS (based on the [loopback authentication example](https://github.com/strongloop/loopback-next/tree/8499862ed7bbb615d8bcdf2c2590fcdfaa

[2018-11-12 21:30] dhmlau commented on #1996
@David-Mulder, thanks for your comment.  This is step 1 out of the 5 steps that @bajtos proposed what we should do for the authentication & authorization story.  https://github.com/strongloop/loopback-next/issues/1035#issuecomment-429774436

Would love to hear your feedback!

[2018-11-13 01:54] PandoraTV opened #2021 "How can i use mongodb aggregate with lb4?"
How can i use mongodb find or aggregate command with lb4?

Where is example?

[2018-11-13 03:09] raymondfeng commented on #2012
Let's keep the issue open.

[2018-11-13 03:36] dhmlau opened #2020 "Add Component page under Key Concepts"
## Description / Steps to reproduce / Feature proposal
In https://loopback.io/doc/en/lb4/Crafting-LoopBack-4.html#rebuilding-loopback-experience-on-top-of-the-new-core, the link for `Component` is broken.

Talked to @raymondfeng , we should have a page for `Component` under concepts.

Related to https://github.com/strongloop/loopback-next/issues/1908

## Acceptance Criteria
- [ ] Create a `Compone

[2018-11-13 09:25] bajtos opened #2022 "Sugar API for defining URL redirects"
_This is a follow-up for https://github.com/strongloop/loopback-next/pull/2014._

When using LB4+ to serve HTML pages, it's useful to add a trailing slash to the URL when serving a folder, for example redirect `/explorer` to `/explorer/`. Without this redirect, relative URLs to assets like CSS & JS files are incorrectly resolved. For example, when served from `/explorer`, relative links like `./sw

[2018-11-13 11:19] bajtos opened #2023 "Custom visual style of REST API Explorer"
_This is a follow-up for https://github.com/strongloop/loopback-next/pull/2014 which introduced a new extension providing a self-hosted API Explorer._

As a user building a LoopBack application with a self-hosted API Explorer, I would like to change the visual style (colors, etc.) of the Explorer UI.

Implementation wise, this may require the following features:
- Allow the app developer to provid

[2018-11-13 14:41] bajtos opened #2026 "[SPIKE] switch to typescript-tslint-plugin"
Replace a standalone `tslint` build step with configuring `tslint` as a TypeScript language service plugin. See https://github.com/Microsoft/typescript-tslint-plugin

## Acceptance criteria

- [ ] Find if there are any features that we rely on and that are not supported by typescript-tslint-plugin
- [ ] Compare the performance. E.g. run `time npm test` before and after the switch and check the tim

[2018-11-13 16:11] elv1s commented on #2012
Is LB4 considered ready for production use?

[2018-11-13 17:45] bajtos commented on #1144
Good catch, @NiklasA. I was aware that we may break the applications assuming that 404 is thrown by `findRoute` when we change our router to throw the error from `invoke`, but wasn't sure. However, I think this isn't fixable at our side, since the authentication tutorial is correctly showing that all sequence actions should be wrapped in the try/catch block, not the `findRoute` action only.

Perha

[2018-11-13 18:38] dhmlau commented on #1035
After discussing with @bajtos and @raymondfeng, we're going to implement our own dummy authentication provider for the purpose of this epic.

## What changes needed in our [shopping app example](https://github.com/strongloop/loopback4-example-shopping)
1. Remove password in [User model](https://github.com/strongloop/loopback4-example-shopping/blob/master/src/models/user.model.ts).  This will be ha

[2018-11-13 20:13] dhmlau commented on #1996
Updated plan is described in here: https://github.com/strongloop/loopback-next/issues/1035#issuecomment-438387429

### Acceptance Criteria
- [ ] In the [shopping app example](https://github.com/strongloop/loopback4-example-shopping), remove `password` property in the [User model](https://github.com/strongloop/loopback4-example-shopping/blob/master/src/models/user.model.ts).

[2018-11-13 20:15] dhmlau commented on #1997
@David-Mulder , we're planning to implement a simple authentication provider that uses JWT access token under the hood.

[2018-11-13 20:20] dhmlau commented on #1997
Extracted from the discussion notes captured in https://github.com/strongloop/loopback-next/issues/1035#issuecomment-438387429:

## Acceptance Criteria
- [ ] Implement simple authentication provider that users JWT access token under the hood, and contain hardcoded list of user credentials (could be in-memory in the shopping card example). It has 2 APIs:
   - [ ] login: input: userid+password.  out

[2018-11-13 20:31] dhmlau opened #2027 "[Spike] Token based authentication in API Explorer"
**Timebox to 5 days**
## Description / Steps to reproduce / Feature proposal

### User experience
Go to API Explorer, login and set the token so that API Explorer can use the token for subsequent request.

Originated from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-438387429

### Acceptance Criteria
- [x] Investigate whether swagger ui support token based authentication
-

[2018-11-13 20:34] dhmlau commented on #1998
Originated from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-438387429

## Acceptance Criteria
- [ ] Implement the "verify" api in the authentication provider. i.e. accept access token. and tell you whether the token is valid plus user info
   1. custom sequence action - authenticate.  This will verify the access token and bind the security context in the context.
   2. wel

[2018-11-14 00:08] jormar commented on #1987
I have the same problem here. I tried `where = {containerid: {like: "5bdf94e84388069b10351f23"}}` and it works... but, it doesn't seem like right.

[2018-11-14 00:52] dhmlau commented on #1995
@ido567 , let me try it out later tonight.  A few things to note:
- HomePageController no longer being generated if you're using the latest @loopback/cli.
- Regarding the error about :::0, it might be because it's expecting a IPv6 address? There's some change in the generated index.js file to specify the host, see https://github.com/strongloop/loopback-next/blob/master/examples/todo/index.js#L15.

[2018-11-14 04:33] dhmlau commented on #1995
@ido567, I created the `Dockerfile` below and ran into the same issue:
[code]
It looks like it is related to IPv6 issue.  I tried to look up solutions related to this but failed to resolve the problem.  Will continue to look into it some more tomorrow.

Having said that, in `test/test-helper.ts`, we can force to use IPv4 address to avoid this problem.

From:
[code]
to:
[code]

Hope it helps for no

[2018-11-14 08:30] leon19 opened #2028 "[CLI] Cannot update @types/node version on a generated project"
## Description / Steps to reproduce / Feature proposal

When setting `@types/node` version to `*` on an loopback cli generated project, the cli cannot longer be used to generate models/controllers/repositories, etc.

[code]

## Current Behavior

The CLI throws an error and the generator is not run

[code]

## Expected Behavior

No error at all, or throw a more descriptive error indicating the depe

[2018-11-14 14:39] rubys opened #2029 "Exposing GraphQL APIs tutorial doesn't work"
## Description / Steps to reproduce / Feature proposal

Follow the steps in [Exposing GraphQL APIs](https://loopback.io/doc/en/lb4/exposing-graphql-apis.html)

## Current Behavior

[code]

## Expected Behavior

Server launched and listening for input on port 3001.

[2018-11-14 17:22] raymondfeng commented on #2029
@rubys I think you need to install `oasgraph-cli` now as the CLI has been refactored into its own module.
[code]

[2018-11-14 17:23] raymondfeng commented on #2029
@dhmlau Please fix the docs.

[2018-11-14 17:24] dhmlau commented on #2029
The PR (https://github.com/strongloop/loopback-next/pull/2008) that fixes this issue has merged last night.  Let me get it released.

[2018-11-14 17:29] rubys commented on #2029
Thanks!  Closing as a dupe of https://github.com/strongloop/loopback-next/pull/2008

[2018-11-14 17:43] rubys commented on #2029
The good news is that the oasgraph server launches. The bad news is that I can't get any of the queries to work.

input:

[code]

output:

[code]

[2018-11-14 17:48] rubys commented on #2029
I'm also getting a number of warnings:

[code]

[2018-11-14 18:24] dougal83 commented on #2029
Open http://localhost:3000/openapi.json.  Do you have servers url set like the following?  I had issue from 'lb4 example todo-list' that server url was '/' but rebuilding the example from scratch returned the openapi spec set correctly.

[code]
Alternatively you can save the openapi spec alter the url and launch graphql with altered openapi spec file directly.

[2018-11-14 18:42] raymondfeng commented on #2029
See https://loopback.io/doc/en/lb4/Server.html#customize-how-openapi-spec-is-served. Adding the following config should work.
[code]

[2018-11-14 18:58] raymondfeng commented on #2029
@rubys Which version of `@loopback/cli` do you use?

The latest version should generate `index.js` as follows:
[code]

With `setServersFromRequest: true`, the openapi.json should have `servers` friendly to oasgraph.

[2018-11-14 20:06] rubys commented on #2029
That was it.  I was using loopback-cli 1.0.1.  Upgrading to 1.1.1 fixes this.

Closing the issue again.

Thanks!

[2018-11-14 20:18] #2029 closed

[2018-11-14 20:32] dhmlau commented on #2029
Looks like the todo-list example does not take in the `config` as parameter.  https://github.com/strongloop/loopback-next/blob/master/examples/todo-list/index.js#L22

It should be:
[code]

Let me verify and submit a PR.

[2018-11-15 10:42] themadrix commented on #2002
In our case:
[code]
The following code in the controller queries the table `Article` in the database, resulting an error:
[code]
Otherwise, if we exclude the filter in the controller, it queries the right table `articles`:
[code]

[2018-11-15 11:57] bajtos commented on #1960
The feature (including docs) has been landed. Now we need to write a blog post.

[2018-11-15 13:55] basitsattar opened #2032 "User authentication with realms"
Hi

Can we use something like user realms (loopback3) in loopback4? Also is there any open source example of authentication with loopback4 ?

Thanks

[2018-11-16 00:58] cloudwheels opened #2033 "Unable to deploy successfully to Cloud Foundry"
## Description / Steps to reproduce / Feature proposal
- Create node sdk app on Cloud Foundry
- Generate lb4 starter app & test 'locally' (I am using Google Cloud Shell, which has some other implications e.g. inability to use cloudant in docker as per deployment docs, but the app works, as do other starter apps, including samples using cloudant connector to access the IBM hosted cloudant)
- remove

[2018-11-16 03:55] dhmlau commented on #2033
@cloudwheels, I'm just trying out as well.  It might be related to the recent change: https://github.com/strongloop/loopback-next/commit/2e7d4bb6e7b30aedfcc373a0d2bed3c0f1ad07c8.  My workaround is not to use the `config` value in `index.js`, i.e.
[code]

[2018-11-16 07:49] bajtos opened #2034 "Boot scripts"
A boot script is a short piece of code that users want to run during application setup (boot), e.g. to apply additional configuration in a programatic way, add more routes, etc.

In LB3, a boot script is a JS file in `server/boot` directory, loopback-boot automatically discovers and runs these scripts as part of boot.

For LB4, we should come up with a solution that will enable app developers to d

[2018-11-16 08:21] bajtos opened #2035 "Register Express middleware per route, controller class or controller method"
As a user migrating from Express, or simply wishing to leverage an existing Express middleware in my application, I would like to enable this middleware for certain routes, controller methods or entire controller classes.

Consider the following definition in an Express app:

[code]

The code snippets below illustrate different ways of applying the middleware. Please note they are just examples, n

[2018-11-16 08:52] bajtos opened #2036 "From model definition to REST API with no custom repository/controller classes"
In LoopBack 3, it was very easy to get a fully-featured CRUD REST API with very little code: a model definition describing model properties + a model configuration specifying which datasource to use.

Let's provide the same simplicity to LB4 users too.

 - User creates a model class and uses decorators to define model properties. (No change here.)
 - User declaratively defines what kind of data-ac

[2018-11-16 09:27] jedmarcnocum opened #2037 "Equivalent of res.download() (ExpressJS) in the controlller for downloading files"
## Description / Steps to reproduce / Feature proposal
 This is not an issue but rather a question, I did searched for possible answers with what I am trying to achieve but with no luck. I was trying to implement a simple route in the API that when a user visits the link, it will trigger a download action (PDF file) on their browser

I followed [@loopback/example-shopping](https://github.com/stron

[2018-11-16 09:34] cloudwheels commented on #2033
Thank you much @dhmlau -confirm this works.

I have / had taken time to check the repo & issues & web generally before posting this issue, so I can see how hard you are all working and pressing issues such as reviewing & extending the deployment docs for various platforms are being dealt with via the monthly milestones.

I'm sure you are aware there is little more frustrating to a developer than t

[2018-11-16 10:22] cloudwheels commented on #2033
So, tdlr;
- install CLI `npm i -g @loopback/cli`
- scaffold `lb4 app` or download example
- `cd [myApp]`
- `npm i cfenv` - cloud foundry environment module
- remove 'prestart' from package.json
- add lines to src/index.ts to get host & port using cfenv
index.ts (Starter Application)
[code]
- create IBM cloud account if you don't have one, note the api endpoint, org, and space
- go to cf cosnole an

[2018-11-16 11:39] cloudwheels commented on #2033
#1908
#1709

[2018-11-16 12:06] themadrix commented on #2002
We are not experiencing this issue when using `@loopback/repository-json-schema@1.0.0`, but it appears with versions `1.2.0` and higher (haven't tried with versions in between).

[2018-11-16 12:39] vishalvisd opened #2165 "Loopback 4, querying with SQLQuery with postgres connector"
# Description/Steps to reproduce

This is how I have defined my repository following very generic example given at loopback documentation:-
[code]
I was hoping that if d`o AModelRepository.execute(sql, null, cb) i`t would work. But its giving error - `Error: Not implemented`

Any help is highly appreciated.

[2018-11-16 13:24] cloudwheels opened #2038 "Feature Proposal:Provide deploy to IBM Cloud instructions at point of setting up node.js app as pre-populated copy paste commands"
## Description / Steps to reproduce / Feature proposal
Please see my comments in issue #2033

To boil those down into a feature proposal:
Add command or flags to CLI prompting for IBM cloud credentials (user, pass, endpoint, org, space,appName) and automatically deploying ping or hello world example to the Cloud Foundry app.
Maintain command/example for future updates in CLI or IBM Cloud tools

##

[2018-11-16 13:30] cloudwheels commented on #2038
@dhmlau FYI

[2018-11-16 14:09] dhmlau commented on #2033
@cloudwheels, thanks for your feedback and the feature proposal!  I agree that the how-to guide should contain more detailed information (perhaps with screenshots especially for the IBM Cloud side). We've investigated there are additional steps required if the LoopBack application is using other IBM Cloud service for persistence, so think that it would be useful to include it as well.

Based on yo

[2018-11-16 14:54] cloudwheels commented on #2033
@dhmlau - thank for the swift reply :)

I confirm I now have todo running on the IBM cloud by making these changes (but no docker database or connected services, just a connection string from the cloudant connector shared by both environments - simples! - I was guided in this by *I think* the docs for the github sample (which didn't build for me btw and is probs a bit outdated also)).

With some m

[2018-11-16 15:06] cloudwheels commented on #2033
ie.
- create bluemix account
- go to cloud foundry, add a 'loopback' (ok just really a node.js sdk) app
- follow instructions about setting up and deploying your loopback app from its Getting Started page on the console
- copy-pasta your way through the loopback specific instructions on this page into your terminal to see your first happy results.

[2018-11-16 16:44] #2037 closed

[2018-11-16 16:59] raymondfeng commented on #2037
I wonder if your previous version set `Content-Type` correctly or not.

[2018-11-16 17:00] cloudwheels opened #2040 "Auto generated id in cloudant is not a number - todo example not working with cloudant"
## Description / Steps to reproduce / Feature proposal

- Deploy todo example connected to cloudant database using connector
- Add some todos
- get todos as a list
- get todos by id

## Current Behavior

inserted autogenerated ids are returned as a the numeric part of the document id if it starts with one, so that:
database records with ids:
[code]

are returned as below by the api's GET todos:

[

[2018-11-16 17:08] cloudwheels commented on #2040
Keeping you busy on a Friday @dhmlau - so sorry ;)
GET todos/{CLOUDANT_ACTUAL_DOC_ID} doesn't work (invalid data type of course as expecting a number)
Not quite a simple as changing the type of id in the todo model I don't think but I have limited understanding of how id types work at this stage: just looking for something that works if you can help!!!

[2018-11-16 17:09] cloudwheels commented on #2040
Worryingly I'm not sure how this could ever have worked....

[2018-11-16 17:34] cloudwheels opened #2041 "Importing openapi.json from todo example in IBM Cloud / API Management / Definition causes error [object Object] is not a valid Swagger API definition"
## Description / Steps to reproduce / Feature proposal

- Deploy todo example to IBM Cloud
- download /openapi.json
- Save API in  IBM Cloud / API Management and attempt to upload definition from openapi.json

## Current Behavior
Invalid API definition
Error Importing:
[object Object] is not a valid Swagger API definition

## Expected Behavior
Open a swagger UI and allow management of API

[2018-11-16 17:44] raymondfeng commented on #2028
It seems to be a bug in `semver`. For example:

[code]

[2018-11-16 17:58] raymondfeng commented on #2041
Please share `openapi.json` and validate with https://editor.swagger.io/.

[2018-11-16 18:04] raymondfeng commented on #2028
See https://github.com/npm/node-semver/issues/236

[2018-11-16 18:39] cloudwheels commented on #2041
The json (converted to yaml) validates ok.
The problem seems to be with the API Management tool rather than the output.

`.json`
[code]

`.yaml`
[code]

[2018-11-16 18:41] jiwantmg opened #2043 "Many to many relation (hasAndBelongsToMany)"
## Description / Steps to reproduce / Feature proposal
I want to implement many to many relation in loopback4 but I couldn't see the article or any documentation regarding many to many relation

[2018-11-16 19:54] raymondfeng commented on #2035
See https://github.com/strongloop/loopback-next/pull/1671, which can be possibly used as the plumbing.

[2018-11-16 21:06] dhmlau commented on #2040
@cloudwheels, no worries :)
If you're using the `todo` example as-is, you'd need to specify the id for `POST`. i.e. something like:
[code]
I just verified and it seems to be working fine for me.  The document id in cloudant is the id you specify in the json.
<img width="677" alt="screen shot 2018-11-16 at 4 05 42 pm" src="https://user-images.githubusercontent.com/25489897/48647256-7373f180-e9b9-11

[2018-11-16 21:39] cloudwheels commented on #2040
I am assuming the app https://mylb4app.eu-gb.mybluemix.net/openapi.json is your deployment @dhmlau ? I can post to this without specifying id and get a numeric id back but I think it suffers the same problem as I cannot get by id and some ids are long ints some short etc? Is this app persisting to cloudant?

[2018-11-16 22:16] basitsattar commented on #1144
@jormar anwered solved my issue too.

[2018-11-16 22:53] cloudwheels commented on #2040
If I POST to your instance with an id (=1) I get an error, id can't be set:
[code]

[2018-11-16 23:01] cloudwheels commented on #2040
I was just about to write:
I would also really like to know why your explorer page works and I just get a 'possible CORS error'. Hope to fix this when the locally hosted explorer package is released but still want to know!

So I visit my instance's explorer link which has been giving the CORS error ( https://explorer.loopback.io/?url=https://lb4.eu-gb.mybluemix.net/openapi.json ) and it's suddenly

[2018-11-16 23:25] basitsattar opened #2045 "The key rest.apiSpec was not bound to any value."
Hi
Is it possible to make a multiple server application in current version of loopback? I have a usecase where I need to run a Rest Server with a websocket server. How can I do this?

I am implementing another server and extending from Application class instead of rest class, but it says i need to provide ApiSpec? Would I do it with getControllerSpec()? and how to combine all controllers then?

Th

[2018-11-16 23:45] #2002 closed

[2018-11-17 04:13] dhmlau commented on #2040
@cloudwheels , my apologies again for the roadblocks you're hitting!
I was trying out different things on my app on IBM Cloud, so it may not be behaving as expected.  It's now at a working state: https://todo-diana.mybluemix.net.

After discussing with @b-admike, we have a few conclusions:
- `id` is expected when creating a todo.  And it's working as expected.
- According to https://loopback.io/do

[2018-11-17 04:39] dhmlau commented on #2040
FYI - my updated todo example can be found here: https://github.com/dhmlau/loopback4-example-todo

[2018-11-17 10:36] cloudwheels commented on #2040
@dhmlau roads are pretty boring without the odd blockage, provided they an be shifted. The red lines node was throwing at me are less confusing after sleep and altering the id in the model to string type, updating the controller methods to accept string type and modifying todo controller unit tests is a couple of minutes and all works fine with cloudant, including posting without an id and getting

[2018-11-17 11:43] cloudwheels opened #2047 "IBM API Connect fails with openapi v3 schema"
## Description / Steps to reproduce / Feature proposal
(using todo example)
- Successfully import loopback generated openapi.json (or converted yaml) into IBM Api Connect
- Attempt to publish managed API

## Current Behavior
- App routes are recognised
- Publishing fails due to version conflict (expecting swagger v2 schema). Input openapi.json & Error output below.

`openapi.json`

[code]

`Error`

[2018-11-17 11:55] cloudwheels commented on #2047
RTFM perhaps, but is it possible to generate a v2 schema / app with loopback4?, or is this an 'issue' of waiting for IBM's API tools to catch up?

[2018-11-18 10:02] cloudwheels commented on #2040
In summary this works as expected with the id property on the todo model set as string and test updates.
ie.
- post /todos with no 'id' > get back a generated string uuid of the cloudant document (its internal _id field)
- post with a string 'id' > cloudant sets that as the document id
- post the same string id > cloudant possible duplicate error
- post with a numeric id > type error, expects stri

[2018-11-18 13:38] cloudwheels opened #2048 "TodoList Example does not work a expected (with cloudant)"
## Description / Steps to reproduce / Feature proposal
Continuation of #2040
- Todo Example working deployed to IBM cloud with cloudant connector, having modified todo model id field to be string type
- Follow steps for TodoList tutorial, modifying id fields to be string type where relevant

## Expected Behavior
- Todos created by adding to a list are to the todos created up to this point, i.e. se

[2018-11-18 13:57] cloudwheels opened #2049 "Forget todos and align all examples to building a store"
## Description / Steps to reproduce / Feature proposal
Current starter examples are based around the concept of todos and their relationships in todoLists.  No doubt chosen for the relative simplicity of the concept.

From my understanding of the roadmap and current activity, the aim is to primarily demonstrate the product's production-ready capabilities through a reference implementation of an e-

[2018-11-18 14:19] cloudwheels commented on #2048
Sample Output

`curl -X POST "https://lb4.eu-gb.mybluemix.net/todo-lists" -H "accept: application/json" -H "Content-Type: application/json" -d "{\"title\":\"my First List\",\"todos\":[{\"title\":\"My First Todo\"}]}"`
actual:
[code]
expected:
[code]

`curl -X GET "https://lb4.eu-gb.mybluemix.net/todos" -H "accept: application/json"`

expected:

[code]
actual

`[]` (no Todo model records)

[2018-11-18 16:20] cloudwheels opened #2050 "todoList example not working as expected: ?missing route GET /todo-list/{id}/todos"
## Description / Steps to reproduce / Feature proposal
- Follow todoList tutorial from working version of todos example
- follow steps to test new api behaviour

## Current Behavior

- >  `POST /todo-lists` with a body of { "title": "grocery list" }

`curl -X POST "https://lb4.eu-gb.mybluemix.net/todo-lists" -H "accept: application/json" -H "Content-Type: application/json" -d "{\"title\":\"grocery

[2018-11-18 18:02] cloudwheels commented on #2050
I can implement `GET /todo-list/{id}/todos` as follows but still think I'm missing the point a bit here...
[code]

[2018-11-18 18:05] raymondfeng commented on #1962
I just tried. `redoc` can only render the spec but not the api exploring experience.

[2018-11-18 18:34] cloudwheels opened #2051 "Docs: working through todoList tutorial after todos rather than starting from lb4 example does not create tests"
## Description / Steps to reproduce / Feature proposal
 - Work through the steps to build todoList on top of todos

## Current Behavior

- If the todoList tutorial is pulled from the repo / using `lb4 example` it will include tests.
- Tests are not automatically created if starting with the todo example and building todoList using `lb4 controller` etc

## Expected Behavior

- Update docs: Remind u

[2018-11-18 19:14] cloudwheels commented on #2050
I have closed #2048  because it was a bit muddled but the points are still relevant:
- To some extent, it is a matter of data structure design whether I want `GET/todo-list/{id}` to return:
-- just 'header' information about the list, with related todos only accessible through GET /todo-list/{id}/todos
-- this plus an array of todo ids, ids plus something like the title (for quick lists), or a ful

[2018-11-18 21:05] Yaty opened #2052 "[CLI] Prevent usage of already used keywords"
## Description / Steps to reproduce / Feature proposal

When using the CLI I can create a model named Entity, or Model. The model is generated but no warning will be emitted (this keyword is already used by Loopback).

## Current Behavior

The model/controller/datasource/... is generated.

[code]

## Expected Behavior

Multiple options here:

1. add warnings in the creation process
2. prevent the

[2018-11-19 08:35] koalabi opened #2053 "Connecting to graph databases"
## Description / Steps to reproduce / Feature proposal
I'd like to be able to use lb4 with a graph database. Currently my preferred target would be OrientDB but, even if it were Neo4j (which is probably more mainstream today), I have a hard time finding out where to start (after much googling and reading the loopback website). It would probably be more straightforward with lb3 but it is for a few

[2018-11-19 11:12] bajtos commented on #1960
The blog post is in review.

[2018-11-19 11:21] cloudwheels commented on #2047
I RTFM :) This should be covered in  [https://loopback.io/doc/en/lb4/Controllers.html#specifying-controller-apis](https://loopback.io/doc/en/lb4/Controllers.html#specifying-controller-apis).
Not tested but closing on assumption this is how to generate a v2 schema if required.

[2018-11-19 11:21] #2047 closed

[2018-11-19 11:44] cloudwheels commented on #2050
Perhaps this is missing an implementation of [belongsTo Relation](https://loopback.io/doc/en/lb4/BelongsTo-relation.html)?

Anyway, todo: #2049
The how to/concepts docs are focussed are largely on the [shopping sample](https://github.com/strongloop/loopback4-example-shopping) which I have now built successfully in CloudFoundry with Cloudant and Redis connections after the basic changes outlined in

[2018-11-19 15:07] bajtos commented on #110
Invites sent ❤️

[2018-11-19 15:14] nm commented on #2043
+ 1

[2018-11-19 15:14] bajtos commented on #1464
Cross-posting from https://github.com/strongloop/loopback-next/issues/1609

https://github.com/strongloop/loopback-next/issues/441#issuecomment-392522724 #4

A mock-up app:
[code]
A mock-up datasource:
[code]

[2018-11-19 15:15] bajtos commented on #1609
Closing as a duplicate of https://github.com/strongloop/loopback-next/issues/1464

[2018-11-19 15:15] #1609 closed

[2018-11-19 17:59] cloudwheels commented on #110
Many thanks for the add @bajtos - after a few days checking out lb4 itself I will be tracking the shopping sample closely looking at sticking / (generating?) an admin CRUD client interface on top of that with something Angular-ish. I'm actually having some success developing a user manager with Ionic4 beta at the moment, though not sure whether I'm opening a can of worms there! Will put up a repo

[2018-11-19 19:35] raymondfeng commented on #2028
Fixed by https://github.com/strongloop/loopback-next/pull/2042

[2018-11-19 19:35] #2028 closed

[2018-11-19 20:47] pljspahn opened #2056 "How to define model properties of `Object` type?"
I have generated a model which results in `thing.model.ts`:

[code]

How do I go about defining the `attributes` object? Am I only able to do this by defining another model `attributes` model? My searches provide information on doing this with LB3.x but that is using a .json file and not using `@property` decorators.

[2018-11-19 22:48] yeager-j opened #2057 "How to validate JWT tokens supplied by incoming requests"
## Description / Steps to reproduce / Feature proposal

I'm attempting to build an app with Auth0 and Loopback. Auth0 requires some Express middleware, such as `express-jwt`. I've searched through GitHub issues and the docs to find a way to use Express middleware in a Loopback app and I've found nothing. Perhaps I'm missing something glaringly obvious.

I need a way to do this - from the Auth0 Doc

[2018-11-20 00:04] raymondfeng commented on #2057
There is an open issue - https://github.com/strongloop/loopback-next/issues/2035

[2018-11-20 00:54] shadyanwar commented on #2019
All the needed info is in this thread. The loopback 4 authentication example could use an update:
https://github.com/strongloop/loopback-next/issues/1835

[2018-11-20 00:54] #2019 closed

[2018-11-20 02:02] dhmlau commented on #2056
@pljspahn, do you mean defining in a way similar to this example? https://github.com/strongloop/loopback4-example-shopping/tree/master/src/models
ShoppingCart has a property that is an array of ShoppingCartItem

[2018-11-20 06:55] Mohit-Purbia opened #2058 "Property 'getIdOf' is missing in type 'typeof ..' in loopback 4"
I create a project with lb4 and add models then i make datasource with mysql and create repository it gives error Property 'getIdOf' is missing.

src/repositories/customer.repository.ts:7:3 - error TS2344: Type 'Customer' does not satisfy the constraint 'Entity'.
Property 'getId' is missing in type 'Customer'.

7 Customer,
[code]

[2018-11-20 15:45] dhmlau commented on #1465
We'll be focusing on the vendor agnostic approach, i.e. deploy to k8s.  Removing from TOB.

[2018-11-20 15:51] BostjanPisler commented on #1396
Easy fix is to export testdb config in testdb.datasource and then bind the config object to app's datasource.

`app.bind('datasources.config.db').to(config);`

[2018-11-20 17:05] gczobel-f5 commented on #110
Hi @bajtos!
Looking forward to being added as LoopBack.next contributor.

[2018-11-20 19:06] kawasaki23Ven opened #2061 "Example Create Middleware"
Hi, I need a Middleware example to all routes of my app.

Example: Verify CORS, Headers,etc.

I would greatly appreciate your help.

[2018-11-21 00:55] dhmlau commented on #2043
Thanks for the feedback!  It seems like there are more users who are looking for the other model relation types than what we have so far.  As you might've known already, support of `hasOne` https://github.com/strongloop/loopback-next/issues/1422 is in progress.  Let me discuss with @raymondfeng and team and see if there's some document to get others started on adding more relation types.

[2018-11-21 03:33] dhmlau commented on #2058
@Mohit-Purbia , do you have an id set for the `Customer` model?
For example, something like:
[code]

[2018-11-21 07:28] clayrisser opened #2062 "Customize openapi.json at root level"
How can I customize the openapi.json file at the root level. I want to add the following config . . .

[code]

[2018-11-21 09:46] sneakyLance commented on #1830
+1

[2018-11-21 11:30] apocaliss92 commented on #2062
I could make it work in his way:
this.api({
    openapi: '3.0.0',
    info: {
        title: process.env.REST_APPLICATION_NAME || 'API SERVER 2.0',
        version: process.env.REST_APPLICATION_NAME || '1.0.0',
    },
    paths: {},
    components: {
        securitySchemes: {
            [StrategyEnum.SESSION_STRATEGY]: {
                type: 'apiKey',
                in: TokenPosition.HEADER,

[2018-11-21 12:23] RaphaelDrai commented on #1839
Hello dmhlau,
I am interesting to contribute with the Data Relation "hasOne" #1422 .
What is the current status?
Who are the actual contributors that are involved in the coding of this feature that I can contact and collaborate with?
Thanks,
R.D

[2018-11-21 13:52] TomerSalton commented on #110
Hi @bajtos
Looking forward to being added as LoopBack.next contributor.
Thanks.

[2018-11-21 14:40] dhmlau commented on #1839
@RaphaelDrai, thanks for the interest.  https://github.com/strongloop/loopback-next/issues/1422 is the github issue keeping track of the `hasOne` relation.  From my understanding, it's currently blocked by the `findOrCreate` task (https://github.com/strongloop/loopback-next/issues/1956), which should be completed pretty soon.

@b-admike is working on both (the blocker and `hasOne` tasks).  I'll le

[2018-11-21 14:43] dhmlau commented on #2043
cc @RaphaelDrai

[2018-11-21 14:48] dhmlau commented on #2043
Hi all, thanks for your interest in contributing to more relation types!  Would like to see who has a particular interest or need for a certain relation type. Not sure what's the best way to do a poll here, I'm going to add one comment for each relation type below, and if you would like to contribute or need it for your project, please upvote.  Thanks!

Here are the outstanding relation types:
 Ha

[2018-11-21 14:49] dhmlau commented on #2043
HasManyThrough

[2018-11-21 14:49] dhmlau commented on #2043
2. HasAndBelongsToMany

[2018-11-21 14:49] dhmlau commented on #2043
3. Polymorphic

[2018-11-21 14:49] dhmlau commented on #2043
5. EmbedsMany

[2018-11-21 14:49] dhmlau commented on #2043
6. ReferencesMany

[2018-11-21 14:51] dhmlau commented on #2043
cc @strongloop/loopback-next @strongloop/loopback-maintainers

[2018-11-21 16:12] koalabi commented on #2043
HasManyThrough first but interested in other ones too

Le mer. 21 nov. 2018 à 15:51, Diana Lau <notifications@github.com> a écrit :

[2018-11-21 17:34] funkizer commented on #2043
HasManyThrough, HasAndBelongsToMany.
Flick-the-switch type of Auto Update would be very nice. One that adds foreign keys automatically (which LB3 never could do), with cascade delete/restrict.

[2018-11-21 17:36] yeager-j commented on #2057
I saw that. I only need application-wide middleware. Is that not implemented yet as well?

[2018-11-21 19:28] kawasaki23Ven opened #2064 "How to call provider during application boot"
## Description / Steps to reproduce / Feature proposal
Hi, I have a Provider bind to services.MyProvider in application.ts, I need call the Provider inside a method in application.ts

## Current Behavior
[code]

TIA

[2018-11-21 20:14] dhmlau commented on #1996
From estimation meeting yesterday, it seems like we should work on #1997 first and then remove the `password` as part of that task.  As a result, closing it now.

[2018-11-21 20:18] b-admike commented on #1839
@RaphaelDrai Thank you for asking; There are a few PRs in play (see #1879 #2005 and #1974). The first approach we took was to using atomic operations provided by connectors (specifically `findOrCreate`) to make sure only one target instance was created for a source instance in a `hasOne` relation. Since we found out that not all connectors support this, the other option was to use concept of trans

[2018-11-21 20:33] nabdelgadir commented on #2050
Yes, you're right. Thanks for catching that!

This is similar to [this](https://github.com/strongloop/loopback-next/blob/master/examples/todo-list/src/controllers/todo-list-todo.controller.ts#L45). You can specify the filter to be what you have: `{"where": {"todoListId": id}}`.

The correct way to do it is through using an [include filter](https://loopback.io/doc/en/lb3/Include-filter.html#include

[2018-11-21 20:47] dhmlau commented on #2062
@codejamninja , could you please review if this docs page https://loopback.io/doc/en/lb4/Server.html#customize-how-openapi-spec-is-served help? thanks.

[2018-11-21 22:03] apocaliss92 commented on #110
Hi @ritch looking forward to be added as LoopBack.next contributor. Thanks

[2018-11-21 22:52] raymondfeng commented on #1883
See a PoC at https://github.com/raymondfeng/loopback4-example-websocket

[2018-11-21 22:53] raymondfeng commented on #1884
See another PoC - https://github.com/raymondfeng/loopback4-example-websocket

[2018-11-21 23:07] codejamninja commented on #2062
Yes @apocaliss92, that is exactly what I was looking for. You're a lifesaver.

@dhmlau I'm already aware of those docs. I've been scouring them for the past few months. It doesn't mention anything about the `this.api()` function which is what I needed to implement this.

[2018-11-21 23:09] codejamninja commented on #2062
Ah, here's the docs I was looking for.

https://loopback.io/doc/en/lb4/Controllers.html#specifying-controller-apis

[2018-11-21 23:42] cloudwheels commented on #2050
Hi @nabdelgadir - thanks for the tips! It's a fast-moving project at the mo but getting to grips with what is/isn't/will be implemented as core functionality and where to extend myself. Aiming to get myself setup to chip in some small PRs like missing example bits to help things along when I have some time!

Interested in how the `readonly` (I guess exported from `repository`) and/or `protected` o

[2018-11-22 06:08] b-admike commented on #1987
Hi @loredanacirstea @jormar, sorry for the late reply and thank you for the detailed reproduction steps. I was able to see the issue and I think for this to work, we would need to set the `strictObjectIDCoercion` flag (see https://github.com/strongloop/loopback-connector-mongodb#strictobjectidcoercion-flag) on the model that is being queried, in this case, `PipeFunction`, so that the id is not coe

[2018-11-22 08:00] bajtos commented on #487
Ruby on Rails is providing an interesting high-level API for defining migration steps in such way that a single sequence can be used both to upgrade the db schema and downgrade it (rollback changes).

https://guides.rubyonrails.org/v3.2/migrations.html

[2018-11-22 08:35] bajtos commented on #512
## Crypto shredding

Quoting from the latest ThoughtWorks [Technology Radar](https://www.thoughtworks.com/radar/techniques):

Maintaining proper control over sensitive data is difficult, especially when—for backup and recovery purposes—data is copied outside of a master system of record. Crypto shredding is the practice of rendering sensitive data unreadable by deliberately overwriting or deleting

[2018-11-22 09:14] Mohit-Purbia commented on #2058
yes --this are the entities
 @property({
    type: 'number',
    id: true,
  })
  id?: number;

  @property({
    type: 'string',
  })
  name?: string;

  @property({
    type: 'string',
  })
  email?: string;

[2018-11-22 09:16] bajtos commented on #110
Invites sent ❤️

@cloudwheels sounds great, I am looking forward to see what you can build.

[2018-11-22 09:31] bajtos commented on #1873
@thanhdevapp The pull request https://github.com/strongloop/loopback-next/pull/1936 is adding features that will allow applications & extensions to implement custom request parsing (e.g. using multer), see the following section for information about implementing a file-upload controller: [Parsing-requests.md#specify-custom-parser-by-controller-methods](https://github.com/strongloop/loopback-next/b

[2018-11-22 09:41] bajtos commented on #512
A connector for CockroachDB:

Quoting from https://www.thoughtworks.com/radar/platforms/cockroachdb:

https://storage.googleapis.com/pub-tools-public-publication-data/pdf/39966.pdf). In CockroachDB, data is automatically divided into ranges, usually 64MB, and distributed across nodes in the cluster. Each range has a consensus group and, because it uses the [Raft consensus algorithm](
https://raft.

[2018-11-22 11:33] bajtos commented on #1960
Closing as done.

[2018-11-22 11:33] #1960 closed

[2018-11-22 11:56] bajtos commented on #1673
You are right. Most of the content is same for both pre-v4 and v4+. The biggest difference I see in "Bug report" instructions, but I guess that's something we can leave out of scope of this issue.

We need to preserve `CONTRIBUTING.md` in loopback-next's repository, because GitHub is picking up that file to display hints and warnings in the web UI.

I agree duplicating the same information in mult

[2018-11-22 12:48] cloudwheels commented on #890
Can I ask why/whether an issue "Import loopback-connector-cloudant using lerna import" is considered out of scope here (in view of being pushed back from TOB anyway)?
- The current implementation is a somewhat sub-optimal, being largely implemented via inheritance from loopback-connector-couchdb2 using `util.inherits`:

- todo sample is based on cloudant , shopping on Mongo, which could lead to co

[2018-11-22 13:09] bajtos commented on #2045
It should be possible to have multiple servers in a single application. However, supporting multiple servers is tricky and we haven't looked into ways how to make this easy to achieve. You are likely to discover things that are difficult to achieve while building such an application.

@raymondfeng has recently created an example app showing how to build a WebSocket server, see https://github.com/r

[2018-11-22 13:15] bajtos commented on #2049
@cloudwheels thank you for the proposal. IIRC, we created `todo-list` because it was the simplest way how to get a working example for a has-many relation.

I like your proposal to use a somewhat more realistic scenario.

The tricky part is how to keep the example simple, so that people reading the code can quickly discover the relevant parts & understand what's just a boilerplate, and to keep the

[2018-11-22 13:19] bajtos commented on #2050
To prevent people from accessing `/todos` APIs, just delete the corresponding controller methods (e.g. `TodoController.createTodo`). To completely disable `/todos` endpoints, delete the entire `TodoController` from the project.

There is very little auto-magic in LB4 so far, almost everything is expressed in the code generated by `lb4`.

[2018-11-22 13:22] bajtos commented on #2051
I agree we should improve `lb4` tooling to help users to write tests for their code too. I think the following issue is pretty much covering your second point: _#885 "lb4 controller" should prepare test infrastructure_

Let's keep this issue focused on short-term improvements of our docs, i.e. _Update docs: Remind users they may need to add tests_.

@cloudwheels would you like to contribute this c

[2018-11-22 13:34] bajtos commented on #2056
Your code example above looks reasonable to me, what issues are you running into?

I think the TypeScript type `object` will not allow you to access arbitrary properties, have you tried  using a string-indexed interface instead? Something along the following lines:

[code]

Alternatively, you if you don't mind missing type checks, then you can use `AnyObject` from `@loopback/repository`, which is

[2018-11-22 13:35] bajtos commented on #2056
Once we figure out the details, it would be great to capture this information in our documentation, to make it easier to find for future users.

[2018-11-22 13:53] bajtos commented on #2057
@yeager-j In your example, you are showing a route-specific usage of `checkJwt` middleware.

In LoopBack 4, users should use Sequence actions for adding custom request (pre)processing steps. At least that was our original design idea. See [Sequence](https://loopback.io/doc/en/lb4/Sequence.html) chapter in our documentation to learn more.

Does `jwt` provide API with callback/promise style too? If

[2018-11-22 13:56] bajtos commented on #2058
@Mohit-Purbia when using `DefaultCrudRepository`, your model classes should inherit from `Entity`.

A `Model` is a generic model class that does not necessarily has any unique identifier. `Entity` is a Model that has a unique id (a primary key).

[2018-11-22 14:00] codejamninja commented on #2061
I really would like to know how to add middleware. I can't figure it out.

[2018-11-22 14:01] bajtos commented on #2061
Closing as a duplicate of https://github.com/strongloop/loopback-next/issues/2035.

BTW, CORS middleware is automatically enabled by LB4, see https://loopback.io/doc/en/lb4/Server.html#customize-cors

In general, we are trying to move away from Express middleware and use the concept of a [Sequence of actions](https://loopback.io/doc/en/lb4/Sequence.html) and [Dependency Injection](https://loopback

[2018-11-22 14:01] #2061 closed

[2018-11-22 14:03] codejamninja commented on #2043
How can I contribute to the manyToMany ??? I really need it.

[2018-11-22 14:06] bajtos commented on #1293
I feel the issue description is out of sync with the issue title. I am going to rewrite the description to match the title and focus on LB4 user experience.

Below is the original description for posterity.

---

Since we have decided to use Express as our underlying HTTP framework, `@loopback/rest` and `@loopback/http-server` can be refactored with the use of Express APIs.

## Current Behavior
Co

[2018-11-22 14:11] bajtos commented on #2062
@codejamninja could you please help us to improve the docs for future users and contribute a pull request adding a mention of `this.api()` in the places in our docs where you were looking for it?

[2018-11-22 14:13] bajtos commented on #2064
In my experience, providers (and their provided functions) tend to be asynchronous, therefore you cannot invoke them from a constructor function (a constructor is always sync). My recommendation is to invoke the provided function from `boot` method instead.

[code]

[2018-11-22 14:15] codejamninja commented on #2062
Absolutely

[2018-11-22 14:33] cloudwheels commented on #2051
Updated title to reflect your suggestions as basis for straightforward PR - yes can take this :)
Will get myself organised to contrib asap, may need a day or two if that's OK to balance things with the real world (mucho tiempo aqui!) but no longer...

[2018-11-22 14:33] rpvelloso commented on #1144
same problem here, @jormar answer solved it.

[2018-11-22 14:40] cloudwheels commented on #2050
@bajtos no worries, that was my logical conclusion, but from a DX point of view, even trying hard to track the roadmap & 'what to expect' issues, one wonders if one is missing some 'Magic' :)

[2018-11-22 15:03] The-Murdock commented on #110
Hi @bajtos
Looking forward to being added as LoopBack.next contributor.
Thanks.

[2018-11-22 15:22] joaozitopolo commented on #1144
it's VERY important the @jormar information about static routes. The code at https://github.com/strongloop/loopback-next/tree/master/packages/authentication worked before the recent update of loopback 4, that now the root is mapped to /public.

[2018-11-22 16:52] kawasaki23Ven commented on #2064
Thanks!!! It works!!!

[2018-11-22 18:12] dhmlau commented on #2043
@b-admike @bajtos , what do you think is the best way to let others join forces?  some content around how to get started or how the code are being organized?  Thanks.

[2018-11-22 18:20] dhmlau commented on #1994
Looks like this task is in progress.

[2018-11-22 23:27] beriberikix opened #2069 "CoAP support"
I'm curious what it would take to support CoAP. CoAP is a popular protocol used in IoT to interact with constrained devices. Ideally a solution would support CoAP _and_ HTTP endpoints so the same application can be used between Web/Mobile/Server clients as well as things like microcontrollers. I noticed there is a project to support MQTT (https://github.com/strongloop/loopback4-extension-mqtt,) an

[2018-11-23 00:04] cloudwheels commented on #2049
Previous comment reworked to try to get to grips with how docs & samples fit together and can be reworked now, and what the bigger picture might be longer term.

[2018-11-23 03:00] raymondfeng commented on #2069
I'm starting to explore how to integrate with messaging protocols such as websocket, mqtt and pub/sub brokers such as kafka, redis, .... See a PoC at https://github.com/raymondfeng/loopback4-example-websocket.

[2018-11-23 03:00] raymondfeng commented on #119
See https://github.com/strongloop/loopback-next/issues/1884

[2018-11-23 03:01] raymondfeng commented on #2069
See https://github.com/strongloop/loopback-next/issues/1884

[2018-11-23 08:15] bajtos commented on #2043
I am proposing to keep this issue focused on "many to many" relation, and discuss other relation types in _[EPIC] More Relations (post-GA) #1450_.

From what I remember from LB3, "many to many" relation is called `HasAndBelongsToMany` and leverages HasManyThrough under the hood.

So I think the first step is to figure out how to implement a "hasManyThrough" relation.

In my experience so far, addi

[2018-11-23 08:54] samarpanB commented on #2058
@bajtos A quick query here. There was a proposal to filter out such model classes from showing up as selection during lb4 repository command run (Refer this - https://github.com/strongloop/loopback-next/pull/1746 and this - https://github.com/strongloop/loopback-next/issues/1698)
Any update on when can we expect that ? Actually, if provided, it can greatly reduce such possibility of issues.

[2018-11-23 09:50] bajtos commented on #1997
I am little bit concerned about practical aspects of this approach. My original vision was to start from outside (the example app) and drive the internal design & implementation based on what we need to provide to API consumers.

I fear that in the current proposal, we will start implementation inside `@loopback/authentication` before we fully understand what is required to make authentication eas

[2018-11-23 12:37] cloudwheels commented on #2049
Is the plan to lerna import the shopping example repo into loopback-next/examples?

Also, semantics I know,  but "Shopping" or "Store"?, "Example" or "Tutorial"?

Actually this whole issue is really semantics: as with avoiding too much boilerplate cluttering an explanation of the concepts, does effectively telling the user, even though they almost certainly understand,  "So far in other examples,

[2018-11-23 12:46] bajtos commented on #2040
Makes sense to me :+1:

@cloudwheels Would you like to contribute this improvement yourself?

[2018-11-23 12:59] bajtos opened #2071 "Lint markdown files to enforce correct case in filenames"
Because MacOS treats file names as case-insensitive, but Linux does not, we often end up with broken relative links in our documentation. See https://github.com/strongloop/loopback-next/pull/2054 for an example.

Let's add a linting step to verify that all relative links (e.g. `[Calling other APIs and web services](./Calling-other-APIs-and-web-services.md)') are pointing to an existing file (case

[2018-11-23 13:09] bajtos commented on #1981
Here is the code generating TypeScript types in `lb4 model`:

https://github.com/strongloop/loopback-next/blob/7966ee8e8a0b9129ed980d79be06a8e8e907b2ee/packages/cli/generators/model/index.js#L297-L319

AFAICT, it falls back to `string` for types it does not understand (e.g. `geopoint`).

[2018-11-23 13:11] beriberikix commented on #565
For "6. Build tools (CLI/UI) to scaffold LB next applications and render/manipulate LB next artifacts," have you see https://github.com/mermade/openapi-gui? It has been pretty handy when I was trying to learn OAS3 and seems extendable.

[2018-11-23 13:13] bajtos commented on #2034
@lucaslopez I like your proposal, but at the same time I feel it's orthogonal to the concept of boot scripts (a convention on where to place source code bits + a booter to discover and execute those bits).

Could you please open a new issue where we can focus on discussing your proposal?

In LoopBack 3, the application object is also an event-emitter providing events like `app.on('modelDefined')`

[2018-11-23 13:18] bajtos commented on #1863
@GuerricPhalippou Thanks for letting us know about your situation. I wish you good luck in your projects and hope to see you here again in the future, when LB4 comes closer to LB3 in terms feature parity :)

[2018-11-23 13:23] #1866 closed, assigned to hacksparrow

[2018-11-23 13:37] cloudwheels opened #2072 "Deploy to IBM Cloud: make cloud deployment default & other changes"
## Description / Steps to reproduce / Feature proposal
I will put in a PR for this rather than waffling here if the thinking makes sense, but
*Assumes node (?version) & npm installed*
Needs (do you have?) + setup links
*No link/explanation of installing lb4 CLI*
Pre-requirements should link to CLI install instructions as well as external tools
*Point out this can all be done on Free Tier services*

[2018-11-23 14:53] bajtos commented on #1573
Possibly. I think we should refactor the code in `request-body.validator.ts` and extract pieces that will be shared with parameter validator, e.g. `convertToJsonSchema`, `validateValueAgainstSchema` and `createValidator`, so there may be more new files to add in the end.

[2018-11-23 14:54] bajtos commented on #1875
+1

AFAIK, ObjectID is MongoDB specific. However, we allow relations across different databases, e.g. a "Customer" model stored in MongoDB can have many "Order" instances stored in MySQL, therefore we should support ObjectID properties also for models stored in different databases.

[2018-11-23 14:58] bajtos commented on #1970
@dhmlau is this story a part of or a duplicate of the epic _Plain JavaScript experience #560_?

[2018-11-23 16:14] cloudwheels commented on #2049
@virkt25 Yes, "Stepped tutorial" is the phrase I was looking for.
Each tutorial step being essentially as set of how-tos (which only exist as part of the tutorial referenced as linked headings/anchors), and a summary of the Key Concepts involved, under their own section as currently but using the language of a store in their supporting code snippets. (links not implemented and of course just rough

[2018-11-24 03:43] hbakhtiyor commented on #1866
@bajtos , e.g
[code]

[2018-11-24 22:34] dhmlau commented on #2072
@cloudwheels , thanks for your comment.  Actually after discussing with you on the [previous GitHub issue](https://github.com/strongloop/loopback-next/issues/2033), it's clear to me that there should be a progression on the instruction (first with simple LB4 app without using any provisioned services, then with provisioned services on IBM Cloud).  I was re-organizing my thoughts in this blog, tryi

[2018-11-25 11:43] kogutu opened #2074 "Filter Where problem - return null"
## Description / Steps to reproduce / Feature proposal
Hello, I have problem, I create model and add respository and controller (CRUD) - next I add first records to DB . When I want filter my collection by field loopback return empty array. I remove all dist and src files and create again my model but its not working.
**Looback ver:** 4
**Datasource**: MongoDB
**Model type**: Entitity
**My model u

[2018-11-25 22:59] bbenejc opened #2075 "hasMany relation with MySQL data source"
## Description / Steps to reproduce
I am trying out Loopback 4 for a project, and am having an issue with a simple hasMany relation.
The easiest way to reproduce is to use the todo-list example and change datasource type from "memory" to "mysql".

db.datasource.json example:
[code]

Here is code to create tables:
[code]

## Current Behavior
Now when you try to GET /todo-lists - you get this error:

[2018-11-26 01:05] dougal83 commented on #2075
Why not create the table using the migration tools? Have you tried that?

https://loopback.io/doc/en/lb4/Database-migrations.html

[2018-11-26 08:54] bbenejc commented on #2075
Thanks for the suggestion.... I have just tried the automigrate function.
I see it creates a `todos` TEXT column in `todolist` table, so the queries then work.

Doing a POST on /todo-lists in that case stores todos as JSON in that column.
But doing a POST on /todos creates a new todo in `todo` table.

I guess in my case, I should only create a belongsTo relation on the child model, since I am neve

[2018-11-26 08:54] #2075 closed

[2018-11-26 10:33] bajtos commented on #1449
@tioback thanks for the suggestion. I'll take a look at improving the announcement blog post. Until that happens, I have edited the issue description at the top to make it clear that LoopBack 4.0 GA was released and package versions were reset to 1.0.0. I hope it will help new people coming across this issue in the future.

[2018-11-26 10:34] bajtos commented on #1449
I am reluctant to use a custom tag like `loopback-4.0.0-GA` because I don't really what would be the use of it. I mean developers should install the latest version published to npmjs, not the version tagged as GA.

[2018-11-26 10:57] bajtos commented on #1857
Until we have support for generic hooks, I believe it's possible to implement support for createdAt/updatedAt properties by writing a custom repository class.

Something along the following lines:

[code]

To make allow this functionality to compose with other possible extensions, it may be better to extract it into a mixin.

[code]

[2018-11-26 11:11] bajtos commented on #2064
@kawasaki23Ven I am glad my instructions worked.

Would you mind sending a pull request to improve our documentation, so that people encountering the same problem in the future can find the answer in our docs?

I am not sure what's the best place for adding this advice, I am thinking about adding a new section at the end of [Dependency injection](https://loopback.io/doc/en/lb4/Dependency-injection

[2018-11-26 12:55] YaelGit commented on #110
Hi @bajtos
Looking forward to being added as LoopBack.next contributor.
Thanks.

[2018-11-26 13:06] bajtos commented on #890
To be honest, we haven't considered this yet.

Based on our latest discussion, we are keeping connectors in their own GitHub repositories for now, until we better understand the new juggler/repository design that is emerging from our work on LB4.

In my mind, it does not really matter where the connector code is hosted (a monorepo or an own repo), the improvements can be made in either place.

Sur

[2018-11-26 13:14] bajtos commented on #110
Invites sent ❤️

Please note that you have to accept the invite on GitHub before you become a member of `@strongloop/loopback-next`. If you didn't receive an email notification from GitHub, then I think you can find the invite when visiting StrongLoop organization on GitHub: https://github.com/strongloop

Right now, there are 16 pending invitations: @vishwasrao @herbertsg @austinfrey @GetCodePanda

[2018-11-26 13:20] bajtos commented on #1866
@hbakhtiyor Interesting! I tried your example path in Swagger Editor (http://editor.swagger.io) and it looks like your example is a valid OpenAPI spec path template.

The spec:

[code]

The request made by the editor (petId = 1, format = json):

[code]

Please open a new GitHub issue to discuss how LoopBack can add support for this use case.

[2018-11-26 14:05] #1994 closed

[2018-11-26 14:18] SharonItz commented on #110
Hi @bajtos!
Looking forward to being added as LoopBack.next contributor.
Thanks
sharon

[2018-11-26 15:02] raymondfeng commented on #1866
I thought it was supported by design. Let me check.

[2018-11-26 15:11] bajtos commented on #2050
I am proposing to capture how to customize generated API in our docs. For example, add a new section called "Customizing generated REST API" to [Controller generator](https://loopback.io/doc/en/lb4/Controller-generator.html).

Thoughts?

[2018-11-26 20:03] jannyHou commented on #1802
Closing since all PRs merged.

[2018-11-26 20:03] #1802 closed

[2018-11-26 20:49] raymondfeng commented on #1873
See https://github.com/strongloop/loopback-next/tree/master/packages/rest/test/acceptance/file-upload

[2018-11-26 21:21] codejamninja commented on #110
Thanks!

[2018-11-27 02:40] tioback commented on #1449
Well, tagging isn't only for running, but also for cloning, or just knowing exactly what commit is the release related to.

I agree with you that people should install the latest version when developing, however, for production scenarios, it is a good practice to use a fixed tag or version.

[2018-11-27 02:42] BertholetDamien commented on #487
Hi @bajtos ,
Do you plan to introduced this kind of migrations features in the futur ?

We can already (did not do it yet) used automigration and npm migration package to accomplish this purpose. But, I think implementing this solution will benefit Loopback.

Thank for your feedback !

[2018-11-27 02:48] cloudwheels commented on #2072
@dhmlau - the blog is great to show how quickly thing can be done!
As per the two issue references above I have created my own "reorganizing of thoughts place"
Within the context of that and [this MO](https://github.com/loopstore/loopstore-tutorial-v4/issues/8), as per my comment in [this](https://github.com/loopstore/loopstore-tutorial-v4/issues/9):

It's almost the opposite, a bit of a plod thro

[2018-11-27 11:34] SharonItz commented on #1944
Hi Bajtos,
It's look like we have 2 issues here, module validation and @hasMany decorator.
Do we need to separate them?
Also, can you explain what is the expected behavior when modifying the @hasMany decorator?
we still need to have a property on the source model that represents the has many relations with the target model.

thx
Sharon

[2018-11-27 11:43] YaelGit commented on #1573
@bajtos is there more information you can share in regards to how we can reproduce the issue described above.
If issue can be reproduced using the example of todo-list, or other ways
Please share if available,

[2018-11-27 11:47] lancedouglas1 commented on #1884
I'd like to provide a real-world example that I'm looking for the correct framework to build upon.
**A Flux architecture**

1. Clients login via REST API and receive one or more authenticated websocket contexts (I really like socketcluster FWIW)
2. Clients connect to the socket-server with their personalized-context and receive initial state of their context
3. Client UI is manipulated by the stat

[2018-11-27 12:18] cloudwheels commented on #2072
@dhmlau
There is a test build of the above (incomplete/not final formatted) content as a codelab hosted on the demo repo's GH Pages here:
[https://loopstore.github.io/loopstore-tutorial-v4/index.html](https://loopstore.github.io/loopstore-tutorial-v4/index.html)

[2018-11-27 13:36] bajtos commented on #1866
@hbakhtiyor  the issue with `/assets/{uuid}.{format}` should be fixed now. Could you please update your dependencies to latest version and let us know if the problem went away?

[2018-11-27 13:52] bajtos commented on #1944
To me, this looks like a single issue. I think I don't fully understand what you are trying to say?

The behavior I am expecting from the modified `@hasMany` decorator:
 - it sets relation metadata so that it can be picked up by `DefaultCrudRepository.prototype._createHasManyRepositoryFactoryFor`
- it does not mark the underlying TypeScript property as a model property (does not call `@property.ar

[2018-11-27 14:31] bajtos commented on #1449
FWIW, the announcement blog post was updated, see https://strongloop.com/strongblog/loopback-4-ga#new-module-names

I see. Well, we do have a git tag for each release of each of our module, see https://github.com/strongloop/loopback-next/releases.

AFAIK, this is solved by `npm shrinkwrap`. IT does not depend on specific git tags and locks versions for all project dependencies, not only LoopBack p

[2018-11-27 15:01] serkandemirel0420 opened #2080 "on cli generating relation"
Comparing to version 3 relation part is very complicated.  Also i am curious, is it possible to generate relation over cli like in version 3?

[2018-11-27 16:00] jannyHou commented on #1573
I think PR https://github.com/strongloop/loopback-next/pull/2059 is relevant.

[2018-11-27 16:04] jannyHou commented on #2080
@serkandemirel0420 The relation CLI is a major feature we would like to have soon, several discussions have been taken place in story https://github.com/strongloop/loopback-next/issues/1359, you can also use that story to track the implementation.
Opinions/feedback are welcomed.

[2018-11-27 16:15] dhmlau commented on #1673
Closing as resolved.
https://loopback.io/doc/en/contrib/code-contrib.html

[2018-11-27 16:15] #1673 closed

[2018-11-27 16:52] dhmlau commented on #1718
In discussion with @raymondfeng @bajtos:
Proposed solution: check the database whether the userId exist and then make the post call
In the future, we can look into a better way to handle it.

[2018-11-27 16:55] #1650 closed

[2018-11-27 17:00] bajtos commented on #2074
I suspect LB4 is incorrectly coercing the ObjectID string. See also https://github.com/strongloop/loopback-next/issues/1875

[2018-11-27 18:01] dhmlau opened #2082 "[Spike] Reference a Model/type and add additional constraints"
**Timebox to 5 days**

## Description / Steps to reproduce / Feature proposal
Originated from: https://github.com/strongloop/loopback-next/issues/1722

During the discussion with @raymondfeng @bajtos, there were different discussion over the support for partial update, we think a spike is needed.

## Acceptance Criteria
- [x] Read through the discussion and proposals listed in the related issues
-

[2018-11-27 18:56] dhmlau opened #2083 "[Blog] Enabling users to support other content types"
## Description / Steps to reproduce / Feature proposal
PR https://github.com/strongloop/loopback-next/pull/1936 enables users to support other content type.  Documentation  https://github.com/strongloop/loopback-next/blob/master/docs/site/Parsing-requests.md#specify-custom-parser-by-controller-methods is in place.

It would be helpful if there's a blog around this topic:
- how users can modify at

[2018-11-27 19:19] dhmlau opened #2084 "Monthly Milestone - December 2018 ⛄️ 🎄"
## December MIlestone
- Start the authentication & authorization story
- Help our users to get onboard with LB4
- Document how to make it easier to contribute
- Holidays! 🎄

### LoopBack 4
**Authentication & Authorization epic** #1035
- [ ] 🚶Groundwork: Access tokens, login & logout #1997

**Relation epic**
- [x] 🚶[Spike] How to do relation traversal: #1952
- [x] 🚶[Relation] Supports HasOne relati

[2018-11-27 19:37] codejamninja opened #2085 "Mongo fails to find user by id (hasMany relation not working)"
## Description / Steps to reproduce / Feature proposal

When I set `stringObjectIDCoercion` to `true`, I get an error when looking up the user by id when using mongo as the datasource.

I need to set `stringObjectIDCoercion` to `true` because if I don't, one-to-many relationships don't work in mongo.

[code]

## Current Behavior

[code]

## Expected Behavior

[code]

I have tried setting the id ty

[2018-11-27 19:42] codejamninja opened #2086 "postgres relation does not exist"
## Description / Steps to reproduce / Feature proposal

I get an error when trying to create new instances when using a postgres database.

## Current Behavior

[code]

## Expected Behavior

[code]

This might be related to https://github.com/strongloop/loopback-next/issues/1909

[2018-11-27 19:45] codejamninja commented on #1997
@bajtos, couldn't the shopping-app be added to the examples and then the authentication could be developed off a feature branch?

[2018-11-27 20:18] raymondfeng commented on #2034
See https://github.com/strongloop/loopback-next/pull/1928

[2018-11-27 23:18] bschrammIBM opened #2087 "fix(docs): restructure and renaming "How-to's" and "Examples and Tutorials" sections"
## Description / Steps to reproduce / Feature proposal
https://loopback.io/doc/en/lb4/index.html
I want to rename the How-To's section to be more descriptive. How-To could refer to many topics in the LoopBack 4 docs. It's hard to define what a "How to" is, but this section appears to contain miscellaneous optional implementation tasks. So some ideas for section title and definitions are:
- "Implem

[2018-11-27 23:45] larsm11 opened #2088 "RestBindings.Http.Request.query property always 'undefined'"
I have been using LB4 since July, and until recently I've been able to grab the query parameters from the RestBindings.Http.Request.query using the following injection statement in my controller constructor

`@inject(RestBindings.Http.REQUEST) private req: Request,`

Followed by `this.req.query.<property>` somewhere in my code.

This no longer works, even if I create a brand new application using

[2018-11-28 00:40] bschrammIBM commented on #2087
@dhmlau @bajtos Can you please add your thoughts about this change to the issue?

[2018-11-28 07:43] gczobel-f5 commented on #2036
Why generate a model first? I think it's better if we can put an OpenAPI YAML or JSON file on some folder, and from the definition, generate the model, controller, and repository.

[2018-11-28 07:52] orshlom opened #2090 "[CLI] Generate full REST API (model+repository+controller) from model schema"
## Description / Steps to reproduce / Feature proposal
The intention of this proposal is to create a fully functional REST API with ease imported from a schema and using an existing CLI tool `lb4 openapi`.

## Current Behavior
Currently, the OpenAPI generator `lb4 openapi` is missing several functionalities:

- The command creates only partial properties information for models listed in the `yaml`

[2018-11-28 08:00] koalabi commented on #2053
Hi Miroslav,

Thanks for your question and my apologies for the late answer (too busy these days! :-( ).

I mainly target 2 types of applications: one is more of the modeling kind (enterprise architecture models, business process models, software dependencies, ITIL CMDB's), where relations are many and of very diverse nature, and the other one is more related to knowledge modeling/management/linke

[2018-11-28 09:16] koalabi commented on #2053
Additional comment, maybe: I don't need the relations to be strongly typed: a string rendition indicating the nature of each edge would be a good start. I imagine the highly dynamic nature of edge types in graph databases would make a type-safer approach a maintenance nightmare and an almost impossible task.

[2018-11-28 10:07] codejamninja opened #2091 "Why does public exposed function start with underscore?"
Out of curiosity, why does the `_createHasManyRepositoryFactoryFor` function start with an underscore even though it is publically exposed?

[2018-11-28 10:09] codejamninja commented on #2091
I'm sorry, I guess it's protected. Is it convention to start protected methods with an underscore?

[2018-11-28 11:31] cloudwheels opened #2092 "CLI issues: Generated app default Project name invalid if CWD name has hyphens + why not generate in CWD"
## Current Behavior

`lb4 app` suggests a project name based on CWD. If this has hyphens they are replaced with spaces so the  default suggested name is invalid.

More importantly, why bother suggesting this if it's going to create a sub-directory anyway.
Why not either:
- create the project in CWD (that's why I created a folder for it!)
- if it must be created in a subdir, just suggest "`package`

[2018-11-28 12:03] cloudwheels commented on #2092
removed

See above.

[2018-11-28 12:49] ludohenin commented on #1944
@bajtos I have a use case where it does make sense to me to have the decorated property be part of the model. I'm actually POC-ing with LB4 and try to implement some kind of translatable property support where my models looks like:

Base Model
[code]

Translation Model
[code]

In my case the url form `model/{id}/translation` doesn't fit very well. But maybe I'm just wrong and this is part of the e

[2018-11-28 13:06] oleg269 commented on #110
Hi @bajtos
Looking forward to being added as LoopBack.next contributor.
Thanks.

[2018-11-28 16:33] dhmlau commented on #2080
@serkandemirel0420 , I'd like to close this issue as duplicate of https://github.com/strongloop/loopback-next/issues/1359, as @jannyHou stated.  Please continue the discussion over there.  Thanks.

[2018-11-28 16:33] #2080 closed

[2018-11-28 16:41] b-admike commented on #1987
Closing this as resolved, but feel free to re-open @loredanacirstea @jormar.

[2018-11-28 16:41] #1987 closed

[2018-11-28 18:03] dhmlau commented on #1853
(Looks like we don't have a well-defined acceptance criterion here.)
Reading through the [doc-contrib](https://loopback.io/doc/en/contrib/doc-contrib.html) page, it seems to me that there are a lot of content applicable to both (2.x, 3.x) and 4.  I'd like to propose the following:
- Under "How LoopBack documentation works" section
   - Add the description about how `loopback-next` works. i.e. we'r

[2018-11-28 18:34] dhmlau commented on #2087
@bschrammIBM , thanks for bringing it up.

For `How-to's`, I'm fine with "How-to's" or other variations.   "Usage Guides" would be good too since it contains instructions for a particular usage / use case.

For `Examples and Tutorials`, per our discussion, I think you'd like to distinguish:
- tutorial: step-by-step instructions on how to do certain things
- examples: a sample application for a par

[2018-11-29 06:48] haotangio commented on #110
Hello @ritch @bajtos
I've been using Loopback for very long time on several projects.
I'd love to contribute to Loopback 4 and be added as Loopback.next contributor.
Thanks.

[2018-11-29 07:09] BillTuan commented on #110
Hi @ritch @bajtos
Looking forward to being added as LoopBack.next contributor.
Thanks.

[2018-11-29 08:27] rexliu0715 opened #2145 "lb4 specifying table name"
my existing database table name "foo_bar". I generate a model "fooBar".

500 error: relation "schema.foobar" does not exist

where I can define the tablename? I does see reference on doc in lb4. please help. thanks

[2018-11-29 12:47] TomerSalton opened #2095 "Question: Best practice for custom attributes"
##  Description / Steps to reproduce / Feature proposal
In my application, I have models with properties that need to be encrypted before saved in the database.
I'm trying to decide what's the best practice to implement that use-case.

## Current implementation
What I'm currently doing is set an attribute in the property `itself:
`encrypted: true`

In my repository, I override the relevant methods

[2018-11-29 13:37] bajtos commented on #1853
@dhmlau your proposal looks good to me, I'd like to propose few more steps though:

1. Under "How LoopBack documentation works" section

    Can we also improve the very first sentence to mention that some files are in loopback.io and some in loopback-next?

2. Let's improve `docs/CONTRIBUTING.md` in loopback-next too. At the moment, the section [Documentation](https://github.com/strongloop/loopba

[2018-11-29 16:56] rubys commented on #1978
Suggestion to make this a bit more concrete: add a `--js` option or the like to the `lb4` command.  So, for example, `lb4 app --js`.  The generated code might be less developer friendly, and there may be a minor loss of feature (e.g. dependency injection), but this (a) eliminates the objection, and (b) enables developers to see the benefits of typescript.

[2018-11-29 19:15] jannyHou commented on #2082
Some notes during the estimation meeting:

Let's do the spike from a more general level, think of the big picture of customizing a model's shape, a few of points to be considered:

- how to customize the shape of model
- satisfy different requirements of property
- apply constraints
- apply validations
- given a model and properties defined in it, we may have particular expectation at the rest lay

[2018-11-29 21:35] dhmlau commented on #1299
Cross posting the comment from https://github.com/strongloop/loopback-next/issues/1908#issuecomment-433087902 that there are 2 more issues in apidocs:

- Sequence.md:- Request - (TBD) missing API
navigating through the apidocs of the rest package, the Request brings to this link http://apidocs.loopback.io/@loopback%2fdocs/rest.html#Request but there is no content. Need to investigate
- Sequence.md

[2018-11-29 23:16] codejamninja commented on #2085
Ok, after much digging ⛰️⛏️ I figure out where the issue is, although I'm not exactly sure which library is responsible for fixing it.

Basically, if you are using the mongo juggler adapter in loopback 4, and decide to implement a one-to-many relationship, the `find()` function in the `HasManyRepository` will not work. By not work, I mean that it will return an empty array `[]` even when the recor

[2018-11-29 23:22] codejamninja commented on #1875
You could try adding the `strictObjectIDCoercion` when you run one of the repository methods.

Please reference the following issue.

https://github.com/strongloop/loopback-next/issues/2085

[2018-11-30 02:01] GermanCV opened #2123 "loopback 4: The "find", "delete" and "patch" methods do not work in a relation"
# Description
loopback 4: The `GET`, `DELETE` and `PATCH` methods do not work in a relation when `todoListId` is dynamically generated as a text string.

It works normally.

[code]
---
it does not work, only the post method

[code]

# Link to github: example todo-list

[todo-list](https://github.com/strongloop/loopback-next/tree/master/examples/todo-list)

initially I tried to do the relations wit

[2018-11-30 02:53] dhmlau opened #2099 "[Docs] Review and modify content in Controllers page"
## Description / Steps to reproduce / Feature proposal
Originated from the docs cleanup epic: https://github.com/strongloop/loopback-next/issues/1908

Under Key Concepts > [Controller page](https://loopback.io/doc/en/lb4/Controllers.html#review-questions), there is a section of "Review Questions" which seem to be notes reminding what to add / modify in the future.  We should clean it up.

### Revi

[2018-11-30 03:15] dhmlau opened #2100 "[Docs] Update WIP section in Sequence page"
## Description / Steps to reproduce / Feature proposal
Originated from the docs cleanup epic: https://github.com/strongloop/loopback-next/issues/1908

Under Key Concepts > [Sequence page](https://loopback.io/doc/en/lb4/Sequence.html), there are a few sections that are marked as "Work in Progress".  We should have it updated.

## Acceptance Criteria
From [Sequence page](https://loopback.io/doc/en/l

[2018-11-30 04:07] dhmlau opened #2101 "[Docs] "Testing your application" page contains beta release information"
## Description / Steps to reproduce / Feature proposal
Originated from the docs cleanup spike: https://github.com/strongloop/loopback-next/issues/1908

The ["Testing your application" page](https://loopback.io/doc/en/lb4/Testing-your-application.html) seems to be outdated.
- ["Create a stub service" section](https://loopback.io/doc/en/lb4/Testing-your-application.html#create-a-stub-service)
   - a

[2018-11-30 11:07] FabienCH opened #2102 "Wrong error code when providing invalid parameter value"
## Description / Steps to reproduce / Feature proposal
If you have an Entity with, for example, a string property and you try to post a number instead, the returned error code is "VALIDATION_FAILED", according to the documentation, it should be "INVALID_PARAMETER_VALUE"

## Current Behavior
Current response :
`"error": {
    "statusCode": 422,
    "name": "UnprocessableEntityError",
    "message":

[2018-11-30 16:09] bajtos commented on #110
Invites sent, welcome on board 🎉 Please don't forget to accept the invite.

[2018-11-30 16:13] bajtos commented on #2087
The proposals presented so far looks good to me. I don't have strong opinions on this, to be honest, and I am happy to follow your lead.

[2018-11-30 20:56] codejamninja commented on #2091
I find it slightly odd because users of the system will be accessing those methods a lot. That's just my opinion though.

[2018-11-30 21:05] raymondfeng commented on #2091
@codejamninja I tend to agree with you.

[2018-11-30 21:21] jannyHou commented on #2084
We have an unfinished story from last month:
- (5 story points) https://github.com/strongloop/loopback-next/issues/1952

---

Now the committed story points is **31** + **7(2 slipped stories from last month)** + **2 bugs(not estimated)**

Considering people will be on vacation(1-2 weeks) during Xmas, I am afraid the committed stories is more than we could finish.

Shall we move some stories to the

[2018-12-01 04:04] dhmlau commented on #2102
@FabienCH, IIUC, you have a model with a string property and when calling POST, you have a number in that property instead of a string.  In this case, it is behaving as expected to return "VALIDATION_FAILED" because the request body is invalid (one of the property values should be a string instead of a number)

Just in case you haven't seen it, here is the doc link on the error codes:
https://loop

[2018-12-01 04:06] dhmlau commented on #2072
@cloudwheels, thanks for sharing!

[2018-12-01 04:30] Mohit-Purbia commented on #1909
i also face same problam ER_BAD_FIELD_ERROR: Unknown column 'ingridient' in 'field list' with mysql
db

@hasMany(() => Ingridient)
  ingridient?: Ingridient[];

[2018-12-01 13:51] uptickr opened #2105 "Endpoints continue to work even after deleting controller files"
## Description / Steps to reproduce / Feature proposal

Endpoints continue to work even after deleting the corresponding .controller.ts file

Create a controller as described in the Getting Started section. Then delete the .controller.ts file.

## Current Behavior

Endpoint works even after removing files.

## Expected Behavior

Should return 404 - Not Found

_See [Reporting Issues](http://loopbac

[2018-12-01 15:50] lucaslopez commented on #2034
Is this considered to cover the loopback application to be an event emitter or should I still open a new issue?

[2018-12-01 15:51] lucaslopez commented on #2034
Thanks for the info! I was not aware LB3 is emitting events as well. Is this documented somewhere or it is just meant for internal use?

[2018-12-01 16:13] raymondfeng commented on #2105
You should run `npm run clean && npm run build` to remove js files from `dist`

[2018-12-01 16:15] raymondfeng commented on #2034
Please check out https://github.com/strongloop/loopback-next/issues/1928

[2018-12-02 00:42] dhmlau commented on #2092
@cloudwheels,

I just scaffolded an application with project name `test-1-2-3`, and it seems to be working as expected.  It is being created in the `test-1-2-3` directory.   Is it what you're seeing too?
[code]

For this one, it looks like a bug.

[2018-12-02 12:40] Miced commented on #710
What is this extension's progress? It seems quite stale so far.

[2018-12-02 14:36] oleg269 commented on #433
Hi,

I'll working on this issue.

I tried load controller after the app started and used ``app.controller(myController)``.

Controller was added to app registry, but routes of controller were not created.
I found the solution to add routes of controller:

Change in ``loopback-next/packages/rest/src/rest.server.ts``

    protected get httpHandler(): HttpHandler {

to

    public get httpHandler():

[2018-12-02 15:58] dhmlau commented on #2083
https://github.com/strongloop/strongloop.com/pull/172 is ready to be published.  Closing this as done

[2018-12-02 15:58] #2083 closed

[2018-12-02 15:58] dhmlau commented on #1842
PR #2081 has merged. Closing as done.

[2018-12-02 15:58] #1842 closed

[2018-12-02 16:05] dhmlau commented on #1961
Has moved the slipped items to [Dec milestone](https://github.com/strongloop/loopback-next/issues/2084).  Closing this milestone ticket.

[2018-12-02 16:05] #1961 closed

[2018-12-02 16:13] dhmlau commented on #1228
It seems to be a collection of the following issues:
- How to contribute documentation, https://github.com/strongloop/loopback-next/issues/1853
- "How to contribute doc" was covered in #1673

[2018-12-02 20:32] opepermans opened #2133 "Documentation of loopback 4 Model is incorrect"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-12-02 23:49] marvinirwin commented on #1921
This is my favorite part of loopback3, being able to create and configure every model from a data source.

Using the [typescript compiler API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Compiler-API) I've hacked together something which mimics the behavior of the old loopback which produces the following typescript.

[code]

The source code is [here](https://gist.github.com/marvinirwin

[2018-12-03 04:09] jannyHou commented on #2084
@dhmlau Great. Then our committed story points would be 38 + unestimated bugs

[2018-12-03 04:52] uptickr commented on #2105
Thanks. I got it. I was using npm start. Changing the start script to npm clean && node . fixes it for development.

[2018-12-03 04:52] #2105 closed

[2018-12-03 09:40] bajtos commented on #487
Hi @BertholetDamien, we definitely want to see this feature implemented, but unfortunately our bandwidth is limited and database migration framework did not make it onto our short-term back-log.

Would you like to work together with us and contribute the implementation yourself?

[2018-12-03 09:44] vvdwivedi commented on #1663
@raymondfeng can I implement an extra option for `npm package name` in the generator as this seems the right implementation.

[2018-12-03 10:00] bajtos commented on #2091
@codejamninja Good question!

I think it was me who introduced the convention of using underscores. My problem with private/protected/public modifies is that they are not available nor enforced in JavaScript, at least AFAIK.

At the same time, I can see how protected methods with a name starting with underscore can look weird.

I am proposing to make the following changes. What do you think, @stro

[2018-12-03 10:13] ringodotnl opened #2107 "build watch while in development with nodemon"
## Description / Steps to reproduce / Feature proposal
Trying to get a watch mode with lb4 while developing with:
"start:dev": "concurrently \"npm run build:watch\" \"nodemon .\"",

## Current Behavior
After cmd: npm run start:dev
Updated ts code is not active

## Expected Behavior
Updated ts code should be active

[2018-12-03 11:01] codejamninja commented on #1624
Currently what is the best approach for validating something like an email?

[2018-12-03 14:07] swarupbangaru commented on #2086
Pull the latest postgres

docker pull postgres:latest

run the postgres containner

docker run -d -e POSTGRES_USER=user -e POSTGRES_PASSWORD=password123 --name db-my -p 5432:5432 --restart=always postgres

Then installed the latest version of pgAdmin4 from pgadmin website

Run pgAdmin 4 create new server, and input as following Host: 127.0.0.1 Port: 5432 User name: user password: password123

 and

[2018-12-03 15:16] bajtos commented on #1624
Validating email addresses is tricky. We have had good experience with [isemail](https://www.npmjs.com/package/isemail) module, I would recommend it to do the actual validation.

I don't have a good answer for how to wire up a custom validation in LB4 right now. I think we will need to improve LoopBack first and define an extension point allowing applications to register custom validations, see th

[2018-12-03 15:57] FabienCH commented on #2102
Hum I see, I just misunderstood the documentation. Thank you for your reply.

[2018-12-03 18:38] acrodrig opened #2110 "Documentation explaining Multiple Repositories design decision"
## Feature proposal

Starting to play/understand lb4 ...

I am writing code that inserts several model/entity instances into a DB. My code constantly needs to create repository instances based on the model in question. It seems overkill.

Can you explain in the documentation why this design decision to have one repository per class/model/entity was chosen? Or is it possible to have a multi-class r

[2018-12-03 20:11] acrodrig commented on #2034
I am running into this issue right no with LB4. I want to make sure certain objects exist in the DB right after starting the application. Since all of the application configuration happens in a `constructor` I cannot use `async` methods and I am at a loss as to how best to check if the DB has the needed entities and if not insert them.

Can you help with a workaround with the current state of affa

[2018-12-03 20:21] raymondfeng commented on #2034
Please follow up with https://github.com/strongloop/loopback-next/pull/2094 and #1928.

[2018-12-03 20:37] acrodrig commented on #2034
@raymondfeng Thanks for your quick answer. I am just using the DB update as an "example" of something you want to happen right after the application starts. It could also be connecting to a server via a socket, validating a bucket exists on S3, or anything really. So #2094 is not really applicable to my question.

And I did read through #1928 bore. I love the approach and would use it if it were a

[2018-12-03 20:47] raymondfeng commented on #2034
Hopefully #1928 will be landed soon. Before that, you might have to override `app.start()` method or add more logic to `index.js` to trigger your scripts after `start`.

[2018-12-03 20:48] acrodrig commented on #2034
Thanks! Somehow I was not aware of `index.js`, so that works well.

[2018-12-04 00:52] raymondfeng commented on #433
@oleg269 Please check out https://github.com/strongloop/loopback-next/pull/2111

[2018-12-04 01:34] codejamninja commented on #2091
I created a pull request to solve this

https://github.com/strongloop/loopback-next/pull/2112

[2018-12-04 01:46] codejamninja opened #2113 "Use AST instead of ejs templates for generators"
I think it would be better to generate code from an abstract syntax tree rather than using templates.

In the past, I have found the `@babel/generator` to be a solid choice for generating code from AST, however, that would not work for typescript. Perhaps, the `getTextOfNode()` method in the typescript compiler utilities would do the job.

https://github.com/Microsoft/TypeScript/blob/aa3734c14834a

[2018-12-04 06:24] b-admike opened #2114 "Relation repositories don't have direct access to foreign key value"
_Originally posted by @bajtos in https://github.com/strongloop/loopback-next/pull/2005/files#r237517294

`HasOneRepository` and `HasManyRepository` don't have direct access to the foreign key value to throw meaningful errors (e.g. `EntityNotFoundError`) with it. Currently `get()` and `find()` for these repositories could benefit from having access to it, but there are other methods as well.

[2018-12-04 08:39] mbhassan opened #2116 "Question: Loopback4 and API Connect"
## Description / Steps to reproduce / Feature proposal
Are we going to be having APIConnect in LP4?

## Current Behavior
Working well in LP3.

## Expected Behavior
Not sure if it will be in LP4.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-12-04 12:39] bajtos commented on #2034
Please put your custom logic to `src/index.ts` instead - add more steps to the `main` function.

[2018-12-04 12:47] hvlawren opened #2117 "Autoupdate doesn't update id to be generated when that is added to id field"
## Description / Steps to reproduce / Feature proposal

I've noticed this on the Postgres connector. I'm not sure if this is connector specific.

When creating a new model, ID fields are not set to be generated. If the server is started without setting generated to true, the table is created without the schema set to create unique ids

If you then add generated, the schema is not updated on autoup

[2018-12-04 14:08] bajtos commented on #1571
@hvlawren could you please post the dependency injection configuration for your `CategoryParentController` and `CategoryRepository`?

[2018-12-04 14:10] bajtos commented on #1571
@hvlawren actually, the problem you have encountered is almost certainly different from what is being discussed in this issue, would you mind opening a new GitHub issue please?

[2018-12-04 14:15] hvlawren opened #2118 "belongsToMany relation to model of the same type fails"
From discussion on #1571

## Description
I have a model called Category with a parentId field that points to the parent Category

Category Model:
[code]

I created a /categories/{id}/parent endpoint per the docs

When I call that endpoint I get this error:

[code]

Category Parent Controller:

[code]

Category Repository

[code]

Note that the container part works as expected, only parent is broke

[2018-12-04 14:18] hvlawren commented on #1571
I created https://github.com/strongloop/loopback-next/issues/2118 -- Thanks!

[2018-12-04 14:33] hvlawren commented on #2118
That fixed it!

I'd say those two places probably make the most sense.

I've got a lot on my plate right now, so I'd suggest someone else add the docs.

[2018-12-04 14:36] bajtos commented on #1921
@marvinirwin this is awesome ❤️

Yes please!

I think we need to make a decision about the user-facing interface first - should we have a new command like `lb4 discover` or extend the existing `lb4 model` command? Maybe both, where `lb4 discover` can be used to create multiple models at the same time, offering a list of tables available in the target database?

Uh oh, is there any particular reaso

[2018-12-04 14:58] bajtos commented on #2036
Sure, that's an option too!

However, if the model is defined in a YAML/JSON file, then there are no type definitions available and as a result, the compiler cannot check types in code using the generated model & repository - typically acceptance/integration tests using JS/TS API to setup and clean the database between the tests.

[2018-12-04 14:59] bajtos commented on #2090
Thank you @orshlom for the proposal.

Could you please describe the scenario you are trying to address in more details, from the point of view of LB4 app developer?

Are you trying to import Swagger spec generated from a LB3 application into a LB4 application, as a tool for migrating from LB3 to LB4? Or is the intention to import arbitrary OpenAPI Schema, allowing LB4 app developers to maintain ad

[2018-12-04 15:13] bajtos commented on #2118
Great! 🎉

We all have a lot on our plates, don't we? 😉

It would be great if you could find some time later to contribute back, but I will understand if you don't.

Let's keep this issue open, I think it's a good opportunity for new contributors.

[2018-12-04 15:16] bajtos commented on #2085
@codejamninja thank you for reporting this issue, it looks like a major bug to me!

It makes me wonder what's the difference between LB3 (where this works) and LB4 (where it does not). Is there perhaps a difference in the way how the model properties are defined (described for the connector)?

[2018-12-04 15:21] bajtos commented on #2082
Please read through the discussion in https://github.com/strongloop/loopback-next/issues/1624, it has many insights relevant for this area.

Personally, I'd prefer to narrow down the scope of this spike and stay focused on the two use cases , otherwise it may take ages to complete:
 - PATCH - all properties are optional,
 - CREATE - id and possibly _rev must not be present

[2018-12-04 15:40] vvdwivedi commented on #2118
Well, I am sniffing around for good first issues. Will take this up.

[2018-12-04 15:42] bajtos commented on #1997
We are intentionally keeping the shopping example outside of our monorepo. Running tests again multiple databases is expensive, we don't want to slow down the build process for loopback-next monorepo.

[2018-12-04 15:45] bajtos commented on #1951
Ah, looks like I forgot to list the newly added files in https://github.com/strongloop/loopback-next/blob/master/packages/repository/docs.json

@loredanacirstea would you like to contribute the fix yourself? Compare the list of TS files listed in `docs.json` with the actual files inside `packages/repository/src` and add those that are missing.

[2018-12-04 15:46] jpegram2 commented on #1921
As an end user/developer I like the idea of the following:
`lb4 model --table mysqlTable --datasource myDS`
Generate a single tables model
`lb4 discovery`
Generate a set of models from all tables in all the defined datasources. Maybe add the --datasource myDS switch to use a specific one or provide a list of datasources vs tables (or both).

I can see where both options would be beneficial but I'd

[2018-12-04 15:53] hvlawren commented on #1235
In our loopback 3 app, we had to execute some native sql to use some Postgres specific queries (e.g. https://www.postgresql.org/docs/9.6/functions-textsearch.html) for features in some cases (like the fuzzy text matching) and for performance in other (complex multi table joins with many rows per table). Having a more elegant way to do this would be nice.

[2018-12-04 16:07] raymondfeng commented on #1866
Why do you expect `.{format}` to be optional? The pattern says it expects the `format` comes after a `.`.

[2018-12-04 17:10] raymondfeng commented on #2088
Fixed by https://github.com/strongloop/loopback-next/pull/2089

[2018-12-04 17:10] #2088 closed

[2018-12-04 17:11] raymondfeng commented on #918
Implemented by https://github.com/strongloop/loopback-next/pull/2097

[2018-12-04 17:11] #918 closed

[2018-12-04 19:20] jannyHou commented on #2099
Document the flow of creating a controller from running `lb4 controller`, incrementally add pieces of the rest apis
- run `lb4 controller` to create the controller class
- create business function
- decorate it with rest decorators
- inject services
- boot script will automatically load the controller
  - For `app.controller()`, if you want to customize the controller registration, it would be the

[2018-12-04 19:21] jannyHou commented on #2099
Stretch goal:
- We could visualize the controller concept (an example would be the nestjs doc) in a diagram.

[2018-12-04 22:06] codejamninja commented on #2085
I'm not exactly sure. Could you give me some things to look for?

[2018-12-04 22:51] elv1s commented on #2090
Another option might be for `x-lb-relations` to instead use openapi links
https://swagger.io/docs/specification/links/

The openapi spec is not explicit in the kind of link (one, many, belongs, etc.) so openapi extensions could be used to explain what kind of relationship (link) exists.

[2018-12-04 22:57] loredanacirstea opened #2121 "Calling other APIs (docs) is missing datasource binding example"
## Description / Steps to reproduce / Feature proposal

I was trying to follow the steps from https://github.com/strongloop/loopback-next/blob/1016a09f707ad54eb08de0d33d8a1ce7ecca1f59/docs/site/Calling-other-APIs-and-Web-Services.md up until https://github.com/strongloop/loopback-next/blob/1016a09f707ad54eb08de0d33d8a1ce7ecca1f59/docs/site/Calling-other-APIs-and-Web-Services.md#get-an-instance-of-

[2018-12-05 03:21] dhmlau commented on #2116
@mbhassan , not sure if I understand your question correctly.  Do you mean the `apic loopback` commands we had in LB3? https://loopback.io/doc/en/lb3/Command-line-tools.html.  Do you mind sharing what your use case?

For the other way round, we do have plans to have LB4 added to APIC (2019.x, not v5) CLI.

[2018-12-05 03:39] dhmlau commented on #2121
@loredanacirstea, thanks for reporting this.  Are you interested in submitting a PR?  Thanks.

[2018-12-05 03:49] geocine commented on #1676
I ran into this , still the documentation is not updated. Is there a way we can do a pull request to update the documentation?

[2018-12-05 04:07] raymondfeng commented on #1676
@geocine I see `Promise<GeoService>` at https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html#implement-a-service-provider. What issue are you seeing?

[2018-12-05 11:30] Dhirendra24 commented on #110
Hi @ritch looking forward to be added as LoopBack.next contributor. Thanks

[2018-12-05 13:11] b-admike commented on #2085
@codejamninja Thank you for the detailed steps on the issue and in order to find the discrepancies  between LB3 and LB4 as @bajtos, I thinking using something like https://github.com/strongloop/loopback-example-relations to check would be useful. I'm going to try it myself if I find some time later today.

[2018-12-05 13:18] b-admike commented on #2085
Also related https://github.com/strongloop/loopback-next/issues/1987. @loredanacirstea @jormar, my proposed solution at https://github.com/strongloop/loopback-next/issues/1987#issuecomment-440923089 is not comprehensive (see https://github.com/strongloop/loopback-next/issues/2085#issuecomment-443029894 above):

[2018-12-05 13:34] b-admike commented on #2123
Hi @GermanCV Thank you for the detailed steps. I think this is similar to #2085 and #1987. Do you mind looking at #2085 and if your issue is a duplicate, then let's continue discussion there and use it for tracking.

There's a lot of history behind this which I tried to look up, but here is what the docs currently say https://github.com/strongloop/loopback-connector-mongodb#strictobjectidcoercion-

[2018-12-05 13:38] b-admike commented on #1909
Thank you all for the feedback. Can you please look at https://loopback.io/doc/en/lb4/Database-migrations.html and run `automigrate` first on the models and try again? I'll try this out as well with `mysql` datasource on the `todo-list` example.

[2018-12-05 13:39] b-admike commented on #2086
Thanks @codejamninja @swarupbangaru for the feedback. Can you please look at https://loopback.io/doc/en/lb4/Database-migrations.html and run `automigrate` first on the models and try again?

[2018-12-05 14:34] yvesh commented on #1909
It's creating an todos column in the table and the data gets written into this field (JSON encoded) and it's not using the other table.

[2018-12-05 15:47] b-admike commented on #2086
@yvesh Are you trying to load included model instances for a `hasMany` relation through the `todos` property? If that's the case, we don't have support for inclusion yet, but it is being explored in #2124 (see #1952).

[2018-12-05 17:49] dhmlau commented on #2102
no problem. I'll close this ticket as resolved then. Thanks.

[2018-12-05 17:49] #2102 closed

[2018-12-05 22:38] codejamninja commented on #2086
I was able to get this to work by migrating my data first. I will give a more detailed response explaining how I migrated my data.

[2018-12-05 22:38] #2086 closed

[2018-12-06 01:01] jamilhassanspain commented on #110
@ritch, add me to the contributor list too

[2018-12-06 04:59] jedmarcnocum commented on #2011
I am having the same problem. Updating embedded Model (array) throws the same error even in the [example-shopping](https://github.com/strongloop/loopback4-example-shopping) sample API.

``500 TypeError: Class constructor ShoppingCartItem cannot be invoked without 'new' at Function.DataAccessObject._coerce (C:\Users\jedma\Desktop\loopback4-example-shopping-master\loopback4-example-shopping-master\n

[2018-12-06 06:06] dejibimbolaAyo commented on #110
I would love to contribute, please add to contributor list.

[2018-12-06 11:52] bajtos commented on #2101
IMO, we should add content to this section, using "Create a stub Repository" for inspiration and  https://github.com/strongloop/loopback-next/pull/1347/commits/7ceb2c4edebcbcee5501a69c42c61f8ff2e2d675 for an example code.

Let's modify the warning. Design-first approach is out of scope of 2018Q1, I think we need to use a warning that will work for longer term.

Very loosely related: https://github

[2018-12-06 12:15] YaelGit commented on #1573
Hello @bajtos, please note i would like to start handling this issue #1573. According to my understanding the needed is to add similar functions of validation as there are for validation of parameters of the body (according to the schema), for the parameters of the query.

[2018-12-06 13:05] bajtos commented on #2053
I opened a pull request in juggler to implement `dataSource.execute`, see https://github.com/strongloop/loopback-datasource-juggler/pull/1671

[2018-12-06 13:36] bajtos opened #2127 "Relations and referential integrity in NoSQL databases"
Our current implementation of model relations (has-many, has-one, belongs-to) is deeply rooted in SQL and based on the assumption that the database take care of referential integrity for us.

Example 1: "Customer has many Order instances" and "Order belongs to Customer". When creating a new Order instance, we expect the database to verify that `Order.customerId` is matching the id value of an exis

[2018-12-06 15:16] #1935 closed

[2018-12-06 15:47] bajtos commented on #110
Invites sent, welcome on board 🎉 Please don't forget to accept the invite.

[2018-12-06 16:31] bajtos commented on #2053
A related question on StackOverflow: [How to execute arbitrary SQL query](https://stackoverflow.com/q/53338050/69868)

[2018-12-06 16:47] hacksparrow opened #2128 "Update "Calling other APIs and web services" doc"
## Description / Steps to reproduce / Feature proposal

The current "[Calling other APIs and web services](https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html)" doc is outdated. It has to be updated to use the latest conventions (CLI and code) to allow users to make requests to third-party backends.

## Acceptance Criteria

- [ ] Describe the steps for setting up an interface f

[2018-12-06 16:58] #2091 closed

[2018-12-07 05:06] b-admike commented on #2127
@bajtos thank you for starting the discussion around NoSQL backend support for relations; I get the gist of your proposal and since we're not using the LB3 relation engine, it's logical to introduce different flavours of relations for NoSQL DBs.

[2018-12-07 09:05] aetheric8 opened #2130 "Support embedded models for nested properties"
## Description / Steps to reproduce / Feature proposal
This issue was discussed at [stackoverflow](https://stackoverflow.com/questions/53554400/exception-in-deserialization-of-nested-objects-for-datamodels-in-loopback-4/).

An error occurs on create if nested entities are defined.

## Current Behavior

on create of an entity with a nested child (or more), an error occurs:

if the nested entity was

[2018-12-07 12:29] lazaro9318 commented on #1863
@bajtos I want to contribute to create the new action, but actually I need a quickly solution for create the session and retrieve the sessionID, can you help me with that?

[2018-12-07 14:06] b-admike commented on #2127
I do like to add though that the bulk of the issues that arose with MongoDB and relations in LB4 have to do with the `strictObjectIdCoercion` flag and how the connector treats ID values. Maybe it's worth it to test it out with cloudant and see the behaviour there as well.

[2018-12-07 15:11] hacksparrow opened #2131 "Better developer experience in creating a model"
## Description / Steps to reproduce / Feature proposal

A developer migrating from LB3 will be confused why merely calling `lb4 model` does not end up creating the model and loading it in the app, like how it does in LB3.

Maybe we should optionally include the repository and controller creation steps?

## Current Behavior

[code]

makes it look like everything went well,  but the model is not sho

[2018-12-07 15:12] raymondfeng commented on #2127
The `referencesMany` and `referencesOne` relations store FKs with the source model. For example:

[code]

[2018-12-07 15:17] raymondfeng commented on #2131
@hacksparrow We have discussed to add more composite commands to achieve what LB3 can do. In this case, we can possibly have something like:

[code]

The prompt can be possibly skipped with `--repository <repositoryName> --controller <controllerName>` options.

We might want to introduce `lb4 resource` as the composite command.

[2018-12-07 15:18] raymondfeng commented on #2131
Duplicate of https://github.com/strongloop/loopback-next/issues/2036

[2018-12-07 15:18] #2131 closed

[2018-12-07 16:48] hacksparrow commented on #1419
Please refer to https://github.com/strongloop/loopback-next/issues/1981 for updates discussions.

[2018-12-07 18:01] sertal70 commented on #1875
Working on the TodoList tutorial, I tried to set `strictObjectIDCoercion` in the Todo model but when I call the endpoint:

`http://localhost:3000/todo-lists/5c0a938efc0c0d7f21bbcac7/todos`

to POST the Todo:
[code]

it results in the following document inserted in `Todo` collection:
[code]

Instead I found that the @israelglar workaround works very well, but it must be extended to all methods wher

[2018-12-07 18:08] dhmlau commented on #1920
Hi everyone, we've identified the feature parity gap as listed above and created separate issues in `loopback-next` repo.  We'd like to hear from you about which one you'd like to see first, so that it helps us decide. :)

### How it works
1. Review the feature parity gap list in the [original description of this issue](https://github.com/strongloop/loopback-next/issues/1920#issue-374262517)
2. Fo

[2018-12-07 18:09] aharbis commented on #1920
Some of the big hitters here that are blocking us from migrating from LB3 to LB4 would be:

- Polymorphic relations. Specifically, we leverage polymorphic `belongsTo` mostly. This is a critical and heavily used part of our application architecture. I'd much rather leverage a LB4 native polymorphic relation versus trying to build one ourselves. I don't see an open issue for this specifically; I'm h

[2018-12-07 18:13] aharbis commented on #702
We currently maintain our own SDK generator for our Angular front-end in LB3. It would be excellent to have a LB SDK generator for Angular. Though, I think the title of this issue could drop the `5` in hopes of staying current with Angular. Right now we are actually on Angular 6 and looking to move to 7 ASAP.

[2018-12-07 21:53] dhmlau commented on #2116
@mbhassan, if you're starting off fresh, I'd suggest you consider LB4.  APIs generated by LB4 can be consumed in APIC as well.  One caveat that I can see is there is a gap in the model relation (https://github.com/strongloop/loopback-next/issues/1450).  We're collecting feedback from the community to see which relations are more popular to bring it back and any interested contributors as well.

cc

[2018-12-07 22:03] raymondfeng commented on #2090
@orshlom Thank you for kicking off the discussion. +1 to introduce `loopback` extensions to OpenAPI spec for richer metadata.

Please also check out https://github.com/strongloop/loopback-swagger/pull/81. It added some extensions to `lb swagger` to generate implementation code from so-called templates.

[2018-12-08 06:43] codejamninja commented on #1875
@sertal70 did you look at https://github.com/strongloop/loopback-next/issues/2085#issuecomment-443029894 ?

[2018-12-08 12:35] shadyanwar commented on #1352
@bajtos I am happy to see progress on this important feature and can't wait for its release. Is there a tentative scheduled release date?

I hope that the we will still be able seamlessly adjust the inclusion behavior, like to include a _custom_ name parent property like how relations were defined with a custom name in LB3.

For example: be able to adjust the "orderCustomerRel" property name below

[2018-12-08 15:54] shadyanwar opened #2134 "Allow Class/Model Name to Have A Different Name From the Database Table"
## Description / Steps to reproduce / Feature proposal
Create/map a class/model with a name different from the name in its MySQL table

## Current Behavior
If the class name is different, there is no way to map it to the correct table having a different name.

## Expected Behavior
Just like individual properties inside the class, a class/model should be allowed to be exposed with a custom name dif

[2018-12-08 18:53] sertal70 commented on #1875
@codejamninja sure I did and really don't understand why the setting `strictObjectIDCoercion: true` didn't work in my case. On the other hand, the proposed workaround requires to load all records and then filter out those that are not relevant to the relation, it is something not really feasible in production when you have to deal with thousand of records and API calls.

As my test proves, to some

[2018-12-08 22:34] dhmlau commented on #2134
@shadyanwar , you can specify the model name that is different from the table name.
Cross posting my comment in https://github.com/strongloop/loopback/issues/4086#issuecomment-445015678:
[code]

[2018-12-08 22:52] shadyanwar commented on #2134
Worked like a charm! Thank you!

[2018-12-09 05:36] codejamninja commented on #1875
@sertal70, can you send a link to an example application using `ObjectId`. I don't think I fully understand how to do it.

[2018-12-09 09:40] saurabhg22 commented on #2011
Getting same error:
Unhandled error in POST /users: 500 TypeError: Class constructor Phone cannot be invoked without 'new'
    at User.set [as phone]

[code]

[2018-12-09 14:13] sertal70 commented on #1875
Sure @codejamninja I uploaded the modified tutorial in a public repo [here](https://github.com/sertal70/lb4-todolist-backend).

Remember to set a valid MongoDB URI in `mongodb.datasource.json` [here](https://github.com/sertal70/lb4-todolist-backend/blob/28b8bf9209909059bfba1a44b6b96c7a80b69c7f/src/datasources/mongodb.datasource.json#L4) before running it.

[2018-12-09 16:18] nebulon42 opened #2135 "How to use property attributes at the belongsTo decorator?"
## Description / Steps to reproduce / Feature proposal

I'd like to mark a model property that is decorated with `@belongsTo` as required. Normally I would do that by using the `@property` decorator. I can't use that since it is implicitly called by the `@belongsTo` decorator. From looking at https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/belongs-to/belon

[2018-12-09 17:03] TomerSalton commented on #2095
Hey @bajtos,
Could you help me with this question?

[2018-12-10 06:46] gczobel-f5 commented on #2036
@raymondfeng In my mind, I see this feature generating the model/controller/repository for simple CRUD operations in memory only, without creating any file.
If the intention is to create the files, what is the difference with the lb4 openapi importer?
This proposal https://github.com/strongloop/loopback-next/issues/2090 is almost the same that is written here.

[2018-12-10 06:57] codejamninja commented on #1875
Cool, thanks

[2018-12-10 09:35] bajtos commented on #1873
FYI, the extensible body parsing is available, you can learn more in Raymond's blog post here: https://strongloop.com/strongblog/the-journey-to-extensible-request-body-parsing/

While working on #1936, we were discussing built-in support for file uploads too. Our conclusion was that there are different styles of consuming uploaded files and it would be too difficult to build a single component to

[2018-12-10 09:37] oleg269 commented on #433
@bajtos @raymondfeng

@raymondfeng Your solution is not helpful to add routes of the controller. `app.controller` method only add binding to the context but doesn't add routing and doesn't update api definitions.

Please see solution in my previous comment https://github.com/strongloop/loopback-next/issues/433#issuecomment-443512327

[2018-12-10 10:03] bajtos commented on #2130
_Cross-posting my recent answer from StackOverflow (https://stackoverflow.com/a/53655494/69868)._

This looks like a limitation of the current implementation in loopback-datasource-juggler and/or the way how LoopBack 4 translates LB4 model definitions to Juggler models.

The error is triggered by [this code](https://github.com/strongloop/loopback-datasource-juggler/blob/5f713f03196fbd0334b0ea4f97a

[2018-12-10 10:08] bajtos commented on #2011
Closing as a duplicate of https://github.com/strongloop/loopback-next/issues/2130

[2018-12-10 10:08] #2011 closed

[2018-12-10 11:24] ido567 opened #2137 "Route with multiple path parameters is not working"
## Description / Steps to reproduce / Feature proposal
I'm trying to define a route with multiple path parameters without success.
I have tried defining the route in the following techniques:

- Controller method annotation
[code]
- OAS Spec
[code]
[code]
- To write a full OAS file and generate controllers from it (which results to the first code snippet)

## Current Behavior
The following error w

[2018-12-10 13:45] Kelvijn opened #2138 "Debugger not working correctly 80% of the time, even when there is no process on port."
[code]

Debugger worked fine before, reinstalled vscode and extensions. Restarted pc. Can't find a solution.
Just like any other day for the past couple of weeks I was developing a Loopback 4 app. Sometimes i would get this error but restarting my pc always worked.
How to reproduce: Debug -> start debugging

**OS**
windows 10 home

**VSCODE VERSION**
C:\Users\Calvin Swinnen>code --version
1.29.1
b

[2018-12-10 14:09] sertal70 opened #2139 "Only one strategy allowed in Authentication"
## Description / Steps to reproduce / Feature proposal

Hi, I'm new to loopback, before opening this issue I tried to find a solution in the issues list or in the google discussion but without success, so here I am.

I'm trying to implement a basic use case for authentication. My scenario is:

1. client performs a call to `/login` endpoint passing username and password via a basic http authenticat

[2018-12-10 14:58] anandrajputSF opened #2141 "How to pass null value to number field"
## Description / Steps to reproduce / Feature proposal
How To pass null value to number field through Loopback4.
## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-12-10 16:10] bajtos commented on #2095
Loosely related: https://github.com/strongloop/loopback-next/issues/1919

I think this feature would be much easier to implement if we had load/persist hooks in LB4. The "load" hook could be implemented by overriding `toEntity` method in `DefaultCrudRepository`, see https://github.com/strongloop/loopback-next/blob/377fa084c3a59447176cf59a86c8159192b9a097/packages/repository/src/repositories/legacy

[2018-12-10 16:23] bajtos opened #2142 "Confusing @model() syntax"
In LB3, users could specify model settings at two levels: as a root property or inside `options` property.

See https://stackoverflow.com/q/53307168/69868 for an example of LB3 syntax applied in an LB4 project:

[code]

I am proposing to make two changes in LB4 to help users coming from LB3:

1. Recognize `options` the same way as `settings`. In the example above, `mongodb` settings are not picked

[2018-12-10 18:49] raymondfeng commented on #2137
@ido567 What's your full request URL? An example of `curl` command will be useful.

[2018-12-10 18:50] raymondfeng commented on #2138
Can you elaborate the issue? What error messages do you see?

[2018-12-10 18:56] raymondfeng commented on #433
@oleg269 #2122 Will be the plumbing to fully support dynamic routes. We'll have to improve RestServer/RoutingTable implementation to respect the requirement that routes cannot be discovered once upon start.

[2018-12-10 19:51] Kelvijn commented on #2138
![image](https://user-images.githubusercontent.com/24386111/49757648-3dc2df80-fcbd-11e8-8dd6-d1d731813920.png)

` "prestart": "npm run build",
    "start": "node .",
    "predebug": "npm run build",
    "debug": "node --nolazy --inspect-brk=9229 ."`

[2018-12-10 21:08] raymondfeng commented on #433
In your case, the current implementation has the following class hierarchy:

RestServer --> HttpHandler --> RoutingTable --> TrieRouter

The RestServer discovers all controllers from the context and calls HttpHandler `register*` APIs which in turn delegates to RoutingTable and TrieRouter. To fully allow the dynamic registration of controllers, we need to make sure one of the following happens:

1.

[2018-12-10 22:06] ido567 commented on #2137
@raymondfeng
[code]

[2018-12-10 22:15] raymondfeng commented on #2137
I just tried the following and it works for me:

[code]

Open `src/controllers/ping.controller.ts`, add the following method to `PingController` class.

[code]

[code]

The correct response is produced:
[code]

[2018-12-11 07:29] mitulparmar21696 opened #2143 "In Doc concept Sequence incorrect"
## Description
I am noob to loopback 4. And as I am following official doc for loopback 4. I faced that Controller is created befor model and repository. It confused to learner. I guess learner require step by step tutorial.

[2018-12-11 08:06] TomerSalton commented on #2095
First of all, I agree with you.
The hooks in LB3 is the optimal mechanism for this use-case.
I see that this feature is not prioritized and will not be available any time soon though, right?

About the overriding and inheritance solution, it means that the CLI is not enough by its own.
After every repository creation, I will have to perform another manual code-changing.

And the last part, I feel

[2018-12-11 08:18] bajtos commented on #1854
Closing as done via strongloop/loopback.io#785

[2018-12-11 08:18] #1854 closed

[2018-12-11 09:04] bajtos commented on #1863
@lazaro9318 see https://github.com/strongloop/loopback-next/issues/1863#issuecomment-430896011

[2018-12-11 09:14] YaelGit commented on #1573
Hello @bajtos, according to my understanding this is rather a feature and not a minor bug therefore will need a solution design. Do you think this is a good stage to perform the pull request ? or should i do that only after the deign is complete?

[2018-12-11 09:47] bajtos commented on #1573
Makes sense, I updated the issue labels accordingly 👍

I think the most important the design work has been already done while implementing request-body validation.

@YaelGit Please go ahead and open a pull request. Feel free to open it early, even before the implementation and tests are complete. That way we can provide you with early feedback and you can save time by keeping possible reworks smal

[2018-12-11 10:00] orshlom commented on #2090
Thanks for commenting @bajtos and @raymondfeng.

I agree with the new title name, as it better suits this proposal.
@bajtos the purpose of this proposal is to have the ability of creating an **importer** that can generate functional REST API for a model from a single `yaml` file. By functional I mean creating a model-repository-controller files in LB4 that have default CRUD functionality as create

[2018-12-11 11:19] oleg269 commented on #433
@raymondfeng

You are want after add controller reset HttpHandler and rebuilds it with the latest list of controllers. Are you think is a good flow if I want to add dynamically 50 controllers? After each addition of a new controller we have to reset HttpHandler or we can add/delete routes and openapi definitions?

[2018-12-11 11:44] ambrt commented on #1920
I'm all for Authentication & Authorization.

[2018-12-11 12:18] bajtos commented on #2095
👍

Operation hooks are unfortunately not on our current roadmap for 2019 Q1, see https://github.com/strongloop/loopback-next/issues/1839

There are many areas where LB4 is behind LB3 in feature parity, see https://github.com/strongloop/loopback-next/issues/1920. We are regularly reviewing this list to decide what to work on next.

BUT! LoopBack is an open project and we encourage our community to

[2018-12-11 12:58] bajtos commented on #2090
Thank you for describing the difference, I better understand your use case now.

There is still one aspect that's not clear to me:

Are we talking about the initial scaffolding only, where the developer takes the YAML file and produces a set of model/repository/controller files, and any further updates must be done in the scaffolded files?

If that's the goal, then I am proposing to investigate no

[2018-12-11 13:09] bajtos commented on #757
I am afraid this ship has already sailed, LoopBack is keeping the same name.

[2018-12-11 13:09] #757 closed

[2018-12-11 13:22] bajtos commented on #1948
@chris-greenlight have you had a chance to try add `dateStrings` setting to your MySQL datasource config? Did it fix the issue?

[2018-12-11 15:07] bajtos commented on #487
Ping back from https://stackoverflow.com/q/53054245/69868.

An edge case to consider: when generating migration scripts, it would be great to detect when a model was removed from the application and generate `DROP TABLE` script.

[2018-12-11 15:21] kelptape opened #2144 "Attaching Models to Multiple Datasources"
## Description / Steps to reproduce / Feature proposal
[loopback-getting-started.zip](https://github.com/strongloop/loopback-next/files/2668057/loopback-getting-started.zip)
![image](https://user-images.githubusercontent.com/37275738/49808891-94670280-fd2b-11e8-91b8-87a311f471b5.png)
Just the loopback-getting-started application with @bajtos dispatcher solution added to it (Link: https://bit.ly/2U

[2018-12-11 15:22] bajtos commented on #2144
@kelptape Thank you for reporting the issue. What is the LoopBack version you are using?

[2018-12-11 15:25] kelptape commented on #2144
Currently using 3.0

[2018-12-11 15:26] kelptape commented on #2144
Thank you for the quick response time!

[2018-12-11 15:31] bajtos commented on #2145
See also https://github.com/strongloop/loopback-next/issues/2134.

[2018-12-11 15:32] bajtos commented on #2134
This is a great suggestion. Would you @shadyanwar like to contribute this improvement yourself?

Let's reopen this issue to keep track of this enhancement.

[2018-12-11 15:32] bajtos commented on #2145
Closing as a duplicate of #2134.

[2018-12-11 15:32] #2145 closed

[2018-12-11 15:36] ido567 commented on #2137
You're right, that's working, I'll try to find my problem.
Thanks!

[2018-12-11 15:45] bajtos commented on #1909
_Cross-posting from a StackOverflow question https://stackoverflow.com/q/52931333/69868_

When I do for example a get on orders, I have the errors: `500 error: column "products" does not exist` and in digging a bit more, I can see that the SQL is trying to retrieve the fields `products` where it is just a relation. Anybody have an idea if I am doing something wrong? I am using pg as DB.

_Cross-po

[2018-12-11 16:15] yshing commented on #2138
@Kelvijn You doesn't seems to have your VScode `launch.json` properly configured.
`runtimeExecutable` should not be `npm` and you don't need to configure that.
Just need to provide file to he JS entry point as `program`
e.g.
[code]
https://code.visualstudio.com/docs/editor/debugging#_launch-configurations.

Another reason might be the `predebug` script got run before `debug` script. And it's takin

[2018-12-11 16:57] jannyHou commented on #2101
Thanks @dhmlau and @bajtos according to the discussion the acceptance criteria would be:

Acceptance criteria:

- [ ] Add content to "Create a stub Repository"
  - using "Create a stub Repository" for inspiration and [7ceb2c4](https://github.com/strongloop/loopback-next/commit/7ceb2c4edebcbcee5501a69c42c61f8ff2e2d675) for an example code.
- [ ] Add warning to ""Perform an auto-generated smoke test

[2018-12-11 17:10] JacobBrauchler commented on #2007
@samhoamt what modules did you have to update?

[2018-12-11 18:39] dhmlau commented on #2143
@mitulparmar21696 , thanks for your feedback.  Just want to make sure I understand your comment, do you mean the order of the concepts in the sidebar? Thanks.
<img width="177" alt="screen shot 2018-12-11 at 1 39 55 pm" src="https://user-images.githubusercontent.com/25489897/49822095-2120b900-fd4a-11e8-9791-18c41e0427e2.png">

[2018-12-11 18:48] jannyHou commented on #2087
Acceptance Criteria:

- [ ] Rename "How-tos" to a more descriptive name "Usage Guides"
- [ ] Make "Examples and Tutorials" more distinguishable
  - Proposal:
    - tutorial: step-by-step instructions on how to do certain things
    - examples: a sample application for a particular feature(s)

[2018-12-11 19:12] jannyHou commented on #1718
Defer the estimation until we figure out at which level are we going to apply the constraint.
There are different approaches:
- repository level: the framework handles it for users, enforce on the database side
- controller level: fix the shopping example, enforce on the client side

[2018-12-11 19:21] shadyanwar commented on #2134
@bajtos Sure. Could you please point to me where to look? I thought it would be https://github.com/strongloop/loopback-cli/blob/master/bin/loopback-cli.js

[2018-12-11 20:54] elv1s commented on #2090
Thanks @bajtos ! The CLI `--yes` and `--config` are good to know about.

Not really. For our use case, the generated code is something that should not be edited since the build process we will put in place will likely overwrite any changes made to generated code. So this would be more than initial scaffolding. The files would already include the necessary updates for default CRUD.

[2018-12-11 21:23] marvinirwin commented on #1921
This is my attempt to write the discovery command

https://github.com/marvinirwin/loopback-next/tree/discovery

`git clone https://github.com/marvinirwin/loopback-next`
`cd loopback-next`
`git checkout discovery`
`cd packages/cli`
`npm link`
`echo "{}" >> generators/datasource/connectors.json`
`cd /SOME_LOOPBACK_4_PROJECT_WITH_A_DISCOVERABLE_DATASOURCE_AND_DIST_FOLDER`
`lb4 discover`

1. If option

[2018-12-11 21:33] dhmlau commented on #1908
Spike is done. We had:
- review each docs page
- made minor fixes and enhancement
- open github issues to track the work that involves more significant changes.

[2018-12-11 21:33] #1908 closed

[2018-12-11 21:56] raymondfeng commented on #1299
Fixed. See http://apidocs.loopback.io/@loopback%2fdocs/authentication.html#AuthenticationBindings

Fixed. See http://apidocs.loopback.io/@loopback%2fdocs/authentication.html#StrategyAdapter.

No more `PassportRequest` is in code base.

TBD.

[2018-12-11 21:58] raymondfeng commented on #1299
navigating through the apidocs of the rest package, the Request brings to this link http://apidocs.loopback.io/@loopback%2fdocs/rest.html#Request but there is no content. Need to investigate

navigating through the apidocs of the rest package, the Response brings to this link http://apidocs.loopback.io/@loopback%2fdocs/rest.html#Response but there is no content. Need to investigate

`Request` and

[2018-12-11 22:24] bbenejc commented on #1920
For me, the most important ones:
- HasOne relations
- Polymorphic relations
- Authentication
- Authorization
- Include related models in query results

[2018-12-11 23:08] BertholetDamien commented on #487
I haven't take time to answer. No, unfortunately, I haven't time theses days to contribute into the project. Maybe in the futur, I will keep that in my TODO list if I'm available.

[2018-12-12 03:57] dhmlau commented on #2116
@mbhassan, with the [above comment](https://github.com/strongloop/loopback-next/issues/2116#issuecomment-445377372), is this issue good to close?  Thanks.

[2018-12-12 09:25] jangeorgiev opened #2146 "Customizing error messages"
## Feature proposal
I have noticed that currently there are no way of customizing error messages returned from [AJV](https://github.com/epoberezkin/ajv) in LB4.
I have found that there is implementation of handling error message already - [AJV-Errors](https://github.com/epoberezkin/ajv-errors).
I'll be very happy to be able to customize error messages, because some of them are extremely ugly.

##

[2018-12-12 10:15] Kelvijn commented on #2138
https://stackoverflow.com/questions/53740604/loopback-4-debugger-nodemon-solution

found a solution

[2018-12-12 10:15] #2138 closed

[2018-12-12 13:39] shadyanwar commented on #2146
Related to https://github.com/strongloop/loopback-next/issues/1867

[2018-12-12 16:13] dhmlau commented on #2146
@jangeorgiev , is #1867 that @shadyanwar mentioned above something you're looking for?  If yes, I'd like to continue the discussion over there instead.  Thanks.

[2018-12-13 01:35] jannyHou commented on #1905
+1 For @bajtos 's concern. And I would vote for a new extension package too. A good practice for our extensibility.

A proposal:

- [ ] Allow the component takes in a server instance by injection.
- [ ] If the server is provided, add the graphql route to it, if not then create a new server like the current code.

Feel free to correct the details ^

[2018-12-13 01:37] jannyHou commented on #1981
Shall we do a spike story for adding types like `GeoPoint`?

[2018-12-13 01:43] jannyHou commented on #1949
Hmm I think this is a dup story of https://github.com/strongloop/loopback-next/issues/1921

And a community member is already implementing the cli in a forked repo.

[2018-12-13 03:36] dhmlau commented on #1949
@jannyHou , if it's a duplicate, I'm good to close this issue and continue the discussion over #1921.

[2018-12-13 03:47] dhmlau commented on #2134
@shadyanwar, the CLI code for LB4 can be found in the `cli` package: https://github.com/strongloop/loopback-next/tree/master/packages/cli.

@bajtos @shadyanwar,  I'm not sure if adding the database/table information as part of the `lb4 model` would be a good idea.  Supposedly, at the point of creating a model, someone may not know or care about how it connects to a database?

[2018-12-13 03:53] dhmlau commented on #1970
@bajtos , sorry about the late reply.  I'm thinking this story is part of the _Plain JavaScript experience_ epic.  After the spike #1978 , we should create a tutorial (i.e. this story) to show users how to build LB4 using JS.

[2018-12-13 07:54] bajtos commented on #1981
IIRC, @hacksparrow is already looking into this issue.

[2018-12-13 09:42] jamilhassanspain commented on #1978
I agree, I would not mind helping out on this one

[2018-12-13 09:47] bajtos commented on #1718
In our recent discussion about HasOne's unique constraint for the foreign key, @raymondfeng @b-admike and me discovered a new way how to look at relations and constraints. Essentially, we see two levels of relations:
 - Weak relations, where the developer primarily wants to navigate related models (think of GraphQL) and referential integrity is either not important or already enforced by the (SQL)

[2018-12-13 09:49] bajtos commented on #2127
See my https://github.com/strongloop/loopback-next/issues/1718#issuecomment-446906249. I think we need to look at the bigger picture first.

[2018-12-13 09:52] bajtos commented on #2090
Interesting. How do you envision to apply the necessary updates?

Also if the generated code should be never modified, then what is the advantage of generating the source code files over the approach described in https://github.com/strongloop/loopback-next/issues/2036, where the repository & controllers are defined at runtime only?

[2018-12-13 09:55] bajtos commented on #1949
@jannyHou @dhmlau Since you closed this issue as a duplicate of #1921, could you please update labels on #1921 to include labels from this issue?

As I see it, this issue was about improving our CLI, while #1921 was more about documenting how to use existing APIs.

[2018-12-13 09:56] bajtos commented on #1949
Do we also need to update our issue keeping track of feature parity with LB3? https://github.com/strongloop/loopback-next/issues/1949 Are there any other issues and Epics to update?

[2018-12-13 10:00] bajtos commented on #1905
Well if there is no REST server, then there is no REST API to create GraphQL interface for.

IMO, the component should discover all RestServer instances configured by the app and a create a new  GraphQL endpoint for each server instance.

In the first iteration, it may be simpler to assume the application is `RestApplication` and mount the GraphQL interface on the single rest server. Essentially d

[2018-12-13 10:53] oleg269 commented on #433
@raymondfeng

I checkout your pull request #2122 and updated RestServer to subscribes to context events for controller bindings. After start application RestServer listening on 'bind' event of all loading controllers. I found out solution how to redefine routes in express js. Possible solution: we have to refactor RestServer._setupHandlerIfNeeded function to cleanup and recreate loopback-next conf

[2018-12-13 11:19] bajtos commented on #1970
Sounds good, thank you for clarification.

[2018-12-13 11:30] bajtos commented on #2134
Fair point.

In LB4, it's possible to attach a single model to multiple datasources (databases). For long term, we may want to find a way how to specify the table name at repository level.

At the moment, the only solution for customizing table name is to use database-specific model configuration as shown in https://github.com/strongloop/loopback-next/issues/2134#issuecomment-445494970.

As I am t

[2018-12-13 11:36] bajtos commented on #1905
Considering the growing importance of GraphQL, I am proposing to make GraphQL a first-class citizen of LB4:
- Implement the extension in loopback-next using the same conventions we have for REST (directory: `packages/graphql`, package name: `@loopback/graphql`).
- Close existing issues in https://github.com/strongloop/loopback4-extension-graphql, move the repo to strongloop-archive org and archive

[2018-12-13 12:37] YaelGit commented on #1573
Hi Bajtos,

After going through the validate request body implementation I would like to verify we are on same page before actually performing my first Pull Request.
As described in issue, there's a need to implement a request query schema validation. The option, currently doesn't exist in LoopBack 4, only body schema validation is available.
I will be following the request body validation impleme

[2018-12-13 13:06] orshlom commented on #1656
Hi @raymondfeng,
I would like this tech spike on me for investigation.
I have managed to manipulate TypeScript files using the TypeScript compiler's AST API.
Will post here soon my findings relation-wise.

[2018-12-13 13:30] octisfall commented on #2021
Something like:

[code]

[2018-12-13 14:28] #1853 closed, assigned to nabdelgadir

[2018-12-13 14:53] bajtos commented on #1573
@YaelGit I find it difficult to discuss the changes this way, without seeing any code. Please try to make some changes showing the direction you would like to take and open a pull request. It's ok to send a pull request that's not complete.

[2018-12-13 15:21] bajtos opened #2149 "[CLI] Use a custom Repository base class"
Application developers invoking `lb4 repository` should be able to specify a custom Repository class to inherit from. This repository can be defined in a 3rd-party extension or inside the application project.

At minimum, the CLI should accept custom class name (+ import path?):
 - via an interactive prompt
 - via CLI options
 - via JSON config

Even better, there should be a mechanism allowing ex

[2018-12-13 15:22] bajtos commented on #2110
cc @raymondfeng

I think we need to distinguish two aspects.

(1)
We have one repository class per model to make it easy for app developers to add additional behavior to their repository classes. For example, a Product repository may want to introduce API for looking up a product by a name.

[code]

While this is our recommended approach, advanced users are free to structure their application diff

[2018-12-13 16:49] mbhassan commented on #2116
yep :) ! Thanks for the advice!

[2018-12-13 16:49] #2116 closed

[2018-12-13 17:57] acrodrig commented on #2110
Thanks for your answer. Regarding the comment above:

- With respect to (1) I now understand the rationale behind the repository structure. It is good to have a way of overriding the prescribed mechanism of accessing data.

- However ... I just wished my code was not "littered" with repository classes that are almost exact copies of each other. It seems to go against the DRY principle and adds to

[2018-12-13 18:08] RaphaelDrai commented on #2043
Hello @bajtos,
I am happy to contribute with the attached design document related to the implementation of hasAndBelongsToMany relation in LB4.
I am looking forward for your kind review, comments of the design document and the directives how to make progress of this document before starting the implementation contribution.

[Design_HasAndBelongsToMany_Contrib.docx](https://github.com/strongloop/lo

[2018-12-13 18:27] JakubMifek opened #2151 "Polymorphism of entities"
Hi,
I came across an issue. I need two models (B, C) that extend a parent model (A). I'd like to create instances of Bs and Cs and store them as As in my database for queries later on.

## Steps to reproduce
jakub@Marvin:~/Projects$ lb4 bug
? Project description: bug
? Project root directory: bug
? Application class name: BugApplication
? Select features to enable in the project Enable tslint, Ena

[2018-12-13 19:40] jannyHou commented on #1905
Suggestion from @raymondfeng :
We could do it in 2 steps:
-[ ] (in the shopping example)Add an express app, mount lb4 app and oasgraph app to it.
-[ ] enable the template above in the CLI
  - like `--oasgraph`
-[ ] the first-class support for graphql like miroslav's proposal in the comment above

[2018-12-13 19:56] jannyHou commented on #1905
summary of estimation meeting:

See the proposal above ^ let's continue discussion.

[2018-12-13 21:40] jannyHou commented on #1952
Thanks for all the feedback!

I understand that the best outcome of a spike is a concrete solution, but I am afraid the inclusion story is more complicated than we expect,  and it would be better to create separate stories to explorer different potential approaches.

Like what @raymondfeng points out, GraphQL's query system has two features we could borrow:

- use resolver to describe a complicate

[2018-12-13 22:07] hwangjundong commented on #2021
Thank you @octisfall.

[2018-12-13 22:40] jannyHou opened #2152 "[Spike] Explore the way to resolve inclusion property"
## Description / Steps to reproduce / Feature proposal

A follow-up story of the relation traverse spike https://github.com/strongloop/loopback-next/issues/1952

The previous spike story turns out that we could improve our design of describing&defining model properties.

Copied the discussion and proposal from it:

Thanks for all the feedback!

I understand that the best outcome of a spike is a co

[2018-12-13 22:43] jannyHou commented on #1952
closing this story and let's explorer different approaches in the follow-up story:
https://github.com/strongloop/loopback-next/issues/2152

[2018-12-13 22:43] #1952 closed

[2018-12-14 02:15] esoodev opened #2153 "Exposing GraphQL APIs with nested queries enabled using OASGraph."
Hello, I am exposing GraphQL API for my current project using OASGraph, and am having issues querying for nested models when tested on GraphiQL.

## What I Did

I currently have three models: User, GameProfile, and Game. Their relationships are as follows:

- A User has many GameProfiles.
- A GameProfile belongs to User and Game.
- A Game has many GameProfiles.

It is my understanding that simply

[2018-12-14 03:08] dhmlau opened #2154 "[CLI] `lb4 app` creates project directory even the command is not complete"
## Description / Steps to reproduce / Feature proposal
When running `lb4 app` command, if I exit in the middle of the prompts, the project root directory got created.
[code]

## Expected Behavior
Project directory shouldn't be created until all the prompts are done.
It's a minor bug.  I realized it because in the middle of the prompts, I found out the class name is not something I want, so I exite

[2018-12-14 06:30] hacksparrow opened #2155 "More than one app can listen on the same port"
## Description / Steps to reproduce / Feature proposal

This may be a behavior from the underlying `net` Node.js module, but leads to unexpected behaviors. Three different apps can be run on the same host listening on the same port, if they use the `host` values `localhost`, `127.0.0.1`, and `::1`. I haven't tried but, `0.0.0.0` might make it possible to run a  fourth app, as well.

## Current Beh

[2018-12-14 07:52] bajtos commented on #2153
@esoodev please create a small application we can use to reproduce the issue locally. See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs. You can use `examples/todo-list` as the app to start from, it comes with a has-many relation between TodoList and Todo models.

[2018-12-14 09:29] clayrisser opened #2157 "Why do we need @property decorators? Can't we just use type introspection?"
I honestly don't understand the reasoning behind the property decorator. If it does add extra metadata, shouldn't it still just be optional?

The following just seems redundant . . .

[code]

[2018-12-14 09:33] esoodev commented on #2153
@bajtos If it's alright with you, I am attaching a [link](https://github.com/esoodev/loopback-flatwoods-api) to the project mentioned above, since it's quite small and can be used to observe the problem mentioned above.
`npm install && npm start` then navigate to [GraphiQL with example query](http://localhost:3001/graphql?query=%7B%0A%20%20users2%20%7B%0A%20%20%20%20userId%0A%20%20%20%20userEmail%

[2018-12-14 10:29] haotcdgroup opened #2158 "`@loopback/testlab` is not working due to usage of `sinon` which is having a dependency problem itself"
## Description / Steps to reproduce / Feature proposal
Related issues:
#1812
https://github.com/sinonjs/nise/issues/66

Currently testlab is using "sinon": "^6.3.4"
Seem like we can upgrade to "sinon": "^7.2.2" to fix the issue (while still having `deprecated text-encoding@0.6.4: no longer maintained` warning)

## Current Behavior
Every package using "@loopback/testlab": "^1.0.2" or previous versi

[2018-12-14 12:05] jangeorgiev commented on #2146
No, it's not related to custom errors that are returned from HttpErrors.UnprocessableEntity().
I talk about customizing error messages of predefined validation rules [see all rules here](https://github.com/epoberezkin/ajv/blob/master/KEYWORDS.md#format)

[2018-12-14 13:55] bajtos commented on #2152
As I understand LB4 design, the Model class is describing shape of the data only, it does not deal with obtaining that data (fetching it from a database or resolving a model relation). It's the Repository that deals with resolving model relations and fetching related data.

We are following this design in HasMany/BelongsTo relation too. You can think of `HasManyRepository.prototype.find` and `Belo

[2018-12-14 14:11] bajtos commented on #2153
Thank you for the link. I was able to run your app and reproduce the issue. Kind of. I am confused about where `users2` is coming from and also how is it possible that `gameProfile` is including a nested `user` data inside?

Anyhow. I think to make the relations work, we need to include "links" in the description of REST API methods.

Quoting from https://github.com/strongloop/oasgraph#characteris

[2018-12-14 14:13] bajtos commented on #2043
I'll be mostly away from my computer until the end of the year, I'll take a look in January. Merry Christmas! 🎄

[2018-12-14 16:17] bajtos commented on #1905
Let's take a look at how oasgraph-cli mounts the GraphQL on express:

https://github.com/strongloop/oasgraph/blob/8016aa8398fd3812605d378552875f055de05702/packages/oasgraph-cli/src/oasgraph.ts#L111-L137
[code]

Now as far as I understand GraphQL, it uses a single URL with two verbs GET and POST. As a result, it should be pretty easy to build a controller that provides two methods (`GET /graphql` a

[2018-12-14 19:42] dericgw opened #2163 "Loopback CLI depends on "loopback" keyword being present in package.json"
I removed the `keywords` section of my `package.json` and the next time I ran `lb4 model`, I received this error:

[code]

I add "loopback" as a keyword in my `package.json` and the problem goes away. I see [here](https://github.com/strongloop/loopback-next/blob/0a42541143636208832207669c0a2c36b7c9c1de/packages/cli/lib/base-generator.js#L326) that this is to make sure that we are in a loopback pro

[2018-12-14 19:45] raymondfeng commented on #2163
@dericgw It's a protective check to make sure the command is running inside a valid LoopBack 4 project. I'm open to use other metadata such as dependencies in `package.json`. Are you willing to contribute a patch?

[2018-12-14 20:18] dericgw commented on #2163
I don't mind doing that. Do you think `@loopback/core` is the best package to depend upon? Or, should the CLI just look and see if any `@loopback` packages are available?

[2018-12-15 06:43] marioestradarosa commented on #1905
@bajtos , but internally there is already an express instance used by the API Explorer, I guess?. If you plugin express-graphql, OASGraph and the app.restServer.getApiSpec() you can have the /graphql in the LB4 app.

The following is a pseudo code that could be running in the same code were the REST Server is exposing the api explorer (I guess, not sure for now).  But at the end, the OASGraph is j

[2018-12-16 05:16] javiersantossanchez commented on #2021
Thank you @octisfall I had the same question and that solution works as I need

[2018-12-16 14:21] orshlom commented on #1656
@raymondfeng
Using the listed `ts-simple-ast` package, I have managed to manipulate TypeScript files.
More specifically - I have created **hardcoded** `haMany` relation for a `model` and `repository` files.

I do not see any problems doing similar manipulations to a controller file.

Regarding `dataSource` manipulation - not sure what should be written there when adding new relations. Can you plea

[2018-12-16 14:36] orshlom commented on #1359
Hi @dhmlau,
I did some research on creating additional relations for models and repositories using TypeScript AST manipulation, following #1656 spike, and made a [comment](https://github.com/strongloop/loopback-next/issues/1656#issuecomment-447647088) with my findings.

I am more than confident I can implement the CLI command for relations following your guidelines.
I would be happy to be contribu

[2018-12-16 17:07] onkelfunny commented on #2021
[code]

**Unhandled error in GET /test: 500 Error: MongoDB connection is not established**

What is wrong?

[2018-12-16 17:14] octisfall commented on #2021
@onkelfunny I have same error with first request, further it works fine. Don't know related it with my solution or not

[2018-12-16 17:30] octisfall commented on #2021
@onkelfunny please create a new issue, maybe loopback contributers will help. I'm too interesting with this

[2018-12-17 14:18] dougal83 commented on #2153
I think that is down to the oasgraph implementation.  Probably prudent to raise the issue here: https://github.com/strongloop/oasgraph/issues

[2018-12-17 15:45] dhmlau opened #2168 "[Docs] Reorganize top level menu in docs"
Related to https://github.com/strongloop/loopback-next/issues/2087

Had a discussion with @bschrammIBM, her recommendation is to consolidate some of the top level menu in LB4 docs,  so that it's clearer to our users meaning:

[code]

More detailed recommendation for each section:

- [ ] Overview
  - a new section which refers to https://loopback.io/doc/en/lb4/index.html page
  - it might be good t

[2018-12-17 16:08] bschrammIBM commented on #2168
Another reorganization suggestion is to move the Security Advisories onto the main menu on the https://loopback.io/doc/ home page. Right now the link is under LB3 only and it applies to othe releases (including LB4) https://loopback.io/doc/en/lb3/Security-advisories.html

[2018-12-17 16:30] jannyHou commented on #2087
Yeah I remember Raymond prefers to keep "how tos" as it is. Let's keep the discussion open.
@raymondfeng could you elaborate more about the reason? Thanks.

[2018-12-17 16:37] dhmlau commented on #1656
@orshlom, thanks for the investigation.
@b-admike, could you also please take a look at the above comments from @orshlom?

[2018-12-17 21:01] raymondfeng commented on #433
@oleg269 That's the intent of #2122. We need to clean up `RestServer --> HttpHandler --> RoutingTable --> TrieRouter` to see how routes can be best refreshed.

[2018-12-17 22:12] LFP6 commented on #1905
Per the [comment ](https://github.com/strongloop/loopback-next/issues/1905#issuecomment-433003220) by @bajtos:

I think this is arguably more important than just letting oasgraph run on the same port (which on a cursory look should be pretty straightforward, with a similar conclusion to the above comment). Is this within scope of this conversation/does it require a new issue? Is the final step of

[2018-12-17 23:45] yagobski commented on #1849
any progress about this task. How we can migrate large app from LB3?

[2018-12-18 07:56] esoodev opened #2169 "Using custom (underscored) keys for Relations : "Cannot read property 'target' of undefined""
## Description
I am using an existing MySQL database and its schemas, and am following [the tutorial](https://loopback.io/doc/en/lb4/Relations.html) to build relations.

## Current Behavior
- User has many Review
- Review belongs to User

Due to the existing schema, Review has 'user_id' field that links to User's 'id.' I coded this relation in review.model.ts accordingly.
[code]
However, doing so

[2018-12-18 08:10] hacksparrow commented on #1849
@yagobski you can track the progress being made on feature parity with LB 3 at https://github.com/strongloop/loopback-next/issues/1920.

[2018-12-18 08:41] esoodev commented on #2169
It seems this is related to [this issue](https://www.bountysource.com/issues/6164944-provide-a-way-to-specify-table-and-field-naming-convention-with-automigrate-autoupdate) first mentioned back in 2014.

[2018-12-18 09:26] sertal70 commented on #1875
@codejamninja did you have the chance to look at my repo? What's your thought about it?

[2018-12-18 09:34] esoodev commented on #2169
Within ReviewRepository, instead of
`this.user = this.createBelongsToAccessorFor('user', userRepositoryGetter);`

I used

[code]

This works for now, though not pretty. If anyone can provide an insight for moving this into Review model, it'd be much appreciated!

[2018-12-18 10:59] franverona commented on #2053
By mixin @bajtos previous answer and some code of my own, I've created a way to use raw queries on repositories.

**Repository Helper**

[code]

**Some repository**

[code]

Then you can use your repository as follows:

[code]

For example, inside an API call:

[code]

[2018-12-18 13:30] hacksparrow opened #2170 "[CLI] cli datasource should show the path of the database file"
## Description / Steps to reproduce / Feature proposal
The memory datasource should show the path of database file it created.

## Current Behavior

[code]
## Expected Behavior

[code]

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-12-18 17:32] hacksparrow commented on #1978
Created a POC - https://github.com/strongloop/loopback4-example-javascript.

[2018-12-18 18:40] RaphaelDrai commented on #2043
Merry Christmas!

[2018-12-18 20:19] codejamninja commented on #1875
I did, it seems like a much simpler approach. I actually haven't got a chance to test it yet. I will hopefully get around to it sometime this week.

Does the `this._createHasManyRepositoryFactoryFor` end up using the overridden find function?

For example, will the following code . . .
[code]
https://github.com/sertal70/lb4-todolist-backend/blob/master/src/controllers/todo-list-todo.controller.ts#

[2018-12-18 23:05] elv1s commented on #2090
Updates should be made to the source of truth (`json`, `yml`, `oas3.spec`) and regenerated.

If we can avoid generating code and use the in-memory approach that might be a good option for us. Your comment in https://github.com/strongloop/loopback-next/issues/1889#issuecomment-433384870 seems like a possible approach for this.

[2018-12-19 09:01] sertal70 commented on #1875
Yes, it does.

[2018-12-19 09:28] ghost opened #2173 "Log extension is not printing any logs"
## Description / Steps to reproduce / Feature proposal
The log extension provided as an example doesn't have any documentation on what to expect after implementing the LogMixin. It looks like it should print some logs for every configured controller method.

## Current Behavior
There are no logs on console. And there is no example how to write custom logs. It's just not clear.

## Expected Behavio

[2018-12-19 11:00] hacksparrow commented on #2170
We do :)

[2018-12-19 11:35] hacksparrow commented on #2173
Hi @vivekdwivedi which example are you referring to?

[2018-12-19 11:43] vivekdwivedi commented on #2173
@hacksparrow https://github.com/strongloop/loopback-next/tree/master/examples/log-extension

The readme in this example mentions how to use this log extension. I used it the same way, but it doesn't log anything. I was expecting console logs for all controllers.

Bigger picture: I am building a log-extension that can take any downstream logger (starting with watson) and send messages to that.

[2018-12-19 12:41] ghost opened #2174 "How to have multiple datasources for a service and choose during execution which one to use"
## Description
I want to build an abstract sort of API that calls different internal APIs in my setup and returns data.

Suppose my entity is a `customer`. I can have different sources to get the customer information. Say I have two CRM and my end user can choose one or both CRM to store the customer information. This selection can be done either via a query param or from a db config. When this cu

[2018-12-19 14:21] dhmlau commented on #1228
Seems like the changes for all the 3 sections are done.  Closing it as resolved.

- Reporting issues
- Contribution to code
- Contribution to docs

[2018-12-19 14:21] #1228 closed

[2018-12-19 16:25] dougal83 opened #2175 "Examples tsconfig filename resolution issue /w VSCode"
## Description / Steps to reproduce

1. Install any example via cli, e.g ''lb4 example todo-list''
2. Open folder in editor, e.g. VSCode
3. Trigger linter, e.g Open src/controllers/todo.controller.ts

(n.b. VSCode is only client tested)

## Current Behavior

Warns for example below (which is set via tsconfig.build.json):
[ts] Experimental support for decorators is a feature that is subject to chan

[2018-12-19 18:36] ghtech commented on #2007
Hi I am getting same error any luck to resolve this problem. @samhoamt what modules did you have to update?

[2018-12-19 18:52] b-admike commented on #1422
Closing as done.

[2018-12-19 18:52] #1422 closed

[2018-12-20 06:28] tonychangcheng opened #2176 "failed to bind to $PORT in Heroku running environment"
## Description / Steps to reproduce / Feature proposal
1. Create a new lb4 app
2. Move all dev dependencies to dependencies
3. Connect heroku to your github repo
4. The app is deployed successfully
5. But when you hit the api, it fails.
## Current Behavior
Error R10 (Boot timeout) -> Web process failed to bind to $PORT within 60 seconds of launch
## Expected Behavior
The port should be bind correc

[2018-12-20 06:55] samhoamt commented on #2007
Sorry I can't remember exactly what module. I think is loopback-cli.

[2018-12-20 08:00] vvdwivedi opened #2177 "Take input for npm package name in all CLI generators with a default behaviour"
## Feature proposal
Allow users to enter a npm package name for app and extensions. While they can still go change in package.json, there remains a doubt in user's mind if all required changes are done to change the package name. We can show a default suggestion based on the application or extension name after checking for valid package name. For a custom entered name, we still need to check for n

[2018-12-20 08:22] RaphaelDrai commented on #2043
Hello @bajtos,
It is important for us to have in LB4 the hasAndBelongsToMany (the direct many-to-many relation) that we are using in our LB3 application. We are actually in a transition process to move our LB3 application to LB4 and hasAndBelongsToMany is considered as an high priority.
May I suggest to have a new and separated case for the hasManyThrough in order to avoid confusion with this curr

[2018-12-20 09:30] vivekdwivedi commented on #2173
@hacksparrow I was checking the acceptance test for log extension linked above, and I can see that beforeEach test, we are creating a sequence which injects the logger and in the handle method for sequence, we are calling the logger.

I am not able to figure out if this(adding logger to sequence) needs to be done in my app as well or this part is taken care of by the log-extension. In either case,

[2018-12-20 10:22] vivekdwivedi commented on #2173
@hacksparrow I got this working after going through the entire thing. I figured that `Logging` is part of sequence and should be added to it. No my `sequence.ts` looks like this

[code]

If this is how things should work, maybe I can add this to documentation.

[2018-12-20 15:02] nabdelgadir commented on #1298
Adding to Taranveer's descriptions for `mocha` and `loopbackBuild`, here's a proposal for the descriptions of options:

◉ Enable tslint - adds a linter with pre-configured lint rules
◉ Enable prettier - installs prettier for consistent code formatting
◉ Enable mocha - installs mocha as a dependency
◉ Enable loopbackBuild - sets up typescript compiler with other features 
◉ Enable vscode - adds VSC

[2018-12-20 16:20] dhmlau commented on #2176
@hacksparrow, do you think you can help here? Thanks.

[2018-12-20 20:02] dhmlau commented on #2168
Agree, since the security advisories are not specific to a particular version of LB.

[2018-12-20 20:09] dhmlau commented on #1298
LGTM.  one minor comment to change `typescript` to `TypeScript`.

[2018-12-20 23:12] yagobski commented on #1920
API auto generation was the most powerful feature for LB3 that missing with LB4

[2018-12-20 23:19] dericgw opened #2180 "Could not create List from JSON string / postgres array"
I have a loopback model that has an array property:
[code]

When I make a `POST` or `PATCH` request to save that model with an array, it saves just fine. However, the next time that I try and `GET` that user, I get this error:
[code]

I am using a Postgres database and all interactions are through the scaffolded controllers, models and datasources via API requests.

Is there some sort of transform

[2018-12-20 23:42] collaorodrigo7 commented on #702
I also think this would be a nice feature. Do you guys think this is something we can suggest in #1920  ??

[2018-12-21 00:14] dericgw commented on #2180
I figured out a way around this. There is a way to specify the specific column type like so:

[code]
This allowed me to store my array as an actual `text[]` so when it is converted to a list upon retrieval, there are no errors.

[2018-12-21 00:14] #2180 closed

[2018-12-21 00:55] dhmlau commented on #2175
@nabdelgadir, could you please take a look? Thanks.

[2018-12-21 00:58] dhmlau commented on #2158
@nabdelgadir, could you please take a look? Thanks.

[2018-12-21 05:30] rahulrkr08 opened #2182 "Latest packages of loopback-next are not available in npm registry"
## Description / Steps to reproduce / Feature proposal
 Latest packages of loopback-next are not available in the npm registry, which stops the execution of `lb4 app` creation. When those will be available?

[2018-12-21 07:26] rahulrkr08 opened #2183 "Route with a wildcard path"
## Description

How can I access the router with a wildcard? For e.g.:

Below is my controller function to find pages. My requirement is I want to access anything comes after /pages, which can be accessed to `urlpath` parameter, so I can access single function for all below endpoints.

#### e.g endpoints

/pages/test-page
/pages/test-page/sub-test-page
/pages/test-page/sub-test-page/sub-sub-test-p

[2018-12-21 11:34] shashi9leaps commented on #2182
Facing the same issue.

npm view @loopback/boot@^1.0.8 is not available.

[2018-12-21 12:40] amdp-chauhan commented on #2173
@vivekdwivedi I am facing the same issue and tried your solution, it works but if you load/refresh API explorer page it gives below error and stops the server:

[code]

@hacksparrow seems few things are missing in README

[2018-12-21 12:58] vvdwivedi commented on #2173
@amdp-chauhan There is an issue with static asset routes, so when you open the explorer, it gives you this error. You can use this following code for your sequence:

[code]

[2018-12-21 14:31] Dallsant opened #2184 "(Model) - Validate Uniqueness of - equivalent for LB4"
Is there an equivalent for this in LB4? I could do it manually on SQL, but on NoSQL it's a different story,  https://apidocs.strongloop.com/loopback-datasource-juggler/#validatable-validatesuniquenessof sorry if it's a stupid question.

[2018-12-21 16:05] rywilson28 opened #2185 "Test examples with REST datasource (stub provider)"
My controllers are using a service provider that uses a REST datasource.  This pulls in data from a remote server and then the controller manipulates this data to send to the client.  I'm trying to find the best way to mock the responses from the remotes service in order to test the controller.

The documentation has a section for stub services but it is not currently populated.
https://loopback.i

[2018-12-21 17:09] jannyHou commented on #2182
@rahulrkr08 @shashi9leaps Should be fixed now.

[2018-12-21 18:33] Dallsant commented on #2184
I found out you can do it with Mongo, but, it'd like to know if there's any way to achieve these validations at the model level with LB4. Good afternoon.

[2018-12-21 19:33] jannyHou commented on #2182
[code]

Fixed :) Feel free to reopen it if you still have installation failure.

[2018-12-21 19:33] #2182 closed

[2018-12-21 21:01] shashi9leaps commented on #2182
Thanks @jannyHou

[2018-12-22 01:15] ambienthack commented on #2085
Consider the following solution:
1. Add 'isForeignKey' to PropertyDefinition of foreign key, inside [belongsTo decorator](https://github.com/strongloop/loopback-next/blob/fcc76df71f2fe837dd62847418e9aa7e39da575a/packages/repository/src/relations/belongs-to/belongs-to.decorator.ts#L24-L32)
<pre>   const propMeta: PropertyDefinition = {
      ....

      isForeignKey: true,

    };
</pre>

2. Check

[2018-12-22 21:31] dhmlau commented on #2177
@vvdwivedi , I see the value of adding the prompt for package name.  At the same time, I'm worried that it'll make `lb4 app` asking too many questions.  I'm fine with either way, but would like to get opinion from other maintainers as well.  @strongloop/loopback-maintainers, any thoughts?