[2017-01-10 15:24] bajtos opened #1 "RFC: Monorepo"
In the past year or two, we have repeatedly came across the idea of using a single monorepo containing all core LoopBack modules (strong-remoting, juggler, loopback, possibly others like swagger, etc.). The last time this was mentioned by @ritch when discussing loopback-next kick-off.

In this thread, I'd like to discuss pros and cons of using monorepo approach for the development of loopback-next

[2017-01-10 15:39] ritch opened #2 "TypeScript Port"

[2017-01-10 15:50] ritch opened #3 "Initial LoopBack Core Refactor: Stubs"
- [x] create `packages/loopback`
 - [x] copy existing meta files
 - [ ] stub out all classes
 - [x] stub out tests (not framework, just for sanity)
 - [ ] update this list with classes for impl checklist (or create new issue?)

[2017-01-10 15:52] bajtos opened #4 "RFC: Timeline"
I am proposing to set an aggressive timeline for the next version and remove any features that are not done on time. Preliminary proposal:

 1. 2016-03-31: Any feature that's not *mostly* complete is removed from this release. (The definition of *mostly* is intentionally left vague.)
 2. 2016-04-30: Feature freeze. Any feature/change not finished by this time is removed from the release.
 3. Next

[2017-01-10 16:12] ritch opened #5 "Lerna"
Lets try this

https://lernajs.io/

This issue is to track the initial lerna configuration

[2017-01-10 16:23] ritch opened #6 "RFC: TypeScript / es6 / es7"
I think the main goal of `loopback-next` should be `TypeScript` and es6-7 as first class features. Below are the goals:

 1. rewrite LoopBack source code as `TypeScript` classes using es6 / 7 features best practices
 1. use `TypeScript` native modules eg. `import` and `export`.
 1. promises first and everywhere
 1. `async` and `await` everywhere

Below is brief list of impact for discussion.

 1.

[2017-01-10 17:06] raymondfeng opened #7 "Modular design: extensibility and pluggability"
- LoopBack runtime consists of multiple modules
- LoopBack should have a well-defined way to declare extension points and extensions to provide extensibility/pluggability
- Should we explore dependency injection?
- What is the packaging model for extensions (components/plugins)?
   - https://code.visualstudio.com/docs/extensions/overview

[2017-01-11 00:21] raymondfeng opened #8 "Create @loopback npm account as the scope for LoopBack related modules"
Placeholder: https://www.npmjs.com/package/@loopback/loopback

We can potentially name LoopBack modules as:

@loopback/core
@loopback/remoting
@loopback/connector
@loopback/connector-oracle
@loopback/workspace

[2017-01-12 17:15] #1 closed, assigned to nobody

[2017-01-12 17:18] #6 closed, assigned to ritch

[2017-01-12 17:28] #8 closed, assigned to raymondfeng

[2017-01-12 17:48] ritch opened #10 "Ensure Package licensing for modules are up to date"

[2017-01-12 22:48] crandmck opened #11 "Express vs. Koa?"
I don't have an opinion, but since Ritchie mentioned this some time ago, I thought I'd throw it in the mix.
Shall we replace Express with Koa in LB4?

Excuse my naiveté, but would it be possible to _add_ Koa, so that apps could use either Koa or Express style middleware?  Or is that impossible or impractical?

What are implications for:
- LB core, connectors, components, etc.
- Examples and docs
-

[2017-01-13 13:15] bajtos opened #12 "Controllers and beyond"
Controllers decoupled from the data models/ORM is a concept I have had in my mind for very long time and that I am personally interested in exploring.

We have already started some exploratory work in this direction, see
https://github.com/strongloop-internal/scrum-loopback/issues/614#issuecomment-187124065 and the rest of the discussion.

Once we have a basic concept of a connector implemented, i

[2017-01-13 18:48] superkhau opened #13 "Feature requests from community"
Taking notes on wants from community here (ie. what we hear):

- GUI tool for ACLs
- NeDB to replace memory connector

[2017-01-24 16:34] #5 closed, assigned to nobody

[2017-01-24 16:37] raymondfeng opened #15 "Refactor loopback-datasource-juggler into multiple modules"
There are many responsibilities in [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler) today. We need to decompose them into separate modules for different concerns.

The following slides outline some of the main perspectives around juggler as potential candidates:

[LoopBack-Model-Composition.pptx](https://github.com/strongloop/loopback-next/files/727282/LoopB

[2017-01-24 18:31] ritch opened #16 "Doc Generator Approach"
@hacksparrow lets discuss the details for generating the loopback-next docs based on typescript.

This is mainly the build process.

[2017-01-31 17:59] ritch opened #23 "Branding / Site Redux Idea"
![rebranding-loopback](https://cloud.githubusercontent.com/assets/462228/22477686/d66d9934-e79b-11e6-8956-03bac6da5118.png)

Not committed to doing this quite yet... but here for posterity.

[2017-02-01 19:13] deepakrkris opened #24 "Allow multiple models with same name"
- [ ] - Models should be classified with namespaces, preferrably in the java style package names.
- [ ] - Packaging (folder) paths like /common/models or loopback/models can be name spaces
- [ ] - this will allow having models with same names to be configured

[2017-02-01 23:46] superkhau opened #25 "Bluemix/cloud native version of LB"
Moving from https://github.com/strongloop-internal/scrum-loopback/issues/1344

[2017-02-02 15:54] ritch opened #28 "dev dep fail"
https://github.com/strongloop/loopback-next/blob/master/packages/remoting/package.json#L14

this causes `lerna exec npm install` to fail - since its not in the registry

[2017-02-03 22:16] superkhau opened #33 "Share VS Code keyboard shortcut/keybindings somehow"
Like tasks.json -- will lower barrier to entry for common loopback related tasks.

[2017-02-07 09:08] bajtos opened #34 "Spike: unit test framework"
Compare `mocha`, `tap` and `tape` to decide which framework to use.

Concerns to address:
 - speed (loading strong-globalize and loopback is expensive, OTOH running tests in parallel would be great)
 - what is more friendly to contributors from the community?
 - how well do they support promises/async-await style of programming?

[2017-02-09 05:37] #28 closed, assigned to nobody

[2017-02-10 06:43] superkhau opened #44 "Add editorconfig"
For consistent coding styles. http://editorconfig.org/

[2017-02-10 07:19] superkhau opened #46 "Testing ISSUE_TEMPLATE.md"
# Description/Steps to reproduce

# Expected result

# Additional information

[2017-02-10 07:20] #46 closed, assigned to nobody

[2017-02-10 18:38] superkhau opened #47 "Bring questions back to GitHub, use GG only for announcements"
Our new official policy is that questions are allowed on GitHub, at least until LoopBack4 reaches GA. Users are still encouraged to post their questions on StackOverflow though.

We should apply yellow "functional-area" labels like "CLI", "Examples", "Docs" to questions as part of our issue triage process. This will make it easier for people to find unanswered questions related to their area of in

[2017-02-14 18:43] superkhau opened #49 "Use NeDB to replace our own memory connector"
https://github.com/louischatriot/nedb

@raymondfeng Thoughts?

[2017-02-15 21:02] superkhau opened #53 "Different initial migration experience from current"
https://github.com/strongloop/loopback/issues/591#issuecomment-280133927

I see this come up a lot, like how you have to "extend built in user model" + "automigrate the ACL, Role, etc" tables. We need a better experience than this (not to mention good docs up front if we're going to leave a bad experience like this for people just getting started).

[2017-02-17 18:54] superkhau opened #57 "How to be more proactive/responsive with regards to community?"
Flame war topic.

We need to address the number of growing/open issues in a sustainable way. Ideas?

cc @bajtos @raymondfeng

[2017-02-20 22:12] superkhau opened #63 "Health checker OOB"
"Is there a preferred way to do a health check endpoint in LoopBack? I’m seeing this which looks decent: https://www.npmjs.com/package/healthcheck-fastit" as per @erin.mckean on Slack

Something we should consider IMO.

[2017-02-21 23:13] kjdelisle opened #65 "LINQ-like query building for SqlConnector"
Make/utilize a LINQ-like query builder that helps us more generically define the meat of a query before it runs against the database so that we can avoid pre-loading the entirety of one or more tables in memory to perform filtering and aggregation.

http://kutyel.github.io/linq.ts/

[2017-02-22 04:12] superkhau opened #66 "Create Server class"
Abstract out `start` function from `Application` into own class.

[2017-02-22 04:49] superkhau opened #67 "Context bindings - Type Safety / IntelliSense"
See https://github.com/strongloop/loopback-next/pull/61/files#r102336527

We need to make it easy to know the input and output of the ctx's APIs. Here are some examples

[code]

[2017-02-28 17:00] superkhau opened #79 "Create test infrastructure in CodeHub"

[2017-02-28 22:17] #79 closed, assigned to bajtos, superkhau

[2017-02-28 22:41] #49 closed, assigned to haoxins, Setogit

[2017-03-01 07:48] superkhau opened #85 "Fix CI properly for failing example-codehub tests"
Example code from #79 had bugs in it when landed with @bajtos.

- [x] Revert #83
- [x] Revert #84
- [x] Fix tests and linting properly

[2017-03-01 10:38] #34 closed, assigned to bajtos

[2017-03-02 19:05] #85 closed, assigned to bajtos

[2017-03-07 14:40] bajtos opened #92 "Setup build for npm publish"
Setup TypeScript build chain and npm config so that `npm pack` (and `npm publish`) ships Node 4.x compatible JavaScript sources.

In order to continually verify the correctness of this setup, a simple end-to-end test written in pure javascript should be included.

[2017-03-07 14:42] bajtos opened #93 "Use path-parameters in CodeHub"
- [x] Add a test to codehub example to verify that a path-parameter based endpoint works correctly.
 - [x] Fix the implementation of that endpoint as needed to make the test pass.

[2017-03-07 22:23] crandmck opened #94 "Including community in LB.next discussion"
I understand the desire to initially keep the discussion and development of LB.next internal, for reasons of speed and efficiency and to ensure that focus is on "our" needs vs. rest of the world.

Nevertheless, this _is_ an open source project, so at some point we need to change to open development.  Also, at some point we will start releasing it to the public.

Rather than simply presenting the n

[2017-03-07 23:05] ritch opened #95 "DI / Testing"
Determine the features / examples for how to test loopback-next applications.

[2017-03-21 16:01] bajtos opened #96 "Overview page - Controllers and routing"
- Setting up Routes
- Application Logic

[2017-03-29 08:59] bajtos opened #97 "Router: use fast-json-stringify to improve the performance"
See https://github.com/fastify/fastify/blob/master/docs/Validation-And-Serialize.md#serialize, https://www.npmjs.com/package/fast-json-stringify, consider also https://www.npmjs.com/package/fast-safe-stringify.

The fastify framework claims it's gaining 1-4x speed-up from using this module.

Since our routes (controller methods) provide swagger metadata describing the expected output format in a J

[2017-03-29 09:02] bajtos opened #98 "Router: switch to Trie-based implementation"
The current initial PoC version is based on Express' path-to-regexp, which is know to scale poorly.

We should switch to a Trie-based implementation, consider using an existing module https://github.com/yoshuawuyts/wayfarer

[2017-03-29 09:04] bajtos opened #99 "Router: support all parameter sources"
The current initial PoC implementation supports only two parameter sources: path and query. We need to add support for the remaining sources defined in the Swagger spec:

 - "header"
 - "formData"
 - "body"

[2017-03-29 09:07] bajtos opened #100 "Router: coercion of complex parameters from string sources"
In loopback/strong-remoting 3.x, we allow remote methods to accept parameters of complex types and have the runtime to convert string inputs (e.g. in a query string or formdata) to such complex type.

- consider whether we want to implement this feature in loopback-next too
- figure how to extend ~~Swagger~~OpenAPI specification to allow developers to specify a complex parameter type to be coerced

[2017-03-29 18:33] ritch opened #101 "Release Plan RFP"
Hey everyone,

We need to start coordinating the releases of this project for obvious / not so obvious reasons. Mainly we need to start getting on a cadence that we already are on for LB@3. Below is a proposal / checklist, agreed on with some folks who will help with marketing / promotion of LB.next.

Please note this is a proposal for a timeline that folks can work against. None of the dates are

[2017-04-04 00:49] superkhau opened #102 "Add Installation/Usage section to README.md"
MVP instructions on how to install and use Loopback-next.

[2017-04-04 02:00] superkhau opened #103 "First draft of the overview page in the wiki"
See https://github.com/strongloop/loopback-next/wiki/Overview

- [x] Clean up the wiki page
- [x] Fill in Overview table with terms and simple descriptions
- [x] Update wiki page contents
  - [x] Fix up architecture image @ritch @superkhau
    - Replaced image with simple array diagram for now
  - [x] Create issues to fill in content for individual construct sections
    - #197 #198 #199 #200 #201

[2017-04-04 02:03] superkhau opened #104 "First version of the API documentation"
A way for us to reflect the changes in the source code to an online version. Doesn't need to be 100%, just something working.

- [ ] Discussion
- [ ] Whether we or throw it up or not

https://strongloop.github.io/loopback-next-apidocs/

[2017-04-04 18:52] deepakrkris opened #105 "loopback-next does not export a main script"
users will not be able to access the package because a main script is not exposed

Can't "require('loopback-next')" via JavaScript.

[2017-04-05 23:26] siddhipai opened #108 "loopback-next unable to send object in reposnse"
when I try to return an object I always get the following error on the console, and no response is returned,

<img width="1279" alt="screen shot 2017-04-05 at 4 23 53 pm" src="https://cloud.githubusercontent.com/assets/15273582/24731041/7b7ff0e0-1a1c-11e7-9a81-a06fbdfd9b53.png">

loopback-next seems to work only for string data type in response

[code]

[2017-04-06 07:27] #108 closed, assigned to bajtos

[2017-04-06 08:11] #93 closed, assigned to bajtos

[2017-04-07 16:03] #94 closed, assigned to nobody

[2017-04-07 16:09] ritch opened #110 "Welcoming Contributors"
This issue is for new folks to chime in and say hello and that they'd like to be involved offline (off GitHub) discussions. I'm not expecting the working group on this project to be so large that we can't all get to know each other.

Just comment here that you'd like to be added to the LoopBack.next contributors list and I'll create a group in the StrongLoop org with all of you - so we can do thin

[2017-04-07 16:19] ritch opened #111 "Controller MegaThread"
Let's talk about `Controller`'s.

**Background**

 - [What is a Controller?](https://github.com/strongloop/loopback-next/wiki/Overview#what-is-a-controller)

[2017-04-08 02:23] ritch opened #112 "Putting it all together..."
Here is a minimal but somewhat complete example for a few features / tweaks that I'd like to see. It includes everything that I can think of as fundamental building blocks...

 - Creating an `Application`
 - Defining a `Model`
 - Defining / Using a `Collection`
 - A `Controller` and method (with decorator sugar)
 - How decorators can easily pass references to the `app` (see: `@app.controller` and

[2017-04-10 16:06] ritch opened #113 "Router shouldn't handle requests..."
@bajtos @superkhau

So our new router is loosely inspired by Express' `Router` - especially [`router.handle`](https://github.com/expressjs/express/blob/master/lib/router/index.js#L136).

The one thing that never made sense to me is - why is the `Router` in Express both locating the `function` to execute and executing it? That really puts the request into a black hole... Instead I think we should d

[2017-04-10 16:18] #3 closed, assigned to ritch

[2017-04-10 16:18] #10 closed, assigned to ritch

[2017-04-10 16:18] #66 closed, assigned to ritch, superkhau

[2017-04-10 16:19] #95 closed, assigned to ritch, bajtos, superkhau

[2017-04-10 16:59] #96 closed, assigned to ritch, bajtos, superkhau

[2017-04-10 23:34] deepakrkris opened #115 "Services"
Description:
   1.  A `Service` object will be configured to access a single datasource through a loopback connector, and will be mixed in with dao methods
[code]
  2. The `Service` will have features from LB 2/3.x like Service discovery/migration (as equal to model discovery)
[code]
  3. The `Service` will provide CRUD methods to access the datasource
[code]

Expected result
1. The service will p

[2017-04-11 14:31] ritch opened #116 "Beyond Basic Validation"

[2017-04-11 14:31] ritch opened #117 "ORM Independence"

[2017-04-11 14:54] bajtos opened #118 "Router: validate input parameters"
## Overview

In loopback/strong-remoting 3.x, we are validating input parameters against the types/schema defined in remoting metadata to ensure the client is passing valid values. We should offer similar capability in LoopBack.next.

## Acceptance Criteria
- [x] Write a validation function using AJV that accepts a JSON object (body) and a JSON schema that:
  - [x] Validates a given object against

[2017-04-11 21:15] jonathan-casarrubias opened #119 "Real-Time features"
# Description/Steps to reproduce

I'm opening this thread to discuss and define a scope for real-time functionalities possibly provided by LB-Next.

Currently there are implemented functionalities like event streams, but honestly are not helpful at all when building real life applications, therefore I have built several real-time approaches on top of loopback, which I believe 2 were the most impor

[2017-04-11 22:04] ritch opened #120 "New DSL and Template Support"
Placeholder for now... some areas to flesh out in this issue:

 - new dsl examples, whats new whats the same (eg. properties, relations)
 - templates, what are they, how do they work
 - basic tooling examples

Here is a basic example to get something on paper... I'd assume everything about it will change. The purpose is to start a conversation:

**DSL example**
[code]

**Template example**
[code]

[2017-04-11 22:54] deepakrkris opened #121 "Data Mapper in Repository"
# Description
A `DataMapper` would map data from one collection to another collection in the repository.

[code]

# Expected result
1. Constructs for object to object mapping.
2. Constructs for array to array mapping.
2. Constructs for reduce array

[2017-04-12 07:30] bajtos opened #122 "Router: allow methods to return an async-iterator or a readable stream"
Right now, Controller methods are returning a single response object that's later written to the HTTP response body.

Let's add support for two more advanced response modes:

 - A method returning an async iterator instead of in-memory array instance - see e.g. [KeyValueModel.iterateKeys](https://github.com/strongloop/loopback/blob/faa4975b78fece74e0a0ffaede13b5e5e1f5b886/common/models/key-value-m

[2017-04-13 01:08] superkhau opened #129 "Add new logo to top of README"
- [x] Set up meeting with @sichao to go over details
  - 04/21 at 10:30am
  - Confirmed @sichao will help develop the logo, no solid date as to delivery but will check again in 2 weeks

Follow up issue at #189

[2017-04-13 01:10] superkhau opened #130 "Add build passing badge"
Depends on Travis CI (#161) + AppVeyor (#162 and #164) being set up properly first.

- [x] Confirm the build is 100% passing on CI
- [x] Get correct badge from shields.io
- [x] Add to badge section in README

[2017-04-13 01:14] superkhau opened #131 "Add coverage badge"
- [ ] Confirm code coverage is 100% (or passing at least)
- [ ] Get badge from shields.io
- [ ] Update badge wiki page with correct badge link
- [ ] Add to badge section in README

[2017-04-13 01:26] superkhau opened #132 "Add usage section to README"

[2017-04-13 01:45] deepakrkris commented on #121
yes, in this example having a simple class is enough. But there will be cases where the collections have completely different fields, and mapping will run to > 2000 lines.

|                          Collection 1                                     |          Collection 2                                 |
| -------------------------------------------------| ------------------------------------ |
|

[2017-04-13 01:45] deepakrkris commented on #121
yes, in this example having a simple class is enough. But there will be cases where the collections have completely different fields, and mapping will run to > 2000 lines.

|                          Collection 1                                     |          Collection 2                                 |
| -------------------------------------------------| ------------------------------------ |
|

[2017-04-13 01:57] deepakrkris commented on #121
some example of data mapper :  https://docs.mulesoft.com/mule-user-guide/v/3.8/dataweave-examples
`data transformation is an inevitable component of connectivity` https://blogs.mulesoft.com/dev/getting-started-with-dataweave-part-1/

[2017-04-13 02:07] deepakrkris opened #133 "Interceptors"
- [ ] Must be able to inject request/response interceptors for a Controller
[code]
- [ ] interceptors will be invoked in the order of declaration for the controller
- [ ] interceptor scripts must export a function with a specific signature
- [ ] An interceptor can modify the request/response, headers and body

[2017-04-13 04:26] #101 closed

[2017-04-13 04:27] ritch commented on #121
Let's move this discussion to another forum and focus this issue list on core design.

[2017-04-13 04:27] #121 closed

[2017-04-13 16:24] doublemarked commented on #110
Hey sounds great, looking forward to participating.

[2017-04-13 16:54] karthicktv commented on #110
Thanks; would be delighted to participate

[2017-04-13 17:02] bajtos opened #135 "Router cleanup"
The current implementation of SwaggerRouter is rather messy, I'd like to clean it up before adding any new functionality.

  - Decompose SwaggerRouter class into small functions that can be composed in various ways, this should eventually allow us to implement ideas in https://github.com/strongloop/loopback-next/issues/113 - Let's do this as part of the work on decomposition.
 - [ ] Move code and

[2017-04-13 17:03] carlosroec commented on #110
Hi @ritch, looking forward to be part of this group!

[2017-04-13 17:07] bajtos commented on #130
I think we need to setup Travis CI and AppVeyor integration first?

[2017-04-13 17:25] superkhau opened #136 "Express-middleware compatibility"
- [ ] Spike #137
- [ ] Implementation #138

[2017-04-13 17:32] jcurlier commented on #110
Hi @ritch would love to participate

[2017-04-13 18:00] deepakrkris opened #137 "Spike: Build Authentication package to use Passport Strategies"
The goal is to use the Passport strategy, not the Passport package itself.

- [X] We have to implement the equivalent strategy API for use in LBn
- [x] We have to build our own Passport -- how can we reuse passport strageties in LBn

Timeboxed to: 4 points

[2017-04-13 18:04] deepakrkris opened #138 "Build Authentication package to use Passport Strategies"
Implementation of https://github.com/strongloop/loopback-next/tree/master/packages/authentication

- [x] Implement our version of passport.authenticate to authenticate incoming requests
- [x] implement our version of passport.initialize

[2017-04-13 18:20] superkhau commented on #137
Timebox to 5.

[2017-04-13 18:35] ritch opened #139 "Context State and Hookless hooking"
@simonho @raymond @miroslav

I have a proposal for hooks that re-uses our existing declare context bindings approach.

[code]

The way this works is that you can ensure some state has already occurred, but not define a specific order of execution. Which gives you the benefits of koa without the middleware execution order dependency.

[2017-04-13 19:04] #102 closed

[2017-04-13 19:09] ritch commented on #139
Here is an example using this approach to implement a logger

[code]

[2017-04-13 19:45] superkhau opened #140 "Router V1"
Closes #99

- [x] Support all parameter sources https://github.com/strongloop/loopback-next/issues/99 @miroslav

[2017-04-13 20:22] jesperbruunhansen commented on #110
Hi @ritch, I would like to contribute as well!

[2017-04-13 20:42] #2 closed

[2017-04-13 21:04] jesperbruunhansen opened #141 "Object-level ACL's"
I would like to see an even more advanced ACL implementation in Loopback.next, that supports ACL's on a object-level.

LB v.2/3 has great ways of applying ACL's to an entire model and it's methods, but in many use-cases I want objects/instances only to be accessible to specific users, which has been explicitly granted permission by the client upon creation (pending issue at Loopback repo [here](ht

[2017-04-13 21:27] jcurlier commented on #141
+1

[2017-04-14 01:26] superkhau commented on #130
@bajtos Yup, just adding this to the backburner. ;)

[2017-04-14 01:46] superkhau opened #142 "@inject support for ctor args"
_From @ritch on April 13, 2017 17:31_

See https://github.com/strongloop/loopback-next/blob/master/packages/loopback/lib/application.ts#L20

My basic impl idea:

 - [x] implementing `inject(binding)(arg)`
 - [x] setting metadata using `Reflect.setMetadata()`
 - [x] invoking `new ctor()` by `ctro.apply(ctor, injectedArgs`
 - [x] create `injectedArgs` array from `Reflect.getMetadata(ctor)`

_Copied

[2017-04-14 01:50] superkhau opened #143 "Order Independent Binding Resolution"
[Proposal discussion](https://github.com/strongloop/loopback-next/issues/139)

As a ext dev, I should be able to get any value (eg. start time, end time, response status), regardless of WHEN these values are set.

[code]

- [ ] Finalize design
- [ ] Acceptance tests
- [ ] Basic impl for hard use cases (eg. res.status, res.time)
- [ ] Update loopback-next-example
- [ ] Update Docs

[2017-04-14 02:03] superkhau opened #144 "API reference docs"

[2017-04-14 02:04] superkhau opened #145 "Example of Authentication Package"
As a user of the example app, I should be able to follow the example so that I can enable authentication in my app.

[See this example for details.](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/test/acceptance/authentication/feature.md)

- [x] Bind Authentication username/password to the app #151 @rashmi
- [x] End-to-end example of everything working together (in

[2017-04-14 02:04] superkhau opened #146 "JavaScript and TypeScript Support"

[2017-04-14 02:05] superkhau opened #147 "Define how JavaScript will continue to work"

[2017-04-14 02:07] superkhau opened #148 "Some Example Porting from Express to LoopBack.next"
(eg. morgan)

[2017-04-14 02:30] superkhau opened #149 "Acceptance Test for Decomposed Sequence"
_From @ritch on April 13, 2017 17:39_

@bajtos lets get on the same page for the following:

 - overriding params
 - augmenting the response / result
 - customizing which router method is invoked
 - url rewriting

and capture it as an acceptance test together.

_Copied from original issue: strongloop-internal/scrum-asteroid#97_

Related: #113

[2017-04-14 02:30] superkhau opened #150 "@authenticate implementation"
Closes #99, closes #100, closes #95

As a user, I should be able to specify which controller methods require authentication via `@authenticate`.

- [x] Spike into learning how to create decorators (annotations) in TypeScript and Reflect.get/setMetadata (timebox to 2 hours)
  - [x] @mpatsute strongloop-internal/scrum-asteroid/issues/99
  - [x] @siddhi strongloop-internal/scrum-asteroid/issues/100
-

[2017-04-14 02:31] superkhau opened #151 "username/password Authentication Bindings"
As a user of the authentication package, I should be able to get the username and password provided by the client, so that I can lookup user data and verify passwords.

- [x] Determine how to get username/password from [passport strategy](https://github.com/jaredhanson/passport-http/blob/master/lib/passport-http/strategies/basic.js)
- [x] Impl `authentication.credentials.username` binding using pa

[2017-04-14 02:32] superkhau opened #152 "Registering Components"
- [ ] Acceptance tests / criteria
- [ ] Docs
- [ ] Will we go with @app.bind vs @bind?
- [ ] Will we use `app.controller()` and `app.binding()` style or some generic version eg. `app.extension()`?
- [ ] impl

_From @ritch on April 13, 2017 17:47_

As an extension developer I should be able to write components (extensions) in a way that is discoverable / register-able by an application developer.

[2017-04-14 04:55] rajivramv commented on #110
Greetings@ritch
Been working for a commercial mBaaS and strongly feel the tech should be FOSS. Excited to be part of this community!

[2017-04-17 17:36] superkhau commented on #99
@bajtos Can you land this before sprint planning tomorrow?

[2017-04-17 17:43] ritch commented on #104
how is this blocked?

[2017-04-17 18:00] siddhipai opened #153 "Error in npm test"
When I `npm test` I get an error in `https://github.com/strongloop/loopback-next/blob/master/packages/loopback/lib/router/SwaggerRouter.ts` which says:

[code]

[2017-04-17 18:20] rmg commented on #153
This appears to have been introduced in #123.

[2017-04-17 18:21] rmg commented on #153
BTW, #123 failed on CI with the same error as seen here.

[2017-04-17 20:22] #140 closed

[2017-04-17 20:26] ritch opened #155 "Authentication Package"
Closes #136, closes #142, closes #150, closes #145, closes strongloop-internal/scrum-asteroid#164, closes strongloop-internal/scrum-asteroid#165, closes strongloop-internal/scrum-asteroid#166, closes #270, closes #271, closes #272, closes #273, closes #274, closes #275, closes #276

Support basic auth via pluggable Passport strategies

  - [x] Add authentication to example #145 @rashmihunt
- [x] E

[2017-04-17 20:52] ritch commented on #138
@deepakrkris - lets chat about this - you don't need `passport.initialize`

[2017-04-17 21:02] rashmihunt commented on #151
closing as  strongloop-internal/scrum-asteroid#91 existed and this is a duplicate

[2017-04-17 21:19] ritch opened #156 "Document Built In Bindings (Reserved Binding Keys)"
As a user, I want to be able to inject basic metadata provided by the core framework, so that I can build extensions and applications that don't worry about low level details.

- [ ] [Come up with list of initial bindings](https://github.com/strongloop/loopback-next/issues/157)
- [ ] [Decomposed Router Design](https://github.com/strongloop/loopback-next/issues/149)
- [ ] [Order Independent Binding

[2017-04-17 21:21] ritch opened #157 "Come up with a basic list of builtin bindings"
- [x] Sync up with stakeholders (@bajtos @superkhau @raymondfeng) to come up with a list of bindings @ritch
- [x] Where to doc the bindings (wiki, etc) @superkhau

[2017-04-17 21:33] raymondfeng commented on #138
Per passport docs and my experience:

[2017-04-17 21:45] raymondfeng commented on #156
IMO, not controllers but also other artifacts, including extensions, should be able to receive injection from `ctx`. Is it possible to bind `ctx.*` to `app` so that `@inject('req.url')` and `@inject('res')` can work out of box?

[2017-04-17 21:59] ritch commented on #150
The tricky part about this implementation is that it will determine whether or not the controller method will be invoked...

Also keep in mind that...
`@authenticate` will ONLY add some metadata to a controller method that it should be authenticated.... when we (router, core, etc) goes to execute the controller method, it should first check if authentication is required and only execute the method

[2017-04-17 22:00] ritch commented on #150
The implementation of `@authenticate` will be trivial AFAICT:

[code]

[2017-04-17 22:06] ritch commented on #150
[code]

[2017-04-17 22:08] ritch commented on #150
Basic implementation of the meaty parts:

[code]

[2017-04-17 22:15] ritch commented on #150
Only thing missing here is that the `Router` has no idea about `authentication.authenticated`

[2017-04-17 22:18] ritch commented on #151
@rashmihunt look into https://github.com/jaredhanson/passport-strategy and determine if we can bind `authentication.password`.

[2017-04-17 22:22] ritch opened #158 "Travis Setup"
Lets get setup w/ travis... just so it runs `npm test`.

[2017-04-17 22:26] ritch opened #159 "TypeScript to JavaScript Build"
Concerns:

 - we can't keep using `ts-node` it is inconsistent with the `tsc` output
 - dev experience of LB apps shouldn't suffer because of build step
 - we should run our tests against the production grade build (eg. tsc output)

Depends on #158

- [x] Try compiling + publishing with one simple package first (@loopback/testlab)
  - [x] `npm run build` should output to `lib/*` via `tsc`
  - http

[2017-04-17 22:26] ritch commented on #159
@bajtos @superkhau can help with this

[2017-04-17 23:14] ritch commented on #138
@raymondfeng we are implementing the equiv. of `passport.initialize()` / `passport.authenticate()` and just using `strategy.authenticate()`...

Here's a somewhat complete set of stubs we need to implement:

[code]

[2017-04-17 23:20] ritch opened #160 "Test other Passport Strategies"
The initial implementation of https://github.com/strongloop/loopback-next/tree/master/packages/authentication

will only test basic auth... this story represents the testing/impl for other strategies (More generic impl).

[2017-04-18 11:31] bajtos commented on #153
Fixed by #154

[2017-04-18 11:31] #153 closed

[2017-04-18 12:36] bajtos opened #164 "Fix build on Windows"
# Description/Steps to reproduce

[code]

# Expected result

`npm test` passes

# Additional information

See https://github.com/strongloop/loopback-next/pull/162, it's adding AppVeyor CI integration but fails the build because of this issue.

[2017-04-18 12:39] bajtos commented on #158
Done in #161

[2017-04-18 12:39] #158 closed

[2017-04-18 12:41] bajtos commented on #131
I am proposing a different approach:
1. Setup Coveralls integration, configure Travis CI jobs to report to Coveralls
2. Let Coveralls to add the badge to our README (they have UI for that)

[2017-04-18 12:41] jonathanfoster commented on #110
Hey @ritch, I've been using Loopback on a project and I love it. I'm looking forward to contributing to next.

[2017-04-18 12:42] bajtos commented on #130
The build is passing on Travis (see #161), we are not passing on Windows yet (see #162 and #164).

[2017-04-18 14:15] bajtos commented on #112
My main concern is how the proposed `app.*` decorator design work with 3rd party components that want to use decorators too (e.g. to contribute a Controller)? I think `app.*` decorators are also creating a dependency cycle - an app requires some controllers, and each controller requires the `app` to actually register itself via decorators.

What I would like to see is a small module providing Loop

[2017-04-18 14:36] bajtos commented on #159
I am proposing the following setup:

 - `src/` contains original TypeScript sources
 - `lib/` contains transpiled output targeting es2017 (Node 7, 8 and newer).
  The idea is to get the benefits of native async/await on platforms that support it.
 - `lib-es6/` or perhaps `lib6` or `lib2015`contains tranpiled output targeting ES6/ES2015 (Node 6).
  The idea is to keep support for people building lo

[2017-04-18 14:37] bajtos commented on #99
Landed :)

[2017-04-18 14:37] #99 closed

[2017-04-18 15:16] jonathan-casarrubias commented on #112
Hey guys, I'm glad this discussion is taking place... I had the feeling for a long time that the LB2/3 Models were old and needed a much better interface, I tried to solve that using the model decorator within FireLoop, but I was only trying to make a better interface of the current model approach.

Also, I always had the feeling that the controllers were an important missing part of the framework

[2017-04-18 17:05] bajtos commented on #135
Scoped to 1 story point for Sprint 34.

[2017-04-18 17:12] bajtos opened #165 "Format the code using prettier"
I'd like to open a discussion about the coding style we using in LoopBack Next and more specifically, about automatically formatting all our source code using Prettier.

- Why Prettier: http://jlongster.com/A-Prettier-Formatter

- 1.0 announcement: http://jlongster.com/prettier-1.0

- Issue tracking TypeScript support: https://github.com/prettier/prettier/issues/13

~~Yes, I do realise Prettier do

[2017-04-18 17:41] superkhau opened #166 "Rejecting unauthenticated requests"
- [ ] Implementation of `app.bind('authentication.authenticated')` (might overlap with what @deepakrkris is working on)
- [ ] Request needs to be rejected when it's not authenticated and authentication is required
  - `app.get('authentication.authenticated')` needs to be used in the router

[2017-04-18 17:46] superkhau opened #167 "Spike: TypeScript to JavaScript Build"
- [x] Sync up with @ritch to figure out details of the spike (ie. gulp, etc)

[2017-04-18 22:59] rashmihunt opened #168 "Fix instruction in loopback Readme"
Needs to first run 'lerna init' before 'lerna bootstrap' command.  Add this to readme in this section
[code]

[code]

[2017-04-18 23:52] superkhau opened #170 "Getting started - Installation section content"
- [x] Create installation wiki section
- [x] Add expected install experience + contents
- [ ] Review with @crandmck to get some feedback
- [ ] Create issue for @crandmck to migrate page based on content

[2017-04-19 01:02] superkhau opened #171 "Migrate Installation wiki to loopback.io"
- [ ] Review wiki contents at https://github.com/strongloop/loopback-next/wiki/Installation and update with any suggested changes
- [ ] Migrate wiki contents to loopback.io
- [ ] Update wiki contents with a link pointing to the new page at loopback.io
  - ie. See https://loopback.io/en/lb4/installation
  - Delete the old content on the wiki page after adding the link

[2017-04-19 01:07] #170 closed

[2017-04-19 01:25] superkhau opened #172 "Clean up wiki sidebar"
Clean up the wiki sidebar to be presentable.

- [x] Remove/move/hide all broken links
- [x] Fix important references

[2017-04-19 02:06] superkhau opened #173 "Aggregate split data in wiki"
- [x] Remove all unused pages in the wiki
- [x] Move useful data into relevant pages

[2017-04-19 02:07] #172 closed

[2017-04-19 07:18] bajtos opened #174 "Shared tslint and tsconfig"
In the spirit of `eslint-config-loopback`, we should move our tsc and tslint configuration to a shared package that can be used by other LoopBack.next projects, e.g. loopback-next-example.

cc @ritch @superkhau

[2017-04-19 13:45] bajtos commented on #92
Closing as a duplicate of #159

[2017-04-19 13:45] #92 closed

[2017-04-19 13:45] bajtos commented on #159
Quoting from https://github.com/strongloop/loopback-next/issues/92:

In order to continually verify the correctness of this setup, a simple end-to-end test written in pure javascript should be included.

[2017-04-19 13:50] bajtos commented on #141
Hi @jesperbruunhansen, thank you for opening this issue. Object/instance-level ACLs make a lot of sense to me. I think this is one of the reasons we decided for a complete rewrite in loopback.next - adding generic object/instance-level ACLs was simply too difficult in the old codebase.

@ritch @raymondfeng @superkhau what's your opinion?

Offer accepted :)

Right now, we are trying to figure out h

[2017-04-19 14:05] bajtos commented on #139
I had to re-read the proposal several times to understand it. I think it may work, although I am concerned whether an average LoopBack user will be able to understand this mechanism.

Let's consider an example where the user makes an error and accidentally calls the `log` function before the response is written, and what's even worse, they `await` the result, because that's seemingly consistent wi

[2017-04-19 14:15] jesperbruunhansen commented on #141
Hi @bajtos, and thank you for your explanation.

Sure of course, let me know when the time is right and I'll see where I can help!

[2017-04-19 15:16] raymondfeng commented on #139
My understanding of @ritch's proposal is to use `@inject` to express fine-grained events/dependencies, which will be further used to determine the execution order. The proposal also use `bind` to associate triggers to such events (fulfillment of dependencies). It's a nice idea but might not be very practical for the following reasons:

1. Fully describing the fine-grained dependencies is hard.
2.

[2017-04-19 16:13] ritch opened #178 "Rename `loopback/ioc`"
I'm proposing we name it:

to `loopback/context`

...but lets move forward - and not let the name slow us down.

[2017-04-19 16:23] #168 closed

[2017-04-19 16:34] rmg commented on #11
Based on the current implementation using `http` directly, it appears the answer is **neither**. Close?

[2017-04-19 16:38] ritch commented on #110
Here is the list so far:

- @ritch
- @superkhau
- @raymondfeng
- @bajtos
- @deepakrkris
- @crandmck
- @mpatsute
- @rashmihunt
- @jannyHou
- @davidcheung
- @loay
- @0candy
- @kjdelisle
- @jonathan-casarrubias
- @doublemarked
- @karthicktv
- @carlosroec
- @jcurlier
- @jesperbruunhansen
- @rajivramv
- @jonathanfoster

[2017-04-19 16:42] ritch commented on #110
To ping everyone on the list you can now use:

@loopback.next

[2017-04-19 16:44] ritch commented on #110
You can now @mention everyone on this list with:

@strongloop/loopback-next

[2017-04-19 16:48] rmg opened #179 "Pre-release prep/cleanup"
Should the top-level package be marked as `private` so that it can't be accidentally published?

* [x] check that all sub-packages are private if needed (eg. `example-codehub`)
* [x] remove placeholder packages (eg. `@loopback/remoting`, `@loopback/juggler`)
* [ ] ensure all packages have a (minimal) README following https://loopback.io/doc/en/contrib/README-guidelines.html
* [x] consider renaming

[2017-04-19 17:45] ritch commented on #11
For now we are using Node.js http server directly. I think we can build a much better framework if we unshackle ourselves from Express and instead build our own lightweight extensible core.

[2017-04-19 19:21] superkhau commented on #141
@bajtos 100% agree with Object/instance ACLs and even model property ACLs.

[2017-04-19 19:27] superkhau commented on #11
I agree with @rmg, we should close this until some actionable items on Koa/Express come up.

[2017-04-19 19:37] #173 closed

[2017-04-19 20:18] superkhau commented on #174
Any ideas for the name of the package? Does tslint provide conventions like http://eslint.org/docs/user-guide/configuring#using-a-shareable-configuration-package?

[2017-04-19 21:39] #11 closed

[2017-04-19 22:29] raymondfeng opened #180 "Express/Koa compatibility"
# Description/Steps to reproduce

LoopBack.next is built with Node core `http`/`https` modules. To leverage the ecosystem around Express/Koa, we need to have a compatibility story to cover the following perspectives:

1. API level (req/res/app/...)
2. Middleware

# Expected result

# Additional information

See https://github.com/strongloop/loopback-next/issues/11

[2017-04-20 07:03] bajtos commented on #178
https://github.com/strongloop/loopback-next/pull/175#issuecomment-295326898

`@loopback/context` should be the name

It should export

[code]

[2017-04-20 07:41] bajtos commented on #179
Yes please 👍 ✖️ 💯

[2017-04-20 07:49] bajtos commented on #174
**I am proposing `@loopback/tsling-config`**

tslint does provide conventions for sharing rules, see [sharable-configuration-rules](https://palantir.github.io/tslint/2016/03/31/sharable-configurations-rules.html). In the post, they are using `shared-tslint-rules` as the project name. Other people seem to use `tslint-config-{name}`, see e.g.

 - https://www.npmjs.com/package/tslint-config-olo
 - ht

[2017-04-20 07:52] bajtos opened #181 "openapi-v3-types module: add basic tests"
Add basic tests to verify that example OpenAPI v3 documents and Swagger documents (via converter) can be compiled against the type definition. Create test infrastructure that makes it easy to add focused tests in the future.

This is a follow-up issue for #177.

## Acceptance Criteria
- [x] Add validation test for OpenAPI v3 document
- [ ] Add validation test for Swagger document (converted from v

[2017-04-20 07:53] bajtos opened #182 "openapi-spec: support the upcoming 3.0 flavour of OpenAPI Spec"
This is a follow-up issue for #177, it may be a duplicate of #753

[2017-04-20 08:31] bajtos commented on #178
In order to prevent merge conflicts and code churn, I'd like to get the foundation right before making changes in this module. Let's get the rename done right now - see #183.

The module is already exporting `class Context`, no change needed there.

IMO, adding `interface Container` is an incremental change that can be deferred until we have a need for such interface, let's leave it out of scope o

[2017-04-20 08:33] bajtos commented on #179
Added one more task:

[2017-04-20 08:33] bajtos commented on #178
Done via #183.

[2017-04-20 08:33] #178 closed

[2017-04-20 13:06] bajtos commented on #139
I like that idea too. I think your sentence is nicely describing the high-level goal 🎯

[2017-04-20 18:57] superkhau opened #185 "Migrate wiki content to loopback.io"
- [x] Migrate contents at https://github.com/strongloop/loopback-next/wiki/ to loopback.io
- [x] Edit and reformat as necessary
- [x] Replace wiki content with links to loopback.io.

[2017-04-20 19:25] superkhau commented on #174
Prettier looks nice, I like the philosophy. +1

I'm fine with @loopback/tsling-config.

Using some ESLint rules is fine, we can address those when they actually come up IMO.

[2017-04-20 20:08] superkhau commented on #103
Blocked until I can set up meeting with @ritch for first run (and then confirm with @raymondfeng @bajtos during next LBn sync up)

[2017-04-20 21:31] deepakrkris opened #186 "Authentication: Invoking passport strategy from router"
from the post by Ritchie in slack:
[code]

[2017-04-20 21:33] deepakrkris commented on #186
Miroslav's reply in slack:
[code]

Let's not make the code worse than it already is please.
[code]

[2017-04-21 03:36] jeetendra-choudhary commented on #110
Hello @ritch, I'd like to be added to the LoopBack.next contributors list.

[2017-04-21 08:42] bajtos commented on #142
Done.

[2017-04-21 08:42] #142 closed

[2017-04-21 14:11] bajtos commented on #186
The first step: Add per-request child context  - https://github.com/strongloop/loopback-next/pull/188

A PoC for the second step can be found here: https://github.com/strongloop/loopback-next/tree/poc/context-propagation

[2017-04-21 18:32] superkhau opened #189 "New LoopBack introduction image/logo"
# Depends on

- [x] Confirm with OM to make sure it is ok to have a replacement logo @ritch
  - If not, we still want a fresh image using the old logo, update @sichao once more is fleshed out

---

- [ ] Check with @sichao/@ritch to see logo is done
  - ~05/15
- [ ] Figure out a place to store the logo (most likely `docs/img` in LBn repo)
- [ ] Update first section of README with logo
- [ ] Update

[2017-04-21 18:32] #129 closed

[2017-04-21 20:01] deepakrkris opened #191 "Spike: Use express constructs / enable express shimming for Authentication"
- [ ] Use of passport-strategy's with dependence on Express request, response constructs
    Confirm:
    - [ ] `request.session`
    - [ ] `response.json`
    - [ ] `response.send`
    - [ ] `response.type`
- [ ] Shim/inject express dependencies without using express request/response/middleware

[2017-04-21 20:04] #137 closed

[2017-04-22 01:12] superkhau commented on #103
Still blocked, managed to get single sentence summary descriptions though. Will try to get some agreement on terminology and a first draft of the diagram from @raymond/@ritch.

[2017-04-22 13:34] jonathan-casarrubias commented on #103
@superkhau I just want to be entirely sure about the architecture diagram, so I need to ask a question.

Since I don't see the `component` concept anymore, I'm assuming that within the dynamic bindings section there is an `extension` artifact, Is that the way we are going to extend the framework?

If so, I would like to see an example of it as soon as possible, I still haven't see a unit test for

[2017-04-22 13:43] jonathan-casarrubias commented on #139
@ritch I really like your idea, is just clean and extensible... That way we don't entirely depend on you supporting your own provided hooks/states, so if I'm correctly understanding we would be able to create our own states and bind these custom states, inject these in our controller methods and execute in the part we desire.

That would be pretty cool, I did read it a couple of times also to unde

[2017-04-22 17:57] raymondfeng commented on #139
@ritch If I remove all the syntax sugars, your proposal becomes much simpler to understand:

1. Bindings:
[code]

2. Dependencies
[code]

There are a few issues in your original example:
1. TS decorators cannot be applied to regular functions/variable declarations
2. `res.time` has interesting async dependencies. It is first triggered by `state.accepted`, then it has to await `state.finished` to r

[2017-04-24 05:17] raymondfeng commented on #139
Furthermore, relations between participants of the request processing can be expressed in one of the following forms:

1. Dependency graph
   - direct: `A` depends on `B`
   - indirect: For example, `A` consumes `x`, which is produced by `B`.
2. State machine (`S0` --> B --> `S1` --> A --> `S2`)
3. Rules engine (`R0` --> B, `R1` --> A)
4. Flow engine (`B` then `A`)

[2017-04-24 17:19] superkhau commented on #103
@jonathan-casarrubias The picture is out of date. We are working on the extensibility story this sprint actually, so you'll see something probably by the end of the week.

TLDR, you're going to be able to "hook" into the framework via special keywords + binding into the context. It's too early to provide you anything now, but keep an eye on some releated issues:

- https://github.com/strongloop/lo

[2017-04-24 17:32] jonathan-casarrubias commented on #103
@superkhau thanks for your response, I will subscribe to these related issues: I'm expecting to be one of the very first devs to extend the framework so I'll be looking forward these functionalities.

Cheers!
Jon

[2017-04-24 17:41] superkhau commented on #103
@jonathan-casarrubias Wonderful, I'll ping you as soon as we get something basic in. You can help us dogfood the API to make sure it fits the various use cases of your current component set.

[2017-04-24 20:47] #167 closed

[2017-04-24 20:53] superkhau opened #194 "Automate per-commit publishing"
**ONLY for alpha releases, only changes last number (v4.0.0-alpha.*)**

When code lands on master, auto-publish all modules to NPM via a script.

Alpha + beta releases will be continuous deployment off master branch. Once we 4.0.0, we switch to push button deploy.

[2017-04-24 22:23] deepakrkris opened #196 "Shim loopback-next for authentication with express functions"
- [ ] Shim loopback-next for our passport.authenticate to do response.redirect
- [ ] Shim loopback-next for our passport.authenticate to do response.send
- [ ] create passport strategy adapter to get user data as verification callback

[2017-04-24 23:44] superkhau opened #197 "Update Component construct in wiki"
- Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Component

[2017-04-24 23:45] superkhau opened #198 "Update Application construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Application

[2017-04-24 23:46] superkhau opened #199 "Update Context construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Context

[2017-04-24 23:47] superkhau opened #200 "Update API specification construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/API-specification

[2017-04-24 23:47] superkhau opened #201 "Update Controller content in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Controller

[2017-04-24 23:48] superkhau opened #202 "Update Service content in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Service

[2017-04-24 23:49] superkhau opened #203 "Update Repository construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Repositories

[2017-04-24 23:49] superkhau opened #204 "Update Model construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Model

[2017-04-24 23:50] superkhau opened #205 "Update DataSource construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/DataSource

[2017-04-24 23:51] superkhau opened #206 "Update Connector construct in wiki"
- [ ] Finalize initial content at https://github.com/strongloop/loopback-next/wiki/Connector

[2017-04-24 23:54] superkhau opened #207 "Async tracing support to Juggler layer"
Add async tracing support/`ctx` propogation to the juggler layer so that `await repo.find()` also has reference to `ctx`.

## BLOCKED BY

 - https://github.com/strongloop/loopback-next/issues/537
 - https://github.com/strongloop/loopback-next/issues/209

[2017-04-25 00:14] superkhau commented on #103
Paired with @ritch to fill our the rest of https://github.com/strongloop/loopback-next/wiki/Overview -- it's good enough for now. Closing.

[2017-04-25 00:14] #103 closed

[2017-04-25 12:03] bajtos commented on #179
Added two more items:

[2017-04-25 12:38] bajtos opened #209 "context: Unique tracing id per context instance"
# Description/Steps to reproduce

See the discussion in #188

[2017-04-25 15:15] raymondfeng commented on #179
-1 to rename `@loopback/loopback` back to `loopback`.
+1 to use `@loopback/core`.

[2017-04-25 15:39] kesavkolla commented on #155
Is it possible to bring in external auth and authz models?  IMO integration with auth0 or key lock etc... should be accomodated easily

[2017-04-25 15:42] kesavkolla commented on #141
If you're doing ACL support at object level then extend it to field level also.  Similar to Salesforce data model where users have ability to define roles to field levels too.

[2017-04-25 18:45] ritch commented on #149
This is blocking the authentication package...

[code]

[2017-04-25 18:46] ritch commented on #149
Here is some notes from the spike:

[code]

[2017-04-25 19:16] ritch commented on #155
[code]

[2017-04-25 19:17] ritch commented on #155
@kesavkolla yep... once this is complete you'll be able to use `Auth0Strategy` from Passport.

[2017-04-25 19:36] kesavkolla commented on #209
support for opentracion would be really great.  In that case the context should be propagated to all layers like services and repositories.  That way we can co-relate all the requests together.

[2017-04-25 20:56] JonnyBGod commented on #110
Hi all, I am very interested in participating in the discussion and possibly do my contributions to @strongloop/loopback-next.

[2017-04-25 23:21] #7 closed

[2017-04-25 23:21] ritch commented on #7
https://github.com/strongloop-internal/scrum-asteroid/issues/125

[2017-04-25 23:23] ritch opened #214 "Extensibility of LoopBack Core through Dependency Injection"
https://github.com/strongloop/loopback-next/tree/master/packages/context/test/acceptance

[2017-04-25 23:26] ritch opened #215 "Customizing the Request Lifecycle"
Needs acceptance criteria.

Some basic acceptance in this issue: https://github.com/strongloop/loopback-next/issues/149

[2017-04-25 23:27] ritch opened #216 "Injecting Request and Response Metadata"

[2017-04-25 23:28] ritch opened #217 "OpenAPI Spec Driven Routing"
https://github.com/strongloop/loopback-next/blob/master/packages/loopback/test/acceptance/routing/routing.acceptance.ts

(needs updating for new lifecycle design)

[2017-04-25 23:30] ritch opened #218 "Extension Examples, Tutorials, Docs"
- [x] #523 We need a brief architectural guide explaining high-level ideas to extension developers, few diagrams to visualize the concepts (Raymond).

- [x] #524 A blog post (stakeholders: Raymond, Kevin, Tetsuo,... owner: Tetsuo). Promote the issue created by Kevin (call for extensions).

- [x] #525 `loopback-next-hello-extension` - a github project people can `git clone` and start developing a n

[2017-04-25 23:43] #147 closed

[2017-04-25 23:47] #216 closed

[2017-04-26 04:31] padelagani commented on #110
Hello @ritch, I'd like to be added to the LoopBack.next contributors list.

[2017-04-26 11:39] bajtos commented on #159
@superkhau your spike in #219 does not take into account what I proposed in my https://github.com/strongloop/loopback-next/issues/159#issuecomment-294864796.

Also your setup runs the transpiler only at prepublish time (which is run after `lerna bootstrap` too). I think that means the unit-tests in `testlab` will not pick up the changes made in `testlab`'s TS files.

I think we need to setup `tsc`

[2017-04-26 11:51] bajtos commented on #159
The idea is to get the benefits of native async/await on platforms that support it.

  The idea is to keep support for people building loopback-next applications on Node 6, which will be in LTS for the next year and then in Maintenance for another year. See [Node.js LTS schedule](https://raw.githubusercontent.com/nodejs/LTS/89730a8f9ada6e2b310566a02e3d9c5020745c28/schedule.png).

Let me emphasise

[2017-04-26 15:23] kesavkolla opened #222 "Facilitate communication between multiple (polyglot) microservices"
when developing microservices it's better to have complete disconnect from even code/repo structure. Let's say we've three microservices they should be able to develop independently on their own repo and be able to deploy on their own container. The communication between two different services should be pure API.  grpc has done some neat constructs around this. Can we get support for service-to-se

[2017-04-26 15:28] raymondfeng commented on #222
Check this out - https://github.com/strongloop/loopback-example-polyglot. We already have a grpc connector for LoopBack.

[2017-04-26 18:51] #132 closed

[2017-04-26 18:52] superkhau commented on #130
Added build passing badge for Travis.

[2017-04-26 18:52] #130 closed

[2017-04-26 19:15] superkhau commented on #23
Connect to https://github.com/strongloop/loopback-next/issues/189

[2017-04-26 19:16] superkhau commented on #13
Closing as the repo is open now, community can create their own issues.

[2017-04-26 19:16] #13 closed

[2017-04-26 19:16] superkhau commented on #4
Closing in favour of https://github.com/strongloop/loopback-next/wiki/Upcoming-Releases

[2017-04-26 19:16] #4 closed

[2017-04-26 19:33] superkhau commented on #159
@bajtos I only tried publishing to see if everything would work properly as part of the spike. I am now ready to make changes based on your suggestions.

1. I will compile for es2015
2. I will compile for 7+

Any ideas on what the root level index.js exports? Right now it's pointing at the 7+ version.

Out of scope for this issue. Although I do agree that we need some sort of watcher to recompile

[2017-04-26 19:41] superkhau commented on #159
You have to manually recompile for now via `npm run build`.

[2017-04-26 20:12] rashmihunt commented on #151
Results/findings

Determine how to get username/password from passport strategy

- I was able to use basic strategy(passport-http) and passport to authenticate loopback-example-facade accounts example end to end.
- Instead of passport, this code can use Deepak's wrapper, authenticate.ts from the PR or some other equivalent of this. This wrapper eliminates usage of 'passport 'module and also has ca

[2017-04-26 23:55] crandmck commented on #23
Might want to loop in Sumitha as well, since they are planning on using the green color scheme for the new GitHub/Jekyll-based strongloop.com site.  See https://strongloop.github.io/strongloop.com/ (this is the "staging site" very much under development until the domain name is switched over).

[2017-04-27 21:02] raymondfeng opened #228 "Allow scopes for bound dynamic values in IoC Container"
# Description/Steps to reproduce

When a dynamic value is bound to the container, there may be different scopes to use the same instance as follows:

1. Singleton: the bound service is completely stateless and no request dependency (for example, a utility such as password hashing) is needed. For optimal performance/memory footprint, we'll only create the instance once and reuse it within the same

[2017-04-27 22:21] #151 closed

[2017-04-27 22:23] superkhau commented on #149
- [ ] Acceptance test added to repo source code

@bajtos The above should the be the outcome of this spike (based on our discussion from LBn sync up this morning).

[2017-04-27 22:36] ritch opened #229 "need @inject support in toDynamicValue"
Spike: https://github.com/strongloop/loopback-next/issues/246

[2017-04-27 22:37] ritch opened #230 "OAuth2 Strategy support for the authentication package"

[2017-04-27 22:39] ritch opened #231 "Core binding for controllerClass : Constructor"

[2017-04-27 22:52] superkhau opened #232 "Design: Import/export bindings from a component"
Using bindings from a component in an app.

 - [ ] Acceptance test / example how to export bindings and import them into an `Application`

[2017-04-27 22:52] ritch opened #233 "Implement Lifecycle / Middleware based on Decomposed Router"

[2017-04-27 22:54] superkhau opened #234 "Import/export a binding in a component"

[2017-04-28 08:15] bajtos opened #237 "testlab: add helpers for testing HTTP servers"
- [x] Move code from `packages/loopback/test/support` to `packages/testlab`

- [x] Drop `Client` class in favour of [supertest](https://www.npmjs.com/package/supertest)

- [ ] Add helper APIs for setting up server + supertest:

  - [ ] Given a LoopBack app,  start it on an ephemeral port (`listen(0)`), wait until it's listening and then return a `supertest` instance pointing to this server. (This

[2017-04-28 08:18] #135 closed

[2017-04-28 08:55] bajtos opened #238 "Community support"

[2017-04-28 11:54] bajtos commented on #229
+1

Unfortunately, decorators like `@inject` can be applied only on class methods/ctors/arguments, not on standalone function. That's by design.

I am proposing a different API for injecting arguments to dynamic value factories:

[code]

Alternatively, we can create an overload of `toDynamicValue`. Unfortunately, TypeScript does not allow optional parameters before required ones, therefore the typ

[2017-04-28 14:02] bajtos commented on #228
FWIW, this can be already achieved by creating the singleton instance at binding time.

[code]

This is already available AFAICT.

[code]

This is an interesting use case. To support it, we need some mechanism allowing dependency consumers to release the resource after the operation has completed. Since the code using `@inject` should not be aware of how the dependencies are created (this is by de

[2017-04-28 15:14] raymondfeng commented on #228
@bajtos I guess the term `singleton` is a bit misleading. Maybe it should be called `context-singleton` scope: there is only one instance within the context.

Additionally, it's not ideal to pre-create the singleton and bind it to the context. Singleton instance should be able to leverage dependency injection too. For example:
[code]

[2017-04-28 15:47] raymondfeng commented on #229
Here is my proposal:

[code]

[2017-04-28 18:12] superkhau commented on #237
+1 and p1ing this as it will help with so many tests.

[2017-04-28 18:17] superkhau opened #240 "Publish working versions of all alpha packages"
Connect to #159

- [x] Mark codehub as private #242
- [x] @loopback/testlab #241
- [x] @loopback/core

## Acceptance criteria

[code]

Should work in https://github.com/strongloop/loopback-next-quick-start.
- PR at https://github.com/strongloop/loopback-next-quick-start/pull/2

[2017-04-28 18:19] #159 closed

[2017-04-28 19:59] deepakrkris commented on #155
since decorators for individual functions are not applicable, a slight change to the bindings will be required, like from `@bind function getAuthenticatedUser() {...`    to   `export class Bindings { @bind getAuthenticatedUser() {...`

[2017-04-28 21:28] deepakrkris opened #244 "Use decorators to register/bind Components and Extensions to the IOC container"
- [ ]  - use a `@Extension` decorator to register core extensions

[code]

- [ ]  - use a `@component` decorator to register any class with a namespace
[code]

- [ ]  - use a `@controller` decorator to  register a controller

[code]

- [ ]  - use a `@Repository` decorator to register a datasource

[code]

[2017-04-29 03:58] vishwasrao commented on #110
Hello, count me in as well

[2017-05-01 17:53] ritch commented on #166
`authentication.authenticated` is no longer required

and rejecting requests needs tests, the impl is just `throw` with a `err` that has a status code...

[2017-05-01 17:53] #166 closed

[2017-05-01 18:01] deepakrkris commented on #155
acceptance test from Ritchie:

[code]

[2017-05-01 18:09] ritch commented on #237
+1 for removing `request` blockers so we can user helpers... but we should have our own wrapper that is the equiv of supertest for lbn apps.

[2017-05-01 18:11] ritch commented on #237
I would change the approach to this:

instead we should do

[2017-05-01 18:26] ritch commented on #229
[code]

The downside to providing a factory class per binding is the overhead for something that could otherwise be 3 lines of code...

[2017-05-01 18:28] ritch commented on #229
[code]

[2017-05-01 18:40] ritch opened #246 "Spike: Injecting ctx values into a binding resolver"
**Note: this has to work in both JS and TS.**

[code]

Lightweight (and JS?) version:

[code]

[2017-05-01 21:45] #231 closed

[2017-05-01 23:21] superkhau opened #247 "Research Typedoc vs strong-docs"
Research Typedoc support in strong-docs with @ritch.

[2017-05-01 23:33] superkhau opened #248 "Community support"

[2017-05-02 09:30] m3hari commented on #110
Hell from Ethiopia, Very eager to be in the contrbiuters list .

[2017-05-02 17:12] superkhau opened #250 "Make sure lerna publish works"
- [x] Use independent mode https://github.com/strongloop/loopback-next/pull/278
- [ ] Upgrade lerna to latest version (anything later than `beta.27`) because it doesn't honour `private: true` with the current version we're using (see https://github.com/lerna/lerna/issues/303)
- [x] Verify publishing

[2017-05-02 17:38] el-davo commented on #110
Dave from Ireland, Delighted to finally see you guys moving to typescript. Would be happy to help in any way i can

[2017-05-02 18:20] rpeterson commented on #110
Count me in

[2017-05-02 18:20] denneulin commented on #110
GraphQL ? Typescript ? Great choices ;) I would be very pleased to help you to build this great tool :D

[2017-05-02 19:37] jonathan-casarrubias commented on #240
Just a quick comment, why using @loopback/loopback as package, I would rather say @loopback/core is best, is more self explanatory and less redundant.

[code]

[2017-05-02 20:42] shairez commented on #110
would love to help

[2017-05-02 23:17] superkhau commented on #246
Pair programming session with @ritch has led to:

[code]

[2017-05-02 23:44] superkhau commented on #240
@jonathan-casarrubias @loopback/core renaming is happening and part of #179

[2017-05-03 00:40] superkhau commented on #240
I also agree, but these are minimal acceptance criteria to ensure backwards compat with JS since we're advocating both (ie. if it works with require, it'll work with TS import). I'll pass the suggestion along, TY. ;)

[2017-05-03 02:50] superkhau commented on #248
Wrong repo.

[2017-05-03 02:50] #248 closed

[2017-05-03 03:35] alireza-ahmadi commented on #110
I would be more than happy to participate

[2017-05-03 15:15] jonathan-casarrubias commented on #179
100% agree with @raymondfeng not to `loopback` thumbs up to `@loopback/core`

[2017-05-03 16:34] ritch opened #256 "Re-using models and connectors from LB3."
As a someone who is upgrading from LB3 to LB4 I should be able to

1. re-use all of my existing connectors without any code changes
1. re-use or auto-upgrade my existing datasource.json files
1. re-use auto-upgrade my existing model.json files

[2017-05-03 16:38] ritch opened #257 "Serverless support"
I should be able to run my loopback.next apps in the following contexts:

1. Inside an action within a serverless architecture (eg. whisk, lambda)
1. As a gateway to a serverless backend
1. An event provider

[2017-05-03 16:47] ritch commented on #110
@jeetendra-choudhary
@JonnyBGod
@padelagani
@vishwasrao
@m3hari
@el-davo
@rpeterson
@denneulin
@shairez
@alireza-ahmadi

# Welcome! 👋

[2017-05-03 17:03] jeetendra-choudhary commented on #110
@ritch Thank you!

[2017-05-03 18:02] raymondfeng opened #258 "Support various notations for bindings"
To bind a component to the container, there are two notations that we should support:

1. Bind to a path or hierarchical namespace, for example:
    - `ctx.bind('/models/customer', Customer)`
    - `ctx.bind(models:customer', Customer)`

2. Bind to a complex object, for example:
    - `ctx.bind('req', req)`
    - `ctx.bind('req.myAttr', 'myAttr')`
    - `@inject('req.url`)
    - `@inject('req')`

[2017-05-03 18:23] raymondfeng opened #259 "Allow interceptors to associate context"
The hierarchical context design allows a child context to be associated with the parent context to provide isolation, extension, and overriding. For example,

1. The request context is created per request with `app context` as its parent.
2. When the request is resolved to a controller, a controller context can be set up to be a child of the request context.
2. The request context can be further e

[2017-05-03 20:12] superkhau commented on #240
@jonathan-casarrubias I published it all, should work the way you're expecting. Can you help me review the [installation wiki](https://github.com/strongloop/loopback-next/wiki/Installation) and provide some feedback? ;)

[2017-05-03 20:14] jonathan-casarrubias commented on #240
@superkhau cool... Sure I'll check it right now and see how it works, I'll come up with any feedback I might have...

Cheers
Jon

[2017-05-03 20:16] jonathan-casarrubias commented on #240
Well first thing I can see is that you published the latests version under `@loopback/core` which is awesome, but the wiki is still referring to `@loopback/loopback`

[2017-05-03 20:32] superkhau commented on #240
@jonathan-casarrubias Haha, sorry I'm updating it as we speak. ;) Would you like to help edit? I think we'll need to unpublish @loopback/loopback

[2017-05-03 21:07] jonathan-casarrubias commented on #240
Sure @superkhau, if you give me access I can send a pull request for any conflict I find like this one

[2017-05-03 21:47] superkhau commented on #240
@jonathan-casarrubias Can you try sending a pull? I added loopback.next contributor perms.

[2017-05-03 21:56] superkhau commented on #240
Closing this issue as done.

[2017-05-03 21:56] #240 closed

[2017-05-03 23:32] superkhau opened #260 "Minimal README for published alpha packages"
Follow up for https://github.com/strongloop/loopback-next/issues/179.

The goal is to ensure all packages have a (minimal) README following https://loopback.io/doc/en/contrib/README-guidelines.html.

- [x] `@loopback/authentication` #482
- [x] `@loopback/context` #481
- [x] `@loopback/core` #480
- [x]  `@loopback/openapi-spec` #478
- [x]   `@loopback/openapi-spec-builder` #478
- [x] `@loopback/rep

[2017-05-03 23:35] superkhau opened #261 "Add next tag to publishConfig for alpha packages"
Follow up for #179

Consider adding `"publishConfig": { "tag": "next" }` to `package.json` of all published modules.

- [ ] @loopback/core
- [ ] @loopback/context
- [ ] @loopback/openapi-spec
- [ ] @loopback/openapi-spec-builder
- [ ] @loopback/testlab

[2017-05-03 23:36] superkhau commented on #179
Everything in this list is done:

Follow up issues:

- Minimal READMEs at https://github.com/strongloop/loopback-next/issues/260
- `next` tags at https://github.com/strongloop/loopback-next/issues/261

[2017-05-03 23:36] #179 closed

[2017-05-04 09:13] bajtos opened #262 "Independent versioning of packages"
I am proposing to switch our monorepo into independent mode, where each package is versioned independently on each other. For example, I'd like `@testlab/loopback` to use versions `0.1.0` instead of `4.0.0-alpha.1`.

@raymondfeng @ritch @superkhau Thoughts?

[2017-05-04 09:18] bajtos opened #263 "Changelog"
We should start writing changelog to accompany each new release.

Depending on the outcome of #262, we may want this changelog to be per-package (e.g. `@loopback/testlab` vs `@loopback/context`) or a single global one.

In my experience, auto-generated changelog (as `slt-release` creates for us) has limited usability for package consumers because it's too brief.

I am proposing to start writing Ch

[2017-05-04 09:21] bajtos commented on #261
The `next` tag would be important only if we were publishing the main package as `loopback`. Now that everything is scoped and the main package is `@loopback/core`, I think it's actually better to use the default `latest` tag.

As far as I am concerned, this issue should be closed as invalid/rejected.

cc @superkhau

[2017-05-04 09:30] bajtos commented on #237
@ritch let's discuss. Why do you perfer superagent over supertest?

What I like about supertest is the addition of `.expect()` API, which makes it easier to write assertions in the tests.

Compare supertest-based code

[code]

with superagent based code

[code]

[2017-05-04 09:56] bajtos commented on #229
I am not a fan of requiring a Factory object either. I feel it goes against the spirit of JavaScript, where functions are first-class citizens.

Injecting dependencies at method level is tricky, I am still not convinced it's a good idea to start walking that path. Take `MyFooFactory` as an example: the factory instance is difficult to use outside of IoC container (`ctx`), because only part of `cre

[2017-05-04 10:41] M-jerez commented on #110
Hi @ritch  is this still open?
if you are still accepting contributors I would love to be added to the group.
I've done some work with loopback and next looks really interesting.
So please add me if it still possible!

[2017-05-04 12:47] #164 closed

[2017-05-04 13:00] bajtos commented on #164
The build was fixed by #264 (kudos to @el-davo), I have verified it by AppVeyor - see https://ci.appveyor.com/project/bajtos/loopback-next/build/1.0.6-enable-appveyor

[2017-05-04 15:03] pbouda commented on #110
Hi @ritch, I like to contribute to loopback-next.

[2017-05-04 22:10] superkhau commented on #262
I'm +1 for independent mode -- I manually published for now anyways so we're not publishing via lerna yet (have an issue to confirm that it works at https://github.com/strongloop/loopback-next/issues/250).

[2017-05-04 22:15] superkhau commented on #263
I'm on the fence -- I spoke to @rmg briefly regarding https://www.npmjs.com/package/standard-version for continuously deployment possibilities (basically you have to use a formatted git commit message which allows for auto deploying + changelog generation). @ritch wanted continuous deployment over push button deploy (discussions still up in the air). Anyways, some decisions we need to make:

1. Pu

[2017-05-04 22:16] superkhau commented on #194
Consider changelog implications at https://github.com/strongloop/loopback-next/issues/263

[2017-05-04 22:17] superkhau commented on #261
@bajtos :+1: Makes sense since we don't publish the main package at all. +1 for latest. Closing as rejected.

[2017-05-04 22:17] #261 closed

[2017-05-04 22:21] superkhau commented on #237
Do they both take Express `app`s? That makes it interesting because our `app` may not work OOB?

[2017-05-05 08:01] bajtos commented on #237
That's a good point. AFAICT, superagent does not provide any helpers for starting the server app, that's another addition provided by supertest.

And yes, supertest cannot start a LoopBack.next app, we need to provide our own helper for that. Fortunately, supertest accepts a base URL of an already running app, thus there is a way forward.

[code]

[2017-05-05 13:39] bajtos commented on #263
I slightly prefer push-button deploy over continuous deployment, because it allows us to land multiple incremental changes and publish a version only after the full feature is finished. With continuous deployment, I think we will need to use feature flags more often, in order to hide work that has landed on master (landed because we want continuous integration) but that's not complete and ready fo

[2017-05-05 13:42] bajtos commented on #194
I would personally prefer to switch to `0.x.y` versions for most (if not all) of our new packages. The only thing where `4.0.0-alpha.X` makes sense to me is `@loopback/core` as the top-level package people are going to install. But even there it feels to me more like a decision based on marketing rather than technical merit (since we are renaming `loopback` package to `@loopback/core`, I don't see

[2017-05-05 19:33] superkhau commented on #194
+1 for actually sticking to semver in non @loopback/core packages. I agree with you the only argument for keeping @loopback/core at 4.0.0-alpha.X is purely marketing.

[2017-05-05 19:42] superkhau commented on #263
I'm +1 for push button deploy for more control. Too many edge cases to work out with continuous deployment (or both if we want to only do it for simple repos like @loopback/testlab). Continuous deploy is also dangerous in that non-working versions may actually/continually go out, whereas we probably at least smoke tested the push button deploys.

Sounds like changelog is up for debate. I think we

[2017-05-05 20:02] onel0p3z commented on #110
Hello there! Count me in 👍

[2017-05-06 00:25] ritch opened #269 "Function Factory Providers (aka Binding) Issue"
@bajtos @superkhau

Consider this `Provider` (aka Binding)

[code]

...and this `Sequence`

[code]

This code will never run, but the authentication.user value function will. We need some way to ensure that only when `authenticate()` is called that we resolve the `authentication.user` binding.

[code]

[2017-05-06 00:35] superkhau commented on #269
I'm on the fence regarding keeping the simplicity of always returning values in the providers versus simply using a function (so `authenticate.required` doesn't get resolved immediately).

IMO, we should just return a function for now (to make it work) and see how it plays out after a few more component implementations to see if this scenario is more common than we think. We can make a decision on

[2017-05-08 16:26] superkhau opened #270 "Implement @injectSend"
- [ ] Send sequence method
- [ ] @injectSend()
- [ ] Tests

[2017-05-08 16:26] deepakrkris opened #271 "Create Binding for AuthenticationRequired check on controller methods"
- [ ] create class AuthenticationRequiredProvider (aka Binding)
- [ ] add method to check if authentication is required using the Controller method meta information
     - depends on class Meta #272
- [ ] Add unit test

[2017-05-08 16:28] deepakrkris opened #272 "Create Namespaced Reflect wrapper for metadata"
Description :
  - [ ] Add a Provider class to to @loopback/core
      -  class: Meta
      -  provider class to access Component metadata

Meta Class:
  - controller will be injected through the constructor
  - Provider method : value()
       - value() will return **all** metadata defined by decorators (eg. `@authenticate`, `@get`, etc)

Core Methods:
 - getMetaByName(name)
       get a meta by i

[2017-05-08 16:30] ritch opened #273 "Implement Sequence class"
See [the sandbox](https://github.com/strongloop/loopback-next-sandbox) for example usage of the `Sequence` class (name TBD).

[2017-05-08 16:32] superkhau opened #274 "Implement @injectReject"
- [ ] Reject sequence method @miroslav
- [ ] @injectReject()
- [ ] Tests

[2017-05-08 16:48] superkhau opened #275 "Implement @injectInvoke"
- [ ] class Invoke Provider (aka Binding) (invoke sequence method) @miroslav
  - [ ] @injectInvoke()
- [ ] Tests

[2017-05-08 16:50] superkhau opened #276 "Update AT in `package/authentication`"
- [x] Update acceptance test in `package/authentication` with `Sequence` (example impl in PR#249)

[2017-05-08 19:47] superkhau commented on #262
@bajtos I'm going to turn on independent mode for now, but leave the version number incrementing as 4.0.0-alpha.X until further discussion. I'll add a note for next LBn sync up.

[2017-05-08 21:34] superkhau commented on #262
Done via https://github.com/strongloop/loopback-next/pull/278

[2017-05-08 21:34] #262 closed

[2017-05-08 21:37] superkhau commented on #250
Turns out upgrading lerna doesn't fix it, created an issue at Lerna instead (https://github.com/lerna/lerna/issues/810).

TLDR from my publishing tests:

- Enter a dummy version (I used the same version) for private packages when running `lerna publish`
- The command publishes everything correctly, but you'll see some weird output in the console (like "successfully published private package" even

[2017-05-08 21:37] #250 closed

[2017-05-08 22:01] superkhau commented on #246
Output of spike at https://github.com/strongloop/loopback-next-sandbox, https://github.com/strongloop/loopback-next/pull/252, and https://github.com/strongloop/loopback-next/pull/249

[2017-05-08 22:01] #246 closed

[2017-05-09 22:43] superkhau opened #282 "Metadata on bindings and container traversal"
- What's the official container API to fetch the binding info
- Define the meaning behind the key hierarchy
- Corresponding APIs to traverse through the hierarchy (container.get('component') vs container.get('component/xyz', etc)
- Define namespace separator

Relevant issues:
- https://github.com/strongloop/loopback-next/issues/258
- https://github.com/strongloop/loopback-next/issues/461

[2017-05-10 15:44] raymondfeng commented on #232
See https://github.com/inversify/InversifyJS/blob/master/wiki/container_modules.md

[2017-05-10 15:48] raymondfeng commented on #282
For metadata associated with binding, we can possibly have:
[code]

[2017-05-10 18:10] superkhau opened #284 "Better way to register binding names for components/sequences"
In @loopback/core/src/Application.ts, we use:

[code]

to get the class name from the Array passed in the `AppConfig` options in the Application constructor.

The issue is `componentClassName.constructor.name` + `componentClassName.name` does not return the actual class name when it's part of the injected `appConfig` options.

The goal of this issue is to figure out a more elegant way to do this -

[2017-05-10 19:03] raymondfeng commented on #272
See https://github.com/strongloop/loopback-next/issues/282

[2017-05-11 17:06] #145 closed

[2017-05-11 17:07] rashmihunt commented on #145
PR - https://github.com/strongloop/loopback-next/pull/249

[2017-05-11 17:45] #247 closed

[2017-05-11 21:20] superkhau commented on #276
Acceptance is https://github.com/strongloop/loopback-next-sandbox.

[2017-05-11 21:20] #276 closed

[2017-05-11 22:10] rashmihunt commented on #104
This item is not ready to be worked on yet because,
- Depends on @mpatsute work item which is the tool to create API doc from type scripts in strong-doc tooling
- We don't have all the information regarding most important APIs

[2017-05-11 22:39] #232 closed

[2017-05-12 00:27] superkhau commented on #232
Initial impl on master: https://github.com/strongloop/loopback-next/blob/master/packages/core/src/application.ts#L18-L34

[2017-05-12 16:42] ganipadela commented on #110
Hello @ritch, I'd like to be added to the LoopBack.next contributors list.

[2017-05-14 16:38] raymondfeng opened #287 "Develop a script to migrate LoopBack 3.x apps to LoopBack Next"
We should explore the possibility to develop a script to help migrate existing LB apps to next:

See some frameworks such as:
https://github.com/facebook/jscodeshift

[2017-05-15 15:54] raymondfeng opened #288 "Versioning support"
There are a few concerns that we need to address to enable API versioning:

1. Define the strategy to allow client apps to express versioning requirement in the request:
    - As http headers for content negotiation
    - As part of client_id
    - As part of url, such as /api/v1/customers/

2. Have a step in the app sequence to introspect the versioning requirement and use it as a factor for cont

[2017-05-16 16:56] ritch commented on #272
@deepakrkris - I updated the description

[2017-05-18 16:45] raymondfeng opened #289 "Pluggable injector to handle custom injections"
At the moment, `@loopback/context` only supports `@inject` (or custom decorators implemented as syntax sugar to `@inject`) to express dependency injection.

More advanced decorators such as `@repository` will require the ability to contribute custom resolvers/injectors. For example:

[code]

During the dependency injection, LoopBack context should be able to look up a custom resolver/injector for

[2017-05-18 17:59] raymondfeng commented on #272
The Metadata Reflector should go into `@loopback/context`. Please also update existing references to `reflect-metadata` with the new class.

[2017-05-18 18:00] raymondfeng commented on #272
I suggest that we model it after https://github.com/rbuckton/reflect-metadata#api.

[2017-05-19 11:17] makara commented on #110
Hi @ritch. Thanks for the invitation and everything; I'd love to join the group.

[2017-05-22 15:23] bajtos commented on #269
Maybe `authentication.user` should behave like a property that's initially set to `undefined` or `null`, and the code implementing `this.authenticate` should change (rebind?) the value to the actual user.

My proposal may be easier to implement if `authentication` binding behaved like a real object.

[code]

The downside of the above code is that `authentication.user` bindings resolved before `thi

[2017-05-22 15:56] BostjanPisler commented on #110
@ritch 🙌

[2017-05-22 15:58] bajtos commented on #269
Let me rephrase my previous comment.

The idea is to treat `authentication.user` as a (mutable) reference type:
 - In the initial Dependency Injection phase, all classes and sequence steps get injected the reference.
 - `this.authenticate()` step changes the value the reference points to, from `undefined` to a user instance
 - Then the controller method is invoked. When it accesses `authentication

[2017-05-22 16:04] bajtos commented on #258
I would personally like to allow people to bind a full object like `request` and then inject a (deep) property of that object only:

[code]

In that light, it makes sense to reserve `.` character as reserved and disallow people to create bindings with names containing a dot.

I think it's a bad idea to allow people to re-bind only a property of an complex object, e.g. via `ctx.bind('http:request.u

[2017-05-22 16:06] raymondfeng commented on #269
I think activities (such as `authenticate`) in the request processing sequence should have the ability to bind new information into the context so that downstream steps can access them via the container.

[2017-05-22 16:18] raymondfeng commented on #258
@bajtos I agree that we should prohibit `bind` with a key that contains `.`. It then boils down to the following conventions:
[code]
We also need to define container APIs so that we find/get a collection of bindings for a given namespace. This way, we can leverage it to support extension points, for example, get all registered `before save` hooks for a given model.

Between `:` and `/`, I don't ha

[2017-05-24 00:54] deepakrkris opened #294 "Reflect Metadata API wrapper"
- [ ] A wrapper class with all methods of Reflect metadata
- [ ] Should be able to access an instance of a context/container
        `(this is dependent on a Context Factory implementation)`
- [ ] The class constructor should accept a container id

[code]
- [ ] use the container id to configure and retrieve container specific metadata
   `(this is dependent on a Metadata repository/storage within

[2017-05-24 08:46] bajtos commented on #237
Unfortunately, the `Application` class does not expose any API for starting a server, one has to create a `Server` and attach the app manually. Because of that, it's difficult to write a test helper for making requests to a generic LB.next app.

Since the primary goal of this task was to get rid of `core/test/support`, I am leaving the task of adding a helper for creating a client for an app for l

[2017-05-24 08:46] #237 closed

[2017-05-24 17:40] raymondfeng commented on #294
The `reflect-metadata` module has a generic decorator as follows:
[code]
For our wrapper, we can do:
[code]

[2017-05-25 12:34] bajtos opened #301 "Drop our openapi-spec packages, use openapi3-ts instead"
https://github.com/metadevpro/openapi3-ts looks more feature complete than our own openapi packages. Should we use openapi3-ts instead?

If we want to support both Swagger v2 and OpenAPI v3 then we probably cannot drop our packages, unless there is a replacement available.

UPDATE:

Looks like we have already dropped most of our custom type definitions. As of today ([0411811aa](https://github.com/

[2017-05-25 14:27] raymondfeng commented on #288
See https://github.com/lirantal/express-version-route

[2017-05-25 17:16] raymondfeng commented on #294
Based on my offline discussion with @deepakrkris, we think there are two cases:

1. Implementation of decorator functions that need to use `Reflect` APIs to add metadata to the target.

2. Services bound to the container that need to use `Reflect` APIs to retrieve metadata from the target.

Case 1 cannot access the scope for Reflect. As a consequence, I think we should start with a simple wrapper

[2017-05-25 22:31] ritch opened #303 "Testing Legacy Juggler Support"
- [x]  the legacy juggler branch merged
 - [x] use the new mechanism to integrate with the demo app (int testing)
 - [ ] improve test coverage for the `Repository`

[2017-05-25 22:37] rashmihunt opened #304 "Use Namespaced Reflect wrapper class in all the decorators"
- [ ]  modify @inject to use wrapper class
- [ ]  modify @controller to use wrapper class
- [ ]  modify @api to use wrapper class

[2017-05-25 22:40] rashmihunt opened #305 "End to end integration test for Authentication for Basic Strategy"
- [ ]  Write acceptance test to use Authentication package
 - [ ]  Create mock authentication service to authenticate test users
 - [ ]  Use Basic Strategy to authenticate user with a user id and passport

[2017-05-25 22:42] deepakrkris opened #306 "Update @authenticate decorator to use Namespaced Reflect wrapper class"
- [ ] update @authenticate decorator to use Namespaced Reflect class to insert metadata

[2017-05-25 23:00] #273 closed

[2017-05-25 23:02] deepakrkris opened #307 "Acceptance test for Authentication to use OAuth/JWT tokens"
- [ ] Write acceptance test to use Authentication package
- [ ] Create mock JWT/OAuth token generator http endpoint / service
- [ ] Use Passport-OAuth-Strategy or JWT Strategy to authenticate user with a token

[2017-05-25 23:04] deepakrkris commented on #307
cc @ritch @bajtos @raymondfeng

[2017-05-25 23:04] rashmihunt opened #308 "Decouple SwaggerRouter and end to end integration of sequence"
This story will
-  Remove the swagger router as glue code for router, parser, invoker, writer.
- End to end test case working for Sequence

[2017-05-26 00:58] rashmihunt commented on #308
1) Extension developer/user will implement MySequence class
[code]
2) Customer will bind the MySequence class as Class to their App
[code]
3) In current master code branch in server.ts, obtain the 'sequence' bound to app and start the sequence.
[code]
4) To resolve the problem where current router, parser, invoker, writer take specific args which are currently passed in from SwaggerRouter - One so

[2017-05-26 12:12] #238 closed

[2017-05-26 18:13] #272 closed

[2017-05-26 18:13] #138 closed

[2017-05-26 18:43] deepakrkris opened #313 "Load components and bind values to IOC container"
- [ ] loopback-core provides a component-loader which internally has a component-registry.
- [ ] components are loaded using a load() function or a config file
   `loader.load('Authentication', '@loopback/authentication')`
[code]
- [ ] on call of load() a bind() function in the component's index.ts is called. context is passed as the parameter
  `module.exports.bind = function (context) {
      ..

[2017-05-26 21:07] raymondfeng commented on #313
1. The Container/Context is the registry. We can add the following methods to the Container interface:
[code]

2. The component can be exported as follows:

[code]

Additional configuration can be added to package.json or loopback-component.json for discovery.

3. The `app` can load the component as follows:
[code]

[2017-05-26 21:16] deepakrkris commented on #313
@raymondfeng what if the app needs to refer to multiple authentication components like,
[code]
do we need to bind a component using a namespace ?

[2017-05-26 21:21] deepakrkris commented on #313
@raymondfeng if the component is exported using the same always like `Bundle` or `Component`
then we can have the following in a reusable code:
[code]

[2017-05-26 21:21] raymondfeng commented on #313
We can install components to the app.

To support declarative approach, the app can discover modules that has `component` signature (for example, `loopback-component` in package.json or loopback-component.json, TBD). The app can have `components.json` to list all components of interest if necessary.

The code above shows the MVP to register components by code. For example, we can do:
[code]

[2017-05-26 21:24] raymondfeng commented on #313
See https://code.visualstudio.com/docs/extensions/example-hello-world

[2017-05-29 12:34] bajtos commented on #149
We are still discussing what does it mean to have a decomposed router. The latest acceptance-level description can be found in [loopback-next-sandbox](https://github.com/strongloop/loopback-next-sandbox/blob/d4f351dd5190c1f54139cc7679983bce32a8453c/ts/src/application.ts).

[2017-05-29 12:35] bajtos commented on #308
[code]

FWIW, this is slightly different from the direction we agreed to take. The latest acceptance-level description can be found in [loopback-next-sandbox](https://github.com/strongloop/loopback-next-sandbox/blob/d4f351dd5190c1f54139cc7679983bce32a8453c/ts/src/application.ts).

[2017-05-30 01:41] superkhau commented on #258
* +1 for `:` and reserving `.`

+1, I think we should start simple and only go down that path if it becomes a commonly requested use case (IMO we could simply suggest rebinding the entire object again).

[2017-05-30 18:57] superkhau opened #319 "Application.component() : load a component with controllers and mvp (meta value providers)"
Updated as per discussions: (for details look below in this thread)

- [x]  Create an interface for Providers
- [x]  Method Binding.prototype.toProvider() to bind a provider
- [ ]  Method Application.component to load a component in the container/context

[2017-05-30 18:58] superkhau opened #320 "Community support"

[2017-05-30 18:59] ritch commented on #319
Basic impl:

[code]

[2017-05-30 19:16] superkhau opened #321 "Community support"

[2017-05-30 19:41] ritch commented on #319
Here's some tests that describe `Provider` (also see loopback-next-sandbox)

[code]

[2017-05-30 19:46] ritch commented on #319
We would also need `Binding.prototype.toProvider(provider: Provider)`

[2017-05-31 18:23] siddhipai commented on #321
https://github.com/strongloop/loopback/issues/3404

[2017-05-31 19:13] superkhau commented on #320
This issue was moved to strongloop-internal/scrum-asteroid#206

[2017-05-31 19:13] #320 closed

[2017-05-31 19:14] superkhau commented on #321
This issue was moved to strongloop-internal/scrum-asteroid#207

[2017-05-31 19:14] #321 closed

[2017-06-01 06:01] bajtos commented on #319
As I explained in https://github.com/strongloop/loopback-next/pull/323#pullrequestreview-41417945, I think the Provider class needs to support at least two semantics: "bind to value" (as proposed here) but also "bind to class constructor" (not supported). Considering that the `Binding` class already knows the key and how to provide the bound value, I am proposing that components should be exportin

[2017-06-01 06:14] bajtos commented on #165
An existing prettier alternative: https://github.com/vvakame/typescript-formatter

[2017-06-01 21:34] deepakrkris commented on #319
@bajtos your comments suggest the need of an `InstanceProvider` which could provide instances of a class. This way we could give support for singleton instances and per request instances
@raymondfeng @ritch @superkhau

[2017-06-01 21:39] deepakrkris commented on #319
I am suggesting a few changes to the design of the ValueProvider Interface as below
[code]
- [X]  given that static variables are not supported in interfaces change ValueProvider to an abstract class
- [X]  inject the provider key via the ValueProvider constructor as readonly
- [X]  provide the constructor arguments as a ProviderMeta class instance which has key as a readonly property.

[2017-06-02 00:50] deepakrkris commented on #319
per conversation with @raymondfeng , we dont need a `static key ` property in the provider. that would stand different from the toClass() implementation.
`ctx.bind('mykey').toProvider(provider)`
`ctx.bind('mykey').toClass(class)`

I suggest the following decorator approach
[code]

@ritch @raymondfeng @superkhau @bajtos

[2017-06-02 08:18] bajtos commented on #319
Here are the three use cases I think we need to support by our Provider API:

 1. As a component, I want to export a provider/binding that binds "log" to a constant value "msg => console.log(msg)".

    Here is how I would achieve that inside loopback core:

[code]

 2. As a component, I want to export a provider/binding that binds "now" to a value computed by a factory function "Date.now".

    H

[2017-06-02 15:42] raymondfeng commented on #319
@bajtos Good summary. I would like to add one more use case.

1. As a component, I want to export a provider/binding that binds "hello-with-timestamp" to a value that depends on `now` binding.

Here are a few ways I can achieve:
[code]
Or
[code]
Or
[code]

[2017-06-02 17:58] deepakrkris commented on #319
as suggested by @bajtos

the binding/provider implementation cannot reliably detect whether a function value is meant to be a value-to-be-returned, a getter function, or a class constructor that requires dependencies to be injected.

I agree with Raymond that the provider itself should not need to know its key, I think the same argument can be made for `Binding` class too.  Maybe its time to extra

[2017-06-03 01:17] deepakrkris commented on #319
following comments were suggested by @bajtos

 I agree with Raymond that the provider itself should not need to know its key, I think the same argument can be made for `Binding` class too.  Maybe its time to extract a small class out of `Binding`, something like the following:

( edited for clarity by Deepak)  @bajtos  please check
[code]

[2017-06-03 01:17] deepakrkris commented on #319
@bajtos  :
While we are speaking about this, let's discuss the "locked" and "tag" properties - how can components signal which exported bindings should be locked and how they should be tagged?

[2017-06-05 09:01] bajtos commented on #165
Prettier supports TypeScript now: https://github.com/prettier/prettier/releases/tag/1.4.0

[2017-06-05 13:59] bajtos commented on #319
@raymondfeng yes, that's a good one, it's something we need to implement in `Context` too.

I would personally change your first example a little bit:

[code]

I am thinking about the following signature(s) of `toDynamicFunction`:

[code]

My proposed API has one important feature: the compiler can verify that the number of injected values matches the number of factory-function arguments.

[code]

[2017-06-05 18:49] ritch opened #336 "findRoute() vs `http.matchedRoute`"
I think we should refactor findRoute() into a set of providers - allowing component devs to compose routes / matched route / etc into other components.

[code]

[2017-06-05 19:03] ritch commented on #319
The original intention of `Provider` was to implement this feature:

[code]

This syntax isn't possible since you can't decorate a `function`. So the minimal `Provider` interface was introduced, but we lost this main use case.

[code]

Once this was introduced, we piggy backed on the `Provider` concept to easily list / name / bind providers from a component: https://github.com/strongloop/loopback-

[2017-06-05 20:58] raymondfeng commented on #319
@bajtos Your proposal is similar as https://github.com/amdjs/amdjs-api/wiki/AMD#using-require-and-exports. I don't think we need to introduce another flavor of dependency injection though. I would rather stick with `@inject` and use a class as the wrapper.

[2017-06-06 14:47] bajtos commented on #319
Yes, it's similar to AMD and also to AngularJS 1.x

I am concerned that we are forcing people to use classes in places where a good old function would be enough. Compare how much code is needed by the class-based approach compared to the function-based I am advocating for:

[code]

At micro-optimization level, the class-based approach allocates an extra object instance, which can affect the perfor

[2017-06-06 15:28] ritch commented on #319
[code]

I'd prefer to focus on this syntax and support the JIT resolution I mentioned above using this metadata.

I have an approach that should allow binding `findRoute` at the app level context:
https://github.com/strongloop/loopback-next/issues/336

I'll update it with the new `toDynamicValue` syntax proposed here.

[2017-06-06 16:33] ritch opened #340 "Authenticated user @inject sugar"
[code]

[code]

[2017-06-07 16:02] raymondfeng commented on #294
See https://github.com/strongloop/loopback-next/pull/297

[2017-06-07 16:02] #294 closed

[2017-06-07 16:02] raymondfeng commented on #306
See https://github.com/strongloop/loopback-next/pull/297

[2017-06-07 16:02] #306 closed

[2017-06-07 16:03] raymondfeng commented on #304
See https://github.com/strongloop/loopback-next/pull/297

[2017-06-07 16:03] #304 closed

[2017-06-07 17:23] jannyHou opened #345 "UML generator for loopback-next"
## Description

It would be better to have a UML generator for a project that written in typescript, since it's the straightforward doc to tell users how our interfaces/classes get integrated.

e.g. `loopback-next/repository/src/model.ts`:
![screen shot 2017-06-07 at 1 15 23 pm](https://user-images.githubusercontent.com/12554153/26891606-a00e533c-4b83-11e7-9e9d-4721f35cbc8f.png)

## Tool

I find a

[2017-06-08 10:30] alemhnan commented on #345
We have created this component that does something similar: https://github.com/redbabel/loopback-component-model-diagram

Here an example: http://redmongo-staging.herokuapp.com/modeldiagram/

http://www.nomnoml.com is being used to render the UML like graph

[2017-06-08 16:34] #319 closed

[2017-06-08 22:35] rashmihunt opened #354 "API doc for each package loopback next"
Each API should have
- class description
- method description
- Property description
- Interface definition
- add example

[2017-06-08 22:41] rashmihunt opened #355 "Finish Authentication package"
Notes from @ritch from +1 meeting

- [x] Finish Seq action
- [ ] e2e acceptance test as mocha test which uses authentication feature - basic strategy
- [ ] doc, readme & API docs for authentication feature in genral

[2017-06-09 17:15] kjdelisle opened #361 "Create yeoman template/generator for loopback-next"
Even though parts of loopback-next are still in flux, I think it would be a good idea to begin building up a generator to rapidly spin up apps, rather than relying on the example as a template to bootstrap our own work.

This would be a good opportunity to properly dogfood the generator ourselves, as well as the design.

## Questions
- Do we have a "best practice" or default we'd like to follow fo

[2017-06-09 17:17] kjdelisle commented on #361
cc @bajtos @raymondfeng @ritch @superkhau @rashmihunt

[2017-06-09 18:17] raymondfeng commented on #345
Some prior arts for LB models:

https://github.com/yantrashala/loopback-component-visualizer
https://github.com/raymondfeng/loopback-model-visualizer

[2017-06-09 20:01] superkhau commented on #361
@kjdelisle I've been discussing some of the CLI experience with @ritch for things that should happen soon, so +1 from me. However, I'm not sure if this should happen in the current generator/yeoman, etc.

[2017-06-09 22:22] mpatsute opened #364 "Test Issue"
Testing story and issue creation and linking them

[2017-06-10 01:17] superkhau commented on #364
Please close this when you're done testing @mpatsute

[2017-06-12 16:30] #271 closed

[2017-06-12 20:52] herbertsg commented on #110
Hi @ritch, I'd like to contribute to loopback-next.

[2017-06-12 21:00] raymondfeng commented on #289
See https://github.com/strongloop/loopback-next/pull/368

[2017-06-12 21:27] raymondfeng commented on #229
Supported by https://github.com/strongloop/loopback-next/pull/343

[2017-06-12 21:27] #229 closed

[2017-06-13 16:32] deepakrkris opened #370 "Fix JS docs"
JS docs for Authentication Package

[2017-06-13 21:15] raymondfeng commented on #289
Fixed by https://github.com/strongloop/loopback-next/pull/368

[2017-06-13 21:15] #289 closed

[2017-06-13 21:19] raymondfeng commented on #275
I start to question if these sugar decorators are necessary. We can use `@inject`. Please note they are only used by `Sequence`, not by application developers. Using `@inject` is probably good enough.

[2017-06-13 21:40] superkhau opened #371 "Flesh out the express MW compatibility story"

[2017-06-13 21:41] raymondfeng commented on #136
Close as dup of https://github.com/strongloop/loopback-next/issues/180

[2017-06-13 21:41] #136 closed

[2017-06-13 21:42] raymondfeng commented on #371
Close as dup of https://github.com/strongloop/loopback-next/issues/180

[2017-06-13 21:42] #371 closed

[2017-06-13 21:47] superkhau opened #372 "Supporting the output of the V5 API designer (API definitions)"

[2017-06-14 20:30] superkhau commented on #275
@raymondfeng IMO, they are not anymore since we chose to go with the extends path (allows user defined sequences to inherit the builtin sugar methods anyways via `this.invoke`, etc).

[2017-06-14 20:31] superkhau commented on #275
A more concrete example is like the first example at https://github.com/strongloop/loopback-next/wiki/Sequence, where as long as you extend Sequence, you have access to `this.sendResponse` (hence no need for @inject anything)

[2017-06-14 23:05] incubus8 commented on #110
Hi @ritch, hv done some enterprise works with Loopback. Would like to join loopback-next.

[2017-06-15 20:20] ritch commented on #110
@M-jerez
@pbouda
@onel0p3z
@ganipadela
@makara
@BostjanPisler
@herbertsg
@incubus8

### welcome to the 🎉🎉🎉!

[2017-06-16 02:14] superkhau opened #378 "Beginner Guides - Testing Your Application"
- [x] Create draft content for wiki
- [x] Get feedback from @ritch @erin
- [x] Revise content based on feedback
- [ ] Get final approval from @ritch
- [ ] Notify @rand regarding completion

[2017-06-16 20:27] kjdelisle commented on #303
As a part of completing this story, I'll be making a todo application in the loopback-next-example repository.

[2017-06-16 22:54] ritch opened #380 "Testing LoopBack Apps with DI"
@raymondfeng @bajtos @superkhau

Approach to writing tests using DI.

[code]

[2017-06-16 23:40] ritch commented on #380
Another example using stubs:

[code]

[2017-06-21 16:02] bajtos commented on #361
My opinion:

 - +1 for creating a project template for loopback.next projects.
 - -1 for using yeoman, unless we are going to include loopback.next project template in the existing `loopback-cli`. In the long term, we need to rework loopback-cli to not depend on yeoman, see https://github.com/strongloop/generator-loopback/issues/139

Another thing to consider: integration with APIC Editor, possibl

[2017-06-21 19:20] #378 closed

[2017-06-21 23:55] superkhau opened #387 "Docs v1.0.0"
- [x] Home
- [ ] Getting started
- [ ] Take the tutorial
- [x] Installation
- [x] Hello world
- [x] Sequence
- [x] Routing
- [x] Controllers
- [x] Context
- [ ] Repositories
- [x] Thinking in LoopBack

[2017-06-23 13:39] bajtos commented on #380
-1 for defining mocks outside of the test code that uses them. The way how I understand IoC/DI, the goal is to allow each unit test to create its own unique specialized & focused mocks to satisfy the dependencies they want to alter. Also since we are talking about unit-tests, they should be constructing class instances directly, providing any dependencies explicitly from the code.

[code]

When it

[2017-06-23 19:56] superkhau commented on #380
I can swing either way. I find the DI container for testing in general is for getting at mocks. That said, you can always do the same without the DI container. Other ways to get at shared mocks (ie. global singleton, etc). The nice thing about he top impl is you decouple the "newing" (which is what you do in your examples @bajtos) and use factories from the container instead. That said, I think it

[2017-06-24 01:01] superkhau opened #393 "Final content for Thinking in LoopBack"
Only had a draft done during the previous sprint, the goal is to get some final content in https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack

 - [x] #546 Thinking in LoopBack: incrementally implement the features
 - [x] #547 Thinking in LoopBack: Custom Sequence
 - [x] #548 Thinking in LoopBack: Preparing your API for consumption  (*p2 item*)
 - [x] #549 Thinking in LoopBack: C

[2017-06-24 01:02] b-admike opened #394 "Filter in query of type object treated as string"
# Description/Steps to reproduce
Define a parameter for a route which has type `object`
[code]
method in controller:
[code]
# Expected result

The parameter `filter` should be of type `object` if we check it in the controller method for the route.

# Additional information
[code]

[2017-06-24 01:02] #387 closed

[2017-06-26 16:03] #305 closed

[2017-06-26 18:36] superkhau commented on #157
These are Actions now and the list is at https://github.com/strongloop/loopback-next/wiki/Sequence#actions

Closing.

[2017-06-26 18:36] #157 closed

[2017-06-26 18:39] superkhau commented on #149
@ritch @bajtos Is this closable? I think we've already decomposed the router and the current wiki docs reflect his.

[2017-06-26 19:31] superkhau commented on #364
Closing this @mpatsute, assuming you're done testing since it's been a month.

[2017-06-26 19:31] #364 closed

[2017-06-26 19:34] superkhau commented on #274
Closing and forwarding further discussion to https://github.com/strongloop/loopback-next/pull/395

[2017-06-26 19:34] #274 closed

[2017-06-26 19:34] superkhau commented on #270
Closing and forwarding further discussion to https://github.com/strongloop/loopback-next/pull/395

[2017-06-26 19:34] #270 closed

[2017-06-26 19:37] superkhau commented on #199
Closing, content has been updated at https://github.com/strongloop/loopback-next/wiki/Context

[2017-06-26 19:37] #199 closed

[2017-06-26 19:38] superkhau commented on #201
Closing, content has been updated at https://github.com/strongloop/loopback-next/wiki/Controllers

[2017-06-26 19:38] #201 closed

[2017-06-26 19:38] superkhau commented on #205
Closing as work should be done as part of #203

[2017-06-26 19:38] #205 closed

[2017-06-26 19:39] superkhau commented on #204
Closing as work should be done as part of #203

[2017-06-26 19:39] #204 closed

[2017-06-26 19:39] superkhau commented on #198
Closing as basics have been described at https://github.com/strongloop/loopback-next/wiki/Hello-world

[2017-06-26 19:39] #198 closed

[2017-06-26 19:40] superkhau commented on #200
Closing as relevant content is described at https://github.com/strongloop/loopback-next/wiki/Controllers

[2017-06-26 19:40] #200 closed

[2017-06-26 19:40] superkhau commented on #197
Closing as basic outline is done at https://github.com/strongloop/loopback-next/wiki/Using-Components

[2017-06-26 19:40] #197 closed

[2017-06-26 19:41] superkhau commented on #194
Closing until we decide to take this further, ATM, normal publishing via a combination of `lerna publish` + `npm publish` seems adequate.

[2017-06-26 19:41] #194 closed

[2017-06-26 19:42] superkhau commented on #191
@deepakrkris I'm guessing this is already done as part of your work on the Auth package impl. Safe to close?

[2017-06-26 19:43] superkhau commented on #185
Won't migrate wiki content until beta is out (after all current sections in wiki have been updated with enough content).

[2017-06-26 19:44] superkhau commented on #171
Closing until beta. Will create follow up issue then.

[2017-06-26 19:44] #171 closed

[2017-06-26 19:45] superkhau commented on #152
Closing via https://github.com/strongloop/loopback-next/pull/359, and we can already register components during Application construction (ie. `new Application({components: [...]});`)

[2017-06-26 19:45] #152 closed

[2017-06-26 19:47] superkhau commented on #148
Duplicate of https://github.com/strongloop-internal/scrum-asteroid/issues/212

[2017-06-26 19:47] #148 closed

[2017-06-26 19:48] superkhau commented on #146
Already happening as per latest wiki content. Closing.

[2017-06-26 19:48] #146 closed

[2017-06-26 19:49] superkhau commented on #144
Closing as duplicate in favour of https://github.com/strongloop/loopback-next/issues/104

[2017-06-26 19:49] #144 closed

[2017-06-26 19:51] superkhau commented on #115
Closing in favour of current proposal in the [wiki](https://github.com/strongloop/loopback-next/wiki).

[2017-06-26 19:51] #115 closed

[2017-06-26 19:52] superkhau commented on #113
This is already happening via [Sequences](https://github.com/strongloop/loopback-next/wiki/Sequence). Closing.

[2017-06-26 19:52] #113 closed

[2017-06-26 19:53] superkhau commented on #111
Closing in favour of the current proposal in the [wiki](https://github.com/strongloop/loopback-next/wiki/Controllers). Please create follow up issues for anything more specific that needs to be discussed.

[2017-06-26 19:53] #111 closed

[2017-06-26 19:54] superkhau commented on #105
This has been addressed, users can do this via `const Application = require('@loopback/core').Application` or `import {Application} from '@loopback/core'` now. See https://github.com/strongloop/loopback-next/wiki/Hello-world for more info. Closing.

[2017-06-26 19:54] #105 closed

[2017-06-26 20:02] superkhau commented on #33
We can share settings via workspace settings, will open new issue if an immediate use case comes up.

[2017-06-26 20:02] #33 closed

[2017-06-26 20:03] superkhau commented on #12
Closing as this is already happening. Current proposal can be found at https://github.com/strongloop/loopback-next/wiki/Controllers.

[2017-06-26 20:03] #12 closed

[2017-06-26 20:03] superkhau commented on #15
We should close this as part of you landing https://github.com/strongloop/loopback-next/pull/392

[2017-06-26 20:04] superkhau commented on #24
@raymondfeng Does your proposal at https://github.com/strongloop/loopback-next/pull/392 already consider this? (ie. is this safe to close?).

[2017-06-26 20:05] superkhau commented on #25
I think this is to make it work with LB-next (not only LB3).

[2017-06-26 20:07] superkhau commented on #196
@deepakrkris Is this safe to close? I believe you have another issue/PR for this?

[2017-06-26 20:14] superkhau commented on #203
@raymondfeng Punting this issue to you to close when the wiki content gets updated with your content at https://github.com/strongloop/loopback-next/pull/392

[2017-06-26 20:18] superkhau commented on #308
Closing as the current sequence already supports this.

[2017-06-26 20:18] #308 closed

[2017-06-27 11:19] bajtos commented on #149
I think this part is not covered by our current implementation, but I am not sure whether url rewriting belongs to v1.0.

I am closing this issue as done. Let's open new issue(s) if we discover any leftovers later.

[2017-06-27 11:19] #149 closed

[2017-06-27 12:19] bajtos commented on #275
Fair enough, let's close this issue.

We can discuss this topic more in the older issue https://github.com/strongloop/loopback-next/issues/67

[2017-06-27 12:19] #275 closed

[2017-06-27 12:24] bajtos commented on #313
I think we ended up implementing a slightly different version in https://github.com/strongloop/loopback-next/pull/359.

@raymondfeng @deepakrkris could you please review the current implementation? If you discover any changes/improvements that we should implement on top of #359, then please create new follow-up issues.

I am closing this issue as done.

[2017-06-27 12:24] #313 closed

[2017-06-27 12:27] bajtos commented on #284
In https://github.com/strongloop/loopback-next/pull/359, we are using component class name directly:

[code]

I am closing this issue as done. Feel free to reopen if you disagree, @superkhau.

[2017-06-27 12:27] #284 closed

[2017-06-27 12:28] bajtos commented on #215
I think this has been already implemented via the Sequence concept. I am closing this epic as done.

@ritch @superkhau Feel free to re-open if you disagree.

[2017-06-27 12:28] #215 closed

[2017-06-27 12:39] bajtos commented on #131
@superkhau I am not sure what do you mean by this, which wiki page would you like to change?

The rest of the TODO list should be taken care of by the linked pull requests shown above.

[2017-06-27 12:41] bajtos opened #399 "Handler/Sequence-function sugar API"
Implement support for the APIs described in the following two wiki pages:
 - https://github.com/strongloop/loopback-next/wiki/Hello-world
 - https://github.com/strongloop/loopback-next/wiki/Sequence

Basically, we need to implement the following API:

[code]

[2017-06-27 12:46] bajtos opened #400 "app.route() - code-first approach"
Implement support for the following routing example:

[code]

See [wiki](https://github.com/strongloop/loopback-next/wiki/Routing#creating-routes) for more details.

[2017-06-27 12:47] bajtos opened #401 "app.route() - api-first approach"
Implement support for the following routing example:

[code]

See [wiki](https://github.com/strongloop/loopback-next/wiki/Routing#declaring-routes-with-api-specificatios) for more details.

DEPENDS ON #400

[2017-06-27 12:51] bajtos opened #402 "Spike: Routing to controllers"
Spike on what's needed to implement support for the following controller/routing examples:

[code]

and

[code]

See [wiki](https://github.com/strongloop/loopback-next/wiki/Controllers#routing-to-controllers) for more details.

DEPENDS ON #400 and #401

[2017-06-27 12:52] bajtos opened #403 "Specifying Controller APIs via app.api()"
Implement support for the following controller example:

[code]

See [wiki](https://github.com/strongloop/loopback-next/wiki/Controllers#routing-to-controllers) for more details.

[2017-06-27 12:54] bajtos opened #404 "Decorators for controller methods"
Define and implement decorators allowing Controller authors to describe the endpoints, their arguments and return values in a code-first way.

[code]

See [wiki](https://github.com/strongloop/loopback-next/wiki/Controllers#writing-controller-methods) for more details.

**Tasks**

 - [x] #459 - Add shortcuts for HTTP verbs: `@post`, `@put`, `@patch`, `@delete`
 - [x] #457 - First cut of param decor

[2017-06-27 14:12] #186 closed

[2017-06-27 14:13] #196 closed

[2017-06-27 14:27] #355 closed

[2017-06-27 16:30] superkhau commented on #131
https://github.com/strongloop/loopback-next/wiki/Badges

Was keeping a list of badges we use here (ie. might reuse in other repos), but might not be worth maintaining anymore.

[2017-06-27 16:53] #131 closed

[2017-06-27 16:54] bajtos commented on #131
Yeah, let's delete that page. We can always find the up-to-date list of badges in README, right?

[2017-06-27 17:00] ritch opened #406 "RFC - Easily Define and Provide Actions"
@bajtos

It should be easy to:
 - define actions that have their non-argument dependencies injected
 - wire up/provide actions to a sequence (eg. not having to implement a class just to add an action)

Here's a proposal for doing so

[code]

[2017-06-27 17:14] ritch commented on #336
Closing this in favor of sequence/action approach.

[2017-06-27 17:14] #336 closed

[2017-06-27 18:42] proreact-mj commented on #110
Yes plz

[2017-06-27 18:54] superkhau commented on #399
Interesting note from short discussion with @bajtos today. Why don't we only use classes instead of directly passing a function? The initial idea was the simplest possible implementation, but passing in a Fn is such an edge case. As suggested by @bajtos, classes are supported all the way back to Node 4? I guess one good argument is that you don't need a class at all for demonstration purposes/flex

[2017-06-27 21:12] superkhau opened #407 "Read through all the LBn wiki"
- [ ] https://github.com/strongloop/loopback-next/wiki

[2017-06-27 21:25] Setogit commented on #407
Before the wiki, TypesScript tutorial book below is concise and readable, yet covers many key concepts of TypeScript.
https://basarat.gitbooks.io/typescript/docs/getting-started.html

[2017-06-28 10:17] bajtos commented on #399
On the second though, I guess the function-based handler api makes sense for people who would like to use LoopBack but don't want to get into OOP/DI.

[2017-06-28 15:22] bajtos opened #412 "Get rid of `Server` in favour of `app.start()`"
See [wiki](https://github.com/strongloop/loopback-next/wiki/Hello-world):

[code]

[2017-06-28 16:00] raymondfeng commented on #412
How do we set up http bindings for the application? Defaulting to http is a reasonable start, but not the final solution that supports multiple transports/protocols.

[2017-06-28 16:35] Setogit commented on #407
// README guidelines
http://loopback.io/doc/en/contrib/README-guidelines.html

[2017-06-29 16:15] bajtos commented on #400
Continuing the discussion about `findRoute` API from #411 here. After an online discussion, we agreed on the following:

 1) url.parse should be called early on by the HTTP layer before Sequence starts, the sequence should receive `ParsedRequest` - this is already done
 2) `findRoute()` should return `route:Route` and `pathParameters:StringToStringMap` instead of the current `ResolvedRoute`

Usage

[2017-06-29 20:40] Setogit commented on #407
OpenAPI spec: https://github.com/OAI/OpenAPI-Specification/blob/OpenAPI.next/versions/3.0.md

Resources (hierarchically defined schema) are assembled into Spec which conforms to/validates with the OpenAPI standard.

[2017-06-30 08:07] #399 closed

[2017-06-30 18:49] dhmlau opened #419 "[LB-Next] Support of Relation for Repository and ModelDefinition"
# Description/Steps to reproduce
For example, `Customer` and `Order` has the `belongsTo` relation.  When `customerId` was given, it becomes the filter for the `Order` repository.  It implies that `Order` repository is not a free form repository but is constrained by `customerID=xxx`.
- When doing CRUD operation, make sure this constraint is honoured.
- Currently, we are using primary key/foreign k

[2017-06-30 18:51] dhmlau opened #420 "[LB-Next] Support of Relation (BelongsTo & hasMany) for Repository and ModelDefinition"
## Details

Details can be found in #419.
[code]

This task is only for `belongsTo` relation.

## Acceptance Criteria
- [ ] Actual implementation on `belongsTo` and `hasMany`
- [ ] Have example in how to use it
- [ ] have test cases

## BLOCKED BY

 - https://github.com/strongloop/loopback-next/issues/537

[2017-06-30 18:59] jonathan-casarrubias commented on #419
Cool...I will keep an eye on this thread

[2017-06-30 19:49] dhmlau opened #421 "[LB-Next] Assess amount of work to convert existing LB3 connector to TypeScript"
Assess how much work to convert existing connectors to TypeScript.  Similar to the MySQL connector interface done in https://github.com/strongloop/loopback-next-example/pull/51.
It includes functions like `search`, `findById`, etc.

## Acceptance Criteria
- Build MySQL connector (use this as an example, seems like there're existing code we can reference)
- Create (reuse) tests
- List out the work

[2017-06-30 20:03] dhmlau opened #422 "[LB-Next] Review ModelDefinition and PropertyDefinition"
Referencing the model definition in LB3, make sure we are able to describe the model to the same level in LB-Next.

Files to review:
- https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/loopback-datasource-juggler.ts
- https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/legacy-juggler-bridge.ts

### Reference
Model Definition: https://loopba

[2017-06-30 21:38] RomanovRoman commented on #141
I think about it in several projects. And...
**IMHO it is a really bad idea for RESTfull api.**
Because we must have fast token-based ACL mechanics for endpoints.
May be we needs in more featured [dynamic-roles](http://loopback.io/doc/en/lb3/Defining-and-using-roles.html#dynamic-roles) and [nestRemoting](http://loopback.io/doc/en/lb3/Nested-queries.html)?
I think we should to consider several conc

[2017-07-01 00:29] superkhau commented on #141
+1 for more real-world use cases in both REST and GraphQL. I would like to hear more about why it is really a bad idea for RESTful APIs.

[2017-07-01 02:28] RomanovRoman commented on #141
Every URI like: `http://domain.tld/api/entity` represents concrete collection of concrete entities and users should have  from GET request:
- **the same JSON** with 2xx status
- some response without any entities (4xx, 3xx and so on)

It is about proxy and cache.
For example, browser wants to `GET http://domain.tld/api/entity` then nginx-proxy can ping our api server with `HEAD http://domain.tld/a

[2017-07-01 05:16] raymondfeng commented on #141
ACL should be enforced at different tiers based on how much knowledge we acquire about the request (who wants to do what). For APIs, I see the following:

1. API gateway with oAuth2 to protect endpoints against scopes
2. Route based ACL - See https://github.com/strongloop-community/loopback-acl-route
3. Implementation level ACL for controller/repository
4. Backend (downstream) ACL

[2017-07-01 07:31] jesperbruunhansen commented on #141
Hi guys, and thanks for nice discussion regarding this issue.

My inspiration and need for this feature comes from the time when I worked on a project, using the [Parse-server ](https://github.com/parse-community/parse-server). When they open-sourced, I basically copied what they did [here](https://github.com/parse-community/parse-server/blob/b6298feaa7124608a843b988164a4372b9900dc0/src/Controller

[2017-07-01 15:30] raymondfeng commented on #141
@jesperbruunhansen I'm with you.  Coincidentally, I have been thinking about the possibility to mix conditions into the `filter` to enforce property level ACLs.

[2017-07-01 18:26] RomanovRoman commented on #141
@raymondfeng instead of property level ACLs...
It would be nice to introduce [Data Transfer Object](https://martinfowler.com/eaaCatalog/dataTransferObject.html)s for each triplet(method, resource, role).
Then **DTO**s will define full fieldset for each remote method and will aggregate serialization, parse(deserialization), validation logic which is the same for both client and server.

[2017-07-02 02:48] delebash opened #423 "Feature: Allow Auto-Update to synchronize from database to model and not just model to databse"
Currently auto-update updates the database tables based on model definition changes. From my point of view any changes to my schema such as adding a property or new table with a relationship will be made on the database first and then I would want the change to be propagated to the model.  Now it is the reverse and also it only updates properties but not relationships.

[2017-07-03 18:44] Setogit commented on #407
comments:
- [ ] `app.sequence(MySequence)` -- app.setSequence ?
- [ ] `app.bind('hello').to('world'); // ContextKey='hello', ContextValue='world'`
  -- app.contextualize('hello').to('world')?  to disambiguate wit Function.prototype.bind

[2017-07-03 23:02] crandmck commented on #104
Closed in favor of https://github.com/strongloop-internal/scrum-asteroid/issues/230

[2017-07-03 23:02] #104 closed

[2017-07-05 20:38] kjdelisle commented on #419
@raymondfeng I'm not certain how the relation decorators fit into the loopback-next story; if we want to allow developers to mount their own ORMs and frameworks for retrieving data, there's a good chance that they'll have their own way of defining schemas for those datasources.

Using https://www.npmjs.com/package/sequelize-typescript as an example:
[code]

Sequelize (the TypeScript version in par

[2017-07-05 23:12] Setogit commented on #407
Note: advanced topics are mostly empty:
Context (Advanced)
Sequence (Advanced)
Testing Your Application (Advanced)

[2017-07-05 23:12] Setogit commented on #407
Finished reading all the available sections.
closing the task.

[2017-07-05 23:13] #407 closed

[2017-07-08 00:44] #400 closed

[2017-07-09 23:00] #303 closed

[2017-07-09 23:00] kjdelisle commented on #303
Complete!

[2017-07-10 04:28] b-admike opened #425 "Application should have app.repository() API"
#491 Per @bajtos,

There should be a way to bind multiple repositories (implementation tbd) -- This is just a shorthand of bind().toClass.

Implementation Suggestion: Introspect the name of the repository and use that as the key. User can also supply a string the repository should bind to (similar to how .bind() works).

# Acceptance

- [x] Implement `app.repository(AccountRepository)`
- [x] Allow

[2017-07-10 13:03] bajtos opened #426 "Refactor ResolvedRoute to inherit from Route and add pathParams property"
Per our discussion in #417, implement the following proposal:

[code]

[2017-07-11 07:45] #401 closed

[2017-07-11 15:20] kjdelisle commented on #419
@raymondfeng bump

[2017-07-11 15:35] kjdelisle commented on #419
cc @bajtos

[2017-07-11 15:56] jonathan-casarrubias commented on #419
I would just like to add, we need a way to discover models and relationships, not sure if this will be part of the open-api spec, else we need to somehow discover these relationships in order to auto-generate SDKs and it is imperative to build platforms on top of LBN

[2017-07-11 16:38] superkhau commented on #404
Timebox to 5

[2017-07-12 16:01] bajtos opened #430 "Support HTTPS out of the box"
LoopBack.Next applications should support listening on HTTPS out of the box.

An example showing possible usage:

[code]

~Depends on #1331~

## Acceptance criteria

- LB4 app should accept options to configure HTTPS details. It already accepts an options object to configure the REST server. This options should be extended to include HTTPS details. Files affected `@loopback/rest/rest.application.t

[2017-07-12 18:39] kjdelisle commented on #430
Quick point-of-note: the constructor should check to make sure that both ports aren't the same.

[2017-07-13 10:37] #412 closed

[2017-07-13 12:09] bajtos opened #432 "Validate and convert input parameters"
In LoopBack/strong-remoting 3.x, we are validating input parameters against the schema described by remote methods, e.g. ensure that the value provided by the request for a numeric parameter is indeed a number. We are also converting such parameters from the string value (typically provided by query string or request headers) to the correct JavaScript type (number, date, etc.).

IMO, LoopBack Next

[2017-07-13 12:10] bajtos commented on #432
I am proposing to use AVJ to implement this feature. See https://github.com/epoberezkin/ajv#coercing-data-types and https://github.com/epoberezkin/ajv in general.

[2017-07-13 12:12] bajtos commented on #432
Oh, we already have an issue filled for this, closing as a duplicate of #118.

[2017-07-13 12:15] bajtos commented on #139
I think this proposal has been superseded by https://github.com/strongloop/loopback-next/wiki/Sequence.

@ritch feel free to reopen if you disagree.

[2017-07-13 12:16] bajtos commented on #150
Closing as done.

[2017-07-13 12:16] #150 closed

[2017-07-13 12:18] bajtos commented on #234
I believe this has been already implemented, see e.g. #359.

@superkhau feel free to re-open if you disagree.

[2017-07-13 12:18] #234 closed

[2017-07-13 12:24] bajtos commented on #156
Now that #377 has been landed, I believe most of the request/response properties can be accessed via `#` separator. For example, `http.request#headers` to access the headers.

[2017-07-13 12:28] bajtos commented on #182
Quoting from https://www.openapis.org/blog/2017/05/25/the-open-api-initiative-is-sending-you-a-save-the-date-card:

[2017-07-13 12:32] bajtos commented on #228
Closing as done - see #385.

[2017-07-13 12:32] #228 closed

[2017-07-13 12:33] bajtos commented on #233
@ritch is this still relevant?

[2017-07-13 12:35] bajtos commented on #258
I think we can close this issue now. #377 implemented support for injecting properties via `#` separator.

[2017-07-13 12:35] #258 closed

[2017-07-13 12:38] bajtos commented on #269
@ritch @raymondfeng @superkhau @deepakrkris is this still relevant?

[2017-07-13 12:39] #432 closed

[2017-07-13 12:40] bajtos commented on #301
Related: #182.

[2017-07-13 12:42] bajtos commented on #354
I believe this has been already done.

[2017-07-13 12:42] #354 closed

[2017-07-13 12:48] bajtos commented on #394
Note that in SwaggerSpec 2.x (which LoopBack Next is based on so far), query parameters can have only primitive type (string, number, etc.), see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameterObject

However, for LB 3.x backwards compatibility, I have proposed to support complex types in query strings, see #100.

I've been told that OpenAPI Spec 3.0 will support

[2017-07-13 12:53] bajtos commented on #423
@delebash thank you for the feature idea. Have you tried using autodiscovery ([dataSource.discoverAndBuildModels](http://apidocs.strongloop.com/loopback-datasource-juggler/#datasource-prototype-discoverandbuildmodels) and friends)? It reads the database schema and produces model descriptions.

[2017-07-13 14:08] bajtos opened #433 "Dynamic binding/rebinding of controllers after app start"
Support hot-reloading of controllers after the app started. See [`Application.prototype._setupHandlerIfNeeded()`](https://github.com/strongloop/loopback-next/blob/19604dbc1dcaa8eed7c79c0e46e5aa3f5fb3b8b9/packages/core/src/application.ts#L85-L89).

Example test case:

[code]

## Acceptance criteria

When the application binds a controller after the app has started, the application picks up the endp

[2017-07-13 14:11] bajtos opened #434 "Limit the hostname/IP adress the app is listening on"
Right now, `app.start()` takes into account only `http.port` configuration. We should allow applications to configure the hostname/IP address of the server too.

[2017-07-13 14:16] bajtos opened #435 "[SPIKE] Resolve `$ref` in api/controller/route specs"
At the moment, our code processing Swagger/OpenAPI Spec does not support `$ref` references, we assume all entities have been denormalized/dereferenced. IMO, this is a severe limitation because even the simples CRUD-based REST APIs usually reuse model (response object) definitions.

We should investigate how to support `$ref` in all places allowed by OpenAPI spec. Let's limit the scope to relative

[2017-07-13 14:22] bajtos opened #436 "Configurable response types/formats"
At the moment, the return value of a controller method/router handler is converted to the response using the following hard-coded algorithm:

 - Object types (including arrays, but also Date, RegExp, Buffer) are converted to JSON and sent with "application/json" content-type.
 - String results are sent as-is with "text/plain" content-type.
 - Anything else is passed to `response.write()` as-is and

[2017-07-13 14:53] raymondfeng commented on #139
@bajtos I think we should keep this issue open. IMO, `Sequence` is the primitive to support chain of actions to handle req/res. This issue explores opportunities to allow declarative approach to build up a sequence based on certain metadata. For example, I would like to implement two alternative sequences:

1. Use produce/consume dependencies (decorators or json/yaml) to create a sequence
2. Use p

[2017-07-13 14:57] raymondfeng commented on #436
We probably should start to refactor https://github.com/strongloop/loopback-next/tree/master/packages/repository/src/types into its own package to form the LB.next typing system and leverage it for parameter parsing/conversion/serialization.

[2017-07-13 15:36] bajtos commented on #139
@raymondfeng sounds good, thank you for reopening the issue then.

[2017-07-13 17:41] delebash commented on #423
Yes I have autodiscovery working but it does not keep changes in sync automatically.  I can write my own code to compare added and removed properties/fields/tables but it would be nice to have the feature baked in like your auto-update. As it stands now with auto-discovery I can write code to read the db schema and create model files from this schema, If I then change a field/table/relationship in

[2017-07-13 17:43] #426 closed

[2017-07-14 07:43] bajtos commented on #160
I think this is loosely related to #155

[2017-07-14 07:44] bajtos commented on #191
This may be required for #230 and/or #160.

[2017-07-14 17:21] raymondfeng commented on #404
We can start with similar decorators as https://github.com/thiagobustamante/typescript-rest/blob/master/src/decorators.ts, which are inspired by JAX-RS.

[2017-07-14 17:24] raymondfeng opened #439 "Add API explorer"
It's critical to add `API Explorer` (aka Swagger UI) for REST APIs.

There are a few steps involved:

1. Create an endpoint to expose Swagger/OpenAPI Spec
2. Include web assets for Swagger UI (out of scope of this issue)

[2017-07-14 17:25] bitingedgemick commented on #110
Happy to be involved @ritch

[2017-07-14 17:27] raymondfeng opened #440 "A reference implementation of gRPC support for controllers"
When developers use LB next to build microservices in Node, it is desirable to allow controllers to expose operations over gRPC in addition to REST.

**We should use this feature request to flush out how to enable multiple protocols/transports for LB next and implement necessary extension points.**

We are not aiming at providing a full production-ready implementation of gRPC (yet).

Expected outp

[2017-07-14 17:28] raymondfeng opened #441 "[SPIKE] Create @loopback/boot to support declarative JSON/YAML files"
Staging goals:

1. Be able to load LB 3.x artifacts including models/datasources
2. Support LB next artifacts, such as model/datasource/repository/api-spec/...

## Story
As a LoopBack developer, I'd like to declare my artifacts as JSON or YAML files so that I can continue enjoying the declarative experience.

## Acceptance Criteria
- On application boot:
  - Read each of the directories in `src` f

[2017-07-14 17:44] raymondfeng opened #442 "Enable LB next app as Cloud native microservices"
See https://github.ibm.com/ibmcloud/CloudNative

[2017-07-14 18:10] rashmihunt commented on #440
@bajtos Added labels as per @raymondfeng

[2017-07-14 18:12] rashmihunt commented on #439
@bajtos added label based on @raymondfeng input

[2017-07-15 20:11] lehni commented on #118
@bajtos does this mean that we'll be able to configure validations in the JSON model files? This is a feature still missing in LB3...

[2017-07-17 07:21] lehni commented on #118
I think the use of AJV for validation is a good idea. This then has me wondering if LoopBack.next couldn't optionally allow the definition of models in that format, to avoid redundancy? LoopBack's `model.json` format already kind of looks like a subset?

[2017-07-17 07:58] #403 closed

[2017-07-17 08:35] bajtos commented on #118
I had the same idea in my mind too. Why to invent and maintain our own domain-specific language for defining models, when we can leverage an existing standard (JSON Schema)?

However, @raymondfeng, our architect, has a different opinion. IIRC, he is proposing a slightly different implementation, where LoopBack internally uses some custom format, and then allows 3rd party plugins to provide convert

[2017-07-17 08:49] lehni commented on #118
That sounds like a good idea. but if AJV becomes the validator for LoopBack.next, what if the internal format was actually JSON Schema, and other formats could be translated to it in the way you described? This would make it easier to provide validation for all formats.

[2017-07-17 15:02] lehni commented on #118
@bajtos I just finished a first implementation of this for LB 3.8 by overriding the internal `Registry` class, and it works surprisingly well. I was also able to add support for the missing json validation properties listed here: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#validations

Do you think this is of interest for 3.8? Shall I open a PR for it?

[2017-07-18 12:16] bajtos commented on #118
Interesting. Is your code on GitHub, so that we can take a look before you invest more time on a pull request? IMO, we need to carefully asses impact of such change, for example on loopback-swagger.

[2017-07-18 14:20] dhmlau opened #446 "Tutorial for persisting data with Repository"
# Description/Steps to reproduce
For beta release, we need a few tutorials/examples for persisting data using Repository, similar to https://github.com/strongloop/loopback-next-hello-world.  It would contain step-by-step instructions in how to build one.

- [ ] for SQL DB with legacy juggler
- [ ] for noSQL DB with legacy juggler
- [ ] for REST / SOAP (possibly?)

Some of the contents already exis

[2017-07-18 15:56] ritch opened #448 "How do I customize how query strings, headers, and bodies are parsed?"
We should create an example and docs for implementing my own opinionated version of parsing params.

Scenarios to cover:

 - I want to use my custom JSON parser because some reasons (it's faster, more secure, whatever)
 - I want to use non-JSON formatting, e.g. XML

[2017-07-18 16:00] bajtos opened #449 "Make sure Persistence docs are up to date with code"
Go through loopback-next-example & loopback-next code and ensure that is reflected in the Persisting Data With Repositories (Juggler & No Juggler) Wiki Page.

https://github.com/strongloop/loopback-next-example
https://github.com/strongloop/loopback-next/wiki/Persisting-Data-with-Repositories

[2017-07-18 16:13] bajtos commented on #439
MVP scope for the first beta release: lb-next apps need to provide an HTTP endpoint returning Swagger/OpenAPI description of its API.

[2017-07-18 16:20] bajtos commented on #422
Closing as not needed by now, per @kjdelisle

[2017-07-18 16:20] #422 closed

[2017-07-18 16:22] bajtos commented on #372
Probably depends on https://github.com/strongloop/loopback-next/issues/435

[2017-07-18 16:25] bajtos commented on #218
We need to make sure the authentication package can be used as a regular Component, also as a role model for component developers.

[2017-07-18 16:28] bajtos opened #450 "Guide: writing components"
Fill in content to https://github.com/strongloop/loopback-next/wiki/Writing-Components

See also https://github.com/strongloop/loopback-next/wiki/Using-Components

[2017-07-18 16:36] kjdelisle commented on #263
This might help: https://github.com/lerna/lerna-changelog

[2017-07-18 16:36] kjdelisle commented on #263
Would still require some manual reviewing to ensure that the correct package names are being used in commit messages, but it should help.

[2017-07-18 16:38] bajtos commented on #244
Let's defer this until we work on the declarative approach of building apps.

[2017-07-18 16:39] bajtos commented on #217
This has been already implemented. See e.g. https://github.com/strongloop/loopback-next/wiki/Routing

[2017-07-18 16:39] #217 closed

[2017-07-18 16:39] bajtos commented on #214
Done.

[2017-07-18 16:39] ritch opened #451 "Spike: Accessing remote Services (REST, SOAP, etc.)"
We should write a guide explaining Services. When to use them, how to write them, how they differ from Repositories. Then provide necessary support in LoopBack4 runtime (the framework).

Describe how to test the services in "Testing your Application" and "Testing your Extension".

This should also include content for: "Calling other APIs and Web Services"

Related to: https://github.com/strongloop

[2017-07-18 16:39] #214 closed

[2017-07-18 16:40] bajtos commented on #203
Closing as done per @raymondfeng

[2017-07-18 16:40] #203 closed

[2017-07-18 16:44] ritch opened #452 "Guide: Differences between LB3 to LB4"
"Conceptual differences between LB3 to LB4" guide and related documentation

[2017-07-18 16:47] ritch opened #453 "Migration guide between LB3 to LB4 [MVP]"
Migrating between LB3 to LB4 and related documentation.

[2017-07-18 16:48] #155 closed

[2017-07-18 16:49] lehni commented on #118
It's not yet. The code is fairly modular and short, so I can easily move it to its own package and create a little test case illustrating how it's being used, as a base for further discussions both in LB 3.8 and 4

[2017-07-18 16:49] bajtos commented on #143
Closing as no longer relevant.

[2017-07-18 16:49] #143 closed

[2017-07-18 16:49] raymondfeng opened #454 "Add support to dump out `context` as json for potential visualization/debugging"
Related to https://github.com/strongloop/loopback-next/issues/461

[2017-07-18 16:52] bajtos commented on #117
PoC: https://github.com/strongloop/loopback-next-example/tree/413e7533d023d3042592b62935abf62d04527ced/services/account-without-juggler

[2017-07-18 16:55] bajtos commented on #112
Closing this issue. The results of the discussion were captured in wiki pages.

[2017-07-18 16:55] #112 closed

[2017-07-18 17:07] bajtos commented on #47
@kjdelisle @raymondfeng @ritch @bajtos @superkhau

 - we can gradually move Q&A to github, but keep supporting the mailing list too
 - we need to be more active in closing issues (especially questions), so that we don't have many stale open issues
 - should we use a different repository for Q&A to allow us to assign different permissions?

[2017-07-18 17:22] ritch opened #455 "Documentation Improvements"
Each sprint we should spend time improving the documentation.

[2017-07-21 11:49] #402 closed

[2017-07-23 01:13] ZepAviator commented on #257
There is a distinct lack of a good framework around "Serverless" options. Obviously, there is a desire to keep serverless functions lean in an attempt to speed up cold-start times.

It would be VERY interesting to utilize something like Webpack to create build folders to match your serverless architecture (lambda, whisk, google functions, etc...). Similar to what Google has been working on with th

[2017-07-23 01:24] Brian-McBride commented on #119
There is an interesting server/tech called `[deepstream.io](http://deepstream.io)`  that is a real-time server that in opinionated to the database it connects to.

Their license is going to preclude it from working with Loopback I suspect - however if you look at their core server source it is node.js based.

With some elbow grease, someone could hook the two together, perhaps through a dataconnec

[2017-07-25 03:04] onel0p3z commented on #257
@ritch can you please provide a good example where one would want to run a loopback.next app in a handler or action within a serverless arch? I'm trying to understand in order to come up with good examples.

[2017-07-25 15:03] jonathan-casarrubias commented on #257
@onel0p3z here is a good documentation that deeply explains the serverless architecture with good examples

https://martinfowler.com/articles/serverless.html#ACoupleOfExamples

[2017-07-25 20:17] onel0p3z commented on #257
@jonathan-casarrubias thanks for your response and the resource! Maybe I can rephrase the question to make it more clear. I am familiar with the serverless arch and have used diff providers. My question was targeted more to understand where can loopback.next play a role in the handler of a lambda function for instance. as a router for other actions? CQRS? Hope i explained myself better 👍

[2017-07-25 21:25] jonathan-casarrubias commented on #257
@onel0p3z thanks for clarifying now it is more clear, though I guess we will need to wait for the official answer for that question since I'm unaware about the plans for this implementation.

I'm sorry for the confusion.

Cheers
Jon

[2017-07-25 21:53] onel0p3z commented on #257
@jonathan-casarrubias thanks and no need to apologize 👍 😄  ideally, with a clear use case,  I'd like to come up with examples of it for different providers (aws, azure, gcloud, etc.)

[2017-07-26 11:16] bajtos opened #461 "Inspect application, controllers/routes, repositories and models"
See https://github.com/strongloop/loopback-next/issues/404#issuecomment-317785818

cc @jonathan-casarrubias

[2017-07-26 11:19] bajtos commented on #404
Thank you @jonathan-casarrubias for a thoughtful comment, I understand your concerns.

One option that's already available in loopback-next is to inspect bindings matching a key pattern. For example, `app.controller()` is binding the controller class to `controllers.${controller.name}` under the hood. Repositories (representing models) are bound similarly.

On the other hand, the routes (even Cont

[2017-07-26 11:21] bajtos commented on #461
Cross-posting my https://github.com/strongloop/loopback-next/issues/404#issuecomment-318024747:

One option that's already available in loopback-next is to inspect bindings matching a key pattern. For example, `app.controller()` is binding the controller class to `controllers.${controller.name}` under the hood. Repositories (representing models) are bound similarly.

On the other hand, the routes

[2017-07-26 13:35] jonathan-casarrubias commented on #461
@bajtos I really appreciate you taking the time to answer my thoughts and by creating this issue to address my concerns, I believe focusing in inspectability is key, therefore a new issue for that is the best Idea.

I agree with all of your comments and that gives me an idea of the development path so I can plan in this side, also clear the uncertainty for the many weekly questions I got about the

[2017-07-26 14:41] kjdelisle opened #463 "LoopBack-next getting started tutorial"
_From @bajtos on July 18, 2017 17:24_

_From @superkhau on March 20, 2017 22:37_

Deadline: ???

As a LoopBack user
I want to try out a tutorial
So that I can learn the basics of LoopBack-next

# Story map
&nbsp;|&nbsp;|&nbsp;
---|---|---
Go to [loopback.io/getting-started](http://loopback.io/getting-started) | Follow page-by-page tutorial on loopback.io | End the tutorial with next steps
Go to [l

[2017-07-26 14:52] b-admike commented on #463
- Use tags or branches to show each step of the tutorial
    - Reference: https://github.com/angular/angular-phonecat

[2017-07-26 20:20] Brian-McBride commented on #257
@onel0p3z I see a use of leveraging loopback in a light form for serverless functions. Obviously a function is typically tied to one event.

Even within a Lambda, Google Function, etc... there are common needs. Authentication, Access Management, Data connections, external API calls, common middleware, etc... A lot of stuff that frameworks like Loopback provide currently.

But, yeah, ideally in the

[2017-07-27 08:53] #404 closed

[2017-07-27 09:18] bajtos opened #465 "wiki: Rename sequence-level context to request-level"
Start here: https://github.com/strongloop/loopback-next/wiki/Context

Review other wiki pages for a possible usage of Sequence-level context too.

[2017-07-27 09:20] bajtos opened #466 "core: expose "this.ctx" in DefaultSequence"
See https://github.com/strongloop/loopback-next/wiki/Context#sequence-level-context-request for an example usage:

[code]

[2017-07-27 09:22] bajtos commented on #466
I think we should create a new binding allowing classes to get the current request context injected, e.g. `http.request.context`. Then we should change `DefaultSequence` constructor to inject this current context into `ctx` property.

[2017-07-27 09:25] bajtos opened #467 "wiki: rename Sequence to DefaultSequence"
At the moment, wiki pages contains reference to `Sequence` class. This does not exist in the current implementation, we have two different entities instead:

 - `SequenceHandler` defines the interface required by our REST layer. This allows applications to build custom sequences not inheriting from our default implementation.
 - `DefaultSequence` provides a default implementation that uses `findRo

[2017-07-27 09:28] bajtos opened #468 "wiki: create "Dependency Injection" page"
The wiki page [Context](https://github.com/strongloop/loopback-next/wiki/Context) refers to a page that does not exist "Dependency Injection":

We need to write  https://github.com/strongloop/loopback-next/wiki/Dependency-Injection.

[2017-07-27 09:33] bajtos opened #469 "wiki: validate and fix all OpenAPI Spec snippets"
Many wiki pages (e.g. [Thinking in LoopBack](https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack)) show snippets of Swagger/OpenAPI spec documents, some of them are not valid.

We should find all OpenAPI spec snippets in our wiki, run then against a validator (e.g.  http://editor.swagger.io/) and fix any syntax/validation errors

[2017-07-27 09:35] bajtos opened #470 "core: x-controller-name"
In https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack, we are using `x-controller-name`, which is not supported yet. Strangely enough, we allow `x-controller `extension to provide a controller name

 - [x] rename `x-controller` to `x-controller-name` in the implementation
 - [x] fix all wiki pages using `x-controller` to use `x-controller-name` instead

[2017-07-27 09:38] bajtos opened #471 "wiki: Use deep-assign for merging OpenAPI spec objects"
Fix examples showing how to build a spec by merging multiple partial spec objects to correctly merge deep properties like `definition.properties` or `spec.paths`.

For example, in  https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack:

 - The schema building example is using `Object.assign` to merge definitions, assuming it will do a deep merge. That's not true and as a result, pr

[2017-07-27 09:45] bajtos opened #472 "wiki: Thinking in Loopback - use Dredd for smoke testing"
In https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack, we have a section about generating smoke tests.

Let's rework this section to show people how to use [Dredd](https://github.com/apiaryio/dredd) for configuring and running smoke tests verifying that the app is following the spec.

We should make the setup as easy as possible, here is an example illustrating what I have in mi

[2017-07-27 09:48] bajtos opened #473 "wiki: Thinking in LoopBack - validate the spec using a 3rd party validator"
In https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack, we have a section about validating the Swagger/OpenAPI spec.

Let's not reinvent the wheel and show our users how to integrate [swagger-parser](https://github.com/BigstickCarpet/swagger-parser) into their test suite.

Additionally, show how to add custom schema linting on top of the generic validation, in the spirit of @ritc

[2017-07-27 11:54] bajtos opened #474 "Controller decorators should set x-controller-name"
At the moment, controller methods decorated via `@operation` (`@get`, etc.) set `x-method-name` field in the OpenAPI spec. For consistency with other approaches for defining controller-based routes, the OpenAPI spec for these methods should have `x-controller-name` field set too.

Requires #470

[2017-07-27 14:55] bajtos commented on #473
#475 is adding `app.validateApiSpec()` method that can be used here.

[2017-07-27 15:14] kjdelisle opened #476 "Support RequestObject injection on API methods"
See original comment here: https://github.com/strongloop/loopback-next/pull/462#issuecomment-318103253

## Proposal
Leverage support for per-parameter definitions, as seen on the `@param` decorator to support automatic injection of an entire `RequestObject` instead.

This would not be a replacement for the `@param` approach, but a complementary extension to simplify API handler method arguments.

[2017-07-27 20:54] dhmlau opened #477 "Blog post for beta announcement"
In discussion with @ritch , we probably need one or more blog posts on LB Next Core beta as marketing purpose.

[2017-07-28 18:22] ritch commented on #450
This content is a good start. We need to go deeper and be explicit on how to write a component. Especially defining what a Provider is, how it works and how you use them. This really tripped up Tetsuo when he was writing his logger component. He immediately started using `app.bind()`.

Given his feedback, I also think the app / request ctx is not so obvious to someone writing a component. We shoul

[2017-07-31 14:50] bajtos opened #483 "authentication: make it a proper component"
We need to make sure the authentication package can be used as a regular Component, also as a role model for component developers.

See #218

[2017-07-31 15:55] dhmlau commented on #185
Since this is for the beta, I'm marking this as `LoopBackNext-beta`.

[2017-07-31 17:41] dhmlau commented on #465
@bajtos, I'm doing a search on `sequence` and `sequence level` in this repo.  The only matching results in the wiki is in https://github.com/strongloop/loopback-next/wiki/Context (2 occurrences).

I did the renaming because it's a simple change.
Perhaps we can close it?

[2017-07-31 17:53] dhmlau commented on #468
@bajtos , there's a Dependency Injection section in the Context wiki page: https://github.com/strongloop/loopback-next/wiki/Context#dependency-injection.
What else should we cover in the new wiki page?  Trying to define the acceptance criteria.
Some might not be applicable.  Please edit accordingly.

## Acceptance Criteria
- [ ] Wiki page should include the following topics:
    - [ ] what is depe

[2017-07-31 19:09] ssh24 commented on #467
@bajtos Updated the wiki to fix examples that references `Sequence`:
- https://github.com/strongloop/loopback-next/wiki/Sequence
- https://github.com/strongloop/loopback-next/wiki/Routing
- https://github.com/strongloop/loopback-next/wiki/Context
- https://github.com/strongloop/loopback-next/wiki/Sequence-(Advanced)

Those are the only pages where I found `Sequence` relevant. Please let me know if

[2017-08-01 07:40] bajtos commented on #465
I searched for `level` just to be sure, and did not find any more occurrences. Thank you for making the change, I am closing this issue as done.

[2017-08-01 07:40] #465 closed

[2017-08-01 07:46] bajtos commented on #467
@ssh24 thanks.

https://github.com/strongloop/loopback-next/wiki/Sequence

`SequenceHandler` is an interface (which is used with `implements` keyword, not `extends`). However, the code example needs properties from `DefaultSequence`. Same comment applies to most other code snippets on this page. I fixed them all.

[2017-08-01 07:51] bajtos commented on #467
I reviewed and fixed other pages that you have referred to, @ssh24.  I am closing this issue as done.

[2017-08-01 07:51] #467 closed

[2017-08-01 14:24] bajtos commented on #156
Placeholder page: https://github.com/strongloop/loopback-next/wiki/Reserved-binding-keys

[2017-08-01 15:05] bajtos commented on #450
@ritch thank you for the feedback. I edited the wiki page and incorporated a big part of it, see https://github.com/strongloop/loopback-next/wiki/Writing-Components. Could you please review?

@Setogit please read the new content too, I think it may give your better context for your work in https://github.com/strongloop/loopback-next/pull/484.

[2017-08-01 16:55] dhmlau opened #485 "SPIKE - Migrate LB3 to LB4 is possible"
## Acceptance Criteria

- Attempt to migrate a LB3 application to LB4, testing each of these areas:
  - Reuse
    - Models
      - Properties
      - Relationships
  - LB3 Juggler
    - Operation hooks
    - Properties/Relationships
  - Remote hooks
- Note which areas are laden with friction as areas for improvement/areas that need tooling

[2017-08-02 07:18] bajtos commented on #473
Based on our recent discussion with @ritch, for the initial beta release it's enough to show how to use swagger-parser for validating OpenAPI spec. Something along the following lines:

[code]

[2017-08-02 12:03] #439 closed

[2017-08-02 16:04] headwire commented on #110
Hey @ritch, would love to help.

[2017-08-02 20:04] #260 closed

[2017-08-03 14:10] bajtos commented on #468
@dhmlau I think your list is a good one! Could you please check with @ritch? He may have ideas on what more should be included.

[2017-08-03 14:25] bajtos commented on #450
I am closing this issue as done, we can open follow-up issues if there are any more improvements to be made.

[2017-08-03 14:25] #450 closed

[2017-08-03 15:04] virkt25 commented on #470
Updated the wiki. Updated the following:
[Controllers](https://github.com/strongloop/loopback-next/wiki/Controllers)

[2017-08-03 15:05] #470 closed

[2017-08-03 15:22] kjdelisle opened #487 "[LB-Next] Migration Management Framework"
_From @kjdelisle on July 28, 2017 18:37_

## Scenario
FooCorp wants to deploy version 2.0 of their LoopBack application on their production server, but doing so will require some alteration of the schema in their database. Some of these changes require a more delicate touch that cannot necessarily be performed by the `autoupdate` function.

Currently, FooCorp would have to create their own scripts

[2017-08-03 15:22] kjdelisle commented on #487
_From @bajtos on July 31, 2017 14:38_

I quite like the approach of Knex - see http://perkframework.com/v1/guides/database-migrations-knex.html. It's similar e.g. to [EntityFramework](https://msdn.microsoft.com/en-us/library/jj591621(v=vs.113).aspx). I have personally used this approach at my previous job and our experience was great.

 - Migrations are granular and version-controlled together wit

[2017-08-03 15:22] kjdelisle commented on #487
_From @bajtos on July 31, 2017 14:39_

Can we move this issue to loopback-next repository please, so that we can discuss this feature in public and get early feedback?

[2017-08-03 16:15] ritch commented on #487
In the spirit of LoopBack.next, we should build the foundational features for a framework like this, document those really well, and support 3rd party implementations. If one of those implementations gains a lot of adoption, we can pull it into the modules in this repo.

Our typical approach to this is to build a reference implementation, but not necessarily release it on npm (or if released, mark

[2017-08-03 16:42] bajtos commented on #425
Once we have `app.repositorye`, it would be great to allow components to export repositories similarly how controllers are exported - ideally implement that as part of this story.

Relevant source code: [packages/core/src/component.ts](https://github.com/strongloop/loopback-next/blob/master/packages/core/src/component.ts).

[2017-08-03 19:06] kjdelisle commented on #471
@bajtos I remember we spoke about potentially using `_.cloneDeep` instead, but I can't remember if this task called for recursive deep copies, or if a recursive shallow copy (like the one from deepAssign) is sufficient.

[2017-08-03 23:15] Setogit commented on #473
It'd be good to incorporate this validation to hello-world tutorial code for LB.Next beta along with Authentication component and custom sequence based on Authentication.

If the hello-world approach makes sense, the size estimate of this portion is: 2.

[2017-08-04 06:58] bajtos opened #488 "core: support configurable openapi URLs"
Allow application developers to customize the URL where application's openapi spec is served (current hard-coded default: `/openapi.json`).

See https://github.com/strongloop/loopback-next/pull/475#discussion_r130181575

[2017-08-04 06:59] bajtos opened #489 "core: serve YAML version of openapi spec"
Modify the endpoint `GET /openapi.json` to allow the client to ask for YAML-formatted document.

See https://github.com/strongloop/loopback-next/pull/475#discussion_r130181575

[2017-08-04 07:06] bajtos commented on #471
Well, `_.cloneDeep` is not going to work, because we need to merge two (or more) objects. Having said that, I cannot tell whether we need a recursive deep or a recursive shallow algorithm.

[2017-08-04 07:11] bajtos opened #490 "hello-world: add Authentication component"
- add Authentication component
 - create a custom sequence calling `authenticate` action

cc @Setogit

[2017-08-04 07:12] bajtos commented on #473
Let's keep this GH issue focused on API validation only please. I agree it would be good to incorporate api validation hello-world tutorial, possibly to other `loopback-next-*` example repositories too.

I created https://github.com/strongloop/loopback-next/issues/490 to keep track of adding Authentication to hello-world.

[2017-08-04 08:05] #370 closed

[2017-08-05 22:55] Setogit commented on #490
https://github.com/strongloop/loopback-next-hello-world/pull/8

[2017-08-07 06:09] Setogit commented on #473
Added spec valiation to hello-world and  fixed the spec:
https://github.com/strongloop/loopback-next-hello-world/commit/2db4dcbe4c18091531468cedd6f593b33defecbd

[2017-08-07 06:10] Setogit commented on #490
Added spec validation test and fixed the HelloWorld API spec
https://github.com/strongloop/loopback-next-hello-world/commit/2db4dcbe4c18091531468cedd6f593b33defecbd

[2017-08-07 07:29] bajtos commented on #473
strongloop/loopback-next-hello-world@2db4dcb

Could you please send a pull request with that change?

[2017-08-08 09:00] bajtos opened #493 "Globalization and localization"
We should start globalizing all string messages used in loopback-next to allow localization. IMO, we should be extracting strings from the original TypeScript sources, not from the transpiled result.

**Things to investigate - must have**
 - [ ] https://github.com/strongloop/strong-globalize/issues/113: how to extract strings from TypeScript
 - [x] https://github.com/strongloop/strong-globalize/is

[2017-08-08 15:35] Setogit commented on #485
LoopBack Next is probably the biggest architectural change we ever made to LoopBack since the first release.

When we launch the Beta of LoopBack Next, we should launch not only the great new technology to the community but also a new support structure. Beta product release in this industry is typically the period of getting critical feedback from external audience and making tough product decisio

[2017-08-08 16:55] bajtos commented on #263
The scope for Sprint 42: research what are the existing tools for generating packages-scoped changelog entries. Talk to @kjdelisle @superkhau @bajtos to decide which one to use going forward. Stretch goal: implement this new changelog generation.

[2017-08-08 17:19] bajtos commented on #425
One point to consider: IMO, we shouldn't be coupling `Application` from `@loopback/core` with any specific version of`Repository` interface from `@loopback/repository`, `@loopback/repository` should not be a dependency of `@loopback/core`. This means that the type signature of `app.repository` cannot use `Repository` interface from `@loopback/repository`. The simplest solution that comes to my min

[2017-08-08 17:57] Setogit opened #495 "hello-world: add spec validation"
- [ ] add the spec validation test
- [ ] make the hello-world spec OpenAPI conformant

[2017-08-08 19:53] Setogit commented on #473
Edited two sections of the wiki "Thinking in LoopBack" chapter::
`Validating the API specification`section:
https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack#validating-the-api-specification
`Testing` section:
https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack#testing

[2017-08-09 00:46] virkt25 commented on #466
connect to #496

[2017-08-09 08:56] bajtos commented on #473
@tseto good start. IMO, the first snippet showing implementation of `validateApiSpec` is not needed. What's more important: make the second code snippet with the mocha test self-contained, so that users can simply copy and paste it into their project. Also please apply https://github.com/strongloop/loopback-next/pull/484/commits/8f422d32e91fc4e73c6a2cf6143168f5776472cc#r131851865

[2017-08-09 22:21] b-admike commented on #469
[Routing page revision](https://github.com/strongloop/loopback-next/wiki/Routing/_compare/9ef503e13acd7d1797148bee82c8f688166c7357...0b631f5bb8ac06b23bfc2ce0afa3d797d125409a)
[Controllers page revision](https://github.com/strongloop/loopback-next/wiki/Controllers/_compare/262f688ff43bfc9cba8780aaaa4ed50fce9ffbb1...43aa38422dc9306f555197091fcea2220f8db708)

[2017-08-10 07:29] #474 closed

[2017-08-10 09:20] bajtos commented on #469
@b-admike I think it was a very valuable exercise to let somebody with a fresh mind to read through our wiki. The changes you made show how easy it is to misunderstand the real data formats when all the reader has is the text in the wiki. Let's make the wiki more clear to prevent this kind of confusion for future readers!

The `Route` constructor is accepting an [OperationObject](https://github.co

[2017-08-10 16:10] #466 closed

[2017-08-10 17:40] Setogit opened #499 "hello-world tutorial README"
This is a documentation part of the LoopBack Next tutorial umbrella task.  The other part is the coding part: https://github.com/strongloop/loopback-next/issues/463

The hello-world tutorial repo is in: https://github.com/strongloop/loopback-next-hello-world

==========
UPDATE (9/19) from @dhmlau
- Verified the content and instructions in the https://github.com/strongloop/loopback-next-hello-world

[2017-08-10 17:55] Setogit commented on #463
The LoopBack Next wiki is the entry point to LB Next documentation: https://github.com/strongloop/loopback-next/wiki/

There is a section called `Take the tutorial` : https://github.com/strongloop/loopback-next/wiki/Take-the-tutorial

As you see there, `the tutorial` *is` the hello-world: https://github.com/strongloop/loopback-next-hello-world

There are two parts in hello-world: coding and docume

[2017-08-10 18:44] dhmlau commented on #499
Marking it as `p1` because it's part of the getting started tutorial.

[2017-08-10 18:44] dhmlau commented on #495
Marking it as `p1` because it's part of the getting started tutorial.

[2017-08-11 14:26] b-admike commented on #469
@bajtos I've applied your feedback; PTAL
[Routing page revision](https://github.com/strongloop/loopback-next/wiki/Routing/_compare/0b631f5bb8ac06b23bfc2ce0afa3d797d125409a...5592c2c63bf013fe06aef2d2af1459c670bec3b4)
[Controllers page revision](https://github.com/strongloop/loopback-next/wiki/Controllers/_compare/43aa38422dc9306f555197091fcea2220f8db708...af3a795271cbc90f83678a26014c31516abdf04b)

[2017-08-11 15:58] Setogit commented on #499
@emckean owns this task.

[2017-08-11 18:37] Setogit commented on #469
@b-admike
Rounting spec:
-   basePath: '/', can be removed?
Controllers spec
- Why these lines deleted?
[code]
Clean and best approach is to actually verify with https://editor.swagger.io/
When use the editor, the preamble portion needs to be there:
[code]

[2017-08-11 18:55] b-admike commented on #469
@Setogit
- `basePath` is part of `ControllerSpec` interface see [here](https://github.com/strongloop/loopback-next/blob/0eb8d049af8252c2ae5b58c42ccc10644b9fa6bf/packages/core/src/router/metadata.ts#L22-L34)
- I deleted the the lines because the `Route` constructor accepts [OperationObject](https://github.com/OAI/OpenAPI-Specification/blob/0e51e2a1b2d668f434e44e5818a0cdad1be090b4/versions/2.0.md#op

[2017-08-11 21:43] b-admike commented on #471
I think the `deep-assign` module achieves what we are looking for:

[code]

https://gist.github.com/b-admike/f490eeb5543d80154eafcc823dc3edd6

PTAL: https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/1ce08c8a153c000754ac6c7d4c2eed98a2683364...b612119105eb273e9715149e47b4fb6c473d83c4

[2017-08-14 08:58] bajtos commented on #469
Routing: I made few last corrections myself, see https://github.com/strongloop/loopback-next/wiki/Routing/_compare/5592c2c63bf013fe06aef2d2af1459c670bec3b4...6b96b57bad982385d29d3a2eaf4082a8b1b4ca7f

[2017-08-14 09:02] bajtos commented on #469
The `@api` decorator is intentionally using `ControllerSpec` type instead of `OpenApiSpec` type, with the main difference that `ControllerSpec` does not contain preamble and `basePath` is optional.

Most applications will have more than one controller, it does not make sense (at least to me) to repeat Swagger pre-amble in every controller specification. It also simplifies our implementation, becau

[2017-08-14 09:05] bajtos commented on #469
Controllers: I made few last corrections myself too, see https://github.com/strongloop/loopback-next/wiki/Controllers/_compare/af3a795271cbc90f83678a26014c31516abdf04b...54a36899fec9d165ae716b6279e3301e2709264d.

[2017-08-14 09:07] bajtos commented on #469
As far as I am concerned, these two wiki pages are good enough now.

@b-admike have you reviewed and validated specs in this page too? https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack

[2017-08-14 14:43] rahulrkr08 commented on #110
Hey @ritch, I would like to join.

[2017-08-14 14:54] b-admike commented on #469
Thanks @bajtos; yes, I am looking at that page now. I was working on #471.

[2017-08-14 15:32] bajtos commented on #471
Please use the full command name (`install`) and also add `--save` flag, as that's what most people need to do.

I think the usual approach is to provide `{}` as the first argument of `merge` in order to avoid mutation of the spec object. I think we need to do the same for `deepAssign`.

[code]

I personally don't mind whether we use `deep-assign` or `loadash/merge`. Please check with @kjdelisle,

[2017-08-14 20:15] dhmlau opened #505 "Support declarative approach to define DataSource, Model and Repository"
Now that we support programmatic approach in beta, we'll need to support declarative approach (json, yaml) to define DataSource, Model and Repository.

cc @raymondfeng

[2017-08-14 21:03] raymondfeng opened #506 "Add CORS support to swagger/openapi endpoints"
CORS is required to use http://localhost:3000/openapi.json for http://editor.swagger.io/.

[2017-08-14 21:03] raymondfeng commented on #506
See https://github.com/strongloop/loopback-next/pull/475

[2017-08-14 21:19] raymondfeng commented on #488
To serve OpenAPI spec with LB.next will be a good a validation for the following perspectives:

1. Allow a component (openapi explorer component) to serve certain routes
2. Support content negations based on `Accept` header and other information so that we can render OpenAPI spec in v2, v3, json, yaml etc.
3. Enable CORS

[2017-08-15 01:18] b-admike commented on #471
@bajtos I have talked to @kjdelisle about this and we've concluded on using `deep-assign` since it is lightweight and built for our purpose. I have made your proposed [changes](https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/b612119105eb273e9715149e47b4fb6c473d83c4...c254e0e8085a8b78f975a115b405b109c5bd6c44) as well.

[2017-08-15 06:17] coderhaoxin commented on #110
Hi @ritch, I would like to join :)

[2017-08-15 14:10] bajtos commented on #468
@Setogit @virkt25 @b-admike could you please review the text in https://github.com/strongloop/loopback-next/wiki/Dependency-Injection and let me know your thoughts? As a reader of that wiki page, do you have any additional questions related to DI that you would the wiki page to answer for you?

[2017-08-15 15:33] b-admike commented on #469
@bajtos @Setogit @virkt25 One last page PTAL: [Squences - Advanced page](https://github.com/strongloop/loopback-next/wiki/Sequence-(Advanced)/_compare/927d46278489a7d45f8d59545e281922936ade7e...44c6b8641966740e2ec574ba4ec6ca706e6ce62d)

[2017-08-15 16:23] kjdelisle opened #509 "Extensions!"
@strongloop/loopback-next

## Overview
We're looking to see what sort of extensions people would like for loopback-next. Building a list of desired functionality that you want to see will give us a list of ideas to work with.

Once we've got a list of extensions, we'll begin reaching out to you to work _with_ you to make these components/extensions. The goal here will be that you, the community, w

[2017-08-15 16:33] kjdelisle commented on #509
## RequestContext Extension

### Purpose

Using the existing ParameterObject definitions, and your OpenAPI spec, make a new custom Sequence extension that automatically converts incoming requests into POTOs (Plain Old TypeScript Objects) will simplify handling of incoming arguments and parameters.

Example:
[code]
See https://github.com/strongloop/loopback-next/issues/476 for a complete proposal.

[2017-08-15 16:45] bajtos commented on #471
LGTM :

[2017-08-15 16:55] #471 closed

[2017-08-15 19:43] dhmlau commented on #361
@kjdelisle, looks like we might need a spike to see what are the Yeoman equivalent we could possibly use for interactive command line user interfaces.  Are you ok to change this as a spike?

@bajtos  mentioned [Inquirer](https://www.npmjs.com/package/inquirer) in strongloop/generator-loopback#139.

cc @rashmihunt

[2017-08-15 20:10] raymondfeng opened #512 "Wish list of LoopBack Next extensions"
A list of potential extensions for LoopBack Next.

**Add a 👍 reaction to any of the comments below if you are interested in seeing these features / extensions**

[2017-08-15 20:25] dhmlau commented on #218
Per our latest discussion, what we need in this tutorial are:
- what is an extension
- why build extension

[Writing component wiki page ](https://github.com/strongloop/loopback-next/wiki/Writing-Components) could be a good starting point but it's not complete

[2017-08-15 20:27] dhmlau commented on #218
@raymondfeng, assigning this to you as you'll be driving this. Thanks!

[2017-08-15 20:38] raymondfeng commented on #509
I just created a wish list for potential extensions to inspire discussions - https://github.com/strongloop/loopback-next/issues/512.

[2017-08-15 21:54] crandmck opened #513 "Publish initial API docs"
Developers need minimal API documentation to use LoopBack-Next.  Presumably, we would continue to use apidocs.strongloop.com to publish API docs.  I believe @mpatsute laid the necessary groundwork to generate API docs from the TypeScript code, but we need to hook it into the production version of apidocs.strongloop.com.

cf. https://github.com/strongloop/loopback-next-apidocs (this repo can be del

[2017-08-15 23:28] dhmlau commented on #513
I believe we are going to keep the apidocs for LB3 as well?  If so, how are we going to show these 2 sets of apidocs to our users?

[2017-08-15 23:35] crandmck commented on #513
We definitely need to keep the v3 docs as well.

I _think_ the two sets of API docs can co-exist, due to all the work that @mpatsute did on strong-docs, but he should confirm.

My assumption is that the user can simply choose "4.0beta1" or other release number from the drop-down list to display the v4 API doc.  IIUC all the LB-next packages will be in the `loopback` repo.

![2017-08-15_1632](https

[2017-08-15 23:53] Setogit commented on #473
1. removed the first snippet.
2. made the second snippet copy&paste-able.
3. applied the blog/readme and mentioned the OpenAPI swagger editor

This seems to be short and balanced description for the wiki.
^^^ @bajotos

[2017-08-16 01:25] virkt25 commented on #449
Example Repo & Wiki are consistent however actually implementing / running the implemented code doesn't work as expected. Below are the differences / changes that need to be made.

@bajtos Does the wiki take take precedence or the `@loopback/repository` code?

## Persisting Data With Juggler
- importing juggler doesn’t work. Getting undefined. Need to import jugglerModule.
- jugglerModule.ModelBas

[2017-08-16 01:42] virkt25 opened #514 "Better way to link to local version of loopback-next for developers"
# Description/Steps to reproduce
As a developer of the LoopBack-Next framework I want to be able to test the framework by linking to it from my sample app. The current process of `npm run build` and `npm link` in `loopback-next` will link the `loopback-next` repository but my local sample app will likely be importing from `@loopback/*`. Current workaround would be to replace `@loopback/*` with `lo

[2017-08-16 03:02] virkt25 commented on #468
- Fixed a type `to` -> `two`.
- Seems simple enough and easy to follow with references to additional resources however, if I'm reading this page (out of the order suggested in the left nav) then I'm left wondering where the injected values come from or how they are set. (My suggestion would be to add a brief section / link to `Context` wiki page just like the `Context` wiki page talks about depend

[2017-08-16 10:42] #483 closed

[2017-08-16 12:02] bajtos commented on #468
@virkt25 thank you, this is very valuable feedback! I added more content to the page to address your first point, and changed formatting of the code examples to hopefully avoid issue pointed out by your second item.

Could you PTAL again?

The diff: https://github.com/strongloop/loopback-next/wiki/Dependency-Injection/_compare/cc31d292ef1cca22668c6a81e6691426c75f8237...19197230a15695e13b22b8029940

[2017-08-16 12:16] bajtos commented on #473
@Setogit thanks, this is good enough, we can close this story as done. I'll make some further tweaks as part of my work on #393.

Let me use this opportunity for a bit of education:

[code]

Mocha's `describe` and `it` interface is called BDD (for behaviour-driven development), because the tests should be describing application's behavior and read like English sentences. Your short test name says

[2017-08-16 12:16] #473 closed

[2017-08-16 12:28] bajtos commented on #449
@virkt25 my knowledge of the persistence layer is pretty minimal. Could you please talk to @raymondfeng and @ritch to find out what's the best approach here?

[2017-08-16 12:30] bajtos commented on #469
LGTM 👍

[2017-08-16 12:33] bajtos commented on #469
As for Thinking in LoopBack - the current specs don't seem correct to me. I have fixed the obvious mistakes myself https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/a6e8480574e153021bb5935d526bb1dd4aec0e48...e5781e6c3f3842d9c4dcdcc6c516a1a5110cb3ca.

There is one case that's more involved and I'd like you to fix it yourself (and verify the fix):

[code]

The operation

[2017-08-16 13:56] Setogit commented on #472
Refs:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#exampleObject

[2017-08-16 14:41] bajtos commented on #472
@Setogit I created a placeholder section for your content - see https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack#smoke-test-your-api-inputoutput

[2017-08-16 14:58] virkt25 commented on #468
Much clearer to follow along! Really like the explanations for binding a class vs provider vs value.

Not sure as a developer if I prefer seeing the variable on the next line after `@inject('key')` even though it was done because of my idea. Not sure if there is an easy way out apart from just not having someone skip the variable after. Or maybe a comment saying it injects the value into the varia

[2017-08-16 15:15] bajtos commented on #468
I don't have a strong opinion on this. Feel free to make these changes yourself.

[2017-08-16 15:15] bajtos commented on #468
Great, I am closing this issue as done.

[2017-08-16 15:15] #468 closed

[2017-08-16 21:09] dhmlau commented on #513
cc @mpatsute

[2017-08-16 21:52] crandmck commented on #513
I just spoke with Mahesh, and it seems like everything is lined up, so all we need to do is (1) promote the master branch of apidocs.strongloop.com to production and then (2) npm publish loopback-next.  Then the site _should_ pick up the latest version of the lb-next packages…. I think we can go ahead and do no. 1 now.  There is no reason to wait, AFAIK. I can do that perhaps with some help from R

[2017-08-16 22:54] crandmck commented on #513
Currently, based on running the site locally, this won't work for beta release, because the design assumes that we only want to publish API docs for "stable" (non-alpha, non-beta) releases.  So the links on the site home page to LB-next packages go to (for example) http://localhost:3000/@loopback%2fcore which don't resolve and display the message `No latest stable version found!`.

However, if you

[2017-08-17 01:08] dhmlau opened #517 "Add CODEOWNERS for automatically requests reviews from code owners"
New feature in github allows us to specify the owner of the repo. https://github.com/blog/2392-introducing-code-owners

Since each package might have different set of codeowners, I'm proposing the following breakdown:

[code]

Related to https://github.com/strongloop-internal/scrum-apex/issues/278

[2017-08-17 05:14] Setogit commented on #473
+1 thanks, @bajtos

[2017-08-17 05:16] Setogit commented on #490
This PR contains both auth component and spec-validation:
https://github.com/strongloop/loopback-next-hello-world/pull/10

[2017-08-17 05:16] Setogit commented on #495
This PR contains both auth component and spec-validation:
strongloop/loopback-next-hello-world#10

[2017-08-17 05:20] Setogit commented on #472
@bajtos  Wanted to implement it in the hello-world first.  This PR includes the impl:
https://github.com/strongloop/loopback-next-hello-world/pull/9
Once the `auth component` PR (#10) is merged, I will rebase this to the master.

[2017-08-17 05:31] Setogit commented on #472
The wiki will be edited based on the sample implementation Thu or Fri in this sprint.

[2017-08-17 07:09] b-admike commented on #469
Thanks, @bajtos! I have made the [change](https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/d24dd2277d97d35618738f86c906d2b0f0d9ea32...97761b98c032c9122e2f1a7554ee327b1d1e8e90) on return type. [Here](https://gist.github.com/b-admike/d6beb8cc7cc1606f7b9d87fb24a4e962) is the final full OpenAPI spec for that page. The swagger editor complains that the `in` key for `slug`

[2017-08-17 12:42] virkt25 commented on #156
@bajtos Can you PTAL. Updated to include the CONSTANT Variables.

https://github.com/strongloop/loopback-next/wiki/Reserved-binding-keys/_compare/c2696a3c0e57cef99a42bd114204e11d7a99ffaa...5526e39d2cf9020378f97704cee9888e7698b6f4

[2017-08-17 12:44] virkt25 commented on #449
Updated Persisting With Juggler to remove `juggler.ModelBase` since it doesn't work.

[2017-08-17 13:22] dhmlau commented on #505
Duplicate of #441

[2017-08-17 13:23] #505 closed

[2017-08-17 13:29] bajtos commented on #469
[code]

You must annotate the parameter as `required: true`. Optional parameters are not allowed in the path (in Swagger Spec v2).

[code]

Your operation defines `CategoryResource` parameter `in: query`, but does not define any parameter for the `{slug}` part of the path.

[2017-08-17 14:48] bajtos commented on #156
LGTM :

[2017-08-17 14:48] bajtos commented on #449
Is there anything else need? Can we close this issue as done?

[2017-08-17 14:59] Setogit commented on #485
A couple of points/thought as a result of this spike:

- [ ] (1) A task is going on in this sprint to implement `Repository/Model` in the hello-world.  From there, we should figure out the migration story/support tool from v2,v3 model/juggler to LB.Next repository.

Note: `relationship` feature is not currently supported in repository if I understand it correctly.  This information might be out-da

[2017-08-17 15:42] bajtos commented on #218
- We need a brief architectural guide explaining high-level ideas to extension developers, few diagrams to visualize the concepts (Raymond).

- A blog post (stakeholders: Raymond, Kevin, Tetsuo,... owner: Tetsuo).

- `loopback-next-hello-extension` - a github project people can `git clone` and start developing a new extension (TV).

[2017-08-17 15:48] bajtos opened #521 "Spike: gRPC support for controllers"
What's needed to make the current REST interface a plugable component and make it easy to add gRPC support as another component.

See https://github.com/strongloop/loopback-next/issues/440

[2017-08-17 15:49] ritch commented on #512
1. Actions for REST/HTTP req/res processing
- CORS
- Logging
- Rate Limiting
- Authorization
- Express/KOA middleware

[2017-08-17 15:49] ritch commented on #512
2. Transports/protocols
- WebSocket
- MQTT
- gRPC (HTTP2 & ProtoBuffer3)

[2017-08-17 15:50] ritch commented on #512
4. Cloud native integration
- Docker/compose/k8s/
- Istio: Metrics/Distributed tracing
- Bluemix/AWS/Azure

[2017-08-17 15:50] ritch commented on #512
5. Built-in models
- User/Team/Organization
- Application
- AccessToken

[2017-08-17 15:50] ritch commented on #512
6. Mixins

[2017-08-17 15:51] ritch commented on #512
7. Connectors

[2017-08-17 15:51] ritch commented on #512
8. CLI commands

[2017-08-17 15:51] ritch commented on #512
10. Boot
- OpenAPI Specs
- Controllers
- Repositories/Services
- Components
- Model definitions
  - JSON schemas
  - OpenAPI specs
  - WSDL/XML Schema
  - GraphQL Schema
  - ...
- Data sources
- Connectors
- gRPC service/message
- ...

[2017-08-17 19:30] #490 closed

[2017-08-17 19:30] #495 closed

[2017-08-17 22:54] raymondfeng opened #522 "Define services to represent interactions with REST APIs, SOAP Web Services, gRPC services, and more"
LoopBack uses `DataSource` to configure connections to various services, such as:

1. REST APIs
2. SOAP Web Services
3. gRPC Microservices

The common characteristics of above are:

1. Service operation/message definition
2. Operations are service-oriented, not data oriented

We need to have a way expose such services as Node.js/TypeScript APIs backed by the data sources. Do we want to generate st

[2017-08-18 00:24] virkt25 commented on #156
Closing

[2017-08-18 00:24] #156 closed

[2017-08-18 01:10] virkt25 commented on #449
I needed to verify without-juggler. @raymondfeng helped me fix the `loopback-example-application/services/account-without-juggler` so I could verify the wiki.

Here's the latest change set for any feedback (after it this can be closed).

Link: https://github.com/strongloop/loopback-next/wiki/Persisting-Data-with-Repositories/_compare/b1936c41baf627f00335cf33cad9b2d82de33865...421a52454ab7083e87e14

[2017-08-18 01:41] virkt25 commented on #47
I'm ok with the idea of letting users ask questions as GitHub Issues and definitely agree with need to be more proactive to close issues.

An obvious omission and a possible go to for most people imo is StackOverflow. Any reason that's not mentioned in this thread at all? Ask people to post questions there and tag them `loopback` and anyone can answer. GitHub to me is more a development tool and s

[2017-08-18 02:53] dhmlau commented on #477
@Setogit, since you're planning with the dev evangelist team on a series of blog posts, I'm thinking that it might be helpful to use this ticket to capture the list of topics to be covered (+purpose of the posts) after discussing with @raymondfeng @ritch and @emckean.  Then we can work out who can write the posts.

[2017-08-18 04:10] b-admike commented on #469
@bajtos I have made [latest change](https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/f87135ab7fa8ec2fbb16290eea83a8c02ad1242f...dc7ab0115a062cd0839948949b0dbea00e15a48b) according to your feedback, PTAL.

[2017-08-18 08:27] bajtos commented on #449
I took a quick look and don't see any obvious problems. I'll leave it for somebody more experienced with persistence/repository component to do the final approval.

[2017-08-18 08:35] bajtos commented on #47
This is the part that's not working well and we want to move away from it:

Once people posted the question on GitHub, it's easier to answer their question right there, instead of asking them to re-post on StackOverflow, where we won't follow up with an answer.

I like how Angular is recommending people to use SO and explaining why it works better for questions, I am happy to adopts the same recom

[2017-08-18 08:36] bajtos opened #523 "Architectural guide for extension developers"
We need a brief architectural guide explaining high-level ideas to extension developers, few diagrams to visualize the concepts (Raymond).

See #218

[2017-08-18 08:39] bajtos opened #524 "A blog post about extension development"
A blog post explaining to readers how easy it is to build an extension for LB Next, making people excited and wanting to write one!

Stakeholders to discuss the blog post with: @raymondfeng , @ritch, @kjdelisle, etc.

Promote @kjdelisle call for extensions: https://github.com/strongloop/loopback-next/issues/509

See also #218

---

**Acceptance criteria**

The blog post should be at relatively hig

[2017-08-18 08:42] bajtos opened #525 "An extension starter project"
Create `loopback-next-hello-extension` (or similar name), a github project that people can `git clone` and start developing a new extension.

Ideally, the sample project should have placeholders/templates for all kinds of things that an extension can contribute:

 - providers
 - controllers
 - repositories
 - a mixin adding `application` methods and configuration

The idea is that as a new extensi

[2017-08-18 08:50] bajtos commented on #517
+1 from me. If I understand the format of CODEOWNERS file correctly, then I think we need to duplicate "overall" owners in each package-specific line.

[code]

[2017-08-18 09:14] bajtos commented on #469
[code]

I find this rather ugly. Why cannot we define `slug` parameter directly inside the definition of the  `search` operation?

[2017-08-18 12:52] bajtos commented on #485
Here are my thoughts on the migration story.

At high-level, LoopBack 3.x applications consist of three big "parts"

 - Persistence layer (this includes talking to backend services like SOAP/REST)
 - Outwards facing REST API
 - App-wide setup - Express middleware, boot scripts, etc.

In the persistence layer, users can contribute the following artifacts:

 1. Definitions of Model data types (prope

[2017-08-18 14:06] b-admike commented on #469
I've talked with @bajtos on how to best approach this. We both find the design of the example confusing because `CategoryResource` is different than the other two resources and should not use the helper function. I've made a [change](https://github.com/strongloop/loopback-next/wiki/Thinking-in-LoopBack/_compare/15c7343ea0af68cb2aa3b42c1d8ca3235bcb8241...ec3c543e639991c07acf7b2c0b8b5c4592cf04f6) to

[2017-08-18 17:33] crandmck commented on #47
+1 from me as well on using SO as preferred forum for questions.

Even so, there will always be questions asked in GH, because:
- People will just ask questions there, regardless of what we tell them to do.
- Sometimes an issue that begins as a  "bug report" or "feature request" is really a question in disguise, either because the user misunderstands the behavior, due to a bug in product or docs,

[2017-08-18 18:01] crandmck commented on #485
@bajtos This is an excellent, detailed proposal.

Regardless of whether we adopt every aspect of it or not, I suggest that we move the details into a wiki document that can evolve as we refine our approach to migration.  IMO it's not efficient to keep a great level of detail of such a discussion in a GH issue.   An issue does make sense to have a threaded discussion on specific aspects of migratio

[2017-08-18 18:13] crandmck commented on #513
@dhmlau Current status is that we do need to do a little work to get apidocs.strongloop.com to pick up "non-stable" (i.e. beta) releases from npm.

Most likely @mpatsute would be the best person to do this work.  I suspect it would be less than a day of work, but he would be best to provide more accurate estimate.  It's possible someone else could do the work, but would need to consult with Mahesh

[2017-08-19 06:48] Setogit commented on #485
@bajtos looks great.  In my effort of spiking this,

[2017-08-21 10:13] bajtos commented on #485
@crandmck You proposal makes sense to me. I'd like to get the first round of feedback before creating a wiki page - if there is a lot of resistance against my proposal, then I see little value in capturing this content in wiki.

[2017-08-21 13:05] richardpringle opened #527 "Broken wiki links"
# Description/Steps to reproduce
@crandmck - Couple broken links on [this page](https://github.com/strongloop/loopback-next/wiki/Getting-started) at the bottom.

# Link to reproduction sandbox

# Expected result

# Additional information

[2017-08-21 16:53] raymondfeng commented on #449
LGTM

[2017-08-21 16:54] crandmck commented on #527
Fixed link to "Installation".  We don't have a "scaffolding" page, and no working CLI yet, so just removed that one for now.

[2017-08-21 16:54] #527 closed

[2017-08-21 17:05] crandmck commented on #485
Fair enough.  We'll keep initial discussion here.  Will provide my comments ASAP.

[2017-08-21 18:53] crandmck commented on #513
This PR _should_ make it work for beta https://github.com/strongloop-internal/apidocs.strongloop.com/pull/77

[2017-08-21 19:02] virkt25 opened #530 "repository: Entity should construct the object"
Entity should support functionality of assigning data to Instance through super.

Originally found here: https://github.com/strongloop/loopback-next-example/pull/70#discussion_r133905875

[2017-08-21 19:04] #449 closed

[2017-08-22 00:09] virkt25 commented on #263
# SPIKE Results

## Problem
Need a way to be able to generate `CHANGELOG.MD` for each individual package in the monorepo when a new version is published. Should be ideally automated.

## Potential Solutions
A few different approaches were investigated and tested. They are discussed below along with the pros and cons for each as well as my personal recommendation for the approach we should take bas

[2017-08-22 13:23] Setogit commented on #524
Combine with Raymond's blog series: https://github.com/strongloop/loopback-next/wiki/Crafting-LoopBack-Next

[2017-08-22 13:33] Setogit opened #532 "loopback-next-hello-extension sample package"
purpose: example code come along with extension blog post: task #524
refactor `loopback-next-hello-world` so that the two work seamlessly.

[2017-08-22 13:41] bajtos commented on #110
@proreact-mj
@bitingedgemick
@headwire
@rahulrkr08
@coderhaoxin

Hello and welcome onboard! 🎉 🎉 🎉

Please check your GitHub inbox for an invitation to join `strongloop` organization and the `loopback-next` team.

I apologize for the delay.

[2017-08-22 15:02] richardpringle commented on #110
@bajtos or @ritch, can you add me on there as well?

Cheers!

[2017-08-22 15:27] bajtos commented on #110
@richardpringle done. Welcome on board! (Or should I say welcome back? 😉)

[2017-08-22 16:10] kjdelisle commented on #506
Linking for my reference: https://github.com/strongloop/loopback-next/pull/531

[2017-08-22 16:30] bajtos commented on #485
@Setogit Could you please look into "remaining things" in this sprint? Please check with @raymondfeng and @ritch the priority of these items (which are important for the initial release, which can be left for later).

**Remaining things to figure out:**

- how to migrate middleware into Sequence
- how to migrate boot scripts
- where to keep Swagger definitions for Models so that we can reference t