[2019-09-12 00:21] dhmlau opened #3715 "[Blog post] Show how to deploy a LB application in a cloud native environment"
Part of our production deployment story: https://github.com/strongloop/loopback-next/issues/1054

LoopBack is moving towards the cloud native direction - we have documentation covering how to deploy to kubernetes, start to add health check and distributed tracing as the non-functional requirements to deploy to kubernet clusters. LB has been added as one of the application stacks in [Appsody](https

[2019-09-12 11:27] bajtos opened #3717 "From datasource config to Service REST API with no proxy/controller classes"
In LoopBack 3, it was very easy to get a fully-featured CRUD REST API with very little code: a datasource configuration for a 3rd party webservice (REST, SOAP, etc.) and an empty model attached to that datasource.

Let's provide the same simplicity to LB4 users too and build on top of the mechanism implemented for models in #2036.

- User creates a datasource using a web-service connector like RES

[2019-09-12 11:47] bajtos opened #3718 "Spike: Migration guide from LB3 - General runtime"
Write an outline of a migration guide for LB3 users - an initial "seed" version that we can incrementally improve later.

## Acceptance criteria

- [x] Collect a list of all different runtime artifacts & features we are aware of, use https://loopback.io/doc/en/lb4/Understanding-the-differences.html as the starting point. Few examples:
  - [x] Models (how to define them, attach to a datasource, exp

[2019-09-12 11:55] bajtos opened #3719 "Spike: Migration guide from LB3 - Authentication & authorization"
In a follow-up for https://github.com/strongloop/loopback-next/issues/3718, we should document how to migrate Authentication & Authorization features from LB3-style to LB4. Let's write an outline of a migration guide for LB3 users - an initial "seed" version that we can incrementally improve later.

## Acceptance criteria

- [ ] Review different aspects of auth & auth provided by LB3:
  - [ ] Auth

[2019-09-12 11:59] bajtos opened #3720 "Robust handling of ObjectID type for MongoDB"
MongoDB is tricky - see https://github.com/strongloop/loopback-next/issues/1875

- It uses a custom `ObjectID` type for primary keys.
- `ObjectID` is represented as a `string` when converted to JSON
- In queries, string values must be cast to ObjectID, otherwise they are not considered as the same value: `'some-id' !== ObjectID('some-id')`.

As a result, both PK and FK properties must use `ObjectI

[2019-09-12 18:44] freakpol opened #3723 "Error with Mongo connector."
## Steps to reproduce
Create a loopback project.
Add a mongodb connector.
Create a model/repository/controller
Do any request that implies a query to the database.

## Current Behavior
Console logs shows following error

[code]

## Expected Behavior
Allow to specifiy such option to avoid the warning.

[2019-09-12 19:31] #3723 closed, assigned to nobody

[2019-09-13 05:16] jannyHou opened #3728 "Update controller class in package `rest-crud` when id is a required property"
connect to https://github.com/strongloop/loopback-next/issues/2036
This is a follow-up story of PR https://github.com/strongloop/loopback-next/pull/3667.
As a quick fix, that PR fixes the controller generator by adding a new prompt `isIdOmitted`, and creating the corresponding controller class differently.

There are two more improvements which need more time to address, so I open a new issue here

[2019-09-13 07:14] JakubMifek opened #3730 "Better parameter openapi resolution"
## Suggestion

I have a scenario where my microservice requires a header parameter that is used in a sequence but never in controllers. Now, when I want to document the API, I'd like the parameter to be mentioned in the explorer.

My idea was that I'd append the parameter specification to each of controllers' methods. But that fails because parameter specifications are overwritten when any `@param

[2019-09-13 07:44] sertal70 commented on #3657
thanks @dougal83 for your thought. The strong-error-handler package is for lb3 and I can't find anything similar in lb4, also it is not mentioned in the [feature parity page](https://github.com/strongloop/loopback-next/issues/1920). Anyway, maybe the behaviour is by design but:

- why for 500 errors the code name is reported in the json field `message` instead of `name` (as it is done for other er

[2019-09-13 13:54] bajtos opened #3731 "Implement TestSandbox.writeTextFile"
_This is a follow-up for the spike #3617._

Implement a helper for writing text files to the test sandbox.

Example implementation:

https://github.com/strongloop/loopback-next/blob/2848a1b3e4c62da88cfd3edc966e8267768cf326/packages/testlab/src/test-sandbox.ts#L124-L129

## Acceptance criteria

- [x] Implementation
- [x] API documentation
- [x] Automated tests

[2019-09-13 13:57] bajtos opened #3732 "Improve `defineCrudRestController` to create a named controller class"
_This is a follow-up for the spike #3617._

Improve `@loopback/rest-crud` - modify `defineCrudRestController` to create a named controller class, where the name is based on the model name we are creating the controller for.

Example implementation:

https://github.com/strongloop/loopback-next/blob/2848a1b3e4c62da88cfd3edc966e8267768cf326/packages/rest-crud/src/crud-rest.controller.ts#L260-L267

##

[2019-09-13 14:01] bajtos opened #3733 "Add `defineCrudRepositoryClass` - a helper to create a named repository class"
_This is a follow-up for the spike #3617._

Add `defineCrudRepositoryClass` to `@loopback/rest-crud`, this function should create a named repository class for the given Model class.

Example implementation (notice wrong function name):

https://github.com/strongloop/loopback-next/blob/2848a1b3e4c62da88cfd3edc966e8267768cf326/packages/rest-crud/src/repository-builder.ts#L14-L36

## Acceptance crite

[2019-09-13 14:06] bajtos opened #3734 "Model API booter & builder"
_This is a follow-up for the spike #3722._

Add a new package `@loopback/model-api-builder` to define the API contract between model-api booter and extension contributing api builders for different flavors. See the package contents in the spike #3722 for inspiration. Improve README with basic documentation for users (extension developers building custom Model API Builders).

Add `ModelApiBooter` t

[2019-09-13 14:06] bajtos opened #3735 "Model API booter & builder"
_This is a follow-up for the spike #3722._

Add a new package `@loopback/model-api-builder` to define the API contract between model-api booter and extension contributing api builders for different flavors. See the package contents in the spike #3722 for inspiration. Improve README with basic documentation for users (extension developers building custom Model API Builders).

Add `ModelApiBooter` t

[2019-09-13 14:06] bajtos opened #3736 "Model API booter & builder"
_This is a follow-up for the spike https://github.com/strongloop/loopback-next/issues/2738, see  #3617._

Add a new package `@loopback/model-api-builder` to define the API contract between model-api booter and extension contributing api builders for different flavors. See the package contents in the spike https://github.com/strongloop/loopback-next/issues/2738 for inspiration. Improve README with

[2019-09-13 14:09] bajtos opened #3737 "Add CrudRestApiBuilder to `@loopback/rest-crud`"
_This is a follow-up for the spike https://github.com/strongloop/loopback-next/issues/2738, see  #3617._

Implement a model-api builder for CRUD REST API pattern - add `CrudRestApiBuilder` to `@loopback/rest-crud`. Modify `README`, rework "Basic use" to show how to use the package together with `ModelApiBooter` to go from a model to REST API. Move the current content of "basic use" into a new sect

[2019-09-13 14:13] bajtos opened #3738 "Example app showing CrudRestApiBuilder"
_This is a follow-up for the spike https://github.com/strongloop/loopback-next/issues/2738, see  #3617._

Create a new example app to demonstrate how to use the new conventional way of setting up CRUD REST APIs for models, using recently introduced `ModelApiBooter` #3736 and `CrudRestApiBuilder` #3737.

The example can be based on the modified version of `examples/todo` shown in the spike. The app

[2019-09-13 14:16] bajtos commented on #2738
Follow-up stories:
- Implement TestSandbox.writeTextFile #3731
- Improve `defineCrudRestController` to create a named controller class #3732
- Add `defineCrudRepositoryClass` - a helper to create a named repository class #3733
- Model API booter & builder #3736
- Add CrudRestApiBuilder to `@loopback/rest-crud` #3737
- Example app showing CrudRestApiBuilder #3738

I am closing the spike as done.

[2019-09-13 14:16] #2738 closed

[2019-09-13 14:20] bajtos commented on #3735
Closing as a duplicate of #3736

[2019-09-13 14:20] #3735 closed

[2019-09-13 14:20] bajtos commented on #3734
Closing as a duplicate of #3736

[2019-09-13 14:20] #3734 closed

[2019-09-13 14:46] emonddr commented on #3673
@AnanthGopal , are you referring to

https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/jwt-service.ts#L65

https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/application.ts#L90

https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/keys.ts#L14

?

I am trying to understand

[2019-09-13 14:49] bajtos commented on #3728
Let's create two stories please.

[2019-09-13 16:01] emonddr commented on #3673
JWT is a token-based authentication and it is also `stateless` authentication.

Our user controller provides a login endpoint which returns a JWT token
( the user controller makes use of our token service )

It is up to the web ui programmer to direct the user to login with credentials, to store the token in local storage, to use this token for every backend request , and to destroy the token when

[2019-09-13 17:53] dougal83 commented on #3657
To be helpful I googled it for you:
https://github.com/strongloop/loopback-next/issues/1867#issuecomment-434247807

[2019-09-13 17:54] jannyHou commented on #3673
Based on @emonddr 's answer, I think the user is looking for feature like [`rolling`](https://github.com/expressjs/session#rolling) in the expressjs session manager.

The token based authentication is different than the session based one, I find some articles talking about refreshing token(similar concept as rolling) in a token based auth system:

https://stackoverflow.com/questions/26739167/jwt-j

[2019-09-13 17:55] deepakrkris commented on #2639
there is some work going on in https://github.com/strongloop/loopback-next/issues/1352 that might need this issue to be revalidated.

[2019-09-13 18:47] raymondfeng commented on #3673
There are two ways to generate access token:

1. Generate a token with all attributes encoded, including the expiration time.
2. Generate a token and store its attributes in a backend database.

It's not practical to renew a token with option 1. There is a possibility to do so with option 2. Refresh token is another mechanism.

[2019-09-13 21:17] jannyHou opened #3740 "Enable the authorize button from swagger-ui in the shopping example with tutorial"
## Suggestion

As a follow-up story of spike https://github.com/strongloop/loopback-next/issues/2027
PoC https://github.com/strongloop/loopback4-example-shopping/pull/267 enabled the bearer token setting globally, which demos how to perform the authentication from explorer.

- This story is created to formally add the UI in the example repo.
- ~~And also find out the scope of the endpoints that we

[2019-09-13 21:23] jannyHou commented on #2027
Follow-up story created:

- Create a formal PR to add this feature in explorer: https://github.com/strongloop/loopback-next/issues/3740
- Contribute the security spec from auth strategy and merge it into the OpenAPI spec: https://github.com/strongloop/loopback-next/issues/3669

[2019-09-14 01:55] ichtestemalwieder opened #3742 "Docs: Update TodoList example and model relations pages to use `lb4 relation` command"
Hello,

I rewrote the issue, as I realized, that LB V4 is still in it's infancy and will become more declarative in the future... But I am not the only one [complaining](https://www.ingloriouscoderz.it/blog/loopback-porting-di-spring-boot/), quoting:

"... An example? This is the code necessary to define a one-to-many relationship in Loopback 3:

[code]
Here is the same type of relationship define

[2019-09-14 04:12] collaorodrigo7 commented on #1352
I would like to contribute to this. I have not contributed before.
What could be a good start?
What do you think I could help on with?
@bajtos

[2019-09-14 10:09] dougal83 commented on #3742
You could always mount lb3 app in lb4. Personally I absolutely love Typescript implementation. JS is teribad.

[2019-09-16 05:19] AaronJan commented on #2146
Hi @bajtos, I made a PR (#3746 ), advice needed!

[2019-09-16 11:35] AsjadMahmood commented on #2532
Any update on this issue. I am having the exact same issue when updating through path request results the object array to be stored like this :
{"{\"store_id\":\"db02b3b8-445c-46ae-90f1-f57f891c709a\",\"store_name\":\"s5\"}","{\"store_id\":\"188273ca-0e66-4c55-a189-bc73d6d4a121\",\"store_name\":\"s6\"}"}

it works fine when creating the data but while updating it creates problems

[2019-09-16 15:33] basavarajvs opened #3749 "postgres connector not returning generated identifier value on create of entity for camelCased identifiers in table"
If a Postgres table has camelCased identifier then auto-generated code of loopback does not return the identifier on creating the entity.

## Steps to reproduce

1. Create 2 tables in postgres with the identifier field with camel casing .

[code]

Please note that the identifier field for Cutomer table is customerId in `camelCasing`

2. Run loopback discover to create the models.
loopback discover

[2019-09-16 15:44] basavarajvs commented on #3712
I faced the same issue.. as a workaround, I changed the "id: 1"  from generated model code to "id: true" and then things starting moving forward.

[2019-09-16 18:05] #3645 closed

[2019-09-16 18:07] jannyHou commented on #3645
Fixed the controller generator's template in PR https://github.com/strongloop/loopback-next/pull/3667.

[2019-09-16 18:40] dhmlau commented on #3740
@jannyHou, are we planning to have an out-of-box support to allow token based authentication outside the shopping example?

[2019-09-16 19:17] jannyHou commented on #2027
Closed. See spike https://github.com/strongloop/loopback4-example-shopping/pull/267

[2019-09-16 19:17] #2027 closed

[2019-09-16 19:30] dhmlau commented on #1352
@mamiller93, we wish to complete as much as possible for the MVP of this story.  For the [Sept milestone](https://github.com/strongloop/loopback-next/issues/3653), our goal is to finish the following tasks (and we're getting close!):
- Implement InclusionResolver for hasMany relation #3447
-  Implement InclusionResolver for belongsTo relation #3448
- Implement InclusionResolver for hasOne relation

[2019-09-17 02:38] collaorodrigo7 commented on #1352
Thanks @dhmlau, I will be waiting!

[2019-09-17 06:30] AsjadMahmood opened #3753 "Extract certain attribute from the record/object [Loopback4]"
## Suggestion

## Use Cases

## Examples

## Acceptance criteria

TBD - will be filled by the team.

[2019-09-17 06:46] AsjadMahmood commented on #3753
Like in lb3 we have
persistedModel.updateAttributes(data, callback).
Something like this to update some attributes of the record/object.

[2019-09-17 08:15] basavarajvs commented on #3602
I faced the problem with postgresql connector too.

[2019-09-17 08:26] frbuceta commented on #3602
MySQL supports UUID --> https://mysqlserverteam.com/mysql-8-0-uuid-support/
And so you force me to use it --> https://dba.stackexchange.com/questions/149059/how-to-insert-a-record-with-generated-identifiers-using-uuid

[2019-09-17 10:17] jotamora commented on #230
@dhmlau has been any advance on it? Thanks.

[2019-09-17 10:47] dougal83 commented on #3602
@frbuceta Thanks for info. Personally I would avoid using features like that as it could be _more difficult to debug_.  Could using the non default id be the issue for the connector?  Perhaps you could confirm by switching to standard id(runs correctly for me)?

[2019-09-17 11:20] hacksparrow opened #3755 "ID datatype mismatch in controller"
## Steps to reproduce

- Create a model using `lb4 model` with `id` type `number`.
- Create corresponding controller and specify `id` as type `number`
- Start app

[code]

## Current Behavior

App does not start.

## Expected Behavior

App should start.

## Link to reproduction sandbox

https://github.com/hacksparrow/temp-01

[2019-09-17 13:21] emonddr commented on #3656
@DanielChuDC @davilopez90 ,

In our documentation

https://loopback.io/doc/en/lb4/Loopback-component-authentication.html

there is a link mentioned

https://www.npmjs.com/package/@loopback/authentication-passport

in this paragraph:

![image](https://user-images.githubusercontent.com/6864736/65044719-78803500-d92b-11e9-9a90-1b7b0e3f9dc9.png)

that has instructions on how to set up an adapter to th

[2019-09-17 14:54] #3441 closed

[2019-09-17 16:58] dhmlau commented on #2036
The tasks we've targeted for 2019Q3 is done.  Moving this epic to 2019Q4 for the remaining items.

[2019-09-17 17:13] jannyHou opened #3757 "For controller generator, infer id omitted from the existing model class file"
## Suggestion

connect to #2036
This is a follow-up story of PR #3667.
As a quick fix, that PR fixes the controller generator by adding a new prompt isIdOmitted, and creating the corresponding controller class differently.

To improve the user experience, we should infer the id omitted or not from the existing model class, if successes, skip the prompt that asks the same question.

## Use Cases

I

[2019-09-17 17:43] #632 closed

[2019-09-17 17:43] #802 closed

[2019-09-17 17:43] #615 closed

[2019-09-17 18:42] dhmlau commented on #3753
@AsjadMahmood, do you mean `patch`?
If yes, is the `updateById` function in the generated controller something you're looking for?
[code]

[2019-09-17 19:00] agnes512 commented on #3715
This spike https://github.com/strongloop/loopback4-example-shopping/pull/268 might be helpful.

[2019-09-17 19:07] dhmlau commented on #3755
@hacksparrow, I think you've set the `title` to be the id, so it's expecting a string instead of number.  See https://github.com/hacksparrow/temp-01/blob/master/src/repositories/book.repository.ts#L8.

[2019-09-18 02:13] dhmlau commented on #1996
Moving to Q4.

[2019-09-18 02:13] dhmlau commented on #2460
Moving to Q4.

[2019-09-18 07:32] AsjadMahmood commented on #3753
Curently i have done through updateById and it worked. But is their any method which is used to update only (1 or 2 ) attributes of object.

[2019-09-18 09:54] hacksparrow commented on #3755
@dhmlau That's generated by CLI. It is assuming the first property to be the `id`, despite selecting 'n' to indicate it's not the `id` property.

[2019-09-18 10:19] dougal83 commented on #3753
@AsjadMahmood Patch is what you are looking for for all intensive purposes.  ``{partial: true}`` marks all properties of ``Customer`` model as optional.  This means you can submit a subset of properties for a Customer.  As the above endpoint is partial, you could just submit ``Customer.name`` even if it has other (normally required) properties.  Experiment by submitting partial models, hopefully y

[2019-09-18 13:41] ceefour commented on #2569
Related to #3187.

In my computer, I can reproduce using specific conditions (see below).

Windows 10 1903, Node.js v10.16.3, npm v6.11.3, `lb4`:

``
@loopback/cli version: 1.22.1

@loopback/* dependencies:
  - @loopback/authentication: ^3.0.1
  - @loopback/boot: ^1.5.6
  - @loopback/build: ^2.0.11
  - @loopback/context: ^1.23.0
  - @loopback/core: ^1.10.2
  - @loopback/metadata: ^1.3.2
  - @loopb

[2019-09-18 14:25] dhmlau commented on #2569
@changchengchang @ceefour, one more question.. Are you using `nvm` to manage the node version you're using?  I have a Windows machine at home and using `nvm`, it generally works fine. You might want to give it a try.

@ceefour, for your particular issue, I just tried it on mac and there's no hanging. Let me try to reproduce on a Windows machine tonight.

[2019-09-18 14:29] dhmlau commented on #3755
I just tried it, and the repository class seems to be pointing to the `id`, even i have `name` property added to the model first.

Here is how I created the model:
[code]

And creating the repository:
[code]

And the repository is looking as expected:
[code]

Maybe you give it a try again to make sure things are specified properly? Thanks.

[2019-09-18 14:49] ceefour commented on #2569
@dhmlau I don't use nvm. it's the standard official installer.

I'd love to share info with debug flags, verbose, more diagnosis, etc. if you tell me how to enable that.

[2019-09-18 14:53] ceefour commented on #2569
@dhmlau also, spawning 'lb4 anything' from a node app (as child process) in Windows will make it stuck immediately (even with --yes). it's not exactly this issue but it is related.

by comparison, other scripts like npm install etc. I can run using node's spawn without issue.

[2019-09-18 16:36] deepakrkris commented on #2639
@dhmlau examples and test cases for the "keyFrom" parameter are also missing. So I think fixing the docs alone will not be sufficient.

[2019-09-18 17:11] ceefour commented on #2220
I also get this error.

[code]

[code]

Adding `jsonSchema: {nullable: true},` as @gopalakrishnan-subramani / @raymondfeng suggested did work as workaround. However I do think behavior should be consistent for all POST/PUT/PATCH.
If required=false + jsonSchema.nullable=true must be used, then behavior must be clearly defined and explicitly stated in the docs.

[2019-09-18 17:56] dhmlau commented on #2639
@deepakrkris, I think if we don't have test cases covered, then we should add it.  Supposedly if the docs are clear, we are ok not to have added this in our examples, e.g. the todo-list example.

[2019-09-18 18:43] dhmlau commented on #3749
@agnes512, I believe you've looked into similar topic before.  Could you PTAL? Thanks.

[2019-09-18 19:11] dhmlau commented on #3742
@ichtestemalwieder, thanks for your feedback. The [TodoList example](https://loopback.io/doc/en/lb4/todo-list-tutorial.html) was created before we have the tooling around relations, so the developer experience is a bit clumsy that way.

With the `lb4 relation` CLI, we've simplified the DX a bit.  If there is `Customer` which `hasMany` `Order`, we can use the `lb4 relation` to specify the relations

[2019-09-18 20:04] ichtestemalwieder commented on #3742
Thanks very much for the answer. This is great news, as it defenitely solves one part of the problem

Yes of course the ticket can be converted to a doc issue.

The Docs in general are great! But that concrete example lacks any background explanation **why**  there are several dedicated Classes/Interfaces for the relations. And why it is implemented as "Constrained Repositories". I know what they

[2019-09-18 20:55] dhmlau commented on #3742
Thanks @ichtestemalwieder. I think another way to make the documentation clearer is to separate the usage and the minimal concept/info you need to know in order to use it from the detailed explanation.   Anyway, I'd like to invite you to review the PR(s) coming from this task. :)

I've also added the acceptance criteria. Please let me know if I miss anything. Thanks.

[2019-09-18 22:20] raymondfeng commented on #2460
See https://github.com/strongloop/loopback-next/pull/3762

[2019-09-19 07:40] bajtos commented on #2208
Based on https://github.com/OAI/OpenAPI-Specification/issues/1706#issuecomment-523418975 (cross-posted below), maybe we can switch `filter` encoding from `deepObject` style into `JSON`?

Here is an experiment we can try:

1. Let's keep `@param.query.object` with no changes for backwards compatibility.
2. Introduce a new helper `@param.query.jsonObject` that will use JSON encoding instead of deepOb

[2019-09-19 08:10] bajtos commented on #2639
AFAICT, we do have tests to verify how to use `@belongsTo` decorator when the FK name is using underscore-case (e.g. `type_id`).

Here is a model definition that works in our tests:

https://github.com/strongloop/loopback-next/blob/7bf6f12f1da721a78071904fa02252577f4d1cba/packages/repository-tests/src/crud/relations/fixtures/models/order.model.ts#L41-L42

Here are some of the relevant commits & pu

[2019-09-19 10:08] derdeka opened #3766 "authorization: workaround userToPrinciple replaces expected securityId"
# Steps to reproduce

I tried to write a custom `Authorizer` and just logged the `AuthorizationContext` to console. The `securityId` does not contain the expected value.

## Current Behavior

https://github.com/strongloop/loopback-next/blob/7bf6f12f1da721a78071904fa02252577f4d1cba/packages/authorization/src/authorize-interceptor.ts#L155-L164

The provided `securityId` of an user gets replaced by u

[2019-09-19 10:32] VictorLeach96 commented on #2811
Was `RestApplication` ever updated as part of this? I don't think it was.

[2019-09-19 11:07] bajtos commented on #2825
Cross-posting from slack.

Take a look at how migrate calls app.migrateSchema and how is the latter implemented in https://github.com/strongloop/loopback-next/blob/7bf6f12f1da721a78071904fa02252577f4d1cba/packages/repository/src/mixins/repository.mixin.ts#L194-L219:

It's iterating over all known datasources and calls `ds.automigrate` or `ds.autoupdate` (all known datasources = all datasources bou

[2019-09-19 11:32] frbuceta opened #3767 "Repository.execute no mapToModel?"
Hi, how are you here?

I am trying to retrieve information from a stored procedure and I have noticed that it does not map the properties with the model I have defined ... Someone knows how I can do it or can give me a cable

Here I leave an example of sequelize

https://stackoverflow.com/questions/39435291/sequelize-mapping-between-raw-data-and-model

Can you help me @bajtos?

[2019-09-19 14:00] freakpol commented on #3711
@param.path.String('id') id: typeof Rolesinsaas.prototype.accntid,

should be

@param.path.string('id') id: typeof Rolesinsaas.prototype.accntid,

(note the uppercase S vs the lowercase one)

[2019-09-19 15:15] emonddr commented on #3656
@loopback/authentication and @loopback/authentication-passport are our recent developments with regard to authentication for LoopBack 4. We have examples on handling `basic` and `jwt` using our current design. @loopback/authentication-passport has an example using `passport-http` (Basic authentication). We have a spike `Spike] Explore/research the oauth2+session based authentication strategy ` htt

[2019-09-19 15:15] emonddr commented on #3656
Please stay tuned.

[2019-09-19 15:15] #3656 closed

[2019-09-19 15:44] dhmlau opened #3770 "[Spike] Investigate how to allow complex object in filter object in API Explorer"
Originated from https://github.com/strongloop/loopback-next/issues/2208.

## Description
swagger-ui, the library powering our API Explorer, unfortunately does not support complex objects in query strings. This spike is to investigate if/how we can allow it.

_Extracting from https://github.com/strongloop/loopback-next/issues/2208#issuecomment-533008671 from @bajtos_

Based on OAI/OpenAPI-Specifica

[2019-09-19 16:56] agnes512 commented on #3749
Hi @basavarajvs , I just reproduced the issue.

Have you check the mode `Customer` and `Order` in `src/models/`? I think the issue is caused by the way LB4 converts column names from database to model properties. The naming convention we are using currently is lowercase.
If you check these two model files, those property names should be generated as lowercase. If you change them from `customerid`

[2019-09-19 19:35] jannyHou commented on #3673
Good point, IIUC users can reset the expire time everytime retrieving the attributes attached to the token.

@AnanthGopal does it answer your question?

[2019-09-19 20:09] jannyHou commented on #3669
Acceptance Criteria updated.

[2019-09-19 20:41] jannyHou commented on #2362
@lygstate Could you provide more details about your implementation? From the error message, this is not related to authentication, the error looks like come from an invalid payload.

It would be good if you can upload your code.

[2019-09-19 21:49] jannyHou commented on #2540
You can wrap the AppID strategy with [@loopback/authentication-passport]https://www.npmjs.com/package/@loopback/authentication-passport and register the wrapped one as a LoopBack strategy.

The usage of that module is documented in https://www.npmjs.com/package/@loopback/authentication-passport

(A new version will be released soon)

[2019-09-19 21:52] jannyHou commented on #2540
I am closing it as the answer is provided. Feel free to reopen it if you still have questions.

[2019-09-19 21:52] #2540 closed

[2019-09-19 21:53] jannyHou commented on #3396
any update on this issue?

[2019-09-19 21:54] jannyHou commented on #2381
I am closing this issue since the answer is provided. Feel free to reopen it if you still have questions.

[2019-09-19 21:54] #2381 closed

[2019-09-19 22:00] jannyHou commented on #3637
Thank you for @raymondfeng 's feature PR that supports the authentication component level default strategy and also class level `@authenticate()` in https://github.com/strongloop/loopback-next/pull/3762

@derdeka Does the new feature meet your requirements in this story? Anything else you want to add?

[2019-09-20 05:29] joe-niland commented on #3396
Hi @jannyHou

I've had to move away from LoopBack for this project due to deadlines.

Next time I use it I will open a new ticket.

Thanks for following up.

[2019-09-20 05:34] basavarajvs commented on #3711
Yes thats the problem with Auto generated code.. on running "lb4 relation".
I did change it to
@param.path.string('id') id: typeof Rolesinsaas.prototype.accntid,
and proceeded further.
Changes are required for "lb4 relation" command.

[2019-09-20 08:33] bajtos commented on #3770
An important aspect to consider: if we switch the spec of `format` argument from deepObject-style to json-content, how is it going to affect the actual REST API? Will it mean that clients will be no longer able to send queries like `find?filter[limit]=1` and will have to always use JSON encoding only (`find?filter={"limit":1}`)?

[2019-09-20 09:52] sestienne commented on #3742
Hi,
I follow the tutorial todo & todo list. I success to run it but I also find that relations are a little complex to understand but how it's designed offers a lot of possibilities.
There is something what I failed to do until now : I would like thanks to the request : "POST /todo-lists" create a new todolist entry but directly with some todos in a single request. Is it possible ?
For that, I cha

[2019-09-20 13:44] emonddr commented on #2624
After talking with @raymondfeng  yesterday, he suggested we investigate the two main flows of OAuth

 - Implicit Flow
 - Authorization Code Flow

`Implicit Flow` is when `all` of the logic for authentication is in the UI flow, and the goal is to get the access token, and then pass this token to the backend when accessing endpoints.

https://auth0.com/docs/flows/concepts/implicit

`Authorization Co

[2019-09-20 13:47] emonddr commented on #2624
Most people uses Facebook authentication to get a token to then invoke Facebook API.
This is not our goal per se.
We want to use it to get a `Bearer` token to protect our server API.

We should also look into passport-http-bearer as well : http://www.passportjs.org/docs/oauth2-api/

[2019-09-20 14:20] emonddr commented on #2624
I began playing around with Facebook stuff in my investigation.

All of these projects need an App ID and secret of a Facebook app that is registered via the Facebook Developer Console.

# Node.js / Express app using passport-facebook

https://github.com/emonddr/express-4.x-facebook-example

`server.js` is an example from the author of passport-facebook.
`blogger_example.js` is an example from a b

[2019-09-20 14:31] emonddr commented on #3656
let's continue the discussion in here

https://github.com/strongloop/loopback-next/issues/2624

[2019-09-20 15:58] irineul commented on #110
Hey, @bajtos I would like to contribute to the project! We are using it and I want to make it even better!  Tks!

[2019-09-20 20:30] jannyHou commented on #3766
Good catch. Submitting a PR to fix it.

[2019-09-20 20:36] auxcoder commented on #1881
How to receive context in unit testing controllers?

[2019-09-20 20:42] raymondfeng commented on #1881
You can pass in context via the constructor for unit testing. The other option is to bind the controller to context and retrieve an instance via `ctx.get()`. For example:

[code]

[2019-09-20 20:51] #3448 closed

[2019-09-20 22:13] dhmlau commented on #3444
According to https://github.com/strongloop/loopback-next/issues/1352, this is out of scope for Q4.

[2019-09-20 22:16] dhmlau commented on #3693
@emonddr, as discussed, if we're planning to create another poster, please leave it enough time for the design team to design it for us. Thanks!

[2019-09-20 23:37] #3447 closed

[2019-09-21 20:25] starcrusherproductions commented on #3365
3. macOs 10.13.6 (17G8030)
4. Yes
5. Yes
![Screen Shot 2019-09-21 at 3 05 05 PM](https://user-images.githubusercontent.com/31316609/65378063-7ac2f600-dc81-11e9-92a2-f4364666616d.png)

![Screen Shot 2019-09-21 at 3 05 49 PM](https://user-images.githubusercontent.com/31316609/65378078-c1185500-dc81-11e9-886e-4588d7d89134.png)

It has been a while since I've touched NodeJs.  So I may have something i

[2019-09-21 21:01] #2674 closed

[2019-09-21 21:01] dhmlau commented on #2674
Closing as done.

[2019-09-21 21:03] dhmlau commented on #3267
Would like to get an estimate on the effort to add extra tests so that we can get it done and close this issue. Thanks.

[2019-09-22 18:02] auxcoder opened #3784 "In unit tests, service used in controller not seeing db records"
## Steps to reproduce

I'm trying to write unit tests for my AuthController that use a service that implements *@loopback/authentication UserService* interface to validate credentials for the `/auth/login` endpoint.
I'm following the suggested best practices and setting up a in-memory DB for testing and populating data by each test case.

## Current Behavior

From the controller I'm able to see th

[2019-09-23 09:43] gopalakrishnan-subramani opened #3787 "Node.js cluster integration"
https://nodejs.org/api/cluster.html

I am looking for adding Node.js cluster features within Loopback API servers, but I could not locate any documentation on the same.

can you point me to right direction?

[2019-09-23 10:18] derdeka commented on #3637
Thanks, work's for me.

[2019-09-23 10:18] #3637 closed

[2019-09-23 14:50] dhmlau commented on #3787
@raymondfeng @bajtos , what's your thoughts on that? Thanks.

[2019-09-23 14:52] dhmlau commented on #3784
@jannyHou @emonddr , could you please take a look? Thanks.

[2019-09-23 15:01] raymondfeng commented on #3784
@auxcoder Please show the complete code including UserService.

[2019-09-23 15:05] raymondfeng commented on #3787
IMO, you should use a process manager such as https://github.com/strongloop/strong-supervisor or pm2 to enable Node.js cluster.

You should be able to update `index.js` to add cluster enablement too.

[2019-09-23 19:25] dhmlau commented on #2460
Closing as done.

[2019-09-23 20:55] auxcoder commented on #3784
I just copied sections of my source code, sorry if I miss any relevant part.

**user.service.ts**
[code]

**auth.controller.ts**
[code]

**auth.controller.unit**
[code]

[2019-09-23 21:14] raymondfeng commented on #3784
Can you check if both `userRepository` instances point to the same datasource?

[2019-09-23 21:29] auxcoder commented on #3784
I'm using application.ts to override the datasource config based on the environment like in order of using the memory connector for tests then any repository injecting 'datasources.db' should use the same config, right?

export class SomeApp extends BootMixin(
  ServiceMixin(RepositoryMixin(RestApplication)),
) {
  constructor(options: ApplicationConfig = {}) {
    super(options);
    this.setUpDB

[2019-09-23 22:04] raymondfeng commented on #3784
Please change `this.bind('datasources.db').toClass(DbDataSource);` to be:
[code]

[2019-09-23 22:05] raymondfeng commented on #3784
The option is to call `this.dataSource(DbDataSource)`.

[2019-09-23 22:18] auxcoder commented on #3784
It works, thanks so much!

[2019-09-23 22:20] #3784 closed

[2019-09-23 22:51] deepakrkris commented on #3770
For having the "include" parameter in filter condition `filter["include"]=` does not work whereas passing filter as deep object works.
example:
`http://localhost:3000/todos/1?filter=%7B%22include%22%3A%5B%7B%22relation%22%3A%22todoList%22%7D%5D%7D`

[2019-09-23 22:54] deepakrkris commented on #3770
url encoding of json can be done with javascript built in function `encodeURIComponent(stringified-json)`

[2019-09-23 23:49] dhmlau commented on #3742
@sestienne, we just finished the `inclusionResolver` for the model relations in https://github.com/strongloop/loopback-next/issues/3448 and https://github.com/strongloop/loopback-next/issues/3447, and will be updating the docs via PR https://github.com/strongloop/loopback-next/pull/3774.

Once we've published a release (possibly very soon), it's possible to do it.

cc @nabdelgadir @agnes512

[2019-09-24 01:26] agnes512 commented on #3742
@sestienne Hi! unfortunately we don't have such a way to create an instance along with its related instance in one post request. There are some reasons that we don't support. For example, users might use two different databases for two different models. So we want it to be more flexible.

As for the inclusion resolver @dhmlau mentioned above, the new feature allows us to query related instances ea

[2019-09-24 06:11] deepakrkris commented on #2639
@bajtos , the sample app provided by @Ajtak does not have the inclusion resolvers (implicit) or a get method definition with required relations (explicit).
Instead of modifying it, I worked on having the todo-list example connect with postgres for the same scenario ( https://github.com/strongloop/loopback-next/compare/todoListPostGres?expand=1 )  . I am able to cover most of the cases with the mod

[2019-09-24 07:48] sestienne commented on #3742
@dhmlau @agnes512 Thanks a lot for your messages, it's a very good news !

While I was waiting for a response, I've tried on a poc workaround but it's not clean nor graceful. Here is an example. The controller uses two repositories to do this :
<pre><code>let content = JSON.parse(JSON.stringify(news.content)); // get content
let shortNews = JSON.parse(JSON.stringify(news)); // clone object
delete

[2019-09-24 08:16] QuentinLB opened #3797 "Use typescript imports instead of file loading with booters"
## Suggestion
Currently most booters (Controller, Repo, etc.) rely on BaseArtifactBooter to fetch files and bind class to the application. It should instead exploit Typescript capabilities and use import to load any module designated by the user.

## Use Cases
My lb4 api use Controllers from a npm package or another directory than the src/controllers one.
In src/controllers/index.ts, I listed my c

[2019-09-24 13:41] 1057437122 opened #3798 "How to do customize query in loopback 4?"
Hello , what i want to do is to query like this ' select a.id,b.name,c.size from a left join b on a.id=b.aid left join c on b.id=c.bid where a.id=xxxx';
if I use PHP laravel i can do with model like this 'A::query()->select('a.id','b.name','c.size')->leftJoin('b','a.id','=','b.aid')->leftJoin(c,'c.bid','=','b.id')->where('a.id','xxx')->get()
I didn't find any documents about this type query in loo

[2019-09-24 14:24] 1057437122 commented on #3798
so ? This is not supported in lb4 ?

[2019-09-24 14:53] bajtos commented on #1881
@auxcoder As I explained in https://github.com/strongloop/loopback-next/issues/1881#issuecomment-431384142, you shouldn't be injecting the entire context, that's an anti-pattern making unit tests difficult to write.

If your controller needs to access request headers, then you can inject the current request object only. Or even better, define bindings for the individual headers you are interested

[2019-09-24 16:52] raymondfeng commented on #3797
@QuentinLB Are you proposing to only check exported members of `src/controllers/index.ts`?

[2019-09-24 17:09] #2285 closed

[2019-09-24 19:01] derdeka commented on #3707
Related to #3766

[2019-09-24 19:57] jannyHou commented on #3692
See the demo app that augments a greeting endpoint by:

- binding greeting service from a component
- adding greeter extension in a different language
- applying cache service

https://github.com/jannyHou/cascon-2019/tree/init/demo

Follow up stories:

- [ ] [story 1](link tbd) Create a formal demo app for workshop with:
    - [ ] Break down the implementation of app into 3-4 steps(summarized in [

[2019-09-24 21:00] jannyHou opened #3800 "[CASCON Workshop] Create the demo app greeter"
### Description

We will use greeter application created in https://github.com/jannyHou/cascon-2019/tree/init/demo/greeter as the demo app for CASCON audience.

Create a formal demo app for workshop :

### Acceptance Criteria

- [ ] Break down the implementation of app into 3-4 steps(summarized in [readme](https://github.com/jannyHou/cascon-2019/tree/init/demo/greeter#step-1))
- [ ] Create a diffe

[2019-09-24 21:48] dhmlau commented on #3669
Related to https://github.com/strongloop/loopback-next/issues/2027

[2019-09-24 21:51] frbuceta commented on #3602
With the standard id, if it works
On the other hand in postgres if what I am using here works
Is this a bug or is it my thing?

[2019-09-24 21:56] dhmlau commented on #3072
We have finished the requirement for Q4, i.e. enable and test Node.js 12 for:
- loopback-connector-kv-redis
- loopback-connector-grpc

Moving the `2019Q4` label.

[2019-09-24 23:36] #3449 closed

[2019-09-25 01:00] agnes512 opened #3801 "Monthly Milestone - Oct 2019 🎃🌘🍂"
## October Milestone

### Goals

_Inclusion of related models_
- [x] Add inclusion resolvers to `lb4 relation` CLI https://github.com/strongloop/loopback-next/issues/3451
- [x]  Blog post: announce Inclusion of related models https://github.com/strongloop/loopback-next/issues/3452
- [x] Run repository tests for PostgreSQL, https://github.com/strongloop/loopback-next/issues/3436

_Authentication_
-

[2019-09-25 01:16] dougal83 commented on #3602
As id is NaN, it seems to be looking for an integer and getting your guid.  I'm thinking it could be the connector's ability to handle types of id...  Saying that there is an issue with the connector atm, not sure if it is related. We need someone smart to have a look.

@jannyHou Hey Janny, what do you think?

[2019-09-25 02:11] #2460 closed

[2019-09-25 02:18] dhmlau opened #3802 "[CASCON] Prepare slides for the workshop"
Originated from https://github.com/strongloop/loopback-next/issues/3692

For details, see: https://github.com/strongloop/loopback-next/issues/3692#issuecomment-534722937. Cross posting the outline from that comment:

## Acceptance Criteria
- [ ] Create slides to highlight the concepts and technologies we touched in the tutorial

[2019-09-25 02:22] dhmlau opened #3803 "[CASCON] Workshop dry-run"
Originated from: https://github.com/strongloop/loopback-next/issues/3692

Prereq:
- [ ] workshop hands-on exercise ready
- [ ] presentation slides ready

## Acceptance Criteria
- [ ] Dry run on the whole workshop.
  - Make sure we can run it within the time limit
  - If we have other audience, can they finish the workshop on time or follow the demo + exercise.

 cc @jannyHou @emonddr @agnes512

[2019-09-25 02:23] dhmlau commented on #3692
Thanks @jannyHou for the proposal. LGTM. I took the liberty to create the other 2 tasks. Closing this task as done.

[2019-09-25 02:23] #3692 closed

[2019-09-25 02:53] dhmlau commented on #3798
@1057437122, the GitHub issue was originally created in `loopback` repo where it should be in `loopback-next` repo since this is related to LB4.  That's why I transferred it to the right repo.

Regarding your question, there's some relevant code snippet mentioned in: https://github.com/strongloop/loopback-next/issues/3459#issuecomment-515443135.  Could you please give it a try?
Here is the API doc

[2019-09-25 07:51] QuentinLB commented on #3797
Yes, instead of finding classes based on a file path. I tried to make the BaseArtifactBooter works with the following file structure :

[code]
In application.ts
[code]
None work, instead I exported my "commons" controllers, repositories in their respective index.ts of the host application and patched together an import based booter :

[code]
I know it need refactoring but it works for now. The onl

[2019-09-25 08:25] QuentinLB commented on #3797
Found the problem for the migration, I imported the wrong module for the repositories.

[2019-09-25 08:35] 1057437122 commented on #3798
OK, thanks for the reply , I'll try

[2019-09-25 14:05] agnes512 commented on #2639
@deepakrkris I don't see why we are modifying the test.
1 The todo-list example is supposed to be easy. It shouldn't be testing a complicated scenario like `  @belongsTo(() => TodoList, { keyFrom: "todo_id", keyTo: "id", name: "todoList" }, { name: "todo_id" })
  listId: number;`

2. As I commented in https://github.com/strongloop/loopback-next/pull/3772#discussion_r327262501.
[code]
I don't think

[2019-09-25 14:54] raymondfeng commented on #3797
With the current implementation of `@loopback/boot`, you should be able to add a file such as `imported.controller.ts` to `src/controllers` to achieve what you need:

[code]

[2019-09-25 15:06] QuentinLB commented on #3797
Indeed it should work, I didn't thought of that.
Before we close this issue, is there any resources on how to properly share code between loopback 4 appplications ?

[2019-09-25 15:09] raymondfeng commented on #3797
Another solution is to customize the boot options as follows:
[code]

[2019-09-25 15:11] raymondfeng commented on #3797
The general idea is to use components - https://loopback.io/doc/en/lb4/Using-components.html. Each component can contribute artifacts to the application.

We had discussions in the past to allow `boot` of components but it has not been implemented yet.

[2019-09-25 15:24] QuentinLB commented on #3797
Yes I saw the components on the documentation, but I already have a hard time wrapping my head around the way the authentication component work to integrate it following the ecommerce example that I didn't to follow this way.
Anyway thank you for your time and advice.

[2019-09-25 15:24] #3797 closed

[2019-09-25 15:34] QuentinLB commented on #3281
Had the same issue, @emonddr solution to do a full update & rebuild worked for me.

[2019-09-25 15:36] noels opened #3804 "Validation passes when an required complex property value is set to an empty string."
## Steps to reproduce

Create a model which references another model. e.g.

[code]

Generate a datasource, repository and controller for `Order`.

## Current Behavior

Posting :

[code]

to the `/orders` endpoint correctly validates that customer is required, however posting:

[code]

successfully creates a new order with an empty customer object.

## Expected Behavior

I would expect that the sec

[2019-09-25 16:18] deepakrkris commented on #2639
@agnes512 I am not updating any test cases. From the working app( https://github.com/strongloop/loopback-next/compare/todoListPostGres?expand=1) I found that the param keyFrom is not relevant/not working any more, it has become a dummy parameter.

[2019-09-25 16:47] #3450 closed

[2019-09-25 17:00] dhmlau opened #3806 "String type in the generated model class from lb4 discover not correct"
Related to https://github.com/strongloop/loopback-next/issues/2953

It seems like some of the items mentioned in https://github.com/strongloop/loopback-next/issues/2953 wasn't fixed completely.

Runs the `lb4 discover` command and the generated code isn't exactly what we're looking for.

## Steps to reproduce

1. Create a very simple table, e.g.
[code]

This is my command on postgres:
[code]

2. S

[2019-09-25 17:08] dhmlau commented on #3798
@1057437122, inspired by the example from https://github.com/strongloop/loopback-next/issues/3459#issuecomment-515443135. I've added one more endpoint / function in the controller so that it's easier to test.

[code]

Please note that the command you put as the parameter are specific to the database you're calling. I'm using Postgresql, but the above example is simple enough that is probably worki

[2019-09-25 17:08] #3798 closed

[2019-09-25 17:13] dhmlau commented on #3459
Cross posting my comment in https://github.com/strongloop/loopback-next/issues/3798#issuecomment-535119705

[code]

It seems like there's issue with the command you're trying to execute.  I'm not familiar with how MSSQL syntax work, so not sure what could go wrong. I'd suggest you run this outside your LoopBack application first to better isolate the problem.  Hope it helps.

With that, I'd like t

[2019-09-25 17:13] #3459 closed

[2019-09-25 20:23] dhmlau commented on #3800
I'm trying out the demo and adding the instructions in https://github.com/strongloop/cascon2019/pull/1.

[2019-09-26 05:11] deepakrkris commented on #2639
travis build jobs failed for the original PR, so I have opened a new PR https://github.com/strongloop/loopback-next/pull/3808

[2019-09-26 07:04] Hideart commented on #3372
Hello. Can you tell me about your quick-fix, please?
P.S. The issue for MS SQL Server is actual now.

[2019-09-26 07:05] Hideart commented on #3372
Hello. Can you tell me about your quick-fix, please?
P.S. The issue for MS SQL Server is actual now.

[2019-09-26 08:00] sestienne commented on #3526
Hi,

Why not in author controller just call in `deleteById` function :
`this.authorRepository.books(id).delete();` ?

The function deleteById of a repository is able to take Options, the reference api doesn't describe them. What are them ? Not possible to give a cascade option ?
`(method) DefaultCrudRepository<Category, number | undefined, CategoryRelations>.deleteById(id: number | undefined, opti

[2019-09-26 08:18] mmussche2 commented on #3706
@raymondfeng  I've update @loopback/repository to version 1.14.0 and loopback/repository-json-schema to version 1.10.0, and I still have the issue.
loopback/openapi-v3 is in version 1.9.6, do I need to update another package ?

[2019-09-26 08:33] sestienne commented on #3372
Hi,
1/ I tried to use this syntax for sqlite3 but it seems not working ? I try it with "sqlite" & "sqlite3". What's wrong ? Is it supported ? What are supported connectors ? Mysql ? MongoDB ?
<pre>@model({
  settings: {
    sqlite3: {
      table: 'categories',
    }
  }
})</pre>

2/ I also make a dummy test in a property and it doesn't work.
<pre>@property({
    type: 'number',
    id: true,

[2019-09-26 11:52] bajtos commented on #2480
I'll be opening a follow-up story for this point.

We don't have much of migration guide yet, let's make this item a part of https://github.com/strongloop/loopback-next/issues/3718.

Let's offer built-in models for the initial version and then use feedback from users to decide what changes (if any) we want to make.

Since we cannot import models inheriting from custom app models yet, I feel select

[2019-09-26 12:14] bajtos opened #3810 "LB3 model import: preserve connector-specific metadata in property definitions"
Consider the following LB3 model definition:

[code]

Expected property definition in LB4 model file:

[code]

* UPDATED Acceptance criteria (02/24/2020) based on https://github.com/strongloop/loopback-next/issues/3810#issuecomment-589372507

## Acceptance criteria

- [x] add migration unit tests for preserving db metadata in model properties
- [x] check a migrated lb-next app manually that was mi

[2019-09-26 12:18] bajtos opened #3811 "LB3 model import: convert definition of nested properties"
The syntax used for property definitions is slightly different between LB3 and LB4. The initial implementation of the import command is converting only top-level properties. We should convert nested properties too, both in anonymous objects and arrays.

An example of a model with nested properties:

[code]

## Acceptance criteria

- [ ] Implement the feature as described above, including automated

[2019-09-26 12:24] bajtos opened #3812 "Spike: how to import relations from LB3 models"
Find out what's needed to improve `lb4 import-lb3-models` to improve relations defined in LB3 models.

You can use LB3 built-in `User` model and its' has-many relation `acsessTokens` as an example.

Some of the questions to consider:

- How are we going to resolve the target model? E.g. when importing `User` model, how are we going to determine where to import `AccessToken` model from? What is the

[2019-09-26 12:30] bajtos opened #3813 "Spike: how to import LB3 models extending a custom base model"
The initial implementation of `lb4 import-lb3-models` can import only models inheriting from models that have a built-in counter-part in LB4: `Model`, `PersistedModel`, `KeyValueModel`.

In this spike, we should research different options for supporting models inheriting from other user-defined models.

There are two major use cases: import a model inheriting from an LB3 built-in model like `User`

[2019-09-26 12:34] bajtos opened #3814 "LB3 model import: handle ObjectID type for MongoDB"
In LB3, the type of the primary key is determined by the connector. The MongoDB connector defines the type as `ObjectID`, using a class provided by MongoDB (`bson` module).

Conceptually:

[code]

In LB4, we treat `ObjectID` values differently:
- the property type is set to `string`
- there is MongoDB-specific metadata to tell the connector to use `ObjectID` data-type for this property

[code]

We

[2019-09-26 12:50] bajtos commented on #2480
Created the following follow-up stories:
- Connector-specific metadata in property definitions is not imported. #3810
- When a property is defined with a complex object type, the nested property definitions are not converted from LB3 to LB4 format. #3811
- Model relations are not imported. #3812
- Models inheriting from application-specific models (including LB3 built-in   models like `User`) cann

[2019-09-26 13:09] 1057437122 opened #3815 "How to do where not in (select xxx) query"
I'd love to use loopback 4 whereBuilder to build a query like 'select * from file where id not in (select fileId from workFile where workId='xxxxx')' and I tried this:
[code]
and
[code]
but both of them are wrong , what should i do ? this is the error:
[code]

[2019-09-26 14:17] raymondfeng commented on #1881
Reopening the issue to make sure docs are improved.

[2019-09-26 16:17] 1057437122 commented on #3815
i found the solution , first i fetch the included ids:
[code]
then fetch with this:
[code]

[2019-09-26 16:17] #3815 closed

[2019-09-26 20:53] #3766 closed

[2019-09-26 21:54] derdeka commented on #3707
Fixed with #3807 ?

[2019-09-26 22:13] yanosh1982 opened #3860 "How to load an entity with his belongsTo relation in loopback 4"
I'm new to loopback 4 and Nodejs. I want to load an Entity named Pratica defining a BelongsTo Relation whose target is another Entity named Stato.

I followed [this tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html) on loopback 4 documentation but it explains how to do it with a HasMany relation.

This is the schema resulting in the api explorer generated by Loopback for the endpoin

[2019-09-27 06:56] bajtos opened #3819 "Migrate schema of a selected subset of models or datasources"
## Suggestion

Allow the developers running `npm run migrate` to decide which datasources and/or which models to include in the migration.

## Use Cases

When an application access multiple datasources, e.g. SQL system-of-record maintained by a different team + MongoDB database for front-edge, the migration script should update only datasources in control of the team building the application (Mong

[2019-09-27 07:30] bajtos opened #3822 "Import REST API of LoopBack 3 models"
In https://github.com/strongloop/loopback-next/pull/3688, we introduced a new CLI command to import LB3 models to LB4 projects. The initial version imports only model definition, it does not import data-access and REST API layers.

In #2036, we are building solution for exposing model via (CRUD REST) API via declarative configuration.

Let's improve the importer to scaffold not only model definiti

[2019-09-27 12:30] bajtos commented on #3749
I think this may be a bug in `lb4 discover`. I vaguely remember that in LB3, properties imported from SQL schema used to have connector-specific configuration, for example:

[code]

If you take a closer look, you'll see that the LB4 property name `productId` is different from the database column name `PRODUCT_ID` and yet everything should work as expected.

IMO, `lb4 discover` should preserve conn

[2019-09-27 12:45] bajtos commented on #3527
The most likely source of the problem is that the value used by the query and the value stored in the database don't have the same type - one is a string and another is an ObjectID.

Can you try to define your relation as follows please?

[code]

[2019-09-27 12:46] bajtos commented on #3527
Also, can you provide us with a small app we can use to reproduce and debug the problem? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-09-27 12:46] bajtos commented on #3527
/cc @hacksparrow

[2019-09-27 13:04] bajtos commented on #3657
Thank you @dougal83 for helping out, you are right - LB4 is using strong-error-handler under the hood.

The details are described in our documentation here: https://loopback.io/doc/en/lb4/Sequence.html#handling-errors

@sertal70 you can enable `debug` mode if you want to see details for 500 errors too (see the docs). Just be aware that your application may leak sensitive data this way. For example

[2019-09-27 13:20] bajtos commented on #3711
I think this is a bug in the code generating LB4 property definitions from metadata provided by discovery (which is LB3 based). I encountered a similar problem while implementing `lb4 import-lb3-models` - see https://github.com/strongloop/loopback-next/pull/3688. The solution is to convert built-in types like `String` to all-lowercase variant (`string`), see here:

https://github.com/strongloop/lo

[2019-09-27 13:22] bajtos commented on #3706
@raymondfeng can you PTAL?

[2019-09-27 13:23] bajtos commented on #3711
This is possibly a duplicate of https://github.com/strongloop/loopback-next/issues/3806

[2019-09-27 13:24] bajtos commented on #3711
A duplicate of #3806

[2019-09-27 13:25] bajtos commented on #3806
See also #3711 that describes another aspect of this problem, one related to controllers & repositories.

[2019-09-27 13:28] bajtos commented on #3804
Thank you @noels for the bug report, a detailed analysis and a PoC solution.

I reviewed your changes, they make perfect sense to me. Can you open a pull request please to contribute them to the framework?

See our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get star

[2019-09-27 13:36] hacksparrow commented on #3731
Closed via https://github.com/strongloop/loopback-next/pull/3824

[2019-09-27 13:36] #3731 closed

[2019-09-27 14:00] bajtos commented on #3602
I am afraid this is a limitation of the current juggler. If the PK property is defined as autogenerated, juggler always overwrite the type with the default id type supplied by the connector. See here:

https://github.com/strongloop/loopback-datasource-juggler/blob/a90dc0eac4abb17f2335d0803e0828fa79e444dc/lib/datasource.js#L722-L728

[code]

This is causing problems for MongoDB too, where a propert

[2019-09-27 15:15] #2825 closed

[2019-09-27 15:20] hacksparrow commented on #2825
Closed via https://github.com/strongloop/loopback-next/pull/3779

[2019-09-27 15:47] agnes512 commented on #3749
@bajtos I think the generated `columnName` is correct, here is my psql table `Order`:
[code]
And the `Order` model generated by `lb4 discover`:
[code]
I think it does preserve  connector-specific property metadata. And LB4 property names are generated in lower-case.
I think users are expecting the generated model property names are the same as db column names. So they got errors when they try to u

[2019-09-27 19:45] dhmlau commented on #2639
Deferred to Oct, as there is ongoing discussion: https://github.com/strongloop/loopback-next/pull/3808/files#r329042766

[2019-09-27 22:24] dhmlau commented on #3621
@UnclePetros, does the above comment from @warmansuganda help resolving your issue?

[2019-09-28 04:26] UrielCuriel opened #3831 "cli model generator it's broken in v1.23.0"
I update my @loopback/cli package to version 1.23.0 and when use the model generator this is the result:
[code]

[code]
[code]

[2019-09-28 04:38] sjtai commented on #3831
It happens to me too. My environment:

    @loopback/cli version: 1.23.0

    @loopback/* dependencies:
      - @loopback/authentication: ^3.1.0
      - @loopback/boot: ^1.5.7
      - @loopback/build: ^2.0.12
      - @loopback/context: ^1.23.1
      - @loopback/core: ^1.10.3
      - @loopback/metadata: ^1.3.3
      - @loopback/openapi-spec-builder: ^1.2.14
      - @loopback/openapi-v3: ^1.9.8

[2019-09-28 05:28] raymondfeng commented on #3831
This is a regression introduced by https://github.com/strongloop/loopback-next/commit/eeb1e7987142fcae24209abe9f32c35a89d1b443. I'm fixing it now.

[2019-09-28 05:55] #3831 closed

[2019-09-28 05:59] raymondfeng commented on #3831
Please try @loopback/cli@1.23.1.

[2019-09-28 06:59] sjtai commented on #3831
v1.23.1 works for me. Thanks for the fixes @raymondfeng.

[2019-09-28 07:07] consultantcraig commented on #512
I'd like to add an idea for some low-hanging but powerful fruit:  There's a great visual model builder I'm using called GenMyModel.com (free for solo use).  You can export your data model as .xmi file.  Would be nice if I could feed that to loopback and it would auto-scaffold everything in one command including lb4 model, controllers, and database.  Then I can just go and tweak the routing and fun

[2019-09-28 12:49] UrielCuriel commented on #3831
v1.23.1 works. Thanks @raymondfeng

[2019-09-29 14:22] sandijs-private commented on #3561
Example of systems administration checklist for production usage of mongodb: https://docs.mongodb.com/manual/administration/production-checklist-operations/

Even if there are no instructions on how to achieve API_KEY functionality, it could be mentioned in such checklist.

[2019-09-29 15:36] frbuceta commented on #3602
Couldn't we make a warning message or do something to implement this first idea?

In case of not being able, I also think that this would be the best change

[2019-09-29 17:22] pktippa opened #3836 "Unable to remove Ping Controller"
## Steps to reproduce

Even if I remove the ping.controller.ts file, the REST API is still available.

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-09-29 17:42] frbuceta opened #3837 "Configuration to transform properties of a model"
## Suggestion

This request for a new feature is about transforming a property name of a model into another type of format

For example:
In my model I have a property called `firstName` which is defined in this way:

[code]

and in the database this name is translated into `first_name`

This would have an easy solution since I would use `name` name to tell you that really your name is` first_name`

[2019-09-29 19:23] raymondfeng commented on #3836
Removing ts file does not delete the generated js file. Please run `nom run clean && npm run build`.

[2019-09-29 19:23] #3836 closed

[2019-09-30 10:50] hacksparrow commented on #3602
@frbuceta can you share the structure details of the `uuid` field in your database? Mine is `int(11)` with `AUTO_INCREMENT `.

Which version of `loopback-connector-mysql` are you using?

Your sample app autogenerated the `id` starting with `1` and incremented it with each new user. `generated` model property made no difference.

[2019-09-30 13:57] bajtos commented on #3749
@agnes512 thank you for checking!

Great! This is an important part, it's good to know that it's working.

I see two problems:

(1)
I agree that ideally, generated property names should be camelCase, not all-lower-case. To me, this is a nice-to-have feature. (I suspect the code converting column names to property names is expecting `snake-case` or `underscore_case` names, but is not prepared to de

[2019-09-30 14:02] bajtos commented on #512
Thank you @consultantcraig for posting this idea. Our CLI tool can be invoked in a non-interactive headless mode where answers from prompts are supplied via a JSON file. I think it should be possible to build a tool you have described using this feature.

I can also imagine adding a new command to the CLI that will accept a single JSON file with a list of commands & their arguments to run. With su

[2019-09-30 16:44] belltanellc commented on #3281
Yep. Worked for me, too. Thx!

[2019-09-30 20:20] emonddr commented on #3693
Placing poster ideas in

https://ibm.ent.box.com/folder/88591184270

[2019-09-30 20:40] emonddr commented on #3693
Poster 1 is the classic poster (doesn't need redesign)
Poster 2 is a combination of [LoopBack 4 overview diagram and bullet points](https://loopback.io/doc/en/lb4/index.html) and a modified version of the [shopping cart application diagram](https://github.com/strongloop/loopback4-example-shopping)

Poster 3 - will be a diagram of deploying a LoopBack 4 application as separate microservices in Kube

[2019-09-30 22:00] jannyHou opened #3845 "Change `Principal` to be `TypedPrincipal` in the authorize interceptor"
## Steps to reproduce

The `authorizeInterceptor` should use `TypedPrincipal` instead of `Principal` in the
authorization context.
And we should provide a default factory that converts a
user profile to a typed principal in `@loopback/security`.
See PR https://github.com/strongloop/loopback-next/pull/3807

## Current Behavior

Authorizer interceptor still uses a more general type `Principal`, see

[2019-09-30 22:11] jannyHou opened #3846 "Add user profile factory for authentication modules"
## Suggestion

This is a follow-up story for PoC https://github.com/strongloop/loopback-next/pull/3771

## Use Cases

Allow the strategy adapter to add a user profile factory that converts the returned user from a passport strategy to the user profile.

## Examples

See the background and example in [PoC PR](https://github.com/strongloop/loopback-next/blob/61a8c1f1ef07ab973685d82fd639214824183c9e/

[2019-09-30 22:26] jannyHou commented on #2246
See PoC https://github.com/strongloop/loopback-next/pull/3771 and follow-up stories created in

https://github.com/strongloop/loopback-next/issues/3846
https://github.com/strongloop/loopback-next/issues/3845

[2019-09-30 22:26] #2246 closed

[2019-10-01 04:17] pktippa commented on #3836
thanks @raymondfeng that worked.

[2019-10-01 06:30] UnclePetros commented on #3621
I've tried. Unfortunately, not.
No data is retrieved.

[2019-10-01 06:41] UnclePetros commented on #3621
Ok.
I mainly use postman to do my quick tests.
I have in my document in mongodb this phone string field: _"+1234567890"_.
I do this call from postman: _localhost:3003/api/digital-users/?filter={"where":{"phone":"+1234567890"}}_
No data is retrieved.

If I remove the plus char in the phone field in document in db, and remove the plus char in the api call filter, data is retrieved correctly.

Moreov

[2019-10-01 14:36] bajtos commented on #3621
Thank you for the clarification, @UnclePetros. It's important to know that you are using MongoDB, the behavior may be specific to this database.

Here is an experiment you can try yourself:

[code]

As you can see, Node.js is converting the plus character `+` to a space character ` `, running the following query as a result:

[code]

You need to URL-encode values in your query, for example by call

[2019-10-01 14:36] bajtos commented on #3621
I am closing the issue as resolved. Feel free to re-open it if url-encoding your `filter` query does not solve the problem.

[2019-10-01 14:36] #3621 closed

[2019-10-01 14:48] #3653 closed

[2019-10-01 15:12] dhmlau commented on #2480
Closing as done!

[2019-10-01 15:12] #2480 closed

[2019-10-01 15:20] #3240 closed

[2019-10-01 15:20] dhmlau commented on #3240
Closing as done.

[2019-10-01 15:20] dhmlau commented on #3242
Closing as done.

[2019-10-01 15:20] #3242 closed

[2019-10-01 19:46] dhmlau opened #3852 "`lb4 service` does not append `Service` in the class name as other generators do"
## Suggestion

If I run `lb4 service` and specify the service name as `caching`, the output is:
- class name is `Caching`
- file name is `caching.service.ts`.

Assuming we have a similar experience as the `lb4 controller` command, it would be good if the generated class name is `CachingService`.

## Acceptance criteria
- [ ] the `Service` string is appended to the service name provided by the user

[2019-10-01 20:50] CollinHerber opened #3859 "LB4 Npm Run Start stuck when mounting LB3 app"
# Description/Steps to reproduce
My application hangs when mounting an LB3 app inside the LB4 app
"C:\Program Files\nodejs\node.exe" "C:\Program Files\nodejs\node_modules\npm\bin\npm-cli.js" run start --scripts-prepend-node-path=auto

I followed this tutorial exactly: https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application#tutorial

When removing `this.component(Lb3AppBoot

[2019-10-01 20:59] jannyHou opened #3854 "Contribute OpenAPI spec pieces from extensions"
## Suggestion

This is inspired by [spike](https://github.com/strongloop/loopback4-example-shopping/pull/267). Authentication strategies should be able to contribute security schemas and operation security config into the app's openapi spec.

Let's start from creating an extension point for adding OpenAPI specs. It will read specs from extensions. Like `ControllerSpecBuilder` generates the operati

[2019-10-01 21:02] jannyHou commented on #3854
cc @raymondfeng @emonddr I created this task as we discussed in the estimation meeting. Feel free to edit the description. Thanks.

[2019-10-02 01:56] #3210 closed

[2019-10-02 05:57] johndpope commented on #3210
might be an idea to sufface this as a tool to help people upgrade old code https://www.npmjs.com/package/js-to-ts-converter

[2019-10-02 10:44] lokesh1197 commented on #2980
@dhmlau I would like to work on this. Can you assign this to me?

[2019-10-02 18:33] dhmlau commented on #2980
@lokesh1197, of course!

[2019-10-02 18:37] dhmlau commented on #3210
@johndpope, thanks for the link.  On a related note, we have a [spike on the migration guide](https://github.com/strongloop/loopback-next/issues/3718) planned for this month.  I'd encourage you to stay tune with the progress over there and provide your input!

[2019-10-02 18:46] dhmlau commented on #3859
Transferred to `loopback-next` as this is related to LB4.

@nabdelgadir, could you please help? Thanks.

[2019-10-02 18:49] dhmlau commented on #3860
Transferred to `loopback-next` repo as this is related to LoopBack 4.
@agnes512, could you please take a look? Thanks!

[2019-10-02 19:27] dhmlau commented on #3698
Since PR #3504 has landed, this issue should be resolved.  Closing this.

[2019-10-02 19:27] #3698 closed

[2019-10-02 19:40] agnes512 commented on #3860
Hi @yanosh1982 , I read through the issue, IIUC, you are expecting to get something like from `findById()` method:
[code]
The problem might lie in the setting of relations. And also, we've released a new version of loopback days ago, which is related to the issue. Could you install the latest loopback package?

Also, we've simplified the docs because of the new released feature.
Could you try out

[2019-10-02 20:01] yanosh1982 commented on #3860
Thank you @agnes512 for answering. I’ll try as soon as possible. Can you just specify what you mean with “ The problem might lie in the setting of relations”? What do you see in my code that could be wrong exactly? Thanks in advance. Regards

[2019-10-02 21:55] agnes512 commented on #3860
The code is mostly correct.  It's just that our documentation doesn't point out that such changes in the decorator are needed when we use customized names in lb4 relations. Sorry about confusion. The missing part will be updated it in the near future.

Basically, relations have 3 fields in relation metadata: `keyFrom`, `keyTo`, and `name`. Some of them need to be changed to customize the names tha

[2019-10-02 22:34] frbuceta commented on #3602
**User Table**
[code]

**UUID Trigger**
[code]

![Captura de pantalla 2019-10-03 a las 0 33 24](https://user-images.githubusercontent.com/13822438/66086787-7944d800-e575-11e9-9bcc-124b65a1632a.png)

[2019-10-03 12:59] hacksparrow opened #3862 "Improve docs on defineCrudRestController"
There was a long discussion on the PR https://github.com/strongloop/loopback-next/pull/3842 about dependency injection for controllers created using `defineCrudRestController`. We decided to land the PR and follow up with a new issue or PR which would cater to the expressed concerns in a more specific manner.

Comment by @bajtos:

**Acceptance Criteria**

- [ ]  A spike on subclassing or naming th

[2019-10-03 13:01] hacksparrow commented on #3732
Closed via https://github.com/strongloop/loopback-next/pull/3842

[2019-10-03 13:01] #3732 closed

[2019-10-03 13:33] taicho opened #3863 "Model Schemas Not Generated Properly When Using Type Alases For Property Types"
## Steps to reproduce
A common pattern in TypeScript is to pull types from properties of other objects ensuring type safety and reducing redundancy...

1. Create a Model or Entity:
[code]
2. Create another with only a subset properties (maybe for use as a basic DTO for another endpoint):
[code]

## Current Behavior

As shown in the repro steps above, when pulling property types from other object t

[2019-10-03 13:49] yanosh1982 commented on #3860
Hi @agnes512. I've tried to follow again the tutorial with the new version you've released but I still have some problem. i get the result, but the generated schema doesn't seem to be correct. Check out the following.

this is the result i get with the call http://localhost:3000/pratiche/100084146:
[code]

and the schema generated by the explorer:
[code]

I paste again the code with some comment,

[2019-10-03 14:26] agnes512 commented on #3860
Oops I think I made a mistake, the type of `stato` of `@belongsTo`  should be number (same as the type of the id property in `Stato`)
[code]

[2019-10-03 14:44] yanosh1982 commented on #3860
With number it works, but the example schema of the explorer i still get
[code]

this is the schema definition in the openapi.json
[code]

Anyway: as a Java developer i use to query some Entity and the ORM automagically load the related model of the target type (Stato in this case). this prevent to have 2 access on database, one for the source model and one for the target.

Is this possible in LB4

[2019-10-03 17:02] agnes512 commented on #3860
Yes for sure! Personally I don't touch controllers that much. I usually just test them over repositories.

Here's the code snippet I used to test out the included models:
[code]
Once you set up the models and repositories, you can simply use `find*` methods at repository level.

You can find more tests over relations in [`repository-tests`](https://github.com/strongloop/loopback-next/tree/master/p

[2019-10-03 17:24] yanosh1982 commented on #3860
Thank you

[2019-10-03 17:24] #3860 closed

[2019-10-03 23:37] shadyanwar commented on #2545
@raymondfeng What if I want to get the request headers (to get the IP address for example) in index.ts (inside the block "`export async function main`"). In my use case, I will use `await app.static `to redirect the user to a specific path based on their request headers.

[2019-10-04 01:27] raymondfeng commented on #2545
@shadyanwar In your case, maybe it's better off to have a facade controller that receives injection of `request` and delegates to other controllers (which can be injected to the facade one as dependencies too).

[2019-10-04 04:18] jannyHou commented on #3845
When I worked on https://github.com/strongloop/loopback-next/pull/3807 I thought creating an instance of `TypedPrincipal` would be easier than having the [converter](https://github.com/strongloop/loopback-next/pull/3807/files#diff-e6123f527fcc06e326286acf9a909226R18). Just tried to change the `Principal` to `TypedPrincipal` on local and found it's not very reasonable, since it regenerate the `secu

[2019-10-04 04:18] #3845 closed

[2019-10-04 09:35] bajtos commented on #3863
I am afraid this is a limitation of TypeScript.

Here is the code emitted for your `UserLogin` class:

[code]

As you can see on the line 3, TypeScript is providing the following `design:type` metadata for the `email` property: `Object`. LoopBack is using this metadata to infer the property type, because that's the only information available at runtime. And because TypeScript thinks the type is `O

[2019-10-04 11:54] pavelgronsky opened #3868 "OpenApi Decorators doesn't work"
Hello. I'm try to add openapi decorators to my Loopback 4 example.
But this example from doc. doesn't work: https://loopback.io/doc/en/lb4/Decorators_openapi.html

1. What parameters I can used form [OpenAPI-Specification](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md)
2 How I can debug  definition (Ii'm try to write definition used TS)
3. How I can crate API definitio

[2019-10-04 13:32] taicho commented on #3863
Ah. I'm relatively new to LB4 - I assumed the OpenAPI spec was getting generated via TS API by parsing the AST rather than reflection metadata, that makes sense. Also interesting that the injected metadata doesn't handle this situation on the TypeScript side, definitely seems like a gap in the compiler.

In any case, @bajtos thanks for the quick reply and breakdown. My best guess to provide footno

[2019-10-04 14:33] bajtos commented on #3572
Great, I am glad for that 👍

I am afraid that's not possible if you want the OpenAPI spec to accurately describe the request & response schemas.

 - `find` method can return related models in properties like `products` and `owners`. However, these properties are not valid when creating or updating data.
 - When creating a new model instance, the `id` property is typically not allowed, because we w

[2019-10-04 14:33] #3572 closed

[2019-10-04 14:35] bajtos commented on #110
@julianomacielferreira @irineul invites sent ✉️

_Please note that you have to accept the invite on GitHub before you become a member of `@strongloop/loopback-next`. If you didn't receive an email notification from GitHub, then I think you can find the invite when visiting StrongLoop organization on GitHub: https://github.com/strongloop_

[2019-10-04 14:36] bajtos commented on #3787
As @raymondfeng said, please use a process manager like https://pm2.io if you want to run your Node.js app in a cluster.

[2019-10-04 14:36] #3787 closed

[2019-10-04 14:39] frbuceta commented on #110
Hey @bajtos you send me an invitation?

[2019-10-04 15:03] bajtos commented on #487
Ping-back from https://stackoverflow.com/q/57996164/69868

[2019-10-04 15:16] dhmlau opened #3872 "[Epic] Simplify requestBody annotation with schema options"
Originated from https://github.com/strongloop/loopback-next/issues/2654.

@jannyHou had completed the spike. Cross-posting her summary from https://github.com/strongloop/loopback-next/issues/2654#issuecomment-517448716:
------------------
The PoC of new proposal is created in draft PR #3466

Follow up stories see:

#3493
#3496
#3497

------------------

[2019-10-04 15:16] julianomacielferreira commented on #110
Hello @bajtos ,

Thank you very much!!!

[2019-10-04 15:28] raymondfeng commented on #2493
See https://github.com/strongloop/loopback-connector-openapi

[2019-10-04 15:28] #2493 closed

[2019-10-04 16:11] hevillalobosccxc opened #3874 "hasOne and hasMany Relation don't Work lb4"
## Steps to reproduce

The examples in the documentation  not work

## Current Behavior

// add this line to register inclusion resolver
    this.registerInclusion('account', this.account.inclusionResolver);

when i add this line the registerInclusion is not reconozed

and "supplierRepository.find({include: [{relation: 'account'}]});"
this line show me an error : /suppliers/2/accounts: 500 Error:

[2019-10-04 16:13] dhmlau commented on #3874
@agnes512 @nabdelgadir, it's related to the inclusion resolver. Could you please take a look? Thanks.

[2019-10-04 16:29] agnes512 commented on #3874
Hi @hevillalobosccxc. We made a mistake in the docs. the function name `registerInclusion` should be `registerInclusionResolver`. This has been fixed in [this PR](https://github.com/strongloop/loopback-next/pull/3857). The site will be updated in the near furture.

[2019-10-04 16:59] hevillalobosccxc commented on #3874
I solvented, the problem is that all packages in the package.json to loopback were too olds

[2019-10-04 17:02] hevillalobosccxc commented on #3874
My old version:
[code]

[2019-10-04 17:02] #3874 closed

[2019-10-04 17:36] nabdelgadir commented on #3859
@CollinHerber I tried running our example [lb3 application](https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application) and it's running fine on my end, so it might be something specific to your lb3 app. Can you please provide a sample repo that replicates this problem? See [Reporting issues: Loopback 4.x Bugs](https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback

[2019-10-04 17:39] CollinHerber commented on #3859
When I'm home, tonight, I will strip out any of my application specific models and see if I can replicate it with the config files alone. I already started doing this slightly to see if I could pinpoint which portion of the lb3 app was causing these issues. I'll relay any results here. Expect a response within 72 hours.

[2019-10-04 17:54] CollinHerber commented on #3859
@nabdelgadir

I was able to find the problem. When following the instructions I put the `lb3app` folder inside the /src folder.
As soon as I re-read the instructions and noticed it was meant to be at the root of the folder structure, my application now runs fine.

Perhaps this bug could be closed now, but maybe another opened in regards to that? LB4 should prompt if it attempts to load a LB3 appli

[2019-10-04 21:16] JamilOmar opened #3878 "lifeCycleObserver is not working with express composition"
1. Have an lb4 app with a lifeCycleObserver.
2. Convert this app into an express app using express composition.
3. The lifeCycleObserver does not run.

## Current Behavior
Is not running after converted into an express app.

## Expected Behavior

lifeCycleObserver running.

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc

[2019-10-04 21:52] raymondfeng commented on #3878
You need to call lb4app.boot() and start()

[2019-10-04 22:41] JamilOmar commented on #3878
if you have multiple express apps , you will receive an exception because the port is already in use

[2019-10-04 22:52] raymondfeng commented on #3878
Yes. I’m working on a fix to disable Http listening for lb4 app.

[2019-10-04 22:53] JamilOmar commented on #3878
Do you have an approximate time for that release?

[2019-10-04 23:03] raymondfeng commented on #3878
The quick workaround is to have lb4 app listening a different port with host 127.0.0.1.

[2019-10-05 07:08] HMarzban commented on #2130
HI @bajtos i ran test of embedded models for nested properties but face to an error!

Post Model:
[code]
as #2505 pull request this model must be okay and work,
but when i hit `npm start` i getting the below error:
[code]

It's better to mention that I tested with `mongodb` and `memory` connectors and both of them had the same error result.
also, I tried to find out an error flow to fixed this iss

[2019-10-07 06:27] bajtos commented on #3700
I was able to reproduce the error using https://github.com/rsa408/lb4-test and posting the following request to `http://localhost:3000/users` via REST API Explorer:

[code]

Observed behavior:
- New model instances are created in the database
- The code processing result of the database operation throws an error and thus triggers 500 response.

What I'd like us to change:
- Improve our REST valida

[2019-10-07 09:02] bajtos opened #3886 "Improve issue & pull-request templates (connectors, LB3)"
Copy the pull request and issue templates from loopback (see [`.github`](https://github.com/strongloop/loopback/tree/master/.github)) to the following repositories:

**IMPORTANT: Make sure to change the CLA link in PULL_REQUEST_TEMPLATE to the correct repository-specific URL.**

LB3 core:
- [x] loopback - see https://github.com/strongloop/loopback/pull/4266 and https://github.com/strongloop/loopba

[2019-10-07 15:02] dhmlau commented on #3886
@bajtos, I've added a few more repos per your request. I'm not sure if the following also are considered as LB3 core.

- loopback-boot
- generator-loopback
- loopback-workspace
- loopback-context
- loopback-phase
- loopback-filters
- strong-globalize

I'm referencing the list in here https://github.com/strongloop-internal/scrum-apex/blob/master/repo-list.md.
-

[2019-10-07 15:42] dhmlau commented on #3863
@taicho, i've assigned this issue to you because you have a PR https://github.com/strongloop/loopback-next/pull/3871 in progress

[2019-10-07 15:43] dhmlau commented on #3878
PR https://github.com/strongloop/loopback-next/pull/3879 is in progress.

[2019-10-07 17:40] deepakrkris commented on #3382
I am thinking about having a page with this outline

[code]

[2019-10-07 17:42] deepakrkris commented on #3382
we can even have a user interaction diagram like below
`Build Models -> Design APIs -> Connect`

[2019-10-07 17:42] #3878 closed

[2019-10-07 20:26] taicho commented on #3863
Closing this as #3871 has been merged.

[2019-10-07 20:26] #3863 closed

[2019-10-08 03:36] riyastir commented on #1981
Guys any update on GeoPoint?

[2019-10-08 08:06] sestienne commented on #1352
Hi,

Do you know how to do a where filter on data retrieved by the inclusion resolver ?
For exemple : Author(id, name) Book(id, title, extract, category, authorId)
/authors?filter[include][0][relation]=books&filter[where][books][category]=SF
/authors?filter[include][0][relation]=books&filter[where][books][][category]=SF
/authors?filter[include][0][relation]=books&filter[where][books.authorId][cate

[2019-10-08 09:33] sestienne commented on #1830
Hi,
Actually when we have a primary key as a string, when we want to retrieve our data, like just /locales, primary key is not returned.
Example :
`@property({
    type: 'string',
    id: true
  })
  localeCode: string;`
Is there any workaround ? (It's important to know it to choose which node api i will use for my project)
Thanks!

[2019-10-08 11:59] mmussche2 commented on #3706
@raymondfeng @bajtos
Still no progress on this issue ? Is there anything I can provide to help with this ?

[2019-10-08 12:22] sestienne commented on #1830
Hi,
When we use a primary key as a string, when an object is created with POST method, the response is given with a number on the primary key instead of what we specified. Any reason/idea why ?

[2019-10-08 12:47] sestienne commented on #1352
Hi,

Another question, does inclusion resolver working in acceptance tests. Is there anything to do to make work it ?
Thanks.

[2019-10-08 12:59] agnes512 commented on #1352
@sestienne Hi!

Here is an example for including a `todoList` instance of a `todo` that has `id = 1` via belongsTo relation.

[code]

Yes! We've tested it over SQL and NoSQL databases. You can check the [Querying related models](https://loopback.io/doc/en/lb4/HasMany-relation.html#querying-related-models) section in each relation on our site for the usage. You can also check out the [acceptance te

[2019-10-08 13:19] sestienne commented on #1352
@agnes512 Thanks a lot for your response.
I finally success to test inclusion resolver in acceptance tests.
By the way, I success with something like /authors?filter[include][][relation]=books or /authors/1?filter[include][][relation]=books, but whith a where filter it doesn't work.
I will try to test with todolist example with this request :
http://127.0.0.1:3000/todos?filter[include][][relation]

[2019-10-08 13:48] sestienne commented on #1352
@agnes512 So, I launch the todolist example and try request like :
http://127.0.0.1:3000/todo-lists?filter[include][][relation]=todos&filter[where][todos][][desc]=MWAHAHAHAHAHAHAHAHAHAHAHAHAMWAHAHAHAHAHAHAHAHAHAHAHAHA
But it doesn't work. What's wrong ?

[2019-10-08 14:59] agnes512 commented on #1352
@sestienne sorry I didn't realize that you were trying to filter out `todo`s.

In url `GET /todo-lists?filter[where][id]=1&filter[include]..`, the `where` filter only filters out `todo-list`.  It's the `where` filter inside of `scope` of `include` filters out `todo`s.
[code]
Unfortunately we don't support inclusion with custom `scope` at the moment.

[2019-10-08 15:04] emonddr opened #3896 "[SPIKE] HasMany relation definition to REST API with auto-generated repository/controller classes"
In LoopBack 3, it is very easy to get a fully-featured relational REST API with very little code: a model definition describing model relations + a model configuration specifying which datasource to use.

Let's enhance the solution provided by https://github.com/strongloop/loopback-next/issues/2036  to include support for relations too.

This spike will focus on the `hasMany` relation, and will se

[2019-10-08 15:06] sestienne commented on #1352
OK thanks, do you know when it's planned ?

[2019-10-08 15:17] emonddr commented on #2483
Added one spike task #3896 `[SPIKE] HasMany relation definition to REST API with auto-generated repository/controller classes` to get the ball rolling.

Once we figure out what needs to be done with the `hasMany` relation, it should give us a pretty good understanding of the work required for the other relations.

[2019-10-08 15:18] emonddr commented on #2483
@dhmlau , @bajtos . Please let me know your thoughts. thx.

[2019-10-08 15:19] emonddr commented on #3896
@bajtos ^

[2019-10-08 15:28] agnes512 commented on #1352
The task #3453 is out of the scope of this MVP. So it probably won't be up that soon.

[2019-10-08 16:39] jannyHou commented on #2483
@emonddr for #2855 and #3896
I think we only need one spike, yours focuses on picking one relation type as the starting point, mine focuses on figuring out a solution for the path resolving.
Let me merge mine to #3896, then discuss and find a solution for the "hasMany" relational endpoints.

[2019-10-08 16:44] agnes512 commented on #3451
Closing as done.

[2019-10-08 16:44] #3451 closed

[2019-10-08 16:45] jannyHou commented on #3896
Team has different opinions on the how to resolve the relational path.

Copied from https://github.com/strongloop/loopback-next/issues/2855

And @bajtos 's reply in https://github.com/strongloop/loopback-next/issues/2483#issuecomment-491752280:

Let's make a decision in this spike for ^

[2019-10-08 16:45] jannyHou commented on #2855
Close it in favor of https://github.com/strongloop/loopback-next/issues/3896

[2019-10-08 16:45] #2855 closed

[2019-10-08 18:02] raymondfeng commented on #3706
@mmussche2 Can you verify https://github.com/strongloop/loopback-next/pull/3897?

[2019-10-08 18:11] dhmlau commented on #3693
We've sent the mockup to the designer.  Closing as done.

[2019-10-08 18:11] #3693 closed

[2019-10-08 18:14] luncht1me commented on #3453
Was trying to do a
[code]
but got shut down by 'scope not supported' error. I see it's written in the type definitions though, is this just a bad package version on my part perhaps? Or is scope within a relation actually not hashed out completely yet?

[2019-10-08 18:29] #2639 closed

[2019-10-08 19:04] dhmlau opened #3898 "[Epic] CASCON x Evoke 2019 Workshop + Poster"
Preparation for CASCON x Evoke workshop and poster:
Workshop (Nov 4): https://pheedloop.com/cascon/site/sessions/?id=OhNsKW
Expo/Poster (Nov 5): https://pheedloop.com/cascon/site/sessions/?id=DugCzZ

[2019-10-09 15:04] raymondfeng commented on #2239
I think we now have enough capabilities to support the `service` idea:

1. Each TypeScript class (not only controllers) can be decorated with `@bind` and `@inject` to be managed by IoC and DI.

2. We have improved `lb4 service` to generate local services - see https://loopback.io/doc/en/lb4/Service-generator.html

3. We support life cycle observers to allow use cases such as startup scripts or cro

[2019-10-09 16:38] alcmontejo commented on #110
hello, Interested here. count me in.

[2019-10-09 19:32] dhmlau opened #3902 "[EPIC] Authentication & Authorization (Q4 edition)"
Here are the high level tasks that we want to achieve in these 2 areas for Q4, as part of the [Q4 roadmap](https://github.com/strongloop/loopback-next/blob/master/docs/ROADMAP.md):

- Authentication:
  - support token based authentication in API Explorer in shopping example
  - provide documentation in how to enable that in API Explorer if users want to add it in their application.

- Authorizatio

[2019-10-09 19:50] dhmlau commented on #3711
@bajtos, just want to make sure.. if there is a fix for this issue, the issue in #3806 will be fixed automatically?

[2019-10-10 12:04] ddsultan commented on #512
Schematics support with the CLI like in Angular CLI

[2019-10-10 14:00] RipkensLar opened #3907 "Repository injection bug?"
## Steps to reproduce

Checkout https://github.com/RipkensLar/loopback-next
Run "npm test" in the todo example.

## Current Behavior

## Expected Behavior

Pass the test. Not sure if I simply injected the repository in base.repository.ts not correctly or this is a bug. When I execute the method via the api-explorer, the method returns the expected object.

[2019-10-10 14:15] bajtos commented on #2483
👍 💯

[2019-10-10 15:32] raymondfeng commented on #3907
@RipkensLar You use the following code to instantiate TodoRepository without dependency injection involved. As a result, the `enumRepository` is not set up. You'll have to call `todoRepo.enumRepository = ...` explicitly in your usage.

[code]

To enable dependency injection, you have to use some code like the following:

[code]

The `app` is an instance of your app that's booted.

[2019-10-10 15:32] #3907 closed

[2019-10-10 15:32] mmussche2 commented on #3706
@mmussche2
After importing packages openapi-v3 and repository-json-schema from your branch, I still have an error :

`RangeError: Maximum call stack size exceeded\n    at Object.entries.forEach (C:\\Users\\mmussche\\Documents\\workspace\\Boccard\\ta-api-core-2\\node_modules\\@loopback\\repository\\dist\\repositories\\legacy-juggler-bridge.js:95:43)\n    at Array.forEach (<anonymous>)\n    at Repor

[2019-10-10 16:09] raymondfeng commented on #3706
You probably need to import `repository` module too.

[2019-10-10 17:11] #3740 closed

[2019-10-10 18:34] emonddr commented on #3806
Double-check for other types as well.

[2019-10-10 18:39] emonddr commented on #3493
Let's have a meeting to discuss this first.

[2019-10-11 02:43] UNSWZen opened #3913 "Data model validation required."
## Suggestion
At the moment I can only find Open API schema validation but not the business logic validation. I'd like to see some custom validation rules as in lb3, and possibly if the validations can be done outside of the controller(eg: sequence maybe?)

1. Custom validation rules.
2. The `additionalProperties` defined in `@model` decorator will be ignored by `buildModelDefinition`,
and `jsonTo

[2019-10-11 07:45] haotangio commented on #2239
Hello @raymondfeng. Thank you very much for your update.

I'm starting to use LB4 for several projects ahead and just checked in the current version of LB4.
And yeah, I think the current IoC and DI support is great enough to build production products.

The only lacking features to be perfect-to-use (in my feeling as framework users/developers) is about has-many-through relation, and built-in autho

[2019-10-11 08:01] piyush0103 commented on #1863
@mrmodise hi i would like to know how you restored  JSESSIONID from the cookie in LB4

[2019-10-11 08:44] RipkensLar commented on #3907
Ok, thank you @raymondfeng
One last question: How can I use a different datasource in my tests? I cannot find something in the documentation about how structure the binding to do that.
Cause I would like to be able to use a testdb for my tests and a different database for my production.

[2019-10-11 22:06] derdeka commented on #3675
@bajtos @raymondfeng
Is this issue resolved as #3678 is merged? (lifecycle support to close the connection)

[2019-10-11 22:07] raymondfeng commented on #3675
@derdeka Thanks for the reminder.

[2019-10-11 22:07] #3675 closed

[2019-10-11 22:34] derdeka commented on #3707
@jannyHou @raymondfeng @JohnPhoto
Is the issue resolved as #3807 is merged?

[2019-10-12 01:12] zzhenryquezz commented on #2220
Some simlilar error happen with me too when trying to make a filter in url
[code]

it was return "Invalid date: null"

The problem happen was because the null in the filter url was a string and not a realy null, so i have to do a workarround to set the null in the code of serve.

[2019-10-12 09:16] jorgebarrero commented on #110
I would like to participate... thanks. Documentation is what I would like to do. Guidelines for beginners

[2019-10-12 23:20] dhmlau commented on #3707
Closing as resolved.

[2019-10-12 23:20] #3707 closed

[2019-10-13 05:12] ghguy commented on #512
SLC ARC with visual builder like version 3. Not command line based like apic discover.

[2019-10-15 00:16] #3852 closed

[2019-10-15 13:08] fabiohbarbosa opened #3930 "The repository `updateById` method has been storing `undefined` fields as `null`"
## Steps to reproduce
1. Should use `mongodb` connector.
2. Create a model object and set up a field as a not required one. Example:
[code]

3. Set id and number fields of object, but don't set the description.
4. Save this object.
5. Perform an update of this object using `repository.updateById` method.

## Current Behavior

On step 3 the **description** field was not stored on mongo collection.

[2019-10-15 13:41] fabiohbarbosa commented on #3930
The same issue is happening on first field levels as well.

[2019-10-15 14:46] bajtos commented on #3930
@fabiohbarbosa Can you please share the data object you are sending to `updateById` method? Are you making a REST API call or calling the repository method directly from the code?

[2019-10-15 14:47] bajtos commented on #3930
It would be best if you could create a small app reproducing the issue (see our [instructions]( https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs)) and include an automated test to cover your use case, so that running `npm test` fails with an error describing the problem.

[2019-10-15 14:52] bajtos commented on #1310
While working on https://github.com/strongloop/loopback-next/issues/3718, I found this issue is much worse than I thought. We are already running Jekyll in an incremental mode, but it does not seem to pick changes :(

I ended up doing a full restart whenever I want to preview my updates. Here is the command that works for me, execute it in `sandbox/loopback.io` directory:

[code]

[2019-10-15 15:01] bajtos commented on #3616
Closing as fixed, please let us know if the problem still persists.

[2019-10-15 15:02] bajtos commented on #3295
Since this does not work in LB3 either, I am re-labelling this to a feature request.

[2019-10-15 15:45] fabiohbarbosa commented on #3930
@bajtos I'm calling the repository method directly.

Sure, I can follow these instructions to generate a small app to be possible reproduce it.

[2019-10-15 15:50] bajtos commented on #2569
FWIW, CLI tests are hanging in AppVeyor (Windows) when using Node.js versions newer than 10.0.0. Related discussions:
- https://github.com/strongloop/loopback-next/pull/1350#issuecomment-394679150
- https://github.com/nodejs/node/issues/21210

It makes me wonder - if you downgrade your Node.js version to 8, will it fix the problem?

[2019-10-15 15:52] emonddr commented on #1310
I encountered problems with this before. I enlisted the help of Biniam and Raymond. Raymond made changes somewhere (can't remember what PR it was). It seemed to work for him, but never for me.
Cannot remember the actual file that @raymondfeng  updated in an attempt to fix the problem for me. It was in a program that copies documentation from one directory to another directory (I am assuming the sa

[2019-10-15 16:17] dhmlau commented on #3749
@agnes512, could you please add the acceptance criteria? Thanks.

[2019-10-15 17:50] vanildov commented on #2130
Hi,

I'm experiencing the same error described above by @HMarzban . Any news on that?

[2019-10-15 17:52] emonddr commented on #2739
@bajtos I added the Acceptance Criteria. Please adjust it to your liking; if necessary. thx

[2019-10-15 17:59] raymondfeng commented on #2130
Maybe it's related to https://github.com/strongloop/loopback-next/pull/3897

[2019-10-15 18:42] emonddr commented on #3607
@bajtos I added the Acceptance Criteria. Please adjust it to your liking; if necessary. thx

Also what is an example of non-model value?

[2019-10-15 19:00] dhmlau commented on #2239
@haotangio, thanks for your support for LoopBack 4!

For hasMany Through, there's an ongoing PR to add the support: https://github.com/strongloop/loopback-next/pull/2359.
For built-in authorization, please take a look at our docs: https://loopback.io/doc/en/lb4/Loopback-component-authorization.html.

I'd like to close this issue as resolved.  Please feel free to continue the hasMany Through discus

[2019-10-15 19:00] #2239 closed

[2019-10-15 22:11] jomarocas commented on #3645
update your loopback cli for working from now

`sudo npm i -g @loopback/cli`

[2019-10-16 01:38] aharbis opened #3935 "Migration Guide: Discuss life cycle differences between LB3 and LB4"
## Suggestion

This is a spin-off from a [discussion](https://github.com/strongloop/loopback-next/pull/3922#issuecomment-542093435) on PR #3922.

The purpose of this issue is to discuss the life cycle differences between LB3 and LB4, with a primary goal of identifying pain-points during migration in regards to this topic.

## Use Cases

Some initial topics or points of interest:
- End-to-end reque

[2019-10-16 06:50] HMarzban commented on #2130
HI @raymondfeng, I fount out that this problem comes from openapi package!
[code]
all these error comes from this line `schema: getModelSchemaRef(Post, { title: "PostSchema" })` with some digging found out that the `title` makes a problem when we use embedded models for nested properties.
e.g.

[code]
[code]

regularly when I don't use the embedded model the `getJsonSchemaRef()` which located in `

[2019-10-16 08:40] AsjadMahmood opened #3938 "Bad Request Error (400) in PUT request"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information
Error message : id property (id) cannot be updated from 6 to 6.

![put_error](https://user-images.githubusercontent.com/38811693/66902677-7983af80-f01a-11e9-8932-5a2a89848731.PNG)

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.

[2019-10-16 09:01] JuliaGmP opened #3939 "Change password length HTTP error in loopback 4"
I am using loopback 4 authentication and I have this credential schema. In my register method I am getting this http error response when giving a password shorter than 8 characters. I'm trying to avoid error message in the response that the password should be shorter than 8 characters, instead respond with an http error response without that details.

I would like to know where this error definiti

[2019-10-16 13:44] dhmlau commented on #3939
@emonddr, could you please take a look? Thanks.

[2019-10-16 13:45] dhmlau commented on #3938
@AsjadMahmood, do you have a small sample application that we can reproduce the problem from our side? And please include steps to reproduce as well. Thanks!

[2019-10-16 17:21] dhmlau commented on #3886
@nabdelgadir, as discussed, please take this task as a background task, doesn't need to do it all at once. Thank you!!

[2019-10-16 18:05] frbuceta opened #3942 "Query filter not work with include"
## Steps to reproduce

When sending a request to a GET method with a query object like this:
[code]
this does not work.
Inside the controller you only receive: `{ limit: '1' }`

@raymondfeng @bajtos

[2019-10-16 18:10] frbuceta commented on #3942
### Extending the previous comment

I send through the explorer of
[code]

Loopback receipt: `{ offset: '0', limit: '1', skip: '0' }`

[2019-10-16 20:37] dhmlau commented on #1996
From a discussion with @raymondfeng and @bajtos, _I think_ the other task about updating the tutorial to include authorization should cover this task.  But I'm not 100% sure.

@raymondfeng @bajtos, could you please confirm? Thanks.

[2019-10-16 23:17] david-saint opened #3944 "hasOne Relation doesn't work on a MongoDB datasource"
## Steps to reproduce

To reproduce this error all you have to do is start a new lb4 project and follow this tutorial [StrongBlog's first game tutorial part 3](https://strongloop.com/strongblog/building-an-online-game-with-loopback-4-pt3/)

Or
- by creating a new lb4 project
- create a mongodb datasource
- create two models and their repositories (assume character and weapon)
- create a belongsTo

[2019-10-17 06:22] fabiohbarbosa commented on #3930
After follow the instructions to create a small app, I figure out the `Partial` typescript utility type, it sorted out my problem. I'm going to close the issue. Thanks.

Partial guide: https://www.typescriptlang.org/docs/handbook/utility-types.html#partialt

[2019-10-17 06:22] #3930 closed

[2019-10-17 07:06] bajtos opened #3946 "How to migrate datasources from LB3 to LB4"
_This is a follow-up for #3718 and #3922_

Write content for `docs/site/migration/datasources.md`, explain how to migrate datasources from a LB3 project to LB4.

For example:

1. Run `lb4 datasource`, enter the same name as in LB3, pick the connector used by LB3 datasource
2. Enter default values for all prompts
3. Copy datasource configuration from `lb3app/datasource.json` to `src/datasources/{na

[2019-10-17 07:24] prth-123 opened #3974 "How Update loopback 4 project of old cli to new cli?"
Hello Team,
I have update by loopback cli to latest version but my loopback 4 was generated from old cli version due to which some dependencies were not install.
But if i am trying to update package.json file manually it is giving issues like of relations, on repository level and all.
So how can i update by  by loopback 4 project to latest version?
Kindly please help me as soon as possible.

[2019-10-17 07:27] prth-123 opened #3975 "How to generate error logs with loopback 4?"
Hello Team,
I want to auto generate error logs if any error comes from my API and store them in any file or in database.
I have already looked in log-extensions but was not that much helpful.

[2019-10-17 07:42] bajtos opened #3947 "How to migrate (app-level) Express middleware from LB3 to LB4"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/express-middleware.md`, explain how to modify a LB4 app with a mounted LB3 app to share the same Express middleware.

Initial setup:

[code]

The idea is to create a new top-level Express app, where we can mount the middleware to get it executed for requests handled by both LB3 and LB4 routes.

[code]

## Acceptance

[2019-10-17 07:52] bajtos opened #3948 "How to migrate model relations"
This is a follow-up for #3718 and #3922.

Write content for `docs/site/migration/models/relations.md`, explain how to migrate a relation defined in LB3 model JSON file to a LB4 app.

- Relation definition to LB4 model class
- Persistence (via LB4 Repositories), including inclusion resolver
- REST API (via LB4 Controllers)

## Acceptance criteria

- [ ] Migration guide describing manual steps
- [ ]

[2019-10-17 07:55] bajtos opened #3949 "How to migrate user-defined model methods"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/models/methods.md`, explain how to migrate model methods defined by the user.

- Methods related to persistence go to model-specific Repository class
- Remote methods (public API) go to Controller class

## Acceptance criteria

- [ ] Migration guide describing manual steps

[2019-10-17 07:55] AsjadMahmood commented on #3938
So i am storing array of string in the table. Post request works fine. But when i use put req to update the data from my angular 8 app i got this Bad Request Error (400) id property cannot be updated from 6 to 6. This req works fine with patch but it stores array in {"1","2","3"} this format. I want to it to store like this  ["1","2","3"]. And the type of id is number and i am also sending number.

[2019-10-17 07:59] bajtos opened #3950 "How to migrate remoting hooks"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/models/remoting-hooks.md`, explain how to migrate LB3 remoting hooks to LB4 interceptors.

- Global hooks, e.g. `app.beforeRemote('**', handlerFn)`
- Model-level hooks, e.g. `app.beforeRemote('User.**', handlerFn)`
- Method-level hooks, e.g. `User.beforeRemote('create', handlerFn)`

Explain how to map properties pro

[2019-10-17 08:18] bajtos commented on #1310
Few things we can try to speed up Jekyll build times in general: https://cloudcannon.com/tips/2017/12/08/speed-up-your-jekyll-builds/

[2019-10-17 08:28] bajtos opened #3951 "How to migrate model mixins"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/models/mixins.md`, explain how to migrate mixins from LB3 style (see [Mixins docs](https://loopback.io/doc/en/lb3/Defining-mixins.html)) to LB4 style (ES2015 mixin classes).

Important: In LB3, a model class provided both Schema definition, Persistence behavior and Public API. As a result, a single LB3 mixin can con

[2019-10-17 08:30] bajtos commented on #3951
I think this story may need a spike to explore different LB3 mixin kinds and what's the best way migration path for them.

You can use the following npm search to find existing LB3 mixins as examples to help us better understand different usage patterns we need to cover in our migration guide:

https://www.npmjs.com/search?q=loopback%20mixin

[2019-10-17 08:42] bajtos opened #3952 "How to migrate CRUD Operation Hooks"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/models/operation-hooks.md`, explain how to migrate operation hooks (see LB3 docs: [Operation Hooks](https://loopback.io/doc/en/lb3/Operation-hooks.html)).

Explain that we don't have first-class support for Operation Hooks in LB4 yet, refer to https://github.com/strongloop/loopback-next/issues/1919

As a temporary s

[2019-10-17 08:45] bajtos opened #3953 "How to map LB3 CLI commands to LB4 CLI"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/cli.md`, describe how to "upgrade" LB3-CLI-based workflow to `lb4`.

Quoting from https://github.com/strongloop/loopback-next/pull/3922#pullrequestreview-302031287:

/cc @raymondfeng

## Acceptance criteria

- [ ] Describe how to map LB3 CLI commands to LB4 CLI.
  - [ ] List LB3 commands which have a similar command

[2019-10-17 08:50] bajtos opened #3954 "[EPIC] How to migrate LB3 clients"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/clients.md` and explain how to migrate LB3 clients using loopback-specific SDKs to LB4.

List of known LB3 SDKs:

 - [ ] [AngularJS (1.x)](https://loopback.io/doc/en/lb3/AngularJS-JavaScript-SDK.html)
 - [ ] [Angular (2+) via loopback-sdk-builder](https://github.com/mean-expert-official/loopback-sdk-builder)
 - [ ]

[2019-10-17 08:54] bajtos opened #3955 "How to migrate LB3 components"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/extensions.md`, explain how can users migrate their custom components to LB4.

## Acceptance criteria

- [ ] How to rewrite components from LB3 to LB4 style
- [ ] How to migrate applications using such components
- [ ] What's our advice for apps using official loopback components like `loopback-component-storage`?

[2019-10-17 08:56] bajtos commented on #3955
This will require a bit of research first, we need to build a better understanding of what can LB3 components contribute and how to map that to LB4.

You can use the following npm search to find existing LB3 mixins as examples to help us better understand different usage patterns we need to cover in our migration guide:

https://www.npmjs.com/search?q=loopback%20component

[2019-10-17 09:02] bajtos opened #3956 "Which official LB3 components are not planned in LB4"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/not-planned.md`. Review the list of official LB3 components in "Understanding differences"), pick those that we are not planning to bring over to LB4, and explain that we are not planning to upgrade them to LB4 and if possible, then advise users how to upgrade on their own (e.g. how they can implement them themselve

[2019-10-17 09:04] bajtos opened #3957 "How to migrate boot scripts"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/boot-scripts.md`, describe how to migrate LB3 boot scripts in `server/boot/*.js` to LB4 life cycle observers.

## Acceptance criteria

- [ ] Migration guide describing manual steps

[2019-10-17 09:13] bajtos opened #3958 "How to migrate apps using loopback-component-passport"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/auth/passport.md`, explain how to migrate LB3 applications using [loopback-component-passport](https://github.com/strongloop/loopback-component-passport) to LB4.

I think the long term goal should be to move our users to [`@loopback/authentication-passport`](https://github.com/strongloop/loopback-next/tree/master/ex

[2019-10-17 09:16] bajtos opened #3959 "[Spike] How to migrate apps using loopback-component-oauth2"
_This is a follow-up for #3718 and #3922._

Write content for `docs/site/migration/auth/oauth2.md`, explain how to migrate LB3 applications using [loopback-component-oauth2](https://github.com/strongloop/loopback-component-oauth2) to LB4.

## Acceptance criteria

- [ ] Migration guide describing manual steps

[2019-10-17 09:16] bajtos commented on #3959
I think this story will require a spike first.

[2019-10-17 10:16] sureshkodur commented on #2936
Hi, Can anyone help me how to implement log extension in my app?

[2019-10-17 11:44] st119848 opened #3960 "todolist example not work correctly(inclusion show in document but not same with the response)"
## Steps to reproduce

Run the lb4 example command to select and clone the todo repository:

lb4 example todo-list
Switch to the directory.

cd loopback4-example-todo-list
Finally, start the application!

$ npm start

Server is running at http://127.0.0.1:3000

or i clone your entire github and start in example todolist folder the result is the same .

## Current Behavior

In the api document show

[2019-10-17 14:10] bajtos opened #3961 "Import model from JSON Schema"
## Suggestion

At the moment, `lb4` offers different ways for creating model classes (`src/models/{name}.model.ts`):

- Using an interactive prompt via `lb4 model`
- Importing from database schema via `lb4 discover`
- Importing from a LB3 app via `lb4 import-lb3-model`

It would be great allow developers to create model classes from JSON Schemas too.

## Examples

Let's say I have a file with the

[2019-10-17 14:21] bajtos opened #3962 "Define a DataTransferObject model with a subset of model properties"
## Suggestion

Quite often, we want different endpoints to accept or return only a subset of model properties.

At the moment, it's possible to opt-into navigational properties for relations, exclude a list of properties or make all properties optional.

I would like a more general approach that will allow to define a DTO object using a white-list of allowed properties.

For example, when implemen

[2019-10-17 14:52] jotamora opened #3964 "BUILD: The test appears in "dist" folder. ( And maybe they shouldn't)."
Hello everyone,

We have seen that when you make the build, the "test" appears in the folder "dist". We understand that the tests are to make sure our code works, we don't need it in the build.

It would be great an option to prevent the tests from appearing in the dist folder, once the build is done.  If there is something like that, we have not seen it...

Thanks in advance.

[2019-10-17 16:27] ibmjm opened #3965 "Better diagnostics with CLI command `lb4 repository`"
## Steps to reproduce

Edit one of your datasource JSON files to contain a trailing comma on the last key/value pair (or any other violation of JSON standards).
Run `lb4 repository` and observe the uncaught error.  Notice that the error explains that a JSON parsing error occurred, but says it happened in anonymous JSON, instead of naming the problematic file.

## Current Behavior

An error is thro

[2019-10-17 16:44] dhmlau commented on #3965
Thanks @ibmjm for opening the issue.

Capturing the discussion with @bajtos:

As a workaround:

[2019-10-17 17:40] ibmjm commented on #3965
Confirmed, that was how I traced which datasource file was malformed.

I think it would be more helpful if the error message included the filename all the time.  (I acknowledge that I don't know what it would report in a fully built distribution running on production, so maybe that's not possible.)  Either way, it seems that the error being thrown from @loopback/core/packages/cli/lib/utils.js that

[2019-10-17 19:17] #943 closed

[2019-10-17 19:17] #586 closed

[2019-10-17 19:17] #1239 closed

[2019-10-17 19:17] #608 closed

[2019-10-17 19:17] #1586 closed

[2019-10-17 19:17] #785 closed

[2019-10-17 19:17] #827 closed

[2019-10-17 19:17] #847 closed

[2019-10-17 19:17] #898 closed

[2019-10-17 19:18] #1210 closed

[2019-10-17 19:18] #1398 closed

[2019-10-17 19:18] #1357 closed

[2019-10-17 19:18] #1149 closed

[2019-10-17 19:18] #1227 closed

[2019-10-17 19:18] #1017 closed

[2019-10-17 19:18] #1083 closed

[2019-10-17 19:18] #1064 closed

[2019-10-17 19:18] #1089 closed

[2019-10-17 19:18] #1580 closed

[2019-10-17 19:18] #543 closed

[2019-10-17 19:18] #1425 closed

[2019-10-17 19:18] #1672 closed

[2019-10-17 19:46] emonddr commented on #3693
Not doing Poster 3. Just poster 2.

Work request sent to design team: https://github.ibm.com/velox/uxdesign/issues/1052

Poster 2
Something along these lines:

# LoopBack 4 : Built for API Developers, Extension Developers, Platform developers, and Teams

## High-level Overviev
![image](https://user-images.githubusercontent.com/6864736/67041986-d9e71f80-f0f4-11e9-9b96-eb69d1b6a902.png)

## Example

[2019-10-17 19:50] emonddr commented on #3800
@agnes512 created her own pull request to continue with the instructions : https://github.com/strongloop/cascon2019/pull/2

[2019-10-17 20:23] emonddr commented on #3718
@bajtos , can we close this spike since you've created children issues?

[2019-10-17 20:30] frbuceta commented on #3602
We can add to the list to MsSQL @bajtos

[2019-10-17 20:34] raymondfeng commented on #3296
Can you try to install https://github.com/oracle/node-oracledb and see if https://github.com/oracle/node-oracledb/blob/master/examples/example.js is working for you? We use `oracledb` behind the scene.

[2019-10-18 08:53] cantoute opened #3970 "automigration of database models boot script ?"
## Suggestion

It would be really nice not to have to re-invent the wheel to have a simple automigrate on models.
A boot script? That would be aware of cluster context? That would work with multiple datasources?

## Use Cases

In dev / prototyping  process, it's handy to have an automigration of database models that one can rely on.
For novices like me, It's a total nightmare event juste to figure

[2019-10-18 11:53] foxinni commented on #2264
Hi, Tried to run the medical example but ran into this issue:

`src/controllers/appointment.controller.ts:51:52 - error TS2345: Argument of type 'typeof Appointment' is not assignable to parameter of type 'typeof Model'.`

![image](https://user-images.githubusercontent.com/124101/67092099-af599d00-f1ae-11e9-8a88-f98892943b81.png)

[2019-10-18 12:58] hernanzoide opened #3972 "Issue when returning Map<string,string> in REST endpoint"
I've found that returning a Map<string,string> in a REST endpoint will always return empty results.
Example:

   `async getLabels(@param({ name: 'key', in: 'path' }) key: string): Promise<Map<string, string>>`

If I convert the map like this it will return properly.

   `const res: any = {}
   map.forEach((v, k) => res[k] = v)
    return res`

Is this a known issue? any other fixes for it?

Thanks

[2019-10-18 13:39] foxinni commented on #2264
Nevermind. Run `npm install --save @loopback/repository@git+https://git@github.com/codejamninja/loopback-next.git#npm/codejamninja/has-many-through-using-has-many@1.11.0-rc.1` and got it working.

[2019-10-18 14:10] agnes512 commented on #3452
closing as done

[2019-10-18 14:10] #3452 closed

[2019-10-18 14:57] nabdelgadir commented on #3859
Thank you! I added a test to verify that an error is thrown when it can't find the lb3 app in https://github.com/strongloop/loopback-next/pull/3963. 👍

I'm going to close the issue, but feel free to reopen if there's anything else.

[2019-10-18 14:57] #3859 closed

[2019-10-18 15:40] kundk-ckret commented on #3453
I have the same issue and need to query nested relations...
Is there no way atm to do this automatically? I have a tree structure and don't want to query for each node seperatly :(

[2019-10-18 15:57] dhmlau commented on #3970
@cantoute, are you aware that we have a migration script?  https://loopback.io/doc/en/lb4/Database-migrations.html#auto-update-the-database-explicitly.

If you want something to be run during the start of the application, there's a concept of [observers](https://loopback.io/doc/en/lb4/Life-cycle.html) in LoopBack 4.  Please also see my blog https://medium.com/loopback/loopback-quick-tip-seeding-da

[2019-10-18 17:04] st119848 commented on #3960
Ok this is what i expect. and the document api show

[2019-10-18 17:29] raymondfeng commented on #3964
The `__tests__` appears in `dist` folder as they are transpiled by TypeScript. But they are not part of published npm packages.

[2019-10-18 17:31] dhmlau commented on #3974
Transferring to `loopback-next` repo.

[2019-10-18 18:11] dhmlau commented on #3975
Transferring to loopback-next repo.

[2019-10-18 18:19] nabdelgadir commented on #3960
Hi @st119848, so this is actually a limitation of the explorer (https://github.com/strongloop/loopback-next/issues/2208). If you notice the request url, it's http://localhost:3000/todo-lists instead of http://localhost:3000/todo-lists?filter[include][][relation]=todos. Try using the url instead of doing the request through the explorer.

[2019-10-18 18:39] dhmlau commented on #3944
@gobackhuoxing, since you're the author of this blog post series, could you please take a look at this question? Thanks!

[2019-10-19 00:43] cantoute commented on #3970
This is exactly what I was dreaming to have when working with lb3... and I had totally missed out it was 1st class supported on lb4...

Thanks very much !!!

[2019-10-19 00:50] cantoute commented on #3970
BTW great articles you wrote, I'll read them with lots of attention!
Words of yours will be very helpful, avoiding me - and as I already see many others - lots of frustration.
Th.x. very much

[2019-10-19 05:36] st119848 commented on #3960
thank you i will try to use api with url and filter url.

[2019-10-19 05:51] st119848 commented on #3960
what if i want to use more inclusion in the inclusion what pattern url will be ? or you can send me about link to read about it

[2019-10-19 05:59] st119848 commented on #3960
/customers?filter[include][reviews]=author ?

[2019-10-19 06:15] st119848 commented on #3453
i need inclusion in inclusion toooo. @luncht1me

[2019-10-19 10:28] st119848 commented on #3960
relate to this issue https://github.com/strongloop/loopback-next/issues/3453

[2019-10-19 10:28] #3960 closed

[2019-10-19 11:09] pktippa commented on #1867
@shadyanwar
Replace

[code]
with

[code]

[2019-10-19 15:39] fabiohbarbosa commented on #3700
Same issue here.

[2019-10-20 10:36] st119848 commented on #3454
waiting for this feature

[2019-10-20 16:44] #435 closed

[2019-10-20 16:44] #1034 closed

[2019-10-20 21:10] theophane-girard commented on #3453
Me too ! :)

[2019-10-21 00:37] Fr4nZ82 opened #3977 "todo tutorial, add correct code to src/controllers/todo.controller.ts"
Steps to reproduce

follow the todo tutorial and the "Bonus: Integrate with a geo-coding service"

## Current Behavior

at the end of "Bonus: Integrate with a geo-coding service" there is an incorrect snippet:

[code]
https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html

## Expected Behavior

the correct one must be:

[code]

[2019-10-21 00:44] Fr4nZ82 commented on #3977
is "// eslint-disable-next-line require-atomic-updates" necessary? No better solution?

[2019-10-21 06:59] prth-123 commented on #3974
@dhmlau, First i have update my @loopback/cli and loopback/cli but it doesn't make any change so
I have updated package.json file using this commands
1) npm i -g npm-check-updates
2) ncu -u
3) npm install

Then i have updated all my package.json file and also node modules due to this some node modules started giving issues.

My old @loopback/cli version = sorry won't getting old version (0.31.3 ap

[2019-10-21 07:04] prth-123 commented on #3975
@dhmlau , Yes i was refering to log-extension but i don't think i need to achieve this. I just want to create a log file in which i want to enter error logs whenever generated from any REST API.

[2019-10-21 08:20] kevintc opened #3978 "How to run LB3 app tests when the app is mounted in a LB4 project"
## Steps to reproduce
Migration from lb3 to lb4, our legacy app lives in `./lb3app` and tests (using *Mocha*) are in `./lb3app/tests`

## Current Behavior
In `./lb3app/tests/main.js`, we have `const app = require('../server/server')`.
When trying to run the tests using `mocha ./lb3app/tests/main.js` `app` is undefined.

I tried `typescript-require` and:
[code]

## Expected Behavior
I expected a wa

[2019-10-21 10:29] bajtos commented on #3718
@emonddr this task was waiting for  #3969 to get landed. Closing it as done now.

[2019-10-21 10:29] #3718 closed

[2019-10-22 03:16] tritoanst commented on #1905
This code is OK for me.
[code]

[2019-10-22 11:27] prth-123 commented on #2053
@franverona I implemented the above code in my project. It was working fine and also i am able to run raw query. But i can run my application only if i have commented auto migrate line written in index.ts else it is giving error like this :-
![image](https://user-images.githubusercontent.com/56425948/67281410-f0beb500-f4ec-11e9-8643-736abe1da892.png)
Can you provide any solution on this?

[2019-10-22 13:48] emonddr commented on #3296
@bigal-cloud @Tavisco , please see @raymondfeng 's comment. :)

[2019-10-22 14:02] frbuceta commented on #3942
The problem is in the browser. Since Postman works!

[2019-10-22 14:20] irineul commented on #3942
hi, @frbuceta could you send your controller method?

[2019-10-22 14:22] frbuceta commented on #3942
It is a controller generated by default with the CLI

[code]

[2019-10-22 14:28] Tavisco commented on #3296
Hi @emonddr sorry for the late reply. I don't have access write to the database I'm testing with, so i've ran only the last part of the example.js file that selects the current date from dual, and it worked as expected.

[2019-10-22 15:09] irineul commented on #3942
Ok, and now please send me your Vehicle Model and User Model.

[2019-10-22 20:27] dhmlau commented on #3978
@nabdelgadir, could you please take a look? Thanks!

[2019-10-23 10:04] franverona commented on #2053
Sorry @prth-123 but I'm no longer on the "Loopback" echosystem. This was an small project I worked on long time ago.

[2019-10-23 15:07] prth-123 commented on #2053
Ok @franverona, Thanks for your support.

[2019-10-23 16:02] #3977 closed

[2019-10-23 18:37] nabdelgadir commented on #3978
Hi @kevintc, can you try:

[code]

[2019-10-23 23:57] ThomasGHenry commented on #3972
You're certain this isn't a Promise/async/await issue? A more complete example might help. That's my two cents. I'm just passing through.

[2019-10-23 23:59] raymondfeng commented on #3972
Please note `Map` is not JSON serializable. Please transform it to a JSON-friendly object as the return value.

[2019-10-24 07:05] AbhisheKundalia commented on #3524
@freakpol can you please share your code for reference if PR is not yet submitted. Thanks in Advance.

[2019-10-24 10:23] TomerSalton opened #3994 "best practice for custom http responses"
Hey,

I want to change the HTTP response (both errors and message) that is returned by the server.
Two examples:
1. If a user tries to send a PUT request in order to create an item, I want to return him a "ERROR 501 Not Implemented" response.
2. If a user sends a POST request that requires a lot of processing power, I want to return HTTP 202 (Created).

Would you be able to provide me the best pra

[2019-10-24 14:27] nabdelgadir commented on #3472
I'm closing this issue if there's nothing further. Feel free to reopen it if it's still not working.

[2019-10-24 14:27] #3472 closed

[2019-10-24 15:05] #3706 closed

[2019-10-24 15:25] agnes512 commented on #2405
@sayavo Hi, IIUC, you'd like to get a `Fund` instance with related `Organization` with `organizationid =2` =>
[code]

You can set a relation for these 2 models. For example, a `Fund` belongs to an `Organization`. And named this relation `organization`. You can find the details of setting up relations on our site [Relations](https://loopback.io/doc/en/lb4/Relations.html) and how to query data in re

[2019-10-24 15:50] #3382 closed

[2019-10-24 16:33] #3436 closed

[2019-10-24 16:59] agnes512 commented on #3942
@frbuceta I quickly tried your query with our [`todo-list` example](https://loopback.io/doc/en/lb4/todo-list-tutorial.html). It works fine to me. I got
[code]

with query
[code]
I don't see your models and repositories. For using inclusion, make sure that
1. define the relation well ( correct source id name, foreign name, relation name, etc)
2. enable the `inclusionResolver` for that relation. you

[2019-10-24 17:57] agnes512 commented on #3942
@frbuceta I quickly tried your query with our todo-list example with query
[code]
I got
[code]
But when I tried it with url:
[code]
, I got the correct result:
[code]
I think that's a bug in our API Explorer when it filters `limit` and `include`..

Could you try the url and see if it returns the expected result? Thanks.

[2019-10-24 19:27] dhmlau commented on #2146
@jangeorgiev, is this issue good to close? Thanks.

[2019-10-24 19:35] dhmlau commented on #3994
@TomerSalton, do you mean to change the HTTP response outside the controller?
If yes, could you please take a look at the discussion thread in https://github.com/strongloop/loopback-next/issues/1867? especially [this comment](https://github.com/strongloop/loopback-next/issues/1867#issuecomment-434247807) and [this comment](https://github.com/strongloop/loopback-next/issues/1867#issuecomment-456206

[2019-10-25 10:04] evantrimboli opened #4001 "isTypeResolver issue with pre-compiled models."
## Steps to reproduce

Probably related to this TODO in the code:

[code]

As part of our build process, we generate the OpenAPI models (using lb4 openapi), build them and include them as a node package. During startup of the rest server `generateOpenAPISchema()` is called to generate JSON to work with the model definitions.

Inside `isTypeResolver`, it attempts to figure out if the function is a

[2019-10-25 11:54] jangeorgiev commented on #2146
Hey @dhmlau, thanks for asking.

I updated my project to last version and I tried to use custom error messages as described in [AJV Documentation](https://github.com/epoberezkin/ajv-errors#messages-for-properties-and-items), but it didn't worked.
Should I install some additional packages (i.e. "ajv-i18n") ?
Actually, could you or @AaronJan  please show me an example how to do it in your way ?

Tha

[2019-10-25 13:36] emonddr commented on #1996
@dhmlau , I think this task should occur separately and `after` adding authorization to shopping example.

[2019-10-25 15:11] CNSKnight opened #4002 "app.migrateSchema is not a function"
## Steps to reproduce

- mount lb3 src artifacts in fresh lb4 app / get it working
- lb-tcs (w/defaults)
- node ./dist/migrate

## Current Behavior

emits
[code]

## Expected Behavior
app.migrateSchema is added to app and produces no error?

linux x64 12.13.0
├── @loopback/boot@1.5.10
├── @loopback/booter-lb3app@1.3.4
├── @loopback/context@1.23.4
├── @loopback/core@1.10.6
├── @loopback/openapi-v3@

[2019-10-25 15:53] CollinHerber commented on #3197
@raymondfeng I am running into this problem now.
[code]

I've manually deleted the tsbuildinfo file, and ensured all my packages are up to date.

[code]

For me it almost looks like it's not going to the /dist folder for the program. Where is this specified?

Here is my pacakge.json
[code]

Note: I have * where all my project names, this is not a mistake.

[2019-10-25 15:56] raymondfeng commented on #3197
@CollinHerber Check you if you have `api-v2/index.js`?

[2019-10-25 15:56] CollinHerber commented on #3197
@raymondfeng I do and this is what is in it: `export * from './src';`

[2019-10-25 15:57] raymondfeng commented on #3197
index.js or index.ts?

[2019-10-25 15:57] CollinHerber commented on #3197
Ohh sorry. It is `index.ts`, there is no `index.js`

[2019-10-25 16:00] raymondfeng commented on #3197
You should have `index.js` as follows:
[code]

[2019-10-25 16:02] CollinHerber commented on #3197
@raymondfeng Yes, thank you. Good catch. Im confused why my source control didn't bring it in. Anyways, thank you for the assistance!

[2019-10-25 17:38] gopalakrishnan-subramani opened #4005 "PostgreSQL, Array Type queries"
We need a feature/option in LoopBack for Where clause, to include raw condition statements for select statements.

We are dealing with array type, we have verified that Loop Models CRUD works with Array type, however fails for the Select with where statement where we need to filter the array by using @< or @> statements. I have checked the source code in loopback-postgresql connector, loopback-con

[2019-10-25 19:16] jannyHou commented on #3695
Thanks @deepakrkris for taking care of this story, had a chat about the improvements based on the PoC PR, here is a summary:

[code]

[2019-10-25 21:08] #4002 closed

[2019-10-25 21:10] CNSKnight commented on #4002
@nore Ensure one's servers/server.js is not mangling app composition.

[2019-10-25 22:16] dhmlau commented on #3970
Thanks! :)
I'll close this issue then.

[2019-10-25 22:16] #3970 closed

[2019-10-26 10:15] ewrayjohnson commented on #4005
I had a similar problem with the ts_vector datatype.  I tried to enhance the connector but was only able to create a partial solution because of the way the connector framework delegates to the connector.  I’ve read that custom datatypes are the solution, but I am skeptical because there doesn’t also appear to be support for custom operators/predicates.

[2019-10-26 10:20] ewrayjohnson commented on #4005
See this:  https://github.com/strongloop/loopback-connector-postgresql/issues/4#issuecomment-42847309

[2019-10-26 15:54] gopalakrishnan-subramani commented on #4005
Thank you @ewrayjohnson , we need to see how to implement the same. We tried adding a operator called 'contains', but found that when it reach postgresql connectors' _buildWhere function, the operands converted to '[Object object]' string instead of the actual Object type as it is.

[2019-10-27 12:57] dtucker61 commented on #3868
I may be having the same issue; if not, its related.

I am using an OpenAPI (3.0.2) specification to generate controllers (‘lb4 openapi <my_spec_file>’).

I *think* that the ‘{requestBody : {}}’  and ‘{responses: {}’} json from my spec file should come across in the decorators of the controller’s endpoint method (@operation(.. , .., <response_spec>), @requestBody(<reqest_body_json>)).

What I see

[2019-10-27 13:29] AaronJan commented on #2146
@jangeorgiev 😄 No problem!

You have to install `ajv-i18n` first, then put this code in your `Application`:

[code]

[2019-10-27 13:53] dtucker61 opened #4011 "Controller generated from OpenAPI spec does not support 'multipart/xxx'"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-10-27 14:07] dtucker61 commented on #4011
I generate an app using 'lb4 app'.  I then add controllers from a previously create OpenAPI spec.
A particular endpoint is used to upload a set of files ( per OpenAPI recommendations):
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "type": "array",

[2019-10-28 12:49] Sharonee commented on #110
Hi @bajtos I would like  to participate
thanks

[2019-10-28 13:05] iury123 opened #4015 "/users?filter={"where": {"name": {"like": "%ad%"} }} does not work because of %ad% is a unknown character, if I provider anything else such as %Jo% works. Only %ad% is not working. Can anybody help me to figure out the solution for it?"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-10-28 13:06] iury123 commented on #4015
/users?filter={"where": {"name":   {"like": "%ad%"}  }} does not work because %ad% is an unknown character when the url is decoded. If I provide anything else such as %Jo%, it works. Only %ad% is not working. Can anybody help me to figure out the solution for it? I am working on loopback 4.

[2019-10-28 14:14] jangeorgiev commented on #2146
Great! The example works perfect!

Still I have no idea how to integrate `ajv-errors`, but it's not big deal for me, I'll just write work-around thanks to `ajvErrorTransformer`.

Thanks for hard work guys !

[2019-10-28 14:14] #2146 closed

[2019-10-28 14:20] jannyHou commented on #4015
reproduced the error, looking. words that begin with the first few letters(abcdef) are failing too.

[2019-10-28 15:31] frbuceta opened #4017 "GeoPoint type not work with getModelSchemaRef"
## Steps to reproduce

Generating a model, a repository and a controller already finds the error when compiling

## Current Behavior

Loopback crash

-------------------

Commenting on the piece of openAPI code works correctly

![Captura de pantalla 2019-10-28 a las 16 25 54](https://user-images.githubusercontent.com/13822438/67692399-6240ac80-f9a0-11e9-9b65-73f6fadd9008.png)
![Captura de pantalla

[2019-10-28 19:02] iury123 commented on #4015
@jannyHou Try users?filter={"where": {"name":   {"like": "%25admin%25"}  }}. It has worked here.

[2019-10-28 19:07] dhmlau commented on #1455
Things have changed quite a bit since the creation of this issue.  Now that LoopBack has been added as one of the application stacks in [Appsody](https://appsody.dev/), this task may not be relevant. Closing this issue.

[2019-10-28 19:07] #1455 closed

[2019-10-28 19:44] jannyHou commented on #4015
@iury123 👍

Looks like [`JSON.parse()`](https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/parse-json.ts#L41) cannot parse encoded query string, like `"%7B%22where%22:%20%7B%22name%22:%20%7B%22like%22:%20%22%ad%25%22%7D%20%7D%7D"`. Tried other parsers like ['query-string'](https://github.com/sindresorhus/query-string) and
[querystring](https://nodejs.org/api/querystring.html

[2019-10-29 05:46] sureshkodur commented on #3975
Hi, @dhmlau , I want to create a log file in loopback4 . Can anyone help me. Thanks in advance

[2019-10-29 08:58] #1799 closed

[2019-10-29 09:58] #1800 closed

[2019-10-29 10:27] hacksparrow commented on #4015
Whatever is parsing `%admin%` is interpreting the first three characters as the unprintable character represented by `AD` in hexadecimal (let's use `▪︎` to represent it), so the string becomes `▪︎min%` from `%admin%`.

I don't think we should change the parser. Interpreting encoding and intend is a very complex task, we never know what new problems a new parser might introduce. Let's keep the curr

[2019-10-30 03:51] eyasalmamoun commented on #3454
Plus one

[2019-10-30 10:46] sayavo commented on #2405
Hi @agnes512,

thanks for the reply I manage to find a solution.

[2019-10-30 10:46] #2405 closed

[2019-10-31 07:32] bajtos commented on #1996
This task is about improving the way how local user credentials are stored. As long as our Example shopping application is storing user password in its database (as opposed to using a 3rd party service to authenticate users, e.g. Google or any other OAuth2 provider), this task is ready to be worked on. @emonddr why do you think this task needs to wait until authorization is added? @dhmlau I don't

[2019-10-31 08:40] taolangao opened #4291 "How to make roles in loopback 4"
Your docs not detail. help me please!

[2019-10-31 12:37] #3749 closed

[2019-10-31 15:30] emonddr opened #4029 "Monthly Milestone - November 2019"
# November Milestone

## Goals

_Inclusion of related models MVP [#1352]_
- [x] Run repository tests for Cloudant #3437
- [x] Verify relation type in `resolve{Relation}Metadata` #3440
- [ ] 🏃Reject create/update requests when data contains navigational properties #3439

_Migration guide between LB3 and LB4 MVP [#453 ]_ 

- [ ]  🏃How to migrate (app-level) Express middleware from LB3 to LB4 #3947
-

[2019-10-31 20:22] joschne commented on #3954
I would like to bring an idea into the field: [OpenApiTools/openapi-generator](https://github.com/OpenAPITools/openapi-generator) might help with this.

Because I need a substitute for loopback-sdk-builder [I gave it a try](https://github.com/mean-expert-official/loopback-sdk-builder/issues/628#issuecomment-548486409).

In this approach the OpenApiSpecs (explorer/openapi.json) generated by LoopBac

[2019-11-01 03:57] raymondfeng commented on #3296
I'm able to reproduce the problem now. Will take a look tomorrow.

[2019-11-01 04:13] rahulrkr08 opened #4032 "Import OpenAPI Spec"
Is there any possible way to import/creation of models, repositories, controllers from OpenAPI Spec?

[2019-11-01 04:16] raymondfeng commented on #4032
Use `lb4 openapi` command. See https://loopback.io/doc/en/lb4/OpenAPI-generator.html

[2019-11-01 08:37] bajtos commented on #4017
Closing as a duplicate of https://github.com/strongloop/loopback-next/issues/1981

[2019-11-01 08:37] #4017 closed

[2019-11-01 08:37] bajtos commented on #4017
Duplicate or #1981

[2019-11-01 08:41] bajtos commented on #4011
@raymondfeng could you PTAL?

[2019-11-01 08:54] bajtos commented on #4001
Here is the implementation of `isTypeResolver` with the TODO comment:

https://github.com/strongloop/loopback-next/blob/202b2c76b77122654ed81e60afcd2e2a2985de91/packages/repository/src/type-resolver.ts#L36-L52

Here is the thread where we discussed the problem of detecting ES5-style classes, it includes some ideas how to improve the detection too:

https://github.com/strongloop/loopback-next/pull/

[2019-11-01 08:55] bajtos commented on #3942
It's a known bug of our API Explorer that filter fields like `include` are not supported - see https://github.com/strongloop/loopback-next/issues/2208.

[2019-11-01 09:02] bajtos commented on #3978
@kevintc thank you for starting this discussion.

First of all, why would you like to access LB4 application from your LB3 tests? In my mind, this creates a cyclic dependency (LB4 app depends on LB3 app, but your LB3 tests want to depend on LB4 app).

Having said that, I think we didn't consider how to run LB3 app tests when the app is mounted in a LB4 project, so I am not surprised there are roug

[2019-11-01 09:10] bajtos commented on #844
A module we could use for interactive prompts: https://github.com/terkelg/prompts

I especially like `autocomplete` prompts, I think it will give much better UX for large projects.

[2019-11-01 09:13] bajtos commented on #3938
@AsjadMahmood please create a small application we can download from github, run `npm install` and then `npm start` or `npm test` to reproduce the problem. We don't have bandwidth to create such application ourselves.

[2019-11-01 09:17] bajtos commented on #3944
How is the foreign key defined? It must be configured as follows:

[code]

Without that change, MongoDB is not able to match  an ObjectID value from the primary key against a a string value from the foreign key.

[2019-11-01 09:20] bajtos commented on #3700
I am afraid we don't have bandwidth to address this ourselves, we are looking to our community to step up and contribute a fix as outlined in https://github.com/strongloop/loopback-next/issues/3700#issuecomment-538857137.

See our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.h

[2019-11-01 09:33] bajtos commented on #3965
+1 to make the path to the malformed JSON file more visible.

Would you @ibmjm like to contribute such improvement yourself?

See our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get started.

[2019-11-01 09:35] bajtos commented on #2130
@HMarzban is the issue fixed now that #3897 has been landed? If not then please open a new GitHub issue.

[2019-11-01 10:35] hacksparrow commented on #3733
Closed via https://github.com/strongloop/loopback-next/pull/3867

[2019-11-01 10:35] #3733 closed

[2019-11-01 11:28] achrinza opened #4035 "[docs] (@loopback/authentication-passport) Ambiguous experimental warning"
## Steps to reproduce

1. Go to [@loopback/authentication-passport](https://www.npmjs.com/package/@loopback/authentication-passport) README
2. Look at experimental notice

![image](https://user-images.githubusercontent.com/25147899/68002866-eeefb100-fca5-11e9-97b5-f0bb614e517f.png)

## Current Behavior

The latest version of the package is no longer 0.x.y. Hence, there's ambiguity on whether or no

[2019-11-01 11:34] achrinza commented on #4035
Sorry it should be tagged as `docs`, not bug.

[2019-11-01 12:47] dhmlau commented on #3800
Repo: https://github.com/strongloop/cascon2019

Closing this task as done.

[2019-11-01 12:47] #3800 closed

[2019-11-01 12:47] dhmlau commented on #3803
Closing as done.

[2019-11-01 12:47] #3803 closed

[2019-11-01 12:49] ibmjm commented on #3965
I am actually not 100% sure what the best approach would be.  My naive suggestion looks like this:

[code]

If something that simple seems feasible to you, I can try to build a pull request next week when my time frees up.

[2019-11-01 12:52] dhmlau commented on #3802
Closing as done.
@agnes512, could you please commit the slides to the repo? thanks! https://github.com/strongloop/cascon2019

[2019-11-01 12:52] #3802 closed

[2019-11-01 12:53] bajtos commented on #3886
I am experimenting with a slightly different configuration in loopback-next, see https://github.com/strongloop/loopback-next/pull/4030

[2019-11-01 15:13] jannyHou commented on #2362
The patch method(and other default CRUD methods) already has arguments defined, so in your case, you can inject the current user in [controller's constructor](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user.controller.ts#L36-L45)

[2019-11-01 15:46] #3296 closed

[2019-11-01 15:57] raymondfeng commented on #3296
Please try loopback-connector-oracle@4.5.0

[2019-11-01 16:30] Tavisco commented on #3296
Using `loopback-connector-oracle@4.5.0` I was able to run `lb4 discover` successfully, thanks for the fix.

[2019-11-01 17:12] dhmlau commented on #3801
Closing as Oct has passed.
@emonddr , could you please make sure we have the outstanding tasks in this milestone moved to Nov? Thanks!

[2019-11-01 17:12] #3801 closed

[2019-11-01 17:26] rahulrkr08 commented on #4032
Thanks @raymondfeng. Is there any support for the array type parameter in controllers.
e.g. `@param.query.array('someparam') someparam: string[]`

[2019-11-01 17:28] dhmlau commented on #4035
@jannyHou , assigning this to you as you're working on PR #4036.

[2019-11-01 18:11] shreking-around opened #4042 "Model strict: false is ignored with Postgre SQL repository"
Hello,

I have a problem with class inheritance and repository using Postgre SQL.

Let's say we have Animal parent class and then Dog and Chicken child classes. I store them in one table (Table Per Hierarchy Inheritance) called animal.

In LB4 App I have Animal base model (entityType is a discriminator):

[code]
and child class dog

[code]
When I query a dog from the repository barkingLevel is omm

[2019-11-01 18:35] #4035 closed

[2019-11-01 18:35] jannyHou commented on #4035
Fixed in https://github.com/strongloop/loopback-next/pull/4036 :)

[2019-11-02 01:27] dhmlau commented on #3898
Closing it as done. Thanks @emonddr @jannyHou @agnes512!

[2019-11-02 01:27] #3898 closed

[2019-11-02 12:31] pankajcheema commented on #3358
@raymondfeng your suggestion working fine

[2019-11-02 14:42] stoffason opened #4043 "LoopBack emits invalid OpenAPI spec document - `examples` field is not allowed in OpenAPI"
## Steps to reproduce

After updating `@loopback/openapi-v3` to `1.10.0`, the schema produced does not create valid code with openapi-generator  --typescript-angular

## Current Behavior

The lb4 schema now adds an additional property "additionalProperties: true", which gives invalid generated code with openapi-generator

Additional new properties generated "examples : [Array]"  and "examples: 'st

[2019-11-03 09:49] yashmurty commented on #110
Hi @bajtos, I have contributed to the docs here before and would like to contribute more here on multiple fronts. :pray:
Thank you. :)

[2019-11-04 05:06] imranalisolanki opened #4044 "How to integrate socket in loopback 4 server API"
i want implement socket in my  loopback4 server  API. i have integrate socket in my API but it;s routing is not working.

[code]
it's my code but socket is not connected. i have seen this example.

https://github.com/raymondfeng/loopback4-example-websocket/
but it's work only socket server not working with API server. please suggest me how i can implement.

[2019-11-04 08:49] hacksparrow commented on #4044
Hi @imranalisolanki can you share a minimal version of your app reproducing the issue, so I can troubleshoot? Sharing a code snippet is not enough, since other factors responsible for the failure may be left out of the context.

[2019-11-04 09:09] imranalisolanki commented on #4044
@hacksparrow  i have create a simple loopback4 server with some routing and i have gone through https://github.com/raymondfeng/loopback4-example-websocket/ this example and when i have configure it in my server then existing routing is not working.
**Application.ts**
import { BootMixin } from '@loopback/boot';
import { ApplicationConfig, BindingKey } from '@loopback/core';
import { RestExplorerBin

[2019-11-04 12:19] hacksparrow commented on #4042
@shreking-around please share a minimal app reproducing the problem, so we can take a look at it.

[2019-11-04 13:08] hacksparrow commented on #4044
@imranalisolanki the code you pasted refers to many files not found in the original https://github.com/raymondfeng/loopback4-example-websocket/. Also it has basic run-time errors like `console.log(Server is running at ${url});`.

I will be able to help you if you can provide a minimal app reproducing the error. Code snippets are not enough.

[2019-11-04 18:14] jannyHou commented on #2003
@apocaliss92 I think it's the same issue as https://github.com/strongloop/loopback-next/issues/3770, we will support complex object filter in the explorer.

I am closing this issue as a duplicate and let's use #3770 to track the progress. Feel free to reopen it if you have other questions.

[2019-11-04 18:14] #2003 closed

[2019-11-04 18:34] pSnehanshu commented on #2611
It doesn't work for me.

[2019-11-04 18:36] pSnehanshu commented on #2751
I am having the same issue.
Running `npm install` gives this:

<pre>&gt; office-rent-backend@1.0.0 prepare /home/snehanshu/Desktop/office-rent-backend
&gt; npm run build

&gt; office-rent-backend@1.0.0 build /home/snehanshu/Desktop/office-rent-backend
&gt; tsc

<font color="#34E2E2">src/__tests__/acceptance/home-page.acceptance.ts</font>:<font color="#FCE94F">5</font>:<font color="#FCE94F">1</font

[2019-11-04 18:42] pSnehanshu commented on #2751
Installing `@types/jest` and `@types/mocha` solved the issue, wondering why they aren't installed by default.

[2019-11-04 18:42] pSnehanshu commented on #2611
Solution: https://github.com/strongloop/loopback-next/issues/2751#issuecomment-549491143

[2019-11-04 19:10] raymondfeng commented on #2611
Did you check https://github.com/strongloop/loopback-next/issues/2611#issuecomment-474778975?

@pSnehanshu What are the exact steps to reproduce the issue? `lb4 app trait-d-union-backend --yes` works for me on Mac.

[2019-11-04 19:32] pSnehanshu commented on #2611
@raymondfeng Yes, I checked that comment, not applicable in my case.
I tried `lb4 app`, then filled up the form, and then this error occurs. I then deleted the `node_modules` folder inside the project directory and then run `npm install`, the error occurred again.
Then I did this https://github.com/strongloop/loopback-next/issues/2751#issuecomment-549491143, and it worked!

[2019-11-05 05:25] marioestradarosa commented on #3975
@prth-123 , @sureshkodur I don't understand why the log-extension is not helpful either, but you can use an external package if you want, such as `winston`. Here are the details:

**Step 1 **
`npm install winston --save` and `npm install winston-daily-rotate-file`

Optional you can use moment for timeStamps, but also new Date() can work
`npm install moment --save`

**Step 2**
I personally create a

[2019-11-05 05:35] marioestradarosa commented on #3961
@bajtos , can't the generator just generate the appropriate constructor and import the JSON file automatically ?  Currently it is supported right? (to import the json file directly)

[2019-11-05 06:03] prth-123 commented on #3975
@marioestradarosa Thanks for your assistance.
I will implement this with my existing project, hope it will full fill my requirement.
Thanks

[2019-11-05 06:07] prth-123 commented on #3975
@marioestradarosa i have tried to understand and implement log extension code, but i was not successful in this.
So if you can explain me further then it will helpful for me.
Thanks
And I will try to use winston module for this, hope i will work as per my expectations.

[2019-11-05 08:24] bajtos commented on #3947
Such setup is documented here: https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html

In the migration guide, we need to describe how to apply the steps outlines in "Creating an Express Application with LoopBack REST API" to an application created by following the steps in [Mounting a LoopBack 3 application](https://loopback.io/doc/en/lb4/migration-mounting-lb3app.html).

Note that in

[2019-11-05 12:25] bajtos commented on #4042
I don't think that we support Table Per Hierarchy Inheritance in LoopBack.

Your `AnimalRepository` is configured with `Animal` model, therefore it is not aware of `barkingLevel` property. Under the hood, the repository creates a LB3-like `Animal` model, containing only `Animal` properties. The PostgreSQL connector is using that LB3-like model when deciding how to map between model properties and

[2019-11-05 12:44] bajtos commented on #4043
Thank you @stoffason for reporting the issue. I understand how annoying it is that a change in LB4 broke generation of your client-side code.

Quoting from https://github.com/OAI/OpenAPI-Specification/blob/3.0.1/versions/3.0.1.md#properties:

- _additionalProperties - Value can be boolean or object. Inline or referenced schema MUST be of a Schema Object and not a standard JSON Schema_

In LB4, we

[2019-11-05 13:09] bajtos commented on #3965
@ibmjm your solution is reasonable, but let's preserve the error stack please.

[code]

[2019-11-05 13:24] #1841 closed

[2019-11-05 13:38] shreking-around commented on #4042
Thank you for clarifying the issue. Do I understand it correctly that strict: true mode is "hardcoded" in the connector or is it possible to change it via datasource configuration?

[2019-11-05 17:40] deepakrkris commented on #3695
3 out of 4 in acceptance criteria is completed. only documenting authorization in README.md is pending.

[2019-11-05 17:43] deepakrkris commented on #3695
PR https://github.com/strongloop/loopback4-example-shopping/pull/231

[2019-11-05 20:06] derdeka commented on #4043
@bajtos The intension of copying `examples` was to keep the original behavior - before PR #3911 `examples` was copied by this lines:
https://github.com/strongloop/loopback-next/blob/9bd5cf0035d36cab5fb2962dd4e53cb3ac0bdf6a/packages/openapi-v3/src/json-to-schema.ts#L128-L130

[2019-11-05 20:58] kchraniuk commented on #4044
I have the same problem as @imranalisolanki. I would also like to know how to use/implement the websocket from this example https://github.com/raymondfeng/loopback4-example-websocket/ in this example https://github.com/strongloop/loopback4-example-shopping .

[2019-11-06 10:58] achrinza commented on #3994
Is there any plan to do first-class support on custom HTTP response (not just error-handling)?

[I've followed the solution on StackOverflow](https://stackoverflow.com/questions/54655257/how-to-set-a-different-http-status-in-loopback-4). However, this meant that the repository now expects an `@loopback/rest.Response`, on which how to mock is not documented.

Otherwise, is there a way to create con

[2019-11-06 11:15] achrinza opened #4052 "docs(Testing your application): invalid import paths & broken test datasource example"
There are 2 issues, but they are within the same docs page.

## Steps to reproduce

### Issue 1

1. Check [Testing your application](https://loopback.io/doc/en/lb4/Testing-your-application.html).
2. Look at any `model`, `repository` or `controller` import:
![image](https://user-images.githubusercontent.com/25147899/68293095-36bc7100-00c8-11ea-9353-082e8c717521.png)

### Issue 2

1. Check [Testing

[2019-11-06 16:14] raymondfeng commented on #4052
@achrinza Thank you for reporting. The issue has been fixed recently at https://github.com/strongloop/loopback-next/blob/master/docs/site/Testing-your-application.md. Once we publish a new release, the web site will be refreshed.

[2019-11-06 16:14] #4052 closed

[2019-11-06 16:16] MarkOfSine opened #4053 "Releasing breaking changes"
Issues with:
**server.rest.ts** in @loopback/rest

Two questions:
1.
This bug was caused by checking in **AND** releasing a simple **compilation!** breaking change.
At this stage in the maturity of loopback 4 ecosystem this should just fundimentally not be possible!
How did it happen?
What has been done to mitigate this issue?

2.
How can we as downstream developers and users of the package rely o

[2019-11-06 16:20] raymondfeng commented on #3994
See an example at https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/__tests__/unit/writer.unit.ts. `stubExpressContext` is the helper.

[2019-11-06 16:35] raymondfeng commented on #4053
@MarkOfSine What's the breaking for you? https://github.com/strongloop/loopback-next/commit/05b4beede234c8d9f9b6a5a9c95f458d6d0fec8a is only for docs.

Did you upgrade to TypeScript 3.7.2? If so, you have to wait for a new release from LB4. Please note we intentionally set `typescript` dependencies with `~3.6.4` as TypeScript releases do not follow SEMVER semantics.

We're trying our best to follo

[2019-11-06 16:52] #4043 closed

[2019-11-06 18:19] deepakrkris commented on #1996
IMO, removing password field will not be useful in anyway. We need to add some metadata specific to fields with privacy protection.

1. Provide field level security options by adding `decrypt() / encrypt()` functions in model class, and call these functions as needed
2. Provide field level privacy options by providing ` filter() / watermark() ` functions in model class and call these functions as

[2019-11-06 19:13] ibmjm commented on #512
I'd also like a simple solution to modelling a database table which doesn't have a typical primary key (e.g. a column named *id*).  I often have to build applications that read data from an IW that was designed more for management reports, where the tables use "real data" columns for their primary key.  A simple example could be an order view/table where the order number is the primary key, or a p

[2019-11-06 21:30] #3965 closed

[2019-11-06 23:39] upscreen commented on #3454
let me know if we can contribute

[2019-11-06 23:56] achrinza commented on #4052
@raymondfeng I’ve checked the docs you’ve linked, Issue 1 has been resolved, but the docs for creating the test data source is the same. Unless if I’m mistaken, this still results in Issue 2 occurring.

[2019-11-07 00:50] deepakrkris commented on #3695
PR for updating Readme.md for authorization : https://github.com/strongloop/loopback4-example-shopping/pull/369

[2019-11-07 00:51] marioestradarosa commented on #3454
@upscreen , it would be nice to have your contribution.

See our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get started.

[2019-11-07 04:43] nqcuongqt commented on #3358
Delete file tsconfig.tsbuildinfo and dist folder and try to run command npm run build again.

[2019-11-07 04:45] pankajcheema commented on #3358
`npm run clean && npm run build`  is the best one .

[2019-11-07 07:24] pratikjaiswal15 commented on #1352
https://stackoverflow.com/q/58742689/7628381
Can anyone please tell how to add inclusion resolvers

[2019-11-07 09:23] bajtos commented on #1996
@deepakrkris

I agree that it would be great to support encrypted & hidden property directly by the framework. However, that's out of scope of this story.

We are discussing encrypted properties here: https://github.com/strongloop/loopback-next/issues/2095

I am not convinced it's a good idea to support hidden (private) properties because of the complexity it involves.

Now the scope of this issue

[2019-11-07 09:35] pankajcheema commented on #3358
Hi ,

I am facing the issue again and this time `npm run clean && npm run build` concept not helping me

[2019-11-07 09:47] pankajcheema commented on #3358
you also need to remove tsbuildinfo also sometimes .

[2019-11-07 14:04] agnes512 commented on #1352
@pratikjaiswal15 Hi, I believe that the code you showed in the SO has already setup the inclusion resolver for the relation `retailers` ( I assume the rest of code are correct).
You should be able to use it _at the repository level_ . For example, if you want to find a `Retailer` that has `id=1`, you can do
[code]
If you'd like to do CRUD operations at the repository level, here are some examples

[2019-11-07 16:10] totolef opened #4059 "Docs: boost MongoDB README and tutorial files"
## Steps to reproduce

I just follow the steps described in the following article : [Inclusion of related models](https://strongloop.com/strongblog/inclusion-of-related-models/) .
The only changed I made was to use mongodb instead of mySQL, and when I do

I don't get the same result as in the article.

## Current Behavior

I currently get :
`[
  {
    id: 1,
    name: 'Thor',
  },
  {
    id: 2,

[2019-11-07 16:47] pratikjaiswal15 commented on #1352
Thank you for the response. I have just updated loopback-cli version from 1.21.4 to 1.24.0. So for new project inclusion resolver is working fine but for the old project which built with 1.21.4 version is giving error following  line

`  this.registerInclusionResolver('retailers', this.retailers.inclusionResolver);
`
and also for every command with such as lb4 model etc it is givivng error as foll

[2019-11-08 00:08] frbuceta opened #4062 "Implement lint-staged"
## Suggestion

Today I come to propose adding an option to the CLI to use lint-staged and generate the corresponding code (also would have to adapt `@loopback/build` because I think it does not work correctly).

For those who do not know what [`lint-staged`](https://github.com/okonet/lint-staged) is (as its description says):

## Use Cases

This is responsible for helping to upload a good code to

[2019-11-08 01:55] dhmlau commented on #1054
see https://github.com/strongloop/loopback4-example-shopping/tree/master/kubernetes

[2019-11-08 07:38] tipsypastels commented on #3453
Would really like to see this added.

[2019-11-08 09:19] #1310 closed

[2019-11-08 10:44] MarkOfSine commented on #4053
@raymondfeng Not sure why commit reference did not come through correctly. This is the one I meant:
[https://github.com/strongloop/loopback-next/commit/ab47ef63adc01b170ddc537ca973da631c5a8d8f](https://github.com/strongloop/loopback-next/commit/ab47ef63adc01b170ddc537ca973da631c5a8d8f)

I see we did upgrade to typescript 3.7.2. Will revert to ~3.6.4

So then the question becomes where should we re

[2019-11-08 13:24] ericalves commented on #3453
Is too hard use lb4 without nested include relations.. mostly if you came from lb3..

[2019-11-08 13:45] ericalves commented on #3453
Do you can show to us what you did to get around this problem?

[2019-11-08 17:35] #3440 closed

[2019-11-08 17:55] vikramkh commented on #2208
In the url I passed in ?where={"id":"1"} and it worked in the controller if I put this.userRepository.find({where}). However, if I put ?where={"is":"1"}  (an invalid where), then it returns all the users and ignores the where clause. Is this expected behaviour/a limitation?

[2019-11-08 18:04] raymondfeng commented on #4053
For any release of `@loopback/cli`, you can run `lb4 -v` to display a list of module versions that are released together. Such collection of versions are guaranteed to be compatible.

[2019-11-08 18:05] raymondfeng commented on #4053
See https://loopback.io/doc/en/lb4/Command-line-interface.html#upgrading-loopback-dependencies

[2019-11-08 18:07] vikramkh opened #4075 "Loopback-Next Facebook Community To Help Each Other"
Hey guys. I opened up a facebook group for loopback-next users to get help from each other; providing less saturation on SO and this issue group.  Feel free to join/ask questions/help each other out. If this is not ok please let me know! Join here:

https://www.facebook.com/groups/1679283695536187/?hc_ref=ARSAJK8uq0eUPIJOq871iRgs5MpsSEzhrC4YdWFWBu573DvSmpQaZii0aHJJDPTJaVk

[2019-11-08 18:35] agnes512 commented on #1352
@pratikjaiswal15 the error is because he older project is generated by 1.21.4 and so is the app dependencies.

If you want to use the latest cli, you need to upgrade dependencies to match the newer CLI ( you can force it or upgrade deps to versions matching cli 1.24.0. Command `lb4 -v` shows a list of compatible versions).
Ref: [Upgrading LoopBack Dependencies](https://loopback.io/doc/en/lb4/Comma

[2019-11-08 21:31] dhmlau commented on #4075
Thanks @vikramkh!  We have created a Slack workspace earlier hoping to achieve a similar purpose.  However, it has only been lightly use and we were [discussing](https://github.com/strongloop/loopback-next/pull/4030#issuecomment-549057758) whether it's a good time to open it up for people to join. The downside for our Slack workspace is that since it's free, it only keeps the most recent 10,000 me

[2019-11-08 21:36] dhmlau commented on #4059
@agnes512, could you please take a look? Thanks.

[2019-11-08 22:59] vikramkh commented on #4075
No problem! I didn't know about the slack channel and no one has yet joined the facebook group :(. I'd gladly hand over the group moderation to an admin here, and maybe some promotion will encourage people to join, as I have personally found facebook groups to be very helpful in answering questions!

[2019-11-09 05:13] evantrimboli opened #4085 "OpenAPI 'date' is always 'date-time'"
## Steps to reproduce

Generate models using openapi where the format is 'date'. Try and pass a date value '2019-01-01' to the server.

## Current Behavior

The server returns 422 unprocessable entity because the date doesn't match the 'date-time' format.

## Expected Behavior

It should parse the date only format.

## Additional information

This is caused by the line here:

https://github.com/st

[2019-11-09 06:07] raymondfeng commented on #4053
I just created a PR that adds `lb4 version` to make version check and upgrade a bit eaisier.

[2019-11-09 06:07] #4053 closed

[2019-11-09 06:11] raymondfeng commented on #4032
See https://loopback.io/doc/en/lb4/apidocs.openapi-v3.param.array.html

[2019-11-09 06:11] #4032 closed

[2019-11-09 06:13] raymondfeng commented on #3974
See https://loopback.io/doc/en/lb4/Command-line-interface.html#upgrading-loopback-dependencies
and #4080

[2019-11-09 06:13] #3974 closed

[2019-11-09 06:13] #3964 closed

[2019-11-09 06:14] #3972 closed

[2019-11-09 06:52] marioestradarosa commented on #4085
Hi @evantrimboli , this is not a bug. The Type Script `Date` in Loopback can hold `date`and `date-time` values. However, for your use case you can easily specify your final format  in the model class like so:

[code]

With the above `jsonSchema` property we are hinting the schema validator.
I hope this helps.

[2019-11-09 06:55] evantrimboli commented on #4085
Is there a reason that isn't generated by default? Currently when I generate the models they only get decorated with:

`@property()`.

[2019-11-09 06:57] marioestradarosa commented on #4085
Sorry, what is the command you are using ?.  Are you generating from an openAPI spec file to the lb4 classes ? or you are using the `lb4 model` generator ?

[2019-11-09 06:58] evantrimboli commented on #4085
From the openAPI spec:

`lb4 openapi --force --yes --url file,yaml`

[2019-11-09 07:08] marioestradarosa commented on #4085
I believe it should ask for the final datatype (time, date, date-time) when we generate the model class from `lb4 model` also. A feature request possible that you can open ?

In case you can share your openApi file that would be great.

[2019-11-09 07:28] marioestradarosa commented on #4085
ok, I just tried with the `pets.yml` sample and indeed it is generating the properties, except that you will have to specify manually the final `date | datetime | time` . That's the current state of the generator, perhaps we need to add this feature.

[code]

[2019-11-09 07:40] marioestradarosa commented on #4075
Indeed, FB groups are good, but it should be administered by Loopback. Perhaps moderators from the community, similar to Node JS Official FB groups.

[2019-11-09 16:42] fidgi opened #4089 "log extension within the loopback/extensions"
## Suggestion

It would be great to have a log extension (something similar to the [log-extension example](https://github.com/strongloop/loopback-next/tree/master/examples/log-extension) within the supported loopback extensions

## Use Cases

Just to be able manage log level indevelopment and production mode

## Examples

see  [log-extension example](https://github.com/strongloop/loopback-next/tre

[2019-11-09 16:44] thangns204 opened #4090 "TypeError: Cannot read property 'prototype' of undefined when use @repository"
I have two repository A, B.
In constructor repository A: @repository(B) public b: B
In constructor repository B:  @repository(A) public a: A.
I have error , when remove @repository(A) public a: A in constructor repository B. it work ok.
Can anyone explain it !

[2019-11-09 17:39] raymondfeng commented on #4090
Why do you want to inject an instance of A into A constructor? Please show the complete code and use case. It seems that you have circular dependencies here.

[2019-11-09 18:29] thangns204 commented on #4090
@raymondfeng
this is my post.repository.ts:

    typeof Post.prototype.id>  {
    constructor(
        @inject('datasources.campp_db') dataSource: CamppDbDataSource,

        @repository(TagsRepository)
        protected tagsRepository: TagsRepository,

        @repository(PostTagsRepository)
        protected postTagsRepository: PostTagsRepository,

        @repository(UserRepository)
        pro

[2019-11-09 19:36] thangns204 commented on #4090
i have create small project : https://github.com/thangns204/lb4Test.git with the same error

[2019-11-09 23:15] marioestradarosa commented on #4090
@thangns204 , it is hard to understand your use case. I cloned your sample, but it doesn't do anything at all for now correct?.  Just make the following changes and see if it works for you:

[code]
and

[code]

[2019-11-09 23:33] marioestradarosa commented on #4090
@thangns204 ,  I receive circular dependency error when used @inject . and When used the @repository decorator I receive the error you describe.

 Probably is because the IOC Container creates the post repository first and thus when it finds a reference it still does not exist.  Why don't you place your business logic in the controller ?.  In real scenarios like a payment updating an invoice and a

[2019-11-09 23:36] raymondfeng commented on #4090
@thangns204 Please note that TypeScript is transpiled to JavaScript - decorations become function calls against the class or its prototype right after the class is declared. In your case, there are circular dependencies that lead to decorator functions to be called before the class prototype is set up. I think two things should happen:

1. Use `@repository('repositories.PostRepository')` to avoid

[2019-11-10 00:18] thangns204 commented on #4090
@marioestradarosa
 Repositories are classes provide to to persist and query the data (such as CRUD).
In my project, i  put all function relate to db in repository class.
And my controller put only operations defined by application’s API.
Ex: api: /comment/addComment in CommentController:  i will call this.commentRepository.addComment
And in CommentRepository, i will create function addComment() ,

[2019-11-10 00:36] marioestradarosa commented on #4090
@thangns204 you are 100% correct in the repository purpose. For instance imagine a bank operation for a deposit:

**None are circular references**

 depositRepository -> AccountRepository
 depositRepository -> AuditRepository

**Or a payment :**
paymentRepository -> InvoiceRepository -> CustomerRepository
**or**
paymentRepository -> InvoiceRepository
paymentRepository -> CustomerRepository

My sug

[2019-11-10 00:43] thangns204 commented on #4090
@marioestradarosa
In my case:
PostRepository: i need commentRepository for calculate all comment in a post
CommentRepository: i need postRepository for check comment on a post exists

[2019-11-10 00:52] marioestradarosa commented on #4090
@thangns204 ,

what would a comment unique ?

👍

Also as a last resource, did you know you can make a custom query right? , using something like
[code]

[2019-11-10 00:53] marioestradarosa commented on #4090
Please close the issue if that could solve your problem !

[2019-11-10 00:53] thangns204 commented on #4090
@marioestradarosa ,

[2019-11-10 00:53] #4090 closed

[2019-11-10 02:32] marioestradarosa commented on #4089
@fidgi , you mean something like this ?

https://github.com/strongloop/loopback-next/issues/3975#issuecomment-549667967

[2019-11-10 02:39] marioestradarosa commented on #3952
@bajtos

How about decorators inside the repository to allow a particular method to become part of the event (before/after etc)

[code]

[2019-11-10 10:04] fidgi commented on #4089
@marioestradarosa What I'm looking for is a mixin to ease the integration of a logging framework such as winston and an option in loopback/cli to enable this mixin at app creation time .

[2019-11-10 16:46] marioestradarosa commented on #4089
@fidgi correct!, I just wanted to make sure that's final log functionality you were looking for. Indeed that could be a good feature "external extension/package"  to leverage the extensibility of `looback 4` framework.  I will try to write an external extension similar to the example I provided for winston.

[2019-11-11 04:51] raymondfeng commented on #4053
See https://github.com/strongloop/loopback-next/pull/4080

[2019-11-11 08:08] swd72 opened #4097 "delete model controller repository"
i want delete model controller repository created

[2019-11-11 08:18] yashmurty commented on #110
Hi @bajtos, waiting to hear from you! :slightly_smiling_face:

[2019-11-11 09:32] bajtos commented on #4075
Personally, I am strongly against Facebook because of moral reasons. Having said that, I am not going to enforce my opinions on others. If somebody likes to discuss LoopBack on Facebook, then I am fine with that, as long as I can stay away.

We already have a chat room on Gitter, see https://gitter.im/strongloop/loopback

Maybe we should publicize the Gitter room more? For example in our issue tem

[2019-11-11 13:34] marioestradarosa commented on #4075
👍

[2019-11-11 15:27] bajtos opened #4099 "Spike: How to migrate LB3 components"
_This is the first spike for #3955, see also #3718 and #3922._

Eventually, we want to write content for `docs/site/migration/extensions.md` and explain how can users migrate their custom LB3 components to LB4 extensions:

- How to rewrite components from LB3 component to a LB4 extension?
- How to migrate applications using such components/extensions?
- What's our advice for apps using official lo

[2019-11-11 19:00] dhmlau commented on #4075
I think we had some discussion in the past about Gitter room vs Slack.

Gitter room is better because:
- there are already 3000+ people in Gitter. It might be hard to build up that mass in Slack in a shorter term
- users are already helping each other out in there without the maintainers really monitoring.

Slack is better because:
- the LB core maintainers are using Slack on a daily basis. It has

[2019-11-11 20:30] vikramkh commented on #4075
I like gitter/slack but the problem I usually have with chat channels is the confusion if multiple people ask questions. I thought facebook posts would allow for more segregated issues, and would show up while you're 'taking a break' or browsing social media rather than watching a specific channel, thereby allowing for more views per issue. I understand other concerns though.

[2019-11-11 20:35] dhmlau commented on #4097
@swd72, I'm not sure if i understand your question.  Could you please elaborate some more and perhaps provide an example? Thanks.

[2019-11-11 23:27] jannyHou commented on #3694
cc @emonddr an outline of what we can include in the authorization documentation page:

Authorization decides if a subject can perform specific action on an object.

`@loopback/authorization` is built upon `@loopback/authentication` to verify whether a principal(user, device, or application) has access a request’s corresponding resource.

`@loopback/authentication` resolves the identity of princip

[2019-11-12 05:10] pratikjaiswal15 commented on #1352
Thank you for your reply. Inclusion resolver with has many relations is working pretty well. But with belongs to the relation there are some conservations. In my example, the retailer belongs to users.

``http://[::1]:3000/retailers?filter[include][][relation]=users&filter[where][retailer_id]=1 `
`This extension is working and including both tables users and retailers

``http://[::1]:3000/retailer

[2019-11-12 05:55] pratikjaiswal15 commented on #1352
And another question is how to include three or more models because
`http://[::1]:3000/products?filter[include][][relation]=purchases&filter[include][][relation]=stocks`
This extension is giving internal server error

[2019-11-12 12:38] AnanthGopal opened #4111 "Need to deleteall sample code"
Can you provide the deleteall  sample code?

[2019-11-12 16:17] bbl-dmcintosh opened #4113 "lb4 build issue - lb-tsc fails with ts5056 error"
**Issue description**

When cloning my project from github (private repo), the "npm start" command fails at the execution of the "lb-tsc" command.

These are the steps taken:

1. git clone repo
2. npm install
3. npm start

**Error thrown:**

TS5056: Cannot write file 'mylocaldirectory/dist8/src/datasources/intellitrust.datasource.d.ts' because it would be overwritten by multiple input files.

TS50

[2019-11-12 16:22] raymondfeng commented on #4113
Stick with TypeScript 3.6.x before we have a new release. See https://github.com/strongloop/loopback-next/pull/4060

[2019-11-12 16:22] #4113 closed

[2019-11-12 16:47] bbl-dmcintosh commented on #4113
Specifying a TypeScript version below 3.7.x solved the issue. Thanks a lot @raymondfeng !

[2019-11-12 17:03] pratikjaiswal15 commented on #1352
Sir, does loopback's current version supports inclusion of three models where a model has has many relation with other two? If not then what is alternative.

[2019-11-12 19:42] agnes512 commented on #1352
@pratikjaiswal15
For question 1, you need to replace the endpoint `@get('/todo-lists/{id}',` in your `Retailer` controller to:
[code]

As for question 2, yes it is possible to include multiple relations.
with controllers, for your example, use the url: ( the inclusion here is an array)
[code]
with repositories, you can do:
[code]

Notice that you need to make sure all relation names are **unique**

[2019-11-12 20:50] dhmlau opened #4115 "[Spike] API Connect / LoopBack 4 integration"
## Suggestion
APIConnect v2018 now has limited support in OpenAPIv3.  See [demo](https://developer.ibm.com/apiconnect/2019/10/30/manage-and-enforce-openapi-v3-oai-v3/ ) and  [limitations](https://www.ibm.com/support/knowledgecenter/en/SSMNED_2018/com.ibm.apic.toolkit.doc/rapic_oai3_support.html).

## Use Cases
There might be various use cases, I think for one use case, we can:
1. create LoopBack 4

[2019-11-12 22:56] agnes512 commented on #4059
@totolef MongoDB uses `ObjectId` as its `id` type. And `ObjectID` is represented as a `string` when converted to JSON. So we defines the `id` type with type `string` in LB4, so for your `id` property, it should be defined as this way instead of type `number`:

[code]

Unfortunately I don't think the controller( REST APIs) work well with inclusion when using MondoDB :(

For example, I have a `Custo

[2019-11-13 02:29] wayahead opened #4119 ""error TS5056 overwritten by multiple input files" found after upgraded loopback core to 1.10.6 and typescript to 3.7.2"
1. upgraded loopback as below:
[code]
I clean and rebuild the project, got the below error:

error TS5056: Cannot write file '/home/wayahead/workspace/loopback/pinwheel/besim/dist/datasources/client.datasource.d.ts' because it would be overwritten by multiple input files.

2. if I roll typescript back 3.6.4, then there is no error. but if checked into @loopback/build/package.json, typescript 3.7.2

[2019-11-13 02:40] raymondfeng commented on #4119
Either stick with `typescript@~3.6.4` or rename `<name>.datasource.json` to `<name>.datasource.config.json`. The latest version of `@loopback/cli` (1.25.0) already generates datasources with the new convention to deal with https://github.com/microsoft/TypeScript/issues/34761.

[2019-11-13 02:41] #4119 closed

[2019-11-13 04:32] #3695 closed

[2019-11-13 05:14] pratikjaiswal15 commented on #1352
Thank you very much. Both solutions working.

[2019-11-13 06:21] ajaysheoran2323 commented on #1467
@shadyanwar  Were you able to solve this?? I am facing same issue.

[2019-11-13 06:47] fidgi commented on #4089
@raymondfeng thank for working on this

[2019-11-13 19:20] raymondfeng commented on #1467
The dev dependency `@loopback/build` is needed to transpile TS into JS. For deployment, if you have run `npm run build` to create the application package, use `node .` instead `npm start` to start the application as ` npm start` triggers `npm run build` for development purposes. Or you can change `npm start` to run `node .` directly.

[2019-11-13 19:45] dhmlau opened #4122 "`lb4 relation` failed due to missing Repository class but changes in code happened"
When running `lb4 relation` (for example following the [TodoList tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html)), it complained that there is no Repository class. However, in the `@hasMany` decorator has been added to todo-list.model.ts, possibly some other code had changed too.

## Steps to reproduce
1. Run `lb4 example todo` to get the todo example
2. Create the `TodoList` mod

[2019-11-13 19:55] #1882 closed

[2019-11-13 20:12] kchraniuk commented on #512
Better documentation with more useful examples about WebSocket e.g:
https://github.com/strongloop/loopback-next/issues/4044

[2019-11-13 20:23] dhmlau commented on #3287
I've opened #4122 without knowing an existing issue. Cross posting here.

---

When running `lb4 relation` (for example following the [TodoList tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html)), it complained that there is no Repository class. However, in the `@hasMany` decorator has been added to todo-list.model.ts, possibly some other code had changed too.

## Steps to reproduce

[2019-11-13 20:24] dhmlau commented on #4122
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/3287

[2019-11-13 20:24] #4122 closed

[2019-11-13 20:26] agnes512 commented on #3287
Besides missing repos, as @ErwSim mentioned, when running `lb4 relations`, the decorators get generated even the generation is aborted with some errors.

For example, `Order` and `Customer`,
- Create a `belongsTo` relation with foreign key named `customerId` with `Order` and `Customer`.
- Then create another `belongsTo` relation with foreign key named `myCustomer` with `Order` and `Customer` again

[2019-11-13 20:28] dhmlau commented on #2980
@lokesh1197, are you still interested in working on a PR for this? _I think_ I haven't seen a related PR. Thanks.

[2019-11-13 20:48] dhmlau commented on #3287
@agnes512, i've updated the acceptance criteria. Please edit accordingly.
I didn't mention `Have reasonable error message for aborted generation` because if users hit ctrl+c, it is probably intentional or they are aware that they're aborting the generation?

[2019-11-13 21:36] jannyHou commented on #4111
@AnanthGopal If you mean sample code that calls `modelRepository.deleteAll`,  check [some example](https://github.com/strongloop/loopback-next/blob/cb4178ad5b5011a3a22107ae243e1372fe465676/examples/todo-list/src/__tests__/helpers.ts#L152-L154).

Actually you can search through in this repository with keyword `deleteAll` :p lots of its usage.
https://github.com/strongloop/loopback-next/search?q=del

[2019-11-14 02:30] agnes512 commented on #3287
@dhmlau I meant the error messages we get when the generation goes wrong ( cause the one we have is not really accurate). Sorry for the confusion.
And I just checked `ctrl+c`. It works fine. I think I messed it up with the issue I described above.

[2019-11-14 05:58] lokesh1197 commented on #2980
@dhmlau I was working on it. But I got busy in another project so I had to stop. Currently the tests part is remaining. I will try to finish it within this week.

[2019-11-14 09:21] #3948 closed

[2019-11-14 11:07] bajtos commented on #1996
I opened a PR with an initial proposal: https://github.com/strongloop/loopback4-example-shopping/pull/385

[2019-11-14 13:21] dhmlau commented on #2980
cool thanks!

[2019-11-14 14:08] emonddr opened #4125 "feature : verify/re-establish connection in connector.execute(sql)"
Executing custom sql by directly calling connector.execute(sql) has never been the
recommended approach and is highly experimental and subject to change; as mentioned in
https://loopback.io/doc/en/lb3/Executing-native-SQL.html

The recommended approach in LB3 and LB4 is to let the model/juggler-datasource/connector code path have control over executing SQL queries since this code is mature and ver

[2019-11-14 14:24] romain-ortega commented on #3978
Hey, thanks for your answers @bajtos @nabdelgadir !

We managed to make tests work by booting both LB4 app (@nabdelgadir method 👍) and LB3 app (via require `../server/server`)

With LB4 Application we can retrieve open API spec and execute our end-to-end tests.

However, we were wondering if there is a way to access our LB3 methods directly from LB4 application, without requiring LB3 server manual

[2019-11-14 14:38] agnes512 commented on #4059
closing as it's the issue described in https://github.com/strongloop/loopback-next/issues/3456. Feel free to continue the discussion over there.

[2019-11-14 14:44] dhmlau commented on #3935
@bajtos , could you please add the acceptance criteria so that the team can estimate? Thanks.

[2019-11-14 14:46] dhmlau commented on #3453
@agnes512 @bajtos, could you please add the acceptance criteria so that the team can estimate? Thanks!

[2019-11-14 14:50] dhmlau commented on #3942
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/2208. Please continue the discussion over https://github.com/strongloop/loopback-next/issues/2208. Thanks!

[2019-11-14 14:50] #3942 closed

[2019-11-14 14:51] dhmlau commented on #3755
@hacksparrow, could you please take a quick look to see if it's an issue?  I wasn't able to reproduce, see [above comment](https://github.com/strongloop/loopback-next/issues/3755#issuecomment-532711041). Thanks.

[2019-11-14 15:38] bajtos commented on #4125
Please note that `dataSource.execute` is just a sugar wrapper adding promise support, it delegates most of the work to `connector.execute` as can be seen here:

https://github.com/strongloop/loopback-datasource-juggler/commit/fda332d60b428c05b0fbf9c5e6aff389468cbd1f#diff-9e9565730a5d5c0bdf028ccde9dd3a4eR2628

[2019-11-14 15:39] bajtos commented on #4125
I'd like to discuss this task.

1. I believe `dataSource.execute` was added to 4.x version, it's not available in 3.x at all.
2. 3.x is in LTS mode, we shouldn't be adding new features. If `dataSource.execute` is not available in 3.x, then we shouldn't be adding it now (IMO).

[2019-11-14 16:25] jannyHou commented on #4125
Some background of the issue we are facing(Dom can correct me if anything wrong): with a running lb3 app, shuts down the database server then recovers, then sends a query to the database using `connector.execute()`, the connection for datasource won't establish automatically.
User need to connect manually like
[code]

We'd like to add the auto connect logic into the `execute` function, and by havi

[2019-11-14 19:31] jannyHou commented on #4099
- lb3 component and lb4 component are consistent on high level.
- lb4 component can contribute artifacts as bindings, but some are not supported yet, like connector

[2019-11-14 19:44] jannyHou commented on #4115
- LB provide security def + api def + additional policies.
- Make sure apic could manage the apis exposed by lb4.
- APIC supports oauth 2, make sure the spec created by lb4 is consumable by apic.
- Feature: gateway enforce some policies and passes context to LB4 app.

[2019-11-14 20:07] vikramkh opened #4128 ".env undefined outside Repository Class"
## Steps to reproduce

Repository Class:

[code]

.env file:
[code]

application.ts:
[code]

## Current Behavior

If you call process.env variables that are defined in the .env file outside (above) any repository class, the variables are undefined. They work perfectly outside (above) any controller class, however.

## Expected Behavior

process.env.STRIPE_SECRET_KEY should be returning a value rat

[2019-11-14 22:52] dhmlau commented on #4062
@frbuceta, I'd like to understand more about your feature proposal.  We already have linter in the scaffolded LB applications so what additional benefits would it bring if lint-staged is used? Thanks.

[2019-11-14 23:06] frbuceta commented on #4062
@dhmlau `lint-staged` only runs `eslint` for the files that are `staged` in git, it makes the tests much faster.

Currently I have tried to configure it but since the @ loopback / build package is used, I think it does not work with lb-eslint or lb-prettier because I have not found any improvement and in other repositories yes

[2019-11-15 02:25] achrinza commented on #4062
I'm not too familiar on what `@loopback/build` does other than being a wrapper, but I'd like to drop in my thoughts on this:

I think adding `lint-staged` will help speed up the pre-commit process as what @frbuceta said, it only targets staged files.

I think it should be an addition but not a replacement for the linting process as not everyone necessarily follows the same linting process (e.g mon

[2019-11-15 03:39] raymondfeng commented on #4062
You can update your application package.json with `lint-staged` dev dependency and a script such as `lint:staged`. Do you think it's worth to have a choice for `lb4 app` command?

[2019-11-15 08:18] bajtos commented on #4089
_Cross-posted from https://github.com/strongloop/loopback-next/pull/4117#issuecomment-554256489_

I'd like to start the discussion with building a better understanding of different loggers and log collectors that we can choose from.

@raymondfeng Why did you pick winston and fluentd in particular?

Personally, I prefer to use `pino` for logging, it's more modern than winston/bunyan and is signific

[2019-11-15 10:53] muhrifai7 commented on #1352
@raymondfeng agnes512

hello sir,can you help me, i new in loopback 4 and i stiil get stuck, how to include three or more models  :
Page,Sections,Content
and this is my code for pageController

@get('/pages/{id}', {
  async findById(
    @param.path.number('id') id: number,
    @param.query.object('filter', getFilterSchemaFor(Page))
    filter?: Filter<Page>,
  ): Promise<any> {
      return this.

[2019-11-15 13:56] agnes512 commented on #1352
@muhrifai7 have you tried the solution that I post above? i.e, modify your `GET /pages/{id}` endpoint to
[code]
Usually we don't set the inclusion in the endpoint. We hand it to the filter to take care to make  the endpoint flexible.

For example, with the code above, you can include `sections` relation only with http request:
[code]
You can also include multiple relations with request:
[code]

[2019-11-15 14:07] bajtos commented on #4128
Thank you for reporting this issue. I strongly suspect there is some code in your application that loads the repository or service class (calls `import` or `require` from the repository/service `.ts` file) **before** the boot process is started.

Please create a small app we can use to reproduce the issue as explained in [Reporting issues](https://loopback.io/doc/en/contrib/Reporting-issues.html#l

[2019-11-15 14:13] bajtos commented on #4059
To make relations work with MongoDB, the foreign key property must be defined as follows:

[code]

This will tell our MongoDB connector to convert string values supplied via REST API to ObjectID values used by the database.

I am re-opening this issue, we should improve our documentation to make it more clear what's needed to make relations & inclusion resolvers work with MongoDB.

[2019-11-15 14:16] dhmlau commented on #3719
@raymondfeng, I'm assigning this to you, since we believe you know about the authentication in LB3 & LB4 the most. Thanks!

[2019-11-15 14:35] agnes512 commented on #4059
I did, my `id` property:
[code]
and `customerId`
[code]
and I even tried this in the `POST /orders` endpoint to create instances at repo level,
[code]
But in MongoDB it still shows that the `customerId` I just created is a string :(

[2019-11-15 14:40] bajtos commented on #4085
Thank you @marioestradarosa for helping to troubleshoot the issue ❤️

I agree that this looks like a limitation of the current implementation of `lb4 openapi` command. Personally, I consider it as a bug. IMO, `lb4 openapi` should generate models that allow all values that are valid according to the original spec.

@evantrimboli would you like to contribute a fix yourself?

I am not familiar with `

[2019-11-15 14:42] bajtos commented on #2208
This is a known bug in our SQL connector(s), see https://github.com/strongloop/loopback-connector/issues/125 and https://github.com/strongloop/loopback-connector/pull/132

[2019-11-15 14:48] bajtos commented on #4042
Yes, `strict: true` mode is enforced by SQL connectors.

In `strict: false` mode the connector would not know how to map unknown properties to SQL columns.

[2019-11-15 14:56] agnes512 commented on #4059
[code]
when traverse related models with debugger, the `find` method in `dao.js` only returns the first order instance.

[2019-11-15 15:09] bajtos commented on #4059
@agnes512 thank you for verifying. Looks like my understanding of `mongodb.dataType` was not correct then.

Could you please share the app you are using to test this? I would like to see if I can spot any easy fix.

[2019-11-15 15:11] bajtos commented on #3456
DataSource.prototype.setupDataAccess()

There is a pull request in progress to improve this part, see https://github.com/strongloop/loopback-datasource-juggler/pull/1783 and also the discussion in https://github.com/strongloop/loopback-next/issues/3602

[2019-11-15 15:41] jannyHou commented on #3806
My finding so far:

The model discover generator calls [discoverSingleModel](https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/discover/index.js#L196) to get model definitions, and the schema returned from [this function](https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/model-discoverer.js#L30) has primitive data type as camel case like `String

[2019-11-15 15:44] vikramkh commented on #4128
Hi @bajtos! Thanks. You were correct. I was actually using code from a cloned repo that i had hardly changed. I wasn't too familiar with env processes, and it turns out there was a .env.defaults file along with the .env file, which I'm guessing was delaying the loading in of the .env file. So I moved my keys over to the .env.defaults file

[2019-11-15 15:44] #4128 closed

[2019-11-15 16:07] agnes512 commented on #4059
@bajtos sure, thanks! sorry I couldn't figure it out myself :sweat_smile:

The app: https://github.com/agnes512/lb4Mongo/tree/master/mon
( `POST /orders` in `order.controller.ts` in modified)

And I use `rpeository-tests` in `loopback-next` a lot to compare the differences ( it bothers me that it works in our tests but not real apps)

I mainly use tests in [has-many-inclusion-resolver](https://git