[2020-11-13 13:55] achrinza commented on #6781
Hi @norricorp, thanks for raising the issue! I believe this is a 2-pronged issue:

1. Part of it can be a duplicate of #5802 - the template hasn't been updated to the latest scaffolds
2. The template abstracts certain components away to enforce cloud-native best practices. That is, the Appsody template consists of a hidden LB4 "base" application that boots the user's LB4 application. https://githu

[2020-11-13 15:38] mdbetancourt commented on #6773
and how could i write a connector for loopback 4? i can't find anything about it in documentation, ok i understood repositories and connectors are different things but service can replace a connector?

[2020-11-13 15:39] haotangio commented on #3047
@jannyHou Thanks a lot for your help

[2020-11-13 20:53] #6767 closed

[2020-11-13 21:23] norricorp commented on #6781
It is in the extra code that configuration such as change port, configure CORS is done so how should these values be changed in an appsody created loopback app?

As an aside, why should an appsody run app be accessible from outside of the server but not accessible from a lb4 created app running with npm start? Both are listening on port 3000 so it is not a firewall issue because it works with apps

[2020-11-13 21:26] raymondfeng commented on #6781
https://github.com/appsody/stacks/tree/master/incubator/nodejs-loopback is out of date. We need to upgrade it to the latest version of LoopBack 4 releases.

[2020-11-14 04:39] achrinza commented on #6773
We haven't ported the documentation to LoopBack 4, but AFAIK, the LoopBack3 docs still apply as Juggler connector interface hasn't changed much:

https://loopback.io/doc/en/lb3/Building-a-connector.html

Services are just JavaScript classes with any arbitrary properties. Hence, anything can be classes.

Connectors have the benefit of built-in connection lifecycle management and a set of well-defin

[2020-11-14 05:22] codeduniya opened #6782 "Deploying LB4 application on Apache server"
I have tried deploying my Loopback 4 application on Apache running on a CentOS 7 server. I followed the instructions given [here  ](https://loopback.io/doc/en/lb4/deploying-with-pm2-and-nginx.html) for Nginx but the proxy pass through is not working on Apache. Is there any documentation on how to deploy a LB4 application on Apache?

[2020-11-14 05:39] achrinza commented on #6782
Hi @codeduniya, have you tried looking at https://httpd.apache.org/docs/2.4/howto/reverse_proxy.html? This should be a good starting point to mapping NGINX's configuration to Apache 2.

[2020-11-14 20:46] alma3lol commented on #110
Hi @bajtos, I'd love to be a contributor.

Thanks in advance.

[2020-11-15 06:22] mrmodise commented on #6781
@raymondfeng correct me if am wrong, as a work-around @norricorp can use the index.js to configure cors? before upgrading to the latest version of LB4 this is where I used to configure cors. @norricorp you will add cors config after this line: https://github.com/appsody/stacks/blob/8d8aebc9c256923cc155eaf2fff1be9e4a1a924c/incubator/nodejs-loopback/templates/scaffold/index.js#L10

something like:

[2020-11-15 08:10] norricorp commented on #6781
Hi @mrmodise,
appsody created an index.js file that does not have the if (require.main === module) condition, hence there is no place to put it.
Except that is what I have done - I used the index.js from a test project created with lb4 app. And, as you know from slack, that is not working for me.
But, to be fair, this is issue is not about whether CORS can be configured or not (that is another pro

[2020-11-15 13:27] frbuceta commented on #6343
Yes, I am going to close this issue and we move to that one

[2020-11-15 13:27] #6343 closed

[2020-11-16 10:39] bhupesh-sf opened #6791 "Facing multiple Issues while integrating opentelemetry tracing"
## Steps to reproduce

Install the following packages:

[code]

AT the top of index.ts

[code]
Following at the top of the main function in index.ts file
[code]
Then import the following in the application.ts file:
[code]
Then I added this middleware in the application.ts
[code]
Then bind this middleware in the constructor in the application.ts:
[code]

Another thing if I use `Axios` to make an HT

[2020-11-16 14:09] bajtos commented on #2483
Ping back from https://stackoverflow.com/a/64859564/69868, cross-posting my answer:

Essentially, there are two parts of the problem:

1. Create repository artifacts for navigating to related models.

    This is IMO the easier part, since all you need to do is take the class constructor created by `defineCrudRepositoryClass` for the model you are trying to expose via REST API and create a subclas

[2020-11-16 14:58] A-Corregidor opened #6792 "Unable To Create Strong Relations Through MySQL Connector"
## Additional information

Objective: As LB4 doesn't currently support setting strong foreign keys, I'm trying to set those on MySQL DB through loopback-connector-MySQL.

Theoretical Steps:
- Set foreignKey config on each @model() (as explained [here](https://loopback.io/doc/en/lb4/MySQL-connector.html))
- Create tables on migration in correct order to avoid setting foreignKey before the destinati

[2020-11-16 19:16] dhmlau commented on #6791
@raymondfeng, could you please help on this? Thanks.

[2020-11-17 06:20] samarpan-b commented on #6756
@raymondfeng is this published ?

[2020-11-17 15:00] jannyHou opened #6800 "Retrieving an embedded property (type extends Model) has an extra field `id` with value undefined"
## Steps to reproduce

Use case:
`Customer` extends `Entity`
`Address` extends `Model`
`Customer` model has a property address: `Address`
Data is stored in mongodb

## Current Behavior

Problem:
Fetch Customer entity from db using customerRepo.findById method, its address property has an id field with null value.

E.g.
[code]

## Expected Behavior

[code]

## Link to reproduction sandbox

## Addit

[2020-11-17 15:31] mrbatista commented on #2488
@bajtos Please assign the task to me.

[2020-11-18 01:19] dhmlau commented on #6779
@vineet-suri, there are related fixes in PR #466 and strongloop/loopback-connector#185. Could you please verify it if it works for you? Thanks.

[2020-11-18 04:17] ianjenkinsii commented on #5603
" for that you can add it by your own. " -- Could you please give guidance on how to do this?

[2020-11-18 04:51] achrinza commented on #6792
At a glance, I believe this would be fixed by #5769 - would you be able to confirm if this is the case?

[2020-11-18 04:53] achrinza commented on #6781
In this case, would it be fine if we close this as duplicate of #5802?

[2020-11-18 07:25] ianjenkinsii commented on #4291
I am unable to get the "**role**" to be included in the a jwt token and also the **principals** object does not have it.  What parts of my code would you need to see to lend assistance?

[2020-11-18 08:03] A-Corregidor commented on #6792
You're right, #5769 fix it (although it is pending to check what happens if the same model is in both datasources)! In fact, I believe this is BUG a duplicate of #5769

However, I've noticed that drop table migration could fail when rebuilding DB if some foreignKey were set.
When executing a drop table migration (if models['foo', 'bar'] were assigned), tables should be created in that order, but d

[2020-11-18 08:20] norricorp commented on #6781
Yes that is fine.
The remainder of index.ts has been put in a top level index.js file. So appsody loopback and loopback loopback have really diverged.

[2020-11-18 08:20] #6781 closed

[2020-11-18 12:27] dcalme commented on #5563
Hi,
I got the same issue, with Node LTS (14.15.1) i use n to downgrade at 12.16.2 and it works fine.

[2020-11-18 14:07] Fr4nZ82 commented on #6800
is this related? https://github.com/strongloop/loopback-next/issues/6029

[2020-11-18 14:54] jannyHou commented on #3047
you are welcome :) Closing it as done.

[2020-11-18 16:01] dhmlau commented on #3047
@jannyHou, this issue meant to be a long running process. :)

[2020-11-18 18:10] danielalejandrin commented on #5563
Sorry not to open an issue but and new with node js and I was trying a framework to use instead of express, and I drop it cause I using express with sequalize ORM

[2020-11-18 21:56] pookdeveloper commented on #5056
I have an error when I try to use multi-tenancy:
![image](https://user-images.githubusercontent.com/3384734/99592928-2afccd80-29f1-11eb-9ea7-906354a23fd2.png)
any solution ? Thanks

[2020-11-18 22:19] raymondfeng commented on #5056
As it complain, the base class only accepts two args. If you meant to configure the dataSource with `schema`, you need to change the `dataSource` in the constructor before calling `super`.

[2020-11-19 09:06] fabripeco commented on #3453
Hi,

I'm wondering if the '_limit_' param works if added to the scope of nested relations, to limit the number of items of a hasMany relation. I have a strange behaviour in the response.
I have a BusinessPartner model with hasMany relation to Addresses
[code]

I want to get the businessPartners with only the first address for each one. My filter param looks like
[code]

The _where_ clause in the s

[2020-11-19 11:36] bhupesh-sf commented on #6791
Any help here @strongloop/loopback-next  ??

[2020-11-19 17:29] raymondfeng commented on #6791
@bhupesh-sf I will question the design of `opentelemetry` to rely on require hooks without providing explicit APIs. Meanwhile, maybe you should try to use `-r` flag for `node` itself? Such as `node -r @opentelemetry/node
-r @opentelemetry/plugin-http -r @opentelemetry/plugin-https -r @opentelemetry/plugin-express`?

[code]

[2020-11-19 17:32] raymondfeng commented on #6791
Propagation of tracing information over outbound http connections is even tricker at this point. It really depends on the connector modules which use their own http client packages. These modules do not support dependency injections.

[2020-11-19 17:58] bhupesh-sf commented on #6791
@raymondfeng opentelemetry does provide the API but they are giving auto instrumentation for some frameworks like express etc and they do this thing quite well. SO I was thinking if we can leverage the same for Loopback.

Otherwise, we have to manually do the same which will take a good amount of work for a framework.

[2020-11-19 17:59] bhupesh-sf commented on #6791
And the other option of `node -r` I tried but didn't work. @bajtos mentioned it earlier in of the conversations.

[2020-11-19 18:06] raymondfeng commented on #6791
Just want to correct one thing - we probably need to create a simple js file as follows:

opentelemetry-register.js
[code]

Then use `-r ./opentelemetry-register.js`?

[2020-11-19 18:11] raymondfeng commented on #6791
@bhupesh-sf I suggest that you create a simple LB4 app with your code in `index.ts` to set up automatic instrumentation. We can then check it out for troubleshooting.

[2020-11-19 19:03] pookdeveloper commented on #5056
@raymondfeng I can call dataSource before  super:
![image](https://user-images.githubusercontent.com/3384734/99711574-3956f200-2aa2-11eb-9008-52fb4eed8581.png)
Any example please?

[2020-11-19 19:11] raymondfeng commented on #5056
You can define a function such as:

[code]

Then in the constructor:
[code]

[2020-11-20 06:21] achrinza commented on #5802
Will be closed by https://github.com/appsody/stacks/pull/863

[2020-11-20 20:02] dhmlau commented on #2366
With PR #6356 landed, can this issue be closed? Thanks.

[2020-11-20 20:20] dhmlau commented on #6627
PR #6631 has landed. Closing as done.

[2020-11-20 20:20] #6627 closed

[2020-11-20 20:23] #4264 closed

[2020-11-20 23:39] #2366 closed

[2020-11-21 04:05] mdbetancourt commented on #6616
works well with @loopback/testlab: 3.2.9

[2020-11-21 04:05] #6616 closed

[2020-11-21 04:07] mdbetancourt commented on #6643
closed with https://github.com/strongloop/loopback-next/pull/6740

[2020-11-21 04:07] #6643 closed

[2020-11-21 12:45] norricorp opened #6822 "Changing class name in appsody stack generated application.ts causes runtime error"
## Steps to reproduce

Create a loopback app via the appsody stack

## Current Behavior

application.ts has class of DemoApplication by default. This is referenced in several other files.
If this is changed to other class name throughout all of the files, then running the app with appsody run causes error.

[Container] Cannot start the application. TypeError: exports.DemoApplication is not a const

[2020-11-21 15:52] mrmodise commented on #6770
I will take this

[2020-11-21 19:09] kursattokpinar commented on #1981
LB4 docs mention the geopoint as one of the available data types. At least we should update the doc to state that geopoint is not completed, till we have the feature.

[2020-11-22 07:08] achrinza commented on #6426
Closing this issue due to inactivity; Feel free to comment or open a new issue if the problem still persists.

[2020-11-22 07:08] #6426 closed

[2020-11-22 07:11] achrinza commented on #3325
Will consolidate it under #2454 as a feature request. Please comment if you believe this was done in error.

[2020-11-22 07:12] achrinza commented on #3325
Duplicate of #2454

[2020-11-22 07:12] #3325 closed

[2020-11-22 10:34] mtwinux opened #6825 "lb4 discover throws error UnhandledPromiseRejectionWarning:"
my environment :
Node.js [v12.18.4],NPM [ 6.14.8]

+-- @loopback/authentication@7.0.3
+-- @loopback/authentication-jwt@0.7.3
+-- @loopback/authorization@0.7.3
+-- @loopback/boot@3.1.0
+-- @loopback/build@6.2.6
+-- @loopback/core@2.12.0
+-- @loopback/eslint-config@10.0.2
+-- @loopback/repository@3.2.0
+-- @loopback/rest@9.0.0
+-- @loopback/rest-explorer@3.0.3
+-- @loopback/security@0.3.3
+-- @loopb

[2020-11-22 17:51] fidgi opened #6826 "Explorer not accessible from the home page when an application basePath is set"
## Steps to reproduce

Create a simple app with the cli ($lb4 app)
just set a basePath to the app config in index.ts
`  const config = {
    rest: {
      port: +(process.env.PORT ?? 3000),
      host: process.env.HOST,
      basePath: '/api',
      // The `gracePeriodForClose` provides a graceful close for http/https
      // servers with keep-alive clients. The default value is `Infinity`

[2020-11-22 18:19] mrmodise commented on #6826
Try set the base path at app level:

[code]

[2020-11-22 19:16] fidgi commented on #6826
@mrmodise it doesn't work .

I need a way to inject basePath into the index.html of the home page

[2020-11-23 00:42] mbnoimi opened #6828 "lb4 discover unable to recognize MariaDB"
## Steps to reproduce

1. Create a new project using `lb4 todolist-mariadb`
2. Create a new datasource using `lb4 datasource`

**mariadb.datasource.ts**
[code]
3. Run `lb4 discover` but doesn't show any models!
[code]

## Current Behavior

Unable to create models from MariaDB database

## Additional information

* `SELECT VERSION();`: 10.4.16-MariaDB
* `$ lb4 --version`:
[code]

[2020-11-23 00:52] mbnoimi commented on #6828
database.sql

[code]

[2020-11-23 03:07] achrinza commented on #6744
Hi @rajkaran, apologies for the delayed reply;

In the case of letting Multer handle file storage, you can change the signature of your FileUploadProvider implementation to accept a new argument for `filename`.

[2020-11-23 03:09] achrinza commented on #6669
Hi @bala-fashiondx, apologies for the delayed reply; I've not been able to replicate the issue from my end. Would it be possible to follow through the [Bug report template](https://github.com/strongloop/loopback-next/issues/new?labels=bug&template=Bug_report.md) so that we can gather more information on the issue?

[2020-11-23 04:05] mrmodise commented on #6826
@fidgi weird I use the same setup and it works well for me. Of course I don't set it inside config. My apps are running at `/shop/api/whatever` and I set `app.basePath('/shop/api/whatever');` then my explorer is available at `http://localhost:3000/shop/api/whatever/explorer`

[2020-11-23 04:49] achrinza opened #6831 "Add a connector support checklist"
## Suggestion

In each connectors' README, add a standard feature table to indicate which features are supported by the connector.

## Use Cases

Managing the behaviour and features across different databases is hard. Hence, it is a given that the connector feature support and the implementation of that functionality may differ.

Unfortunately, this means that LoopBack 4 users may have difficulty

[2020-11-23 04:56] achrinza commented on #6792
Hi @A-Corregidor, apologies for the delayed reply; Yes, please do add any details that may be useful in identifying the problems and scope of the issues. This would be helpful in distinguishing between similar issues.

[2020-11-23 07:16] fabripeco opened #6832 "Limit in nested scope for hasMany relations"
Hi,

I'm wondering if the '_limit_' param works if added to the scope of nested relations, to limit the number of items of a hasMany relation. I have a strange behaviour in the response.
I have a BusinessPartner model with hasMany relation to Addresses
[code]

I want to get the businessPartners with only the first address for each one. My filter param looks like
[code]

The _where_ clause in the s

[2020-11-23 17:27] dhmlau commented on #6831
@achrinza, thanks for opening this issue. I think after we agree on the feature list (as shown in your above example), we probably need to make it an epic, and create separate GH issues for individual connectors.

[2020-11-23 22:54] evantrimboli opened #6835 "@loopback/context - debug.destroy is deprecated"
## Steps to reproduce

Run the ping controller endpoint from the default package creation.

## Current Behavior

(node:33604) DeprecationWarning: Instance method `debug.destroy()` is deprecated and no longer does anything. It will be removed in the next major version of `debug`.

## Expected Behavior

No warning

## Link to reproduction sandbox

## Additional information

[code]

The issue with th

[2020-11-23 23:17] raymondfeng commented on #6835
Fixed by https://github.com/strongloop/loopback-next/pull/6811

[2020-11-23 23:17] #6835 closed

[2020-11-24 03:18] mdbetancourt commented on #6831
I wrote a mongodb connector following https://loopback.io/doc/en/lb4/Repository.html#persist-data-without-juggler-using-mysql-database where should i put it?

[2020-11-24 15:49] bajtos commented on #110
Invites sent 📨

We are not using the team `@strongloop/loopback-next` much. I think this thread is past its usefulness, I am going to close this issue.

For anybody interesting in contributing to LoopBack, feel free to help others in GitHub issues, answering questions on StackOverflow or contributing pull requests to improve the framework. We are keeping an eye on regular contributors and inviting

[2020-11-24 15:49] #110 closed

[2020-11-24 20:01] dhmlau commented on #6828
@mbnoimi, could you please try to use `--schema` (to specify the schema name) or `--all` (to show all tables)? https://loopback.io/doc/en/lb4/Discovering-models.html

[2020-11-25 07:27] A-Corregidor commented on #6792
Hi @achrinza , I've updated the main topic as we talk

[2020-11-25 08:57] mbnoimi commented on #6828
Worked with `lb4 discover --schema todolist`
I think this is a bug, so I'll keep this issue opened; does it right?

[2020-11-25 12:30] A-Corregidor opened #6840 "Filter by the concatenation of two columns"
## Suggestion

It would be nice to be able to filter a Model by the concatenation of two columns.
I mean, to be able to replicate this type of SQL query:
[code]

## Use Cases

The most common example is filtering a User model by its full name when it's stored in two columns (name, lastName).
Currently, the only way this is possible (AFAIK) is by sending the RAW query, which makes it almost incompa

[2020-11-25 15:06] dhmlau commented on #6828
_I think_ it's working as designed. If `--schema` option is not provided, it uses the schema name that's same as your user name provided in the datasource (at least that's what happens for DB2).  But @bajtos @jannyHou @raymondfeng can confirm.

[2020-11-25 15:08] mbnoimi commented on #6828
It expect to use the same database not the same username!

[2020-11-25 15:18] dhmlau commented on #6825
@mtwinux, could you please elaborate more on what you're updating which cause `lb4 discover` not working? Thanks.

[2020-11-25 15:35] achrinza commented on #6709
Closing as done.

[2020-11-25 15:35] #6709 closed

[2020-11-25 15:41] QPierre1 commented on #6099
I try a global interceptor but it only intercepts lb4 queries and not lb3 queries.
I found a workaround with a lb4 middleware : https://loopback.io/doc/en/lb4/Middleware.html#loopback-style-middleware

[2020-11-25 16:01] nabdelgadir commented on #6099
Thanks @QPierre1! I think we can document the middleware workaround you're using for now and then we'll have to see if we can get lb4 interceptors to also work for lb3 routes. Would you be interested in doing the documentation portion?

[2020-11-25 16:33] malins commented on #6800
Hello!

I have the same problem. Is having nested/embedded models in MongoDB somewhat of an advanced usage pattern?

Thank you,
Manuel

[2020-11-25 19:32] mtwinux commented on #6825
I was saying it was after updating my loopback version with npm-check. But maybe it s not relevant.

I saw the issue is because it tries to instantiate the first property [0] guessing it s the data source class but it s not. It is the config property.

[2020-11-25 20:29] agnes512 commented on #6832
@fabripeco thank you reporting this. I can reproduce it on my end. And you're right, it is because of the way we query related data. In [here](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/relation.helpers.ts#L61), we query _all_ related models with _all_ target foreign keys. i.e when it fetches related models, it has filter:
[code]
instead of two separa

[2020-11-26 00:24] dhmlau commented on #6825
do you have a sample app that I can reproduce?

[2020-11-26 06:30] achrinza commented on #6773
Hi @mdbetancourt, I'll proceed to close this issue as solved due to inactivity. Feel free to comment if you believe that this is not the case.

[2020-11-26 06:30] #6773 closed

[2020-11-26 06:32] achrinza commented on #6782
Hi @codeduniya, I'll proceed to close this issue due to inactivity. Feel free to comment to request re-opening the issue.

[2020-11-26 06:32] #6782 closed

[2020-11-26 06:34] achrinza commented on #6240
Closing due to inactivity. Feel free to request re-opening this issue or create a new issue.

[2020-11-26 06:34] #6240 closed

[2020-11-26 07:32] fabripeco commented on #6832
Ok, thanks for your reply.
Maybe another option for you could be to query the related models with only the where param (and sort and fields params) on the target repository and afterwards to accomplish the pagination params in memory (skip and limit). In this way you can keep a single query on the target repository. Just an idea.
Thank you!

[2020-11-26 08:30] Salketer commented on #6718
Any thoughts on this? We would like to open up the explorer of our public API but we cannot do it for now because of this... If the team could list what should be done, we might be able to provide a PR.

[2020-11-26 08:39] Salketer opened #6844 "Circular dependencies created by the CLI are creating invalid code (too many imports)"
## Steps to reproduce

Start from a fresh Todo tutorial app.
Let's say you want to have subtasks in big tasks, and want to create child-parent Todos.
Use the cli to create the relation between Todo and Todo. At least belongsTo and hasMany will create the error, but others certainly will as well.

## Current Behavior

Code generated cannot start, with these messages:
[code]

## Expected Behavior

T

[2020-11-26 10:35] georve opened #6847 "Loopback doesn't perform order by relation hasmany"
in my current project, I have many entities with hasmany relationships. but in the front is requested to sort using the child field but it doesn't change the order of parent object using the child field

## Steps to reproduce

I have the following rules implemented
    1. Each entity has foreign keys annotation.
    2. Each repository has a relation resolver.
    3. the class are the following

[c

[2020-11-26 10:39] georve commented on #6847
the result not change if apply an order by agent or insured name. the quotation order is always the same.
`[
    {
        "id": 18,
        "creation_date": "2020-11-23T19:02:19.000Z",
        "expiration_date": "2020-12-23T19:02:19.000Z",
        "quotation_status": "Enviada",
        "enterpriseId": 0,
        "deducibleRecomendado": 10000,
        "deducibleActual": 0,
        "primaRecomendad

[2020-11-26 10:49] georve commented on #6847
the filter was expressed in that way

 {
      where: { and: [] },
      include: [
        { relation: 'agent',
          scope:{
            order:['agent_name ASC','agent_lastname ASC'],
          }
        },
        { relation: 'insured',
          scope:{
          order:['insured_name ASC','insured_lastname DESC'],
        }
        },
        { relation: 'planRecommended' },
        { rela

[2020-11-26 11:59] A-Corregidor commented on #6847
@georve Please, could you format your code to be more visible? [Here](https://www.markdownguide.org/basic-syntax/) you can check how to use Markdown formatting.
In your case,  I think you could wrap your code between ` (three at the start, three at the finish)

[2020-11-26 12:31] hacksparrow commented on #6718
Please open a PR with a proposal, we can discuss the details there.

[2020-11-26 15:23] dhmlau commented on #6792
@A-Corregidor, it'd be a feature to support strong relation, please see this epic: https://github.com/strongloop/loopback-next/issues/2331. @bajtos had done a spike in the past and created a list of to-dos in order to support it. Please continue the discussion over there. With that, I'd like to close this issue as duplicate. Thanks.

[2020-11-26 20:08] dhmlau commented on #6733
PR #6733 has landed. Closing as resolved.

[2020-11-26 20:08] #6733 closed

[2020-11-27 10:15] srikanthadibhatla commented on #5713
@raymondfeng do you have a working example for azure functions ? https://github.com/raymondfeng/loopback4-example-serverless - this seems to be geared for IBM cloud functions

[2020-11-27 14:32] dhmlau commented on #6844
@Salketer, would this docs https://loopback.io/doc/en/lb4/BelongsTo-relation.html#handling-recursive-relations help?

cc @agnes512

[2020-11-28 07:37] achrinza commented on #6792
Hi @dhmlau, I'd like to keep this issue open as it's with regards to migration "drop" mode not generating the necessary indexes, not so much about first-class strong relations support.

[2020-11-29 13:25] webafra opened #6858 "custom jwt authentication"
Hello.

I want to use this service to develop my own personalized authentication.

1. Find the user
2. Create the JWT access token for that user

[code]

The code I wrote does not work because method (generateToken) inputs argument must be an email and a name.
I want to authenticate with a mobile number.

please help me.

[2020-11-29 19:42] MattRiddell opened #6859 "RefreshTokens seem to ignore user service bindings"
## Steps to reproduce

I have a custom user service that adds permissions to the user.

Everything works as normal until you add refreshTokens.

It seems that the refreshToken code somehow ignores the userService.UserServiceBindings.

In my user controller I have:

[code]

And when I do a login and then:

[code]

It calls the correct function (with my logging in it).

If I do a post to ```/refresh

[2020-11-30 00:12] dhmlau commented on #6858
@jannyHou @mrmodise, could you please help with this question? Thanks.

[2020-11-30 00:45] jannyHou commented on #6859
Hi @MattRiddell could you submit a sample app or at least your custom user service to reproduce the error?
see https://loopback.io/doc/en/lb4/Troubleshooting.html#submitting-sample-application-for-problem-determination

[2020-11-30 00:56] MattRiddell commented on #6859
So, what I'm doing is reasonably simple but not simple enough to put down in an example.

Effectively what I'm doing is this:

[Game with RBAC](https://strongloop.com/strongblog/building-an-online-game-with-loopback-4-pt4/)

combined with:

[JWT with Refresh](https://loopback.io/doc/en/lb4/JWT-authentication-extension.html#endpoints-with-refresh-token)

Login happens via this:

[code]

Refresh end

[2020-11-30 01:01] jannyHou commented on #6858
@webafra You can create your own JWT service like [this example](https://github.com/strongloop/loopback4-example-shopping/blob/a0f474f0946084f710de91f75ffbe0d4df690235/packages/shopping/src/services/jwt.service.ts), then bind it to binding key that `authentication-jwt` module exported as [this.bind(TokenServiceBindings.TOKEN_SERVICE).toClass(JWTService)](https://github.com/strongloop/loopback4-exa

[2020-11-30 01:07] MattRiddell commented on #6859
I'm not sure if it's made it more complicated by adding all that but it basically comes down to:

When I login it uses my `verifyCredentials` and when I do `refreshToken` it doesn't.

[2020-11-30 01:24] jannyHou commented on #6840
Thank you for the suggestion! This would be a big feature that involve changes in all the supported SQL/NoSQL connectors. First we need to agree on the signature, like you suggested using `concat`, then each connector builds the query accordingly.

[2020-11-30 01:30] MattRiddell commented on #6859
If I were to start from scratch with one of your examples, is there a good one to use that uses JWT auth and refreshTokens so I can make a simple demo for you?  I hate to make someone create a project just to replicate what I'm seeing but I also don't have the time to rebuild a project from scratch.

[2020-11-30 01:54] jannyHou commented on #6800
@Fr4nZ82 I believe yes, they are caused by the same reason, As @bajtos pointed out, the problem is we shouldn't attach the embedded lb4 model to datasource. Would you be interested in submit a PR to fix it? The solution is explained in the "Additional information".

[2020-11-30 01:55] jannyHou commented on #6800
Let me close this one as a dup of https://github.com/strongloop/loopback-next/issues/6029

[2020-11-30 01:55] #6800 closed

[2020-11-30 01:56] jannyHou commented on #6029
Same issue as https://github.com/strongloop/loopback-next/issues/6800
And copy a possible solution here:

The problem is https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L88
When the retrieved customer’s address property gets converted to an instance of Address , that line has an additional id field even it’s not defined in the Address model.

Quoted solution from

[2020-11-30 03:41] jannyHou commented on #6828
@mbnoimi @dhmlau For mysql, yes it's same as DB2, see code in https://github.com/strongloop/loopback-connector-mysql/blob/6e06fe47306ba5beede328342b8123f36c66bba2/lib/discovery.js#L78.
I don't think people usually name their lb datasource the same as the back-end schema. For example, append `DS` to the connector name like `MysqlDS`, but it won't map to the mysql schema, therefore we could not make

[2020-11-30 07:42] mbnoimi commented on #6828
@jannyHou Forgive me but I'm unable to understand how it hard to guess schemas in MariaDB/MySQL !
It's very easy using SQL:

[code]
or just by using:

[code]

[2020-11-30 09:00] A-Corregidor commented on #6792
Hi @achrinza , do you want me to update main topic (and the forked repo) to talk only about the migration "drop" mode?

[2020-11-30 14:45] emonddr commented on #6792
@A-Corregidor , there is a PR I haven't yet landed for the Todo example using mysql https://github.com/strongloop/loopback-next/pull/6642 . Perhaps it provides some extra info you may need. Particularly this file: docs/site/tutorials/todo-list/todo-list-tutorial-sqldb.md .

[2020-11-30 15:28] Salketer commented on #6844
Thank you @dhmlau this may help some people facing the issue.

There is indeed a little subtlety that is pointed out in the doc you are showing, yes. But the CLI should not create bad code, that is counter productive...

PS: Sorry for late reply, the loopback.io wasn't working when you replied...

[2020-11-30 15:35] Salketer commented on #6847
With this part:

[code]

You are ordering the agents in the relation, but you get only one agent (belongsTo relation).
If I understand what you mean, you would like to order quotations by agent.

If you would query the agents instead, then include the quotations, you would indeed receive them in the wanted order.

Meanwhile, I'd like to point out that you cannot order results using a relation data

[2020-11-30 19:45] georve commented on #6847
but the code is in production and is served by quotation no by agents.. the requirement is that the code could perform ordering by relationship.. I have many screens with this defect.. and the code must order by one os this children..

[2020-12-01 02:10] dhmlau commented on #6465
Capturing the info from Slack: https://loopbackio.slack.com/archives/C01177XQN8N/p1606581954022100

From @raymondfeng:

From @mrmodise:

From @bajtos:

[2020-12-01 07:18] Salketer commented on #6847
Then you should do the ordering yourself, certainly in the controller,
before passing the data to the client.

Le lun. 30 nov. 2020 à 20:46, Georman Calderon <notifications@github.com> a
écrit :

[2020-12-01 10:02] bajtos commented on #1981
Makes sense. Would you @kursattokpinar like to open a pull request to update our docs? See https://loopback.io/doc/en/lb4/code-contrib-lb4.html#documentation and https://loopback.io/doc/en/lb4/submitting_a_pr.html to get started.

[2020-12-01 10:13] hessman commented on #6485
Hi you can not use the order repo in your report repo.
You can only use the getter to define relations.
If you want to implement this logic you need to do this in a controller or a service.

[2020-12-02 12:04] mbnoimi commented on #4557
@dhmlau Do you've any plan to fix this bug in the next milestone?

[2020-12-03 00:15] jy-hirasawa opened #6871 "@loopback/authentication is not support Yarn on Windows?"
I upgrade @loopback all.
yarn start occured error.

I tried to reproduce it, there seems to be a problem with @loopback/authentication.
@loopback/authentication is not support Yarn on Windows?
Maybe from version 7.0.3.

## Steps to reproduce
on Windows. ( on Centos is OK)

`lb4 app`
`npm install --save @loopback/authentication`
`npm insall`
`npm run start`
is OK

But,
`lb4 app`
`yarn add @loopback

[2020-12-03 08:07] bajtos commented on #656
I updated issue description to better communicate the current status: we have an experimental version of GraphQL layer and looking for user feedback now.

You can learn more about the graphql extension in our docs: https://loopback.io/doc/en/lb4/GraphQL.html

[2020-12-03 12:22] cassioscofield commented on #6560
+1 this is a very nice feature to have, hope to see it in the next release

[2020-12-03 18:01] mbnoimi opened #6873 "Modify code highlight in the docs"
## Suggestion

I suggest modifying code highlight in the docs to something else. As you can see the screenshot some syntaxes are unreadable.

## Examples

![image](https://user-images.githubusercontent.com/284547/101068126-667ac880-35a9-11eb-8353-a91db433d481.png)

## Acceptance criteria

TBD - will be filled by the team.

[2020-12-04 00:02] dhmlau commented on #6873
@mbnoimi, do you mean this page: https://loopback.io/doc/en/lb4/Controller-generator.html?
What would be your suggestion of the code highlight? Thanks.

[2020-12-04 00:13] dhmlau commented on #6871
I tried the above steps on MacOS, and seem to be running fine. I'm not familiar with yarn. @strongloop/loopback-maintainers, any ideas?

[2020-12-04 10:19] mbnoimi commented on #6873
I mean for whole codes highlight in the docs

I suggest using a scheme similar to [Github's color scheme](https://atom.io/themes/atom-github-theme)

[2020-12-04 17:47] dhmlau commented on #6873
@mbnoimi, it sounds good. Would you be interested to submit a PR? I believe the css files are https://github.com/strongloop/loopback.io/blob/gh-pages/css/syntax.css and/or https://github.com/strongloop/loopback.io/blob/gh-pages/css/customstyles.css.

[2020-12-04 18:11] mbnoimi commented on #6873
Unfortunately I'm still stuck to LB4 learning.

[2020-12-04 18:29] kursattokpinar commented on #1981
Yes sure, happy to contribute. I have already gone over the contrib guides and set up my environment (it took while to configure Jekyll stuff and WSL).

I am going to update Loopback Types page to include that development on Geopoint type is not completed yet.
All other pages mentioning about Geopoint type is already referring to the Loopback Types page. Thus, it seems no need to update those.

Do

[2020-12-05 10:46] mbnoimi opened #6876 "Unable to migrate PostgreSQL"
## Steps to reproduce

1. Run `lb4 discover` for creating the models
2. Run `lb4 repository` then created two controllers `lb4 controller lists todos`
3. Fixed the generated ids (related to bug #4557)
4. Created a simple relation (hasMany) `lb4 relation Lists`
5. Added `await app.migrateSchema();` for igniting auto-update
6. Run `npm start` then get an error.

## Current Behavior

[code]

## Expec

[2020-12-06 03:22] dhmlau commented on #6876
@mbnoimi, the error seems to be coming from the `character varying` datatype of the `title` property:
[code]

I haven't got a chance to dig into why the `pg` module (or its dependency) is giving parse error for that datatype.

[2020-12-06 04:43] mbnoimi commented on #6876
Do you advise me to use MariaDB/MySQL instead?
I'm struggling with LoopBack 4 & PostgreSQL (there are many unsolved bugs since a while)

[2020-12-07 16:14] achrinza commented on #5802
Closing as done.

[2020-12-07 16:14] #5802 closed

[2020-12-07 16:51] #3205 closed

[2020-12-07 18:42] mbnoimi commented on #6873
I'm unable to read most of the snippets in the docs unless I select it to make it readable:
![image](https://user-images.githubusercontent.com/284547/101391231-149daf80-38d5-11eb-8ead-13474eb9f7c2.png)
![image](https://user-images.githubusercontent.com/284547/101391264-20897180-38d5-11eb-8e81-189f7e492acc.png)

[2020-12-08 08:35] mtwinux commented on #6825
hi. that can be done, i will build one as soon as i find time !
as a workaround i had made some changes but i know maybe it's something i do wrong that may be the origin of the issue.

function loadDataSource(modulePath) {
    try {
        const ds = require(modulePath);
        //Looking for the DataSource
        for (const key of Object.keys(ds)) {
            if (key.indexOf('DataSource') >=

[2020-12-08 13:10] mbnoimi commented on #1234
Please take the decision; This issue opened in 2018!
I'm still learning LB4 and I already miss the feature. I was surprised why I can't execute `npm run start:watch` in LB4!

[2020-12-08 17:00] kpayson commented on #6832
I am having the same issue I think.  In my schema Tenants have multiple Clients and Clients have multiple Providers.  When I write a query for tenants that includes Clients and includes the Providers inside the Clients I get a max depth exceeded error.

  public async exportTenantData(
    @param.path.number('tenantId') tenantId: number
  ): Promise<any> {

    const inclusions = [
      {

[2020-12-09 05:57] benjamincburns opened #6894 "Allow middleware to redirect without the controller being involved."
## Suggestion

It would appear that today if some middleware logic wishes to send a redirect response, the controller must be aware of that and handle the redirection on behalf of the middleware. This seems a bit [incoherent](https://en.wikipedia.org/wiki/Cohesion_(computer_science)), as the controller is generally concerned with managing the resource defined by the REST endpoint, and not the need

[2020-12-09 16:18] mbnoimi opened #6895 "Deployment for production server"
## Suggestion

I suggest enhancing `package.json` for deploying a ready to go production distro.

## Use Cases

Deploying `dist` folder to VPS / Dedicated Server.
Currently, the developer must modify `package.json` by adding a script to be able to run `dist` folder correctly (see the discussion in [this link](https://stackoverflow.com/a/63750682/2015609))

## Acceptance criteria

TBD - will be fil

[2020-12-10 00:56] achrinza commented on #6895
As per-the StackOverflow answer, the default LB4 apps only require `dist`, `package.json` and `package-lock.json`. Is there a specific blocking issue?

[2020-12-10 06:53] pktippa commented on #6876
@mbnoimi this is not necessarily LoopBack or connector issue, I went through your code, the bug is in model property configuration.

for 'character varying' dataType, we need to specify dataLength key as well
[code]

[code]

and also the model cannot have same named properties, even via configuration. Ex:

[code]
cc @dhmlau

[2020-12-10 07:48] mbnoimi commented on #6876
@pktippa You forgot something very important I mentioned at the top of the issue. I said:

This mean I didn't make any mistake in the models because I didn't write them in the first place; `lb4 discover` generated the models which means there is a bug in `lb4 discover`

[2020-12-10 08:09] pktippa commented on #6876
Ah, my bad. The 'sql' folder has the DB which is used for `lb4 discover` ?

[2020-12-10 12:05] pktippa commented on #6876
The issue is in [loopback-connector-postgresql\lib\discovery buildQueryColumns](https://github.com/strongloop/loopback-connector-postgresql/blob/463becbce7c446a9d865b85e0513d93fd6374190/lib/discovery.js#L166-L185).

The query returns the `dataLength` as null, which is causing the issue during migrate.

![image](https://user-images.githubusercontent.com/7558577/101770021-d939f580-3b0d-11eb-95e2-7e6

[2020-12-10 12:56] mschipperheyn commented on #6791
I have been getting nowhere with NodeTracerProvider. Nothing captured in a stack with redis, graphql, mysql, express. We use es6 code with babel. Could this be the reason?

[2020-12-10 15:45] mbnoimi commented on #5244
@bajtos I faced the same problem [here](https://stackoverflow.com/q/65199386/2015609) (@achrinza thanks for pointing this issue)

[2020-12-11 04:59] jy-hirasawa commented on #6871
I got this error with yarn v1, but succeeded with yarn v2.
Thank you!

[2020-12-11 04:59] #6871 closed

[2020-12-11 07:10] ashwinsoni opened #6910 "Project on level 2 properties/fields"
## Steps to reproduce

Getting specific nested fields not working in lb4 (`"@loopback/repository": "^3.1.0"`)...
have a mongo document something like this
[code]
I am trying to query and get `value.sku` nested field only.
Example 1:
[code]
there is no result and errors

Example 2:
[code]
getting entire value object in result

## Current Behavior

- two level nested projection is not working on mon

[2020-12-13 14:34] aslamj opened #6918 "Custom Sequence as detailed in docs does not work"
## Steps to reproduce
1. Create a sample lb4 app using 'lb4 sample-api'
2. Modify the existing sequence.ts file to the following code based on documentation for the custom sequence: https://loopback.io/doc/en/lb4/REST-middleware-sequence.html#custom-sequences
[code]

## Current Behavior

When running the above app, the custom sequence's handle method is not being invoked.

## Expected Behavior

Th

[2020-12-13 17:25] MattRiddell commented on #6859
Anything I can do to help move this along?

[2020-12-14 05:39] Arathy-sivan commented on #6858
Can we create API without using model and repository in loopback4??

[2020-12-14 11:07] mrmodise commented on #6858
@Arathy-sivan very possible. The default [ping controller](https://github.com/strongloop/loopback4-example-shopping/blob/a0f474f0946084f710de91f75ffbe0d4df690235/packages/shopping/src/controllers/ping.controller.ts#L38) is a good example of such a case

[2020-12-14 11:09] mrmodise commented on #6858
Please see @jannyHou above and let me know if you still need help. I will be glad to help

[2020-12-14 14:56] mightytyphoon opened #6921 "Easy Websocket Decorators"
Hi !

## Suggestion

I want to propose an easy way to create a websocket server bound to loopback, with security such as cookies and optimizations but without changing the architecture of loopback framework.

## Use Cases

If you want to create a mixed http2 / websocket server or if you want to create a full websocket server using loopback framework.

## Examples

If I take the ping controller as

[2020-12-14 17:13] kpayson opened #6924 "query object exceeds maximum depth when have multiple one to many relationships"
In my schema Tenants have multiple Clients and Clients have multiple Providers. When I write a query for tenants that includes Clients and includes the Providers inside the Clients I get a max depth exceeded error.

[code]

I would really love to see this resolved.  I have complex schema and need to write routines to export different subsets of the data.  It will be quite hard to manually start to

[2020-12-14 17:26] grisson2 commented on #6426
I'm reopening this because i also need a clarification for accessing repositories from express-side:

I have cloned the loopback4-example-express-composition demo in order to do some experiments before migrating a lb3 app.
Then, i started testing some stuff including trying to access repositories from the express-side of the app:

server.ts
[code]

ClientRouter.ts
[code]

In this example i need to

[2020-12-14 17:28] grisson2 opened #6925 "Migration of LB3 "app.models.modelName.modelMethod""
I need need a clarification for accessing repositories from express-side:

I have cloned the loopback4-example-express-composition demo in order to do some experiments before migrating a lb3 app.
Then, i started testing some stuff including trying to access repositories from the express-side of the app:

server.ts
[code]

ClientRouter.ts
[code]

In this example i need to access repositories, get s

[2020-12-14 21:34] grisson2 commented on #6925
After a good refreshing meal and some research i got to this:

[code]

Looks like what i need but is this a correct way to do it?

[2020-12-15 06:12] Lipinalipi commented on #6858
how can we generate token without using model and repository in loopback4?

[2020-12-15 09:38] achrinza commented on #6895
The solution above should be suffice for production environments that have prebuilt LoopBack 4 artifacts. For production environments that want to build on deploy, `npm start` would be the go-to command.

We'll proceed to close this issue but continue to monitor for replies. If you believe the solution above isn't suffice, feel free to comment what may have been missed and why, so that we can re-o

[2020-12-15 09:38] #6895 closed

[2020-12-15 12:41] Sweet-Bob commented on #2488
In most frameworks, hasMany do this behaviour by default (return only ids), but when you pass { include: 'entity' }, it behave like embedded.

[2020-12-15 15:21] saravanababu1694 opened #6932 "Jwt authentication"
I am using jwt authentication service in loopback 4 how to revoke a token, i am not getting any boolean values the jwt is getting authenticated by passing any or previous user token to it how to prevent that.

[2020-12-16 08:44] hadnet commented on #2488
Is this relation not implemented in LB 4 yet?

[2020-12-16 09:05] anishjain94 opened #6935 "need good resource to learn loopback"
hi, community.
I recently started learning loopback and have been facing issues in learning loopback with proper guidance and understanding. I have tried referring to documentation but no success there as well. The mail issue that I am facing is creating any working app using documentation. Please guide me with this.

[2020-12-16 09:13] mbnoimi commented on #6935
I myself a newbie too. Follow the tutorials [here](https://loopback.io/doc/en/lb4/Tutorials.html); They are very useful.
Don't forget to [subscript to Slack](https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw) channel;There are many

[2020-12-16 12:04] bhupesh-sf commented on #6791
@raymondfeng I created a separate file with trace provider and loaded it using `node -r opentelemetry-registry.js` and everything worked out of the box.

Here is an example of my `opentelemetry-registry.js` file

`import { JaegerExporter } from '@opentelemetry/exporter-jaeger';
import { NodeTracerProvider } from '@opentelemetry/node';
import { SimpleSpanProcessor, ConsoleSpanExporter } from '@open

[2020-12-16 12:09] bhupesh-sf commented on #6791
@mschipperheyn Please try the above solution it shall work. Please note you have to install all the other auto instrumentation plugins like `@opentelemetry/plugin-http, @opentelemetry/plugin-https, @opentelemetry/plugin-express, @opentelemetry/plugin-pg-pool, @opentelemetry/plugin-pg, @opentelemetry/plugin-ioredis` OR any other of your requirement.

[2020-12-16 12:10] coderade commented on #5161
@raymondfeng I am having the same problem when I am trying to run my tests.

If I try to instantiate my repository with the `app.getRepository()` method, I receive the following error:

     ResolutionError: The key 'rest.http.request' is not bound to any value in context...

Because my repository has the `Request` class injected.

     constructor(@inject(RestBindings.Http.REQUEST) private req: R

[2020-12-16 13:10] achrinza commented on #6935
I've heard that @\marioestradarosa's video has been a good help to many newcomers: https://youtu.be/cgBCRY169qg

For StackOverflow, please consider using the [#loopback4](https://stackoverflow.com/questions/tagged/loopback4) tag in addition to [#loopbackjs](https://stackoverflow.com/questions/tagged/loopbackjs) so that the community can distinguish between LB3 and LB4 questions. Though I would rec

[2020-12-16 13:26] achrinza commented on #6925
Yes, it's a valid way of doing it. Feel free to ask for any clarifications 😃

[2020-12-16 13:43] achrinza commented on #6921
`@inject(RestBindings.Http.REQUEST)` tells LB4 to put an instance tied to that key into a variable during (controller) resolution time. As the name suggests, this binding is meant for REST only and is only populated when passed through the REST server. When the Controller is resolved outside of the "REST handler" workflow, this binding key is not bound to any value - Hence, the error.

You can con

[2020-12-16 14:03] giano commented on #2700
Thank you @charlypeluch, you saved me from hours of frustration

[2020-12-16 15:49] mightytyphoon commented on #6921
@achrinza thanks a lot for your response.

after a bit of tries I finally managed to inject my own req using function bindings. It works like this :

[code]

So the 2 protocols should be able to work together. Now I need to implement all default @inject bindings and I need to make an optimized filter that will inject the wanted params by default and check if params given by user have the good type

[2020-12-16 18:03] dhmlau commented on #6935
There are also examples: https://loopback.io/doc/en/lb4/Examples.html that might help you.

[2020-12-17 06:06] BIMMITHA-GB commented on #2267
Is there any possible way to encrypt password using MD5 encryption in loopback? And how it is implement in our loopback4 program.

[2020-12-17 06:27] Lipinalipi commented on #2267
md5 encryption is possible or not in loopback4?

[2020-12-17 09:28] achrinza commented on #2267
@BIMMITHA-GB @Lipinalipi LoopBack 4 does not have any special requirements for password hashing. Hence, you can use whichever hashing library to has the password before storing it in the database. This can be done either in the Service (recommended), Controller or Repository level. `@loopback/authentication-jwt` uses bcrypt, a strong, purpose-built hashing algorithm.

[2020-12-17 11:15] achrinza commented on #6932
You can try injecting `RestBindings.Http.RESPONSE` and then using `res.clearCookie()`.

[2020-12-17 12:13] indrakumarprajapat commented on #6932
@achrinza let me correct the question plz, we are using jwt authentication, and our requirement is that, the token should be expired on every new login, that means, a user cannot login on multiple device at the same time. So what we were thinking is that, every time on login we are creating a new token and that token we are saving into user table. For every login the previously stored token, we ar

[2020-12-17 14:00] mightytyphoon commented on #6921
For anyone interested, I tried in local websocket request vs http request for ping function, and the websocket server gives the answer more than 100x faster than XMLHttpRequest (deprecated) and 6x faster than fetch.

ws: 0.05908203125 ms
http-XMLHttpRequest: 7.02685546875 ms
http-fetch: 0.38720703125 ms

![testwshttp](https://user-images.githubusercontent.com/4013025/102496951-5cac9700-4078-11eb-8

[2020-12-17 21:22] dougal83 commented on #2267
Can I just say... **don't encrypt a password with MD5**.  MD5 should be for creating file signatures, etc that require a fast hash.  Password encryption should be computationally expensive to make them resistant to brute force attacks.

+1 to the fellow above using 'argon2' implementation. 👍

[2020-12-18 04:05] achrinza opened #6938 "Introduce a "is standard filter" type guard helper function"
## Suggestion

Introduce a helper function that will check if the filter object contains any non-standard keys.

## Use Cases

This is useful for aiding developers in discovering non-standard filters as part of assessing their LB4 app codebase's datastore interopability.

## Examples

[code]

## Acceptance criteria

TBD - will be filled by the team.

[2020-12-18 11:46] Maryfitza8 opened #6939 "#6207"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2020-12-18 12:54] #6939 closed

[2020-12-18 13:42] hacksparrow commented on #6935
@anishjain94 you may find my tutorial helpful too - https://www.hacksparrow.com/loopback/tutorials/loopback-4.html.

[2020-12-18 14:12] justin65 commented on #5603
@ianjenkinsii You can have your own jwt.service.ts and bind it like this.
`    this.bind(TokenServiceBindings.TOKEN_SERVICE).toClass(
      JWTService,
    );`

[2020-12-19 08:53] #6925 closed

[2020-12-23 04:54] blackpandan commented on #6391
hello, I would love to work on this

[2020-12-23 05:16] hacksparrow commented on #6391
@blackpandan sure, please go ahead.

[2020-12-23 14:36] achrinza commented on #6840
At a glance, I think the preceding feature we need to implement is referencing other values within the same model (e.g. Model.propA == Model.propB). From there, we can build on top of that feature to create more complex intra-model property comparators.

[2020-12-23 14:38] achrinza commented on #6779
Closing as stale / likely solved. Feel free to request re-opening this issue if you believe this was a mistake.

[2020-12-23 14:38] #6779 closed

[2020-12-23 14:44] achrinza commented on #6751
I think the main issue right now is that PUT is a "compound" action, meaning that it requires multiple database queries. This breaks ACID compliance. A workaround would be to utilize the Transactions API, but not all connectors (notably MongoDB) support this feature.

Hence the current setup is a trade-off of not supporting the "correct" operation in favour of giving the most diverse support to th

[2020-12-24 01:16] baarney commented on #6751
Can we re-open #2550 and move the technical discussion there, as I think there are two separate questions:

1. Whether the default repo should support upsert/createOrReplace.
2. Whether CrudRestComponent should use that for its PUT oprtation.

And discussing (2) almost certainly depends on the outcome of (1).

[2020-12-24 01:36] achrinza commented on #6751
For the first point, I believe the direction is to not support such "compound" repository functions and remove existing implementations in favour of explicit transactions. See #897.

[2020-12-24 02:01] baarney commented on #6751
Thanks for those references. After reading those, may as well close this as won't fix.

I'm disappointed that LB decided to drop support for `updateOrCreate` in #897 as it is a fundamental database operation. By making that choice you are just pushing the problem out to the client, which goes against the whole point of using a framework. But you've had that discussion and made the decision, so no

[2020-12-24 04:06] MinSunLee commented on #5757
Dear @agnes512,
I try remove statement as you guide, but not working for me.

I executed cmd to generate model-endpoints:

And I removed statement `[prop: string]: any;` in model file, but not working.
When POST with value of ID field, I receive error message:

[2020-12-24 13:56] mbnoimi commented on #4565
I saw the same warning when I generated my models using LB4 CLI for PostgreSQL.

Both of us (@UsmanJavedAttari) use RDBMS not NoSQL!

Because I use RDBMS connector I expect from LB4 CLI generating a model without `{strict: false}`; Why I need to modify it manually?!
Am I right?; If yes. Please reopen this issue.

[2020-12-24 14:04] achrinza commented on #4565
It's considered a non-issue as RDBMS connectors will ignore it and there's no substantial problems caused.

I'm guessing this is with regard to `lb4 discover`? It's added so that the Model definition functions as close as possible to the original database schema, even if it's used on a NoSQL database.

Since `lb4 discover` is meant to create a Model definition that is a "correct as possible" irreg

[2020-12-25 05:02] achrinza commented on #4759
Closing as done.

[2020-12-25 05:02] #4759 closed

[2020-12-25 05:34] Arathy-sivan commented on #5407
src/controllers/ctr-users.controller.ts:75:18 - error TS2345: Argument of type '{ description: string; required: boolean; content: { 'application/json': { schema: { type: string; required: string[]; properties: { login: { type: string; }; password: { type: string; minLength: number; }; }; }; }; }; }' is not assignable to parameter of type 'Partial<RequestBodyObject>'.
  Types of property 'content'

[2020-12-25 07:01] achrinza commented on #5407
@Arathy-sivan Please ask in the Slack channel, StackOverflow with #loopback4 tag, or open a new GitHub issue

[2020-12-25 07:01] raymondfeng commented on #5407
See https://loopback.io/doc/en/lb4/changelog.openapi-v3.html#breaking-changes

[2020-12-25 12:09] achrinza opened #6957 "Update LoopBack 3 status to end-of-life (EOL)"
This issue is to keep a consolidated list of pull requests to update the LoopBack 3 status from Maintenance LTS to End-of-Life (EOL).

- [loopback-next](https://github.com/strongloop/loopback-next) (#6908)
- [loopback](https://github.com/strongloop/loopback)
- [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler)
- [loopback.io](https://github.com/strongloop/loop

[2020-12-25 12:14] achrinza commented on #6932
Sorry for missing your reply - In this case, one solution is to create a revoke table to keep track of the revoked tokens.

AFAIK, token revocation isnt' supported in `@loopback/authentication-jwt`. We could consider supporting such as feature, though it might be better-suited to be stored in a [Key-Value store](https://loopback.io/doc/en/lb4/Repository.html#access-keyvalue-stores) where there's n

[2020-12-25 13:04] shadyanwar commented on #3357
@dhmlau I’m happy to help

[2020-12-25 16:09] #4632 closed

[2020-12-25 16:10] #4672 closed

[2020-12-25 18:00] #3822 closed

[2020-12-25 18:00] #3561 closed

[2020-12-25 18:00] #2394 closed

[2020-12-25 18:00] #2557 closed

[2020-12-25 18:00] #3728 closed

[2020-12-26 10:18] Arathy-sivan opened #6958 "@post('/todos/login', { responses: { '200': { description: 'Token', content: { 'application/json': { schema: { type: 'object', properties: { token: { type: 'string', } } } } } } } }) async login( @requestBody(CredentialsRequestBody) credentials: Credentials, ): Promise<{ token: string }> { const user = await this.userService.verifyCredentials(credentials); const userProfile = this.userService.convertToUserProfile(user); const token = await this.jwtService.generateToken(userProfile); return { token }; } }"

[2020-12-26 10:19] #6958 closed

[2020-12-26 10:28] Arathy-sivan opened #6959 "When I am trying to login then showing the error message ."
[code]

My controller is

[code]

How to solve this error?

[2020-12-27 02:56] dhmlau commented on #6959
@Arathy-sivan, could you please provide more information on how to reproduce this problem? Are you using the `todo-jwt` example? Thanks.

[2020-12-27 03:12] raymondfeng commented on #6959
@Arathy-sivan You probably didn't see my comment in the other issue. Please see https://loopback.io/doc/en/lb4/changelog.openapi-v3.html#breaking-changes

[2020-12-28 06:56] #6918 closed

[2020-12-28 07:44] Arathy-sivan commented on #6959
Is this given to "openapi-spec.ts" file??

[2020-12-28 09:42] hacksparrow commented on #6959
@Arathy-sivan please share a simple app reproducing the error, I will take a look what's going on.

[2020-12-28 14:46] dougal83 commented on #6873
Hey @mbnoimi  Sorry to hear that you're having difficulties with the code snippets.  May I ask if you have any conditions such as colour blindness?  As a personal fix you could potentially use a browser extension such as [User CSS](https://chrome.google.com/webstore/detail/user-css/okpjlejfhacmgjkmknjhadmkdbcldfcb/related?hl=en) whereby you can alter the colours to suit you manually.

The followin

[2020-12-28 17:40] mbnoimi commented on #6873
No, I don't have. But I use [redshift](http://jonls.dk/redshift/) in Linux which change the color temperature depending on location and period because I spend many hours on monitors.

I use [CSS Override](https://github.com/swcolegrove/css-override-web-extension).

Thanks a lot. It works fine (sorry; I'm lazy enough to modify the css be myself)

[2020-12-29 04:20] dineshkuncham7 opened #6960 "While updating record by id using repository throwing ROWCOUNT error"
## Steps to reproduce
my model looks like these

[code]

My repository

[code]

in my controller
[code]

I have generated my application using lb4 cli

## Current Behavior

When I use `updateById()` (e.g. `this.testModelRepository.updateById(id,{working:true})`), I am getting the `Must declare the scalar variable "@@ROWCOUNT"` error.
I tried to print the SQL query that is generated by changing deb

[2020-12-29 04:31] f-w commented on #1919
I also confirmed the workaround keeps the reference to the request context generated by the first repository instance.
For example, with code

[code]

1. Subsequent http requests use the `httpCtx` of the first request
2.  In a test, when first inserting items using the repository (which has no http context), then querying using super test client, the httpCtx of the query request is null.

Not only

[2020-12-29 04:45] achrinza commented on #6960
Hi @dineshkuncham7, as per-the issue template, could you please also provide the output of these commands and put it under "Additonal information"?

    node -e 'console.log(process.platform, process.arch, process.versions.node)'
    npm ls --prod --depth 0 | grep loopback

[2020-12-29 04:50] achrinza commented on #6960
This command should be executed at the LB4 project root (same level as `package.json`) and should provide an output of the installed LB4 dependencies.

[2020-12-29 04:54] dineshkuncham7 commented on #6960
Hi,
I have updated the additional informations. As for the value of 'id' it is a number i am getting from POST request. In this case it is 987 as we can see in the log

[2020-12-29 06:33] Arathy-sivan commented on #6959
[src.zip](https://github.com/strongloop/loopback-next/files/5749789/src.zip)

[2020-12-29 07:51] achrinza commented on #6959
In the `CredentialsRequestBody` variable, change `type: string` to `type: 'string'` (notice it's a "string" instead of the JavaScript primitive String)

[2020-12-29 07:53] achrinza commented on #6959
Just a friendly heads up, most open source company policies (mine included) disallow downloading unknown ZIP files directly due to security concerns - Please consider creating a GitHub repo that can be cloned by the developers.

[2020-12-29 11:24] achrinza commented on #6960
Unfortunately I've not been able to replicate the issue from my end (MSSQL 2019). Are you able to provide a minimum-reproducable GitHub repo, and/or provide a sequence of steps to reproduce the issue?

[2020-12-29 13:05] achrinza opened #6962 "Unusual handling of "this" in DefaultCrudRepository.modelClass.observe()"
The current issue title is a placeholder as the exact issue is unknown.

The issue was created to help properly prioritize and discuss the issue discussed in #1919 and keep the topics separate.

**@mycolaos's comment:**

**@f-w comment:**

**@achrinza's comment**

[2020-12-29 13:07] achrinza commented on #1919
Thanks for providing your detailed findings, looking into this right now.

---

These are my preliminary findings:

I have not been able to replicate this. In my testing, this has always resulted in a `key 'xxx' is not bound to any value` error as Repositories are bound _outside of the REST context_, at the parent context - which is expected behaviour.

I have tested and gotten the aforementioned

[2020-12-29 17:57] dineshkuncham7 commented on #6960
The column 'id' is an identity column in MSSQL, have you tried it that way?. Unfortunately i can't provide Github repo, in general what might me the issue?

[2020-12-29 18:29] manchuwook opened #6963 "lb4 openapi generator returns ResolverError when main spec contains schemas in subfolders"
## Steps to reproduce

Created a default template OpenAPI spec using subfolders via [Stoplight Studio](https://stoplight.io)

## Current Behavior

command in models folder:
lb4 openapi --path ./models/openapi-spec.v1.json

Returns error:
Generation is aborted: ResolverError: Error opening file "c:\path\to\spec\models\subfolder-model.schema.v1.json"
ENOENT: no such file or directory, open 'c:\path\

[2020-12-29 19:11] f-w commented on #6962
https://github.com/f-w/lb4-issue-6962 is the minimum-repro example built out of vanilla lb4 cli. Key point is [here](https://github.com/f-w/lb4-issue-6962/blob/master/src/repositories/product.repository.ts#L24-L33).

1.  init
[code]
2.  to repro *Subsequent http requests use the httpCtx of the first request*
     1. run `node .`
     2. in another console, run
[code]
    3. first console outputs
[

[2020-12-30 02:13] maher1719 opened #6964 "TypeError: this.userRepository.userCredentials is not a function"
I just copied authentication-jwt example from the documentation page and got this error

https://user-images.githubusercontent.com/25207866/103325641-e848ff00-4a4c-11eb-95f1-772e34a2091a.mp4

Request POST /signup failed with status code 500. TypeError: this.userRepository.userCredentials is not a function
    at ConnectController.signUp
npm dependencies
"dependencies": {
    "@loopback/authenticat

[2020-12-30 05:00] Arathy-sivan commented on #6959
There is no change in error when changing type

[2020-12-30 05:37] hacksparrow commented on #6959
@Arathy-sivan please share the project on GitHub as mentioned by @achrinza.

[2020-12-30 09:09] achrinza commented on #6964
Try updating the constructor injection to the following:

[code]

[2020-12-30 12:08] achrinza commented on #6962
Thanks for providing the reproduction sandbox and steps - I've managed to consistently replicate the issue from my end, and was able to confirm that this only happens in _Juggler model observers_.

[2020-12-30 14:04] achrinza commented on #6960
I've generated the table using `npm run migrate -- --rebuild`. Was the table generated outside of LoopBack 4? If so, would it be possible to provide the table schema?

[2020-12-30 17:54] hacksparrow commented on #6001
Fixed in https://github.com/strongloop/loopback-next/pull/6036.

[2020-12-30 17:54] #6001 closed

[2020-12-30 21:45] maher1719 commented on #6964
I updated it but still the sale issue I tried login function it said verifyCredentials is not a function, but when I use UserRepository orm methods like save() and update() it works fine

[2020-12-31 02:07] dhmlau commented on #6964
@maher1719, I can take a look at the docs and see if there's any outdated content.
In the meanwhile, the easiest way is to review the [todo-jwt example](https://github.com/strongloop/loopback-next/tree/master/examples/todo-jwt) and compare what you have. Hope it helps.

[2020-12-31 03:23] maher1719 commented on #6964
@dhmlau @achrinza thank you for the support, I started a new project, and it worked just fine. I tried to upgrade the relatively old project  I got from my team, but it didn't work. Thank you for the help...

[2020-12-31 05:38] dineshkuncham7 commented on #6960
CREATE TABLE boim.test (
	id int NOT NULL,
	date_created datetime NOT NULL,
	start_date datetime NULL,
	end_date datetime NULL,
	charge nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	param nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	output nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	response nvarchar COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	status varchar(

[2021-01-01 00:06] Cethy commented on #6131
As a temporary workaround, copy-pasting the id definition in the "used" models makes the cli works as expected.

[2021-01-01 02:03] dhmlau commented on #6964
@maher1719, that's good to hear. Please note that you can view the change logs, especially looking for the ones with breaking changes when you're upgrading to a later version of the modules.
With this, I'm closing this issue. Thanks.

[2021-01-01 02:03] #6964 closed

[2021-01-01 10:20] achrinza commented on #6960
Thanks for providing the SQL command.

Unfortunately I'm still unable to replicate the issue from my end.

This is the SQL command used for setting up the database:

[code]

[2021-01-02 11:21] mrmodise commented on #5220
@bajtos when you're back I would like for us to close all the items on this issue. Thanks

[2021-01-03 04:18] dineshkuncham7 commented on #6960
I don't understand, please use the create script I have posted as it is.

[2021-01-04 09:04] bajtos commented on #4607
`< /dev/null` is just an easy way how to reproduce the scenario when LB4 CLI is invoked with an empty input stream. This is often the case when invoking CLI programmatically, as part of a larger automated scenario.

It seems that GitHub Actions are running scripts this way, see https://github.com/strongloop/loopback-next/pull/5110#issuecomment-753851007

[2021-01-04 10:22] vunyunt opened #6968 "findByForeignKeys improperly imposing constraint to scope"
I discovered this issue when trying to have deep include filter in HasManyThrough relationship. The following line in `findByForeignKeys` imposes constraint onto the original scope object. When querying with deep inclusion, inclusion in any entity has all constraints from previous found entities.

[code]

A simple _.cloneDeep solves this issue for my use case, though I'm not sure if it affects any

[2021-01-04 12:07] achrinza commented on #6968
Thanks for raising the issue!

It seems like #6955 (specifically, [this line](https://github.com/strongloop/loopback-next/pull/6955/files#diff-bdf40a76216a85fd324c0b4276b7453ed59db93dc8fdf7418d458021da1ec2feR42)) should solve this issue.

If possible, could you please try out that PR's branch and check if it resolves the issue?

[2021-01-04 12:35] vunyunt commented on #6968
I'll try it, thanks!

[2021-01-04 13:04] vunyunt commented on #6968
Tried it on both the test sandbox and my use case, the query now returns correctly :+1:

[2021-01-04 13:04] #6968 closed

[2021-01-04 13:16] bajtos commented on #4607
On the second thought, the purpose of `< /dev/null` may also be to trigger non-TTY mode. I am not sure now, it has been quite some time since I was looking into this problem last time.

[2021-01-04 13:41] hacksparrow opened #6969 "Put up notice about EOL of LB3 on relevant pages and packages"
In a follow up PR of https://github.com/strongloop/loopback-next/pull/6967, we should inform our users that LB3 is not supported anymore. Some of them end up on https://loopback.io/doc/en/lb4/migration-mounting-lb3app.html and assume that's the way to keep using their existing LB3 apps.

I identified the following pages where the notice must be put.

- https://github.com/strongloop/loopback-next/t

[2021-01-04 15:55] rajat-sawant-wu commented on #2213
For me it worked by making the registry url **https**

npm config set registry "https://registry.npmjs.org/"

[2021-01-04 20:39] dineshkuncham7 opened #6971 "Enabling typecast for model properties in filter object of query"
## Suggestion

I would like to see a option to typecast the model fields in filter object of find query, i.e in short I would like to run sql query equivalent to

Select * from feature where CAST(createdDate as date) > getdate()-4 order by createdDate

here type of createdDate field is string in database

## Use Cases

This would be useful to execute queries by changing the type in runtime without

[2021-01-05 08:00] rmsgit opened #6972 "When mount loopback 3 app into loopback 4, Cannot set headers after they are sent to the client (Error [ERR_HTTP_HEADERS_SENT])"
Hi all, I'm trying to mount loopback 3 app into loopback 4 app. Currently, I  successfully mounted according to the official documentation. But when I trying to do a load test (virtual users: 300 / sec, timeout: 10s), "ERR_HTTP_HEADERS_SENT" error is throwing. When I trying with lb3 or lb4  individually it's never happening for this load. Additionally, when I increase timeout duration in load test

[2021-01-05 14:56] agnes512 commented on #5757
@MinSunLee could you share you model?

[2021-01-05 18:21] #5814 closed

[2021-01-05 18:21] bradharms commented on #4452
Sorry for the long delay in response to this. We were using our in-house solution and I kind of forgot about this issue until now, as recent changes in Loopback's API have brought it to the surface again.

@raymondfeng After reviewing the examples provided I don't think they address the issue I'm describing. The examples shown seem to refer specifically to injection of the configurations _themselv

[2021-01-06 06:05] carlos-peru commented on #6959
You need to explicitly enforce the inference. Update the definition of your CredentialsRequestBody's schema and explicitly type it:

[code]

[2021-01-06 06:55] Arathy-sivan commented on #6959
While executing this code results the error shown below:

**{
	"resource": "/d:/tech/hr-be/src/controllers/ctr-users.controller.ts",
	"owner": "typescript",
	"code": "2345",
	"severity": 8,
	"message": "Argument of type 'SchemaObject' is not assignable to parameter of type 'Partial<RequestBodyObject>'.\n  Types of property 'required' are incompatible.\n    Type 'string[] | undefined' is not assign

[2021-01-06 11:06] emiliobristech opened #6973 "Logger is not found (@loopback/logging)"
Hello! I'm trying to use logging features but I'm stuck because Logger is not found.

## Steps to reproduce

1) Followed this documentation: https://loopback.io/doc/en/lb4/Logging.html
2) This is my import statement: `import {LoggingBindings, Logger} from '@loopback/logging';`
3) Here is declaration:   `@inject(LoggingBindings.WINSTON_LOGGER) private logger: Logger;`

## Current Behavior
Got this

[2021-01-07 02:40] dhmlau commented on #6973
@emiliobristech, looks like the code snippet from the docs is up-to-date. Could you please try to use `WinstonLogger` instead of `Logger` in your step#3?
It's exported as `WinstonLogger` according to https://github.com/strongloop/loopback-next/blob/master/extensions/logging/src/winston.ts#L24-L29.

[2021-01-07 02:49] dhmlau commented on #6963
@manchuwook, i believe you need to run it at the root of the LoopBack application.
When I run it inside the src folder, I got the same error as you. However, if I go back to the root folder and use `lb4 openapi --url ./src/models/myopenapi.json`, it works fine. Hope it helps.

[2021-01-07 08:15] bajtos opened #6976 "CI builds for Windows via GitHub Actions"
This is a follow-up for https://github.com/strongloop/loopback-next/pull/5110, where we configured CI builds to run on GitHub Actions, but did not manage to pass all tests on Windows.

My current understanding is that GitHub Actions is running CI scripts with non-TTY (and possibly empty) `stdin` stream, thus  triggering TTY-related issues as described in https://github.com/strongloop/loopback-next

[2021-01-07 08:18] bajtos opened #6977 "Add Node.js 15 to the build/test matrix"
This is a follow-up for #5110, where we configured CI builds to run on GitHub Actions but did not manage to pass the tests on Node.js 15.

Based on https://github.com/strongloop/loopback-next/pull/5110#issuecomment-755198271, it looks like SQLite package is not correctly installed.

In the past, we had to downgrade npm to v6 when testing on Node.js 15 (see #6897), perhaps that's something to apply

[2021-01-07 09:58] grisson2 opened #6978 "Automatically call "eslint --fix" after file changes made by lb4 cli tool"
## Suggestion

Command line tool lb4 should call eslint when it apply changes to user project files.
The user may have added custom eslint rules which may generate errors with the lb4-cli tool generated syntax.
Some of them may be solved automatically so instead of forcing the user to always manually fix these errors by calling itself an eslint instance, launch a 'eslint --fix' on the changed file

[2021-01-07 10:26] emiliobristech commented on #6973
Hello, thank you for your help, now it worked but before I had to configure Fluent:

    this.configure(LoggingBindings.COMPONENT).to({
      enableFluent: false, // default to true
      enableHttpAccessLog: true, // default to true
    });

    this.configure(LoggingBindings.FLUENT_SENDER).to({
      host: process.env.FLUENTD_SERVICE_HOST ?? 'localhost',
      port: +(process.env.FLUENTD_SERVICE

[2021-01-07 10:56] achrinza commented on #6978
LoopBack 4 Generation commands have the `--format` option which will run the `lint:fix` NPM script.

See example:

https://loopback.io/doc/en/lb4/Model-generator.html

[2021-01-07 10:58] achrinza commented on #6973
Can you ensure that `.configure()` is called before `.component()`?

See #6930

[2021-01-07 12:22] emiliobristech commented on #6973
You're right, I changed the order and now it doesn't throw any error but it doesn't log anything to console. I suppose I need to configure this:

[code]

But, how do I get `ctx`? And, in this configuration, where does log goes?

Thanks in advance,

[2021-01-07 12:39] a3diti commented on #5074
the `partial: 'deep'` is non-functional at all, i am going to try [json8-merge-patch](https://github.com/sonnyp/JSON8/tree/master/packages/merge-patch)

[2021-01-07 13:03] grisson2 commented on #6978
Thanks, missed it from docs.

[2021-01-07 13:03] #6978 closed

[2021-01-07 13:05] a3diti commented on #5074
@dhmlau It should be considered to patch an array using only the selected array item number, it can be helpful for small operations

[2021-01-07 16:32] raymondfeng commented on #6973
@emiliobristech `this` is the context for Application constrcutor.

I think you need to configure a transport - https://github.com/strongloop/loopback-next/blob/master/extensions/logging/src/winston.ts#L65

[2021-01-07 17:57] emiliobristech commented on #6973
Yeah, you're right. This is what I'm trying to figure out how. Here is my code:

    this.configure(LoggingBindings.COMPONENT).to({
      enableFluent: false, // default to true
      enableHttpAccessLog: true, // default to true
    });

    const consoleTransport = new WinstonTransports.Console({
      level: 'info',
      format: format.combine(format.colorize(), format.simple()),
    });
    t

[2021-01-07 23:43] manchuwook commented on #6963
I have been running it from the root of the loopback app.  I first started by trying to refer to the schema by absolute path, then relative to the project, then copied the schema into a folder called "model"

None of these worked as intended.

[2021-01-08 00:17] dineshkuncham7 commented on #6960
Any update on this? I created table with the SQL script you provided, I am getting the same error can you tell me what am I missing?

[2021-01-08 00:31] NorthDecoder opened #6980 "Fix example inclusionFilter in documentation"
__Reference page__: docs/site/Include-filter.md

Near the following text:

is an example code block

[code]
It seems the last line of code should read as follows
[code]
where the requested changes are:
- __FROM__: `filter`
- __TO__: `inclusionFilter`

## Steps to reproduce
Observe the example code in the documentation and then using the
rubber duck method ask the duck what the value of `filter` is

[2021-01-08 04:02] justin65 commented on #4044
@alexkander Did you find out the problem of "port in use" issue? I found that the key is the value of "host" in config.
`
const config = {
    rest: {
      port,
      host: process.env.HOST ?? 'localhost',
      openApiSpec: {
        // useful when used with OpenAPI-to-GraphQL to locate your application
        setServersFromRequest: true,
      },
    },
    websocket: {
      port
    }
  };`

[2021-01-08 14:00] alexkander commented on #4044
@d-bo I couldn't even replicate the problem. If you could create a repo test with the minimum configuration that generates the error, I could review it.

[2021-01-08 14:11] justin65 commented on #4044
@alexkander I just fork the project and add a commit to replicate the problem.
Could you please take a look for https://github.com/justin65/loopback4-example-websocket-app.git?
I think the issue is caused by different http server instances in both rest and socketio. Am I right?

[2021-01-08 14:24] alexkander commented on #4044
@d-bo with your repository I can replicate the problem. I'll take a look as soon as I can

[2021-01-08 15:48] #6980 closed

[2021-01-08 16:03] #6106 closed

[2021-01-08 18:34] dhmlau commented on #6973
From my understanding, there's some option you can set in the logger. I found this example: https://github.com/karannagupta/loopback4-express-with-logging/blob/e205a7809f4b7cf59c280d46883272989e426686/src/lib/logger/winstonLogger.ts.

[2021-01-08 18:35] dhmlau commented on #6963
What's your node.js version and the `@loopback/cli` version?

[2021-01-08 18:38] dhmlau commented on #6932
Closing as the question was answered.

[2021-01-08 18:38] #6932 closed

[2021-01-08 20:30] manchuwook commented on #6963
Sure!

lb4 --version
[code]
node --version
[code]

[2021-01-09 07:13] ofrzeta opened #7000 "Support path argument with socket.io"
## Suggestion

The socket.io extension should support the "path" argument in addition to the "namespace" parameter, following the socket.io API https://socket.io/docs/v3/server-api/.

## Use Cases

Better separation of socket.io endpoints in Loopback. Also potentially API versioning of websocket API in an application.

## Examples

@socketio({path: 'apiv1', namespace: '/chats'})
export class Socke

[2021-01-09 08:44] ofrzeta commented on #7000
I think I found that it's possible to pass the path through options.socketIoOptions of SocketIoApplication. That's not in the docs https://loopback.io/doc/en/lb4/apidocs.socketio.socketioapplication.html unfortunately.

[2021-01-09 12:23] #6962 closed

[2021-01-09 19:58] emiliobristech commented on #6973
You're right but the problem here is that even minimal configuration where log output is in console is not working. According to what I've read and saw in code, this would be enough to output log to console:

    this.configure(LoggingBindings.COMPONENT).to({
      enableFluent: false, // default to true
      enableHttpAccessLog: true, // default to true
    });

    this.configure<LoggerOptions>

[2021-01-09 20:29] emiliobristech commented on #6973
OK, after researching how to do it in Express I found the solution. I running application through VSCode debug and to output logs in debug console, you must add following parameter to launch.json: `"outputCapture": "std"`. PS: Add as latest parameter of `configurations` .

Besides, here is the final configuration that worked:

1. Add this to constructor of `application.ts`
[code]

2. Declare logge

[2021-01-09 20:29] #6973 closed

[2021-01-09 21:25] mAlaliSy commented on #4044
How can I create a REST and socket.io application?

[2021-01-10 01:05] JorisPalings opened #7006 "Sort exceeded memory limit of 104857600 bytes, but did not opt in to external sorting."
I have a MongoDB database with approximately 80k records and a pretty basic Loopback 4 API to perform simple CRUD operations on it.

To paginate these 80k records, my frontend sends the following request to the API:
`GET /articles?filter[limit]=100&filter[skip]=80200&filter[order][0]=publication_date%20DESC&filter[order][1]=language%20DESC`

This returns an error 500 to my frontend.
In the termina

[2021-01-10 13:27] achrinza commented on #6960
Sorry for the delayed reply; After some internet sleuthing, it seems like the [@@ROWCOUNT function](https://docs.microsoft.com/en-us/sql/t-sql/functions/rowcount-transact-sql?view=sql-server-ver15) is not supported in Azure Synapse Analytics (formerly Azure Data Warehouse):

https://feedback.azure.com/forums/307516-azure-synapse-analytics/suggestions/14889516--rowcount-support

I was able to find

[2021-01-11 05:54] bhupesh-sf commented on #6791
@raymondfeng Can you please suggest on above?

[2021-01-11 11:44] joeytwiddle commented on #4375
@derdeka MongoDB has no feature that I know of to set default fields.

Therefore I think the options available are:

1. Have loopback fill default values when reading documents (and maybe when writing documents too).

2. Loopback could expose a function that will check and update all documents in a collection. Like step 1. but it is manually triggered, and checks all documents in one call.

   Thi

[2021-01-11 18:22] NorthDecoder opened #7010 "API DOCS links discrepancy betwee LB4 top and side menus"
![loopback4-api-docs](https://user-images.githubusercontent.com/9598008/104221153-61edcf00-53f5-11eb-9927-1a6467ab57a5.png)

## Steps to reproduce
Browse to [https://loopback.io/doc/en/lb4/index.html](https://loopback.io/doc/en/lb4/index.html)
* Note in the top menu bar that the link to API DOCS resolves to the loopback3 documentation [http://apidocs.loopback.io/](http://apidocs.loopback.io/)
* Th

[2021-01-11 19:48] grisson2 opened #7011 "Linter error when applying multiple mixins on a repository"
On loopback 3, setting up multiple mixin on a single model is easily achievable by adding them in the model json file under the  mixin property. While migrating them to loopback 4, using as source the documents:

- https://strongloop.com/strongblog/2020-share-repository-code/
- https://loopback.io/doc/en/lb4/Mixin.html

i can't get it to work even in the most basic example:

[code]

Typescript com

[2021-01-12 00:12] dhmlau commented on #7010
@NorthDecoder, thanks for reporting this. The top menu of the page you've shown is shared between LoopBack 3 and LoopBack 4, so it was showing the LoopBack 3 API docs as the default content. With LB3 EOL, let me submit a PR to update the link.

[2021-01-12 04:41] vinutha93bnvs opened #7012 "loopback 4 services - how to configure keep-alive agent in lb4 service calls"
Greetings,

To enhance the performance of a http requests (http.Agent), npm offers few packages like **keepaliveAgent** (https://www.npmjs.com/package/agentkeepalive)

This can improve the overall performance for frequent http calls by keep-alive connection and open sockets.

Can someone please guide how to configure KeepAliveAgent while making service calls with **loopback 4 services** ?

[2021-01-12 07:48] Arathy-sivan commented on #5709
I am also facing the same issue, how to solve this issue???

[2021-01-12 12:01] bajtos commented on #6969
@hacksparrow I think this issue is a duplicate of #6957. Can you please move the list of places you identified to the check-list in #6957 and close this issue?

[2021-01-12 12:07] hacksparrow commented on #6969
Closed on favor of https://github.com/strongloop/loopback-next/issues/6957.

[2021-01-12 12:07] #6969 closed

[2021-01-12 13:10] grisson2 commented on #7011
Got it working.
The guilty line
[code]

Needs to be written with types

[code]

This solves this specific issue, don't know at the moment if it will impact other stuff.

[2021-01-12 13:10] #7011 closed

[2021-01-13 02:06] dhmlau commented on #5709
I've tried to use the jwt extension and published a blog recently on using postgresql as the database for User model. https://mobilediana.medium.com/using-postgresql-with-loopback4-jwt-authentication-extension-d956ac707746.

If you have a link to a repo that would reproduce this migration problem, please share here and we can take a look. Thanks.

[2021-01-13 08:10] justin65 commented on #4044
@alexkander Did you have any update? Should both rest and socket.io share the same http server instance? Thanks.

[2021-01-13 14:55] jannyHou commented on #6972
@rmsgit Could you post some code example that we can test and reproduce your issue?

[2021-01-13 15:06] agnes512 commented on #5958
Closing as inactive

[2021-01-13 15:06] #5958 closed

[2021-01-13 15:07] #4791 closed

[2021-01-13 15:17] jannyHou commented on #6959
@Arathy-sivan I haven't followed all the discussion but looking at

[code]

The type of `CredentialsRequestBody` shouldn't be `SchemaObject`, but `RequestBodyObject` instead.
See an example of `RequestBodyObject` in
https://github.com/strongloop/loopback-next/blob/7f764e109a23da5e03f9a0bee93ba0c7c7d21e81/packages/rest/src/__tests__/helpers.ts#L21.

[2021-01-13 15:24] alexkander commented on #4044
@justin65 your fork is of a old repository. You should to use the example of socketio that currently loopback 4 has. [@loopback/example-socketio](https://www.npmjs.com/package/@loopback/example-socketio). I gonna to archive my example repository because it is no longer stable.

Anywhere, do you need set `host` configuration for websocket? I have commented it and it works!.
[code]

[2021-01-14 00:36] justin65 commented on #4044
@alexkander I know that loopback 4 release a socketio example. But is't an Application, I can not extend it from rest application like the repository you are going to archive. That's why I keep working on old repository. Is there any guideline to merge two loopback 4 application?
Regarding the host field, I just show you how to repo the 'port in use' problem. I can comment it, but I don't know wha

[2021-01-14 08:52] markus-hsk opened #7013 "Loopback-Filter parsing function needed"
I'm looking for a method (or set of methods) which parse the Filter-Objects into an actual SQL query string.

Examples:
[code]

[code]

[code]

We have the problem, that we have requests providing Filter objects like above, but the repository has to be refactored using a specialized SQL instead of the built in find-method. But now we are unable to easily add the WHERE-part to the SQL because, it's

[2021-01-14 19:47] agnes512 commented on #6131
Fixed in https://github.com/strongloop/loopback-next/pull/6937, thanks!

[2021-01-14 19:47] #6131 closed

[2021-01-14 19:48] agnes512 commented on #6017
Closing as done, see https://github.com/strongloop/loopback-next/pull/6937

[2021-01-14 19:48] #6017 closed

[2021-01-15 03:38] bala-fashiondx opened #7014 "Connection Pooling on MongoDB"
We are using loopback-connector-mongodb@5.0.1 version to connect to mongo db . Our database admins are reporting that our application is using more connections and it is constantly growing. When they report issues , we just restart our applications and connection use count drops drastically (from 800 active connections to 500 connections on mongodb).

We need to implement connection pooling in loo

[2021-01-15 23:30] NorthDecoder opened #7017 "Delete with no query removes all records by default"
## Steps to reproduce

1. Following the the todo-list [tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html)
[code]

2. Browse to the API explorer at http://127.0.0.1:3000

3. Notice that the database is prepopulated

   a. With GET todo-lists/count
      - Click `Try It out`
      - remove the default query
      - press the `execute` button
      - see result `{  "count": 2  }`

   b

[2021-01-16 13:29] yshing commented on #7006
@JorisPalings That's a MongoDB issue. You shall set index on any field you're planning to sort on. And compound index when you need to sort on multiple fields, in this case you'll need to create compound index on `publication_date` and `language`.

Loopback cannot help you with this issue.😅

[2021-01-17 14:50] achrinza commented on #7013
At this moment, there isn't an easy way to get the generated SQL query from the datastore connector.

[2021-01-17 19:52] dhmlau commented on #7014
Have you tried to use the settings in https://docs.mongodb.com/manual/reference/connection-string/index.html#connection-pool-options? LoopBack would just pass the configs to the mongodb node.js driver.

[2021-01-18 01:09] bala-fashiondx commented on #7014
I have tried this , but still facing the mongo db connection time out . The error that i am getting was ,

**Datasource mongo fails to connect due to timeout - aborting method
"stack":"Error: Timeout in connecting after 5000 ms\n    at Timeout._onTimeout (/home/balu/fashiondx/bespoke/fdx-shopper-management-service/node_modules/loopback-datasource-juggler/lib/datasource.js:2617:10)\n    at listOnTi

[2021-01-18 06:59] mrmodise opened #7021 "Broken link: Create a datasource at runtime"
The [create a datasource at runtime](https://loopback.io/doc/en/lb4/Creating-datasource-runtime.html) page has a broken link
## Steps to reproduce
Visit https://loopback.io/doc/en/lb4/Creating-datasource-runtime.html and you will see the link on paragraph starting with "For details about datasource options, refer to the" is broken

[2021-01-18 07:32] ratheeshrajendran opened #7022 "Push notifications"
Push notifications features are not available in loopback 4 now , when it will be added any plan for that?

[2021-01-18 08:13] markus-hsk commented on #7013
Too bad, is there a chance to get it implemented in an upcoming release?

I found the sql.ts in loopback-connector/lib, in which the conversion is done, but no way for usefully including it in our soucecode. Current only solution for me is dublicating that code.

[2021-01-18 09:28] style2joy opened #7023 "Broken link in docs - "Migrating authentication and authorization""
Broken link: https://loopback.io/doc/en/lb4/built-in.md in following para on https://loopback.io/doc/en/lb4/migration-auth-overview.html

[2021-01-18 10:59] achrinza commented on #7022
Narrowed the scope to push notifications only as #4854 already covers storage component.

[2021-01-18 14:49] toubiaplc commented on #5608
The feature selection icon is confusing

[2021-01-18 18:36] dhmlau commented on #7014
By looking at the error you posted above, it seems like the connection is invalid? If you remove the connection pool related config properties, did it complain the same thing?

[2021-01-18 18:59] dhmlau commented on #7023
@style2joy, thanks for reporting this. We probably missed it when doing some refactoring on this portion of the docs. Would you like to submit a PR?

The source of the docs page is https://github.com/strongloop/loopback-next/blob/master/docs/site/migration/auth/overview.md. And here is the instruction of submit a PR in LB4 in case you're not familiar with our process: https://loopback.io/doc/en/lb

[2021-01-18 19:00] dhmlau commented on #7022
There's a community extension for push notification: https://www.npmjs.com/package/loopback4-notifications. You might want to evaluate and see if it fits your needs. Thanks.

[2021-01-19 08:13] bala-fashiondx commented on #7014
yes . There was same results even pool related config was there or not . The service working fine for few minutes . If the request to service increase I can able see the number of connections increasing in mongodb. But even after the response send , the connections were not closing in mongodb . It goes on increasing..

[2021-01-19 14:47] spupek commented on #6222
I think the problem lies within @loopback-rest coercion/coerce-parameter.ts file. The the top level query parameter values are coerced by their defined types. In case of an object, after coercion the object is returned, but the object itself is **not recursively** inspected further according to the schema specification.

I am facing with a similar issue, when having a query schema as follows - top

[2021-01-19 22:00] 0x0aNL commented on #5814
This also results in only receiving included hasManyThrough entities for the first entity, if a scope is included.
E.g.:
- `doctorRepository.find({include: ['patients']});` works as expected
- `doctorRepository.find({include: {relation: 'patients', scope: {include: ['favoriteJoke']}}]});` returns:

[code]

This happens because:
- In its `for` loop, `fetchHasManyThroughModels` calls `findByForeignK

[2021-01-19 22:11] hernanrz commented on #6416
If it helps anyone, I found that adding the following to `migrate.ts` fixes the user and user credentials tables not being created

[code]

[2021-01-20 10:21] moshe-shaham-intel opened #7027 "Using glob in boot options to specify controller path doesn't work"
## Steps to reproduce

1. in `application.ts` enter the glob pattern:
[code]

2. When running `npm start` there is a fatal error, complaining that ping.controller was not found:
`Cannot start the application. Error: Cannot find module 'dist/controllers/ping.controller.js'
`
## Current Behavior

When I specify glob, I get an error that a required controller was not found

## Expected Behavior

I ex

[2021-01-20 21:07] #7021 closed

[2021-01-20 21:51] jrr commented on #3417
Tried out Loopback for the first time today, excited about its TypeScript support and OpenAPI integration.

Pasted in my existing OpenAPI schema, tried to generate from it:

[code]

And immediately hit this:

[code]

(Thanks @acorbellini for making this issue findable)

Adding `operationId`s to the schema for each endpoint fixed it.

[2021-01-20 22:48] jrr opened #7029 "OpenAPI generator use case: recurring vs. one-time"
## Suggestion

The current [OpenAPI generator](https://loopback.io/doc/en/lb4/OpenAPI-generator.html) seems like it's meant to be used once, upfront, to scaffold code.

My suggestion is to (also/instead) support the use case where you run the generator regularly as part of your build, and don't even check in the generated files. (this is how I generally prefer to use code generators)

Was this con

[2021-01-21 01:22] #7010 closed

[2021-01-21 01:39] dhmlau commented on #7027
@moshe-shaham-intel, I've tried with the following (please note the extra `/` at the beginning) and it seemed to be working for me. Could you please try?
`glob: "/**/*.controller.js"`

[2021-01-21 22:23] NorthDecoder opened #7052 "Patch with no query updates all records in the database"
## Steps to reproduce

1. Following the the todo-list [tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html)
[code]

2. Browse to the API explorer at http://127.0.0.1:3000

3. Notice that the database is prepopulated

   a. With GET todo-lists/count
      - Click `Try It out`
      - remove the default query
      - press the `execute` button
      - see result `{  "count": 2  }`

   b

[2021-01-21 22:36] agnes512 opened #7054 "Switch from Travis to Github action for connector repos"
To keep track of the status of all connector repos.

- [x] [`loopback-connector-mongodb`](https://github.com/strongloop/loopback-connector-mongodb)
- [x] [`loopback-connector-mysql`](https://github.com/strongloop/loopback-connector-mysql) [WIP strongloop/loopback-connector-mysql#439]
- [ ] [`loopback-connector-cassandra`](https://github.com/strongloop/loopback-connector-cassandra)
- [x] [`loopback

[2021-01-21 22:37] agnes512 commented on #7054
https://github.com/strongloop/loopback-connector-mongodb/pull/613

[2021-01-22 03:55] pktippa commented on #7023
@dhmlau I have submitted the PR #7056

[2021-01-22 14:16] #7023 closed

[2021-01-23 05:53] achrinza commented on #7027
FYI, setting `glob` will override and [take precedence over the other options](https://loopback.io/doc/en/lb4/Booting-an-Application.html#controller-booter).

[2021-01-24 17:20] nflaig commented on #4990
@dougal83 what do think about extending AuthenticationStrategy with a function which allows strategies to provide the security spec and then a spec enhancer would update the openapi spec based on the authentication metadata, see [gist](https://gist.github.com/nflaig/d8b6b30d0d328eae11eefe3e4ff50dce) for a draft how this could look like

[2021-01-26 09:08] andreidiaconescu opened #7072 "User Signup/Login: How to customize User fields based on example at https://loopback.io/doc/en/lb4/Authentication-tutorial.html"
related to user signup and login
how can the user fields be modified(add and remove fields according to the business needs) based on the documentation as https://loopback.io/doc/en/lb4/Authentication-tutorial.html  ?
for example the user in the example already has fields
{
  "id": "string",
  "realm": "string",
  "username": "string",
  "email": "string",
  "emailVerified": true,
  "verificationTo

[2021-01-26 10:42] andreidiaconescu commented on #7072
i found an answer from other issue that helps: https://github.com/strongloop/loopback-next/issues/5709#issuecomment-759154995

[2021-01-26 15:23] andreidiaconescu commented on #7072
a more de

[2021-01-26 15:23] #7072 closed

[2021-01-27 01:50] juanvillegas commented on #7052
In that case, if you wanted to effectively patch all records in the database, you would need an extra flag to "force" the behavior?

[2021-01-27 09:44] vinutha93bnvs commented on #7012
Can i get some help

[2021-01-29 01:35] ultrex opened #7075 "loopback always returns status 204"
Hi, I have loopback 4 updated, these are my dependencies:

"dependencies": {
    "@loopback/authentication": "^7.0.6",
    "@loopback/boot": "^3.2.0",
    "@loopback/core": "^2.14.0",
    "@loopback/cron": "^0.3.6",
    "@loopback/openapi-v3": "^5.1.3",
    "@loopback/repository": "^3.4.0",
    "@loopback/rest": "^9.1.2",
    "@loopback/rest-explorer": "^3.0.6",
    "@loopback/service-proxy": "^3.

[2021-01-29 03:27] raymondfeng commented on #7075
@ultrex Please check out https://loopback.io/doc/en/lb4/REST-middleware-sequence.html and migrate your sequence to `MiddlewareSequence`.

[2021-01-29 12:06] Mohammedalasaad opened #7076 "Any example for how to use refresh token with JWT"
Hi,
Is there any example to use Refresh token with JWT. I have already model called refresh_token that has user_id, refresh_token and all was working.. but after update expiresIn not coming with the response object.

I know there is example here about jwt todo-jwt but it does not have refresh_token
https://github.com/strongloop/loopback-next/tree/master/examples/todo-jwt

any help, thanks

[2021-01-30 02:44] ultrex commented on #7075
Thank you, but loopback returns still status 204 always when I call any end point. :(

My file sequence.ts

import {MiddlewareSequence} from '@loopback/rest';

export class MySequence extends MiddlewareSequence {}

and in my application.ts I just call it of this way

  constructor(options: ApplicationConfig = {}) {
    super(options);

    // Set up the custom sequence
    this.sequence(MySequence

[2021-01-30 05:17] raymondfeng commented on #7075
If you can create a simple application and share with us in a github repo, I can have a quick look.

[2021-01-30 22:37] sergki1 opened #7077 "Argument of type '(Target & TargetRelations)[]' is not assignable to parameter of type 'never'"
## Steps to reproduce

npm start with has many in model:

 @hasMany(() => AppRestriction, { keyTo: 'app_id', name: 'appRestrictions'})
  app_restrictions: AppRestriction[];

## Current Behavior

Got an error:

node_modules/@loopback/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts:122:21 - error TS2345: Argument of type '(Target & TargetRelations)[]' is not assignable to pa

[2021-01-31 01:48] achrinza commented on #7077
Could you please provide a GitHub repo with a reproduction sandbox? That would make it easier to replicate the issue and better understand the underlying problem.

[2021-01-31 15:28] achrinza opened #7078 "docs: incorrect sidebar used"
## Steps to reproduce

1. Navigate to https://loopback.io/pages/en/lb4/readmes/loopback-next/extensions/authentication-passport/#simple-usage
2. Check the sidebar:
    ![image](https://user-images.githubusercontent.com/25147899/106388985-eb545800-641b-11eb-8745-1dcf9943e7d5.png)

## Current Behavior

The LoopBack 3 sidebar is shown

## Expected Behavior

The LoopBack 4 sidebar should be shown inst

[2021-01-31 15:29] achrinza commented on #7078
Closing issue; Opened by mistake.

[2021-01-31 15:29] #7078 closed

[2021-01-31 22:23] sergki1 commented on #7077
I found the problem, removing this line from another class:
`import {ensurePromise} from "@loopback/repository/src/repositories/legacy-juggler-bridge";`
solved the problem of the compilation.

But if your are checking the class in this file:
node_modules/@loopback/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts

it's still making 2 errors TS2345 as described in the Current

[2021-01-31 22:23] #7077 closed

[2021-02-01 07:54] naveeng2228 opened #7079 "500 ResolutionError: The key 'security.user' is not bound to any value"
Hello Everyone,

I'm having the following issue since couple of weeks. I've tried all possible ways but no luck.

**Code:**
[code]

**Error Log:**
[code]

Your help is highly appreciated.
Thanks in advance.

[2021-02-01 17:32] abdoulayesy commented on #7077
Hello a got the same problem after run lb4 update.

node_modules/@loopback/repository/src/relations/has-many/has-many-through.inclusion-resolver.ts:122:21 - error TS2345: Argument of type '(Target & TargetRelations)[]' is not assignable to parameter of type 'never'.

122         result.push(targetEntityList);
[code]

[2021-02-01 17:33] abdoulayesy commented on #7077
any idea ?

[2021-02-01 21:38] AlbertoLopSie commented on #1884
There's still people (me, at least)  expecting this functionality on LB4. Any news?

[2021-02-01 21:49] AlbertoLopSie commented on #5425
Bump

[2021-02-02 00:00] tayyabjamil commented on #1721
any updates?

[2021-02-02 11:55] artemshapovalov commented on #4044
@aleksspeaker I'am trying to use host in websocket config but it leads to a problem `Cannot start the application. Error: listen EADDRINUSE: address already in use 127.0.0.1:[port]`

[2021-02-02 12:34] d-bo commented on #4044
@justin65 , @artemshapovalov  guys there is a working websocket repo built from original lb4 skeleton app [https://github.com/d-bo/lb4-client-err](https://github.com/d-bo/lb4-client-err) where `EADDRINUSE: address already in use` problem solved.

And the line causing this error [https://github.com/d-bo/lb4-client-err/blob/173b996da0974f2a39f20ac0c53f67d95be0c29b/src/index.ts#L14](https://github.co

[2021-02-02 19:56] artemshapovalov commented on #4044
@d-bo thanks a lot it solve problem with `EADDRINUSE ` but now I see undefined when server is started
[code]

[2021-02-02 22:19] tahir-jamil commented on #3931
hi @bajtos  any update on it ?
this feature really helps backend developers to switch from firebase to loopback

[2021-02-02 23:27] ultrex commented on #7075
Hi, sorry for not answering before.

I want to do it (Github repo) but it is not as simple,
anyway, I was searching in the loopback documentation and I found this option that works.

return this.response.status(200).send({
  exampleName: exampleValue
});

I was using this way always

resolve({
  exampleName: exampleValue
});

or simply  return {exampleName: exampleValue};
to return the response of

[2021-02-03 09:02] Mohammedalasaad commented on #7076
I have created an example here.. And he we can see an error. I have bound the jwt service but its still using the core one not ur custom code "btw, this happen after latest update"
and I have fixed the expiresIn in manual way as you see it there in user.controller.ts not sure if this good way!

`    tokens.expiresIn = TokenServiceConstants.TOKEN_EXPIRES_IN_VALUE // Return expiresIn with object
`
C

[2021-02-03 17:23] vairakkumar-vairaperumal opened #7080 "lb4 app - Fails on npm start when repository service is not chosen when creating"
## Steps to reproduce

1. lb4 app
2. uncheck repositories
3. npm start

## Current Behavior
Receive error on migrate.ts
[code]

## Expected Behavior
1. app runs successfully with no additional change.

## Link to reproduction sandbox

## Additional information

linux x64 10.23.2
+-- @loopback/boot@3.2.0
+-- @loopback/core@2.14.0
+-- @loopback/rest@9.1.2
+-- @loopback/rest-explorer@3.0.6
+-- @loopb

[2021-02-04 08:13] mbnoimi opened #7081 "Integrate JWT extension in CLI"
## Suggestion

I suggest adding a command in LB4 CLI for enabling JWT in any RDBM based project.

## Use Cases

Currently (ver. 2.18.0), adding JWT in any RDBM based project needs complicated procedures to do it. So I suggest consider another approach by adding `lb4 jwt` command which will run the following steps in the background:

1. Create `User` & `UserCredentials` for integrating JWT

[code]

[2021-02-05 16:36] jannyHou commented on #7076
Hey @Mohammedalasaad, you can try binding your services after mounting the components:
move https://github.com/Mohammedalasaad/Loopback-JWT/blob/master/src/application.ts#L29-L32 to be after https://github.com/Mohammedalasaad/Loopback-JWT/blob/master/src/application.ts#L39

I think your binds are overridden by the component.

[2021-02-05 16:51] Mohammedalasaad commented on #7076
Thank you so much @jannyHou.. it works so good.. I will fix my code and push it. so maybe will help someone else if they need kind of this start with jwt :)

[2021-02-06 11:14] bhupesh-sf commented on #6791
@raymondfeng Any suggestion on the above?

[2021-02-06 23:32] lauksas commented on #3417
Many thanks @jrr , that resolved my problem.

[2021-02-07 11:08] pktippa commented on #7080
@achrinza I would like to work on this issue, please guide me with few tips in right path to solve

[2021-02-07 12:22] pktippa commented on #3581
@dhmlau please assign the isse to me, please find PR #7084,

[2021-02-07 13:19] pktippa commented on #6737
@achrinza @dhmlau I would like to work on this task.

[2021-02-07 15:13] lauksas opened #7085 "Openapi generation: $ref error on @param of type string"
[edit] After doing some tests, I think this might be the same of [#2930](https://github.com/strongloop/loopback-next/issues/2930)

Hello, I'm new to loopback and TypeScript, so if I miss something basic, please, let me know.

I tried creating some controllers using the openapi tool, which I think should be done with no errors or manual fixes.
Basically there are a few string header parameters that

[2021-02-08 06:25] f-w commented on #6518
I have same problem when calling _findOne_. The problem persists even if installed "mongodb" package and replace `neq: id` with `neq: new ObjectId(id)`.

[2021-02-08 15:09] KunalBurangi opened #7088 "Relation checks while POST API"
This is the scenario
I have two collections in Mongo DB

1) Dataflow
2) Transformation

transformation collection has the dataflowId which is the primary key of the Dataflow collection.

In Loopback 4 models I have applied the HasOne and belongs to relations to the models respectively.
and while fetching the dataflows i can see the transformations also which is fine.

What I wanted to achieve is
i

[2021-02-08 15:21] vinutha93bnvs commented on #7014
I have similar issue and looking for some solutions.

Had a issue reported few days back,
Refer https://github.com/strongloop/loopback-next/issues/7012

[2021-02-09 08:00] sf-kansara opened #7089 "express middleware not executed in sequence"
## Steps to reproduce
1. Create todo app with `lb4 example` and select todo app
2. Add `morgan` express middleware as [specified in documentation](https://loopback.io/doc/en/lb4/Express-middleware.html#register-express-middleware-to-be-executed-by-invokemiddleware-actions).

## Current Behavior
Sequence does not execute morgan middleware with `this.invokeMiddleware()`

## Expected Behavior
Sequece

[2021-02-09 13:18] yshing opened #7090 "@authorize decorator drops the skip flag after the first call in a Controller."
## Steps to reproduce
Using the following test case. It seems the `skip` flag is only kept for the first method decorated using @authorize

@loopback/authorization version: 0.7.6

Running the following test fails.

[code]

## Current Behavior
skip: true Flag is only kept for the first method in the Controller..
[code]
## Expected Behavior

The test should pass..

## Link to reproduction sandbox

A

[2021-02-09 14:27] #3581 closed

[2021-02-09 14:44] yshing commented on #7090
Seems like fixed by #7073. but not released yet.

[2021-02-10 05:01] yshing commented on #7090
This is fixed after the changes in #7073 is released.

[2021-02-10 05:01] #7090 closed

[2021-02-10 09:38] mbnoimi commented on #5056
@raymondfeng I tried to run your example, but it didn't store `tenantId`, although I passed it correctly!

[code]

![image](https://user-images.githubusercontent.com/284547/107491907-d6ef2880-6b9c-11eb-9c6d-8aa543dd9f85.png)

[2021-02-10 09:45] mbnoimi commented on #5056
Did you take the final decision for enabling multi-tenancy on LB?
I'll start to implement it depending on @raymondfeng example (but using JWT & PostgreSQL) so I expect I need some help in the next days.
Do you prefer to ask my questions here or in StackOverFlow?

[2021-02-10 12:57] rigibore-charlie opened #7104 "Add --tables/--models arguments to `lb4 discover` command"
## Suggestion

Add arguments `--tables` or `--models` to `lb4 discover` command.

## Use Cases

I'm a new user to Loopback trying to create a REST API for two large existing SQL Server databases, each database has in excess of 200 tables spanning 8+ schemas, and scrolling the list in the interactive prompts to find just the 8 tables required is near impossible, and made worse by the fact that the

[2021-02-11 02:34] rajkaran commented on #6744
hi @achrinza
I have some more additions to my logic. I need to authenticate user before uploading any file. I might be getting multiple file to upload but I don't want to authenticate/authorize user for every file.

Will you be able to provide me some code snippet to help me out with this?

Thanks

[2021-02-11 04:32] manchuwook commented on #6963
Tested this issue with 2.19.0 - still have the same issue:
[code]

The file is present as S:\dev\project\api-design\models\character.schema.v1.json

[2021-02-11 08:47] samarpanB commented on #512
We created this extension few months back. I hope it caters to the list of requirements. If not, please feel free to raise  a feature request. We'll try to add that soon. https://www.npmjs.com/package/@sourceloop/audit-log

[2021-02-11 11:33] fgvicente opened #7092 "DB disconnect every morning"
Every morning I have this error

Error: read ECONNRESET
    at TCP.onStreamRead (internal/stream_base_commons.js:205:27)

and I have to restart the application. I have read the db is disconnected. how can I solve that

node version 12

[2021-02-13 01:58] pktippa commented on #7092
@fgvicente which database you are connected to and any additional database connection settings you are configured ?

[2021-02-15 09:49] daniel-safeup commented on #1981
When someone will take care about this issue? I am building a new piece of software and the "GeoPoint" is critical, so from my POV loopback is on "question" if this is not going to come soon.

[2021-02-17 00:23] to2021 commented on #1981
Same here, I would like to use Loopback but without geopoints it is no option for the application I wanna code... It’s a basic feature in my opinion.

[2021-02-17 14:50] BostjanPisler opened #7098 "lb3app boot scrip defined role not run when running tests"
## Steps to reproduce

- Create boot script: /lb3app/server/boot/role.js

[code]

Add it to a model json "acls" definition:
[code]

## Current Behavior

Running a test to create a resource on the model returns 401 error.

## Expected Behavior

Running a test to create a resource on the model should be successful with 200 status.

[2021-02-17 20:44] agnes512 commented on #5814
@0x0aNL  @sumnerwarren  Could you check it with the latest version? I just tested it and I think it works for nested inclusion as well for HasManyThrough relation. I will push a PR to add related tests too.

[2021-02-17 21:06] 0x0aNL commented on #5814
Yes, it was indeed fixed by #6955 in the latest version! Thanks for your hard work 👍 !

[2021-02-18 11:49] dkislov commented on #6828
I faced the same issue. When I tried to run lb4 discover against MySQL 5.6 I got lb4  "frozen" on second prompt question, like
 **lb4 discover
? Select the connector to discover my_datasource
? Select the models which to discover**

[2021-02-18 12:03] dkislov commented on #6828
When I tried to find workaround for this issue, made little piece of TypeScript code (in file discover.ts):
[code]
and got list of JSON table schema definitions, like this:
[code]
My question: How can I convert this Json file to Model code user.model.ts?

[2021-02-18 14:13] noufalnoufu opened #7102 "How to do referencesmany in loopback 4 to populate relational model data ?"
Can you explain how to do referencesmany in loopback 4

https://loopback.io/doc/en/lb3/Embedded-models-and-relations.html#referencesmany

I wanted to store categories and its products Ids as an array in the collection. On get method I need show category info as well as product details as mentioned below .Is there any best with relational model in loopback? I am new in Loopback and node js, please

[2021-02-18 15:10] dkislov commented on #6828
On my case the issue is solved. I found that I have to run lb4 discover with option --schema, but without option --dataSource, so than it works good. But it was interesting journey.

[2021-02-18 21:52] dhmlau commented on #7104
Transferred!

[2021-02-18 21:54] dhmlau commented on #7104
It would be a useful feature. For database migration, we can list which models to migrate, but not for discovery.

[2021-02-18 21:55] dhmlau commented on #7076
Closing this issue as resolved. Thanks!

[2021-02-18 21:55] #7076 closed

[2021-02-19 09:17] achrinza commented on #7092
Is there a limit to the connection "live" duration that's imposed by the database engine or any proxy in-between? "ECONNRESET" indicates that something along the network (not lb4) is cutting off the connection.

[2021-02-19 14:00] emanual4real commented on #5282
The calculator soap service does not appear to be working and the second url page is not found.  Would appreciate an updated working SOAP example.

[2021-02-19 19:25] JerryHuang2015 commented on #7102
https://loopback.io/doc/en/lb4/Relations.html

[2021-02-20 04:07] noufalnoufu commented on #7102
Can you provide and example, I had spend almost three weeks in your documentation and couldn't able to figure it out, you  could have include this kind of one sample in you shopping cart examples.

[2021-02-20 05:25] VinayaSathyanarayana commented on #4195
Any update on this. I would like to use lb4 using the model definitions as specified in Prisma schema.

You may question on why I cannot create lb4 models - the answer to it is that I do not create Prisma schema.  Prisma schema is auto generated by another tool for me

[2021-02-21 08:08] JerryHuang2015 commented on #7102
it is very clear on loopback 4,
   `  @hasMany(() => Order)
  orders?: Order[];
   `
1st check your Loopback version
one to many relation https://loopback.io/doc/en/lb4/HasMany-relation.html
many to many relations https://loopback.io/doc/en/lb4/HasManyThrough-relation.html

[2021-02-21 11:42] njtnestor commented on #2488
I need this relation, when will be implemented?

[2021-02-21 15:30] noufalnoufu commented on #7102
In your example source model’s id as the foreign key property (customerId) in the target model. But in my case I don't have any relation with category white creating the product. When I create a category I will be adding products Ids as array in to it. When I access category I need to populate product detail as well. Is there any way to do it without  foreign key property in the target model?

[2021-02-22 09:31] KunalBurangi opened #7106 "endPointsMapping"
const config = {
    rest: {
      port: +(process.env.PORT ?? 3000),
      host: process.env.HOST,
      // The `gracePeriodForClose` provides a graceful close for http/https
      // servers with keep-alive clients. The default value is `Infinity`
      // (don't force-close). If you want to immediately destroy all sockets
      // upon stop, set its value to `0`.
      // See https://www.npmjs.

[2021-02-22 11:52] andreidiaconescu commented on #5997
any update on this issue please ?
thank you.

[2021-02-22 12:33] achrinza commented on #7089
Looks like the reproduction sandbox is using the old [sequence-bassed middleware](https://github.com/sf-kansara/lb4-express-middleware/blob/6a817f3d6e13f722fdb291c89cb25d17d16615a1/src/sequence.ts). Could you try using the new [middleware-based sequence](https://loopback.io/doc/en/lb4/REST-middleware-sequence.html) instead?

[code]

On a side-note; I noticed that the [linked docs](https://github.c

[2021-02-22 13:04] HarshalNathe commented on #2614
Can anybody please give an example of how to use transaction with execute() method. I tried below but not getting expected output.
[code]
I'm expecting rollback once catch is called. But not able to rollback it.

[2021-02-23 07:29] dishantr16 commented on #3357
I'm using Mongodb facing the same issue.... have any one found the solution?

[2021-02-23 13:57] noufalnoufu commented on #7102
{
    "@loopback/authentication": "^4.2.5",
    "@loopback/authentication-jwt": "^0.3.1",
    "@loopback/boot": "^2.3.1",
    "@loopback/context": "^3.8.1",
    "@loopback/core": "^2.7.0",
    "@loopback/openapi-v3": "^3.4.1",
    "@loopback/repository": "^2.5.1",
    "@loopback/rest": "^5.0.1",
    "@loopback/rest-explorer": "^2.2.2",
    "@loopback/service-proxy": "^2.3.0",
    "@types/bcryptjs"

[2021-02-23 16:05] #6770 closed

[2021-02-23 18:02] abhayverma commented on #1830
We are using loopback for our enterprise solution, but for the use case of having Composite IDs we are hitting a roadblock with Loopback4. I don't want to opt for 7pm migration package since it will add up the db code reference touchpoint and code size.
Please suggest when will this be released for lb4?

[2021-02-23 23:21] frbuceta commented on #7106
this is working for me. you must update your `src/index.ts`

[2021-02-26 01:30] dhmlau commented on #7054
Thanks @agnes512. I believe the loopback-connector-swagger has deprecated. loopback-connector-openapi should be used. So i think it's safe not to switch to GitHub Actions.
@raymondfeng, thoughts?

[2021-02-26 01:31] dhmlau commented on #7022
@ratheeshrajendran, we believe your question is answered. Closing this issue. Thanks.

[2021-02-26 01:31] #7022 closed

[2021-02-26 05:36] andreyunugro opened #7115 "loopback-datasource-juggler datasource definition for setup method is missing"
## Steps to reproduce
At https://github.com/strongloop/loopback-datasource-juggler/blob/master/types/datasource.d.ts,
there is no definition for method setup, which is defined at:
https://github.com/strongloop/loopback-datasource-juggler/blob/06428247ad1cc48bce82d135f795fb3eaae28b33/lib/datasource.js#L382

1. I create custom datasource `class MyDataSource which extends juggler.Datasource`.
2. I cr

[2021-02-26 21:51] bradharms opened #7118 "Changes in Typescript 4.2 break usage of EntityCrudRepository and others"
## Steps to reproduce

- Upgrade project to typescript 4.2
- Create an instance of `DefaultCrudRepository`
- Try to create an new instance of `repository.entityClass`
- Type error will occur:

[code]

## Current Behavior

TypeScript 4.2 changed the way the compiler handles classes marked as `abstract`, which affects most notably certain places where `Entity` and `EntityCrudRepository` are used. Th

[2021-02-26 22:13] raymondfeng commented on #7118
See #7108

[2021-02-26 22:13] #7118 closed

[2021-02-27 06:28] mbnoimi opened #7119 "Include templates in CLI"
## Suggestion

I suggest adding [loopback4-starter](https://github.com/sourcefuse/loopback4-starter) (or similar to it) as a new CLI option.

## Use Cases

LoopBack is already a battery included (ex. OpenAPI explorer) but most LB users spend a precious time on assembling some important features for every created project (ex. Authentication, Users & Authorization). So including these features in LB

[2021-03-01 11:48] cactuschibre commented on #2360
Any update ? I am not able to access the request context within the repository. I tried the implementations withing this issue : https://github.com/strongloop/loopback-next/issues/1919, without success ... The HTTP context keeps to be "null".

[2021-03-01 15:12] raymondfeng commented on #2360
@cactuschibre How does your repository class look like?

[2021-03-02 03:21] dgamepuzzle opened #7127 "Redis with loopback 4 : How use redis cache in loopback 4 ?"
How i can find example use redis cache in loopback 4 interceptor ?

[2021-03-02 07:58] cactuschibre commented on #2360
@raymondfeng it is very simple, for example:

[code]

And for the datasource :

[code]

And, like in the previous quoted issue, I tried to inject:

- `@inject.getter(RestBindings.Http.CONTEXT) protected getHttpContext: Getter<Context>`
- `@inject.getter(MiddlewareBindings.CONTEXT) protected getHttpContext: Getter<Context>`

Then add:

[code]

Or (in the constructor):

[code]

... Without effect. T

[2021-03-03 15:09] manchuwook commented on #6963
I'm ending up building a yaml or json file using openapi-generator-cli and then generating controllers/models from that intermediary file instead.

[2021-03-04 13:31] noufalnoufu opened #7135 "How to do populating array of Object IDs in LB4"
How to do array populatei n lb4, I found the solution in lb3 in stackoverflow,
https://stackoverflow.com/questions/51887050/loopback-relations-not-populating-array-of-object-ids

[2021-03-04 21:33] frbuceta opened #7136 "Activate discussion tab in Github"
## Suggestion

I suggest activating the GitHub discussion tab so that users arrive there and that they do not create issues
![Screenshot 2021-03-01 at 07 12 44](https://user-images.githubusercontent.com/13822438/110033326-8ac97b00-7d39-11eb-87a3-16221ca3bff5.png)

[2021-03-05 15:51] rodmcnew commented on #2242
I think it would be best for adoption if loopback came with something that handled this out of the box. Installing the framework thinking you can start coding right away, then having to deal with this problem isn't a great experience.

- A new loopback app comes with 23 package.json scripts and none of them do this.
- Meanwhile create-react-app comes with 4 scripts and one does do this.

[2021-03-06 01:05] dhmlau commented on #7136
@frbuceta, thanks for bringing this up. I didn't realize there's a discussion tab in GitHub. Just curious... how would it differ from Slack? I understand there's less friction to use GitHub discussion than Slack since it's the same platform.

[2021-03-07 11:28] frbuceta commented on #7136
The point that I see the most favorable is that in Slack it is impossible for a person to have access to a discussion that has already been resolved and can help them, in GitHub the topic would always be registered.

[2021-03-07 15:30] sskhokhar commented on #1981
I think we can simply use {lat:number,lng:number} instead of Geopoints and filter using where near clause

[2021-03-07 22:50] ewrayjohnson commented on #1981
The problem is not only one of querying, but the database connector needs to be aware of the correct datatype for proper mapping to the underlying database datatype.

[2021-03-09 17:02] knaoe opened #7147 "Allow to register a route with colon in the path"
## Steps to reproduce
Try to register a route with colon.
[code]

## Current Behavior
Got error when startup.

[code]
because of this validation.

https://github.com/strongloop/loopback-next/blob/6423d40f8520f863836af1d64e1c10b1dbc7507e/packages/rest/src/router/openapi-path.ts#L22-L32
## Expected Behavior

A path using colon like custom verb for the resource (like `/items:serach`, `/items:move`) s

[2021-03-10 16:15] frbuceta commented on #7136
I can take care of it if you want

[2021-03-10 16:27] bajtos commented on #7136
Awesome, thank you for the offer @frbuceta!

I enabled the Discussions feature for this repo. They offer the following link to set things up:

https://github.com/strongloop/loopback-next/discussions/new?category=general&welcome_text=true

In case that link does not work for you, here is a screenshot:

<img width="873" alt="Screen Shot 2021-03-10 at 17 27 18" src="https://user-images.githubusercont

[2021-03-10 16:29] bajtos commented on #7136
We may want to tweak the categories, I think it would be best to start a new Discussion thread to discuss with other maintainers and even the wider community.

[2021-03-10 17:10] #7135 closed

[2021-03-10 17:12] #7127 closed

[2021-03-10 20:57] #7102 closed

[2021-03-10 20:59] #2242 closed

[2021-03-11 02:01] dhmlau commented on #7027
Closing as resolved.

[2021-03-11 02:01] #7027 closed

[2021-03-11 07:23] bajtos commented on #7136
I created the "Welcome" discussion topic in https://github.com/strongloop/loopback-next/discussions/7155 and pinned it to the home page.

I also created a new category "LB3 Migration" for Q&A around migration.

Next steps:

- [x] Promote Discussion in our Slack (`#general`) - see https://loopbackio.slack.com/archives/CE8CRBBFU/p1615445989005600
- [x] Open a PR to update "New issue" template(s) - h

[2021-03-11 08:25] #6434 closed

[2021-03-11 13:39] #512 closed

[2021-03-11 13:40] #2660 closed

[2021-03-11 13:40] #3430 closed

[2021-03-11 13:40] #4398 closed

[2021-03-11 13:40] #5551 closed

[2021-03-11 13:40] #5758 closed

[2021-03-11 13:40] #5788 closed

[2021-03-11 13:40] #5798 closed

[2021-03-11 13:40] #6076 closed

[2021-03-11 13:42] #2268 closed

[2021-03-11 13:42] #2809 closed

[2021-03-11 13:42] #3177 closed

[2021-03-11 13:42] #3300 closed

[2021-03-11 13:42] #3994 closed

[2021-03-11 13:42] #4044 closed

[2021-03-11 13:42] #4179 closed

[2021-03-11 13:42] #4182 closed

[2021-03-11 13:42] #4354 closed

[2021-03-11 13:42] #4437 closed

[2021-03-11 13:42] #5192 closed

[2021-03-11 13:42] #5408 closed

[2021-03-11 13:42] #5563 closed

[2021-03-11 13:42] #5581 closed

[2021-03-11 13:42] #5713 closed

[2021-03-11 13:42] #6044 closed

[2021-03-11 13:42] #6099 closed

[2021-03-11 13:42] #6190 closed

[2021-03-11 13:42] #6202 closed

[2021-03-11 13:42] #6308 closed

[2021-03-11 13:42] #6417 closed

[2021-03-11 13:42] #6728 closed

[2021-03-11 13:42] #6744 closed

[2021-03-11 13:42] #6858 closed

[2021-03-11 13:42] #6935 closed

[2021-03-11 13:42] #6959 closed

[2021-03-11 13:42] #6972 closed

[2021-03-11 13:45] #3310 closed

[2021-03-11 13:45] #1234 closed

[2021-03-11 13:47] #2383 closed

[2021-03-11 13:47] #4758 closed

[2021-03-11 13:47] #4781 closed

[2021-03-11 13:47] #6207 closed

[2021-03-12 01:00] EwertonDutra commented on #6416
@hernanrz
**Very good**

Just to make the migrate code clearer
_It looked like this:_

[code]

[2021-03-12 16:05] bajtos commented on #1940
@MattiaPrimavera

Cool! Sorry for the long silence on our side 🙈

I believe that's already handled by our REST validation layer. This GH issue is about adding a shorter way how to define required parameters in the code.

Yes please :+1:

[2021-03-12 22:01] fguille94 commented on #7017
+1

[2021-03-16 00:51] emazzu opened #7272 "npm start ---> Error: Cannot find module 'C:\Users\userName\@loopback\build\bin\run-clean.js'"
## Steps to reproduce

npm start

## Current Behavior

Error: Cannot find module 'C:\Users\xmazzuce\@loopback\build\bin\run-clean.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:982:15)
    at Function.Module._load (internal/modules/cjs/loader.js:864:27)
    at Function.executeUserEntryPoint [as runMain] (internal/modules/run_main.js:74:12)
    at internal/main/run_main

[2021-03-16 12:38] emazzu commented on #7272
add information
C:\Users\xmazzuce\OneDrive - Sinopec Argentina Exploration & Production Inc\Documents\LB4\app>node --version && npm --version && lb4 -v | find "cli"
v14.16.0
6.14.11
@loopback/cli version: 2.19.0

[2021-03-16 17:25] dougal83 commented on #7272
@emazzu Could you try `npm ls --prod --depth 0` and see what is installed?  If nothing is returned then try `npm install` then retry `npm start`.  The install process should be called by the cli when bootstrapping a new app by using the `lb4 app` command.

[2021-03-16 20:10] emazzu commented on #7272
@dougal83
hi, how are you ?

I have all installed. @loopback/cli, global
and app01 with lb4 app01

when i run npm ls --prod --depth 0, it return

+-- @loopback/boot@3.2.1
+-- @loopback/core@2.14.1
+-- @loopback/repository@3.4.1
+-- @loopback/rest@9.1.3
+-- @loopback/rest-explorer@3.1.0
+-- @loopback/service-proxy@3.0.7
`-- tslib@2.1.0

I don't understand what happens, i dont find the problem.

[2021-03-16 20:24] emazzu commented on #7272
here, i have the first problem, the run-clean.js, is here, and the message that cannot found is an another forder.
C:\Users\xmazzuce\OneDrive - Sinopec Argentina Exploration & Production Inc\Documents\LB4\app01\node_modules\@loopback\build\bin

Error: Cannot find module 'C:\Users\xmazzuce\@loopback\build\bin\run-clean.js'

[2021-03-16 20:42] dougal83 commented on #7272
Hey @emazzu, all good here just getting back into some programming myself.

Hmm, perhaps you could try deleting the local `node_modules` folder and retry `npm install` & `npm start` commands.  Other than that I've had some weird behaviour if there are any `node_modules` folders erroneously existing in parent folders.

Out of curiosity, could you try creating and running an lb4 app from `C:\testfol

[2021-03-16 21:25] nflaig commented on #6791
@bhupesh-sf have you checked out https://github.com/strongloop/loopback-next/pull/3389?

[2021-03-17 11:08] emazzu commented on #7272
I have resolved,
The problem was, that I have installed loopback3 in the same machine.
When I try install loopback 4 in the new VM on windows 10, it works good.

Thank you very much !!!!

[2021-03-17 12:22] #7272 closed

[2021-03-18 19:54] emazzu opened #7282 "lb4 discover with mssql conector, problem with dataType"
## Additional information

lb4 disdcover with mssql works goold ??? are detected this problem ???  I send you the model

import {Entity, model, property} from '@loopback/repository';

@model({settings: {idInjection: false, mssql: {schema: 'dbo', table: 'user'}}})
export class User extends Entity {
  @property({
    type: 'number',
    required: true,
    precision: 10,
    scale: 0,
    id: 1,

[2021-03-19 07:11] bhupesh-sf commented on #6791
@nflaig I did it when I started working on opentelemetry not recently. The current implementation which Is available in a separate branch for tracing is based on opentracing not opentelemetry and it's completely broken. The solution I gave above completely works and more can be built upon this.

Right now I am short of bandwidth but if someone is interested can pick this up. The above solution wor

[2021-03-19 15:57] dhmlau commented on #7054
Also `loopback-component-storage` reached end of life, so there's no need to move to GH Actions.

[2021-03-19 16:08] bajtos commented on #7054
AFAICT, `loopback-connector-openapi` does not require any special setup, it's just `npm install` and `npm test`. The transition from Travis to GitHub action should be pretty trivial.

See [`loopback-connector-openapi/.travis.yml`](https://github.com/strongloop/loopback-connector-openapi/blob/8db05a578b3fe8e5183b4fa0ef5b616768d944ad/.travis.yml):

[code]

(It would be great to remove Node.js 10 and

[2021-03-19 16:09] bajtos commented on #7054
Well, Node.js 10 is reaching end of life on 2021-04-30, so we should keep it for few more weeks.

[2021-03-20 00:09] dhmlau commented on #7092
Closing due to inactivity.

[2021-03-20 00:09] #7092 closed

[2021-03-20 10:14] sertal70 commented on #4495
I'm wondering why nobody Is working of this. Excluding hidden properties at controller level is redundant and lead to weirds generated schemas like this:

[code]

@jannyHou do you have any plan to sort it out?

[2021-03-22 02:53] marioestradarosa commented on #7115
I think the setup() method your are trying to call is called inside the constructor.  I think you are trying to dynamically specify parameters ?  Can't see your code above but you have to options if that's what you want to achieve.

[code]

or even more if you see the code `lb4 datasource` generates, the dataSourceName is a static member of the extended class from `juggler.DataSource` and inside t

[2021-03-22 05:15] marioestradarosa commented on #7012
@vinutha93bnvs  I am a little bit confused, please clarify. Do you want to enable keep-alive whenever you call other serves from your loopback 4 application or you want to enable other clients to call your loopback 4 application and honor keep-alive: true requests ?

[2021-03-22 15:24] hoquocdat commented on #3047
Dear, I'm preseting for VietMoney - Fintech from VietNam. We are using loopback version 3 and upgrade to version 4 since it still in development.
We are building microservices and 98% of our backend api services written by NodeJS based on Loopback framework. (we have ~700 APIs, 36 repos). May our company appear on loopback site ? https://vietmoney.vn this is our website

I would like to attach log

[2021-03-23 17:34] djensen47 commented on #6828
I'm having a similar issue but the suggestions above did not work. Instead, on Mysql 5.6, the dicover command only shows views and shows none of the tables.

[2021-03-23 18:09] djensen47 commented on #6828
@dkislov How did you run that typescript script you wrote? Did you have to transpile it firsrt?

[2021-03-23 18:37] dkislov commented on #6828
Did you get some results from the running script? BTW I run lb4 under debugger in Visual Studio Code, this was a way I found successful combination of parameters. :-)

[2021-03-23 20:16] djensen47 commented on #6828
Well, the problem is that the json file is not writing to disk. It creates the file but writing the JSON fails for some reason.

I've also tried

[code]

but nothing happens. I'm runnin MySQL 5.6, which is kinda old, I have no idea if this is the problem or not.

[2021-03-23 22:29] djensen47 commented on #6828
I tried MySQL 5.7 with a fresh database and I get the same issues. Something about discovery on MySql based dbs is broken.

[2021-03-23 22:50] djensen47 commented on #6828
🤦 Ugh, sorry no offense to the team, **this software is fantastic** ... but this is a case of bad documentation.

I thought `schema` was the table/collection not the database/namespace.

It's further made confusing by the fact the datasource config already specifies the database you want to use.

My suggestions:
- change `schema` parameter to `db`
- the default `db` should be the one specified in

[2021-03-25 00:37] dhmlau commented on #6742
Closing as done.

[2021-03-25 00:37] #6742 closed

[2021-03-28 16:00] agnes512 commented on #3047
@hoquocdat We're happy to showcase your company on our web site! Optionally, you can also send us 2-3 sentences about your LoopBack usage that we can use it in [https://loopback.io/what-our-users-say.html](https://loopback.io/what-our-users-say.html) too. Feel free to send me an email to discuss 😄

[2021-03-29 04:18] hoquocdat commented on #3047
Thank you for your response, @agnes512. Could you give me your email ? I will send it now

[2021-03-29 05:47] govea opened #7331 "Calling a service when the application starts"
What's the best way to call a service method when the application starts?

I have some business logic defined in a service that I need to execute at startup.

In `application.ts`, in the start method, you can `app.getRepository` and
[this comment](https://github.com/strongloop/loopback-next/issues/2699#issuecomment-480678870) from issue [#2699](https://github.com/strongloop/loopback-next/issues/26

[2021-03-29 06:34] raymondfeng commented on #7331
You can simply use https://loopback.io/doc/en/lb4/Life-cycle.html.

[2021-03-29 06:36] raymondfeng commented on #7331
In your code, where and how is MyService defined? The typescript code expects a type.

[2021-03-29 14:14] govea commented on #7331
I'll look into [https://loopback.io/doc/en/lb4/Life-cycle.html](https://loopback.io/doc/en/lb4/Life-cycle.html), thanks.

MyService is defined as a class and it is registered in the application.

[code]

[code]

[2021-03-29 14:46] raymondfeng commented on #7331
If you import `MyService` correctly, you should be able to use `this.get<MyService>(...)` in application's `start()`.

[2021-03-29 18:35] agnes512 commented on #3047
@hoquocdat agneslin.lin@ibm.com thanks!

[2021-03-29 19:53] SandroMoretti commented on #4397
Hello @baltameme , you got this work?
I'm with the same trouble, I tried surround with quots and comment like ach said, but without success.

[2021-03-29 20:08] govea commented on #7331
The LifeCycleObserver is going to do the trick. I noticed you can inject both repositories and services on it. Thanks @raymondfeng!

[code]

[2021-03-29 20:08] #7331 closed

[2021-03-29 20:52] GwendalBroudin commented on #2487
Hi any progress on this topic?

[2021-03-30 12:21] vinutha93bnvs commented on #7012
@marioestradarosa

I am trying to optimize the connections on my server. i.e. enable keep-alive whenever you call other serves from my loopback 4 application.
More precisely, I am looking for enabling keep-alive / re-use connections on my Rest-Connector

[2021-04-03 06:33] #3417 closed

[2021-04-05 23:30] marioestradarosa commented on #7012
@vinutha93bnvs   do you have the property ` gracePeriodForClose` in your index.ts file ?.  If so try to remove it since it should default to infinity.

Check: https://loopback.io/doc/en/lb4/apidocs.http-server.basehttpoptions.graceperiodforclose.html

[2021-04-06 10:59] vinutha93bnvs commented on #7012
@marioestradarosa
I have not configured **gracePeriodForClose**  in my application.

[2021-04-06 21:43] GihanMaheshWijesuriya commented on #6509
do you add that refreshtoken model. because I have same issue

[2021-04-06 21:57] GihanMaheshWijesuriya commented on #6509
still, showing the same error
Request POST /signup failed with status code 500. Error: ER_NO_SUCH_TABLE: Table 'dbName.user' doesn't exist

[2021-04-07 14:42] marioestradarosa commented on #7115
@andreyunugro , here is a complete example.

[code]

[2021-04-07 17:51] andreyunugro commented on #7115
Hi @marioestradarosa,

Yes, you are correct. Method setup() is called inside the constructor. Thank you for your example.

My use case is: [MongoDB Automatic Client-Side Field Level Encryption](https://docs.mongodb.com/manual/core/security-automatic-client-side-encryption/).
Routine: I need to connect to current MongoDB key vault (which need MongoDB connection), add key management service, define

[2021-04-08 07:11] VinayaSathyanarayana commented on #4195
Any progress on this?

[2021-04-08 08:17] frbuceta commented on #7136
Close as Done

[2021-04-08 08:17] #7136 closed

[2021-04-08 08:18] #4378 closed

[2021-04-08 08:20] #3602 closed

[2021-04-08 08:21] #3837 closed

[2021-04-08 13:53] dpardhi opened #7356 "how to implement multiple authentication (existing one is jwt) in loopback 4"

[2021-04-08 14:39] #7356 closed

[2021-04-08 16:03] KingGoujian commented on #1830
Also interested in this. Any update?

[2021-04-08 19:17] marioestradarosa commented on #7088
@KunalBurangi , this referential integrity that you are referring to can be achieved at your code level. Why don't you override the `create` or `update` method in the repository and place your own code for this validation to occur or place the validation at the controller level?.

At the controller level you simply findByID in the dataflowRepository passing over the dataflowid coming in the Transf

[2021-04-09 02:46] marioestradarosa commented on #5282
Soap-Calculator example is working fine at this moment. The link referenced by @raymondfeng is now  here [Calling Soap web services](https://loopback.io/doc/en/lb4/Calling-soap-web-services.html)

[2021-04-10 00:13] achrinza commented on #4195
Still prototyping on how the initial integration will work; Hopefully I can get a PR ready in the upcoming weeks, but no promises as of now.

[2021-04-12 22:02] canmustu opened #7361 "Prompt issue by creating datasource with specified config"
## Steps to reproduce

I specified all options to create datasource not to prompt me any question but It still prompts me the all fields. Prompt me the connector and then url, host, port etc.
I tried these options by passing config file and other way which is `--connector mongodb` way but same behaviour.

My `config.json`
[code]

My datasource creation `CLI command`:

[code]

## Current Behavior

[2021-04-12 22:37] canmustu opened #7362 "Prompt issue by creating repository with specified config"
## Steps to reproduce

I specified all options to create repository not to prompt me any question but It still prompts me the repository base class.
I tried these options by passing config file and other way which is `--repositoryBaseClass DefaultCrudRepository` way but same behaviour.

My `config.json`
[code]

My repository creation `CLI command`:

[code]

## Current Behavior

Prompt me to choose

[2021-04-12 22:47] canmustu opened #7363 "Prompt issue by creating controller with specified config"
## Steps to reproduce

I specified an option ( `controllerType` ) to create controller not to prompt me the question but It still prompts me for `controllerType`.
I tried this option by passing config file and other way which is `--controllerType REST` way but same behaviour.

My `config.json`
[code]

My controller creation `CLI command`:

[code]

## Current Behavior

Prompt me to choose a control

[2021-04-12 23:02] canmustu opened #7365 "Prompt issue by creating model with "base" argument"
## Steps to reproduce

I specified an option ( `base` ) to create model not to prompt me the question but It still prompts me for `base`.
I tried this option by passing config file and other way which is `--base entity` way but same behaviour.

My `config.json`
[code]

My controller creation `CLI command`:

[code]

## Current Behavior

Prompt me to choose a base:

[code]

## Expected Behavior

Not

[2021-04-13 03:53] lonewolfaka9 commented on #1467
you can deploy Dockerized application on google cloud run and it will work like charm

[2021-04-13 11:57] achrinza opened #7368 "Migrate connect repos into monorepo"
This issue is to track the feasibility of migration the connector repos into this monorepo.

**Problem statement**

The connectors are in separate repos, which results in...

1. Inconsistent automated maintenance and CI workflows (i.e. dependency/vuln. management, code linting)
2. Disparate issue trackers (harder to keep track of connector-specific issues)
3. Non-integrated CI testing (i.e. integr

[2021-04-14 08:11] achrinza commented on #7368
Potential blocker—GitHub Actions only supports containers/services with ubuntu-* images. Currently, the CI pipeline for most connectors are hosted under `cis-jenkins.swg-devops.com`, which isn't currently publicly-accessible AFAIK.

[2021-04-14 11:51] patelmayankce opened #7390 "updateById is not triggering DB validaiton"
## Steps to reproduce

## Current Behavior
My Field configuration
[code]
this.repository.create({ name: '  ' }) = > This throw an error which is good

this.repository.updateById(id, { name: '  ' }) = > This function directly bypass the validation configured in model

## Expected Behavior
this.repository.updateById(id, { name: '  ' }) = > This method call should throw an error based on model config

[2021-04-14 18:01] paeolo commented on #6621
@raymondfeng @mdbetancourt @dhmlau I spent some time recently on this issue and I think it would be very hard to implement without breaking many things:
* The getModelSchemaRef function would be a method that is part of the context, meaning you can't use it in the decorators directly.
https://github.com/strongloop/loopback-next/blob/44f64501d7e0219b51ad5529ff9eca7aebdd040e/packages/openapi-v3/src/

[2021-04-15 14:35] achrinza commented on #7390
AFAIK, `jsonSchema` is only honoured by at REST layer by AJV; Connectors will only honour connector-specific fields (i.e. `mongodb: {}`) or root-level fields (i.e. `id: true`).

I don't have a public record on that, but quoting from Slack thread:

So errors occurring in the `create()` function may be from the database engine itself instead of LoopBack 4's jsonSchema validation.

As per above, `jso

[2021-04-15 14:41] jziggas commented on #5282
First time user of this library here. I don't understand why the LoopBack 4 documentation is providing examples and instructions with LoopBack 3 commands. Eventually found this GH issue to come to the conclusion that what I was trying to do isn't really possible, or if it is then it's not documented. It's confusing. Maybe its a great library, but seeing that this issue is nearly a year old now giv

[2021-04-15 16:21] patelmayankce commented on #7390
Thanks for quick answer @achrinza , Appreciated!!
[code]

Below is my API request body:
[code]
Let me know if you need any more details

Thanks again!!

[2021-04-15 18:03] marioestradarosa commented on #5282
@jziggas I am working on this feature as of today, couldn't work on this in the past due to some other duties. But I have integrated SOAP proxy service in several projects, perhaps I can assist if you explain what is your use case scenario ?  The SOAP calculator is a good example that shows how the REST server integrates very well with external services exposing SOAP .

[2021-04-15 19:09] marioestradarosa commented on #5282
@jziggas I am working on this feature as of today, couldn't work on this in the past due to some other duties. But I have integrated SOAP proxy service in several projects, perhaps I can assist if you explain what is your use case scenario ? The SOAP calculator is a good example that shows how the REST server integrates very well with external services exposing SOAP .

On a side note, this particu

[2021-04-16 01:04] dhmlau commented on #7365
@canmustu, I believe it's `Entity` instead of `entity`.
I tried with the following and the first prompt is asking about additional properties.
[code]

Hope it helps.

[2021-04-16 01:06] dhmlau commented on #7363
Please see [this comment](https://github.com/strongloop/loopback-next/issues/1844#issuecomment-449740864) for example. The `controllerType` should be `REST Controller with CRUD functions`.

[2021-04-16 11:34] Niks218 opened #7403 "OpenAPI spec validation error"
## Steps to reproduce

1. Create spec enhancer, which add custom extension to `#/components/schemas`
[code]
2. Reference this scheme in route or controller description. In request body, for example.
[code]
3. Call this endpoint with correct request body

## Current Behavior

Got error from AJV during validation at `@loopback/rest/src/validation/request-body.validator.ts:157`
[code]

## Expected Be

[2021-04-16 12:22] Niks218 commented on #7403
As workaround it's possible to add custom schema definition to controller description like that
[code]

[2021-04-16 13:01] achrinza commented on #7403
Thanks for opening the issue! Unfortunately I've not been able to replicate the issue; Please check this minimal sandbox and compare it against your codebase: https://github.com/achrinzatest/loopback4-sandbox-7403

Taking a shot at the dark, was the enhancer registered into the Application ([docs](https://loopback.io/doc/en/lb4/Extending-OpenAPI-specification.html#registering-an-enhancer))? To reg

[2021-04-16 13:09] Niks218 commented on #7403
@achrinza Yes, it was registred and resulting `openapi.json` was completely valid
Hmm, weird. I ran your sandbox and got exact the same error
[code]

[2021-04-16 13:12] Niks218 commented on #7403
During debug session I checked logs with `DEBUG=loopback:openapi3:metadata:controller-spec` env set and also checked resulting controller specs with `console.debug(util.inspect(getControllerSpec(TestController), { depth: null }))`

[2021-04-16 13:22] canmustu commented on #7365
@dhmlau `base` value is working now. Thanks for this but there is another problem while creating a model 😞

You write me on my another issue to create a model with example config below:

[code]

When I try to create model with this config:

**CLI:**

`lb4 model --config config.json --yes`

**Result:**

[code]

Still prompts me a property name to create a property for this model but I don't want an

[2021-04-16 13:40] canmustu opened #7404 "Prompt issue by creating model with specified config"
## Steps to reproduce

I specified a config to create model not to prompt me the question but It still prompts me to create a property.

My `config.json`
[code]

My controller creation `CLI command`:

[code]
Note: If I don't use `--yes` arg, the config doesn't work.

## Current Behavior

The `customer.model.ts` file is created but the specified properties are not created, and the terminal prompts

[2021-04-16 17:56] dan-stauffer-aus commented on #1830
wow, this issue was identified 5 years ago....is it ever going to be supported?

[2021-04-16 23:45] dhmlau commented on #7365
Closing as resolved.

[2021-04-16 23:45] #7365 closed

[2021-04-17 02:38] dhmlau commented on #7404
@canmustu, I've created this PR https://github.com/strongloop/loopback-next/pull/7406 which would fix the issue. Will need to add tests.

[2021-04-17 20:29] canmustu commented on #7404
I've used that changed codes and the behaviour is this:

[code]

[2021-04-17 20:34] canmustu commented on #7404
I've used that changed codes. I specified all properties by the config but it still prompts me for properties. Expected behaviour is that not prompt me any property, just generates the model config by specified config.

The behaviour:

[code]

And then, I get the error again,

[code]

[2021-04-17 22:56] canmustu commented on #7363
This config is working, thanks.

[code]

[2021-04-17 22:56] #7363 closed

[2021-04-19 20:44] hadnet opened #7412 "GraphQL custom endpoint issue"
I'm trying to config a custom endpoint using the @loopback/graphql package

In my applications.ts I got this:

[code]

But nothing happens, I can't change the GraphQL endpoint.

Looking into the Apollo docs I see that path is in the applyMiddleware() function param object but in the graphql.server.ts I can't see any config for that, only for app:

[code]
Editing it to something like:
[code]
I can

[2021-04-19 23:17] dhmlau commented on #7368
If we move our CI to GitHub Actions, @bajtos mentioned before that juggle won't be able to have downstream testing. One of the possible solutions could be using https://verdaccio.org.
@achrinza, do you think moving the repos into monorepo help us eliminating this downstream test issue?

[2021-04-20 00:36] achrinza commented on #7368
@dhmlau Thanks for raising the issue; From my understanding, *downstream testing* is running the connector tests against the to-be-merged codebase. Please correct me if I'm wrong :P

With the current monorepo setup, Lerna bootstraps local packages with each other locally, which would replicate the same behavior.

---

The other concern that can't be solved with GitHub Actions is the inability to s

[2021-04-20 05:06] raymondfeng commented on #7412
@hadnet Can you try the following? Please note that components are instantiated When it's bound.

[code]

[2021-04-20 05:25] raymondfeng commented on #7412
I also added the options to configure graphql path.

[2021-04-20 05:59] hadnet commented on #7412
Thanks, man. When will this feat be available?

[2021-04-21 01:43] canmustu commented on #7404
@dhmlau,
Hi, is there any update about this issue?

[2021-04-21 08:14] Niks218 opened #7420 "@response decorator bug cause removing of security scheme object from route specs"
## Steps to reproduce

1. Add `@authenticate` decorator to controller or its method.
2. Add `@oas.response` decorator to the same method.
3. Check generated openapi scheme

[code]

## Current Behavior

No authentication provided for this route

## Expected Behavior
Every route, secured with `@authenticate` decorator must have security object in its spec

## Link to reproduction sandbox

https://gi

[2021-04-21 22:45] #7412 closed

[2021-04-23 11:00] g-wozniak commented on #6281
It does not work for
[code]
either. It just leaved `id` undefined upon constructing.

[2021-04-23 11:14] dougal83 commented on #6281
@g-wozniak What do you get without `generated: false,`?

[2021-04-23 12:37] g-wozniak commented on #6281
I've tried removing/modyfing all those props.
Having a model:
[code]
this test is failing:
[code]
if I comment out the bit in the controller.

[2021-04-23 13:11] dougal83 commented on #6281
@g-wozniak, I'm not sure that test will ever return anything but undefined for `id`.  As I understand it, the `@property` decorator is providing instructions for the db connector to configure the `id` property in the database.  Simply creating an instance of the class will not apply the decorator that is for the db connector to apply.  Perhaps you can take a look at existing tests for examples to

[2021-04-23 13:15] g-wozniak commented on #6281
Yes, I'd agree because it seems like it's a DB-level function and that was my impression (similar to how ORMs work, i.e. Mongoose with similar option). Would be great if in the documentation [here](https://loopback.io/doc/en/lb4/Model.html#overview)  "A name of the function to call to set the default value for the property." to describe a bit more on what layer this function is executed.

[2021-04-30 13:48] oom- commented on #5709
Got the same issue since I added "name" in the model. Without it it was working but the table was created with Uppercase letter at first char.
[code]

[2021-05-02 09:53] pktippa commented on #7362
@canmustu as per https://loopback.io/doc/en/lb4/Repository-generator.html#notes
could you please try with **-y, --yes** `Skip all confirmation prompts with default or provided value`

like
[code]

[2021-05-02 10:07] pktippa commented on #7361
@canmustu As suggested in https://github.com/strongloop/loopback-next/issues/7362#issuecomment-830781408 please try and check

[code]

[2021-05-05 10:55] thansee opened #7477 "Migrating access control doc issue"
Hi,
I am doing loopback 3 app migration. I am done authentication and blocked at authorization. I need to know how loopback 3 ACL works with loopback 4 when migrate. In this docs instructing to create new controller instead of using lb3app models. So how can we use existing models with acl.

[2021-05-05 11:22] #7477 closed

[2021-05-07 06:50] joschne opened #7482 "Error: Definition of model property is missing `type` when circularly referenced with @property()"
## Steps to reproduce
Create new lb4 app, then:

Create model Foo
[code]

Create model Bar
[code]

Start the application.

## Current Behavior

Cannot start the application. Error: The definition of model property Foo.bar is missing `type` field and TypeScript did not provide any design-time type. Learn more at https://loopback.io/doc/en/lb4/Error-codes.html#cannot_infer_property_type

## Expected

[2021-05-07 07:58] joschne commented on #7482
After further investigation, I found a workaround.

[code]

See:
https://github.com/joschne/loopback-next/tree/my-issue-1-workaround

[2021-05-07 12:38] Salketer opened #7483 "The link to changelog when we update is broken."
## Steps to reproduce

lb4 update

## Current Behavior

Once finished we read the text:

Please check out change logs for breaking changes. (​https://loopback.io/doc/en/lb4/changelog.index.html​) but link leads to a 404.

## Expected Behavior

The link should point to a working page.

## Link to reproduction sandbox

Use a demo git please.

## Additional information

[2021-05-08 23:54] rgranadosd opened #7489 "jwt-example doesn't work with mysql"
Hi I'm testing the jwt - todo sample and it's working over memory database but when I use it with a Msql database I have this response

"error": {
"statusCode": 422,
"name": "ValidationError",
"message": "La instancia User no es válida. Detalles: password can't be blank (value: undefined).",
"details": {
"context": "User",
"codes": {
"password": [
"presence"
]
},
"messages": {
"password": [
"can't

[2021-05-09 14:30] muratersin opened #7490 "Data Source Name Conflict"
When I try to create a new repository, getting this error:

[code]

As you can see, LoopBack is lookinf for 'flydb.datasource.config.json' but my datasource file name is 'flydb.datasource.ts'.

I'm so confused because the application was working until now and I couldn't update anything, there is no commit or change my github repository, but today I got this error.

OS: Windows 10 20H2 19042.928
no

[2021-05-11 02:21] VinayaSathyanarayana commented on #4195
@achrinza Hope you could progress on the prisma integration

[2021-05-11 18:18] EwertonDutra commented on #6416
What is your difficulty being?
(code)

Because uuid (I think it would be your ID string) is working! I used
What this thread handles is the error in the JWT (if you follow the tutorial on the site)

[2021-05-11 20:58] #7490 closed

[2021-05-12 04:55] achrinza commented on #4195
Hi @VinayaSathyanarayana, the Prisma integration is still in progress, though I haven't had as much time as I'd like to work on it.

To give an update, lifecycle integration is complete, and the remaining todo are:

- More Tests
- Prisma Model dependency injection

These 2 todos have been interesting to work with due to Prisma generating the typings on-demand and not having a common "base model",

[2021-05-12 05:13] raymondfeng commented on #4195
I was able to leverage Prisma in my project with LoopBack. In my case, I discovered a Postgresql database to generate schemas and strongly-typed client code. I also created repositories that use the generated Prisma client to interact with the DB. To expose REST APIs, I created controllers that inject repositories.

[2021-05-12 05:15] raymondfeng commented on #4195
@achrinza I would love to see your progress. It seems that Prisma and LoopBack can meet in the middle to leverage the best of breeds:

- Prisma provides DB access
- LoopBack provides composition capabilities
- LoopBack exposes REST/GraphQL APIs

[2021-05-12 07:15] tayyab-gulzar commented on #6416
I want to use id type number because string type is not best practice with MySQL.

[2021-05-12 10:17] EwertonDutra commented on #6416
@tayyab-gulzar
In fact, if it is uuid it must be a string (and it is not bad practice).  But if you want to use id (int), the default id (put number and autoincrement) that works too!

[2021-05-12 11:34] tayyab-gulzar commented on #6416
if i use id type number then it gives error

[2021-05-12 11:36] tayyab-gulzar commented on #6416
if I use id type number then it gives error in customUserService binding

[2021-05-12 11:37] tayyab-gulzar commented on #6416
if I use id type number then it gives error in customUserService binding
Type 'import("D:/Node.js/lb4/linksupercharger-loopback-server/src/models/user.model").User' is not assignable to type 'import("D:/Node.js/lb4/linksupercharger-loopback-server/node_modules/@loopback/authentication-jwt/dist/models/user.model").User'.               Types of property 'id' are incompatible.                 Type 'n

[2021-05-12 18:49] EwertonDutra commented on #6416
Create your table out of JWT usage
You will see that normal int or string will work

The problem is in its (use int) use in JWT, which is the theme of this issue

**I don't have the code here to see**
But the class (to use JWT) where you inherit is a string, you can't change it to int out of nowhere

Ex:
[code]

See that it has nothing to do with: "id string compatibility with MySQL"
It is somethi

[2021-05-13 03:26] VinayaSathyanarayana commented on #4195
Can you share the code you used?

[2021-05-18 07:41] wdrdres3qew5ts21 commented on #1863
Is this had been solved yet ? I still didn't clear about solution how to using express-session with Loopback4

[2021-05-19 15:28] devbou commented on #7075
[code]
when i change status code of this method(VOID) return  always 204 , but if you return a non VOID body it works as this example :
[code]

[2021-05-19 23:38] dhmlau commented on #7404
@canmustu, sorry about the delay. I was a bit stuck on getting my tests to pass.

[2021-05-21 09:04] hoquocdat commented on #3047
Dear Agnes Lin, After few months busy with projects, I have send to you email our Loopback referense, please help me to double check on that. Thank you

[2021-05-21 15:27] philip13 commented on #5368
Thank you, that's was the problem, `const finished = await this.invokeMiddleware(context);` it needs to fix

[2021-05-28 13:16] irunika commented on #2766
Is this proposal is going to support the indexing of MongoDB? I am trying to find out the way of doing it from the code level. I could not find documentation on how can we achieve the following.
1. Unique indexes
2. Compound indexes
3. Geospatial indexes (This is mentioned in one place and have said to create in the database level)

All of these need in the project that we are working on with LB4.

[2021-05-29 11:20] achrinza commented on #7079
Closing due to inactivity.

[2021-05-29 11:20] #7079 closed

[2021-05-30 06:41] jotamora opened #7517 "Loopback 4: Exclude issue in hasone relations"
Hello all,

I have looked for a solution to that, but I see nothing in the documentation and in the forums. I start to think that it is not possible to do, or that it is some kind of issue.

In a schema, It is possible to exclude a field how comes from a @hasone relation?

![Captura de pantalla 2021-05-29 a las 10 00 18](https://user-images.githubusercontent.com/6785592/120094679-217fbb00-c122-11e

[2021-06-01 10:44] datpp commented on #7517
@jotamora in this case you can set hidden property in your model field

[2021-06-03 09:11] achrinza commented on #7517
Tagging this as a feature request as `getModelSchemaRef` itself doesn't support nested property excludes.

[2021-06-07 08:45] thanakritlee opened #7566 "getModelSchemaRef doesn't get all extended model's properties."
## Steps to reproduce

I've got a controller with an endpoint which take a request body of the `Foo` model class.
[code]

The model classes:
[code]

## Current Behaviour

When looking at the generated swagger document or calling the controller endpoint, the schema body is the following:
[code]
The `id` and `delete` properties are missing.

## Expected Behaviour

I expected that the controller mode

[2021-06-07 23:29] dhmlau commented on #7483
When I ran the `lb4 update` command, and the breaking change message showed up as stated. The link [https://loopback.io/doc/en/lb4/changelog.index.html](https://loopback.io/doc/en/lb4/changelog.index.html) works for me. I noticed that in the original description, the url was:

[code]

instead of simply:
[code]

[2021-06-08 11:28] GrooveCS opened #7569 "Error during install of `lb4 app`"
## Summary

Creating a new loopback 4 application with the following

[code]
and received an error message.
[code]
Running `ncu -u` identified the issue:

[code]

## Steps to reproduce
Executed the following:
[code]

## Current Behavior

[code]

## Expected Behavior
[code]

## Additional information

**Log File**
[2021-06-08T10_51_37_110Z-debug.log](https://github.com/strongloop/loopback-next/file

[2021-06-08 14:20] raymondfeng commented on #7569
@GrooveCS Can you run `npm info globals` and paste the result here?

[2021-06-08 23:47] #7080 closed

[2021-06-09 08:09] sushant022 commented on #3720
Loopback 3 has AccessToken _id of type string.
I have an app using db generated by lb3 and reuse in an lb4 app.
How can i use _id as type string?

[2021-06-09 10:41] JerryHuang2015 opened #7574 "Error while with @loopback/security package, miss match version on authentication-jwt & authorization"
## Error while with @loopback/security package
 node_modules/@loopback/authentication-jwt/node_modules/@loopback/security/dist/types.d.ts:12:5
    12     [securityId]: string;
[code]

[2021-06-10 04:22] achrinza commented on #7574
If possible, please make sure that `@loopback/cli` is at the latest version:

    npm i -g @loopback/cli

To synchronize `@loopback/*` direct dependencies:

    lb4 update

[2021-06-10 04:32] achrinza commented on #7566
The issue is most probably somewhere in this function:

https://github.com/strongloop/loopback-next/blob/96b00d03e1f820f558860cf0095e547b3f7fa781/packages/repository-json-schema/src/build-schema.ts#L254

[2021-06-10 21:10] #7574 closed

[2021-06-13 10:18] durai001 commented on #1914
@model({
  settings: {
    hiddenProperties: ['OTP', 'providerId', 'password', 'isDelete'],
  },
})

This is worked for me., try this

[2021-06-14 02:56] marioestradarosa commented on #7517
@jotamora , you have two options in the meantime:

1. Create a separate model and repository that don't include the permissions property and use them in the patch or any other endPoint you want. Inside a controller, you don't have to necessarily work with one repository, you can target multiple ones. More over, you can have the model without the permissions as the base and the current extends it a

[2021-06-14 09:50] BillyCottrell commented on #6329
Hi, any updates on this?

I am trying to implement the microservice architecture and I would like to know how to build it using Loopback 4 except that there is no documentation or examples on how to create microservices and gateways. It could be interesting perhaps to have information on using a registry to automatically register new instances of a microservice so things like load balancing could

[2021-06-16 07:52] jaishirole opened #7584 "loopback-datasource-juggler depends on shortid, which is deprecated"
The 'shortid' dependency is deprecated and suggests the use of 'nanoid' instead.

From: https://github.com/dylang/shortid

The README.md of shortid has a line on screenshots being licensed under 'CC-BY-SA' whereas the nanoid has no such mention. It seemed problematic.

In short, moving dependency from shortid to nanoid will help with
1. supported module
2. no legal concerns.

Note: While creating

[2021-06-16 09:22] pktippa commented on #7368
@achrinza @dhmlau I would like to contribute for `loopback-connector-mysql`, please guide me on getting started.

[2021-06-18 11:43] VishalSingh28 commented on #1873
How can we upload file (Single and Multiple)
in MySQL database with id and forigen key

[2021-06-18 14:25] raymondfeng commented on #1873
@VishalSingh28 You will have to follow https://github.com/expressjs/multer/blob/master/StorageEngine.md to create a multer storage engine for MySQL and configure the file uploader to use it.

[2021-06-21 16:50] dhmlau opened #7595 "Move LoopBack4 related repos to new GH org"
As [LoopBack joins the OpenJS Foundation](https://openjsf.org/blog/2021/06/02/loopback-joins-openjs-foundation-as-new-incubating-project/), we'll be moving the LoopBack4 related repos to the new GH org: https://github.com/loopbackio

Here are the repos:

1. Core
- [ ] [loopback-next](https://github.com/strongloop/loopback-next)
- [ ] [loopback-datasource-juggler](https://github.com/strongloop/loop

[2021-06-21 18:17] tsraza commented on #1830
TypeORM supports joining on multiple foreign keys: https://typeorm.io/#/relations/joincolumn-options

[2021-06-27 04:56] carlosDistillery commented on #5671
Hi bro, I started a project with rush and pnpm but I had some problems with the dependencies at the installation moment. Now I'm using Lerna but one question that I have is about yarn and pnpm. I can see that you question was created one year ago. Were you able to test yarn perfomrnace in monorepo?

[2021-06-27 09:24] rhiwn opened #7598 "optional string property in model does not work properly with "exists" where clause"
## Steps to reproduce

create a model with an optional string property i.e.
`  @property({
    type: 'string',
  })
  c_modelCode?: string;`

when using "exists" on this property, doesn't return any data event when there is data.
`"where" : {
    "c_modelCode": {"exists" : true}
}`

if the property is removed from the model definition, data is returned with the above where filter.

## Current Beha

[2021-06-27 09:46] rhiwn commented on #7598
if I set the data type to "any" then it works properly.

[2021-06-28 13:00] 0x0aNL opened #7599 "Regression: secondary HasManyThrough inclusion fails with circular dependency"
After the latest release (and possibly the one before - hard to test), a circular dependency error triggers where none did before.

## Steps to reproduce

1. Create 3 models, e.g. User, Participant, Conversation
2. Set up bi-directional HasManyThrough relations (User through Participant to Conversation, Conversation through Participant to User)
3. Use one repository to find instances of the other

[2021-06-28 14:47] raymondfeng commented on #7599
@thephoenixofthevoid Can you check if this is related to your PRs in `@loopback/context`?

[2021-06-28 21:02] thephoenixofthevoid commented on #7599
I will try to test with the previous release first. Because if it fails at the previous one, then it's unrelated to the changes in PR.

[2021-06-28 21:29] thephoenixofthevoid commented on #7599
Doesn't look like the mentioned commit is to blame. I may investigate this issue if you want to. And then report as a comment below.

[code]

[2021-06-28 21:47] thephoenixofthevoid commented on #7599
I commented out the whole checking for `Circular dependency` and it worked.

I think we should apply the following logic (which is used in inversify):
1. try ... catch for an error in runWithBinding
2. If it's the stackoverflow error, throw our error with information about bindings
3. Otherwise rethrow

It seems like there are changes in other packages that made 2 bindings referentially equal, thu

[2021-06-28 22:08] thephoenixofthevoid commented on #7599
[code]

Link to the state: d75d79d568b19fa632696e032e136e7e0253e85a
The bug is much older than 0x0aNL suggested.

[2021-06-28 22:17] thephoenixofthevoid commented on #7599
Originally taken from inversify:

[code]

[2021-06-29 13:10] jippy89 opened #7600 "'NodeJS\getting-started\node_modules\.bin\' is not recognized as an internal or external command, operable program or batch file."
## Steps to reproduce
Follow the [Getting Started](https://loopback.io/doc/en/lb4/Getting-started.html) tutorial.

## Current Behavior
[code]

## Expected Behavior

The app starts like what's in the documentation

## Link to reproduction sandbox

Just follow the guide

## Additional information
Windows 10
Platform: win32
Arch: x64
Node version: 12.18.0

Packages:
@loopback/boot@3.4.1
@loopback/cor

[2021-06-29 13:13] jippy89 commented on #7600
I'm a bit concerned about this line
[code]
Since the correct folder should be `C:\Users\MyUsername\Documents\Projects\Udemy\ **Loopback 4: Modern ways to build APIs in Typescript & NodeJS\getting-started** \@loopback\build\bin\run-clean.js`, instead of just `C:\Users\MyUsername\Documents\Projects\Udemy\@loopback\build\bin\run-clean.js`

[2021-06-29 13:18] 0x0aNL commented on #7599
Thanks for getting the investigation on so rapidly and thoroughly!

I ran into this bug while upgrading the API I'm working on from aforementioned `@loopback/repository@3.5.0` and `@loopback/core@2.15.0`. It took me a lot of time to reproduce it with a minimal framework, and at that time I thought I had found the issue. However, the code to "reproduce" the bug clearly is not the exact same, becaus

[2021-06-29 13:20] jippy89 commented on #7600
Silly me. Problem solved, it's really is what I just mentioned. It seems that the spaces in "Loopback 4: Modern ways to build APIs in Typescript & NodeJS" what makes the problem. Just started a new project in a different directory, "C:\Users\Documents\Projects\getting-started\lb4-getting-started" and it works.

[2021-06-29 13:20] #7600 closed

[2021-06-29 13:34] thephoenixofthevoid commented on #7599
Could you please share some more information about your API that you try to upgrade. What was the error message? Does removing the check for circular dependency helps?

That is, put aside the reproduction repo, what was the exact error you faced?

[2021-06-29 14:04] 0x0aNL commented on #7599
The error we encounter when upgrading the API is:
[code]

In this setup, there's a bi-directional HasManyThrough relation between User and Conversation through ConversationUser, and the triggering code (now part of an acceptance test) is:
[code]

Interestingly, in order to trigger this error again so I could paste it here, I just installed `@loopback/core@2.16.0`. Comparing the sets of packages us

[2021-06-29 14:11] thephoenixofthevoid commented on #7599
Do you mix components from different releases?

Also, I need to check how core versions differ.

What is for sure, the change responsible for it happened before #7527. That is good to know

[2021-06-29 14:14] thephoenixofthevoid commented on #7599
Well, it seems you are having conflicting versions of context loaded at the same time. Try to update to newer version at the same time for all components

[2021-06-29 14:17] 0x0aNL commented on #7599
We update components once in a while (my preference is every release), and when we do, we upgrade all components at the same time. Unfortunately that's where things went haywire this time around, which is why the component lists are a bit of weird mix right now. That leads me to a somewhat related question: there is an upgrade tool, but what is the best way to downgrade to a consistent set of comp

[2021-06-29 14:24] thephoenixofthevoid commented on #7599
Well, https://loopback.io/doc/en/lb4/Update-generator.html
Is that what you are looking for?

[2021-06-29 14:42] 0x0aNL commented on #7599
Unless I'm missing something in the documentation, it's not possible to tell the update generator to create a set compatible with a given component, e.g. `@loopback/core@2.15.0`. Downgrading `@loopback/cli` before-hand also does not seem to lead to a downgrade in `packages.json`.

[2021-06-29 14:47] 0x0aNL commented on #7599
Commenting out the `throw new Error(msg);` in `pushBinding` indeed works just fine!

[2021-06-29 15:23] thephoenixofthevoid commented on #7599
@raymondfeng, create a PR that will defer circular dependency error until actual stack overflow ocurrence? Long story short: this case is when the reappearance of same binding down the resolution tree is normal and doesn't lead to overthrow.

[2021-06-29 18:55] 0x0aNL commented on #7599
I finally found the difference between the repro-repo and our API, that made our API work with `@loopback/context@3.15.0`. Our `UserRepository` is a singleton!

I added some commits to https://github.com/0x0aNL/loopback-next/tree/hmt-circdep-regression. The last commit should trigger the circular dependency error, while the one before with `@loopback/context@3.15.0` instead of `@loopback/context@3

[2021-06-30 15:01] marioestradarosa commented on #7420
@Niks218 have you tried to change the order on the decorator as such:

Notice the authenticate goes first in this example.

[code]

[2021-07-02 00:08] ConaGo commented on #6391
Hi there, if this Issue is still not resolved i would like to give it a shot!

[2021-07-02 10:34] Niks218 commented on #7420
Yes, I tried it both ways

[2021-07-02 12:04] A-Corregidor opened #7602 "Login error: cannot read status of undefined on reject.provider.ts"
## Summary
We've some project working, with authentication and RBAC through Casbin, everything is OK
No files where changed, but after one npm install, login becomes broken with the following error:
`Request POST /api/login failed with status code 500. TypeError: Cannot read property 'status' of undefined
    at MySequence.reject (********/node_modules/@loopback/rest/src/providers/reject.provider.

[2021-07-02 15:07] vishnu1545 opened #7603 "Loopback not utilizing connection pool fully"
Using loopback datasources for postgres, we provided max connection pool of 20. As soon as app starts it makes two connection. When doing load test using jmeter, it is seen that only those two are being used. But after some time new connection were formed, to match the max number. But in any given second active connection were never more than 3. Also it was like utilizing a stack of connections be

[2021-07-02 15:18] raymondfeng commented on #7603
Did you try to adjust https://nodejs.org/api/cli.html#cli_uv_threadpool_size_size?

[2021-07-02 18:42] vishnu1545 commented on #7603
Yes, I have tried UV_THREADPOOL_SIZE, this observation logs are with UV_THREADPOOL_SIZE=18 but I have tried with 30 and even higher numbers. But the result is similar, with higher number db inserts are further lined up.

[2021-07-03 02:31] achrinza commented on #6391
Sure thing, @ConaGo! Feel free to ask queries here or on #loopback-contributors on Slack. The maintainers will try to help where possible.

[2021-07-03 02:34] achrinza commented on #7599
Perhaps we should also consider tweaking the existing setup as an informational alert as well? Otherwise, this may be a bottleneck that may be difficult to debug (i.e. not all circular dependencies are deliberate).

[2021-07-03 02:38] achrinza commented on #5671
AFAIK, we've never did much testing with yarn when NPM workspaces manifested.

[2021-07-03 02:41] achrinza commented on #7368
@pktippa Apologies for missing your comment; Currently, it's a bit difficult as there's quite a bit of internal CI pipelines that aren't visible. Hence the requirements of the new CI pipeline isn't really clear at the moment.

[2021-07-03 08:21] thephoenixofthevoid commented on #7599
It will become a problem once we have a truly async resolution. In meanwhile it's ok to simply catch stack overflow. The reason is that you have to do something to prevent recursive execution, it very unlikely to do it by mistake and it is very fragile thing that needs special care.

[2021-07-03 08:35] thephoenixofthevoid commented on #7599
In case of async resolution we will have to fibers as a call stack to track the dependencies between contexts. Because of that the depth of call stack won't ever be more that ~20 and we will stuck in infinite execution actually never getting an error. So I would rather think of it as of a future problem. And fundamental problem, by the way.

[2021-07-03 13:31] pktippa commented on #7368
@achrinza Okay, let me know once the task is available to take up again.

[2021-07-03 21:13] edwinofsakh opened #7605 "cli: Missed socketio example"
# Summary

[@loopback/example-socketio](https://github.com/strongloop/loopback-next/tree/master/examples/socketio) can not be downloaded via cli. It is also not avaibile on [Examples](https://github.com/strongloop/loopback-next/blob/master/docs/site/Examples.md) page.

## Steps to reproduce

[code]

## Current Behavior

[code]

## Expected Behavior

[code]

## Link to reproduction sandbox

N/A

##

[2021-07-05 12:24] VishalSingh28 opened #7607 "Loopback file upload with postman"
How we can upload file with the help of the postman because I getting failed with status code 500. MulterError: Unexpected field
But I am able to upload file with the help of loopback

Please suggest how we can send file to loopback  with the help of postman

![postman](https://user-images.githubusercontent.com/41333057/124470985-f2f89e00-ddb9-11eb-9670-7e25604cbaa8.PNG)
![postman1](https://user-i

[2021-07-05 14:31] achrinza commented on #7607
Closing in favour of https://github.com/strongloop/loopback-next/discussions/7606

[2021-07-05 14:31] #7607 closed

[2021-07-07 07:29] Arbuzov commented on #5997
Reproduces this problem with @loopback/repository 3.7.0

[2021-07-07 10:08] Habbiton commented on #7602
Any tips on this?

[2021-07-07 10:10] A-Corregidor commented on #7602
Any tips on this?

[2021-07-07 10:12] achrinza commented on #7602
Does https://github.com/strongloop/loopback-next/pull/7491 solve the issue?

[2021-07-07 10:13] achrinza commented on #5997
Does https://github.com/strongloop/loopback-next/pull/7491 solve the issue?

[2021-07-08 09:40] igbenic commented on #7104
Any other way of doing this in the meantime? I have 2500 tables, impossible navigate with CLI

[2021-07-09 02:57] egor0518 commented on #110
Hoped to be a contributor of LoopBack team.

[2021-07-09 07:16] A-Corregidor commented on #7602
Any tips?

[2021-07-12 06:19] lonewolfaka9 commented on #5464
+1

[2021-07-12 17:18] dhmlau commented on #7605
@edwinofsakh, would you like to submit a PR?

[2021-07-14 03:20] dhmlau commented on #7595
@loopbackio/loopback-maintainers, I've moved all the repos under https://github.com/loopbackio. 🎉
I think I'd need help from you all to help setting up / checking whether CI is still working. For example:
- GitHub Actions or Travis for running the tests
- Commit linter and code linter - the Jenkins we previously use is no longer working
- update package.json and other reference of `StrongLoop` or

[2021-07-14 10:07] #5426 closed

[2021-07-14 10:07] #5422 closed

[2021-07-14 10:07] #5476 closed

[2021-07-14 10:07] #5423 closed

[2021-07-14 10:07] #5424 closed

[2021-07-14 10:07] #2053 closed

[2021-07-14 10:07] #4005 closed

[2021-07-14 10:07] #3961 closed

[2021-07-14 10:07] #2767 closed

[2021-07-14 10:07] #4125 closed

[2021-07-14 10:07] #2333 closed

[2021-07-14 10:07] #2343 closed

[2021-07-14 10:07] #2342 closed

[2021-07-14 10:07] #2341 closed

[2021-07-14 10:07] #4181 closed

[2021-07-14 10:07] #4189 closed

[2021-07-14 10:07] #4208 closed

[2021-07-14 10:07] #896 closed

[2021-07-14 10:07] #4229 closed

[2021-07-14 10:07] #1197 closed

[2021-07-14 10:07] #2184 closed

[2021-07-14 10:07] #4249 closed

[2021-07-14 10:37] jangeorgiev commented on #6560
Sorry, but I have no time to submit a PR.

[2021-07-14 11:06] #1905 closed

[2021-07-14 11:06] #3497 closed

[2021-07-14 11:06] #3496 closed

[2021-07-14 11:06] #3493 closed

[2021-07-14 11:07] #3872 closed

[2021-07-14 11:07] #4211 closed

[2021-07-14 11:07] #2157 closed

[2021-07-14 11:07] #1517 closed

[2021-07-14 11:07] #3814 closed

[2021-07-14 11:07] #4379 closed

[2021-07-14 11:07] #4389 closed

[2021-07-14 11:07] #4486 closed

[2021-07-14 11:07] #3161 closed

[2021-07-14 11:07] #899 closed

[2021-07-14 11:07] #2255 closed

[2021-07-14 11:07] #4612 closed

[2021-07-14 11:07] #833 closed

[2021-07-14 11:07] #990 closed

[2021-07-14 11:07] #4611 closed

[2021-07-14 11:07] #997 closed

[2021-07-14 11:07] #3585 closed

[2021-07-14 11:07] #1871 closed

[2021-07-14 11:07] #493 closed

[2021-07-14 11:07] #2503 closed

[2021-07-14 11:07] #4705 closed

[2021-07-14 11:07] #4697 closed

[2021-07-14 11:07] #981 closed

[2021-07-14 11:07] #2831 closed

[2021-07-14 11:07] #3819 closed

[2021-07-14 11:07] #953 closed

[2021-07-14 12:07] #4864 closed

[2021-07-14 12:07] #4909 closed

[2021-07-14 12:07] #892 closed

[2021-07-14 12:07] #890 closed

[2021-07-14 12:07] #891 closed

[2021-07-14 12:07] #1718 closed

[2021-07-14 12:07] #4870 closed

[2021-07-14 12:07] #4891 closed

[2021-07-14 12:07] #4747 closed

[2021-07-14 12:07] #2584 closed

[2021-07-14 12:07] #2332 closed

[2021-07-14 12:07] #4841 closed

[2021-07-14 12:07] #3050 closed

[2021-07-14 12:07] #5048 closed

[2021-07-14 12:07] #2752 closed

[2021-07-14 12:07] #5079 closed

[2021-07-14 12:07] #448 closed

[2021-07-14 12:07] #2344 closed

[2021-07-14 12:07] #5134 closed

[2021-07-14 12:07] #5168 closed

[2021-07-14 12:07] #1599 closed

[2021-07-14 12:07] #2737 closed

[2021-07-14 12:07] #5196 closed

[2021-07-14 12:07] #3896 closed

[2021-07-14 12:07] #3811 closed

[2021-07-14 12:07] #4610 closed

[2021-07-14 12:07] #5005 closed

[2021-07-14 12:07] #5149 closed

[2021-07-14 12:50] #3862 closed

[2021-07-14 12:50] #2697 closed

[2021-07-14 12:50] #3257 closed

[2021-07-14 12:50] #4782 closed

[2021-07-14 12:50] #3155 closed

[2021-07-14 12:50] #3455 closed

[2021-07-14 12:50] #5572 closed

[2021-07-14 12:50] #5697 closed

[2021-07-14 12:50] #4995 closed

[2021-07-14 12:50] #5733 closed

[2021-07-14 12:50] #5761 closed

[2021-07-14 12:50] #5804 closed

[2021-07-14 14:06] emanual4real opened #7617 "Unsupproted Media Type Error with application/json-patch+json"
## Steps to reproduce

1. Run application
2. Send patch request with application/json-patch+json media type

## Current Behavior

UnsupportedMediaTypeError: Content-type application/json-patch+json does not match [application/json]

## Expected Behavior

I expect the application to accept `application/json-patch+json` media type

## Link to reproduction sandbox

Work won't allow me to put code in

[2021-07-14 14:11] emanual4real commented on #7617
My fault, been playing with a couple variations.  If I modify the controller to `requestBody.array()` I get the 415 error instead of 422.

[code]

stack error
[code]

[2021-07-14 14:19] saurabhjha092 commented on #7603
Hi @vishnu1545  @raymondfeng , i am facing a similar issue here trying to insert into postgres  db -having 103 fields . Kind of similar behavior at first loopback-postgres connector not acquiring more than 2 threads and later after certain interval of time - it starts acquiring and relasing threads. In short the Db insertion is too slow [asynchronous nature ] due to which TPS is pathetic .can we b

[2021-07-15 07:10] benjamincburns commented on #6894
@achrinza assuming LoopBack wants this feature, you may wish to label it such that stalebot ignores it.

[2021-07-20 20:44] gagarine commented on #1466
Is their a documentation to deploy LB4 on Azure? I'm using the provided github action but it fail. It was working using the quick&dirty deployement from VS code. I guess it's because now it use PM2 instead of only npm start.

[2021-07-26 15:00] zengatsu commented on #5282
@marioestradarosa, Hi I'm thankful that you're willing to work on this. The expected behavior of this command is documented [here](https://loopback.io/doc/en/lb4/Connecting-to-SOAP.html#generate-apis-from-the-soap-data-source).
This would be very useful for me because I am consuming many APIs that have many methods, so manually creating proxy classes for them would be a tedious. this is what the c

[2021-07-26 21:10] dhmlau commented on #7605
PR https://github.com/loopbackio/loopback-next/issues/7604 in progress.

[2021-07-27 14:15] InvictusMB commented on #5645
I believe this is still relevant.

[2021-07-28 04:22] gentunian commented on #2930
@raymondfeng  this was closed due to inactivity... nobody uses openapi with loopback? I'm just using loopback to see if it's a fit for my project and trying to generate an API based on my openapi file is not possible.

Is this fully supported?

Thanks

[2021-07-28 19:15] gagarine opened #7684 "npm start build stuff and is too slow"
On a project made with the cli npm start launch the following command:

`    "start": "node -r source-map-support/register .",`

This basically clean and build the full project and then start it in a dev mode.

This command can take forever to run. Azure App Service ping app and has a 230 timeout before they shutdown the container. On a small instance, the container will be shutdown before loopbac

[2021-07-29 02:24] jasknky commented on #2043
hello !!
it's been over more than an year since the last comments :
the hasAndBelongsToMany relation will be merged in the future or not?

[2021-07-29 07:03] tayyab-gulzar commented on #1784
@hacksparrow can you please tell me how to solve "Error handling for non-API routes"? I have checked the reference that you have mentioned but could not find a solution.

[2021-07-30 12:16] rizz360 commented on #6437
@pilare Could you please share your code regarding this issue - even if it's not clean?

[2021-08-02 00:22] frbuceta opened #7695 "chore: update dependency @microsoft/api-documenter to ^7.13.34"

[2021-08-02 00:23] #7695 closed

[2021-08-04 11:12] saunish commented on #5709
I am facing the same issue, is there any workaround for this issue?

[2021-08-04 13:20] saunish commented on #5997
any update on this issue please?
I am also facing same issue

[2021-08-04 21:28] pilare commented on #6437
@rizz360 I will sit on this over the weekend, and try to add my implementation to the single sign on example app.

[2021-08-05 14:40] mtruon11 commented on #2021
Does anyone know how to convert `filter.where` logical operators (and, or, in, like ...) to mongodb logical operators ($and, $or...) when assigning `filter.where` to `$match`?
Thanks

[2021-08-10 13:40] madhuri-pednekar commented on #3700
@bajtos : Can I start working on this issue?

[2021-08-10 13:47] DavidKrpt commented on #2488
We are also using mongodb, and we have to either use hasManyThrough in those cases where referencesMany would be the obvious best choice according to mongodb data modelling best practices, or imitate referencesMany with custom repository methods. Either way it is inconvenient and has overhead costs.

If there are any details about the implementation of this feature, can you please share them ?

Al

[2021-08-13 05:05] #6029 closed

[2021-08-13 05:05] #6876 closed

[2021-08-13 05:05] #6718 closed

[2021-08-13 05:05] #6859 closed

[2021-08-13 05:05] #6910 closed

[2021-08-13 05:05] #6938 closed

[2021-08-13 05:05] #6921 closed

[2021-08-13 05:05] #5764 closed

[2021-08-13 05:05] #897 closed

[2021-08-13 05:05] #6751 closed

[2021-08-13 05:05] #6873 closed

[2021-08-13 05:05] #1919 closed

[2021-08-13 05:05] #4276 closed

[2021-08-13 05:05] #4346 closed

[2021-08-13 05:05] #2988 closed

[2021-08-13 05:05] #6924 closed

[2021-08-13 05:05] #6831 closed

[2021-08-13 05:05] #1575 closed

[2021-08-13 05:05] #4452 closed

[2021-08-13 05:05] #5074 closed

[2021-08-13 05:05] #7000 closed

[2021-08-13 05:05] #4375 closed

[2021-08-13 05:05] #6092 closed

[2021-08-13 05:41] pktippa commented on #1948
Worked for me at `Model` property level Ex: person.model.ts

[code]

In Datasource config
[code]

[2021-08-13 06:05] #6596 closed

[2021-08-13 06:05] #6002 closed

[2021-08-13 06:05] #6613 closed

[2021-08-13 06:05] #4868 closed

[2021-08-13 06:05] #6633 closed

[2021-08-13 06:05] #6529 closed

[2021-08-13 06:05] #6641 closed

[2021-08-13 06:05] #6673 closed

[2021-08-13 06:05] #6707 closed

[2021-08-13 06:05] #5741 closed

[2021-08-13 06:05] #6724 closed

[2021-08-13 06:05] #3490 closed

[2021-08-13 06:05] #2483 closed

[2021-08-13 06:05] #6225 closed

[2021-08-13 06:05] #6672 closed

[2021-08-13 06:05] #6772 closed

[2021-08-13 06:05] #2367 closed

[2021-08-13 06:05] #5960 closed

[2021-08-13 06:05] #6822 closed

[2021-08-13 06:05] #6221 closed

[2021-08-13 06:05] #6669 closed

[2021-08-13 06:05] #6792 closed

[2021-08-13 06:05] #6844 closed

[2021-08-13 06:06] #6465 closed

[2021-08-13 06:06] #6847 closed

[2021-08-13 06:06] #6485 closed

[2021-08-13 06:06] #6091 closed

[2021-08-13 06:06] #5793 closed

[2021-08-13 06:06] #5646 closed

[2021-08-13 06:06] #4557 closed

[2021-08-13 06:45] zymethyang opened #7750 "Could not connect to websocket error when using subscription in graphql example source code"
I'm got this error with response when calling subscription in example source code. Please check the error description and image bellow.
[code]
![image](https://user-images.githubusercontent.com/30214934/129315528-adcd4982-b26a-426b-b2ce-f07c80e3262b.png)

STEP TO REPRODUCE.

[code]

System information
[code]

[2021-08-13 07:48] #6078 closed

[2021-08-13 07:48] #6121 closed

[2021-08-13 07:48] #3483 closed

[2021-08-13 07:48] #3954 closed

[2021-08-13 07:48] #6086 closed

[2021-08-13 07:48] #6251 closed

[2021-08-13 07:48] #6239 closed

[2021-08-13 07:48] #6218 closed

[2021-08-13 07:48] #6271 closed

[2021-08-13 07:48] #2485 closed

[2021-08-13 07:48] #3125 closed

[2021-08-13 07:48] #2619 closed

[2021-08-13 07:48] #3124 closed

[2021-08-13 07:48] #6287 closed

[2021-08-13 07:48] #6246 closed

[2021-08-13 07:48] #5532 closed

[2021-08-13 07:48] #4757 closed

[2021-08-13 07:48] #5399 closed

[2021-08-13 07:48] #5570 closed

[2021-08-13 07:48] #4585 closed

[2021-08-13 07:48] #6232 closed

[2021-08-13 07:48] #3526 closed

[2021-08-13 07:48] #6338 closed

[2021-08-13 07:48] #6309 closed

[2021-08-13 07:48] #6362 closed

[2021-08-13 07:49] #889 closed

[2021-08-13 07:49] #6223 closed

[2021-08-13 07:49] #6368 closed

[2021-08-13 07:49] #6337 closed

[2021-08-13 07:49] #2532 closed

[2021-08-13 08:48] #1452 closed

[2021-08-13 08:48] #4872 closed

[2021-08-13 08:48] #6217 closed

[2021-08-13 08:48] #6418 closed

[2021-08-13 08:48] #5936 closed

[2021-08-13 08:48] #6433 closed

[2021-08-13 08:48] #6463 closed

[2021-08-13 08:48] #6464 closed

[2021-08-13 08:48] #6466 closed

[2021-08-13 08:48] #6093 closed

[2021-08-13 08:48] #2170 closed

[2021-08-13 08:48] #3342 closed

[2021-08-13 08:49] #6409 closed

[2021-08-13 08:49] #3126 closed

[2021-08-13 08:49] #4251 closed

[2021-08-13 08:49] #5760 closed

[2021-08-13 08:49] #6436 closed

[2021-08-13 08:49] #6490 closed

[2021-08-13 08:49] #3295 closed

[2021-08-13 08:49] #6386 closed

[2021-08-13 08:49] #6115 closed

[2021-08-13 08:49] #5227 closed

[2021-08-13 08:49] #1925 closed

[2021-08-13 08:49] #6330 closed

[2021-08-13 08:49] #6591 closed

[2021-08-13 08:49] #6595 closed

[2021-08-13 09:13] 0x0aNL commented on #5896
I would greatly appreciate having this feature, all the more because GeoPoint support is still missing in LoopBack 4 so we were happy to find support for TypeORM.

(I hope this is not too spammy, but stale bot is closing a lot of (IMO) good tickets).

[2021-08-13 09:46] #5904 closed

[2021-08-13 09:46] #4458 closed

[2021-08-13 09:46] #2187 closed

[2021-08-13 09:46] #2463 closed

[2021-08-13 09:46] #3258 closed

[2021-08-13 09:46] #5243 closed

[2021-08-13 09:46] #257 closed

[2021-08-13 09:46] #4496 closed

[2021-08-13 09:46] #436 closed

[2021-08-13 09:46] #788 closed

[2021-08-13 09:46] #1872 closed

[2021-08-13 09:46] #5950 closed

[2021-08-13 09:46] #6051 closed

[2021-08-13 09:46] #4299 closed

[2021-08-13 09:46] #3499 closed

[2021-08-13 09:46] #3033 closed

[2021-08-13 09:46] #1450 closed

[2021-08-13 09:46] #3717 closed

[2021-08-13 09:46] #4522 closed

[2021-08-13 09:46] #2481 closed

[2021-08-13 09:46] #3812 closed

[2021-08-13 09:46] #5762 closed

[2021-08-13 09:46] #1849 closed

[2021-08-13 09:46] #1920 closed

[2021-08-13 09:46] #3962 closed

[2021-08-13 09:46] #6097 closed

[2021-08-13 09:46] #6154 closed

[2021-08-13 09:46] #6173 closed

[2021-08-13 09:46] #6111 closed

[2021-08-13 10:46] #2174 closed

[2021-08-13 10:46] #5810 closed

[2021-08-13 10:46] #2707 closed

[2021-08-13 10:46] #3291 closed

[2021-08-14 14:15] #7006 closed

[2021-08-14 18:18] sohaibahsan007 opened #7756 "Filter With Complex Query , Where -> and with or Issue with last Object Parse"
For Example, if you have a query

[code]
when you run this, then in API, the status column is coming as `[status]` instead of `status`. which is a retuning error in Postgres SQL.  in where it's working fine and status is parsed as status.

this is the value in API: `[ { '[status]': 'approve' }, { '[status]': 'processed' } ]` , in this `[status]`should be `status`.

I think on 5th child, it's not f

[2021-08-17 01:02] sabulous commented on #5709
I created the tables using above article and added the following lines at the end of `application.ts`

[code]

Then it worked. Hope this helps.

[2021-08-17 15:42] #6222 closed