[2020-03-10 16:32] dhmlau opened #4845 "[Docs] Add debug string information"
Originated from: https://github.com/strongloop/loopback-next/issues/4844

In LB3 docs, there's Running and debugging apps page. A similar version for LB4 would be useful.

### Acceptance Criteria
- [x] Add Running and debugging apps
- [x] Add `setting debug strings` as a child page.
   - Note: The connector ones would be the same. For others, not every debug strings would be the same. e.g. strong-

[2020-03-10 16:42] dhmlau opened #4846 "[Docs] Add "error handling" page"
Originated from: https://github.com/strongloop/loopback-next/issues/4844

In LB3 docs, there's Running and debugging apps page. A similar version for LB4 would be useful.

### Acceptance Criteria
- [ ] Review and clean up any error handling related content we have in LB4 docs
- [ ] Document how to configure http response for errors and how to report error from controller.
    -  Use [strong-error-

[2020-03-10 16:45] dhmlau opened #4847 "[Docs] Add "project layout reference" page"
In LB3, there's a [Project layout reference page](https://loopback.io/doc/en/lb3/Project-layout-reference.html). It would be useful to have a similar version in LB4.

### Acceptance Criteria
- [ ] Using https://loopback.io/doc/en/lb3/Project-layout-reference.html as a reference, create a similar page under LB4.

[2020-03-10 16:47] dhmlau opened #4848 "[EPIC] Migrate relevant LB3 docs to LB4"
There are documentation in LoopBack 3 that could be relevant or useful to LB4. It would be a good idea to "migrate" (either copy or re-create with similar content) in LB4.

[2020-03-10 17:22] dhmlau opened #4849 "[Workshop] From API to UI: LoopBack with Angular with client generator"
Since Angular is in TypeScript, it would be a good case to illustrate how to go from LoopBack to Angular.

With the same content, it can be used for:
- Workshop material, e.g. NodeConf.EU, CASCON
- Tutorial in LB4 docs or blog post

### Acceptance Criteria
We can possibly use [todo app](https://loopback.io/doc/en/lb4/todo-tutorial.html) as the base,
- [ ] Create a working repo
   - [ ] generate th

[2020-03-10 18:26] agnes512 commented on #3058
- [ ] update the docs with examples
- [ ] add validation for these two fields

[2020-03-10 18:40] dhmlau opened #4852 "Blog on what LB can offer on top of Express"
### Acceptance Criteria
A blog post to persuade more Express users to use LoopBack 4. Possible content
- [ ] What LB can offer on top of Express
- [ ] what are the advantages of using LoopBack over Express? In most scenarios or particular ones?
- [ ] **can use LoopBack and Express together. It does not need to be exclusive**

[2020-03-10 18:53] dhmlau opened #4853 "Integration with TypeORM"
By default, LoopBack juggler is used. LoopBack also has the flexibility to integrate other ORMs, like [TypeORM](https://typeorm.io/#/). There is an existing PR https://github.com/strongloop/loopback-next/pull/4794

### Acceptance Criteria
- [ ] Complete the PoC in https://github.com/strongloop/loopback-next/pull/4794
- [ ] Add docs about this integration. And setting a rough model here, we can als

[2020-03-10 19:11] agnes512 commented on #3058
Finalized agreement:
LoopBack follow the OpenAPI standard and make no interpretations.
`required` means the user needs to provide the field in the request always, independent of the `default`.

i.e `default: xxx, required: true` shouldn't be set at the same time.

## Accpetance Criteria
- [ ] Update the docs `Models.md`, add explanations and examples
- [ ] Add validation to check if the two fields

[2020-03-10 20:45] Akhail opened #4854 "Storage component"
## Suggestion
Hello i'm writting a new component called Storage under /packages/storage folder and i want to know if you're okay with my implementation.

## Use Cases
For store files, images, videos. providers could be added through extensions thanks to Storage extension point.

## Examples
[code]

[2020-03-10 21:04] raymondfeng commented on #4854
@Akhail It's nice to see you take on a storage component. As you have illustrated, the feature will fit well with file upload (https://github.com/strongloop/loopback-next/tree/master/examples/file-upload). I would love to see a PR soon.

FYI: we have https://github.com/strongloop/loopback-component-storage#readme for LoopBack 3.  There is also https://github.com/dustin-H/multer-storage-pkgcloud.

[2020-03-10 21:50] dougal83 commented on #4849
Plenty of avenues for adoption via https://openapi-generator.tech/docs/generators

[2020-03-11 06:34] neeraj-iconnect opened #4859 "Why cant we have a ui for it ?"
Just a suggestion

why cant we have a website for it from where the user can just design the tables schema put validation and boom can generate api directly from their web browser without installing any thing

[2020-03-11 07:04] hacksparrow commented on #4859
That would be very convenient, however our current focus is on closing the feature parity gap between LB4 and LB3, and helping our users migrate to LB4 comfortably.

[2020-03-11 08:42] hacksparrow opened #4883 "Add a FAQ section"
Let's have a FAQ section so our users can quickly find some of the common questions and queries instead of having to browse through multiple pages to get the answer.

Examples:

1. What's the difference between `ctx.bind()` and `ctx.configure()`?
2. Where do I find the default binding keys?
3. How do I use Express middleware with LoopBack 4?
4. How do I disable the API Explorer?
5. How do send a c

[2020-03-11 12:05] Arathy-sivan commented on #2230
hi,
I am trying to download files using loopback4,  showing error message,

Server is running at http://[::1]:3000
Try http://[::1]:3000/ping
Unhandled error in GET /testfile: 500 TypeError: Cannot read property 'status' of undefined
    at TodoController.getFile (D:\todo\src\controllers\todo.controller.ts:280:8)
    at invokeTargetMethod (D:\todo\node_modules\@loopback\context\src\invocation.ts:2

[2020-03-11 12:37] dhmlau commented on #4836
In yesterday's estimation, @raymondfeng suggested the following:
- start with "Document the LoopBack 4 request-response cycle" #1833
- see if there's any LB3 documentation related to req/res cycle
- compare the two

[2020-03-11 12:39] dhmlau commented on #1833
FYI - There's a diagram at the top of https://loopback.io/doc/en/lb4/Concepts.html, it would be a good starting point.

https://loopback.io/pages/en/lb4/imgs/key-concepts-overview-diagram.png

[2020-03-11 12:47] emonddr commented on #2230
@Arathy-sivan , please provide a minimal application that exhibits the problem. This will help us investigate. Thank you.

[2020-03-11 12:50] emonddr commented on #2230
@Arathy-sivan , here is a recent example for uploading a sample : https://github.com/strongloop/loopback-next/tree/master/examples/file-upload .

[2020-03-11 13:19] neeraj-iconnect commented on #4859
@hacksparrow I had recently inspired from loopback and implemented a small look-alike of it which i think can be the missing part in it

https://www.youtube.com/watch?v=kA6yMPhfztk&t=6s

[2020-03-11 14:46] agnes512 commented on #4791
@frbuceta I just checked it on my end with MySQL and Postgres (not MsSQL tho) DBs. I was able to traverse data via belongsTo relation.
[code]
^ the case works fine on both MySQL and Postgres.

And for your case I notice that you have string type as your fk in your belongsTo relation:
[code]
I am not sure if it's typo or you defined it as string type. Could you try `number` type and see if it works

[2020-03-11 16:26] pramod-dev commented on #2272
I had the same issue.

Cannot find module 'module_name'

Error: Cannot find module 'module_name'

When I run the command:

Note: Here the 'module_name' is the name of the missing module. example: fs-extra, glob, dependency-graph, sort-package-json, @phosphor/coreutils, prettier etc.

It throws a new error that a new module is missing. And it kept happening everytime I try to fix an error, a new er

[2020-03-11 19:10] emonddr commented on #4842
Umm. I would think an endpoint that requires authentication to protected resources shouldn't allow anyone on the internet to access that specific resource, so I am having trouble understanding the special scenario for such a need. Perhaps you can elaborate? thx.

@raymondfeng , do you have some thoughts on this? thx.

[2020-03-11 19:37] agnes512 opened #4864 "Better Way to Announce Breaking Changes to Help Users Find Them"
_Inspired by https://github.com/strongloop/loopback-next/issues/4156_

We have `CHANGELOG.md` to keep track all the updates/changes. But not all users would check the files. And it doesn't remind users what changes might need to make after upgrading to new version of LB4.

We'd like to improve the way how we communicate breaking changes and make the migration guides easier to find like what we did

[2020-03-11 19:40] agnes512 commented on #4156
Opened an issue https://github.com/strongloop/loopback-next/issues/4864 for improving the breaking change message announcement. Closing the issue as the content might be misleading. Feel free to join discussion there.

[2020-03-11 19:40] #4156 closed

[2020-03-11 21:03] dhmlau commented on #4864
One suggestion from @raymondfeng, during our last estimation meeting, is to have the change log to aggregate all the change logs from all the packages, so that breaking changes are more easily discovered.

[2020-03-11 21:19] dougal83 commented on #4842
Keyword being optional rather than required on the standard authentication via say JWT.  A more sensible use-case would be using a separate token alongside the JWT bearer token.  For example:

[code]
Would this be recommended to completely encapsulate in an auth strategy?  Or used with extreme caution.... Thanks for your advice.

[2020-03-11 21:26] dougal83 commented on #4864
The upgrade process could potentially be expanded in future to automatically update changes but it would be quite a lot of work!  Prior art being Angular's ng update schematics.

[2020-03-11 22:12] raymondfeng commented on #4864
See https://github.com/strongloop/loopback-next/pull/4866

[2020-03-11 22:39] #2409 closed

[2020-03-11 23:07] frbuceta commented on #4791
Right, one is `string` and other is `number`

**Source:**
[code]

**Target:**
[code]

What could be happening here? interesting...

[2020-03-11 23:09] frbuceta commented on #4791
In the database they are of type `bigint`

[2020-03-12 00:58] dhmlau commented on #4386
@jannyHou, is it possible to show/hide the authorize button based on whether the app has authentication enabled?
btw, what's the behavior in LB3?

[2020-03-12 00:59] dougal83 commented on #4791
Is the DB expecting to exceed 2 billion records?!  A lot of space being wasted via indexing if not.

[2020-03-12 01:56] #3738 closed

[2020-03-12 03:09] joeytwiddle opened #4868 "Using two predicates inside one object ignores one of them"
We are trying to count all records with `createTime` between two dates.  We are using a MongoDB datasource.

[code]

We tried the following filter, but it does not do what it looks like it should do.  Only the `gte` is being respected. The `lt` is being **ignored**, so we end up counting more results that we expected to.

[code]

Fortunately, if we use an `and` clause then we get the results we wa

[2020-03-12 05:46] Arathy-sivan commented on #2230
When I used this code I got the error,

Unhandled error in POST /file-upload: 500 Error: unknown format "binary" is used in schema at path "#/properties/file"
    at Object.generate_format [as code] (D:\todo\node_modules\@loopback\rest\node_modules\ajv\lib\dotjs\format.js:69:15)
    at Object.generate_validate [as validate] (D:\todo\node_modules\@loopback\rest\node_modules\ajv\lib\dotjs\validate.j

[2020-03-12 06:16] raymondfeng commented on #2230
See https://github.com/strongloop/loopback-next/issues/4834#issuecomment-597134979

[2020-03-12 06:17] #2230 closed

[2020-03-12 07:32] aceraizel commented on #4245
I had resolved it. Thank you so much!

[2020-03-12 07:32] #4245 closed

[2020-03-12 09:29] Arathy-sivan commented on #2230
Hi,
While using the code I got an error,
Try http://[::1]:3000/ping
Unhandled error in POST /file-upload: 500 Error: The key 'services.FileUpload' is not bound to any value in context application
    at TodoListApplication.getBinding (D:\todo\node_modules\@loopback\context\src\context.ts:704:11)
    at RestServer.getBinding (D:\todo\node_modules\@loopback\context\src\context.ts:700:27)
    at Requ

[2020-03-12 10:20] achrinza commented on #4841
Apologies but I'm not too sure what's the issue. The explorer is showing what has been set in the controller:

![image](https://user-images.githubusercontent.com/25147899/76511179-bea6f300-648d-11ea-99d4-ba62d7898dd7.png)

In this case, 2 things are shown:

- `test` request parameter
- `204` response `description`

## Link to reproduction sandbox

https://github.com/achrinzatest/loopback4-sandbox-

[2020-03-12 10:38] achrinza commented on #4841
AFAIK, based on the [docs](https://loopback.io/doc/en/lb4/Decorators_openapi.html#oasresponse), `oas.response()` is a convenience wrapper that takes in a `Model` and auto-generates the OAS response object. As such, no other modification can be done. The docs also state that the `description` field is auto-generated:

## Link to reproduction sandbox

https://github.com/achrinzatest/loopback4-sandbo

[2020-03-12 11:33] Arathy-sivan commented on #2230
Thank You soo much. It's working.

[2020-03-12 12:41] dip-sinha opened #4869 "how to execute native SQL queries in loopback4? I need to do a inner join between to tables"

[2020-03-12 13:03] vishalvisd opened #4870 "API Smoke test - seems no tool available to test response matches the response format as described in OpenAPI spec 3.0 generated by Loopback 4."
As in documentation and [here ](https://github.com/strongloop/loopback-next/issues/644), dredd is the tool for doing API smoke testing but dredd doesn't support openapi 3.0 and loopback 4 doesnot generates swagger spec. In such a scenario how can we do the testing?

We are doing bottom up approach i.e., APIs have been implemented, Loopback creates the spec json/xml. Now, we want to test the APIs i

[2020-03-12 13:22] achrinza commented on #4869
[`[RepositoryNameHere].execute()`](https://loopback.io/doc/en/lb4/apidocs.repository.defaultcrudrepository.execute.html)

[2020-03-12 13:22] #4869 closed

[2020-03-12 13:30] achrinza opened #4872 "Add new user email verification tutorial"
Loosely-related: #1979

Currently, there is no documentation on how to setup email verification for user sign-ups.

## Suggestion

As LoopBack 4 has an authorization mechanism, some users may need to extend it to support email verification.

## Use Cases

This addition will provide more guidance to new users of LoopBack 4 on how to write production-ready APIs.

## Examples

TBD

## Acceptance crit

[2020-03-12 15:35] frbuceta commented on #4791
I'm right with you, but it's not in my power to change this setting

[2020-03-12 15:54] AnanthGopal opened #4873 "Table lock handling"
Hi,
Normally table locked when we select the data from a  table, Consider my table have more records i get data from that TESTTABLE, so that i used below query
`Select * from TESTTABLE tt `
if i run above query, that testtable will be locking milliseconds, if i use below query, the table will not lock
 `Select * from testtable tt for update of tt skip locked`
have this option in loopback?
i need t

[2020-03-12 18:39] jannyHou commented on #4386
<img width="1120" alt="Screen Shot 2020-03-12 at 2 33 44 PM" src="https://user-images.githubusercontent.com/12554153/76555851-d327c300-646e-11ea-95ae-7c58d6955f2f.png">

I created a LB3 app, disabled the auth system in boot script

The token field still exists in explorer so I believe it's always provided out of box in LB3.

[2020-03-12 18:43] agnes512 commented on #4837
Custom validation at different layers.

Better to have a lb4 documentation to talk about examples / use cases of custom validation at different layers first

[2020-03-12 18:48] agnes512 commented on #4838
https://loopback.io/doc/en/lb4/Life-cycle.html and https://loopback.io/doc/en/lb4/Booting-an-Application.html might help.

[2020-03-12 18:59] agnes512 commented on #4837
@dhmlau might have an article to talk about the use cases of validation.

[2020-03-12 19:02] agnes512 commented on #4839
After discussion with the team: the in-built data parsing part should be included in #4836 and the validation part should be included in https://github.com/strongloop/loopback-next/issues/4837. Closing as redundant.

[2020-03-12 19:02] #4839 closed

[2020-03-12 19:03] agnes512 commented on #4837
The validation part of #4839 should be included in this story

[2020-03-12 19:04] agnes512 commented on #4836
The built-in data parsing part of #4839 should be included in this story

[2020-03-12 19:12] #2412 closed

[2020-03-12 20:10] dhmlau commented on #4837
See PR https://github.com/strongloop/loopback-next/pull/4874

[2020-03-12 20:24] AlexDM0 commented on #4841
I see you have indeed reproduced it in your sandbox. Let me know if there's anything more I can do to help out!

[2020-03-13 01:30] agnes512 commented on #4744
Looks like the bug has been fixed in PR https://github.com/strongloop/loopback-connector/pull/171
i.e
### If the column name is not specified:
[code]
  - for DBs that **don't have** a preferred preferred naming convention e.g MySQL, the column name is the same as the property name:
[code]
  - for DBs that **have** a preferred preferred naming convention e.g Postgres in lowercase and Oracle in UPPE

[2020-03-13 02:45] dhmlau opened #4877 "[Docs] Postgresql connector docs should cover LB4 content"
Originated from #4271

While the connectors can be used for both LB3 and LB4, the tutorials under the Connectors reference for LB4 are about LB3. It might cause confusion to the users.
- postgresql connector: https://loopback.io/doc/en/lb4/PostgreSQL-connector.html
- postgresql connector tutorial: https://loopback.io/doc/en/lb4/Connecting-to-PostgreSQL.html

### Acceptance Criteria
For the two pag

[2020-03-13 02:52] dhmlau opened #4878 "[Docs] MySQL connector docs should cover LB4 content"
Originated from #4271

While the connectors can be used for both LB3 and LB4, the tutorials under the Connectors reference for LB4 are about LB3. It might cause confusion to the users.

- mysql connector tutorial: https://loopback.io/doc/en/lb4/Connecting-to-MySQL.html

### Acceptance Criteria
The docs page is coming from loopback-connector-mysql README.

- [ ] Create separate sections that are sp

[2020-03-13 02:54] dhmlau opened #4879 "[Docs] MongoDB connector docs should cover LB4 content"
Originated from #4271

While the connectors can be used for both LB3 and LB4, the tutorials under the Connectors reference for LB4 are about LB3. It might cause confusion to the users.

- mongodb connector tutorial: https://loopback.io/doc/en/lb4/Connecting-to-MongoDB.html

### Acceptance Criteria
The docs page is coming from loopback-connector-mongodb README.
- [x] Create separate sections that a

[2020-03-13 02:56] dhmlau opened #4880 "[Docs] Oracle connector docs should cover LB4 content"
Originated from #4271

While the connectors can be used for both LB3 and LB4, the tutorials under the Connectors reference for LB4 are about LB3. It might cause confusion to the users.

- oracle connector tutorial: https://loopback.io/doc/en/lb4/Connecting-to-Oracle.html

### Acceptance Criteria
The docs page is coming from loopback-connector-oracle README.
- [ ] Create separate sections that are

[2020-03-13 09:08] Zedonboy opened #4881 "Provider Interface class is initialised to constructor"
Hello,
I create a proxy service
[code]
Now i tried using it.
[code]

Whenever i console log this property
`console.log(this.tr)`
i get this output
[code]

now tried calling my interface method
`console.log(this.tr.sendLocation)`
am getting undefined

Whats the issue please.

[2020-03-13 11:03] Zedonboy commented on #4881
I find the issues in my datasource.config.json

i wrote operation instead of operations

Just an "s" fucked my brain

[2020-03-13 11:03] #4881 closed

[2020-03-13 13:57] emonddr commented on #4881
@Zedonboy , glad you figured out your typo. Let's keep the language clean, please. thank you.

[2020-03-13 14:38] xzessmedia commented on #4368
@bajtos
I added the connector to the connectors.json which seem to work but there are some parameters missing to work.

how do we set:
server or servername which is  ifxeglon_tcp in our case.
protocol=olsoctcp;

So please can you at least provide all necessary parameters we can use in the informix connector to use it for our informix database:

**IBM Informix Dynamic Server Version 11.50.FC9GE**

[2020-03-13 14:45] dhmlau commented on #1979
@mrbatista, that would be great. Thanks.
In case you're not aware already, @bajtos and I had some discussion on this earlier, the notes are captured in https://github.com/strongloop/loopback-next/issues/1971#issuecomment-435923465.

Let me assign this issue to you now. Thanks again.

[2020-03-13 14:51] emonddr commented on #4791
@agnes512 , can you take a quick look? thx.

[2020-03-13 15:29] dougal83 commented on #1979
Down the road, it could be expanded with something like https://www.npmjs.com/package/email-templates for example.  An API would most likely be firing out templated messages.

[2020-03-13 17:49] raymondfeng commented on #1873
One more PR for further improvement - https://github.com/strongloop/loopback-next/pull/4882

[2020-03-13 18:09] emonddr commented on #4870
@raymondfeng  ^

[2020-03-13 18:10] emonddr commented on #4868
@jannyHou , please take a look? thx.

[2020-03-13 18:12] emonddr commented on #4842
@bajtos  or @raymondfeng , what is your opinion on this scenario?

[2020-03-13 18:23] emonddr commented on #4738
@jannyHou  PTAL? Thx.

[2020-03-13 20:09] achrinza commented on #4872
Duplicate of #1979

[2020-03-13 21:38] dhmlau commented on #4872
@achrinza, are we looking for something like https://loopback.io/doc/en/lb3/Registering-users.html in LB3?

[2020-03-13 22:10] dougal83 commented on #4842
I'm thinking the following would be a move in a better direction... Would it be an idea to use `SecurityBindings.SUBJECT` to hold a one-time-key for a request?  If anyone has an example to set that up I'd be a happy chap. :)

[code]

[2020-03-13 22:13] dougal83 commented on #4721
Hey @hacksparrow
Do you know if anything special had to be done the shopping example to extend the NewUser model?

[2020-03-13 22:21] achrinza commented on #4872
@dhmlau I believe so, this issue was spun off from https://github.com/strongloop/loopback-next/pull/4861#issuecomment-598149191

[2020-03-13 22:28] achrinza commented on #4873
AFAIK the official lb4 connectors only use run-of-the-mill SQL queries. Hence it's not possible unless a custom SQL query is executed using `.execute()`.

Though since it's the responsibility of the connector to provide this functionality, the answer may vary depending on which connector is being used.

[2020-03-13 22:55] dougal83 commented on #4872
Also... might want to purge http://www.embeddedjs.com/ links from the site too... nice gambling site now! 😆

[2020-03-14 02:59] dhmlau commented on #4872
Thanks @achrinza for submitting a PR to update the link! ❤️

[2020-03-14 06:56] samarpanB commented on #4296
When can we expect this to be completed ? We have a project where this is required urgently. Is there a workaround right now ?
The use case we need is
We have multi-tenant architecture system with db schema based physical separation. Each tenant resides in its own DB schema. Whenever a new tenant comes in, a new DB schema will be generated and with default tables and configurations as per the defi

[2020-03-14 07:04] achrinza commented on #4296
@samarpanB AFAIK dynamic (un-)binding of controllers is already possible: #4296

[2020-03-14 07:08] achrinza commented on #4603
Hi @baltameme, has the issue been resolved?

[2020-03-14 11:38] getlarge commented on #4712
It seems that content declared in Callback Items can be resolved when using `getModelSchemaRef(Model)` method from openapi-v3 instead of 'x-ts-type'.

[2020-03-14 11:38] #4712 closed

[2020-03-14 15:01] dhmlau commented on #4296
@samarpanB, this task is part of our March milestone plan: https://github.com/strongloop/loopback-next/issues/4767.  @raymondfeng, any outlook on this? Thanks.

[2020-03-14 15:11] dougal83 commented on #4712
Thank you for taking the time to follow up with solution!

I think the `x-ts-type` is for basic TypeScript types rather than models.  Glad you are sorted!

[2020-03-14 16:12] dip-sinha opened #4888 "how to use req.body to parse body?"

[2020-03-14 17:13] raymondfeng commented on #4888
Please check out https://loopback.io/doc/en/lb4/Parsing-requests.html.

[2020-03-14 17:13] #4888 closed

[2020-03-14 17:32] raymondfeng commented on #4296
@samarpanB We have already made good progress here:

In master:
- https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/define-model-class.ts (defineModelClass)
- https://github.com/strongloop/loopback-next/tree/master/packages/rest-crud
- https://github.com/strongloop/loopback-next/tree/master/examples/rest-crud
- https://github.com/strongloop/loopback-next/pull/4679

PR

[2020-03-14 20:01] dougal83 opened #4889 "(model-api-builder) Peer dependencies out of date?"
Should these dependencies be `^.2.0.0`?

https://github.com/strongloop/loopback-next/blob/4a25fa25ce33129f52b0e6eb196d2100c55ccb6e/packages/model-api-builder/package.json#L22-L25

[2020-03-14 20:14] raymondfeng commented on #4889
Lerna decided to not update peerDependencies as part of `lerna version`. See https://github.com/lerna/lerna/issues/1575.

I'm not a big fan of `peerDependencies`. I think we should either improve https://github.com/strongloop/loopback-next/blob/master/bin/update-template-deps.js to update `peerDependencies` or move them to regular `dependencies`.

@bajtos might have a different opinion.

[2020-03-14 20:53] dougal83 commented on #4889
I was just looking at yarn and it came up when installing deps.  Any thoughts on optional-deps while we're on the subject?  fsevents & nan might be candidates for consideration.

[2020-03-14 20:59] raymondfeng commented on #4889
I don’t think we use optional deps for `@loopback/` modules, do we?

I would only declare non-critical binary addons as optional dep.

[2020-03-14 21:05] dougal83 commented on #4889
Not that I can see.  Yarn discourages about implicit dependencies like fsevents (< rimraf < lbclean).  Declaring as optional deps seems like an option.

[2020-03-15 13:19] malek0512 commented on #3454
Waiting for this feature also.
Is there any progress ?

[2020-03-15 14:55] DanielChuDC opened #4891 "Auto generation while in vagrant provisioning"
## Steps to reproduce
Using Vagrant file for generic/rhel8, install npm and node, install @loopback/cli, then trying to create loopback project with cli.

## Current Behavior
The vagrant keep telling me `Generation is aborted: SyntaxError: Unexpected end of JSON input`
and `unable to prepare context: path "loopback-example" not found`

## Expected Behavior
Expected the lb4 project generated

## Ad

[2020-03-15 16:29] raymondfeng commented on #3454
@agnes512 Can you clarify?

[2020-03-15 18:26] agnes512 commented on #3454
@malek0512 @st119848 @eyasalmamoun @upscreen I think this is being done in the issue https://github.com/strongloop/loopback-next/issues/3453 and the PR https://github.com/strongloop/loopback-next/pull/4263. The documentations can be found in the [Query multiple relations](https://loopback.io/doc/en/lb4/HasMany-relation.html#query-multiple-relations) section of each relation.

@raymondfeng from the

[2020-03-15 18:26] #3454 closed

[2020-03-15 21:05] agnes512 commented on #4744
Thes tests are being added to Postgres and Oracle in https://github.com/strongloop/loopback-connector-postgresql/pull/422 and https://github.com/strongloop/loopback-connector-oracle/pull/200 ( they migrate first then discover tables). And MySQL already [has tests](https://github.com/strongloop/loopback-connector-mysql/blob/master/test/mysql.autoupdate.test.js).

[2020-03-16 07:32] achrinza commented on #4891
Hi @DanielChuDC, thanks for the report! Any reason why `sudo` is used? I'm not familiar with this specific environment but in most, it's generally not recommended to run Node.js or NPM with `sudo` privileges.

Could you try without `sudo`?

[2020-03-16 07:45] DanielChuDC commented on #4891
@achrinza I tried with no sudo too. then to prevent there is permission issue, then I added sudo. The problem persist.

[2020-03-16 09:49] dougal83 commented on #2472
Closing as appears no longer relevant.  Reopen as necessary.

[2020-03-16 09:49] #2472 closed

[2020-03-16 09:59] dougal83 commented on #4891
@DanielChuDC
I have heard mumbles about Vagrant and filesystems in the past... Could you try `mkdir test-folder` to confirm permissions?

[2020-03-16 13:23] emonddr commented on #4891
@DanielChuDC ,

Actually, can you please more details:
1. What OS you are on
2. What Vagrant version you are using
3. Is it a community vagrant file or custom made vagrant file

Thx

:)

[2020-03-16 14:04] DanielChuDC commented on #4891
@dougal83 @emonddr Thank you for your reply.
@dougal83 I tried mkdir test-folder and it works.

@emonddr The informatino below
MacOS Catalina 10.15.3
Vagrant version Installed Version: 2.2.6
I custom made vagrant file based on  generic/rhel8.

I will upload the file soon

[2020-03-16 14:37] dougal83 commented on #4891
OK, not permission issue directly then, but unfortunately I avoid macOS like the plague so I cannot help further myself. 🤷‍♂

[2020-03-16 17:52] agnes512 commented on #4877
Same for the READNE file (page https://loopback.io/doc/en/lb4/PostgreSQL-connector.html). Most of the setups, examples are in LB3 form. Should change or add contents for LB4.

[2020-03-16 17:55] agnes512 commented on #4271
For those who work on the stories: see https://github.com/strongloop/loopback-next/issues/4877#issuecomment-599677236

[2020-03-16 18:43] jannyHou commented on #4738
looking, will reply asap

[2020-03-16 21:56] #1873 closed

[2020-03-17 03:27] dhmlau commented on #4610
@derdeka, I'm so sorry that I missed your message. There is no specific CoffeeShop example yet, however, I just created a validation example https://github.com/strongloop/loopback-next/pull/4895 which uses a `CoffeeShop` model.

[2020-03-17 03:29] dhmlau commented on #4610
Also, the LB4 app in #4895 (validation example) won't have model relations.

[2020-03-17 08:06] bajtos commented on #4781
Great discussion!

I see few semi-independent topics to discuss and improve:

1. What responsible disclosure process we want to use. Are we fine with the current email-based one or are there compelling arguments to start looking for a different option (e.g. HackerOne)?

2. What is our process for handling security reports and fixing them in a responsible way, so that the information is not leaked

[2020-03-17 12:24] stephaneerard opened #4900 "this.modelClass.create is not a function"
I have used lb4 cli to generate app, model, controller; repository, interactively.

## Steps to reproduce
[code]
Generated Model :

[code]

Generated Controller :
[code]

## Current Behavior

[code]

## Expected Behavior
[code]

## Link to reproduction sandbox

## Additional information

[code]

[code]

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.h

[2020-03-17 12:37] dougal83 commented on #4900
Can I ask for the generated repository?  Better yet, could you make an example public repo so we can clone and run?  Thanks.

[2020-03-17 13:33] stephaneerard commented on #4900
https://github.com/stephaneerard/loopback4-test

Hope it helps.
Thank you very much.

[2020-03-17 13:35] stephaneerard commented on #4900
https://github.com/stephaneerard/loopback4-test/blob/develop/src/repositories/subsidiary.repository.ts

[2020-03-17 13:42] jannyHou commented on #2624
@pilare sorry for the late reply, looking, will get back to asap today.

[2020-03-17 13:53] emonddr commented on #4900
@stephaneerard , I will take a look. What version of loopback 4 are you using?

[2020-03-17 13:59] stephaneerard commented on #4900
I have used the CLI tool, latest as of yesterday.

[code]

[2020-03-17 14:02] dougal83 commented on #4900
It appears you neglected to mention that you've done further development beyond just:

[code]
Did you mean to use the key-value datasource?  I'm just going to create a new app and verify the cli is working as expected.

[2020-03-17 14:05] stephaneerard commented on #4900
I want to use mssql but one thing after another. For now in memory sqlite3.

[2020-03-17 14:10] stephaneerard commented on #4900
I have modified the code somewhat yes.
But not the generated parts.

[2020-03-17 14:10] emonddr commented on #4900
@stephaneerard , using latest loopback, I deleted your package-lock.json, removed your ssh entry in package.json, did npm install, and npm run build, with no problem.

[2020-03-17 14:11] dougal83 commented on #4900
Maybe someone else can take a look

Did you test endpoint in explorer?

[2020-03-17 14:13] dougal83 commented on #4900
@stephaneerard You might want to use `lb4 datasource` to change that as you see fit.  There appears to be no problem with the Loopback CLI or generated code. I've copied into vanilla generated project /w standard in-memory connector and it works as expected.

[2020-03-17 14:19] emonddr commented on #4900
Exactly what areas of code did you modify?

[2020-03-17 14:22] emonddr commented on #4900
@stephaneerard , I will build one from scratch too. using your model.

[2020-03-17 14:22] dhmlau commented on #4386
How about we always show the authorize button, as the first iteration? It's better to always show the button/field than always hide!

cc @raymondfeng

[2020-03-17 14:23] frbuceta commented on #4791
I just got to change the fields to `integer` and it works fine. With `bigint` it doesn't work
@emonddr  @agnes512

[2020-03-17 14:23] dhmlau commented on #4385
Since this issue is nice-to-have, I'm going to remove this from the epic https://github.com/strongloop/loopback-next/issues/4391 which is target for Q2.

[2020-03-17 14:25] dhmlau commented on #3978
@bajtos, could you please add acceptance criteria? thanks!

[2020-03-17 14:26] stephaneerard commented on #4900
You can CRUD on Subsidiary ?

[2020-03-17 14:30] stephaneerard commented on #4900
I'm starting from scratch as you did.

Just noticed this, not related :

[code]

[2020-03-17 14:49] emonddr commented on #4900
@stephaneerard , I used your model, but generated everything else. I used in -memory db.
with file : ./data/db.json (see Todo tutorial).
And I don't see the error .

I will try to create a different app using kv as you did.

[2020-03-17 14:52] emonddr commented on #4900
Yeah, noticed it too. Mentioning it to team.

[2020-03-17 15:01] emonddr commented on #4900
hmm. using kv datasource and your model. Created a repo, then a controller. on build, I am seeing

[code]

[2020-03-17 15:06] dhmlau opened #4901 "[Blog] Managing your APIs: From LoopBack to IBM API Connect"
## Suggestion

With the plan of having LB4 integrated with the upcoming version of APIC, we should write an article / tutorial on how to go from LoopBack to IBM API Connect. This article will go to the IBM Developer site.

See https://github.ibm.com/IBMCode/IBMCodeContent/issues/2255 (restricted access)

## Acceptance Criteria
The article can possibly cover:
- why you might want to go from LB to A

[2020-03-17 15:07] dhmlau commented on #4901
cc @deepakrkris

[2020-03-17 15:13] emonddr commented on #4900
@stephaneerard , as @dougal83 mentioned earlier, if you don't need to use kv datasource at the moment, you can avoid it and use in memory connector (if experimenting) or other connectors.

[2020-03-17 15:18] stephaneerard commented on #4900
So I'm using mssql and it is messing around.

legacy-juggler-bridge.ts line 359 this.model is a function Subsidiary.

[2020-03-17 15:31] emonddr commented on #4900
It looks like we don't have a rest controller for kv. Our CLI gives user a choice for Empty controller or CRUD controller for a kv repo, even though we don't currently have one. That's why the compile errors above show up. It is not currently supported. https://github.com/strongloop/loopback-next/issues/2737 .

[2020-03-17 15:31] emonddr commented on #4900
Can you clarify?

[2020-03-17 15:32] emonddr commented on #4900
@stephaneerard , have you tried the Todo tutorial to get familiar with LoopBack 4?

[2020-03-17 15:54] emonddr commented on #4900
Are you using latest loopback-connector-mssql "3.8.0"  , there was an issue on Windows last week and a fix went out.

[2020-03-17 16:16] #4371 closed

[2020-03-17 16:20] deepakrkris opened #4902 "Support for oauth2 passport strategies, missing provisions for redirect and callback"
## Suggestion

The StrategyAdapter is not adding the redirect() method in passport strategies, required for Oauth2 authorization flows.
This would also need some handling on the invocation side, i.e the Sequence class and others might need to participate according to the oauth flow.

## Use Cases

login thru third party apps like facebook, google
https://github.com/strongloop/loopback-next/issues/

[2020-03-17 16:52] jannyHou opened #4903 "Extract the jwt authentication to an extension module"
This is a follow-up story for https://github.com/strongloop/loopback-next/issues/4753
After extracting it into the local example package, we will move the component into a standalone extension module.

Copy the acceptance criteria from 4753

## Suggestion

After creating the demo for JWT authentication in loopback4-shopping-example, and applied a similar auth system in loopback-example-access-cont

[2020-03-17 17:14] jannyHou commented on #2624
@deepakrkris (Thank you!) is working a fix in https://github.com/strongloop/loopback-next/issues/4902, I think it's the same issue.

[2020-03-17 17:15] agnes512 commented on #4744
Closing as done

[2020-03-17 17:15] #4744 closed

[2020-03-17 17:39] stephaneerard commented on #4900
"loopback-connector-mssql": "^3.8.0"
Ah.

[2020-03-17 17:46] #2439 closed

[2020-03-17 17:57] dougal83 commented on #4900
@emonddr Is there anything that can be done to enhance the error message for the KV connector in this circumstance?

[2020-03-17 19:26] jannyHou commented on #4521
closed as PRs merged. 🎉

[2020-03-17 19:26] #4521 closed

[2020-03-17 19:30] agnes512 commented on #4852
Some ideas for the blog:
-  Briefly talk about Express: solid but minimun fundation, users need to write route and glue middlewares themselves.
- How can Express users use LB4 for different personas:
   - it can simply be used as a route as LB4 helps to glue the middleware, (What LB can offer on top of Expres, and they can be used together)
    - or even make it more open and scalable -> this is w

[2020-03-17 19:58] #3956 closed

[2020-03-17 20:03] dhmlau commented on #4902
related to https://github.com/strongloop/loopback-next/issues/2624

[2020-03-17 21:27] emonddr opened #4909 "CLI should allow CrudController for a KV Repository"
Currently there is no default crud controller for a kv repository , as per: https://github.com/strongloop/loopback-next/issues/2737 .

So the CLI shouldn't let the user choose a CrudController IF the user is pointing to a KV repository.

Currently, the CLI creates a controller meant for a DefaultCrudRepository, and it contains compile errors because it believes the repository is a defaultCrudRepos

[2020-03-17 21:28] emonddr commented on #4900
@dougal83 , I have opened: https://github.com/strongloop/loopback-next/issues/4909 .

[2020-03-17 21:29] emonddr commented on #4900
@stephaneerard, ca va maintenant?

[2020-03-17 21:45] jannyHou commented on #4738
@L-Luciano Thank you for uploading the files 👍 as what you probably already discovered, the `options` is provided when you instanciate the `Strategy` like
[code]

When instance gets passed to the `StrategyAdapter`, the option is already configured, that's why the `StrategyAdapter` itself doesn't deal with options.

In case you still want to configure the adapter, you can extend the adapter class a

[2020-03-17 23:17] dhmlau commented on #4903
@jannyHou , assigning to you, because I think it's already in progress.

[2020-03-17 23:21] achrinza commented on #4603
Closing as done.

[2020-03-17 23:21] #4603 closed

[2020-03-18 10:56] Vrq commented on #3047
Hi @dhmlau, would you mind adding us as well?
Company: https://swissdevjobs.ch/
Logo:
![SwissDev Jobs logo](https://static.swissdevjobs.ch/pictures/swissdevjobs-2-1.png)

[2020-03-18 14:00] agnes512 commented on #4763
MongoDB:
LB4 only allows to customize non-id properties. i.e
[code]
In db:

[code]

notice that BOTH `_id` and `MYID` are defined, but `MYID` doesn't have the value. When LB4 creates and fetches data from db, it looks for the value of `MYID`, which is null, so that it fails.

[2020-03-18 14:10] emonddr commented on #4900
The original issue is addressed, so closing this issue. :)

[2020-03-18 14:10] #4900 closed

[2020-03-18 14:20] emonddr commented on #4873
@AnanthGopal, have you tried what @achrinza has suggested?

[2020-03-18 14:24] dhmlau commented on #4909
@raymondfeng, would this be a duplicate of https://github.com/strongloop/loopback-next/issues/2737?

[2020-03-18 16:28] raymondfeng commented on #4870
A simple script can fetch the openapi spec, for example:

[code]

We can possibly add a `lb4 generate-openapi-spec` command.

[2020-03-18 16:39] saurabh-9995 opened #4915 "code ENETUNREACH error while creating Project"
![Screenshot 2020-03-18 at 15 35 44](https://user-images.githubusercontent.com/36607378/76984541-e804ca80-6936-11ea-9266-f04a1e2f2dc5.png)
Facing this error while creating a new project. Please help to resolve this!

[2020-03-18 17:08] dhmlau commented on #4915
@saurabh-9995, i was able to create project without errors.
From your screenshot above, the `http://repo1.uhc.com/..` looks suspicious. Is it some internal registry you're using?

[2020-03-18 17:18] saurabh-9995 commented on #4915
Yes. Its an internal registry. I was facing similar issues when I was trying to install loopback. To bypass the network, I set the registry path and it worked. But then this error popped up when creating a project.

[2020-03-18 17:22] saurabh-9995 commented on #4915
It stops executing and gives this error specifically on "install loadAllDepsIntoIdealTree" while creating a project.

[2020-03-18 17:27] dhmlau commented on #4915
Is it possible for you to change to use the npm registry?

Mine is:
[code]

Command to set is:
[code]

[2020-03-18 18:15] emonddr commented on #4870
Thanks, @raymondfeng .

https://loopback.io/doc/en/lb4/Defining-the-API-using-code-first-approach.html#reviewing-your-api-specification

mentions the openapi.json and openapi.yaml .

[2020-03-18 18:18] dhmlau commented on #3047
@Vrq, sure. I'd like to find out more from you on your company's usage of LoopBack. I couldn't find the contact information from your github profile. Do you mind sending me an email at dhmlau@ca.ibm.com so that we can connect? Thanks!

[2020-03-18 18:34] emonddr commented on #4859
Closing due to inactivity.

[2020-03-18 18:34] #4859 closed

[2020-03-18 18:45] Vrq commented on #3047
We just started using it for our internal admin application that connects a couple of our existing services. It's pretty handy and extensible but nothing too sophisticated.

[2020-03-18 19:42] agnes512 commented on #4763
Out of scope issue:
some SQL connectors don't correctly match the column and property names - Oracle, Db2i, informix. They don't use `datasource. idColumnName` but they only use `idName` when it tries to get the id for `SELECT` or some other operations. Which I think should be replaced with `idColumn()`. Those three connectors don't have tests for the column names :(

[2020-03-19 07:20] pilare commented on #3621
I had the same problem when filtering fields containing plus characters.  @bajtos thanks for the solution. However, there is a mistake in proposed replacement. Correct replacement for `+` is `%2B`. Just for anybody who will end up here later looking for help with this.

Here is my line to replace multiple plus characters:
[code]

[2020-03-19 08:39] odykyi opened #4921 "@belongsTo doesn't create relations in database"
**User Model:**
[code]

-----------------

**User Device Model:**
[code]

[2020-03-19 08:39] odykyi commented on #4921
@fabien @rmg @klassicd @ceefour

[2020-03-19 08:40] odykyi commented on #4921
@achrinza

[2020-03-19 10:00] dougal83 commented on #2023
https://github.com/ostranme/swagger-ui-themes - Feeling blue looks nice if going for a default lookback feel.

[2020-03-19 10:53] achrinza commented on #4921
LoopBack 4 does not create database constraints at the moment: #2331

[2020-03-19 10:56] achrinza commented on #4921
Duplicate of #2331

[2020-03-19 10:56] #4921 closed

[2020-03-19 11:49] saurabh-9995 commented on #4915
No it has to be that particular registry within the network. Why would it not give error while installing but when creating a project? A bit weird.

[2020-03-19 13:02] AnanthGopal commented on #4873
yes That's working

[2020-03-19 13:02] #4873 closed

[2020-03-19 13:13] bluewayll opened #4938 "Partial patch not working with required true of nested objects"
Hello guys,

Dependencies version i'm using :

`"@loopback/boot": "^2.0.0",
    "@loopback/context": "^3.0.0",
    "@loopback/core": "^2.0.0",
    "@loopback/openapi-v3": "^3.0.0",
    "@loopback/repository": "^2.0.0",
    "@loopback/rest": "^3.0.0",
    "@loopback/rest-explorer": "^2.0.0",
    "@loopback/service-proxy": "^2.0.0",`

What i want to perform is a partial patch by id, my code :

`@pat

[2020-03-19 13:47] odykyi commented on #4921
@achrinza I mean references in sql FK

[2020-03-19 13:48] achrinza commented on #4921
Apologies if i wasn’t clear; database constraints = foreign keys

[2020-03-19 13:55] sila12 commented on #110
Hello!!
We have been using loopback in my company for some time now! And I really love the project. I would definitely love to involved.

[2020-03-19 14:08] odykyi commented on #2331
this works for me
[code]
https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:10] odykyi commented on #4921
this works for me
[code]
https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:16] achrinza commented on #4921
Apologies, didn’t know your requirement was PostgreSQL.

Glad you’ve found a solution.

Unfortunately this isn’t universal across other connectors.

[2020-03-19 14:17] odykyi commented on #4921
I use mysql

[2020-03-19 14:23] achrinza commented on #2331
Just to quote from the other issue:

I think this is a good opportunity to revisit this soon as it’ll help streamline the use of LoopBack 4.

[2020-03-19 14:25] odykyi commented on #1718
this works for me

[code]

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:26] odykyi commented on #4791
this works for me

@model({
  settings: {
    foreignKeys: {
      fk_todo_todoListId: {
        name: 'fk_todo_todoListId',
        entity: 'TodoList',
        entityKey: 'id',
        foreignKey: 'todolistid',
      },
    },
  },
})
export class Todo extends Entity {
  //etc.
}

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:27] odykyi commented on #3712
this works for me

[code]

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:27] odykyi commented on #2209
this works for me

[code]

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:27] odykyi commented on #2639
this works for me

[code]

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 14:56] odykyi commented on #2606
this works for me

[code]

https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model

[2020-03-19 15:03] achrinza commented on #2606
@odykyi Thanks for the ethusiasm to help others!  However please refrain from re-posting the same solution on other issues unless it directly resolves the issue at hand.

For example, this is a spike for a new feature that has already been closed.

[2020-03-19 15:13] achrinza commented on #4915
This may be far-fetched, but could you try to create the project with the `--skip-install` flag, then run `npm install` afterwards?

More info on this flag can be found here:
https://loopback.io/doc/en/lb4/Application-generator.html#options

[2020-03-19 20:12] jannyHou commented on #4255
Created PR https://github.com/strongloop/loopback-next/pull/4930

Define the property in model as:

[code]

Generated json schema would be

[code]

Generated openapi spec would be

[code]

---

A follow-up PR is coming for adding the openapi shema for any.
The openapi schema spec for any type will be:

[code]

[2020-03-19 21:26] dhmlau commented on #4471
@rajkaran, we believe we've answered your question, so I'm closing this issue now. Thanks.

[2020-03-19 21:26] #4471 closed

[2020-03-19 21:29] dhmlau commented on #3247
@psr1410, we believe we've answered your question, so I'd like to close this issue. If you encounter other issues, please feel free to open a new one. Thanks!

[2020-03-19 21:29] #3247 closed

[2020-03-19 21:31] dhmlau commented on #3365
@baymabruno, thanks for your info!
I'm now closing this issue. Thanks.

[2020-03-19 21:31] #3365 closed

[2020-03-19 21:32] dhmlau commented on #3753
Closing due to inactivity.

[2020-03-19 21:32] #3753 closed

[2020-03-20 07:27] achrinza commented on #4731
Closing due to inactivity

[2020-03-20 07:28] #4731 closed

[2020-03-20 13:59] emonddr commented on #4870
@vishalvisd , have you tried our recommendations?

[2020-03-20 14:32] eric-jesover commented on #2453
@raymondfeng not sure to understand the workaround
npm run prettier:check  is failing for me
I just want to make the check not do any reformating  like with --format

[2020-03-20 16:16] emonddr commented on #4938
@mastermunj  , can you take a look at this issue? It is related to your commit above. Thank you. :)

[2020-03-20 16:29] raymondfeng commented on #2453
@eric-jesover The `--format` flag triggers `npm run prettier:fix` after the command finishes its work.

`npm run prettier:check` verifies if the code is formatted based on prettier rules. It does not reformat anything.

`npm run prettier:fix` reformats your code. Afterward, `npm run prettier:check` will passs.

If you don't care formatting, you can remove such scripts from `package.json`.

[2020-03-20 17:09] mrbatista opened #4939 "bug: ajv async validation"
## Steps to reproduce

1. git clone https://github.com/mrbatista/loopback-next/tree/bug-ajv-async-validation

1. `cd sanbox/bug-ajv-async-validation`

1. `npm install`

1. `npm test`

## Current Behavior

The test fail with error:
`Unhandled error in POST /products: 500 Error: async keyword in sync schema`

## Expected Behavior

Fail with 422 UnprocessableEntityError
[code]

## Link to reproductio

[2020-03-20 17:15] izidizi commented on #2415
Doesn't work for me. Could it be due to my app is created as RPC-server?
https://github.com/strongloop/loopback-next/tree/master/examples/rpc-server

[2020-03-20 17:21] eric-jesover commented on #2453
@raymondfeng  yes understood that, thanks for the clarification
The underline question is "what to do to have 'npm run prettier:check' running without error?"

[2020-03-20 17:23] emonddr commented on #4938
`name` is required on Product model, and in a PATCH /products/1 , if we don't provide `name` property, the ajv doesn't mind. However, if in a PATCH /products/1 , we don't provide any product properties except `image`, and its contents does not include `link`, then ajv complains that this field is required. Seems inconsistent. How is the ajv validator informed that we are updating versus creating a

[2020-03-20 19:24] deepakrkris commented on #4902
PR submitted for review https://github.com/strongloop/loopback-next/pull/4919

[2020-03-20 19:25] deepakrkris commented on #2624
PR submitted for review https://github.com/strongloop/loopback-next/pull/4919

[2020-03-20 20:33] raymondfeng commented on #2453
`npm run prettier:check` passes if all files are formatted per prettier rules. You can use `npm run pretter:fix` to fix formatting issues.

[2020-03-20 20:43] emonddr commented on #2415
@izidizi , the rpc server example is not for production, it is a dummy server just for illustration purposes and is an express server.

I guess if you wanted to set the file limit on this dummy server example (rpc server), you could do this:

[code]

to set a limit, since the server used here is a plain express server.

[2020-03-21 00:09] #4460 closed

[2020-03-21 09:34] vishalvisd commented on #4870
I have edited the question title since I think the replies gave me a sense that the my query was not clear. It is no big deal to get the spec json, but the question is how can we write a test case that would validate the API response's format is matching the format described in the spec.  I had tried Dredd, but it's not working with OAS 3, and Loopback 4 doesn't generate OAS 2(swagger)

[2020-03-21 10:59] dougal83 commented on #4870
Dredd has experimental support for openapi v3. Why not wait for it to mature or get involved in that project? Also can mocha testing cover the scenarios?

[2020-03-21 14:13] bluewayll commented on #4938
Hello @emonddr ,

Just for information if i put :

`schema: {type: 'object'},`

in place of :

`schema: getModelSchemaRef(Account, {partial: true})`

No verification will be done and the patch will pass, but the problem is loopback will replace the object image with what i have provided and not change inside it.

**For example :**

_old object :_
`
{
 name: "test name",
 image: {
      link: "test

[2020-03-21 15:07] izidizi commented on #2415
i see, thanks!

[2020-03-22 04:11] DanielChuDC commented on #4891
Hi @emonddr and @dougal83 ,

I made a branch in my project for testing this issue.

Feel free to clone this project, checkout branch ` loopback-cli-generate`

Fulfill the prerequisite and vagrant up

The error message shown below.

<img width="1186" alt="Screenshot 2020-03-22 at 12 07 52 PM" src="https://user-images.githubusercontent.com/52316624/77242135-32878f00-6c36-11ea-834e-70d184884edf.png">

[2020-03-22 04:11] DanielChuDC commented on #4891
https://github.com/DanielChuDC/multiarch-vagrant-rhel

[2020-03-22 04:42] raymondfeng commented on #4939
It seems to be a duplicate of https://github.com/epoberezkin/ajv/issues/647

[2020-03-22 12:58] dougal83 commented on #2569
It seems that this was an ephemeral issue so closing as cannot replicate.

[2020-03-22 12:58] #2569 closed

[2020-03-22 17:55] achrinza commented on #2651
Closing due to inactivity.

[2020-03-22 17:55] #2651 closed

[2020-03-23 06:10] #2477 closed

[2020-03-23 06:10] #2476 closed

[2020-03-23 15:36] emonddr commented on #2569
I had to look up `ephemeral` in a dictionary. lol. ;)

[2020-03-23 19:36] emonddr commented on #4868
@mschnee any chance you can look into this one? thx

[2020-03-23 19:44] dhmlau commented on #4516
Got a confirmation from Pramodh (OM) on the import API scenario. The plan is to use the [APIC OpenAPI enhancer](https://github.com/strongloop/loopback-next/tree/master/extensions/apiconnect) to make OpenAPIv3 spec coming from LB to be able to get imported to API Connect.

In this case, the test we're going to do in https://github.com/strongloop/loopback-next/issues/4498 and potential docs and arti

[2020-03-23 20:01] dhmlau commented on #4747
@derdeka, thanks for your suggestion. For the built-in LB3 models, do you mean `User` and `ACL` models? @jannyHou is creating a extension/component for JWT authentication, so whoever trying to use JWT authentication in LB doesn't need to follow the same steps. :). See https://github.com/strongloop/loopback-next/issues/4903.  Is that something you have in mind?

The benefit of having such extension

[2020-03-23 20:26] emonddr commented on #4721
@dougal83 , where is your breakpoint exactly?

[2020-03-23 20:31] emonddr commented on #4721
shopping has:

[code]

yours has:
[code]

[2020-03-23 20:38] emonddr commented on #4721
Please elaborate `step by step` what you mean by ` does not seem to function`. What you expected, and what you actually got. Thx.

[2020-03-23 20:45] #4939 closed

[2020-03-23 21:18] dougal83 commented on #4721
I think it was [L61 on the user controller](https://github.com/dougal83/example-extend-model/blob/master/src/controllers/user.controller.ts#L61).

@emonddr OK.  So basically use explorer to create a new user.

- On shopping example, creating a new user has a password field in the request body (as per the extended model NewUserRequest), as expected.
- On the sandbox, creating a new user has no pass

[2020-03-23 21:26] VigneshMeem commented on #2807
To resolve as array you can use like this
`       (err: any, data: any) => {
          console.log('err ', err);
          // console.log('data ', data);
          if (err) reject(err);
          else resolve(data.toArray());
        });`

[2020-03-23 21:29] VigneshMeem commented on #2807
To resolve as array :
`>     else resolve(data.toArray());
`

[2020-03-23 21:55] emonddr commented on #4721
Hmm. Yeah. My first instinct was to place a breakpoint on 61, but I didn't see the same debugger info you posted. That's why I asked for a specific line.  I still don't see what you posted.

I see this:

![image.png](https://images.zenhubusercontent.com/5c506af09eb374296d67bb54/a6658286-8e30-49be-9cd1-fb46dde94296)

[2020-03-23 22:31] dougal83 commented on #4721
@emonddr Ah, I remember how I found it!  I created the breakpoint on [L48](https://github.com/dougal83/example-extend-model/blob/50d22b3d04f1c503d1dc433486f7aadf57eb7e89/src/controllers/user.controller.ts#L48) and stepped into the getModelSchemaRef() process and found what I thought might be erroneous.  I'm home now so I'll see if I can find the exact break.

[2020-03-23 22:47] emonddr commented on #4721
I am going to debug shopping example to see how it succeeded at it.

[2020-03-23 22:51] dougal83 commented on #4721
Put a conditional breakpoint @ `node_modules/@loopback/repository-json-schema/src/build-schema.ts L89` with the expression `ctor.modelName == 'NewUserRequest'`

Note `ctor.definition.properties` are as expected with `password` present.

On L91, schema has dropped `password` and reverted to pre extended model.  Not sure if this is a bug or me looking for one! Perhaps you can shed some light on it.

[2020-03-23 23:44] emonddr commented on #4721
In shopping, at line 89 of build-schema.ts, I see:

![image.png](https://images.zenhubusercontent.com/5c506af09eb374296d67bb54/824c0e57-39c4-4554-9ebd-3fce269c4b8e)

[2020-03-24 00:46] emonddr commented on #4721
@dougal83 , I have confirmed your bug.

In your app, at L96 of build-schema.ts, the schema object does not have the
`password` property.

I looked at the shopping cart POST /users you mentioned, and it differed in 2 ways:

1) It didn't omit the id
2) its open api schema was different.

I tried not omitting the id with yours and still had the same problem.

The problem seems to be

`getModelSchemaR

[2020-03-24 00:50] emonddr commented on #4721
The API explorer shows:
![image.png](https://images.zenhubusercontent.com/5c506af09eb374296d67bb54/23385d3a-1dd6-43d7-8243-b51a544a235d)

[2020-03-24 00:53] emonddr commented on #4721
Oh, but a POST /users  fails with:

[code]

[2020-03-24 01:10] emonddr commented on #4721
shopping cart example is locked into specific dependencies:

e.g.

[code]

yours has

[code]

You seem to have @loopback/repository-json-schema of: "version": "1.12.2"

Shopping example has @loopback/repository-json-schema of : "version": "2.0.1"

So perhaps upgrade this module and possibly others?

[2020-03-24 09:57] MacGyver26 commented on #2043
Hello guys !

Do you know when this feature is going to be available in the framework ? thanks in advance.

[2020-03-24 11:23] dougal83 commented on #4721
The issue persists through, I have upgraded the package versions.

I think the issue is where the prototype of NewUserRequest may be remaining as 'User' and that is being picked up.  Perhaps forcing the extended model to update its prototype would fix the issue.  The shopping example has somehow managed this but I'm not sure how. :confused:

[2020-03-24 13:35] dhmlau commented on #1833
PR in progress: https://github.com/strongloop/loopback-next/pull/4914

[2020-03-24 14:35] emonddr commented on #4721
I updated the dependencies in your app.

If I change your POST /users to be similarly coded as in shopping example:

[code]

it works (yesterday I forgot to remove the password on the return, and that is why I got the validation error).

I will try your original open api spec for this method now.

[2020-03-24 14:38] malek0512 commented on #1981
Hello @ewrayjohnson, is there any progress on this feature ?

[2020-03-24 14:56] emonddr commented on #4721
Hmm, I still see your problem even if I change `password` to another name, and if I move `NewUserRequest` out of controller into its own file. Still investigating...

[2020-03-24 16:22] nabdelgadir commented on #2739
Closing because https://github.com/strongloop/loopback-next/pull/4932 is landed.

[2020-03-24 16:22] #2739 closed

[2020-03-24 16:49] raymondfeng commented on #4296
Existing docs:

- https://github.com/strongloop/loopback-next/blob/master/docs/site/Creating-CRUD-REST-apis.md (README)
- https://github.com/strongloop/loopback-next/blob/master/docs/site/Rest-Crud-generator.md
- https://github.com/strongloop/loopback-next/blob/master/examples/rest-crud/README.md (README)

[2020-03-24 17:15] raymondfeng commented on #4721
Added a failing unit test to reproduce the issue - https://github.com/strongloop/loopback-next/blob/fix-4721/packages/repository-json-schema/src/__tests__/unit/build-schema.unit.ts#L241.

[2020-03-24 17:54] dougal83 commented on #4721
Thank you both for investigating.  I've probably spent 12 hours cumulatively rebuilding the scenario to try and replicate based on the shopping example with no working result to show for it.

[2020-03-24 18:20] dhmlau commented on #4296
Closing this issue as done. The documentation work will be covered in https://github.com/strongloop/loopback-next/issues/2740.

[2020-03-24 18:21] dhmlau commented on #2740
Cross posting from https://github.com/strongloop/loopback-next/issues/4296#issuecomment-603361853 from @raymondfeng :

[2020-03-24 20:21] ibmjm commented on #2208
@deepakrkris Just wanted to thank you for this work. It's a welcome relief to be able to write my filters normally, instead of weird workarounds like "include][][relation": "someRelation" and so on.

Cheers!

[2020-03-24 21:06] emonddr commented on #4721
A big thanks for @raymondfeng for the PR. I knew the issue was in the metadata code, but couldn't put my finger on it. The PR fixes your problem. I `npm pack`ed   loopback/packages/repository and installed the .tgz file into your project, and tested the fix. :)

[2020-03-24 21:17] ewrayjohnson commented on #2208
@deepakrkris: I just looked back to when I first reported this.  Its been a long journey.  Thanks for persevering and resolving this impediment!

[2020-03-24 21:20] dougal83 commented on #4721
❤️  It really is first-class support for a tricky problem.  I still have no idea how the shopping example managed it but heyho. :)

[2020-03-24 21:24] #4721 closed

[2020-03-25 07:05] fidgi commented on #4938
Hi @emonddr ,
Is there any progress related to the fix of this issue ?
As a workaround, I'm looking to revert to a version before the culprit commit but it's not obvious to find out the right combination of components versions to use.

[2020-03-25 11:01] abjagtap commented on #4738
@L-Luciano found any solution?

[2020-03-25 13:59] L-Luciano commented on #4738
Hello,
I decided to use OpenId Passport and use keycloak to connect to my saml identityProvider.

There is no answer from the package passport-saml.

I don't try to use a custom stategy adapter but now you have an example in the loopback page.

Regards,

[2020-03-25 14:20] emonddr commented on #4721
@dougal83 , my observation while debugging was that the User type was placed in the cache first, and when NewUserRequest was being process,  the cache used the User value.

[2020-03-25 14:40] pathakbhaskar commented on #4738
but guess this somehow beats the purpose. Seems there is no other way other than opting for a work around as no response from package passport-saml.

[2020-03-25 14:42] emonddr commented on #4721
@loopback/repository 2.0.2 contains the fix. It was published yesterday early evening.

[2020-03-25 14:43] emonddr commented on #4721
@dougal83 ^

[2020-03-25 14:48] dougal83 commented on #4721
@emonddr Thank you for your support and follow up.  Much appreciated!

[2020-03-25 14:59] emonddr commented on #4938
@fidgi , I was hoping @mastermunj would reply since provided the PR that added this code. I will speak with the broader team.

[2020-03-25 15:15] emonddr commented on #4938
Seems ajv had issues with PUT and PATCH in the past, based on this comment: https://github.com/epoberezkin/ajv/issues/211#issuecomment-400507746 . Investigating if they've fixed in or provided workarounds.

[2020-03-25 15:56] raymondfeng commented on #4938
@bluewayll This is an issue related to `partial` or `deep partial`.  When we see a schema as `schema: getModelSchemaRef(Product, {partial: true}),`, we only mark top-level properties of `Product` optional. In your case, the `link` is a required property of `Image` and `data.image.link` is not marked as optional.

To allow your use case, we'll have to introduce something like `partial: 'deep'`.

[2020-03-25 16:07] emonddr commented on #4938
@bluewayll , until then, as a workaround, you can update with PATCH /products/id and
specify all the required fields of the image object.

[code]

[2020-03-25 16:59] abjagtap commented on #4738
Hello @L-Luciano , create new custom strategy adapter but getting same error

[2020-03-25 17:30] raymondfeng commented on #4938
In #4968, I fixed `partial` to be deep.

[2020-03-25 17:55] fidgi commented on #4938
Thx @emonddr and @raymondfeng

[2020-03-25 18:34] dhmlau commented on #4615
Closing due to inactivity.

[2020-03-25 18:34] #4615 closed

[2020-03-25 18:35] dhmlau commented on #4177
Closing due to inactivity.

[2020-03-25 18:37] dhmlau commented on #2496
Closing as resolved.

[2020-03-25 18:37] #2496 closed

[2020-03-25 18:38] dhmlau commented on #2968
Closing as resolved. @vjtc0n, please open a new issue if you run into other problems. Thanks.

[2020-03-25 18:38] #2968 closed

[2020-03-25 18:40] dhmlau commented on #4836
Reopening this issue because PR #4914 only covers the LB4 portion.

[2020-03-25 18:40] dhmlau commented on #1833
Closing this issue as #4914 lands

[2020-03-25 18:40] #1833 closed

[2020-03-26 03:11] #2000 closed

[2020-03-26 03:11] #1999 closed

[2020-03-26 09:03] L-Luciano commented on #4738
Hello @abjagtap,
I think you have to use the passport-saml package yourself to pass the option that you handle in the authenticate passport method.

Sorry, I don't test that because I found a workaround with keycloak.

Regards

[2020-03-26 13:15] joeytwiddle commented on #1234
The current release of loopback seems to use `tsconfig.tsbuildinfo` to cache previously compiled hashes, making update builds much more efficient than a full rebuild.

As a result, I have stopped using two separate processes (one to watch+build the other to run), and I now do everything in one process:

[code]

This takes a few seconds to update the build and restart the server, but I find the sim

[2020-03-26 17:33] VigneshMeem commented on #2506
I had belongs to relation previously to one of the model,  but I removed it in the model file not in the model's repository , Thanks it solved the problem

[2020-03-26 19:31] mschnee commented on #4853
This is awesome.  I know a lot of people use Mongoose, and TypeORM; the user story that you can bring your current ORM/ODM experience to your loopback application is a powerful one.

[2020-03-27 01:53] dhmlau commented on #4853
I think an example would be great. Do you mean to use the TypeORM component in https://github.com/strongloop/loopback-next/pull/4794 and create an example on how to use it?

[2020-03-27 01:53] dhmlau commented on #4853
cc @raymondfeng

[2020-03-27 07:47] sebolio commented on #257
It's been over 2 years since this discussion stopped and there appear to be no answer from IBM Strongloop about this yet. Serverless is today way more popular than it was in 2017 and there's still no framework solution for it. I think Loopback has been the de-facto framework for NodeJS since its conception as it has virtually no competition, and would love to see some interest from their side on t

[2020-03-27 09:57] achrinza commented on #257
Thanks @sebolio for bringing the issue to our attention.

it’s definitely been a while and I agree it’s good to revisit this.

I’ve re-opened the issue so that we can continue discussion.

Unfortunately I’m not too sure how to go forward with serverless for LoopBack 4, and will need to read up more first.

Though the core maintainers may have some new ideas to chime in.

[2020-03-27 12:46] achrinza opened #4977 "Make getFilterJsonSchemaFor() model-aware"
Currently, [`getFIlterJsonSchemaFor()` isn't model-aware](https://github.com/strongloop/loopback-next/blob/85c12eb2ce12dfd54cc70d28d3d39e17abfe0142/packages/repository-json-schema/src/filter-json-schema.ts#L54-L55).

This means that the `openapi.json` order filter parameter will be generic:

![image](https://user-images.githubusercontent.com/25147899/77757246-d5dc0800-706b-11ea-90d3-6d5937315eb3.p

[2020-03-27 13:15] agnes512 commented on #1201
Please check [Hidden property](https://loopback.io/doc/en/lb4/Model.html#hidden-properties) section.

[2020-03-27 13:15] #1201 closed

[2020-03-27 14:22] AsjadMahmood commented on #3288
Any Solution regarding this. Stuck in sending email using sendgrid in loopback 4

[2020-03-27 16:44] #2740 closed

[2020-03-27 19:29] garethhcoleman commented on #4977
PR #4978 adds a line to todos tutorial to aid new users who encounter this behaviour whilst underlying feature/bug is developed/resolved.

[2020-03-27 21:35] dhmlau commented on #1867
Thanks @shadyanwar @pktippa. I've created PR based on the above suggestions. See https://github.com/strongloop/loopback-next/pull/4969/files.

@hbakhtiyor, we believe we've addressed your question. Closing as done. Please feel free to open a new issue if you find other problems. Thanks.

[2020-03-27 21:35] #1867 closed

[2020-03-27 22:35] #4902 closed

[2020-03-27 23:37] dhmlau commented on #1624
According to [the above comment](https://github.com/strongloop/loopback-next/issues/1624#issuecomment-523152733), closing this issue as done.
Validation example created: https://github.com/strongloop/loopback-next/tree/master/examples/validation-app.
Docs are added via PR https://github.com/strongloop/loopback-next/pull/4874 (merged now).

[2020-03-27 23:37] #1624 closed

[2020-03-27 23:39] dhmlau commented on #3913
@UNSWZen, sorry about the very late reply! Business logic validation can be added through interceptor. Please see the validation example app: https://github.com/strongloop/loopback-next/tree/master/examples/validation-app.

It's been 5 months since the issue has opened, so I'd like to close this issue as done. Please feel free to open a new issue if you run into other problems. Thanks!

[2020-03-27 23:39] #3913 closed

[2020-03-27 23:58] dhmlau commented on #2570
Closing due to inactivity.

[2020-03-27 23:58] #2570 closed

[2020-03-28 00:00] dhmlau commented on #2788
@tonychangcheng, i have created a sample app: https://github.com/dhmlau/loopback4-github-analytics2/blob/master/src/datasources/githubds.datasource.json. It's calling out GitHub API. See if it helps.

[2020-03-28 00:02] dhmlau commented on #2896
Closing due to inactivity.

[2020-03-28 00:02] #2896 closed

[2020-03-28 11:58] raj-298585 commented on #4853
Probably with complete endpoint example from controller, model, repository including on how to create openapi schemas using decorators. I have tries this example, only place I struggled was to frame openapi schemas for "filters" using decorators with typeorm.

[2020-03-28 15:35] malek0512 commented on #1863
Any news on this subject ?

[2020-03-28 15:36] dmcclccam commented on #3047
Hello @dhmlau, would you mind adding our **fintech** to the list please?

**Name**: Unbanked Pagamentos LTDA
**Website**: https://www.unbanked.com.br
**Status Page**: https://status.unbanked.com.br
**Logo**: https://www.unbanked.com.br/logo/logo-black.png

Right now, we are just finishing setting up **Loopback 4** in our production environment. We use it to "link" together our third-party services

[2020-03-28 15:49] JacquesBonet opened #4982 "Incomplete Loopback 4.x documentation"
Comparing to Loopback 3.X, Loopback 4.x documentation is incomplete.

Especialy miss sections:

- Authentication, Authorization and Permissions
- Working with Data

[2020-03-28 17:48] raymondfeng commented on #4982
See docs for auth:

- https://loopback.io/doc/en/lb4/Integrate-with-infrastructures.html
- https://loopback.io/doc/en/lb4/Authentication-Tutorial.html
- https://loopback.io/doc/en/lb4/migration-authentication.html
- https://loopback.io/doc/en/lb4/migration-auth-access-control-example.html

Try search with `authentication` and/or `authorization`.

[2020-03-28 23:27] achrinza commented on #4982
PR for Working with Data: #4970

[2020-03-29 02:18] dhmlau commented on #230
@jotamora, sorry about the very late reply!
PR https://github.com/strongloop/loopback-next/pull/4919 has just landed. @deepakrkris, does it mean we have full for OAuth2 strategy now? Thanks.

[2020-03-29 02:19] dhmlau commented on #1035
Closing as done.

[2020-03-29 02:19] #1035 closed

[2020-03-29 02:21] dhmlau commented on #2624
@deepakrkris, with PR #4919 landed, anything we need to do for this task? Thanks.

[2020-03-29 02:23] dhmlau commented on #3657
Closing due to inactivity.

[2020-03-29 02:23] #3657 closed

[2020-03-29 03:23] deepakrkris commented on #2624
@dhmlau the PR https://github.com/strongloop/loopback-next/pull/4899 will complete the pending items in this task.

[2020-03-29 03:24] deepakrkris commented on #230
@dhmlau yes this issue can be closed now.

[2020-03-29 03:24] #230 closed

[2020-03-29 03:30] deepakrkris commented on #2624
following pending items in this issue will be completed by https://github.com/strongloop/loopback-next/pull/4899

* Track the user profile using session. Keep the session related functionalities as simple as possible, we can create sub-stories to enhance.
* Create an example endpoint that verifies user using session.
* Update the md file docs/strategies/oauth2.md

[2020-03-29 12:57] dougal83 opened #4990 "Extend authentication decorator to apply security to operations"
## Suggestion

Extend [@authenticate decorator](https://loopback.io/doc/en/lb4/Decorators_authenticate.html) to apply security to operations.  Initial iteration could start with `http` authentications schemes and possibly extended to rudimentary base `apiKey` scheme implementation. A caveat is that a `securitySchemes` object must be provided by the authentication strategy.

Further expansion later

[2020-03-29 21:12] agnes512 opened #4992 "Failed to exclude properties by setting false in `fields` filter via url"
## Description

From the docs https://loopback.io/doc/en/lb3/Fields-filter.html ( it's the same for LB4), filter `fields` can be set to `true/false` in a query to include/exclude model properties. `fields` works with API Explorer and Node. But it couldn't set properties to false (exclude) via url.

## Current Behavior

For example, model `Order` has three properties: `id`, `name`, and `price`. To

[2020-03-30 01:19] dhmlau commented on #4992
@agnes512, could you please add acceptance criteria? Thanks.

[2020-03-30 08:17] fikarisasi opened #4995 "Include filter hasMany but exclude if relation empty"
I have a /customers controller and get their data using this filter:
[code]
the result is:
[code]
I want the result that excluding Rachel because she doesn't have demands, I tried this but the result is still the same:
[code]
any idea how can I achieve this?
[code]

[2020-03-30 17:20] dhmlau commented on #3047
@dmcclccam, it's good to hear that you're deploying LB apps in production! I can add your company logo in. Let me reach out to you as well. Thanks.

[2020-03-30 19:13] emonddr commented on #4995
@fikarisasi , at the moment we don't support the filter you have specified above. Please read https://loopback.io/doc/en/lb4/HasMany-relation.html#querying-related-models to view the queries we do support.

In the meantime, as a workaround, in the controller method, you can always analyze  the result returned from the repository, strip out the data you don't want (result objects without `demands`

[2020-03-30 19:19] jannyHou commented on #4255
Update: now you can define the property as

[code]

Feel free to reopen the issue if you still have questions. Thanks.

[2020-03-30 19:19] #4255 closed

[2020-03-30 19:30] emonddr commented on #4977
@achrinza , apologies, but I don't follow. The Todo examples don't involve any Order object that I am aware of. To help investigate the issue, please provide a minimal app demonstrating the problem. Thanks.

[2020-03-30 19:39] emonddr commented on #4481
Closing due to inactivity. If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2020-03-30 19:39] #4481 closed

[2020-03-30 19:59] emonddr commented on #4179
@ScottYueqiang , perhaps contact the creator of the connector you are using? e.g. https://www.npmjs.com/package/loopback-connector-esv6 . The loopback team does not maintain the elastic search connector.

[2020-03-30 23:04] raymondfeng commented on #4853
@raj-298585 Thank you for chiming in - we have some prior efforts to transform LB repository apis into TypeORM implementation - see https://github.com/strongloop/loopback-next/pull/763.

I'll spend some time to build an e2e acceptance test and go from there.

[2020-03-31 08:43] bajtos commented on #2556
See https://github.com/strongloop/loopback-next/pull/5000.

I am closing this issue in favor of #5000 and #1464.

The current solution for 12factor env-based configuration is described in https://github.com/strongloop/loopback-next/issues/1464#issuecomment-436260086:

[2020-03-31 08:43] #2556 closed

[2020-03-31 08:55] achrinza commented on #4977
@emonddr, apologies if I wasn't clear - what I meant was the `order`  **filter** that is passed to repository functions.

This is added to the OpenAPI spec by `@param.filter()` from `@loopback/rest` which eventually calls `getFilterJsonSchemaFor()` which isn't model-aware, thereby leading to  the API Explorer generating an unusable default `filter` parameter.

I'll see if I can create a minimal ap

[2020-03-31 09:47] achrinza commented on #4982
Closing as the aforementioned docs are either already published or in the works.

If there's any other sections missing, feel free to comment or open a new issue so that we can continue the discussion.

[2020-03-31 09:47] #4982 closed

[2020-03-31 09:50] achrinza commented on #4995
Loosely-related #4299

[2020-03-31 11:51] #2494 closed

[2020-03-31 14:23] bajtos commented on #3978
Hmm, I think we need to clarify what user stories we want to document. Here is what I am thinking about:

As a user migrating from LB3 to LB4, I created a new LB4 project and mounted my LB3 application as explained in https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application

Now I want to run my existing LB3 tests as part of LB4 project's `npm test` command. How can I accom

[2020-03-31 16:40] agnes512 opened #5004 "Spike: how to run LB3 tests from LB4 when LB3 is mounted on the LB4 app"
### Description

The spike is inspired by [How to run LB3 app tests when the app is mounted in a LB4 project](https://github.com/strongloop/loopback-next/issues/3978). And also see the [comment](https://github.com/strongloop/loopback-next/issues/3978#issuecomment-606660036).

There is a use case that we'd like to run LB3 tests from LB4 when the LB3 app is mounted on the LB4 app. How can we run exi

[2020-03-31 16:41] agnes512 commented on #3978
Thank you so much @bajtos ! The spike is created in https://github.com/strongloop/loopback-next/issues/5004.

[2020-03-31 17:40] fidgi commented on #4938
@raymondfeng hi, when do you plan to release the fix ? sorry to urge you, but this bug is blocking for us. Thanks

[2020-03-31 17:45] fikarisasi commented on #4995
any idea how to strip out the data with the correct limit filter? I already tried to strip out the data but it doesn't return the correct limit filter. For example, if I limit the data to 10, and result objects with `demands` property are only 2, it only shows 2 result objects instead of showing 10 data. This is wrong since I use skip and limit filter for pagination in the client-side.

[2020-03-31 18:37] agnes512 commented on #4992
can start at https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/coercion/coerce-parameter.ts#L172

[2020-03-31 18:39] deepakrkris opened #5005 "Migrate apps using loopback-component-passport with LB3 Composition"
_This is a follow-up for #3718 and #3922._

Scoped from https://github.com/strongloop/loopback-next/issues/3958

Write content for `docs/site/migration/auth/passport.md`, explain how to migrate LB3 applications using [loopback-component-passport](https://github.com/strongloop/loopback-component-passport) to LB4.

For short to medium term, while users are running both LB3 and LB4 app at the same ti

[2020-04-01 01:09] agnes512 commented on #4767
Closing as done

[2020-04-01 01:09] #4767 closed

[2020-04-01 13:46] dhmlau opened #5010 "Monthly Milestone - April 2020 💪😷🐣"
## Overview
With COVID-19 impacting the maintainers at different levels, we will be committing less story points to give us more flexibility.

The goals for this month would be to:
- Aim at finish the [Migration guide epic](https://github.com/strongloop/loopback-next/issues/3935) except for the [migrate LB3 components related tasks](https://github.com/strongloop/loopback-next/issues/3955).

## Goa

[2020-04-01 15:28] agnes512 commented on #4868
From the docs [And and Or Operator](https://loopback.io/doc/en/lb3/Where-filter.html#and-and-or-operators), I think and/or should be used in the query when there are more than one conditions. We will make it more clear in the section `Working with data` in LB4 ( see PR https://github.com/strongloop/loopback-next/pull/4970).

Not sure how much effort it needs to have such warinings, thoughts? @raym

[2020-04-01 16:37] agnes512 commented on #4977
I was checking filters these days. `order` filter works well with API Explorer when I tested it.
Both work:
[code]
The generated default parameter makes sense to me.  Could you explain more about the issue?

[2020-04-01 17:00] #4938 closed

[2020-04-01 21:00] dhmlau commented on #4488
@bajtos @raymondfeng , just wanna confirm with you the requirement of this task before starting to write anything.

If we want to call a third party REST API, say the [PetStore](http://petstore.swagger.io:8080/), we would:
- step 1: Run `lb4 openapi` with the OpenAPI json, to create the models and controller
- step 2: Run `lb4 datasource` with the PetStore API url using REST connector
- step 3: Ru

[2020-04-01 21:09] raymondfeng commented on #4488
`lb4 openapi` is to implement an OpenAPI spec. To access 3rd party REST service with OpenAPI spec, use `lb4 datasource` and `lb4 service` (with [loopback-connector-openapi](https://github.com/strongloop/loopback-connector-openapi)).

In the future, we should extend `lb4 openapi --client` option to generate client service proxies with strongly-typed interfaces and types. Contrast to `lb4 openapi` g

[2020-04-01 21:13] dhmlau commented on #4488
I actually tried with `lb4 datasource` (with OpenAPI connector) and `lb4 service`.
The datasource json is:
[code]

and I ran into error:
[code]

Any ideas?

[2020-04-01 21:27] boneskull commented on #3159
Alright, so the parallel mode is ready for testing by the LB team.  Ref: mochajs/mocha#4198

## Installation

1. In your `loopback-next` working copy root, navigate to `packages/build`
1. `npm install -D https://github.com/mochajs/mocha#boneskull/issue/2839-concurrent` (if you'd rather pin it to a changeset, the latest at the time of this writing is `d0472ab`).
1. Navigate back to your `loopback-n

[2020-04-01 21:44] dhmlau commented on #4488
Let me try again and create a repo if the problem still exists.

[2020-04-01 21:49] authenticode commented on #2332
@bajtos @nabdelgadir I am able to create foreign key constraints by adding `settings.foreignKeys` configuration to a model. but the problem is loopback attempts to create foreign keys along with the table creation. A foreign key could reference a column of a table that is yet to be created. In this case, loopback migration script fails. Foreign key creation must be delayed until tables are all cre

[2020-04-01 23:00] dhmlau commented on #4488
@raymondfeng, looks like the "absolute urls" error still exists.

This is my repo: https://github.com/dhmlau/openapi-test2
- there is one endpoint for addPet. Use the following requestBody:
[code]

Then you'll get an error something like:
[code]
Thanks!

[2020-04-02 00:23] klassicd commented on #2332
@authenticode You may be interested in https://github.com/strongloop/loopback-connector/pull/170 which forces migrations to be run in a series so you can effectively use the `models` option to `migrateShema` as mentioned here https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#database-migration-using-npm-run-migrate-command

[2020-04-02 03:04] dhmlau commented on #4488
Still investigating. Got passed the above error, because it's expecting url in https://github.com/dhmlau/openapi-test2/blob/master/petstore.json#L18 to be in absolute path. But I got a 400 Bad Request error.

[2020-04-02 04:08] achrinza commented on #4977
@agnes512 Currently, the default parameter generated by the API Explorer is:

[code]

While it does makes sense, it can't be used as-is as `"string"` will need to be replaced with either `ASC`, `DESC` or `propertyName ASC`, etc.

Since the [API docs for `getFilterJsonSchema()`](https://github.com/strongloop/loopback-next/blob/85c12eb2ce12dfd54cc70d28d3d39e17abfe0142/packages/repository-json-schema

[2020-04-02 12:34] Frankie0701145 commented on #1875
@bajtos You are saying the foreign key should be defined likes.
 @property({
    type: 'string',
    required: true,
    mongodb: {
      dataType: 'ObjectID'
    }
  })
  userId: any

[2020-04-02 12:34] Frankie0701145 commented on #1875
The type to be any

[2020-04-02 17:05] agnes512 commented on #4977
Agree, `"order ASC"` is not intuitive enough. Maybe we can have a layer to convert  `"order": "ASC"` to `"order ASC"`, thoughts? @raymondfeng

[2020-04-02 17:15] jannyHou commented on #4868
The bad filter is allowed due to [type `PredicateComparison`](https://github.com/strongloop/loopback-next/blob/deba8b40102a787ef3c00ad42c2fe7c7cd43fd43/packages/repository/src/query.ts#L47).

Start with the where clause's type:
[code]
The `AndClause<MT>` restricts the correct filter, which is good 👌
The `Condition<MT>` has `PredicateComparison<MT[P]>` as the type for each field, but it allows the

[2020-04-02 18:53] meet02 opened #5019 "How to get a particular key of an object using the "fields" filter?"
I have data in MongoDB that look like this:

[code]

My model is:

[code]

And I'm trying to get the value of EN with the `field` property:

[code]

So how to get `value.EN` via the `field` filter?

[2020-04-02 19:00] dhmlau commented on #5019
@agnes512, could you please take a look? Thanks.

[2020-04-02 19:14] agnes512 commented on #5019
@meet02  The filter `fields` can include/exclude the properties from the result.

IIUC, you're trying to include the `value` property in the query result and to get the value of `result.value.EN`. If so, the property `value` needs to be set as `true` in the `fields` filter. ( You can not just include `EN` and exclude `UR`)

For example, your model has three properties:
[code]
To include only `_id`

[2020-04-03 06:10] meet02 commented on #5019
@agnes512 Thanks for answering,  yes i am adding value in field , so i get value object but i want value as string

like my db have
"value":{
  "EN":"Hello this is test example",
  "HD":" Hello this is my second test example "
}

then i am passing
{
    "fields": {
         "_id": true,
         "value": true
    }
}
then i get value object but i want particular key value from that value object

w

[2020-04-03 08:56] dougal83 commented on #5019
Would you not treat the object as normal? `value.EN` would access the property would it not?

[2020-04-03 09:42] achrinza commented on #4841
I suspect the following may be causing the issue:

https://github.com/strongloop/loopback-next/blob/4cf24ea4b9befc6def6fb92d1785fdfd2715832d/packages/openapi-v3/src/decorators/response.decorator.ts#L48-L55

Will need to do some more digging...

I'd like to hear input from @mschnee as the author of #4550.

[2020-04-03 13:54] Salketer commented on #4990
I was looking for this. As you say #4693 allows the strategy to define the scheme to the specs. I think that every @Authenticate('strategyName') should allow the target strategy to merge its security spec to the decorated path.

[2020-04-03 14:23] Salketer opened #5025 "HasManyRepository should implement EntityCrudRepository?"
## Suggestion

The HasManyRepository is missing the *ById, exists and count methods. They would prove to be very handy...

## Use Cases

Currently we have to forge the where clause to target entities by ID when working on a relation. This is error prone and more work than it should be.

### For the *ById methods:
While routes like GET /project/12/milestone/3 could definitely be narrowed down to /m

[2020-04-03 14:26] bajtos commented on #3288
@AsjadMahmood you can use the following workaround:

1. Create the datasource via `lb4 datasource` using a supported service connector first, e.g. REST. Enter any valid configuration, you will change this later.
2. Create the service via `lb4 service`.
3. Edit the configuration of your datasource, change it to use `sendgrid` connector. Update your project dependencies - remove the connector instal

[2020-04-03 14:29] bajtos commented on #4368
I am afraid I know nothing about the Informix connector. The discussion about this issue is about adding Informix connector to the list of connectors recognized by `lb4 datasource`.

Please ask in https://github.com/strongloop/loopback-connector-informix about those additional settings (e.g. open a new issue).

It's possible these options are not supported by the connector yet. Here is the code in

[2020-04-03 14:56] fgvicente opened #5026 "Migrating authentication and authorization"
Hello i need guide for migrate user , accesstoken and acl.
Im migrate lb3 but when execute /explorer show api guide but not show where put token for try calls

[2020-04-03 15:10] ludohenin commented on #4354
@dexdinesh this is because your not using the buildin default property format for your FK in

[code]

otherwise you have to configure your relation

[code]

But I can't get this working either.
@bajtos Has the relation to configured in the repository (accessor) everytime a relation is declared in a model ?

[2020-04-03 15:23] agnes512 commented on #5026
Hi, we recently added the guide and it is up on the site: [Migrate authentication](https://loopback.io/doc/en/lb4/migration-authentication.html). I am closing the issue. Feel free to reopen if it doesn't works for you, thanks.

[2020-04-03 15:23] #5026 closed

[2020-04-03 15:41] ludohenin commented on #4354
xhen I think I'm solving stuffs, I'm getting this error

[code]

[2020-04-03 16:15] MwSpaceLLC opened #5028 "Copy html file to DIST folder (BUILD)"
## Suggestion

![image](https://user-images.githubusercontent.com/29952045/78381639-f3fab880-75d5-11ea-836e-feab211357c5.png)

We are not able to copy our HTML content into the DIST folder e.g. the content by email

For now our content is loaded in the typescript file but we don't want to include all the html template in a string.

Even if this works without problems we would like the possibility

[2020-04-03 16:15] MwSpaceLLC commented on #5028
If u want see test project u can get it at:

https://github.com/MwSpaceLLC/lb4-starter

[2020-04-03 17:03] agnes512 commented on #5025
@Salketer thanks for the suggestion! I think these expected behaviors is similar to what inclusion does for relations.
For example, for request
[code]
I assume `tenantRepository` is the hasMany repository. And `Project` has many `User`s, and the relation is named `milestones`.
If you do
[code]
Notice we are using `projectRepository`, not the hasManyRepository class. Under the hood, it finds the re

[2020-04-03 17:05] MwSpaceLLC commented on #5028
and we want include other html file also ejs as follow:

[code]

This speed up our Dev Package. and clearly code for send email template

[2020-04-03 17:19] Salketer commented on #5025
Thanks @agnes512 for your thoughts. The problem with your suggestion is that it queries the source model while including the model we want. To my understanding, the relation Repository is there to prevent the need to use the source model if you just need the related ones.

It also does not answer the concerns for the count method.

I realize my example wasn't that clear. In the situation I was poi

[2020-04-03 17:22] MwSpaceLLC commented on #5028
In this example we try to implement. But not are files in DIST FOLDER

![image](https://user-images.githubusercontent.com/29952045/78387913-653f6900-75e0-11ea-9fa3-192ed53bb794.png)

[2020-04-03 17:34] MwSpaceLLC commented on #5028
OK! We have found it:

    "build": "lb-tsc --copy-resources"

Work fine! U can tell me if this is correct option ?? bye

[2020-04-03 17:55] emonddr commented on #4938
@fidgi , we will be making a release next week. :)

[2020-04-03 19:57] meet02 commented on #5019
@dougal83   After quring data. I can access all value object.

But i dont want value object I just want EN value

Using projection

My simple question is

How do I project or field value object keys not full object. I want only one key from that object not object

[2020-04-03 20:11] #1883 closed

[2020-04-03 20:12] dougal83 commented on #5019
@meet02 I think there may be a language barrier issue here but this seems simple.  Are either of these what you are looking for?

`const myvalue = value.EN;` or `return value.EN` (inside function that returns `EN`'s type)?

Might be worth seeing if [TS object tutorial](https://www.tutorialspoint.com/typescript/typescript_objects.htm) contains what you are looking for because I'm confused.

[2020-04-03 20:17] raymondfeng commented on #5025
I think it should be good to implement `count` and other missing methods.

[2020-04-03 20:25] agnes512 commented on #5025
My bad, I thought you were talking about traversing nested relations via hasMany repository :see_no_evil:

I will update the acceptance criteria shortly. Feel free to submit a PR tho😄

[2020-04-03 20:46] fidgi commented on #4938
@emonddr Great. thanks

[2020-04-03 21:05] dhmlau commented on #3959
@deepakrkris, I'm assigning this issue to you because you've done part of the work already.

[2020-04-04 01:30] dhmlau commented on #4488
Got it working in https://github.com/dhmlau/openapi-test2.
Taking the petstore json, I need to modify this line:
[code]

to
[code]
Otherwise, I will get the `500 Error: only absolute urls are supported` error.

[2020-04-04 07:55] ludohenin commented on #3050
@raymondfeng I made a repo to showcase the issue https://github.com/ludohenin/lb-playground

if you look a the `User` model the `preferences` refers to a LB model, the (useless) table `Preferences` is created when I migrate. Data are persisted whitin the user one as expected.

[2020-04-04 12:25] csvan commented on #1920
Like @enceladus , I discovered how gutted lb4 was in terms of features over earlier versions while already committed to a project. That is no excuse for not doing adequate research - I came back to LB after using LB2 (and loving it) on another project some years back. I was not at all prepared for pretty much _everything_ being removed in LB4. I spent a good 5 hours implementing basic auth, only t

[2020-04-04 14:16] achrinza commented on #1920
@csvan Sorry to hear about your experience. While I can't comment on behalf of the core maintainers, #4466 was meant to resolve @enceladus' issue by adding a disclaimer to the [documentation's home page](https://loopback.io/doc/en/lb4/). Unfortunately it seems to not have been suffice.

[2020-04-04 20:05] csvan commented on #1920
@achrinza I appreciate that and have rephrased my criticism. It may be ugly, but perhaps it would be worth having this warning on the "Getting Started" sections for LB4? Specifically:

https://loopback.io/getting-started.html

and

https://loopback.io/doc/en/lb4/Getting-started.html

Perhaps display something like

[2020-04-04 20:13] raymondfeng commented on #1920
@csvan Sorry for hearing that you have some pains in implementing LB3 features in LB4. Please check the migration guide at https://loopback.io/doc/en/lb4/migration-overview.html to see some concrete steps/examples.

[2020-04-04 22:05] ivesdebruycker commented on #1857
@haotangio this worked for me:
[code]
Based on https://loopback.io/doc/en/lb4/migration-models-mixins.html#defining-a-repository-mixin-class-factory-function

[2020-04-05 10:57] dougal83 commented on #5028
@MwSpaceLLC `--copy-resources` is one way to do it.  You can also [host static files](https://loopback.io/doc/en/lb4/Serving-static-files.html) with loopback, which if I'm not mistaken is as you can with as `express` server.

Also please refer to the [example shopping app](https://github.com/strongloop/loopback4-example-shopping/tree/master/packages/shopping) for how you can use the public folder

[2020-04-05 11:25] dougal83 commented on #4990
@jannyHou Personally I'd like to see both the `@security()` decorator and an extension of the `@authenticate()` functionality as described above. Negating the need to add unnecessary markup for a feature that naturally follows is a plus, especially when it is a key feature that will be used repetitively.

[2020-04-05 11:28] lakshmansai1980 commented on #1973
is there a way to include nested property in fileds under Filter in loopback 4.

[2020-04-05 12:05] achrinza commented on #4565
Closing due to inactivity.

[2020-04-05 12:05] #4565 closed

[2020-04-05 12:08] achrinza commented on #3939
Closing due to inactivity.

@JuliaGmP - Feel free to open a new issue if the problem persists.

[2020-04-05 12:08] #3939 closed

[2020-04-05 14:46] dougal83 commented on #1920
Personally, as it is informational I'd go with the following:

Although it still relies on people doing their research and reading first though. :man_scientist:

[2020-04-06 12:03] meet02 opened #5042 "How to create a custom primary key name with MongoDB"
Hello, if I create the following primary key in MongoDB:

[code]

The primary key's name would be `_id` instead of `faq_category_id`.

So, can I use `faq_category_id` as the primary key name?

[2020-04-06 12:55] hacksparrow commented on #4836
https://github.com/strongloop/loopback-next/issues/4837 (custom validation) story will also be included in this story.

[2020-04-06 12:55] hacksparrow commented on #4837
Will be included in https://github.com/strongloop/loopback-next/issues/4836.

[2020-04-06 12:55] #4837 closed

[2020-04-06 12:59] bajtos commented on #4398
Recently, we were discussing in several places the implications of dropping support for a major Node.js version (most recently Node.js 8.x) on our version numbers and the LTS policy.

See e.g. https://github.com/strongloop/loopback-connector/issues/172 and https://github.com/strongloop/loopback-datasource-juggler/pull/1831.

See also https://twitter.com/matteocollina/status/1245019022271406080

My

[2020-04-06 14:46] achrinza commented on #4403
Closing due to inactivity. If the issue persists, feel free to open a new issue.

[2020-04-06 14:46] #4403 closed

[2020-04-06 14:59] tcmal commented on #3454
Is there any way to include nested relationships infinitely/to N degrees using this? For example,

[code]

My current attempt is:

[code]

but this only includes the first level.

Ideally there would be some sort of option for recursive relationships, ie `{relation: "replies", depth: 10}`.

[2020-04-06 17:28] agnes512 commented on #5042
@meet02 we don't allow custom names for **the id property** in the Mongo connector. Only the default name `_id` is allowed in the DB.
[code]

Collections and other properties are able to be set with custom names:

[code]

[2020-04-06 20:12] dhmlau opened #5048 "Welcome users and contributors to loopbackio Slack workspace"
We've created a Slack workspace for our users to join. Since Slack is quite commonly used, we think it is a good time for us to modernize our tooling for the LoopBack community helping out each out. Also, the LoopBack core team is using Slack on a daily basis, it helps us to get notifications and respond.

📣 Here we are: the [loopbackio.slack.com](loopbackio.slack.com) Slack workspace.

## How to

[2020-04-07 00:08] achrinza commented on #4243
LoopBack 4 has since implemented querying nested relations. See [Query multiple relations](https://loopback.io/doc/en/lb4/HasMany-relation.html#query-multiple-relations)

[2020-04-07 00:08] #4243 closed

[2020-04-07 05:15] #2587 closed

[2020-04-07 07:12] gopalakrishnan-subramani opened #5055 "Loopback 4, Model, PostgresDB schema name"
I use Loopback 4, TypeScript with PostgreSQL DB, I have a requirement to mention the postgresql schema name for the tables,

[code]

Model is defined as below

[code]

Loopback 4 always look for table 'public.vendors' not 'registry', I don't find any documentation on lb4 website https://loopback.io/doc/en/lb4/Model.html  related to this, how to explicitly mention the schema name in the model/loopb

[2020-04-07 07:12] #5055 closed

[2020-04-07 07:17] bajtos opened #5056 "Multi-tenancy and dynamic schema selection"
Recently, several people asked about implementing dynamic schema selection to enable schema-base multi-tenancy, where tenant isolation is achieved via DDL Schemas. (If you are not familiar with DDL schemas then you can learn the basics e.g. in [PostgreSQL docs](https://www.postgresql.org/docs/current/ddl-schemas.html)).

I am opening this Epic to do discuss possible solutions, implement necessary

[2020-04-07 08:26] bajtos commented on #5056
I don't have bandwidth to look into this topic in full, but would like to dump few ideas & pointers to make it easier for others to do the research.

Conceptually, querying a database table involves the following actors:

1. Model describes the shape of the data (table columns) and metadata (table name, DDL schema name, etc.)
2. Repository binds a model with a datasource, registers the model with

[2020-04-07 08:26] bajtos commented on #5055
I opened a new issue to discuss this use case and posted few ideas what to try.

See https://github.com/strongloop/loopback-next/issues/5056

[2020-04-07 13:36] malek0512 commented on #3454
@tcmal you can actually include multiple nested relations with the same fashion thanks to the scope field.
See example below :
`filter = {include:[{relation: "replies", scope:{ include: [{relation: "nestedRelation"}] } }, etc..]`
See also documentation [here](https://github.com/strongloop/loopback-next/blob/master/docs/site/HasMany-relation.md#query-multiple-relations)

[2020-04-07 13:44] emonddr commented on #5056
@bajtos , thank you for starting this discussion. Great start.

[2020-04-07 14:01] bajtos commented on #5025
We have intentionally kept the initial implementation of relation repositories small, to avoid implementing APIs that nobody will use and we will have to maintain.

While I am not sure if relations are robust enough to support multi-tenancy, I guess the use case described by @Salketer is reasonable and it makes sense to implement the suggested methods like `count`, `exists` and `*ById`.

This is n

[2020-04-07 15:04] tcmal commented on #3454
Yes, that's what I'm trying to do, except the same relation nested an infinite amount of times.

So comments have many replies, what I'm trying to do is fetch a comment, its replies, its replies' replies, its replies' replies' replies, etc. until there's no more replies.

The code I posted is the same as what you posted, is a trick to essentially get:

[code]

If you try to access each level you g

[2020-04-07 15:24] agnes512 commented on #3454
@tcmal we don't support recursive inclusion in such form `{relation: "replies", depth: 10}`. But it should be able to traverse nested relations even the relation name is the same as long as the foreign key is set up correctly. I will check on my end to see if it only fetches the first level of replies in your case.

[2020-04-07 16:38] bajtos commented on #5056
Few more comments on the examples provided in my previous comment:

I assumed that the name of the current user is the tenant id. In a real app, we will need to map users to tenants first.

In the first example, where I am passing custom model settings to base repository constructors, we will need to include a unique model name to use, in addition to custom schema. Otherwise all tenants would shar

[2020-04-07 17:05] agnes512 commented on #3454
I just tried it on my end, and it seems work.
My model:
[code]
My repository:
[code]
With filter:
[code]
I got the expected result.

I am not sure if something's wrong with `let scopeRecurse = {relation: "replies", scope: {include: [scopeRecurse]}`

[2020-04-07 18:12] dougal83 commented on #4889
Closed by #4972

[2020-04-07 18:12] #4889 closed

[2020-04-07 21:17] frbuceta opened #5059 "Add custom settings in loopback"
## Suggestion

The feature to add would be a configuration in the package.json to customize the Openapi info object.
[code]

OR

[code]

## Use Cases

In principle I would use it to set the metadata

## Examples

For example:
[code]

## Acceptance criteria

TBD - will be filled by the team.

[2020-04-07 21:46] dougal83 commented on #5059
We should avoid duplication of information, particularly when `package.json` already holds the information. Perhaps this functionality would be best served by environment variables?
https://www.npmjs.com/package/dotenv

[2020-04-07 22:02] frbuceta commented on #5059
It would not be duplicating information. It would be about customizing those values.

For example the name value in the `package.json` has to be `kebab-case` but I want to put an `camel-case`

[code]
Here the title is `loopback-api`

[code]
But here the title is `LoopBack API`

I don't really see this in an environment variable. I see something else like separating it into a file such as `.loopbac

[2020-04-07 22:12] dougal83 commented on #5059
Why not put that in package `name` property?  You could make a custom change to your project and perhaps make an OASEnhancer to make your changes alter the spec but I'm not sure this idea should be committed to the project template in its current form.

[2020-04-07 22:15] frbuceta commented on #5059
The package simply cannot be called that
![Screenshot 2020-04-08 at 00 14 40](https://user-images.githubusercontent.com/13822438/78724569-06eeef00-792e-11ea-96e4-ec93074f2e77.png)

[2020-04-07 22:17] frbuceta commented on #5059
by the way ... this is derived from [this](https://github.com/strongloop/loopback-next/pull/5057#issuecomment-610514533)

[2020-04-07 23:36] dougal83 commented on #5059
There is nothing stopping a workable solution using the package name that can produces spaces in the result. For example transformation, say dashes to spaces can achieve an acceptable outcome. Personally I just don't see the merit to include as standard but I'm only one opinion. Let's see what others think on the idea.

It's not a bad idea but I don't think it's required.

[2020-04-08 08:30] achrinza opened #5063 "Add missing LoopBack 4 Types docs"
Loosely related: #2527
LoopBack 3-equivilant docs: https://loopback.io/doc/en/lb3/LoopBack-types.html

## Steps to reproduce

1. Visit https://loopback.io/doc/en/lb4/Model.html#property-decorator
2. Click the "LoopBack types" link.

    ![image](https://user-images.githubusercontent.com/25147899/78761746-9390c000-79b5-11ea-9a39-60c69670086e.png)

## Current Behavior

The page doesn't exist:

![ima

[2020-04-08 08:51] achrinza commented on #4883
We already have an [FAQ page](https://loopback.io/doc/en/lb4/FAQ.html) that's hidden from the sidebar. We could start by adding it to the sidebar and expanding it from there.

[2020-04-08 14:07] dhmlau commented on #5063
There is a LB3 version of LoopBack Types: https://loopback.io/doc/en/lb3/LoopBack-types.html. We can possibly use this as the starting point.

[2020-04-08 16:06] tcmal commented on #3454
I might not be explaining myself right.

I have data:

[code]

In this case I'm expecting it to return all 6 of those comments, but when I try your example it only returns up to c:

[code]

[2020-04-08 16:13] frbuceta commented on #5059
ok let's see what the others say @strongloop/loopback-maintainers

[2020-04-08 16:32] raymondfeng commented on #5059
I agree. There are always cases that applications want to populate `info` differently. The built-in one from LoopBack infers such information from `package.json` as defaults. There are a few ways to override it:

1. Use `app.api()`
2. Rebind `application.metadata` binding
3. Contribute another OASEnhancer

[2020-04-08 19:06] agnes512 commented on #3454
Sorry I didn't make it clear. The example I have above is to check if it works well with nested relations. And it does.

As for recursively querying the related data, we currently don't support such a recursive way due to the current design. i.e you will need to write the filter yourself to query a certain levels of relations. The filter above is an example that queries two levels of `replies`.

F

[2020-04-09 06:32] bajtos commented on #844
Related reading: https://getstream.io/blog/crafting-a-command-line-experience-that-developers-love/

[2020-04-09 09:07] ckoliber commented on #3047
@dhmlau, Hi Diana

A time ago i was created an [extension](https://github.com/strongloop/loopback-authorization-extension) in this organization, but now i haven't the required access to create a new one

I want to add more extensions:

1. [loopback-history-extension](https://github.com/ckoliber/loopback-history-extension): For adding history feature to models
2. [loopback-acl-extension](https://gi

[2020-04-09 09:40] bluewayll opened #5074 "Partial patch not working as expected"
Hello guys,

Referring to this bug :
https://github.com/strongloop/loopback-next/issues/4938

After updating my packages i can now do a partial patch with partial verification but not as expected.

## Steps to reproduce

With :

`schema: getModelSchemaRef(Product, {partial: 'deep'})`

Patch this object :

`{ name: "test name", image: { link: "test link", description: "test description" } }`

With

[2020-04-09 13:21] tcmal commented on #3454
Would it be possible to have this implemented? At the very least as a helper function that returns the nested struct:

[code]

[2020-04-09 15:56] danysz commented on #1857
I tried to implement your solution but the controllers are not working anymore.

[2020-04-09 16:15] dhmlau commented on #3047
@ckoliber, thanks for contributing the extensions! For the other extensions, I'm thinking whether it's better to put it in `strongloop-community` org or remain in your GH org. The good thing to leave them in your org is that you can get the credits for creating/maintaining them. :).

As we're having more extensions, I'm thinking it might be good to create a similar page as the [Example page](https

[2020-04-09 16:23] dhmlau opened #5076 "[Discussion] Extensions contributed by the community"
Originated from https://github.com/strongloop/loopback-next/issues/3047#issuecomment-611420052.

Cross posting https://github.com/strongloop/loopback-next/issues/3047#issuecomment-611420052 from by @ckoliber

### Things to discuss
1. For extensions contributed by the community, where would be a good location? the contributor's github org, `strongloop-community`, etc? The good thing to leave them i

[2020-04-09 16:23] dhmlau commented on #3047
@ckoliber, I've created https://github.com/strongloop/loopback-next/issues/5076 to continue the discussion. Thanks!

[2020-04-09 16:37] raymondfeng commented on #5056
I see a few tiers/components to enforce multi-tenancy.

1. Identify the tenant id for a request
  - virtual host name
  - request header
  - url pattern
  - authentication of user

2. Locate tenant specific resources, such as datasources for databases and services

3. Bind tenant specific resources to the request context

4. Database multi-tenancy
  - Data modeling to add `tenantId` (for searching

[2020-04-09 17:05] zzhenryquezz commented on #3033
+1

[2020-04-09 17:33] ckoliber commented on #3047
Thanks @dhmlau

Self GH organization is a good choice, but as we know, open source projects will grow up faster by community contributors help,
I thing keeping these types of extensions in a centralized origanization can help to finding them by community more easier

[2020-04-09 17:33] ckoliber commented on #5076
Thanks @dhmlau

Self GH organization is a good choice, but as we know, open source projects will grow up faster by community contributors help,
I thing keeping these types of extensions in a centralized origanization can help to finding them by community more easier

[2020-04-09 18:57] emonddr opened #5079 "Document to explain LoopBack 4 Typing at every level"
## Suggestion

LoopBack 4 allows for typing at different levels.

It would be great to have a document that explains each level of typing

- Typescript is used at the code level for strong typing of codebase
- Model properties can be assigned various LoopBack 4 types
- JSON schema properties can be used to fine-grain restrict the model property typing
- Open API : model properties and json schema

[2020-04-09 20:19] agnes512 opened #5080 "Query nested relations recursively"
## Suggestion

Original from [comment](https://github.com/strongloop/loopback-next/issues/3454#issuecomment-609847868).

LoopBack 4 provides the custom scope to achieve inclusion, which was implemented in #3454. But it only goes down to the certain levels of relations that are described in the filter, for example, three levels:
[code]
It'd be good to have a better way to query nested relations  to

[2020-04-09 20:22] agnes512 commented on #3454
@tcmal I think your use case is valid. I've created a story for it, see https://github.com/strongloop/loopback-next/issues/5080. Feel free to join the discussion ( or submit a PR :D ). Thanks!

[2020-04-10 01:36] dhmlau commented on #2254
Closing as done.
Please see https://loopback.io/doc/en/lb4/Loopback-component-authorization.html and https://github.com/strongloop/loopback-next/tree/master/examples/access-control-migration for reference. Thanks.

[2020-04-10 01:36] #2254 closed

[2020-04-10 03:23] #2550 closed

[2020-04-10 05:44] rodolph66 opened #5083 "lb4 cli's generated modules on Windows have incomplete reference paths (minor)"
**Steps to reproduce**
Simply follow the basic tutorial on the home page (or Todo tutorial in docs)

**Current Behavior**
Upon running npm start, the terminal reports errors related to modules not found

**Expected Behavior**
The app should compile and run

**Additional information**
This is a minor issue, I was able to go into each of the files and complete the "import" path for each of the gener

[2020-04-10 06:03] raymondfeng commented on #5083
It might have been fixed by https://github.com/strongloop/loopback-next/pull/5073. `yeoman-generator@4.8.0` introduces a breaking change. Can you check the following:

[code]

If it shows 4.8.0, please revert it back to 4.7.2 as follows:
npm i yeoman-generator@4.7.2

Once #5073 is released, the problem should be fixed.

[2020-04-10 09:41] achrinza commented on #5076
We already have a [LoopBack community projects](https://loopback.io/doc/en/community/index.html) page. Though it’s quite hidden and it’s not LoopBack 4-specific.

So we probably want to create a separate page for LoopBack 4 community projects and then link to it.

[2020-04-10 13:17] King-Success commented on #5056
@bajtos Thanks for responding to my DM on twitter and starting this conversion. Mind sharing how these data sources are injected into repositories since `this.bindingKey`s are being dynamically generated? I'm talking about the **Datasource-based tenant isolation** option. Thanks.

[2020-04-10 16:02] raymondfeng commented on #5083
Hmm, I can confirm that `npm i -g @loopback/cli` installs an incompatible version of `yeoman-generator`:

[code]

We'll publish a new release early next week.

[2020-04-10 19:04] raymondfeng commented on #5056
FYI: I just built an example application to illustrate multi-tenancy for LoopBack 4 - https://github.com/strongloop/loopback-next/pull/5087.

[2020-04-10 19:15] iLem0n opened #5088 "'title'-option of JsonSchemaOptions<T> causes wrong related class"
## Steps to reproduce

1. download minimum error example project: https://github.com/iLem0n/loopback-relation-error
2. `npm install && npm run start`
3. browse to http://localhost:3000/openapi.json or check the generated openapi-spec
4. Check 'components -> schema -> ParentWithChildren -> Properties -> children -> items -> $ref'

## Current Behavior

the generated openapi3 spec has the parent clas

[2020-04-10 19:32] dougal83 commented on #5088
Hey @iLem0n

See:

https://github.com/iLem0n/loopback-relation-error/blob/13c718754b243c462c58201e884e628aa418edb2/src/controllers/parent-child.controller.ts#L28

You've named the item using 'title' as `ParentWithChildren`.  Try changing to `children`?

[2020-04-10 19:59] iLem0n commented on #5088
Hello @dougal83: Thanks for the quick reply. This would only lead to a 'Children' class with the structure (attributes) of a 'Parent'-Class. The $ref would be the right one, but the class naming would be wrong and misleading.
I would expect a class "ParentWithChildren" which has the parent structure (attributes of class 'Parent') and the resolved class of the items in the children's array should b

[2020-04-10 20:17] iLem0n commented on #5088
Before I didn't used the 'title'-option but this leads into multiple classes with ugly naming:
![Screenshot 2020-04-10 at 22 10 28](https://user-images.githubusercontent.com/5202672/79020152-59bbe700-7b78-11ea-811e-4ac0f484c275.png)

without the title option the related class is generated the right way:
<img width="599" alt="Screenshot 2020-04-10 at 22 15 59" src="https://user-images.githubusercon

[2020-04-10 21:48] dougal83 commented on #5088
@iLem0n Sorry, I deleted my post earlier as I didn't have time to follow up with anything coherent.  The last image with `ChildWithRelations` is what I would expect to see.  I think that the use of `title` was overriding the naming of the child.

Are you all good now?

[2020-04-10 21:58] iLem0n commented on #5088
@dougal83: No problem. This would be the right behaviour, yes. but this only works without the 'title'-option. The options brakes this behavior. In this screenshot you see two times the same configuration schema, the only difference is the title attribute. the second one also changes the items $ref

<img width="954" alt="Screenshot 2020-04-10 at 23 56 02" src="https://user-images.githubusercontent

[2020-04-10 23:16] rodolph66 commented on #5083
Great....
All best....

Rodolph

Sent from myMail for iOS

Friday, 10 April 2020, 19:02 +0300 from notifications@github.com  <notifications@github.com>:

[2020-04-11 08:29] iLem0n commented on #5088
I've build a workaround by adding the schemas manually in the @api() decorator of the class.

[code]

the on the controller:

[code]

this actually works for me, but it is not the prettiest way to work with it.
This is just a workaround to mask the wrong behavior of the title-option.

[2020-04-11 10:11] rahulrkr08 opened #5092 "Filter not working with mongodb"
## Steps to reproduce

MongoDB Data:

[code]
**Request:**

`http://localhost:4001/posts?filter={"where":{"user_id":"5c6b9d939a7b892772c894e8"}}`

## Current Behavior

I am getting empty (`[]`) data when I am querying with where condition.

## Additional information

But, if I make changes in user_id value, something like
[code]
then, I am getting response (`http://localhost:4001/posts?filter={"whe

[2020-04-11 10:42] dougal83 commented on #5088
Yeah, the behaviour of the title option is a bug.  Thank you for highlighting it.

So to clarify, when applying the title option to parent schema, the included relations also have the parent's title applied, which is a bug.

[2020-04-11 10:45] dougal83 commented on #5088
Hey @agnes512 Could you please take a look?

[2020-04-11 12:24] iLem0n commented on #5088
@dougal83: Yes that totally right. Thanks for your support.
@agnes512: Thank you too ;)

[2020-04-11 19:39] raymondfeng commented on #5083
It should be fixed by @loopback/cli@2.3.1 now. Please run `npm i -g @loopback/cli` to upgrade.

[2020-04-11 19:39] #5083 closed

[2020-04-12 01:35] mdbetancourt commented on #5092
that it's an old but, mongo convert to ObjectId every string that has the same format. you can check it here https://github.com/strongloop/loopback-next/issues/1875#issuecomment-431184017

[2020-04-12 11:19] achrinza commented on #4915
Hi @saurabh-9995, just checking in; did the suggestion work?

[2020-04-12 13:15] rahulrkr08 commented on #5092
Thanks @mdbetancourt, it worked.

[2020-04-12 13:15] #5092 closed

[2020-04-12 18:07] dhmlau commented on #4488
Closing as done.

[2020-04-12 18:07] #4488 closed

[2020-04-13 07:43] dougal83 commented on #5088
Another example of broken relation : [Need to remove title property to get expected behaviour](https://github.com/cycorld/loopback4-example-todo/blob/10dcfb82c8c0018531af7517c9f73c982d8760af/src/controllers/todo.controller.ts#L41)

[2020-04-13 11:22] neha2683 opened #5101 "Exposing Stored Procedures from MSSQL using loopback 4"
Hello

Able to access the DB tables from MS SQL using loopback 4 .

Looking for options to expose only the Stored Procedures from the table , and expose them as Rest APIs . Kindly help.  Thanks.

[2020-04-13 12:35] hanut commented on #2487
Is this being actively pursued or is contribution welcome ?
Also, is there any interim solution while a long term implementation is built.

[2020-04-13 15:10] JacquesBonet opened #5104 "Refactor documentation structure"
## Suggestion

In my opinion, the structuration of Loopback V4 documentation is very very bad.

I never find what I'm looking. When I use Loopback V3 documentation, I find the information very quickly.

I think a more traditional structuration like with Loopback V3 will be far better.

[2020-04-13 15:16] fabianorodrigo commented on #4354
@achrinza, what is the recommendation if I need a atomic transaciton? How is the community handling this use case?

[2020-04-13 15:28] achrinza commented on #4354
@fabianorodrigo Common LoopBack 4 SQL connectors support [database-level transaction isolation](https://loopback.io/doc/en/lb4/Using-database-transactions.html). Hope this helps!

[2020-04-13 16:58] issahh89 commented on #2495
i was just going through the Loopback4 todo list tutorial and did all the steps but when tried out one of the endpoint i got the same error

[code]

i'm really a beginner in here, but it seems this issue is back.

[2020-04-13 17:02] jotamora opened #5105 "LOOPBACK 4 - POSTGREQL ERROR relation "public.XXX" does not exist"
Hello,

When you made a simple program in LB4 with postgresql, using the command line interface, you have this error when you try to use the API

**500 error: relation "public.XXX" does not exist**
In my case, with this model:

[code]

I have this problem:
500 error: relation "public.imagemodel" does not exist

If for example I change to a Mongo or to MySQL everything start to works well. Anybody

[2020-04-13 19:01] dougal83 commented on #5105
Hi @jotamora

Have you run the [database migration](https://loopback.io/doc/en/lb4/Database-migrations.html) script? `npm run migrate`

If it is not that can you please make a public repo to on GitHub to enable someone to take a deeper look at the issue?

[2020-04-13 19:05] dougal83 commented on #2495
Hi @issahh89  There is not enough info to help. Could you make a new issue and post a public repo to on GitHub to enable someone to take a deeper look at the issue?

For future reference, you can link to relevant issues like this one from elsewhere by using the issue number `#2495` (without quotes) in your comment.

[2020-04-13 19:37] agnes512 commented on #4992
Note: stringified JSON works well e.g `?filter[fields][name]=false` works

[2020-04-13 19:59] jannyHou commented on #5088
[This line](https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L504) causes the problem:

`modelToJsonSchema` takes in the `options`(which has the `title` property) to build the response schema.
Since the `Parent` model has a relation property `children`, it builds child model's schema starting from [line 499](https://github.com/strongloop/l

[2020-04-13 21:46] jannyHou commented on #5088
Created a PR in https://github.com/strongloop/loopback-next/pull/5108

[2020-04-13 22:17] fabianorodrigo commented on #4354
Sorry @achrinza, but when you suggest two requests as a workaround to the problem "Navigational properties are not allowed in model", one to the parent model and another to the child, this requests are made by the client side, right? The transactions supported by connectors are just applicable if I received a request with all the data (parent and child) and then open transaction, insert in the par

[2020-04-14 01:52] achrinza commented on #5104
HI @JacquesBonet, thanks for the suggestion! Could you clarify which parts of the LoopBack 3 docs would you like to see in the LoopBack 4 docs? Or maybe what is difficult to find in the lb4 docs?

[2020-04-14 02:21] dhmlau commented on #5101
Cross posting from https://github.com/strongloop/loopback-next/issues/3798#issuecomment-535119705.

You can call DataSource.execute(), something like below:
[code]

[2020-04-14 02:22] dhmlau commented on #5074
@jannyHou, perhaps this is related to something you're investigating now?

cc @agnes512

[2020-04-14 02:40] raymondfeng commented on #5074
@bluewayll What database do you use? I don't think our default repository implementation supports deep patching.

[2020-04-14 05:13] neha2683 commented on #5101
Thanks Diana .
But what I want is to call 2000+ stored procedures via REST API through loopback.
Is there a way to do that ? Thanks in advance .

[2020-04-14 07:15] bajtos commented on #487
Prior art: [loopback-component-migrate](https://www.npmjs.com/package/loopback-component-migrate) - a community-maintained migration framework for LB3:

[2020-04-14 09:25] bluewayll commented on #5074
@raymondfeng I am using couchbase as a database.

[2020-04-14 10:55] achrinza commented on #4883
Closing as done.

[2020-04-14 10:55] #4883 closed

[2020-04-14 10:55] JacquesBonet commented on #5104
May be its not the doc the problem but the Authentication/Authorization mecanism.

I understand its a very difficult task to explain how works Authentication and Authorization with all these interfaces, providers, services, ... to implements.

I like very much Loopback except these two modules which are over complicated to use.
Also they don't match with rest-crud.

May be a little more convention

[2020-04-14 10:56] achrinza commented on #4572
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-04-14 10:56] #4572 closed

[2020-04-14 10:59] achrinza commented on #3712
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-04-14 10:59] #3712 closed

[2020-04-14 12:11] bykeat commented on #2366
I am user of webpack for deployment to MongoDB Stitch Hosting & Firebase with React framework for the front-end. I hope to see webpack able to support for LB4 as I'm currently started to learn TypeScript to migrate LB3 to LB4.

[2020-04-14 14:06] bajtos commented on #4296
I am afraid this story was closed mistakenly.

The stories and doc pages linked in https://github.com/strongloop/loopback-next/issues/4296#issuecomment-599105534 (especially #2740) are relevant for the use case where the artifacts (models, REST APIs) are static, defined by source code files (models) and configuration files (model-api config files).

See also the Example section that's describing a

[2020-04-14 14:10] bajtos commented on #4296
@samarpanB I see how this feature can be useful to you. I believe all runtime bits are already in place, you can take a look at the demo application presented in #4235 to see how to use them in practice.

Recently, I have opened an issue where to discuss multi-tenancy based on dynamic schema selection - I think that's your use case too? Please join the discussion in https://github.com/strongloop/l

[2020-04-14 14:14] bajtos commented on #5056
@King-Success

IIUC, you are interested in Datasource-based tenant isolation.

The idea is to bind a static datasource key to `TenantDataSourceProvider`, which will resolve to one of the dynamically-created datasources.

For example, in the app constructor:

[code]

Then you can inject the datasource the usual way, for example:

[code]

[2020-04-14 14:15] bajtos commented on #5056
@raymondfeng

Thank you for chiming in and adding wider perspective to this discussion :+1: ❤️

[2020-04-14 16:21] dhmlau commented on #5101
@neha2683, do you mean you want one REST API that calls 2000+ stored procedures, or 2000+ endpoints that each call one stored procedure?

[2020-04-14 17:46] neha2683 commented on #5101
The latter one.... Procedure name and input parameters as inputs to one
Rest Api.

On Tue, Apr 14, 2020, 9:52 PM Diana Lau <notifications@github.com> wrote:

[2020-04-14 20:57] #5088 closed

[2020-04-14 20:58] jannyHou commented on #5088
should be fixed by https://github.com/strongloop/loopback-next/pull/5108, feel free to reopen it if you still have the problem.

[2020-04-14 21:38] Tpuljak commented on #5105
I have the same issue, except I. used `lb4 discover` to discover the models from the datasource and then any request towards the database yields the `500 error: relation "public.XXX" does not exist` result.

Also, I tried running `npm run migrate` after the discover but that too yields errors.
`syntax error at or near "null" at character 286` where char 286 points to TIMESTAMP (null) WITH TIME ZON

[2020-04-14 21:45] Tpuljak commented on #5105
I think the issue is with plurality. Most of my tables are in plural form of the model, but queries try to execute on the singular name. Thats why I get an error `500 error: relation "public.user" does not exist`, since the table it should be looking into is "public.users".

[2020-04-14 23:11] #2527 closed

[2020-04-14 23:45] nabdelgadir commented on #2036
Blog post is ready to publish; closing this EPIC as done 👍

[2020-04-14 23:45] #2036 closed

[2020-04-15 00:49] dhmlau opened #5113 "Documentation improvements 2020Q3"
We'd like to use this issue to capture how we can improve documentation.

From the discussion with @raymondfeng and @bajtos:

### Adding new documentation pages
- Add/modify useful LB3 docs to LB4 docs #4848
   - Add "Running and Debugging apps" #4844
- how to use @loopback/context outside of LB
- how to use @loopback/http-server outside of LB
- how to use @loopback/testlab both inside and outside

[2020-04-15 00:57] dhmlau commented on #5113
@achrinza, would like to get your inputs on this. Thanks.

[2020-04-15 04:15] Listu opened #5115 "Open API issue with param.where"
Replicate:

- install the todo-list example and create an other lb4 app.
- in your app, try to lb4 openapi the openapi.json from the todo-list

It fails and display: "TypeError: Cannot read property 'x-$ref' of undefined"

After some researchs, it seems the issue come from the param.where in the /count routes from the CRUD controller.

[2020-04-15 07:20] jotamora commented on #5105
Hello @Tpuljak ,

I have discover that  lb4 don´t create the table in DB in postgre, if it doesn´t exist, like in Mongo. You need to create the table of the DB first. After that in your model:
[code]
})

Careful: For each element in you model, you need to create a column in the table of the DB. If you don´t make that it is going to fail.

I hope loopback team could improve it and could work with p

[2020-04-15 07:33] achrinza commented on #5105
Hi @jotamora, have you tried using the database migration feature in LoopBack 4? That's what's supposed to be used to generate the database.

AFAIK, it requires explicit execution to prevent any accidental data loss.

[2020-04-15 08:31] victor-enogwe commented on #3947
In case anyone needs this, the concept of [interceptors](https://loopback.io/doc/en/lb4/Interceptors.html) solved this for me. to simulate a global `app.use` like in express I made a global interceptor. For middlewares scoped to class methods(controllers) create local interceptors and decorate your controller methods with the `@intercept` decorator function. See an example loopback-next helmet mid

[2020-04-15 08:33] victor-enogwe commented on #2035
In case someone else comes here, see the comment [here](https://github.com/strongloop/loopback-next/issues/3947#issuecomment-613898378)

[2020-04-15 10:22] achrinza commented on #5113
I think this is a great idea, and would possibly help users better find the information they're looking for. It'll also make the responsibilities of each LoopBack package clearer.

To add on, I think there's 2 main, overreaching user stories that we need the docs to cater towards:

1. I want to create an API using LoopBack 4

2. I want to use individual LoopBack 4 components (in an existing applic

[2020-04-15 13:27] dhmlau commented on #1981
@strongloop/loopback-maintainers, would like to get your input on the approach to support geopoint. Thanks!

To summarize, @bajtos had 2 proposals mentioned in https://github.com/strongloop/loopback-next/issues/1981#issuecomment-436966284, and @ewrayjohnson also mentioned the limitation of the juggler geopoint implementation.

[2020-04-15 14:22] Sampath-Lokuge commented on #2305
@HaiderMalik12 Your discount code is not working? Have you updated the course recently?

[2020-04-15 14:30] HaiderMalik12 commented on #2305
https://www.udemy.com/course/loopback-4-the-complete-developers-guide/?referralCode=3542EE74B4D1A2069E69

[2020-04-15 14:33] Sampath-Lokuge commented on #2305
@HaiderMalik12  Still it shows `$21.99`?

[2020-04-15 14:35] HaiderMalik12 commented on #2305
https://www.udemy.com/course/loopback-4-the-complete-developers-guide/?couponCode=CDBCBE6A8CA0E4103697

[2020-04-15 14:55] Sampath-Lokuge commented on #2305
Thanks. I'll purchase it @HaiderMalik12

[2020-04-15 18:55] jseb16 commented on #1920
Just checking if these feature list is updated.

Interested in knowing if embedOne and emberMany is available in Lb4 and also if there are more resources available for getting into lb4

[2020-04-15 19:04] mwrather commented on #3554
If you're trying to run a binary that doesn't have the same name as its npm package, it's possible to specify the package like this:

[code]

[2020-04-15 21:30] pookdeveloper commented on #2791
@Narrator is possible to use:
➜  DEBUG=loopback:connector:* npm start
or
➜  DEBUG=loopback:connector:* npm run build:watch

With the vscode debugger ? I want to use DEBUG MODE (to show more info in the console log) with the vscode debugger, Thanks!

[2020-04-15 23:25] zzhenryquezz commented on #3033
Works if you put the enum in jsonSchema object
[code]

[2020-04-16 01:23] ewrayjohnson commented on #1981
Yes

Wray Johnson

[2020-04-16 01:52] dhmlau commented on #2791
@pookdeveloper, you might want to take a look at the `launch.json` in  https://github.com/strongloop/loopback4-example-shopping/blob/master/.vscode/launch.json as a reference for running on debug.

[2020-04-16 02:01] dhmlau commented on #2697
@deepakrkris @emonddr @jannyHou, could you please review if that's something we can do today and/or we have documentation already covered? Thanks.

[2020-04-16 02:12] agnes512 commented on #1973
@lakshmansai1980  Yes, please check the nested relation part in the [Query multiple relartions](https://loopback.io/doc/en/lb4/HasMany-relation.html#query-multiple-relations) section.

[2020-04-16 02:29] dhmlau commented on #2487
@hanut, it's not being actively pursued but contribution is always welcome.

@bajtos might be able to shed some light on this.

cc @hacksparrow

[2020-04-16 03:07] achrinza commented on #1920
@jseb16 It's updated; the focus right now is more towards improving SQL relations.

[2020-04-16 04:48] hanut commented on #2487
@bajtos @dhmlau
In that case would it be okay if I pick it up to solve ?
My current project requires it urgently and seeing as I have been in love with Loopback since lb2, I really don't want to use anything else.

[2020-04-16 07:10] pookdeveloper commented on #2791
I see @dhmlau but I want to activate the **DEBUG MODE** for loopback to view a log about the queries of the database etc.. Thanks!

[2020-04-16 07:42] dougal83 commented on #2791
@dhmlau Is the lb3 page still relevant? https://loopback.io/doc/en/lb3/Setting-debug-strings.html  I think that is what is being requested.

[2020-04-16 07:50] pookdeveloper commented on #2791
@dougal83 If now it is used the same as raymondfeng commented in the issue: https://github.com/strongloop/loopback-next/issues/3027

I want to know if a can use that with nodemon and restart automatically  the server: Like that @Narrator says before (https://github.com/strongloop/loopback-next/issues/2791#issuecomment-486292004), I mean Loopback in debug mode and vscode in debug mode, thanks

[2020-04-16 08:08] dougal83 commented on #2791
@pookdeveloper So if I understand correctly, these are env variables?  So perhaps, inject them?  See https://stackoverflow.com/questions/29971572/how-do-i-add-environment-variables-to-launch-json-in-vscode.  Is that what you are looking for?

[2020-04-16 08:12] wxuwh opened #5119 "[GSSC-GVT]The help menu seems displays the same when input different LB4 command."
Steps:
1. Input command: apic lb4 example -h
check the screen1;
2. Input command: apic lb4 -h
check the screen2;
screen1
![image](https://user-images.githubusercontent.com/45190559/79431252-c31a7a80-7ffc-11ea-9802-6fc4b58306a5.png)
screen2
![image](https://user-images.githubusercontent.com/45190559/79431365-ee9d6500-7ffc-11ea-9fea-590f65734a4c.png)

Actual Result:
The help messages are the same wh

[2020-04-16 08:21] wxuwh opened #5120 "[GSSC-GVT]Some items are not translated when input command APIC apic lb4 app test01 repositories -h"
27.030.010

Steps:
1. input command APIC apic lb4 app test01 repositories -h

Actual Result:
[GSSC-GVT]Some items are not translated
![image](https://user-images.githubusercontent.com/45190559/79432163-0a553b00-7ffe-11ea-9fa6-840fe2481af8.png)

[2020-04-16 08:23] wxuwh opened #5121 "[GSSC-GVT]Some items are not translated when input command APIC apic lb4 app test03 repositories"
27.030.020

Steps:

    input command APIC apic lb4 app test03 repositories

Actual Result:
Some items are not translated
![image](https://user-images.githubusercontent.com/45190559/79432550-8b143700-7ffe-11ea-8451-6b8d461a060b.png)

[2020-04-16 09:36] dougal83 commented on #5119
I believe the `-h` flag outputs out a static message and there is no support for each command.  Perhaps as part of revisiting the cli code this feature could be addressed? See #844

[2020-04-16 13:49] dhmlau commented on #2487
Absolutely!  Let me assign it to you then. Thank you!

[2020-04-16 13:57] dhmlau commented on #5120
I believe the highlighted text is coming from Yeoman. IIRC, we were able to override that in LB3. Will need to double check.

@wxuwh, for GVT related issue, could you please use the `GVT` label? Thanks.

[2020-04-16 14:12] bajtos commented on #2487
Hi @hanut, thank you for picking up this task! Please let us know if you need any help, the fastest option is to reach out in `#loopback-contributors` channel in our Slack (invite: https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw).

Adding a new relation type usually involves a lot of design decisions to be made and many lines of code. It's best to open a draft

[2020-04-16 14:28] achrinza commented on #2366
Thanks for the suggestion! It's definitely a useful feature, and others have suggested something similar: #257. Webpack isn't really my forte, so I can't really help much in this area.

But if you want to contribute to LoopBack 4, feel free to look at [Contributing to LoopBack 4](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) for info on how to do so. We welcome as all community contributio

[2020-04-16 14:28] dhmlau commented on #5120
Here is the code for overriding the options from Yeoman: https://github.com/strongloop/generator-loopback/blob/d32f5112b84888751c7e4ba616915e92ae16ac4d/app/index.js#L36-L38.

@agnes512, could you please help on this? Thanks!

[2020-04-16 15:29] pookdeveloper commented on #2791
yes @dougal83 , this is i needed !! Thanks!!
`      "env": {
        "DEBUG": "loopback:connector:*"
      },`
Entry launch.json file:
[code]
I run:
➜  npm run build:watch
Then enter debug mode F5 in VSCode
Thanks again!

[2020-04-16 16:33] deepakrkris commented on #4607
In our last estimation meeting we had several doubts about this story. The most important question was,

1. Can the user still use the CLI by piping a JSON file ?
2. Is this story addressing one particular drawback in the CLI - user not being able to copy
    paste the JSON content into the terminal ?
3. Can the user still do without this feature in all environments, will this be a pain in user ex

[2020-04-16 16:58] dhmlau commented on #5113
In the discussion with @raymondfeng and @bajtos, @raymondfeng also suggested to look in the different personas and different stage of the application development cycle (development, testing, deployment).

On that front, I was trying to capture the documentation pages that I might need to look up as a user when i'm trying to create my own app. Here is the working-in-progress version: https://github

[2020-04-16 18:20] deepakrkris commented on #1981
@JorisPalings @riyastir @malek0512 @ewrayjohnson can you give some details on the usecases you need this feature for ? Is this necessary for a specific backend or db querying ? we need some more details on this issue , to scope it and estimate,

[2020-04-16 18:29] madaky commented on #1981
Hi,
I any how solved to insert the geopont data with mysql-connect.
first in your model : add Interface <YourInterfaceName>
eg:
`interface GeoObject {
  lat: number;
  lng: number;
}
`
than in side your class in property decorator
`
...Model
 @property({
    type: 'object',
    required: false,
    mysql: {
      dataType: 'point',
    },
  })
  location: GeoObject;
...restModel
`
Now to insert fr

[2020-04-16 18:58] madaky commented on #1981
@deepakrkris :  the details are as follows :

Problem Definitation :
AFAIK, When we need to create a Spatial data type in db, we would be needing the datatype
 -  Point,
 -  LineString,
 -  Polygon,
 -  MultiPoint,
 -  MultiLineString,
 -  MultiPolygon,
 -  GeometryCollection

Here we are focusing on inserting the data in 'Point' type data type.
-For the purpose we need a type named 'geopoint' whi

[2020-04-16 22:48] #5115 closed

[2020-04-17 00:20] #5120 closed

[2020-04-17 01:57] wxuwh opened #5128 "[GSSC-GVT]English String when input command apic lb4 example"
27.030.030 APIC apic lb4 example(Apr)
--

Steps:
input ./apic lb4 example
and click Enter
Click Enter
Verify the strings

Actual Result:
![image](https://user-images.githubusercontent.com/45190559/79523601-2b1aa080-8091-11ea-983a-b053d16cc720.png)

[2020-04-17 02:30] dhmlau commented on #5128
`(Use arrow keys)` is coming from Yeoman, we cannot override that.

For the example list name and description, @agnes512 and I had a discussion, not sure if the name can be translated but the description should be translated.

[2020-04-17 02:46] achrinza commented on #3669
Closing as done (see #4693).

[2020-04-17 02:46] achrinza commented on #3669
Closing as done (see #4693).

[2020-04-17 02:46] #3669 closed

[2020-04-17 03:01] wxuwh opened #5130 "[GSSC-GVT]English String in LB4 command "apic lb4 controller""
27.030.050
Steps:
input ../apic lb4 controller and click Enter
Input con1 as name and click Enter
Verify the strings in red circle.
Click Enter to exit

Actual Result:
![image](https://user-images.githubusercontent.com/45190559/79527635-afbdec80-809a-11ea-9076-d6b3be597c0a.png)

[2020-04-17 04:12] wxuwh opened #5131 "[GSSC-GVT]English String in LB4 command "apic lb4 interceptor""
27.030.050
Steps:
input ../apic lb4 interceptor and click Enter
Input con1 as name and click Enter
Verify the strings in red circle.
Click Enter to exit

Actual Result:
![image](https://user-images.githubusercontent.com/45190559/79531375-b9e4e880-80a4-11ea-9049-a99d223caf47.png)
![image](https://user-images.githubusercontent.com/45190559/79533046-82c50600-80a9-11ea-9a69-8bbbe20e9238.png)

[2020-04-17 04:54] paeolo opened #5132 "Support for SQL JOIN (INNER JOIN)"
Hi,
First, I am a very enthusiastic user of Loopback 4 and use it for one of my personal project, namely https://github.com/DimitriTuaz/radio-didou.
While I use MongoDB for this project, I planned to use Loopback with a PostgreSQL database for another project.
However there is an issue that I find very disturbing, namely the impossibly to do a SQL Join with the built-in Loopback 4 ORM.

@bajtos ex

[2020-04-17 06:25] neha2683 commented on #5101
hello
i need to create APIs like this ( as available  in dreamfactory ) . How to do with loopback.

GET  /_proc/{procedure_name}
Call a stored procedure.

POST  /_proc/{procedure_name}
Call a stored procedure.

[2020-04-17 08:25] hanut commented on #2487
@bajtos @dhmlau
Cool. Im looking going to get started on this asap.

[2020-04-17 13:22] dhmlau commented on #5131
@agnes512, the text above can be found in the following locations:
https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/utils.js#L122-L131
https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/artifact-generator.js#L102-L128

[2020-04-17 13:45] dhmlau commented on #5101
@neha2683, it would be something similar to what I posted in https://github.com/strongloop/loopback-next/issues/5101#issuecomment-613189957.  Controllers are used to expose REST APIs, so add those functions in the controller.

[2020-04-17 15:36] dhmlau commented on #4836
Closing as done.

[2020-04-17 15:36] #4836 closed

[2020-04-17 15:41] achrinza commented on #3682
Closing as solved.

[2020-04-17 15:41] #3682 closed

[2020-04-17 16:39] Listu opened #5134 "getModelSchemaRef with exclude on property"
## Steps to reproduce

Use getModelSchemaRef with properties in the requestBody's schema and exclude some properties in the getModelSchemaRef.

ex:

`@requestBody({
  content: {
    'application/json': {
      schema: {
        properties: {
          workspace: getModelSchemaRef(Workspace, { exclude: ['id']}),
          userId: {
            type: 'string',
          }
        }
      }
    },

[2020-04-17 19:23] #5128 closed

[2020-04-17 20:45] SephReed opened #5136 "Can not get app.static() to serve"
## Steps to reproduce

[code]

## Current Behavior

NotFoundError
404 Endpoint "GET /" not found.

## Expected Behavior

Maybe internal server error, or the index file at that location

## Additional information
I'm not using any mixins, nor am I able to without breaking the project.

## Related Issues
n/a

[2020-04-17 20:55] agnes512 commented on #4763
Closing as done

[2020-04-17 20:55] #4763 closed

[2020-04-18 01:49] dhmlau opened #5142 "[Docs] Add @authorize decorator docs page"
## Suggestion

In the [Decorators page](https://loopback.io/doc/en/lb4/Decorators.html), there are authentication decorators and other decorators. For completeness, I think we should add the docs for `@authorize` decorator.

## Acceptance criteria
- [ ] Create "authorization decorator" page similar to the [authentication decorator page](https://loopback.io/doc/en/lb4/Decorators_authenticate.html)

[2020-04-18 01:50] dhmlau commented on #5136
@SephReed, if you're using the same structure as a LB app scaffolded using the CLI, the path should be `../public` instead. i.e.

[code]

[2020-04-18 01:55] dhmlau commented on #5134
@Listu, could you please provide more information on how your `@requestBody` decorator look like? The above snippet doesn't seem to be complete?

Please also take a look at https://github.com/strongloop/loopback-next/blob/master/examples/todo/src/controllers/todo.controller.ts#L37-L46 on the use of `getModelSchemaRef`. Thanks.

[2020-04-18 01:55] dhmlau commented on #5134
Better yet, if you have a sample app to help us to reproduce the problem, that would be great. Thanks.

[2020-04-18 13:20] danquah opened #5145 "Broken link from the todo example to Sequence.md"
## Steps to reproduce
Access the lb4 documentation for the todo example at
https://loopback.io/doc/en/lb4/todo-tutorial-scaffolding.html scoll down a bit to the table that describes `src/sequence.ts` and click the "Sequence" link

## Current Behavior
Broken link that leads to https://loopback.io/doc/en/lb4/Sequence.md

## Expected Behavior
Link that leads to https://loopback.io/doc/en/lb4/Sequence

[2020-04-18 16:09] raymondfeng commented on #5145
Thank you for reporting the issue. We need to adjust the relative path to `Sequence.md` in the tutorial - https://github.com/strongloop/loopback-next/blob/master/docs/site/tutorials/todo/todo-tutorial-scaffolding.md:

`[Sequence](Sequence.md)` -> `[Sequence](../../Sequence.md)`

Are you interested in contributing a patch?

[2020-04-18 16:48] danquah commented on #5145
Sure am, I'll look into it in a couple of hours. I verify by building documentation as outlined in https://github.com/strongloop/loopback.io/blob/gh-pages/README.md right? Or is it enough to just eyeball the diff itself?

[2020-04-18 20:46] mschnee opened #5149 "Automatically determine response status code from @oas.response decorator."
## Suggestion
The `@oas.response` convenience decorator lets us easily decorate controller methods .
However, as the developer, you are still responsible for setting the response code if you aren't going to return a default `200` status:

[code]

While not necessarily inclusive of all possible response models, it is a safe assumption:
- if the developer decorated a path method with `@response(some

[2020-04-18 21:50] pookdeveloper commented on #4853
I need that, actually I use TypeORM in Lb3 :)

[2020-04-18 22:24] #5145 closed

[2020-04-19 01:30] paeolo commented on #5132
Afterthought, https://github.com/strongloop/loopback-next/issues/4853 should give Loopback 4 a more complete ORM, with support for JOIN queries, hence solving this issue.

[2020-04-19 16:30] dhmlau commented on #1234
@bajtos had a proposal in https://github.com/strongloop/loopback-next/issues/1234#issuecomment-403448059. @raymondfeng, any thoughts on which option to adopt to go forward? Thanks.

[2020-04-19 18:10] JacquesBonet commented on #5104
An example of problem of bad documents structuration.

I want to have information about how to filter request.

I look to all the chapters of the documentation, I see nothing.
Now I use search engine, enter filter keyword, and the informations displayer on the firt pas are:

Cassandra Connector
Dependency Injection Decorator
Controller Generator
Open API Decorator
Relation
Migrating Custom Model
P

[2020-04-19 19:22] dougal83 commented on #5104
I appreciate your frustration, personally I've used lb3 documentation where applicable to find my way around in the past.  Chances are the docs that you are looking for are in progress:
[Working with data](https://github.com/strongloop/loopback-next/blob/dd99448cc2b943c70a459ce6c31ca0c310d768db/docs/site/Working-with-data.md)

The above is going live soon, might have what you are after?

[2020-04-19 20:33] jseb16 commented on #1920
Great, it looks really promising.

[2020-04-20 10:35] garethhcoleman commented on #1979
I appreciate that especially with current difficulties this enhancement may not be on the milestones for awhile. However, in the meantime the page here: https://loopback.io/doc/en/lb4/Email-connector.html should be updated to inform readers that it doesn't work. I'd edit the page myself but the link doesn't work and last time I tried adding a line to the docs through a pull request I got stuck in

[2020-04-20 10:54] achrinza commented on #3488
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-04-20 10:54] #3488 closed

[2020-04-20 11:59] dougal83 commented on #1979
@garethhcoleman Does this really not work?  Can anyone else confirm?

[2020-04-20 12:05] Listu commented on #5134
@dhmlau the decorator is complete.

Simpler case without the userId:

`@requestBody({
      content: {
        'application/json': {
          schema: {
            properties: {
              workspace: getModelSchemaRef(Workspace, {exclude: ['id']})
            }
          }
        },
      },
    })
    body: any`

Only `{}` is displayed in the Example Value of the route.

If I remove exclude,

[2020-04-20 12:08] Habbiton opened #5161 "Key 'rest.http.response' not bound to any value when accessing a controller on index.js"
## Current Behavior

I want to access some controller method from the index.ts file.
LB4 native project, not migrating from LB3.
The main() on index.ts:

    export async function main(
    	options: ApplicationConfig = {
    		shutdown: {
    			signals: ['SIGINT'],
    		},
    	},
    ) {
    	const app = new NewFleetmanagerApplication(options);
    	await app.boot();
    	await app.start();

[2020-04-20 12:12] garethhcoleman commented on #1979
The doc page I linked references files like `/server/model-config.json` which my readings suggest is depreciated. The OP stated that a workaround was listed in a github issue - as a new(ish) developer I'm still struggling to get that working. But it is extra difficult when the official docs seem confused about the transition from LB3 to LB4.

[2020-04-20 12:32] dougal83 commented on #1979
@garethhcoleman I see, I scanned the doc and it's a fair criticism.  Personally, I just implemented a service like in [comment](https://github.com/strongloop/loopback-next/issues/1979#issuecomment-508669569) above.  For a service implementation, you can look at [shopping example app](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/user-service.ts

[2020-04-20 12:36] garethhcoleman commented on #1979
Thank you for replying, I am attempting the same myself, thank you for the reference to the shopping example. I would like to be able to contribute, perhaps by updating the tutorial (after I get it working!). I appreciate that writing an API is not a wise choice for first real project! thanks!

[2020-04-20 12:39] mrbatista commented on #1979
@garethhcoleman @dougal83 I have extracted the email connector from LB3.
In the next days publish the connector to npm.

[2020-04-20 15:01] hacksparrow commented on #5161
@Habbiton can you share a minimal app reproducing the problem?

[2020-04-20 16:56] garethhcoleman commented on #3259
I just ran up against this issue, thanks to @raymondfeng for succinctly providing the solution. I like also the suggestion of @dougal83 to add the clean to the build script. I will do that now as I cannot see any downsides, unless there are negatives I'm missing?

[2020-04-20 17:08] raymondfeng commented on #3259
I'm ok to run `npm run clean` as part of `prestart`.

[2020-04-20 17:19] garethhcoleman commented on #3259
Would it be useful for me to attempt to compose a PR to that effect @raymondfeng?

[2020-04-20 18:32] garethhcoleman commented on #3259
OK - I looked through several dozen places and I can't find where the one for the app is generated and therefore where to lodge PR against... sorry.

[2020-04-20 20:47] agnes512 opened #5168 ""Content-Type" header is overwritten"
@SephReed commented on [Mon Apr 20 2020](https://github.com/strongloop/loopback/issues/4321)

## Steps to reproduce
[code]

## Current Behavior
Content type is `text/plain`
<img width="344" alt="Screen Shot 2020-04-20 at 2 59 27 PM" src="https://user-images.githubusercontent.com/14002040/79794246-8f4e9600-8317-11ea-8bed-324bf93ca1e7.png">

A Content-Type-Test header was also set, it is the correct

[2020-04-20 20:55] SephReed commented on #5136
I'm not using the scaffolding or CLI.

[2020-04-20 21:09] jannyHou commented on #3959
A proposal:

- Create an example app
- It contains migrated models with their REST apis
- It registers `authenticate` from `loopback-component-oauth2` as a middleware
  - based on PR https://github.com/strongloop/loopback-next/pull/5118
- It secures endpoints with the middleware configuration, adds tests for them
  - e.g. `app.oauth2.authenticate({session: false, scope: 'demo basic'});`
  - see [r

[2020-04-20 21:35] dhmlau opened #5170 "TS docs for OpenAPI decorators not showing up"
In the OpenAPI decorator page https://loopback.io/doc/en/lb4/Decorators_openapi.html, the api docs for `@oas.response` and `@oas.tags` no longer exist, causing the broken links for:
https://loopback.io/doc/en/lb4/apidocs.openapi-v3.oas.response.html
https://loopback.io/doc/en/lb4/apidocs.openapi-v3.tags.html

From @jannyHou:

https://github.com/strongloop/loopback-next/blob/master/packages/openapi

[2020-04-21 00:32] jannyHou commented on #5168
@agnes512 it's probably caused by the default content type set in the `write` action:
https://github.com/strongloop/loopback-next/blob/a81ce7e1193f7408d30d984d0c3ddcec74f7c316/packages/rest/src/writer.ts#L58

It happens after the controller function invoke, see https://github.com/strongloop/loopback-next/blob/a81ce7e1193f7408d30d984d0c3ddcec74f7c316/packages/rest/src/sequence.ts#L100-L103

[2020-04-21 00:35] jannyHou commented on #5170
Thanks for the summary Diana.
I think it’s because https://github.com/strongloop/loopback-next/blob/master/packages/openapi-v3/src/decorators/index.ts#L10 exports those earlier created decorators.
But for the new ones they are under `const oas` , like `response` so that the root level index doesn’t have it exported as namespace or function, and you can only find it under `oas` in
https://loopback.

[2020-04-21 01:20] raymondfeng commented on #5170
We might have to do something like:
[code]

[2020-04-21 01:25] jannyHou commented on #3959
Had a chat with @raymondfeng , thank you for providing feedback!

`loopback-component-oauth2` is used to setup a LoopBack application as an oauth2 server. This can be applied in an API gateway application but for the common cases, a LB4 app is usually created as a client app that talk to existing 3rd-party oauth2 servers like [google](https://developers.google.com/identity/protocols/oauth2) or [fa

[2020-04-21 01:47] dhmlau commented on #5149
@jannyHou, could you please take a look? Thanks.

[2020-04-21 02:24] dhmlau commented on #3959
@jannyHou, if this issue duplicates what @deepakrkris is doing for https://github.com/strongloop/loopback-next/issues/3958, then let's close this one. Thanks.

[2020-04-21 02:29] dhmlau commented on #3259
@garethhcoleman, the package.json template can be found in https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/project/templates/package.json.ejs, if this is what you're looking for.

[2020-04-21 02:31] dhmlau commented on #5028
Closing as resolved.

[2020-04-21 02:31] #5028 closed

[2020-04-21 02:32] jannyHou commented on #3959
@dhmlau I rephrased the comment a bit. Deepak's repo (and all the examples/feats we’ve implemented so far) uses 3rd-party oauth2 provider like google/fb, but that component sets up a LoopBack app itself as an oauth2 provider, which is a rare use case.
API gateway used it long time ago.
It’s not a dup task, but is a rare case and the migration is very complicated.

[2020-04-21 02:55] achrinza commented on #5136
It is strongly recommended to use the CLI to scaffold the application to make the issue more reproducible. Otherwise, a minimum-reproducible sandbox would be useful so that we can see the bigger picture (e.g. the structure of the application).

[2020-04-21 08:58] garethhcoleman commented on #3259
That's so strange! Thank you @dhmlau - I looked at that file as it seemed like the obvious candidate but then I noticed that it already had the `"pretest": "npm run clean && npm run build"` defined! So I reasoned that I must have got lost trying to follow the logic of the generators.... sorry for clogging up the issue perhaps better taking this discussion to gitter or slack/irc/etc?

[2020-04-21 09:12] achrinza commented on #3259
Sure, feel free to join the Slack org (see #5048); there's a `#loopback-contributors` channel where we can continue an extended discussion.

[2020-04-21 13:29] bajtos commented on #5168
I think the current behavior is intentional. If the user wants to manipulate the response directly via `@inject(RestBindings.Http.RESPONSE)` then they should also send the response body using `res.send`.

For longer term, we should allow controller methods to return an object describing response status code and headers in addition to response body. See https://github.com/strongloop/loopback-next/i

[2020-04-21 13:41] jannyHou commented on #4903
Closed 🎉

[2020-04-21 13:41] #4903 closed

[2020-04-21 14:02] agnes512 commented on #5119
This should be fixed by https://github.com/strongloop/loopback-next/pull/5126. Closing as done.

[2020-04-21 16:40] deepakrkris commented on #2624
closed with https://github.com/strongloop/loopback-next/pull/4899

[2020-04-21 16:40] #2624 closed

[2020-04-21 17:10] deepakrkris commented on #3959
@jannyHou, agreed, the scope of this task is too broad.
What we can do is come up a lb4 version of the mock provider in https://github.com/strongloop/loopback-next/blob/master/extensions/authentication-passport/src/__tests__/acceptance/fixtures/mock-oauth2-social-app.ts
if this is doable we can close this issue. IMO, lets not go too deep into the details of what loopback-component-oauth2  does.

[2020-04-21 17:55] deepakrkris commented on #3958
closing this epic as the scoped out issue https://github.com/strongloop/loopback-next/issues/5005 is not closely related to the original story.

[2020-04-21 17:55] #3958 closed

[2020-04-21 18:12] deepakrkris commented on #5005
IMO, this issue can wait for https://github.com/strongloop/loopback-next/pull/5118 , to inject express style middleware into controller calls and sequence invocations

[2020-04-21 18:26] deepakrkris commented on #5005
this is essentially not a high priority task, given that there are better options coming up for migrating express styled apps to lb4 , with https://github.com/strongloop/loopback-next/pull/5118

[2020-04-21 20:32] jannyHou opened #5184 "Create a mock LoopBack 4 app as oauth2 provider"
## Suggestion

This is a follow-up issue of spike story https://github.com/strongloop/loopback-next/issues/3959
https://github.com/strongloop/loopback-component-oauth2 enables a loopback 3 application as an oauth2 provider. In LoopBack 4 we should be able to achieve the same goal. Given the complexity of its implementation, we decide to create a simplified mock app to demonstrate it's doable in Lo

[2020-04-21 20:33] jannyHou commented on #3959
Thanks everyone for the discussion, follow up story created in https://github.com/strongloop/loopback-next/issues/5184 🙇‍♀️

[2020-04-21 20:33] #3959 closed

[2020-04-21 21:02] #5121 closed

[2020-04-21 21:10] jannyHou opened #5187 "Add refresh in the jwt extension"
## Suggestion

Based on the comment from @mschnee in https://github.com/strongloop/loopback-next/pull/5046#issuecomment-611778032.

Add token refresh functionality in the jwt auth extension https://github.com/strongloop/loopback-next/tree/master/extensions/authentication-jwt

There is a demo PR for token refresh in strongloop/loopback4-example-shopping#537, and the token service interface has revo

[2020-04-21 21:11] jannyHou commented on #4903
A follow-up story for token refresh created in https://github.com/strongloop/loopback-next/issues/5187, thank you for @mschnee's suggestion.

[2020-04-21 23:12] SephReed commented on #5168
Hmmm... okay.  I've thought of modifying my `sequence.ts` to catch these cases and handle `response.send()` on it's own.

The issue is that circumnavigating `response.send()` seems like it's going to create issues down the line.  I'm not sure what that function does, but assume it exists for a reason.

[code]

[2020-04-21 23:15] dhmlau commented on #2035
See PR #5118

[2020-04-21 23:47] dhmlau commented on #4610
From our last maintainers call, @derdeka mentioned that the client generated by the client generators he looked at are not quite similar to the one generated by LB3 Angular SDK.

@raymondfeng @derdeka, could you please fill us in on the approach suggested by @raymondfeng? Would like to see how we can move forward with this. Thanks!

[2020-04-22 02:32] achrinza opened #5190 "docs: add deployment guide for Cloud Native Buildpacks."
Currently, we have documentation on how to deploy to Cloud Foundry (CF) using CF Buildpacks.

However, the Cloud Foundry Foundation (CFF) has been shifting its focus to adopting the new [Cloud Native Buildpacks](http://buildpacks.io/) (also called "buildpacks v3" or "CNB") standard which is an open standard that adds the concepts of layers to make it more modular than typical Dockerfiles. It also

[2020-04-22 02:49] achrinza commented on #5113
Thanks for the link @dhmlau, I'll feedback where possible.

Just throwing it into the discussion - I think it may help new users greatly if we can break down the docs by the lifecycle of a LoopBack application:

1. Scaffolding
2. Developing
3. Testing
4. Deploying

Right now, our docs are leaning heavily towards the "Developing" part of the lifecycle, and the rest (especially testing) are more of

[2020-04-22 03:42] fgvicente opened #5192 "How get the list of all the models an all method"
Ok.
in lb3...I get al model with this....

` let models = app.models();`

and I get all method for one model this...

` let model = app.models[modelName];
    let methods = model.sharedClass.methods()`

my question...
How would it be in lb4?

[2020-04-22 05:04] achrinza commented on #5113
Quoting from https://github.com/strongloop/loopback-next/issues/5104#issuecomment-613371017:

If we can create an "Understanding" section, we can have an opportunity to tell users a story on the different core components of LoopBack 4 and their purpose, without needing to go into details of the implementation. **Think of it like a low-altitude flight** of these concepts.

[2020-04-22 05:10] achrinza commented on #5104
Thanks for the suggestions, @JacquesBonet; I understand the frustration of not being able to find what you're looking for. In this case, we've just recently added the docs for Working with data.

I believe this can be part of our overall docs improvement (see #5113). Let's continue the discussion there so that we can consolidate areas that we need to touch on.

I've also quoted a key point from yo

[2020-04-22 05:11] achrinza commented on #5104
Duplicate of #5113

[2020-04-22 05:11] #5104 closed

[2020-04-22 06:42] Habbiton commented on #5161
I've added the 'Steps to reproduce'

[2020-04-22 07:01] raymondfeng commented on #5161
@Habbiton Some of the stacktrace is missing. Do you know what code in your application throws?

[2020-04-22 07:04] #5161 closed

[2020-04-22 07:40] mdbetancourt commented on #5113
Has anyone seen the documentation of rxjs? https://rxjs-dev.firebaseapp.com/guide/overview is beautiful I think loopback is a beautiful framework but it fails in the documentation, and i never saw something like this before https://rxjs-dev.firebaseapp.com/operator-decision-tree so cool

[2020-04-22 08:51] JacquesBonet opened #5193 "Bad update index.ts file on "lb4 discover" command"
## Steps to reproduce

When we launch,  for a second  (3,4,...) time the command "lb4 dicover"

The file index.ts is not update correctly.

## Current Behavior

The path file of the models generated are always put at the end of the file content, without checking if a pathfile already exist.

## Expected Behavior

Replace the existing pathfile if it exist than append new entries systematically

[2020-04-22 10:37] Svettis2k commented on #5088
How about when the property is not a relation, but rather an embedded object (which is often the case when using MongoDB)?

Is there any harm in adding a "delete propOptions.title;" after [line 475](https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L475)? This fixed the same problem as stated by the OP in our case (where the model is simply

[2020-04-22 12:03] rivoheinsalu opened #5196 "Create model relations between local and remote models"
## Suggestion

In LB3 strong-remoting let's users easily define model relations over multiple microservices. This gives users convenient way to query data with single query over multiple services without having to manually map relations.

Given the more open nature of LoopBack 4 it is not anymore possible to define remote relations on Entity but I think it is worth porting strong-remoting to suppo

[2020-04-22 14:28] #5131 closed

[2020-04-22 14:55] dhmlau commented on #5193
@JacquesBonet, I'm trying to reproduce this problem but failed. Perhaps you could point what I've below is different from yours? Thanks. Note: I'm using postgresql.
1. Run `lb4 discover` to discover `customer`.
2. Run the above step again.

Result: I got `identical src/models/customer.model.ts` and index.ts in `models` folder wasn't changed.

3. Run `lb4 discover` to discover `order` (to make sure

[2020-04-22 15:04] #5130 closed

[2020-04-22 16:51] SephReed commented on #5136
I think this should do it.

[code]

[2020-04-22 17:00] dougal83 commented on #5136
@SephReed Just in case you were unaware, there is an [express example](https://github.com/strongloop/loopback-next/tree/master/examples/express-composition).  If that helps in future.

[2020-04-22 17:06] SephReed commented on #5136
This example project is a bit bloated.  I'm avoiding mixins, and anything that isn't a requirement for a functional api.

[2020-04-22 19:29] dhmlau commented on #5113
@achrinza, Your comment is spot on! I think the separation of "how to use it" and "let me explain how it works" is important.

@mdbetancourt, thanks for the link. Let me take a closer look. I like the API list: https://rxjs-dev.firebaseapp.com/api. :)

[2020-04-22 19:36] agnes512 commented on #5119
@wxuwh  I think `-h` and those options can be applied to all commands. So the first ones are the same, and the rest content should be different ( see the screenshots below). I also notice in those pics that you have the same usage for both commands:
[code]

I checked locally, they have correct display on my end:
#### lb4 -h
![image](https://user-images.githubusercontent.com/50331796/80024693-75df5

[2020-04-22 19:36] #5119 closed

[2020-04-23 03:28] achrinza commented on #5136
The code seems to be incomplete and non-functional. A GitHub repo as the reproduction sandbox would be incredibly useful to help us understand the bigger picture.

Since we do not know the file structure of the application, we have to make some assumptions.

I've created a test repo with the bare-minimum to create a working, functional API, please take a look:

https://github.com/achrinzatest/gh-l

[2020-04-23 06:29] faris-mobile89 commented on #1857
You need to implement the block into your repository file:

e.g.

import { DefaultCrudRepository } from '@loopback/repository';
import { Certificate, CertificateRelations } from '../models';
import { DbDataSource } from '../datasources';
import { inject, Constructor } from '@loopback/core';
import { TimeStampRepositoryMixin } from '../mixins/time-stamp.mixin';

export class CertificateRepository e

[2020-04-23 06:32] faris-mobile89 commented on #1857
@danysz
You need to implement the block into your repository file:

e.g.

[code]

[2020-04-23 07:02] bajtos commented on #5196
Thank you for starting this discussion. I am not sure if adding strong-remoting to LoopBack 4 is the right solution. I would like to reframe the discussion a bit and start with describing the problem to solve.

IIUC, you would like to let your LB4 application to have a regular Repository access to models that are persisted by another LoopBack application, which was historically done via the remote

[2020-04-23 07:15] bajtos opened #5203 "CLI prints a bunch of node warnings on Node.js 14.0.0"
## Steps to reproduce

[code]

## Current Behavior

A lot of warnings are printed

[code]

## Expected Behavior

No warnings are printed.

While this bug is specifically describing Node warnings about "Accessing non-existent property", it would be eventually nice to get rid of `request` dependency too.

## Link to reproduction sandbox

n/a

## Additional information

[code]

## Related Issues

_Se

[2020-04-23 08:05] rivoheinsalu commented on #5196
Initially would be good to have LB4-to-LB3 as migrating more than 10 LB3 apps to LB4 one-by-one would give good migration path. But at the end LB4-to-LB4 would be the way.

[2020-04-23 13:49] agnes512 commented on #5042
We updated the README file on [customizing collections/field name](https://github.com/strongloop/loopback-connector-mongodb#customize-collectionfield-names). Hope it helps!

[2020-04-23 13:49] #5042 closed

[2020-04-23 15:34] rahulrkr08 opened #5209 "CLI packages not upgraded"
I am getting below warning message when creating the model.

[code]

[2020-04-23 16:06] SephReed commented on #5136
Huh.  So your example is working?  What kind of error do you get if you mess up the path for your `public/index` file?  This is exactly what I was using and was getting a 404 GET response without any server errors.

[2020-04-23 16:50] raymondfeng commented on #5203
See https://github.com/nodejs/node/pull/29935

It might be related to `shelljs`.

[code]

[2020-04-23 16:52] raymondfeng commented on #5203
Running `NODE_OPTIONS="--trace-warnings" lb4` confirms that `shelljs` is the root cause.

[2020-04-23 16:53] raymondfeng commented on #5203
Duplicate of https://github.com/shelljs/shelljs/issues/991

[2020-04-23 17:15] pookdeveloper commented on #1857
I get an error:

Cannot start the application. Error: Cannot resolve injected arguments for PruebaRepository.[0]: The arguments[0] is not decorated for dependency injection, but a value i
s not supplied

My  repository:

[code]
Thanks!

[2020-04-23 18:15] deepakrkris commented on #5203
there is no immediate action available for this, will have to wait for a new release of shelljs

[2020-04-23 19:59] dougal83 commented on #5209
Hi @rahulrkr08
Try editing `package.json` and set `@types/node: ^10.17.21`.  There may have been a release that changed the version to ^13 in error.

[2020-04-23 20:06] raymondfeng commented on #5209
We still use `@types/node: ^10.17.21` for maximum compatibility with Node 10.x. Feel free to upgrade the project dependency as prompted. It's a one-time thing since you use a newer version CLI.

[2020-04-23 20:06] #5209 closed

[2020-04-23 23:27] achrinza commented on #5136
@SephReed Yup, pointing to a nonexistent directory will cause a 404 error.

With the limited info, my recommendation to debug the issue is to print the resulting path to the console (e.g. `console.log(path.join(__dirname, '../../public'));`) to make sure that the value of `__dirname` is consistent with what's expected.

[2020-04-24 06:19] bajtos opened #5220 "Clean up datasource template"
This is a follow-up issue for #5000 where we moved datasource config from JSON files to TS files and discovered few aspects of the datasource template that can be improved.

- [ ] Update https://github.com/strongloop/loopback4-example-shopping and https://github.com/strongloop/loopback-next/blob/master/docs/site/Inside-Loopback-Application.md to follow the new style
- [ ] Make the static DataSourc

[2020-04-24 06:31] bajtos commented on #5196
@rivoheinsalu I have an idea how to implement a solution allowing LB4 application to talk to both LB3 and LB4 applications when resolving relations. I'd like to write a quick PoC today 🤞

I see how it could be useful to access LB4 models from a LB3 application (LB3 app having a LB4 app acting as a remote). I think it may be possible to extend the ideas from my PoC to implement a LB3 connector acti

[2020-04-24 06:48] raymondfeng commented on #5196
The newly released `lb4 openapi —client` can generate strongly-typed service proxies for REST APIs that expose swagger/openapi spec.

[2020-04-24 08:59] mdbetancourt commented on #5113
@achrinza
I just wanted to recommend that, that type of documentation is also easier to navigate and you can even install it as an app and have it without internet access on my part i recommend https://gridsome.org/ a great tool or https://vuepress.vuejs.org/guide/ more simple

[2020-04-24 10:55] dougal83 commented on #3033
@zzhenryquezz Take care in using this though as it may not be validating input. [ See comment](https://github.com/strongloop/loopback-next/issues/2911#issuecomment-570732679).

[2020-04-24 11:04] ludohenin commented on #3033
@dougal83 I check on my side with the enum defined at property level (decorator) and this works perfectly (validation at controller level at least and spec generated). Enum as to be specified in a specific way tho

[code]

[2020-04-24 12:51] fidgi commented on #5074
FYI, we implement a workaround using [json8-merge-patch](https://github.com/sonnyp/JSON8/tree/master/packages/merge-patch). In summary, we merge the PATCH request body (rfc7396 compliant) into the target document and pass the result to the repository.

[2020-04-24 12:53] bajtos commented on #5196
Here is my take on how to allow LB4 apps to access models persisted by other LB apps, leveraging our openapi connector under the hood:

https://github.com/strongloop/loopback-next/pull/5222

@rivoheinsalu can you PTAL?

[2020-04-24 14:41] yanweinb777 opened #5224 "how to create a model based on mysql view against table"
and can we skip migrating for some specific models

[2020-04-24 15:28] lakshmansai1980 opened #5227 "lb4 is not returning results with like operator with mongodb connector"
## Steps to reproduce

1. Create a lb4 project,
2. Create Model, Datasource (MongoDB Connector), repository, Controller
3. For get rest API, include filter with like operator as below:
ex : this.employeeRepository.find({where: {empName: {like: 'M%'}}});

## Current Behavior

Returning empty results : []

## Expected Behavior

Should return records which matches 'M'

## Link to reproduction sandbox

[2020-04-24 16:07] zzhenryquezz commented on #3033
Yep, this is how I use here too. If you pass a normal enum will not work, probably because the jsonSchema expects an array of string or number but the enum of Typescript is converted to an object.

But this way works well for me.

[2020-04-24 16:24] raymondfeng commented on #3033
@agnes512 Let's document this.

[2020-04-24 18:42] jannyHou commented on #5088
@Svettis2k Good catch. I think `title` in `options` should be deleted right after generating the title for the current schema: https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L416.

Let me submit a PR for further discussion.

[2020-04-24 18:55] dhmlau commented on #5224
To migrate a selected list of models, you can add one more argument in `migrateSchema` function of `src/migrate.ts` to something like:
[code]

[2020-04-24 18:57] dhmlau commented on #5224
For discovery, it seems like views are discovered by default. Please see options here:
https://loopback.io/doc/en/lb4/Discovering-models.html#options

[2020-04-24 19:05] mschnee commented on #5149
Additional thoughts- if a developer invokes `res.status()`, that should be authoritative, and nothing should change that.

[2020-04-24 20:12] #3953 closed

[2020-04-24 21:17] jannyHou commented on #5088
cc @Svettis2k PR created in https://github.com/strongloop/loopback-next/pull/5231 🙂 hope it fixes your problem.

[2020-04-25 04:47] achrinza opened #5239 "@loopback/extension-authentication-jwt is not built before publish"
## Steps to reproduce

1. Run `npm i @loopback/extension-authentication-jwt`
2. Try to import the package into an lb4 app (it doesn't work)
2. Navigate to `node_modules/@loopback/extesnion-authentication-jwt` to find no `dist` directory.

## Current Behavior

The extension is unusable.

## Expected Behavior

The extension should have been built before publish.

## Link to reproduction sandbox

N/A

[2020-04-25 05:38] raymondfeng commented on #5239
There was an issue in `package.json` that fails to remove `tsconfig.tsbuildinfo`.

[2020-04-25 17:10] matte23n opened #5243 "Schema migration not working with BindingScope.TRANSIENT"
Hi, i had to put the annotation `@bind({scope: BindingScope.TRANSIENT})` over my Datasource class, i figured out that the `app.migrateSchema()` is not working with this annotation in place... is this a bug or is there a reason for it not working?
Thanks

[2020-04-25 17:53] lakshmansai1980 opened #5244 "Unable to include nested object properties in fields and in where condition in lb4"
## Steps to reproduce

1. Create an entity with nested model.
Ex : Employee :
{empNo: string,
empName: string,
deptId: string
,location: Location{ address1: string, address2:string, locality:string}
}
this.employeeRepository.find({fields: {empName: true, departmentId: true, 'location.locality' : true}, where: {'location.locality': {regexp: pattern}}});
## Current Behavior

Not accepting nested obj

[2020-04-25 20:36] #5239 closed

[2020-04-25 22:51] fidgi opened #5247 "Lb4 openapi generator not compliant with OpenAPI specification"
## Steps to reproduce
Given the following openapi specification :
[code]

run  lb4 openapi openapi.yaml
will generate the following model :
[code]
[code]

## Current Behavior

The JsonSchema lib used is not compatible with OpenAPI 3 specification

## Expected Behavior
OpenAPI spec is derived from [ JSON Schema Specification Wright Draft 00](https://json-schema.org/) while the JSON schema lib is ex

[2020-04-25 23:17] raymondfeng commented on #5247
The problem is probably fixed by https://github.com/strongloop/loopback-next/pull/5202

[2020-04-26 06:14] #2183 closed

[2020-04-26 08:08] hanut commented on #2487
I have been working on an implementation and am stuck with a few considerations -
1. Polymorphic relations are basically just hasOne/hasMany <-> belongsTo relations with extra steps ie. adding in the type field to specify which type of related model is being referenced. However including the related data involves performing joins/lookups on the different tables/collections that are being reference

[2020-04-26 12:32] fidgi commented on #5247
@raymondfeng hi, how can i give it a try w/o waiting for the next release (i've found another issue and I'd like to check with the fix before raising a new issue) ?

[2020-04-26 15:02] raymondfeng commented on #5247
See https://loopback.io/doc/en/lb4/code-contrib-lb4.html#using-the-cli-via-the-monorepo

[2020-04-26 16:12] rahulrkr08 commented on #5227
Please try like with regex options.

[code]

[2020-04-26 19:07] fidgi commented on #5247
@raymondfeng the fix doesn't solve this issue about exclusiveMaximun and exclusiveMinimun but it solves the other issue I talked about (which, FYI, was about 'example' in objects within 'allOf' set).
Regarding the exclusiveMaximun and exclusiveMinimun model, it generate this incorrect result:
[code]

[2020-04-26 21:13] atilerturk commented on #2043
lb4 is dead

[2020-04-27 06:44] bajtos commented on #4296
I was thinking about different ways how to document this feature and more importantly, how to make such documentation easier to find by our users. Here is an alternative approach to consider:

1. Instead of creating a new doc page, update existing doc pages for [DataSources](https://loopback.io/doc/en/lb4/DataSources.html), [Models](https://loopback.io/doc/en/lb4/Model.html) to describe different

[2020-04-27 06:56] deepakrkris commented on #4498
I have did an end to end test of shopping app (deployed to IBM Cloud, http://184.172.242.157:32719 ) with IBM APIConnect (gateway url : https://kraken-rgw.loki.dev.ciondemand.com/ibm/sandbox).
[ibm-apiconnect-shopping-app.zip](https://github.com/strongloop/loopback-next/files/4537928/ibm-apiconnect-shopping-app.zip)

- 1  ``` Created user
curl -X POST -k -H 'Content-Type: application/json' -H 'Acc

[2020-04-27 07:00] deepakrkris commented on #4498
I was able to publish the shopping product in previous example `./apic products:publish -s kraken.loki.dev.ciondemand.com -o ibm -c sandbox shopping-prod.json`
Also the JWT token was passed in the `Authorization` header for all secured endpoints.

[2020-04-27 07:01] deepakrkris commented on #4498
original apen-api spec downloaded from the shopping app http://184.172.242.157:32719/openapi.json
[code]

[2020-04-27 07:07] deepakrkris commented on #4498
I had to edit the original json spec for a very tiny change: adding the mandatory `x-ibm-name` to the info header in the api spec
[code]
I also had to change the security scheme type from `bearer` to `basic`
[code]

[2020-04-27 07:12] deepakrkris opened #5259 "loopback apiconnect extension must add `x-ibm-name` to `info` header in api spec"
## Suggestion
LoopBack extension for apiconnect , which enhances api spec for IBM APIConnect must make a few changes for the product publish to work
https://github.com/strongloop/loopback-next/issues/4498#issuecomment-619776537

## Use Cases
IBM - APIConnect integration

## Examples
https://github.com/strongloop/loopback-next/issues/4498#issuecomment-619776537

"info": {
      "x-ibm-name": "loopb

[2020-04-27 07:13] deepakrkris commented on #4498
follow up issue opened for minor change https://github.com/strongloop/loopback-next/issues/5259

[2020-04-27 07:22] deepakrkris commented on #4498
Changes are also published to IBM Developer portal

<img width="1280" alt="Screen Shot 2020-04-27 at 12 19 43 AM" src="https://user-images.githubusercontent.com/7688315/80344746-ede6a900-881c-11ea-9ece-3d12d4d3f85a.png">

Able to browse through all api routes in portal

<img width="1278" alt="Screen Shot 2020-04-27 at 12 21 18 AM" src="https://user-images.githubusercontent.com/7688315/80344834-124

[2020-04-27 07:25] deepakrkris commented on #4498
IBM Developer portal seems to digest all api schema

<img width="1278" alt="Screen Shot 2020-04-27 at 12 24 29 AM" src="https://user-images.githubusercontent.com/7688315/80345153-8d0ba080-881d-11ea-84b9-d3737c0443e1.png">

[2020-04-27 07:30] deepakrkris commented on #4498
Spike is complete now, acceptance criteria is satisfied.

[2020-04-27 07:30] #4498 closed

[2020-04-27 07:35] deepakrkris commented on #4516
@dhmlau issue #4498 (End to End test Shopping example in cloud with APIConnect) is completed now.

[2020-04-27 11:11] frbuceta commented on #5203
If you allow me, I will close this issue. With the maintenance of the package-lock's it has been fixed

[2020-04-27 11:11] #5203 closed

[2020-04-27 12:17] bajtos commented on #5113
Great discussion 👏

Let me add few more thoughts.

As part of thinking about these two stories, I think it's important to identify different ways how developers are going to discover LoopBack packages and features.

For the first story, the user is already interested in LoopBack 4, so I would expect they start looking in our documentation.

For the second story, many users won't be aware of LoopBa

[2020-04-27 14:06] pookdeveloper commented on #1857
Attach a simple project : (I use postgreslSql in the project)
[Archivo comprimido.zip](https://github.com/strongloop/loopback-next/files/4540094/Archivo.comprimido.zip)
Thanks

[2020-04-27 14:21] bajtos opened #5264 "Better docs for Repository.execute"
I noticed that we don't have a good documentation on how to use `Repository.execute` method. The API docs is very vague:

[code]

Let's improve the docs to show examples how to use `execute` for SQL databases using parameterized queries (to avoid SQL injection attacks).

If https://github.com/strongloop/loopback-next/issues/3342 is not implemented yet, then add a mention about NoSQL flavors not be

[2020-04-27 15:02] bajtos commented on #4977
A possible quick fix is to add an empty array as an example value for `order`. We can change the following block:

https://github.com/strongloop/loopback-next/blob/9478d319a472e1dca4122a29dbb414ce1525bdb0/packages/repository-json-schema/src/filter-json-schema.ts#L87-L92

as follows:

[code]

That gives me the following default value in REST API Explorer:

[code]

While not ideal from the point of

[2020-04-27 15:08] bajtos commented on #4977
Having said that, I am not a big fan of that large default filter value, and personally would prefer a much smaller one.

When I modify https://github.com/strongloop/loopback-next/blob/9478d319a472e1dca4122a29dbb414ce1525bdb0/packages/repository-json-schema/src/filter-json-schema.ts#L107-L113

as follows

[code]

then the REST API Explorer offers me the following nice default:

[code]

[2020-04-27 15:22] dhmlau opened #5267 "Add Couchdb connector docs"
## Suggestion

Under the Connector References, there is no info on the CouchDB connector (loopback-connector-couchdb2), even though the `lb4 datsource` has this option.

## Acceptance criteria
- [x] add an entry for CouchDB under Connector Reference in LB3 docs
  - [x] update the [update-readmes.sh](https://github.com/strongloop/loopback.io/blob/gh-pages/update-readmes.sh) file to get the couchdb

[2020-04-27 15:24] dhmlau commented on #5267
FYI - issue reported by a community user

[2020-04-27 16:50] JacquesBonet opened #5268 "Wrong documentation on Storage"
## Steps to reproduce
The end of this loopback 4 documentation is wrong: https://loopback.io/doc/en/lb4/Storage-connector.html

[code]

There is no model-config.json on loopback 4

[2020-04-27 16:56] hacksparrow commented on #4838
Closed via https://github.com/strongloop/loopback-next/pull/5178

[2020-04-27 16:56] #4838 closed

[2020-04-27 17:20] #5259 closed

[2020-04-27 19:13] #5247 closed

[2020-04-28 11:45] rivoheinsalu commented on #5196
@bajtos thank you for all the effort. This looks very straightforward and easily extendable with different repository interfaces as well as even different datasources, not only LB4 apps.

Seems very good fit for my use case. Exposing find is already covering like 90% of my use cases.
Thanks to your PR I have now much better understanding of entity relation mappings inside LB4 application as well.

[2020-04-28 12:57] bajtos commented on #1857
@pookdeveloper The error message is saying that `PruebaRepository` cannot be instantiated from Inversion-of-Control context because the constructor arguments are not decorated with `@inject` and thus the context does not know what values to provide for those arguments.

Now the question is why is the context trying to create an instance of `PruebaRepository`?  Take a look at how `migrateSchema` is

[2020-04-28 15:21] agnes512 commented on #5268
@JacquesBonet Unfortunately we don't support the storage component in LB4 anymore. And that page should be removed from LB4 site.

We provides some workarounds for you to implement similar functionality. Please check [LoopBack 3 features not planned in LoopBack 4](https://loopback.io/doc/en/lb4/migration-not-planned.html).

I will remove it from the connector list shortly.

[2020-04-28 17:59] deepakrkris commented on #4099
@bajtos can we scope out the following tasks into a separate issue:

- [ ] - For each feature/pattern found in existing components, propose how to implement it in LB4 style. Some patterns may require functionality that's not available in LB4 yet. This is expected, put down a note and try to link to existing GitHub issues where possible. (Do not create any new issues yet!) Get the proposals reviewe

[2020-04-28 18:00] deepakrkris commented on #4099
@bajtos since you have covered enough ground in this spike, can we close this issue, and open a new issue for https://github.com/strongloop/loopback-next/pull/5262

[2020-04-28 18:25] jannyHou commented on #5227
Hi @rahulrkr08 I tested with the [shopping app](https://github.com/strongloop/loopback4-example-shopping) attached to a mongodb datasource, seems the `like` operator works fine, could you double check with the regex? E.g. `{like: 'M'}`

I tested model `Product` with query
[code]
And it seems working fine.

The result:

<details><summary>CLICK ME</summary>
<p>

[code]
</p>
</details>

[2020-04-28 18:50] dhmlau opened #5282 "LB4 equivalent of `lb soap`"
## Suggestion

In LB3, `lb soap` command generates application artifacts based on WSDL file. It will be good to have the LB4 version of it.

From our npm download numbers, there are a good number of users using `strong-soap`. The new `lb4 soap` command will brings values to users who still wants to connect to SOAP services with a specified WSDL.

cc @raymondfeng

## Acceptance criteria
- [ ] Imple

[2020-04-28 19:51] dhmlau commented on #4901
Since the IBM Developer blog site uses a different repo, I'm thinking that we use strongloop.com repo for the blog PR and get the team to review as usual. Once it's ready, we can send that md file to the IBM Developer team.

[2020-04-28 20:04] pookdeveloper commented on #1857
@bajtos Thanks for all I will try it ! ;)

[2020-04-28 23:54] dhmlau commented on #3935
Closing as done. Thanks @hacksparrow!

[2020-04-28 23:54] #3935 closed

[2020-04-29 02:15] #5184 closed

[2020-04-29 05:10] #2474 closed

[2020-04-29 10:50] JacquesBonet commented on #5193
I made it again.

``:> lb4 discover``

model/index.ts file content (after sort)

``
export * from './app-feed-back.model';
export * from './app-feed-back.model';
export * from './container.model';
export * from './device.model';
export * from './device.model';
export * from './event-speaker.model';
export * from './event-speaker.model';
export * from './event-translation.model';
export * from './e

[2020-04-29 12:57] atilerturk commented on #2043
Looks like year 3000 mate.

[2020-04-29 13:47] dhmlau commented on #4557
Yes, I think that's the issue.

[2020-04-29 13:58] dhmlau commented on #4557
I think one of the usage for LoopBack is that you can discover a table in one database and then use database migrate script to generate the table in another database. So IMHO this should be preserved as well.

[2020-04-29 15:25] jannyHou commented on #5192
@fgvicente Models in LoopBack 4 describe the shape of data. Behavior like CRUD operations is added by repositories. This is different from LoopBack 3.x where models implement behavior too. You can check [model](https://loopback.io/doc/en/lb4/Model.html) and [migrating models from LB3 to LB4](https://loopback.io/doc/en/lb4/migration-models-overview.html) to understand more about the differences.

l

[2020-04-29 15:40] #5268 closed

[2020-04-29 17:37] nvthuong1996 opened #5289 "Loopack 4 command not found"
I think this issue has been discussed a lot, but so far it has not been thoroughly resolved.
i flow setup loopack https://loopback.io/doc/en/lb4/Getting-started.html
`npm i -g @loopback/cli`
but when i run command `lp4 app` error `Loopack 4 command not found` appear
I tried to install another package to check if npm worked properly
`npm install -g corona-cli`
continue i run `corona -x`. it working

[2020-04-29 17:42] raymondfeng commented on #5289
The command is `lb4` instead of `lp4`.

[2020-04-29 17:42] #5289 closed

[2020-04-29 19:54] agnes512 commented on #5244
@lakshmansai1980 If you'd like to filter some properties in the object `location`, you will need to include `location` in the result. i.e set the whole object to true in the `fields` filter.

[code]

[2020-04-29 23:43] achrinza commented on #5105
Closing as solved.

[2020-04-29 23:43] #5105 closed

[2020-04-30 02:19] JacquesBonet commented on #5193
If I modify only one model, there is no problem.

[2020-04-30 06:21] neha2683 opened #5294 "Improve and refactor the authentication documentations"
Hello
Is there a better tutorial or video to demonstrate integration of  authentication and authorization into Loopback 4 application.
The current tutorial on loopback.io is little confusing for me . Thanks for the pointers .

---

Updated by Janny

**A plan for the layout of new authentication documentation:**

- **Authentication Overview** (includes Concept and architecture, brief description, n

[2020-04-30 06:46] achrinza commented on #5294
I don't have any video tutorials as my disposal, but here's a quote from my previous response on a  breakdown of the different concepts:

<details>
<summary>Concept breakdown</summary>

Just to quote from my response on Gitter:

These concepts are the building blocks of lb4. They serve a specific purpose while following the OOP paradigm.

It may look like a lot, but these are essentially the diffe

[2020-04-30 09:32] hacksparrow opened #5295 "[Spike] New sidebar for loopback.io"
There are missing gaps in LB4 docs. Some are due to lack to content, and some due to inefficient organization. This spike is for reorganizing the sidebar to be more efficient and identify possible missing topics.

**Acceptance criteria**

- [ ] Create a new structure for the sidebar
- [ ] Identify topics to cover

[2020-04-30 14:57] bajtos commented on #1663
@javiersantossanchez ping 😄 Have you managed to make any progress? Is there anything you need help with?

[2020-04-30 15:27] jannyHou commented on #5294
@achrinza Thank you for providing the concise (but very accurate) summary of the key concepts in authentication 👍

Some of the authentication documentations were created early when team first worked on it. As time goes on we added new features, now it's a good opportunity to reorganize and improve them.

@achrinza has a pretty good break down of the concepts, neat 👍
And thank you @neha2683 for bri

[2020-04-30 16:40] frbuceta opened #5297 "HasAndBelongsToMany relation"
## Implementation
I have been trying to understand the flow of data through the LoopBack relationships for a couple of days

Well, with that said I have started testing and open this thread to discuss it a bit.

![9830483](https://user-images.githubusercontent.com/13822438/80735453-fd157180-8b10-11ea-9a6b-05b27ea91b51.png)

Seeing this sketch of LB3, I conclude that the intermediate model (Assembl