[2020-04-30 16:50] jannyHou commented on #2023
Merged PR #5200 The guide is updated in https://github.com/strongloop/loopback-next/tree/master/packages/rest-explorer#customizing-swagger-ui-theme, will show up in the documentation https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html after a new release 🎉

Thanks for everyone's suggestion and review again 👏 closing it.

[2020-04-30 16:50] #2023 closed

[2020-04-30 17:45] agnes512 commented on #5297
Thanks for the information! But I have to close it as we already have the issue opened https://github.com/strongloop/loopback-next/issues/2308. Thanks again.

[2020-04-30 17:45] #5297 closed

[2020-04-30 20:22] nabdelgadir opened #5298 "Documentation for Migrating LB3 Tests Mounted on an LB4 App"
Followup for https://github.com/strongloop/loopback-next/pull/5251. Related issue: https://github.com/strongloop/loopback-next/issues/3978.

Add documentation instructing users how to migrate their LB3 tests after they mount their LB3 app on an LB4 project.

## Acceptance criteria

- [ ] Create a section in [lb3-application's README](https://github.com/strongloop/loopback-next/tree/master/examples

[2020-04-30 20:26] nabdelgadir opened #5299 "Bind Mounted LB3 Models to LB4 Context"
Follow-up for https://github.com/strongloop/loopback-next/pull/5251.

In order to allow users to run integration tests, bind the LB3 models to the LB4 app's context.

## Acceptance criteria

- [x] Add a property `models` to `Lb3Application` interface
- [x] When the LB3 application is loaded, add the models to LB4 context
- [x] Add test(s) to verify

[2020-04-30 20:30] nabdelgadir opened #5300 "Add Example LB3 Tests to lb3-application"
Follow-up for https://github.com/strongloop/loopback-next/pull/5251.

To demonstrate migration of LB3 tests when it is mounted on an LB4 application, add example LB3-style tests to `lb3-application`.

## Acceptance criteria

- [ ] Add example acceptance tests
- [ ] Add example integration tests (blocked by https://github.com/strongloop/loopback-next/issues/5299)
- [ ] Add example authentication te

[2020-04-30 20:34] nabdelgadir commented on #5004
Closing as done via https://github.com/strongloop/loopback-next/pull/5251

[2020-04-30 20:34] #5004 closed

[2020-04-30 20:43] agnes512 commented on #4059
I just checked thoroughly:

- **Need to make sure** the package version is  `loopback-connector-mongodb: "^5.2.1"`

- If [dataType: 'ObjectID'](https://loopback.io/doc/en/lb4/MongoDB-connector.html#datatype-objectid) is not set (no ObjectID coercion to ids):
CRUD can be operated with non-objectid-like string or objectid-like string **ids**. Inclusion works as well
- If [dataType: 'ObjectID'](https

[2020-04-30 20:45] dhmlau commented on #5295
Related to: https://github.com/strongloop/loopback-next/issues/5113

[2020-04-30 20:45] agnes512 commented on #4879
Please make sure these points are included in the tutorial: https://github.com/strongloop/loopback-next/issues/4059#issuecomment-622099952

[2020-04-30 21:17] jannyHou opened #5301 "Monthly Milestone - May 2020 ☀️ 🌎 🍀"
## Monthly Milestone - May 2020

### Overview

The goals for this month would be to:

- Finish migration guide - depending on the tasks created from the spikes
- Work on outstanding docs and bug fixes

### Goals

- [x] Migration Guide

  - [x] Spike: How to migrate LB3 components #4099
  - [x] Spike: How to run LB3 app tests when the app is mounted in a LB4 project
        #5004
    - [x] Document

[2020-05-01 02:30] dhmlau commented on #3051
See https://github.com/strongloop/loopback-next/issues/2791

[2020-05-01 04:58] pure180 commented on #1863
Hi @L-Luciano, @malek0512, @lazaro9318

im working on an implementation for the session support. You could find an early working solution here [loopback-session](https://github.com/pure180/loopback-session), would be nice know if you get it to run. Let me know if you need help.

@bajtos I'd like to contribute this package to the main mono repository. Let me know what you think of it. >Also, it wou

[2020-05-01 05:28] raymondfeng commented on #1863
Please check out https://github.com/strongloop/loopback-next/pull/5118

[2020-05-01 08:31] pure180 commented on #1863
@raymondfeng thanks this look great! Will check it out later today.

[2020-05-01 09:19] pookdeveloper commented on #1857
Works perfectly!
https://github.com/strongloop/loopback-next/issues/1857#issuecomment-620589676

[2020-05-01 13:11] #1970 closed

[2020-05-01 14:24] agnes512 commented on #5010
Closing as done

[2020-05-01 14:24] #5010 closed

[2020-05-01 14:50] jannyHou commented on #4738
@L-Luciano Thank you for providing the example in https://repl.it/repls/DamagedSuperiorFiles, it's very helpful for communities to follow.

Since there is no activity in bergie/passport-saml#424 yet, I am closing this issue. Feel free to reopen it and continue the conversation if you need. Thanks for understanding.

[2020-05-02 11:45] madaky opened #5310 "Many Auth on same method."
[code]
As mentioned in :@authenticate(['basicAuth', 'localAuth']) // We allow either basic or local auth
by @raymondfeng
Is this has been implemented. If not can we put in feature-list?

[2020-05-02 16:27] ChannaJayanath commented on #2545
export class MyController {
  constructor(@inject(RestBindings.Http.REQUEST) private request: Request) {
  }
}
I add this
but
this.request.ip always return 127.0.0.1
what is the issue

[2020-05-02 16:38] raymondfeng commented on #2545
See http://expressjs.com/en/api.html#req.ip

[2020-05-02 17:23] jannyHou commented on #5310
@madaky

I think this is not supported yet, see the decorator's [first parameter](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/src/decorators/authenticate.decorator.ts#L32), and the strategy provider [only searches for one name](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/src/providers/auth-strategy.provider.ts#L41)

Agreed tha

[2020-05-02 19:12] dhmlau opened #5312 "Add "signup" / create user in authentication-jwt module"
## Suggestion

In the `authentication-jwt` extension, the user experience would be much nicer if it includes the default implementation for creating user as well.

I'm trying to use this extension in my app, and I'd also want to have the "signup" REST API. In order to do that, I need to (I'm still in the middle of it, so the list may not be complete):
- add the signup endpoint in the UserControlle

[2020-05-03 00:20] achrinza commented on #5310
@jannyHou Would this be considered a duplicate of / related to #4842?

[2020-05-03 00:43] achrinza commented on #5136
Hi @SephReed, does the issue still persist?

[2020-05-03 01:08] achrinza commented on #897
Should we be removing these functions? I'm not too familiar with Juggler's codebase, but there are some potential benefits to keeping and/or revamping them:

- Reduce amt. of code for common actions
- Enforce atomic transactions
- Mitigate coding errors

[2020-05-03 01:53] raymondfeng commented on #4842
@dougal83 Do you use authentication for personalization in this case?

[2020-05-03 02:41] #2523 closed

[2020-05-03 04:04] pratikjaiswal15 opened #5314 "Fileds filter not seem to be working properly with nested relations"
---

I have four models- purchase, purchase products, vendors, and product.

The purchase has many purchase products and vice versa
purchase products belong to product and vice versa
Vendors has many purchase and vice vera
Now with the following code, I am getting all purchases, purchase-products, and vendors(with field filter) but not able to use fields filter with the product model.
Is it a bug

[2020-05-03 04:43] achrinza commented on #5314
Spun off from Slack discussion and StackOverflow:

- https://loopbackio.slack.com/archives/C01177XQN8N/p1588431058303400
- https://stackoverflow.com/questions/61560572/loopback-4-how-to-use-fields-filter-with-custom-scope-in-nested-relations

[2020-05-03 04:50] achrinza commented on #4915
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-05-03 04:50] #4915 closed

[2020-05-03 05:07] achrinza commented on #3300
See [this example](https://github.com/strongloop/loopback-next/tree/master/examples/multi-tenancy) on how to deal with multi-tenancy.

IMO it's not a good idea to be switching between datasources as this makes for a rather fragile system with many moving parts. There's a lot of potential pitfalls that may arise as a result.

My advise for new projects would be to design a properly normalised SQL d

[2020-05-03 09:43] dougal83 commented on #4842
Yes, that was the idea. Something non essential that could pull up customised data if available for the user.

[2020-05-03 20:27] Svettis2k commented on #5088
@jannyHou I don't think we're quite there yet. I see the reason for the **EDIT** in my previous [post](https://github.com/strongloop/loopback-next/issues/5088#issuecomment-617696920) is due to **exclude** being passed on to the generation of nested properties as well. All the nested objects will then get a title on the form "XExcluding_id_" (given that the propOptions.exclude = ['id']). I would as

[2020-05-03 20:58] hazimdikenli opened #5319 "when undefined is passed to repository.updateById as id value, it executes an update on all rows."
## Steps to reproduce

get a repository instance.
Call updateById with the undefined as id parameter.
it will execute an update on all rows.

`    //create table
    await this.repo.execute('CREATE TABLE mymodel (col1 TEXT)', []);

    //populate data
    await this.repo.execute(
      `insert into mymodel(col1) values ('a'),('b'),('c');`,
      [],
    );

    const all = await this.repo.find();

[2020-05-03 21:05] hazimdikenli commented on #5319
I had this issue with postgres, but I used sqlite for simplicity.

[2020-05-04 06:55] pratikjaiswal15 commented on #5314
Please find the updated code. I have added all models

[2020-05-04 12:39] 8secz-johndpope commented on #257
to accommodate millions of users on our system - we need to be able to scale up systems / api end point capacity. aws lambda / serverless can do this out of the box without much (any?) thought - and then you  pay per cpu usage / no servers / no web farms / no load balancing pools / health checks / no pm2 / no process monitoring....

Loopback needs to strive to play nicelessly in this space -
just

[2020-05-04 12:50] netlander opened #5325 "Loopback CLI not working. Installation seem to go through with success. However, the CLI just hangs when trying to create a project with 'lb4 ...'"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2020-05-04 15:19] bajtos commented on #2358
Closing as done via #5296. Thank you @spirAde for contributing the feature! ❤️

[2020-05-04 15:19] #2358 closed

[2020-05-04 15:45] emonddr commented on #5319
@hazimdikenli , any reason why you are using repo.execute(raw sql) instead of using the your model with a repository (created from `lb4 repository`) which handles all the crud functions for your model and uses the appropriate sql behind the scenes via a connector?

[2020-05-04 15:49] emonddr commented on #5319
e.g. repo.add(mymodel) : https://github.com/strongloop/loopback-next/blob/fc544c3dba71f543ec912c1b0ab174db4bd11952/examples/todo/src/controllers/todo.controller.ts#L61 or repo.updateById(id, mymodel) https://github.com/strongloop/loopback-next/blob/fc544c3dba71f543ec912c1b0ab174db4bd11952/examples/todo/src/controllers/todo.controller.ts#L130 ?

[2020-05-04 16:16] jannyHou commented on #5227
Hi @lakshmansai1980 any update on this 🙂 ? have you tried the regex filters above?

[2020-05-04 16:20] vikramkh commented on #1981
It says that GeoPoint is support here https://apidocs.strongloop.com/loopback-datasource-juggler/#geopoint

Is it not actually supported?
I'm using postgresql.
If it is supported now, what packages should I update?

[2020-05-04 16:33] hazimdikenli commented on #5319
Thank you @emonddr for pointing that out. I am not using execute raw sql on my real application, I just used it to set up data quickly to showcase the bug (or unexpected behaviour). The project I had this issue uses repo.create or repo.creatAll, and as I said this is just to set up a project quickly where it is possible to see the issue on hand. Fix is is pretty easy but I dont have the time to go

[2020-05-04 16:57] lakshmansai1980 commented on #5227
Hi @jannyHou , I did tried with regex and it works for me. With the like operator, I was including % , hence could not see the results .. I will try removing % and will retry once ..

[2020-05-04 17:06] lakshmansai1980 commented on #5244
Hi @agnes512 , Issue what I see here, location.locality is showing as undefined and showing compilation issue for me. This is pretty required for filtering data from the nested objects..

this.employeeRepository.find({fields: {empName: true, location: true}, where: {'location.address1': {regexp: pattern}}});

Showing compilation issue near 'location.address1'. It is not able to recognize nested pr

[2020-05-04 17:10] pratikjaiswal15 commented on #5314
Anyone please?

[2020-05-04 17:56] jannyHou commented on #3607
I am debugging the code in [juggler's `toObject`](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L442) and [repository's `toObject`](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/model.ts#L253), I think this story aims to improve repository's `toObject` to be allign with the one in juggler, instead of updating the juggler one, r

[2020-05-04 22:29] jannyHou commented on #2362
I am closing this issue given the answer in https://github.com/strongloop/loopback-next/issues/2362#issuecomment-548825713, but feel free to reopen it if you still have problems. Thanks for understanding.

[2020-05-04 22:29] #2362 closed

[2020-05-05 01:36] dhmlau commented on #5325
@netlander, could you please provide more information on:
- node.js version
- OS and version
- are you using nvm?

Thanks.

[2020-05-05 11:24] netlander commented on #5325
OS: Win 10 (dev)
Using NVM
And tried two node versions with the same behaviour, namely 12.16.3 & 14.0.0
Thanks

[2020-05-05 13:18] bajtos commented on #3607
Yes, the goal of this story is to improve `.toObject()` implementation in `@loopback/repository`.

The code in juggler looks a bit convoluted to me. Rather than aligning the new implementation in LB4 to the complexity of the current implementation in juggler, I think it would be better to approach this problem with a fresh perspective and try to find an implementation `.toObject()` that will be si

[2020-05-05 13:29] ludohenin commented on #4757
I'm also very much interested in this feature. We started a spike to implement `knex` and we are blocked there.

Knex offer a lot of tooling to manage migration but we want to keep the benefit of LB model metadata to build/update the schema. So bascally in our use case, we use knex a migration script runner (and for more complexe update needs, not that often).

The problem with the LB migrate scri

[2020-05-05 14:04] bajtos opened #5336 "Clean up extension template and docs"
_This is a follow-up for #5337 and #5122_

The documentation for component authors (e.g. [Creating components](https://loopback.io/doc/en/lb4/Creating-components.html)) and the template used by `lb4 extension` are outdated. We learned a lot since those artifacts were written and introduced new conventions and features, e.g. `@config` decorator. It's time to modernize both the CLI template and the

[2020-05-05 14:21] bajtos opened #5337 "Illustrate the handshake between an application and a component"
Create a diagram to show the handshake between an application and a component as well as typical artifacts exported from a component.

Add the diagram to our docs for component authors, e.g.

- [docs/site/migration/components/overview.md](https://github.com/strongloop/loopback-next/blob/master/docs/site/migration/components/overview.md)
- [docs/site/Extending-LoopBack-4.md](https://github.com/stro

[2020-05-05 14:22] bajtos commented on #5337
We already have few diagrams in existing component-related pages, make sure to review those diagrams first.

[2020-05-05 15:22] jannyHou commented on #2697
After https://github.com/strongloop/loopback-next/pull/5118 landed it should be easier for us to add express middleware.

@deepakrkris has a PoC PR showing use Express middleware for authentication in https://github.com/strongloop/loopback-next/pull/5302. We can find some outstanding middleware for authorization and try the similar approach.

[2020-05-05 16:32] chavitodb88 opened #5340 "problems running the login passport example"
Hello, I am trying to launch the login example with passport as the documentation says but it seems not to be available.

Try `lb4 example passport-login`  I get this

Generation ended abnormally: Invalid sample name: passport-login
The example has been cloned to undefined.

run "lb4 example --help" to print the list of available sample names.

run `lb4 example --help` but the example passport-log

[2020-05-05 17:39] SephReed commented on #5136
I'm sorry.  I'd already hacked a solution together by the time this response had come through.  I haven't attempted this yet.

[2020-05-05 18:42] dhmlau commented on #5340
@chavitodb88, thanks for reporting this problem. We just fixed this issue via https://github.com/strongloop/loopback-next/pull/5334, it will be available when we publish a new release.
For now, the workaround is to git clone the loopback-next repo and the example can be found under examples/passport-login. Here is the URL: https://github.com/strongloop/loopback-next/tree/master/examples/passport-l

[2020-05-05 20:37] dhmlau commented on #5325
I've tried the run `lb4 app` command on my windows machine, with both  12.16.3 & 14.0.0, and it seems to be running fine.

There's a [discussion thread](https://github.com/strongloop/loopback-next/issues/2569#issuecomment-542280415) about the problem related to Node.js 10 and higher but it seems like the issue no longer exist.  @netlander, perhaps apply the latest Windows updates if you haven't do

[2020-05-05 22:34] candytangnb commented on #5128
I check in cli master build 3275 and found that still in English
Built 2020-05-04T21:55:44Z
<img width="944" alt="image" src="https://user-images.githubusercontent.com/26452457/81122488-88ed2a80-8f63-11ea-81c0-1056d11068dc.png">

[2020-05-05 22:35] candytangnb commented on #5130
I check in cli master build 3275 and found that still in English
Built 2020-05-04T21:55:44Z
<img width="519" alt="image" src="https://user-images.githubusercontent.com/26452457/81122570-b9cd5f80-8f63-11ea-9a7c-840ecee6331a.png">

[2020-05-05 22:37] candytangnb commented on #5131
I check in cli master build 3275 and found that still in English
Built 2020-05-04T21:55:44Z
<img width="1052" alt="image" src="https://user-images.githubusercontent.com/26452457/81122678-fbf6a100-8f63-11ea-8a5c-36de308df1f1.png">

[2020-05-05 22:39] candytangnb commented on #5121
I check in cli master build 3275 and found that still in English
Built 2020-05-04T21:55:44Z
<img width="746" alt="image" src="https://user-images.githubusercontent.com/26452457/81122828-598aed80-8f64-11ea-9cfb-5fd0e3baef55.png">

[2020-05-05 22:41] candytangnb commented on #5120
<img width="795" alt="image" src="https://user-images.githubusercontent.com/26452457/81122915-850dd800-8f64-11ea-96d9-e4d9bce04150.png">
I check in cli master build 3275 and found that still in English
Built 2020-05-04T21:55:44Z

[2020-05-06 00:06] dhmlau commented on #5128
The build `Built 2020-05-04T21:55:44Z` has `@loopback/cli@2.4.4` where the translation files are published in `2.5.0`.

[2020-05-06 02:40] dhmlau commented on #4757
@ludohenin, thanks for your comment. Would you be interested in contributing to this feature?

[2020-05-06 08:46] Lipinalipi commented on #1599
Is there any examples for transaction in loopback 4?

[2020-05-06 09:23] achrinza commented on #1599
@Lipinalipi See: https://loopback.io/doc/en/lb4/Using-database-transactions.html

[2020-05-06 10:41] ludohenin commented on #4757
@dhmlau definitely, would need the appropriate pointer and design considerations though as I guess this will touch juggler

[2020-05-06 13:31] dhmlau commented on #4757
@bajtos, could you please shed some light on this? thanks.

[2020-05-06 16:01] #5319 closed

[2020-05-06 16:36] dhmlau commented on #3248
Closing due to inactivity.

[2020-05-06 16:36] #3248 closed

[2020-05-06 18:40] agnes512 commented on #5314
@pratikjaiswal15

Do you mean that `product_id` still shows up, or the inclusion doesn't work for `products`?

Anyhow this won't work as expected:
[code]
`PurchaseProduct` belongs to a `Product`, and the foreign key is `product_id`. This won't work because the foreign key `product_id` is being excluded, so that the inclusion doesn't work as the `product_id` is undefined. For relations, primary key

[2020-05-06 19:44] dhmlau commented on #2487
For prosperity, I'm cross posting the reply from @bajtos on Slack:

[2020-05-06 19:50] dougal83 commented on #5325
No idea.  I've never touched NVM and lb4 works fine for me too.  I can try reinstall later if I find a moment to look into it.

I tend to just install latest stable nodejs and use https://www.npmjs.com/package/npm-windows-upgrade to manage npm.  No problemo.

[2020-05-07 01:58] dhmlau opened #5355 "Broken link for "getSync" and "get" in Application.html"
In https://loopback.io/doc/en/lb4/Application.html#avoid-use-of-getsync, there are two broken links:
- getSync: https://loopback.io/doc/en/lb4/apidocs.context.getsync.html
- get: https://loopback.io/doc/en/lb4/apidocs.context.get.html

## Acceptance Criteria

- [ ] Add correct link to getSync
- [ ] Add correct link to get

[2020-05-07 13:05] jannyHou commented on #5312
@dhmlau Agreed 👍

[2020-05-07 14:01] jannyHou commented on #3607
Closing after PR merged. Appreciate all the discussion from team 🎉
The core conversion code in juggler is [these lines](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/model.js#L528-L531), other code mostly checks options.

[2020-05-07 14:01] #3607 closed

[2020-05-07 14:09] agnes512 commented on #4845
Closing as done

[2020-05-07 14:09] #4845 closed

[2020-05-07 15:12] dhmlau commented on #5312
For your reference, i've added the signup endpoint in my repo: https://github.com/dhmlau/loopback4-example-todo-jwt/.

[2020-05-07 16:44] haotangio commented on #1857
@ivesdebruycker It worked! Thanks a lot man! :)

[2020-05-07 17:18] deepakrkris commented on #1696
closing this issue based on the discussion above, and since it is stale for a long time, please reopen if necessary.

[2020-05-07 17:18] #1696 closed

[2020-05-07 17:25] deepakrkris commented on #2113
looks like this issue was covered, mostly with https://github.com/strongloop/loopback-next/pull/2426 , closing now, please open a new issue for additional topics.

[2020-05-07 17:25] #2113 closed

[2020-05-07 17:33] deepakrkris commented on #2383
@codejamninja could you please elaborate more on what are the advantages of supporting deno ? also would you be able to contribute or create a prototype ?

[2020-05-07 17:38] deepakrkris commented on #2920
@kapookchang using filter conditions is well documented with https://loopback.io/doc/en/lb2/HasMany-relations.html and our examples https://github.com/strongloop/loopback-next/tree/master/examples , try testing the todo-list example for this question.

[2020-05-07 17:38] #2920 closed

[2020-05-07 17:43] deepakrkris commented on #3514
please take a look at the lb oracle connector , https://loopback.io/doc/en/lb2/Oracle-connector.html , you can also raise specific questions in that repo https://github.com/strongloop/loopback-connector-oracle

[2020-05-07 17:44] deepakrkris commented on #3514
looks like this is a lb model specific question reopening again

[2020-05-07 23:51] dhmlau commented on #5340
Fixed in the latest release. Please install `@loopback/cli` and try again. Thanks.

[2020-05-07 23:51] #5340 closed

[2020-05-08 01:47] dhmlau commented on #5128
I'm not sure how to update it from the apic command. For LoopBack, you can install the latest by running : `npm i -g @loopback/cli`.

[2020-05-08 05:21] ChannaJayanath commented on #2545
this.request.ip  return 127.0.0.1
this.request.ips return nothing

can you help me. I used nginx reverse proxy in my server. Is that the issue?

[2020-05-08 05:50] raymondfeng commented on #2545
See https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/request-context.ts#L75. Some of the http headers should help.

Please note that your can inject `RestBindings.Http.CONTEXT` for the request context.

[2020-05-08 05:51] raymondfeng commented on #2545
And check out https://www.nginx.com/resources/wiki/start/topics/examples/forwarded/

[2020-05-08 10:52] alparslanyilmaaz commented on #2488
[code]
Does any one know, how to use keyFrom as array.

My problem is, I have an array which includes the foreing key id's as an array. I am trying to get those id's with their instances.

[2020-05-08 11:58] rahulrkr08 commented on #5227
@jannyHou Thanks for your reply.  Only with `like` is not working when there is a space between the query value. In your example, can you able to search like `{like: 'iPhone 11'}`.

Below is the (working) query URL. It returns the expected response.

`/mf-schemes?filter={"where":{"name":{"like":"Mirae%20Asset%20Savings","options":"i"}}}`

Below is the (not working) query URL. It returns an empty r

[2020-05-08 12:42] besongsamuel opened #5368 "LB4 Cors is always enabled after full upgrade of loopback"
## Steps to reproduce

1- Update to the following packages
"@loopback/authentication": "^4.2.3",
"@loopback/authentication-passport": "^2.1.3",
"@loopback/authorization": "^0.5.8",
 "@loopback/boot": "^2.2.0",
 "@loopback/context": "^3.7.0",
 "@loopback/core": "^2.5.0",
 "@loopback/openapi-v3": "^1.11.0",
 "@loopback/repository": "^2.4.0",
 "@loopback/rest": "^4.0.0",

2- Enable Cors by setting th

[2020-05-08 14:32] Tronix117 commented on #5132
Should it be really closed ? It's a major issue not being able to restrict results using a filter on related models.

How can I list all my users, filtering them by a company name and role name ? It's a pretty standard need.

This issue was recurrent on Loopback 3, and has not been adressed in Loopback 4. There is the TypeORM, but from what I understood, it will not become the default one. So the

[2020-05-08 15:01] achrinza commented on #5136
Glad you were able to find a solution! To keep the issues backlog clean, let's close this issue. If there's the problem arises again, we can re-open it.

[2020-05-08 15:01] #5136 closed

[2020-05-08 15:08] achrinza commented on #5132
@Tronix117

That's already possible with [nested relations](https://loopback.io/doc/en/lb4/HasMany-relation.html#query-multiple-relations). It doesn't use native SQL JOIN but rather lb4 repository-level constraints (This design choice is to allow cross-database relations).

Strong relations are being tracked by #2331.

[2020-05-08 15:15] achrinza commented on #2488
Hi @alparslanyilmaaz, please either [open a new question issue](https://github.com/strongloop/loopback-next/issues/new?labels=question&template=Question.md) or ask in the [Slack org](https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw). This is so that it's easier to discover your query and so that we can keep the comments related to the topic at hand.

[2020-05-08 15:39] achrinza commented on #5325
I've not been able to reproduce the issue form my end.

[code]

[2020-05-08 15:46] Tronix117 commented on #5132
@achrinza Alright, I will give you a better exemple.

Let's imagine :
[code]

I simplified the exemple, the discussion here is not about how the data are structured.

Now I want to show a paginated table of users with following columns : email, firstname, lastname, age.

Easy:
[code]

Now I want to filter this table, saying all people named `Foo`, what you are saying is
[code]
However this results

[2020-05-08 16:01] dougal83 commented on #5325
@netlander Can you give any more information that may be relevant?  Can you please try running lb4 with elevated permissions (cmd/ps run as administrator)?

[2020-05-08 16:59] netlander commented on #5325
@dougal83 Thanks for the suggestion, that did it, at least I get a prompt asking for a project name.
Thanks everybody else for your input, (un)fortunately I am not ready to update Win 10 at this point.

[2020-05-08 16:59] #5325 closed

[2020-05-08 17:40] paeolo commented on #5132
@Tronix117 said:
`Should it be really closed ? It's a major issue not being able to restrict results using a filter on related models.`
The reason I closed the issue is two folds.

On the one hand, [#683](https://github.com/strongloop/loopback/issues/683) was opened more than five years ago. To this day, we have no clues about whether the LB4 team is taking this issue seriously or not. Probably du

[2020-05-08 17:49] paeolo commented on #5132
Please let me know If you are not convinced and I will reopen this issue.

[2020-05-08 18:10] Tronix117 commented on #5132
Thanks for your reply, I agree there is a lot of good stuff with LB4.
I also think we will switch to TypeOrm once it will be fully integrated.

However, I still think it should be something available out-of-the-box.

It’s not this hard to have a minimum viable by using INNER JOIN for belongsTo, to keep performance, it should be added only when it’s needed. Little bit harder to do this correctly wi

[2020-05-08 23:01] raymondfeng commented on #5368
@besongsamuel Did you use `lb4 update` to upgrade all LB4 packages?

[2020-05-08 23:05] raymondfeng commented on #5368
I was able to make cross-domain APIs using http://explorer.loopback.io/?url=http://localhost:3000/openapi.json.

[2020-05-08 23:22] besongsamuel commented on #5368
I just updated using lb4 update and it seems to be resolved. Thanks. I think you can close issue. Thanks for your quick reply.

[2020-05-09 00:44] dhmlau commented on #5368
Closing as resolved.

[2020-05-09 00:44] #5368 closed

[2020-05-09 12:35] pookdeveloper commented on #1857
@bajtos about : https://github.com/strongloop/loopback-next/issues/1857#issuecomment-620589676
Its work but I need use transaction and i give this error:

![image](https://user-images.githubusercontent.com/3384734/81473874-fddd9000-9201-11ea-901d-8fa54cedceea.png)

![image](https://user-images.githubusercontent.com/3384734/81473879-03d37100-9202-11ea-98aa-a21d1d44e908.png)

I try that but i don´t

[2020-05-09 18:34] rivotril0 commented on #5368
Same issue here, appears after making update `npm i -g @loopback/cli update`

[2020-05-09 18:44] raymondfeng commented on #5368
You can run the following:

[code]

Go into your project dir:

[code]

[2020-05-09 18:46] dougal83 commented on #5368
@rivotril0 That is interesting. Does running `lb4 update` on affected project(s) resolve the issue after the update to cli?

[2020-05-09 18:53] rivotril0 commented on #5368
no, actualy if i run` lb4 update` now i get
`The project dependencies are compatible with @loopback/cli@2.6.0`
and nothing happens

[2020-05-09 18:54] rivotril0 commented on #5368
adding dependencies

[code]

[2020-05-09 19:01] rivotril0 commented on #5368
after performing the cli update, the prompt ask for updating project deps, the issue start here. Also apart from cors being enabled, the application ignores the options passed into ApplicationConfig object related to cors

[2020-05-09 19:32] raymondfeng commented on #5368
Try remove node_modules

[2020-05-09 19:38] rivotril0 commented on #5368
Still blocked by cors

[2020-05-09 19:55] rivotril0 commented on #5368
Also i notice the following, GET`s method endpoints are treated as OPTION`s
[code]

[2020-05-09 20:05] raymondfeng commented on #5368
@rivotril0 Can you provide a git repo to reproduce the problem?

[2020-05-09 20:05] raymondfeng commented on #5368
That's probably due to cors preflight check. It should be handled by `cors` middleware.

[2020-05-09 20:06] rivotril0 commented on #5368
Ignore this, seems to be the preflight

[2020-05-09 20:13] raymondfeng commented on #5368
You can use `DEBUG=loopback:middleware loopback:rest:*` env var to see if `cors` is triggered.

Did you try to clean up the project as follows?

- `rm -rf node_modules`
-` npm i`

[2020-05-09 20:35] rivotril0 commented on #5368
the output has nothing related to cors

yes, and the issue still there

[2020-05-09 20:43] rivotril0 commented on #5368
from `DEBUG=loopback:context`

[code]

[2020-05-09 20:48] raymondfeng commented on #5368
With `DEBUG=loopback:middlewre`, you should be able to see something similar as follows:

[code]

[2020-05-09 20:51] raymondfeng commented on #5368
I realized if you have `src/sequence.ts` generated from old version of CLI, you need to update it with:

[code]

[2020-05-09 20:55] raymondfeng commented on #5368
Or simply use `DefaultSequence` from `@loopback/rest`.

In `src/application.ts`:

[code]

[2020-05-09 20:58] rivotril0 commented on #5368
` const finished = await this.invokeMiddleware(context);`
` if (finished) return;`

Do the trick, thanks for your help.
Could you share the pr for this braking change?

[2020-05-09 21:02] raymondfeng commented on #5368
It's a new major release for `@loopback/rest` - see https://github.com/strongloop/loopback-next/pull/5118

[2020-05-10 01:21] besongsamuel commented on #5368
Thanks @raymondfeng I just spent a couple of hours trying to figure this out

[2020-05-10 05:11] mdbetancourt opened #5380 "[Authentication passport] tests in an index file?"
https://github.com/strongloop/loopback-next/blob/06d3a1f4e63c119766e75c9ff9073fa5ef912a2f/extensions/authentication-passport/src/index.ts#L8
Hello. when i try run the loopback passport example throw an error because this line, also this package is in extension folder shouldn't be called "@loopback/extension-authentication-passport"?

[2020-05-10 06:16] rhiwn opened #5381 "No valid exports main found for node_modules\uuid"
Hi, I just updated my project using npm -update @loopback/cli and lb4 update.
No errors on build but when I start I get this.

Error: No valid exports main found for 'C:\repos\new client and server\api\node_modules\uuid'
    at resolveExportsTarget (internal/modules/cjs/loader.js:622:9)
    at applyExports (internal/modules/cjs/loader.js:499:14)
    at resolveExports (internal/modules/cjs/loader.j

[2020-05-10 06:20] raymondfeng commented on #5381
Pls remove node_modules, run npm install, and try again.

[2020-05-10 06:24] rhiwn commented on #5381
thanks, tried that, same issue.

[2020-05-10 06:51] raymondfeng commented on #5381
What do you see with `npm ls uuid`?

[2020-05-10 07:04] rhiwn commented on #5381
contacttlesscommerce@1.0.1 C:\repos\new client and server\api
+-- @loopback/build@5.3.1
| `-- nyc@15.0.1
|   `-- istanbul-lib-processinfo@2.0.2
|     `-- uuid@3.4.0
+-- @loopback/context@3.7.0
| `-- uuid@8.0.0  deduped
+-- @loopback/repository@2.4.0
| `-- loopback-datasource-juggler@4.21.1
|   +-- loopback-connector@4.11.0
|   | `-- uuid@7.0.3
|   `-- uuid@7.0.3
`-- uuid@8.0.0

thanks

[2020-05-10 07:14] raymondfeng commented on #5381
That seems to be good. What about `npm ls @loopback/context`?

[2020-05-10 07:17] raymondfeng commented on #5381
There was a similar issue - https://github.com/facebook/flipper/issues/1144.

I cannot reproduce it. Do you have a simple git repo?

[2020-05-10 07:17] rhiwn commented on #5381
+-- @loopback/authentication@4.2.3
| +-- @loopback/context@3.7.0  deduped
| `-- @loopback/security@0.2.8
|   `-- @loopback/context@3.7.0  deduped
+-- @loopback/authorization@0.5.8
| `-- @loopback/context@3.7.0  deduped
+-- @loopback/boot@2.2.0
| `-- @loopback/context@3.7.0  deduped
+-- @loopback/context@3.7.0
+-- @loopback/core@2.5.0
| `-- @loopback/context@3.7.0  deduped
+-- @loopback/openapi-v3@

[2020-05-10 07:30] achrinza commented on #5380
Could you please clarify the following:

1. **Step-by-step** instructions on how to replicate the issue
2. What is the actual, exact error?

See https://github.com/strongloop/loopback-next/pull/5240#discussion_r414998370 for the rationale behind the naming convention.

[2020-05-10 07:43] raymondfeng commented on #5381
Hmm, maybe you can try the following:
[code]

[2020-05-10 07:49] rhiwn commented on #5381
Welcome to Node.js v13.5.0.
Type ".help" for more information.

Uncaught:
Error: No valid exports main found for 'C:\repos\new client and server\api\node_modules\uuid'
    at resolveExportsTarget (internal/modules/cjs/loader.js:622:9)
    at applyExports (internal/modules/cjs/loader.js:499:14)
    at resolveExports (internal/modules/cjs/loader.js:548:12)
    at Function.Module._findPath (internal/

[2020-05-10 07:54] raymondfeng commented on #5381
Node.js 13.5.0 seems to be broken. I tried 13.14.0 and 14.2.0. Both of them work.

Please note you should use Node.js even versions for production. We support Node 10, 12, and 14.

[2020-05-10 07:56] #5381 closed

[2020-05-10 08:01] rhiwn commented on #5381
thankyou :)

[2020-05-10 16:50] jannyHou commented on #5299
Closing after PR merged 🎉

[2020-05-10 16:50] #5299 closed

[2020-05-10 18:40] mdbetancourt commented on #5380
I didn't anything special just follow the readme file, when I tried run node . Or yarn start throw an error because but found that test files

[2020-05-10 22:01] ivan-rangel commented on #5380
Same error here, the app does not even start due to this issue, please see:
https://i.imgur.com/b1NAWAt.png & https://i.imgur.com/D48Cgts.png

This is the version what I am using:
`"@loopback/authentication-passport": "^2.1.3"`

Thanks

[2020-05-11 02:55] raymondfeng commented on #5380
The example is broken as the `./__tests__/acceptance/fixtures/mock-oauth2-social-app` is not published to npm by `@loopback/authentication-passport`.

[2020-05-11 02:57] raymondfeng commented on #5380
For now, you have to check out `loopback-next` git repo and run the example there.

[2020-05-11 07:06] pratikjaiswal15 commented on #5368
Thank you @raymondfeng setting `DefaultSequence` solved the issue.

[2020-05-11 07:14] bajtos opened #5384 "ModelDefinition helpers for defining relations"
_Moved from [my comment](https://github.com/strongloop/loopback-next/pull/5358/files/da9a530d408a4199fb9c51895df35397530ab846#r421315010) in #5358_

Building relations using `ModelDefinition` API is too involved at the moment, the user has to specify metadata that can be automatically inferred from the relation type.

For example:

[code]

## Suggestion

Provide higher-level builders for each indi

[2020-05-11 07:27] rhiwn commented on #5294
hi, I had jwt authentication working on my controller methods. I updgraded loopback/cli and ran lb4 update yesterday and now the methods don't authenticate any more. Is there something else I need to do to get authentication working again?

[2020-05-11 07:43] rhiwn commented on #5294
ah solved - I had followed Raymonds instructions on updating sequence.ts at https://github.com/strongloop/loopback-next/issues/5368 and had missed out my authentication sequence. All working now :)

[2020-05-11 12:22] bajtos commented on #1672
I think this has been (partially?) implemented by https://github.com/strongloop/loopback-next/pull/4550

**Example**

[code]

[2020-05-11 14:55] bajtos commented on #5368
@raymondfeng can you please update release notes for [`@loopback/rest@4.0.0`](https://github.com/strongloop/loopback-next/blob/master/packages/rest/CHANGELOG.md#400-2020-05-07) to mention this breaking change and provide instructions for upgrading users?

[2020-05-11 15:46] deepakrkris commented on #5380
fix in PR : https://github.com/strongloop/loopback-next/pull/5386

[2020-05-11 15:53] raymondfeng commented on #5368
What's the best way to do so? Update README?

[2020-05-11 16:18] InvictusMB commented on #5314
@agnes512
To be honest this is very counter-intuitive, especially for REST API consumers.
Also it is exposing the implementation details of model relations onto those REST API consumers. They have to know the foreign key name even though it is never exposed to them (in case it is marked as hidden to work around this issue in the first place).
I believe this is something that should be handled unde

[2020-05-11 16:50] deepakrkris commented on #5243
@matte23n can you please post a code sample here

[2020-05-11 18:55] evert-arias commented on #5368
Thank you @raymondfeng, [this](https://github.com/strongloop/loopback-next/issues/5368#issuecomment-626233755) solved the issue.

[2020-05-11 22:38] raymondfeng commented on #5368
@bajtos See https://github.com/strongloop/loopback-next/pull/5391

[2020-05-12 09:23] Fennixx opened #5395 "OpenAPI generator doesn't generate endpoint descriptions"
## Steps to reproduce

I generated api from OpenAPI spec file with this content:
[code]

## Current Behavior

I just received models generated and in controller just this:
[code]

## Expected Behavior

I want to have there also responses and its descriptions and all the things described in spec file.

[2020-05-12 11:57] chavitodb88 opened #5396 "Problem with loopback cli version 2.6.0"
I have a working environment with loopback cli version 1.18.0, but when I upgrade to new version 2.6.0 and want to create a repository I get the following error:

(node:960) UnhandledPromiseRejectionWarning: Error: Cannot load /.........../src/datasources/authentication-db.datasource.config.json: ENOENT: no such file or directory, open '/.........../src/datasources/authentication-db.datasource.con

[2020-05-12 14:42] Tenvan commented on #5368
boah.. hi guys..
i have searched for this issue since two days.

[code]

this was the solution for me ... yeah :)

thx to all ;)

[2020-05-12 16:10] raymondfeng commented on #2035
See https://loopback.io/doc/en/lb4/Express-middleware.html#use-express-middleware-as-interceptors-for-controllers

[2020-05-12 16:10] #2035 closed

[2020-05-12 16:11] raymondfeng commented on #1293
Done.

See
https://loopback.io/doc/en/lb4/Middleware.html
https://loopback.io/doc/en/lb4/Express-middleware.html

[2020-05-12 16:11] #1293 closed

[2020-05-12 16:13] dougal83 commented on #5396
Quite the version jump, have you checked the changelogs for the packages that have been updated?  E.g.: CLI updates can be found here: https://github.com/strongloop/loopback-next/blob/master/packages/cli/CHANGELOG.md

I can see that there is a breaking change that drops support node v8 in this package but if that is not your issue perhaps look over the other changelogs for breaking changes.  Sorry

[2020-05-12 16:19] InvictusMB commented on #4645
@achrinza Why is this an expected behaviour? If `uniqueItems` is placed within `items` it is not enforced by the validator.

There seems to be no way to ensure unique items right now.
If I use `property.array()` or provide `itemType` to `property()` it generates a nested items spec.
If I don't use `property.array()` or provide `itemType` to `property()` it generates a proper spec but the ORM explo

[2020-05-12 17:04] dhmlau commented on #3978
Spike #5004 is done. The follow up tasks are planned for May milestone: #5301.

[2020-05-12 17:04] dhmlau commented on #3978
Turning this issue as an epic.

[2020-05-12 18:17] jannyHou commented on #5337
Outline:

- configure it before mounting it to app
- component injects the application itself
- component is a collection of bindings to be added to app
- component is an observer with start/stop
- it can register some booters to be booted as the component lifecycle

We can pick an existing component and add diagram there. https://github.com/strongloop/loopback-next/tree/master/extensions

[2020-05-12 19:52] raymondfeng opened #5399 "Add `lb4 openapi --test` to generate integration tests from openapi specs"
## Suggestion

- Add `--test` option to `lb4 openapi` command to generate integration tests from an openapi spec. The tests are similar as https://github.com/strongloop/loopback-next/blob/master/examples/todo/src/__tests__/acceptance/todo.acceptance.ts.

## Examples

[code]

## Acceptance criteria

- Implement `--test` code generation as well as tests
- Document `--test` option

[2020-05-12 23:27] fidgi opened #5402 "openapi generator generate wrong Map model"
## Steps to reproduce
Given the following openapi spec:

[code]
run lb4 openapi --url openapi.yaml
then npm start
## Current Behavior

[code]
## Expected Behavior

## Link to reproduction sandbox

## Additional information

[code]
Note :
If a "allOf" is added to the FakeMap , it works fine
[code]
## Related Issues
n/a

[2020-05-13 00:04] dhmlau commented on #5402
@fidgi, I was able to take your openapi spec and generate the Model and other LB artifacts without issues. I can start the app too.  In my `fake.model.ts`, the class does not extend from Model.
Could you please try it again with the latest version of @loopback/cli?

[2020-05-13 00:46] raymondfeng commented on #5395
@Fennixx Which `lb4` version do you use? Run `lb4 version` to find out. The latest version is 2.6.0. Run `npm i -g @loopback/cli` to upgrade.

[2020-05-13 00:52] raymondfeng commented on #5402
@fidgi Which lb4 version do you use? Run `lb4 -v` to find out. The latest version of `@loopback/cli` is `2.6.0`. Run `npm i -g @loopback/cli` to upgrade.

[2020-05-13 06:16] kanusoni opened #5407 "how we can add login method in usercontroller class in loopback4 API? needs more clarification on this"
Hello,
I have created User controller in loopback4 Explorer but i need login method for JWT authentication.
Whatever is written in loopback.io tutorial is bit confusing so do you have any other tutorial for the clarification.

[2020-05-13 09:36] kanusoni commented on #5407
Hello,
I have created User controller in loopback4 Explorer but i need login method for JWT authentication.
Whatever is written in loopback.io tutorial is bit confusing so do you have any other tutorial for the clarification.

[2020-05-13 10:01] kanusoni opened #5408 "how we can expose stored procedure of MySQL database in rest API using loopback4"
Hello,
is there any library or any code available to get the stored procedure of MySQL database into Rest API using loopback4.

[2020-05-13 10:04] kanusoni commented on #5408
Hello,
is there any library or any code available to get the stored procedure of MySQL database into Rest API using loopback4.

[2020-05-13 10:52] dougal83 commented on #5407
Please find a working example below:

[code]
From [example shopping](https://github.com/strongloop/loopback4-example-shopping/blob/04c53e37c6fb647ba5deaa6bad6437549239b47b/packages/shopping/src/controllers/user.controller.ts#L234-L267).  Hope that helps.

[2020-05-13 11:01] kanusoni commented on #5407
yes, i have tried this...but i am getting errors.
The variables that you are using like (Credentials, userservice, jwtservice) where we need to define this in our application

Error is like:-
Parameter 'credentials' of public method from exported class has or is using private name 'Credentials'.

Property 'userService' does not exist on type 'UserController'.

[2020-05-13 11:05] dougal83 commented on #5408
Please see https://github.com/strongloop/loopback-next/issues/5101#issuecomment-613189957

[2020-05-13 11:09] dougal83 commented on #5407
@kanusoni Please take a closer look at the Shopping example and follow the breadcrumbs (look at [Constructor](https://github.com/strongloop/loopback-next/issues/5101#issuecomment-613189957) that instantiates services and follow the imports to find their implementation.  It takes time to familiarise yourself but it is worth it if the tutorial does not suit you.

[2020-05-13 11:24] kanusoni commented on #5407
@dougal83 okay Thanks

[2020-05-13 11:51] JacquesBonet opened #5409 "Invalid link in documentation"
## Steps to reproduce

I'm on the following page: https://loopback.io/doc/en/lb4/Email-connector.html

This display this content parts:

Creating an email data source
Create a new email data source with the[ data source generator:](https://loopback.io/doc/en/lb4/Data-source-generator.html)

The "data source gnerator " link is bad

More generally, the email documentation is not in sync with Loopbac

[2020-05-13 12:37] spirAde commented on #110
Hi @bajtos would love to help

[2020-05-13 14:08] hacksparrow commented on #5409
Related - https://github.com/strongloop/loopback-next/issues/4879

[2020-05-13 14:14] InvictusMB opened #5411 "Authorize interceptor should return 403 HTTP status"
Authentication component returns 401 errors, authorization component should return 403 errors.
See [403 status definition](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/403).

Offending lines:
https://github.com/strongloop/loopback-next/blob/b01bb1154346f8dd2786a13e21e291dc52ca35e1/packages/authorization/src/authorize-interceptor.ts#L106

https://github.com/strongloop/loopback-next/blob

[2020-05-13 14:26] dhmlau commented on #5409
@JacquesBonet, thanks for reporting this.

For email connector, it actually won't work in LB4, please see the discussion in https://github.com/strongloop/loopback-next/issues/1979 for work around and potential documentation we can add.

I'll use this issue to remove the email connector from the connector reference list in LB4.

[2020-05-13 15:05] dougal83 commented on #5411
I'm not sure the issue is entirely black and white as you could have been granted authorisation yet your access token could be stale.  Re-authentication would be applicable in this case.  Open for debate thought, thank you for starting the discussion!

[2020-05-13 15:08] HPsisodia opened #5413 "how to fetch data from local dynamodb table and inject it on a template?"
I am using a community connector and now i want to inject some data from the table created in dynamo dynamically on a web template.  i have created a model, a datasource (have to select "other" as dynamo is not officially supported and installed a connector by "npm i loopback-connector-dynamodb") a repository (connected model to datasource) and controller. I am new to loopback and would really app

[2020-05-13 15:26] raymondfeng commented on #5411
I think we can address this issue as follows:

1. Extend [AuthorizationOptions](https://github.com/strongloop/loopback-next/blob/b01bb1154346f8dd2786a13e21e291dc52ca35e1/packages/authorization/src/types.ts#L170) to include a `defaultStatusCodeForDeny`. If not specified, use `403`.

2. Honor `options.defaultStatusCodeForDeny` in https://github.com/strongloop/loopback-next/blob/b01bb1154346f8dd2786a

[2020-05-13 15:34] Fennixx commented on #5395
[code]

[2020-05-13 15:44] #5409 closed

[2020-05-13 15:50] InvictusMB commented on #5411
@dougal83 Could you provide an example scenario?
The way I understand it, when you reach the authorizer you either had a valid token or no token at all. A stale token would have errored out on authentication step.

[2020-05-13 16:27] dougal83 commented on #5411
Sure, it's possible to have stale tokens say for jwt whereby you can have out of date claims.  Say you login to two devices and you update your jwt token on one device and your claims are up to date as expected.  However depending on how you handle refreshing tokens, the second device with stale claims can make a call to a resource and not include the updated claims (say additional claims/scopes).

[2020-05-13 17:06] agnes512 commented on #5314
@InvictusMB I totally understand. Unfortunately it's the limitations of current design :(  The filtered (excludes fk in this case) data is passed to the next query. And the nested relation needs the fk for `findByForeignKeys`. That's why it doesn't work.

I agree that `fields` should be more intuitive. Besides adding options to the generator and enhancing the docs, is there any room to improve the

[2020-05-13 20:21] JacquesBonet opened #5416 "Update list of lb4 connector"
## Steps to reproduce

In this lb4 documentation page https://loopback.io/doc/en/lb4/Community-connectors.html,
are listed communities connectors.

## Current Behavior

Unfortunatly, not all these connectors are not compatible with lb4.

## Expected Behavior

List only lb4 compatible connector

[2020-05-13 20:45] InvictusMB commented on #5411
@dougal83 I agree with @raymondfeng's suggestion. However I am hesitant to have more knobs and handles to play with. Also if there was a global option I would be tempted to ask for an overload option on a per resource basis.
I read your scenario as follows: we ask the client to refresh a jwt token whenever he does not pass the authorization. I've worked with services which behaved like that and it

[2020-05-13 20:57] dougal83 commented on #5411
@InvictusMB Loopback is constantly being developed so as refinements come in then please do get involved in the discussions.  There are some issues discussing refresh token behaviour that might be of interest to you?  Have a search and see if the discussion looks promising or you have an alternative approach to suggest.  I'm interested in this area so I'd be happy to get involved in discussion too

[2020-05-13 21:01] InvictusMB commented on #5314
@agnes512 I don't see where this limitation comes from.
`findByForeignKeys` helper has access to foreign key metadata
https://github.com/strongloop/loopback-next/blob/a81ce7e1193f7408d30d984d0c3ddcec74f7c316/packages/repository/src/relations/relation.helpers.ts#L57
and it already modifies the filter
https://github.com/strongloop/loopback-next/blob/a81ce7e1193f7408d30d984d0c3ddcec74f7c316/packages/

[2020-05-13 21:05] OlivierDupre commented on #2453
Thanks a lot @raymondfeng You made my day.

By the way, that is a pretty strange behavior. I would expect prettier to list issues, not to fail without any hint.

But this is a completely different topic and has nothing to do with Loopback.

Thanks again.

[2020-05-13 21:35] dhmlau commented on #5416
@JacquesBonet, thanks for bringing this up. We probably need to revisit this page.
Is there any connectors that you know that won't work with LoopBack 4? If so, would you like to submit a PR to remove it? Thanks.

[2020-05-13 21:36] InvictusMB commented on #5411
@dougal83 The unpleasantness that I referred to is actually out of scope of LB4 and server side implementation of token refresh. It emerges on the client side. It is one of the reasons I've created this issue in the first place.
For a client there is just no graceful way to handle a false 401.
Imagine a scenario:
1. I am a client and I have a valid token.
2. I ask for a resource I'm not supposed t

[2020-05-13 21:46] dhmlau commented on #5407
@kanusoni, we recently published an extension called `@loopback/authentication-jwt`, this might make adding jwt authentication eaiser: https://github.com/strongloop/loopback-next/tree/master/extensions/authentication-jwt.

While learning how to use this extension, I created this blog: https://medium.com/@MobileDiana/add-jwt-authentication-in-your-loopback-4-application-325137642c2c. Hope this help

[2020-05-14 06:59] kanusoni commented on #5407
@dhmlau Thanks Diana for you reply.
The blog which has been mentioned in above comment section is really helpful. now i am able to create both login and signup method in usercontroller class.
Thanks Again for publishing this blog.

[2020-05-14 07:02] JacquesBonet commented on #5416
Ok for the PR

[2020-05-14 07:48] deepakrkris commented on #4901
WIP PR opened https://github.com/strongloop/strongloop.com/pull/262

[2020-05-14 08:07] bajtos opened #5422 "How to leverage "booting an app using component" in extensions"
https://github.com/strongloop/loopback-next/pull/5304 added a helper allowing applications to load artifacts from other LB4 applications, see
https://loopback.io/doc/en/lb4/Booting-an-Application.html#boot-an-application-using-component

This concept can be useful to extension authors too, let's update our documentation to explain that in more details.

Related:
- docs: create REST API endpoints i

[2020-05-14 08:24] bajtos opened #5423 "How can extensions contribute (Express) middleware"
The pull request https://github.com/strongloop/loopback-next/pull/5118 introduced the concept of Middleware to LoopBack 4 applications and added a bridging layer allowing users to mount Express middleware in LoopBack 4 applications.

Let's update our documentation for extension developers to explain when and how to use this new feature.

Related:
- docs: create REST API endpoints in components + L

[2020-05-14 09:02] bajtos opened #5424 "How to migrate LB3 extensions contributing services (local and remote)"
This story is extracted from https://github.com/strongloop/loopback-next/issues/4099, where we researched existing LoopBack 3 components and various techniques they use.

Now we need to write documentation for extension authors to show how to solve the following use cases in LoopBack 4:

1. Add a new local service (a class providing JS/TS API), e.g. Push service or (database) Migration service.

[2020-05-14 09:15] bajtos opened #5425 "How to build a new API transport extension (or migrate a LB3 one)"
This story is extracted from #4099, where we researched existing LoopBack 3 components and various techniques they use.

Now we need to write documentation for extension authors to show how to solve the following use cases in LoopBack 4:

1. A new server type to handle requests coming from a non-REST source, e.g. Primus/WebSockets and RabbitMQ.

1. WebSockets: mount WebSocket-handler on the underl

[2020-05-14 09:25] bajtos opened #5426 "How can extensions introspect application artifacts"
This story is extracted from #4099, where we researched existing LoopBack 3 components and various techniques they use.

Now we need to write documentation for extension authors to show how to solve the following use cases in LoopBack 4:

1. Get a list of all models (entity classes) used by the application

2. Get definition of a given model (information about properties, relations, mixins, etc.)

[2020-05-14 11:16] fidgi commented on #5402
@raymondfeng @dhmlau I'm using :
$ lb4 -v
@loopback/cli version: 2.5.0

I'll try with the latest version

[2020-05-14 11:44] foxMclion commented on #5395
I'm having the same problem.

Node v12.16.1

[code]

[code]

[2020-05-14 11:49] kanusoni commented on #5407
@dhmlau can you help me out in the below issue:-
while i am signing in loopback4 explorer with credentials email: foo@bar.com and password: foobar
i am getting error which is shown in screenshot.

![Screenshot (2)](https://user-images.githubusercontent.com/65274176/81930728-9a3ed280-9606-11ea-8c4b-97049c8b3923.png)

because of this issue JWT token is also not generating.
your help will be apprecia

[2020-05-14 12:11] bajtos commented on #1857
@pookdeveloper I am not very familiar with Transaction-related APIs myself. Can you try to use `DefaultTransactionalRepository` instead of `DefaultCrudRepository`?

In the future, please post code snippets in text, so that we can copy, paste and edit to show you a fixed version. See https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2020-05-14 12:16] pookdeveloper commented on #1857
@bajtos thanks I will try it!

[2020-05-14 13:18] mrnetforge opened #5430 "@loopback/cli: Relation belongsTo create incorrect controller"
## Steps to reproduce

- Create sample model with id/name field
- Create another sample model with id/name field
- Create relation:
- `lb4 relation --sourceModel=Model --destinationModel=ModelTwo --foreignKeyName=model_two_id --relationType=belongsTo --relationName=relation_name -y`

## Current Behavior

When `relationName` is used as custom value, controller that is generated by cli have wrong re

[2020-05-14 15:20] deepakrkris commented on #5395
@Fennixx I created a lb4 app locally and used your open api spec to generate the following controller

[code]

[2020-05-14 15:22] deepakrkris commented on #5395
@Fennixx I do see that all descriptions are available along with the response body.

[code]

[2020-05-14 15:25] deepakrkris commented on #5407
@kanusoni please provide a sample project or sandbox to check your code

[2020-05-14 15:31] deepakrkris commented on #5101
@neha2683 please take a look at https://github.com/strongloop/loopback-next/issues/3459

[code]

and

https://loopback.io/doc/en/lb4/apidocs.repository.connector.execute.html

[2020-05-14 15:32] deepakrkris commented on #5408
@kanusoni please take a look at #3459

constructor(
    @repository(MyRepository)
    public myRepo: MyRepository,
  ) {
    this.user_Profile = userProfile;
  }
 async testData(
  ): Promise<any> {
    return await this.myRepo.dataSource.execute(`EXEC Get_Customer(?)`, ['CUSTID01']);
  }
and

https://loopback.io/doc/en/lb4/apidocs.repository.connector.execute.html

[2020-05-14 15:34] deepakrkris commented on #5413
@HPsisodia LoopBack is a REST API framework, and web templates is not included, that said, you can create a REST API to fetch details from the dynamo db back end and use that data in your web templates.

[2020-05-14 15:39] deepakrkris commented on #5413
@HPsisodia please take a look at https://loopback.io/doc/en/lb4/Getting-started.html and https://loopback.io/doc/en/lb4/Inside-LoopBack-Application.html#entity-layer-and-database-connectivity to get started with loopback, post any doubts you have , we will respond.

[2020-05-14 15:44] HPsisodia commented on #5413
@deepakrkris Also i am having trouble setting up credentials for dynamodb (Access key and secret key) in the local instance.  I have tried all the methods present in dynamo doc(add access key in the Environement variable) still whenever i run the server it says "credentials not found in environment variable".
My datasource.ts file is like this
const config = {
  name: 'dynamoDS',
  connector: 'dyn

[2020-05-14 15:52] dhmlau commented on #5416
Thanks. Let me assign this issue to you then.

[2020-05-14 17:00] deepakrkris commented on #5192
@fgvicente all models are binded in the application context with prefix `model.`, you can get a model with ctx.get('models.' + modelName). Please take a look at https://github.com/strongloop/loopback-next/pull/5378

[2020-05-14 17:04] raymondfeng commented on #5192
A better way is to use `ctx.findByTag('model')`

[2020-05-14 21:38] joel-izaguirre commented on #1914
This problem is solved? I still have the same problem.
I put the decorator in model:

@model({
  settings: {
    hiddenProperties: ['Password'],
    strict: false,
  },
})

and the response still show de Password property.

![image](https://user-images.githubusercontent.com/3409242/81988510-3534ae00-9601-11ea-8394-094d287e81c1.png)

[2020-05-14 22:41] deepakrkris commented on #5149
moving to backlog, will assign target milestone in estimation meeting

[2020-05-14 22:50] deepakrkris commented on #4990
@jannyHou could you please fill in the acceptance criteria for this issue ?

[2020-05-14 23:24] frbuceta commented on #1914
I don't know what exactly is happening but it works for me
[code]

[2020-05-14 23:58] dhmlau commented on #5407
+1. From the error in the screen shot, it seems like the `password` was not specified. If it was specified and still got this error, it's the best if you can share your app. Thanks.

[2020-05-15 01:30] joel-izaguirre commented on #1914
The problem is with de setting "strict: false", if eliminate that, works well, Is it normal or is an error?

[2020-05-15 05:41] kanusoni commented on #5407
newlbapp.zip
<https://drive.google.com/file/d/1ydc8jzw3VRHhaQ_PGn1drz5FJZ3_qsaB/view?usp=drive_web>

On Fri, May 15, 2020 at 5:28 AM Diana Lau <notifications@github.com> wrote:

[2020-05-15 05:43] kanusoni commented on #5407
@deepakrkris @dhmlau sent App to you. please check the code and let me know the solution.
Thanks.

[2020-05-15 05:57] kanusoni commented on #3459
@ dhmalu The above code is working fine.
but how we can create an API to get the list of stored procedure and to execute the stored procedure of MySQL database in loopback4 GUI explorer.

[2020-05-15 06:14] kanusoni commented on #5408
@deepakrkris @dhmlau That code you mentioned in #3459 is working fine.
But what i want is to get the list of stored procedure and execute the stored procedure of MySQL database using an API in loopback4 explorer.
Thanks.

[2020-05-15 07:27] spirAde commented on #4673
@bajtos Hello, I started to implement this script. At the moment I'd finished license checker and found that docs folder(`loopback-next/docs`) doesn't contain `LICENSE` file although Lerna includes this folder as a package. Should I exclude the docs folder from checks or rather to add the `LICENSE` file in the docs folder?

[2020-05-15 09:00] spirAde commented on #4673
And second question. Should the script take into account packages from the `acceptance folder` that are marked as `private` in the `MONOREPO.md` folder in the npm column? Those packages don't contain names (like `@loopback/boot` or `@loopback/context`) in the npm column, only `_(private)_` . Can I take `Package` column value like `[acceptance/extension-logging-fluentd]`  and compare it with the pa

[2020-05-15 09:21] dougal83 commented on #5407
@kanusoni FYI it is much easier to use github to share your project. See [guide](https://kbroman.org/github_tutorial/pages/init.html) on making a repo from existing project. That gives helpful souls a single command line option to pull your project. Best of luck.

[2020-05-15 09:33] kanusoni opened #5441 "Improve loopback4 authorization docs of using the component"
Hello ,
can you please provide separate demo tutorial for integration of authorization component with loopback4 API.
Whatever written in loopback.io tutorial is bit confusing.....needs more clarification on this.
Thanks.

## Acceptance Criteria

- [ ]  link to [access control migration example](https://github.com/strongloop/loopback-next/tree/master/examples/access-control-migration) is missing in

[2020-05-15 09:36] kanusoni commented on #5441
Hello ,
can you please provide separate demo tutorial for integration of authorization component with loopback4 API.
Whatever written in loopback.io tutorial is bit confusing.....needs more clarification on this.
Thanks.

[2020-05-15 10:26] kanusoni commented on #5407
@dougal83  shared the code in github repo.

[2020-05-15 11:39] spirAde commented on #4673
Could you also provide desirable text in CODEOWNERS.md for apiconnect extension, please

[2020-05-15 12:41] spirAde commented on #4673
Can I add Webstorm `.idea folder` to `.gitignore`?

[2020-05-15 13:55] ashkank83 commented on #5368
@raymondfeng Thanks for the comment as other said, adding
[code]
as well as adding the InvokeMiddleware import and inject line fixed my issue as well.

**Question: When we run lb4 update it updates all the dependencies regardless of them having breaking changes (major releases) or not. In cases like this update the developer will not know about changes which are necessary to make. Is there any rec

[2020-05-15 14:12] achrinza commented on #5368
One way to check for potential changes is via the [changelog docs page](https://loopback.io/doc/en/lb4/changelog.index.html).

[2020-05-15 14:16] frbuceta commented on #1914
I investigate it

[2020-05-15 14:17] ashkank83 commented on #5368
@achrinza Thanks for the reply.
I know we can go through change log for each component and check what has changed, however it maybe more efficient if the CLI can give a warning when a major update is happening i.e. if @loopback/rest is being updated from 3.x to 4.x which means there are breaking changes.

[2020-05-15 14:51] bajtos commented on #4673
@spirAde

That's awesome! I am looking forward to review the pull request. Feel free to open it as soon as you have something worth sharing, we can implement the linter iteratively in baby steps.

Please add `LICENSE` file to the docs folder.

I am afraid I don't understand what are you proposing :(

I think you will always need to read package metadata (e.g. `acceptance/extension-logging-fluentd/

[2020-05-15 18:51] Fennixx commented on #5395
Yes, you are right, now it works also for me, it must be that my project was generated in older version, because when I try it last time it asked me to upgrade project.
But thank you, I will close the issue now.

[2020-05-15 18:51] #5395 closed

[2020-05-15 22:26] dougal83 commented on #5407
@kanusoni I'm a little unsure how you've arrived at your implementation, it seems a little confused.  Are you following a particular tutorial?  It may be worth starting afresh following the tutorial mentioned above by Diana or use [Shopping Example](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user.controller.ts#L66-L122) as a reference to

[2020-05-16 09:02] matte23n commented on #5243
Yeah bro, this is what I have in my postgres.datasource.ts:

`@bind({scope: BindingScope.TRANSIENT})
@lifeCycleObserver('datasource')
export class PostgresDataSource extends juggler.DataSource
....`

And in my index.ts i'm doing `await app.migrateSchema();`

The problem is that with the annotation `@bind({scope: BindingScope.TRANSIENT})` the schema migration is not working, if i comment that all w

[2020-05-16 12:35] rhiwn opened #5457 "passport-login example doesn't run"
trying to get the lb4 passport login example to run, having the following problem.

## Steps to reproduce

lb4 example passport-login
npm start

## Current Behavior

Error: Cannot find module './__tests__/acceptance/fixtures/mock-oauth2-social-app'
Require stack:
- C:\Users\rhiwn\loopback4-example-passport-login\node_modules\@loopback\authentication-passport\dist\index.js
- C:\Users\rhiwn\loopback

[2020-05-16 12:36] rhiwn commented on #5457
node 14.2.0

+-- @loopback/authentication@4.2.3
+-- @loopback/authentication-passport@2.1.3
+-- @loopback/boot@2.2.0
+-- @loopback/context@3.7.0
+-- @loopback/core@2.5.0
+-- @loopback/express@1.1.0
+-- @loopback/openapi-v3@3.3.1
+-- @loopback/repository@2.4.0
+-- @loopback/rest@4.0.0
+-- @loopback/rest-crud@0.8.3
+-- @loopback/rest-explorer@2.2.0
+-- @loopback/security@0.2.8
+-- @loopback/service-

[2020-05-16 14:07] achrinza commented on #5457
Duplicate of #5380

[2020-05-16 14:07] #5457 closed

[2020-05-16 16:48] foxMclion opened #5458 "404 OPTION - Reason: CORS header ‘Access-Control-Allow-Origin’ missing)."
Loopback is always sending 404 responses to preflight requests (I'm sending application-json content type requests). It seems loopback is not sending the cors response header.

404 OPTION - `Reason: CORS header ‘Access-Control-Allow-Origin’ missing).`

## Steps to reproduce
Use this configuration for the loopback 4 application:

[code]

[2020-05-16 17:00] lakshmansai1980 commented on #5244
Any updates on this issue pls ..  i am looking for the solution for this issue.

[2020-05-16 17:09] tipuban commented on #5458
@foxMclion You need to update your sequence.ts (or use DefaultSequence) if it was generated by an older cli. Please refer to https://github.com/strongloop/loopback-next/issues/5368

[2020-05-16 17:19] raymondfeng commented on #5458
@tipuban Thanks for the pointer. I'm closing this one as duplicate of #5368.

[2020-05-16 17:19] #5458 closed

[2020-05-16 17:30] foxMclion commented on #5458
Thanks, I modified the sequence but now I'm getting a 422 unprocessable entity for my POST. Now  the OPTIONS return 200 as per the config. I'm not sure if the 422 is CORS related.

[2020-05-16 17:35] foxMclion commented on #5458
solved thanks, the 422 is the openapi validation.

[2020-05-17 02:32] lswith opened #5464 "Logging Extension Improvements"
## Suggestion

- should include a global logger for use outside of the application so that we can make sure to catch and log exceptions for problems with the application boot-up. `console.log` won't cut it here as logs still need to be `json` structured and sent to an external logging service.

- Http Access Logs should be json structured rather than putting the log in string format.

## Use Cases

[2020-05-17 02:54] raymondfeng commented on #5464
@lswith Thank you for the suggestion. I consider a few things in this context:

1. Refactor https://github.com/strongloop/loopback-next/blob/master/extensions/logging/src/interceptors/logging.interceptor.ts#L85 to be a `middleware`. Are you willing to contribute a patch?

2. Consolidate our usage of `debug` into a `@loopback/common` or `loopback/utils` package. The module will make it easy to have

[2020-05-17 03:09] lswith commented on #5464
I've actually seen this interceptor and overwrote it to create my own HTTP Access Logger: https://gist.github.com/lswith/640b0d46996c94ce38f8c8037582188e

I don't think this is the right way to go though. @raymondfeng I am thinking that the interceptor works in a similar way to the `RejectProvider` where it takes a `LOG_ERROR` function? (see here: https://github.com/strongloop/loopback-next/blob/m

[2020-05-17 03:26] raymondfeng commented on #5464
@lswith I'm not sure if you are aware that we have added support for LB4 middleware and Express middleware. See https://loopback.io/doc/en/lb4/Middleware.html and https://loopback.io/doc/en/lb4/Express-middleware.html. What I proposed was to convert the global interceptor into a middleware.

[2020-05-17 06:42] jannyHou commented on #5298
Closing after #5403 merged.

[2020-05-17 06:42] #5298 closed

[2020-05-17 06:42] jannyHou commented on #5300
Closing after #5403 merged.

[2020-05-17 06:42] #5300 closed

[2020-05-17 08:33] fenixsolorzano commented on #5282
I'm also needing this for one of our project, as of today we would have to write the code on our own right?

[2020-05-17 23:10] #4160 closed

[2020-05-18 00:40] dhmlau commented on #5282
@raymondfeng, any suggestions?

[2020-05-18 01:35] raymondfeng commented on #5282
@fenixsolorzano We do support SOAP Web Service today but in a weakly typed style. See https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html#datasource-for-soap-web-service and https://github.com/strongloop/loopback-next/tree/master/examples/soap-calculator.

[2020-05-18 04:34] kanusoni commented on #5407
@dougal83 I followed this [https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user.controller.ts](url) tutorial only.
and after changing the above mentioned lines, this is not working fine yet.

[2020-05-18 04:37] kanusoni commented on #5407
@dougal83 i followed this [https://github.com/strongloop/loopback4-example-shopping](url) tutorial only.
and after changes in above mentioned lines, this is not working fine yet.

[2020-05-18 04:40] kanusoni commented on #5407
@dougal83 i am following this [Shopping example](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user.controller.ts) tutorial only.
And After changing the above mentioned lines, its not working fine yet.
Thanks

[2020-05-18 06:58] noorix1 opened #5473 "error starting example. Looks like missing file"
I installed the lb4 example passport-login
then did the steps as expected by npm i in the install directory

when i do npm start, the app won't start and gives the error:

Error: Cannot find module './__tests__/acceptance/fixtures/mock-oauth2-social-app'

I am using Ubuntu 20.04 with current versions of  NPM (6.14.4), node (14.2.0) and loopback 4

[2020-05-18 07:17] bajtos opened #5474 "Broken table of contents in changelogs"
Auto-generated table of contents in change log pages is broken.

Take https://loopback.io/doc/en/lb4/changelog.core.html as an example:

<img width="633" alt="Screen Shot 2020-05-18 at 09 15 01" src="https://user-images.githubusercontent.com/1140553/82184519-1297e300-98e8-11ea-9f77-2f3ac335b6d9.png">

- There are no entries for versions `2.0.0`, `2.1.0` and `2.2.0`
- Subsections like `Features` an

[2020-05-18 09:15] #5473 closed

[2020-05-18 09:16] dougal83 commented on #5473
Looks like duplicate, see #5380

[2020-05-18 12:31] bajtos opened #5476 "How can extensions contribute Entities with persistence behavior and REST API"
This story is extracted from #4099, where we researched existing LoopBack 3 components and various techniques they use.

Now we need to write documentation for extension authors to show how to solve the following use cases in LoopBack 4:

- [ ] Contribute custom entities (Application, Installation) to be persisted via CRUD, exposed via REST and possibly further customized by the app. Customization

[2020-05-18 12:42] bajtos commented on #5476
Let me share few ideas I considered while working on the spike.

- We can leverage "booting an app using component" to allow components to be written as mini-applications, see https://github.com/strongloop/loopback-next/issues/5422

- Components can export only the model (entity) class and ask consumers to use [`ModelApiBooter`](https://loopback.io/doc/en/lb4/Creating-crud-rest-apis.html) to add t

[2020-05-18 12:43] bajtos commented on #5476
This is tricky because LB4 does not have first-class implementation of operation
hooks yet. The current workaround is to leverage juggler's Operation Hooks as
explained in
[Migrating CRUD operation hooks](../site/migration/models/operation-hooks.md).

[2020-05-18 13:18] khlilturki97 opened #5479 "Migrating MySQL and Mongo on the same project causes a crash"
I followed [this tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html) and everything worked fine. I managed to work with relations on MySQL db.

In my use case, i had to add another datasource based on Mongo and i had a bug while migrating

i had to translate it from french, the original text is

i digged a little in `RepositoryMixin` class, and found out that the problem came f

[2020-05-18 13:19] khlilturki97 opened #5480 "Compiler does not compile Loopback 4"
Hi

I was debugging a project when i found out that the compiler at some point does not work. It did not print any error to console.
I deleted the dist folder and ran compile command, no dist folder was created. Still no error to console

I tried to delete tsconfig.json and tsconfig.tsbuildinfo and then it worked.

I had this bug multiple time (i don't know when it happened neither why)

I am susp

[2020-05-18 15:12] raymondfeng commented on #5480
Please run `npm run clean && npm run build`.

[2020-05-18 15:12] #5480 closed

[2020-05-18 17:42] deepakrkris commented on #5479
@khlilturki97 how did the following help ?
we are checking for !options?.models in the if condition and the proceeding to iterate the same options?.models in the else block ?

[code]
Can you provide a sample project to recreate the issue you are facing ?

[2020-05-18 18:43] #5380 closed

[2020-05-18 19:51] khlilturki97 commented on #5479
@deepakrkris the migration script has to know if a model is part of a datasource or not

If youre not passing an array in migrate.ts, it will execute normally, but if you pass one, according to the actual implementation of the method, it will try to associate all the models in the array to each datasource which leads to a bug

I cant give access to the repo, but if it is necessary i will create a

[2020-05-18 20:03] madaky commented on #1234
@dhmlau, @bajtos  : As per my observation the global trends says that most of the developer use nodemon for watch configuration of their projects, Also in this particular thread and other thread related to debug and watch most of the developer easy integration with nodemon.

[2020-05-18 20:50] raymondfeng commented on #5474
@bajtos The html page is rendered directly from `CHANGELOG.md`, which is automatically generated by `lerna version|publish`. See https://raw.githubusercontent.com/strongloop/loopback-next/master/packages/core/CHANGELOG.md. It seems to have patch versions as child items under a minor version.

[2020-05-18 21:23] frbuceta commented on #1914
@joel-izaguirre In the next version of LoopBack (in a few days) it will work

[2020-05-18 23:12] fenixsolorzano commented on #5282
Will it be possible to get the same functionality of `lb soap` anytime soon?

[2020-05-19 01:35] #5474 closed

[2020-05-19 06:54] lswith commented on #487
I'd like to add to the scope of this. In Martin Fowler's [Evolutionary Database Design](https://www.martinfowler.com/articles/evodb.html#ThePractices) he mentions at the bottom an extremely common occurence:

I think loopback lends itself well here as the data access layer (models, repositories, connectors, DataSources) are all dependency injected and could potentially be separated into an externa

[2020-05-19 07:07] #2609 closed

[2020-05-19 08:52] bobby91560 opened #5510 "Generated Controllers using openapi command"
Hello,

I have used the command lb4 openapi that generated successfully all I wanted regards to my yaml configuration.
I just wanted to know if there was a way to separate all the description in the controller, representing by the decorator @api et @operations, in a different file, to have a more readable controller ?
Or a way to have something more cleaner ?

Thanks for your response

[2020-05-19 18:09] jannyHou commented on #5441
@kanusoni We have a tutorial for the access control example in https://loopback.io/doc/en/lb4/migration-auth-access-control-example.html

[2020-05-19 19:31] dhmlau commented on #5430
@mrnetforge, would you like to submit a PR? Thanks.

[2020-05-19 20:05] mrnetforge commented on #5430
Sure

[2020-05-19 20:17] dhmlau commented on #3862
Seems like it's no a high priority item. Moving out from Q3.

[2020-05-19 20:59] jannyHou commented on #4386
created PR in https://github.com/strongloop/loopback-next/pull/5493

[2020-05-19 22:04] n-francky commented on #110
Hello! I would like to help as well!!

[2020-05-19 23:01] alexnfsc175 opened #5496 "@loopback/context uuid error"
## Steps to reproduce

In the last version of the loopback, @ loopback / cli version: 2.7.0, when running npm run start, I get an error related to uuid

[code]
The error:
[code]
in this test I get the same error
[code]
Node version:
[code]

[2020-05-19 23:30] raymondfeng commented on #5496
@alexnfsc175 Please don't use node 13.3.0. It includes a bug for `import`.

This issue is duplicate of https://github.com/strongloop/loopback-next/issues/5381

[2020-05-19 23:30] #5496 closed

[2020-05-19 23:33] dhmlau commented on #5187
@madaky, per our discussion on Slack, seems like you'll try to work on that. Assigning this to you now. Thanks!

[2020-05-20 00:01] alexnfsc175 commented on #5496
@raymondfeng Thanks for your help

[2020-05-20 02:05] dhmlau commented on #3978
All the tasks in this epic are done. Closing this as done!

[2020-05-20 02:05] #3978 closed

[2020-05-20 11:55] khlilturki97 opened #5503 "bug in todo list tutorial"
in todo list tutorial, in [this step](https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html#specify-the-foreign-key-constraints-in-todo-model), foreignKey attribute should match the model field
[code]
here it's in lowercase, meanwhile the `lb4 model` command generates it in camelCase

[2020-05-20 12:20] khlilturki97 commented on #5479
@deepakrkris here's [a repository containing the issue](url)

## What i did

- i followed [Todo Tutorial](https://loopback.io/doc/en/lb4/todo-tutorial.html) (i didn't integrate geocoder) and [Todo List tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial.html) with the "[Running on relational databases step](https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html)" (i used MySQL instea

[2020-05-20 13:50] agnes512 commented on #4846
Closing as done

[2020-05-20 13:50] #4846 closed

[2020-05-20 13:52] agnes512 commented on #4844
closing as done

[2020-05-20 13:52] #4844 closed

[2020-05-20 16:54] dhmlau commented on #5503
For postgresql, all the column names are in lower case, so the `foreignKey` is mapping to the column name instead of the model name.

[2020-05-20 20:50] khlilturki97 commented on #5503
Oh my bad thank you

[2020-05-20 20:50] #5503 closed

[2020-05-21 07:15] kanusoni commented on #5407
@dhmlau any update from your side on the code which i sent to you?

[2020-05-21 17:39] marioestradarosa commented on #5282
@raymondfeng , I am planning to add this functionality during the following weeks. As a starting point we can inspect the wsdl at `lb4 datasource` creation time and ask the developer which remote methods he/she wants to incorporate. I will try to see the current strong-soap package capabilities to retrieve this meta data.

Then I think we can incorporate another option `lb4 soap` to add methods to

[2020-05-21 17:57] madaky commented on #5187
@dhmlau: I am on it

[2020-05-21 21:29] raymondfeng commented on #5282
@marioestradarosa Thank you for stepping up. Here is what I have in mind:

1. We can mimic the flow of `lb4 openapi --client`

- Allow both `url` to the wsdl/xsd or `--dataSource` for an existing soap datasource
- Use `strong-soap` to load the wsdl/xsd
- List service/port/operations to selected (or just select all)
- List XSD elements/types used by the operations

2. The operations will translated

[2020-05-21 23:41] dhmlau commented on #5282
@marioestradarosa, thanks for taking up the implementation. Let me assign this issue to you now. Thanks.

[2020-05-22 00:23] mattkennedynz opened #5518 "Geo-coding tutorial missing import HttpErrors in todo.controller.ts"
When following the bonus geo-coding tutorial in the docs, I wasn't able to get the server running due to missing `HttpErrors` in the `todo.controller.ts`

## Steps to reproduce

Complete the original todo tutorial, then follow the changes in [https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html#navigation](https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html#navigatio

[2020-05-22 02:06] HrithikMittal opened #5520 "Running passport login example in CLI"
While using the CLI to install the example of passport login by
[code]

It's show error when installing the dependency '@loopback/mock-oauth2-provider@^0.0.3'
![image](https://user-images.githubusercontent.com/42075023/82623852-da9de200-9bfe-11ea-9aed-a6227b190bf6.png)

[2020-05-22 02:35] deepakrkris commented on #5520
for time being please open package.json and remove `"@loopback/mock-oauth2-provider": "^0.0.3",` under dev dependencies.

[2020-05-22 02:37] deepakrkris commented on #5520
also delete `../loopback4-example-passport-login/src/__tests__/acceptance/passport-login.acceptance.ts` and then do an npm I, you should be able to start the app then.

[2020-05-22 02:41] raymondfeng commented on #5520
@deepakrkris We need to publish `@loopback/mock-oauth2-provider`. Let me see what I can do.

[2020-05-22 02:46] raymondfeng commented on #5520
See @loopback/mock-oauth2-provider@0.0.3. It' on npm now.

[2020-05-22 02:47] HrithikMittal commented on #5520
Ya, it's available now. Thank you

[2020-05-22 03:05] marioestradarosa commented on #5282
@raymondfeng I agree with your approach and think it makes sense to have the datasource already there. Thanks @dhmlau 👍 . I will start the implementation.

[2020-05-22 03:41] HrithikMittal commented on #5520
Hey @raymondfeng and @deepakrkris I am still facing a problem while running this

![image](https://user-images.githubusercontent.com/42075023/82628851-9c5aef80-9c0b-11ea-8100-6d250effb534.png)

I also try to install the package 'npm install @types/loopback__mock-oauth2-provider' but it is not available.
and I also try by removing the package and
"
"

[2020-05-22 04:05] raymondfeng commented on #5520
Hmm, the package.json is missing `types` and `main`.

[2020-05-22 04:06] HrithikMittal commented on #5520
then what to do now? Please can you make the changes?

[2020-05-22 04:08] raymondfeng commented on #5520
You can delete the acceptance tests.

[2020-05-22 04:09] raymondfeng commented on #5520
We'll have to post a new version

[2020-05-22 04:12] raymondfeng commented on #5520
@HrithikMittal To try the example, you can do the following:

[code]

[2020-05-22 06:08] jgutix commented on #5340
@chavitodb88 seems to be that `npm install` needs to be done in the root, then `cd` into the example and `npm start`

[2020-05-22 07:21] johnmbarry-nhvr commented on #3589
The need for csrf tokens becomes irrelevant if JWTs are only stored in memory. We're implementing this approach with loopback4 and openapi-to-graphql. Reference:
https://hasura.io/blog/best-practices-of-using-jwt-with-graphql/#jwt_security

[2020-05-22 15:15] dhmlau commented on #5518
@mattkennedynz, thanks for reporting this. Would you be interested in submitting a PR? Here is the reference: https://loopback.io/doc/en/lb4/submitting_a_pr.html. Thanks.

[2020-05-22 18:45] #5430 closed

[2020-05-22 18:52] jannyHou commented on #5407
@kanusoni I had a quick look of your repo, seems you don't secure any of your endpoints with `@authenticate()`, that's probably the issue.

FYI - https://github.com/strongloop/loopback-next/pull/5463 is the latest working example that demos JWT AUTH only. The shopping example shows a more complicated scenario so it has noisy code for other stuff.

And that example's corresponding tutorial doc http

[2020-05-22 18:53] jannyHou commented on #4852
Closing as the blog gets approved. Thank you @hacksparrow 🎉 !

[2020-05-22 18:53] #4852 closed

[2020-05-22 19:29] mrnetforge opened #5531 "@loopback/cli: Controller rest generator with findOne method"
## Suggestion

Currently, cli generator controller doesn't provide findOne method inside file. Method findOne exists in repository that is associated with controller, so i think i should be generated. For now i must manually add this method to all my controllers

[code]

## Use Cases

`lb4 controller` with REST option should create findOne inside controller (example above)

## Examples

In my scen

[2020-05-22 19:41] raymondfeng opened #5532 "[eslint] Improve code base with explicit return type"
## Suggestion

As part of typescript-eslint v3 upgrade, we disable the following rule:

[code]

See https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/explicit-module-boundary-types.md

https://github.com/strongloop/loopback-next/pull/5513#discussion_r429055531

## Use Cases

## Examples

## Acceptance criteria

TBD - will be filled by the team.

[2020-05-22 22:01] madaky commented on #5187
Proposed Use Case for Referesh Token:  Any sugestion @jannyHou @deepakrkris  @dhmlau
![proposerefresh](https://user-images.githubusercontent.com/17172989/82712552-daa4ed00-9ca5-11ea-8e89-b1a054b339b6.png)

[2020-05-22 22:36] madaky opened #5536 "extension authentication-jwt email: uniquness & UUID for ids"
For extension @loopback/authentication-jwt there are two suggestions to improve:
1) The id should be UUID and
2) Email of the user should be unique

## Use Cases
For UUID:
UUID values are unique across tables, databases, and even servers that allow you to merge rows from different databases or distribute databases across servers. UUID values do not expose the information about your data so they ar

[2020-05-23 00:00] dougal83 commented on #5536
For unique email, you can use the database to ensure the uniqueness. See [shopping example](https://www.github.com/strongloop/loopback4-example-shopping/tree/master/packages%2Fshopping%2Fsrc%2Fmodels%2Fuser.model.ts) that uses a unique constraint. How does this fit with your train of thought?

[2020-05-23 00:08] #4877 closed

[2020-05-23 02:10] dhmlau commented on #5531
@mrnetforge, are you interested in contributing this to the controller template?

[2020-05-23 02:11] dhmlau commented on #5510
@raymondfeng, what do you think?

[2020-05-23 02:23] dhmlau commented on #4849
Now that we have `lb4 openapi --client`, we should try to use this to generate the openapi client.

[2020-05-23 07:51] mrnetforge commented on #5531
@dhmlau Yes i will create pull request

[2020-05-23 11:46] madaky commented on #5536
@dougal83: I Yes you are right. and do think this should benefit users who are using this extension directly.
But Idea here is to implement(actually I have implemented this) that thought in to extension @loopback/authentication-jwt.

[2020-05-23 13:00] pratikjaiswal15 opened #5541 "Loopback 4 authentication Argument of type 'typeof CustomUserService' is not assignable to parameter of type 'Constructor<UserService<User, Credentials>>'."
I have followed this [link](https://github.com/strongloop/loopback-next/tree/master/extensions/authentication-jwt#customizing-user) for creating custom service for authentication in loopback 4. I successfully created the service but while binding this service in application.ts I am getting the following error.

**GIT REPOSITORY** - https://github.com/pratikjaiswal15/loopbck4uth
I have two models u

[2020-05-23 13:33] nflaig commented on #3589
@johnmbarry-nhvr interesting article and approach but I see two problems with it.

1. Storing JWTs in-memory on the client still leaves them vulnerable to XSS. If your javascript can use them so can the attacker.
2. In my opinion there is way to much the client needs to take care of. If you use a cookie only approach almost everything can be done by the auth server. However, I guess if you have a

[2020-05-23 13:57] dougal83 commented on #5536
@madaky Are you checking uniqueness in code?  I think you've got to be wary of race conditions(unlikely but possible) but IMO ultimately database should be constrained so you would need to contend with the decoupled data connectors.

For UUID idea, I do have a personal preference to expose non db keys (and link to key) for something like one time tokens(r.g. reset password token) but that being sa

[2020-05-23 18:00] mattkennedynz commented on #5518
Thanks @dhmlau, but it's probably better someone else looks into this. I'm learning to code—and I don't know if there there was a `lb4 controller` configuration missed in the earlier tutorial which might have imported this for us.

[2020-05-24 09:03] fidgi commented on #5399
:+1:  I vote for this one. It would be of a great help for us.

[2020-05-24 09:04] #5402 closed

[2020-05-24 09:13] pratikjaiswal15 commented on #5541
Please find git repository https://github.com/pratikjaiswal15/loopbck4uth

[2020-05-24 12:59] madaky commented on #5541
If you look at the error you will get clear vision of what you are missing: So lets proceed line by line.

Construct signature return types 'CustomUserService' and 'UserService' are incompatible.
Explanation : This clears you that the services that you are trying to bind has signature difference which exactly means the fingerprint are mismatch..

The types returned by 'verifyCredentials(...)' are

[2020-05-24 13:38] SumanBandopadhyay opened #5546 "'npm start' on lb4 app fails with error "events_1.once is not a function""
Facing issue while starting with the loopback 4 "getting-started" application.
All steps were followed as mentioned in the [link](https://loopback.io/doc/en/lb4/Getting-started.html#create-a-new-project) to set up a new lb4 application.

After the application got created, the 'npm start' was unable to start the application.
[Note: I did not make any change to the project after it was created.]

Be

[2020-05-24 14:40] pratikjaiswal15 commented on #5541
Thank a lot @madaky. I appreciate it. I had to change has one property name from `userCred `to  `userCredentials` to get rid of that issue. But as you stated I have got many errors and I tried to correct them. Correct me if I am wrong

1. Initially I got error with id. If I don't use ! while returning from custom-service then I was getting `object is possibly undefined` error. So I have to remove

[2020-05-24 15:17] raymondfeng commented on #5546
What’s your node version? We require 10 or above.

[2020-05-24 16:55] madaky commented on #5541
@pratikjaiswal15 : Notice this
 ** The types of 'userCredentials.id' are incompatible between these types.
            Type 'number | undefined' is not assignable to type 'number'.**
you will find answer. :)

[2020-05-25 08:22] bajtos opened #5549 "RFC: Adopt the four-quandrant documentation system"
I am proposing to adopt the documentation system described at https://documentation.divio.com and successfully used by [Django](https://www.djangoproject.com) and others, and reorganize our documentation along the following four directions:
1. Tutorials
2. How-to guides
3. Reference
4. Background/Key concepts/Discussion/Explanation

![Overview of the documentation system](https://documentation.div

[2020-05-25 09:04] bajtos opened #5550 "RFC: Reorganize code & docs along abstraction levels"
In my view, loopback-next is currently a mixed bag of low-level building blocks like `@loopback/metadata` and high-level framework packages like `@loopback/core` and `@loopback/rest`. Our documentation is often describing concepts from different abstraction layers in the same place, which makes it IMO more difficult for newcomers to learn how to use the framework.

I am proposing to reorganize our

[2020-05-25 09:06] bajtos commented on #5113
In the past days, I was thinking quite a bit about our documentation and opened two issues to discuss how to overhaul our documentation structure for better:

- RFC: Adopt the four-quandrant documentation system #5549
- RFC: Reorganize code & docs along abstraction levels #5550

Please let me know what you think!

[2020-05-25 09:07] rokoo commented on #5546
same issue with node v10.12.0, but after use v12.16.0 problem solved.

[2020-05-25 09:13] pratikjaiswal15 commented on #5541
Thank you so much. I resolved everything.

[2020-05-25 09:14] #5541 closed

[2020-05-25 10:04] hacksparrow opened #5551 "RFC: Cause of the documentation issue and proposal for a possible solution"
[code]

looks much better from a users's perspective, than:

[code]

Mixins are our tools for composability; it is a great pattern for the people developing the framework but is not a great DX for the users of the framework, especially new users. We should shield them from internal implementation and present a simple `RestApplication` class, which they can use for creating their REST apps. `RestAp

[2020-05-25 12:20] hacksparrow commented on #5113
In my opinion, the documentation problem is caused by what our user think LoopBack is, and what it actually is. My take on it - https://github.com/strongloop/loopback-next/issues/5551.

[2020-05-25 13:37] bajtos commented on #5551
Thank you for starting the discussion, @hacksparrow.

One one hand I agree with you that the current template for building REST+Repository applications may look complex.

On the other hand, we are discussing support for other ORMs like TypeORM and Mongoose/Typegoose, and other transport protocols like Kafka (and pub/sub style in general). Application-level mixins like `RepositoryMixin` and `Servic

[2020-05-25 13:46] bajtos commented on #4099
Closing as done 🕺

[2020-05-25 13:46] #4099 closed

[2020-05-25 14:28] dhmlau commented on #5294
@jannyHou, could you please add acceptance criteria for estimation? Thanks.

[2020-05-25 14:31] RuslanUshakov commented on #4995
Any updates?

[2020-05-25 15:31] dhmlau commented on #5536
PR #5544.

[2020-05-25 15:34] dhmlau commented on #5441
@jannyHou, is it a duplicate of #5294?

[2020-05-25 15:57] raymondfeng commented on #5546
The `once` method was added in: v11.13.0, v10.16.0. See https://nodejs.org/api/events.html#events_events_once_emitter_name. Please use Node.js 10.16.0 or later.

CC @bajtos

[2020-05-25 15:57] #5546 closed

[2020-05-25 16:11] fabripeco commented on #2220
Please add some documentation ([https://loopback.io/doc/en/lb4/Model.html]). It's a common issue I think (PATCH via REST API to null some values). Please refer also to how to null to a relation (belongsTo for example).
I resolved with:
`
@belongsTo(() => ProductType, {name: 'productType'}, {name: 'unit_type_id', jsonSchema: {nullable: true}, })
  unitTypeId?: number;
`

[2020-05-25 17:30] HrithikMittal opened #5555 "Where to provide Auth JWT SECRET Key"
I was trying to implement the JWT authentication and I am successful in doing that but I want to ask that we haven't provided any JWT Secret key. So is this is not needed in loopback4 (everything is handled internally.) or I am doing something wrong?
I was comparing it with this: https://www.npmjs.com/package/express-jwt

[2020-05-25 17:32] HrithikMittal commented on #5555
I also refer one of your developer repo to implement JWT token
Repo link: https://github.com/dhmlau/loopback4-example-todo-jwt

[2020-05-25 17:43] dougal83 commented on #5555
HI @HrithikMittal
I'm not sure that example is complete, how did you find it?  Have you followed an [authentication tutorial](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html)?  The example referred to in the aforementioned tutorial contains the secret in a [key bindings file](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/keys.ts).  Take a lo

[2020-05-25 17:45] hacksparrow commented on #5551
The user would express their strategy in a config object (code or file), our framework should be able to figure out the implementation for them. I haven't thought about how to do it, yet. However, I am sure this is something that's not impossible. If done, it would be a wonderful experience for our users.

If changing the concept of LoopBack is too disruptive, maybe `@loopback/venus` - the REST AP

[2020-05-25 17:46] HrithikMittal commented on #5555
Ya I got it thanks

[2020-05-25 17:46] #5555 closed

[2020-05-25 18:23] HrithikMittal opened #5557 "Can we provide authorization in complete controller class?"
In spite of implementing the authorization to the particular route with the help of decorator like
[code]

is there a way I can implement it to the complete controller class?
[code]
may be in constructor?

[2020-05-25 18:29] dhmlau opened #5558 "Rename "legacy juggler bridge" mentioned in docs"
From our last maintainer's call, @mitsos1os suggested that the term "legacy juggler bridge" might give the wrong impression to users that the juggler won't be supported or not working well because of the "legacy" word.

@bschrammIBM (our technical writer previously) had made a similar comment.

## Acceptance Criteria
- [ ] go through the occurrences of "legacy juggler bridge", rename it to simply

[2020-05-25 18:32] HrithikMittal commented on #5557
Ya, I got the answer by providing to the class rather than providing to the constructor.

[2020-05-25 18:32] #5557 closed

[2020-05-25 20:35] mmeilby commented on #2118
I just realized that if the above CategoryRepository has a hasMany relation to DocumentRepository and DocumentRepository has a belongsTo relation to CategoryRepository then you get a circular dependency error.
What should be done in this case as the Getter.fromValue(this) isnt really usefull here?

[2020-05-25 23:47] dhmlau commented on #5551
Great discussion.

I can see it could bring confusion for having `ServiceMixin` and `RepositoryMixin` for users who don't use those in their applications and wonder why it appears in the docs.

I'm not sure if we're ready to split LoopBack into various parts for different purpose. :). Like some other projects, they can have different flavor, e.g. Node.js, Java, PHP, and not necessarily to break th

[2020-05-26 00:20] dhmlau commented on #5549
@bajtos, I agree with you that some of our docs page are mixed with how-tos and explanation.
Are you thinking of each page (if applicable) to have 4 sections, or there will be 4 categories in the docs?

+1

[2020-05-26 00:53] dhmlau commented on #5479
@khlilturki97, I cloned your repo and understood your problem. Would you be interested in submitting a PR?

I'm not familiar with the code, one concern I have with your fix mentioned in the original description is that if there are multiple repository classes associated with the same model but different datasource, this case won't be taken care of. Ideally, we want to check with all repository, an

[2020-05-26 05:21] raymondfeng commented on #5549
@bajtos In addition to what you proposed, I would like all of us to think about the following perspectives:

- Persona (Platform developer, API developer, Microservice developers, Integration Developer)
- Usage scenarios (Expose REST APIs, Expose GraphQL, Expose gRPC, access databases, access existing services, enable authentication/authorization, Cloud native observability, Use third-party ORMs,

[2020-05-26 05:22] raymondfeng commented on #5551
Cross-post: https://github.com/strongloop/loopback-next/issues/5549#issuecomment-633813008

[2020-05-26 05:36] raymondfeng commented on #5550
I agree with the overall direction to reorganize the packages into a few more locations. The `packages/` is becoming a kitchen sink.

I have some slightly different opinions on how they are grouped. For example,

- platform: metadata, context, core, boot, cron

- servers (inbound)
  - http/https server: http-server, express
  - openapi-v3, openapi-spec-builder, model-api-builder, rest
  - graphql

[2020-05-26 06:54] manthan-sf opened #5563 "Getting 5000ms Timeout error while connecting Postgres"
`Error: Timeout in connecting after 5000 ms
    at Timeout._onTimeout (/home/manthan/Desktop/temp/temp/node_modules/loopback-datasource-juggler/lib/datasource.js:2654:10)
    at listOnTimeout (internal/timers.js:549:17)
    at processTimers (internal/timers.js:492:7)`

But I also made a js file and tried to make  connection there to check any issue with  postgres ,
![Screenshot from 2020-05-26 11-

[2020-05-26 09:38] bajtos opened #5565 "Support repository mixins when scaffolding repositories and rest-crud APIs"
## Suggestion

At the moment, we allow sharing of repository code via Repository Base Classes only. The command `lb4 repository` looks for `src/repositories/*.repository.base.ts` and treat them as repository base classes to offer in the prompt:

[code]

While easy to use, Repository Base Classes have few shortcomings too.

1. JavaScript does not support multiple inheritance, thus it's not possible

[2020-05-26 09:48] madaky commented on #5563
Can you try localhost at host and try

[2020-05-26 10:52] manthan-sf commented on #5563
@madaky yes i tried it with ip
![Screenshot from 2020-05-26 16-21-52](https://user-images.githubusercontent.com/53930889/82892425-0a394b00-9f6d-11ea-949a-54756795f475.png)
but got same error

[2020-05-26 11:02] manthan-sf commented on #5563
yes i tried but got same error
![Screenshot from 2020-05-26 16-31-47](https://user-images.githubusercontent.com/53930889/82893315-71a3ca80-9f6e-11ea-9559-6010527f6914.png)

[2020-05-26 11:53] madaky commented on #5563
Please check

1.  npm run clean

1. npm run build

1. npm run migrates
helps you ?

[2020-05-26 12:43] pratikjaiswal15 opened #5567 "Loopback 4 authorization allowing access to all type of users"
I am following [this](https://www.npmjs.com/package/@loopback/authorization) article for implementing authorization in my app. The user with the admin role can perform certain operations that other users can't.

But it is not working. The controllers are accessible to all type of users

Here is the code

Thank you in advance

user model has a property called role
[code]
authorizer.ts

[code]

appl

[2020-05-26 14:00] manthan-sf commented on #5563
`npm run build` is working well , and making dist , but `npm run migrate` gives same error, tried 3d point also , but problem persists

[2020-05-26 14:40] mathias22osterhagen22 commented on #5520
@raymondfeng

git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

[2020-05-26 14:40] madaky commented on #5536
Thanks @dhmlau @jannyHou @bajtos @raymondfeng @dougal83 : for the help.

[2020-05-26 14:41] #5536 closed

[2020-05-26 14:46] raymondfeng commented on #5520
The issue is fixed by #5522. We'll publish a release.

[2020-05-26 14:47] raymondfeng commented on #5520
@mathias22osterhagen22 You don't seem to have `ssl` key set up for your git account. But you should be able to run:
[code]

[2020-05-26 14:47] #5520 closed

[2020-05-26 15:03] mathias22osterhagen22 commented on #5520
@raymondfeng
Yes sorry to reopen but still not working even following your steps :
[code]

I will wait for the release, all the documentation part about authentication + authorization is really difficult to understand.

[2020-05-26 15:10] raymondfeng commented on #5520
@mathias22osterhagen22 You need to follow these steps:

[code]

[2020-05-26 15:28] InvictusMB commented on #3033
@zzhenryquezz @raymondfeng

I have an issue with this approach. lb4 inlines this jsonSchema fragment into both `Person` and `PersonWithRelations` schemas. Which in turn causes the `openapi-generator` to create 2 separate enums in typescript code therefore making `Person` and `PersonWithRelations` types on the client side not compatible.
Is there a way to extract this piece into a reusable ref or t

[2020-05-26 15:29] deepakrkris commented on #5520
@mathias22osterhagen22 you will have to create the oauth template spec as per https://github.com/strongloop/loopback-next/tree/master/examples/passport-login#create-oauth2-providersjson

[2020-05-26 17:55] ohenning opened #5569 "@loopback/cli - "RangeError: Maximum call stack size exceeded" using lb4 openapi"
When trying to generate models for my lb4 project from a fairly large openapi spec, i'm getting a call stack error. The spec can be found here: https://technicalmasterdata.xtk-dev.de/swagger/v1/swagger.json. I double checked the spec on https://editor.swagger.io/ and it seems to be semantically correct.
## Steps to reproduce
Run `lb4 openapi https://technicalmasterdata.xtk-dev.de/swagger/v1/swagge

[2020-05-26 18:48] jannyHou commented on #5187
cc @madaky There is some discussion in https://github.com/strongloop/loopback-next/issues/4573, I need a bit more time to investigate, will get back to you asap

[2020-05-26 19:21] jannyHou opened #5570 "Add acceptance tests for nested array + documentation"
## Suggestion

Add shared acceptance tests of nested array property for all [connectors](https://github.com/strongloop/loopback-next/tree/master/acceptance)

cc @agnes512 based on discussion in https://github.com/strongloop/loopback-next/pull/5559#discussion_r430394432.

## Use Cases

With memory connector, people can define nested array property as:

[code]

We'd like to verify the CRUD behaviour

[2020-05-26 20:52] ybarbaria opened #5571 "X-Total-Count error loopback4"
## Steps to reproduce
I am using loopback4 for my backend and React-Admin to interact with the API.
Every request from ReactAdmin got this error :

## Current Behavior
I didn't find any option to add this specific header into loopback4.

## Expected Behavior
It should be possible to manage the header like for almost every framework and language.

## Additional information
**win32 x64 12.14.1**
**+

[2020-05-26 21:21] fenixsolorzano opened #5572 "Create model instance from plain-data object at controller methods"
## Suggestion

When method hits with a request body we can set it to have a model type, but in the method body the model is just plain-data object.

## Use Cases

Since models are classes I'd like to create computed properties for the model like getters, and also have functions to calculate stuff based on the properties that the class has.

## Examples

[code]

## Acceptance criteria

TBD - will b

[2020-05-26 21:30] raymondfeng commented on #5571
@ybarbaria Do you want to add `X-Total-Count` http response header or configure `CORS` to allow it to be sent back to the client?

[2020-05-26 21:34] raymondfeng commented on #5571
For CORS, you can set `exposedHeaders` to include `X-Total-Count`. See https://loopback.io/doc/en/lb4/Server.html#customize-cors and https://expressjs.com/en/resources/middleware/cors.html#configuration-options.

[2020-05-26 21:42] ybarbaria commented on #5571
@raymondfeng Thanks for your response finally I found a solution
`   this.response.setHeader('Access-Control-Expose-Headers', 'X-Total-Count');
    this.response.setHeader('x-total-count', (await count).length);`

But your solution is definitely better than mine ! :)

[2020-05-26 21:43] ybarbaria commented on #5571
Both :)

[2020-05-26 22:12] HrithikMittal opened #5573 "Loopback4 Authentication"
## Suggestion

I know you already create docs for adding the Authentication in loopback4 using the shopping example. But for developers to understand is tough (for me also previously as there are some bugs into also- in docs.)

## Use Cases
So, I create a repo with the Readme file where a complete processor and steps are mentions of implementing the Authentication is given. [Repo link: [https://gi

[2020-05-27 02:49] danielalejandrin commented on #5563
Hi, I got similar issue with postgresql and loopback4. I created the datasource with `lb4 datasource` command, then repository, controller and when I want to test it, I got a time out error. I've already done `npm run clean - npm run build`, deleted the node_modules folder and run npm install but I got same error. Could some one tell me what am I doing wrong?
By the way I'm following the todo tuto

[2020-05-27 05:29] pratikjaiswal15 commented on #5567
Anyone please?

[2020-05-27 07:33] mathias22osterhagen22 commented on #5573
I agree totally, I'm currently trying to add a simple user / login -> token into the API.
I'm fighting for 3 days, trying to make the tutorial in a loop + trying with the shopping example (that is not working) + passport example (that is not working too). It's so sad to see that the documentation is so hard to understand. When you go on the example for adding a JWT token authentification the page

[2020-05-27 07:36] HrithikMittal commented on #5573
Same I also suffered a lot and that's why I create a new project with complete steps (just go through the readme). I hope it will help you.
@mathias22osterhagen22

[2020-05-27 09:31] likexoo opened #5577 "Add missing "fuzzy" filters to `WhereBuilder`"
## Suggestion

Need `.like()` method for `WhereBuilder` in lb4.
So far I have followed [this doc](https://loopback.io/doc/en/lb4/Where-filter.html#like-and-nlike) to do fuzzy queries.

## Use Cases

## Examples

## Acceptance criteria

TBD - will be filled by the team.

[2020-05-27 09:35] hacksparrow commented on #5567
@pratikjaiswal15 can you share a simple app reproducing the behavior?

[2020-05-27 09:47] achrinza commented on #5577
Additional missing filters:
- like
- nlike
- ilike
- nilike
- regexp

[2020-05-27 10:28] pratikjaiswal15 commented on #5567
Here it is https://github.com/pratikjaiswal15/loopbackauthrization.
Authorization is not working. Access is allowed to all user roles.

[2020-05-27 11:21] lajosf commented on #2454
Dear @deepakrkris,
Are you working on the issue, or is it planned to be started near in the future? Thanks, Lajos

[2020-05-27 11:33] GitMastStas opened #5582 "SQS integration"
Was just trying to find implementation of SQS from AWS for loopback 4 but cant seem to find any resources whatsoever, would appreciate any sort of information on this topic and how to get it done.

[2020-05-27 11:40] khlilturki97 commented on #5479
@dhmlau yes sure,

But can you show me how to do it ?

[2020-05-27 12:17] lajosf commented on #3325
Any news here?

[2020-05-27 13:05] hacksparrow commented on #5567
@pratikjaiswal15 I am not sure, but the README of https://www.npmjs.com/package/@loopback/authorization seems to be missing some info. @jannyHou can you confirm?

Using a component is not the only way to enable authorization. Take a look at the [LoopBack 4 Example app](https://github.com/strongloop/loopback4-example-shopping), how it implements authentication and authorization. Maybe you will find

[2020-05-27 14:17] madaky commented on #5187
The discussion [ #4573](https://github.com/strongloop/loopback-next/issues/4573) : pointing towards adding a method signature in Authentication Component.

For giving User choice between Choosing need for refresh token. I implemented two interceptors
`
@intercept('refresh-token-generate') //to generate refresh token
@intercept('refresh-token-grant') // to  refresh token
`
Will finish and pull it l

[2020-05-27 14:17] pratikjaiswal15 commented on #5567
Thanks for your reply. Now, I have copied the code of basic-authorizer from the shopping example in my app. But the userProfile contains only two fields id and name. Other fields like role or email are undefined. So, I am getting 401 every time.  But while issuing token in my custom service I had returned many fields.

Can you please help?
Thank you in advance

authorizer.ts
[code]

custom-service

[2020-05-27 14:24] pratikjaiswal15 commented on #5567
I have added try.ts file for authorization in services in repository https://github.com/pratikjaiswal15/loopbackauthrization.

[2020-05-27 15:08] dhmlau commented on #4848
Closing as done.

[2020-05-27 15:08] #4848 closed

[2020-05-27 15:13] dhmlau commented on #4386
Closing as done.

[2020-05-27 15:13] #4386 closed

[2020-05-27 15:13] dhmlau commented on #4391
Closing as done.

[2020-05-27 15:13] #4391 closed

[2020-05-27 15:23] dougal83 commented on #5573
Please bear in mind that examples like the lb4 shopping example app are constantly updated with new features. The example apps can fall out of sync with the documentation for features such as authentication.  That being said, the lb4 shopping example should be a working copy that can referred to and reverse engineered into your own projects.

[2020-05-27 16:06] htrujill commented on #1830
Any update on this?

[2020-05-27 16:59] madaky commented on #5573
Extension @loopback/authentication-jwt, leverage off the burden from user to go from lots of manual work-offs. Just they need is small entries in their application.Yet this is under experimental release, but a good one to setup quick authentication.

[2020-05-27 17:24] HrithikMittal commented on #5573
@dougal83 I completely agree with you but the lb4 shopping example app is not that easy to understand and here I just give the Authentication and the steps in Readme are very easy to understand.

[2020-05-27 18:19] fubz opened #5581 "Loopback rest-crud models to multiple datasources"
Hello all,

I have a particular use case that I am trying to solve and based on a conversation I had with @raymondfeng at IBM Think in 2019, Loopback 4 should have the features required to solve my problem case.

I have an application that is Active/Active in multiple data centers and I need my Loopback application to handle updating an Oracle database in both data centers as well as combining and

[2020-05-27 18:35] raymondfeng commented on #5581
@fubz Have you checked out https://loopback.io/pages/en/lb4/readmes/loopback-next/examples/multi-tenancy/ for inspiration?

[2020-05-27 18:46] fubz commented on #5581
I did check out the multi-tenancy project.  It looked promising at first however it looks like this isn't my use case.  multi-tenancy in my understanding is having multiple users, having shared access to a singular database.  I need to have 1 user, connect to 1 loopback, that updates and joins data to and from multiple - but same schema - databases.

[2020-05-27 18:55] dougal83 commented on #5573
@HrithikMittal I appreciate that the lb4 shopping example is a steep learning curve compared to a guide.  There are several ways to look at docs, some people prefer different approaches.  Hopefully your guide can be reviewed and used to improve docs.  Your proposal looks decent, let's see how it goes and as @madaky mentions there is still active development in progress so things can still change.

[2020-05-27 19:01] dhmlau commented on #5582
Transferring to https://github.com/strongloop/loopback-next repo.

[2020-05-27 19:37] HrithikMittal commented on #110
Hi, @bajtos I would like to contribute. and I am also working over the issues and working towards the improvement of docs  you can check it out, please

https://github.com/HrithikMittal/Loopback4-auth
https://github.com/HrithikMittal/loopback4-authorization

[2020-05-27 19:59] HrithikMittal opened #5583 "Authorized button in docs"
So I was trying to get the `Authorized` button
![image](https://user-images.githubusercontent.com/42075023/83065622-68efe900-a081-11ea-90ed-3363a933600b.png)
So I look at this docs https://loopback.io/doc/en/lb4/Authentication-Tutorial.html So On getting scroll down they mention to import the `import {SECURITY_SCHEME_SPEC} from './utils/security-spec';` and
![image](https://user-images.githubuserc

[2020-05-28 01:52] dhmlau commented on #5583
@HrithikMittal, from my understanding, there's a change that will enable the Authorize button out of the box (no code change), but this has not been released yet. @jannyHou, could you please confirm that?

In the meanwhile, what you can do is go to `src/application.ts`.
1. Add this function
[code]

2. Inside the constructor of the Application class, add this line to call the newly added function:

[2020-05-28 01:53] dhmlau commented on #5583
I have the following import statement:
[code]

[2020-05-28 02:10] GitMastStas opened #5587 "Unable to use GraphQL-to-OpenAPI wrappers"
## Steps to reproduce

lb4 project_name
lb4 model (create any)
lb4 repository
lb4 controller

npm i --save openapi-to-graphql-cli
npx openapi-to-graphql --port=3001 http://localhost:3000/openapi.json

## Current Behavior

[code]

## Expected Behavior

`GraphQL accessible at: http://localhost:3001/graphql`

## Link to reproduction sandbox

[code]

Why doesnt start the graphql server once u make a m

[2020-05-28 03:15] HrithikMittal commented on #5583
@dhmlau yes i am doing it in this way only but i was just asking and updating you that there is a bug in docs. Please update it because it create a lot of confusion for us means developers.

[2020-05-28 04:18] jannyHou commented on #5573
Hi everyone, there are gaps between the auth doc and auth modules, I am rewriting the doc to reflect the latest change. PRs coming soon.
Sorry for the confusions!

[2020-05-28 04:45] HrithikMittal commented on #5573
Hi @jannyHou Please can you check this repo also I create a new one for the Authorization https://github.com/HrithikMittal/loopback4-authorization
Again I mention all the steps of how to do it. I hope it will be more beneficial for others to understand as there is a lot of confusion in official docs.

[2020-05-28 10:20] pratikjaiswal15 commented on #5567
@hacksparrow how to add property role in `AuthorizationContext.principals `?

[2020-05-28 11:36] InvictusMB commented on #4992
@agnes512 @raymondfeng
I see some more inconsistencies in handling `filter.fields` in general. Do we expect `fields` to be `{[k: string]: boolean}` objects in future or arrays should also be universally acceptable?

https://github.com/strongloop/loopback-next/blob/a81ce7e1193f7408d30d984d0c3ddcec74f7c316/packages/repository/src/query.ts#L508-L523

The code above, for example, accepts both arrays a

[2020-05-28 12:10] achrinza commented on #5396
Hi @chavitodb88, have you tried @dougal83's suggestion?

[2020-05-28 12:11] achrinza commented on #5224
Hi @yanweinb777, have you tried @dhmlau's suggestion?

[2020-05-28 13:45] #4754 closed

[2020-05-28 14:03] agnes512 commented on #4992
I checked `{fields: ['foo', 'bar']}` on my end. It won't let me have such filter because of some type constraints.

But I didn't know it accepts arrays. I thought
`{ fields: {propertyName: <true|false>, propertyName: <true|false>, ... } }` was the only form that it took. This should be checked throughly. I will add it to the criteria. Thanks!

[2020-05-28 14:11] InvictusMB commented on #3455
@bajtos Do you think #5592 is a viable solution for this?

[2020-05-28 14:23] hacksparrow commented on #4296
It would not be fun having to guess and search through the docs find out how to dynamically add models and controllers. However, I agree we should update those pages as well.

This is in theme with our current state of documentation, almost all the details are there but they are scattered around.

Let's have a single page describing how to dynamically add models and controllers. A succinct doc wit

[2020-05-28 14:23] InvictusMB commented on #4992
I think my confusion stems from [`loopback-datasource-juggler`](https://github.com/strongloop/loopback-datasource-juggler/blob/8d1690e9b2c76e3d0a8336b47f133e0605cbcc9a/types/query.d.ts#L102).
If I make a request via REST API and it goes directly into the juggler layer it works with arrays and does not report any violations.
If a filter is a part of `include` clause and gets amended inside `@loopba

[2020-05-28 14:24] hacksparrow commented on #4296
Addressed in https://github.com/strongloop/loopback-next/pull/5591.

[2020-05-28 15:00] bajtos commented on #5550
I like the idea of introducing more groups. I think there are two ways how to look at this:

## Layers of abstractions

What parts are internal building blocks and what parts are the framework people should import API from?

<img src="https://user-images.githubusercontent.com/1140553/83155860-f8d57780-a101-11ea-8005-d48ffe939fdb.png" width=300/>

I think it's easy to agree that `@loopback/metadata

[2020-05-28 16:13] jannyHou commented on #5294
Hi everyone, I wrote a new layout for the authentication doc and updated the acceptance criteria accordingly. Feedback are welcomed!

I would suggest we use this story to focus on authentication doc refactor, and use https://github.com/strongloop/loopback-next/issues/5441 for authorization.

[2020-05-28 16:38] jannyHou commented on #5573
@HrithikMittal Thank you! For https://github.com/HrithikMittal/Loopback4-auth, I think it's an improvement of the jwt tutorial in shopping example. The jwt module in shopping example is created very early and unfortunately we didn't update it in time to reflect the latest change.

Now we have a much easier tutorial to get people on board with authentication using https://github.com/strongloop/loop

[2020-05-28 17:18] HrithikMittal opened #5595 "Add community authorization example to our doc"
## Suggestion
I know you already create docs for adding the Authorization in loopback4 using the shopping example. But for developers to understand is tough (for me also previously as there are some bugs into also- in docs.)

In continuation of these issues
https://github.com/strongloop/loopback-next/issues/5573
https://github.com/strongloop/loopback-next/issues/5294
https://github.com/strongloop/

[2020-05-28 17:43] jannyHou commented on #5441
@dhmlau Let's track authentication and authorization separately, https://github.com/strongloop/loopback-next/issues/5294 is for authentication.

[2020-05-28 17:49] jannyHou commented on #5573
I see https://github.com/HrithikMittal/Loopback4-auth is a standalone module, I will make https://github.com/HrithikMittal/Loopback4-auth as the "Advanced tutorial for implement your own JWT auth module"

[2020-05-28 17:56] dhmlau commented on #5587
@Alan-Cha, could you please take a look as well? Thanks.

[2020-05-28 18:11] HrithikMittal commented on #5573
Thank you @jannyHou and please tell me where you make it as you mention in your comment.
Apart from this If you want me to change anything in this module folder or file or in Readme please let me know I will do it.
Please also check this issue https://github.com/strongloop/loopback-next/issues/5595 and
this also https://github.com/strongloop/loopback-next/issues/110 I would like to contribute more

[2020-05-28 20:18] dhmlau commented on #5583
Using the latest release (we just published few hours ago), this issue no longer exist. It happened because both the documentation and the related code changes are in master but they are not released yet.

[2020-05-28 20:18] #5583 closed

[2020-05-28 20:20] dhmlau commented on #5294
@jannyHou, i'd suggest to make this an epic and break down the tasks into separate GH issues. It might also help if any community users would like to help as well. Thanks.

[2020-05-28 20:21] dhmlau commented on #5595
@jannyHou, you've proposed a plan on improving the docs for authentication, could you please take a look at this for authorization as well? Similarly, we can make this as an epic, if there's no duplicate issues already, and break it down into sub-tasks. Thanks!

[2020-05-28 20:47] dhmlau commented on #5571
Closing as resolved.

[2020-05-28 20:47] #5571 closed

[2020-05-28 20:48] raymondfeng commented on #5569
@ohenning Your swagger json probably has circular references in the schemas. We use `swagger2openapi` package to convert 2.0 to 3.0 and the package cannot handle circular refs gracefully. Is it possible to convert your spec to 3.0 first and try?

I'll dig more into the implementation as well.

[2020-05-28 21:04] raymondfeng commented on #5569
@ohenning I just realized that your spec is already 3.0.1. I'll try.

[2020-05-28 21:24] raymondfeng commented on #5569
This is the circular ref:
[code]

[2020-05-29 03:06] achrinza commented on #5368
@ashkank83 Apologies for the delayed reply, I believe the CLI already gives a generic warning for semver major upgrades:

https://github.com/strongloop/loopback-next/blob/cf38dca9a06ef1f3447930468bd852dc377e6ff8/packages/cli/generators/update/index.js#L39-L49

Though I agree it could be improved to provide more helpful information (e.g. which packages, and aggregate relevant parts of the changelog

[2020-05-29 03:20] achrinza commented on #4228
I was thinking about this, and I'm retracting away from my previous stance.

From my understanding, `jsonSchema` is passed to AJV as-is. Since the users should be able to swap AJV for a different validator, we should not modify what gets passed into `jsonSchema`.

Instead, could I propose we make a root `pattern` attribute:

[code]

This would put the responsibility on LB4 to validate the request

[2020-05-29 03:34] HrithikMittal commented on #5583
@dhmlau Thank you

[2020-05-29 03:37] dhmlau commented on #4901
Sent to IBM Developer editor. Closing as done.

[2020-05-29 03:37] #4901 closed

[2020-05-29 03:38] dhmlau commented on #4516
Closing as done. Thanks @deepakrkris and @raymondfeng! 👏

[2020-05-29 03:38] #4516 closed

[2020-05-29 04:44] raymondfeng commented on #5569
I'm not sure if the `JToken` makes sense at all. An array of its own instances?

[2020-05-29 06:14] bajtos commented on #5551
Few more questions to consider:

1. Where do we want to draw a line between what should be included in the "uber" framework out of the box? We probably agree on `rest`, `repository`, `service-proxy` and `boot`, but how about `authorization`, `authentication`, `health`, `metrics`, etc?

2. Our modular architecture makes it easier for our users when we make a breaking change. For example, if the app

[2020-05-29 06:52] InvictusMB commented on #5572
This looks more like a bug to me. If I expect a `Card` instance, I should get a `Card` instance not a POJO.
Otherwise the definition should say something like `card: Raw<Card>`

But for now, wouldn't `new Card(card).computedGetProperty()` do the job for you?

[2020-05-29 07:10] fenixsolorzano commented on #5572
Yeah @InvictusMB I did that

[2020-05-29 07:11] Tahakun opened #5601 "Can't use an array of entities as request body"
I am trying to use an array of entity as a request object but it does not work

Here's my post function
[code]

when I use the entity without it being inside an array it works
`Customer instead of Customer[]`

here's the OpenApi error
[code]

that comes from this

[code]

I tried to do the same thing in the todo example and the same problem occured

## Steps to reproduce

Create any model
Create a

[2020-05-29 07:32] HrithikMittal commented on #5601
Hey, @Tahakun can show some screenshot of sending the object in the POST request.

[2020-05-29 07:48] HrithikMittal commented on #5601
Hey, @Tahakun if you want to send many entities than you can send it in the multiple objects into an array then wrap it under the object.
[code]

I think It will work and then after the req parameter you have to divide it.

[2020-05-29 11:17] pratikjaiswal15 opened #5603 "Loopback 4 authentication not passing role to loopback authorization. Thus getting 401 everytime"
I have implemented jwt authentication using custom user service which implements user-service from loopback authentication/jwt. Successfully issuing a token to the user.
But while implementing authorization,  `AuthorizationContext `doesn't contain role.
I have checked that `AuthorizationContext .principals[0]` contains only id and name, not the role.
`AuthorizationContext.roles` is also empty. Whi

[2020-05-29 11:43] madaky commented on #5603
@HrithikMittal: I think you could help @pratikjaiswal15  on the issue.

[2020-05-29 13:25] jimmy1wu opened #5604 "Broken hyperlink on strongloop website"
## Steps to reproduce

1. Go to https://strongloop.com/projects/
2. Click on `Node.js` hyperlink
![image](https://user-images.githubusercontent.com/33457590/83264469-1ea85e00-a18e-11ea-98e5-556fc7b2aa6e.png)

## Current Behavior

Nothing happens.

## Expected Behavior

It should bring me to the `Node.js` section at the bottom of the page.

![image](https://user-images.githubusercontent.com/3345759

[2020-05-29 13:30] hacksparrow commented on #5604
Thanks, will fix it.

[2020-05-29 13:47] HrithikMittal commented on #5603
Yes sure @madaky and thank you for considering me into this

and @pratikjaiswal15 you have to bind your custom user service in your ``application.ts``
if you need more help of how to do it please check this repo
https://github.com/HrithikMittal/Loopback4-auth

and moreover, I run your repo also and you got the error
![image](https://user-images.githubusercontent.com/42075023/83266013-e9c4f700-a1df

[2020-05-29 14:07] HrithikMittal commented on #5407
Hey @jannyHou Here my example can close this issue please do it if possible https://github.com/strongloop/loopback-next/issues/5573
https://github.com/strongloop/loopback-next/issues/5595

[2020-05-29 14:59] pratikjaiswal15 commented on #5603
I am sorry actually I uploaded wrong repository. Sorry. Here is actual one https://github.com/pratikjaiswal15/loopbackauthrization.
Sorry again can you please look into this?

[2020-05-29 15:08] HrithikMittal commented on #5603
If it will solve your problem then close this issue.

[2020-05-29 15:12] hacksparrow opened #5607 "Monthly Milestone - June 2020 💪🏻 🌏 🌳"
## Overview

Finish Q2 release.

Removed "Spike: robust handling of ObjectID type for MongoDB" per @bajtos' comment on Slack.

## Goals

- [ ] Clean up extension template and docs #5336
- [x] Failed to exclude properties by setting false in `fields` filter via url
      #4992
~~- [ ] Spike: robust handling of ObjectID type for MongoDB #3456~~
- [ ] 🏃 Integration with TypeORM #4853
- [x] Continue w

[2020-05-29 15:31] pratikjaiswal15 commented on #5603
I have already bound custom-user service in application.ts . See here  [this`]  (https://github.com/pratikjaiswal15/loopbackauthrization/blob/master/src/application.ts#L77)

You seem to have implemented authorization differently. I am looking for the standard way with @authorize decorator.
Can you help with that approach? Thanks

[2020-05-29 15:34] HrithikMittal commented on #5603
Ya you bind it but that is showing the error because of the wrong setup

Please look at the points I mention in the above comment and my implementation is almost the same.

[2020-05-29 15:40] pratikjaiswal15 commented on #5603
Actually sorry, it wasn't the latest commit.

[2020-05-29 15:46] pratikjaiswal15 commented on #5603
It is not the wrong setup. Actually I made changes in the user model of npm package authentication/jwt. That is the reason you were getting errors.
Anyway, the actual issue is authentication not sending role property to authorization.

[2020-05-29 15:56] HrithikMittal commented on #5603
Hey, @pratikjaiswal15 Can you tell me where are you creating the jwt strategy. I am not able to find in your project.

[2020-05-29 16:01] nabdelgadir commented on #4346
Note that since https://github.com/strongloop/loopback-next/pull/5000 has landed, please follow the new format for the datasource definition.

[2020-05-29 16:04] SumanBandopadhyay commented on #5546
Thanks. It worked. I had10.15.x version. I updated it and its working now.

[2020-05-29 16:11] dougal83 commented on #5603
Looks like it's a new built in one: https://github.com/pratikjaiswal15/loopbackauthrization/blob/50c5cccb2920e6740b3e5778534ac7db72e364c3/src/application.ts#L3

[2020-05-29 16:11] pratikjaiswal15 commented on #5603
Yes

[2020-05-29 16:14] pratikjaiswal15 commented on #5603
@dougal83 can you please tell why property role is not getting passed from authentication to authorization?

[2020-05-29 16:16] HrithikMittal commented on #5603
Thanks @dougal83 and I think in this token role is not included
https://github.com/strongloop/loopback-next/blob/927789e254f4db7945201609683ae83a18f1c48d/examples/access-control-migration/src/components/jwt-authentication/services/jwt.service.ts#L54
So to include role you can create your own jwt strategy

[2020-05-29 16:21] HrithikMittal commented on #5603
only these property you will get in a token which are
![image](https://user-images.githubusercontent.com/42075023/83281562-e3da1080-a1f5-11ea-8525-2f2622570813.png)

you can look at this https://github.com/HrithikMittal/loopback4-authorization/blob/2f7f04efb7c00580acccd7ac145c7a5f1fb44702/src/services/user-service.ts#L36
![image](https://user-images.githubusercontent.com/42075023/83281957-83979e80

[2020-05-29 16:23] #4673 closed

[2020-05-29 16:26] pratikjaiswal15 commented on #5603
There is custom user service which does same. Here
https://github.com/pratikjaiswal15/loopbackauthrization/blob/50c5cccb2920e6740b3e5778534ac7db72e364c3/src/services/custom-user.service.ts#L49

[2020-05-29 16:28] dougal83 commented on #5603
The best person to answer questions on this is @jannyHou who has been working on this brand new component.  Janny, how would you recommend to proceed?

[2020-05-29 16:34] HrithikMittal commented on #5603
Yes @pratikjaiswal15 you are right you are converting into profile object where you add everything like this
[code]

after this, you are sending this to generate token right?
and for this, you are using the predefined method of ``@loopback/authentication-jwt`` which will take only these parameters to create a token

[code]
https://github.com/strongloop/loopback-next/blob/62231bf44b57c37d450b49f8e5

[2020-05-29 16:42] pratikjaiswal15 commented on #5603
Oh yes. Let me try this

[2020-05-29 16:51] pratikjaiswal15 commented on #5603
No still not working.

[2020-05-29 16:56] HrithikMittal commented on #5603
Ya you have to add that what we discuss above and all the part which are mentioned by @madaky

Where at the time of user creation you have bind the roles with user.
Are you using some sort of permissions model.

[2020-05-29 16:59] madaky commented on #5603
@pratikjaiswal15 : I have you nothiced
 https://github.com/strongloop/loopback4-example-shopping/blob/d0822a31bed831504b8655bc057c0de6473ece09/packages/shopping/src/controllers/user.controller.ts#L91-L95

That was my basic reason to ask last three questions. In noon too I asked you the same.

I think @pratikjaiswal15  you can now close the Question As it is answered
While developing be pay caution

[2020-05-29 17:02] sadranyi opened #5608 "error TS2339: Property 'migrateSchema' does not exist on type"
## Steps to reproduce
After going through the getting started steps at the link below
[Getting Started](https://loopback.io/getting-started.html)

run `npm start`
## Current Behavior
returns `src/migrate.ts:9:13 - error TS2339: Property 'migrateSchema' does not exist on type 'XXXXApplication'.`

## Expected Behavior

Starter project with a default **ping** route on localhost port 3000 `http://127.

[2020-05-29 17:04] HrithikMittal commented on #5603
But you don't have password property in the user model.

[2020-05-29 17:06] pratikjaiswal15 commented on #5603
@HrithikMittal password property is stored with another model called user-credential which has has one relationship with user model

[2020-05-29 17:08] pratikjaiswal15 commented on #5603
@madaky

Answers
1. role is defined as property in user model same as shopping example.
2. At the time of creating user role is specified like above
3. No permission model

[2020-05-29 18:11] madaky commented on #5603
@pratikjaiswal15 : Can you clean up code. If possible rebuild the code from starting. and you will get it resolved.

[2020-05-29 18:17] madaky commented on #4849
Please let me know if can contribute.
NodeConf.EU, CASCON : CfS closes at 9:00 AM 27 Jul 2020

[2020-05-29 18:52] dhmlau commented on #5608
@sadranyi, were you trying to run `npm run migrate` as well? By default, `npm start` won't call the migrate script.
Anyway, please remember to build before running the migrate script, i.e.
[code]

Hope it helps.

[2020-05-29 19:03] HrithikMittal commented on #5603
As per our discussion with @pratikjaiswal15 with the issue https://github.com/pratikjaiswal15/loopbackauthrization/issues/1?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDkwMjE1MjQyMjo0MjA3NTAyMw%3D%3D#issuecomment-636134643

Now you can close this issue.

[2020-05-29 19:06] pratikjaiswal15 commented on #5603
Finally, I created my own token service. And it resolved the issue.

[2020-05-29 19:06] #5603 closed

[2020-05-29 19:11] dhmlau commented on #4849
You're more than welcome!

Now that we have the `lb4 openapi --client` option to generate the client, I'm thinking to:
- use [todo example](https://loopback.io/doc/en/lb4/todo-tutorial.html) as the starting example
- generate the client
- create a frontend application with Angular (i think a separate app is better).

I'm not sure if it's better to create a separate repo in the strongloop GH org as

[2020-05-29 20:14] sadranyi commented on #5608
worked like magic. should we always have to do this each time we create a new app?

[2020-05-29 20:18] dhmlau commented on #5608
The `npm run migrate` does not transpile the code, so everytime you make a change, you'd need to run `npm run build` first.

I've created https://github.com/strongloop/loopback-next/issues/4189 to propose to include running the build.

[2020-05-29 20:20] sadranyi commented on #5608
but seem the build script is run as part of `npm start`

[2020-05-29 21:23] #5577 closed

[2020-05-30 00:17] dhmlau commented on #5608
Yes.

If you agree, I'll close this issue. Please feel free to continue the discussion of whether to include the build script as part of the migrate script. :). Thanks!

[2020-05-30 00:20] sadranyi commented on #5608
yes please close it. thanks

On Sat, May 30, 2020 at 12:18 AM Diana Lau <notifications@github.com> wrote:

[2020-05-30 00:21] dhmlau commented on #5572
Does this docs page provide something you're looking for? https://github.com/strongloop/loopback-next/blob/master/docs/site/Dynamic-models-repositories-controllers.md

[2020-05-30 00:48] #5608 closed

[2020-05-30 01:53] danielalejandrin commented on #5563
I forgot to mention that I was using node current version 14.3.0. A suggestion of a colleague to change to LTS version 12.17.0, and it worked, no more timeout so I think it's a bug in the _loopback-connector-postgresql_ with the current version of nodejs

[2020-05-30 03:25] raymondfeng commented on #5563
@danielalejandrin Thank you for letting us know. Can you open a bug against `pg` - https://github.com/brianc/node-postgres/issues?

[2020-05-30 03:39] HrithikMittal commented on #5567
I think now this issue can be closed @pratikjaiswal15 as we already solve this issue
https://github.com/strongloop/loopback-next/issues/5603

[2020-05-30 03:44] achrinza commented on #5601
For arrays, you should use `@requestBody.array()`:

[code]

Could you try if it works?

[2020-05-30 04:00] Tahakun commented on #5601
@achrinza Thank you, It's working, here's my updated code

[code]

and as you said I searched first in the docs for a solution but it seems that
`@requestBody.array()`
doesn't seems to be documented,

I think it'll be better to add it for anyone in the future looking for this kind of functionality

[2020-05-30 06:23] #5567 closed

[2020-05-30 07:38] vishwas097 opened #5611 "How do I validate a nested JSON api request body payload using models in loopback4?"
I am trying to validate a nested JSON payload using models in loopback4. Loopback4 is able to validate the name and description property. However, it isn't validating the contact.type or contact.number property.

This is an example of what my models looks like:

**Contact Model:**
[code]

**User Model:**

[code]

**Request payload:**

[code]

## Current Behavior

When I delete name from my request

[2020-05-30 08:42] achrinza commented on #5611
Could you try updating *User* model as follows?

[code]

Reasoning being that REST-level validation looks at the `type` attribute and sees `object`, in which any object is considered valid. Changing it to `type: Contact` should inform the REST layer that it's the `Contact` interface.

`contact: Contact` isn't sufficient as the REST layer can't read that the TypeScript type of a controller. Instead

[2020-05-30 08:47] madaky commented on #5611
@vishwas097: FYI: The loopback4 uses the route Decorator, which provides OpenAPI specification to describe the endpoint. There is en-detailed about  [ OpenAPI decorator in loopback4 here](https://loopback.io/doc/en/lb4/Decorators_openapi.html#api-decorator).

For better practices you can use the Request Body decorator at controller level.

[2020-05-30 09:50] achrinza commented on #5582
Quoting from the [accepted StackOverflow answer](https://stackoverflow.com/a/62061547/5019371):

[2020-05-30 09:50] #5582 closed

[2020-05-30 09:53] achrinza commented on #5244
Apologies for the delayed reply, have you tried the following?

[code]

[2020-05-30 09:55] achrinza commented on #5019
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-05-30 09:55] #5019 closed

[2020-05-30 11:08] vishwas097 commented on #5611
@achrinza Yes. This is what i missed and it is working perfectly fine after changing type object.
Thankyou very much.
So if i need to create a nested array again [for example inside type if i need something like this
type:{
"address":"","value":""
}
 ]
is it required to create a model again ? Or in loopback4 do we have any other procedure also?

[2020-05-30 11:11] vishwas097 commented on #5611
@madaky  I will try this procedure and let you know

[2020-05-30 16:31] mitsos1os commented on #5550
kudos to @bajtos and @raymondfeng for proposing the new documentation structure. Building a strong community is crucial to the framwork's acceptance and reputation and having a well structured documentation that welcomes new users is one of the most important parts for this. In my opinion both approaches could be a match as described very nicely here: #5549

- The foundation <--> higher level pack

[2020-05-30 21:47] #5601 closed

[2020-05-31 10:40] GitMastStas opened #5617 "Type String for ID is not emited at the creation"
## Steps to reproduce

Create a model, set uuid as ID of the table, type string,
Make repository
Make controller, uuid should be omitted by lb4 at the creation process.

## Current Behavior
Model defined as this
[code]
then POST METHOD
[code]
Then GET METHOD to return what we jsut created
[code]
Even though its ommited, it creates NULL in the database.
## Expected Behavior

Was hoping it would cre

[2020-05-31 12:37] dougal83 commented on #5617
@GitMastStas Could you confirm which database connector you are using and have you run `npm run build` & `npm run migrate`.  This would be required to generate the id.

Docs: https://loopback.io/doc/en/lb4/Database-migrations.html

[2020-05-31 14:02] achrinza commented on #5617
Quoting my reply from Slack:

[2020-05-31 22:07] temp3l opened #5619 "item-and-collection hypermedia-schemas"
## Providing generic item & collection hypermedia-schemas

1. item-schema with links like: [self,item,update,delete]
2. collection-schema with links like: [self,add,"paginate"],  $ref: [item-schema]

Idea + solution from here (lb3) :
https://www.npmjs.com/package/loopback-jsonschema#item-and-collection-schemas

Metadata might be served from /schemas/ or /item-schemas/ -endpoint - and allow CRUD

#

[2020-06-01 01:33] #5604 closed

[2020-06-01 01:49] raymondfeng commented on #5550
[code]

I would prefer a flat structure:

[code]

[2020-06-01 02:23] raymondfeng commented on #5550
![image](https://user-images.githubusercontent.com/540892/83370401-2b86a680-a374-11ea-96f2-d74c69fbcc8d.png)

[2020-06-01 02:28] raymondfeng commented on #5550
Once we settle on what's in the `platform`, we probably should have a `@loopback/platform` package that exposes public APIs from the platform modules and have all higher level packages to use `@loopback/platform` as dependencies.

[2020-06-01 05:26] raymondfeng commented on #5550
See https://github.com/strongloop/loopback-next/pull/5625

[2020-06-01 08:02] vishwas097 opened #5626 "Is there any way to use existing mongodb schema in loopback 4 ?"
As i am new to backend development, especially to loopback, I am just getting confused that how we suppose to use, create schema[ ie nested schema and validate it ]in loopback4. As I already have my tables in my database and I should expose API for those tables. So is there any way to define to use existing MongoDB schema in loopback 4?

[2020-06-01 10:21] madaky commented on #4849
Thanks @dhmlau . IMO, We should have a separate repo for workshop material. Which will help us better to track the work progress and specified material for workshop.
Also, I think the todo example is better to demonstrate with, but we should also include the RTS in todo example which will help user to get closer to the real benefits of powerful Framework.

[2020-06-01 12:39] hacksparrow commented on #5551
1. Include all common utilities, enable/disable with some config/defaults. So `authorization`, `authentication`, `health`, `metrics`, will be included but not loaded unless they are configured to be enabled.

2. At this stage, breaking changes in the dependencies be wouldn't be that frequent. Since we have some insight into upcoming breaking changes, if many dependencies are going to release break

[2020-06-01 14:45] bajtos commented on #5550
Yeah, we need to build a shared understanding, the term "platform" is probably not a good one. As I understand it, you are treating "platform" as one of the vertical groups, while I treat it as something that's below the surface.

Here is the distinction I'd like to capture in our directory structure:
1. Packages that LB applications import from (`@loopback/core`, `@loopback/rest`, `@loopback/repo

[2020-06-01 15:11] hacksparrow commented on #5572
Requirement is not very clear to me.

[2020-06-01 15:21] ManzarBaig opened #5631 "Not able to pass querystring and requestbody together in an api call through service code."
<!-- 🚨 STOP 🚨 STOP 🚨 STOP 🚨

##This is the api method I am trying to call through open-api-connector
@post('/acc-api/sow/remote', {
    responses: {
      '200': {
        description: 'Sow model instance',
        content: { 'application/json': { schema: { 'x-ts-type': Sow } } },
      },
    },
  })
  async createRemote( @param.query.string('jwt') jwt: string , @requestBody() sow: Sow ): Promise

[2020-06-01 15:27] achrinza commented on #5631
Thanks for reporting an issue. Please use [the full bug template](https://github.com/strongloop/loopback-next/issues/new?labels=bug&template=Bug_report.md) so that we can better diagnose and resolve the issue.

[2020-06-01 16:12] ManzarBaig opened #5632 "Not able to pass querystring and requestbody together to call an api through loopback-connector-openapi."
## Steps to reproduce

Step 1. In order to reproduce you have to create two lightweight sample loopback projects .
Step 2. Write SowController in one project .
Step 3. Implement dapp controller in other. Dapp consumes SOW.
Step 4. write a method in sowController like this:
` @post('/acc-api/sow/remote', {
    responses: {
      '200': {
        description: 'Sow model instance',
        content: {

[2020-06-01 16:16] ManzarBaig commented on #5631
Created the issue in detail : #5632

[2020-06-01 16:16] #5631 closed

[2020-06-01 16:30] raymondfeng commented on #5550
It will be a good first cut.

I have a different view here. The `core` package provides common wiring patterns for applications beyond LoopBack, such as:

- Application - the root container
- Component - contribution of additional bindings
- Life cycle - application life cycle
- Extension point/extension - very powerful extensibility story

Even for Fastify/Express applications, the `core` package

[2020-06-01 17:12] dhmlau commented on #5301
Closing as May is done.

[2020-06-01 17:12] #5301 closed

[2020-06-01 17:32] #5411 closed

[2020-06-01 18:32] #3955 closed

[2020-06-01 18:38] dhmlau commented on #453
Closing as done!

[2020-06-01 18:38] #453 closed

[2020-06-02 01:43] dhmlau commented on #4849
+1. I can create a repo. Any suggestions on the name? `loopback4-workshop-angular`?

What does RTS stand for? :).  We have used https://developer.ibm.com/tutorials/create-rest-apis-minutes-with-loopback-4/ in the past for workshops. But this is pretty much the todo tutorial.

[2020-06-02 02:49] jannyHou commented on #5573
Hi @HrithikMittal and everyone gets blocked by the authentication documentation. I started a refactor PR in https://github.com/strongloop/loopback-next/pull/5598, and there will be more coming in the next few days to create the new skeleton of the auth doc.

I understand the concern and frustration of seeing the out-of-date but before I create the new layout, it's hard to tell community the criter

[2020-06-02 06:19] #5611 closed

[2020-06-02 07:32] vishwas097 opened #5638 "loopback4 - prerequisites for accessing existing mongodb table?"
Hello, May i know how to access a existing mongodb table. I am able to connect to the mongodb, how to access to particular existing table?

[2020-06-02 07:36] madaky commented on #4849
Oh sorry, actually , I mean to to say Real time Scenario/scene.
And for name my opinion is we can use name the repo as the purpose for which we are working on, which makes it specified, looback4-<confname>-<?>.

[2020-06-02 11:56] hacksparrow commented on #5638
You have to create a connector for that. Specify the database details when prompted.

Instructions: https://loopback.io/doc/en/lb4/DataSource-generator.html

[2020-06-02 12:00] hacksparrow commented on #5626
Create the corresponding models for those tables. That's all you have to do.

Models: https://loopback.io/doc/en/lb4/Model.html
Model generator: https://loopback.io/doc/en/lb4/Model-generator.html

Models can be autogenerated for SQL databases, using [model discovery](https://loopback.io/doc/en/lb4/Discovering-models.html), but it's not supported for NoSQL like MongoDB.

[2020-06-02 13:16] pbalan commented on #5476
@bajtos Here's my [original question](https://stackoverflow.com/questions/61537443/how-to-inject-configure-user-model-for-setting-relationships-in-loopback-4-compo)

As per DRY, I'd like to contain my business logic in extension (loopback component). However, when defining models I'd like to specify belongsTo relationship to a property.

**In LB3, I'd do the same by defining the following module a

[2020-06-02 13:46] spirAde opened #5639 "Generating and filling up MONOREPO.md file"
## Suggestion

Add posibility to generate MONOREPO.md automatically with lexicographically sorting of entries. This idea was mentioned here: https://github.com/strongloop/loopback-next/pull/5485#discussion_r429221869

## Acceptance criteria

TBD - will be filled by the team.

[2020-06-02 13:49] spirAde commented on #5639
@bajtos @raymondfeng If you consider the feature as important I can implement this. I have only one question about a package for generating tables in markdown files. Can I choose this package or you have any preference? Or you have another idea of how to generate a table. Thanks

[2020-06-02 18:17] #5639 closed

[2020-06-02 22:07] jannyHou commented on #5638
@vishwas097 We have a PR(landing soon) for mongodb instructions, see https://github.com/strongloop/loopback-next/pull/5637/files#diff-7569121d0ff2f39403ff381a26d4ace7.

It has a section called "Create a data source" which tells you how to specify a database in the configuration.

Each LB4 repository provides the persistence operations for a particular **collection**, but other than making native q

[2020-06-03 06:22] InvictusMB commented on #5572
@hacksparrow
The issue is that an object passed to the controller method does not match the signature of that method. In the example above we have a `Card` in the signature but get a plain JS object of a similar shape instead of a `Card` class instance.

This is somewhat related to #2707

[2020-06-03 07:01] InvictusMB opened #5645 "Overriding title in `getModelSchemaRef` causes duplication in OpenAPI schema"
## Steps to reproduce

Define a controller with `getModelSchemaRef(SomeModel, {title: 'TitleOverride'})`.

<details>
  <summary>Controller definition</summary>

[code]
</details>

## Current Behavior

The controller above emits schema definitions for both `NewUserRequest` and `NewUser`. While `NewUserRequest` is not referenced anywhere else in the schema.

## Expected Behavior

Only `NewUser` is p

[2020-06-03 08:50] ohenning commented on #5569
Thanks @raymondfeng ! That circular reference actually was causing the stack exceedance. After removing it from the spec, another error occured: `TypeError: Cannot read property 'match' of undefined` - the spec though is still semantically correct due to https://editor.swagger.io/. As this is another error as the one i created this ticket for, we can close this ticket. After some investigation of

[2020-06-03 10:39] vishwas097 commented on #5638
@jannyHou Yes. I am able to create database source and all. But in my case, my table names included underscore[ ex : customer_details ]. So in this case, i was not able to access particular table as lb4 model name will ignore underscore while creating models.

So i found a solution, please include this in  PR also if you think its necessary.
In model setting we can replace the table name, for mong

[2020-06-03 10:56] #5626 closed

[2020-06-03 12:25] bobby91560 commented on #5510
Did you think about a solution ?

[2020-06-03 13:25] hacksparrow opened #5646 "Elaborate the DataSource doc"
https://loopback.io/doc/en/lb4/DataSources.html is very lacking in useful content. We should document the settings object from https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource and explain how it is used to configure connectivity for databases.

## Acceptance Criteria

- [ ] Add a new section "Configuring DataSources" on https://loopback.io/doc/en/lb4/DataSources.html
- [ ] Me

[2020-06-03 15:02] #4879 closed

[2020-06-03 15:18] raymondfeng commented on #5510
@bobby91560 Inlining big chunk of json objects for openapi specs is indeed noisy. Maybe one option is to save the spec into a json file and import it into the generated controllers. This way, we can just have to reference corresponding path of the json file for decorations.

[2020-06-03 16:14] raymondfeng commented on #5569
See https://github.com/APIDevTools/swagger-parser/issues/146

[2020-06-03 19:29] dhmlau commented on #5638
Thanks @vishwas097.
@agnes512, IIRC, I think you've covered how to customize the model as mentioned in the [above comment](https://github.com/strongloop/loopback-next/issues/5638#issuecomment-638112468). If we've covered it, please close this issue. Thanks.

[2020-06-03 19:45] agnes512 commented on #5638
Yes
[code]
allows you to have different model names and collection names. We have it included in https://github.com/strongloop/loopback-next/pull/5637/files#diff-7569121d0ff2f39403ff381a26d4ace7R162. Thanks.

[2020-06-03 19:45] #5638 closed

[2020-06-03 20:46] #4059 closed

[2020-06-03 22:34] mrbatista opened #5650 "openapi not found after update to @loopback/rest@4.0.0"
Upgrade to @loopback/rest@4.0.0 break the following urls:
- http://localhost:300/openapi.json
- http://localhost:300/openapi.yaml

## Steps to reproduce
1. git clone https://github.com/strongloop/loopback4-example-shopping.git
2. npm install
3. npm start
4. Open url http://localhost:300/openapi.json

## Current Behavior

The response is 404 not found

## Expected Behavior

Return the openapi spec

[2020-06-03 22:48] raymondfeng commented on #5650
@mrbatista Good catch.

[2020-06-03 23:20] #5650 closed

[2020-06-04 00:50] dhmlau commented on #5518
See PR #5652

[2020-06-04 02:06] dhmlau commented on #5617
@GitMastStas, do the above comments resolve your issue? If so, is the issue good to close? Thanks.

[2020-06-04 02:07] dhmlau commented on #5569
Closing this issue.

[2020-06-04 02:07] #5569 closed

[2020-06-04 03:21] wxuwh opened #5654 "[GSSC-GVT]English String when input command apic lb4 app -h"
27.030.010 APIC apic lb4 app -h (Apr)

Steps & Verification Points:
input ./apic lb4 app -h
and click Enter
Verify the strings in red circle.

Actual Result:
![image](https://user-images.githubusercontent.com/45190559/83711366-94f90480-a655-11ea-8877-83f94f518f07.png)

## Acceptance Criteria
- [ ] Investigate if we can externalize the highlighted string
- [ ] If possible, externalize it

[2020-06-04 03:32] wxuwh opened #5655 "[GSSC-GVT]English String when input command apic client-creds:clear"
Steps & Verification Points:
input ./apic client-creds:clear
and click Enter
Verify the strings in red circle.

Actual Result:

[2020-06-04 03:37] wxuwh commented on #5655
![image](https://user-images.githubusercontent.com/45190559/83712201-c2df4880-a657-11ea-89d1-28f6530cb578.png)

[2020-06-04 03:39] wxuwh commented on #5655
![01](https://user-images.githubusercontent.com/45190559/83712297-05088a00-a658-11ea-9b49-da68e3af66e7.png)

[2020-06-04 05:09] wxuwh opened #5656 "[GSSC-GVT]English String when input command apic lb4 repository"
**Steps & Verification Points:**
if you have created lbproject, go to step 10
input ./apic lb4
input lbproject as Project aame and Click Enter
input lbproject as Project description and Click Enter
input lbproject as Project root directory and Click Enter
Leave application class name as default and click Enter
Click Enter
input ./apic lb4 datasource to create datasource
input ./apic lb4 model to c

[2020-06-04 05:18] wxuwh opened #5657 "[GSSC-GVT]English String when input command apic lb4 model"
Steps & Verification Points:
if you have created lbproject, go to step 10
input ./apic lb4
input lbproject as Project aame and Click Enter
input lbproject as Project description and Click Enter
input lbproject as Project root directory and Click Enter
Leave application class name as default and click Enter
Click Enter
Wait until the project has been created
input cd lbproject and click Enter
input

[2020-06-04 05:33] candytangnb commented on #5655
@dhmlau Xufen and I have no access to add label for issues. Could you please help to add GVT label? If possible, could you please grant us access to add label? Thanks.

[2020-06-04 06:58] wxuwh opened #5658 "[GSSC-GVT]English String when input command APIC apic lb4 interceptor"
Steps & Verification Points:
if you have created lbproject, go to step 10
input ./apic lb4
input lbproject as Project aame and Click Enter
input lbproject as Project description and Click Enter
input lbproject as Project root directory and Click Enter
Leave application class name as default and click Enter
Click Enter
Wait until the project has been created
input cd lbproject and click Enter
input

[2020-06-04 07:48] candytangnb commented on #5655
<img width="612" alt="image" src="https://user-images.githubusercontent.com/26452457/83729891-e071d980-a67a-11ea-8838-a2ac61497918.png">

[2020-06-04 08:54] lajosf commented on #2454
Dear @raymondfeng, @bajtos , can you please help on this ticket to be solved some time? It would be nice.

[2020-06-04 12:03] bajtos commented on #5550
Looks like this topic needs more discussion to reach consensus. To be honest, I don't have enough appetite for that now.

Reflecting back on my motivations for opening this issue, my main desire is to simplify our documentation and make it easier for new users to learn about LoopBack, by reducing the amount of packages they need to know about. As I wrote at the top:

I'll open a pull request to ca

[2020-06-04 12:04] bajtos commented on #5550
@mitsos1os thank you for a thoughtful comment. There is a lot to unpack there, I'll try to respond with actionable proposals later this week or next week 🤞

[2020-06-04 12:13] Alan-Cha commented on #5587
@GitMastStas Sorry for the long delay. Unfortunately, I've needed to prioritize other work so I haven't had a chance to take a look at this. I should be able to address this problem beginning of next week. Sadly, it is the best that I can do for now.

[2020-06-04 14:00] bajtos commented on #2707
Probably not. AFAICT, my exampel code does not use anything specific to recent LB4 versions that would not work before.

[2020-06-04 15:49] #5518 closed

[2020-06-04 16:26] dhmlau commented on #5655
this command is not coming from LoopBack. Please open this issue against APIC toolkit. Thanks.

[2020-06-04 16:26] #5655 closed

[2020-06-04 16:31] dhmlau commented on #5658
@wxuwh , `interceptor` is a concept in LoopBack, similar to Model and Controller. It may not be a good idea to have it translated, If you agree, I'd like to close this issue. Thanks.

[2020-06-04 19:51] hazimdikenli commented on #5264
I could not find a case where command is an object, is it connector specific, if this is the case, which connector? I checked out mysql, postgres and mongodb connectors, have I missed something?
And again I think parameters is mostly an array, I found out that mysql connector lets you use objects, postgres will let you use numbered parameters like $1, $2, but mysql does not support that, you can j

[2020-06-05 00:22] dhmlau commented on #5657
This is probably coming from Yeoman. @agnes512, could you please take a quick look to see if we can overwrite it? Thanks.

[2020-06-05 00:43] GitMastStas commented on #5587
thanks anyway, look forward to your evaluation of this problem :)

[2020-06-05 02:39] wxuwh commented on #5655
Thanks for the information. We have opened a new issue  in Toolkit
https://github.ibm.com/velox/platform/issues/2501

[2020-06-05 04:15] wxuwh opened #5667 "[GSSC-GVT]Concatenation issue when input command apic lb4 interceptor"
Steps & Verification Points:
if you have created lbproject, go to step 10
input ./apic lb4
input lbproject as Project aame and Click Enter
input lbproject as Project description and Click Enter
input lbproject as Project root directory and Click Enter
Leave application class name as default and click Enter
Click Enter
Wait until the project has been created
input cd lbproject and click Enter
input

[2020-06-05 10:41] mrbatista commented on #4782
@derdeka No authorization is configurated. I need a way to specific that explorer path skip default authentication strategy. For example:
`js
this.configure(RestExplorerBindings.COMPONENT).to({
   path: '/explorer',
  disableAuthentication: true
 });
`

[2020-06-05 12:12] bajtos opened #5669 "Internal tooling improvements 2020Q3"
Improve the internal tooling we use to develop LoopBack 4 (2020Q3 edition).

- [x] Enable parallel mocha testing #5011
- [ ] Move slow tests from `npm test` to a different test task #5670
- [ ] Spike: Switch from lerna to pnpm workspaces #5671

[2020-06-05 12:41] bajtos opened #5670 "Move slow tests from `npm test` to a different test task"
Most of our test suite is running pretty fast, with individual tests finishing under 100ms. However, there are also several slow tests that take more than 1 second to finish. These tests are typically end-to-end/acceptance-level tests that are running running child processes, `npm install` and so on. As a result, `npm test` takes too long to complete (about 3 minutes on my machine).

Let's find a

[2020-06-05 12:54] bajtos opened #5671 "Spike: Switch from lerna to pnpm workspaces"
Our current lerna-based setup is very inefficient. Most of the pull requests in this repository are created by RenovateBot to update package-lock files, our git history is full of RenovateBot commits that make it difficult to spot relevant changes.

Let's investigate how to switch from lerna to [pnpm](https://pnpm.js.org/)  and use a single root package-lock file for the entire monorepo.

Referenc

[2020-06-05 14:09] jannyHou commented on #5645
@InvictusMB I assume you are trying example like [todo-jwt](https://github.com/strongloop/loopback-next/tree/master/examples/todo-jwt). A quick confirm:

This is the OpenAPI spec I get from that app:

<details>
  <summary>Controller definition</summary>
[code]
</details>

Do you mean the `NewUserRequest` schema shouldn't exist? And ONLY `NewUser` is expected.

[2020-06-05 15:15] bajtos commented on #3257
Related:
- spike https://github.com/strongloop/loopback-next/pull/3398
- another spike https://github.com/strongloop/loopback-next/pull/3466
- Improve the `@requestBody` #3496
- [Refactor] Update controllers' CRUD functions in example packages #3497

[2020-06-05 15:18] InvictusMB commented on #5645
Hi @jannyHou
Yes, `NewUserRequest` should not exist if it is not referenced anywhere else as in my case.

The fix should be something like
[code]

[2020-06-05 15:19] bajtos commented on #5550
@mitsos1os Thank you again for the comment. Let me reply to individual suggestions you proposed.

I see two topics here:
1. How to organize the content in a better way
2. Presentation/design/style changes

I think the first topic is best discussed in #5549 and perhaps in #5113

I am not sure if we have any existing issue for improving the visual design of our docs, could you please create a new is

[2020-06-05 15:32] dhmlau commented on #5667
@wxuwh, could you please specify what's the expected behavior? Thanks.

[2020-06-05 16:14] hacksparrow commented on #4296
Closed via https://github.com/strongloop/loopback-next/pull/5591 and https://github.com/strongloop/loopback-next/pull/5630.

[2020-06-05 16:14] #4296 closed

[2020-06-05 17:40] InvictusMB commented on #5671
Is there a reason not to use `lerna` + `yarn`?
`lerna` is still good for versioning and automation and `yarn` handles hoisting and cross linking packages well.

I tried `pnpm` for monorepo roughly a year ago and there were too many flawed packages at the time causing `pnpm` strict checks to fail. Also some packages made assumptions about filesystem and misbehaved. I don't remember exactly which ca

[2020-06-05 20:28] zzhenryquezz commented on #487
I use knex to handle the migrations of some small projects and is very cool and easy to use, In my opinion for the SQL databases is a good option to make a package that uses him in the background.

[2020-06-07 01:22] #4878 closed

[2020-06-08 03:27] candytangnb commented on #5667
Now, in pii, string  "5337dcf1ffc5bb73817a6fe76bb5eb0a": "were created in" is seperate. Could it be resourced out with subject as a whole, such as "0f97dcea7dc212c905400da264b09cfd": "Application {0} was created in {1}."

[2020-06-08 03:37] candytangnb commented on #5667
for in some language, word order may be not the same as in English, if sentences not resourced out as a whole, it could not be translated correctly.

[2020-06-08 03:53] candytangnb commented on #5658
@dhmlau Word 'Interceptor' and 'Model' could be kept as untranslated when they are concept if DEV would like to do so. But, please keep it consitent. When the word is treated as a concept, it could not be translated by Tester. When the word is back to original meaning, it could be translated by Tester.
And, need dev to mark comment on those words to let Tester know where to translated and where no

[2020-06-08 12:11] bajtos commented on #3455
Yes, if we can fix resolvers to transparently add the necessary `fields`, then there is no need reject queries excluding PK/FK fields.

[2020-06-08 14:10] dhmlau commented on #5658
@candytangnb, where do we mark comment on the concept words?

cc @agnes512

[2020-06-08 14:11] dhmlau commented on #5658
Let me reopen this issue for now so that we won't miss the ongoing discussion.

[2020-06-08 15:14] fredvhansen commented on #5056
hello,
Please, let me bring one situation that happened here.
A year ago I started a lb4 project with 1 mainDatasource + 1 TenantDatasource with 9 tenant schemas related on mysql database. (very similar to Lightweight @bajtos idea)
As a newbie I dont have skills to create nice lb4 providers-actions-etc, I simply added this code to sequence.ts:

[code]

In the beginning doing some GET/POSTs tests,

[2020-06-08 16:10] hacksparrow commented on #5671
@InvictusMB https://github.com/lerna/lerna/issues/1818#issuecomment-597888041

[2020-06-08 16:40] raymondfeng commented on #5056
@fredvhansen Your solution is problematic.

1. Calling `use tenant_x` only configures one connection from the connection pool maintained by mysql connector.
2. Even if you set the limit to 1, the datasource can still be used by other requests after you call `use tenant_x` due to the async nature.

My example multi-tenancy application has completely isolated datasources for each tenant. The action

[2020-06-08 16:50] raymondfeng commented on #5671
I would prefer to wait until https://github.com/npm/rfcs/blob/latest/accepted/0026-workspaces.md is fully implemented. If so, the client probably won't matter.

[2020-06-08 17:01] fredvhansen commented on #5056
@raymondfeng ,
Thank you for your prompt answer!  (and yes, I know its problematic with async since the beginning.. time to time I was googling new topics) Already converted/merged my app with your example this weekend and working well on dev env.

personal doubt: I don't understand how
[code]

[2020-06-08 18:00] marioestradarosa commented on #5669
@bajtos  Does mocha has now support for parallel testings ?

[2020-06-08 18:16] raymondfeng commented on #5669
@marioestradarosa We have https://github.com/strongloop/loopback-next/pull/5011. It will be retested and landed once a new release of Mocha is published.

[2020-06-09 02:15] jannyHou commented on #5645
@InvictusMB I double checked the `@requestBody` decorator, feel it's hard to tell should the schema generation be skipped or not, because in some situation(e.g. if no spec found in the decorator), it must infer the schema from model ctor. For example

see the doc of [@requestBody](https://loopback.io/doc/en/lb4/Decorators_openapi.html#requestbody-decorator)

[code]

While your report is correct, i

[2020-06-09 02:21] jannyHou commented on #5294
An update:

A few PRs are created to re-structure the authentication doc:

- [ ] https://github.com/strongloop/loopback-next/pull/5598
- [ ] https://github.com/strongloop/loopback-next/pull/5683
- [ ] https://github.com/strongloop/loopback-next/pull/5643
- [x] https://github.com/strongloop/loopback-next/pull/5641
- [x] https://github.com/strongloop/loopback-next/pull/5640

[2020-06-09 02:26] jannyHou commented on #5573
An update:

A few PRs are created to re-structure the authentication doc:

- [ ] https://github.com/strongloop/loopback-next/pull/5598
- [ ] https://github.com/strongloop/loopback-next/pull/5683
- [ ] https://github.com/strongloop/loopback-next/pull/5643
- [x] https://github.com/strongloop/loopback-next/pull/5641
- [x] https://github.com/strongloop/loopback-next/pull/5640

Since https://github.com

[2020-06-09 02:33] jannyHou commented on #5572
Thank you @InvictusMB seems this story is asking for the same feature as #2707. @fenixsolorzano do you mind if we move all the discussion there? (trying to keep the backlog smaller)

[2020-06-09 02:39] jannyHou commented on #5632
Hi @ManzarBaig could you provide a sandbox/sample app to reproduce the error? It will help us diagnose the problem. Thanks!

[2020-06-09 02:57] HrithikMittal commented on #5573
thanks you @jannyHou

[2020-06-09 02:58] #1348 closed

[2020-06-09 03:34] raymondfeng commented on #5632
@ManzarBaig The following code works for me:
[code]

I would recommend you to try `lb4 openapi --client` to generate strongly-typed client code against the spec.

[2020-06-09 03:34] raymondfeng commented on #5632
See https://loopback.io/doc/en/lb4/OpenAPI-generator.html#client-side-datasource-and-service-proxies

[2020-06-09 03:34] #5632 closed

[2020-06-09 04:55] rohit-ambre commented on #5608
Hi,
I had a same issue while running application like explained in getting started.
I also ran `npm run build` it still throws the same error as
`src/migrate.ts:9:13 - error TS2339: Property 'migrateSchema' does not exist on type 'Loopback4TestApplication'.`
I also tried running `npm run migrate` and gives following error
`Migrating schemas (alter existing schema)
Cannot migrate database schema Ty

[2020-06-09 07:48] bajtos opened #5692 "Hide `@loopback/openapi-v3` from docs, examples and CLI templates"
In a follow-up to #5659 and #5550, we should update our docs, examples and CLI templates to load openapi-v3 APIs from `@loopback/rest`, so that framework users do not need to learn about `@loopback/openapi-v3` package.

## Acceptance criteria

In the search commands listed below, `rg` refers to [RipGrep](https://github.com/BurntSushi/ripgrep).

- [x] Remove `@loopback/openapi-v3` from all `package

[2020-06-09 08:12] candytangnb commented on #5658
I have checked that this file use IBMUJSON as markup table. Please refer to this when trying to add comment. https://w3-03.ibm.com/globalization/page/2089#IBMUJSON
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/26452457/84123036-de898b00-aa6b-11ea-937d-411a34db418d.png">

[2020-06-09 08:12] candytangnb commented on #5658
<img width="1140" alt="image" src="https://user-images.githubusercontent.com/26452457/84123143-04169480-aa6c-11ea-9e1c-8b7bef6355fe.png">

[2020-06-09 08:29] bajtos commented on #5550
The discussion about abstraction levels is done, I am closing this issue as resolved.

[2020-06-09 08:29] #5550 closed

[2020-06-09 08:55] hacksparrow opened #5697 "Implement REST/OpenAPI functionality as an extension"
As discussed in https://github.com/strongloop/loopback-next/pull/5545#issuecomment-640717051, let's extract the REST/OpenAPI parts from `src/packages` to an extension.

This will involve creating a new HTTP Application package in place of the current `src/packages/rest` package, mostly by trimming down and making some modifications to the existing code. The extracted code with some modifications w

[2020-06-09 10:15] frbuceta commented on #1981
I will try to implement this in the next few days. I think it is necessary to have this functionality

[2020-06-09 11:12] raman1212 commented on #1920
I another thing is we can not use a table with name "my_data" in loopback 4 but can be used in loopback 3 as loopback 4 do not allow model with underscore name.

[2020-06-09 13:58] achrinza commented on #1920
Please see https://stackoverflow.com/a/62281311/5019371.

[2020-06-09 15:00] bajtos commented on #5264
Thank you @hazimdikenli for investigating the implementation of `execute` in different connectors.

Yes, the functionality of `Repository.execute` will be always connector specific, our documentation should make this clear.

Cross-posting a comment from the PR that introduced `dataSource.execute` API (https://github.com/strongloop/loopback-datasource-juggler/pull/1671#discussion_r239743392):

---

[2020-06-09 19:13] dhmlau opened #5701 "[Docs] Add Troubleshooting guide"
Add troubleshooting guide to the docs.
https://github.com/dhmlau/learning-loopback/blob/master/troubleshooting.md might be a good starting point.

cc @raymondfeng @bajtos, per our meeting today.

## Acceptance criteria
- [ ] create a new section "Troubleshooting" - mention different perspectives
- [ ] add pages for different topics
  - [x] Tips from https://github.com/dhmlau/learning-loopback/blob

[2020-06-09 19:14] lonewolfaka9 commented on #1465
+1

[2020-06-09 19:18] dhmlau opened #5702 "[Docs] Add a Community extension page"
Add a community extension page to list extensions built by the community. It will be similar to the community connector page: https://loopback.io/doc/en/lb4/Community-connectors.html.

## Acceptance criteria
- [ ] add a community extension page with a few community extensions we know about.
    - the idea is to have the community user to submit PRs to add their extensions on this page
- [ ] add th

[2020-06-09 19:20] dhmlau commented on #5702
We might be able to use some of the extensions listed on npmjs: https://www.npmjs.com/search?q=loopback4-extension.

@samarpanB @ckoliber, I believe you had a few LoopBack 4 extensions. Please feel free to add here to help us building the initial list!

[2020-06-09 20:29] agnes512 commented on #5063
Note: some connector docs for lb4 are using the outdated link. Don't forget to update them as well.

[2020-06-09 20:43] samarpanB commented on #5702
Hi @dhmlau ,

Here are the ones we created

1. https://www.npmjs.com/package/loopback4-authentication
2. https://www.npmjs.com/package/loopback4-soft-delete
3. https://www.npmjs.com/package/loopback4-authorization
4. https://www.npmjs.com/package/loopback4-helmet
5. https://www.npmjs.com/package/loopback4-ratelimiter
6. https://www.npmjs.com/package/loopback4-notifications
7. https://www.npmjs.com

[2020-06-10 00:20] fenixsolorzano commented on #4195
Is it right to think on how to integrate prisma 2 with loopback or should we take prisma as a similar solution for the same problem loopback solves?, in other words, shall we consider choosing between them?

[2020-06-10 02:52] codejamninja commented on #4195
Prisma 2 does not really allow business logic. It's more or less an ORM over a rest/graphql api.

[2020-06-10 06:32] ckoliber commented on #5702
Hi Diana,

Here are my extensions:

1. [loopback-component-history](https://github.com/loopback4/loopback-component-history)
    - Soft create, delete, delete models, saving history of changes

2. [loopback-component-filter](lhttps://github.com/loopback4/loopback-component-filter)
    - Filter models in repository layer, using an async function

3. [loopback-component-crud](https://github.com/loop

[2020-06-10 12:52] madaky opened #5709 "npm run migrate : cannot migrate models not attached to this datasource, while having model sequencing in migrate.ts"
- Visited  https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html - #link1
-Visited https://loopback.io/doc/en/lb4/MySQL-connector.html - #link2

## Steps to reproduce

1. Intstall @loopback/authentication  @loopback/authentication-jwt extensions

1. Suppose you are using Relational database, using the constraints as foreign keys, so you to sequence the model  in migrate.ts as guided on  #li

[2020-06-11 01:31] faiztherocker opened #5713 "Loopback Support for Azure Functions"
I have been looking out ways in which Azure Functions can be deployed using Loopback, Any source of documentation will be helpful.

[2020-06-11 02:08] dhmlau commented on #5697
This will also the CLI template, at least for `lb4 app`.

[2020-06-11 02:53] raymondfeng commented on #5697
We should probably expand `@loopback/express` to be a general purpose `ExpressServer`, which contains a middleware based sequence to handle common http req/res processing, such as CORS, Helmet, Caching, Access Logging, ...

It's not necessary. An extension is a logic concept. Theses two packages can stay in `packages`.

The `RestServer` can extend from `ExpressServer` by contributing additional mi

[2020-06-11 02:58] raymondfeng commented on #5697
Here is what I see:

1. The base `ExpressServer` backed by `HttpServer. Its primary function is a chain of middleware. Business logic can be added in the form of route handlers. We can have a `ExpressApplication` to combine `Application` and `ExpressServer`.

2. The `RestServer` extends `ExpressServer` with additional middleware - FindRoute, ParseParams, and InvokeMethod. `RestApplication` continu

[2020-06-11 03:37] achrinza commented on #5617
Closing as solved as per-Slack discussion.

[2020-06-11 03:37] #5617 closed

[2020-06-11 06:09] madaky commented on #4849
@dhmlau : it's 404

[2020-06-11 07:20] bajtos commented on #5697
The proposal described in https://github.com/strongloop/loopback-next/issues/5697#issuecomment-642375568 looks reasonable to me.

We need to find a way how to make this changes incrementally and keep the required effort small. We need to invest to our efforts into improving our documentation and getting closer to feature parity with LB3 this year. With our limited resources, there is only little t

[2020-06-11 11:19] hacksparrow commented on #4853
Yep.

[2020-06-11 11:39] pavelgronsky commented on #2791
Thanks!

[2020-06-11 11:40] #2791 closed

[2020-06-11 12:59] mathias22osterhagen22 opened #5716 "Cannot POST array for multi insert anymore ?"
## Steps to reproduce
1. Go on the /explore link of the API
2. Open a POST REST route that is made to add a new model insertion
Replace the object by an array of the object :
![image](https://user-images.githubusercontent.com/60438474/84387549-7796de00-abf3-11ea-8f00-a876f659d2be.png)
3. Click execute

## Current Behavior
422 error

![image](https://user-images.githubusercontent.com/60438474/84387

[2020-06-11 14:18] nflaig commented on #110
Hi, I am using Loopback 4 for a while now and would like to further contribute to the project.

Thanks for the great work!

[2020-06-11 14:27] #2783 closed

[2020-06-11 16:29] aspectgfg commented on #3490
Was able to add relation support.
https://github.com/aspectgfg/loopback-next
Only changes were to grab model defs with relations/foreignKeys, and then run the Relation Generator for each relation.
It's not good enough for a PR though, do with it what you will.

[2020-06-11 18:51] raymondfeng commented on #5713
Do you want to check out https://github.com/raymondfeng/loopback4-example-serverless?

[2020-06-11 18:53] dhmlau commented on #4849
@madaky, sorry about that. Didn't realize it was a private repo. I set the right access now. Please try again. Thanks.

[2020-06-12 08:37] sbacem commented on #4853
We are impatiently awaiting this development,
Sometimes we were forced to make native SQL requests in our platform http://ioc.tn/ 😞
Thank you for this pleasant Framework, 👍 👍
We contain to recommend this Framework for our customers to https://iotech.tn/

[2020-06-12 13:04] hacksparrow commented on #4853
Targeting for landing some time coming week, no promises though.

[2020-06-12 16:34] jimmy1wu commented on #5384
hello, i am a first time contributor to loopback. can i take this issue?

[2020-06-12 16:44] ckoliber opened #5729 "Authentication using interceptors"
Is there any plan to migrate **authentication** component logic, from providers and `sequences`, into **interceptors**, like **authorization** component ?

[2020-06-12 17:31] hacksparrow commented on #5384
@jimmy1wu sure! Looking forward to the PR.

[2020-06-12 18:13] raymondfeng commented on #5729
See https://github.com/strongloop/loopback-next/pull/5366

[2020-06-12 18:22] #5729 closed

[2020-06-12 20:30] thamion opened #5730 "context.bind(...).toProvider(...).inScope(BindingScope.CONTEXT) does not work with async providers"
## Steps to reproduce

In our LB rest application we have resources bound like this:
[code]

The provider class provides the value in an async manner:

[code]

In a couple of other classes we inject `MyValue` via `someBindingKey`.

## Current Behavior
We observe that `MyProvider` is created several times in a single request and `MyProvider.value()` is called multiple times, once for each place whe

[2020-06-12 22:50] raymondfeng commented on #5730
@thamion Thank you for reporting the issue. Please verify the PR.

[2020-06-13 01:56] marcelobern commented on #257
@8secz-johndpope now that lb4 seems to have caught up to the key lb3 feature set and with lb3 in [Maintenance LTS](https://strongloop.com/strongblog/lb3-entered-maintenance-mode/) I am gearing up to look into creating a lb4 serverless based on the work done for [lb3-serverless](https://github.com/botbits/serverless-loopback).

As I am reading up on lb4 I am starting to put together a plan and woul

[2020-06-13 15:21] madaky commented on #5716
See :
https://stackoverflow.com/questions/62324229/loopback-post-array-of-entry/62329457#62329457

[2020-06-13 21:08] nflaig opened #5733 "CRUD repository functions return different ID formats with MongoDB as datasource"
This bug seems to be specific to MongoDB in combination with the default crud repository. The crud repository tests do not catch this because the tests only use either stubs or a in-memory data source.

## Steps to reproduce

The issue can be reproduced by using the default crud repository with MongoDB as data source.

Example code snippet

[code]

## Current Behavior

The entity id returned from

[2020-06-14 11:54] #2921 closed

[2020-06-14 22:53] #2930 closed

[2020-06-15 03:09] GitMastStas commented on #5587
Any news on this front?

[2020-06-15 04:07] Alan-Cha commented on #5587
@GitMastStas Actually, I just created a new release `v2.1.1` which should resolve this issue! Can you try and let me know if it works for you?

[2020-06-15 10:53] mllrdev-raphael-dearce commented on #5381
Hello.
Followed everything here. But I'm still getting the uuid error. Can anyone help me?

![ConEmu64_7KdpAprJrK](https://user-images.githubusercontent.com/56951197/84649612-64f50f80-af39-11ea-85c8-1ded96b493cc.png)

[2020-06-15 11:43] rhiwn commented on #5381
See comment from Raymond re node support - 10, 12, 14 - have you tried with
ones of these versions?

On Mon, Jun 15, 2020 at 11:53 AM Raphael de Arce <notifications@github.com>
wrote:

[2020-06-15 12:21] mllrdev-raphael-dearce commented on #5381
From what I've understood with his comment, he's referring to the even versions, i.e., 13.14.0, 14.2.0. I'm using 13.6.0.

[2020-06-15 12:46] RuslanUshakov commented on #4995
@emonddr If you try to filter data by related models and use limit it does not work properly.
For instance here is the filter:
`{
  "limit": 5,
  "offset": 0,
  "where": {},
  "order": [
    "id asc"
  ],
  "include": [
    {
      "relation": "site",
      "scope": {
        "where": {
          "name": {
            "like": "%mysite%"
          }
        }
      }
    }
  ]
}`

`mysite` is the 7

[2020-06-15 13:09] achrinza commented on #5381
Even versions as in Node.js 10, 12, 14. Node.js 13 is not supported.

[2020-06-15 13:30] mllrdev-raphael-dearce commented on #5381
Updated to node v14 now. Everything seems to be working. Thank you all for your responses.

[2020-06-15 14:48] dhmlau opened #5739 "Broken image link and formatting issue in Authentication docs"
In https://loopback.io/doc/en/lb4/JWT-authentication-extension.html,
- the image is broken
  - Need to use https://raw.githubusercontent.com/strongloop/loopback-next/master/extensions/authentication-jwt/authentication-jwt.png because it's coming from the extension folder
- code formatting is incorrect
<img width="423" alt="Screen Shot 2020-06-15 at 10 45 12 AM" src="https://user-images.githubuserc

[2020-06-15 15:30] emonddr opened #5740 "Introduce a Debug tracing service/module"
## Suggestion

 Let's introduce a Debug tracing service/module  that simplifies debug setup for each class and allows for special formatting and translation.

In this effort, we should also make sure all loopback-next packages are set up for debug tracing.

[2020-06-15 16:20] rhiwn opened #5741 "using regexp in where filter on an property not defined in the model (additional prop) fails"
## Steps to reproduce

additional properties not defined in a model can't be searched for using a regexp filter
for example, this filter {"where":{"and":[{"c_range": {"regexp" : "/etern/i"}}]}} does not work when c_range is an additional property added to the data but not defined in the model. However, the same filter done on a property which is defined in the model works fine.

## Current Behavio

[2020-06-15 16:45] jimmy1wu commented on #5384
@hacksparrow hello, i created a draft PR https://github.com/strongloop/loopback-next/pull/5742 if you wanted to provide some early feedback. I still have to write the tests. Also, the acceptance criteria mentions some relations that i don't think are implemented yet (only belongsTo, hasOne, and hasMany have been implemented)

[2020-06-15 17:04] #5730 closed

[2020-06-15 20:33] dhmlau commented on #5733
We might need to set `strictObjectIDCoercion: true` here.
[code]

See https://loopback.io/doc/en/lb4/MongoDB-connector.html#handling-objectid.

[2020-06-16 02:13] dhmlau commented on #5479
@khlilturki97, sorry about the late reply. We have a docs page with detailed instructions in submitting a PR: https://loopback.io/doc/en/lb4/submitting_a_pr.html. Hope it helps! Thanks.

[2020-06-16 02:15] dhmlau commented on #3581
@JohnPhoto, just wondering whether you're still interested in submitting a PR?  The CLA issue should be fixed. :)

[2020-06-16 02:19] dhmlau commented on #5396
Closing due to inactivity. @chavitodb88, if you still encounter this problem after the above suggestion, please ping here or open a new issue. Thanks.

[2020-06-16 02:19] #5396 closed

[2020-06-16 02:37] dhmlau commented on #5193
@JacquesBonet, sorry about the late reply. I tried to reproduce the problem again but couldn't. Not sure what's the key to reproduce.

After I ran `lb4 discover` on multiple tables and edit all the models, I ran the command again. Here is my output:
[code]

The `index.ts` doesn't have duplicate entries:
[code]

There may not be much changes in the model discovery code in the past few months, but i

[2020-06-16 07:27] nflaig commented on #5733
When setting `strictObjectIDCoercion: true` it returns a string for both created and found entities. However, `const foundUser = await userRepository.findById(createdUser.id);` does not work anymore, it does not find the user.

I feel like the best would be to only deal with strings as ids and never return ObjectIds and let the repository/connector handle conversion if required.

One thing to add

[2020-06-16 09:27] bajtos commented on #5740
@emonddr thank you for opening this feature request.

I find it a bit difficult to understand the bigger picture. Your description is focused on implementation details (a debug tracing service) but does not explain what problems/user stories it should address. Can you please add more details to the description and explain in what scenario would such service be used and for what outcomes?

Few exis

[2020-06-16 09:54] madaky commented on #5709
@dhmlau : IMO its not relating to @Authentication only, It is related to binding of datasource, if we have some tag related to datasource binding then please add this to it.

[2020-06-16 13:34] emonddr commented on #5740
@bajtos , this is something that was raised at the last estimation meeting. @raymondfeng described a new approach that would be better than all classes loading the debug factory. I was trying to paraphrase what he mentioned, but I guess I failed. @raymondfeng , if you could describe this new approach. thx.

[2020-06-16 15:49] dhmlau opened #5752 "[Docs] Add "How the documentation is organized" section"
From https://youtu.be/8B-EWTQnzPI, @bajtos explained how the documentation is organized. This would be useful in helping users to navigate the documentation.

Discussed with @bajtos, it might be good to add a "How the documentation is organized" section at the end of the Overview page.

## Acceptance criteria
- [ ] add a "How the documentation is organized" section at the end of the Overview page.

[2020-06-16 17:46] llhilton commented on #5541
Any chance you can tell what the issue is? I got the same error. It seems to be upset that the credentials I need in my custom service don't match those in the default user service. But the whole point of a custom service should surely be to have my own custom credentials, right? Maybe I'm missing something else (like a credential repository, but I have no idea why I'd need one), but it's complete

[2020-06-16 19:52] dhmlau opened #5756 "[APIDocs] Table not showing properly when it includes code snippet"
In  https://loopback.io/doc/en/lb4/apidocs.rest.openapispecoptions.html, the table for the properties is not shown properly, see screen shot below:

<img width="870" alt="Screen Shot 2020-06-16 at 3 48 23 PM" src="https://user-images.githubusercontent.com/25489897/84821259-d63fcb80-afe8-11ea-86b7-d6bbfd1faf2c.png">

Discovered this during a meeting with @raymondfeng and @bajtos, the issue might be

[2020-06-16 22:01] raymondfeng commented on #4842
I think https://github.com/strongloop/loopback-next/pull/5735 will address the issue.

[2020-06-16 22:19] dougal83 commented on #4842
@jannyHou Yes, it looks like it will solve the issue supplying multiple strategies. Feel free to close this issue at your convenience.

[2020-06-16 22:55] gioppoluca opened #5757 "Table with string ID property marked as required do not accept it in POST"
## Steps to reproduce
The following cose is the model.
It has a string ID (that should be possible)
`
import { Entity, model, property } from '@loopback/repository';

@model({
  settings: { idInjection: false, postgresql: { schema: 'micadoapp', table: 'languages' } }
})
export class Languages extends Entity {
  @property({
    type: 'string',
    required: true,
    length: 10,
    id: true,
    g

[2020-06-17 04:22] pratikjaiswal15 commented on #5541
@llhilton The thing is the fields and data types in your model need to be same as user model in `@authentication-jwt` package.
`ORG_UNIT_ID` should be present in user model model of authentication-jwt package with same data type

[2020-06-17 05:37] marcelobern commented on #257
@8secz-johndpope thanks for sharing your direction around swift. I just published an update to [serverless-loopback](https://github.com/botbits/serverless-loopback) including a loopback 4 example (using express).

@achrinza seems like the direction you all are taking is tackling this from a webpack perspective only.

Based on what I learned during my brief exploration of options, I think it would

[2020-06-17 09:57] Arathy-sivan commented on #5408
What is the use of " --save " in mysql loopback4 connector command??
( npm install --save loopback-connector-mysql )

[2020-06-17 10:26] frbuceta opened #5758 "Explorer blocked by the authentication module"
## Steps to reproduce

The explorer seems to require authentication when it is set:
[code]
![Screenshot 2020-06-17 at 12 20 12](https://user-images.githubusercontent.com/13822438/84887005-73583e00-b095-11ea-8e44-993f7cee289d.png)

## Expected Behavior

Should be set on all controllers, only controllers

## Additional information

[code]

## Related Issues

https://github.com/strongloop/loopback-ne

[2020-06-17 10:27] frbuceta commented on #5758
If someone confirms that this should be the case when I have time, I will look for the error

[2020-06-17 10:28] Arathy-sivan commented on #5532
What is the difference between eslint and vscode feature in loopback4 ?
$ lb4 app
? Project name: todo-list
? Project description: A todo list API made with LoopBack 4.
? Project root directory: (todo-list)
? Application class name: (TodoListApplication)
? Select features to enable in the project:
 ◉ Enable eslint: add a linter with pre-configured lint rules
 ◉ Enable prettier: install prettier to

[2020-06-17 12:52] achrinza commented on #5408
@Arathy-sivan Please see https://stackoverflow.com/questions/19578796/what-is-the-save-option-for-npm-install