[2019-05-24 02:28] dhmlau commented on #2915
@marvinirwin, might need you to chime in here. When running the `lb4 discover` command, if we don't specify the database name with the `--schema` option, the tables cannot be found.

[2019-05-24 02:34] dhmlau opened #2952 "[Model discovery] Need to force to exit when running `lb4 discover` command"
## Description / Steps to reproduce / Feature proposal
When running `lb4 discover` as below, the prompt never returns, and I need to press Ctrl+C to exit.  The models are being created properly, but I need to kill the process in order to get the prompt back.

[code]
# Acceptance Criteria
- [ ] Make sure to close all open datasource connections i.e. call `datasource.disconnect()`
- [ ] Create/Updat

[2019-05-24 02:39] dhmlau opened #2953 "[Model discovery] Generated code does not seem to be correct"
## Description / Steps to reproduce / Feature proposal
Using MySQL as the datasource, I created a table called Customer. Command to create the table is as below:

[code]
The generated customer model looks like:
[code]

There are a few issues in the code:
1. Model decorator is not correct: `@model([object Object])`
2. For the string type, should it be `string` instead of `String`?
3. Inside the pro

[2019-05-24 02:40] dhmlau commented on #2952
cc @marvinirwin

[2019-05-24 02:40] dhmlau commented on #2953
cc @marvinirwin

[2019-05-24 03:06] dhmlau commented on #1334
@emonddr , would this be covered by your recently created task to clean up the docs? https://github.com/strongloop/loopback-next/issues/2940

[2019-05-24 03:07] dhmlau commented on #2946
@raymondfeng, could you please help? Thanks.

[2019-05-24 03:10] dhmlau commented on #2883
Closing as answered.

[2019-05-24 03:10] #2883 closed

[2019-05-24 03:35] raymondfeng commented on #2946
@checkmatez Interesting. I'll investigate.

[2019-05-24 07:55] quico14 commented on #110
Hello @ritch and @bajtos would be possible to contribute?
Thanks! :)

[2019-05-24 08:45] bajtos commented on #2452
Hi @vazexqi, thank you for raising this issue. Is the problem still relevant? Did you manage to find any workaround?

That's a good question! To be honest, I haven't considered this aspect before.

I think ideally, I'd like the helper to support different test runners. On Mocha, we want to call `it.skip`, in Jest `test.skip`.

I think we should rework the helper into a factory accepting `it`/`test

[2019-05-24 08:51] samarpanB commented on #2896
@bgleolalahi Whatever you return from @loopback/authentication, you should use that as authUser type. You only need to make sure that it contains permissions.
You can also refer to one of our simplistic [loopback-starter project](https://github.com/sourcefuse/loopback4-starter) (consider it as boiler plate) we created to showcase samples of authentication and authorization and few other significan

[2019-05-24 09:04] quico14 opened #2955 "Is possible to get from the controller the response of @authenticate decorator?"
I wanted to know if it is possible to get in the controller what the auth-strategy-provider is returning.

Thanks!

[2019-05-24 10:31] #2955 closed

[2019-05-24 10:38] bajtos commented on #110
@shubhddn01  @iamdharmesh @rodrigouz @quico14 invites sent, welcome on board!

[2019-05-24 10:39] yagobski commented on #110
Hello @ritch <https://github.com/ritch> and @bajtos
<https://github.com/bajtos> would be possible to contribute too?
Thanks

Le ven. 24 mai 2019 à 12:38, Miroslav Bajtoš <notifications@github.com> a
écrit :

[2019-05-24 11:04] bajtos commented on #110
@yagobski of course! Invite sent 📨

[2019-05-24 11:12] bajtos commented on #2953
Are we perhaps calling `.toString()` instead of converting the object to JSON or TypeScript? Let's use the same approach I introduced for `lb4 model` in https://github.com/strongloop/loopback-next/pull/2843.

Yes please. While `String` works too, it's considered as a bad practice in TypeScript.

[code]

Juggler supports both forms. For consistency with the rest of LB4, it would be better to use `t

[2019-05-24 11:15] bajtos commented on #2952
I suspect the connector is keeping a pool of connections opened and these connections are blocking Node.js from exiting.

I think we should improve `packages/cli/generators/discover/index.js` to call `await this.artifactInfo.dataSource.disconnect()` after we have fetched all data from the database.

[2019-05-24 11:17] bajtos commented on #2198
@reyraa thank you for chiming in and confirming the problem.

What we really need now is a small application we can use to reproduce the issue on our machines. See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-05-24 12:29] samarpanB commented on #2639
@dhmlau I got it to work finally. Below code works.

[code]

For the findOne or find methods to work via juggler, it requires the name key in third parameter of belongsto decorator. For the _createBelongsToAccessorFor function in repository, it requires name key in second parameter. That's how I got it work perfectly.

[2019-05-24 12:52] bajtos commented on #2342
In general, NoSQL databases like MongoDB were not designed to support referential integrity. It's an intentional tradeoff they are making in favor of other properties, like easier scalability or resistance to network partitioning (see [CAP theorem](https://en.wikipedia.org/wiki/CAP_theorem)).

MongoDB is an object/document database where model relations are typically implemented by embedding relat

[2019-05-24 14:05] #1656 closed

[2019-05-24 14:10] bajtos commented on #2187
Sorry for taking so long to respond.

At the moment, it's possible to define domain models decoupled from the database - just create a new class and decorate it with `@model()` and `@property()` decorators.

We don't have tooling to generate such models from other models (or database schema).

I see how it could be useful, but to be honest, I don't think we will have time to look into that any tim

[2019-05-24 14:11] emonddr commented on #1334
@dhmlau , we can definitely have a section on this. I've only ever decorate a controller method with `authenticate(name,options)` IF I want to create an authenticated endpoint, and I've only ever injected the `current user` on a controller method as a parameter on an authenticated endpoint (never in a controller constructor), but I will discuss with @jannyHou  and @raymondfeng . :)

[2019-05-24 14:11] bajtos commented on #1359
Closing as done via https://github.com/strongloop/loopback-next/pull/2426

[2019-05-24 14:11] #1359 closed

[2019-05-24 14:15] bajtos commented on #1844
@yanamg7 This is a different problem, possibly related to https://github.com/strongloop/loopback-next/issues/2953. Please open a new issue to discuss it.

[2019-05-24 15:58] nabdelgadir commented on #2522
Should be fixed via https://github.com/strongloop/loopback-next/pull/2843.

[2019-05-24 15:58] #2522 closed

[2019-05-24 16:24] OrderConcept opened #2957 "loopback 4 model settings not working for mysql"
Hi,
I am trying to connect to a mysql db and specify the table and column name. I have read this [strongloop/loopback-next#2134](https://github.com/strongloop/loopback-next/issues/2134) tried the below and still not working.

[code]
ERROR
[code]
Just out of curiosity I set to lowercase all the query at `\node_modules\loopback-connector-mysql\lib\mysql.js:197:16` with `connection.query(sql.toLowerC

[2019-05-24 16:45] greenkeeper[bot] opened #2958 "An in-range update of bluebird is breaking the build 🚨"
## The devDependency [bluebird](https://github.com/petkaantonov/bluebird) was updated from `3.5.4` to `3.5.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fbluebird-3.5.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

bluebird is a devDependency

[2019-05-24 16:57] dhmlau commented on #2957
@OrderConcept, it seems to be working for me for mysql.
I have a `customer` table with `custid` and `name` as columns.

[code]

The only difference is that I'm using `url` in datasource, but it shouldn't make a difference:
[code]

[2019-05-24 16:57] dhmlau commented on #2957
The error ` Table 'mydb.Area' doesn't exist` looks suspicious.  It means it's not looking up `area` which you set in the settings.

[2019-05-24 17:33] OrderConcept commented on #2957
I'm using `url` in datasource too, I had only omitted in the previous post (now update).

Exactly, that's why I try to hard lowercase the query and as expected it fails on column name (not on table name).
It seems that my custom settings (on table and column) are simply ignored by lb.

[2019-05-24 17:46] argupta23 commented on #2582
@raymondfeng - Thx for the pointer.
@bajtos
I do have a couple of question for you.
Is there an example available for Angular - JWT user authentication that one could look at?
Any plans to support loopback-sdk-angular or any alternatives available one could investigate?

@DimitriEmman Thx, I will give 1.0.16 a try.

[2019-05-24 17:53] sergiomata commented on #2208
Hello, any update for this issue?

[2019-05-24 17:59] dougal83 commented on #2582
If LB4 authentication is implemented I could put together an example for that with ng.  It is essentially using something like [auth0/angular-jwt](https://github.com/auth0/angular2-jwt) to do leg work.  I'll take a look next week if you like, dependant on the state of LB4 auth implementation.

[2019-05-24 18:15] dhmlau commented on #2957
Can you try to run `npm run clean` to clean up the dist folder? (just in case)
I've put my sample repo here: https://github.com/dhmlau/test-0524/blob/master/src/models/abc.model.ts. But I don't see anything different that you're doing here.

[2019-05-24 18:26] OrderConcept commented on #2957
Ya `npm run clean` solve the "problem", I don't know why it didn't occur to me before :(
Thank you @dhmlau

[2019-05-24 18:26] #2957 closed

[2019-05-24 19:55] dhmlau commented on #2630
@samarpanB, I just assigned this issue to you, since you've indicated your interest to contribute: https://github.com/strongloop/loopback-next/issues/1352#issuecomment-495328986.

[2019-05-24 19:56] dhmlau commented on #1352
Thanks @samarpanB. I just assign you that issue. Thanks!

[2019-05-24 20:19] shadyanwar commented on #1467
@bajtos
I have been trying to deploy an LB4 app to GCP with no luck.

Using the standard or the flexible environment, I get this error in the logs:
`sh: 1: lb-tsc: not found`. In the standard env, this happens after successful deployment and is reflected in the logs when trying to access the app. In the flexible env, this prevents the deployment completion, giving "Application startup error".

It

[2019-05-24 21:21] greenkeeper[bot] opened #2961 "An in-range update of @types/bluebird is breaking the build 🚨"
## The devDependency [@types/bluebird](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `3.5.26` to `3.5.27`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fbluebird-3.5.27).

This version is **covered** by your **current version range** and after updating it in your project **the build failed*

[2019-05-25 01:17] #2770 closed

[2019-05-25 06:45] samarpanB commented on #2630
Okay @dhmlau. @bajtos, I am going to need your guidance on this. I’ll follow what you have mentioned in the description. I’ll in progress PR as soon as I get to something, so that you can review and let me know if I am on right track. Also if you want to provide me some heads up, please let me know.

[2019-05-25 14:50] argupta23 commented on #2582
@dougal83 Yes, a working example with loopback-authentication v1.x would be greatly appreciated.

@dougal83 Thanks for the pointer, I will look into it.

[2019-05-25 21:54] greenkeeper[bot] opened #2964 "An in-range update of @types/sinon is breaking the build 🚨"
## The dependency [@types/sinon](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `7.0.11` to `7.0.12`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fsinon-7.0.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@type

[2019-05-26 05:02] greenkeeper[bot] opened #2965 "An in-range update of express is breaking the build 🚨"
## The dependency [express](https://github.com/expressjs/express) was updated from `4.17.0` to `4.17.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fexpress-4.17.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

express is a direct dependency of

[2019-05-26 05:49] vjtc0n commented on #2936
@sureshkodur Hello,
I think after you add LogMixin to application.ts, you can use the log in sequence.ts.
Just like authentication and authorization example on the doc :)
Cheers.

[2019-05-26 06:12] vjtc0n opened #2968 "How to validate field in functional way ?"
## Description / Steps to reproduce / Feature proposal
Currently, I read the docs about validation:
- https://loopback.io/doc/en/lb4/Parsing-requests.html

But in some cases, when we need to implement a function to validate a field (requestBody or property in Entity), so How can we do this?

I really need an example how to do this just like ajv docs.
## Current Behavior

## Expected Behavior

[2019-05-26 10:10] yanamg7 commented on #1844
The issue about array of objects into the property is already fixed. Now this is just on one line instead of columns exactly related to  #2953.

[2019-05-27 07:10] bajtos commented on #2630
@samarpanB I am happy to help, let me know if you run into any questions.

[2019-05-27 08:12] kimoudev opened #2970 "@loopback/example-lb3-application with Fireloop"
I want to convert my old LB3 project to LB4 by following this link.
https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application
Since my frontEnd is angular, I always use the @mean-expert/model library.
After several hacking I still can't start my LB3 server.
here is one of the errors
Cannot start the application. Error: Model "myModel" uses unknown mixin: FireLoop at MixinPro

[2019-05-27 08:27] kimoudev commented on #1884
@ElHupeke  i have the same problem [#2970](https://github.com/strongloop/loopback-next/issues/2970)

[2019-05-27 11:11] greenkeeper[bot] opened #2973 "An in-range update of openapi3-ts is breaking the build 🚨"
## The dependency [openapi3-ts](https://github.com/metadevpro/openapi3-ts) was updated from `1.2.0` to `1.3.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fopenapi3-ts-1.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

openapi3-ts is a direct

[2019-05-27 13:40] #2876 closed

[2019-05-27 13:59] dhmlau commented on #2970
@nabdelgadir, could you please take a look? Thanks.

[2019-05-27 14:00] dhmlau commented on #2946
@checkmatez @raymondfeng , with the PR https://github.com/strongloop/loopback-next/pull/2954 landed, is this issue good to close?

[2019-05-27 14:18] checkmatez commented on #2946
Looks good, thanks.

[2019-05-27 14:18] #2946 closed

[2019-05-27 14:52] dougal83 commented on #2582
@argupta23 Hey, I found time to put rough working example together.  I think the lb4 auth is still in development, so will need to update but it works as intended.  I've implemented lb4-ng combo, openapi-generator and JWT auth.  Tried to put reasonable effort into readme.  Let me know if there are issues that need resolving.

Example: https://github.com/dougal83/lb4-ng-example

[2019-05-27 15:24] nabdelgadir commented on #2548
I used your modified `server.ts` and `application.ts` files and the api requests (e.g. `GET /notes`) are working. I believe the modification made in these [two](https://github.com/strongloop/loopback-next/commit/705bce42ead2c4c38ff8894fcaa41a0d50f37638) [commits](https://github.com/strongloop/loopback-next/commit/960518eca4d707f0dd9f35aae2fdd0337fbc585f) should resolve your problem. I'm going to c

[2019-05-27 15:24] #2548 closed

[2019-05-27 15:31] argupta23 commented on #2582
@dougal83. This is great, I tested it and it works. I used mongodb instead.
One quick note, please add "isemail" package to the server side package.json file.
Would it be possible for me to contact you directly? this way I am not hijacking this thread.
Thanks

[2019-05-27 15:45] emonddr commented on #2940
Other LoopBack4 documents which will need to be revised:
- [ ] [Extending LoopBack 4](https://loopback.io/doc/en/lb4/Extending-LoopBack-4.html) `since it uses an old chart`
- [ ] [Using components](https://loopback.io/doc/en/lb4/Using-components.html) `since it shows the import of 'types/passport' module`
- [ ] [Using decorators](https://loopback.io/doc/en/lb4/Using-decorators.html) `since it seem

[2019-05-27 15:46] emonddr commented on #2940
@raymondfeng what is the `Declarative Test Demo`, and is it still relevant? thx.

[2019-05-27 16:18] dougal83 commented on #2582
@argupta23 I've added email to my git profile.  Anything regarding that repo though, discus on issues there incase it helps others.  Will add dependency cheers.

[2019-05-27 17:06] redaikidoka commented on #2953
I'd like to add on that the `@model([object Object])`
does not compile, generating:
`ERROR TS1005`

It can be corrected by outputing `@model()` instead.

[2019-05-27 19:46] dhmlau commented on #1788
Fixed via https://github.com/strongloop/loopback-datasource-juggler/pull/1638. Closing this issue as resolved.

[2019-05-27 19:46] #1788 closed

[2019-05-28 05:55] sureshkodur commented on #2936
@vjtc0n , Can you explain or share the code snippet in sequence.ts?

[2019-05-28 10:27] greenkeeper[bot] opened #2979 "An in-range update of yeoman-generator is breaking the build 🚨"
## The dependency [yeoman-generator](https://github.com/yeoman/generator) was updated from `4.0.0` to `4.0.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fyeoman-generator-4.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yeoman-generator is

[2019-05-28 12:44] nabdelgadir commented on #2970
I'm not too familiar with Fireloop, maybe @raymondfeng could chime in?

Can you please provide a small application we can use to debug the problem? (See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)

[2019-05-28 13:37] dhmlau opened #2980 "Add hasOne relation type to `lb4 relation`"
## Description / Steps to reproduce / Feature proposal
Trying out the `lb4 relation` command from the master branch and realized that there are only 2 model relation types available for selection: `belongsTo` and `hasMany`.

We should add the `hasOne` relation type as one of the options as well.

### Acceptance Criteria
- [ ] when running `lb4 relation` command, there should be 3 options for relat

[2019-05-28 14:28] dhmlau commented on #2940
@emonddr, let's limit the scope of this task to be the core authentication documentation, and open a separate task for updating other docs pages that involve authentication.  We can better groom that new task over there too. Thanks.

[2019-05-28 14:47] quico14 opened #2981 "How to access nested properties in WhereBuilder"
Hello,

I have the following object:
[code]

And I would like to use my WhereBuilder to compare the values in my _rule._read object, I have tried to do the following:
   ` whereBuilder.eq('_rule._read', ["user1"]);`

But I am getting a syntax error when accessing to the `_read` property in that way.

How can I do it?

Thanks.

[2019-05-28 16:08] dhmlau commented on #2571
@zkrami, any news? do you still have issues in running your app with `belongsTo`?

[2019-05-28 17:19] dhmlau commented on #2936
FYI - @raymondfeng has a PR to add an example greeting app on top of greeter extension: https://github.com/strongloop/loopback-next/pull/2941

[2019-05-28 17:25] raymondfeng commented on #2970
Did you install the FireLoop module?

[2019-05-28 17:27] raymondfeng commented on #2970
See https://github.com/mean-expert-official/loopback-component-realtime

[2019-05-28 18:43] dhmlau commented on #2981
@quico14, I just tried it out in my own sample repo: https://github.com/dhmlau/loopback4-filter-test. It works for me either the value is `['user1']` or `user1`.  Could you please review https://github.com/dhmlau/loopback4-filter-test/blob/master/src/controllers/customer.controller.ts#L52-L54 to see if you're doing anything differently?

[2019-05-29 06:10] jannyHou commented on #2676
Update

Had a meeting with loopback team to update our findings, here is a summary of key points:

`loopback-labs` is created for the purpose of keeping lab packages isolated from the production ready packages. During the spike, we realized that a better way to isolate each feature is **creating and releasing each feature from its own branch `lab/<my-feature-name>`**, so that features are independ

[2019-05-29 06:33] quico14 commented on #2981
Hello @dhmlau,

I was trying to do the following:
[code]
And as, I said, I cannot access to _read property. I have tried to change it as yours, in order to be something like this:
[code]
But I get an error in the `whereBuilder.build()` where it says: `Argument of type 'Where<AnyObject>' is not assignable to parameter of type 'Filter<Project> | undefined'.
  Type 'AndClause<AnyObject>' has no prope

[2019-05-29 06:36] shijithkm commented on #2626
We are also stuck with this issue during the development, it will be great if you could be fix this and release soon

[2019-05-29 06:55] quico14 commented on #2981
I think the problem remains on using the WhereBuilder in the `find()` method. If I use it in the `count()` method it works properly.

[2019-05-29 11:57] gonadarian commented on #2953
Sorry for jumping in as I'm a complete novice to Loopback, but...

I generated a model (can't remember how :disappointed:) a few days ago (don't know the version as I updated to the latest just now :disappointed:) which had no compile errors with this code `@model({settings: {}})`. Now I'm also getting `@model([object Object])`.

Looks like a regression, but can't be sure...

[2019-05-29 13:13] Kabangi opened #2986 "Build failing on a fresh install"
### Steps to reproduce.
1. Install @loopback packages all latest versions
2. Create a new project
3. Add a persistent model
4. Build the project
5. Observe the build fails with typescript errors

[code]

[2019-05-29 13:14] Kabangi commented on #2986
Related to this https://github.com/strongloop/loopback-next/issues/2973

[2019-05-29 13:22] AnanthGopal opened #2987 "Docker build issue"
When i try to release loopback application in docker that time i got below error

`added 519 packages from 1472 contributors and audited 4909 packages in 21.532s
found 3 vulnerabilities (1 low, 2 moderate)
  run `npm audit fix` to fix them, or `npm audit` for details
/loobpack # npm start --rebuild

src/controllers/user.controller.ts:47:10 - error TS2339: Property 'password' does not exist on type

[2019-05-29 14:56] dhmlau commented on #2953
@gonadarian, thanks for the info. It's good to know. @bajtos has a [suggestion](https://github.com/strongloop/loopback-next/issues/2953#issuecomment-495578669) on how to fix `@model([object Object])`. If you're interested in submitting a patch, please feel free!

[2019-05-29 14:58] nabdelgadir opened #2988 "Populate `{ModelName}Relations` through the CLI"
## Description / Steps to reproduce / Feature proposal

Once https://github.com/strongloop/loopback-next/pull/2960 is landed, `lb4 model` will add a generic empty `{ModelName}Relations` interface to the model class file.

Cross-posting from https://github.com/strongloop/loopback-next/pull/2960#discussion_r287668716:

@bajtos:

## Current Behaviour

`lb4 model` generates empty interface, e.g.:

[co

[2019-05-29 15:02] raymondfeng commented on #2987
How did you create the docker image? Can you get versions of node, typescript, and others?

[code]

[2019-05-29 15:08] raymondfeng commented on #2986
@Kabangi Which package is version 1.4?

[2019-05-29 15:25] ludohenin commented on #2273
@bajtos Sorry (as well) for the very late reply

You got it all here. Would be really nice to have to consistency check.

[2019-05-29 15:38] marvinirwin commented on #2953
Sorry I'm late, If nobody else has started I'll try and create the fix PR in a day or two.

[2019-05-29 16:00] raymondfeng commented on #2626
Please try the following definition:

[code]

[2019-05-29 17:26] dhmlau commented on #2953
@marvinirwin, sure, that would be great.
I have another question for you.. Could you please take a look at my comment https://github.com/strongloop/loopback-next/issues/2915#issuecomment-495450082?  I'm thinking that `--schema` option is needed, and we'll need to update the docs.  Please let me know if it's not the case. Thanks!

[2019-05-29 18:22] marvinirwin commented on #2915
@dhmlau The schema which is used for discovery is either `--schema`, `settings.database` or `''` AFAIK, I'm not sure it should be required because it can already be set beforehand.

These are the potential solutions I could think of to handle "Table not found" errors.

1. Make `--schema` required
2. Catch all errors when attempting to discover, display `If your table was not found, do you need to

[2019-05-29 19:16] gopalakrishnan-subramani opened #2991 "Documentation Request: ACL/Authorization with Loopback 4"
Looking for Authorization support offered by Loopback 4, I could see few examples on LoopBack 2 and 3, could not find example/documentation for LoopBack 4.

[2019-05-29 19:29] dhmlau commented on #2991
@gopalakrishnan-subramani , there's documentation on creating a component for authorization: https://loopback.io/doc/en/lb4/Loopback-component-authorization.html.  @raymondfeng is working on the authorization infrastructure using interceptor, see PR in progress: https://github.com/strongloop/loopback-next/pull/1205.

[2019-05-29 19:31] dhmlau commented on #2896
@bgleolalahi, does @samarpanB answer your question? Is this issue good to close? Thanks.

[2019-05-29 19:35] dhmlau commented on #2988
Not sure if I'm missing something.  For the current `lb4 relation` flow,
- create the source and target models
- create the repositories for both
- run the `lb4 relation` command to specify the model relation.

But from the description of this issue, it seems like when we're running `lb4 repository`, we already have the relations defined?

[2019-05-29 22:13] dhmlau commented on #2981
@quico14, the second parameter seems to be expected a string array.  so would it be something like:
[code]

[2019-05-29 23:11] bgleolalahi commented on #2896
Okay, thank you for helping. @samarpanB

@dhmlau Yes, we can close the issue now. Thanks.

[2019-05-30 01:42] collaorodrigo7 commented on #1920
Hey @raymondfeng with number 1 you mean, the feature that will create all CRUD endpoints for a model automatically and will execute the necessary queries for each of them? (Like you create a PersistedModel and you will automatically get insert, edit, delete, read?)
Where would you suggest me to start looking if I would like to help with that?

[2019-05-30 05:46] raymondfeng commented on #2968
Have you checked out https://loopback.io/doc/en/lb4/Interceptors.html?

[2019-05-30 05:47] #2935 closed

[2019-05-30 05:47] #2938 closed

[2019-05-30 05:47] #2942 closed

[2019-05-30 05:47] #2947 closed

[2019-05-30 05:47] #2949 closed

[2019-05-30 05:47] #2950 closed

[2019-05-30 05:47] #2951 closed

[2019-05-30 05:47] #2958 closed

[2019-05-30 05:47] #2961 closed

[2019-05-30 05:47] #2964 closed

[2019-05-30 05:47] #2965 closed

[2019-05-30 05:47] #2973 closed

[2019-05-30 05:47] #2979 closed

[2019-05-30 05:54] vjtc0n commented on #2968
@raymondfeng thanks for your support!
Basically, we can write a small function to validate the params in the controller.
But I'm afraid if we implement that way, it would break the app's structure.

I will try your solution.

[2019-05-30 07:37] joeytwiddle commented on #2786
A couple of suggestions:

1. Instead of an `new Error(...)`, throw a `new HttpErrors.Unauthorized(...)`
   Standard errors tend to become 500 in the response, whereas HttpErrors make it back to the client. (That's true for controllers anyway.)

2. Take a look at the bottom of `sequence.ts`. Play with the error handling there:

[code]

    We had an old version of Loopback 4. We found that the erro

[2019-05-30 07:41] joeytwiddle commented on #2786
By the way, for anyone interested, we log _unexpected_ errors in production like this:

[code]

[2019-05-30 08:03] bajtos commented on #2676
:+1:

Few more tasks to consider:

1. How to build API docs using the new workflow based on api-extractor (see https://github.com/strongloop/loopback-next/pull/2834) /cc @raymondfeng
2. How to add hand-written documentation for experimental packages to https://loopback.io/doc/en/lb4/index.html.

Re 2: For example, we can set the convention that experimental packages contain all documentation in th

[2019-05-30 08:26] #2631 closed

[2019-05-30 08:30] norbertglen commented on #2986
Here are the dependencies

[code]

[2019-05-30 08:32] Kabangi commented on #2986
Here are the dependencies

[code]

[2019-05-30 10:53] bgleolalahi commented on #2986
@raymondfeng I face this problem too when trying to build loopback4-example-todo-list.

[2019-05-30 11:11] bajtos commented on #2100
**Invoking controller methods**

Personally, I am proposing to keep this simple for now and simply explain how to call `invoke` (show what we are doing in the default Sequence) and explain what happens under the hood.

We can always add more content or improve the first version later.

For controller methods
- A controller instance is instantiated from the context.
- As part of the instantiation,

[2019-05-30 13:24] b-admike commented on #2100
Thank you for the detailed background/clarification @bajtos. I agree with your points and will follow through with your proposal for the rest of the doc updates.

[2019-05-30 15:09] dhmlau commented on #2986
I was able to rerproduce with the todo-list example.  Here are the steps to reproduce:

[code]

Here are a few errors I got:
[code]

[2019-05-30 16:42] raymondfeng commented on #2986
It's broken by TypeScript 3.5. We have fixed it with https://github.com/strongloop/loopback-next/pull/2996.

In your case, please check `"typescript": "^3.4.3"` to be `"typescript": "~3.4.3".

[2019-05-30 16:43] raymondfeng commented on #2986
For loopback-next, we probably should change TypeScript dependencies to use `~` instead of `^` as minor versions of TypeScript often have breaking changes.

[2019-05-30 16:43] #2986 closed

[2019-05-30 16:50] dhmlau commented on #2986
Thank @raymondfeng. It's working for now after changing the package.json to what @raymondfeng suggested above, deleting package-lock.json and rebuilding again.

[2019-05-30 17:18] techskyey opened #2997 "loopback4-example-express-composition - Filter<Note> | undefined"
## Follow the steps from https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html
The try out part:
After run: `npm start`

## Terminal log
[code]
0 info it worked if it ends with ok
1 verbose cli [ '/usr/local/Cellar/node/11.11.0/bin/node',
1 verbose cli   '/usr/local/bin/npm',
1 verbose cli   'start' ]
2 info using npm@6.7.0
3 info using node@v11.11.0
4 verbose run-script [ 'prestart',

[2019-05-30 18:04] bgleolalahi commented on #2986
Thank you @raymondfeng. It's working now.

[2019-05-30 18:13] bgleolalahi commented on #2997
#2986

[2019-05-30 18:19] bgleolalahi commented on #2997
please check "typescript": "^3.4.3" to be `"typescript": "~3.4.3" as mentioned on https://github.com/strongloop/loopback-next/issues/2986#issuecomment-497397362

[2019-05-30 18:44] b-admike commented on #2738
Timebox to week and a half. @bajtos question from estimation (Janny); Does the spike's scope have generation of relational APIs for the models if they're defined?

[2019-05-30 18:48] greenkeeper[bot] opened #3000 "An in-range update of @types/mocha is breaking the build 🚨"
## The dependency [@types/mocha](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `5.2.6` to `5.2.7`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fmocha-5.2.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/m

[2019-05-30 18:57] techskyey commented on #2997
@bgleolalahi Thanks for your tip.

Here is how I fixed it:
1. Delete `package-lock.json`
2. In package.json file, change `"typescript": "^3.4.3"` to `"typescript": "~3.4.3"`
3. Run command `npm install`
4. Run command `npm build` then run `npm start`

[2019-05-30 18:57] #2997 closed

[2019-05-30 20:26] dhmlau commented on #981
From @bajtos: https://github.blog/changelog/2019-05-23-triage-and-maintain-roles-beta/.
There are users/contributors who have done a pretty good job in answering others' issues.  We can use the new "Triage" role to recognize them.

[2019-05-30 23:24] greenkeeper[bot] opened #3003 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.7.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.7.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-30 23:37] greenkeeper[bot] opened #3004 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.9`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-30 23:50] greenkeeper[bot] opened #3005 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.13.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.13.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-05-31 01:43] greenkeeper[bot] opened #3006 "An in-range update of @types/lodash is breaking the build 🚨"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.132` to `4.14.133`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.133).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-05-31 06:52] #2981 closed

[2019-05-31 07:10] bajtos commented on #2986
Please note that scaffolded projects don't control the TypeScript version, it's controlled by `@loopback/build`'s package.json. If we change TypeScript dependency to `~`, then we will have to publish a new version of `@loopback/build` whenever a new version of TypeScript is published, plus scaffolded projects would have to use `~` for `@loopback/build`.

Personally, I'd prefer a different solution

[2019-05-31 07:34] greenkeeper[bot] opened #3009 "An in-range update of loopback is breaking the build 🚨"
## The dependency [loopback](https://github.com/strongloop/loopback) was updated from `3.25.1` to `3.26.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Floopback-3.26.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

loopback is a direct dependen

[2019-05-31 07:52] gordancso commented on #1599
Thanks @hoangleanhtu. I tried to implement the package and it works as expected.

Just another supplement to the example. If the method is custom, `options` should always be passed thru `DefaultCRUDRepositoty` methods.

[2019-05-31 10:57] bajtos commented on #2452
I opened https://github.com/strongloop/loopback-next/pull/3013 to fix the problem.

[2019-05-31 11:55] chibuike-uduma commented on #448
Lemme review and work on it

[2019-05-31 12:18] hazimdikenli commented on #1334
I think you should use authentication decorator/injector either on class levels, or on method levels, does not make sense trying to support both options at the same time. If there is no way to prevent this decorator/injector from being used on class or method levels, let the developer handle the problems.

Like a controller might have only one method which needs authentication, let them use authen

[2019-05-31 13:45] dhmlau commented on #110
@strongloop/loopback-next, thanks for your support in LoopBack! I've added some details on how to contribute to the original description. Hope it would be helpful for those who would like to contribute but don't know where to start.  Thanks!

[2019-05-31 14:32] bajtos commented on #2953
That look super weird to me! In https://github.com/strongloop/loopback-next/pull/2843, I changed the code emitting `@model`  to always stringify the model options into JavaScript code. It's entirely possible that I missed an edge case that does not work now, how can I reproduce the problem you are experiencing?

When I run `lb4 app` and `lb4 model`, then I see the following file being scaffolded i

[2019-05-31 14:52] #3000 closed

[2019-05-31 14:52] #3003 closed

[2019-05-31 14:52] #3004 closed

[2019-05-31 14:52] #3005 closed

[2019-05-31 14:52] #3006 closed

[2019-05-31 14:52] #3009 closed

[2019-05-31 15:21] bajtos commented on #2953
I think this issue will be fixed by #3015.

[2019-05-31 15:22] #2915 closed

[2019-05-31 15:41] #2452 closed

[2019-05-31 17:52] b-admike opened #3021 "[Docs] Custom Sequence Extensions"
## Description / Steps to reproduce / Feature proposal

Let's review our current documentation, and if we deem it helpful, let's add a page in `Extending LoopBack` sidebar for building and publishing custom sequence action implementations.

Taken from https://github.com/strongloop/loopback-next/issues/2100#issuecomment-497294786

[2019-05-31 17:53] b-admike commented on #2100
@bajtos I agree to your proposal for `Publish reusable actions to npm` section and created https://github.com/strongloop/loopback-next/issues/3021 for it.

[2019-05-31 19:23] pookdeveloper opened #3023 "Error controller on npm start"
## Description / Steps to reproduce / Feature proposal
Generate a new project,  then create a:
- usuarios model
- datasource
- usuarios repository
- usuarios controller.

And I get this error:
![image](https://user-images.githubusercontent.com/3384734/58729650-45e91580-83ea-11e9-9b0a-1e33bb24fe6e.png)

What's the problem?

Thanks

[2019-05-31 19:29] raymondfeng commented on #3023
This is caused by a breaking change in TypeScript@3.5.1. Please update your package.json to use `"typescript": "~3.4.5"`.

[2019-05-31 19:29] #3023 closed

[2019-05-31 20:12] dhmlau commented on #2911
@bajtos, do you think it's a duplicate of #1624 or should be labelled as `feature`?

[2019-05-31 20:15] dhmlau commented on #2460
@jannyHou @emonddr , could you please help groom this task so that the team can estimate? Thanks!

[2019-05-31 20:26] raymondfeng commented on #2460
We can use the same pattern as `@intercept` - https://github.com/strongloop/loopback-next/blob/master/packages/context/src/interceptor.ts#L339.

The decorator allows to be applied at both `class` and `method` level.

[2019-06-01 00:20] #2632 closed

[2019-06-01 02:14] argupta23 commented on #2582
@dougal83, I have sent you an email. thx.

[2019-06-01 03:14] #2100 closed

[2019-06-01 03:15] b-admike commented on #2818
Closing as done.

[2019-06-01 03:15] #2818 closed

[2019-06-01 15:58] pookdeveloper opened #3027 "Debug mode like in Loopback3 (DEBUG=loopback:datasource node .)"
## Description / Steps to reproduce / Feature proposal
The are any command to show what sql are executed?

Like in LB3:
DEBUG=loopback:datasource node .

[2019-06-01 16:21] raymondfeng commented on #3027
Juggler is the same as lb3.

[2019-06-01 16:23] pookdeveloper commented on #3027
If i use this command I do not see the sql:
DEBUG=loopback:datasource node .

[2019-06-01 16:30] raymondfeng commented on #3027
try `loopback:connector:*`

[2019-06-01 17:11] dinsvale opened #3028 "How to call Loopback4 controller's method from another controller?"
## Description / Steps to reproduce / Feature proposal
I have a loopback 4 controller with a function that I don't want to expose via HTTP.
I would like to be able to call the function from another controller. How can I do this? Is there any way of injecting a controller in another controller? (I 'm able to inject repositories in controllers, but not controllers in controllers)
## Current Behavior

[2019-06-01 17:22] raymondfeng commented on #3028
You should be able to inject another controller. Pls show your code.

[2019-06-01 17:24] raymondfeng commented on #3028
Check out similar examples at https://github.com/strongloop/loopback-next/tree/master/examples/context

[2019-06-01 17:26] raymondfeng commented on #3028
It should be as simple as `@inject(‘controllers.AnotherController’) c: AnotherController`

[2019-06-01 17:35] dinsvale commented on #3028
Alright, so to inject a repository in a controller, I do this, in the constructor of the controller:
`  constructor(
    @repository(RepositoryIWantToInject)
    public repositoryIWantToInject: RepositoryIWantToInject,
  ) {}`

I tried @controller but it didn't work. But what you posted just now seems to have worked! Thanks!

[2019-06-01 18:17] raymondfeng commented on #3028
Simply use `@inject`

[2019-06-01 18:18] #3028 closed

[2019-06-02 14:09] techskyey opened #3030 "lb4 CLI create controller bug - Filter object missing an argument"
Run `lb4 controller` then run `npm start` it will complain argument of type 'Filter<AnyObject> undefined' see detail on below(Log).
Auto generated code by CLI is missing an argument on Filter object.
_**See comparison on below:**_
**Generated code:**
`async find(
    @param.query.object('filter', getFilterSchemaFor(Todo)) filter?: Filter,
  ): Promise<Todo[]> {
    return await this.todoRepository

[2019-06-03 06:31] hoangleanhtu commented on #1599
@gordancso Thank for your suggestion.

New [version](https://www.npmjs.com/package/loopback4-spring#transaction-on-mongodb-replica-set) supports MongoDB as well.

[2019-06-03 06:39] vikramkh opened #3032 "loopback/authentication this.fail is not a function"
After following the setup for loopback/authentication, and adding the decorator: @authentication('BasicStrategy') to my users controller, I get the error:
Unhandled error in GET /users/count: 500 TypeError: this.fail is not a function
    at BasicStrategy.authenticate (/Users/myName/folder/node_modules/passport-http/lib/passport-http/strategies/basic.js:69:17)
    at AuthenticateActionProvider.act

[2019-06-03 12:07] bhupesh-sf commented on #3030
I had the same issue and I solved it by passing the Model to Filter and Where type manually. CLI needs to be updated here.

[2019-06-03 12:08] samarpanB commented on #3030
That solution definitely works. Thanks @bhupesh-sf . Lets hope the PR gets merged soon for the fix.

[2019-06-03 12:35] bajtos opened #3033 "Epic: ENUM type (ORM, OpenAPI, etc.)"
Implement a new property type - enum (enumeration).

Example model definition:

[code]

This issue is a replacement for https://github.com/strongloop/loopback/issues/1321 that's tracking ENUM feature request in LoopBack 3.x

Areas to cover:
- support both `string` and `number` as a backing datatype
-  loopback-datasource-juggler should validate property values of enum type inside DAO methods like

[2019-06-03 12:39] bajtos commented on #2911
In my experience, supporting ENUMS requires changes in several parts of the framework. We used to have an issue tracking this feature for LoopBack 3.x (see https://github.com/strongloop/loopback/issues/1321), I created a new Epic issue specific to LB4: https://github.com/strongloop/loopback-next/issues/3033

This particular GH issue seems to be centered around validation of ENUM model properties a

[2019-06-03 12:39] #2911 closed

[2019-06-03 14:09] kietphan commented on #1599
@hoangleanhtu I was tried it with postgres, but It not worked yet

[2019-06-03 14:31] bajtos commented on #1920
@collaorodrigo7

While I cannot speak for Raymond, we have an Epic tracking the feature you are looking for, see #2036 _From model definition to REST API with no repository/controller classes_

I think https://github.com/strongloop/loopback-next/issues/2736 would be a great first step to make. See "Acceptance criteria" in #2036 for the next steps.

[2019-06-03 15:10] hoangleanhtu commented on #1599
Hi @kietphan,

Please use version 1.0.6, it supports Postgres.

[2019-06-03 18:07] dhmlau commented on #3032
@jannyHou @emonddr, could you PTAL? thanks.

[2019-06-03 18:09] dhmlau commented on #3030
PR https://github.com/strongloop/loopback-next/pull/3031

[2019-06-03 18:10] dhmlau commented on #3027
@pookdeveloper, is this issue good to close? Thanks.

[2019-06-03 18:27] dhmlau opened #3035 "Monthly Milestone - Jun 2019 🌞🌺⛳️"
## June milestone
- Finish Q2 release!

### Goals
- [x] Inclusion of related models https://github.com/strongloop/loopback-next/issues/1352
  - [x] Add navigational properties to examples/todo-list https://github.com/strongloop/loopback-next/issues/2633
  - [x] Enhance `getJsonSchema` to describe navigational properties https://github.com/strongloop/loopback-next/issues/2630 [community contributio

[2019-06-03 18:31] emonddr commented on #3032
@vikramkh

Apologies for the broken example, we are in the midst of landing different PRs which
are updating @loopback/authentication  .

[feat: resolve authentication strategy registered via extension point](https://github.com/strongloop/loopback-next/pull/2763) landed in early May and it was a breaking change; bumping @loopback/authentication to `2.0.3`.

[Draft:Changes to passport strategy adap

[2019-06-03 18:34] jannyHou commented on #3032
@vikramkh I think you are using a passport based strategy which is not supported yet in `@loopback/authentication@2.x`, we are working on the new adapter for the passport strategies in https://github.com/strongloop/loopback-next/pull/2969, I will let you know when it's ready for use.

[2019-06-03 18:58] jannyHou commented on #3032
Just talked to @emonddr and seems this is the same issue reported in https://github.com/strongloop/loopback-next/issues/2886, @vikramkh I am closing this story as a duplicate, and let's continue the discussion in the earlier issue https://github.com/strongloop/loopback-next/issues/2886.

Feel free to reopen this issue if you have other concerns :)

[2019-06-03 18:58] #3032 closed

[2019-06-03 20:12] #3030 closed

[2019-06-03 23:31] sherif2011 opened #3038 "Loopback4 Bearer_Token authentication"
Description / Steps to reproduce / Feature proposal

I tried following the example mentioned in https://www.npmjs.com/package/loopback4-authentication to get http-bearer configured.

Here is my simple project on Github:  https://github.com/sherif2011/lb4_token

Current Behavior
When I run and try accessing localhost:3000, I get "500 JsonWebTokenError: jwt must be a string"

Expected Behavior
Expec

[2019-06-04 02:01] secombrian commented on #2987
I've got the same problem when updated to the latest version via NPM.
Node: v8.11.3
+-- @loopback/authentication@1.0.17
| +-- @loopback/context@1.8.1 deduped
| +-- @loopback/core@1.2.1 deduped
| +-- @loopback/metadata@1.1.7
| +-- @loopback/openapi-v3@1.3.2 deduped
| +-- @loopback/rest@1.9.1 deduped
| +-- passport@0.4.0 deduped
| `-- passport-strategy@1.0.0
+-- @loopback/boot@1.1.2
| +-- @loopback/

[2019-06-04 02:11] jannyHou opened #3039 "[Lab feature] Figure out how to publish apidocs for lab features"
## Description / Steps to reproduce / Feature proposal

A follow up story for the spike https://github.com/strongloop/loopback-next/issues/2676
The workflow of how to add an experimental feature is documented in https://github.com/strongloop/loopback-next/blob/labs/base/LABS.md , next let's figure out how to generate the apidocs for packages in folder `/labs` and publish them on https://loopback.i

[2019-06-04 02:12] jannyHou commented on #2676
The work flow of experimental features is documented in https://github.com/strongloop/loopback-next/blob/labs/base/LABS.md

follow up story created as https://github.com/strongloop/loopback-next/issues/3039.
I am closing this spike 🎉

[2019-06-04 02:12] #2676 closed

[2019-06-04 04:49] raymondfeng commented on #2987
The latest version of `@loopback/repository` is v1.6.0. We fixed the compilation issue with TS 3.5 recently. Please upgrade to latest versions with `npm up`.

[2019-06-04 07:35] pookdeveloper commented on #3027
Hello @dhmlau @raymondfeng i try:
[code]

or

[code]
and not work.

[2019-06-04 08:00] bajtos commented on #2988
Ah, that was a typo on my side. I meant `lb4 relation`. Let me fix the issue description.

The problem is that at the momemt, `lb4 model` creates an empty `{ModelName}Relations` interface. When `lb4 relations` adds a new relation, it is not adding navigational properties to that interface, the developer has to update the interface manually. The goal of this user story is to fix that.

[2019-06-04 08:01] gordancso commented on #2614
[loopback4-spring](https://www.npmjs.com/package/loopback4-spring) arising from [Issue #1599](https://github.com/strongloop/loopback-next/issues/1599) is a good example of using decorator style to perform transaction.

[2019-06-04 08:09] renovate[bot] opened #3042 "Old Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Repository problems

These problems occurred while renovating this repository.

 - WARN: Could not detect lerna version in fixtures/tsdocs-monorepo/package.json, using 'latest'

## Rate Limited

These updates are currently rate limited. Click on a checkbox

[2019-06-04 11:45] RipkensLar opened #3044 "Migration error does not get caught"
## Steps to reproduce
1. Checkout todo example
2. Add postgresql (or any other database) datasource with wrong credentials so that you are unable to connect to the database
3. Inject the postgresl datasource into the TodoRepository
4. Run npm run migrate

## Current Behavior
The callback function in the catch block in migrate.ts, which should handle the error, does not get called. I am talking abo

[2019-06-04 12:23] sbacem commented on #3044
you can write your log  like this

https://github.com/strongloop/loopback-next/tree/master/examples/log-extension

[2019-06-04 12:35] RipkensLar commented on #3044
This extension is for logging controller methods, which is not my problem. My problem is that I need to detect whether or not I am able to access the database when running the migrate script.

[2019-06-04 13:07] bajtos commented on #2809
I am afraid I am not able to run your application because I automigration does not work and thus I don't have any way how to create necessary database schemas :(

However, I see a problem in your test:

https://github.com/nike171196/loopback-next/blob/e95d46c2728b125eae887a646a24156346a5cac7/examples/todo/src/__tests__/integration/repositories/todo.repository.integration.ts#L11-L13
[code]

`type`

[2019-06-04 13:09] bajtos commented on #2809
I was relatively recently looking into foreign keys and (unique) indexes in https://github.com/strongloop/loopback-next/pull/2712, I described the currently available syntax in [this document](https://github.com/strongloop/loopback-next/blob/7f92406a2ef36aa4699749f8acb63a2fe14fb09b/_SPIKE_.md). For the future, I proposed a slightly improved syntax, see https://github.com/strongloop/loopback-next/i

[2019-06-04 13:11] bajtos commented on #2809
I see an object, not an array.

<img width="492" alt="Screen Shot 2019-06-04 at 15 11 10" src="https://user-images.githubusercontent.com/1140553/58881708-061c7980-86db-11e9-877f-b95dc16b8d9c.png">

[2019-06-04 16:54] dhmlau opened #3047 "Looking for LoopBack user references"
As you might be aware, we have a brand new look of the [loopback.io](https://loopback.io) web site. We'd like to rebuild the "Who's using LoopBack" section and showcase our users and the use cases.  If you would like to be a part of it, you can:
- add a comment  so that we can ping you
- drop an email ✉️  to dhmlau@ca.ibm.com

### FAQ
**Q:** What is needed from me and my company?
**A:** Once you'v

[2019-06-04 20:13] dhmlau commented on #3047
cc @strongloop/loopback-next

[2019-06-05 02:07] kietphan commented on #1599
@hoangleanhtu thank you,  it works as expected.

[2019-06-05 06:35] Iruora opened #3049 "Error after generating controller"
Hello, I have created a model, repository and controller using CLI, but after running the command `npm start` an error in the controller occurs in the method find(...).
**Argument of type 'Filter<AnyObject> | undefined' is not assignable to parameter of type 'Filter<Book> | undefined'.
  Type 'Filter<AnyObject>' is not assignable to type 'Filter<Book>'.**
I just fixed that issue by specifying the

[2019-06-05 07:16] pookdeveloper commented on #3027
I try this
[code]
but the same, it dosen't work

Any solution ?  Thanks

[2019-06-05 07:28] ludohenin opened #3050 "MySQL tables are created for Model referenced in Entity"
## Description / Steps to reproduce / Feature proposal

When using `Model` class (not `Entity`) referenced in an `entity` property type, is it normal to see model related tables created in MySQL ?

[code]

From here I get 2 tables created:
* MyModel <-- useless
* MyEntity <-- persistence corectly works here

[2019-06-05 13:35] dhmlau commented on #3047
@mrmodise @bgleolalahi, thanks for the 👍 .  I was looking up both of your contact info from the github profiles, but couldn't find any email address.  What's the best way to contact you? Or do you mind emailing me at `dhmlau`@ca.ibm.com?  Thanks!

[2019-06-05 14:40] vvdwivedi commented on #3047
@dhmlau I recently started my own dev shop and I am using loopback 3 (some times 4) for most of my projects. I am not sure if my company is big enough to help endorse Loopback, but if you need a testimonial, you can let me know at vivek@humansofcode.com

[2019-06-05 15:51] dhmlau commented on #3027
@pookdeveloper, sorry that I don't have access to a Windows machine for now.  On mac, that's what I did, and I think it should be the same for Windows. Could you please try it out?
[code]

[2019-06-05 15:53] dhmlau commented on #3027
Then I got something like:
[code]

[2019-06-05 16:03] pookdeveloper commented on #3027
Thanks it works using:
[code]
![image](https://user-images.githubusercontent.com/3384734/58971551-ff196800-87bb-11e9-99ed-f2e4e95129d2.png)

I using now a mac

[2019-06-05 16:03] #3027 closed

[2019-06-05 16:04] pookdeveloper commented on #3027
I have another question.. If a

[2019-06-05 17:30] dhmlau opened #3051 "Add "Debugging application" in LB4 docs"
## Description / Steps to reproduce / Feature proposal
In LB3, there are docs page about running and debugging apps, see https://loopback.io/doc/en/lb3/Running-and-debugging-apps.html and https://loopback.io/doc/en/lb3/Setting-debug-strings.html.

I'm thinking we should have something similar for LB4, especially setting up debug strings and running it. See related issue: https://github.com/strongl

[2019-06-05 19:10] dhmlau commented on #3049
@Iruora , i believe we've fixed this issue in our latest release.  Could you please update `@loopback/cli` and install your app's dependencies again? Thanks.

[2019-06-05 20:56] raymondfeng commented on #3050
We probably need to introduce a flag to tell `MyModel` is not for persistence:

[code]

[2019-06-06 00:53] sanadHaj commented on #2035
@bajtos
how you plan to provide the requestContext ?
[code]

[2019-06-06 02:02] dhmlau commented on #3047
@vvdwivedi, thanks for your support. I've reached out to you via the provided email. Looking forward to hearing from you soon.

[2019-06-06 02:26] dhmlau commented on #2970
@kimoudev , did @raymondfeng's comment answer your question?

[2019-06-06 02:33] dhmlau commented on #2608
@raymondfeng @bajtos, is this done https://github.com/strongloop/loopback-next/pull/2492?

[2019-06-06 03:11] #2608 closed

[2019-06-06 03:58] bgleolalahi commented on #3047
Hi @dhmlau, I just have reached out to you via dhmlau@ca.ibm.com.

[2019-06-06 04:07] gopalakrishnan-subramani commented on #2991
All seems working fine, thank you @dhmlau , Application.ts file should have

this.component(AuthorizationComponent)

The documentation refers to this.component(AuthenticationComponent);

[2019-06-06 04:07] #2991 closed

[2019-06-06 06:35] ludohenin commented on #3050
As I understood it, we have `Model` for it means and we have `Entity` for persisted model but I'm probably wrong. A flag seems to be OK otherwise.

[2019-06-06 06:41] ludohenin commented on #2582
@raymondfeng related to my comment above https://github.com/strongloop/loopback-next/issues/2582#issuecomment-491085786, I actally found the cause of my problem.

This is because I have a custom RepositoryBase and it was named `base.repository.ts` which causes this file to be automatically bound and instanciated by LB, renaming the file solved the issue. I'm actually surprised to see all repo bein

[2019-06-06 08:35] gordancso opened #3053 "typescript@3.5.1 not compatible to some of the packages"
## Description / Steps to reproduce / Feature proposal
Updated a current working project with `npm up`. `typescript@3.5.1` is breaking some of the packages (e.g. `Filter`/`Where` definition.).

## Current Behavior
Error is prompted at `npm run start`. (masked some of the sensitive information)
[code]
[code]
Need to downgrade to `typescript@3.4.5` in order to continue development..

## Expected Beh

[2019-06-06 09:16] kimoudev commented on #2970
@raymondfeng  Yes my application works perfectly in production but does not support the realtime fireloop plugin with LB4 for migration LB3 to LB4 shown on this [link](https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application)

[2019-06-06 09:20] danysz commented on #2582
update everything to latest version and auth is broken again ...
this is driving crazy.

[code]

any idea ?

[2019-06-06 12:29] emonddr commented on #2886
Update :
@loopback/authentication documentation changes still in the works, and passport support still in the works.

However,  `loopback4-example-shopping` application was updated to use @loopback/authentication 2.x and is working.

 https://github.com/strongloop/loopback4-example-shopping

 :)

[2019-06-06 12:33] emonddr commented on #2582
Please see the discussion in https://github.com/strongloop/loopback-next/issues/2886 .

At the moment the passport support for @loopback/authentication 2.x is not available, but is being worked on.

(loopback4-example-shopping)[https://github.com/strongloop/loopback4-example-shopping] was updated to use @loopback/authentication 2.x (but doesn't use passport).

[2019-06-06 12:40] aharbis commented on #110
Hi @bajtos, I'd like to be added to the contributors list. Thanks!

[2019-06-06 12:51] sbacem commented on #110
Hi @bajtos, I would like to be part of the contributors.

[2019-06-06 14:17] mrmodise commented on #3047
I will email you. thanks!

[2019-06-06 16:57] bgleolalahi commented on #3053
@gordancso Just modify your type param from `... filter?: Filter` to `... filter?: Filter<Customer>` and `...where?: Where` to `where?: Where<Customer>` and you can continue your development with `typescript@3.5.1`.
Don't forget to rebuild and update the @loopback/cli to latest version as well.

[2019-06-06 18:32] nabdelgadir commented on #3039
Deferring this until https://github.com/strongloop/loopback-next/pull/3055 is landed.

[2019-06-06 20:42] dhmlau commented on #2915
@marvinirwin, sorry that I missed your message.
In my use case, I specify the `database` in the datasource, so _supposedly_ it should discover tables just within that database?

Anyway, I just installed the latest version of `@loopback/cli` and am seeing a different behavior.  Using postgresql as the db,
- if I run `lb4 discover`, the tables I was looking for actually showed up (it didn't in the p

[2019-06-06 21:21] aharbis opened #3058 "Required model property with default value throws error when property not provided in create"
## Description / Steps to reproduce / Feature proposal

Given a model property that is defined as `required` with a `default` value, trying to create a new model instance and omitting that property from the request yields a 422 error stating the property is missing.

For example, given the following model property definition:

[code]

Trying to create a model instance and omitting the `username` p

[2019-06-06 21:31] aharbis commented on #3058
It is worth noting that adding a `default` value to a non-required property *does* populate the default value if the request does not contain that property. I also demonstrated this behavior in the recreate - just see the added default value for `isComplete`, and added test validation for the default:

Non-required default property:

[code]

Test case passes:

[code]

[2019-06-06 22:00] dougal83 commented on #3058
I could be wrong but I think if you set the field as required, it needs to be provided regardless of there being a default.  If I recall correctly, this is not the same as 'not null' in a db.  That being said if I'm mistaken and if you are using a data connector that supports schema then make sure you use the migrate tools so the defaults are in place to avoid not null.

[2019-06-06 22:24] aharbis commented on #3058
IIRC in my experience with LB3, I don't believe this was the case. In the LB3 app I maintain, we regularly would set a property to be both required and have a default. If I don't provide that property in the request, we got back the default property (as it was required). That was always my interpretation of the required / default combination.

[2019-06-06 23:07] dougal83 commented on #3058
Ah fair enough. I've not used lb3 so I'm fairly taking things as is. I see
your point.

On Thu, 6 Jun 2019, 23:24 Aidan Harbison, <notifications@github.com> wrote:

[2019-06-07 01:26] dhmlau commented on #2784
Closing this issue as answered.

[2019-06-07 01:26] #2784 closed

[2019-06-07 01:36] dhmlau commented on #2672
@bajtos @hacksparrow, do you think we should turn this into a spike to find out what's a good substitution?

I'm thinking of the following acceptance criteria. Please review:

### Acceptance Criteria
- [ ] Review the list of alternatives listed in https://github.com/request/request/issues/3143, and determine which one is the best
   - Question: what are the criteria to determine the most suited on

[2019-06-07 07:51] Nayak11 opened #3060 "Help required to debug the issue!"
I am trying to reproduce soap-calculator application(https://loopback.io/doc/en/lb4/soap-calculator-tutorial.html)

When I run - http://localhost:3000/add/50/50 I am getting below error!

[code]

Below is the expected output:

[code]

[2019-06-07 07:55] Nayak11 commented on #3060
@raymondfeng Can you please guide me.

[2019-06-07 08:10] Kabangi commented on #3049
Doesn't seem to help.

I have updated to latest versions and still the issue persists.

This is how my dependencies look like.

[code]

[2019-06-07 08:32] bajtos opened #3061 "Build 2.0"
This is a tracking issue of all semver-major changes to consider for `@loopback/build` version `2.0.0`.

- [x] Remove strong-docs https://github.com/strongloop/loopback-next/pull/3055
- [x] Remove multi-dist support https://github.com/strongloop/loopback-next/pull/3062
- [x] Remove tslint https://github.com/strongloop/loopback-next/pull/3063
- ~~Maybe: Remove support for `mocha.opts`~~

[2019-06-07 12:11] bajtos commented on #3058
Thank you @aharbis for reporting this issue. I think I know what is causing the problem.

Let me start by quoting [JSON Schema Validation](https://json-schema.org/latest/json-schema-validation.html#rfc.section.10.2):

In other words, JSON Schema treats `default` only as a hint for the client, it's not taken into account during validation.

It's also important to realize that our code parsing JSON

[2019-06-07 12:25] bajtos commented on #3053
Exactly as @bgleolalahi wrote. See https://github.com/strongloop/loopback-next/pull/3031 where we applied the same fix ourselves.

I am sorry for the inconvenience, unfortunately there is very little we can do about TypeScript introducing breaking changes in semver-minor releases :(

[2019-06-07 12:25] #3053 closed

[2019-06-07 12:27] bajtos commented on #3060
@Nayak11 Thank you for reporting the issue. Please provide us with steps how to reproduce the problem, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-06-07 14:19] samarpanB commented on #2953
I can confirm that this issue is fixed with latest cli version. Just tried with 1.16.1. But there is a different issue coming up on discovery. I'll raise that separately.

[2019-06-07 15:07] bajtos commented on #2953
Thank you @samarpanB for the confirmation. I am closing this issue as fixed then.

[2019-06-07 15:07] #2953 closed

[2019-06-07 15:15] bajtos commented on #110
@aharbis  @sbacem Invitations sent, welcome on board 🚢

[2019-06-07 15:44] bajtos commented on #2208
Not really. Re-posting one of my earlier comments:

@sergiomata Would you like to contribute the necessary changes to swagger-js yourself?

[2019-06-07 15:57] #2626 closed

[2019-06-07 15:58] bajtos commented on #734
Please note that top-down approach is not about taking an OpenAPI spec file and generating TS code with `@get` and `@param` decorators. In the top-down approach, the OpenAPI spec is the source of truth about the operations and their parameters. The TypeScript code is providing only implementation of the individual endpoints, using OAI extensions like `x-controller-name` and `x-method-name` to link

[2019-06-07 15:59] bajtos commented on #1922
Closing as done by https://github.com/strongloop/loopback-next/pull/2060.

[2019-06-07 15:59] #1922 closed

[2019-06-07 16:02] bajtos commented on #2399
@Joel-Raju is this issue still relevant? Can you create a small app we can use to reproduce the problem please? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-06-07 16:36] Nayak11 commented on #3060
@bajtos Steps mentioned in https://loopback.io/doc/en/lb4/soap-calculator-tutorial.html are the exact steps to reproduce.

[2019-06-07 16:59] Nayak11 commented on #3060
### calculator.datasource.json
`{
  "name": "calculator",
  "connector": "soap",
  "url": "https://calculator-webservice.mybluemix.net/calculator",
  "wsdl": "https://calculator-webservice.mybluemix.net/calculator?wsdl",
  "remotingEnabled": true,

  "operations": {

    "multiply": {
     "service": "CalculatorService",
     "port": "CalculatorPort",
     "operation": "Multiply"
   },

   "add":

[2019-06-07 19:39] dhmlau opened #3072 "[Epic] Test/Enable Node.js 12 support for connectors"
Through PR https://github.com/strongloop/loopback-datasource-juggler/pull/1728 and https://github.com/strongloop/loopback-datasource-juggler/pull/1729, `loopback-datasource-juggler` now supports Node.js 12.  The next step is to test and add support for Node.js 12.x for the connectors.

### Acceptance Criteria
For the following connectors, test locally on Node.js 12 and see if all tests passed.
- I

[2019-06-07 22:03] dougal83 commented on #3060
The code example is not correct, "arg2" is erroneous. Try ``calculator.controller.ts`` as the following:

[code]

[2019-06-09 09:47] gopalakrishnan-subramani opened #3073 "loopback postgresql connector neq with null check issue"
We have an critical issue, we could not filter not null values neq using postgresql with loopback find methods.

This is show stopper for our entire application, we need soft delete features based on timestamp data.
{ deleted_at: {neq: null} }

Any workaround possible without hitting DB performance? or if you could show a possible place to fix the bug, we will fix and contribute back with pull req

[2019-06-09 11:34] aeremin commented on #3049
@Iruora Thanks for filing this issue (and making it google-able)! Had no idea what's going on.

@Kabangi I think you need to update/install global dependency:
`npm i -g @loopback/cli@latest`
(which won't affect package.json).

Also, you would need to re-create your Controller (by `lb4 controller`, maybe deleting existing one is also needed). Basically, new CLI generates Controller's with more expl

[2019-06-09 13:21] marvinirwin commented on #2915
Strange, I can't reproduce your bug, when I specify my schema I get the tables I want.  Try `DEBUG=loopback:connector:postgres lb4 discover --schema testdb`

You should see one of three statements look something like this.

`  loopback:connector:postgresql SQL: SELECT 'view' AS "type", table_name AS "name", table_schema AS "owner" FROM information_schema.views WHERE table_schema='testdb' +1ms`

Wh

[2019-06-10 05:51] samarpanB opened #3074 "[Model Discovery] lb4 discover --schema doesn't take care of schema name in the generated model class"
## Description / Steps to reproduce / Feature proposal

Using **Postgresql** as database, when running lb4 discover --schema schema_name, it reads the tables from the schema correctly and prompts correctly at command-line. But once selected, the generated model classes are pointing to 'public' schema always.

Steps:
1. Create a postgresql database. Create a new schema besides public. Say 'test'.
2

[2019-06-10 14:09] dhmlau commented on #2915
@marvinirwin, I just tried again and it worked without the `--schema` option!  It's probably because it's taking a long time to get the table list and appeared as it hung (?).

Regarding your comment about `table_schema` value, for my database, `table_schema` is `owner` for me with or without the `--schema` option.  I'm using the postgresql docker image.

FYI --
[code]

[2019-06-10 15:06] sherif2011 commented on #3038
Any update regarding this? I am just following the example, am I missing something? Thanks!

[2019-06-10 15:07] #2630 closed

[2019-06-10 16:47] dhmlau commented on #3039
#3055 has landed. We can estimate it in the coming estimation meeting.

[2019-06-10 16:50] marvinirwin commented on #2915
I don't understand what you mean by this.  Do you mean that the `table_schema` of your tables you created in `testdb` is `'owner'`?

Looking at your debug output it looks like it's querying correctly.  I'm not sure why the tables are missing though.

`SELECT 'table' AS "type", table_name AS "name", table_schema AS "owner" FROM information_schema.tables` could be useful, as it would show the `table

[2019-06-10 17:20] dhmlau commented on #1996
Discussion with @raymondfeng @jannyHou @emonddr:
This issue for the example-shopping, to divide the UserRepository into user credential and user profile information - to separate sensitive information from insensitive information as best practices.

[2019-06-10 17:21] dhmlau commented on #3038
@emonddr, could you PTAL? thanks.

[2019-06-10 17:23] dhmlau commented on #2246
Discussion with @raymondfeng @jannyHou @emonddr:
this will eventually move to the common layer @raymondfeng is adding. See https://github.com/strongloop/loopback-next/issues/2900.

[2019-06-10 17:37] dhmlau commented on #2267
Discussion with @raymondfeng @jannyHou @emonddr,
there might be something already existed in example-shopping.  @emonddr to look up the sample code.

[2019-06-10 17:57] dhmlau commented on #230
Discussion with @raymondfeng @jannyHou @emonddr:
- there are 2 parts in the flow: 1/ get the access token (usually through some UI), 2/ use the access token for API calls. we'll focus on the 2nd part first.
- we can create an example endpoint for OAuth2 to try it out in the example-shopping repo.

[2019-06-10 17:58] dhmlau commented on #2460
Related to #1334

[2019-06-10 19:06] raymondfeng commented on #2619
We now have the infrastructure in place, such as `ContextView`, `@inject.view`, and `@inject.getter`. The key is to extract certain logic into extension points and utilize the dynamic access to registered extensions. For example, the `RestServer` should be able to react on controller come and go.

[2019-06-10 19:09] raymondfeng commented on #2619
We also need to find out which artifacts may have impacts when they are changed. It also has something to do with binding scopes.

[2019-06-10 19:11] raymondfeng commented on #2672
I don't have strong opinions here but axios and node-fetch seem to be two popular candidates.

[2019-06-10 19:35] dhmlau commented on #2915
@marvinirwin, sorry about the confusion.
I was referring to your below comment that I don't have the problem you're seeing.

However, someone encountered this issue: https://github.com/strongloop/loopback-next/issues/3074.

Since it's working for me, if you agree, we'll keep this issue closed, and continue discussion on https://github.com/strongloop/loopback-next/issues/3074 for the `table_schema`

[2019-06-10 19:36] dhmlau commented on #3074
Seems like @marvinirwin realized this issue.  See https://github.com/strongloop/loopback-next/issues/2915#issuecomment-500211787.

[2019-06-10 19:52] dhmlau commented on #2268
Discussion with @raymondfeng @jannyHou @emonddr:

A few pointers:
- create an authorization component: https://loopback.io/doc/en/lb4/Loopback-component-authorization.html
- In progress PR: https://github.com/strongloop/loopback-next/pull/1205
- an upcoming blog from @gobackhuoxing https://strongloop.com/authors/Wenbo_Sun/. Part 4 is about authentication and is coming up.

[2019-06-10 19:55] dhmlau commented on #2057
Discussion with @raymondfeng @jannyHou @emonddr:
This is similar to https://github.com/strongloop/loopback4-example-shopping/issues/36 (how to invalidate token).  We can make extension points to allow users to plug-in their logic to validate/invalidate tokens themselves.

[2019-06-10 20:11] marvinirwin commented on #3074
This is pretty weird, I can't immediately see why it's doing this, I'll take a closer look by tomorrow & try to reproduce.

[2019-06-10 20:12] dhmlau commented on #1334
Discussion with @raymondfeng @jannyHou @emonddr:
- To answer the original question, `@authenticate` decorator is applicable at the method level.
- If we want to allow decorators to be used at class level and method level can inherit from the class level, we can use interceptor.

### Acceptance Criteria
- [ ] Document how to use the `@authenticate` decorator so that it is applicable at the method l

[2019-06-10 20:20] dhmlau commented on #2672
Thanks @raymondfeng. How do we know which one is better? :)  Any criteria to determine that?

[2019-06-10 20:34] dhmlau commented on #2057
### Acceptance Criteria
- [ ] create an extension point so that users can implement the logics to validate/invalidate tokens using extensions.

[2019-06-11 00:08] #2644 closed

[2019-06-11 08:26] bajtos commented on #2619
Yes. Removing a controller must remove the REST API endpoints too.

I think different artifacts may need different approach. For example, there may be very little work needed to unregister a model class. On the other hand, removing a controller is more involved, as we have to update the routing table.

It may be better to split this spike into smaller tasks, for example:
1. Controller class
2. Rep

[2019-06-11 10:46] bajtos commented on #889
I was thinking about this Epic recently, and I would like to propose a different approach. My expectation is that the approach will allow us to work in smaller increments and keep frequent releases. This way we can keep shipping useful improvements to our users. Even if a time comes that this refactor has to be put on hold because of other priorities, then no unfinished work will be wasted.

1. En

[2019-06-11 14:17] jannyHou commented on #2057
We now have the TokenService interface in `@loopback/authentication` that has a `verify` function. People can implement their token services and define the verify function, like https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/jwt-service.ts#L16
@dhmlau I am afraid creating an extension point is not the right direction to go, the token service is

[2019-06-11 16:07] derdeka opened #3104 "docs should contain which versions of LB3 packages are required to mount into LB4"
## Description / Steps to reproduce / Feature proposal

I've tried to mount a large LB3 app into LB4. The openapi.json does not contain LB3 models after booting. I looks like LB4 is continuing processing before LB3 is ready.

## Current Behavior

Our LB3 app uses loopback-boot 3.0.1, which does not set the lb3app.booting flag.
That's why [this check](https://github.com/strongloop/loopback-next/blo

[2019-06-11 17:39] dhmlau commented on #2507
Talked to @raymondfeng, we can close this as done.

[2019-06-11 17:39] #2507 closed

[2019-06-11 17:50] dhmlau commented on #2598
@b-admike was helping to land the PR but was running into some build issues. That's why this task is blocked.

[2019-06-11 18:39] dhmlau opened #3110 "Test/Enable Node.js 12 for SQL connectors"
## Description / Steps to reproduce / Feature proposal
Originated from: https://github.com/strongloop/loopback-next/issues/3072

### Acceptance Criteria
For the following SQL connectors, test locally on Node.js 12 and see if all tests passed.

If yes, add Node.js 12 to CI
If not, try to fix it for simple fixes. If you don't think you can fix it in a day, open a new issue to keep track of it.

- [x

[2019-06-11 18:40] dhmlau opened #3111 "Test/Enable Node.js 12 for noSQL connectors"
## Description / Steps to reproduce / Feature proposal
Originated from: https://github.com/strongloop/loopback-next/issues/3072

reference -> [MySQL](https://github.com/strongloop/loopback-connector-mysql/pull/393)

### Acceptance Criteria
For the following noSQL connectors, test locally on Node.js 12 and see if all tests passed.

If yes, add Node.js 12 to CI
If not, try to fix it for simple fixes

[2019-06-11 18:42] dhmlau opened #3112 "Test/Enable Node.js 12 for service connectors"
## Description / Steps to reproduce / Feature proposal
Originated from: https://github.com/strongloop/loopback-next/issues/3072

### Acceptance Criteria
For the following service connectors, test locally on Node.js 12 and see if all tests passed.

If yes, add Node.js 12 to CI
If not, try to fix it for simple fixes. If you don't think you can fix it in a day, open a new issue to keep track of it.
-

[2019-06-11 19:02] nabdelgadir commented on #3104
The [fix](https://github.com/strongloop/loopback-boot/pull/286) that allows it to set the flag immediately was done in `loopback-boot@3.2.1`, so I'll create a PR to let users know to use that version or later. Thanks for letting us know 👍

[2019-06-11 19:31] #3060 closed

[2019-06-12 15:32] #3074 closed

[2019-06-12 15:37] nabdelgadir commented on #2393
Closing as done.

[2019-06-12 15:37] #2393 closed

[2019-06-12 15:42] nabdelgadir commented on #2479
Closing this epic as done.

[2019-06-12 15:42] #2479 closed

[2019-06-12 19:31] dhmlau opened #3124 "Spike: Unregister runtime artifacts for Controller class"
## Description / Steps to reproduce / Feature proposal
Originated from https://github.com/strongloop/loopback-next/issues/2619

Please see @bajtos' comment: https://github.com/strongloop/loopback-next/issues/2619#issuecomment-500740693 for details

### Acceptance Criteria
- [ ] When a controller + repo + model is unregistered, there must be no memory references remaining, so that V8 can release an

[2019-06-12 19:33] dhmlau opened #3125 "Spike: Unregister runtime artifacts for Repository and Service proxy"
## Description / Steps to reproduce / Feature proposal
Originated from https://github.com/strongloop/loopback-next/issues/2619

Please see @bajtos' comment: https://github.com/strongloop/loopback-next/issues/2619#issuecomment-500740693 for details

### Acceptance Criteria
- [ ] When the artifact is unregistered, there must be no memory references remaining, so that V8 can release and collect the m

[2019-06-12 19:42] dhmlau commented on #1334
@emonddr , per the discussion in the estimation meeting, could you please review the original description and see if your docs PR is going to cover that? Thanks.

[2019-06-12 19:58] dhmlau opened #3126 "Spike: juggler-next in lb-next repo or new monorepo"
## Description / Steps to reproduce / Feature proposal
Per discussion with @raymondfeng @bajtos:
If we're going to create juggler-next, should we:
- create a new monorepo for juggler and connectors
- put them all in loopback-next repo

Things to consider:
- How does each option affect the build pipeline?
- If we put everything in loopback-next repo, would it be an issue that our PRs will get out o

[2019-06-12 22:50] mgabeler-lee-6rs commented on #2285
The prior path turned out to be complicated ... overly so.  Replacing with new PR #3313 that takes a simpler path of having the explorer add an additional endpoint for the OAS spec that it can reference via a relative path that is constant in relation to the explorer itself.

[2019-06-12 22:52] DimitriEmman commented on #2896
hello i have the same problem.i am using loopback/authentification.help please

[2019-06-13 02:07] dhmlau commented on #3049
Besides deleting the existing controller, you can simply add the type param of `Where` and `Filter` as @Iruora suggested in the original description.

Since we've fixed the original issue, docs and generated code (see PR https://github.com/strongloop/loopback-next/pull/3031/files), I'm closing this issue as resolved. Thanks!

[2019-06-13 02:07] #3049 closed

[2019-06-13 06:02] samarpanB commented on #2896
@DimitriEmman , please have a look at my replies above for solution. If you still face issues, I would need more information on what error you are getting before I can help with that.

Please note this issue was for Authorization implementation not for authentication. If you are facing issues with authentication, please look for existing issues about authentication (if any) related to your problem

[2019-06-13 06:23] samarpanB commented on #3038
@sherif2011 this package is a community developed extension, not part of loopback-next core. Feel free to raise this issue on gihub there - https://github.com/sourcefuse/loopback4-authentication. We'll be happy to help with any issues there.

[2019-06-13 06:37] samarpanB commented on #2839
@gopalakrishnan-subramani you can take a look at [this](https://github.com/sourcefuse/loopback4-authentication) extension we created for the community members to help them with authentication in LB4 until it is complete and stable in loopback core. There is a boiler plate project also created using this package. You can refer to [that](https://github.com/sourcefuse/loopback4-starter) for example.

[2019-06-13 12:05] DimitriEmman commented on #2896
Hi @samarpanB  thanks for replying.
this is my sequence

import { UserPermissionsFn } from './authorization/types';
import { Authresponse } from './models/authresponse.model';
import {inject} from '@loopback/context';
import {
  FindRoute,
  InvokeMethod,
  ParseParams,
  Reject,
  RequestContext,
  RestBindings,
  Send,
  SequenceHandler,
  HttpErrors,
} from '@loopback/rest';
import {
  Authenti

[2019-06-13 12:06] DimitriEmman commented on #2896
i am not using loopback4-authentication but loopback-authentication

[2019-06-13 12:55] bajtos commented on #3126
IMO, it's important to keep `@loopback/repository` in the same monorepo as the connectors, so that we can make changes across different modules.

At the same time, we may want to keep `@loopback/repository` in the same monorepo as the REST layer, because we are offering relatively tight integration between those two in the form of helpers generating OpenAPI spec describing Models.

On the second t

[2019-06-13 13:14] dougal83 commented on #2896
You can compare/copy code from a working example: [LB4 Shopping example /w auth](https://github.com/strongloop/loopback4-example-shopping)

[2019-06-13 13:20] DimitriEmman commented on #2896
@dougal83  did you integrate the authorization in this example(shopping example)?

[2019-06-13 13:38] emonddr commented on #2940
@jannyHou

Please see checkbox:

Let's discuss how we can change this image. thx.

[2019-06-13 14:29] bajtos commented on #3126
I started to look into ways how to reduce coupling between `@loopback/repository` and `@loopback/core` & `@loopback/context`. Most of the code depends on `@loopback/metadata` only, which is IMO fine, even if `@loopback/metadata` will live in a different monorepo than our `@loopback/repository`.

The code can be found here: https://github.com/strongloop/loopback-next/tree/chore/simplify-repository-

[2019-06-13 14:43] dougal83 commented on #2896
@DimitriEmman No, it's an official example /w auth implemented by @emonddr & @jannyHou.  I think they have/or are sorting out documentation atm.  I've managed to copy the example code into my project /wo error so it's viable.  Study the example if the docs are not ready yet.

[2019-06-13 15:00] emonddr commented on #2896
Some docs were finally merged into the repo last night, although they still need to be released to loopback.io.

Please take a look at :

https://github.com/strongloop/loopback-next/blob/dremond_docs_declarative_test_demo/docs/site/Loopback-component-authentication.md

https://github.com/strongloop/loopback-next/blob/dremond_docs_declarative_test_demo/docs/site/tutorials/authentication/Authenticat

[2019-06-13 15:00] emonddr commented on #2896
@DimitriEmman , @dougal83 ^^ :)

[2019-06-13 15:08] DimitriEmman commented on #2896
Okay thank you @dougal83  @emonddr .

[2019-06-13 15:43] emonddr commented on #2896
@DimitriEmman , @dougal83 ^^
I accidentally used a url with a feature branch. I have updated the links above to point to `master` branch. :)

[2019-06-13 15:57] DimitriEmman commented on #2896
@emonddr  thanks.what about role and permissions in loopback 4.I follow these steps https://loopback.io/doc/en/lb4/Loopback-component-authorization.html but it doesn't work

[2019-06-13 16:24] samarpanB commented on #2896
@DimitriEmman I think I know the issue you are facing. Can you please replace AuthResponse with UserProfile everywhere? That is what is returned by authenticate method. Also in order to make authorisation work, you need to add permissions to the UserProfile model.
Please have a look at my comment here - https://github.com/strongloop/loopback-next/issues/2896#issuecomment-495528708

Please check it

[2019-06-13 16:56] DimitriEmman commented on #2896
hello @samarpanB  thank you for replying.i try to replace authresponse by userprofile and i have again problems.
I think authUser Type is only in lb4-auth .no?To be more clearer , if i do like that  AuthenticateFn<AuthUser>, i am obliged to import lb4-auth,and me  i am using lb-auth.
Thanks and sorry i am so new with these technologies

[2019-06-13 17:05] #3104 closed

[2019-06-13 18:12] agnes512 opened #3155 "lb4 discover does not work for Cassandra connector"
## Description / Steps to reproduce / Feature proposal
When trying out Cassandra connector with lb4 discover, it fails when it tries to get model info from the specified db:
[code]
I was using Cassandra (Docker) as my DataSource. I was able to create keyspace/tables by logging in to the db.
Here is the config of the db:
[code]
Not sure about why it doesn't work. Other SQL DBs [in the site page](ht

[2019-06-13 18:17] #2952 closed

[2019-06-13 18:35] samarpanB commented on #2896
If you can share your code on github somewhere, I can then debug and help you out. It’s difficult to figure out otherwise .

[2019-06-14 01:49] dhmlau commented on #3038
Thanks @samarpanB.  I'll close this issue since the issue raised is not part of loopback-next repo.

[2019-06-14 01:49] #3038 closed

[2019-06-14 03:45] sherif2011 commented on #3038
Ok, thank you!

[2019-06-14 09:42] DimitriEmman commented on #2896
Good morning ,
[lb4-authentication and authorization](https://github.com/DimitriEmman/loopback4-authentification-authorization)

[2019-06-14 11:43] bajtos opened #3159 "Spike: migrate tests to Jest (ts-jest)"
Let's try to speed up our dev process and CI builds by migrating to ts-jest.

1. Jest can run tests in parallel and provides clever watch mode.
2. ts-jest compiles TypeScript files on the fly, removing the need for costly build.
3. Jest provides tools for snapshot-based testing, this would be very useful to test CLI code scaffolding TypeScript files and to test code emitting OpenAPI spec.

Known p

[2019-06-14 11:44] bajtos commented on #3159
Work started in https://github.com/strongloop/loopback-next/tree/test/jest

[2019-06-14 11:50] bajtos commented on #2764
Possibly related: https://github.com/strongloop/loopback-next/pull/3160

@Navos is this issue still relevant? Have you managed to find any solution or any workaround?

I am looking into ways how to switch loopback-next from Mocha to Jest (see https://github.com/strongloop/loopback-next/issues/3159). It seems to me that the solution for on-the-fly-compilation used by Jest is different from the solu

[2019-06-14 11:59] samarpanB commented on #2896
Hello @DimitriEmman ,

I can see lots of issues in your codebase unfortunately.
1. In sequence.ts, you are using AuthenticateFn from @loopback/authentication package which returns UserProfile, but you are assigning it to Authresponse. This can never map.
[code]
2. You do not have permissions in UserProfile object. So authorization cannot work.
3. You still have loopback4-authentication package in

[2019-06-14 12:36] DimitriEmman commented on #2896
@samarpanB  thanks for the help.i will fix the issues

[2019-06-14 13:23] bajtos commented on #3125
I am expecting that such test will require at least several seconds (if not minutes) to run. We should not run it as part of `npm test` workflow.

[2019-06-14 13:24] bajtos commented on #3124
I am expecting that such test will require at least several seconds (if not minutes) to run. We should not run it as part of `npm test` workflow.

[2019-06-14 13:25] bajtos commented on #2057
@jannyHou do we have any documentation showing users how to write such custom token service provider? If not, then I am proposing to keep this issue open and set the acceptance criteria to write such documentation.

Thoughts?

[2019-06-14 13:32] bajtos commented on #2035
@sanadHaj

As I wrote before, this GH issue is about using regular Express middleware, e.g. [helmet](https://www.npmjs.com/package/helmet), [cors](https://www.npmjs.com/package/cors) or even [passport](https://www.npmjs.com/package/passport). AFAIK, there is no concept of `requestContext` in Express, I don't see why we should be exposing `requestContext` to Express middleware.

Based on your older

[2019-06-14 13:34] bajtos commented on #2738
Generation of relational APIs is out of scope of #2036, see https://github.com/strongloop/loopback-next/issues/2483. I updated the description of #2036 to make it more clear.

I think it makes sense to leave out generation of relational APIs out of scope of the spike too 👍

[2019-06-14 13:36] bajtos commented on #1599
Cross-posting https://github.com/strongloop/loopback-next/issues/2614#issuecomment-498565714 by @gordancso:

[2019-06-14 13:38] bajtos commented on #433
#2122 has been landed, I think this feature is no longer blocked.

@t-zhao we don't have any immediate plans to implement this feature, would you like to contribute it yourself? We are happy to help you along the way.

[2019-06-14 13:40] bajtos commented on #1914
Yes, that's the case right now.

Any volunteers to contribute the proposal I have described earlier?

We are happy to help you along the way. See https://loopback.io/doc/en/contrib/code-contrib-lb4.html to get started.

[2019-06-14 13:47] bajtos commented on #1857
@ghtech I think you need to tell TypeScript that the target entity (`T`) must have `createdAt` and `updatedAt` properties. If you share the code you have written so far then I may be able to give you a more specific advice, perhaps including code snippets too.

[2019-06-14 13:49] bajtos commented on #2674
I think this is related to the pull requests that @hacksparrow is working on now, see https://github.com/strongloop/loopback-connector-mongodb/pull/517 and https://github.com/strongloop/loopback-connector-mongodb/pull/525

[2019-06-14 13:54] bajtos commented on #2783
Thank you @jeremy-coleman for starting this discussion. I agree the term "sequence" is too generic and easy to confuse with other concepts not related to REST APIs.

Finding a good name is hard. As the joke goes, two most difficult problems in computer science are cache invalidation, naming and off-by-one errors :)

How about the name `RequestHandlingChain`, would it work better?

/cc @raymondfeng

[2019-06-14 13:57] bajtos commented on #3061
Personally, I'd prefer to keep support for `test/mocha.opts` as long as it's supported by Mocha. It also means less work for us right now.

[2019-06-14 13:59] bajtos commented on #3061
I have discussed the issue with @raymondfeng on Slack, he agrees to keep support for `mocha.opts`.

[2019-06-14 14:00] bajtos commented on #3061
Closing as done.

[2019-06-14 14:00] #3061 closed

[2019-06-14 14:08] bajtos commented on #1948
@RipkensLar Our postgresql connector is using [pg](https://www.npmjs.com/package/pg) under the hood. I did a quick search and it looks like pg does not handle DATE values correctly - see the discussion in https://github.com/brianc/node-postgres/issues/1844. I think that means you are out of luck :( Here are few more items that may be relevant: https://github.com/brianc/node-postgres/issues/783, ht

[2019-06-14 14:10] bajtos commented on #1966
Heads up: it may be difficult to support DATE in PostgreSQL, it seems like DATE values are always converted to JavaScript's `Date`. See brianc/node-postgres#1844, brianc/node-postgres#783, brianc/node-postgres#510 and linked issues/pull-requests.

[2019-06-14 14:14] bajtos commented on #2807
@sureshkodur is this issue still relevant? Please create a small application we can use to reproduce the problem, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-06-14 14:16] bajtos commented on #1919
@rahulrkr08

Quoting from https://loopback.io/doc/en/lb3/Operation-hooks.html#persist, emphasis is mine:

Both "before save" and "persist" hooks are called **before** the data is sent to the database.

[2019-06-14 14:25] raymondfeng commented on #2783
In https://github.com/strongloop/loopback-next/pull/2927, I'm exploring a different way to implement a sequence - as a chain of intercepting actions. So it's possible to fulfill the duty with various techniques, such as:

- Composition with functions
- A chain of cascading interceptors

IMO, the responsibility of `Sequence` is to handle request/response at transport/protocol level to map endpoints

[2019-06-14 14:54] dhmlau opened #3161 "Spike: Investigate setting up Windows CI workflow for connectors"
## Description / Steps to reproduce / Feature proposal
@rmg suggested to shut down ci.strongloop.com which is mostly used for Windows testing.

This spike is to investigate how we can use AppVeyor or Azure Pipelines for Windows testing on the connectors. There are some more information on Azure Pipelines from @virkt25. See:  https://github.com/strongloop/loopback-next/issues/1752

### Acceptance C

[2019-06-14 17:45] dhmlau commented on #3125
@bajtos, should we remove the 2nd bullet in the acceptance criteria?

[2019-06-14 18:43] iyobo opened #3163 "Error mounting Loopback3 app on LB4"
## Description / Steps to reproduce / Feature proposal
I am trying to mount an LB3 app onto LB4.

I have my loopback 3 app put in the folder `/lb3app` (which by the way needs to be updated in the lb3 mount docs as it still says to put in `/legacy` :) ). I have been able to handle all the errors coming up with this transition, but I am currently stuck.

## Current Behavior
Throws error on npm start

[2019-06-15 16:45] gopalakrishnan-subramani opened #3167 "Loopback 4 issue with static function"
We found two issues with method name convention, during browerify. I beleive, we should not use static as function name, as we have JavaScript keyword with reserved keyword.

node_modules/@loopback/rest/dist/rest.server.js at line 411

    static(path, rootDir, options) {
    }

node_modules/@loopback/rest/dist/rest.application.js at line 71,

    static(path, rootDir, options) {

of versions  "@l

[2019-06-16 10:43] moda20 opened #3168 "How to set up Authentification using loopback v4"
## Description / Steps to reproduce / Feature proposal

Can't find the documentation for authentification ways in the V4 of loopback, the documentation on the GitHub md files is not that clear ( it reads nonsense

## Current Behavior
no clear documentation
## Expected Behavior

Can we get easy steps like the controller, models , ... ways of creating stuff (they already exist )

[2019-06-16 12:54] dougal83 commented on #3168
How about [this post](https://github.com/strongloop/loopback-next/issues/2896#issuecomment-501740873)?

[2019-06-17 03:02] jeremy-coleman commented on #2783
@raymondfeng  This is completely changing the original topic, but im a big fan of the tag filters, and tagging in general. It allows you to physically keep everything flat and create a tree or graph however you see fit ie: imagine a windows file system with all files in 1 folder and recreating the folder views based on tags each file instead of file paths.

[2019-06-17 08:52] bajtos commented on #3161
I am proposing to start investigating Azure Pipelines first. If it's easy to setup CI for our connectors there, then I would not bother with AppVeyor.

[2019-06-17 15:24] giltee commented on #3168
While I agree you are right dougal83 but all the links on the actual website are broken. Doesn't make this the easiest thing to find. https://github.com/strongloop/loopback-next/tree/master/packages/authentication#loopbackauthentication

[2019-06-17 15:35] dhmlau commented on #3168
Sorry about inconvenience.  We'll be publishing a new release shortly, and the documentation will then have the updated information.
cc @emonddr

[2019-06-17 15:38] dhmlau commented on #3167
@raymondfeng @bajtos, what's your thought on ths?
The 2 files that @gopalakrishnan-subramani mentioned are:
https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/rest.server.ts
https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/rest.application.ts

[2019-06-17 17:06] dhmlau commented on #3163
@nabdelgadir, could you PTAL? Thanks.

[2019-06-17 17:11] nabdelgadir commented on #3163
Can you please provide a small application we can use to debug the problem? (See http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report)

[2019-06-17 17:33] julianonunes opened #3174 "Set the ID property as auto increment on MySQL datasource"
## Description / Steps to reproduce / Feature proposal
Add a way to set the ID property as auto increment

## Current Behavior
Currently the ID property is created as a number but don't allow us to set as auto increment

## Expected Behavior
Create the migration to set the database column as auto increment and ignore the property when inserting a new row.

[2019-06-17 18:15] dhmlau commented on #2660
I don't have strong preferences.
- For `loopback`, `loopback3` or `loopback-legacy` seems good to me.  `loopback-legacy` might be more suited in the sense that LB2 and LB3 (i guess there's a LB1 release) also share the same code base.
- For `loopback-next`, I'm good with `loopback-core`.

[2019-06-17 19:12] dhmlau commented on #2212
@jannyHou, per our discussion when going through the authentication related issues, could you please take a look and see what's the best way to handle this github ticket? Thanks.

[2019-06-17 19:38] dhmlau commented on #3051
From the new docs proposal, the location of this "debugging application" page might change.  But I think we can estimate this task for now and decide the best-suited location when implementing this task.

[2019-06-17 19:45] dhmlau commented on #2825
@nabdelgadir, could you please add acceptance criteria? Thanks!

[2019-06-17 20:09] giltee opened #3175 "CLI / Authentication model incompatible versions"
## Description / Steps to reproduce / Feature proposal

Create a new project, add the lb4 authentication package and then try and create a model

## Current Behavior
The project has dependencies with incompatible versions required by the CLI:
- @loopback/authentication: ^2.1.1 (cli ^1.2.1)
## Expected Behavior
The versions should be compatible.

This has just started to happen, I didn't have this

[2019-06-17 20:20] dhmlau commented on #3175
@giltee, I just published new versions for the LoopBack modules less than 10 minutes.  Tried your scenario but didn't get the "incompatible version" error.  Could you please update `@loopback/cli` and try again?  Thanks.

[2019-06-17 20:22] giltee commented on #3175
Ahh, that would make sense, I tried to run an update about 10 mins ago and got nothing. I will try again, thanks!

[2019-06-17 20:24] dhmlau commented on #3175
The latest (and updated) documentation has been released as well.  It might take some time to have the docs site refreshed (possibly some time tomorrow).

In the meanwhile, please take a look at the following:
- https://github.com/strongloop/loopback-next/tree/master/packages/authentication#loopbackauthentication (as you mentioned in another github issue)
- https://github.com/strongloop/loopback-n

[2019-06-17 20:39] #3175 closed

[2019-06-17 21:28] dougal83 commented on #3174
Hey, have you set `generated: true` on the model ?
[code]

Then you run the migrate tool... I think it's `npm run migrate` by default on a generated project.

[2019-06-17 21:34] julianonunes commented on #3174
Thanks, @dougal83. It worked.

I didn't see that in the docs and the command line didn't ask that when creating the model.

[2019-06-17 21:34] #3174 closed

[2019-06-17 22:59] Nayak11 opened #3177 "How do i send and receive multiple parameters ?"
## Mediation Tool(SOAP -> REST)

#SOAP Endpoint URL:
http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso

#WSDL
http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL

#Operation that I am trying to access -
FullCountryInfo(http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?op=FullCountryInfo)

#XML Input

[code]

[2019-06-18 00:27] dhmlau commented on #3168
@moda20, FYI - We've published a new release.  Please update your dependencies and also `@loopback/cli` as well.

The new docs are already available. See:
https://loopback.io/doc/en/lb4/Loopback-component-authentication.html
https://loopback.io/doc/en/lb4/Authentication-Tutorial.html

[2019-06-18 00:32] dhmlau commented on #3161
I've updated the title and acceptance criteria. Thanks.

[2019-06-18 02:02] jannyHou commented on #2660
- For loopback 2 and 3, I am ok with `loopback-legacy`, or just stay with `loopback` to save the URL changing effort.

- For loopback 4, `loopback-core` is good to me. Some other ideas:
  - `loopback-ts` to imply it's written in TypeScript.
  - `loopback4` to be straightforward.

[2019-06-18 05:03] raymondfeng commented on #2660
I’m -1 to rename loopback-next to loopback-core, which does not reflect all packages in the monorepo.

If I have to pick one, loopback-ts is acceptable.

[2019-06-18 08:04] bajtos commented on #2660
- `loopback4` won't work when we release 5.0 version (and later 6.0, etc.)
- I can see how `loopback-core` can be problematic, considering the variety of packages hosted in this monorepo.
- `loopback-ts` is not great, but I can live with it. When I think about it, I like `loopback-next` more than `loopback-ts`.

[2019-06-18 08:05] bajtos commented on #2660
How about the name `loopback-framework` for the monorepo?

[2019-06-18 08:38] rahulrkr08 commented on #2660
Some thoughts :)

- `loopback-stacks`
- `loopback-platform`

[2019-06-18 12:09] bajtos commented on #3177
@raymondfeng I think you are the person most familiar with SOAP, could you please help?

[2019-06-18 12:27] bajtos commented on #3167
This looks like a bug in browerify to me (did you perhaps mean `browserify`?).

While Mozilla's JavaScript documentation mentions `static` as a future reserved keyword (see [Lexical grammar - keywords](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Keywords)) and [SyntaxError: "x" is a reserved identifier](https://developer.mozilla.org/en-US/docs/Web/JavaScript/R

[2019-06-18 12:32] bajtos commented on #3073
Hi @gopalakrishnan-subramani, thank you for reporting the issue. Please create a small application reproducing the issue, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs.

I suspect the problem may be in the connector, here is the relevant code:
- [SQLConnector.prototype.buildSelect](https://github.com/strongloop/loopback-connector/blob/417d6467b04c3fe4ad5d50374fb4aca

[2019-06-18 12:33] bajtos commented on #3073
I see that we already have an issue reported in our postgresql connector, let's move the discussion there.

https://github.com/strongloop/loopback-connector-postgresql/issues/340

[2019-06-18 12:33] #3073 closed

[2019-06-18 12:42] bajtos commented on #3050
When you say "see model related tables created", what did create the tables?

If you are using the built-in `app.migrateSchema` function, it should be creating tables only for models/entities that have a Repository class bound to the application.

Could you please create a small app reproducing the issue? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-06-18 12:44] bajtos commented on #3050
Both Models and Entities can be persisted. The difference between a Model and an Entity is that Entity includes a primary key property (or more properties) that can be used to uniquely identify Entity instances. Model does not have any primary key, but it can be still persisted e.g. using KeyValue API where the key is always provided by the caller.

[2019-06-18 12:51] bajtos commented on #2844
IIUC, you have one model used with two repository classes and you would like to control the  collection/table name in the repository, overwriting any default value provided by the model. Is that correct?

[2019-06-18 12:54] bajtos commented on #3044
I was able to reproduce the problem using MySQL connector.

[code]

This may be a design problem in juggler, where the DataSource and/or the connectors don't correctly propagate connection errors from the connection pool to the method that triggered initiation of the connection.

[2019-06-18 12:57] bajtos commented on #2833
If MS Access supports ODBC, then you may be able to access it via ODBC. There seems to be quite few ODBC packages on npmjs (e.g. https://www.npmjs.com/package/odbc and https://www.npmjs.com/package/@ratanakvlun/node-odbc).

[2019-06-18 13:01] bajtos commented on #2794
@bforbis thank you for starting this discussion. I was looking into ts-jest and ts-node recently and discovered a similar problem: by default, LoopBack booters look for `.js` files only, and therefore don't discover `.ts` files.

I think it would be great to improve LoopBack to support `ts-node`. Would you like to help?

For example, we can modify our CLI templates to use the following naming conv

[2019-06-18 13:04] bajtos commented on #2788
@raymondfeng IIRC, you are the author of the REST connector, could you please take a look and help?

[2019-06-18 13:05] bajtos commented on #2782
AFAIK, LoopBack 4 does not support readonly properties yet.

[2019-06-18 13:06] bajtos commented on #2772
As @hoangleanhtu explained above, we are using `@inject.getter` to break circular dependencies.

[2019-06-18 13:06] #2772 closed

[2019-06-18 13:14] bajtos commented on #2699
I think you need to boot your application first, this will scan the filesystem for `controllers/*.controller.js` files and register them with the app.

[code]

You can load `Application` into the Node.js process of AnotherRunner and to access controllers, repositories and other artifacts. Please note this will not establish inter-process communication between Application and AnotherRunner, it will

[2019-06-18 13:24] bajtos commented on #2666
Thank you @stoffason for reporting the issue and investigating further information. We don't have first-class support for file uploads yet, this feature is tracked by https://github.com/strongloop/loopback-next/issues/1873.

Let's keep this issue open as a place where to investigate and discuss different options for enabling REST API Explorer to upload files to LB4 applications.

The request-body

[2019-06-18 13:26] bajtos commented on #2666
As a temporary workaround, you can leverage the recently-landed https://github.com/strongloop/loopback-next/pull/2992 to configure AJV with `unknownFormats: ["binary"]`. See [Customize parsing options](https://loopback.io/doc/en/lb4/Extending-request-body-parsing.html#customize-parser-options) in our docs.

[2019-06-18 14:32] JesusTheHun commented on #2844
That is correct. The repository should therefore hold the collection name instead of the model to avoid any ambiguity IMHO.

[2019-06-18 15:05] dhmlau commented on #3042
Closing as done.

[2019-06-18 15:17] nabdelgadir commented on #2660
- For LoopBack 3: I like `loopback-legacy`.
  - I feel like we shouldn't keep it as `loopback` because it might be hard for a newcomer to know that it's not the current version.
- For LoopBack 4: +1 to `loopback-framework`

[2019-06-18 15:22] b-admike commented on #2660
My votes go to `loopack-legacy` for `loopack` repo and `loopback-framework`/`loopback-ts`/`loopback-platform` for lb-next monorepo.

[2019-06-18 15:41] dhmlau commented on #2987
Closing as resolved. See [above comment ](https://github.com/strongloop/loopback-next/issues/2987#issuecomment-498519851). @AnanthGopal @secombrian, if you're encountering a similar issue, please feel free to open a new issue. Thanks.

[2019-06-18 15:41] #2987 closed

[2019-06-18 15:42] dhmlau commented on #2528
@nabdelgadir, could you PTAL? thanks.

[2019-06-18 15:42] agnes512 commented on #2660
My votes:
- Loopback3: `loopback-legacy`
- Loopback4: `loopback-framework`

[2019-06-18 15:43] dhmlau commented on #2528
@raeef-refai, sorry about the late response.  Since this issue was opened 3 months ago, just wanna see if your issue has been resolved. Thanks.

[2019-06-18 15:45] dhmlau commented on #2525
@secombrian, sorry about the late response.  There had been quite a lot of changes in these 3 months in the example-shopping repo.  Could you please get the latest code and try again?

I'll close this issue for now. If this issue still exists, please open a new issue in https://github.com/strongloop/loopback4-example-shopping. Thanks.

[2019-06-18 15:45] #2525 closed

[2019-06-18 15:50] dhmlau commented on #2511
@DatGuyJonathan, just wanna make sure... before running `DEBUG=* node --inspect-brk .`, did you run `npm run build` to transpile the code?
Alternatively, you can do:
[code]

It works for me as well.
I'd like to close this issue since the command works for both @raymondfeng and I. @DatGuyJonathan , if you still encounter this issue, please feel free to reopen or open a new issue. Thanks.

[2019-06-18 15:50] #2511 closed

[2019-06-18 15:54] dhmlau commented on #2936
The above PR has merged and the docs contain the changes.
Please see the [example page](https://loopback.io/doc/en/lb4/Examples.html) for the `greeter-extension` and `greeter-app` as reference. Thanks.

[2019-06-18 15:54] #2936 closed

[2019-06-18 16:00] dougal83 commented on #2660
- Loopback3: +1 `loopback-legacy`
- Loopback4: +1 `loopback-framework` (also `loopback-toolkit`, `loopback-io`)

[2019-06-18 17:07] #2940 closed

[2019-06-18 17:11] dhmlau commented on #2639
I think we need to better document how to do this customization.  Adding `Docs` label.

[2019-06-18 17:28] frbuceta commented on #1914
The hiddenProperties setting would not be the same as this #2782 ?
How could it help?

[2019-06-18 17:43] dhmlau commented on #2920
@b-admike, could you PTAL? thanks.

[2019-06-18 17:44] dhmlau commented on #2622
@frodoe7, with the answer above, is this issue good to close? Thanks.

[2019-06-18 18:42] dhmlau commented on #2462
To get everything in one place, let's continue the discussion in #2242.
Closing this issue in favor of #2242.

[2019-06-18 18:42] #2462 closed

[2019-06-18 18:45] dhmlau commented on #2362
@jannyHou , could you please take a look and see if this is still valid? Thanks.

[2019-06-18 18:47] dhmlau commented on #2351
@emonddr, is this already done, because we now have the `--docker` option? Thanks.

[2019-06-18 18:48] dhmlau commented on #2346
Closing this issue as resolved.

[2019-06-18 18:48] #2346 closed

[2019-06-18 22:22] jannyHou commented on #2311
The new adapter is published as @loopback/authentication-passport@0.1.0, an experimental package 🎉 https://www.npmjs.com/package/@loopback/authentication-passport

We've tried 2 approaches:
- wrapping a passport strategy module like `passport-http`
- wrapping the express middleware `passport`

It turns out the 1st approach is more consistent with non-passport based strategies and we have need more

[2019-06-18 22:22] #2311 closed

[2019-06-19 00:05] dhmlau commented on #2087
Closing as done.

[2019-06-19 00:05] #2087 closed

[2019-06-19 12:34] Itokoyamato commented on #3163
@nabdelgadir
Hi, I've got the same issue trying to mount our lb3 API in lb4. After some basic testing, it appears to be related to models with embedsMany relations. ( I have not tested all other relations )

Here's a simple application reproducing the issue: https://github.com/Itokoyamato/lb4-mounting-test
I tried to use an app as basic as possible using lb3 and lb4 docs. (npm i && npm start shoul

[2019-06-19 13:56] KalleV commented on #1872
I would like to add a related issue to the mix. Performing a CRUD operation using a relation is also unnecessarily throwing validation errors.

For example: `myRepo.users(tenantId).create(new User(...))` fails unless "tenantId" is explicitly passed in the request body even though the relation automatically attaches the "tenantId" property. This is a change in behavior from LB3 where I could set "t

[2019-06-19 14:25] emonddr opened #3183 "Add back references to passport adapter in authentication docs"
## Description / Steps to reproduce / Feature proposal

Not that PR `[LABS] feat: adapter that wraps strategy ` https://github.com/strongloop/loopback-next/pull/3056  has landed, let's add back `passport adapter` references in the authentication documentation where applicable.

## Acceptance Criteria

- [x] The [Authentication](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html)

[2019-06-19 16:50] dhmlau commented on #3183
@emonddr , could you please add the acceptance criteria? Thanks.

[2019-06-19 18:15] dhmlau commented on #2085
@hacksparrow, per our discussion, I believe this is done, and what we need is to release a major version of loopback-connector-mongodb?

[2019-06-19 20:05] dhmlau opened #3186 "`lb4 relation` doesn't allow to add both belongsTo and hasMany relation with the same 2 models"
## Description / Steps to reproduce / Feature proposal
If I have a `CoffeeShop` and `Review` model, supposedly I can add the following model relations:
- CoffeeShop `hasMany` Review
- Review `belongsTo` CoffeeShop

Using the `lb4 relation` command, after I add the `hasMany` relation where CoffeeShop is the source model and Review is the target model, the `coffeeShopId` property is added to the Rev

[2019-06-19 21:50] dhmlau commented on #1187
With more CLI commands using Yeoman at this point, I'm not sure if it worths the effort to look into other alternatives to replace Yeoman.  I'd like to close this issue because it won't be our focus in near and mid term to get to this.  What do you think, @strongloop/loopback-maintainers?

[2019-06-19 22:01] dhmlau commented on #2833
Closing this issue as answered. Thanks.

[2019-06-19 22:01] #2833 closed

[2019-06-19 22:09] dhmlau commented on #2571
Closing due to inactivity. @zkrami, if you're still running into this issue, please feel free to open a new issue. Thanks.

[2019-06-19 22:09] #2571 closed

[2019-06-20 06:57] SouthRibbleTech commented on #1830
I need to have a composite key made up of 3 columns, so the solution needs to be flexible, not just to handle two columns but as many as the developer requires.

[2019-06-20 10:51] hacksparrow commented on #2085
Yes, `loopback-connector-mongodb` `5.x` fixes this.

Also, we will now be able to configure a property as `ObjectID` using `{type: String, mongodb: {dataType: 'objectID'}`. `objectID` is case-insensitive.

Eg:

[code]

[2019-06-20 11:06] sagark1510 opened #3187 "lb4 command hangs"
## I can not create any project using lb4 cli

## hangs on project root directory:

## it should create necessary files and project get created

node: 10.16
os: macOS
npm: 6.9.0

I don't understand why it hangs.

[2019-06-20 12:42] dougal83 commented on #3187
@sagark1510 Hey, might be helpful to post installed loopback version (`lb4 -v`) and any error messages.

[2019-06-20 13:38] bajtos commented on #1914
Hidden and read-only properties are different concepts. It makes sense to use a similar configuration mechanism for both of them, but there is no need to implement them at the same time.

[2019-06-20 13:44] bajtos commented on #2142
@samarpanB of course it's fine to contribute! Sorry for the delay, I am often overwhelmed by GitHub notifications and I am still learning how to organize them so that I can focus on more important matters first. Shout out to https://octobox.io which helps me a lot!

Here is the code that's "normalizing" model configuration in LoopBack 3.x:

https://github.com/strongloop/loopback/blob/9b1d4885ab869

[2019-06-20 13:46] bajtos commented on #1663
@vvdwivedi that's great! Let us know if you need any help along the way. See [Contributing code](https://loopback.io/doc/en/contrib/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get you started.

[2019-06-20 13:55] bharathgrk commented on #2208
This works for "where" clauses as well.

![Screen Shot 2019-06-20 at 19 20 43](https://user-images.githubusercontent.com/9738122/59854451-953eb800-9390-11e9-80f2-9874bb85b2df.png)
![Screen Shot 2019-06-20 at 19 23 39](https://user-images.githubusercontent.com/9738122/59854691-01212080-9391-11e9-8e2a-1d51085e9224.png)

[2019-06-20 14:06] dhmlau commented on #3186
@oleg269, since you've implemented the `lb4 relation` command, do you mind taking a look at this to see how we can get it resolved? Thanks!

cc @gczobel-f5 @bajtos

[2019-06-20 14:20] emonddr opened #3190 "Explain how custom authentication strategy options should be managed"
## Description / Steps to reproduce / Feature proposal

Provide an example of how to manage `default` and `request-level` options in

https://loopback.io/doc/en/lb4/Loopback-component-authentication.html

## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-06-20 15:41] kerolloz commented on #3187
## Description / Steps to reproduce / Feature proposal

I just write
[code]
in my terminal.

## Current Behavior

After entering the project name and description. My terminal stops(hangs), the cursor keeps blinking, and doesn't accept any input at `? Project root directory` question  pressing `<Enter>`, `Ctrl+Z`, `Ctrl+C` or `any button` has no effect.

![screenshot](https://user-images.githubuser

[2019-06-20 15:59] gopalakrishnan-subramani commented on #3167
We will report to browserify, thank you for clarification.

[2019-06-20 16:16] dougal83 commented on #3187
@kerolloz Hey, I've just updated and can confirm the bug.  Posting version info:

[code]

[2019-06-20 16:39] sagark1510 commented on #3187
@dougal83  glad you found the bug. @loopback/cli version: 1.17.0 this is the version I am using and there is not error or anything just it hangs.

[2019-06-20 16:48] raymondfeng commented on #3187
What's the node.js version?

[2019-06-20 16:50] sagark1510 commented on #3187
@raymondfeng `10.16.0`

[2019-06-20 16:51] raymondfeng commented on #3187
Hmm, I can reproduce it with Node 12.3.1 on Mac too. :-(

[2019-06-20 16:57] dougal83 commented on #3187
I just updated node to 12.4 on Win 10.  Still occuring.
Is it an issue with generators as a whole? https://github.com/yeoman/yeoman/issues/1714

[2019-06-20 16:57] raymondfeng commented on #3187
It might be caused by `inquirer@6.4.0`.

[2019-06-20 17:01] raymondfeng commented on #3187
See https://github.com/SBoudrias/Inquirer.js/issues/807

[2019-06-20 17:02] raymondfeng commented on #3187
Duplicate of https://github.com/SBoudrias/Inquirer.js/issues/811

[2019-06-20 17:29] sagark1510 commented on #3187
@raymondfeng how do we do that? can we release new version with `inquirer@6.3.1` ??

[2019-06-20 17:55] raymondfeng commented on #3187
I'll wait a bit to see if the upstream bug can be fixed quickly. We can try to ping it to `inquirer@6.3.1` if necessary tomorrow.

[2019-06-20 18:51] #3187 closed

[2019-06-20 19:06] raymondfeng commented on #3187
Released @loopback/cli@1.17.1

[2019-06-20 19:14] dhmlau commented on #2674
@hacksparrow, is this issue resolved since the two above PRs had landed?

[2019-06-20 20:28] dhmlau commented on #3167
@gopalakrishnan-subramani, Is this issue good to close then? Thanks.

[2019-06-20 20:35] dhmlau commented on #2496
@danysz, does @marioestradarosa's above comment solve your question? Thanks.

[2019-06-20 21:05] raymondfeng commented on #2496
@danysz Have you checked out https://loopback.io/doc/en/lb4/Interceptors.html?

There is a PR https://github.com/strongloop/loopback-next/pull/2927 to make actions more pluggable.

[2019-06-20 22:01] nabdelgadir opened #3195 "Improve Inclusion Resolver"
## Description / Steps to reproduce / Feature proposal

Currently, we have a temporary implementation for an inclusion resolver e.g. (in the `find` method in [todo.repository.ts](https://github.com/strongloop/loopback-next/blob/master/examples/todo-list/src/repositories/todo.repository.ts)):

[code]

Related: https://github.com/strongloop/loopback-next/issues/2633

## Acceptance Criteria
- [ ] Imp

[2019-06-20 22:39] SephReed opened #3196 "UnsupportedMediaTypeError: Content-type application/text is not supported."
I want to post a string as a body.

I'm getting this error:

Here is my code:

[code]

Why am I getting this error?  And how can I post a string as a body?

I found these docs (https://loopback.io/doc/en/lb4/Extending-request-body-parsing.html), they don't show @requestBody in use.

I dug up these comments in the code (https://github.com/strongloop/loopback-next/blob/8ae8a0a81db205f052b81caaceece5

[2019-06-20 22:49] dougal83 commented on #3196
I think you can just use:
`@requestBody() csv: string,`

... and would `text/csv` be a better fit for your example?

[2019-06-20 22:55] SephReed commented on #3196
I tried that in the first place, but it kept treating it like json.  Got a could not parse issue.

`text/csv` did the trick though.  thank you.  `text/plain` would also work.

[2019-06-20 22:55] #3196 closed

[2019-06-20 23:43] Mmalumbo opened #3197 "npm start fails after running npm run clean"
## Steps to reproduce
* Scaffold a new app [getting started](http://v4.loopback.io/getting-started.html)
* go into the project directory `cd project-name`
* run `npm run clean` followed by `npm start`

### loopback version

[code]

## Current Behavior
After running the following npm commands:

[code]

i get the error bellow:

[code]

### Note:
The problem goes away when i change the version of typ

[2019-06-21 00:13] raymondfeng commented on #3197
Try to remove `tsconfig.build.tsbuildinfo` and run the command again. The latest version should have the file removed as part of `npm run clean`.

[2019-06-21 00:25] dhmlau commented on #2114
@b-admike, is this still needed?  If yes, could you please add the acceptance criteria? Thanks.

[2019-06-21 00:40] dhmlau commented on #914
@nabdelgadir , could you please help with the grooming? Thanks!

[2019-06-21 02:01] dhmlau commented on #2085
Closing this as done because the original scope is already completed.

[2019-06-21 02:01] #2085 closed

[2019-06-21 04:39] tavindersingh opened #3198 "lb4 app command is freezing"
After I upgraded to @loopback/cli version 1.17.0, lb4 app command is freezing after project description step. I tried uninstalling and re installing the package also I updated to version 1.17.1 still it is freezing.

[2019-06-21 05:30] raymondfeng commented on #3198
Can you check what version of `inquirer` is installed?

[code]

[2019-06-21 05:38] tavindersingh commented on #3198
inquirer@6.4.0

[2019-06-21 05:39] raymondfeng commented on #3198
That's wrong. Can you try the following?

[code]

[2019-06-21 05:48] tavindersingh commented on #3198
it worked thanks

[2019-06-21 05:48] #3198 closed

[2019-06-21 06:34] bajtos commented on #1187
-1

The issue https://github.com/strongloop/loopback-next/issues/844 lists at least 8 pain points that are still relevant. Every new CLI command added in the current Yeoman style is inflating the tech debt we have in our CLI.

I think we should instead prioritize this spike higher in our backlog, e.g. for 2019Q3.

[2019-06-21 09:00] vvdwivedi commented on #1663
Sure, will start a PR soon.

[2019-06-21 09:55] codejamninja commented on #1293
I build a loopback component that lets you inject express middleware into the sequence. You can filter it by controllers by using the `@middleware('auth')` annotation, or you can directly inject middleware into the `@middleware(myExpressMiddleware)` annotation.

https://github.com/codejamninja/lb4-middleware

[2019-06-21 09:59] codejamninja commented on #2035
You can register middleware on a controller using the lb4-middleware component.

[code]

[2019-06-21 10:01] codejamninja commented on #2061
I wrote a component that lets you register express middleware in the sequence.

https://github.com/codejamninja/lb4-middleware

[2019-06-21 12:24] Mmalumbo commented on #3197
@raymondfeng thanks, removing the file worked but running `npm run clean` is not removing the `tsconfig.build.tsbuildinfo` file.

I am using the version bellow:

[code]

I will wait for the new version. Thanks again.

[2019-06-21 12:49] bajtos commented on #3042
@dhmlau this issue will be open pretty much forever, it's kind of a GUI offered by RenovateBot to interact with the bot.

[2019-06-21 13:08] bajtos commented on #3167
Closing this issue as resolved. Feel free to reopen if there is anything else to do on our side.

[2019-06-21 13:08] #3167 closed

[2019-06-21 13:37] bajtos commented on #1872
Good catch! I think that we should modify the controller to remove the foreign-key property from the OpenAPI schema describing the input parameter. Let's make this improvement a part of  https://github.com/strongloop/loopback-next/issues/2653.

[2019-06-21 13:43] bajtos commented on #2844
I would like to propose a different solution:
- Keep using the model name as the default collection/table name. This is what most people need.
- Allow the repository to overwrite that collection/table name. For example, we can introduce a protected method in DefaultCrudRepository that can be overwritten by subclassed repositories. We can also leverage the recently introduced `@config` decorator to

[2019-06-21 14:36] nabdelgadir opened #3204 "Update templates to make use of `getModelSchemaRef`"
## Description / Steps to reproduce / Feature proposal

[`getModelSchemaRef`](https://github.com/strongloop/loopback-next/commit/bf07ff959a1f90577849b61221b292d3127696d6#diff-f92b4db01ff64130fd80207a27ce1136R378) was introduced as a helper for returning shared OpenAPI definitions. Now we can update our existing code to leverage it.

Sample usage:

[code]

## Acceptance Criteria

- [ ] Update the f

[2019-06-21 15:35] nabdelgadir opened #3205 "Simpler Syntax for Inclusion"
## Description / Steps to reproduce / Feature proposal

See https://github.com/strongloop/loopback-next/pull/3171/files#r296128644.

Currently to specify inclusion, the following filter syntax is needed: `{include: [{relation: 'todos'}]}` e.g. http://127.0.0.1:3000/todo-lists?filter[include][][relation]=todos

If we try the following call:

[code]

The complier complains: `Argument of type '{ incl

[2019-06-21 16:18] raymondfeng commented on #3197
Hmm, the generated project uses `tsconfig.json`. As a result, the clean script should remove `tsconfig.tsbuildinfo` instead of `tsconfig.build.tsbuildinfo`.

[2019-06-21 16:22] JesusTheHun commented on #2844
Pre-post : I'm a bit tilted today, sorry if I'm a bit rude :/

IMHO having the model to carry the collection name is bad. I know it's widespread but I think it is bad in several ways :

- On the semantic point it makes no sense, it makes the atomic unit decide where it belongs
- Therefore you cannot use the model in several collections
- It cultivate the idea that the model is where the decisions

[2019-06-21 16:49] #3197 closed

[2019-06-22 08:04] johndpope opened #3210 "(lb2) lb3 ->lb4 notes example / instructions to add that may help other users."
## Description / Steps to reproduce / Feature proposal

<img width="1136" alt="Screen Shot 2019-06-22 at 6 02 01 pm" src="https://user-images.githubusercontent.com/289994/59961200-f0e77d80-9517-11e9-8cca-03f2f8360aa4.png">

## Current Behavior
example missing extra steps that maybe helpful to others..

## Expected Behavior
add steps to remove

_See [Reporting Issues](http://loopback.io/doc/en/cont

[2019-06-22 13:13] johndpope commented on #3210
When I upgraded v2->v3 -> v4
I got stuck on error below.

[code]

for reference -  in my server **boot** folder - there was a Explorer.js -
deleting this file resolved this obscure error. The new explorer just works out of the box.

<img width="1229" alt="Screen Shot 2019-06-22 at 11 12 17 pm" src="https://user-images.githubusercontent.com/289994/59964390-3cfbe780-9543-11e9-9cc0-853b40eedb86.png">

[2019-06-23 09:45] kerolloz opened #3214 "edit this page button is not working"
## Description / Steps to reproduce / Feature proposal

Edit this page button is not redirecting properly
[todo tutorial](https://loopback.io/doc/en/lb4/todo-tutorial-scaffolding.html)

## Current Behavior

it sends me to this link
`https://github.com/strongloop/loopback-next/blob/master/docs/site//todo-tutorial-scaffolding.md`

which is a 404 page not found !!

## Expected Behavior

This should s

[2019-06-23 11:28] samarpanB commented on #2142
Thanks for the update @bajtos . I am right now running little too busy with other projects. I'll start on it as soon as I get those completed. May be in 2-3 weeks. If anybody else is willing to pick this up from community, feel free to assign.

[2019-06-23 12:28] kerolloz opened #3215 "expression expected for default"
## Description / Steps to reproduce / Feature proposal

[code]

![image](https://user-images.githubusercontent.com/36763164/59976314-f8b02c00-95c2-11e9-987b-6c8f219646d9.png)

## Current Behavior

![image](https://user-images.githubusercontent.com/36763164/59976308-dc13f400-95c2-11e9-8ecb-328a3ad501cd.png)

## Expected Behavior

![image](https://user-images.githubusercontent.com/36763164/59976323-

[2019-06-23 13:37] dougal83 commented on #3215
This happens when the user enters a value for default as opposed to
blank(no value, not even a space).  Verified.

On Sun, Jun 23, 2019 at 1:28 PM Kerollos Magdy <notifications@github.com>
wrote:

[2019-06-23 14:18] dallenng commented on #3186
@dhmlau, while this isn't resolved, a workaround is to set the belongsTo relationship before the hasMany.

[2019-06-23 16:12] AzeemMichael commented on #2043
is loopback 4 not ready for production use? it still seems to be missing this

[2019-06-24 01:17] dhmlau commented on #3210
@nabdelgadir, could you please take a look? Thanks.

[2019-06-24 06:11] likexoo commented on #2021
@sureshkodur , hi have you found a solution? Here is my code:

* run `aggregate` command with `db` object

[code]

* run `aggregate()` with `collection` object

[code]

I also tried to run your code, but got the same error as you.

[2019-06-24 09:26] rzubov-devpro commented on #1857
How can we use it at the same time as migrations?

[2019-06-24 12:36] bajtos commented on #2142
No worries @samarpanB, take your time!

On the second look, I think I posted a wrong LB3 code in my previous comment. Here is the correct one:

https://github.com/strongloop/loopback/blob/9b1d4885ab869d977bc7d464aa861b4f88691862/lib/registry.js#L130-L147

[code]

[2019-06-24 12:41] bajtos commented on #2844
I think I see your point. To me, this seems like a classic trade-off between making things easier to use (compute the table name from the model name) and more robust (require the repository to provide the table name).

In my proposal, the first item is about preserving backwards compatibility for existing users - this is what we already have implemented today. The second point is about enabling yo

[2019-06-24 12:42] bajtos commented on #3186
It makes me wonder - should we change the template for hasMany relation to set up `@belongsTo` relation on the target model from the beginning?

[2019-06-24 13:19] bajtos commented on #647
@samarpanB lovely! Let me check with the rest of the team what would be the best place where to host the extension code. I'll do my best to get back to you by the end of this week.

[2019-06-24 13:21] bajtos commented on #695
@shashijangir sorry, your question is off-topic here. Please post it on StackOverflow, it's a place where are more people that can help you to get your question answered. Use the tag [loopbackjs](https://stackoverflow.com/questions/tagged/loopbackjs) to make your question easier to find.

[2019-06-24 13:24] bajtos commented on #2480
@buokae

Not yet, unfortunately. Please follow the discussion in https://github.com/strongloop/loopback-next/issues/1849.

[2019-06-24 13:25] samarpanB commented on #647
@bajtos I have already created this extension and its available as a separate npm package. Here it is - https://github.com/sourcefuse/loopback4-soft-delete. Let me know if you want this to be moved into some centralized location for loopback community.

[2019-06-24 13:27] bajtos commented on #1849
Current status:

It's possible to take an existing LB3 application and add it as-is to an LB4 project. See https://strongloop.com/strongblog/migrate-from-loopback-3-to-loopback-4/ and https://loopback.io/doc/en/lb4/Migrating-from-LoopBack-3.html.

While this does not remove dependencies on LB3 runtime, we hope it will make it easier for you to incrementally migrate your LB3 code to LB4.

[2019-06-24 13:33] bajtos commented on #2707
@ibmjm Hmm, that's weird. Could you please create a small application I can use to reproduce the problem and play with different solutions to find which works? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-06-24 13:37] aabou opened #3222 "error TS5042: Option 'project' cannot be mixed with source files on a command line."
hello @raymondfeng & @bajtos,

for information, I have an error following the module update @loopback/build. is there a solution/fix please?

Thk's 2Team.
## Steps to reproduce

 v8.11.2

5.6.0

update @loopback/build  ^1.6.1  →  ^2.0.2

## Current Behavior

...
error TS5042: Option 'project' cannot be mixed with source files on a command line.

## Expected Behavior

## Link to reproduction sanbox

[2019-06-24 13:39] bajtos commented on #2742
It's possible to divide Travis jobs into stages (see https://docs.travis-ci.com/user/build-stages/):

1. The first sequence runs commit linter only. If it fails then the build is aborted.
2. The first sequence runs all other jobs in parallel, no change from today.

The downside of such configuration is that successful builds will take longer to complete, because the commit linter is no longer exec

[2019-06-24 13:40] bajtos commented on #3125
No no, it's important to have a test we can run to verify that unregistration works as intended. I am just asking to keep that test outside of `npm test`, i.e. as a standalone script that can be run manually, e.g. via `npm run test-memory-leaks`.

[2019-06-24 13:43] bajtos commented on #512
Eventually, we would like to allow LB4 applications to mount any Express middleware for request pre-processing, but we are not there yet. See https://github.com/strongloop/loopback-next/issues/1293.

For now, you can mount LB4 application on a top-level Express application and configure middleware like `compression` and `morgan` on that Express application. See
https://loopback.io/doc/en/lb4/expre

[2019-06-24 13:53] bajtos commented on #3195
This story requires https://github.com/strongloop/loopback-next/issues/2634 to be finished first.

[2019-06-24 13:56] bajtos commented on #2114
Here is the issue: when a relation method is trying to access a related model instance and no instance with the foreign key was found, we want to throw a helpful `EntityNotFoundError`. The constructor of `EntityNotFoundError` requires entity id as an argument, the code in relation repositories does not have the id at hand, only a constraint like `{[foreignKey]: value}`. It would be great to find a

[2019-06-24 13:58] #2633 closed

[2019-06-24 14:06] bajtos commented on #1857
Agreed 👍 IMO, we need to find a good balance between easy-to-use high-level abstractions that are exposed via Juggler/Repository APIs and work for every supported database, and extension points allowing advanced users to tap into specific features their database provides.

In the case of "createdAt" and "updatedAt" properties, I think it would be great to find a solution allowing the developer to

[2019-06-24 14:40] AmrSalama opened #3223 "Add source map support"
## Suggestion

Add source map support between `ts` and `js` files

## Use Cases

The current behaviour doesn't reflect errors in `ts` files

![Error stack trace with js files](https://user-images.githubusercontent.com/15939360/60027463-cf180300-969d-11e9-9728-5a677c25c0ee.png)

## Examples

Using [`source-map-support`](https://www.npmjs.com/package/source-map-support) and updating `start` script t

[2019-06-24 15:26] jannyHou commented on #3183
PR created for it: https://github.com/strongloop/loopback-next/pull/3225

[2019-06-24 16:44] jalouxx opened #3227 "Missing Documentation/Example for code coverage"
Loopback build tools provide the command `lb-nyc` but unfortunately there is no further documentation added here: https://github.com/strongloop/loopback-next/tree/master/packages/build

I have tried the following command (and many more) but without any success:
`npx lb-nyc report` --> No console output
`npx lb-nyc npm run test` --> runs tests etc but no coverage report

running plain nyc with `npx

[2019-06-24 16:49] raymondfeng commented on #3227
`lb-nyc` is simple wrapper over `nyc`. It takes the same arguments. By default, you should see `coverage/index.html`.

[2019-06-24 16:52] raymondfeng commented on #3227
We transpile TS code into `dist` as JS code so that TS is only required at development time. Once the package is published to `npm`, it's just a JS module.

The test coverage is reported based on source map support that connects JS to TS.

[2019-06-24 16:56] raymondfeng commented on #3227
BTW, the nyc report can be customized using `.nycrc`. See an example at https://github.com/strongloop/loopback-next/blob/master/.nycrc

[2019-06-24 18:37] jannyHou commented on #3168
I am closing this issue since the documentations are published.
Feel free to reopen this issue if you still have questions :)

[2019-06-24 18:37] #3168 closed

[2019-06-24 19:04] raymondfeng commented on #2718
Based on https://github.com/strongloop/loopback-next/pull/1205, we can use `interceptor` to enforce authorization.

[2019-06-24 19:04] #2718 closed

[2019-06-24 19:06] dhmlau commented on #3186
I think it makes sense if this is a common use case.  If that's the case, I guess we should do it with `hasOne` too (even though it doesn't exist in `lb4 relation` yet)?

[2019-06-24 19:08] dhmlau commented on #3125
@bajtos, I've updated the acceptance criteria. Thanks.

[2019-06-24 19:08] jannyHou commented on #2887
Since https://github.com/strongloop/loopback4-example-shopping/pull/120 is merged I am closing this story.
Feel free to reopen it if you still get the error :)

[2019-06-24 19:08] #2887 closed

[2019-06-24 19:14] dhmlau commented on #2639
## Acceptance Criteria
- [ ] in the model relation documentations, clarify the use of `keyFrom` and `keyTo` in case that users are having different column names as the model property names.

[2019-06-24 19:40] jannyHou commented on #2786
@joshuaanthonydeleon @dougal83 @joeytwiddle sorry for joining the discussion late. The best practive for the auth error handling in the sequence has changed, and the auth strategy resolver(provider) is now refactored to be an extension point.

See documentation https://loopback.io/doc/en/lb4/Loopback-component-authentication.html about ho w to use @loopback/authentication@2.x system.

The error ha

[2019-06-24 19:48] jannyHou commented on #2839
FYI - The new docs are already available.

See:
https://loopback.io/doc/en/lb4/Loopback-component-authentication.html
https://loopback.io/doc/en/lb4/Authentication-Tutorial.html
Using passport based strategy: https://www.npmjs.com/package/@loopback/authentication-passport

I am closing this issue, feel free to reopen it if you still have questions :)

[2019-06-24 19:48] #2839 closed

[2019-06-24 20:26] jannyHou commented on #2267
@bijarniya I believe you were trying the authentication system in shopping example, now it's refactored to use `@loopback/authentication@2.x`, you can find:

- the password hasher class in [this service](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/hash.password.bcryptjs.ts#L34)
- how user service uses it in [file](https://github.com/strongloo

[2019-06-24 20:26] #2267 closed

[2019-06-24 20:35] jannyHou commented on #2057
@bajtos Yep Dom wrote a tutorial for creating the token service in https://loopback.io/doc/en/lb4/Authentication-Tutorial.html, especially see the section https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#creating-a-custom-sequence-and-adding-the-authentication-action

Let us know if you expect to see more details or have any questions. I can add it.

[2019-06-24 21:07] shadyanwar commented on #2146
@bajtos I hope to find time next weekend to work on this. It would be nice if you tell me where to start.

[2019-06-24 21:32] buokae commented on #2480
Alright, thank you.

[2019-06-25 00:05] johndpope commented on #3210
This isn't so much an issue ticket - just captured some of my own woes upgrading to loopback 4 that may help others. the big one was ditching  Explorer.js from boot up.

[2019-06-25 01:18] dhmlau commented on #3223
Closing as resolved because PR #3228 has landed.

[2019-06-25 01:18] #3223 closed

[2019-06-25 01:20] dhmlau commented on #3210
Thanks @johndpope. If there's some additional content that can help other users, could you please submit a PR to help improving our docs? Thanks!

[2019-06-25 03:34] amrsalama opened #3234 "Multiple content types in requestBody problem"
## Steps to reproduce

With a simple model `Product`

[code]

and controller operation with `@requestBody` has `application/x-www-form-urlencoded` and `application/json` as content types

[code]
Send request with `Content-Type: application/json`

[code]

And then send request with `Content-Type: application/x-www-form-urlencoded`

[code]
The bug appears (`UnprocessableEntityError`).

Stop the app

[2019-06-25 05:48] raymondfeng commented on #3234
I can reproduce the problem. The root cause is that we cache AJV validators but the `options` is not taken into consideration. The json body does not require coercion while urlencoded body requires. As a result, the cached AJV validator does not support  `coercion` if it's used first.

I'll look into a fix tomorrow.

[2019-06-25 07:37] codejamninja commented on #2043
@AzeemMichael if your application needs a many to many relationship, then yes it's probably not production ready. However I have built several loopback 4 apps that are in production that do not use the many to many relationship.

[2019-06-25 12:27] emonddr commented on #1334
@dhmlau , my recent docs PR https://github.com/strongloop/loopback-next/pull/2977 only covers adding the @authenticate decorator at the method level.

[2019-06-25 13:00] emonddr commented on #2886
@b4dnewz ,

Here is the latest authentication documentation : https://loopback.io/doc/en/lb4/Loopback-component-authentication.html .

The main authentication npm module is still : @loopback/authentication

The passport-related stuff is now in its own npm module : @loopback/authentication-passport
(The documentation is in the README.MD)
Or you can get it here : https://github.com/strongloop/loopba

[2019-06-25 13:56] bajtos commented on #2146
@shadyanwar that's great to hear!

Here is the code converting AJV validation errors to an HttpError instance:

https://github.com/strongloop/loopback-next/blob/27b6accace55761d8db15442e5ca7705bab7d9fc/packages/rest/src/validation/request-body.validator.ts#L128-L137

[2019-06-25 13:58] bajtos commented on #3222
See the migration guide in release notes: https://github.com/strongloop/loopback-next/blob/master/packages/build/CHANGELOG.md#200-2019-06-17

 - Modify your `tsconfig.json` file and configure `dist` via `compilerOptions.outDir`
 - If you are using target different from `es2017`, then configure it via  `compilerOptions.target`.
 - Remove `es2017` and `--outDir dist` from lb-tsc arguments.
 - Ensure

[2019-06-25 13:58] #3222 closed

[2019-06-25 14:00] nabdelgadir commented on #3210
Let us know if you need any help; here's a guide for [Submitting a PR](https://loopback.io/doc/en/lb4/submitting_a_pr.html). 😄

[2019-06-25 14:16] bajtos commented on #2057
Thank you @jannyHou for the pointers. I this the section [Creating a Token Service](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#creating-a-token-service) is exactly what I was looking for.

Let's close this issue as resolved then.

[2019-06-25 14:16] #2057 closed

[2019-06-25 14:27] hacksparrow commented on #2674
ObjectID strings behave in a predictable manner now, in `loopback-connector-mongodb 5.x`.

There is a crucial missing piece in the example app provided by @frodoe7 - the creation aspect of the models. We don't know how the models are populated in the databases.

[2019-06-25 14:48] emonddr commented on #2460
I need some time to study the interceptors pattern being recommended here, to understand how this would be implemented...

But in the meantime, here are some things we need to consider:

If we have the `@authenticate` decorator at the controller class level, this would mean ALL controller functions will go through authentication.

If we want a few controller methods to `avoid` authentication in th

[2019-06-25 15:24] hacksparrow commented on #2674
@frodoe7 also, the property name should be `mongodb`, not `mongo`.

[2019-06-25 16:15] dhmlau opened #3240 "Documentation improvement - 2019Q3 Edition"

[2019-06-25 16:32] dhmlau commented on #1851
Closing it as done.

[2019-06-25 16:32] #1851 closed

[2019-06-25 17:24] dhmlau opened #3241 "Monthly Milestone - Jul 2019 🌴⚽️🍒"
## July Milestone
- Finish the items originally marked as stretch goals for Q2 release

### Goals
- [x] Documentation Improvement https://github.com/strongloop/loopback-next/issues/3240
  - [x] Documentation of loopback 4 Model is incorrect, https://github.com/strongloop/loopback-next/issues/2133
  - [x] Add "Connectors Reference" docs pages to LB4 docs, https://github.com/strongloop/loopback-next

[2019-06-25 18:01] ibmjm commented on #2707
@bajtos   Weird indeed.  I tried to do as you asked (cloned loopback-next, checked it out to a new branch, tweaked the **todo** example) but I was not able to reproduce the error.  In other words, your proscribed "workaround" for adding a computed property worked when I modified the Todo application, but fails when I try adding similar to my own application.  😞

[2019-06-25 18:05] #1334 closed

[2019-06-25 18:17] dhmlau commented on #3214
@b-admike, could you PTAL?

[2019-06-25 18:34] dhmlau opened #3242 "[EPIC] Authentication - 2019Q3 Edition"
We now have the basic infrastructure for the Authentication story.  In 2019Q3, we'll be planning to:
- look into having the token based authentication in API explorer #2027
- After having a common layer for authentication and authorization (see #2900), we can handle the "make UserProfile more flexible" and other refactoring as well.

[2019-06-25 18:55] ibmjm commented on #2707
Differences between my application's package.json (-) and the TODO example's package.json (+):

[code]

[2019-06-26 00:27] dhmlau commented on #3190
Closing as done.

[2019-06-26 00:27] #3190 closed

[2019-06-26 02:36] dhmlau commented on #133
Closing as done.
See https://loopback.io/doc/en/lb4/Interceptors.html

[2019-06-26 02:36] #133 closed

[2019-06-26 02:47] dhmlau commented on #1600
@shimks, that's a good idea!
Please continue the discussion in #1830.

[2019-06-26 02:47] #1600 closed

[2019-06-26 10:26] rohit-sourcefuse commented on #3196
@SephReed can you provide me an example of CSV upload? I am struggling with it?

[2019-06-26 10:58] frbuceta commented on #1914
[code]
[code]

Can I prove this somehow? In the explorer would appear? I do not quite understand the flow

[2019-06-26 11:55] nabdelgadir commented on #3214
This problem seems to be for all pages on the lb4 docs site, not just this one.

[2019-06-26 14:52] nabdelgadir commented on #914
Current state:

- For only one controller to have a `basePath`, the following works:
[code]

- When defining the `basePath` at the `RestApplication`/`RestServer` level, it works for the explorer's path e.g. <http://[::1]:3000/api/explorer> and all the REST endpoints.
  - `/openapi.json` remains the same.
  - The explorer still uses the old endpoints as they're without the `basePath` in `openapi.js

[2019-06-26 15:31] raymondfeng commented on #2460
@emonddr Good idea to list various combinations. In general, the class level provides default settings and the method level can override it. To make things simple, I suggest the following:

1. If a method is decorated with `@authenticate`, uses the metadata as is without checking the class
2. If a method is not decorated with `@authenticate`, checks the class level
3. Introduce `@authenticate.skip

[2019-06-26 15:59] jannyHou commented on #2460
Thanks @emonddr for the summary,

I think Raymond means the *class or method* decorator can be created like [this](https://github.com/strongloop/loopback-next/blob/master/packages/context/src/interceptor.ts#L249-L297).

And I am good with @raymondfeng 's proposal:

    If a method is not decorated with @authenticate, checks the class level
    Introduce @authenticate.skip or @authenticate('skip')

[2019-06-26 16:58] psr1410 opened #3247 "Loopback4 challenges"
I am very new to this Loopback 4. When I am setting up my project I am having some setup issues. Below are few things.

Environment based datasource loading There is no direct way to load the datasource based on the environment.

Some configurations/constant variables need to be defined on a JSON file to access into the entire application, again this is also based on the environment.

Not able to

[2019-06-26 17:07] raymondfeng commented on #3247
You can override the generated datasource class to retrieve information from env vars. Probably around the code similar as
https://github.com/strongloop/loopback-next/blob/master/examples/todo/src/datasources/db.datasource.ts#L14

[2019-06-26 17:09] raymondfeng commented on #3247
Please check out https://loopback.io/doc/en/lb4/Context.html#configuration-by-convention.

See examples at:
- https://github.com/strongloop/loopback-next/blob/master/examples/context/src/custom-configuration-resolver.ts
- https://github.com/strongloop/loopback-next/blob/master/examples/context/src/configuration-injection.ts

[2019-06-26 17:10] raymondfeng commented on #3247
Please open separate issues.

[2019-06-26 17:10] raymondfeng commented on #3247
You can use https://loopback.io/doc/en/lb4/Interceptors.html

[2019-06-26 17:11] raymondfeng commented on #3247
You can create separate classes and compose them using Dependency Injection. See examples at https://github.com/strongloop/loopback-next/tree/master/examples/context.

[2019-06-26 17:22] psr1410 opened #3248 "MongoDB Atlas not connecting from Loopback4"
Not able to connect MongoDB Atlas database. In an express application I am able connect, but not in Loopback. Below is the error it is returning.

url.dbName || self.settings.database, ^ TypeError: Cannot read property 'dbName' of null

After I created a new cluster in MongoDB Atlas. I am getting a new error. Below is the error

MongoNetworkError: failed to connect to server [xxxxxxx.azure.mongodb

[2019-06-26 17:48] #2886 closed

[2019-06-26 18:01] raymondfeng commented on #3248
What's your configuration of the mongodb datasource?

[2019-06-26 19:17] nabdelgadir commented on #3163
Sorry for the late response. I'm still looking into it but just as an update, the problem seems to be coming from [this call](https://github.com/strongloop/loopback-next/blob/master/packages/booter-lb3app/src/lb3app.booter.ts#L95-L97).

[2019-06-26 20:01] dhmlau commented on #2033
see PR https://github.com/strongloop/loopback-next/pull/3254.

[2019-06-26 20:02] dhmlau commented on #2072
See PR https://github.com/strongloop/loopback-next/pull/3254.

[2019-06-26 20:02] dhmlau commented on #2033
@cloudwheels, since it's similar to the other issue you created https://github.com/strongloop/loopback-next/issues/2072, I'd like to close this issue and continue the discussion over there. Thanks.

[2019-06-26 20:02] #2033 closed

[2019-06-26 20:10] #3183 closed

[2019-06-27 00:19] Subaku opened #3256 "How do I extend connectors?"
Hi,

I'm using lb4 and installed the [Google Datastore](https://github.com/henriquecarv/loopback-connector-google-cloud-datastore) connector which appears to work. I need to extend it to modify it's behavior a tad. Thus far I've tried importing, extending, and exporting my custom connector and installing it as a local package but I still get this error when I run `npm start`

     WARNING: LoopBac

[2019-06-27 04:56] sureshkodur commented on #2021
@likexoo , Yes. I found solution. I did exact what you did, and it worked

[2019-06-27 05:40] psr1410 commented on #3248
Hi Raymond,

below are my datasource configuration details.

{
  "name": "Mongo",
  "connector": "mongodb",
  "url": "mongodb+srv://sudhakar:<my-password>@sudhakardev-opcbq.azure.mongodb.net/sudhakar_dev_db?retryWrites=true&w=majority",
  "protocol": "mongodb+srv",
  "database": "sudhakar_dev_db",
  "useNewUrlParser": true
}

[2019-06-27 07:06] tonychangcheng commented on #2788
I just you guys may have fixed my issue. I am tring to all the post external api. How do I create a datasource.json? How can I specify the payload for creation?

  "operations": [
    {
      "template": {
        "method": "GET",
        "url": "https://xxx/products/{productId}"
      },
      "functions": {
        "getById": [
          "productId"
        ]
      }
    },
    {
      "template

[2019-06-27 08:40] bajtos commented on #1179
Closing in favor of #2652 _Emit schema with all model properties optional_ and #2653 _Emit schema excluding certain model properties_.

[2019-06-27 08:40] #1179 closed

[2019-06-27 08:53] bajtos opened #3257 "Syntactic sugar for `requestBody()` with custom schema options"
## Suggestion

At the moment, it's cumbersome to describe a request-body parameter with a schema built from a model with custom options.

See e.g. https://github.com/strongloop/loopback-next/pull/3199

[code]

Let's find a more concise way how to describe such request bodies.

## Examples

Few of many possible solutions:

1) New decorator

[code]

2) New helper

[code]

Important considerations:

[2019-06-27 08:54] bajtos commented on #1722
Most of the requested functionality was implemented by #3199. The remaining part is how to simplify `@requestBody` annotations, I opened a new issue to deal with that: https://github.com/strongloop/loopback-next/issues/3257

Closing this one as done.

[2019-06-27 08:54] #1722 closed

[2019-06-27 08:54] bajtos commented on #2652
Done 🎉

[2019-06-27 08:54] #2652 closed

[2019-06-27 09:54] amrsalama opened #3258 "Support for unique index violation proper response instead of 500"
## Suggestion

Unique index violation (for example) in mongodb issues mongo driver error `'E11000 duplicate key error collection: loopback4.users index: username_1 dup key: { : "user" }'`
and rejected with status code `500` response.

It would be nice if we have proper response (for example) `422` instead of `500`.

I know that I can customize Sequence and handle it in catch section before `reject

[2019-06-27 10:36] dougal83 commented on #3258
This is dependant on the data connector in use, what about others?  That aside you can customise the model/controller to emit the error feedback that you require(like 409 Conflict). See example below:

[loopback4-example-shopping model declaration](https://github.com/strongloop/loopback4-example-shopping/blob/6758853069005782167f234e4c81c8384353caf8/packages/shopping/src/models/user.model.ts#L11-L

[2019-06-27 11:53] m98 opened #3259 "The application can't start after deleting some model, repository, and controllers"
## Steps to reproduce
Generate two model, repository and controllers and build, then delete one of the model, repository, and controllers, and try to build again. In my case, I got an error from the model and repository which I already deleted, and it was trying to access it before the build process was complete

## Current Behavior
The application on `npm start` tries to access deleted model or r

[2019-06-27 12:43] dhmlau commented on #3259
@m98, what's the error you're getting when running `npm start`?
I suspect that when you're deleting the models or other artifacts, the `index.ts` of the corresponding folders are not updated.  Could you please check if that's the case?

[2019-06-27 12:53] dhmlau commented on #2892
Closing as done! 🎉

[2019-06-27 12:53] #2892 closed

[2019-06-27 13:55] rajkaran opened #3260 "Adding application logic"
I couldn't find best place to add application logic.

I want to add scheduler in my application which can be accessed from remote methods to get status. With this answer on SO https://stackoverflow.com/questions/55569988/loopback-4-scheduled-cron-example-using-loopback-4 I managed to do it. But Now I have to place my business logic in LB3 I was using BootScripts and Services for this. In LB4 servi

[2019-06-27 14:31] raymondfeng commented on #3260
1. Please check out https://loopback.io/doc/en/lb4/Life-cycle.html

2. Add `@bind` to a class does not bind it to context automatically. The purpose of `@bind` is to customize how it is bound. See https://loopback.io/doc/en/lb4/Binding.html#configure-binding-attributes-for-a-class.

3. `@inject('bll')` is to inject a dependency by key, not tags.

[2019-06-27 14:42] raymondfeng commented on #3259
1. Once you remove certain TS files, please run `npm run clean && npm run build` to remove staled JS files.

2. You're responsible for updating `index.ts` at the moment as our CLI does not support `delete`.

3. Our CLI commands only provide `create` abilities, not `update` or `delete`.

[2019-06-27 14:53] #3234 closed

[2019-06-27 15:08] raymondfeng commented on #3248
Which version of `loopback-connector-mongodb` do you use?

[2019-06-27 15:15] raymondfeng commented on #3248
Your issue seems to be related to this one:

https://learnshare.in/posts/MongoNetworkError-connection-5-to-cluster0-shard-00-01-74uxpmongodbnet27017-closed

[2019-06-27 15:17] raymondfeng commented on #3248
It's a side effect of connection failure.

[2019-06-27 16:32] SephReed commented on #3196
[code]

If you'd like to then parse the csv into a 2d array, here's some more code: https://stackoverflow.com/a/55697280/4808079

[2019-06-27 16:54] raymondfeng commented on #3227
@jalouxx Please let me know if your questions are answered so that we can close this issue.

[2019-06-27 17:11] rajkaran commented on #3260
I have made couple of changes..
In application.ts
[code]
In PatientVisitController
[code]

Is this the right way to do it.

[2019-06-27 17:14] #3260 closed

[2019-06-27 17:18] rajkaran commented on #3260
If I have multiple classes lets say 10, Do I have to bind them one by one?

[2019-06-27 17:27] raymondfeng commented on #3260
Yes, unless you add a `booter` to do it automatically. See https://loopback.io/doc/en/lb4/Booting-an-Application.html#custom-booters.

[2019-06-27 17:36] rajkaran commented on #3260
I was thinking of booter for scheduler too..  but there aren't any good example on how to make one, bind in app context and which phase to use out of discover or load...

have seen this https://stackoverflow.com/questions/54959679/loopback-4-access-a-service-in-a-custom-booter so far..

[2019-06-27 18:11] raymondfeng commented on #3260
For schedulers, please use `life cycle observer` - https://loopback.io/doc/en/lb4/Life-cycle.html. They are automatically booted.

[2019-06-27 18:43] dhmlau commented on #2660
@raymondfeng @bajtos , seems like the general consensus is:
- Loopback3: `loopback-legacy`
- Loopback4: `loopback-framework`

Are you good with this naming change?
If we need to change it, when would be a good time?  Do we need to set up some redirect mechanism if someone goes to `https://github.com/strongloop/loopback-next`, it will be redirected to the new repo url?

[2019-06-27 19:03] raymondfeng commented on #2660
Stepping back, does the name of the github repo really matter so much? If not, I would rather keep them as is for now until we cannot live with it. It would be fairly disruptive to rename both of them. Maybe it's better spending the bandwidth on other things.

[2019-06-27 21:16] m98 opened #3263 "migrateSchema will not work if there is blongTo relationship"
## Steps to reproduce
I'm new to LoopBack4, and I was following the tutorials to generate a simple blog API using LoopBack, and I knew I can use 'migrateSchema' to create database tables using my models.

Just follow the tutorial to generate the simple order, customer model and relationships, and try to run the app after adding the relationship ([this link](https://loopback.io/doc/en/lb4/BelongsTo

[2019-06-27 21:34] Subaku opened #3264 "Extending model CRUD operations"
Hello,

I'm a complete LoopBack beginner and I'm getting buried under all the magic...

How do I go about extending or overriding the find, findById, count, etc methods that get auto defined on my models when using the DefaultCrudRepository? Pouring through anything I can find (including the source code) it's unclear. I assume the place to do this is in my repository for the model?

Thanks

[2019-06-27 21:53] raymondfeng commented on #3264
Yes, you can override the generated repository classes.

[2019-06-27 22:05] Subaku commented on #3264
Thanks for getting back to me.

Follow up question then. What I'm ultimately trying to to is pass extra arguments to my connector's getAllEntity method and others. I was thinking I'd need to override the find method inside the repository in some way to make that happen?

 I'm also trying to change on the fly the model that gets passed to said getAllEntity as well. Sorry if this is documented somew

[2019-06-27 22:11] raymondfeng commented on #3264
1. TypeScript allows you to override base methods, such as:
[code]
If you want to apply changes on the fly for multiple repositories, it's also possible to use interceptors.

See https://loopback.io/doc/en/lb4/Interceptors.html.

[2019-06-27 23:23] dhmlau commented on #3263
In order to do that, we'll need strong relation with referential integrity which is captured in https://github.com/strongloop/loopback-next/issues/2331.

As a workaround, this documentation page (https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html) showed how to modify the `@model` decorator to contain the foreign key information when running `migrateSchema`.

Hope it helps.

[2019-06-28 05:46] jalouxx commented on #3227
@raymondfeng thank you very much for the answers.
I was able to get it running yesterday. I would like to add some documentation to the build tools readme. I will open a PR hopefully until end of this week.

[2019-06-28 06:24] gordancso commented on #3053
What I am currently doing is using `WhereBuilder` and `FilterBuilder` method.
[code]
The `filter` inside `DefaultCrudRepository` method `find` was underlined with below prompt.
[code]
May I know how exactly I can do to resolve the type error here?

[2019-06-28 07:56] m98 commented on #3263
Actually, I'm disappointed by loopback documentation, and also errors which are not meaningful, especially when you search them on Google, and you can't find anything meaningful by the loopback error message.

[2019-06-28 07:56] #3263 closed

[2019-06-28 08:25] bajtos commented on #914
@nabdelgadir

I believe this is a regression introduced by 912becee827.

The code generating `openapi.json` is taking `basePath` into account by including it in the server URL, see https://github.com/strongloop/loopback-next/blob/c50bedd60cb799b62e9af54e41f67b1c3f10ec85/packages/rest/src/rest.server.ts#L407-L415

My commit changed the way how `basePath` is obtained and introduced the bug.

[2019-06-28 08:48] bajtos commented on #914
I opened a pull request to fix the problem - see https://github.com/strongloop/loopback-next/pull/3266

[2019-06-28 09:44] jdumont0201 opened #3267 "Id deleted on update on MongoDB"
## Steps to reproduce
Create a new project with CLI
Using CLI, add model, MongoDB datasource, repository and CRUD controller. Add this route to controller

[code]

## Current Behavior
On MongoDB, the entity had an id after _create_, but looses it after _update_. Result is
[code]
In memory DB, result is fine:
[code]

In Postgres, result is fine as well (tested with numeric ids):
[code]
(We are just

[2019-06-28 11:22] bhupesh-sf commented on #110
@bajtos I would like to contribute to this awesome projects. We are using it for our production applications and has delivered successfully as well. Now wish to contribute to the project itself. Thanks

[2019-06-28 11:28] bhupesh-sf commented on #1914
@bajtos I would like to contribute to this feature. Can you assign this to me?

[2019-06-28 11:40] bajtos commented on #3259
It would be nice to capture the information from Raymond's comment in our documentation. Any volunteers to contribute such changes?

[2019-06-28 11:44] bajtos commented on #3267
@hacksparrow since you have been working with MongoDB recently, would you like to take a look at this issue yourself?

[2019-06-28 12:10] bajtos commented on #1914
@bhupesh-sf There is already a pull request in progress contributed by @frbuceta, see #3265. Can you work with @frbuceta to see how you can help?

[2019-06-28 12:23] bhupesh-sf commented on #1914
@bajtos Thanks. Will see how can I help @frbuceta on this. I am on vacation on coming few days. Will start on it next week.

[2019-06-28 12:47] bhupesh-sf commented on #2142
@samarpanB if you are going to take sometime on this can I meanwhile take this up?

[2019-06-28 12:50] bhupesh-sf commented on #1914
@frbuceta let me know how can I help you on this. The current solution is a short-term solution but I believe we should enhance it to full blown solution?

[2019-06-28 12:56] samarpanB commented on #2142
Yes, please. Feel free to take it up @bhupesh-sf . @bajtos you can assign it to @bhupesh-sf if you see its fine.

[2019-06-28 13:00] frbuceta commented on #1914
@bhupesh-sf I'm beginning to understand how this is going. But yes, we can work on a better solution

[2019-06-28 13:07] hacksparrow commented on #3267
Confirming it is a bug.

Also confirming, it is reproducible in `loopback-connector-mongodb` 4.2.0` and `3.9.2`.

Thanks for reporting @jdumont0201. I will start fixing it.

[2019-06-28 13:18] bhupesh-sf commented on #1914
@bajtos Although its not related to the current issue but do you think to have internal properties for the model. Use case could be some kind of calculated properties which can be only internally created/updated and I don't want them to be the part of request but of the response??

[2019-06-28 15:39] #3264 closed

[2019-06-28 15:39] #3256 closed

[2019-06-28 16:26] gopalakrishnan-subramani opened #3270 "Support for PostgreSQL bytea and Node.js Buffer"
I could not find the document for this,
how to define type for bytea PostgreSQL Blob type and Node.js object in loopback Next and TypeScript? We could not find any example for the same.
export class Image extends Entity {

  @property({
    type: 'string',
    required: true,
  })
  content: string;

}

[2019-06-28 16:28] raymondfeng commented on #3270
Can you try to add postgresql mapping as illustrated by https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#data-mapping-properties?

[2019-06-28 16:30] dhmlau commented on #2072
PR #3254 has landed. Closing it as done.

[2019-06-28 16:30] #2072 closed

[2019-06-28 17:49] #3163 closed

[2019-06-28 17:50] nabdelgadir commented on #3163
Should be fixed as part of https://github.com/strongloop/loopback-next/pull/3269.

[2019-06-28 18:02] m98 commented on #3259
@bajtos Why the CLI should not do all of these itself?

As Angular CLI which handles many different cases itself, and I believe things like `npm run clean && npm run build` which are (if) necessary for loopback to generate `dist` should run automatically before `npm start` to reduce such errors

[2019-06-28 20:44] bormanst opened #3273 "Enumerate model properties in Where schema"
## Partially Addressed TODO

This refers to the *TODO(bajtos)* in the function getWhereJsonSchemaFor mentioned in issue [#1748](https://github.com/strongloop/loopback-next/issues/1748) that has been closed. I've provided the *enumerate "model" properties* part but did NOT address the *and operators like "and"* part which is why I did not submit a PR.

## Use Case

I just needed the basic *where* f

[2019-06-28 23:09] #3035 closed

[2019-06-29 02:02] dhmlau commented on #710
@juleskreutzer , thanks for sharing!

[2019-06-30 00:11] canmustu commented on #2246
My solution is delete all properties of UserProfile class and implement my interface to UserProfile. This is more flexible.

Define this interface in your project :

[code]

And change the UserProfile like this :

`export interface UserProfile implements MyCustomInterface { }`

[2019-06-30 06:58] gopalakrishnan-subramani opened #3277 "Compression JSON output"
We have huge JSON content to be send to client, with compression, the size reduced to 1/10.

We could do easily in express framework, but I could not figure the same in Loopback 4. Seems like Sequence is a way to go, but struggling. Can you give a documentation ref or example or idea to implement the same?

https://github.com/expressjs/compression

[2019-06-30 16:28] dougal83 commented on #3259
@m98 Fortunately you can alter the following script in package.json to just that:
"prestart": "npm run build",
to
"prestart": "**npm run clean** && npm run build",

I don't think clean is always necessary so it's omitted but can easily be added as above.

[2019-06-30 17:18] ErwSim opened #3278 "Primary changelog should include all changes"
## Suggestion

I would like that the primary CHANGELOG file contains all others CHANGELOG.

## Use Cases

Without this, we can miss some breaking changes (I had hard time to fix a breaking change)

## Examples

For example with the last update I had to add "outDir": "dist" in my tsconfig.json
But I didn't knew before I checked file in a new project

## Acceptance criteria

TBD - will be filled by

[2019-06-30 18:55] dougal83 commented on #2246
Nitpick: If we're following the [Openid Standard claims](http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) would it be a good idea to rename 'id' to 'sub'?  If anyone is confused, they can refer to the [referenced documentation](https://github.com/strongloop/loopback-next/blob/b522edab93f4cf38aa8a25d54da008176d45ff80/packages/authentication/src/types.ts#L20).

[2019-06-30 19:25] frbuceta opened #3279 "[Model] Generated boolean or function?"
Well the issue is that the explorer always lets me write the uuid and when I put it `generated: true` it does not let me put the `default: () => uuid ()`

[code]

There is some solution or you can implement a `generated: () => uuid ()`?

[2019-06-30 19:46] dougal83 commented on #3279
The 'generated: true' is to tell the database to generate the ID.  You seem to be attempting to supply the value here via uuid but I'm not sure that is recommended as the database would be a better candidate to handle id generation.  If you're going to be supplying a value via uuid, remove 'generated: true' as a good first step.

See ref: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.h

[2019-07-01 03:41] huynhhq opened #3281 "Registering the Custom JWT Authentication Strategy"
I have followed and created JWTAuthenticationStrategy like  strongloop/loopback4-example-shopping. But I can not register my custom Strategy.

My code:
import {BootMixin} from '@loopback/boot';
import {ApplicationConfig, BindingKey} from '@loopback/core';
import {
  RestExplorerBindings,
  RestExplorerComponent,
} from '@loopback/rest-explorer';
import {RepositoryMixin} from '@loopback/repository'

[2019-07-01 10:54] dougal83 commented on #3281
Hard to say anything without seeing the project code.  As a guess are you missing?:

[code]

Might be helpful if you could make an example repository and post it here?  Otherwise reexamine the shopping example for what you've done differently.

[2019-07-01 11:56] rajvarshu opened #3365 "lb4 command not found"
# Description/Steps to reproduce
I installed loopback version 4 with the command *npm i -g @loopback/cli* (on Mac OS).When I try to create an app using the command lb4 app its throwing me an error lb4 command not found

# Expected result
Should be able to create an app

[2019-07-01 12:42] huynhhq commented on #3281
Thanks for reply. This is file application.ts of my project: [https://github.com/huynhhq/bird-nest-server/blob/master/src/application.ts](url)
I don't think it's has any different from shopping example. (Sorry my english is bad)
I am a newbie, i really how to fix it. Please help me!

[2019-07-01 15:04] ErwSim opened #3287 "lb4 relation should discard changes when something failed"
## Suggestion

When something failed (ie: no pk or property already exists), changes that have been applied should be discarded

## Use Cases

It would permit to avoid reverting manually changes since the command has failed

## Examples

lb4 relation

## Acceptance criteria

- [x] Do not generate any code if the the generation fails or gets aborted.
- [x] stretch goal: warn users earlier about mis

[2019-07-01 15:05] embpdaniel opened #3288 "Add support for unknown data sources"
## Suggestion

A connector such as the sendgrid loopback connector, is a connector that does not require CRUD commands and it is not a REST data source. This currently seems to make it impossible to run the `lb4 service` command against such a connector, as the generator will expect a REST datasource.

My suggestion would be to add a new datasource metadata for a connector such as this (one that d

[2019-07-01 15:10] raymondfeng commented on #3288
At the moment, we use `"baseModel": "Model",` to tell a connector is for service apis. See https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json

[2019-07-01 16:19] amrsalama commented on #3258
@dougal83 Thanks for your reply. You are right about the the connector dependency and I think this is the big issue to handle.

I think handling the problem in controller may leads to duplicate codes (in POST, PUT, PATCH).
My approach for now is to handle it in the Sequence

[code]

But I need to reject with identical loopback response without writing `message`, `code`, and `details` myself, any i

[2019-07-01 19:54] dougal83 commented on #3258
@amrsalama Ultimately you are limited by the data connector, which can always be made more flexible.

Is anything stopping you making a universal block of error handling code and reusing it (DRY)?:

[code]
Each to their own but I'll mostly be verbosely describing my controllers as it fits my usage.

[2019-07-01 20:05] amrsalama opened #3291 "Add support for seeders"
## Suggestion

This feature is inspired by [Laravel seeding](https://laravel.com/docs/5.8/seeding) system.
We can have CLI command to generate seeders for repositories, for example in `src/seeders` directory.

## Examples

Example for seeder file
[code]

In `application.ts`, following what was stated in [migrations docs](https://loopback.io/doc/en/lb4/Database-migrations.html#implement-additional-

[2019-07-01 20:16] amrsalama commented on #3258
@dougal83

[code]
Here we use `try/catch` inside controller to handle the `uniqueness` rejection by Mongo (Inner). And we have another `try/catch` block in Sequence (Outer).

But it would be nicer if we can handle this problem in the outer `try/catch` in Sequence.

I can't throw exception in `catch` block of the Sequence (app would crash and stop).

[2019-07-01 22:23] dougal83 commented on #3291
There is also the option of [seeding via docker](https://phauer.com/2018/local-development-docker-compose-seeding-stubs/) that is worth considering.

[2019-07-01 23:30] dhmlau commented on #3281
cc @emonddr

[2019-07-02 01:12] hackagon commented on #3281
I had the same issue with this topic too.
However, when I clone shopping-cart-example project, it has not suffered from this issue
And the following tutorial not suffered from this issue too
https://strongloop.com/strongblog/building-an-online-game-with-loopback-4-pt4/
Hope @huynhhq can figure out and fix that

[2019-07-02 01:19] ricky92 opened #3293 "OpenAPI schema generation and model inheritance"
When using inheritance in model definitions, the behaviour is inconsistent.

## Steps to reproduce

- Define a model that inherits from another Model/Entity
- Use the aforementioned model in any controller, so that the OpenAPI spec references it
- Run the server
- Check the schemas in the API Explorer

## Current Behaviour

As noted, the behaviour is inconsistent, and depends upon the order of occ

[2019-07-02 04:11] hackagon commented on #3281
I solved this problem by using any type:
this.component(AuthenticationComponent);
registerAuthenticationStrategy(this as any, JWTStrategy);

Now it worked as I expected

[2019-07-02 09:00] bajtos commented on #3044
Opened a PR to fix this issue - see https://github.com/strongloop/loopback-datasource-juggler/pull/1756

[2019-07-02 11:05] bajtos commented on #3288
@raymondfeng the problem is that the sendgrid connector is not listed in available-connectors file.

IMO, it's not reasonable to expect all community-maintained connectors to be listed in that file.

For the short term, I am proposing to modify the logic in `lb4 service` and `lb4 repository` and when we don't have metadata about the base model used by the connector, then assume the connector is co

[2019-07-02 11:51] bajtos commented on #3293
Thank you @ricky92 for reporting the bug, I am able to reproduce it using your sandbox.

I did a quick check and I agree with your conclusion that our schema caching is not working correctly.

Here is the problematic code:

https://github.com/strongloop/loopback-next/blob/6bbc44f769bf5ed2aaa2012ef4b64c30d68ee928/packages/repository-json-schema/src/build-schema.ts#L63

The caching problem seems to

[2019-07-02 13:40] bajtos commented on #3267
@hacksparrow besides fixing the problem in our MongoDB connector, please add a new test to https://github.com/strongloop/loopback-next/tree/master/packages/repository-tests to ensure consistent behavior across all connectors. I'll update acceptance criteria in the issue description accordingly.

[2019-07-02 14:49] dacamposol opened #3295 "Support RegExp Filter for nested attributes"
## Steps to reproduce

1. Having a REST API, with a MongoDB as datasource, that retrieves documents as the following one.
2. Having at least the following example in the collection, so we are sure that the collection is not empty.

`{
  "_id" : 00001,
  "firstAttribute": {
    "nestedOne":"abcde"
  },
  "secondAttribute":"abcde"
}`

3. Perform request to the previously defined API with the followi

[2019-07-02 15:16] JesusTheHun commented on #2246
@dougal83 this will be confusing for most developers.

The public interface should indeed only have getters to access semantic values. A `getId(): string` method will retrieve a unique identifier for the user, whatever it is. The connection with the application will simply be the implementation of this method. You can stack the interfaces to enable some security features such as RBAC with an addit

[2019-07-02 15:57] bigal-cloud opened #3296 "Model discovery not working with Oracle connector & CDB instance"
## Steps to reproduce

1. Have running Oracle CDB/PDB instance
2. lsnrctl services to get connection info:

[code]

3. lb4 datasource:

[code]

4. `npm run build`
5. `lb4 discover` - select a model and hit enter

## Current Behavior

[code]

## Expected Behavior

To create a model

## Link to reproduction sanbox

## Additional information

It was working fine in previous versions

## Related Issue

[2019-07-02 17:06] Subaku opened #3298 "Development VS Production deployments?"
I'm wanting to know the key differences in deploying my lb4 app in a development environment vs a production environment. Was wanting to make sure I didn't miss anything as I could not find any examples detailing things to look out for.

1. Turning off the API explorer. I assume this is a good idea but how? I've attempted the following in my index.ts but the explorer is still working.

[code]

2.

[2019-07-03 13:53] ABouzidi90 opened #3300 "Datasource Switcher"
I have First a global DataBase contain societyName and their databaseNames, each society have his databaseName,
when user want to login, first  we check from the societyName, in the global DataBase, the databaseName, after that he connect with his Email and password stored in his selected database.
So I'm wanting to know, after i have the databaseName of this user,  how to switch from global datab

[2019-07-03 14:35] emonddr commented on #3281
@huynhhq

Uninstall global @loopback/cli

Be sure to grab the latest @loopback/cli and install globally

Be sure to grab the latest @loopback/authentication
(This has dependencies on @loopback/core, @loopback/context as well)

I found that running `npm update --save` updated to the latest versions of these packages,
and running `npm run build` was able to compile cleanly, and vscode no longer show

[2019-07-03 14:52] dougal83 commented on #3300
Conceptually before going toward any solution, this sounds like a bad idea to even contemplate.  First off, how are you storing the passwords assuming they constitute part of the login?  If the passwords are stored without hashing them you've created a vulnerability by design(if your initial database is compromised, then all are).  If you do hash the passwords, how do you propose to use them to lo

[2019-07-03 14:58] dougal83 commented on #3298
+1 Would be great to have a best practices section on the documentation for production hardening recommendations(if any).

[2019-07-03 15:20] hacksparrow commented on #3298
@Subaku `apiExplorer.disabled` was introduced to disable redirection to the externally hosted Explorer app in older version of LB4. It is no required any more in the later versions. I agree, it is a confusing property name.

To disable Explorer, comment out the code loading and mounting the Explorer in `application.ts`.

[code]

@raymondfeng @bajtos `apiExplorer.disabled` should indeed disable the

[2019-07-03 15:58] sbacem commented on #3300
I have same pb i would update name database dynamically
for exemple

if  user1 is logged wil be get data from db1
if  user2 is logged wil be get data from db2

I tried to update in `namedb.datasource.ts` dynamically and replaces `namedb.datasource.ts` but notwork.
Always use first connexion

[2019-07-03 16:37] kss943 opened #3324 "Binding services"
Is it possible to bind each service with some mixin like repositories and controllers?
I tried to use ServiceMixin like in samples but all the same i must bind it in application like:
`this.bind('auth.service').toClass(LoopAuthService);
`
Can you explain me another way to bind servises except binding each of them separately  ?

[2019-07-03 22:04] frbuceta commented on #3279
some databases do not accept uuid ... if I remove the generated if someone enters the field uuid this will not be written with a uuid

[2019-07-04 09:05] djamaile commented on #1979
So has anyone a real example on how to send email in lb4?

[2019-07-04 10:19] bajtos commented on #3296
@bigal-cloud thank you for reporting the issue. What is the version of `@loopback/repository` and `loopback-connector-oracle` that you are using?

Please be more specific, what is the last version where this worked and what is the first version where it stopped to work?

[2019-07-04 10:19] bajtos commented on #3296
@raymondfeng you are most familiar with the Oracle connector, PTAL.

[2019-07-04 10:21] bajtos commented on #3295
@b-admike @hacksparrow could you PTAL? I feel this may be related to the changes you implemented recently for coercion of nested properties. Not necessarily a bug or regression, perhaps a missing feature similar to what you worked on.

[2019-07-04 10:23] bajtos commented on #3295
@dacamposol it would help us a lot if you could create a small application that we can build & run locally, so that we don't have to build one ourselves. See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-07-04 11:51] #3044 closed

[2019-07-04 13:12] dacamposol commented on #3295
I've forked your repository and in the following branch: https://github.com/dacamposol/loopback-next/tree/regex-where-filter-mongodb you can find an example (I've modified the HelloWorld application in the examples folder)

Basically with the previous application if you perform

`GET /users?filter={"where":{"name":{"like":"Daniel", "options":"i"}}}`

You'll receive the only element of the collecti

[2019-07-04 13:27] kerolloz commented on #3247
@psr1410
You can do something like
![image](https://user-images.githubusercontent.com/36763164/60670145-4274fe00-9e70-11e9-9334-b5ef6b50ed5c.png)

[2019-07-04 13:47] mcorbe opened #3306 "Docs Loopback v4 are broken @ https://apidocs.strongloop.com/"
## Steps to reproduce

Visit https://apidocs.strongloop.com/
Click on "@loopback/core" link

## Current Behavior

Error page

## Expected Behavior

Documentation for the loopback core API.

## Link to reproduction sanbox

https://apidocs.strongloop.com/@loopback%2fdocs/core.html

[2019-07-04 17:15] jannyHou commented on #3306
hey @mcorbe the apidocs are moved to https://loopback.io/doc/en/lb4/apidocs.index.html 🙂

[2019-07-04 17:17] jannyHou commented on #3306
cc @strongloop/loopback-maintainers should we remove the LB4 apidocs from https://apidocs.strongloop.com/ ?

[2019-07-04 18:33] jannyHou commented on #1919
Discussion in the estimation meeting: maybe we can leverage [interceptor](https://loopback.io/doc/en/lb4/Interceptors.html) to implement hooks

[2019-07-04 19:04] agnes512 commented on #3186
After some discussion during the estimate meeting, we are not sure about if we need the `@belongsTo` being created automatically after the `@hasMany` being added to a model. Because sometimes we want them to work independently. We might want to change the criteria for this issue.
Any thoughts? @bajtos  @b-admike

[2019-07-04 19:32] nabdelgadir commented on #3306
Can we redirect from https://apidocs.strongloop.com/ to https://loopback.io/doc/en/lb4/apidocs.index.html?

[2019-07-04 19:40] #914 closed

[2019-07-05 08:00] RipkensLar commented on #1979
@djamaile just use nodemailer for now. I implemented it as a service:
[code]

And then you just have to inject the MailerService in your controller and use it like this:
[code]

[2019-07-05 21:56] bigal-cloud commented on #3296
Hello Bajtos, thanks for replying.

I am using:
@loopback/repository v 1.8.2
loopback-connector-oracle v 4.2.0

For the other questions I need a little more time.

[2019-07-05 22:33] bigal-cloud commented on #3296
The last working version was:
@loopback/cli@1.16.0

The first non working version was:
@loopback/cli@1.17.0

[2019-07-06 01:06] shadyanwar opened #3310 "Order By Function Akin To MySQL"
## Suggestion

When querying data, most filters are customizable and flexible enough to get the desired results except for the `order` filter which is very limited to '`propertyName <ASC|DESC>`'. Powerful functions in MySQL or statements cannot be used.

## Use Cases
- Using if statements in ordering like ```ORDER BY IF (`arg1` IS NULL, `arg2`, `arg1`)```
- Using functions like ```ORDER BY ROUND(`

[2019-07-06 01:37] shadyanwar commented on #3310
Here is my proposed implementation:

[code]

The resulting query:
[code]

Fork: loopback-datasource-juggler:
https://github.com/strongloop/loopback-datasource-juggler/compare/master...shadyanwar:patch-1

Fork: loopback-connector:
https://github.com/strongloop/loopback-connector/compare/master...shadyanwar:patch-1

@raymondfeng

[2019-07-07 10:04] samarpanB opened #3312 "Latest @loopback/build version raising peer dependency issues (EPEERINVALID)"
## Steps to reproduce

Just try to install latest @loopback/build version by doing
`npm i @loopback/build@latest`

## Current Behavior

Getting a peer dependency error (EPEERINVALID) from multiple packages, all related to version of eslint package. This is causing npm install to fail.

Here is the error
[code]
## Expected Behavior

No error should happen while installing.

## Link to reproduction

[2019-07-07 10:47] samarpanB commented on #3312
Found the issue. Its a system issue. My vscode was picking very old npm version. It seems that was the issue. Closing it hence.

[2019-07-07 10:47] #3312 closed

[2019-07-07 14:47] Sumit0581 commented on #1849
I have some ideas regarding Boot scripts in Loopback 4.
We can create a new file boot.ts in the /src folder which will export a Booter interface/class where users can add different boot scripts as functions.
Then this Booter interface/class can be called in index.ts and each function can be called separately.
I have attached a sample for same and it is working perfectly in my LB4 application.
PS:

[2019-07-08 08:12] hacksparrow commented on #3306
Yes, we should do a `301` redirection.

[2019-07-08 09:49] kerolloz commented on #3214
@nabdelgadir
yes, that is right it's not working for almost all the pages.

[2019-07-08 10:04] kerolloz opened #3314 "repository cloning link for shoping example is not working"
## Steps to reproduce

go to [JWT Authentication documentation](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#try-it-out) `try-it-out` section. Try to copy and paste the commands in your terminal.

## Current Behavior

![image](https://user-images.githubusercontent.com/36763164/60801797-e82db300-a177-11e9-8f82-eed51bda4a43.png)

This error comes up.

[code]

## Expected Behavior

The

[2019-07-08 13:14] emonddr commented on #3314
@kerolloz ,

Thank you for reaching out to us.

From the picture, it looks like you pasted all the lines into a command window.

1) Did you try the `git clone` by itself on the command line?

2) Do you have an SSH key set up with github.com ?

    Go to: https://github.com/settings/keys
    Personal Settings > SSH and GPG keys

3) Are you able to perform `git clone` with other repositories that ar

[2019-07-08 14:08] bajtos commented on #3295
Thank you @dacamposol for the sample application ❤️

@hacksparrow @b-admike PTAL

[2019-07-08 14:16] bajtos commented on #3186
I don't mind either way. Maybe the generator can ask the user whether they want to create `belongsTo` relation while creating `hasMany`? Either way, I think we need to fix `belongsTo` generator to be able to convert `@property` into `@belongsTo` decorator.

[2019-07-08 14:34] kerolloz opened #3317 "broken links for repository decorators page"
## Steps to reproduce

In [repository decoratros](https://loopback.io/doc/en/lb4/Decorators_repository.html) page, almost all the links are not working!!

## Current Behavior

Page Not Found
![image](https://user-images.githubusercontent.com/36763164/60818555-2b9b1800-a19e-11e9-9cb2-ccedb1332aea.png)

## Expected Behavior

The pages should load normally...

[2019-07-08 14:43] bajtos commented on #3314
Perhaps we should tell people to clone using HTTPS protocol?

[code]

[2019-07-08 14:44] bajtos commented on #3306
@raymondfeng could you PTAL?

From what I remember, the old apidocs should be still working.

[2019-07-08 14:45] kerolloz commented on #3314
@bajtos
That is what I did here: https://github.com/strongloop/loopback-next/pull/3315

[2019-07-08 14:47] bajtos commented on #3317
@kerolloz thank you for reporting the issue. I am afraid I cannot find the links you are referring to, could you please post a screenshot of the page where you are clicking on the link, and also the URL where the link points to? Thanks :)

[2019-07-08 14:59] kerolloz commented on #3317
@bajtos
for example, in [repository decorator](https://loopback.io/doc/en/lb4/Decorators_repository.html#belongsto-decorator) page, `belongsto-decorator` section...

![image](https://user-images.githubusercontent.com/36763164/60820201-3f944900-a1a1-11e9-929c-78e11fadfb45.png)

the link `BelongsTo relation` should point to [https://loopback.io/doc/en/lb4/BelongsTo-relation](https://loopback.io/doc/

[2019-07-08 15:07] dhmlau commented on #3317
It is a bit strange, because normally we reference other files with the `.md` and when the docs appear on loopback.io, it shows the `.html` file. See https://github.com/strongloop/loopback-next/blob/master/docs/site/Concepts.md as an example.
However, for this [repository decorator](https://loopback.io/doc/en/lb4/Decorators_repository.html#belongsto-decorator) page, it doesn't do the transformatio

[2019-07-08 15:22] dhmlau opened #3319 "Broken link on npmjs.com for authentication and example-greeter-extension"
## Steps to reproduce
As @emonddr pointed out, when our readme shows up on npmjs.com, the images cannot be resolved for https://www.npmjs.com/package/@loopback/authentication and https://www.npmjs.com/package/@loopback/example-greeter-extension.

One possible solution is to use full path of the image.

[2019-07-08 15:38] dhmlau commented on #3317
@b-admike, since you're looking at this issue, I'm assigning this to you. Thanks.

[2019-07-08 16:13] b-admike commented on #3317
@kerolloz The reason we use `.md` for relative links is because we use a certain Jekyll plugin (see https://github.com/benbalter/jekyll-relative-links) for converting those links to the generated `.html` files after building the site. I think the problem here is that we've done some reshuffling of the doc files, and the relative links need to be updated accordingly. First, the `Edit this page` lin

[2019-07-08 16:28] raymondfeng commented on #3319
The url for an image on github is something like:

https://raw.githubusercontent.com/strongloop/loopback-next/master/examples/greeter-extension/greeters.png

We'll have to embed the image as follows:
[code]

[2019-07-08 17:58] dhmlau commented on #1951
Closing as done.

[2019-07-08 17:58] #1951 closed

[2019-07-08 19:21] #3314 closed

[2019-07-08 19:59] dhmlau commented on #3291
@amrsalama, I've also created a blog post on how to seed a database using the life cycle observers in LoopBack 4.  https://medium.com/loopback/loopback-quick-tip-seeding-database-using-life-cycle-observer-8ddca55fea5c.

[2019-07-09 01:57] dhmlau commented on #2725
closing as done.

[2019-07-09 01:57] #2725 closed

[2019-07-09 09:59] UnclePetros opened #3323 "S2OError while migrating Loopback3 to Loopback4"
We have to migrate several node.js applications from Loopback3 to Loopback4.
So the first step we want to do is a basic migration following guidelines ([1](https://loopback.io/doc/en/lb4/Migrating-from-LoopBack-3.html) and [2](https://loopback.io/doc/en/lb4/Migrating-from-LoopBack-3.html)), and then complete it by manually upgrade methods and logic, and completely remove lb3 application.
Unfortuna

[2019-07-09 10:45] dougal83 commented on #3291
@dhmlau Good article.  You could expand this example by using [faker](https://www.npmjs.com/package/faker) for other data types.

[2019-07-09 11:48] bajtos commented on #2660
I believe this should be handled by GitHub automatically.

My main concern is that the current naming scheme creates the impression that LB 3.x (`loopback`) is the main version to use and LB 4.x (`loopback-next`) is something coming in the future.

At minimum, I'd like to rename `loopback` to `loopback-legacy`.

Thoughts?

[2019-07-09 11:49] bajtos commented on #110
@bhupesh-sf invite sent, welcome on board 🚢

[2019-07-09 11:53] bajtos commented on #2674
FWIW, while playing with relations, I discovered an important limitation of the current solution based on juggler v4 and mongodb connector: when the primary key (id property) is configured as `generated: true`, juggler always rewrites its type to `ObjectID`, regardless of the type specified in LB4 property definition. See https://github.com/strongloop/loopback-datasource-juggler/blob/0c2bb81dace35

[2019-07-09 12:02] bajtos commented on #3298
Production deployment is a topic that we haven't researched in detail yet, see https://github.com/strongloop/loopback-next/issues/1054

At the moment, API Explorer is implemented as a standalone component. It is typically enabled by the following line in your Application's constructor:

https://github.com/strongloop/loopback-next/blob/b764835d4afec738102cac56d88225e29fe50389/examples/todo/src/appl