[2019-04-07 19:02] jot-the-coder opened #2699 "Loopback 4 - Accessing model/controller methods locally from another node.js program"
I've used Loopback v2 before and now start a new project with Loopback 4, so I'm quite new to this version.

The new project was built partly on LB4, which I create a simple LB4 application as trial. There is another part of this project written in node.js, and that part would call on LB4 part to do some CRUD action in order to read/write data to the MongoDB behind.

**My question is: Is there a w

[2019-04-07 19:17] charlypeluch opened #2700 "LB4: The key 'authentication.currentUser' is not bound to any value in context application"
I'm starting to use lb4 to create a small application with authentication by jwt. I have been reviewing the shopping-cart code with authentication and apparently have followed a similar scheme, however, when I try to verify an api or simply return a user's information through the token, the exception appears.

I'm stuck and I do not know how to solve the problem

## Description / Steps to reproduc

[2019-04-07 23:24] raymondfeng commented on #2699
We just released loopback-connector-openapi. It can be used as the starting point to enable lb4 to lb4 interactions over the network.

[2019-04-07 23:26] raymondfeng commented on #2254
We’re starting to add method interceptors, which can be used to add authorization capabilities on top of. Check out https://github.com/strongloop/loopback-next/pull/2687.

[2019-04-08 00:19] jot-the-coder commented on #2699
Just check that repository, thanks for the great work for another new tools in the loopback/swagger family.

Beside that package, is there any non-network mean to access LB4 controller/model methods? So a node program can perform CRUD and other actions without even the LB4 server on. This scenario is raised as (I remembered) it can be achived by calling the LB application context in previous versi

[2019-04-08 00:59] frodoe7 commented on #2675
Thanks @samarpanB , it was my mistake

[2019-04-08 04:26] raymondfeng commented on #2699
Yes, all controllers can be instantiated from the context including the application:

[code]

You can also use `instantiateClass` function from `@loopback/context` even the controller class is not bound, such as:
[code]

[2019-04-08 07:47] samarpanB commented on #538
@dhmlau Sure. That's a good idea. I'll put that documentation up. Can you please help me with where to start ? I think https://github.com/strongloop/loopback-next/tree/master/docs/site is the place where all pages md files are kept. So I need to create a new one here, right ?

[2019-04-08 08:20] hacksparrow opened #2701 "Document "Components" under Key concepts"
Components have to be documented and elaborated under Key concepts.

[2019-04-08 08:45] karianpour commented on #1914
I override the `toEntity` method in the user.repository.ts ( or any repository )
[code]

[2019-04-08 08:49] Realetive commented on #1914
@karianpour can you show all code? Or prev steps reproduced [official method](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/README.md)?

[2019-04-08 09:30] karianpour commented on #1914
@Realetive

Let's say that we have a `User` model having password property that we want to hide.

[code]

Actually, for the case of `password` property,  I do not suggest to hide it, the problem is what happens if someone gets an object from the server and put it back? Will it save the missing property back to the database?!

[2019-04-08 11:19] greenkeeper[bot] opened #2703 "An in-range update of delay is breaking the build 🚨"
## The devDependency [delay](https://github.com/sindresorhus/delay) was updated from `4.1.0` to `4.2.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fdelay-4.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

delay is a devDependency of this pro

[2019-04-08 12:20] bajtos commented on #2701
Closing as a duplicate of #2020.

[2019-04-08 12:20] #2701 closed

[2019-04-08 13:26] #2696 closed

[2019-04-08 13:26] #2698 closed

[2019-04-08 13:26] #2703 closed

[2019-04-08 14:10] ibmjm opened #2707 "Computed model properties"
Opening this issue per discussion with Miroslav Bajtos...

## Feature proposal
Some way to declare a computed property on a model.  I think there are times where the model is the correct place to centralise some model-specific computation.

#### My use case
I am modelling a business process where we start with a request, and as the request is reviewed, approved, etc. it will have a status to refle

[2019-04-08 15:27] greenkeeper[bot] opened #2708 "An in-range update of source-map-support is breaking the build 🚨"
## The dependency [source-map-support](https://github.com/evanw/node-source-map-support) was updated from `0.5.11` to `0.5.12`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fsource-map-support-0.5.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-04-08 15:49] Sarkhad opened #2726 "Loopback 4 crashes when fetch entity that has embedded object from MongoDb"
When loopback trying to fetch entities it crashes. But writing to a database works properly. Stack trace below:

`Server is running at http://127.0.0.1:3000
Try http://127.0.0.1:3000/ping
C:\Users\DABRYNIN_AA\WebstormProjects\rfu-digital-backend\node_modules\mongodb\lib\utils.js:132
      throw err;
      ^

TypeError: Cannot read property 'properties' of undefined
    at MongoDB.fromDatabase (C:\

[2019-04-08 17:43] jot-the-coder commented on #2699
Now the original question in my mind could be expressed in these two elaboration:

#### (1) Accessing current context inside the running LB4 app
With your advice in the reply, together with the example in https://loopback.io/doc/en/lb4/Context.html, I made up a little test like following:

(Note: Before these attempts, the controllers and models are tested to be correct and working with their CRUD

[2019-04-08 18:12] dhmlau commented on #2700
@emonddr , could you please help with this question? thanks.

[2019-04-08 18:13] #2675 closed

[2019-04-08 18:15] dhmlau commented on #2627
Thanks @b-admike. I'll mark it as a feature for now. Thanks.

[2019-04-08 18:25] dhmlau commented on #538
@samarpanB , you're right.  For sidebar, it's from https://github.com/strongloop/loopback-next/blob/master/docs/site/sidebars/lb4_sidebar.yml.  Thanks!

[2019-04-08 18:59] greenkeeper[bot] opened #2709 "An in-range update of mocha is breaking the build 🚨"
## The dependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.1` to `6.1.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fmocha-6.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a direct dependency of this project

[2019-04-09 00:53] #2684 closed

[2019-04-09 00:54] iqbaldjulfri commented on #2684
the solution has been merged in #2685 .

[2019-04-09 01:36] dhmlau commented on #2555
Closing this issue as answered.

[2019-04-09 01:36] #2555 closed

[2019-04-09 02:05] dhmlau commented on #2199
@TomerSalton @elv1s, do you think the recent change in the docs page: https://loopback.io/doc/en/lb4/Decorators_repository.html#relation-decorators helps? Thanks.

[2019-04-09 03:49] hubertperron commented on #2639
Same problem here, I can't figure out how to make loopback lazyload any relations.

[2019-04-09 03:58] greenkeeper[bot] opened #2710 "An in-range update of camelcase-keys is breaking the build 🚨"
## The dependency [camelcase-keys](https://github.com/sindresorhus/camelcase-keys) was updated from `5.0.0` to `5.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fcamelcase-keys-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

camelcase-ke

[2019-04-09 05:04] elv1s commented on #2199
Thanks @dhmlau; The docs give examples of using the first param `EntityResolver<T>` of the decorator. It might be helpful to have an example for using the optional definition `Partial<HasOneDefinition>` but the docs on [relation](https://loopback.io/doc/en/lb4/HasMany-relation.html#defining-a-hasmany-relation) describe this so it might be ok.

[2019-04-09 09:22] frodoe7 commented on #2674
@samarpanB

yes I noted that you used ```return await this.testRepository.findOne({where : {id : "5ca3589e0916cec7fd29e87a"}});``` , but that's not what I need , I need to use this ```return await this.atestRepository.findOne({where : {id : "5ca3589e0916cec7fd29e87a"}});``` in my logic = I need to call it with atest repo

@dhmlau @bajtos , can you please check this issue because it does not  make

[2019-04-09 09:38] jdriesen commented on #1465
Hi,
Any idea when we can deploy to AWS ?
Is this already defined on the Roadmap ?

Thanks in advance for your reply
Johnny Driesen
Belgium

[2019-04-09 11:57] bajtos commented on #2606
spike pull request: https://github.com/strongloop/loopback-next/pull/2712

[2019-04-09 12:18] deepchudasama commented on #110
Hey @ritch @bajtos,
I would like to help out too guys. Waiting for magical mail.

[2019-04-09 13:17] emonddr commented on #2346
Please see PR `feat(cli): add `--docker` option to generate docker files` https://github.com/strongloop/loopback-next/pull/2437 .

Now, when creating an lb4 application, there is a default option to create a docker file.
![image](https://user-images.githubusercontent.com/6864736/55803195-e1739f00-5aa7-11e9-8ee5-c53742009ae2.png)

The host and port information in index.js is now as follows:
[code]

[2019-04-09 15:22] psaunders opened #2713 "Error in @loopback/rest related to BindingFilter"
## Description / Steps to reproduce / Feature proposal
Error appeared in very basic codebase following update.

## Current Behavior
This simple code:
[code]

Causes this error
[code]

## Expected Behavior
Import to compile.

Workaround: avoid this by putting `"skipLibCheck": true` in your tsconfig.json file

[2019-04-09 16:35] bajtos commented on #1845
@raymondfeng now that your pull request https://github.com/strongloop/loopback-next/pull/1928 has been landed, is there anything else we need to do to resolve this issue? (See the description at the top.)

@mrbatista Could you please check the solution implemented in https://github.com/strongloop/loopback-next/pull/1928 and let us know if it addresses your needs?

[2019-04-09 16:36] bajtos commented on #1039
@raymondfeng  now that your pull request #1928 has been landed, is there anything else we should work on as part of this epic?

[2019-04-09 16:38] bajtos commented on #2034
I am closing this story as done via #1928. Please open a new issue if there are any other changes/improvements needed to support your use cases.

[2019-04-09 16:38] #2034 closed

[2019-04-09 16:40] greenkeeper[bot] opened #2714 "An in-range update of loopback-datasource-juggler is breaking the build 🚨"
## The dependency [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler) was updated from `4.6.0` to `4.6.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Floopback-datasource-juggler-4.6.1).

This version is **covered** by your **current version range** and after updating it in your projec

[2019-04-09 16:42] bajtos commented on #1845
On the second thought, I am closing this story as done. Please open new issues for any additional changes needed to support your use cases.

[2019-04-09 16:42] #1845 closed

[2019-04-09 16:42] bajtos commented on #1039
Closing as done by https://github.com/strongloop/loopback-next/pull/1928.

[2019-04-09 16:42] #1039 closed

[2019-04-09 17:29] jannyHou commented on #2713
@psaunders Could you post the dependency version of your LoopBack app here?

I just tried with the latest `@loopback/cli`, the created app starts properly:

[code]

[2019-04-09 17:38] greenkeeper[bot] opened #2715 "An in-range update of @types/qs is breaking the build 🚨"
## The devDependency [@types/qs](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `6.5.2` to `6.5.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fqs-6.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/qs i

[2019-04-09 18:11] ibmjm commented on #1971
@DivCorleone are you able to share a working sample of how you were able to get LB4 to work with nodemailer?  I am unable to follow what you did from the brief description your mentioned above, unfortunately.

[2019-04-09 18:19] DivCorleone commented on #1971
Sorry but i never had a working example of nodemailer working inside of LB4. Idk if at this time LB4 mail connector has been implemented. The brief example was just to show that the mail connector was not present in LB4.

[2019-04-09 18:21] dhmlau opened #2718 "[Spike] Investigate the minimal infrastructure we need to support authorization"
## Description / Steps to reproduce / Feature proposal
_Capturing the discussion with @raymondfeng @bajtos_

There are different choices to support authorization:
1. interceptor
2. middleware (our original approach, that's why we have  https://github.com/strongloop/loopback-next/pull/2434)
3. sequence action

@raymondfeng did some initial investigation and think interceptor might be a better appro

[2019-04-09 18:22] juleskreutzer opened #2719 "Emitting event from repository to custom class"
Hi,

I have a question about implementing an EventEmitter in LoopBack.

Let me give you a little background on the application:
For a user it is possible to send data to the LoopBack application. The controller passes this data into the repository which is default behavior.

In the repository I do a couple of checks to make sure the data that is received is correct. After these checks are complete

[2019-04-09 18:29] raymondfeng commented on #2719
We have started to add more eventing support in LB4:

- https://loopback.io/doc/en/lb4/Context.html#context-observers (released)
- https://github.com/strongloop/loopback-next/pull/1928 (just merged)
- https://github.com/strongloop/loopback-next/pull/1972 (under discussion/PoC)

[2019-04-09 18:35] ibmjm commented on #1971
@DivCorleone Oh that's a shame, it sounded like this was closed because you'd reached a viable workaround :(

[2019-04-09 18:38] jannyHou commented on #2207
Sorry for replying late 😞 Yeah it's good to close. And thanks for @bajtos 's suggestion!

[2019-04-09 18:38] #2207 closed

[2019-04-09 18:49] DivCorleone commented on #1971
Yes, the workaround is to use nodemailer directly. Or use a community connector, but i didnt try this.

[2019-04-09 19:02] juleskreutzer commented on #2719
I think that lifecycle support could resolve my issue. But it seems that it is not yet available on npm

[2019-04-09 19:13] dhmlau commented on #1998
Related PR: https://github.com/strongloop/loopback4-example-shopping/pull/71

[2019-04-09 19:31] psaunders commented on #2713
Did you turn off the lib skip with `"skipLibCheck": false`?

There may be some other configuration differences in mine and the default tsconfig.

[2019-04-09 19:36] ibmjm commented on #1971
I was able to add a controller to my LB4 application that sends email, by adding  `let nodemailer = require("nodemailer");` at the top of my controller, and then in my controller class adding a method along these lines:

[code]

Obviously the method would have to be fleshed out to be useful, but I hope this helps someone.

[2019-04-09 19:49] raymondfeng commented on #2719
We’ll make a release soon.

[2019-04-09 20:03] raymondfeng commented on #2719
Published. Use `npm up` to pick up the latest versions.

[2019-04-09 20:06] raymondfeng commented on #2718
See https://github.com/strongloop/loopback-next/pull/2687.

Please note the middleware layer does not have information about the target method and corresponding arguments and context. It's probably not suitable for authorization decisions.

[2019-04-10 02:15] dhmlau commented on #2707
Since it's feature parity gap, moving to `Needs Priority`.

[2019-04-10 02:54] dhmlau commented on #2020
I forgot that we need to estimate this task first.
@hacksparrow, could you please edit the acceptance criteria? Thanks!

[2019-04-10 02:56] dhmlau commented on #1852
I have an initial draft, but still need to clean up. So I'm good to move it as stretch goal

[2019-04-10 04:23] raymondfeng commented on #2713
The flag is already set at https://github.com/strongloop/loopback-next/blob/master/packages/build/config/tsconfig.common.json#L10. Please make sure you pick up the latest version of `@loopback/build`. Use `npm up` to update deps for your package.json.

If you have latest `@loopback/cli` installed, `lb4 version` will print out a list of compatible versions of `@loopback/*` modules for that release.

[2019-04-10 07:47] juleskreutzer commented on #2719
So I got it working now with lifecycle observer. Thanks for the quick responses!

[2019-04-10 07:47] #2719 closed

[2019-04-10 10:34] derdeka commented on #1983
@dhmlau @David-Mulder This isses seems to be resolved, as the project uses package-lock.json now.

[2019-04-10 11:36] samarpanB commented on #538
@dhmlau added documenation in above PR. Please have a look.

[2019-04-10 13:26] emonddr commented on #2700
@charlypeluch , I will investigate this. It would be more helpful to have a github repo to clone and take a look at...

[2019-04-10 13:52] emonddr commented on #2700
The error

is basically indicating that a binding key wasn't `bound` properly to the application context.

This key is :

[code]
and is defined in

https://github.com/strongloop/loopback-next/blob/master/packages/authentication/src/keys.ts#L99

[2019-04-10 14:42] emonddr commented on #2700
I added your `AuthController` code into a file `auth.controller.ts` and placed it into the
`src/controllers` directory  in a cloned copy of https://github.com/strongloop/loopback4-example-shopping .

I also updated `src\index.ts` to include your new controller
[code]
I kept the user.controller  (that comes with example), so that I could add users.

I installed the dependencies:
[code]

I ran to st

[2019-04-10 14:49] xenik commented on #2700
@emonddr  Hello there!
Thank you for so fast answer & excuse me that I write here my question.
but, I have started to use lb4 and have problem with jwt too.

**Perhaps somewhere has a complete example with lb4 & jwt?**

i took an example with [packages/authentication](https://github.com/strongloop/loopback-next/tree/master/packages/authentication) change passport-http with passport-jwt and
got 401

[2019-04-10 14:56] emonddr commented on #2700
It is in the authentication action that a `user` is set on the context

https://github.com/strongloop/loopback4-example-shopping/blob/master/src/providers/custom.authentication.provider.ts#L28

![image](https://user-images.githubusercontent.com/6864736/55889176-a85a2e00-5b7e-11e9-9020-4a6f97990286.png)

Both the `UserController` and `AuthController`  have a method to print the current user in the

[2019-04-10 15:02] emonddr commented on #2700
If I comment out setCurrentUser method in my authentication action:

![image](https://user-images.githubusercontent.com/6864736/55890015-f9b6ed00-5b7f-11e9-90ee-74b0145c3a49.png)

and I run the steps outlined earlier (logging in , getting a token, then trying to print out user info),
I get:

`500 Error: The key 'authentication.currentUser' is not bound to any value in context application`

e.g.

M

[2019-04-10 15:09] dhmlau commented on #1983
You're right. Thanks. Closing as resolved.

[2019-04-10 15:09] #1983 closed

[2019-04-10 18:29] Narrator opened #2723 "Indexes are not created for MySQL during migration when included in ModelDefinition"
## Description / Steps to reproduce
Use the MySQL datasource, and define indexes in the model definition like so and run migration
[code]

## Current Behavior
The indexes are not actually created in the database

## Expected Behavior
Indexes are created in the database

[2019-04-10 19:15] SrChip15 commented on #1873
@straeger try this - https://github.com/strongloop/loopback-next/tree/master/packages/rest/src/__tests__/acceptance/file-upload

[2019-04-11 08:10] bajtos commented on #2723
IIRC, model-level settings must be nested in `settings` object, see https://github.com/strongloop/loopback-next/issues/2142

[code]

I am looking into ways how to make index and foreign key definition more ergonomic, see https://github.com/strongloop/loopback-next/issues/2606

[2019-04-11 08:10] #2723 closed

[2019-04-11 09:13] lvlinh961 commented on #538
Hi everone,

I want to check whether user loged in berfore check I check his/her permission, I dont want to add "@authenticate" decorator to method when i added "@access" decorator to it (option configure the access control). How can I do that.

[2019-04-11 09:14] buokae commented on #2480
Is there a migration manual somewhere? I have eight months left to migrate my project from lb3 to lb4 and no idea where to start.

[2019-04-11 09:54] bajtos commented on #2036
Sure, I'll clarify. I also think this story is too big for a single task, I'd like to create a spike story first and possibly break the work into multiple smaller chunks.

[2019-04-11 10:37] bajtos commented on #2707
Thank you @ibmjm for starting this discussion.

In LoopBack 3.x, it was possible to define computed properties via `MyModel.getter[propertyName]` syntax, as I explained in https://stackoverflow.com/questions/25438663/dynamic-properties-or-aggregate-functions-in-loopback-models.

We don't have a first-class support for computed properties in LB4 yet. /cc @raymondfeng

To make computed properties wo

[2019-04-11 10:39] bajtos commented on #1919
As a temporary workaround, it's possible to leverage existing LB 3.x [Operation Hooks](https://loopback.io/doc/en/lb3/Operation-hooks.html) in the custom per-model repository class.

An example:

[code]

[2019-04-11 11:32] vnaveed commented on #110
Hi I have an issue on model relation. By using hasmany mapped to another table column.But while calling default crud get api I can't able to get that subtable array of values in explorer output

[2019-04-11 13:37] samarpanB commented on #2142
@bajtos If its fine, I can try help with this feature implementation. Let me know if that's fine ? I have not worked with LB3, so I may need some guidance on exact requirements.

[2019-04-11 14:33] bajtos commented on #2527
+1 to leave advanced topics out of the initial version.

[2019-04-11 14:33] emonddr commented on #2527
This LB3 section https://loopback.io/doc/en/lb3/Working-with-data.html needs to be rewritten for LB4  to discuss the CRUD methods of a repository (instead of a model), and its relationship with controller endpoints.

[2019-04-11 14:38] emonddr commented on #2700
@charlypeluch ^^^

[2019-04-11 14:39] emonddr commented on #2700
@xenik , please see : https://github.com/strongloop/loopback4-example-shopping for a working jwt example

[2019-04-11 14:44] dhmlau commented on #1035
For Q2, the planned MVP would be:
1. create the authentication strategy interface #2466
2. make auth action in /authentication package to use interface created in 1/.  #2467
3. Refactor [example-shopping app](https://github.com/strongloop/loopback4-example-shopping) to use the auth action in 2/
4. Test if existing adapter works with passport strategies and interface. #2311
5. How to register auth

[2019-04-11 14:53] dhmlau opened #2725 "[Blog] How to register authentication strategies"
## Description

The `authentication` package is being updated with
 - a new authentication strategy interface #2466
- a new authentication action #2467
- extensionPoint and extensionFor decorators which allow the registration of authentication strategy implementations #2312
- a new authentication strategy resolver #2312 + #2367 which discovers registered authentication strategies

The shopping car

[2019-04-11 15:28] psaunders commented on #2713
Yeah, the addition of that flag is how I discovered the workaround (I have a custom tsconfig because we use more than just loopback).

I find it strange that `context-view.ts` has an error in it meaning all loopback users now have this flag on for everything. Seems like it can't be the real solution, but I understand that sometimes typing can get incredibly time consuming and for the sake of produ

[2019-04-11 15:28] #2713 closed

[2019-04-11 15:36] dhmlau commented on #2726
Transferring to `loopback-next` repo.

[2019-04-11 15:39] psaunders opened #2727 "instantiateClass nonInjectedArgs"
## Description / Steps to reproduce / Feature proposal
It seems that the instantiateClass is either not fully implemented or behaves differently to how you would expect.

## Current Behavior

I want to create an DIed instance of the following:
[code]

Inside a custom Mixin I have the following code trying to DI the SettingResolver and take some settings.
[code]

But you get the error
[code]

## Ex

[2019-04-11 15:44] raymondfeng commented on #2727
Please note that `nonInjectedArgs` only applies to argument that's not decorated for injection. So the behavior you see is by design. `nonInjectedArgs` is mostly for method parameter injections - with some of the args resolved from DI, while the rest from `@param`.

BTW, these functions are documented at http://apidocs.loopback.io/@loopback%2fdocs/context.html.

[2019-04-11 15:52] derdeka commented on #2568
@raymondfeng @dhmlau Could you give a hint please?

[2019-04-11 15:56] raymondfeng commented on #2568
@jannyHou ^^^?

[2019-04-11 16:02] ibmjm commented on #2707
Thanks for the suggestion @bajtos .  It appears to work up until the controller tries to send the response, at which point (I believe) it runs afoul of the schema for my ReturnRequest model class.

This is the error I get:
`Unhandled error in GET /request/22: 500 Error: ER_BAD_FIELD_ERROR: Unknown column 'isOpen' in 'field list'`

I don't know enough about schemas to be able to do anything robust

[2019-04-11 16:23] dhmlau commented on #1949
Closing as done as PR https://github.com/strongloop/loopback-next/pull/2245 has landed.

[2019-04-11 16:23] #1949 closed

[2019-04-11 16:36] psaunders commented on #2727
Can you take a quick look at the nonInjectedArgs parameter on your [instantiateClass](https://github.com/strongloop/loopback-next/blob/dcc9cac76b53a5f2ea4f0c358f034838e71f6e67/packages/context/src/resolver.ts#L44
) function please?

I understand what this method is for and the difference between the decorated and non-decorated arguments. It sounds great, *I would really like to use it*, however I

[2019-04-11 16:40] raymondfeng commented on #2727
@psaunders Sorry for the confusion. I think we need to pass `nonInjectedArgs` to https://github.com/strongloop/loopback-next/blob/dcc9cac76b53a5f2ea4f0c358f034838e71f6e67/packages/context/src/resolver.ts#L58. Would you like to contribute a patch?

[2019-04-11 16:45] psaunders commented on #2727
Sure thing, will do, thanks for taking another look

[2019-04-11 17:41] psaunders commented on #2727
Done @raymondfeng
https://github.com/strongloop/loopback-next/pull/2729

[2019-04-11 17:48] emonddr commented on #2020
@dhmlau

I don't see the word `Component` on the url you mentioned. Do you mean it is missing somewhere on the left side bar?

[2019-04-11 18:01] #2727 closed

[2019-04-11 18:26] emonddr commented on #2658
@b-admike will look to see if there is an existing bug related to the `this check` url mentioned above.

[2019-04-11 18:34] emonddr commented on #2133
We need to groom this to determine if we want an lb4 version of the https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html .

[2019-04-11 18:43] emonddr commented on #2556
we need a JSON utility that can perform dependency injection `post boot`.

[2019-04-11 18:53] emonddr commented on #2556
The team brought up a few questions:

1) How to declare a variable for non-string values. for example PORT NUMBER.? (Can't use string)
2) How do we specify a default value?
3) Impossible to add a comment in the file.

We figure we may need a file format different from .json. Perhaps .config.

Please clarify the Acceptance Criteria in light of our comments. Thank you.

[2019-04-11 18:54] emonddr commented on #2556
@bajtos  ^

[2019-04-11 18:56] emonddr commented on #2629
@bajtos ^ . Thank you.

[2019-04-11 19:06] Jamesters commented on #2568
I have no idea if this is the correct solution, but it hasn't changed the functionality of my application.

I guess, if all you're trying to do is to run a deleteAll(), then it shouldn't matter if the dependent repositories exist or not, so I added a **?** in my repository constructor to make the argument optional (I am extremely new to TypeScript, so please forgive me for not using the correct te

[2019-04-11 19:14] emonddr commented on #2718
Investigate `minimal infrastructure` to support authorization.

[2019-04-11 19:35] jannyHou commented on #2568
@derdeka Have you followed the documentation here to define the relations?

See [belongsTo relation](https://loopback.io/doc/en/lb4/BelongsTo-relation.html#configuring-a-belongsto-relation) and [hasMany relation](https://loopback.io/doc/en/lb4/HasMany-relation.html#configuring-a-hasmany-relation)

[2019-04-11 19:47] jannyHou commented on #2568
If the circular dependency error is caused by the json schema generation, this [PR](https://github.com/strongloop/loopback-next/pull/2690) is fixing it.

I may need more time to setup the test to check if the circular repositories fails due to the same reason like ^.

[2019-04-11 20:12] Jamesters commented on #2568
@jannyHou the problem is that if you use both the belongsTo in one repository, and the hasMany in another repository, you end up with a circular reference in the repositories, and can't use the existing xxx.repository.ts in a test.

RepositoryA **hasMany** RepositoryB - so we need a Getter.fromValue(new RepositoryB) before we can create a new RepositoryA.

Not a big deal until you also say Reposit

[2019-04-11 20:21] dhmlau commented on #2639
@Ajtak, I haven't got a chance to run your sample.  There is a default name for "belongsTo" property, i.e. {modelName}+Id  (camel case).  So, the property name in your case should be `typeId`.
[code]

If you want to keep the `type_id` name, you'll need to specify it in the "belongsTo" decorator:
[code]
See https://loopback.io/doc/en/lb4/BelongsTo-relation.html#defining-a-belongsto-relation.

Hope

[2019-04-11 21:04] greenkeeper[bot] opened #2731 "An in-range update of strong-docs is breaking the build 🚨"
## The dependency [strong-docs](https://github.com/strongloop/strong-docs) was updated from `4.1.0` to `4.2.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fstrong-docs-4.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

strong-docs is a direct

[2019-04-12 06:36] bajtos commented on #2708
Fixed by  7a372a8274

[2019-04-12 06:36] #2708 closed

[2019-04-12 06:48] bajtos commented on #2731
Fixed by 3207803

[2019-04-12 06:48] #2731 closed

[2019-04-12 07:17] #2709 closed

[2019-04-12 07:17] #2710 closed

[2019-04-12 07:17] #2714 closed

[2019-04-12 07:17] #2715 closed

[2019-04-12 08:32] DilupaSampath opened #2735 "Is there any way to validate Loopback 4 Model"
Is there any way to validate Loopback 4 Model,
Now i'm validate my model like this.

import {Entity, model, property, belongsTo} from '@loopback/repository';
import {SaleStore} from './sale-store.model';
import {VehicleQuarry} from '../patterns/vehicle-decorator';
import {UploadImages} from './upload-images.model';

@model()
export class Vehicle extends Entity {
  @property({
    type: 'number',

[2019-04-12 08:47] #2627 closed

[2019-04-12 11:51] JoergFechner commented on #512
Open the where-filter, to get something like this

`labels @> ARRAY['pommes','ketchup']::varchar[]`

to work.

[2019-04-12 11:57] bajtos commented on #2036
There will be controller & repository classes involved under the hood. The idea is that application developers don't have to write them, they should be created at runtime for them.

I have updated the description at the top, I hope it's more clear now.

I am also converting this task into an Epic so that we can split the work into multiple smaller tasks.

[2019-04-12 12:01] bajtos opened #2736 "Extension: CrudRestController"
_Part of From model definition to REST API with no custom repository/controller classes #2036_

A new extension (npm package living in loopback-next monorepo) providing CrudController class. See #740 for inspiration.

## Acceptance criteria

- [x] A new extension (let's call it `@loopback/rest-crud`) providing a base Controller class (let's call it `CrudRestController`) implementing typical CRUD o

[2019-04-12 12:05] bajtos opened #2737 "Extension: KeyValueRestController"
_Part of From model definition to REST API with no custom repository/controller classes #2036_

A new extension (npm package living in loopback-next monorepo) providing KeyValue Controller class. See #740 for inspiration.

## Acceptance criteria

- [ ] A new extension (let's call it `@loopback/rest-key-value`) providing a base Controller class (let's call it `KeyValueRestController`) implementing

[2019-04-12 12:16] bajtos opened #2738 "Spike: Booter for creating REST APIs from model files"
_Part of From model definition to REST API with no custom repository/controller classes #2036_

In https://github.com/strongloop/loopback-next/issues/2736, we will implement a component providing CRUD REST Controller class that can be used to expose models via REST API.

In this spike, we will find out how to implement a booter that will read model configuration from JSON files, load controllers c

[2019-04-12 12:21] bajtos opened #2739 "CLI command to expose REST API of a Model with no custom classes"
_Part of From model definition to REST API with no custom repository/controller classes #2036_

A new CLI command that will ask the user for an existing model, an existing datasource, and then generate the corresponding `public-models` entry (model configuration json)

Nice to have: the pattern (crud vs key-value) can be automatically inferred from the datasource config (connector type).

(Much ca

[2019-04-12 12:27] bajtos opened #2740 "Docs for exposing REST API of a Model with no custom classes"
Documentation for the feature From model definition to REST API with no custom repository/controller classes #2036

## Acceptance criteria

 - [ ] Docs for application developers consuming this feature. Describe the new CLI command, how to use controller/repositories contributed by extensions, what model config options are available.

 - [ ] Docs for  extension developers building custom controlle

[2019-04-12 12:30] bajtos commented on #2036
Created the following stories:
- Extension: CrudRestController #2736
- Extension: KeyValueRestController #2737
- Spike: Booter for creating REST APIs from model files #2738
- CLI command to expose REST API of a Model with no custom classes #2739
- Docs for exposing REST API of a Model with no custom classes #2740

[2019-04-12 12:32] derdeka commented on #2568
@jannyHou
Yes, i followed the documentation, but i think thats not the point. This is not about the usual circular dependency problem of models. This is about injecting repositories in constructors of repositories, which depend each other.

[2019-04-12 12:44] JesusTheHun commented on #2718
Interceptors are great because they are quite simple, they are just annotations with a clear semantic purpose : modify the incoming request and/or the out coming response. However this simplicity implies a few limitations :

1. You cannot add default behaviour in the absence of these annotations, so a controller without the proper annotation will not have its access denied, which is the security s

[2019-04-12 13:45] dhmlau commented on #2020
Sorry.. I think I was referring to the section above. Should be here: https://loopback.io/doc/en/lb4/Crafting-LoopBack-4.html#deep-dive-into-loopback-4-extensibility. But I fixed the broken link to point to the `using-component.md`.

[2019-04-12 13:48] stoffason commented on #2666
found out that OpenAPI 3.0 requestBody spec needed for recognising as upload requires properties, with format: 'binary'.
However, this is validated by AJV, which does not recognise format: binary as a known format.
This can be manually overridden in AJV via options, in the  request-body.validator.ts file, by setting -

[code]

After adding this, swagger-ui works as expected, with upload button and

[2019-04-12 14:49] bajtos commented on #2658
Most people don't read docs. Can we instead fix the [constraint check](https://github.com/strongloop/loopback-next/blob/a396274db3ecd0486b686f4e7f0703636e57e97b/packages/repository/src/repositories/constraint-utils.ts#L58) to recognize the situation where the requested data is not changing the immutable key and don't report a false error?

[2019-04-12 15:00] nabdelgadir commented on #2658
@b-admike if you can find the issue that's related to that check, we can close this issue. Otherwise, we can modify this issue to fix the constraint instead of the docs (or close this one and open a new issue).

[2019-04-12 15:05] dhmlau commented on #2205
Closing as duplicate of #2027.
Please continue the discussion in #2027.  Thanks!

[2019-04-12 15:05] #2205 closed

[2019-04-12 15:13] dhmlau commented on #2074
@kogutu, did you have a chance to look at @jannyHou's response?  It seems to be working fine for us.

[2019-04-12 15:15] dhmlau commented on #2199
@elv1s, thanks for verifying that.  Do you think you could contribute the missing piece (`Partial<HasOneDefinition>`) in the relation page?

[2019-04-12 15:28] bajtos commented on #2398
I think the PostgreSQL connector is enforcing the type of the primary key to be a number. You can see that the `custid` column is configured to use a default value computed by `nextval('customer_custid_seq'::regclass)`.

I think the same problem may apply to other SQL connectors too.

While this behavior is intended, I can see how it can be confusing for people building LB4 applications.

[2019-04-12 15:35] bajtos commented on #2658
I think the problem is has been described here first: https://github.com/strongloop/loopback-next/issues/1719

[2019-04-12 15:36] bajtos commented on #1719
The problem may be easy to fix - see the discussion in https://github.com/strongloop/loopback-next/issues/2658 and the following code:

https://github.com/strongloop/loopback-next/blob/a396274db3ecd0486b686f4e7f0703636e57e97b/packages/repository/src/repositories/constraint-utils.ts#L58-L59

[2019-04-12 17:16] dhmlau opened #2742 "[Question] Can we make CI failed right away when commit linter fails?"
## Description / Steps to reproduce / Feature proposal
When the commit message of a PR does not adhere to the [commit message guideline](https://loopback.io/doc/en/contrib/code-contrib-lb4.html#commit-message-guidelines), Travis for other tests are still trying to run.  I've encountered a few times in some community PRs.

Question: I'm wondering if there's any mechanism to make the Travis CI faile

[2019-04-12 17:27] dhmlau commented on #2725
@jannyHou @emonddr ,  please add the acceptance criteria. thanks.

[2019-04-12 18:30] elv1s commented on #2199
an example is already on the relation page, but I can make an update to the decorator docs as well.

[2019-04-12 21:44] dhmlau commented on #2135
@nebulon42 , sorry about the late reply.
Looking at the `BelongsToDefinition`, it doesn't seem like `required` is the correct property name. https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/relation.types.ts.

If you want to make that as required, you can:
[code]

Hope it helps.

[2019-04-12 22:13] greenkeeper[bot] opened #2749 "An in-range update of prettier is breaking the build 🚨"
## The dependency [prettier](https://github.com/prettier/prettier) was updated from `1.16.4` to `1.17.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fprettier-1.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a direct dependency

[2019-04-13 01:57] greenkeeper[bot] opened #2750 "An in-range update of swagger-ui-dist is breaking the build 🚨"
## The dependency [swagger-ui-dist](https://github.com/swagger-api/swagger-ui) was updated from `3.22.0` to `3.22.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fswagger-ui-dist-3.22.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

swagger-ui-d

[2019-04-13 09:36] tonifirnandes commented on #2242
Thanks, it works, but hopefully there is still another simple way, so our source code not fully of *.js.map file.

[2019-04-13 13:01] mathiasarens commented on #2568
I have the exact same problem. How to set up the repositories in integration tests for example if you use the hasMany annotation on one side and the belongsTo annotation on the opposite side. The dependency injection framework solves this issue. But how can I do it programmatically?

[2019-04-13 19:07] frost-byte opened #2751 "Cannot Build loopback4 app without errors"
## Description / Steps to reproduce / Feature proposal
Install LoopBack4
Run lb4 app
Enable all options (specifically tests)

## Current Behavior
During the build, when the command `tsc --outDir dist --target es2017` runs,
nine errors appear, all related to @types/jest, jest and @types/mocha, mocha

[code]

## Expected Behavior
The build completes without any errors thrown by typescript when the t

[2019-04-14 13:21] dhmlau commented on #2751
@frost-byte , you're right that you don't need to install mocha globally. I assume you accept all options when running `lb4 app` to create the app?
Could you please check whether you have `node_modules` folder in the parent directories?
Your error is not the same as https://github.com/strongloop/loopback-next/issues/2611, but removing `node_modules` in the parent directories might help. Thanks.

[2019-04-14 15:14] ChuckIrvine commented on #2043
I hope this is an appropriate place to post this question.... Is there a workaround for implementing many-to-many relationships in Loopback 4.? I think there must be since just about any significant database model will contain some number of many-to-many relationships. Without official support or a good workaround, I doubt that Loopback 4 would have been deemed ready to release otherwise. Thanks

[2019-04-14 19:16] charlypeluch commented on #2700
Hi @emonddr,

I spent the whole week working and today I was able to review the subject again. I still have the same error (sorry for my clumsiness), as I indicated I have uploaded the code in a repository to see if we can see the problem more easily.

[https://github.com/charlypeluch/lb4_authentication_jwt](url)

Thanks for the speed resonse and dedication! :-)

[2019-04-15 02:59] codejamninja commented on #2043
The HasManyThrough pull request is currently functional. There's still more work to do on it to make it more efficient with SQL, but it does work.

https://github.com/strongloop/loopback-next/pull/2359

The code for the pull request can be found at the following link.

https://github.com/codejamninja/loopback-next/tree/codejamninja/has-many-through-using-has-many

You can install it by running the

[2019-04-15 03:04] codejamninja commented on #2043
You can see an example of how to set it up and use it in the fixtures test.

https://github.com/codejamninja/loopback-next/tree/codejamninja/has-many-through-using-has-many/packages/repository/src/__tests__/fixtures

[2019-04-15 03:07] codejamninja commented on #2043
For hasManyThrough, you have to explicitly define your own join (junction) table. It's very similar to the way it works in loopback 3. You can read more about it at the following link.

https://loopback.io/doc/en/lb3/HasManyThrough-relations.html

In the example I provided, the junction table is defined by the `Order` model. (Notice the two `@belongsTo` decorators.)

[code]

Since this feature has

[2019-04-15 03:16] codejamninja commented on #2043
Like existing relationships in Loopback 4, you will need to link it together in the repository.

For the hasManyThrough relationship, you use the `HasManyThroughRepositoryFactory`. You can see how sellers are linked to customers in the customer repository at the links below.

https://github.com/codejamninja/loopback-next/blob/codejamninja/has-many-through-using-has-many/packages/repository/src/__t

[2019-04-15 07:35] bajtos opened #2752 "Respond with JSONP"
Implement support for [JSONP](https://en.wikipedia.org/wiki/JSONP):

When the requested `Accepts` headers contain `application/javascript` or `text/javascript`, we should return JSONP response instead of JSON.

See the implementation in strong-remoting (LB 3.x) here: https://github.com/strongloop/strong-remoting/blob/33fbd72fb46035f707c3c62dce6b36ab075fb61e/lib/http-context.js#L480-L483

_THIS STO

[2019-04-15 07:36] bajtos commented on #436
@acrodrig

Not really. We want to allow the controller method to handle more aspects of the HTTP response that will be produced, e.g. status code, headers, etc.

See https://github.com/strongloop/loopback-next/issues/436#issuecomment-388879072

[code]

Our current recommendation is to write a custom implementation of sequence action `send`, see https://loopback.io/doc/en/lb4/Sequence.html#customiz

[2019-04-15 11:48] rkterungwa16 opened #2753 "Defining index for a model in @model decorator"
To configure the @model decorator and define index for a model, the loopback4 documentation refers us to loopback3. In the loopback3 documentation, the recommended format for model configuration is as shown below:
[code]
However this throws an error on creating a migration (see below). My datasource is SQL.
[code]

When I modify the configuration object as shown below:
[code]
Migration works fine.

[2019-04-15 12:01] ThePinger opened #2755 "How to pass `--grep` filter to Mocha when running `npm test`"
## I have a problem whenever using the grep filter
Every time I run ```npm test --grep "HomePage"``` it displays a  warning message ```Warning: Cannot find any files matching pattern "HomePage"``` and runs all the tests despite having a describe with that keyword. You can find it in that repo https://github.com/ThePinger/first-project in ```/__tests__ /acceptance/home-page.acceptance.ts```. So doe

[2019-04-15 13:34] mightytyphoon commented on #2753
@rkterungwa16

[code]

About having several indexes I am not sure if using unique still works. I will test later this weekend I guess.

[2019-04-15 21:26] jannyHou commented on #2735
@DilupaSampath Model validation has different levels:

This could be achieved by the spec level validation.
We use `ajv` module to validate the incoming request data based on your model metadata, see [document](https://loopback.io/doc/en/lb4/Parsing-requests.html#request-body).
To specify a maximum/maxLength or minimum/minLength for your property, you can decorate the model property with a `jsonSc

[2019-04-15 22:32] DilupaSampath commented on #2735
thank you @jannyHou,  'ajv module'  is good solution for my issue.Also I can handle my second question(2nd-- Is there any way to compare two fields in model.) using 'ajv module'.

[2019-04-15 22:32] #2735 closed

[2019-04-16 07:25] #1719 closed

[2019-04-16 07:25] #2658 closed

[2019-04-16 13:30] bajtos commented on #1981
Could you please open a new issue and provide more details? @b-admike is improving handling of nested properties (including arrays) at the moment, some of the issues may be already fixed by now.

[2019-04-16 13:31] bajtos commented on #110
@vnaveed please open a new issue and provide us with enough details to reproduce the problem you are experiencing. See https://loopback.io/doc/en/contrib/Reporting-issues.html

[2019-04-16 13:56] bajtos commented on #110
@Whamo12 @deepchudasama Invites sent 📨

_Please note that you have to accept the invite on GitHub before you become a member of `@strongloop/loopback-next`. If you didn't receive an email notification from GitHub, then I think you can find the invite when visiting StrongLoop organization on GitHub: https://github.com/strongloop_

[2019-04-16 15:01] b-admike commented on #2203
Hi, this is to be implemented as part of https://github.com/strongloop/loopback-next/issues/1352 AFAICT.

[2019-04-16 15:04] b-admike commented on #2203
Closing as duplicate of #1352, feel free to re-open if needed.

[2019-04-16 15:04] #2203 closed

[2019-04-16 15:12] derdeka commented on #110
Hi @ritch @bajtos
Looking forward to be part of amazing community.
Thanks.

[2019-04-16 15:20] jannyHou commented on #2568
OK I reproduced the error.
We have unit and acceptance tests for the hasMany+belongsTo relation in https://github.com/strongloop/loopback-next/tree/master/examples/todo-list/src/__tests__

I will dig more of writing the integration tests.

[2019-04-16 15:28] derdeka commented on #2568
@bajtos Could you please take a look into this issue? I would like to get deeper into lb4, but this prevents me and other users to write useful tests. As no one has an answer to this since more than a month, i guess i'm implementing it in a wrong way. Do you have some hints?

[2019-04-16 15:46] bajtos commented on #2630
Makes sense. Maybe we can leave this out of the initial implementation and wait until there is user demand for this more complex variant?

[2019-04-16 16:07] bajtos commented on #1462
See also https://github.com/strongloop/loopback-next/issues/2718

[2019-04-16 16:07] bajtos commented on #2718
Related: https://github.com/strongloop/loopback-next/issues/1462

[2019-04-16 16:57] #2466 closed

[2019-04-16 17:56] raymondfeng commented on #2718
We support global interceptors that are bound the context with a special tag.

We define the order of execution.

See https://github.com/strongloop/loopback-next/blob/interceptor/docs/site/Interceptors.md for more details.

[2019-04-16 18:13] emonddr commented on #2629
@bajtos , please see our question above. Thank you :)

[2019-04-17 00:51] dhmlau commented on #2753
@jannyHou @bajtos, you're more familiar with indexes.  Could you please take a look? Thanks.

[2019-04-17 00:56] dhmlau commented on #2143
Closing due to inactivity.

[2019-04-17 00:56] #2143 closed

[2019-04-17 02:57] octisfall opened #2761 "Can't install @loopback/socketio from npm"
## Description / Steps to reproduce / Feature proposal
I need to install socketio package from
https://github.com/strongloop/loopback-next/tree/socketio/packages/socketio
it has README.MD with installation command

`npm install --save @loopback/socketio`

## Current Behavior

npm ERR! 404 Not Found - GET https://registry.npmjs.org/@loopback%2fsocketio - Not found
npm ERR! 404
npm ERR! 404  '@loopb

[2019-04-17 03:02] raymondfeng commented on #2761
@octisfall The module is not released yet. It's work in progress.

[2019-04-17 03:09] octisfall commented on #2761
@raymondfeng Is there a workaround to use websocket beside REST application?

[2019-04-17 10:58] theiosdevguy commented on #2085
Hi. Any update on this? Please fix this issue at the very earliest. It is a major bug and has been a part of previous milestones.

[2019-04-17 12:50] AnanthGopal commented on #1944
I try to get data like below (Parent and child data).
`[{
    "_id" : ObjectId("5bd83d9ae8abbe501d4b68d0"),
    "name" : "testTeam",
    "todos" : [
        {
            "id" : "should run function Profilerepository.create that creates a new ObjectId",
            "username" : "test user",
            "password" : "test pass",
            "name" : "test name",
            "email" : "testemail@ema

[2019-04-17 13:47] dhmlau commented on #2742
@bajtos mentioned to look up: https://docs.travis-ci.com

[2019-04-17 14:16] raymondfeng commented on #2676
Let's start with the simplest case here - adding a new module such as `@loopback/socketio`, which has the following characteristics:

1. It's an independent module that product-ready modules don't depend on
2. Any changes required for product-ready modules must be submitted as separate PRs to be reviewed and landed first

To support this case, we can do the following:

1. Add `experimental-package

[2019-04-17 14:47] dhmlau commented on #2340
Closing as done.

[2019-04-17 14:47] #2340 closed

[2019-04-17 16:50] greenkeeper[bot] opened #2762 "An in-range update of sinon is breaking the build 🚨"
## The dependency [sinon](https://github.com/sinonjs/sinon) was updated from `7.3.1` to `7.3.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fsinon-7.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sinon is a direct dependency of this project

[2019-04-17 16:57] AnanthGopal commented on #2634
Hi @bajtos

this._registerHasManyInclusion('todos', todoRepositoryGetter);

When I add this code I got the error "_registerHasManyInclusion" it's not defined.  Please provide the full function for  this _registerHasManyInclusion

[2019-04-17 18:02] emonddr commented on #1875
Folks still asking about https://github.com/strongloop/loopback-next/issues/2085 .

[2019-04-17 18:38] Navos opened #2764 "Implementing ts-mocha is throwing type errors in Inject"
## Description / Steps to reproduce / Feature proposal
I've been trying to implement ts-mocha instead of the built in lb-mocha for faster test running and while I have taken care of the main issues within my code, one problem remains related to when `inject` checks if a getter or setter is a function.

The issue stems from the following lines: https://github.com/strongloop/loopback-next/blob/maste

[2019-04-17 19:44] raymondfeng commented on #2764
It seems that `ts-node` does not emit `Function` for the design type of `Setter`. `ts-mocha` probably sees `Object` instead. Please note `typeof Object === 'function'` returns `true` as `Object` itself is a class/constructor.

[2019-04-17 19:47] raymondfeng commented on #2764
Maybe there is a possibility to relax the check if the design type is `Object`, which pretty much hints that no design type is inferred.

[2019-04-17 19:58] emonddr commented on #1875
1. We will investigate for a quick workaround and document it : a) use a workaround listed here or b) make use of a property decorator
2. Long term solution :  https://github.com/strongloop/loopback-next/issues/1306

[2019-04-17 20:04] b-admike commented on #1944
@AnanthGopal Please look at https://github.com/strongloop/loopback-next/issues/1352 for inclusion of related models.

[2019-04-17 20:07] raymondfeng commented on #2764
@Navos Please try https://github.com/strongloop/loopback-next/pull/2765

[2019-04-17 20:21] raymondfeng commented on #2764
@Navos Can you make sure `emitDecoratorMetadata` is enabled for your ts-mocha setup. See https://www.typescriptlang.org/docs/handbook/compiler-options.html.

https://github.com/strongloop/loopback-next/pull/2765 skips the assertions but `@loopback/rest` also relies on the design time metadata for type introspection.

[2019-04-17 20:29] Navos commented on #2764
@raymondfeng I tried the seperate branch and the added the `emitDecoratorMetadata` and still having the same issue. Debugging through the new code, `isDesignTypeSupported` is returning true.

[2019-04-17 20:31] raymondfeng commented on #2764
If you have a github repo to reproduce the issue, I can take a look.

[2019-04-17 21:34] Navos commented on #2764
Hey Raymond, I can show you the code I am currently working on due to it being work related, but I reproduced the error with the log-extension example here https://github.com/Navos/ts-mocha-implementation/blob/master/package.json

[2019-04-17 21:44] bschrammIBM commented on #2598
I moved the entire topic from LB3: https://loopback.io/doc/en/lb3/Connectors-reference.html to loopback-next repo and updated the sidebars and the headers.
The branch is `connectors_from_lb3`.
However, there is an error when building the site that needs to be resolved.
Here is the error message: ```Liquid Exception: Could not locate the included file 'readmes/loopback-connector-cassandra.md' in an

[2019-04-17 21:44] bschrammIBM commented on #2598
@b-admike Can you help trouble shoot this?

[2019-04-17 21:45] bschrammIBM commented on #2598
Alsp, I wanted to point out that you maybe should add a `Connectors` topics to the `Key Concepts` section.

[2019-04-17 22:03] raymondfeng commented on #2764
Here is the transpiled result from `ts-node`:

[code]

[2019-04-17 22:05] raymondfeng commented on #2764
And here is what `tsc` produces:
[code]

[2019-04-17 22:18] raymondfeng commented on #2764
`typeof context_1.Getter` is `undefined` as `Getter` is just a TypeScript type definition and it's erased at runtime. As a result, `ts-node` only emits `Object` instead of `Function`.

[2019-04-18 06:03] bajtos commented on #2472
@shazha sorry for being late to respond.

I see two different consumers of HasOne repository:
1. The REST layer (Controller methods) want to return 404 Not Found when the relation target was not found. It's impractical to convert `null` responses to 404 errors in every controller method.
2. Custom code that needs an easy way how to detect when the relation target was not found.

Handling of "not f

[2019-04-18 06:18] bajtos commented on #2753
Based on the log, we are executing the following SQL command to create the index:

[code]

The database responds with the following error:

[code]

What SQL data types are used by `internal_ref` and `external_ref` columns? Is it possible that when you add the maximum allowed length of these two columns together, the combined size is larger than 3072 bytes?

(A side note: we are looking into a more

[2019-04-18 06:29] bajtos commented on #2755
IIRC, `npm` is treating `--grep` as its own option and does not pass it to the underlying script.  As a result, the following command is invoked to run Mocha tests - notice that `--grep` is not present and therefore Mocha treats `HomePage` as a name of a file to load:

[code]

You need to add `--` before any arguments you want to `npm` to pass directly to the invoked script.

[code]

With that cha

[2019-04-18 06:46] bajtos opened #2766 "New syntax for INDEX and FOREIGN KEY definition"
_This is a follow-up task for the proposal outlined in https://github.com/strongloop/loopback-next/issues/2712.__

**Indexes at property level**

Support the following two short-hand forms only. Ask users to use model-level
form to define indexes that are more complex.

- a "plain" index with no special configuration

[code]

- UNIQUE index with no special configuration

[code]

**Indexes at model

[2019-04-18 06:49] bajtos opened #2767 "Document how to configure indexes and foreign keys"
_This is a follow-up task for the proposal outlined in https://github.com/strongloop/loopback-next/issues/2712._

Add a new documentation page `How-tos >> Configure indexes and foreign keys`, provide a high-level overview of indexes, foreign keys and how to define them for LB4 models.

Explain that we don't have full support for this feature yet, link to GitHub issues tracking the work.

Show how

[2019-04-18 07:18] bajtos commented on #2606
Created the following follow-up stories:

- New syntax for INDEX and FOREIGN KEY definition https://github.com/strongloop/loopback-next/issues/2766
- Document how to configure indexes and foreign keys https://github.com/strongloop/loopback-next/issues/2767
- Connector helpers to obtain INDEX and FOREIGN KEY configurations from model definitions https://github.com/strongloop/loopback-connector-rest

[2019-04-18 07:18] #2606 closed

[2019-04-18 11:15] #2749 closed

[2019-04-18 11:15] #2750 closed

[2019-04-18 11:15] #2762 closed

[2019-04-18 12:01] bajtos commented on #2085
@theiosdevguy Please check your tone. This is an open-source project we are giving away for free, you are in no way entitled to receive any bug fixes from us. Unless you are paying IBM for support, in which case please report this issue via the usual support channels.

Your second best option is to stop being a freeloader and contribute the fix yourself.  We are happy to help you along the way, se

[2019-04-18 12:02] jot-the-coder commented on #2699
Hi Loopback Team, may I know if there would be updates on this issue? Thanks very much.

[2019-04-18 12:28] bajtos commented on #2676
@raymondfeng please expand your proposal to describe how do you envision to address the concerns I raised in my earlier comment.

[2019-04-18 12:39] ThePinger commented on #2755
@bajtos Well thanks a lot for the good elaboration that worked as expected, and of course I would like to contribute this improvement.

[2019-04-18 12:55] rkterungwa16 commented on #2753
Hello @bajtos `internal_ref` and `external_ref` are both `strings`. I have tested same configuration for other data types, and same error is thrown. Thanks for the response.

[2019-04-18 13:32] greenkeeper[bot] opened #2769 "An in-range update of camelcase-keys is breaking the build 🚨"
## The dependency [camelcase-keys](https://github.com/sindresorhus/camelcase-keys) was updated from `5.1.0` to `5.2.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fcamelcase-keys-5.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

camelcase-ke

[2019-04-18 13:49] dhmlau opened #2770 "[Docs] Inconsistency in code snippet for hasOne relation"
## Description / Steps to reproduce / Feature proposal
_Reported by @rkterungwa16 on gitter_

In the [hasOne docs page](https://loopback.io/doc/en/lb4/hasOne-relation.html), the sample code imports `CustomerRepository` and `Customer` model while the class uses `SupplierRepository` and `Supplier` model.

![image (1)](https://user-images.githubusercontent.com/25489897/56365516-08745400-61bf-11e9-837

[2019-04-18 13:50] dhmlau commented on #2770
Question: Do we have a github repo for this example?  If not, maybe we should create one to:
1/ have a reference of running code
2/ validate the code

[2019-04-18 14:14] bajtos commented on #2556
@marioestradarosa  Thank you for chiming in!

Yes, that was my roughly my idea too.

I see this as an alternative/complementary solution to what I have originally proposed.

In many environments, the application developer does not control the environment variables. For example, Heroku uses `DATABASE_URL` environment variable - see https://devcenter.heroku.com/articles/heroku-postgresql#connecting-

[2019-04-18 14:26] bajtos commented on #2629
Ah, this is a very good question indeed!

The high-level goal of this story is to allow controller authors to tell LoopBack that the method wants to reference a shared model schema instead of inlining the schema in every place it's used. For example, both `find` and `findById` operations use the same schema to describe data of an individual model instance. `find` returns an array of instances, `fi

[2019-04-18 15:14] #2438 closed

[2019-04-18 15:20] bajtos commented on #2556
Updated the acceptance criteria:

 - [ ] A new helper function accepting configuration object loaded from the JSON file, an object with values to use for substitutions (conceptually `{ENV: process.env}`), and returning modified configuration object with substitutions resolved according to rules described above. Include comprehensive test coverage.
 - [ ] Substitution should be applied to values at

[2019-04-18 15:27] bajtos commented on #2556
Hmm, I was looking at the current implementation of datasource booter and AFAICT, we are not processing datasource JSON files at boot time right now. We rely on the TypeScript source to load the configuration from the `.json` file via `import`/`require` statement.

As I was envisioning this story, I wanted only a small tweak in the datasource booter to perform variable substitution on the configur

[2019-04-18 15:47] Narrator opened #2772 "Injecting Repository Getter vs the Repository itself"
Hi,

I'm wondering why you'd want to inject `@repository.getter()` when you can inject the `@repository()` directly in a `Repository` class. For instance:

[code]

^^ I understand the `createBelongsToAccessorFor` method requires the getter, but is that the only use case? If I want to access the actual repository methods, I'd have to resolve the repository from the getter first and then make the re

[2019-04-18 16:02] nabdelgadir commented on #2154
I just attempted with `@loopback/cli version: 1.11.0` and it doesn't seem to create the folder until after the `Select features` prompt is satisfied.

[code]

I can't reproduce the problem on my machine; can you verify that it's still happening?

[2019-04-18 17:24] emonddr commented on #2467
May involve the work needed in #2311

[2019-04-18 17:25] emonddr commented on #2311
Some of this work seems to be occurring in the PR for https://github.com/strongloop/loopback-next/issues/2467.

[2019-04-18 18:23] emonddr commented on #2198
The juggler uses events to manage relations internally. Investigate and also increase the max limit on the event emitter. This is a warning message only, it does not crash the application.

https://nodejs.org/api/events.html#events_eventemitter_defaultmaxlisteners

You can reset the max listeners as a workaround for now.

[2019-04-18 18:27] emonddr commented on #2198
We will Investigate and also increase the max limit on the event emitter, and provide a simple unit test.

[2019-04-18 18:45] emonddr commented on #2629
The proposal only allows operation-level definitions. We should also allow class level definitions available for re-use across multiple operations.

[2019-04-18 19:10] greenkeeper[bot] opened #2774 "An in-range update of mocha is breaking the build 🚨"
## The dependency [mocha](https://github.com/mochajs/mocha) was updated from `6.1.3` to `6.1.4`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fmocha-6.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

mocha is a direct dependency of this project

[2019-04-18 19:12] dhmlau commented on #2154
You're right.  Cannot reproduce with the latest versions.
Thanks. I'll close it then.
[code]

[2019-04-18 19:12] #2154 closed

[2019-04-18 19:42] jheysen commented on #512
Is there any plan to add support for Compression Middleware? Also, it would be nice to have some form of logging out of the box, maybe with morgan

[2019-04-18 19:50] dhmlau commented on #2751
@frost-byte, does the above suggestion help in getting rid of the error? Thanks.

[2019-04-18 19:50] emonddr opened #2775 "[Spike] Create monorepo for juggler and connectors"
## Description / Steps to reproduce / Feature proposal

Create a monorepo as a POC to store/test juggler and connectors together.

import juggler as-is using lerna import
import one connector using lerna import

Create a 3.x branch and a 4.x branch.

In 3.x branch, test juggler 3.x with version 3.x of the connector.
In 4.x branch, test juggler 4.x with version 4.x of the connector.

## Acceptance

[2019-04-18 19:52] dhmlau commented on #2639
@Ajtak, does the above comment help in getting rid of the error?  Thanks.

[2019-04-18 19:52] emonddr commented on #2775
This is related to: https://github.com/strongloop-internal/scrum-apex/issues/416

[2019-04-18 19:53] dhmlau commented on #2600
Closing due to inactivity.

[2019-04-18 19:53] #2600 closed

[2019-04-18 21:47] raymondfeng commented on #2775
I created a PoC at https://github.com/raymondfeng/connector-next.

[2019-04-19 10:37] sureshkodur opened #2777 "post method promise resolved before execution done"
## Description / Steps to reproduce / Feature proposal
I'm executing algorthmia script call in post method.
## Current Behavior
Promise to be resolved after execution of the algorthmia script.
## Expected Behavior
But it resolving before algorthmia script completion.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-04-19 12:59] frbuceta opened #2778 "[@loopback/CLI] Service generator not work"
## Description

[Error] when creating a service and having datasources, it does not detect the datasource and it breaks

`Generation is aborted: Error: No datasources found at /Users/fran/Projects/xxxxxx-api/src/datasources. Please visit https://loopback.io/doc/en/lb4/DataSource-generator.html for information on how datasources are discovered`

![Captura de pantalla 2019-04-19 a las 14 58 30](http

[2019-04-19 15:04] raymondfeng commented on #2778
To create a service proxy, there must be a datasource backed by service-oriented connectors, such as
soap, rest, or gRPC. In LoopBack 4, we separate repositories (using databases) from service proxies. The error is thrown by design.

[2019-04-19 15:04] #2778 closed

[2019-04-19 15:11] raymondfeng commented on #2775
I was able to use `git subtree add --prefix=packages/loopback-connector-postgresql git@github.com:strongloop/loopback-connector-postgresql.git master` to import `loopback-connector-postgresql` repo.

[2019-04-19 15:22] raymondfeng commented on #2775
Another interesting approach - https://github.com/ingydotnet/git-subrepo

[2019-04-19 15:31] raymondfeng commented on #2761
@octisfall Here is how you can test it:

[code]

In your app:
[code]

[2019-04-19 15:31] #2761 closed

[2019-04-19 17:10] b-admike commented on #2598
As discussed with @bschrammIBM

[2019-04-20 03:00] samarpanB commented on #538
@raymondfeng I was trying to look for the doc page on https://loopback.io/doc/en/lb4/Using-components.html. But it’s not there yet. Is it not yet moved there ? As per my understanding, there is a daily job which moves it there.

[2019-04-20 03:52] raymondfeng commented on #538
We need to publish a release to npm 1st.

[2019-04-20 04:01] raymondfeng commented on #538
@samarpanB I just made a release. The document site will be updated soon.

[2019-04-20 23:32] coolirisroto commented on #2541
I had the same problem? how can we fixed! ? Regards.

[2019-04-21 05:20] haresh333 opened #2780 "Compressing / Zip API response"
I am using Loopback 3.

I have few APIs that return large data JSON about 15MB. I want LB server to compress it before sending to client and then have it decompressed on client side.

Please advice how I can achieve this

[2019-04-21 05:55] raymondfeng commented on #2780
See https://loopback.io/doc/en/lb3/Defining-middleware.html

[2019-04-21 07:50] AnanthGopal opened #2781 "Need to hide loopback4 website header in auth explore"
Need to hide loopback4 website header and footer in auth explore.

In my application, I used  JWT authentication, so that I add below code in my application, when I add below code, loopback4 website header, and footer are displayed in my explore. I don't need that fooder and header.

     this.component(AuthenticationComponent);
    this.bind(AuthenticationBindings.AUTH_ACTION).toProvider(Authenti

[2019-04-21 17:25] charlypeluch commented on #2700
Finish i found the error:

Problem was in sequence ts, i forgot to import the authentication:

## Sequence.ts
[code]

[2019-04-22 08:08] AnanthGopal commented on #2152
Hi @bajtos ,

 is released relation link feature? We are waiting to use this feature.

[2019-04-22 13:59] Navos commented on #2764
@raymondfeng Hey Raymond, what will happen with this issue?

[2019-04-22 14:09] dhmlau commented on #2781
@hacksparrow, IIRC, we allow customization in the API explorer for LB3.  Do we have that in LB4?  Thanks.

[2019-04-22 14:13] dhmlau commented on #2726
@Sarkhad , does the above comment help with your issue?  Thanks.

[2019-04-22 14:46] dhmlau commented on #538
@samarpanB, it's up: https://loopback.io/doc/en/lb4/Loopback-component-authorization.html.  Thanks for your contribution!

[2019-04-22 15:24] #2628 closed

[2019-04-22 15:24] jannyHou commented on #2628
Closed as PR #2690 get merged.

[2019-04-22 19:14] charlypeluch commented on #2043
@codejamninja great work!
Is it possible to create a repository with a simple example of 3 models implementing a many-to-many relationship?

Thank!

[2019-04-22 20:17] gleme commented on #1624
Any updates on that? I really appreciated the idea of maintaining all the validation at ORM level, so it is better to write integration tests that accomplish the expected values in the database. That helps a lot in cases where people write ETL scripts to extract data from CSV files or another sources, to persist these data using Loopback repository API. 😀

[2019-04-22 20:35] codejamninja commented on #2043
Yes, absolutely. Look at the example below.

https://github.com/codejamninja/medical-practice-api

Currently, the physician repository isn't complete, but to complete it, it would simply be implemented in an identical fashion to the patient repository.

Feel free to submit a pull request to finish the patient repository.

[2019-04-22 21:01] Sarkhad commented on #2726
Yes, It does. Also works properly annotated with 'object' type. IMHO It's not documented behavior/case, so I guess this ticket would help others to find the solution.

[2019-04-22 21:01] #2726 closed

[2019-04-23 00:34] frbuceta opened #2782 "Exist readOnly in model?"
Is the property **readOnly** in loopback 4? I've been looking for a while but I have not found anything about it

[code]

[2019-04-23 01:27] shadyanwar commented on #2634
@AnanthGopal this is a spike. The feature is still being worked on and is not implemented or released yet.

[2019-04-23 06:15] jeremy-coleman opened #2783 "suggestion: rename rest sequences"
Sequence is a pretty common data interface and given that you're a data focused framework, having that on the rest resppnse api doesnt seem right (Just my opinion) Id go with series ,chain, batchHandler, step or something along those lines
https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.sequences/-sequence/index.html

[2019-04-23 08:58] hacksparrow commented on #2781
You are seeing the LoopBack logo because you are using the REST Explorer hosted on http://explorer.loopback.io/. We can't remove our branding from our websites.

However, you can host the REST Explorer component locally, which does not contain any branding material. Eg:

<img width="1136" alt="Screen Shot 2019-04-23 at 2 24 48 PM" src="https://user-images.githubusercontent.com/950112/56567946-9859

[2019-04-23 11:59] rahulrkr08 opened #2784 "Using @loopback/context in JS application"
## Description / Steps to reproduce / Feature proposal

We are trying to use `@loopback/context` in our application (its in Javascript, not typescript) and its throwing error (given below).

Is there any sample code which give more idea how to implement `@loopback/context` in JS applications ?

Code:

[code]

## Current Behavior
Currently, we are getting error like below,
[code]

[2019-04-23 13:58] frrodriguez commented on #2735
I was checking this issue and dont works for me:

[code]

I am using postman to use a simple post creation, and dont validates correctly the payload.

Postman body:
![Captura de pantalla 2019-04-23 a las 15 53 19](https://user-images.githubusercontent.com/15798947/56586412-fee45500-65df-11e9-9e92-8ea4cd836f94.png)
Postman response:
![Captura de pantalla 2019-04-23 a las 15 53 25](https://user-imag

[2019-04-23 14:34] dhmlau commented on #2784
@hacksparrow, could you please take a look?  Not sure if you've looked into context when working on the JavaScript experience spike.

@rahulrkr08, may I know the reason you're using JavaScript for LoopBack 4?  Are you using `@loopback/context` as a separate component?  Would be interested to know about your use case. Thanks!  On a similar note, we have a blog post on experimenting JavaScript exper

[2019-04-23 15:14] dhmlau commented on #2726
@Sarkhad, that's good point.  Let me see how I can put that information in. Thanks for your feedback!

[2019-04-23 15:19] raymondfeng commented on #2784
@rahulrkr08 In your case, the constructor parameter is missing a decorator, which is critical for dependency injection. @hacksparrow put together an example at https://github.com/strongloop/loopback4-example-javascript/blob/stage-f/server/controllers/color.controller.js. Please check out.

[2019-04-23 15:31] jannyHou commented on #2782
Since a model property is essentially a TypeScript class property, can you try defining it with `readonly` keyword like https://www.tutorialsteacher.com/typescript/typescript-readonly?

[2019-04-23 16:58] joshuaanthonydeleon opened #2786 "Auth provider unhandled error"
## Description / Steps to reproduce / Feature proposal
Following [@loopback/authentication](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/README.md) example I'm getting a situation where calling **cb** there doesn't seem to be a graceful return of the error. It returns a standard 500 with no further explication.

    at BasicStrategy.strategy.error (D:\Work\monott

[2019-04-23 18:18] dhmlau commented on #2786
@emonddr @jannyHou , could you PTAL? Thanks.

[2019-04-23 18:33] dhmlau commented on #2598
Learning from @b-admike, the `README.md` files from the connectors repos were copied using scripts to https://github.com/strongloop/loopback.io/blob/gh-pages/pages/en/lb3/readmes.
I'm thinking that it's better to have a clean separation between `lb3` and `lb4` folders, i.e. the lb4 sidebars are pointing to files in the `lb4` folder rather than the `lb3` folder.   In that case, when we need to remo

[2019-04-23 18:54] nabdelgadir commented on #2676
+1 to keeping the experimental code outside of `loopback-next` master branch.

In this approach, it's easier to keep the experimental code up-to-date with the non-experimental code and it would be easier to open a PR to land them in the master `loopback-next` branch when they're ready and graduated.

We can add a link to the `loopback-next` README for visibility and create a blog post introducing

[2019-04-23 18:56] dougal83 commented on #2786
Is it not reporting the email is not found?

InternalServerError: Error: Email not found.

On Tue, 23 Apr 2019, 19:18 Diana Lau, <notifications@github.com> wrote:

[2019-04-23 18:58] b-admike commented on #2676
From the points made above, and from the graduation criteria for experimental features, I think setting up a new repository that can have lighter CI (e.g. just Travis instead of Travis/appveyor) and standalone code coverage would be good. Issues coming in for experimental features will also be triaged there. Discussing the topic with the team here, one concern is migration of the experimental code

[2019-04-23 18:58] emonddr commented on #2676
I like the idea of a separate repo for experimental stuff.
I guess if someone from the community submits a PR that will affect a `core` module in LoopBack, it should land in `loopback-next`. If someone from the community submits a PR that introduces some new `component` that is in our Roadmap, it should land in `loopback-next`. If someone from the community submits a PR that introduces some new `c

[2019-04-23 18:58] joshuaanthonydeleon commented on #2786
@dougal83 this is the response I'm getting
`{
  "error": {
    "statusCode": 500,
    "message": "Internal Server Error"
  }
}`

[2019-04-23 19:09] jannyHou commented on #2676
For the replaceable/plugable functionalities, I prefer to have them in a separate monorepo like `loopback-lab`. An example of such feature would be the authentication extension point: `@loopback/authentication` works w/ or w/o it.

While for features that affect the core module, like `Context` class extends the `EventEmitter`, it's hard to have it in a separate module at the beginning then migrate

[2019-04-23 19:23] dhmlau commented on #2598
I'm good with either way.. to point to the `lb3/readmes` or to copy to `lb4/readmes`.

[2019-04-23 21:37] frbuceta commented on #2782
This does not work for me
[code]
![Captura de pantalla 2019-04-23 a las 23 36 37](https://user-images.githubusercontent.com/13822438/56617626-b0a37600-6620-11e9-8413-09f043137181.png)

![Captura de pantalla 2019-04-23 a las 23 36 48](https://user-images.githubusercontent.com/13822438/56617646-bac57480-6620-11e9-8ee9-59d10eb32460.png)

[2019-04-24 04:21] mgabeler-lee-6rs opened #2788 "DefaultCrudRepository doesn't work with rest connector"
Note: this should probably serve as a replacement for #1696 (@nikivanov is a coworker of mine).

## Description / Steps to reproduce / Feature proposal

1. Define a `DataSource` using the `rest` connector with the `crud` flag enabled
2. Define a `Model` / `Entity` appropriate for the remote resource
3. Define a `Repostory` using `DefaultCrudRepository` to connect the two
4. Try to use any update-r

[2019-04-24 04:56] greenkeeper[bot] opened #2789 "An in-range update of @types/express-serve-static-core is breaking the build 🚨"
## The dependency [@types/express-serve-static-core](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.16.2` to `4.16.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fexpress-serve-static-core-4.16.3).

This version is **covered** by your **current version range** and after updating it in y

[2019-04-24 06:27] rahulrkr08 commented on #2784
Thanks @raymondfeng, the given solution worked. Is there any documentation for this ?
@dhmlau Yes, we are using `@loopback/context` as separate component for IoC container.

[2019-04-24 09:06] hacksparrow commented on #2784
@rahulrkr08 we don't have documentation for it, since we are get to conclude on an "official" approach. You can look at this example app for the undocumented approach to using LB4 with JavaScript - https://github.com/strongloop/loopback4-example-javascript/tree/class-factory.

If it is not much of a trouble, we recommend to use TypeScript with LB4.

[2019-04-24 11:22] greenkeeper[bot] opened #2790 "An in-range update of @types/request-promise-native is breaking the build 🚨"
## The dependency [@types/request-promise-native](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `1.0.15` to `1.0.16`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Frequest-promise-native-1.0.16).

This version is **covered** by your **current version range** and after updating it in your pr

[2019-04-24 12:34] pavelgronsky opened #2791 "How debugging Loopback 4"
Hello. I don't understand how I can debug Loopback 4 project?

First: I added **debbuger** to my controller.ts but after **npm start** I can't  to catch debugger in chrome console.
Second: I try to debugging used VSCode. But it doesn't work for me.

What I must added to launch.json and package.js for debuging code and why my debugger doesn't work in Chrome?

Who can explain why Chrome doesn't have

[2019-04-24 13:00] pavelgronsky commented on #2242
So, who can explain or who can show example about how I can used nodemon with Loopback 4. How I can changed files and take autorestart my loopback server?

[2019-04-24 13:24] RipkensLar commented on #1948
@bajtos do you know how to disable this behavior using a postgresql database? I wasn't able to find anything similiar to the "dateStrings" option in mysql for postgresql.

[2019-04-24 13:26] anjorinjnr commented on #2242
Add
[code]
to your package.json

Then simply run nodemon (assuming you've already installed it)

[2019-04-24 13:36] dhmlau commented on #2788
@mgabeler-lee-6rs, if you'd like to call another REST APIs using the REST connector, you might want to use Service instead of Repository.  Please see this docs page: https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html for more detailed instructions.
I have this repo https://github.com/dhmlau/loopback4-external-apis as an example too.
Hope it helps.

[2019-04-24 13:41] dhmlau commented on #1696
@nikivanov @mgabeler-lee-6rs, cross posting my comments in https://github.com/strongloop/loopback-next/issues/2788#issuecomment-486232519:

Please note that @nabdelgadir is working on a PR that allows mounting a LB3 app to LB4: https://github.com/strongloop/loopback-next/pull/2682, that might be something you're looking for.

[2019-04-24 13:49] #2391 closed

[2019-04-24 13:51] mgabeler-lee-6rs commented on #2788
I've done that for other remote services for sure, where they implemented something other than a standard (LB) CRUD API.  But in this case, where the other hand is in fact another LB service using standard CRUD setup, it seems that the boilerplate that seems to be designed to handle that ... ought to handle it?

[2019-04-24 13:54] mgabeler-lee-6rs commented on #1696
That PR looks interesting, but also looks to be doing the opposite of this -- serving an LB3 app from within an LB4 app, as opposed to trying to send requests to a remote LB3 app from an LB4 app.

[2019-04-24 15:30] Narrator commented on #2791
I've been debugging successfully using VSCode. Try adding this to your launch config:

Using nodemon (So it auto-reloads on file save given you have the transpiler running)
[code]

Using only node:
[code]

[2019-04-24 19:14] bforbis opened #2794 "Make datasource imports work with ts-node"
Currently the `lb4 datasource` command will create a `{name}.datasource.ts` file and a `{name}.datasource.json` file. Since these files have the same base name, it causes issues with imports while running with `ts-node` (useful for development). By default, `ts-node` will import the JSON file over the TS file, causing datasource construction to fail. For more info on how `ts-node` works, see https

[2019-04-24 20:21] dougal83 commented on #2794
Hey, Please excuse my ignorance but why do you use ts-node?  Curious as to the necessity, are you doing something that specifically requires it?

[2019-04-24 20:33] dougal83 commented on #2786
@joshuaanthonydeleon I guess it's secure error handling, maybe there is a debug flag like in LB3? https://loopback.io/doc/en/lb3/Using-strong-error-handler.html

You could try to catch the error in controller and output in console in the meantime?

[2019-04-24 22:15] dhmlau commented on #1875
With the above comment, I'd like to propose the following acceptance criteria:

### Acceptance Critera
- [ ] Review the workaround listed in this ticket
- [ ] Identify which approach is the best and then document it.

[2019-04-25 04:42] bforbis commented on #2794
It's not really necessary, but it makes certain things in development have a quicker feedback loop.

1. I can throw together quick ts scripts and test them with a single command
2. It allows me to skip some more complex steps of my normal build phase that involves moving static files around, as executing within ts-node will operate under the same directory structure within src/, instead of in dist

[2019-04-25 05:50] sureshkodur opened #2795 "Returning response before algorthmia response"
## Description / Steps to reproduce / Feature proposal
I'm using algorthmia api in remote methods.
[code]

[2019-04-25 10:34] sureshkodur opened #2796 "Python-shell using loopback 4"
Can anyone know how to execute python-shell in lb4.
I'm trying to execute the python-shell in controller, but before the python-shell execution, the response is 204. It does not returning any content. Please help me.

[2019-04-25 12:34] hacksparrow commented on #2796
What is python-shell? A link will help.

[2019-04-25 14:51] dougal83 commented on #2794
Ah like build times with the watch flag?  I just use ts-node for scripts like building .env files.  Fair dos, I think this'll be low priority until lb4 has feature parity with lb3.

[2019-04-25 16:28] greenkeeper[bot] opened #2797 "An in-range update of type-is is breaking the build 🚨"
## The dependency [type-is](https://github.com/jshttp/type-is) was updated from `1.6.16` to `1.6.17`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Ftype-is-1.6.17).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

type-is is a direct dependency of th

[2019-04-25 18:48] joshuaanthonydeleon commented on #2786
@dougal83 I do have error catching in the controller. Debugging never actually hits the controller. It looks like there is some other error handling taking care of this, but I can't establish where that is and how it needs to be configured.
## controller.ts
    @authenticate('BasicStrategy')
    async getVendorAccessToken(): Promise<VendorToken> {
        try {
            let vendor = await this.

[2019-04-25 20:21] dougal83 commented on #2786
Fair enough. I guess we need to see the rest of the code where
authentication is implemented.

Make sure you're using an up to date @loopback-cli too if you haven't
already checked that.

On Thu, 25 Apr 2019, 19:48 joshuaanthonydeleon, <notifications@github.com>
wrote:

[2019-04-25 21:30] frbuceta commented on #2782
Can somebody help me?

[2019-04-25 22:42] greenkeeper[bot] opened #2798 "An in-range update of @types/cors is breaking the build 🚨"
## The dependency [@types/cors](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `2.8.4` to `2.8.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fcors-2.8.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/cor

[2019-04-26 00:57] greenkeeper[bot] opened #2799 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-04-26 01:13] greenkeeper[bot] opened #2800 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-04-26 01:29] greenkeeper[bot] opened #2801 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.10.4`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.10.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-04-26 03:41] greenkeeper[bot] opened #2802 "An in-range update of body-parser is breaking the build 🚨"
## The dependency [body-parser](https://github.com/expressjs/body-parser) was updated from `1.18.3` to `1.19.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fbody-parser-1.19.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

body-parser is a dire

[2019-04-26 08:37] sureshkodur commented on #2796
var {PythonShell} = require('python-shell');

[2019-04-26 11:03] hacksparrow commented on #2676
+1 for `0.x.y`.

[2019-04-26 12:32] dougal83 commented on #2796
Tried "import * as PythonShell from 'python-shell';"?

On Fri, 26 Apr 2019, 09:37 sureshkodur, <notifications@github.com> wrote:

[2019-04-26 14:12] dhmlau commented on #2676
@hacksparrow, do you mean to have the experimental packages reside in `loopback-next` monorepo and versioning using `0.x.y` convention?

[2019-04-26 14:19] dhmlau commented on #2791
@Narrator, thanks for the information.  I think it would be beneficial to have that in our documentation: https://github.com/strongloop/loopback-next/blob/master/docs/site/DEVELOPING.md.  Would you like to submit a PR?  Thanks.

[2019-04-26 14:27] dhmlau commented on #2781
@hacksparrow , if we want to document this, should we add it in this page: https://loopback.io/doc/en/lb4/Serving-static-files.html, or maybe a new page under "how to"?

[2019-04-26 17:31] dhmlau commented on #2615
@DatGuyJonathan, I just run your code snippet on top of the todolist example, and seems to be running fine.  If I create a todo with todolist id that does not exist, it throws an error.
Here is what I've done:
1. run `lb4 app todo-list`
2.  modify `src/repositories/todo.repository.ts` to be the same as your snippet in the original description.

Could you please try again and see if this problem st

[2019-04-26 18:07] dhmlau commented on #2571
@zkrami, I just tried the todo-list example with a similar scenario (switched to use mongodb), and it's working fine for me.
Could you please review the code in the todo-list example and see the differences from your application?  If it still doesn't work, please provide a sample application that can reproduce this issue.  Thanks!

[2019-04-26 18:09] dhmlau commented on #2135
@nebulon42, I'd like to follow up with you on this issue.  Did my comment answer your question? If so, I'd like to close it. Thanks.

[2019-04-26 18:40] dhmlau opened #2804 "API Explorer ignores `where` filter"
## Description
In the API Explorer, the `where` filter is being ignored.

## Steps to reproduce
Using `todo-list` example,
1. create todolist with ids 1, 2, and 3.
2. create 3 todo's, one for each todolist:
[code]
3. in the API explorer, call `GET /todos` with the following filter:
[code]

It returns all the `todo` instances regardless of the todoListId.

However, if I call `http://localhost:3000/

[2019-04-26 18:46] nebulon42 commented on #2135
Looks like there was a misunderstanding on my part because I'm not very familiar with TypeScript. Seems like you answered my question, thanks. I close here. If I still have troubles with it I'll follow up.

[2019-04-26 18:46] #2135 closed

[2019-04-26 18:48] jannyHou commented on #2615
might be the same as https://github.com/strongloop/loopback-next/issues/2568

[2019-04-26 19:13] dhmlau commented on #2568
@raymondfeng @bajtos, I've labelled this task for 2019Q2.  Please let me know if you object. Thanks.

[2019-04-26 20:03] jannyHou commented on #2795
@sureshkodur Can you try return a Promise? See https://stackoverflow.com/questions/33289726/combination-of-async-function-await-settimeout/33292942

[2019-04-27 05:51] ringodotnl commented on #2220
@marioestradarosa thank you, is there any who can change/fix this ?

[2019-04-27 06:14] pavelgronsky commented on #2242
@anjorinjnr What start file I need to run in nodemon command?
 **nodemon  index.ts**  - this is correct command?

[2019-04-27 10:01] pavelgronsky commented on #2242
Ok, work for me this option:
I added script to package.json

 "scripts": {
    "dev": "nodemon server.js"
  }

and added this to package.json:

"nodemonConfig": {
    "verbose": true,
    "watch": [
      "src/"
    ],
    "ignore": [
      "dist/*"
    ],
    "ext": "ts",
    "exec": "npm start"
  }

And run application by this command:
npm run dev

[2019-04-27 17:01] frbuceta commented on #2242
It works for me too. Thanks

[2019-04-27 20:37] tsm91 commented on #2242
@tonifirnandes there is, modify tsconfig.json compilerOptions to inline sourcemaps. This also works for normal chrome, no need canary
[code]

[2019-04-27 21:17] tsm91 commented on #2242
this solution works with `nodemon` + `lb-tsc --watch`. also modified `tsconfig.json` to generate inline sourcemaps which is also supported by normal chrome. no need to install canary chrome

modify package.json:
[code]

modify tsconfig.json:
[code]

cc @tonifirnandes

[2019-04-28 03:09] jannyHou commented on #2311
+1.

If we agree on the rewrite of adapter in the draft PR https://github.com/strongloop/loopback-next/pull/2688, then this story can be closed along with #2467 after the formal version of #2688 get merged

[2019-04-29 03:49] greenkeeper[bot] opened #2805 "An in-range update of url-slug is breaking the build 🚨"
## The dependency [url-slug](https://github.com/stldo/url-slug) was updated from `2.0.0` to `2.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Furl-slug-2.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

url-slug is a direct dependency of th

[2019-04-29 05:33] sureshkodur commented on #2795
@jannyHou , Thanks for the reply janny. It worked.

[2019-04-29 05:35] #2796 closed

[2019-04-29 05:35] #2795 closed

[2019-04-29 06:56] bajtos commented on #2775
Few comments on this approach:

1. At the moment, we a single version of a connector (e.g. `loopback-connector-mysql@3.x.y`) supports multiple juggler versions (e.g. `loopback-datasource-juggler` versions `2.x.y`, `3.x.y` and `4.x.y`). In strongloop-internal/scrum-apex#416, I want to find a way how to test the same connector code against multiple juggler versions. **How do you envision to address

[2019-04-29 08:42] bajtos commented on #2775
This may be relatively easy to achieve using Travis stages & tasks, see e.g. https://boneskull.com/mocha-and-travis-ci-build-stages/ for inspiration.

[2019-04-29 08:53] bajtos commented on #2799
Closing as invalid.

[2019-04-29 08:53] #2799 closed

[2019-04-29 08:53] bajtos commented on #2801
Closing as invalid.

[2019-04-29 08:53] #2801 closed

[2019-04-29 08:53] bajtos commented on #2800
Closing as invalid.

[2019-04-29 08:53] #2800 closed

[2019-04-29 09:09] sureshkodur opened #2807 "How to execute raw MongoDB queries"
## Description / Steps to reproduce / Feature proposal
How to use raw queries like aggregation on mongodb. Is there any solution ?
## Current Behavior

## Expected Behavior
I want to use raw queries or other models. For example, Customer model, and Products model. I need to write aggregate query like

[code]

on product model while getting customer model.

Please help.

_See [Reporting Issues](htt

[2019-04-29 09:15] #2769 closed

[2019-04-29 09:15] #2774 closed

[2019-04-29 09:15] #2797 closed

[2019-04-29 09:15] #2798 closed

[2019-04-29 09:15] #2802 closed

[2019-04-29 09:15] #2805 closed

[2019-04-29 09:15] #2789 closed

[2019-04-29 09:15] #2790 closed

[2019-04-29 10:03] hacksparrow opened #2808 "Redirection to Swagger UI is cached too aggressively"
## Description

1. Start an app with redirection to Swagger UI enabled (older apps have it enabled by default).
2. Load `localhost:3000/explorer` in the browser. The request will be redirected to `http://explorer.loopback.io/?url=http://localhost:3000/openapi.json`.
3. Stop the app.
4. Start another app with redirection **disabled** (default behavior in latest apps).
5. Load `localhost:3000/explor

[2019-04-29 10:22] sureshkodur commented on #2021
Hi I found, 500 TypeError: Cannot read property 'settings' of undefined
    at MongoDB.collectionName, while using the above query

[2019-04-29 11:14] bajtos commented on #2804
See https://github.com/strongloop/loopback-next/issues/2208#issuecomment-453005884.

[2019-04-29 11:20] bajtos commented on #2568
@dhmlau +1 to include this issue in our 2019Q2 backlog.

@derdeka I am don't have bandwidth to look into this in detail. Would the following approach solve the problem?

[code]

[2019-04-29 11:21] bajtos commented on #2198
Ideally, we should find out the root cause - why is LB4 registering so many event listeners and LB2/LB3 does not? Can we improve LB4 code to avoid so many listeners being registered?

[2019-04-29 13:19] nike171196 opened #2809 "indexes wrong format in integration test"
I've written an integration test for a function from a repository. I want to check if the model is created correctly but when i am calling "npm test" i am getting an error.
In the function i am accessing the index definition with **"repository.modelClass.definition.settings.indexes.preisliste_bku"**.
When i start the app and debug to this point, the value of the index is an array of objects so tha

[2019-04-29 13:45] bajtos commented on #2775
Another question: how are we going to publish new releases from the monorepo?

So far, we are using [`slt-release`](https://www.npmjs.com/package/strong-tools) to make individual releases of juggler or connectors.

Will we keep doing that in the new monorepo? Are we going to switch to conventional commits & release process, as we do in loopback-next?

From what I've seen so far, this creates a lot

[2019-04-29 13:47] bajtos commented on #2809
What connector are you using? It's difficult to answer your question without an application we could use to reproduce the problem ourselves. Please create a small app per our [bug reporting instructions](https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs).

[2019-04-29 13:59] bajtos commented on #2807
You can execute raw queries using the recently introduced `Repository` method `execute`, see https://github.com/strongloop/loopback-next/pull/2681. This works great for SQL connectors.

Based on the code we have in [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler/blob/47addd943adfd7ace37cd52d2d4dcbd04ee7c0d8/lib/datasource.js#L2606-L2643) and [loopback-connec

[2019-04-29 14:09] bajtos commented on #2676
Personally, I'd like to use a slightly different criteria to decide where to land a new component.

- Is the component on our roadmap AND are we comfortable to commit to maintain it going forward AND does the proposed implementation meet our current high standards of quality?
- If the answer is 3x yes, then land it in loopback-next.
- Otherwise land it in loopback-labs.

One of the goals of loopba

[2019-04-29 14:21] hacksparrow commented on #2676
@dhmlau yes, everything in `loopback-next` monorepo and versioned `0.x.y`.

[2019-04-29 14:37] hacksparrow commented on #2198
Yes, fix the root cause, not treat the symptom. `MaxListenersExceededWarning` is an indication something sub-optimal is happening somewhere.

[2019-04-29 16:01] jannyHou commented on #1035
An update:

- [x] create the authentication strategy interface #2466
- [ ] [IN PROGRESS, very close to done https://github.com/strongloop/loopback-next/pull/2763] make auth action in /authentication package to use interface created in 1/. #2467
- [ ] Refactor example-shopping app to use the auth action in 2/ strongloop/loopback4-example-shopping#79
- [ ] [A draft PR opened for it https://github.co

[2019-04-29 19:49] dhmlau commented on #2085
@hacksparrow , i'm assigning this to you because you're working on this already.

[2019-04-29 21:04] reinaldorauch opened #2811 "How do I listen to unix socket instead binding http server to an ip address and port?"
## Description / Steps to reproduce / Feature proposal
Currently in @loopback/rest RestApplication we can only bind the http server to an ip address and port as in [the docs](https://loopback.io/doc/en/lb4/Server.html). Can we make an option in configs to make the RestApplication to listen to a socket like node HttpServer.listen [does](https://nodejs.org/dist/latest-v12.x/docs/api/net.html#net_ser

[2019-04-29 21:21] raymondfeng commented on #2676
To get started, I have created https://github.com/strongloop/loopback-labs from https://github.com/strongloop/loopback-next. We can decide:

1. If we should track `loopback-next` modules in `loopback-next` so that we can always rebase to the master@upstream?
2. Should we create an `experimental` directory or just use `packages`?

[2019-04-29 23:42] raymondfeng commented on #2811
@reinaldorauch Can you elaborate your use case over local socket?

[2019-04-30 05:53] sureshkodur commented on #2807
Hi @bajtos , I tried the above code as below,
<img width="713" alt="Screen Shot 2019-04-30 at 11 21 52 AM" src="https://user-images.githubusercontent.com/31954801/56942836-60ee0e80-6b3a-11e9-82de-63d5dea0103e.png">

Its not working

[2019-04-30 06:31] achrinza opened #2813 "docs: Loopback GDPR Readiness"
## Description / Steps to reproduce / Feature proposal
Visit https://loopback.io/doc/en/lb4/Deploy-for-GDPR-readiness.html#product-configuration---considerations-for-gdpr-readiness

## Current Behavior
Under "Product Configuration for GDPR" > "LoopBack Overview", the first statement is:
"Please note that LoopBack 4 is in developer preview and not ready for production. For production, use LoopBack

[2019-04-30 06:36] #2777 closed

[2019-04-30 08:50] dougal83 commented on #2807
What error is the red underline indicating? Are the parameters correct?

On Tue, 30 Apr 2019, 06:53 sureshkodur, <notifications@github.com> wrote:

[2019-04-30 08:57] sureshkodur commented on #2217
Hi I found, 500 TypeError: Cannot read property 'settings' of undefined
at MongoDB.collectionName, while using the above query. I'm using
"loopback-connector-mongodb": "^4.1.0",
below is the code.

async create(
    @requestBody() loanClosingStatus: LoanClosingStatus[],
  ): Promise<any> {
    let repayments = await this.loanClosingStatusRepository.createAll(
      loanClosingStatus,
    );
    co

[2019-04-30 09:09] greenkeeper[bot] opened #2814 "An in-range update of loopback-datasource-juggler is breaking the build 🚨"
## The dependency [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler) was updated from `4.6.2` to `4.6.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Floopback-datasource-juggler-4.6.3).

This version is **covered** by your **current version range** and after updating it in your projec

[2019-04-30 09:29] sureshkodur commented on #2807
@bajtos said dataSource.connector.execute will work. But it giving undefined connector. See the second image.  I tried #2021 . But it is also not working. it says 500 TypeError: Cannot read property 'settings' of undefined at MongoDB.collectionName . Can you help me

[2019-04-30 10:10] bajtos commented on #2615
We are aware of this problem, see e.g. https://github.com/strongloop/loopback-next/issues/1718

I am afraid your check is not reliable and makes it possible to create a Todo instance belonging to TodoList instance that no longer exists:

1. Request1 arrives to create a new Todo instance
2. Request2 arrives to delete the related TodoList instance
3. The code handling Request1 executes your new chec

[2019-04-30 10:18] bajtos commented on #2808
Good catch!

I don't remember the reasoning behind this decision. Have you tried to run `git blame` to find the commit & pull request that introduced the `308` status code?

Personally, I am fine to change our implementation to use `302 Found` instead of `308 Permanent Redirect`.

Quoting from https://httpstatuses.com/302

Quoting from https://httpstatuses.com/308

[2019-04-30 10:30] sureshkodur commented on #2021
Hi @octisfall , My code is for aggregation is below

async create(
    @requestBody() loanClosingStatus: LoanClosingStatus[],
  ): Promise<any> {
    // let repayments = await this.loanClosingStatusRepository.createAll(
    //   loanClosingStatus,
    // );

    console.log(
      'Connected:',
      this.loanClosingStatusRepository.dataSource.connected,
    );
    if (!this.loanClosingStatusRepos

[2019-04-30 11:58] reinaldorauch commented on #2811
@raymondfeng
1. Because my hosting provider only accepts binding in a unix socket that they specifies. (they use nginx as reverse proxy to manage the incoming http requests to forward them to node).
2. Another reason is to conform to nodejs api that overloads listening to a unix socket/named pipe in http/https/net servers.
3. And yet there is that using unix socket/named pipe, that were made for I

[2019-04-30 12:56] nike171196 commented on #2809
I've created a little app (with postgres-connector in todo-example) for you to understand my problem:
https://github.com/nike171196/loopback-next/tree/wrong-index-format

Steps to reproduce:
1. Open the API-explorer and call the action "/todos/index" from the todo.controller. The return value is in format array of objects. This is what i except from the test too.

2. Run "npm test". In the test i

[2019-04-30 15:30] dougal83 commented on #2807
@sureshkodur Sorry I didn't see the images via email earlier.  Maybe screen dumps are less than optimal..

It looks like you're falling foul of typescripts type checking.  I think you'll need to provide a repo in order to get help with this.

[2019-04-30 15:34] greenkeeper[bot] opened #2816 "An in-range update of oas-validator is breaking the build 🚨"
## The dependency [oas-validator](https://github.com/Mermade/oas-kit) was updated from `3.2.4` to `3.3.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Foas-validator-3.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

oas-validator is a direct

[2019-04-30 15:43] greenkeeper[bot] opened #2817 "An in-range update of swagger2openapi is breaking the build 🚨"
## The dependency [swagger2openapi](https://github.com/Mermade/oas-kit) was updated from `5.2.5` to `5.3.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fswagger2openapi-5.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

swagger2openapi is a d

[2019-04-30 15:46] raymondfeng commented on #2811
@reinaldorauch Please check out https://github.com/strongloop/loopback-next/pull/2812

[2019-04-30 16:10] dhmlau opened #2818 "Monthly Milestone - May 2019 🌷🐝 🍄"
## May milestone
- Finish majority of the task in Authentication epic
- CI fixes and infrastructure

### Yak Shaving
  - [x] Mark LB 2.x as EOL https://github.com/strongloop/loopback/issues/4180
  - [ ] 🚶‍♂Explore how to roll out experimental features, https://github.com/strongloop/loopback-next/issues/2676

### LoopBack 4
- [x] CI fixes
  - [x] cloudant connector https://github.com/strongloop/loo

[2019-04-30 16:48] AnanthGopal opened #2819 "When we delete the record, we need to return true(Deleted) or false(Not Deleted)"
When we delete the record, we need to return true(Deleted) or false(Not Deleted or error occured)

[2019-04-30 17:39] reinaldorauch commented on #2811
Very nice @raymondfeng I think that will perfect! Thanks a lot, you're very helpful :D

[2019-04-30 18:12] raymondfeng commented on #2568
[code]

[2019-04-30 19:03] har2008preet opened #2820 "how to supply array query parameter"
## Description / Steps to reproduce / Feature proposal
Unable to specify @param.query.array('name')

## Expected Behavior

    @get('/api', {
      parameters: [
          {
              name: 'filter',
              in: 'query',
              description:
                  'The criteria used to narrow down the number of accounts returned leave out for all results.',
              required: false

[2019-04-30 23:46] dougal83 commented on #2819
You can customise the controller to deliver that behaviour, if you mean the api response?

[2019-05-01 04:14] AnanthGopal commented on #2819
@dougal83  just I asked to implement that feature, because that is basic feature so only i am asking. Its okay fine.

[2019-05-01 04:48] sureshkodur commented on #2807
Hi @dougal83 , My code is for aggregation is below
[code]
I'm getting the below error.

--- Database in local Mode ---
{ name: 'mongoDs',
connector: 'mongodb',
url: 'mongodb://localhost:27017/xxdb' }
Server is running at http://[::1]:3000
Connected: false
Waiting for connection...
Connected: true
Getting loanMappingCollection...
Unhandled error in POST /closingStatus: 500 TypeError: Cannot read pr

[2019-05-01 06:55] samarpanB commented on #1837
@bajtos, @dhmlau  I just rebased my PR. See if it can me merged. Actually, we kind of need this in one of our project. It will be good to have soon. Right now I need to use my forked [repo](https://github.com/samarpanB/loopback-connector) for this. But I want to avoid that as being poor practice.

[2019-05-01 10:51] juleskreutzer commented on #710
@Nosfistis I also needed to use this extension for my current project and probably other loopback projects in the future. We decided to create our own extension. If you need to, you can use it: https://www.npmjs.com/package/lb4-extension-mqtt (https://github.com/juleskreutzer/lb4-extension-mqtt#readme)

A manual will be added in the next few days, or just open an issue if you need some help ;)

[2019-05-01 11:22] dougal83 commented on #2819
@AnanthGopal The loopback 4 framework delivers a CRUD implementation via the CLI.  You can alter the controller produced or write your own entirely.

You are free to alter the controller like so for the delete function to give the basic customisation that I think you are after:
[code]

Is this more or less the functionality you are looking for?

[2019-05-01 11:28] dougal83 commented on #2807
@sureshkodur Sorry I can't help you based on the code you've shown.  Please bear in mind that I'm just learning LB4 too.  Without the ability to run your code I'm at a loss.  Hopefully someone else can come along and help.

[2019-05-01 14:46] #2669 closed

[2019-05-01 19:05] dhmlau commented on #2804
Thanks @bajtos.  Closing as duplicate of https://github.com/strongloop/loopback-next/issues/2208.

[2019-05-01 19:05] #2804 closed

[2019-05-01 19:07] dhmlau commented on #2483
@jannyHou, could you please create a spike? (I thought I've created one but might've mixed it up with something else). Thanks.

[2019-05-01 20:00] dhmlau commented on #1837
@samarpanB @elv1s, seems like the 2 PRs are the same?

[2019-05-01 20:36] samarpanB commented on #1837
Yes. If any one of them could be merged, it will be fine. I wasn’t sure if @elv1s was still working on his PR. So I just did mine and rebased it to make it current.

[2019-05-01 22:02] elv1s commented on #1837
go ahead with @samarpanB PR

[2019-05-01 22:17] charlypeluch commented on #2043
Hi @codejamninja , I'm using your example with relational databases and I notice that when I generate the database schema, the many-to-many relationship is not generated with foreignkey, there is some way in which this relationship is defined when migrating the schema ?

[2019-05-02 01:13] mgabeler-lee-6rs commented on #2788
I found another problem with this setup.  If you issue a `find` query with a filter, it doesn't map in a way that works with LB2/3's REST exposure, nor the default crud setup for LB4's cli generator.

If you issue `find({where: ...})`, it maps it to `/Model?where...` instead of `/Model?filter...`.  It's a bit hard to write out since it uses "bracket" syntax in the query string instead of url-encod

[2019-05-02 11:34] AnanthGopal commented on #2819
Thank you

[2019-05-02 11:35] #2819 closed

[2019-05-02 13:32] greenkeeper[bot] opened #2824 "An in-range update of nyc is breaking the build 🚨"
## The dependency [nyc](https://github.com/istanbuljs/nyc) was updated from `14.0.0` to `14.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fnyc-14.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nyc is a direct dependency of this project,

[2019-05-02 16:47] har2008preet commented on #2820
Got it, it should be `@param.array('name', 'query', {type: 'string'})`

[2019-05-02 16:47] #2820 closed

[2019-05-02 16:47] dhmlau commented on #2676
Had a discussion with the team, most of us are more inclined for a separate repo to contain the experimental features.  Here is the summary:
- New repo: `loopback-labs`
  - All the new packages inside will be under the `labs` folder, just like we have `examples`, `packages` in `loopback-next` repo
  - `loopback-labs` will be a mirror clone of `loopback-next`, cannot be an official fork because git

[2019-05-02 18:03] nabdelgadir opened #2825 "Database migrations for mounted LoopBack 3 Models"
## Description / Steps to reproduce / Feature proposal

When mounting a LoopBack 3 application in a LoopBack 4 project using `Lb3AppBooterComponent`, running `npm run migrate` will not migrate the LoopBack 3 application's models.

## Current Behaviour

By running `npm run migrate`, LoopBack 3 models are not migrated.

## Expected Behaviour

By running `npm run migrate`, LoopBack 3 models are migra

[2019-05-02 18:37] AnanthGopal opened #2826 "loopback framework is open source framework or not. If this framework is open source, provide the MIT licence details"
loopback framework is open source framework or not. If this framework is open source, provide the MIT licence details. Where you are mentioned licence details.

[2019-05-02 19:09] dougal83 commented on #2826
https://github.com/strongloop/loopback-next/blob/master/LICENSE

[2019-05-02 19:43] raymondfeng commented on #2826
LoopBack is an open source framework with modules released under MIT license. See https://github.com/strongloop/loopback-next#license.

[2019-05-02 19:43] #2826 closed

[2019-05-03 03:02] AnanthGopal commented on #2826
Thank you @raymondfeng

[2019-05-03 07:16] hacksparrow commented on #2781
@dhmlau this is an old behavior, the API Explorer is now hosted locally. We shouldn't need to document this. This page should be enough for the few, if any, old LB4 users who encounter this problem.

[2019-05-03 07:16] #2781 closed

[2019-05-03 07:35] hacksparrow commented on #2783
Thoughtful suggestion.

@raymondfeng @bajtos "sequence" is something we might encounter in our messaging extension to LB4. Your thoughts?

[2019-05-03 10:15] greenkeeper[bot] opened #2828 "An in-range update of url-slug is breaking the build 🚨"
## The dependency [url-slug](https://github.com/stldo/url-slug) was updated from `2.1.0` to `2.1.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Furl-slug-2.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

url-slug is a direct dependency of th

[2019-05-03 11:08] rahulrkr08 commented on #1919
Hi @bajtos,  Above `observe('persist', callback)` will work for **after/save** right ? Any workaround for **before/save** ?

[2019-05-03 13:01] seiya-git commented on #2672
for proxy u can use https://www.npmjs.com/package/proxy-agent with got

[2019-05-03 13:22] hacksparrow commented on #2672
What about https://www.npmjs.com/package/axios?

[2019-05-03 13:38] dhmlau commented on #2813
@achrinza, thanks for reporting this. This docs was prepared at the time when LB4 is still in Developer Preview, and now should be updated.

[2019-05-03 14:19] dhmlau opened #2831 "[Spike] Automigrate: no need to specify the order of tables to be migrated"
## Description / Steps to reproduce / Feature proposal
A follow-up story suggested by @bajtos from https://github.com/strongloop/loopback-next/pull/2448#discussion_r280759662

_Capturing a summary here_
When calling the migrate script (`npm run migrate`) to create tables in PostgreSQL with foreign key constraints, we need to specify the order explicitly, i.e.

[code]
@bajtos suggested opening a ne

[2019-05-03 15:18] bajtos commented on #2672
Good to know! I was trying https://github.com/koichik/node-tunnel and that did not work.

In general, I am very reluctant to use a library that's discarding low-level stack traces reported by Node.js and replacing them with a new stack pointing only to the client library. Unfortunately, that rules out both `got` and `axios`.

[2019-05-03 15:25] bajtos commented on #1465
Even though we have our own cloud at IBM, we are happy to support LoopBack users running on any other cloud of their choice. https://www.ibm.com/blogs/think/2018/03/how-to-bolster-your-multi-cloud-strategy/

I am afraid we have many other tasks that we consider more important as this one.

Yes, we already support Docker-based deployments. When you scaffold a new LB4 project using our `lb4` tool, y

[2019-05-03 15:29] bajtos commented on #1837
The problem will be solved in SQL connectors once we publish a new version of `loopback-connector` with https://github.com/strongloop/loopback-connector/pull/142.

What's remaining: fix NoSQL connectors like MongoDB, CouchDB, Cloudant, etc.

[2019-05-03 15:46] #2808 closed

[2019-05-03 16:10] hoangleanhtu commented on #1599
@lalitmcb I created component https://www.npmjs.com/package/loopback4-spring that provides:

- @services
- @transactional()

[2019-05-03 16:21] greenkeeper[bot] opened #2832 "An in-range update of helmet is breaking the build 🚨"
## The devDependency [helmet](https://github.com/helmetjs/helmet) was updated from `3.16.0` to `3.17.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fhelmet-3.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

helmet is a devDependency of this

[2019-05-03 16:42] lalitmcb commented on #1599
Thanks, @hoangleanhtu . We will try it out.

[2019-05-03 17:45] hoangleanhtu commented on #2772
The different is the time to resolve instance of ContactRepository.

- `@repository(ContactRepository)` resolves instance of ContactRepository when you initial instance of ContactEmailRepository
- But, if somehow, you can not resolve instance of ContactRepository when you initial instance of ContactEmailRepository, then let using `@repository.getter('ContactRepository')` and resolve its instance w

[2019-05-03 18:23] jeremy-coleman commented on #2783
I have a follow on suggestion of using something like the common workflow language or the openstack equivalent , Cwl is reallynice though , you can see a reference impl herehttps://github.com/rabix/composer

[2019-05-03 19:33] charlypeluch opened #2833 "Question about compatibility of data source connectors with microsoft access (accdb)"
## Question
I have been working with Loopback 4 for a few weeks and I have had to work with a microsoft access database (against my will, xD). I have been reading about the connectors for datasource, but I have not seen any specific connection to MS Access through an accdb file.

Is there a connector available that I can use to connect to this database? If yes, could you give me an example that yo

[2019-05-03 20:32] dhmlau commented on #1837
I've released `loopback-connector@4.7.0`.

[2019-05-04 11:46] JesusTheHun commented on #2718
I've think about it lot. Global interceptors solve the first issue I mentioned, but the second about third parties was not answered. I was unable to find the definition of order execution of global interceptors in your doc, beside local interceptors.

The order of execution must be defined in user land, not in the interceptor itself.
This will prevent third-party interceptor order overlap, and add

[2019-05-04 13:03] dhmlau commented on #2833
@charlypeluch, we don't have a connector for MS Access.  I did some search and didn't find any community connector on MS Access either.

@raymondfeng, do you have some suggestions? Thanks.

[2019-05-04 13:04] dhmlau commented on #2751
Closing due to inactivity.

[2019-05-04 13:04] #2751 closed

[2019-05-04 13:05] dhmlau commented on #2700
Closing this issue as @charlypeluch found the cause in his code.

[2019-05-04 13:05] #2700 closed

[2019-05-04 17:58] koliberr136a1 commented on #110
Hi dear friends: @ritch, @bajtos, and other team members
First of all, thanks a lot for the perfect version of loopback

I'd be happy to be a member of your team

Currently i'm trying to develop some extensions for loopback v4:
1. **loopback-telegram-extension**: Telegram bot library for loopback v4 based on Telegraf library
2. **loopback-authorization-extension**: General way for authorizing user

[2019-05-04 19:02] ruslankrivoshein opened #2835 "Ability to create base controller"
I'd like unify to request processing and reduce code for identical operations. Framework familiarization goes hard for me, but I try to implement this idea.

**base.controller.ts**:
[code]

**user.controlles.ts**:
[code]

This way is beautiful in my opinion, but var PATH don't initializable, when I start server, so app has not 'users' endpoint. Perhaps, I do something weird, hence I'd like also if

[2019-05-04 19:35] raymondfeng commented on #2835
Use something similar as https://github.com/strongloop/loopback-next/blob/952d23e2a548569a6bd75026dbae7d9291dbf593/packages/repository-rest/test/acceptance/crud-controller.ts

[2019-05-04 19:42] raymondfeng commented on #2835
The other option is to use a class factory, such as:
[code]

[2019-05-04 20:49] guitarhero1 commented on #2835
I was just trying so, but that way I must write methods in derivative class all the same. I was trying to avoid this :)
I can't pass field with endpoint to decorators, so I chose some way, but it doesn't work on framework level. I wanna just pass endpoint to base class and don't write base CRUD logic in derivative class...

[2019-05-04 21:18] dhmlau commented on #2133
Instead of finding which content in https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html we can reuse in LB4, I think we can think the other way round to beef up the docs for [Model Decorator](https://loopback.io/doc/en/lb4/Model.html#model-decorator) and [Property Decorator](https://loopback.io/doc/en/lb4/Model.html#property-decorator), and see if there's anything applicable in the LB3

[2019-05-04 21:21] dhmlau commented on #2074
Closing due to inactivity.
@kogutu, if you're still encountering this issue, please feel free to ping me here and I'll reopen.  Thanks.

[2019-05-04 21:21] #2074 closed

[2019-05-04 21:29] dhmlau commented on #2312
@emonddr , with your PR #2763 merged, does it mean this task is done? Thanks.

[2019-05-04 21:42] hadasiddhant commented on #1981
There is also an issue with type any

nnot start the application. Error: Unsupported type: any
    at stringTypeToWrapper (C:\Users\user\Desktop\happyfitt\node_modules\@loopback\repository-json-schema\dist\build-schema.js:69:19)
    at metaToJsonProperty (C:\Users\user\Desktop\happyfitt\node_modules\@loopback\repository-json-schema\dist\build-schema.js:102:25)
    at modelToJsonSchema (C:\Users\us

[2019-05-05 12:48] dhmlau commented on #2674
@b-admike , could you please take a look? thanks.

[2019-05-05 12:51] dhmlau commented on #2602
@raymondfeng @bajtos , I'm not familiar with this topic.  Could you please help?
In the meanwhile, @acrodrig, would the [lifecycle events docs](https://loopback.io/doc/en/lb4/Life-cycle.html) be something you're looking for?

[2019-05-05 16:32] hadasiddhant commented on #2735
Is there any way to enforce uniqueness like how mongodb does it in the model with unique:true

[2019-05-06 08:36] greenkeeper[bot] opened #2837 "An in-range update of @types/fs-extra is breaking the build 🚨"
## The dependency [@types/fs-extra](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `5.0.5` to `5.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Ffs-extra-5.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@t

[2019-05-06 08:46] hacksparrow commented on #2085
**Note for anyone trying to reproduce the issue**

While creating a `User`, if you omit the `id` field, MongoDB will generate an id for the new user. If you query the generated id at `/users/{id}`, you will encounter 404.

If you specify the `id` value manually, querying `/users/{id}`, works as expected (200).

[2019-05-06 12:15] #2312 closed

[2019-05-06 12:49] bolner commented on #1914
To sum it up: hidden properties are not supported in LB4?

[2019-05-06 14:03] imonildoshi commented on #2085
I have found a solution to this, but need your inputs.

While finding a String which is actually an objectId, loopback-connector-mongodb converts it to ObjectId and then finds, which is perfect.

But while inserting, if a string is a foreign key and not an Id, it is not converted to ObjectId

What do you recommend? should we convert all the properties of regex /^[0-9a-fA-F]{24}$/ to objectId and t

[2019-05-06 14:21] hacksparrow commented on #2085
Thanks for the input, @imonildoshi. I am looking at the possibilities.

[2019-05-06 18:35] greenkeeper[bot] opened #2838 "An in-range update of @types/passport-http is breaking the build 🚨"
## The devDependency [@types/passport-http](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `0.3.7` to `0.3.8`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fpassport-http-0.3.8).

This version is **covered** by your **current version range** and after updating it in your project **the build

[2019-05-06 19:04] dhmlau commented on #2020
Closing as resolved because PR https://github.com/strongloop/loopback-next/pull/2702 has merged.

[2019-05-06 19:04] #2020 closed

[2019-05-06 19:57] webmaster-ar opened #2839 "How to use the reference authentication package?"
**Questions**

I have been studying Loopback 4 for a few days. I want to create a production version, however I concern about that Loopback 4 authentication package is not production ready and it is just a reference. So I'm not sure how should we use that reference.
I have the following questions:
- Should we create a separate version based on that package?
- Is the package safe to base my securit

[2019-05-06 23:04] greenkeeper[bot] opened #2840 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.6.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-06 23:35] greenkeeper[bot] opened #2841 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.4`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-06 23:53] greenkeeper[bot] opened #2842 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.10.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.10.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-05-07 07:03] bajtos commented on #2602
@acrodrig What is your use case - what are you trying to achieve with an event emitter? In LoopBack 4, we are rethinking many of the concepts from LoopBack 3 to make them easier to use. I would prefer to better understand your use case and think about what's a good solution for it, rather than picking event-emitter approach just because that's something we know from LB3.

[2019-05-07 07:44] hacksparrow commented on #2085
Here is a technical description of the bug. It all boils down to the `strictObjectIDCoercion` setting.

When `strictObjectIDCoercion` is `false` (default):

- If `id` value is specified when creating a model, and the value doesn't look like a MongoDB `ObjectId`, it will be stored as a `string` in the database.
- If `id` value looks like a MongoDB `ObjectId`,  it will be converted to `ObjectId` whe

[2019-05-07 10:31] JesusTheHun opened #2844 "[Feature request] Custom repository collection"
Currently the name of the collection is specified in the model, through the *setting* property of the *model* decorator.

I have two repositories, one storing the current version of the data, the other storing all versions of the data. Right now when I use the *create* method from those repo, they try to save into the same collection, creating errors.

I would like to store the model in different

[2019-05-07 10:44] bajtos commented on #1875
ObjectID has been always problematic, see the following threads from LoopBack 1.x/2.x/3.x days:

- https://github.com/strongloop/loopback/issues/274
- https://github.com/strongloop/loopback/issues/1874
- https://github.com/strongloop/loopback-datasource-juggler/pull/778

[2019-05-07 13:10] bajtos commented on #2085
I think the problem may be (partially) caused by the fact that the `id` property is declared with type `string`.

IIRC, LoopBack 3.x models usually did not define the id property explicitly, instead they relied on the connector to add that property - see https://github.com/strongloop/loopback-connector-mongodb/blob/3a79606ad67fc175020e5b0c20007a9771545bbb/lib/mongodb.js#L333-L335:

[code]

IMO, to

[2019-05-07 13:16] bajtos commented on #1875
In https://github.com/strongloop/loopback-next/issues/2085#issuecomment-490072648, I am proposing the following pattern for defining ObjectID properties:

[code]

The full implementation of `MongoDB.prototype.isObjectIDProperty` can be found here: https://github.com/strongloop/loopback-connector-mongodb/blob/efbee59bfe8362822483d5e1a0867e90c1b00c4d/lib/mongodb.js#L1852-L1871

AFAICT, this code wil

[2019-05-07 13:25] bajtos commented on #2085
In https://github.com/strongloop/loopback-next/issues/1875#issuecomment-490074828, I am proposing to fix `MongoDB.prototype.isObjectIDProperty` to recognize MongoDB-specific `dataType` setting in model property definition.

[2019-05-07 13:39] bajtos commented on #2085
I am arguing that the current behavior is actually correct. Because `stringObjectIDCoercion` is enabled, and the `id` property is declared with type `string`, the connector is preserving string values as strings, exactly as told by the model definition.

Of course, then there is the issue of one-to-many relationships that don't work in mongo. We need to fix that, but not necessarily by changing th

[2019-05-07 13:58] hacksparrow commented on #2085
I agree, the behavior is correct as per how `stringObjectIDCoercion: true` is supposed to work.

This doesn't look very intuitive, though:
[code]

I'd prefer:

[code]

Our APIs should be driven by intuitive DX.

[2019-05-07 15:28] bschrammIBM commented on #2598
From @b-admike : "I _think_ I have a solution but it'd probably involve a PR on `loopback.io`" and "There is another issue with symlinking `@loopback/docs` as part of the bootstrap process which would require modification on loopback-next repo too".
These edits cannot be seen in loopback 4 without a code modification to enable the links to the readmes.

[2019-05-07 15:57] JesusTheHun commented on #1875
I am more seduced by your second proposal of using a correct property type. This is far more intuitive and is what I expect from Loopback : make my life easier, not punish me for my database choice.

MongoDB is a very common database should enjoy all the fun of LoppBack 💯

[Databse popularity, StackOverflow 2018](https://insights.stackoverflow.com/survey/2018#technology-_-databases)
[Databse popul

[2019-05-07 16:12] acrodrig commented on #2602
My use case is the normal use case for events in Node. Somethings happens that could be interesting for other entities, and they need to be alerted via events. In my particular case I want something like:

[code]

All entities in LB3 were event emitters, which was nice, because it is hard to go back and retrofit them as event emitter. The Mixin pattern at the very least did not work for me.

My ur

[2019-05-07 17:43] webmaster-ar commented on #2735
@hadasiddhant You can do that creating an index. For example:
[code]

[2019-05-07 19:27] hadasiddhant commented on #2342
Hello,

I am using loopback 4 for a startup and got stuck here referencing for mongodb one to many relations like the customer and order. Is there a solution for this?

[2019-05-07 20:27] dhmlau commented on #2507
assign it to @raymondfeng , since he has a PR https://github.com/strongloop/loopback-next/pull/2834 for this.

[2019-05-07 20:33] dhmlau commented on #2571
@zkrami, were you able to compare your code with the todo-list-example so that you can identify the issue?

[2019-05-07 20:52] raymondfeng commented on #514
I think this issue should be closed:

1. With `loopback-next/sandbox`, apps and extension modules can be either copied or linked into `sandbox`.
2. Run `npm i` under `loopback-next`
3. Now your sandbox app/ext has dependencies resolved to modules in `loopback-next`.

[2019-05-07 20:55] raymondfeng commented on #2360
By default, repositories are now `TRANSIENT` binding scope. If it's injected into a controller, which is in turn instantiated by a REST API call, the `RequestContext` should be available for your repository. Please re-open the issue if you see otherwise.

[2019-05-07 20:55] #2360 closed

[2019-05-08 00:16] greenkeeper[bot] opened #2850 "An in-range update of @types/lodash is breaking the build 🚨"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.123` to `4.14.124`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.124).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-05-08 01:22] greenkeeper[bot] opened #2851 "An in-range update of glob is breaking the build 🚨"
## The dependency [glob](https://github.com/isaacs/node-glob) was updated from `7.1.3` to `7.1.4`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fglob-7.1.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

glob is a direct dependency of this project

[2019-05-08 03:46] diegoazh commented on #2839
I have the same questions. I need an authentication package, component or something else, but I not sure if this package will be finished. I would to contribute in the development of this component but I don't know if it  will be a package for productiono or it will be always a reference.
have there some shcedule to work on it?

[2019-05-08 14:27] dougal83 commented on #2839
If you follow the [authentication label](https://github.com/strongloop/loopback-next/labels/Authentication) you can see the authentication issues and that includes labels that indicate the targeted delivery date namely 2019 Q3.

You can look at WIP repos under strongloop like https://github.com/strongloop/loopback-component-passport if you are interested but as auth. is in active development there

[2019-05-08 14:27] hacksparrow commented on #2085
@devoNOTbevo thanks for the input. This will help us come up with a generic solution instead of just focussing on the MongoDB case.

[2019-05-08 14:38] devoNOTbevo commented on #2085
@hacksparrow I realized there was a bug in my code for the accessor function and so deleting comment.  Disregard.

[2019-05-08 14:50] b-admike commented on #2133
Based on the discussion in this thread, I've compiled the following criteria for this issue.

# Acceptance Critera
- [ ] Figure out what can be passed into the model decorator (top-level) and how that affects the LoopBack 4 application. Because we are using legacy juggler bridge, we need to find out if the mapping of top-level keys works OOTB. For example, does passing in `@model({options:{...}})`

[2019-05-08 14:50] dougal83 commented on #538
Thanks for your work @samarpanB.  I've just been looking at your implementation.

As a comment I note that you've currently implemented named roles such as 'CreateRoles'.  Could I ask if you considered using the format "subject.action" namely roles.create or roles.write much like [implementations of scopes](https://api.slack.com/scopes)?  Personally I'd find an implementation based on [oath scopes

[2019-05-08 14:52] jannyHou commented on #2839
We are going to release a new major version `@loopback/authentication@2.0.0`, there are 3 related feature+blog stories team is actively working on:

https://github.com/strongloop/loopback-next/issues/2467
https://github.com/strongloop/loopback-next/issues/2311
https://github.com/strongloop/loopback-next/issues/2725(the blog will be published as a summary in the last step)

And @emonddr is refactor

[2019-05-08 14:55] jannyHou commented on #2839
Self-assigned, I will update the tutorial here after finishing story #2467 and #2311

[2019-05-08 15:10] bschrammIBM commented on #2598
Status update: The doc work for this issue is complete and resides in the `connectors_from_lb3` branch. The changes are not reflected in the build for the doc site due to the issues described by Biniam above.

[2019-05-08 15:48] b-admike commented on #2169
Thank you all for chiming in. I've compiled the following criteria for this issue:

# Acceptance Criteria

- [ ] Review the issue and the detailed description to reproduce locally - write a test case in our `repository` package to simulate the behaviour / cover the use case.
- [ ] Explore the proposed solutions and assess if this is a bug or a documentation update and follow up accordingly.

[2019-05-08 16:02] dhmlau commented on #2780
Closing this issue as answered.

[2019-05-08 16:02] #2780 closed

[2019-05-08 18:48] samarpanB commented on #2639
@dhmlau I was going through a similar situation in my code and found that it actually doesn't work somehow.  In my case, I needed the property name in my model class to be camel-cased but the db column name to be snake-cased. As per documentation, 'keyTo' is for specifying column name on target model and 'keyFrom' is for specifying column name on source model. So I used keyFrom. But it threw parse

[2019-05-08 19:41] b-admike commented on #1722
hey @bajtos @raymondfeng, I was trying to compile an acceptance criteria for this issue, but noticed that it's pretty similar to #2652. Can we close it in favour of the other or do you think they're different? If so, maybe we can chat to come up with an acceptance criteria for this issue and get it groomed.

[2019-05-08 21:16] devoNOTbevo commented on #2085
I think that this is true actually.  I found this thread because, though I'm not using MongoDB, I am getting a type error on `createBelongsToAccessorFor` because the `id` I use in the `DefaultCrudRepository` is a string id.

My use case - a model/table for storing webhook subscriptions that already come with a unique identifier that is a string.  I assume use that as the primary id for this model/

[2019-05-08 21:55] dhmlau commented on #514
From the above comment, I'm closing this issue.

[2019-05-08 21:55] #514 closed

[2019-05-09 08:46] dakt commented on #2043
Any dates on when will this be merged?

[2019-05-09 08:55] bajtos commented on #2676
As I was reviewing https://github.com/strongloop/loopback-next/pull/2834, I realized there is one more area to research: how can experimental packages contribute documentation (hand-written markdown files) to https://loopback.io/doc/en/lb4 and API documentation to http://apidocs.loopback.io or the new apidocs solution proposed in https://github.com/strongloop/loopback-next/pull/2834

[2019-05-09 11:01] bajtos commented on #2085
I agree that would be a much better developer experience.

However, it's also much more difficult to implement, because `ObjectID` is a MongoDB specific type. We don't want `@loopback/repository` and `@loopback/repository-json-schema` to depend on connector-specific code. To be able to support ObjectID, we need a mechanism allowing connectors to contribute additional types.

Consider the case wher

[2019-05-09 11:08] bajtos commented on #1722
Let's put this issue on hold until #2652 is done. Quoting from the acceptance criteria from that issue:

[2019-05-09 11:44] bajtos commented on #1981
@hadasiddhant please open a new issue to discuss the type `any`, so that the discussion here can stay focused on GeoPoint. Thanks!

[2019-05-09 11:45] bajtos commented on #2152
@AnanthGopal not yet. We need to implement the issues listed in my previous comment, plus any additional items discovered by #2634. Would you like to help us and contribute some of the work needed to make this feature happen? We are happy to help you along the way. See https://loopback.io/doc/en/contrib/index.html and https://loopback.io/doc/en/lb4/submitting_a_pr.html to get started.

[2019-05-09 11:56] bajtos commented on #2753
We need to find out how is loopback-connector-mysql mapping `string` type to database type. I think we use `varchar(X)`, possibly with the default size 4069.

@rkterungwa16 is there any limit on the size of your `internal_ref` and `external_ref` properties? I think MySQL connector recognizes `length` and `limit` fields.

[code]

You can find the exact column size in the debug log - look for the SQ

[2019-05-09 11:58] bajtos commented on #110
@derdeka @koliberr136a1 Invites sent 📨

_Please note that you have to accept the invite on GitHub before you become a member of `@strongloop/loopback-next`. If you didn't receive an email notification from GitHub, then I think you can find the invite when visiting StrongLoop organization on GitHub: https://github.com/strongloop_

[2019-05-09 13:17] ludohenin commented on #1857
@bajtos looks great, thanks. What would be the way to add `createdBy` though?
I'm strungling with getting access to the `CURRENT_USER`, request context being not available in the repository class.

[2019-05-09 14:27] JesusTheHun commented on #2246
IMHO UserProfile should be an interface and not a model. Even though LoopBack could provide a default implementation, the implementation to use should be registered in the Authentication module.

Exemple : If you use MongoDB you will have an *_id* property, therefore you won't created another *id* property for the sake of it.

Also complex application have their own mechanisms, with data coming fr

[2019-05-09 14:51] jannyHou opened #2855 "[Spike] Resolve the relational path's url"
## Description / Steps to reproduce / Feature proposal

This is a spike of story https://github.com/strongloop/loopback-next/issues/2483:
Before we construct the relation controller from the static file, we need to decide where to define the relation endpoints(in a new controller class or in "modelFrom"'s controller), and how to resolve the relational path's url.

Copy from the original discuss:

[2019-05-09 14:53] jannyHou commented on #2483
Spike created in https://github.com/strongloop/loopback-next/issues/2855 🙂

[2019-05-09 15:49] #2840 closed

[2019-05-09 15:50] #2841 closed

[2019-05-09 15:50] #2842 closed

[2019-05-09 16:18] #2824 closed

[2019-05-09 16:18] #2828 closed

[2019-05-09 16:18] #2832 closed

[2019-05-09 16:18] #2837 closed

[2019-05-09 16:18] #2838 closed

[2019-05-09 16:18] #2850 closed

[2019-05-09 16:18] #2851 closed

[2019-05-09 16:18] #2814 closed

[2019-05-09 16:18] #2816 closed

[2019-05-09 16:18] #2817 closed

[2019-05-09 16:28] greenkeeper[bot] opened #2858 "An in-range update of @types/lodash is breaking the build"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.124` to `4.14.125`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.125).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-05-09 20:12] dhmlau commented on #2855
@b-admike, could you please add the acceptance criteria? thanks.

[2019-05-09 21:11] ghtech commented on #1857
Hi I am implementing proposed solution but getting error
 **Property 'createdAt' does not exist on type 'DataObject<T>'.**
how to define createdAt and updatedAt properties in TimestampingRepository
thanks

[2019-05-09 22:07] ludohenin commented on #2582
@raymondfeng I have a similar issue and packages version doesn't seems to be the cause.

The problem started to arise in our migrate script when we added a request context bound value (that we set in a sequence action) to our repository classes. At first I get

[code]

fine, lets bind it our migrate script (hoping I'll will not have too many of those), and then I get

[code]

And now I'm lost.
I'm

[2019-05-09 22:48] raymondfeng commented on #2582
Try to run `npm update`.

[2019-05-09 23:14] greenkeeper[bot] opened #2860 "An in-range update of @loopback/core is breaking the build [INVALID]"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.6.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.6.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-09 23:28] greenkeeper[bot] opened #2861 "An in-range update of @loopback/boot is breaking the build [INVALID]"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-09 23:36] greenkeeper[bot] opened #2862 "An in-range update of @loopback/rest is breaking the build [INVALID]"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.11.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-05-10 00:10] raymondfeng commented on #2718
Interceptors are now supported. We also allow you to control order of global interceptors.

[2019-05-10 00:10] codejamninja commented on #2043
@dakt I have to go through the comments and make some changes before the team can merge it. I will hopefully get around to it sometime this month. I have a feeling there will probably be around 3 pull requests before `hasAndBelongsToMany` is working the way it is intended to work.

[2019-05-10 02:58] greenkeeper[bot] opened #2863 "An in-range update of nyc is breaking the build 🚨"
## The dependency [nyc](https://github.com/istanbuljs/nyc) was updated from `14.1.0` to `14.1.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fnyc-14.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

nyc is a direct dependency of this project,

[2019-05-10 08:32] ludohenin commented on #2582
@raymondfeng I've removed the `node_modules` folder and reinstalled everything with the latest version and I'm still having the exact same issue.

[2019-05-10 08:44] greenkeeper[bot] opened #2864 "An in-range update of update-notifier is breaking the build 🚨"
## The dependency [update-notifier](https://github.com/yeoman/update-notifier) was updated from `2.5.0` to `2.6.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fupdate-notifier-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

update-notifier

[2019-05-10 09:35] debjeetdas commented on #1098
Any updates on this?

[2019-05-10 11:38] dougal83 commented on #1098
@debjeetdas Hi, are you looking for the following?

https://loopback.io/doc/en/lb4/Database-migrations.html

[2019-05-10 12:54] dhmlau commented on #2199
Moving to `2019Q3` as this task is marked as `help wanted`.

[2019-05-10 13:12] bajtos commented on #2557
Let's put this on hold for now, I would like to rethink the way how datasources are configured. I think the JSON-based config is not optimal for Cloud Native environments, where most configuration is handled by environmental variables (see https://12factor.net/).

[2019-05-10 13:55] #2864 closed

[2019-05-10 19:45] dhmlau commented on #2639
@samarpanB, when I was creating the [modified CoffeeShop app](https://github.com/dhmlau/loopback4-coffeeshop), I've tried it a bit for `@hasMany` decorator.  Haven't got how to make it work in `belongsTo` (perhaps I was missing something but didn't get a chance to look into it).

----
My notes was below:

The expected foreign key name is in the format of {source-model-name-camel-case}+Id, i.e. `co

[2019-05-10 20:48] raymondfeng commented on #2811
The fix is released.

[2019-05-10 20:48] #2811 closed

[2019-05-10 20:54] raymondfeng commented on #2582
Is it a duplicate of https://github.com/strongloop/loopback-next/issues/2541?

[2019-05-10 21:31] greenkeeper[bot] opened #2869 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.6.3`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-10 21:45] greenkeeper[bot] opened #2870 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.6`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-10 21:53] greenkeeper[bot] opened #2871 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.11.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.11.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-05-11 04:26] samarpanB commented on #2639
@dhmlau I tried that as well with belongs to, it didn’t work either.

[2019-05-11 06:33] DongWenHu opened #2873 "How to set 'trust proxy'?"
How to set 'trust proxy'?

[2019-05-11 13:49] gopalakrishnan-subramani commented on #2839
+1, we need auth example as soon as possible to roll out basic integration with Authentication. We use lb4 for a project, we could not move further without authentication. Hope someone could give an example github example that can do hello world level authentication.

[2019-05-11 16:09] raymondfeng commented on #2873
https://loopback.io/doc/en/lb4/Server.html#express-settings

[2019-05-11 16:09] #2873 closed

[2019-05-12 15:33] hgouillard commented on #2242
In package.json, i add for development run :
`"start:dev": "export NODE_ENV=development && (npm run build:watch & nodemon --watch ./dist --inspect ./index.js)"`

[2019-05-12 21:45] dougal83 opened #2876 "repo.createall() - how to invoke on conflict constraint"
Howdy,

Curious how to approach createAll scenario with constraints.  Is it currently possible to handle or is another way more suitable?

Say I have a constraint on Postgres table called title_desc_unique that ensures unique title and desc combinations. (would love to know how to define that in the model, if possible atm).

Controller would be as follows:
[code]
If I import a Todo that violates t

[2019-05-13 05:57] marioestradarosa commented on #2381
Hi @arunkumarreddygoluguri ,

I had to do something similar with other parameters for the rest-connector, this is a simple solution,  but it worked for me.

Once you get your custom auth token you can register in the context in the `sequence.ts` file as you stated.

[code]

Then in the controller(s) you inject it like so:

[code]

Now here comes the tricky part where this solutions falls into the

[2019-05-13 07:16] #2858 closed

[2019-05-13 07:16] #2863 closed

[2019-05-13 09:38] #2860 closed

[2019-05-13 09:38] #2861 closed

[2019-05-13 09:38] #2862 closed

[2019-05-13 09:38] #2869 closed

[2019-05-13 09:38] #2870 closed

[2019-05-13 09:38] #2871 closed

[2019-05-13 09:41] bajtos commented on #2855
We should be using the same approach we already have in place for relations, where a new controller class is created for every relation. E.g. `UserOrdersController` to handle all endpoints in `/Users/{id}/orders` path space.

[2019-05-13 09:41] bajtos commented on #2483
We should be using the same approach we already have in place for relations, where a new controller class is created for every relation. E.g. `UserOrdersController` to handle all endpoints in `/Users/{id}/orders` path space.

[2019-05-13 09:43] bajtos commented on #2855
I think it's too early to work on this spike and the story "From relation definition to REST API with no repository/controller classes #2483" in general. We need to implement "From model definition to REST API with no custom repository/controller classes #2036" first, because relations will leverage the foundational blocks provided #2036.

[2019-05-13 09:45] bajtos commented on #2036
Moved this Epic from Q2 to Q3 because most of the stories (see my previous comment) are already assigned to Q3.

[2019-05-13 12:59] dhmlau commented on #2085
PR https://github.com/strongloop/loopback-connector-mongodb/pull/517

[2019-05-13 14:09] greenkeeper[bot] opened #2878 "An in-range update of prettier is breaking the build 🚨"
## The dependency [prettier](https://github.com/prettier/prettier) was updated from `1.17.0` to `1.17.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fprettier-1.17.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

prettier is a direct dependency

[2019-05-13 15:31] argupta23 commented on #2582
@raymondfeng I seem to have the same issue. Using the example code results in the following error

src/application.ts:20:60 - error TS2345: Argument of type 'typeof MyAuthStrategyProvider' is not assignable to parameter of type 'Constructor<Provider<AuthenticationStrategy | undefined>>'.
  Type 'MyAuthStrategyProvider' is not assignable to type 'Provider<AuthenticationStrategy | undefined>'.
    T

[2019-05-13 18:20] #2392 closed

[2019-05-13 18:38] raymondfeng commented on #2582
See https://github.com/strongloop/loopback-next/pull/2872

[2019-05-13 19:25] jannyHou commented on #2676
The diagram and work flow of how `loopback-next` and `loopback-labs` interact with each other is documented in file https://github.com/strongloop/loopback-labs/blob/master/LABS.md (Thank you @raymondfeng )

Let's continue the spike based on it.

[2019-05-13 22:04] greenkeeper[bot] opened #2881 "An in-range update of fs-extra is breaking the build 🚨"
## The dependency [fs-extra](https://github.com/jprichardson/node-fs-extra) was updated from `8.0.0` to `8.0.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Ffs-extra-8.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

fs-extra is a direct depe

[2019-05-13 23:29] dhmlau commented on #2855
@bajtos, thanks for the info. Since #2036 (which needs to be implemented first) is planning for `2019Q3`, I'll move this spike to Q3 for now.

[2019-05-13 23:56] dhmlau commented on #2467
@emonddr @jannyHou, now that PR https://github.com/strongloop/loopback-next/pull/2688 has landed, is this task done?

[2019-05-14 04:26] mrdulin opened #2883 "[Q] What's the difference between datasource and connector?"
I am reading the source code of
https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/repositories/repository.ts#L221

Why doesn't `loopback` use `connector` directly in `repository`?

[2019-05-14 08:13] greenkeeper[bot] opened #2885 "An in-range update of loopback-datasource-juggler is breaking the build 🚨"
## The dependency [loopback-datasource-juggler](https://github.com/strongloop/loopback-datasource-juggler) was updated from `4.7.0` to `4.7.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Floopback-datasource-juggler-4.7.1).

This version is **covered** by your **current version range** and after updating it in your projec

[2019-05-14 08:24] b4dnewz opened #2886 "Authentication example is not working"
Hi, I'm having a really hard time to implement the authorization in lb4.

I've followed the example in [@loopback/authentication](https://github.com/strongloop/loopback-next/tree/master/packages/authentication) package and I'm getting a TypeError:

[code]

passport-http\strategies\basic.js
[code]

As far as I can tell the **self.fail** / **self.error** / **self.success** functions are implemented

[2019-05-14 10:04] hacksparrow commented on #2883
A **datasource** is a data access component composed of a **connector** and a **database**.

`this.connector = dataSource.connector as CrudConnector;` <-- TypeScript assertion to ensure the properties provided by `dataSource.connecto` match that's defined by `CrudConnector`, because `this.connector` is a `CrudConnector`.

[2019-05-14 10:25] b4dnewz commented on #2057
hi @bajtos in your sequence example posted above where does **this.checkJwt()** comes from?
How to inject the **CheckJwtActionProvider** into sequence handler?

Thanks in advance.

[2019-05-14 11:18] sureshkodur opened #2887 "authentication 2.0.0 error"
After installing @loopback/authentication2.0.0 , I'm getting below error,

Argument of type 'typeof StrategyResolverProvider' is not assignable to parameter of type 'Constructor<Provider<AuthenticationStrategy | undefined>>'.

Please help me.

[2019-05-14 12:52] anjorinjnr commented on #2886
actually it extends the Strategy defined in the module passport-strategy, see the code below

[code]

The only place I have seen the fail, error, success implemented is in middleware/authenticate.js which doesn't seem to be used anywhere in loopback.

[2019-05-14 14:14] dhmlau commented on #2886
@jannyHou @emonddr , could you PTAL? Thanks.

[2019-05-14 14:15] dhmlau commented on #2887
@jannyHou @emonddr , could you PTAL? Thanks.

[2019-05-14 14:38] emonddr commented on #2887
@sureshkodur , can you please describe the steps you are taking that leads you to this error?
Are you creating a new application from scratch and using the authentication module, or updating an older application?

[2019-05-14 14:45] b4dnewz commented on #2886
@anjorinjnr from what I understood of passport the Strategy needs to be called from within passport to be extended on runtime with the fail, error and success method.
Right now based on the example provided in the loopback/authentication readme it would not work, or I am wrong?

[2019-05-14 14:52] emonddr commented on #2886
@b4dnewz , @anjorinjnr , @sureshkodur
Apologies for the broken example, we are in the midst of landing different PRs which
are updating @loopback/authentication  .

[feat: resolve authentication strategy registered via extension point](https://github.com/strongloop/loopback-next/pull/2763) landed in early May and it was a breaking change.

[Draft:Changes to passport strategy adapter ](https://gith

[2019-05-14 15:05] emonddr commented on #2887
@sureshkodur , also please see my comments in https://github.com/strongloop/loopback-next/issues/2886

[2019-05-14 15:13] jannyHou commented on #2887
+1 for Dom's comment in https://github.com/strongloop/loopback-next/issues/2887#issuecomment-492265703.

@sureshkodur the `@loopback/authentication@2.x` version contains breaking change, we are replacing the old passport adapter, which `@loobpack/authentication@1.x` is built on.

If you are trying the shopping example and `StrategyResolverProvider` comes from this file:
https://github.com/stronglo

[2019-05-14 15:54] bajtos commented on #1035
I am proposing to include the following story in our Q2 plan: https://github.com/strongloop/loopback-next/issues/1334

[2019-05-14 16:04] greenkeeper[bot] opened #2888 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.11.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.11.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop

[2019-05-14 16:04] greenkeeper[bot] opened #2889 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.7`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-14 16:10] greenkeeper[bot] opened #2890 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.7.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.7.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-14 16:21] bajtos commented on #1851
Let's wait until https://github.com/strongloop/loopback-next/issues/2608 is done.

[2019-05-14 16:38] dhmlau opened #2892 "[Epic] MVP: authentication extension points"
## Description / Steps to reproduce / Feature proposal
Originated from https://github.com/strongloop/loopback-next/issues/1035.
Creating a new epic to separate the authentication and authorization epic.

Cross-posting the acceptance criteria from https://github.com/strongloop/loopback-next/issues/1035#issuecomment-487639092:

- [x] create the authentication strategy interface #2466
- [x] make auth

[2019-05-14 16:50] dhmlau commented on #1035
Discussing with @raymondfeng @bajtos, it would be better to separate the authentication and authorization epics.  I'll be creating the 2 epics and will eventually close this one.  Please continue the discussion in the separated epics in the future. Thanks.

Authentication epic: https://github.com/strongloop/loopback-next/issues/2892

[2019-05-14 17:33] jannyHou commented on #2892
@dhmlau Thank you it captures everything I am aware of.

[2019-05-14 19:32] greenkeeper[bot] opened #2894 "An in-range update of @types/lodash is breaking the build 🚨"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.126` to `4.14.127`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.127).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-05-14 20:05] venkatamandala opened #2896 "LB4 - Authorization Implementation - Cannot find name AuthResponse - Authorization sample"
## Description / Steps to reproduce / Feature proposal
I followed the Authorization tutorial at https://loopback.io/doc/en/lb4/Loopback-component-authorization.html and i have compilation error in "sequence.ts" at AuthResponse Statement (see below)

 const authUser: AuthResponse = await this.authenticateRequest(request);

Cannot find name 'AuthResponse'

NOTE: I followed and completed the Authenti

[2019-05-14 23:37] dhmlau commented on #2718
See PR https://github.com/strongloop/loopback-next/pull/1205

[2019-05-14 23:39] greenkeeper[bot] opened #2899 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.13.4` to `3.14.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Flerna-3.14.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **mig

[2019-05-14 23:46] dhmlau opened #2900 "Create a common layer for authentication & authorization component"
## Description / Steps to reproduce / Feature proposal
_Capturing the information from @raymondfeng in today's meeting and in Slack._

We might need a common layer e.g. `@loopback/security` to serve as a base where `@loopback/authentication` and `@loopback/authorization` are two extensions.  The common layer can possibly include:
- SecurityContext
- binding keys for current user/subject

_From the

[2019-05-15 08:45] davidpestana commented on #2085
Obviously this problem extends to all functions of the crud repository that require searching by id.

as:

In the project I created a workarround creating a second ID in the model to perform the post-creation actions and in the repository I created the methods for it.

[code]

Repository.

[code]

I also thought about writing findById doing the ROW query to mongoDB but it seemed too great an effor

[2019-05-15 13:08] emonddr commented on #2896
@venkatamandala
Apologies for the broken example, we are in the midst of landing different PRs which
are updating @loopback/authentication  .

[feat: resolve authentication strategy registered via extension point](https://github.com/strongloop/loopback-next/pull/2763) landed in early May and it was a breaking change.

[Draft:Changes to passport strategy adapter ](https://github.com/strongloop/loop

[2019-05-15 13:29] dhmlau commented on #1875
See related PR https://github.com/strongloop/loopback-connector-mongodb/pull/517
cc @hacksparrow

[2019-05-15 13:57] b4dnewz commented on #2886
hi @emonddr, may I ask you which version is prior (and working) to the changes you listed above? To be more precise, the version before the PR that will work with the example code in the readme.

I would like to keep developing the API (which is mostly private and depends from jwt authentication) with the old version of @loopback/authentication until the new version comes out and hopefully I only

[2019-05-15 14:01] shijithkm opened #2901 "There are 3 vulnerabilities doing npm audit @loopback/build"
## Description / Steps to reproduce / Feature proposal

Create a new lb4 app and just run `npm audit`

[code]

## Current Behavior

`                       === npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  Moderate        Prot

[2019-05-15 15:00] #2467 closed

[2019-05-15 15:44] #2541 closed

[2019-05-15 17:10] raymondfeng commented on #538
See https://github.com/strongloop/loopback-next/pull/1205

[2019-05-15 17:10] raymondfeng commented on #2896
See https://github.com/strongloop/loopback-next/pull/1205

[2019-05-15 17:25] samarpanB commented on #2896
@venkatamandala AuthResponse is actually the authenticated User Model. Its implementation is not described in the documentation as it can vary application to application. In general, AuthResponse is the returned user model after authentication. You can use the User Model as well, in place of it.

[2019-05-15 17:29] ronaldlong46 opened #2903 "Updated model, but schema is not updating"
## Description / Steps to reproduce / Feature proposal
When updating a model file, the schema in LoopBack API Explorer is not updating.

## Current Behavior
Updated a property from:
`  @property({
    type: 'string',
    required: true,
  })
  maxAmount: string;`

To:
`  @property({
    type: 'string',
    required: true,
  })
  maxAmount: number;`

But the schema in LoopBack API Explorer remains

[2019-05-15 17:32] samarpanB commented on #2886
@b4dnewz We created a small loopback4 extension [here](https://github.com/sourcefuse/loopback4-authentication) supporting 3 passport based strategies, following the loopback guidelines [here](https://github.com/strongloop/loopback-next/tree/master/packages/authentication).

You can refer to the implementation of the extension for further details. I am in process of updating usage guidelines for th

[2019-05-15 17:35] #2903 closed

[2019-05-15 17:36] dougal83 commented on #2903
Ah you spotted it. :)

[2019-05-15 17:46] ronaldlong46 commented on #2903
@dougal83 I'm a little tired today. Not sure how I missed that. :)

[2019-05-15 17:48] activedecay opened #2904 "Questions non-database connectors, lb4/lb3 connector/datasource compatibility, and non-npm-module connector"
I want to create a sort of file-connector. I would like to use the filesystem as a DataSource, and I guess the documentation for lb3 should be consulted. Does a file-connector exist already? How do I create a DataSource/Connector for a filesystem for use in an lb4 Application?

[Building a connector](https://loopback.io/doc/en/lb3/Building-a-connector.html) This page mentions a "Storage connector"

[2019-05-15 18:17] #2101 closed

[2019-05-15 20:46] activedecay commented on #2904
Maybe [just use this?](https://loopback.io/doc/en/lb3/Storage-connector.html)

[2019-05-15 23:00] kowsheek commented on #1348
@shimks Hi there, have you been able to get this working since?

[2019-05-16 14:44] hazimdikenli commented on #1914
I aggree with;

[2019-05-16 20:45] charlypeluch commented on #2833
Any suggestions?

[2019-05-16 20:50] raymondfeng commented on #2833
If there is a Node.js driver available, you can use it in controllers directly or build a service around your need to access `MS Access`.

[2019-05-16 21:07] f-w opened #2909 "Error 'Lb3AppBooter requires RestApplication with mountExpressRouter API'"
## Description / Steps to reproduce / Feature proposal
Following docs [Boot and Mount a LoopBack 3 Application](https://loopback.io/doc/en/lb4/Boot-and-Mount-a-LoopBack-3-application.html), despite my app extends RestApplication, I still got the error in title.

My application.ts looks like
[code]

[2019-05-16 21:12] raymondfeng commented on #2909
Please run `npm ls @loopback/rest` to find out the version of `rest` module.

[2019-05-16 21:16] f-w commented on #2909
1.5.1

[2019-05-16 21:17] raymondfeng commented on #2909
Please run `npm up` to upgrade to latest versions.

[2019-05-16 21:22] f-w commented on #2909
upgraded to 1.11.2 and error is fixed.

[2019-05-16 21:22] #2909 closed

[2019-05-16 21:31] dougal83 commented on #2876
I'll leave imperfect workaround here for others, feel free to critique if it's suboptimal. Intent is to import new items(from csv source) and quietly handle(just count errors/assumed unique constraint rejections) summary:

[code]

In hindsight this might have been better on stack overflow than github.

[2019-05-17 02:30] greenkeeper[bot] opened #2910 "An in-range update of express is breaking the build 🚨"
## The dependency [express](https://github.com/expressjs/express) was updated from `4.16.4` to `4.17.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fexpress-4.17.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

express is a direct dependency of

[2019-05-17 02:44] dhmlau commented on #2901
@raymondfeng , is it related to https://github.com/strongloop/loopback-next/issues/2507?

[2019-05-17 06:31] amenadiel commented on #1830
I'm trying to do it using findorCreate and upsertwithWhere. However you are limited to POST requests, since you can't address the instance itself with PUT

[2019-05-17 08:59] jasonvasquez opened #2911 "Generating OpenAPI enums from Model properties"
## Description
I have models in my application which have properties of various enum types, or arrays of enums.  Is there a way in lb4 to generate OpenAPI enum types from those?

For instance:
[code]

I would have hoped to be able to provide additional metadata to `@property`, along the lines of:

[code]

 For now, I've only had success describing them as numbers or strings.  I've attempted to pro

[2019-05-17 11:40] hazimdikenli commented on #1920
I think Authentication and Authorization are the most important ones, along with fileUploader.

[2019-05-17 15:25] mgabeler-lee-6rs opened #2912 "Embedded models broken in repository 1.5.5"
## Description / Steps to reproduce / Feature proposal

After upgrading my project's LB4 dependencies, I'm finding that models that have a property that is another model type are breaking.  I've traced this down to a PR that, ironically, was meant to make this work where it wasn't for others before: #2505 fixing #2130.

I think things were working for me before because I was using the `@property({

[2019-05-17 16:13] activedecay commented on #2904
This guy was nice enough to create an example for me, which I think ties together the concepts that were missing: it implements the providers, services and controllers that are required to get the connector working.

https://github.com/gdebenito/loopback-storage-example

[2019-05-17 16:13] #2904 closed

[2019-05-17 16:57] dhmlau commented on #2912
@mgabeler-lee-6rs, would you like to submit a patch?
If you're new to contributing to LB, you can see this https://loopback.io/doc/en/lb4/submitting_a_pr.html as a reference. Thanks.

[2019-05-17 17:00] raymondfeng commented on #2901
@shijithkm You can safely ignore the audit warnings for now.

1. We did analysis in `strong-docs` and concluded the issue from a transitive dependency cannot be exploited for attack.

2. We're working a new way to generate api docs - https://github.com/strongloop/loopback-next/pull/2834.

[2019-05-17 17:00] #2901 closed

[2019-05-17 17:01] mgabeler-lee-6rs commented on #2912
Yep, I've submitted before, and am working on submitting a patch for this.  Testing locally in my environment first, and working out some kinks unrelated to this particular problem, but which are also giving me some headaches in updating to the current LB4 release.

(Having problems with DTO-style `Model` classes that have an `id` property that is not _the_ `id` property)

[2019-05-17 17:03] raymondfeng commented on #2911
Please note TypeScript `enum` is only visible to the complier and we cannot reflect it at runtime. To mark it as an `enum` for openapi spec, you probably have to customize the `itemType`.

[2019-05-17 17:32] bagintz opened #2915 "Discover not working"
Hello, I am not able to get lb4 discover to work as described for MySQL.  The 2 different results I get are as follows:

1) When using the default "root" user with no passoword and connecting to the DB I want to discover, I get back a list of "models to discover" that do not include the actual table from the DB, but a bunch of other data that looks like it might be from the performance schema or s

[2019-05-17 18:48] #2629 closed

[2019-05-17 22:47] mgabeler-lee-6rs commented on #2912
PR submitted -- I verified that it fixes the issue within my app, hopefully it does not cause problems with different use cases

[2019-05-18 08:26] shubhddn01 commented on #110
Hi @bajtos
I'd like to be added to the LoopBack.next contributors list.
Thanks.

[2019-05-18 15:35] dougal83 commented on #2911
@raymondfeng Is this related to enum being a const?  This [twitter post](https://twitter.com/sulco/status/1049361905914204161) makes a distinction but does that have no bearing on runtime in this context?

[2019-05-18 19:19] kapookchang opened #2920 "How to reference HasMany when find all"
## Description / Steps to reproduce / Feature proposal

## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-05-18 22:00] raymondfeng commented on #2911
Not really. No matter how TypeScript transpiles the source code, there is no metadata visible at runtime. We wish tsc supports plugins to emit additional typings, such as `string[]`.

[2019-05-19 01:58] bgleolalahi commented on #2197
doesn't work for me.

this is my model snippets
`@model({
  settings: {
    postgresql: {
      table: 'offline_class',
    },
  },
})`

and the package that i used
`"@loopback/repository": "^1.5.5",`

[2019-05-19 02:22] kowsheek opened #2921 "Thoughts on Loopback & the Ecosystem"
It was great to meet and chat @dhmlau @raymondfeng, the team really appreciated your taking the time. Having stepped up development last week, I wanted to share our thoughts on Loopback in how (from our perspective) it can continue to be an attractive platform and ecosystem.

cc: @saunderst @SrChip15 @ckrac

1. As developers and users of the ecosystem, we *need* documentation. Currently, we sift t

[2019-05-19 06:32] bgleolalahi commented on #2197
forget to rebuild.
it works now.

[2019-05-19 08:27] pavelgronsky commented on #2242
Ok, friends.
I was able to understand how run nodemon by launch.json in VSCODE and how run nodemon by npm run dev command. Everything works fine, but how I can run nodemon together with debugged by npm command ?

[2019-05-19 08:48] pavelgronsky commented on #2791
@Narrator Hello.
Thanks for your your reply. But when I run project by launch.json in VSCode I cann debugger inside VSCode, but my nodemoon doesn't work.

I try to explain my situation:
I have two configuration in my launch.json. First conf. work only by **node runtimeExecutable**. I't work fine for me. But, when I try to run configuration by **nodemon runtimeExecutable**, I take only debugger wor

[2019-05-19 09:52] dougal83 commented on #2911
Ah after further reading: [Point 5](https://github.com/Microsoft/TypeScript/wiki/TypeScript-Design-Goals#non-goals), if only we had the appropriate design pattern to hand. 🔮 Sounds like a lot more code to me! :)

[2019-05-19 17:49] kushball commented on #2915
Hey,

I was having the same issue this morning and realized I had to specify the schema to be the database name in order to find the tables I expected.

lb4 discover --schema [DB_NAME_HERE]

[2019-05-19 21:10] bagintz commented on #2915
@kushball That worked thanks!  Now I am having the problem that it is not finding importing/discovering the foreign keys, does lb4 support this?

[2019-05-20 09:59] bajtos commented on #2911
Recently, we landed https://github.com/strongloop/loopback-next/pull/2685 which allows model properties to specify additional JSON Schema constraints. Would that work for you? I am thinking about something along the following lines (don't have to verify whether it works as intended):

[code]

[2019-05-20 10:02] bajtos commented on #2911
For longer term, I think we should add first-class support for `enum` types, both at ORM and API layer.

See also the discussion in https://github.com/strongloop/loopback-next/issues/1624

[2019-05-20 10:34] DimitriEmman commented on #2582
try to change the version of your loopback-authentificate.
like tthat "@loopback/authentication": "^1.0.16",

[2019-05-20 10:55] jasonvasquez commented on #2911
@bajtos yes! That exactly what I was intuitively attempting at first hoping something like that could work.  Agreed that #1624 heads in the right direction (for me at least), as specifying the shape of my data at the model level makes more sense than at the controller level.  (I can always break out view models specifically for interaction with API clients if the structures need to be different th

[2019-05-20 15:36] raymondfeng commented on #2921
@kowsheek Great feedback. We'll come up a course of actions to address your concerns.

[2019-05-20 15:43] raymondfeng commented on #2921
We have been working on https://github.com/strongloop/loopback-next/pull/1636 for some time now. But it's blocked by https://github.com/microsoft/TypeScript/issues/30823.

The `loopback-next` repo is set up to allow your development against latest master.

1. To use latest version of TypeScript, you can simply change the `typescript` version in `loopback-next/packages/build/package.json`.
2. The `

[2019-05-20 15:46] raymondfeng commented on #2921
We see some of the pains. The team is in discussion to improve the layout and flow so that developers can follow naturally by their development tasks. We also plan to add more diagrams to visualize the key building blocks to help you understand the big picture upfront.

[2019-05-20 16:03] sbacem commented on #2921
what about TypeOrm,  will be a package for this ?

[2019-05-20 16:48] raymondfeng commented on #2921
Do you expect a package to wrap TypeORM as LoopBack 4 repositories? Otherwise, you can use TypeORM as-is, for example, in a controller class.

[2019-05-20 19:16] reyraa commented on #2198
I'm getting the same error and since I don't have any special logic added to the project I believe this is an internal issue of loopback.
To explain more, I've created a project and added a couple of models. I've only added a single custom endpoint that simply generates two entries in two relevant models, one for each, and returns the result.

[2019-05-20 21:06] raymondfeng commented on #2921
Please join the discussion at https://github.com/strongloop/loopback-next/pull/2925.

[2019-05-21 01:23] sbacem commented on #2921
I wish to have package/doc like in [nestjs ](https://docs.nestjs.com/techniques/database)

why our team wanted to change Juggler by TypeOrm ?

- Juggler need more doc
- Not have query Builder for complex query
- The relation clearer in TypeOrm ( for developper have used Doctrine or Hibernate)

This is the feedback of our team after 5 months working with loopback.
Big thanks for this good framework

[2019-05-21 03:32] jannyHou commented on #2676
## Having experimental features inside `loopback-next`

### how to rebase /merge with changes from master to the feature branch

Rebase the experimental branch against master to pick up the latest change from master.
[code]
   Then rebase the experimental dev branch against experimental branch
[code]

### when the experimental feature graduates, how we can move code (together with git history) bac

[2019-05-21 05:55] riddheshganatra commented on #2878
Getting below error on 1.17.0 and 1.17.1:

index.js
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! cms@1.0.0 prettier:cli: `lb-prettier "**/*.ts" "**/*.js" "-l"`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the cms@1.0.0 prettier:cli script.
npm ERR! This is probably not a problem with npm. There is likely additional logging output above.

npm ERR! A complete log of this run can be found

[2019-05-21 09:19] bajtos commented on #2921
Personally, I am unhappy about the lack of maturity of TypeScript support for medium- to large-sized projects. Build + test cycle in loopback-next monorepo takes 3+ minutes, it make TDD pretty much impossible :( I totally understand your frustration!

We have been looking into ways how to improve the situation for months. As @raymondfeng already commented, we are currently blocked by a limitation

[2019-05-21 09:20] #2888 closed

[2019-05-21 09:20] #2889 closed

[2019-05-21 09:20] #2890 closed

[2019-05-21 10:46] #2878 closed

[2019-05-21 10:46] #2881 closed

[2019-05-21 10:46] #2885 closed

[2019-05-21 10:46] #2894 closed

[2019-05-21 10:46] #2899 closed

[2019-05-21 10:46] #2910 closed

[2019-05-21 12:23] iamdharmesh commented on #110
Hi @bajtos, I would like to contribute as well!
Thanks

[2019-05-21 12:27] bajtos commented on #2653
TypeScript 3.5 is going to introduce a new type `Omit` (see the [announcement post](https://devblogs.microsoft.com/typescript/announcing-typescript-3-5-rc/)), let's leverage it here.

[code]

[2019-05-21 14:20] #2912 closed

[2019-05-21 14:45] deq9z opened #2930 "openapi import ref not setting up type in model file"
## Description / Steps to reproduce / Feature proposal
Given an OpenAPI 3.x formatted file, when using the loopback/@cli tool to import using the openapi syntax, then model files are generated for each individual definition component, however; their $ref is not used by the tool to setup an import and type (model class).
## Current Behavior
As a result, the json schema is not properly generated and

[2019-05-21 14:48] dhmlau commented on #2775
Closing in favor of the spike result from https://github.com/strongloop-internal/scrum-apex/issues/416.

[2019-05-21 14:48] #2775 closed

[2019-05-21 15:06] rodrigouz commented on #110
Hi @bajtos
I would like to be part of the contributors.
Thanks!

[2019-05-21 15:12] raymondfeng commented on #2930
@deq9z We need to emit more metadata into the generated files, including:

- `@api` at controller class
- `@operation` at controller method
- `@model` at model class
- `@property` at model property

Are you willing to contribute a patch?

[2019-05-21 15:29] jannyHou commented on #2676
# Comparison

Guide for using `loopback-labs`: see PR https://github.com/strongloop/loopback-labs/pull/10
Guide for using `loopback-next`: see comment https://github.com/strongloop/loopback-next/pull/2916#issuecomment-494436275

Con of using `loopback-labs`:
  - If the feature has changes in production ready packages, rebasing against `loopback-next@master` is hard and complicated in `loopback-lab

[2019-05-21 18:09] deq9z commented on #2930
I can try to help, however; I'm not familiar with the loopback/@cli source code

[2019-05-21 18:12] raymondfeng commented on #2930
The related code is at https://github.com/strongloop/loopback-next/tree/master/packages/cli/generators/openapi

[2019-05-21 20:06] rodmcnew commented on #2626
We are also experiencing this issue.

[2019-05-22 01:55] greenkeeper[bot] opened #2935 "An in-range update of swagger-ui-dist is breaking the build 🚨"
## The dependency [swagger-ui-dist](https://github.com/swagger-api/swagger-ui) was updated from `3.22.1` to `3.22.2`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fswagger-ui-dist-3.22.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

swagger-ui-d

[2019-05-22 03:33] dhmlau commented on #2915
Looking at https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/model-discoverer.js and https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/model-discoverer.js, it doesn't seem like the `lb4 discover` command has an option to discover foreign keys.

I believe you can reference this LB3 docs https://loopback.io/doc/en/lb3/Discovering-models-from-relational-d

[2019-05-22 04:57] #2004 closed

[2019-05-22 04:57] #2415 closed

[2019-05-22 06:18] sureshkodur opened #2936 "How to use log-extension in my application? Can any one help me"
## Description / Steps to reproduce / Feature proposal

## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-05-22 11:35] samarpanB commented on #1352
Hello @bajtos , When can we expect this feature to land ? Its a must-have for a production app. If you need help to make this feature to complete sooner, I can gladly contribute with your guidance.  Please let me know.

[2019-05-22 13:38] dhmlau commented on #1352
@samarpanB, thanks for your offer!  We also wish to get it completed soon.
Currently there are 2 tasks that are part of this epic. We are planning them for June milestone, but if you could contribute, that would be perfect.

- Implement `getJsonSchemaRef` and `getModelSchemaRef` helpers https://github.com/strongloop/loopback-next/issues/2631
- Enhance `getJsonSchema` to describe navigational prope

[2019-05-22 13:49] dhmlau commented on #2936
@sureshkodur, did you have a chance to look at this tutorial? https://github.com/strongloop/loopback-next/tree/master/examples/log-extension#tutorial.
If yes, please describe the problem you're running into. Thanks.

[2019-05-22 16:40] greenkeeper[bot] opened #2938 "An in-range update of @types/express-serve-static-core is breaking the build 🚨"
## The dependency [@types/express-serve-static-core](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.16.4` to `4.16.5`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Fexpress-serve-static-core-4.16.5).

This version is **covered** by your **current version range** and after updating it in y

[2019-05-22 18:50] emonddr opened #2940 "update @loopback\authentication documentation"
## Description / Steps to reproduce / Feature proposal

The REAME.md of the @loopback/authentication module needs to be updated
to discuss the new authentication architecture.

## Current Behavior
Shows an authentication example that makes use of npm modules : passport passport-http and the old strategy adapter.

## Expected Behavior
Explain more of the architecture of the authentication module (n

[2019-05-22 19:59] jannyHou commented on #2940
@emonddr Thank you for creating the doc issue, for the 4 tasks in the acceptance criteria:

1 - I agree 👍
2,3 - Are we creating 2 example under https://github.com/strongloop/loopback-next/tree/master/examples?
4 - sounds good, if the doc PR get landed before #2311 closed, we can link to the ongoing feature branch and update the link after the adapter feature done.

[2019-05-22 20:03] emonddr commented on #2940
@jannyHou

we can either have 2 separate examples showing separate custom authentication strategies or we can have 1 `example\authentication` example which showcases the 2 different strategies.

[2019-05-22 21:40] greenkeeper[bot] opened #2942 "An in-range update of semver is breaking the build 🚨"
## The dependency [semver](https://github.com/npm/node-semver) was updated from `6.0.0` to `6.1.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2Fsemver-6.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

semver is a direct dependency of this pr

[2019-05-23 06:20] sureshkodur commented on #2936
@dhmlau , Yes. I'm confused how to use this in my application. I want to log all api requests. Can you please help me. How to implement in my application. Thank you in advance

[2019-05-23 15:08] checkmatez opened #2946 "loopback/context does not inject arguments to constructor of decorated class"
## Description / Steps to reproduce / Feature proposal
loopback/context does not inject arguments to constructor of decorated class.
Repro: https://codesandbox.io/embed/loopbackcontext-bug-with-decorator-zdedp

## Current Behavior
Dependencies doesn't not get injected.

## Expected Behavior
Dependencies get injected.

This was introduced with https://github.com/strongloop/loopback-next/commit/8c0b

[2019-05-23 15:35] bgleolalahi commented on #2896
[code]
@samarpanB AuthenticateFn from @loopback/authentication return UserProfile or undefined. Since I use custom User model, it will cause an error because it's not assignable. Do you have any suggestion?

[2019-05-23 15:59] greenkeeper[bot] opened #2947 "An in-range update of @types/lodash is breaking the build 🚨"
## The devDependency [@types/lodash](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `4.14.130` to `4.14.131`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40types%2Flodash-4.14.131).

This version is **covered** by your **current version range** and after updating it in your project **the build faile

[2019-05-23 18:07] nabdelgadir commented on #2099
Review questions were removed as part of https://github.com/strongloop/loopback-next/pull/2376

[2019-05-23 18:07] #2099 closed

[2019-05-23 18:16] mapmalith commented on #2209
try,
`@hasOne(() => Info)
  infos: Info[];`

instead of
`@hasOne(() => Info, { keyTo: 'person_id' })
  infos: Info[];`

may be it will work

[2019-05-23 18:18] samarpanB commented on #1352
@dhmlau Let me try the second one (#2630 ) first.

[2019-05-23 19:08] t-zhao commented on #433
Hey there. Just wondering any plans for this issue?

[2019-05-23 20:27] #2568 closed

[2019-05-23 22:47] greenkeeper[bot] opened #2949 "An in-range update of @loopback/core is breaking the build 🚨"
## The dependency [@loopback/core](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.7.1`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fcore-1.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-23 23:00] greenkeeper[bot] opened #2950 "An in-range update of @loopback/boot is breaking the build 🚨"
## The dependency [@loopback/boot](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.2.8`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Fboot-1.2.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loopba

[2019-05-23 23:10] greenkeeper[bot] opened #2951 "An in-range update of @loopback/rest is breaking the build 🚨"
## The dependency [@loopback/rest](https://github.com/strongloop/loopback-next) was updated from `undefined` to `1.12.0`.

🚨 [View failing branch](https://github.com/strongloop/loopback-next/compare/master...strongloop:greenkeeper%2Fdefault%2F%40loopback%2Frest-1.12.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@loop