[2021-08-17 16:35] achrinza commented on #7756
You might be running up a hard limit preset for [`qs`](https://www.npmjs.com/package/qs):

https://github.com/loopbackio/loopback-next/issues/6222

A method around this is to used stringified JSON instead.

[2021-08-17 16:40] achrinza commented on #7684
Hi @gagarine, apologies for not reviewing your issue earlier.

I'm hesitant on creating a new script called `dev` (or similar) as usually this implies a live-reload feature.

Perhaps we could move the build to a NPM `prestart` lifecycle script instead. That way, `npm start --ignore-scripts` can be used to avoid rebuilding the project.

[2021-08-17 19:21] dhmlau commented on #7605
Closing as done, since PR #7604 has landed.

[2021-08-17 19:21] #7605 closed

[2021-08-17 20:12] sohaibahsan007 commented on #7756
Thank you @achrinza

[2021-08-17 20:12] #7756 closed

[2021-08-18 11:11] gagarine commented on #7684
I understand. But I'm not sure how familiar people are with --ignore-scripts, also cloud platform do not use that by default. I'm also not familiar enough with nodejs "custom and best practices". But for me, start is for production and does not contain build phase.

I reached on Microsoft about this problem. They will improve their documentation around those kind of problems, and eventually introd

[2021-08-19 07:38] shanchak commented on #7750
I am also facing the same issue. Is there any workaround?

[2021-08-19 13:25] markus-hsk commented on #7013
Please reopen. I still would like to see such a functionality.

[2021-08-19 20:59] kyle-apex opened #7777 "@param.array {type: 'object'} throws 400"
## Steps to reproduce

In explorer, make a GET request to a controller that has an array of type: 'object': `@param.array('objectArray', 'query', {type: 'object'})`

## Current Behavior

When making a GET request to a controller with an array of objects parameter `@param.array('objectArray', 'query', {type: 'object'})`, it will throw a 400 `[{path: "/0", code: "type", message: "must be object", in

[2021-08-22 18:31] madhuri-pednekar commented on #3700
This error is no longer reproducible.
1. Updated project dependencies
2. Tried POST on /users with payload
[code]
3. I now get an error
[code]

[2021-08-24 18:00] rajkaran commented on #2263
I have managed to implement LDAP. It isn't a perfect solution but it works well.

I am using passport-ldapauth strategy. I didn't follow loopback 4 [tutorial](https://loopback.io/doc/en/lb4/Authentication-passport.html) as ldapauth doesn't have @types or atleast I couldn't find it.

I tried mounting ExpressJs by following [Creating an Express Application with LoopBack REST API](https://loopback.io

[2021-08-28 04:34] jtbandes commented on #4674
Hi 👋  I was looking for a similar rule lint rule for another project and came across this issue. Thought you might like to know that I just implemented a rule in [`@foxglove/eslint-plugin`](https://github.com/foxglove/eslint-plugin) called `@foxglove/no-boolean-parameters`. More info here: https://github.com/foxglove/eslint-plugin/tree/main/rules#rules

[2021-08-28 11:22] achrinza commented on #4674
Thanks, @jtbandes! Will see if we can incorporate it into our monorepo.

[2021-08-30 14:38] mtruon11 opened #7805 "exclude in @responses does not work."
Hi

I think the latest version of loopback remove the feature to exclude properties in the response.

`@response(200, {
        content: {
            'application/json': {
                schema: {
                    type: 'array',
                    items: getModelSchemaRef(Model, { includeRelations: true, exclude: ['documents'] }),
                },
            },
        },
    })`

documen

[2021-08-30 14:50] achrinza commented on #7805
Hi @mtruon11, `@response()` is used only for building the OpenAPI spec document. It does not alter or prevent what the server is returning.

If you need to prevent a property from being returned, try using [Hidden Properties](https://loopback.io/doc/en/lb4/Model.html#hidden-properties).

[2021-08-30 16:09] mtruon11 commented on #7805
but why was it working in older version of loopback4. Is this recently changed?

[2021-08-30 16:41] achrinza commented on #7805
As far as I'm aware, there has been no such changes nor was this a feature; Its current behaviour is expected.

[2021-08-30 22:44] #1884 closed

[2021-08-30 22:49] rubybb opened #7809 "Add pnpm to supported package managers."
https://github.com/loopbackio/loopback-next/blob/debd55e6c74a17cdfccb55879f0c0002653f70ff/packages/cli/lib/base-generator.js#L18

pnpm supports the exact same cli interface as npm so it should be as simple as changing all occurrences of npm to pnpm.

[2021-08-31 09:10] #4990 closed

[2021-08-31 13:58] achrinza commented on #7805
We'll be closing this issue as solved. If there's any additional questions or issues, feel free to open a new GitHub Discussion, issue, or ask on the Slack channel.

[2021-08-31 19:17] achrinza commented on #7569
Closing due to inactivity. Feel free to open a new issue if the problem arises again.

[2021-08-31 19:17] #7569 closed

[2021-08-31 19:19] achrinza commented on #7075
Closing due to inactivity. Feel free to open a new issue if the problem reoccurs.

[2021-08-31 19:19] #7075 closed

[2021-08-31 23:20] #3931 closed

[2021-09-01 06:47] rizz360 commented on #6437
@pilare Thank you for your reply! I'm sorry but I couldn't find where you uploaded

[2021-09-01 18:57] 8vio commented on #5709
Hi, I'm also with the same issue, I just have a PostgreSQL connector and some models, but when a install a new MongoDB connector. The `migrateSchema` returns:

[2021-09-05 18:26] #7085 closed

[2021-09-06 10:11] hessman opened #7841 "@loopback/cron runOnInit option not working and preventing the app to start correctly"
## Steps to reproduce

On a basic project created with `@loopback/cli` or not :
* use `runOnInit: true`  in the configuration of a CronJob
* use a non-static method of the CronJob in the `onTick` callback
* start the project

[code]

## Current Behavior

An error prevent the application to start correctly :

[code]

## Expected Behavior

The CronJob should be triggered on application init :
* No e

[2021-09-06 15:04] achrinza commented on #7841
Thanks for creating the sandbox, @hessman! Unfortunately this is a JavaScript thing - `this` cannot be referenced before `super()` is called (nor can it be referenced within `super()` itself).

Are there certain limitations with using a static class member?

Or as an alternative, could `helloWorld` be extracted into its own class, and have `TestJob` initialize an instance of that class in the cons

[2021-09-06 22:36] fidgi opened #7848 "example or examples keywords in jsonSchema is causing ajv validation to fail"
## Steps to reproduce

Define a model w/ property values samples expressed in jsonSchema as follow :
`import {Entity, model, property} from '@loopback/repository';

@model()
export class Basic extends Entity {
  @property({
    jsonSchema: {
      type: 'string',
      example: 'simple',
      // examples: [{'simple-sample': {value: 'simple'}}],
    },
    required: true,
  })
  name: string;

  @

[2021-09-07 22:18] collaorodrigo7 commented on #6832
This should not have been closed w/o a fix. Also, This filter worked fine on LB3.
I am happy to take a look and try to help to solve it but I will need some guidance.
As a workaround, I first query the source model and then run multiple queries to get the related model includes for each id of the source model.
Is this how lb3 used to do it?
@agnes512 do you have any ideas on the best approach for

[2021-09-10 02:24] collaorodrigo7 commented on #6832
Thanks, @achrinza
Do you have any suggestions on how we could implement it, and if what I mentioned is how LB3 used to do it and if the goal will be to make it like that?

[2021-09-10 11:50] NorthBlue333 commented on #7841
Hi @achrinza!
I am facing the same issue. When using services injections, would you recommend argument injections in static methods instead of using constructor injections, which would allow not to use `this` ?

Thank you for your answer :)

[2021-09-10 12:53] achrinza commented on #6832
Apologies for letting it go stale; I'm not familiar with the LB3 codebase so unfortunately I can't provide info on how it's been done historically, but I think your idea makes sense given the current architecture of the @loopback/repository package.

If I'm not mistaken. this is the part of the code that needs changing:

https://github.com/loopbackio/loopback-next/blob/cb29cbeb52223d78bdd4e67416f8

[2021-09-10 17:19] Clauber commented on #1857
Are you guys planning on pushing this to loopback so we have it within the lib, or is this something we have to implement ourselves as we use loopback?

[2021-09-11 13:58] achrinza commented on #7602
I'll proceed to close the issue due to inactivity; Please don't hesitate to ping me to re-open the issue if the problem persists.

[2021-09-11 13:58] #7602 closed

[2021-09-12 07:06] mrmodise commented on #7841
Hope it helps:

[code]

[2021-09-12 16:32] NorthBlue333 commented on #7841
Thanks for your answer @mrmodise but this does not help. You have not set `runOnInit` to `true` in your exemple, which is the issue here.

[2021-09-13 08:18] hessman commented on #7841
@achrinza thanks for your response, I know this is a javascript issue but what is the best practice with the loopback UX ?
As you know, we often need to inject services or repositories, if we cannot use this on this implementation of cron it's problematic.
We should inject on the method and not the class ? The documentation is not describing the best practice for the usage of service/repo and runO

[2021-09-13 12:54] achrinza commented on #7841
Thanks for the clarification @hessman; I believe that @mrmodise's code should work; I've tested a similar code with `runOnInit` and _constructor injection_ and got it working:

[code]

Hope it helps!

[2021-09-13 13:11] hessman commented on #7841
Thanks it helps ! 😀

[2021-09-13 13:12] hessman commented on #7841
Thanks it helps ! 😀

[2021-09-13 13:46] #7841 closed

[2021-09-13 14:25] collaorodrigo7 commented on #6832
Thanks @achrinza! Sorry I was away this weekend.
I think I am not getting why we need a different limit property. When the limit is passed on the scope of the inclusion filter, I think, it makes sense to assume it is talking about the related model include limits. Contrary, if the limit is passed on the parent level, then it's obvious it is referring to the parent level limit?. Here is a simplifie

[2021-09-13 17:06] albjeremias commented on #6964
this happened to me, cause i created a model and a repository.. so it was overriding the code from authentication module

[2021-09-14 06:58] rhiwn opened #7882 "'exists' where clause doesn't work with memory db"
When using mongodb connector, where queries containing 'exists' clause work OK.
`{
  "where": {
    "user" : {"exists": true}
  }
}`
returns data correctly.

When swapping to the memory db connector, with the same data and the same query nothing is returned.

This is in the latest version of loopback.

[2021-09-14 12:32] achrinza commented on #7882
Thanks for opening an issue; As far as I know, `exists` is not a standard Where Filter Operator; See https://loopback.io/doc/en/lb4/Where-filter.html#operators for a list of standard operators.

[2021-09-14 12:33] achrinza commented on #7848
Thanks for opening an issue; Will follow up on this soon.

[2021-09-14 12:48] rhiwn commented on #7882
ah ok -thanks Rifa - it works for the mongodb connector. And I can see it as on operator in filter/src/query.ts. If it's not supported then I'll need to rethink my caching strategy as I assumed memory connector worked in the same way as mongodb connector.

[2021-09-14 13:22] mrbatista commented on #6832
@collaorodrigo7 @achrinza
I need to execute query for each source model found [like mongodb connector](https://github.com/loopbackio/loopback-connector-mongodb/blob/6ce66e4d6dae3b69583cd8b6b82519ef5ebb7585/lib/mongodb.js#L1432)

[2021-09-14 15:35] albjeremias commented on #2053
why are all the issues closed automatically in loopback4 next ?!

[2021-09-16 10:49] sadranyi commented on #1466
I am also experiencing the same issue, it deploys with GitHub actions but trying the Classic Azure DevOps just fails
a guide on how to deploy it to Azure App Service or API management would really be helpful

[2021-09-18 09:49] achrinza commented on #6832
Sorry for missing your message @collaorodrigo7

Apologies if it was a bit confusing; The suggestion was more in the spirit of keeping backwards compatibility, but I think it should be fine to replace the original `limit` behaviour to a more correct implementation.

Just that IMO we should continue to provide the original behaviour somehow or provide a way for people to emulate the current behaviou

[2021-09-20 06:38] fabripeco commented on #6832
I agree because the limit param is inside the scope of the relation. If someone really need the total number of related items differently distributed among the parent items (a bit strange, but possible) it's better to use a different param.
Thanks!

[2021-09-20 13:40] #7089 closed

[2021-09-22 20:17] albjeremias commented on #5571
I had hard time to find out.. how..

from the default controller created with lb4 controller:
[code]

[2021-09-23 14:07] mrbatista commented on #4495
not stale!

[2021-09-27 15:02] achrinza commented on #6977
Closing as Node v16 is in the test matrix

[2021-09-27 15:02] #6977 closed

[2021-09-28 20:13] mrmodise opened #7947 "Add POST example to Calling REST APIs"
The [Calling REST APIs](https://loopback.io/doc/en/lb4/Calling-rest-apis.html) section demonstrates how to use LoopBack 4 to call GET APIs. It would be benefiting to the broader community to demonstrate how to call POST APIs. I have the [todo-jwt](https://test-loopback-4-deployment.herokuapp.com/explorer/#/UserController/UserController.signUp) example hosted in Heroku that could be used in the doc

[2021-09-29 12:10] achrinza commented on #7584
Closed by https://github.com/loopbackio/loopback-datasource-juggler/pull/1903

[2021-09-29 12:10] #7584 closed

[2021-10-03 00:58] collaorodrigo7 commented on #6832
Sorry for the delay, the PR is ready. At the moment it is behaving the same as LB3 used to.
About the backward compatibility, I am not sure what we will do with things other than `limit`.
While this issue is specific about `limit`, this PR solves for any filter in the scope, such as `order`, `where`, so to keep the backward compatability we will need a `totalLimit`, `totalOrder`, `totalWhere` ?. I

[2021-10-03 02:58] collaorodrigo7 commented on #1464
I am trying to use environmental variables to load my datasources configuration but I am running into issues when using some of the CLI tools.
I looked at the docs and could not find a recommended way of loading environmental configuration, so I thought I could try dotenv or env-yaml.
So, I am using [dotenv](https://www.npmjs.com/package/dotenv) and [env-yaml](https://www.npmjs.com/package/env-yam

[2021-10-03 09:30] achrinza commented on #6832
While the code for `order` and `where` has changed, I don't think the actual behaviour has changed:

`where` is always scoped on a "per-record" basis; So the new code shouldn't affect this behaviour.

`order` is different because its scoped across multiple records; This is because with can `order` by multiple columns. However, the position of each child record in a parent is still effectively the

[2021-10-03 18:27] collaorodrigo7 commented on #6832
Oh, I see what you mean!. Thanks.
So how should I make this change, should I change the Filter object and add this extra property? Should I just inline extend the Filter object for the `Scope` section only?.
This will also mean we have to add a note to the filters documentation about this change.

[2021-10-04 06:22] Ashwithabg commented on #7947
Can I work on this change?

[2021-10-04 09:16] Limpidius-Fred commented on #7848
Bug confirmed for example (not examples).
Impact: no RequestBody can be parsed while sowhere in global.schemas we can find example.

Workaround (currently on test) into Application.constructor():
[code]

[2021-10-05 02:25] collaorodrigo7 commented on #1464
@dhmlau

[2021-10-05 05:36] mrmodise commented on #7947
Thanks for your interest. Please go ahead @Ashwithabg

[2021-10-07 10:51] prateek-hegde opened #7985 "loadash audit issue"
![image](https://user-images.githubusercontent.com/24645777/136370550-25392159-65e9-49c7-91b9-3ced727bd6d1.png)

[2021-10-07 14:52] #5416 closed

[2021-10-07 14:52] #5479 closed

[2021-10-07 14:52] #1465 closed, assigned to nobody

[2021-10-11 10:15] OnTheThirdDay commented on #2487
There can be a workaround for this. For example, we want to store Media, which can either be an Image or a Video, then:
**Media hasOne PolymorphicMedia
PolymorphicMedia belongsTo Media
Image extends PolymorphicMedia
Video extends PolymorphicMedia**

After building these classes and relations, in order to allow PolymorphicMedia (Image, Video) instances to be included when querying Media, the Inclus

[2021-10-15 16:24] clewisln opened #8015 "lb4 repository tool error if datasource is using injection"
I have a simple data source, whos config is loaded via injection:

[code]

Application.ts:
`this.configure('datasources.Main').to(options.datasources?.Main || {});`

When running the repository scaffolding tool the following error occurs:
`(node:24064) UnhandledPromiseRejectionWarning: Error: Cannot load C:\lb4\src\datasources\main.datasource.config.json: ENOENT: no such file or directory, open 'C

[2021-10-16 08:09] achrinza commented on #8015
Currently, the CLI does assume that either the "legacy" JSON or "current" TypeScript-style config is available:

1. **JSON-style** expects `*.datasource.config.json`, where `*` is the filename of the equivalent DataSource TypeScript file.
2. **TypeScript-style** expects a top-level `config` variable (`export` not required) in the DataSource TypeScript file.

(Related pull request: https://github.c

[2021-10-17 18:26] #6832 closed

[2021-10-19 12:17] ecurien opened #8025 "Rest option with winston logger is not working"
https://github.com/loopbackio/loopback-next/blob/d9a29c85dbe38f12ba219d8c495cf6038bbc3590/packages/rest/src/validation/request-body.validator.ts#L115

Hello, I think 'logger' property should be skipped as well as it can introduce a circular dependency in the JSON stringify.
It is the case with winston logger and DailyRotateFile

Thanks for your feedback

[2021-10-19 16:04] #8025 closed, assigned to nobody

[2021-10-21 06:59] dsl400 opened #8035 "Unknown compiler option 'useUnknownInCatchVariables'."
## Steps to reproduce

create new app using lb4 command
npm start

## Current Behavior
[code]

## Expected Behavior

[code]

## Additional information

win32 x64 14.18.1
├── @loopback/boot@3.4.4
├── @loopback/core@2.18.0
├── @loopback/repository@3.7.3
├── @loopback/rest-explorer@3.3.4
├── @loopback/rest@10.1.0
├── @loopback/service-proxy@3.2.4
├── ts-node@10.3.0
└── tslib@2.3.1

[2021-10-26 08:19] dsl400 opened #8041 "Allow additional (free-form) properties"
what is the use of   `Allow additional (free-form) properties?` when creating models
there is no difference in the model if the answer is Yes or No

[2021-11-02 14:36] #7012 closed

[2021-11-08 11:31] ivanvaccari opened #8065 "getModelSchemaRef return base model json instead of extended one"
## Steps to reproduce
- Create a model aModel with property "a"
- Create a model bModel by extending aModel , add property "b" to it
- Create a controller with a POST endpoint which uses bModel as body input model
- Open swagger and check the input model definition for your POST endopint

## Current Behavior
- Swagger declares it expect a aModel instance, throwing error if  the propery "b" is pass

[2021-11-08 12:19] A-Corregidor commented on #5709
Hi, same issue here. MySQL / MongoDB connectors, can't migrate any of them

Don't know what changed, everything was working OK some months ago.
I don't have the binding line `this.dataSource(MySqlSource, 'mySqlDb');` on `application.ts`, instead, I've injected it on every repository's constructor, like this:
`
constructor(
@inject('datasources.mySqlDb') dataSource: MySqlDbDataSource,

// Other stu

[2021-11-08 14:02] priyadharshini-gopal commented on #6918
i ma trying to use the https://github.com/loopbackio/loopback-next/tree/master/examples/multi-tenancy . The sequence still doesnt work. I have export class MySequence implements SequenceHandler . how should I add the sequence to mulittenant

[2021-11-09 04:09] #1467 closed

[2021-11-09 11:47] AbanoubSamySalib commented on #7363
Hello @canmustu
1- I have created config.json file at the root
2- I pasted the config you mentioned and made the proper changes to work with my model and repo.
3- I ran the following command : lb4 controller -c config.json
and it is not picking from the config file and still prompts me questions to answer
is there any missing step should be done in addition to the mentioned 3 steps above?

[2021-11-09 12:15] Banhawy opened #8072 "Prompt issue discovering model with specified config"
## Steps to reproduce
I specified a config to discover models from datasource hoping to avoid interactive prompts, yet the lb CLI fails to acknowledge the config json passed in.

My `config.json`:
[code]
My models discovery CLI command:
[code]

## Current Behavior

It still prompts me select the datasource, models to discover, and convention to convert db columns name, even though I specified thos

[2021-11-10 16:25] allanpaiste commented on #6832
There's a slight flaw with the implementation where the per-fk-value lookup will be used even when scope does not include any of the properties that the implementation seems to be fore (example: only 'fields' are specified) which degrades the lookup efficiency for no reason.

As such, this scope config ...

[code]

... will also cause the switch to happen which basically means that anyone who want

[2021-11-10 16:54] allanpaiste opened #8074 "repository v3.7.3: inefficient inclusion lookup when ANY scope props defined"
Previously inclusion lookup was done with a single query that used **inq** filter that involves every fkValue where now (since 3.7.3) the lookup is performed with find per fkValue.

The new implementation itself states (in code comment) that it is used for very specific cases, but there are no checks implemented in code to validate that such case (as stated in the comment that you can see in the c

[2021-11-10 17:40] prespic commented on #7104
WORKAROUND:

` lb4 discover --all --outDir=src/models/all`

Generates all models. Then you can easily pick the right ones and remove the others.

[2021-11-10 18:16] #6621 closed

[2021-11-10 21:13] collaorodrigo7 commented on #8074
Thanks for the detail explanation @allanpaiste. You are right, if the scope has only a `fields` filter, we should not need to do the per-fk filter.
Initially I thought `where` filter will still need the per-fk filter, but now I do not think we need it there, and neither we need it for `order`, do we? Because it will be the same to apply the `where` or `order` to the entire set and then just filter

[2021-11-11 08:22] achrinza commented on #8074
@collaorodrigo7 If memory serves, I don't think there's an equivalent to "skip" in SQL left joins. So the check should only apply to LIMIT relation filters.

[2021-11-11 10:20] #6825 closed

[2021-11-16 22:50] mgabeler-lee-6rs opened #8079 "Can't override app.start if RepositoryMixin used: TS2425"
## Steps to reproduce

1. Create an app that uses `RepositoryMixin`
2. Try to override the application `start` method

## Current Behavior

`error TS2425: Class '... & RestApplication' defines instance member property 'start', but extended class 'Application' defines it as instance member function.`

## Expected Behavior

It should compile!

It used to compile just fine in older releases.

## Link

[2021-11-16 23:46] mgabeler-lee-6rs commented on #8079
Digging in, the suspected PR/diff is almost certainly the issue: the mapped type used for `MixinTarget` is converting every "member" of the super class to a property. There doesn't seem to be any good way around this in TypeScript that I can find :(

One possible, though admittedly very ugly, workaround: Make `RepositoryMixin` do no-op overrides of `start` and `stop` so that they override this nat

[2021-11-17 23:16] mgabeler-lee-6rs commented on #7599
I'm running into what I think is this same issue -- code that was previously working with various Repository classes referencing each other for inclusion resolvers via `@repository.getter` was working fine in the past. I even recall reading some LB documentation saying that `@inject.getter` and its friends were specifically meant for avoiding circular dependencies like this. But now with the lates

[2021-11-18 23:44] achrinza commented on #7599
@mgabeler-lee-6rs There shouldn't be any issues with using Singletons for basic use-cases.

[2021-11-18 23:47] achrinza commented on #8079
I'm wondering if this bug was introduced in one of the newer TypeScript versions. Will need to look more into this. In the mean time, if you were able to find a more permanent solution, please do post them here so that we can add it to the docs.

[2021-11-19 06:16] #8041 closed

[2021-11-19 22:01] mgabeler-lee-6rs commented on #8079
My workaround was just to copy the ts-ignore strategy, i.e. I prefixed my `start` overrides with:
[code]

[2021-11-20 03:21] achrinza commented on #3365
@Robot-dev11 This is typically caused by issues in the PATH. Please check if the global NPM bin directory is in the PATH environment variable. If it is, please try either:

1. Re-installing the CLI
2. Restarting the terminal

If neither works, an alternative would be to run the CLI using `npx @loopback/cli`

[2021-11-22 13:21] allanpaiste commented on #8074
Any updates on this @collaorodrigo7 ? :)

[2021-11-23 20:58] diegoblasco commented on #2873
Add the expressSettings to your RestApplication config.

[code]

[2021-11-24 13:04] Habbiton commented on #5709
Any news/tips/comments? We're unable to migrate (ie: update DB structure)

[2021-11-25 17:05] xw-patrick opened #8089 "lb4 datasource --config results in an error - "function () { [native code] }" is generated"
## Steps to reproduce

create a new data source with --config
`lb4 datasource -c '{"name": "dbname","connector": "postgresql", "url": "", "host": "psql-svc", "port": "5432", "user": "psql", "password": "pw", "database": "dbname"}' -y`
then start the lb4 app:
`npm start`

creates errors like:
[code]

When I use the exact same values through using the prompt, there are no issues when starting the lb

[2021-11-26 02:40] roberttaylortech opened #8090 "Cant smoothly extend RestApplication without being stuck with RestComponent as well."
https://github.com/loopbackio/loopback-next/blob/2661354cb67560be32558f118fbd9164167c8d86/packages/rest/src/rest.application.ts#L94

Wanting to extend RestApplication to override one or another method and I'd also like to extend RestComponent and override a thing or two. Not really seeing a way to do it with the way this is coded.  There are a bunch of patterns that could rectify this. Instead I'm

[2021-11-26 06:32] achrinza commented on #8090
Thanks for opening a new issue, @roberttaylortech! I've not encountered the need to provide my own RestComponent, so I'm not aware of any existing way to do so, but I do believe this is something LoopBack 4 should support as part of its extensibility principles.

I look forward to the additional details :-)

[2021-11-27 11:00] arnaud16571542 opened #8091 "2022 Roadmap"
Hello,

The official roadmap is stayed on 2020
https://github.com/loopbackio/loopback-next/blob/master/docs/ROADMAP.md

Is there any plan to create the 2022 roadmap ?

[2021-11-27 11:16] fidgi opened #8092 "lb4 update is stuck to tslib ^2.0.0"
## Steps to reproduce

execute lb4 update

## Current Behavior
(excuse my french ;-) )
$ lb4 update
Le projet a été généré à l'origine par @loopback/cli@<unknown>.
Les dépendances suivantes sont incompatibles avec @loopback/cli@3.0.0 :
dependencies
- tslib: ^2.3.1 (cli ^2.0.0)
devDependencies
peerDependencies
? Que souhaitez-vous faire ? Ignorer la mise à niveau des dépendances du projet

## Expec

[2021-11-29 03:19] hoang-anh-tuan commented on #3047
Hi @dhmlau, our company has been using loopback for many years to build its products, including jGooooo (https://jgooooo.com/) is a Global Search, Social, and Support Travel Platform built and developed by UTO Tech company (https://utotech.vn/en ) based on the idea of solving travel problems quickly and comprehensively, we hope the company's logo can be displayed in the list of partners by Loopbac

[2021-11-29 09:57] achrinza commented on #8091
Hi @arnaud16571542, I believe the roadmap was created when the project was still under IBM. Since the transition towards a distributed maintainer model under the OpenJS Foundation, we've not migrated the roadmap into the new workflow. It's something I'll bring up with the other maintainers.

[2021-11-29 09:57] #8091 closed

[2021-11-30 11:54] allanpaiste commented on #8074
@collaorodrigo7 I'd take it's a one-liner fix where we just add a conditional around that logic-branching? Yes?

[2021-12-01 09:13] achrinza commented on #8074
The fix should be a one-liner fix, though I've not checked on it yet. I'll try to timebox this week to fix the issue, but if you can open a PR earlier, I can help review it with the other mantainers.

[2021-12-01 15:26] collaorodrigo7 commented on #8074
Sorry guys, I had to take a short time off and couldn't take a look at this before leaving.
Thank you @achrinza

[2021-12-02 13:00] kreuzwerker-patrick commented on #8089
Anyone interested to help with this?
https://www.upwork.com/jobs/~01fe3de0ce6c6c4737
You have the chance to contribute to an open source project and get paid for it :-)

[2021-12-08 08:48] OddDev commented on #1464
Vote to reopen :smile:

[2021-12-08 12:30] talhakca commented on #5080
Is there any update about this issue ?

[2021-12-08 14:54] achrinza commented on #5080
No updates at the moment.

[2021-12-08 18:22] l0u1sg opened #8115 "ENOENT: no such file or directory, scandir '[dir]/_.gitignore'"
Hello everyone

I'm trying to start a project with loopback, but I have a problem when I want to initialize it with the `lb4 app` command the questions work and as soon as it starts to initialize it I get this error like it can't find the gitignore. Do you have a solution?

I use
NodeJS : v17.1.0
NPM : v8.1.2
Yarn v1.22.5 (My default package manager)

[2021-12-09 02:54] achrinza commented on #8115
Hi @l0u1sg, as per-the [bug template](https://github.com/loopbackio/loopback-next/issues/new?assignees=&labels=bug&template=Bug_report.md), could you please provide the following information?

- Platform OS and architecture (`node -e 'console.log(process.platform, process.arch, process.versions.node)')
- LoopBack CLI version (`npm ls --global --depth=0 | grep loopback` if installed globally)

[2021-12-09 06:00] achrinza commented on #1464
Reopened :+1:

[2021-12-09 06:55] l0u1sg commented on #8115
Yep, sorry :
- MacOS High Sierra 10.13.6 ; darwin x64 17.1.0
- @loopback/cli version: 3.0.0

[2021-12-09 07:25] achrinza commented on #8115
Thanks; I wasn't able to replicate it with  macOS Big Sur.

Could you please try the following:

1. Reinstall and re-run the CLI
[code]
2. Use `npx`
[code]

/cc: @dhmlau Would you be able to test this?

[2021-12-11 11:09] fidgi opened #8116 "swagger-dist-ui dependency needs an upgrade"
## Steps to reproduce

run npm audit

## Current Behavior

# npm audit report

swagger-ui-dist
Severity: moderate
Server side request forgery in SwaggerUI - https://github.com/advisories/GHSA-qrmm-w75w-3wpx
No fix available
node_modules/swagger-ui-dist
  @loopback/rest-explorer
  Depends on vulnerable versions of swagger-ui-dist
  node_modules/@loopback/rest-explorer

2 moderate severity vulnerabi

[2021-12-11 17:52] jbovatsek commented on #8115
I had this issue as well:
win32 x64 17.2.0
@loopback/cli@3.0.0

A workaround that worked for me is to downgrade to Node 16.9.1

[2021-12-13 18:17] bradharms opened #8120 "Documentation Change Logs are Frequently Outdated"
## URL of the page

https://loopback.io/doc/en/lb4/changelog.repository.html
(and possibly others)

## Nature of the issue

The change logs for Loopback packages on the official documentation site sometimes go without any updates for a long time after new versions are published on npmjs.org.

## Expected behavior

Change logs on the Loopback documentation website should *always* include informatio

[2021-12-13 18:20] #8116 closed

[2021-12-13 18:21] frbuceta commented on #8116
It will be updated when we launch a new version of our package

[2021-12-13 18:27] dhmlau commented on #8120
@bradharms, thanks for reporting this.

Taking a quick look, I suspect that the changelog is one release behind. For example the change log for `@loopback/authentication` had it updated for v7.3.4 (the version before 8.0) around the same time as the last release.

In the past, as a temp workaround, _I thought_ a commit in loopback.io repo would force the script to rerun and pick up the latest chan

[2021-12-13 18:37] bradharms commented on #8120
Possibly related: #7483

[2021-12-13 18:53] achrinza commented on #8120
#7483 is a separate issue with regards to how certain terminals parse URLs for `@loopback/cli`.

@dhmlau `@loopback/docs` has a `version` NPM script, but I can't find calls to it. This seems to be responsible for generating the changelogs. Since the `changelogs` directory is in the gitignore (i.e. not published to NPM), it seems that the NPM Script needs to be called in the `loopback.io` repo.

[2021-12-14 00:17] gsantandrea commented on #7029
I would be interested in something like that too (a code generation tool for a contract-first development approach, with a clear separation between generated code and project code). Are there any updates on this issue?

@jrr  in end have you found other solutions ?

thank you.

[2021-12-14 11:14] l0u1sg commented on #8115
Ok I will try to downgrade my node

[2021-12-15 17:20] sstone1 opened #8121 "Excluded properties for OpenAPI schemas are recursive and should not be"
## Steps to reproduce

With a model B that is used by an entity A:

[code]

Examine the JSON schema produced by:

[code]

## Current Behavior

The `id` property is excluded from A, and also excluded from B (for the `A.b` property).

## Expected Behavior

The `id` property should only be excluded from A, and `A.b` should have an `id` property.

[2021-12-16 00:41] dhmlau commented on #8115
@achrinza, I'm also on macOS Big Sur.
I have the following Node.js and npm versions and `lb4` seems to run fine for me:
Node.js - v16.13.1, also tried v17.2.0
npm - v8.1.4

[2021-12-16 14:43] Habbiton commented on #6840
Any news on this?

[2021-12-16 15:10] achrinza commented on #6840
@Habbiton This feature isn't being actively worked on at the moment.

[2021-12-17 15:51] #8074 closed

[2021-12-17 15:57] #8121 closed

[2021-12-17 16:16] wdunn001 opened #8126 "Remove Assert as a dependency from @Loopback/Filter"
This library only seems to serve the purpose of doing simple assertions if it was removed the portability of the library would increase (as it would no longer be node dependent) this means it could be moved into any frontend framework without issue and be shared between the front and backend.

[2021-12-18 16:51] l0u1sg commented on #8115
I don't know why, but after a reboot of my mac, it works. Thanks for your help

[2021-12-18 16:51] #8115 closed

[2021-12-20 06:57] patelmayankce commented on #3047
Hello @dhmlau,

We would like to see our company Logo on Loopback site.

We are [Linearloop Pvt Ltd](https://www.linearloop.io). We are a service-based development company that helps startups to build solutions. For Building API's we are using Loopback 4 from last almost 2 years. Let me share a couple of projects where we used Loopback as Backend API Services.
- Univia: https://univia.in/
- Respon

[2021-12-21 16:19] #3042 closed

[2021-12-21 17:13] renovate[bot] opened #8150 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore: update dependency passport to ^0.5.2
 - [ ] chore: update dependency source-map-support to ^0.5.21
 - [ ] chore: update dependency

[2021-12-23 04:18] tm8747a commented on #7363
I'm also having an issue on Windows. Can't get this to work either with config file or using --controllerType option. I get prompted no matter what I do.

[2021-12-27 04:11] danysz commented on #5571
Hello
The issue is closed but I think that is still a problem. I am using the "model-endpoints" so there is no possibility to customize the "Controller" itself.
I think that a solution should be to create an option for the default controller to expose this information.

Regards

[2021-12-27 04:38] raymondfeng commented on #5571
You can simply inject http response object into your controller class or method parameter to set response headers.see https://loopback.io/doc/en/lb4/Accessing-http-request-response.html

[2021-12-27 04:43] danysz commented on #5571
This is not relevant since the model-endpoint is automatically generated

[2021-12-28 01:07] dhmlau commented on #3047
@hoang-anh-tuan @patelmayankce, thanks for your messages. I'm currently on winter break, will take a look at it in the new year.

@hoang-anh-tuan, sorry about the late reply.

[2021-12-28 11:07] linearloopdevops commented on #3047
@dhmlau Thanks for the acknowledgment!! Looking forward to see the logo on Loopback. :)

[2022-01-05 16:13] rakeshp89 commented on #8116
@frbuceta - Can you please let us know as to when the package (@loopback/rest-explorer) will be updated on npmjs? The version shows it was updated 2 months ago. Thanks in advance
 https://www.npmjs.com/package/@loopback/rest-explorer

[2022-01-06 17:09] frbuceta opened #8198 "chore: lock file maintenance"

[2022-01-06 17:09] #8198 closed

[2022-01-07 07:20] vvandens opened #8201 "Wrong glob generated when using a nested directory or array of directories in booters options"
### Describe the bug

Setting `dirs` to either a directory or an array of directories in a booter options generates a bad glob pattern under the hood when one of the dir path is deeply nested (i.e. contains a `/` in its relative path).

When setting `dirs: ['dirA/sub', 'dirB']` in a booter options, the glob directories part generated is : `@(dirA/sub|dirB)` from `BaseArtifactBooter.configure()`. T

[2022-01-07 17:23] dhmlau commented on #3047
@hoang-anh-tuan @patelmayankce @linearloopdevops , thanks for your patience. I'm wondering if you'd be interested in writing a few sentences about your usage and experience with LoopBack so that we can show them in [here](https://loopback.io/what-our-users-say.html) as well? It's up to you. If so, please feel free to email me at dhmlau@ca.ibm.com. If not, I'm happy to add your company's logo in th

[2022-01-07 18:02] patelmayankce commented on #3047
Thanks @dhmlau email sent with content!! Let me know if anything needed.

[2022-01-09 01:26] achrinza commented on #8201
Thanks for opening the issue, @vvandens! I was able to replicate it at my end.

For others' future reference, this "limitation" has been documented by the `node-glob` maintainer himself: https://github.com/isaacs/node-glob/issues/278#issuecomment-237291298

A workaround for now is to use `glob` which will take precedence over the other options.

[2022-01-10 07:52] vvandens commented on #8201
Thanks for the feedback @achrinza.
Reading your pending fix, I don't think that it will work when `dirs` is set as a string pointing to a nested directory (i.e. `dirs: 'dir/sub'`). *Brace expansion* will only work when there is  more than one expression passed to it. In this case, I believe that the directory string should be used as-is when constructing the `glob`.

[2022-01-10 17:08] frbuceta commented on #8116
This week the team will do an update on all packages. Sorry for the delay.

[2022-01-11 10:36] santomegonzalo commented on #5709
I had the same problem. I found that what I was missing was the **REPOSITORY** that connects the Model with the Datasource.

[code]
and then you can select the DataSource and the Models that you want to connect with it.

[2022-01-11 15:28] achrinza commented on #8201
Thanks for the clarification, @vvandens. You're right, brace expansion does not work for single expressions. I've updated the PR.

[2022-01-11 23:39] achrinza commented on #8116
A release has been published: https://github.com/loopbackio/loopback-next/commit/4a8886403cd9cb3ae529cb69712f077623cba2c2

[2022-01-12 14:25] rakeshp89 commented on #8116
@achrinza @frbuceta - Thank you very much for the update.

[2022-01-14 00:48] brian-labelle opened #8237 "Incorrect method used in express-composition example"
### Describe the bug

The [documentation](https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html) refers to method `pEvent` which is no longer used. Instead, we should use the `once` method that is used by the example

### Logs

_No response_

### Additional information

_No response_

### Reproduction

https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html

[2022-01-14 01:16] jcaplinger opened #8238 "Error: ENOENT: no such file or directory, scandir '{dir}/_.gitignore'"
### Describe the bug

OS Version: macOS Monterey 12.1
Node: darwin arm64 17.3.0
Loopback CLI: @loopback/cli@3.0.1
npm version: 8.3.0

When I execute the lb4 cli command to create a new application I receive the following error:

Emitted 'error' event on Readable instance at:
    at emitErrorNT (node:internal/streams/destroy:164:8)
    at emitErrorCloseNT (node:internal/streams/destroy:129:3)
    a

[2022-01-14 01:40] jcaplinger commented on #8238
So, I downgraded to node version: v16.13.2.  After the downgrade the lb4 cli works.  However, I encounter another error when I run npm start.

I now receive the error lb-clean command not found.

npm start

sh: lb-clean: command not found

[2022-01-14 01:58] jcaplinger commented on #8238
Updated my qs (querystring) package to the latest version and this solved my issue.  Issue is resolved.

[2022-01-14 01:58] #8238 closed

[2022-01-14 03:57] #8201 closed

[2022-01-18 12:38] Ismail-dev opened #8247 "lb4 app Command failing on windows OS"
### Describe the bug

As a developer I want to quickly scaffold an application. For this I'm using getting started docs https://loopback.io/doc/en/lb4/Getting-started.html

Installed node.js version 17.3.1 and loopback4 cli too npm i -g @loopback/cli

When I run the lb4 app command and provide the details in the CLI, the application scaffolding fails. Tried with all features, no features and selec

[2022-01-18 21:38] kpostekk commented on #8247
I can confirm it's not only windows issue. I have the same bug on macOS.
![Screenshot 2022-01-18 at 22 38 17](https://user-images.githubusercontent.com/30326322/150022760-1c749bfe-39e5-4884-8cf0-b88d80e8415a.png)

[2022-01-18 21:56] kpostekk commented on #8247
@Ismail-dev i think the issue is node version. I have reinstalled node to node 16 using nvm and everything works fine.

[2022-01-19 06:28] Ismail-dev commented on #8247
@kpostekk  Yes, looks like it works with node 16 with some errors logged

![image](https://user-images.githubusercontent.com/36616825/150076262-2e1ffae9-fe6d-45ab-9964-922de3205841.png)

[2022-01-19 22:24] 0x0aNL opened #8250 "Query performance issue in inclusion resolver for hasManyThrough"
### Describe the bug

Similar to #8074 , the hasManyThrough inclusion resolver suffers from a heavily degraded performance. It will fetch all through models for a given set of source models using a single query, but afterwards it will perform a query for each source model (or set of through models). For example, when querying 100 `Item`s and including its `Category` has-many-through relation, it w

[2022-01-20 10:00] ivanvaccari commented on #8250
Following this one, same issue for me. For comparison, the lb3 executing the same query  takes about 150ms, while lb4 takes an average of 2s.

My case is then more complex than this because involves datasource providers, and for each relation resolved, it create a datasource instance. This grow exponentially with nested relations.

[2022-01-20 13:23] stefanblaginov opened #8252 "Model's ID not set as private key in MySQL database"
### Describe the bug

If a field in a model is set to `id: true` using the `@property` decorator, then under normal behaviour, during service startup / migration, the respective MySQL database column should be set as primary key.

The bug consists of this setting of the primary key not happening.

For example, if the `foo.databaseModel.ts` file contains the following:
[code]
then column `foo_id` i

[2022-01-20 20:40] dhmlau commented on #8247
@Ismail-dev, I was also having issue to create a LB4 app using Node.js 17.x, but was working fine with Node.js 16.x.

Regarding the "could not resolve dependency" issue, if you run `npm install` in the newly created project, would it work? I also found https://stackoverflow.com/questions/64573177/unable-to-resolve-dependency-tree-error-when-installing-npm-packages, it suggests to run `npm install

[2022-01-24 16:06] jaishirole commented on #7584
@achrinza @marioestradarosa
I see that the file package.json (https://github.com/loopbackio/loopback-datasource-juggler/blob/fe82f6ac7919138e91c2690c5482ff8eb9b58215/package.json#L61) has the change reflected, but the latest tagged 4.26.0 version at npmjs (https://www.npmjs.com/package/loopback-datasource-juggler) still has the 'shortid' dependency.
It seems the code change hasn't made it to a pub

[2022-01-25 18:16] #8252 closed

[2022-01-25 18:16] stefanblaginov commented on #8252
Recreated inside loopbackio/loopback-connector-mysql repo:  https://github.com/loopbackio/loopback-connector-mysql/issues/461

[2022-01-26 06:03] tdeignan1 opened #8261 "belongsTo relation lookup fails when fields parameter for said relation omits id"
### Describe the bug

When combining an include parameter with a fields parameter which omits id, the belongsTo relation lookup fails.

Consider the following example, where we find Todo entities with their respective TodoList's titles.

`todoRepository.find({include: [{relation: 'todoList', scope: {fields: ['title']}}]});`

The returned Todo entities will be missing their respective TodoLists.

#

[2022-01-28 15:40] achrinza commented on #8261
Thanks for opening an issue, @tdeignan1.

AFAIK, this is expected behaviour. See: https://github.com/loopbackio/loopback-next/issues/6512#issuecomment-707320631

[2022-01-30 11:24] mikeevstropov commented on #2488
@bajtos Hi! Do you have time to take a look at https://github.com/loopbackio/loopback-next/pull/8271 Relation works fine but CI failing

[2022-02-03 11:09] jaishirole commented on #7584
@dhmlau Can you help get some update on above comment? The 'npm audit' continues to show us the vulnerabilities and I look forward to juggler package versioned higher than 4.26.0 to be available in npmjs library.

[2022-02-08 03:03] michaelerobertsjr opened #8295 "Failure during boot phase @loopback/metadata"
### Describe the bug

We had designed a LB4 application with a microservices architecture but have decided to refactor it into one repository/app. When we pulled in the front-end code we can get it to build both the front end and compile and build the LB4 backend, but we are unable to determine why we are getting an error during the `start` process.

We can see it successfully passes the `boot()`

[2022-02-08 17:41] rendy14s commented on #5757
Hi @agnes512

i am new on loopback and trying for learnig for my experince. But i have problem here.

i am following the documentation about Todo, and and make your own model, controller, repository.

When i try, i got the error message like this :

`{
  "error": {
    "statusCode": 422,
    "name": "UnprocessableEntityError",
    "message": "The request body is invalid. See error object `details`

[2022-02-09 15:16] achrinza commented on #8295
Thanks for opening an issue; I've tested around to see if I was able to replicate the issue, but unfortunately I was not able to reproduce.emitMetat

Since it seems like its caused after an attempted integration with a separate codebase, I suspect that the `tsconfig` was changed as well?

It believe that might be the issue as LoopBack 4's dependency injection framework depends on `reflect-metadata

[2022-02-09 15:19] achrinza commented on #7584
Sorry for the delay @jaishirole. We'll cut a new release alongside with the rest LoopBack 4 sometime this week.

[2022-02-12 09:53] TheCapedBaldi commented on #5671
Hi there! 👋🏻 Any update on this?

[2022-02-15 12:56] JakubMifek commented on #2766
Is there any news on this feature? It would be awesome to have

[2022-02-16 14:24] achrinza commented on #5671
No updates at the moment as there was no immediate need to migrate away from Lerna, and since there's a handful of internal monorepo scripts which depend on Lerna.

[2022-02-16 15:29] achrinza commented on #8295
Closing due to inactivity. Feel free to request to re-open or open a new issue if the problem persists.

[2022-02-16 15:29] #8295 closed

[2022-02-16 17:23] ghiden commented on #6020
@prachitin have you found any solutions for this? I'm trying to update node to 16 from 12 and started to notice this when we have `timeout` in `beginTransaction`.

[2022-02-17 05:14] chirappa-vishnupriya commented on #5546
Cannot start the application. TypeError: binding.on is not a function

I am using node 12 still i am facing this issue

[2022-02-17 10:38] savan-thakkar commented on #8295
Facing same issue with lb4 (only backend code) pls let me know if any solution is there

[2022-02-17 11:08] A-Corregidor opened #8308 "RAW Query fails when server and DB are on differents IPs"
### Describe the bug

LB4 app working as expected: several models, controllers, repositories, connected to a MySQL datasource.
- Development server: server and DB machine are the same
- Production server (deployed on AWS): server and DB machine are different (both are connected through local network)

If we query at model X through LB4 ORM (modelXRepository.find()), it works as expected.
If we que

[2022-02-17 13:51] achrinza commented on #8308
Duplicate of https://github.com/loopbackio/loopback-connector-mysql/issues/462

[2022-02-17 13:51] #8308 closed

[2022-02-18 18:12] kannant-sf commented on #4488
@dhmlau  am facing issue while creating post, i don't find any proper documentation on how to call post method and how many params we need to send in which param we need to send body data?

[2022-02-18 18:28] kannan007 commented on #4488
@dhmlau  i saw the way you had written in controllers and service file, tried the same in my code but am getting 400 status code error

[2022-02-19 09:47] amitinvizio commented on #1849
code: 'ER_NOT_SUPPORTED_AUTH_MODE',
  errno: 1251,
  sqlMessage: 'Client does not support authentication protocol requested by server; consider upgrading MySQL client',
  sqlState: '08004',
  fatal: true
}

i am using
node : 16.13.1
loopback4: 3.1.0
mysql: 8.0
"loopback-connector-mysql": "^5.4.4"
why i am not able to connect to database

[2022-02-19 15:50] nishankpathak opened #8331 "Cassandra UDT not being persisted in cassandra database"
### Describe the bug

The code is converts Json object in request payload to string for UDT. We debugged and found the issue with Cassandra.prototype.create function in loopback-connector-cassandra/lib/cassandra.js. Please provide the solution for the issue.

### Logs

[code]

### Additional information

_No response_

### Reproduction

https://github.com/nishankpathak/cassandrademo

[2022-02-24 08:03] tuanquynet commented on #2453
Yup, I expect it should tell me what is going wrong.

[2022-02-24 14:00] hizbullaharif commented on #5876
Where exactly should I change OAUTH_PROVIDERS_LOCATION ?

[2022-02-24 14:03] hizbullaharif commented on #5876
@raymondfeng where can i change?

[2022-02-25 07:58] rohitvishwakarma-sf opened #8353 "Missing description property in openapi.json on using @response"
### Describe the bug

When using **@response** decorator, spec property `description` of the path is missing. We debugged and found the issue in the `resolveControllerSpec` method at **openapi-v3/src/controller-spec.ts**

The issue lies in the following code
[code]
At Point 1 and Point 2, operationSpec is assinged the return value of `buildResponsesFromMetadata` method which is just an object havi

[2022-02-27 15:50] skypesky opened #8357 "[BUG]: @service() + asProxyWithInterceptors not work!"
# What is the problem
When I use the global interceptor:
method `@inject() + asProxyWithInterceptors` work.
but, method `@service() + asProxyWithInterceptors` doesn't work.
[code]

# Expected behavior

- console log output:

[code]

# Actual behavior

- console log output: Missing log => `ProxyFailService#work() interceptor success!`
[code]

# How to reproduce the problem

1. git clone https://git

[2022-02-27 16:57] raymondfeng commented on #8357
@skypesky Thank you for reporting the issue. Please verify the fix in #8358.

[2022-02-28 06:27] skypesky commented on #8357
@raymondfeng @achrinza
Thank you for your help. I think the submitted PR(#8358) has achieved the expected results.
(Because I saw you write the test, do I need to do additional verification for this?)

[2022-02-28 10:39] skypesky commented on #8357
I found that this proxy method is not supported: `@repository + asProxyWithInterceptors`.
This way we are forced to use inject....
[code]

[2022-02-28 20:08] #8357 closed

[2022-03-03 08:24] Jindu0506 commented on #4389
I am facing the very same problem while creating a record in postgres with postgres connector. Can anyone please help how to solve the issue?

[2022-03-03 09:48] TeoMihuc commented on #7006
hello, has anybody found the solving to this problem?

[2022-03-03 10:27] frbuceta opened #8366 "Rest filter is not working properly"
### Describe the bug

Query parameters sent by rest:
![Captura de pantalla de 2022-03-03 11-20-25](https://user-images.githubusercontent.com/13822438/156545342-132b3070-a752-4cec-b08d-8619297e4079.png)

Parameters received by LoopBack:
[code]

Parameters expected by LoopBack:
[code]

Therefore the functionality described in the [documentation](https://loopback.io/doc/en/lb4/Where-filter.html#where

[2022-03-08 19:13] emulienfou opened #8383 "Eslint naming convention issue since last upgrade"
### Describe the bug

Since full upgrade of all packages `yarn upgrade` it seems there is an issue with ESLint default Loopback configuration package `@loopback/eslint-config`.

For the next code auto-generated from `lb4 controller` command:
[code]
I now saw the next ESLint error: `ESLint: Object Literal Property name `application/json` must match one of the following formats: camelCase, UPPER_CAS

[2022-03-10 20:13] clewisln commented on #8383
I started getting this after upgrading my repository.

My (hopefully temporary) fix was to copy out the rule from @loopback/eslint-conifg, into .eslintrc.js, adding this to the bottom of the array:
[code]

[2022-03-11 08:55] nattyluke commented on #4842
Its really much easier, you can give a 2nd argument like this to inject:
`@inject(SecurityBindings.USER, {optional: true})`
Works perfectly! Found there: https://github.com/loopbackio/loopback-next/issues/7079

[2022-03-11 21:20] priyadharshini-gopal commented on #2277
I had the same issue when I did dynamic binding of datasource. Followed your suggestion and it worked. Thank you.

[2022-03-13 09:29] pkhodaveissi commented on #8383
Same here!

[2022-03-13 12:47] achrinza commented on #8383
This was introduced by https://github.com/typescript-eslint/typescript-eslint/pull/4582. WIll open a PR to revert this behaviour.

[2022-03-14 09:57] #8383 closed

[2022-03-14 13:20] clewisln commented on #8383
The commit linked on this ticket will only handle mime types.

This issue in this ticket also applies to the _response codes_ in openapi decorators:

[code]

Please review the approach being taken; there are probably more use cases not explicitly covered here.

Eslint itself provides the "objectLiteralProperty" selector now, it probably makes sense to leverage it.

[2022-03-16 17:36] snspinn opened #8401 "Creating app fails while installing @eslint/eslintrc: No matching version."
### Describe the bug

Creating an project/app with the `lb4` cli, using all the default settings when creating the project. It fails with `No matching version found for @eslint/eslintrc@^1.2.1.`

If I try to run the application with `npm start` it fails at with `sh: 1: lb-clean: not found`.

### Software versions
nvm: 0.39.1
node: v16.14.0
npm: 8.3.1

### Trying to run the API
[code]

### Logs

[c

[2022-03-17 10:25] dVp007 commented on #7777
Any updates on this issue ?

[2022-03-21 13:42] snspinn commented on #8401
## Update

After deleting the entire lb4 generated directory, I could rebuild the project without coming across the issue again.

At this time I'm not sure if it was the version of lb4 I was using : I foolishly ran `lb4 update` before confirming the installed version and, since I'm not familiar with what to expect from the `lb4 update` output, I'm not sure if I was running an older version before

[2022-03-21 13:42] #8401 closed

[2022-03-29 12:55] #7404 closed

[2022-03-30 12:40] #7361 closed

[2022-03-30 12:40] #7362 closed

[2022-03-30 12:40] #8072 closed

[2022-03-30 12:40] #8089 closed

[2022-03-31 03:18] #2488 closed

[2022-04-03 03:16] OnTheThirdDay commented on #2487
This issue has now been solved by https://github.com/loopbackio/loopback-next/commit/f4b8158387222ec64fe7ef6971da8151f2016dda

[2022-04-03 17:35] achrinza commented on #2487
Closed by: https://github.com/loopbackio/loopback-next/pull/8026
Continuation of work: https://github.com/loopbackio/loopback-next/discussions/8463

[2022-04-03 17:35] #2487 closed

[2022-04-04 02:50] andrei0807 opened #8465 "Cannot load db.datasource.config.json: ENOENT: no such file or directory"
### Describe the bug

I got this error after upgrade cli version to 3.2.0
There is db.datasource.ts file in /src/datasources folder.
but cli require db.datasource.config.json file.
![image](https://user-images.githubusercontent.com/32348752/161465703-d092e8d8-938b-47aa-ad06-17c749c43bad.png)

so to fix remove error I create empty db.datasource.config.json file in datasources folder
but I got other

[2022-04-04 17:50] achrinza commented on #8465
As per-[Documentation](https://github.com/loopbackio/loopback-next/blob/a60ae8e43a1ec9d65929f19bbd364e332f28503b/docs/site/DataSource-generator.md#legacy-json-based-configuration), please ensure that when using `lb4 repository`, either:

1. A DataSource class with `static defaultConfig` containing the connector's configuration is present
2. Legacy `*.datasource.config.json` (where `*` is the share

[2022-04-04 17:52] andrei0807 commented on #8465
![image](https://user-images.githubusercontent.com/32348752/161602478-6f0f38d8-a5bc-49bd-a734-83e2092815ca.png)
There was db.datasources.ts file. but I got error. so I created empty db.datasource.config.json file in order to remove error.

[2022-04-04 22:21] mgabeler-lee-6rs opened #8466 "@property.array doesn't work if nulls are allowed"
### Describe the bug

Trying to make a model that maps to a nullable JSON or array column in PostgreSQL, so the entity property needs to permit nulls.

A property declared like this:
[code]
Produces a `@property.array can only decorate array properties` from here: https://github.com/loopbackio/loopback-next/blob/a60ae8e43a1ec9d65929f19bbd364e332f28503b/packages/repository/src/decorators/model.deco

[2022-04-05 07:27] lygstate commented on #2230
Now the demo is at https://github.com/loopbackio/loopback-next/tree/master/examples/file-transfer

[2022-04-07 16:06] #8353 closed

[2022-04-07 20:57] josemotta commented on #4195
I would love to see Prisma & LoopBack integration. Currently, the LoopBack model generates the OpenAPI schema that becomes the source of truth for development. Where would Prisma schema enter the party?

[2022-04-08 05:53] achrinza commented on #4195
@josemotta

When it comes to ORMs, I see that there's two types of LoopBack integration that can be done:

1. LoopBack-to-ORM
2. ORM-to-LoopBack

---

LoopBack-to-ORM can be broken down into 2 "stages" of integration I'd call "skeleton integration" and "native integration"

1. **Skeleton integration** is the minimal implementation of bootstrapping the ORM into LoopBack 4 (e.g. connection lifecycle

[2022-04-08 13:54] josemotta commented on #4195
Thanks @achrinza for sharing your vision. Looking from the developer's perspective: first, you design a distributed model that requires APIs to communicate. The Prisma language allows modeling entities and their relationships very well but the LoopBack modeling schema is also fine, a standardization would be appreciated. Then, the OpenAPI is generated based on the language that defined the model.

[2022-04-08 13:56] dhmlau commented on #1979
@wifek-br, would this extension https://www.npmjs.com/package/@eyc/loopback-sendgrid fit what you're looking for?

[2022-04-08 14:15] dhmlau commented on #1979
I found another community extension: https://www.npmjs.com/package/@sourceloop/in-mail-service.

[2022-04-08 14:55] wifek-br commented on #1979
Thanks a lot

Le ven. 8 avr. 2022 à 15:15, Diana Lau ***@***.***> a écrit :

[2022-04-08 16:47] achrinza commented on #4195
Yes, that's would be the general idea: Use LB4/Prisma/Some other modelling to generate the OpenAPI 3.0 spec which can then be used by other API consumers. One additional scenario is to put common LB4 models into their own Node.js package and directly import that into multiple LB4 projects thereby providing consistent TypeScript definitions.

[2022-04-09 15:10] Embraceeeee opened #8475 "[BUG]: @inject() + asProxyWithInterceptors make repository function not work!"
### Describe the bug

# What is the problem
When I use the global interceptor:
 `@inject('repositorys.xxxRepository', {asProxyWithInterceptors: true})` will be successfully intercepted.
But many functions of repository variable  not work!
[code]
HTTP Status Code 500 Error:
[code]
# Expected behavior
The interceptor takes effect and the repository variable function work.
# Actual behavior
It throws

[2022-04-09 15:36] achrinza commented on #8475
Duplicate of https://github.com/loopbackio/loopback-next/discussions/8363

[2022-04-10 06:30] Embraceeeee commented on #8475
@achrinza Thank you for your reply.
I could be wrong, but I think the issue is different from #8368 , because repository function will throw exception when i add ` {asProxyWithInterceptors: true}` .
[code]
For more detail code, i've appended reproduction: [https://github.com/Embraceeeee/loopback4-repository-proxy-issue](https://github.com/Embraceeeee/loopback4-repository-proxy-issue)

[2022-04-11 07:37] achrinza commented on #8475
Hi @Embraceeeee, thanks for the reply and the the reproduction sandbox. I'll take a look at it. Ideally, both issues should be solvable through a single fix.

[2022-04-12 13:08] MartialSeron commented on #1830
Hi,
First comment in 2022 !
Any update on this very needed feature ?

[2022-04-13 06:38] MartialSeron commented on #1830
Thanks for the update @achrinza.
I'm trying Loopback for a new project and still discovering it. (still struggling with the basics of Typescript by the way) but when I feel more confident about it, maybe I'll dig into that.

[2022-04-13 23:55] raymondfeng commented on #8475
@Embraceeeee Can you try the following?

[code]

[2022-04-14 18:22] fidgi opened #8478 "Need upgrade of async package"
### Describe the bug

npm audit is reporting a prototype pollution vulnerabilty in async which is a dependency of @loopback/rest and @loopback/rest-explorer.

Is it possible to upgrade async package version ?

### Logs

[code]

### Additional information

n/a

### Reproduction

n/a

[2022-04-14 18:31] clewisln opened #8479 "ejs dependancy needs an upgrade"
### Describe the bug

## Steps to reproduce

run npm audit
## Current Behavior
# npm audit report
[code]

8 high severity vulnerabilities
## Expected Behavior
No moderate or higher vulnerability reported by npm audit

## Additional information
The project dependencies are compatible with @loopback/cli@3.2.0

Deps
├── @loopback/authentication-jwt@0.11.2
├── @loopback/authentication@8.1.2
├── @loopb

[2022-04-15 14:18] Embraceeeee commented on #8475
HI, @raymondfeng  thanks for your reply. I tried it and found the program run correctly. Do I have to add this `undefined` parameter?

[2022-04-15 16:18] frbuceta opened #8481 "Soap example tests do not work"
### Describe the bug

Invalid WSDL URL: https://calculator-webservice.mybluemix.net/calculator?wsdl

### Logs

_No response_

### Additional information

_No response_

### Reproduction

https://github.com/loopbackio/loopback-next/runs/6040201832?check_suite_focus=true

[2022-04-15 16:26] frbuceta commented on #8481
@loopbackio/loopback-maintainers the wsdl service is down. How should we proceed? Own solution?

[2022-04-15 16:36] frbuceta commented on #8479
https://github.com/loopbackio/loopback-next/blob/23ce18084714cbae16469ec325540f173f6789f6/packages/rest-explorer/package.json#L45

The EJS dependency is up to date

[2022-04-15 16:41] clewisln commented on #8479
@frbuceta, my rest explorer is at version 4.1.2, the latest.

[2022-04-15 16:45] frbuceta commented on #8479
Can you tell me if your problem could be this? https://github.com/loopbackio/loopback-next/issues/8478

[2022-04-15 16:48] achrinza commented on #8481
This is something the TSC is aware of as well. The SOAP service was under @raymondfeng's IBM Cloud account which he no longer has access to.

The SOAP service codebase can be found here: https://github.com/raymondfeng/calculator-webservice

It's on my backlog to re-create the service under my IBM Cloud account as an interim measure. Will look into this tomorrow.

[2022-04-15 16:50] clewisln commented on #8479
@frbuceta, yes, it is the same issue.

I posted the full audit log in the ticket, which you can see "async" at the top of the tree.

The common package that _loopback_ references, which depends on the vulnerable async module, is ejs. That is why this ticket is calling out the ejs module instead of async.

[2022-04-15 17:03] achrinza commented on #8479
I'll re-open the issue for now, but regardless of the issue status, it's currently not actionable from our end and, AFAIK, only affect the `devDependencies` tree (i.e. It doesn't affect production installation and deployments).

@renovate-bot will automatically bump all of our dependencies when they come through.

[2022-04-15 17:10] clewisln commented on #8479
@achrinza, understood.

I have, these past few days, learned how some of these audit reports are false positives; so apologies for any churn.

[2022-04-16 13:43] paramanandbalara commented on #2441
node -v
v16.14.1

 npm i -g loopback-cli
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated har-validator@5.1.5: this library is no longer supported
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN de

[2022-04-16 14:31] achrinza commented on #2441
Hi @paramanandbalara, `loopback-cli` is for LoopBack 3, which has reached End of Life. For the LoopBack 4 CLI, use `@loopback/cli`.

[2022-04-16 14:36] paramanandbalara commented on #2441
npm install -g @loopback/cli
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated source-map-resolve@0.5.3: See https://github.com/lydell/source-map-resolve#depre

[2022-04-16 14:36] paramanandbalara commented on #2441
npm install -g @loopback/cli
npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated source-map-resolve@0.5.3: See https://github.com/lydell/source-map-resolve#depre

[2022-04-16 14:42] achrinza commented on #2441
Based on the error provided, it looks like there's an issue with the PATH environment variable (i.e `node` command is not found). Unfortunately this is a hard issue for us to debug as the reason for the issue is quite circumstantial.

The general suggestion is to perform a full re-install of Node.js LTS and/or try `npx @loopback/cli`.

[2022-04-16 17:06] fidgi commented on #8479
@achrinza jake is in the production dependency tree of ejs which is in the production dependency tree of strong-error-handler , etc ... so IMHO, it might affect application based on loopback-next/rest package .

The good news is that the resolution is on it way out : https://github.com/jakejs/jake/commit/6470ead916cc244bd2e9a17b7a9b829754889704

[2022-04-18 14:18] achrinza commented on #8481
To give an update - I've tried to provision on my IBM Cloud within the free monthly credits of IBM Cloud Cloud Foundry Public but ran out of memory. Will try to explore other free-tier solutions (e.g. Azure App Service).

[2022-04-18 20:39] meir100 opened #8484 "lb4 app command on win10 does not work"
### Describe the bug

try to install loopback4 on win10-pro + node 16.14.2
npm i -g @loopback/cli  works, but: lb4 app does not work.

'lb4' is not recognized as an internal or external command,
operable program or batch file.

### Logs

_No response_

### Additional information

_No response_

### Reproduction

lb4 app

[2022-04-18 21:46] achrinza commented on #8484
These errors are typically caused by an environment-specific issue (e.g. improper `PATH`). The general recommendation is to re-install Node.js LTS and/or use `npx @loopback/cli`.

Unfortunately we can't provide any more help beyond that as historically these issues are hard to debug.

[2022-04-18 23:09] frbuceta commented on #8481
Perfect. Let's see if we solve to continue adding PR. Thanks @achrinza

[2022-04-19 07:27] #8484 closed

[2022-04-20 13:12] achrinza commented on #8479
Closing this as solved.

From https://github.com/loopbackio/loopback-next/pull/8486#issuecomment-1103915691:

[2022-04-20 13:12] #8479 closed

[2022-04-20 13:12] achrinza commented on #8478
Closing this as solved.

From https://github.com/loopbackio/loopback-next/pull/8486#issuecomment-1103915691:

[2022-04-20 13:12] #8478 closed

[2022-04-20 22:30] frbuceta commented on #8481
@achrinza When you correct the test you have to revert the change that I just committed

[2022-04-24 23:24] amineba1 commented on #2263
can you please give to us your full code ?

[2022-04-26 13:33] rajkaran commented on #2263
I do not have access to full source code. Above snippets should be enough to get connected to Active Directory. You will have to make sure provider.json has correct entries.

You can build a pure NodeJS application using same Passport library and then use above code to implement within Loopback 4. That's how I figured it out.

[2022-05-04 08:36] frbuceta opened #8556 "Validation does not accept null values for properties that are not required"
### Describe the bug

LoopBack does not process null properties when the property is defined as not required.

[code]

I am aware that it happens in the POST and PATCH methods but I suppose the same thing will happen in PUT

### Logs

[code]

[code]

### Additional information

_No response_

### Reproduction

_No response_

[2022-05-04 21:12] frbuceta commented on #8556
Solution:

[code]

[2022-05-04 21:12] #8556 closed

[2022-05-05 00:20] shailendramonu opened #8560 "Model type "buffer" is not working"
### Describe the bug

Getting below error after creating model with **buffer** type property.

**Model Property** (Entity):
@property({
    type: 'buffer',
  })
  image?: Buffer;`
`
Steps to reproduce:
1. Create new app: lb4 app
2. Add new model with buffer type property (not required field): lb4 model
3. Add any type of db: lb4 datasource
4. Create repository: lb4 repository
5. Create controller

[2022-05-06 09:53] achrinza commented on #7420
Closed by https://github.com/loopbackio/loopback-next/pull/8563

[2022-05-06 09:53] #7420 closed

[2022-05-06 14:38] iluxav opened #8572 "Loopback 4 auto generated model with required id failing validation"
### Describe the bug

I'm using an automated script that runs an auto-generation model using lb4 cli. Looks like validation expects id to be provided, but swagger missing it in its schema. Why I can't see the id property in swagger?

PLEASE NOTE! I don't want to modify manually my models
(https://stackoverflow.com/questions/72141571/loopback-4-auto-generated-model-with-required-id-failing-validati

[2022-05-06 14:43] achrinza commented on #8572
Could you clarify on this? Based on the code snippet provided, the model was either auto-generated using `lb4 discover`, or modified manually, as `lb4 model` does not generate database-specific fields.

[2022-05-06 17:27] iluxav commented on #8572
I don't have code pushed to git yet, it is a work in progress. Both the `lb4 discover` and `lb4 model` produces the same result.
I'm using an example DB from here: https://www.mysqltutorial.org/mysql-sample-database.aspx

Commands are:
1. `lb4 app demo --applicationName mysq`
2. `lb4 datasource DS --connector mysql` - BTW, --connector prop doesn't work as well, the interactive menu shows up[ to se

[2022-05-06 22:07] iluxav commented on #8572
@achrinza  Apparently `lb4 rest-crud` when crates *`.rest-config.ts` files in `model-endpoints` folder by default omits all the primary keys. If I generate repository and then controller, in the menu I can select not to omit `id`  and it shows in the open-api UI. If I select to omit it, it will not appear there however I got a validation error.

[2022-05-09 13:32] achrinza commented on #8572
Thanks for the clarifications, @iluxav; The additional info cleared up quite a bit and I think I've got the full picture of the setup.

My understanding thus far is:

1. `lb4 model activity --dataSource DS --table activity` in the parent comment is supposed to be `lb4 discover`
2. `lb4 rest-crud` was used instead of the `lb4 controller` + `lb4 repository` combo

I'll try to replicate the issue at

[2022-05-10 03:57] dany-sb commented on #1981
Still missing. is missing in "repository-json-schema" in "stringTypeToWrapper"
I suppose that is also missing in the opposite direction when we want to save it to the database.
This is really a missing important point

[2022-05-12 01:36] ktaletsk commented on #6718
Workaround for me was to set

[code]

I use nginx ingress as a reverse proxy.

[2022-05-20 13:58] #8572 closed

[2022-05-26 18:05] deepaksinghsolanki1989 opened #8637 "CLI not detecting custom base repositories"
### Describe the bug

I have recently updated my loopback 4 cli to version 4.0.0 that upgrade @loopback/repository from version 4.1.0 to 5.0.0. Now if I run **lb4 repository** command in the terminal then it is not showing the "Please select the repository base class" option i.e. it's not detecting my base repository class and directly generated repository with DefaultCrudRepository.

<img width="

[2022-05-26 21:33] tsegayegit commented on #3365
export  PATH="/Users/username/.npm-global/lib/node_modules/@loopback/cli:$PATH"

[2022-05-27 13:06] hardik-ebiz commented on #8637
+1

[2022-05-27 19:00] clewisln opened #8639 "Database connect error during app boot should not terminate node process"
### Describe the bug

### Steps to repro:
1. Scaffold new app (lb4 app)
2. Scaffold new mysql data source (lb4 datasource). Enter invalid connection info, so that the connection fails during boot.
3. Build and run the app

### Expected:
Server starts successfully, and /ping endpoint may be ran.

### Actual:
Server fails to boot and the process terminates

### Alternative with lazy connect:
If "laz

[2022-05-28 04:50] achrinza commented on #8637
@hardik-ebiz Please use the ":+1:" reaction on the parent comment instead of commenting "+1", thanks!

[2022-05-31 05:15] benmanong100 opened #8645 "errors/bugs when install"
### Describe the bug

npm WARN deprecated source-map-url@0.4.1: See https://github.com/lydell/source-map-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated source-map-resolve@0.5.3: See https://github.com/lydell/source-map-resolve#deprecated
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
n

[2022-05-31 05:16] benmanong100 commented on #8645
npm ERR! code ENOLOCK
npm ERR! audit This command requires an existing lockfile.
npm ERR! audit Try creating one first with: npm i --package-lock-only
npm ERR! audit Original error: loadVirtual requires existing shrinkwrap file

[2022-05-31 07:51] achrinza commented on #8645
99% of the time, the output of `npm audit` can be safely ignored.

In this case, we are not aware of any vulnerabilities in the latest LB4 release which causes a new vulnerability in LB4 projects.

For the 2nd error, please ensure that `package-lock.json` is generated using `npm install`.

[2022-05-31 10:50] neel-desh commented on #7947
@dhmlau can I pick this up?

[2022-05-31 14:20] clewisln commented on #8639
Upgraded CLI to 4.0, and the issue is still present.

Package versions:
"@loopback/boot": "^5.0.0",
"@loopback/core": "^4.0.0",
"@loopback/repository": "^5.0.0",
"@loopback/rest": "^12.0.0",
"@loopback/rest-explorer": "^5.0.0",
"@loopback/service-proxy": "^5.0.0",
"loopback-connector-mysql": "^5.4.4",
"tslib": "^2.0.0"

[2022-05-31 15:49] clewisln commented on #8639
### Additional Information:

Sinking an error event handler on the data source emitter seems to suppress the unhandled error.

As to why, this is unclear. However, this explains why the repository functions do not crash the server, if you get past boot with lazy connect, as internally the connection queuing sinks this event temporarily.

### Work around:

Forcing at least one error handler globall

[2022-06-03 14:15] neel-desh commented on #7947
I might not be able to pick this. sorry. Someone else could go ahead and pick this up.

[2022-06-06 18:15] bradharms commented on #8120
Any updates on this? It still appears to be a problem. Newest version of @loopback/repository listed in the change log is 4.1.2 but npm says 5.0.0.

[2022-06-06 18:45] AhmedAlaufi opened #8660 "change the loop"
### Describe the bug

use while loop instead of for efficiency @

### Logs

_No response_

### Additional information

use while loop instead of for efficiency @

### Reproduction

*

[2022-06-08 09:51] A-Corregidor opened #8667 "Polymorphic Relation - Wrong Doc"
### Describe the bug

Hi there!

Let's suppose a base Delivery model with 3 fields: id, deliverableType, and deliverableId.
If you follow the [docs](https://loopback.io/doc/en/lb4/Polymorphic-relation.html), you'll get this error when requesting some deliverable relations:

This is caused by this part of code, as you're asking it to search on the corresponding datasource for the field "deliverable

[2022-06-08 11:34] davidchieregato opened #8668 "Can't update 3.2.0 cli to 4.0.0"
### Describe the bug

Hello,

When I run any lb4 command I get prompted about cli compatibility
[code]

And later after skipping updates which would downgrade everything I get the notice that an update for the CLI is available:

[code]

and after running the command it will stay at 3.2.0 without updagring, `npm outdated -g` also doesn't show any update available.

I also added
[code]
In `.yo-rc.js

[2022-06-14 06:12] Momepukku opened #8681 "docs/site/Model.md"
### Describe the bug

invalid link on document page docs/site/Model.md

`- [Discover models from databases](DIscovering-models.md)`

should be
`- [Discover models from databases](Discovering-models.md)`

NOTE: capital letter "i"

### Logs

_No response_

### Additional information

_No response_

### Reproduction
go to page https://loopback.io/doc/en/lb4/Model.html#common-tasks and click on the li

[2022-06-14 09:00] RokeyJoe opened #8685 "Cannot migrate database schema error: The associated field "todoListId" in the foreign key constraint does not exist""
### Describe the bug

## What is the problem
When I was doing code practice in the **Running on relational databases** section, running `npm run migrate` reported an error:
`Cannot migrate database schema error: The associated field "todoListId" in the foreign key constraint does not exist`,
## The connected DB
Consistent with tutorial - Postgre DB

## How I handle it
**Change the value of the for

[2022-06-14 12:18] dhmlau commented on #8681
@Momepukku, would you be interested to submit a PR? thanks.

[2022-06-14 13:02] dhmlau commented on #8668
I just upgraded the cli from 3.2.0 to 4.1.0, and no issue encountered. I'm using Node.js 16.13.1 and npm 8.5.5 on MacOS. Not sure if it makes a difference.
Since @loopback/cli@4.1.0 was published yesterday, maybe you want to give it a try?

[2022-06-14 14:59] TvvH05ozL6 commented on #8668
[code]

I found out that lb4 -v is not consistent with the version shown by npm, it seems that npm actually updated the cli globally, but the lb4 command doesn't get the correct version

[code]

Any lb4 command still shows update available from 3.2.0 to 4.1.0

[2022-06-14 18:49] dhmlau commented on #8668
That's strange. Here is my output for `lb4 -v`:

[code]

It seems to have the latest.
I'm not sure what suggestion I could make other than uninstall/reinstall `@loopback/cli` globally.

[2022-06-14 22:50] davidchieregato commented on #8668
So, it seems that the problem is not related to loopback but it has something to do with how linux manages /usr/bin and /usr/local/bin, I solved it by removing manually the lb4 binary, npm uninstall would not remove it.

[code]

[2022-06-14 22:50] #8668 closed

[2022-06-15 02:56] aqua-nerd commented on #5282
Hi guys, any update on this one? I would really love to use Loopback4 for some simple soap to rest conversion that I currently do in LB3 very easily using lb soap to set it all up. LB4 is a different story and difficult to use for non-developers like myself. It would be great if LB4 could offer that same functionality.

[2022-06-21 17:55] dhmlau commented on #8660
@AhmedAlaufi, thanks for your suggestion. Would you like to submit a PR and see how we can improve the code? Thanks.

[2022-06-21 21:57] jricardooliveira opened #8700 "Loopback-Connector-MongoDB fails connecting to Atlas due to still using mongodb 3.7 driver"
### Describe the bug

Hi,

When trying to connect with cluster protocol to mongodb with the URI mongodb+srv://  after npm migrate it will fail with:

"Cannot migrate database schema MongoParseError: Load balancer mode requires driver version 4+"

Despite loopback-connector-mongodb documentation shows support for mongodb+srv the problem is that the node_module that comes with loopback-connector-mon

[2022-06-22 00:11] mbryk commented on #6093
This issue is still linked from the "[Connecting to Back-end Service Tutorials](https://loopback.io/doc/en/lb4/Connecting-to-back-end.html)" page. Will that page be receiving any documentation? Thank you!

[2022-06-23 23:56] MiddleMan5 commented on #6029
Still relevant

[2022-06-23 23:58] MiddleMan5 commented on #6029
This is still an issue, @jannyHou can you reopen?

[2022-06-24 07:44] samarpanB commented on #3357
@dhmlau @achrinza This is a very significant issue. We fixed it by overriding the createAll method in repository. But that's not right, because I have to do this at multiple places. I can create a mixin and do this too, but since it might be a performance bug for most of the databases, should we not have it in LB4 itself ?

Having said that, I tried to look for a solution to this in connector leve

[2022-06-24 17:45] jonrcrowell commented on #1934
This worked for me but the encrypt setting needs to be a boolean and not a string. (I removed the quotes around "true".)

{ "name": "smscore",
"connector": "mssql",
"url": "************",
"host": "************",
"port": 1433,
"user": "***********",
"password": "********",
"database": "smscore",
"encrypt": true  }

[2022-06-24 21:52] #8681 closed

[2022-06-26 13:15] OnTheThirdDay commented on #8667
Thanks for raising this issue. I will check the example given in the doc. Is the repository specified properly with deliverable field?

btw a working example in the test: https://github.com/loopbackio/loopback-next/blob/1e48456fde20e691d85b506f5c8e296c3c64b1fe/packages/repository-tests/src/crud/relations/fixtures/models/customer.model.ts#L64
https://github.com/loopbackio/loopback-next/blob/1e48456

[2022-06-26 14:05] achrinza commented on #8700
Thanks for opening an issue, @jricardooliveira. It's something that's been under our radar for a while, but didn't have the resources to execute earlier.

There' currently an open PR that may interest you: https://github.com/loopbackio/loopback-connector-mongodb/pull/672

[2022-06-26 14:09] achrinza commented on #8700
I'll proceed to close this issue in favour of https://github.com/loopbackio/loopback-connector-mongodb/issues/638, which should cover the same things.

[2022-06-26 14:09] achrinza commented on #8700
Duplicate of https://github.com/loopbackio/loopback-connector-mongodb/issues/638

[2022-06-26 14:09] #8700 closed

[2022-06-26 17:37] achrinza commented on #3357
A summary of the code flow is:

1. LB4 Repository calls Juggler Model Class `.create`
2. Juggler Model Class gets the above method (and others) from being [mixin-ed](https://github.com/loopbackio/loopback-datasource-juggler/blob/f8d7ca94740887e9beefc586442f025c12c29e7f/lib/datasource.js#L742) Juggler [DataAccessObject](https://github.com/loopbackio/loopback-next/blob/e6eacffa3b36c1769861ad5a4db71c

[2022-06-27 04:22] samarpan-b commented on #3357
Thanks @achrinza . However, I think mongodb connector also uses the same sql connector. Mongo DB has different query for insert multiple. I'll check and confirm.

[2022-06-27 04:45] OnTheThirdDay commented on #8667
I have upload an example repo at https://github.com/OnTheThirdDay/lb4-polymorphic-example

[2022-06-27 05:42] achrinza commented on #3357
@samarpan-b The MongoDB connector inherits from `Connector` instead of `SQLConnector`:

https://github.com/loopbackio/loopback-connector-mongodb/blob/51d132a48c0b559978a3d379a9695ff6bc1d888a/lib/mongodb.js#L211

Though it does implement the necessary CRUD functions to be compatible with Juggler DataAccessObject.

[2022-06-27 14:17] achrinza commented on #5282
Unfortunately no new updates AFAIK; Just haven't had the resources to work on this feature; It's still possible to do it manually without the CLI, and we're open to community contributions to implement this feature if anyone wants to champion it.

[2022-06-28 21:46] dansterrett commented on #1948
This workaround worked for me: https://github.com/brianc/node-postgres/issues/1844#issuecomment-862436757

The solution is to override the parser for `Date` fields:
[code]

[2022-07-03 08:10] samarpanB commented on #3357
@achrinza I checked if the multiple insert in one query dialect is available in different databases or not and also if its available, is it same or not ?
I observed that only [postgresql](https://www.postgresqltutorial.com/postgresql-tutorial/postgresql-insert-multiple-rows/), [mysql](https://www.mysqltutorial.org/mysql-insert-multiple-rows/), [sql server](https://www.sqlservertutorial.net/sql-ser

[2022-07-04 06:50] A-Corregidor commented on #8667
Hi @OnTheThirdDay ! Everything is OK in the repository documentation

[2022-07-04 06:51] A-Corregidor commented on #8667
Hi @OnTheThirdDay ! Repository documentation is OK

[2022-07-04 07:06] OnTheThirdDay commented on #8667
Hi. There's a bug which might cause some wrong results. I will write a fix later.

[2022-07-13 11:01] rukeshpaudel commented on #6964
@albjeremias how did you fix the issue?

[2022-07-25 19:06] mgabeler-lee-6rs opened #8772 "Ghosted on Security Report"
### Describe the bug

I started a responsible security disclosure back in February. Conversations proceeded reasonably and in late May, @achrinza informed me that a release to fix the issue was expected in roughly the following week.

In the roughly two months since, I have received no updates and no reply to my repeated requests for any updates on the issue.

I do not want to break from the respo

[2022-07-26 16:19] matias79 commented on #110
Hola, he practicado realizar crud con loopback, me parece perfecto,,,,, pero como hacer para subir estre proyecto a un servidor real, dado que localmente fuciona...... para centralizar mi duda en angular se usa ng build y listo, crea la carpeta disc y de ahi se sube el archivo al servidor real,,,,,, mi duda esta en como hacer esto pero con loopback

mil gracias por la respuesta

[2022-07-26 19:50] cuttingd opened #8773 "LB4 no longer supports inqLimit for Includes."
### Describe the bug

We are migrating from lb3 to lb4 and we encountered an oracle error (Error: ORA-01795: maximum number of expressions in a list is 1000) when using an Include for one of our queries. This is as a result of the fact that it appears that lb4 no longer supports the inqLimit property on the datasource and therefore is not splitting the queries into multiple queries.

### Logs

[co

[2022-07-27 01:45] achrinza commented on #8772
Hi @mgabeler-lee-6rs, thank you for bringing this to our attention. I apologise as I had not been able to properly manage and hand off this security report to the other maintainers, and that the security report ended up being ghosted.

Unfortunately I am not able to push the code until this weekend due to conscription, but I'll discuss internally with the other maintainers if they're willing to he

[2022-07-27 14:33] cuttingd commented on #3444
I'm asking for this, if possible. I have some queries that I am not interested in paging and just want the api to return all of the rows even if it's more than 1000 in oracle.

[2022-07-28 03:47] mgabeler-lee-6rs commented on #8772
Thank you for following up @achrinza, I look forward to the release :)

[2022-07-28 11:54] achrinza commented on #3444
Re-opening the issue for further discussion.

[2022-07-29 14:29] cuttingd commented on #3444
For further info on why we need this, please see the bug report I submitted #8773

[2022-07-30 23:11] lemadane commented on #1690
node_modules/@types/sinon/index.d.ts:1447:53 - error TS2694: Namespace '"/home/lemz/Projects/Loopback/todo-list/node_modules/@sinonjs/fake-timers/types/fake-timers-src"' has no exported member 'FakeTimerInstallOpts'.

1447         useFakeTimers: boolean | Partial<FakeTimers.FakeTimerInstallOpts>;
[code]

Found 2 errors in the same file, starting at: node_modules/@types/sinon/index.d.ts:1447

[2022-07-30 23:50] lemadane opened #8775 "Has no exported member 'FakeTimerInstallOpts'"
### Describe the bug

Has no exported member 'FakeTimerInstallOpts' when 'npm run build'.

### Logs

[code]

### Additional information

_No response_

### Reproduction

https://github.com/lemadane/todolist-loopback4

[2022-08-06 04:08] dcalvom commented on #3047
Hi @dhmlau we just dropped you a message to your mailbox :)

[2022-08-06 23:52] achrinza opened #8802 "Callback-based remote method in mounted LB3 app causes error when connection is prematurely terminated"
### Discussed in https://github.com/loopbackio/loopback-next/discussions/7196

<div type='discussions-op-text'>

<sup>Originally posted by **rmsgit** January  5, 2021</sup>
Hi all, I'm trying to mount loopback 3 app into loopback 4 app. Currently, I  successfully mounted according to the official documentation. But when I trying to do a load test (virtual users: 300 / sec, timeout: 10s), "ERR_HTTP

[2022-08-09 07:17] Barnette-ao commented on #8639
Hello,I come across a Database connection problem too,please listen to me.

I want to connect to the mongodb database by using loopback4,after I using `lb4 datasource`,

my generated datasource file as follow:

[code]
### Expect

**I have created a database named echo3Dcms in mongoDB.**

### Actual
when I check the database list in MongoDB, there is no database named echo3Dcms, I don't know what s

[2022-08-09 10:43] Barnette-ao opened #8809 "the lb4 datasource can't create a database automatically in mongoDB"
### Describe the bug

### Desciption of the bug
when I want create a datasource to connect with mongoDB database,then I read the document ,I enter the `lb4 datasource` in the CLI. when I finish the creation of the datasource, the  .datasource.ts file as follows:

[code]

### Expect
I expect after I finish the creation of the datasource,the testdb will automatically created in the MongoDB.

### Act

[2022-08-10 05:26] achrinza commented on #8809
LoopBack 4 does not perform auto-migration on every startup. On most projects ,`npm run migrate` can be used to run auto-update. The `--rebuild` flag can be used to perform a full, **destructive** auto-migrate.

See https://loopback.io/doc/en/lb4/Database-migrations.html for more details.

[2022-08-10 07:17] Barnette-ao commented on #8809
OK,and I check the document again,and find that the repository is the essential part of connetor of mongoDB,as for when I use `lb4 datasource ` to create a connector configuration file ,**then it will indeed not create an database automatically!**

and after I create a controller of a test model ,then I post an data instance of it.

as a result, when I check the db list in mongoDB CLI,the new data

[2022-08-10 07:17] #8809 closed

[2022-08-12 02:23] welchsteven commented on #2043
It looks like there are several duplicate issues for the same request. Another open one is here #2308. Also, it looks like @frbuceta actually finished some code in #6452. Any chance we can get this feature merged soon? If there is something I can do to move this feature forward please let me know.

[2022-08-15 08:38] Barnette-ao opened #8824 "enter `lb4 example express-composition` in loopback4 CLI,and return FetchError,reason:connect ECONNREFUSED"
### Describe the bug

I want to practice creating an express application with loopback REST API,and I just follow tutorial，the link of the document for tutorial is https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html

### Problem Desciption
In loopback CLI，I just enter the shell  script `lb4 example express-composition`

### Expecte
it can automatically download the filefolder of exp

[2022-08-15 11:43] Barnette-ao opened #8825 "the path problem in tutorial section of document which the caption is **Creating an Express Application with LoopBack REST API**"
### Describe the bug

I just follow the tutorial to creating an express application with loopback REST API in codebox.

after follow the tutorial to create an application use `lb4 app Note`,add Note model, add a datasource, there is no mistake.

However in the part  Create a Facade Express Application（https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html#create-a-facade-express-applic

[2022-08-16 08:08] AlexDM0 commented on #6518
Has there been any progress on this subject? The issue persists with the latest version of loopback.

[2022-08-16 08:34] binhnd10 commented on #6509
you can use `app.repository()` to add this repository to your application

[code]

[2022-08-18 14:33] sudhirvolteo commented on #3787
I want to use the cluster in electronjs app. Where pm2 is not available. Then how to use cluster

[2022-08-31 08:50] Barnette-ao commented on #3720
there is something confused by setting `mongodb: {dataType: 'ObjectID'},` in my loopback4 application.

as above say, if I get a model User,and I call the this.userRepository.create(user),it will return a User object instance,UserInstance.

### Expect
according to my understand of citing criteria,I expect
[code]

### Actural
[code]
this make me confused about the criteria cited above.

please give

[2022-09-13 14:18] razyon opened #8910 "Empty relation should return empty array"
### Describe the bug

Hi,

I'm migrating a project from loopback 3 to loopback 4 and I found inconsistencies between the two regarding relations.

I am querying a model which have a HasMany relation on another model like this:

[code]

The query looks like this:
`/users?filter={"include": ["orders"]}`

In  the answer, I got an `orders` property for `users` that have orders **but** no `orders` prop

[2022-09-15 10:01] achrinza commented on #8660
There isn't much info in this issue that showcases the performance improvements, and the reason behind it.

Hence, there isn't much that's actionable at the moment.

Closing it for now.

[2022-09-15 10:01] #8660 closed

[2022-09-15 11:44] samarpanB commented on #3357
Point 1 to 5 are done and PRs are raised. @achrinza please do take a look.

[2022-09-19 05:29] gvillenave commented on #1464
So what is the official recommendation to use environment variables in loopback 4? Is this item still pending?

[2022-09-20 06:58] ashelman-ec commented on #5709
Hit this error too. Similar to @madaky I had the Todo example (extended with TodoList) running with MySQL with no problems. Then followed the [JWT Authentication](https://loopback.io/doc/en/lb4/Authentication-tutorial.html) tutorial to try to add authentication.

Trying to migrate the database returns the error:

[code]

Without DB migration the app will run, but trying POST /signup to the UserCon

[2022-09-20 08:19] ashelman-ec commented on #5709
Update: tried following the blog post mentioned above by @dhmlau using Option 2.

However, still hit the same error when trying to migrate:
[code]

[2022-09-20 11:33] ashelman-ec commented on #5709
Update: was successful with [blog post](https://mobilediana.medium.com/using-postgresql-with-loopback4-jwt-authentication-extension-d956ac707746) Option 1, which is manually adding the SQL tables to the existing database. This was painful, and not easy to maintain, but at least it works for now.

Using MySQL database , here are the SQL commands used to create the tables and the foreign key (note:

[2022-09-20 13:27] razyon commented on #5244
Hi, any news on this issue ?

[2022-09-20 20:55] grendes-wunder commented on #6518
If anyone seeks for a workaround, this should do the trick:
[code]

[2022-09-20 20:57] rendesg commented on #6518
If anyone seeks for a workaround, this should do the trick:

[code]

[2022-09-22 02:11] ashelman-ec commented on #1981
I would like this feature too.

Use case: JSON location data stored & retrieved from MySQL database.

[2022-09-25 19:36] samarpanB commented on #3357
Point 6 is also done. But its in draft. We need connector and juggler to release first. Then only I can update dependency in @loopback/repository.

[2022-09-28 18:00] Employee87 opened #8957 "Setting a foreign key as a nullable key in model file is not working in loopback 4"
### Describe the bug

I want to set up a field that is defined as a foreign key, but also supports the ability to be null. In the model file, I have this already

[code]

But what I want to do is something like this

[code]

but that does not work. How can I set this up?

### Logs

_No response_

### Additional information

_No response_

### Reproduction

not needed as problem is obvious

[2022-09-29 05:44] shubhamp-sf commented on #2163
@dericcain In case of extensions created with `lb4 extension` this still throws error, as in case of extensions `@loopback/core` is in `devDependencies` not `dependencies`.

![image](https://user-images.githubusercontent.com/110156023/192948440-c3050f4e-ccee-444b-9cc2-267b8204f7df.png)

[2022-09-29 18:07] aaqilniz opened #8963 "lb4 datasource with -c option creates datasource file with errors"
### Describe the bug

Creating a datasource with -c option and providing JSON data creates a datasource with errors.

Looks like when a datasource is being created with -c option, the `env` & a few other properties from yeoman are being added to the datasource configuration. The `env` property increases the number of lines in the datasource file to ~30K.

`.env` property being added to `this.optio

[2022-09-30 08:57] pookdeveloper commented on #7684
The same problem is so slow when run project in local

[2022-10-02 08:38] aaqilniz opened #8966 "lb4 discover command with -c option fails to use those properties."
### Describe the bug

Running lb4 discover command with the --config/-c option doesn't recognize the properties.

The `dataSource` field is being recognized but other fields like `all` & `schema` are not being recognized.

### Logs

_No response_

### Additional information

I have shared a sample repo for another issue I created that is somewhat relevant to this. The same repo could be used to re

[2022-10-04 17:21] souravahmed1 commented on #2305
3rd class course.

[2022-10-05 05:52] kevin-wong-lifesite opened #8979 "Remote Methods in models subfolders from Loopback 3 are not being exposed when mounted."
### Describe the bug

I'm attempting to mount my Loopback 3 project in Loopback 4 following the instructions presented in the guide. The mounted project starts successfully and I have access to most of my API endpoints except for those that are in sub folders in the model directory of my Loopback 3 project. The mounting process seems to be only looking at specific files with the model-name + .js a

[2022-10-05 21:15] kevin-wong-lifesite commented on #8979
I figured out the issue.

I was using an external package called loopback-component-model-fragments to help break up the remote methods for models into sub folders. The configuration for where this package was looking for models needed to be changed to

`"sources": ["../lb3app/server/models", "../lb3app/common/models"]`

for the code to properly pick up the other methods.

[2022-10-05 21:15] #8979 closed

[2022-10-06 23:41] grodrigo commented on #1464
I agree that we need a recomendation or a path, a search in google shows [version 3](https://loopback.io/doc/en/lb3/Environment-specific-configuration.html), but in the last release it isn't any more viable.
And here I find a dotenv and env-yaml advice, really thanks for that.
At least leave a comment in the official documentation that we could configure an environment on this way, newbies will fi

[2022-10-07 09:41] balbertho commented on #8295
@michaelerobertsjr
Hi, I came across the same issue today after running "lb4 update". And after debug, I found out that an API endpoint is undefined for responseModelOrSpec and it turns out that the endpoint has not defined the "schema" variable, and in my case it is "Schema" instead, after changing it back to correct case, the issue is resolved.

![image](https://user-images.githubusercontent.com

[2022-10-09 11:41] ewrayjohnson opened #8990 "Documentation contains broken links"
### Describe the bug

Here is just one example.
This page: https://loopback.io/doc/en/lb4/Creating-datasource-runtime.html
Contains a link to this:
https://apidocs.strongloop.com/loopback-datasource-juggler/#datasource [DataSource documentation]
Which is not resolvable

### Logs

_No response_

### Additional information

_No response_

### Reproduction

Visit the specified page and click on the “

[2022-10-14 16:32] TheMatrix97 opened #9024 "Invalid TS models when properties are nullable"

[2022-10-24 00:03] chaseoli commented on #5709
I was getting a similar error when following along with the todo-list example and then tried to follow the jwt example and use mssql instead of in-memory db.  Error output look like:

[code]
but then I updated the `migrate.ts`  for the following
![image](https://user-images.githubusercontent.com/6847000/197424770-6b78fccb-8c6c-425a-b5e3-4fefb06e59d0.png)

and this fixed my error and allowed me to

[2022-10-27 13:01] A-Corregidor opened #9041 "Circular Dependency Between Model A-B When Setting Relations"
### Describe the bug

(A) Model:
{
	@property({
		type: 'string',
		id: true,
		defaultFn: 'uuid',
	})
	id: string;

	@property({
		type: 'string',
		required: true,
		index: true,
	})
	name: string;

	@hasMany(() => ModelB, { keyTo: 'modelAId' })
	ModelBs: ModelB[];
}

-----------------------------------------------------------------

(B) Model:
{
	@property({
		type: 'string',
		id: true,
		defa

[2022-10-27 16:12] aaqilniz opened #9043 "lb4 discover creates buggy code in case DB has a blob field - build fails"
### Describe the bug

If there is a blob field in the database (MySQL in my case), running lb4 discover successfully creates a model but running the build script generates the following error:

`src/models/amounts.model.ts:69:11 - error TS2304: Cannot find name 'Binary'. 69   image?: Binary; ~~~~~~`

Changing the field type to `Buffer` fixes the issue.

### Logs

[code]

### Additional information

[2022-11-04 10:35] shubhamp-sf opened #9063 "search feature isn't working on loopback.io"
### Describe the bug

![image](https://user-images.githubusercontent.com/110156023/199952474-1d770b19-681d-44ec-aaaf-e1651fdfdccb.png)

### Logs

_No response_

### Additional information

_No response_

### Reproduction

visit https://loopback.io/search/?q=datasource

[2022-11-08 05:04] achrinza commented on #9043
Thanks for opening an issue; we believe this should be a MySQL connector-specific issue. As such, we'll consolidate this issue with https://github.com/loopbackio/loopback-connector-mysql/issues/472.

[2022-11-08 05:04] achrinza commented on #9043
Duplicate of https://github.com/loopbackio/loopback-connector-mysql/issues/472

[2022-11-08 05:04] #9043 closed

[2022-11-08 12:01] samarpanB opened #9071 "entityToData method in legacy-juggler-bridge is not async function but mentioned as async"
### Describe the bug

This function here - https://github.com/loopbackio/loopback-next/blob/02778f373627ae6c5d61c5320e3019df3b6cda9d/packages/repository/src/repositories/legacy-juggler-bridge.ts#L785

Below here, this function is not doing any asynchronous operation so we dont need it to be async.

[code]

### Logs

_No response_

### Additional information

_No response_

### Reproduction

There

[2022-11-08 12:23] samarpanB commented on #9041
Can you please share an example repo where it can be reproduced ? I am asking because we use it in many places and have never encountered this error in such cases. hasmany and belongsto are meant to work always in tandem and circular dependency is handled in relations code.

[2022-11-08 13:39] achauhanvonage commented on #7006
Any update on this?

[2022-11-08 18:35] aaqilniz commented on #9043
Hi @achrinza. I opened up the issue at both repos because I was not sure where the issue should be handled.

There was a PR in this repo that was closed without being merged. Here is the [link](https://github.com/loopbackio/loopback-next/pull/6476) to it.

Then we can change the type being returned from loopback-connector-mysql [here](https://github.com/loopbackio/loopback-connector-mysql/blob/21e

[2022-11-09 04:46] jaidev228 commented on #7006
Any idea about this issue ?

[2022-11-13 15:18] #9071 closed

[2022-11-15 14:50] #8963 closed

[2022-11-15 14:50] #8966 closed

[2022-11-16 12:33] achrinza opened #9090 "Remove IBM Cloud Foundry Public deployment docs"
IBM Cloud Foundry Public has been deprecated (EOL is on 1 June 2023). We should update the documentation with a warning banner. The intention is to:

1. inform users of the deprecation allowing
2. Allow existing IBM Cloud Foundry Public users to continue referencing the documentation
3. Allow existing non-IBM flavoured (e.g. FOSS, VMware Tanzu Application Runtime) to continue referencing the docum

[2022-11-16 23:21] #3357 closed

[2022-11-18 01:40] arjunsubedi-varosa opened #9095 "lb4 command not found on windows 10."
5dn@googlegroups.com

### Describe the bug

System information.
Windows 10,
Node Version: 16.15.1
Npm Version: 8.11.0

<img width="220" alt="lb4 not found" src="https://user-images.githubusercontent.com/118448464/202596198-fa9a1086-283f-47f4-a7ff-77a1a3c1a643.PNG">

### Logs

[code]

### Additional information

_No response_

### Reproduction

https://github.com/arjunsubedi-varosa/loopback

[2022-11-19 03:28] shubhamp-sf commented on #9095
What were the logs when you ran `npm i -g @loopback/cli`?
Was there no error or warning during installation?

[2022-11-20 09:01] arjunsubedi-varosa opened #9098 "id=null from the response using mongodb"
### Describe the bug

When i am getting the data from the use i am getting response with id=null.
[code]

### Logs

_No response_

### Additional information

_No response_

### Reproduction

https://github.com/arjunsubedi-varosa/mumme-develop

[2022-11-20 10:29] achrinza commented on #9098
Hi @arjunsubedi-varosa, please provide the following to assist:

1. A _publicly-accessible_ reproduction sandbox
2. A database schema / data setup script
3. The steps to use the reproduction sandbox

[2022-11-20 10:34] achrinza commented on #9095
I'll proceed to close this issue as it seems to have been resolved in the conversation at the loopback mailing list.

[2022-11-20 10:34] #9095 closed

[2022-11-23 19:56] adrienrn commented on #5709
I had the same issue. Make sure you don't have 2 datasources under datasources/. I had 2: memory and postgresql. By running the script with a few `console.log` (I know that's debugging level 0), I got to see that the migrate script runs fine for postgresql then errors out for the memory. It makes sense since all my repositories are bound to postgresql and not memory.

On this dump, you can see it