[2019-11-15 16:11] #3742 closed

[2019-11-15 19:01] agnes512 commented on #3453
@bajtos do we want to support all query clauses `include`, `where`, etc. or `filter.include` only in this task?

[2019-11-15 20:48] agnes512 commented on #2209
I spot some problems that might crash the app:

1. The type of `hasOne` property is an object instead of  an array( has **one**).
[code]

2. You are not using the default foreign key names (i.e `person_id` in your case. default is `personId`).
To customize it, you need to do the following:
in **Person.model**:
[code]
  in **Info.model:**
[code]

Ref: [HasOne relation customizing name](https://loop

[2019-11-15 21:08] agnes512 commented on #3372
@letynsoft @Hideart hi, we have documented it on our site, the [Relation metadata](https://loopback.io/doc/en/lb4/HasMany-relation.html#relation-metadata) section shows how to customize your foreign key name and db column names. Please try it out and let us know if it works.

@sestienne I don't think we support sqlite3, you might need to use MySQL connector.

[2019-11-15 21:40] fidgi commented on #4089
I'm fine with any logging framework that is extensible and that provide a way to hide sensible data in the logs depending of the log level. For what I know winston is ok.
fluentd  is also a good choice for us as we planned to use it to collect logs from our loopback-based microservices running in Kubernetes.

[2019-11-15 21:45] dhmlau opened #4135 "Missing `models/index.ts` after running `lb4 openapi` command"
After running the `lb4 openapi` command, models are created.  However, there is no `index.ts` file in the `models` folder.  If I generate the repository for the model, it will get an error during build:

[code]

It's not a big issue because I can create the index.ts, but generating the index.ts when generating the models would be helpful.

## Steps to reproduce

1. In a LB application, run
[code]

[2019-11-15 21:50] raymondfeng commented on #4135
Interesting. Maybe it's a regression? The index files should be updated by calling https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/artifact-generator.js#L127

[2019-11-15 21:52] raymondfeng commented on #4089
For the record, [Pino](https://github.com/pinojs/pino) seems to focus more on efficiency but its extensibility has room for improvement, for example, formatter to transform logs and transports to collect logs to physical destinations.

[2019-11-15 21:57] dhmlau commented on #4135
I'm using the latest version of @loopback/cli.  Just tried it again to make sure, it doesn't generate the index.ts.

[2019-11-15 22:41] dhmlau commented on #4135
After I added the index.ts in `models` folder, I realized that `PetRelations` does not exist but the repository class is referencing it.

I've put my project in https://github.com/dhmlau/openapi-test.

[2019-11-16 02:20] stoffason opened #4137 "BelongsTo relation with include and OASGraph return string error"
Hi,
Firstly, you guys are doing great work, but I'm struggling to solve this issue...

If I create a simple relation (either HasOne or HasMany) with belongsTo, and also use registerInclusionResolver etc to include the related model in the result, everything works fine and I get a nested result as expected..
But if using OASGraph, I receive a string error

example..

storage.model
[code]

company-p

[2019-11-16 15:12] muhrifai7 commented on #1352
thanks for your response sir,

it still doesnt works, because the relation is Page hasMany Section hasMany Content, so i want to retrive the data like this :

[
    {
        "id": 1,
        "name": "LandingPage",
        "sections": [
            {
                "id": 2,
                "pageId": 1,
                "name": "string",
                "header": "string",
                "sub_head

[2019-11-17 06:05] niti2539 opened #4138 "I want to disable API explorer how to do it ?"
How to disable API explorer page ?
I do as the document say but it not work
here is my config

const config = {
    rest: {
      port: +(process.env.PORT || 3000),
      host: process.env.HOST,
      openApiSpec: {
        setServersFromRequest: true,
        disabled: true
      },
      apiExplorer: {
        disabled: true
      }
    }
  };

openApiSpec can't access but  API explorer can acce

[2019-11-17 07:57] achrinza commented on #4138
`rest.apiExplorer.disabled` [only disables redirect to an externally-hosted Swagger UI instance](https://loopback.io/doc/en/lb4/Server.html#disable-redirect-to-api-explorer).

To disable the self-hosted instance, reverse the [steps to add self-hosted `apiExplorer`](https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html)

[2019-11-17 11:14] dudipsh commented on #2029
@chadmg  I have the same issue, did you figure it out ?

[2019-11-17 15:24] agnes512 commented on #1352
@muhrifai7 I see. So you would like to traverse nested relations not multiple relations. Currently we don't support this feature yet. See https://github.com/strongloop/loopback-next/issues/3453. Feel free to join the discussion there :D

[2019-11-17 20:37] shadyanwar opened #4139 "Add a rate limiter to the app"
Hello,
What are your top recommendations to apply rate limiting to an LB4 app? Use an interceptor for example? Or is there a different approach you recommend? If interceptors are the way to go, I would be grateful if you give some pointers on how to best do it. Can we make use of an NPM package like [this one](https://www.npmjs.com/package/limiter)?

I believe such an important topic can be warran

[2019-11-17 21:23] Sharonee commented on #3700
Hello @bajtos
can I start working on this issue?

[2019-11-17 21:28] raymondfeng commented on #4139
It should be fairly easy to add an interceptor to call the rate limiting module.

[2019-11-17 22:30] shadyanwar commented on #4139
@raymondfeng The [documentation](https://loopback.io/doc/en/lb4/Interceptors.html#global-interceptors) isn't clear to me. To implement a global interceptor, I have to add this to `index.js`:

[code]

I have created this provider class:
[code]

Highly appreciate your advice.

[2019-11-18 04:12] deepakrkris commented on #3770
In the open api spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#encoding-object) , explanation for explode setting is,
[code]
explode setting has no effect on complex json objects

[2019-11-18 04:15] deepakrkris commented on #3770
spike https://github.com/strongloop/loopback-next/pull/4141 tries to test passing complex object as uri encoded values in query params

[2019-11-18 05:34] achrinza commented on #4085
Glanced at the code, looks like this is responsible for setting the js type:

https://github.com/strongloop/loopback-next/blob/9569a120278070d00977919f7da224c8d3dc3ac1/packages/cli/generators/openapi/schema-helper.js#L235-L259

Also need to update this unit test:

https://github.com/strongloop/loopback-next/blob/9569a120278070d00977919f7da224c8d3dc3ac1/packages/cli/test/unit/openapi/schema-helper.

[2019-11-18 06:07] raymondfeng commented on #4085
@achrinza PR is welcome!

[2019-11-18 07:06] deepakrkris commented on #3770
@bajtos looks like your proposal https://github.com/OAI/OpenAPI-Specification/issues/1706#issuecomment-522474407 has not got much consensus. We are left with style: deepObject for now. so I have used the explode setting to check if url encoding is required in the above spike.

[2019-11-18 19:38] emonddr opened #4147 "TodoList tutorial - GET ​/todos​/{id}​/todo-list gives unexpected response"
TodoList tutorial - GET ​/todos​/{id}​/todo-list gives unexpected response
for a todo item that is not part of a todo list.

## Current Behavior
In the `Todo tutorial`, a few todo items are already inside db.json.

[code]
They are not associated with any list.
No problem.

I reach the end of the `TodoList tutorial`
I create a TodoList #1
I add two new todo items to it.
No problem.

[code]

When I

[2019-11-18 19:55] dougal83 commented on #2029
@dudipsh I've just followed the tutorial and the result is as expected (ie. todos).  I'd suggest ensuring that you are fully up to date.  Works with following:

- openapi-to-graphql-cli version: 1.6.2
- @loopback/cli version: 1.25.1

If it helps, a working example here: https://github.com/dougal83/loopback4-example-graphql

[2019-11-18 20:32] dhmlau commented on #4147
@emonddr, I've followed the todo list tutorial and reproduced the problem.

For the `Additional Information`:

Covered in https://github.com/strongloop/loopback-next/issues/2980.

To clarify your point, I think the generated code shows:
[code]

but in the [example code](https://github.com/strongloop/loopback-next/blob/master/examples/todo-list/src/models/todo-list.model.ts#L43-L46), it has:
[code]

[2019-11-18 20:47] dhmlau commented on #4139
@shadyanwar, are you using the `lb4 interceptor` to create the interceptor?
I think if you specify that it's a global interceptor, you don't need to bind it to the app yourself.

Reference: https://medium.com/loopback/learning-loopback-4-interceptors-part-1-global-interceptors-163a7c5701b9.

[2019-11-18 20:50] agnes512 commented on #4147
Hmm. I thought `2` was solved in https://github.com/strongloop/loopback-next/issues/3742 (add explanations for interfaces such as `TodoListRelations`..)

And the main problem in `3` is `id` should be required but in the tutorial is false.

[2019-11-18 21:01] dhmlau commented on #4147
For 2, I think the issue here is the generated code is different from the code in the examples/todo-list package.

[2019-11-18 22:53] mamiller93 commented on #3453
Including the where in this scope would **greatly** help us out. While we don't need it for our current implementation (admin users can see everything), we will need to start filtering our related model results in the coming few months and having the ability to scope/where would be huge. It would be a shame to have to drop to a direct SQL implementation.

[2019-11-18 23:25] frbuceta commented on #4062
@raymondfeng I think it would be good to be able to select this option, in large projects with a lot of test it can be a great improvement in the time of processing the tests

But I think this doesn't work with lb-eslint because it doesn't select the files that says `lint-staged`

I take this in conclusion because it takes longer than in other projects with more test than I have

[2019-11-18 23:36] deepakrkris commented on #2208
@bajtos , url encoded json object in a query param is already working fine currently in lb4. API Explorer has a gap in addressing this as a client. IMO , any of the changes suggested in https://github.com/strongloop/loopback-next/issues/2208#issuecomment-533008671 is not necessary

[2019-11-18 23:41] deepakrkris commented on #3770
@dhmlau I am changing the original problem description in the issue. I think Miroslav's suggestion was given in a different context. It has nothing to do with the API Explorer not handling json objects in query params.

[2019-11-19 00:23] frbuceta commented on #4062
# With eslint & prettier
![Screenshot 2019-11-19 at 00 33 25](https://user-images.githubusercontent.com/13822438/69105165-ca982080-0a6a-11ea-926a-5e8d1987518b.png)

Video: https://drive.google.com/open?id=1mPLqqFbTwFhOI7nbYKODiRdmCQQq8Fg4

# With lb-eslint & lb-prettier
![Screenshot 2019-11-19 at 00 38 08](https://user-images.githubusercontent.com/13822438/69105189-da176980-0a6a-11ea-80da-8c84e5c5

[2019-11-19 03:31] emonddr commented on #4147
Even specifying
id is ID field
id is autogenerated
for both Todo and TodoList models, and following all the instructions in the Todo Tutorial and TodoList tutorial, there is still a bug with:

GET GET /todos​/{todo id}/todo-list  ; where todo id =1 (not part of a todo list)

[2019-11-19 03:40] emonddr commented on #4147
@bajtos , are the navigational properties for `TodoListRelations` supposed to be filled in by `lb4 relation` command, or by hand? Please advise. thanks. (see comment and Diana's comments above regarding `TodoListRelations`)

[2019-11-19 05:36] deepakrkris commented on #3770
@bajtos the spike https://github.com/strongloop/loopback-next/issues/3770 works perfectly fine, API explorer supports url encoding of complex object in query params when implementing steps suggested by you.

[2019-11-19 05:39] deepakrkris commented on #3770
<img width="1076" alt="Screen Shot 2019-11-18 at 9 39 21 PM" src="https://user-images.githubusercontent.com/7688315/69119579-efc96680-0a4b-11ea-8e9f-c8fab73b0c88.png">

[2019-11-19 07:56] Oliverq755 opened #4156 "Creating repository is failing with error 'events.js:187 throw er; // Unhandled 'error' event'"
## Steps to reproduce

1. clone a new project or download the zip of loopback project
2. extract the loopback project at your desire location
3. install the node modules using `npm install`
4. create a model for your project using `lb4 model`
5. create a repository for your existing datasource using `lb4 repository`

I downloaded the zip folder of my project and extracted to my location. I install

[2019-11-19 10:17] ScottYueqiang opened #4159 "elasticsearch"
Do you have an example of how loopback4 operates elasticsearch

[2019-11-19 11:20] shadyanwar commented on #3222
@bajtos
After updating @loopback/build and following the migration guide, tsconfig.json  is giving this error:
File '/{projectDirectory}/credentials/dev/myDs.dev.datasource.json' is not under 'rootDir' '/{projectDirectory}/src'. 'rootDir' is expected to contain all source files.ts

The reason why I have my datasource json files in a folder is that I am using key encryption (with my host) to upload

[2019-11-19 12:22] bajtos commented on #3700
@Sharonee sure, let me assign it to you.

[2019-11-19 14:03] bajtos commented on #4156
How is your datasource configured? Do you have `src/datasources/update.datasource.config.json` present in your project? Maybe you have `src/datasources/update.datasource.json` instead?

We have recently changed the file names of datasource JSON files to accommodate breaking changes introduced by TypeScript version 3.7.

@raymondfeng Do we have any migration guide showing our users how to deal with

[2019-11-19 14:05] bajtos commented on #4156
Here is the pull request that introduced the change: https://github.com/strongloop/loopback-next/pull/4060

[2019-11-19 14:18] bajtos commented on #3749
This feature is tracked by https://github.com/strongloop/loopback-next/issues/3343

[2019-11-19 14:19] frbuceta commented on #3602
As soon as I have a moment, I update in code.

[2019-11-19 14:46] bajtos commented on #4147
The navigational properties will be filled by `lb4 relation` once we implement #2988, that's a known feature that we are missing.

For now, users have to fill the interface entries manually.

[2019-11-19 14:48] bajtos commented on #4147
Personally, I'd prefer to make the ID always generated by the database (property defined with `generated: true` and model defined with setting `forceId: true` unless `forceId` is applied automatically for auto-generated PKs, which probably is).

[2019-11-19 15:48] richardpringle commented on #3602
@bajtos, I completely agree. Leaking the implementation details into LB4 would be a mistake IMO. Using UUIDs as the primary key is pretty common in my experience. I also think that `@loopback/repository` could possibly offer UUID generation (in-app generation instead of in the db)  if the majority of cases are centred around UUIDs.

As for Mongo... I'm not quite sure what a good solution for that

[2019-11-19 16:10] emonddr commented on #4147
Adding the navigational properties by hand to to the Todo and TodoList models doesn't fix the bug I am seeing.

[2019-11-19 16:14] dhmlau commented on #4147
There seems to be more than one issue captured in this ticket. I'd like to propose:
1. Keep this issue as the bug reported in the original description
2. Open another issue to make sure the tutorials is up-to-date, e.g.
  - we need to add the navigational properties by hand.
  - make the 2 models' `id` to be autogen.

@emonddr , could you please create a new ticket for #2? Thanks.

[2019-11-19 16:27] frbuceta opened #4160 "Loopback does not process MSSQL tables with 100 million records"
## Steps to reproduce

At work we have started using Loopback with Mssql and today we have to connect with a view with 100 million records but I have encountered a problem ... Tedious is not able to process the request with filters or limit

## Current Behavior

I am currently returning an error like this:
`?filter[limit]=100: 500 RequestError: Timeout: Request failed to complete in 15000ms`

## E

[2019-11-19 16:28] frbuceta commented on #4160
I am not sure if this is a Loopback or Tedious or loopback-connector-mssql problem

[2019-11-19 17:35] dhmlau commented on #2208
@deepakrkris, do you think you can add acceptance criteria for this task?  Thinking whether we can include this in Dec. Thanks.

[2019-11-19 17:42] raymondfeng commented on #4160
Can you set `DEBUG=loopback:connector:mssql` to see what SQL statement is sent?

[2019-11-19 17:43] #4085 closed

[2019-11-19 17:44] dhmlau commented on #4147
This is a stretch goal for Q4. Could you please:
- add acceptance criteria to this issue
- open a new issue based on the [above comment](https://github.com/strongloop/loopback-next/issues/4147#issuecomment-555581085)?
Thanks!

[2019-11-19 18:29] jannyHou commented on #3453
@agnes512 I believe this story only supports `filter.include`, the `scope` object is for the related items.

[2019-11-19 18:41] emonddr opened #4161 "Improve TodoList Tutorial instructions and completed tutorial 'lb4 example todo-list'"
Right now, the artifacts of the completed  'lb4 example todo-list' don't completely match
the artifacts created by hand when user follows the Todo Tutorial and then the TodoList tutorial.

## Differences

- There is a TodoListImageController in finished tutorial that is not part of the tutorial instructions
- The Todo and TodoList models don't seem to have navigational properties. See TodoRelation

[2019-11-19 18:42] dhmlau commented on #4161
@emonddr, could you please add acceptance criteria so that the team can estimate? Thanks.

[2019-11-19 18:50] dhmlau commented on #4159
@ScottYueqiang, there's a community connector for ElasticSearch: https://loopback.io/doc/en/community/Elasticsearch-connector.html. It should be compatible with LoopBack 4 as well. Could you please give it a try?

cc @raymondfeng

[2019-11-19 18:57] emonddr commented on #4147
I have moved the conversation of the differences between the `TodoList Tutorial instructions` and completed tutorial contents in  `lb4 example todo-list` to the issue: https://github.com/strongloop/loopback-next/issues/4161

This issue is now only about the problem described in the Description.

[2019-11-19 19:11] dhmlau commented on #3343
@agnes512 , could you please add the acceptance criteria so that the team can estimate? Thanks.
I believe we're looking for a way to allow users to specify their naming convention?

[2019-11-19 19:40] raymondfeng commented on #1054
A blog is being developed - https://github.com/strongloop/strongloop.com/pull/227

[2019-11-19 22:49] dhmlau commented on #1998
Closing per the discussion in https://github.com/strongloop/loopback-next/pull/4144/files#r347996012

[2019-11-19 22:49] #1998 closed

[2019-11-19 23:45] #3437 closed

[2019-11-20 00:28] evantrimboli commented on #4085
To clarify, this means that when the server receives the value it will be of type `string`, not of type `Date`?

[2019-11-20 00:56] ScottYueqiang commented on #4159
@dhmlau thanks

[2019-11-20 00:56] #4159 closed

[2019-11-20 02:42] achrinza commented on #4085
@evantrimboli If my understanding is correct, then yes; when generated via the CLI, the type in Javascript would be a `string`, though it can always be changed manually.

[2019-11-20 08:15] Oliverq755 commented on #4156
@bajtos Yes, this is causing because of the latest changes to accommodate breaking changes introduced by TypeScript version 3.7. I uninstalled the current version and installed 1.21.3 version and it worked. I will try the migration later.

[2019-11-20 08:55] HamzaMansouri7 opened #4173 "error TS5056: Cannot write file '/home/node/api/dist/src/datasources/admin.datasource.d.ts' because it would be overwritten by multiple input files"
Hi #4170 Loopback DEVS i get this problem after i try to run my server API , im using #angular 7 and #loopback  error reference :TS5056
  i'm sure that  problem in typescript version  ..i'm using  (3.4.5) right now  , i have tried with many version like 3.8.1 ==> error in --target  flag
3.5.1===>error in extends must be rooted or relative
1.7.5===> include & exclude  Error   in Tsconfig
i need hel

[2019-11-20 11:50] achrinza commented on #4173
Hi,

You've mentioned that you're using `typescript@3.8.1`. I've checked [Typescript's published versions](https://www.npmjs.com/package/typescript) and found no reference to the version mentioned. Could you clarify on that?

If you've just updated to `typescript@3.7.2`, then [a recent change has led to a file naming conflict](https://github.com/strongloop/loopback-next/pull/4051), which may be th

[2019-11-20 12:27] achrinza commented on #4062
Based on the the videos by @frbuceta, `lb-eslint` and `lb-prettier` aren't accepting the same arguments. `lint-staged` may not be included as part of `lb4 app`, but it's behaviour (or how to set it up with `lint-staged`) could be better documented.

[2019-11-20 12:44] frbuceta commented on #4062
Correct, it seems that lb-eslint and lb-prettier do not accept the same parameters as eslint or prettier

[2019-11-20 14:06] frbuceta commented on #4160
### LOG
[code]

[2019-11-20 15:28] frbuceta commented on #4160
This cannot be ... in the repository there is not the same code as in my node_modules

https://github.com/strongloop/loopback-connector-mysql/blob/ddb1c96a761443c9cc3b17a7630e87b22dd740ee/lib/mysql.js#L497-L501

And I have the latest version installed. How can this be! `v3.6.0`

[2019-11-20 18:11] raymondfeng commented on #4173
Close per @achrinza 's comment.

[2019-11-20 18:11] #4173 closed

[2019-11-20 19:28] jannyHou commented on #1996
Thank you @bajtos your proposal looks good to team, just a quick confirm of the status of this story: you will add documentation then merge strongloop/loopback4-example-shopping#385 right?

[2019-11-20 21:45] marioestradarosa commented on #4085
@evantrimboli , can you verify if the issue is resolved?. IMHO  it should validate the date field, meaning it should send an error when adding invalid dates automatically. The following excerpt do that in the `jsonChema` validator's hint.

[code]

[2019-11-20 21:47] marioestradarosa commented on #4089
@raymondfeng , we have been using `winston` as a logger in production with no problems so far. Indeed we chose it because of its formatter capabilities.

[2019-11-20 21:49] evantrimboli commented on #4085
I'm not sure having it as a string is the best resolution for this. I would have expected that the type would still be a date, since it can still be represented as such.

[2019-11-20 21:55] #3714 closed

[2019-11-20 22:08] raymondfeng commented on #4089
Please check out https://github.com/strongloop/loopback-next/blob/logging/extensions/logging/README.md. Feedback is welcome!

[2019-11-20 22:10] marioestradarosa commented on #4085
Correct, I am using the regular `lb4 model` CLI and whenever I selected a date field, it automatically create this line in the model file:

[code]

If `thedate` field is not date-time but only date as in my case, then the `post`   method to create a new row sends back the `unprocessable entity` error. So we need to hint the schema validator we need a `date` and not `date-time` by just adding the f

[2019-11-20 22:35] fidgi commented on #4089
@raymondfeng Thanks for this great work. .

[2019-11-20 23:20] achrinza commented on #4085
@evantrimboli I believe it's `string` still may be the best solution as using `Date` means converting from OpenAPI's definition to Javascript's definition of  a `Date`. [OpenAPI uses RFC3339](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#data-types) while Javascript uses [ISO 8601](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14). It should be left

[2019-11-20 23:43] marioestradarosa commented on #4085
@achrinza you did a great job on the PR, which means now the property is of type `string`, but we might need to add the following for the validator: `date` or `datetime` or `time` which is information coming along in the `yml` file, otherwise it won't throw `unprocessable entity` but it will not validate a `date` anymore, or maybe I am not looking it from the right point of view ?.

[code]

[2019-11-21 01:43] achrinza commented on #4085
@marioestradarosa I think the issue is 2-fold:

1. CLI OpenAPI code generation should include the following to ensure proper client-side code generation:

[code]

2. There should be validation for `type: 'date'`.

    For this issue, I created a quick lb4 app with a model that has a `Date`-type property. This is what I've observed:

    * Sending a full date-time (e.g. `2019-11-21T01:27:27.497Z`)

[2019-11-21 02:05] achrinza commented on #4085
@marioestradarosa Please disregard my previous comment. The issue is resolved by adding:

[code]

I've made a test lb4 app and found that the validation is working fine when the above code is added. A `422: UnprocessableEntityError` is thrown whenever the request does not provide a valid OpenAPI `date` type.

I agree that the `jsonSchema` property should be added as part of the CLI OpenAPI and Mod

[2019-11-21 03:34] dhmlau commented on #4160
@frbuceta, https://github.com/strongloop/loopback-connector-mysql/blob/ddb1c96a761443c9cc3b17a7630e87b22dd740ee/lib/mysql.js#L497-L501 is the same as the one in the `master` branch.  The latest version is `v5.4.2` https://github.com/strongloop/loopback-connector-mysql/releases. Perhaps you can try to update to 5.4.2?

[2019-11-21 04:57] marioestradarosa commented on #4085
`lb4 openapi`  is consuming a file in OpenAPI format that contains the date, date-time or time final data type already. so it would be easier for this cli to generate the appropriate `jsonSchema`.

 As for the `lb4 model` I believe that we might need to ask for it. But this issue relates only to `lb4 openapi`.  You can go ahead and 1) reopen the issue or 2) create a new one with a request for this

[2019-11-21 05:31] joshuaanthonydeleon opened #4177 "Unit tests seems to call unrealted code"
When running the npm run test I'm getting the following output from my tests. Reading through the error log it seems to be bringing up unrelated code that isn't even called or connected by a relation on the model or repo. I have another test working perfectly fine, but whenever I go to add a second test this happens. I'm guessing its something messed up with the configuration of the test. I can pr

[2019-11-21 05:45] ScottYueqiang opened #4179 "elastcisearch and loopback4"
i get data from elastic, and the error happens:
Trace: [illegal_argument_exception] Fielddata is disabled on text fields by default. Set fielddata=true on [id] in order to load fielddata in memory by uninverting the inverted index. Note that this can however use significant memory. Alternatively use a keyword field instead.
    at D:\lb4\es\node_modules\loopback-connector-es\lib\esConnector.js:869

[2019-11-21 06:35] achrinza commented on #4085
@marioestradarosa

Yup, I think we can agree that's the best way forward

Apologies if it's my ignorance, but my main concern isn't about adding it as a feature, more of the function of `@property({type: 'Date'})` and it's relevance (e.g. what does it do?).

[2019-11-21 07:59] frbuceta commented on #4160
Ouch sorry, I got confused as a repository so it wasn't in code, it's not MySQL, it's MsSQL

Sorry

[2019-11-21 08:05] frbuceta commented on #4160
https://github.com/strongloop/loopback-connector-mssql/blob/88eb7fe9e206b32dc6524d2455dac9e71f8b6ce9/lib/mssql.js#L486-L507

This is where I think the code is failing, I am using MsSQL 2019

[2019-11-21 10:26] bajtos commented on #2208
IMO, we need to finish the spike story #3770 first. Until then, we don't know how the solution is going to look like.

[2019-11-21 10:28] bajtos commented on #3770
I though I have posted a comment, but it looks it got lost :(

[2019-11-21 10:29] bajtos commented on #3770
Ah, never mind, the discussion is happening here:
https://github.com/strongloop/loopback-next/pull/4141#discussion_r347766228

Please ignore my comment above and continue the discussion in the pull request.

[2019-11-21 15:08] frbuceta commented on #3694
Can someone help me to implement in the sequence? I am not able with the current documentation

[2019-11-21 15:28] jannyHou commented on #3694
@frbuceta Team is still working on the documentation. It's promising to be ready in next week. I will update the link here then :)

[2019-11-21 15:30] frbuceta commented on #3694
Ok I subscribe to the issue

[2019-11-21 15:30] hacksparrow opened #4181 "Lb3AppBooterComponent: restRouter mode does not load `loopback.token` middleware"
`Lb3AppBooterComponent` fails to load the `loopback.token` middleware.

The cause is https://github.com/strongloop/loopback-next/blob/6a972db819aab9f831a26da4f2f81abe3c26efe7/packages/booter-lb3app/src/lb3app.booter.ts#L139

not setting up the `loopback.rest` middleware as expected.

[2019-11-21 15:35] bajtos commented on #4059
Here are my findings:
- Your application uses loopback-connector-mongodb version 4.x which does not support `dataType: 'ObjectID'` yet. This feature was implemented in the version 5.0.0.
- When I upgrade the connector to v5 and try to create an order, the server crashes.

Request body for `POST /orders`:

[code]

Error printed to the console:

[code]

The value `5dd6ade040647f35d746e7a4` is the sa

[2019-11-21 15:41] bajtos commented on #4059
I managed to track down the problem, will open a pull request.

[2019-11-21 15:43] nabdelgadir commented on #3886
All PRs have been merged 🎉

[2019-11-21 15:43] #3886 closed

[2019-11-21 15:44] agnes512 commented on #4059
@bajtos I got the same error too yesterday when I was testing out `dataType: ObjectId` ( in loopback-next folder, so the modules should be latest) with replacement operations. I think I solved it by only decorating the `customerId` with `mongodb: {dataType: 'ObjectID'}` ( not `id` property`). But based on the test cases in [mongo id.test.js](https://github.com/strongloop/loopback-connector-mongodb

[2019-11-21 16:06] bajtos commented on #4181
This is working as intended, `restRouter` mode means exactly what it says - we load the LoopBack REST router only, nothing more.

We need to find out how to enable LB3 authentication based on `loopback.token` middleware when using `restRoutes` mode and then update the migration guide for migrating Express middleware.

[2019-11-21 16:32] bajtos commented on #4059
With my fix in place (see https://github.com/strongloop/loopback-connector-mongodb/pull/553), the records in the database are created with the correct type.

[code]

Now I need to verify that inclusion resolvers work too, unfortunately I have run out of time today.

[2019-11-21 16:40] bajtos commented on #4059
Weird. When creating new orders via `POST /orders` endpoint, it looks like my user-supplied `customerId` is replaced with a unique auto-generated object id.

[2019-11-21 16:40] bobby91560 opened #4182 "Catching errors from service calling external API"
Hello,

How can I catch an error and the request made when calling a external API using services and loopback-connector-rest ? My purpose is to log the response's error in a different way than Loopback.

Example of what I want to do :

[code]
Thanks in advance

[2019-11-21 16:51] dhmlau commented on #2980
PR https://github.com/strongloop/loopback-next/pull/4171

[2019-11-21 19:34] KalleV commented on #2264
Hi. Any new developments on this feature? The project I'm working on uses several joining tables and this feature would significantly reduce the boilerplate and custom workarounds.

[2019-11-21 19:42] jannyHou commented on #4042
Discussion in the estimation meeting:
- [ ] Update the doc to explain that SQL dbs doesn't honour `strict: false`. They don't deal with unknown properties which don't map to any columns.

[2019-11-21 19:49] #3806 closed

[2019-11-21 21:53] jannyHou commented on #3711
Verified with the new merged fix for #3806 :
If the model definition is generated correctly, then `lb4 relation` generates the correct relation controller file, see my gist in https://gist.github.com/jannyHou/d27d7ff2aaa4f184421e1afc57579c8b

[2019-11-21 22:16] jannyHou commented on #3711
So the related code is the Typescript type:

[code]

I believe we can close this story as a dup of #3806 . `Number`, `String`, ...etc are invalid usage as primitive types, see official explanation in https://www.typescriptlang.org/docs/handbook/declaration-files/do-s-and-don-ts.html#general-types, therefore we shouldn't support signature like `id?: Number` when id is in primitive type `number`.

T

[2019-11-22 01:24] dhmlau commented on #4177
@nabdelgadir , could you please take a look? Thanks!

[2019-11-22 01:26] dhmlau commented on #4182
@bobby91560, are you calling the service from the controller? If yes, then you can wrap that call within a try-catch block?

[2019-11-22 04:04] dhmlau commented on #1789
+1 on inferring the id property when creating the controller.

[2019-11-22 05:17] raymondfeng commented on #4182
If you are looking for a logging component, check out https://github.com/strongloop/loopback-next/pull/4117

[2019-11-22 05:18] raymondfeng commented on #4177
@joshuaanthonydeleon It's best to have a github repo that contains your LB4 project to reproduce the problem.

[2019-11-22 05:19] #4138 closed

[2019-11-22 05:21] raymondfeng commented on #4139
@shadyanwar Please mark the issue closed if @dhmlau answered your question.

[2019-11-22 05:23] raymondfeng commented on #4097
@swd72 Do you want to delete `*.ts` files for such artifacts? If so, you need to run `npm run clean && npm run build` to re-transcompile into `dist`.

[2019-11-22 09:52] bobby91560 commented on #4182
@dhmlau That's what I already do.

With my team, we would like to catch all the errors when calling an external API, even when the API is shutdown. But it seems that the error is catch before, in the reject prodiver.

Also, I want to get the request made to the external API but I don't know how to get it. All I can get it's the request from the controller method.

[2019-11-22 12:26] hacksparrow commented on #4181
More context.

While working on https://github.com/strongloop/loopback-next/pull/4056, I set the `Lb3AppBooterComponent`'s mode to `restRouter` assuming it would load the `loopback.rest` middleware and the LB3 API's would work as usual.

However, I noticed that  all the LB3 endpoints which uses access tokens stopped working. The middleware defined in `loopback/server/middleware/rest.js` which was

[2019-11-22 13:32] dhmlau commented on #4182
It might make sense to use [interceptor](https://loopback.io/doc/en/lb4/Interceptors.html) to get that information.  @raymondfeng, WDYT?

FYI -
https://medium.com/loopback/learning-loopback-4-interceptors-part-1-global-interceptors-163a7c5701b9
https://medium.com/loopback/learning-loopback4-interceptors-part-2-class-and-method-level-interceptors-c80b401c16e4

[2019-11-22 14:31] dhmlau opened #4189 "migrate and discover cli includes running the build?"
## Suggestion

Before running `npm run migrate` or `lb4 discover`, we need to run the build first (`npm run build`). Is it possible to include building in those 2 command/script?

There might be cases where my project is already built and need to run one of those commands again, that would mean i'm building the project again unnecessarily. In that case, perhaps there's an extra prompt to ask wheth

[2019-11-22 14:40] bobby91560 commented on #4182
Thank for your response. I don't know why, but now I can catch the error. Maybe a wrong manipulation.
I will give it a try for the interceptor, I'll keep you in touch if i make some progress or not.

Ps: Thanks for the links

[2019-11-22 14:45] dhmlau commented on #3814
Moving to `2020Q1` as the blocking items are not target for Q4.

[2019-11-22 15:19] marioestradarosa commented on #1789
@dhmlau I am working on this PR (trying to catchup with JS coding again 😄 )

[2019-11-22 15:20] bajtos commented on #4137
From what I remember, our `@belongsTo` decorator is a bit broken. While it looks like it should be applied on the navigational property (e.g. `customer` in `Order` model), in fact you need to apply it on the foreign key. Also the foreign key must have a different name than the navigational property (the relation name).

Can you try to following code?

[code]

I you provide an app I can run to repr

[2019-11-22 16:10] bajtos commented on #4160
@frbuceta have you tried to enable `supportsOffsetFetch` setting? I think it's set in datasource configuration.

[code]

[2019-11-22 16:47] stoffason commented on #4137
Thanks, I managed to find a workaround...
The way I understand it, the error is caused by my controller response...
company-policy.controller
[code]

Seems that OASGraph needs the response to give a reference to the BelongsTo model, but the function getModelSchemaRef will always build the schema with the BelongsTo as string.

If I manually build the response schema like below, it works fine.

[cod

[2019-11-22 17:08] frbuceta commented on #4160
#### Well, this is giving me errors on all endpoints
`Unhandled error in POST /auth/sign-in: 500 RequestError: Invalid usage of the option NEXT in the FETCH statement.`

`Unhandled error in GET /vehicle-positions?filter[limit]=100: 500 RequestError: Invalid usage of the option NEXT in the FETCH statement.`

[2019-11-22 17:18] raymondfeng commented on #4160
Your SQL Server seems to be an old version that does not allow `FETCH/NEXT`.

[2019-11-22 17:24] frbuceta commented on #4160
I am using:
[code]

I don't know if this version supports it but it's recent ... 2017

[2019-11-22 17:50] KyDenZ commented on #1352
Hi,

Is it possible to replace the optional attribute with a required attribute for relationships included in openApi?

[code]

[code]
OpenApi.json
[code]
To avoid in my client to make conditions everywhere to know if "roles" is not undefined, while in any case an empty array will be returned if there is no relation.

OpenApi :
[code]

thanks

[2019-11-22 19:55] jannyHou commented on #1352
@KyDenZ If I understand correctly, your expected schema with related items is
[code]

[2019-11-22 20:06] flavienvacc commented on #1352
That's exactly, with the Id also in required

[2019-11-22 21:11] dougal83 commented on #4160
@frbuceta What is the SQL query produced with `"supportsOffsetFetch": true,`?

[2019-11-23 00:04] KyDenZ commented on #1352
That's exactly, with the Id also in required, but that it is generated automatically

[2019-11-23 02:08] dhmlau commented on #3490
@bajtos, do you think it would be part of the [strong relation epic](https://github.com/strongloop/loopback-next/issues/2331)?

[2019-11-23 03:16] dhmlau commented on #3715
Closing as done.

[2019-11-23 03:16] #3715 closed

[2019-11-23 03:16] dhmlau commented on #1054
Closing as done. The blog is scheduled to be published.

[2019-11-23 03:16] #1054 closed

[2019-11-23 06:23] codejamninja opened #4195 "Prisma Integration"
This issue is for sharing thoughts on using prisma with loopback 4.

I wrote a simple example using prisma with loopback 4 and below are my initial observations.

1. Prisma does not work well with repositories, datasources or modals. The main reason for this is because prisma modals are tightly coupled with prisma datasources. This creates real friction with repositories, since repositories depend

[2019-11-23 13:04] achrinza opened #4196 "docs(authorization): legacy "extract common layer" notice"
## Steps to reproduce

1. Go to [`@loopback/authorization` README](https://github.com/strongloop/loopback-next/blob/master/packages/authorization/README.md#extract-common-layertbd)
2. Read "Extract Common Layer (TBD)" section

    ![image](https://user-images.githubusercontent.com/25147899/69479067-4a8c0500-0e34-11ea-90eb-f345e1358ac7.png)

## Current Behavior

This section exists, stating that th

[2019-11-23 14:10] frbuceta commented on #4160
`SQL: SELECT [id],[codigo],[fecha],[latitud],[longitud],ROW_NUMBER() OVER ( ORDER BY [id]) AS RowNum FROM [dbo].[xxxxxxxxxxxxxxxxxxx] OFFSET 0 ROWS FETCH NEXT 100 ROWS ONLY Parameters: [] +22s`

[2019-11-23 15:21] dhmlau commented on #4196
cc @deepakrkris @jannyHou.
Not sure if it'll be covered in https://github.com/strongloop/loopback-next/issues/3694, but something to keep in mind. Thanks.

[2019-11-24 08:27] #1640 closed

[2019-11-24 10:27] #1707 closed

[2019-11-24 18:05] dhmlau commented on #4195
@codejamninja, thanks for your info! @bajtos, @raymondfeng and I had some discussion around prisma integration, so this is helpful.

@bajtos @raymondfeng, what do you think about creating a spike on this and perhaps target it for Q1?

[2019-11-24 20:27] #1945 closed

[2019-11-25 07:10] achrinza commented on #4156
@Oliverq755 I don't think there's an official migration documented yet, but renaming all instances of ```*.datasource.json``` to ```*.datasource.config.json``` and renaming references to the files will fix the issue.

Similar: #4173

[2019-11-25 09:56] bajtos commented on #1352
At the moment, the schema describes the responses that can be returned by the server. If we modify the schema and make a navigational property like `roles` required, then we also have to ensure that we always fetch that relation when querying models. Otherwise there will be a mismatch between the schema and the actual response body.

Please note that by default, LoopBack does not include any relat

[2019-11-25 10:55] tibdev78 opened #4202 "500 Error: scope is not supported"
Hi,
I use loopback 4 and I'm trying to use the scope option to include multiple relations between my models, but when i try to do so...:
`include: [
 {relation: 'relation1', scope: {
       include: [ { relation: 'relation2'} ]}
 }]`
It doesn't work, did you implent this option or is my implementation for the scope option wrong?

[2019-11-25 11:40] achrinza commented on #4202
Loopback 4 currently doesn't support nested `include` relations. See #3453.

[2019-11-25 13:16] tibdev78 commented on #4202
Test @achrinza , i saw that, but do you any way to achieve this with loopback or is it necessary to realize that with simple SQL request?

[2019-11-25 14:52] bobby91560 commented on #4182
@dhmlau I tried to use interceptor to get the request but it doesn't seem to work when using services and loopback-connector-rest.

I have this service :

`
import {getService} from '@loopback/service-proxy';
import {inject, Provider, intercept} from '@loopback/core';
import {UlimDataSource} from '../datasources/ulim.datasource';

export interface UserReference {
  id: string;
  login: string;
  u

[2019-11-25 15:18] dougal83 commented on #4160
Is the SQL malformed? [MSSQL Fiddle](https://dbfiddle.uk/?rdbms=sqlserver_2017&fiddle=b68110d48ff0096f2c9f72583ac117f8)

[2019-11-25 15:31] dhmlau commented on #4189
@strongloop/loopback-maintainers, does it make sense to have this feature?

[2019-11-25 18:41] emonddr opened #4205 "lb4 repository,model,controller commands generate artifacts with 'lint' issues"
I tried running : npm run test

after creating the artifacts from the Todo tutorial, and the linting after the tests fail.

I did a comparison of the generated files, and the files after `npm run lint:fix` and these are the differences I found:

Controller:

![image](https://user-images.githubusercontent.com/6864736/69568094-efb7f200-0f88-11ea-988e-c56c0d3cdddc.png)

Repository:

![image](https://

[2019-11-25 21:30] jannyHou commented on #3711
Fixed in the latest release of @loopback/cli@1.26.0, I am closing this issue 👏
Feel free to reopen it if you still run into the problem

[2019-11-25 21:30] #3711 closed

[2019-11-26 00:08] raymondfeng commented on #4205
Use `--format` flag. See `standard options` at https://loopback.io/doc/en/lb4/Application-generator.html#options.

[2019-11-26 05:36] achrinza opened #4208 "feat(CLI): support generating models with specified OAS format"
Extends: #4085

## Suggestion

The CLI supports generating model properties with a specified JavaScript type. However, the [OAS format](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#data-types) cannot be specified. This leads to the CLI being able to generate OAS `date-time` type, but not `date`, and `string` but not `password`.

The CLI should be able to prompt the us

[2019-11-26 06:16] achrinza commented on #4202
@tibdev78 I'm not too familiar on any workarounds, but it's possible to use `repository.execute(query, params)`.

[2019-11-26 06:17] #442 closed

[2019-11-26 08:37] derdeka opened #4209 "bug(cli): cli does not respect custom relation getter name"
## Steps to reproduce

Generating `hasMany` relation between `News` and `NewsFile` object. Naming it `files` instead of the default `newsFiles`:

![image](https://user-images.githubusercontent.com/13640166/69612163-76bfa580-102f-11ea-9107-f3d26e57ee83.png)

@loopback/cli@1.26.0

## Current Behavior

The custom name `files` is used in the model, but not in the repository:

![image](https://user-ima

[2019-11-26 08:52] achrinza commented on #4209
Correct me if I'm wrong but I believe this is expected behaviour. The CLI prompts for setting the `property` name (not the relation name), which in this case works fine.

[2019-11-26 09:07] derdeka commented on #4209
@achrinza if this is the expected behavior, maybe there should be another prompt for customizing the naming in the repository?

[2019-11-26 09:22] achrinza commented on #4209
Just curious, what’s the use case for custom relation names?

________________________________
From: derdeka <notifications@github.com>
Sent: Tuesday, November 26, 2019 5:07:45 PM
To: strongloop/loopback-next <loopback-next@noreply.github.com>
Cc: Rifa Achrinza <rifa@achrinza.com>; Mention <mention@noreply.github.com>
Subject: Re: [strongloop/loopback-next] bug(cli): cli does not respect custom re

[2019-11-26 09:35] bajtos commented on #4205
Personally, I consider that approach as a workaround. We should strive to emit code that passes our linter rules.

I think the issue pointed out by @emonddr should be easy to fix.

If we think `--format` is the solution that more people should use, then let's find a way how to enable that option by default.

[2019-11-26 10:37] KyDenZ commented on #1352
@bajtos
Great, thank you !

If it interests someone I just had to change some elements for it to work:

[code]

It would be interesting to propose as in loopback 3 a "scope" attribute which allows to automatically include relations. This makes it possible to generate a schema with the required relationships for all requests.

For a specific route, I like your solution. This function should be adde

[2019-11-26 11:13] derdeka commented on #4209
I have a model inheritance like `NewsFile extends BaseFile` and `ContractFile extends BaseFile` to have shared properties and some additional custom properties per subclass - each subclass is storing in it's own relational database table. On the api it's just named `files`.

[2019-11-26 11:36] achrinza commented on #4209
@derdeka Thanks for providing extra info. I think this feature is a possibility, though there are [limitations on using class inheritance](https://github.com/strongloop/loopback-next/issues/4042#issuecomment-549801710).

[2019-11-26 11:39] derdeka opened #4210 "feat(cli): passing prompt values by cli parameters"
## Suggestion

Currently the `@loopback/cli` is using prompts to ask for user input. This can be very time consuming if an large application has many models and you need to select source or taget model for `lb4 relation` command manually in a very large list of models.

It would be very helpful to have something like this:
`
lb4 relation --sourceModel ModelA --relationType belongsTo --targetModel

[2019-11-26 11:45] achrinza commented on #4210
AFAIK LoopBack 4 CLI does support command line options (e.g. [lb4 relation](https://loopback.io/doc/en/lb4/Relation-generator.html))

[2019-11-26 11:57] derdeka commented on #4210
Thanks @achrinza. I did not find that part of the documentation.

[2019-11-26 11:57] #4210 closed

[2019-11-26 12:28] achrinza commented on #4209
I've dug into the code and docs and found some inconsistencies:

1. `--relationName` option is used for setting the property ([see here](https://loopback.io/doc/en/lb4/Relation-generator.html))
2. Internally, the function responsible referred to as a "promptRelationName" ([see here](https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/relation/index.js#L339-L382))
3. Int

[2019-11-26 13:03] achrinza commented on #4160
@frbuceta @raymondfeng Looks like it is a malformed SQL query. `FETCH NEXT` must be preceded by `ORDER BY` as part of the [SELECT - ORDER BY Clause](https://docs.microsoft.com/en-us/sql/t-sql/queries/select-order-by-clause-transact-sql?view=sql-server-ver15).

So the query should be:
[code]

[The offending line](https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/mssql.js#L425-L

[2019-11-26 13:14] achrinza commented on #4160
@frbuceta When runnng the SQL query directly on SSMS or Azure Data Studio, does it also cause a timeout / take longer than 15 seconds?

@frbuceta When running this query on SSMS or Azure Data Studio, does it result in a similar error or response that's taking longer than 15 seconds?

[2019-11-26 14:27] derdeka opened #4211 "bug(cli): type is missing when using type alias for string"
## Steps to reproduce

I've defined a type alias `export type UUID = string;` to be used whenever a UUID is used. This helps the developers to easily read the application code and understand which type of string is expected there.

Id's in Models are defined this way:

[code]

When creating controller code by `lb4 relation`, the type of the `ID` is not correctly resolved.

## Current Behavior

Whe

[2019-11-26 14:58] ImJohnDoe commented on #4173
Thanks, I had the same issue @achrinza 's answer resolved this for me

[2019-11-26 15:44] raymondfeng commented on #4211
Please try to add `type: 'string'` to `jsonSchema`. I don't think TS emits the right design:type for `id?: UUID`. Can you check the corresponding transpliled `js` file under `dist`?

[2019-11-26 15:46] raymondfeng commented on #4210
You can also use `-c, --config: JSON file name or value to configure options.` to pass in a json file or stringified json.

[2019-11-26 15:59] dhmlau commented on #4205
@emonddr, could you please add the acceptance criteria? Thanks.

[2019-11-26 19:14] emonddr opened #4216 "Fix issues with 'nodejs-loopback' stack for Appsody"
This is regarding the [nodejs-loopback](https://github.com/appsody/stacks/tree/master/incubator/nodejs-loopback) stack for Appsody.

## Current Behavior

There are a few minor issues at the moment:

- incompatible dependencies message appears when using LB4 CLI
[code]
    If user chooses Y, he/she can continue. But the prompt is confusing
- During all the appsody commands [run/debug/test], when a

[2019-11-26 20:40] dhmlau commented on #4216
@emonddr, is the cause of the issue being appsody is not using the latest version of the LB4 modules? What should be the fix here?

[2019-11-26 21:17] deepakrkris commented on #4196
currently addressed in PR , https://github.com/strongloop/loopback-next/pull/4185

[2019-11-27 01:34] dhmlau commented on #4111
@AnanthGopal, did @jannyHou answer your question? Thanks.

[2019-11-27 01:35] dhmlau commented on #4139
@shadyanwar , we believe we've answered your question, so I'm closing this issue now. Thanks.

[2019-11-27 01:35] #4139 closed

[2019-11-27 03:54] dhmlau opened #4218 "Use \d in AJV pattern doesn't work"
## Steps to reproduce

When creating a model, I'd like to specify a pattern for my `phoneNum` property, so I have:
[code]

There are actually 2 problems:

**Problem 1**
If I have `pattern: '\d{3}-\d{3}-\d{4}',` and hit save, it turns into:
[code]

Notice the `\` got removed.  Not knowing a better solution, I disable prettier by adding `*.ts` in `.prettierignore`.

If it's within the quotes, should

[2019-11-27 03:55] dhmlau commented on #4218
@raymondfeng @jannyHou , you are more familiar with AJV, do you know what could be the issue? Thanks.

[2019-11-27 03:56] deepakrkris commented on #2208
@bajtos @jannyHou updating the findings from the spike https://github.com/strongloop/loopback-next/issues/3770 here:

- [ ] - parameter schema cannot have `content` field along with `schema`, `explode`, `type` fields. swagger validation fails (check with https://editor.swagger.io/) if they appear together.
- [ ] - loopback currently does not support extracting parameter schema from the `content` f

[2019-11-27 04:01] deepakrkris commented on #3770
findings of spike:
 - this is a breaking fix, needs semver major release
 - change existing param.query.object decorator to support json objects in query params
 - including `content` field in param spec, helps to support both exploded filter conditions like filter[limit] = 0 and json objects
 - parameter schema cannot have content field along with schema, explode, type fields. swagger validation

[2019-11-27 09:23] AnanthGopal commented on #4111
yes. thank you @jannyHou

[2019-11-27 09:23] #4111 closed

[2019-11-27 14:23] #1968 closed

[2019-11-27 16:24] #1037 closed

[2019-11-27 16:24] #1428 closed

[2019-11-27 16:24] #932 closed

[2019-11-27 16:24] #958 closed

[2019-11-27 16:24] #1117 closed

[2019-11-27 16:24] #648 closed

[2019-11-27 16:24] #1389 closed

[2019-11-27 16:24] #662 closed

[2019-11-27 16:24] #885 closed

[2019-11-27 16:24] #759 closed

[2019-11-27 16:24] #1356 closed

[2019-11-27 16:24] #1304 closed

[2019-11-27 16:24] #688 closed

[2019-11-27 16:24] #1670 closed

[2019-11-27 16:24] #1614 closed

[2019-11-27 16:24] #1524 closed

[2019-11-27 16:24] #1742 closed

[2019-11-27 16:24] #1629 closed

[2019-11-27 16:24] #1709 closed

[2019-11-27 16:24] #1491 closed

[2019-11-27 16:24] #1515 closed

[2019-11-27 16:24] #1461 closed

[2019-11-27 16:24] #1514 closed

[2019-11-27 16:24] #1513 closed

[2019-11-27 16:24] #1451 closed

[2019-11-27 16:24] #1512 closed

[2019-11-27 16:24] #1460 closed

[2019-11-27 16:29] raymondfeng commented on #4216
To be fixed by https://github.com/appsody/stacks/pull/528

[2019-11-27 17:24] #141 closed

[2019-11-27 17:24] #461 closed

[2019-11-27 17:24] #139 closed

[2019-11-27 17:24] #207 closed

[2019-11-27 17:24] #476 closed

[2019-11-27 17:24] #287 closed

[2019-11-27 17:24] #24 closed

[2019-11-27 17:24] #259 closed

[2019-11-27 17:24] #488 closed

[2019-11-27 17:24] #684 closed

[2019-11-27 17:24] #669 closed

[2019-11-27 17:24] #641 closed

[2019-11-27 17:24] #1021 closed

[2019-11-27 17:24] #1306 closed

[2019-11-27 17:24] #1427 closed

[2019-11-27 17:24] #1070 closed

[2019-11-27 17:24] #1319 closed

[2019-11-27 17:24] #568 closed

[2019-11-27 17:24] #644 closed

[2019-11-27 17:24] #1080 closed

[2019-11-27 17:24] #1291 closed

[2019-11-27 17:24] #1332 closed

[2019-11-27 17:24] #550 closed

[2019-11-27 17:24] #1233 closed

[2019-11-27 17:24] #1290 closed

[2019-11-27 17:24] #835 closed

[2019-11-27 17:24] #630 closed

[2019-11-27 17:24] #557 closed

[2019-11-27 17:24] #1278 closed

[2019-11-27 19:05] deepakrkris commented on #3770
All the suggestions are implemented and tested in the Spike PR, so I am closing this issue. findings of this spike are updated here as well as the linked original issue https://github.com/strongloop/loopback-next/issues/2208.

[2019-11-27 19:05] #3770 closed

[2019-11-27 19:06] deepakrkris commented on #2208
Spike issue https://github.com/strongloop/loopback-next/issues/3770 is closed. Will start working on this issue as per assigned milestone.

[2019-11-27 20:18] frbuceta commented on #4160
`[S0001][102] Sintaxis incorrecta cerca de 'WEB_VGPS_Posiciones_Total'.` in DataGrid

[2019-11-28 01:06] achrinza commented on #4160
Apologies, I didn't quote the full SQL query:

[code]

Does the above result in a successful execution?

[2019-11-28 02:26] dhmlau commented on #3594
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/2332.
@malek0512, please feel free to continue the discussion over that github issue. Thanks.

[2019-11-28 02:26] #3594 closed

[2019-11-28 05:38] achrinza commented on #4209
@dhmlau Maybe the core maintainers might want to look into this; if this is expected behaviour

[2019-11-28 08:46] #1996 closed

[2019-11-28 08:52] bajtos commented on #896
See also https://github.com/strongloop/loopback-datasource-juggler/issues/1659

[2019-11-28 09:19] samarpanB commented on #3453
+1 We also need the same. When can we expect this ? I see its in December milestone. Is it correct ?

[2019-11-28 10:29] derdeka opened #4224 "feat(docs): describe how to use local copy of this project in a loopback4 crafted project"
## Suggestion

It would be helpful to describe the best practice, how a local copy of `loopback-next` repository can be **used in a loopback4 crafted project** or a development version of the `@loopback/cli` **can be used to operate on another project**.

I did not find anything like this in the documentation https://loopback.io/doc/en/lb4/code-contrib-lb4.html . Is there something describing this

[2019-11-28 13:28] jsylvester89 opened #4243 "LoopBack 4 nestRemoting"
How do we achieve the nestRemoting in Loopback4?
ModelA -> relationX -> ModelB -> relationY -> ModelC in a single endpoint?

Here there is a solution to achieve it in loopback3....
https://github.com/strongloop/loopback/issues/2137

[2019-11-28 13:40] lbois opened #4225 "Trying to implement create/user , Error 500: The key 'services.hasher' is not bound to any value in context application"
Trying to implement in user.controller the create user ( register) function.
But when running server and access the end point via the explorer , at submit i got error 500 : The key 'services.hasher' is not bound to any value in context application .

Here is my user.controller code 👍

[code]
Here is my keys.ts code
[code]

Thanks a lot

Laurent

[2019-11-28 13:55] lbois commented on #4225
Tries {optional: true}
`
export class UserController {
  constructor(
    @repository(UserRepository) public userRepository: UserRepository,
    @inject(PasswordHasherBindings.PASSWORD_HASHER, { optional: true })
    public passwordHasher: PasswordHasher
  ) { }
`

I see that my passwordHasher is undefined

[2019-11-28 15:31] dhmlau commented on #3453
@samarpanB @mamiller93, we acknowledged the importance of having a custom scope. Thanks for your input!
@samarpanB, yes, the plan is if we could finish [Reject create/update requests when data contains navigational properties](#3439) in Nov which has PR under review, we (possibly @agnes512) can start working this one.  The challenge is that the team will start going away for holidays at different

[2019-11-28 15:46] frbuceta commented on #4160
Well this seems to still not work
It has been charging for 2 minutes and it's not over yet

[2019-11-28 16:31] bajtos commented on #4218
IIUC, you are trying to create a regular string and use `\d` as an escape sequence similar to `\n`. I suspect that `\d` is not a valid sequence, therefore Prettier is converting it to `d`, because that's what the JavaScript runtime is going to do anyways. You can try this yourself:

[code]

I think you need to use double backslash as follows:

$ node
[code]

[2019-11-28 17:12] bajtos commented on #3602
For anybody watching this issue: https://github.com/strongloop/loopback-datasource-juggler/pull/1783 introduced a new property-level flag `useDefaultIdType` that instructs juggler to ignore the PK-type defined by the connector and use the type provided by the developer.

I am thinking that perhaps we can modify legacy juggler bridge to enable that flag automatically when the property metadata incl

[2019-11-28 17:19] bajtos commented on #4216
appsody/stacks#528 has been merged, I am closing this issue as resolved.

[2019-11-28 17:19] #4216 closed

[2019-11-28 17:20] bajtos commented on #4202
Closing as a duplicate of #3453

[2019-11-28 17:20] #4202 closed

[2019-11-28 17:21] bajtos commented on #4202
Duplicate #3453

[2019-11-28 19:58] dhmlau commented on #4224
@derdeka, I use `npm link` on the particular package I want to link, e.g. Run `npm link` on `loopback-next/packages/cli` for testing out the CLI.

Maybe that's something we can add in https://loopback.io/doc/en/lb4/submitting_a_pr.html or https://github.com/strongloop/loopback-next/blob/master/docs/site/DEVELOPING.md?

[2019-11-29 01:56] dhmlau commented on #4218
Thanks @bajtos . Double backslash works for me. i.e.
[code]

[2019-11-29 01:57] #4218 closed

[2019-11-29 02:00] achrinza commented on #4160
@frbuceta Thanks for the reply; this seems more of an issue with the generated query. Try using this `filter` HTTP query:

`?filter[where][id][lte]=100`

If you want to have an offest (e.g. 101 200):

`?filter[where][id][gt]=100&[where][id][lte]=200`

(Replace `id` with the ID column of the table if necessary)

This should prevent MSSQL from going through all 100 million records.

[2019-11-29 07:15] bajtos commented on #3161
An article describing how to migrate a Node.js Travis CI build to GitHub actions: https://blog.testdouble.com/posts/2019-11-21-first-look-at-github-actions/

[2019-11-29 07:47] bajtos opened #4228 "Allow RegExp values for `jsonSchema.pattern` field in property definition"
When creating a model, I'd like to specify pattern-based validation for my `phoneNum` property:

[code]

At the moment, we require the pattern to be a string source:

[code]

I find these strings problematic:
- Editors/IDEs don't highlight RegExp keywords
- It's easy to forget to escape `\` characters. When they are not escaped, users end up with a different RegExp that expected - see #4218 for an

[2019-11-29 07:47] bajtos commented on #4218
I created a new issue to improve UX around `jsonSchema.pattern` - see https://github.com/strongloop/loopback-next/issues/4228

[2019-11-29 08:02] bajtos opened #4229 "Document how can extensions contribute booters"
Add a new section to https://loopback.io/doc/en/lb4/Extending-LoopBack-4.html and describe how extensions can contribute custom booters.

We will be implementing such extension as part of _Model API booter & builder #3736_, make sure the documentation for extension authors is consistent with the code in our official extensions

## Acceptance criteria

A new doc page that explains:

- [ ] How to wr

[2019-11-29 08:04] bajtos commented on #1461
This is fairly easy, see the PoC code in _Spike: booter for creating REST APIs from model files #3617_.

IIRC, I did not encounter any pain points while working on #3617. However, it makes sense to write documentation for extension authors and explain how to contribute new booters - see https://github.com/strongloop/loopback-next/issues/4229

[2019-11-29 08:07] bajtos commented on #1197
There is a spike PR in progress, see https://github.com/strongloop/loopback-next/pull/3389

[2019-11-29 08:15] bajtos commented on #782
Related PRs:

- improve states and add shutdown hooks for applications #4145
- add integration with winston and fluentd logging #4117
- add a new package to enable open tracing #3389
- handle http keepalive connections upon application.stop() #4146

[2019-11-29 08:17] bajtos commented on #1037
Possibly related: https://github.com/strongloop/loopback-next/pull/4117

[2019-11-29 09:07] bajtos commented on #110
@alcmontejo @frbuceta @jorgebarrero @yashmurty @Sharonee invites sent, I am looking forward to see you around in our GitHub repositories 🤗

_Please note that you have to accept the invite on GitHub before you become a member of `@strongloop/loopback-next`. If you didn't receive an email notification from GitHub, then I think you can find the invite when visiting StrongLoop organization on GitHub:

[2019-11-29 09:19] frbuceta commented on #110
Thanks @bajtos  😎

[2019-11-29 09:23] bajtos commented on #4195
Thank you @codejamninja for the write up.

I agree with your conclusion to use Prisma directly in the controllers and bypass LoopBack models/datasources/repositories and let Prisma handle relations.

We may want to find a way how to register Prisma artifacts for dependency injection though.

Doesn't Prisma offer code-generation of TypeScript interfaces or classes to describe data shape? If not, th

[2019-11-29 09:31] lbois commented on #4225
I forgot some directives with PasswordHasher in my application.ts setupBindings method. It works

[2019-11-29 09:31] #4225 closed

[2019-11-29 13:45] bajtos commented on #4209
+1

I think this is a bug, an oversight on the side of the person implementing `lb4 relation` command.

@derdeka @achrinza would you like to contribute the fix yourself?

[2019-11-29 14:05] bajtos commented on #4211
I see two aspects here:

1. Our CLI tool should not use empty string as the type when emitting `@param.path.()`. When the type is not known, it can e.g. prompt the user to pick one of the types supported by our param decorators.

2. As @raymondfeng mentioned, we are not able to infer target type when an alias is used. IMO, you should specify `type` inside `@property` decorator (not in `jsonSchema`

[2019-11-29 14:08] fasenderos opened #4231 "lb3 - Relations on uuid"
## Steps to reproduce
When the `foreignKey` of the relations point to ID everything works as expected, while if I try to point the foreignKey to UUID, the UUID is parsed as integer (NaN) and the relation not work.

To reproduce create 2 models:

**Customer**
[code]

**Address**
[code]
Get customer with address related by ID:
[code]
![work](https://user-images.githubusercontent.com/1219087/69873078

[2019-11-29 14:47] fasenderos commented on #4231
Maybe here is same issue on LB4 https://github.com/strongloop/loopback-next/issues/3602 that seems to be solved

[2019-11-29 14:51] bajtos commented on #4231
Thank you for reporting the issue. Since it's related to LoopBack 3.x, I am going to move it to `strongloop/loopback` repository.

[2019-11-29 14:59] bajtos commented on #4161
This is a known problem, see https://github.com/strongloop/loopback-next/issues/1718 and https://github.com/strongloop/loopback-next/issues/2333

[2019-11-30 02:16] codejamninja commented on #4195
Yes, prisma generates the types, but they are different than loopback's types

[2019-11-30 02:16] codejamninja commented on #4195
I thinks some kind of shim would need to be created to make it integrate better.

[2019-11-30 16:15] #1946 closed

[2019-11-30 20:15] #1980 closed

[2019-11-30 20:26] yashpal-kadam commented on #110
Hi, @bajtos I would like to contribute to this awesome project.

[2019-12-01 09:16] #3938 closed

[2019-12-01 13:54] ramymaghraby commented on #2043
I find loopback 4 is one the greatest frameworks, however the many to many relation (HasManyThrough) is very essential to most of the work i intend to use loopback for, hope this be released soon.

[2019-12-01 15:16] #1967 closed

[2019-12-02 10:53] bobby91560 commented on #4182
Hi,

I repeat the same question as above. Did you have some clues to achieve what I want ?

[2019-12-02 14:28] bajtos commented on #2484
Spike in progress: https://github.com/strongloop/loopback-next/pull/4235

[2019-12-02 14:28] achrinza commented on #2794
@bajtos This has probably been fixed by #4060

[2019-12-02 14:58] frbuceta commented on #4160
I am waiting for your PR in the MSSQL repository to be approved, this will not work for me because my ids are very large, they do not go 1, 2, 3, 4 ...

[2019-12-02 15:10] frbuceta commented on #3602
I am in favor of this change

[2019-12-02 15:17] agnes512 opened #4236 "Monthly Milestone - Dec 2019 🌲⛄️🎁"
## December Milestone

- Community Support: focus on triaging and PR reviews in
  `loopback-datasource-juggler` and `loopback-connector-postgresql`

### Goals
Inclusion of related models [MVP]
  - [x] Include related models with a custom scope #3453

Authentication & Authorization

  - [x] Add user profile factory for authentication modules https://github.com/strongloop/loopback-next/issues/3846

[2019-12-02 18:22] ochemerys commented on #2936
Hi,
steps to reproduce:
1. `$ lb4 example log-extension`
2. `$ lb4 app getting-started`
and select all default settings
3. `$ cd getting-started`
4. `$ npm install ../loopback4-example-log-extension`
5. modified **application.ts** file accordingly to instructions https://github.com/strongloop/loopback-next/tree/master/examples/log-extension (**actually I was not able to follow instructions directl

[2019-12-02 18:34] ochemerys opened #4238 "log example: not able to make working"
Hi,
steps to reproduce:

1. `$ lb4 example log-extension`
2. `$ lb4 app getting-started`
and select all default settings
3. `$ cd getting-started`
4. `$ npm install ../loopback4-example-log-extension`
5. modified application.ts file accordingly to instructions https://github.com/strongloop/loopback-next/tree/master/examples/log-extension (**actually I was not able to follow instructions directly**

[2019-12-02 19:35] sformisano commented on #3281
Same here, spent some time in frustration but glad to have found this thread, the update solution by @emonddr worked. Thanks!

[2019-12-02 20:17] dhmlau commented on #4029
Moved all the outstanding items to Dec.  Closing this as November ended. Thanks team!

[2019-12-02 20:17] #4029 closed

[2019-12-02 23:20] raymondfeng commented on #4238
You set logLevel to `ERROR` but the method is decorated with `@log(LOG_LEVEL.DEBUG)`. DEBUG < ERROR. As a result, the debug logging is not enabled.

[2019-12-02 23:20] #4238 closed

[2019-12-03 01:20] sformisano commented on #3673
@emonddr I don't think it's fair to expect that the client app keeps track of how long the user has been inactive for...

I'm going to write a long answer because I'd like to understand the reasoning behind the way the authentication library currently works, and if it's welcome, I'd be happy to contribute code for this functionality (I'd definitely need help in understanding what the best place fo

[2019-12-03 01:56] dhmlau commented on #3854
@jannyHou, assigning this to you per our discussion with you and @emonddr.

[2019-12-03 01:57] dhmlau commented on #3846
@emonddr, assigning this to you per our discussion with @jannyHou.

[2019-12-03 01:57] dhmlau commented on #2208
@deepakrkris, assigning this to you since you completed the spike. Thanks.

[2019-12-03 02:38] codejamninja commented on #4195
Photon might be the answer for easily shimming the prisma types with loopback 4.

https://photonjs.prisma.io

[2019-12-03 02:39] dhmlau commented on #2184
@bajtos @raymondfeng , is there any workaround on this? Thanks.

[2019-12-03 03:16] ochemerys commented on #4238
this is from documentation
**Example Usage**
import {LogMixin, LOG_LEVEL, log} from 'loopback4-example-log-extension';
// Other imports ...

class LogApp extends LogMixin(BootMixin(RestApplication)) {
  constructor(options?: ApplicationConfig) {
    super(options);

    this.projectRoot = __dirname;
    this.logLevel(LOG_LEVEL.ERROR);
  }
}

class MyController {
  @log(LOG_LEVEL.WARN)
  @get('/')

[2019-12-03 03:32] dhmlau commented on #4243
Moving to `loopback-next` repo since it's related to LB4.

[2019-12-03 03:35] dhmlau commented on #4137
@stoffason, are you good with closing this issue? Thanks.

[2019-12-03 04:00] ochemerys commented on #4238
I changed code in application.ts
`this.logLevel(LOG_LEVEL.DEBUG);`
still nothing...
Can you please, before answering, reproduce steps above (it takes max 15 mins) and fix example code or documentation?
Thank you.

[2019-12-03 06:04] raymondfeng commented on #4238
@ochemerys I understand that you are frustrated. But I wish that your comments have been more **CONSTRUCTIVE**.  Please be aware that open source projects are community driven and they require collaboration and contribution to make them better. There might be bugs in documentation as well as in code. It's great that you reported the issue. We're trying our best to help you.

[2019-12-03 06:05] raymondfeng commented on #4238
The log level was an obvious issue that I spotted. The README uses `ERROR/WARN` but you used `DEBUG`. In addition, you need to update your `sequence.ts` to add the logging action. See https://github.com/strongloop/loopback-next/blob/master/examples/log-extension/src/__tests__/acceptance/log.extension.acceptance.ts#L196-L226 as an example.

[2019-12-03 10:03] aceraizel opened #4245 "Bit data type in postgreSQL connector"
I have implemented model as below:
[code]

But error such as `Cannot migrate database schema { error: column "isActive" is of type bit but default expression is of type integer`

How to implement column have `bit` data type in postgresql?

[2019-12-03 10:08] sureshdmavericks commented on #2936
@ochemerys , I'm also want like this. Please help us

[2019-12-03 14:37] emonddr commented on #3854
@jannyHou , on this pass, are we really going deliver AuthenticationSpecBuilder ? Or is the ControllerSpecBuilder sufficient for now, and in 2020 we deal with AuthenticationSpecBuilder?

[2019-12-03 19:23] frbuceta commented on #4245
Here below I leave a link that leads to the types of data related to loopback

Normally the bit type I use as a boolean, I don't know if that's your case
I don't know if this can be of help to you, anything do not hesitate to ask again

[2019-12-03 20:33] agnes512 commented on #3456
When working on the task https://github.com/strongloop/loopback-next/pull/4148, the `replaceById` method was expected to take JSON obj as the target data. But even we set `useDefaultIdType` and `dataType: ObjectID`, the `replaceById` still throws error because with `replaceById(id, { an JSON obj}`, it tries to replace the `objectId` id property with pass in data.id, which is a string.

the problem

[2019-12-03 20:55] agnes512 opened #4249 "Refactor repository-tests to simplify the test case"
## Suggestion
follow up issue of https://github.com/strongloop/loopback-next/pull/4148.

Currently, the acceptance tests in `repository-tests` are using shared fixtures to run tests on different databases.
A model might have several relations.
But then the test cases have to contain a lots of relevant attribute to make all databases pass.

## Examples
For example, a expected test result in belongs

[2019-12-03 21:35] ochemerys commented on #4238
Hi,
Thank you for pointing me to sequence.ts. I had to make a small modification
`if (result) await this.logger(request, args, result);`
now it works.

[2019-12-04 02:31] dhmlau commented on #2184
Talked to @raymondfeng, he mentioned that the workaround for now is to use `repository.count()` to get how many records the match the criteria.

cc @madaky

[2019-12-04 02:57] agnes512 opened #4251 "Enable testing `replaceById()` with inclusion on Cloudant"
Followup issue from #4148

We have two cases in `repository-tests/../has-many-inclusion-resolver.relation.acceptance.ts` are skip for Cloudant. This is because Cloudant needs the revision property `_rev` to perform replacement operations. Our current test setup has too many workarounds to make all databases happy.

## Acceptance criteria

- [ ] Enable the two skip tests pass on Cloudant
  - [ ] On

[2019-12-04 03:37] agnes512 commented on #3343
@strongloop/loopback-maintainers We've been having this issue for a while. To improve the developer experience, what kind of acceptance criteria do we want to achieve?
To have different naming convention options for CLI `lb4 discover`, or default it as what the column name is?

I mentioned the naming convention here is because from issue [Provide a way to specify table and field naming convention

[2019-12-04 03:40] agnes512 commented on #3439
closing as done

[2019-12-04 03:40] #3439 closed

[2019-12-04 04:50] Oliverq755 commented on #4156
@achrinza Thanks for the reply, I downgraded my loopback version @1.21.3 which fixes the issue. However, the latest `@loopback/cli` version fixes the future generation of data sources, but what if we are using the old version generated applications. I don't think it's a proper way (renaming all instances of `*.datasource.json` to `*.datasource.config.json` and renaming references to the files) to

[2019-12-04 11:51] sureshdmavericks opened #4254 "How to connect to dynamo db using lb4?"
Can anyone know how to connect to dynamo db using lb4

[2019-12-04 13:34] freakpol opened #4255 "How to define a model @property that allows any scalar value?"
I'm want to store any type on a property, for example:

[code]

The idea, is that, when I POST to that entity I can send the following examples, and all work the same

[code]

Note: Database is a mongo db, so it shouldn't be a problem.

## Acceptance Criteria
-  [ ] Specify type `any` in `lb4 model` cli should not result in "Unsupported type" error.
-  [ ] Add test to make sure the type can be con

[2019-12-04 15:08] dougal83 commented on #4156
Might not be _proper_ but it seems to work.  For those with plentiful datasources though, I think that you can open the project in a tool like VsCode with import path correction enabled ("typescript.updateImportsOnFileMove.enabled": "always",) and bulk rename the files using a script or shareware tool.  Doesn't warrant addition to install script for a one time change.  Maybe the change should be c

[2019-12-04 15:21] dougal83 commented on #4255
Try `type: any`

Ref: https://loopback.io/doc/en/lb3/LoopBack-types.html

[2019-12-04 17:04] dhmlau commented on #1352
This epic is done! Thanks @agnes512 @nabdelgadir @bajtos!
Closing this issue as done.  If there's any outstanding discussion, please feel free to open a new issue. Thanks.

[2019-12-04 17:04] #1352 closed

[2019-12-04 17:38] dhmlau commented on #4254
@sureshdmavericks, there's a community connector for dynamo db: https://loopback.io/doc/en/community/dynamo-connector.html. You might want to give it a try. It's supposed to continue to work in LB4.

[2019-12-04 18:07] freakpol commented on #4255
Nope, if I use any, loopback says that is not a valid type for the openapi spec:

[code]

[2019-12-04 18:21] dougal83 commented on #4255
Perhaps it needs to be as following:

[code]

This is what `lb4 model` produces.

[2019-12-04 18:35] freakpol commented on #4255
Yep, thats what I've tried.  And get that error.

[2019-12-04 20:01] dougal83 commented on #4255
I see sorry, I had assumed it the `lb4 model` command would not give unusable results. I'd guess that an option would be to use `type string` and store as json.

[2019-12-04 20:07] freakpol commented on #4255
Yeah, kinda odd.

[2019-12-04 22:53] ochemerys commented on #2936
@sureshkodur The issue is resolved here:
https://github.com/strongloop/loopback-next/issues/4238

[2019-12-04 23:28] raymondfeng commented on #2936
FYI - the longer term solution is proposed her for logging - https://github.com/strongloop/loopback-next/pull/4117

[2019-12-05 06:48] sureshdmavericks commented on #4238
@ochemerys and @raymondfeng , Thank you. You helped me a lot

[2019-12-05 14:05] bajtos commented on #3453
I see two sub-features here:

(1) Filter which included models are returned, see the original issue description:

[code]

(2) Recursive include (include models related to related models), as described in https://github.com/strongloop/loopback-next/issues/3453#issuecomment-539637107:

[code]

Ideally, we should support both flavors and also a combination of them. I think this should be actually eas

[2019-12-05 15:19] bajtos commented on #4160
Just for reference, here is the pull request that should fix the issue: strongloop/loopback-connector-mssql#219

[2019-12-05 15:46] bajtos commented on #4156
I agree that a migration tool would be great. I am don't think it can be invoked by `npm install`, but that's an implementation detail.

The bigger problem is that we don't have enough bandwidth to implement such tool. It requires a non-trivial amount of work with little pay-off, because most users will run it only once.

Personally, I would start with improving the way how we are communicating br

[2019-12-05 15:50] bajtos commented on #3602
@frbuceta would you like to contribute that change yourself?

[2019-12-05 15:52] bajtos commented on #2208
When creating the pull request, it's important to include `BREAKING CHANGE` trailer in the commit message, see [Making breaking changes](https://github.com/strongloop/loopback-next/blob/2bb7d093192464446802ef3313fb2da9ae9cbaf4/docs/site/DEVELOPING.md#making-breaking-changes).

[2019-12-05 15:54] frbuceta commented on #3602
Of course, lately I haven't had much time but tomorrow I start with it. Sorry for the delay

[2019-12-05 15:56] bajtos commented on #2794
@achrinza thank you for the comment. I am going to close this issue as resolved then.

[2019-12-05 15:56] #2794 closed

[2019-12-05 16:10] dhmlau opened #4264 "[RFC] Interests in User feedback session?"
On top of opening GitHub issues/PRs, it might be helpful to have user feedback sessions. We can possibly combine some LoopBack updates, with user feedback discussion. The sessions can be recorded for those who cannot join.

## Proposed plan
### Agenda
- LoopBack updates
- User feedback
- Any particular topics that we want to discuss (driven by demand), and use GitHub issues to solicit ideas

### H

[2019-12-05 16:28] ochemerys commented on #2936
@raymondfeng, Can you please publish it on npm for easy use?
currently
`npm install --save @loopback/extension-logging`
output is
`
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@loopback%2fextension-logging - Not found
npm ERR! 404
npm ERR! 404  '@loopback/extension-logging@latest' is not in the npm registry.
`

Thank you

[2019-12-05 16:45] madaky commented on #110
HI, @bajtos Thank you :smile:

[2019-12-05 16:52] deepakrkris commented on #4196
PR merged, closing issue.

[2019-12-05 16:52] #4196 closed

[2019-12-05 16:53] deepakrkris commented on #3694
PR merged, closing issue.

[2019-12-05 16:53] #3694 closed

[2019-12-05 20:05] deepakrkris commented on #2208
@bajtos thanks for your advise. That was very crucial information.

[2019-12-05 20:36] dhmlau commented on #3343
I'm thinking whether it's possible to allow users to plug-in their own naming convention (similar to what's mentioned in https://github.com/strongloop/loopback-connector-mysql/issues/57#issuecomment-313635186). This is because users have different naming conventions, it's not likely that we pick one naming convention and satisfy everyone.

[2019-12-06 16:06] derdeka commented on #3662
@raymondfeng
Thanks, i think i finally understand your hint now - after getting deeper into lb4 for some month.  ;-)

For the records, this solves the typing issue for me:
(not sure if this already worked when creating this issue)

[code]

[2019-12-06 16:06] #3662 closed

[2019-12-06 16:54] dhmlau opened #4271 "Connector tutorials under Connectors reference are for LB3"
While the connectors can be used for both LB3 and LB4, the tutorials under the [Connectors reference](https://loopback.io/doc/en/lb4/Connectors-reference.html) for LB4 are about LB3. It might cause confusion to the users.

Tutorials I'm referring to are:
- mongodb connector tutorial: https://loopback.io/doc/en/lb4/Connecting-to-MongoDB.html
- mysql connector tutorial: https://loopback.io/doc/en/lb

[2019-12-06 17:04] derdeka opened #4272 "bug?: content type is always application/json or text/plain"
## Steps to reproduce

I did some experiments of uml diagram generation with `nomnoml` as an `lb4 extension`. The output of an `@get` endpoint is an svg image.

AFAIK there is not way to set an content-type as `strong-remoting` is always setting `text/plain` !?:

https://github.com/strongloop/strong-remoting/blob/33fbd72fb46035f707c3c62dce6b36ab075fb61e/lib/http-context.js#L494-L498

## Current Be

[2019-12-06 19:48] #2010 closed

[2019-12-07 01:17] stoffason commented on #4137
Thanks,

Found a clean solution, and may be worth updating the documentation. (just needed Grapql to populate relation on BelongsTo)
Work around was to simply create another property on the model containing the  "BelongsTo"
So.. set the belongsTo with the ForeignKey as a string, and create a new property which needs to be populated separately

_model_
[code]
Then adjust the repository to populate

[2019-12-07 01:17] #4137 closed

[2019-12-08 13:26] stoffason commented on #1905
Works for me... until JWT from header is is needed...
Seems that the headers are changed by express-graphql, so if you are using JWT Authentication as in
[looppback4-example-shopping](https://github.com/strongloop/loopback4-example-shopping/tree/master/packages/shopping/src)

Its not possible to get the JWT token (valid) from the header and respective service... then get the 401 unauthorised respo

[2019-12-08 19:04] 11arn11 opened #4275 "Resource Attribute Access Control"
## Suggestion

## Use Cases

## Examples

## Acceptance criteria

TBD - will be filled by the team.

[2019-12-08 19:08] 11arn11 commented on #4275
Have you planned to create an authorization system based on attributes of the requested resources?

Something like
resource.owner to authorize only the owner

[2019-12-08 19:24] 11arn11 opened #4276 "Resource Attribute Based Access Control"
## Suggestion

Have you planned to create an authorization system based on attributes of the requested resource?

Something to authorize only the owner of the resource

Extending, a system that allows authorized access, based on a property of the resource

## Examples

[code]

[2019-12-08 19:24] #4275 closed

[2019-12-08 19:25] 11arn11 commented on #4275
open by mistake

[2019-12-08 22:00] #1729 closed

[2019-12-08 22:00] #1725 closed

[2019-12-08 22:00] #1726 closed

[2019-12-08 22:00] #1728 closed

[2019-12-08 22:00] #1739 closed

[2019-12-08 22:00] #1740 closed

[2019-12-08 22:00] #1741 closed

[2019-12-09 08:07] bajtos commented on #433
https://github.com/strongloop/loopback-next/pull/4235/commits/6ce22282ba92cd103a22195879f4ca3e38e0b6d1 shows a quick fix that may be good enough for short term.

For longer term, this features should use `ContextView` watcher. Cross-posting https://github.com/strongloop/loopback-next/pull/4235#discussion_r353903856 by @raymondfeng:

[2019-12-09 08:10] bajtos commented on #1580
The pull request https://github.com/strongloop/loopback-next/pull/4235 shows how to define a model and expose it via a REST API at runtime. Feel free to join the discussion there or in follow-up stories we are going to create soon.

[2019-12-09 15:13] stoffason commented on #1905
Managed to get the JWT this way and works fine for me.

[code]

[2019-12-09 15:37] dhmlau commented on #4254
@sureshdmavericks, we believe we've answered your question, so I'd like to close this issue now.  If you have further questions, please feel free to open a new issue. Thanks.

[2019-12-09 15:37] #4254 closed

[2019-12-09 15:44] dhmlau commented on #4255
@freakpol @dougal83, thanks for reporting this issue and analyzing it.
The "unsupported type" error is coming from https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L167, and it doesn't include type `any`.

[2019-12-09 16:05] hacksparrow opened #4282 "Website for Shopping App"
In the Shopping App Brainstorming session last week, it was decided that we will upgrade [loopback4-example-shopping ](https://github.com/strongloop/loopback4-example-shopping) to have a corresponding website.

**Acceptance Criteria (in order)**

- [ ] Website with CRUD operations using existing APIs (use Bootstrap to reduce development time)
- [ ] Pre-populated products (10-15 items)
- [ ] Predef

[2019-12-09 16:07] enceladus commented on #1920
I just wanted to offer a suggestion here.

It was only after developing an app for a while for a client that I discovered this lack of feature parity, mostly due to the misleading documentation on the website — the LB3 docs suggest "use LB4 if you are new" and the LB4 docs don't suggest anywhere that major features I had expected in GA were missing (authorization mostly, but also #1450 and #1352).

[2019-12-09 17:00] agnes512 commented on #3453
closing as done

[2019-12-09 17:00] #3453 closed

[2019-12-09 18:27] dhmlau commented on #2622
Closing due to inactivity.

[2019-12-09 18:27] #2622 closed

[2019-12-09 20:04] agnes512 commented on #2398
Debug note: for `MySQL`, id property can be type `String` by setting
[code]
The key is in this case id cannot be generated automatically.

[2019-12-09 22:57] hshakilst commented on #3281
npm update did the job for me :)

[2019-12-10 00:20] joshuaanthonydeleon commented on #4177
@raymondfeng , @nabdelgadir , @dhmlau sorry for the slow response pretty hectic over here. I'll try and get something together. The problem is this is a whole application from our company, so I can't exactly give the entire repo open access or most of the code for that matter.

[2019-12-10 12:45] Archer-Thane commented on #3258
I have run the loopback4-example-shopping and run serveral times post /users and there are no error with code 11000.
take a look at[ this picture](https://imgur.com/a/QovWXXO).

[2019-12-10 14:01] dhmlau commented on #4224
@derdeka, are you interested in submitting a PR to improve the docs in this area? Thanks.

[2019-12-10 14:59] #2032 closed

[2019-12-10 15:34] nabdelgadir commented on #4177
@joshuaanthonydeleon you can try to create a new application with just enough models/repositories/controllers classes to reproduce the problem

[2019-12-10 15:35] dougal83 commented on #3258
Hi Archer

Can you please expand the User collection in the db and confirm that the UniqueEmail constraint exists?

![image](https://user-images.githubusercontent.com/2735881/70543692-b2478d00-1b62-11ea-9076-6ff8e1637605.png)

[2019-12-10 15:46] dougal83 commented on #3258
@amrsalama Apologies for missing this message.  I see your point, there is no one right way to handle this, but I simply implemented the most expedient solution.  Feel free to submit a pull request to replace this code if you have an alternative.

[2019-12-10 16:39] raymondfeng commented on #4224
We already have `sandbox` directory under loopback-next for testing apps that depend on the code checked from github. See https://github.com/strongloop/loopback-next/blob/master/sandbox/README.md.

To run cli locally, simply use `loopback-next/packages/cli/bin/cli-main.js ...`.

[2019-12-10 18:50] dhmlau commented on #2230
Discussing with @bajtos on the [above comment](https://github.com/strongloop/loopback-next/issues/2230#issuecomment-474405254), the code in the HomePageController that makes download possible are:

[code]

and
[code]

See full file in https://github.com/strongloop/loopback4-example-shopping/pull/16/files.

[2019-12-10 18:52] dhmlau commented on #4272
Discussed with @bajtos, he mentioned https://github.com/strongloop/loopback-next/issues/2230 covers the requirement of this issue.  I've added more information based on our conversation: https://github.com/strongloop/loopback-next/issues/2230#issuecomment-564177654.

@derdeka, please try out the workaround and continue any discussion over #2230.  I'd like to close this issue as duplicate. Thanks!

[2019-12-10 18:52] #4272 closed

[2019-12-10 21:59] #560 closed

[2019-12-10 23:11] derdeka commented on #4224
@dhmlau I tried your suggestion with `npm link`, but this seems to have some side-effekts, if the projects using diffferent versions of dependencies. For example `error TS2742: The inferred type of 'AuditMixin' cannot be named without a reference to '@loopback/repository'. This is likely not portable. A type annotation is necessary.`

@raymondfeng Thanks, i'll try this.

[2019-12-11 13:12] derdeka commented on #4211
I had a look into my transpiled files now - the design type is `String` for type alias `UUID` in my case. The interferring of the target type seems to work somehow even with a type alias. I guess the cli tool could do this too. Needs more investigation.

[2019-12-11 15:02] jannyHou commented on #3343
For this particular use case:
[code]

I think we should **at least** allow people to either honor the column name from db (`ErrorID`) or have the property name in our default convention(`errorid`).

Some thought about supporting **custom naming convension**:
Do you know where does the name coercion happen? I did a very quick search in `loopback-connector` and `loopback-connector-mysql` but didn't

[2019-12-11 15:22] frbuceta opened #4289 "Changing settings does not work in health extension"
## Steps to reproduce

When trying to change the settings in health extension, it doesn't work

[code]

## Additional information

[code]

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-12-11 15:53] derdeka commented on #4228
`JsonSchema` is [specifying `pattern` as `string`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b325764a0b804d8215611d234e63d8e9612e6402/types/json-schema/index.d.ts#L302). AJV is also expecting [`string` as input for pattern](https://github.com/epoberezkin/ajv/blob/master/KEYWORDS.md#keywords-for-strings).

AFAIK the basic idea of openapi.json is to transport this `pattern` to the clie

[2019-12-11 16:08] dhmlau commented on #3947
#4056 has landed. Closing as done.

[2019-12-11 16:08] #3947 closed

[2019-12-11 16:13] raymondfeng commented on #4289
Does `/status` give 404?

You have to call `this.configure` before `this.component(HealthComponent)` due to a limitation that can be fixed.

We have an acceptance test to cover such config. See https://github.com/strongloop/loopback-next/blob/master/extensions/health/src/__tests__/acceptance/health.acceptance.ts#L117-L127.

[2019-12-11 16:27] frbuceta commented on #4289
Yes, it returns me a 404

Works!!!

[2019-12-11 16:28] agnes512 commented on #3343
I am not sure about `MySQL`, but for `Postgres`,  **auto-migrate** calls [function columnEscaped](https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/postgresql.js#L338), which modifies property names to lowerCase.

[2019-12-11 16:49] derdeka opened #4290 "feat(repository-json-schema): add title to filter"
## Suggestion

Add `title` property to filter schema definition in order to enable better code generation by third party tools such as https://github.com/OpenAPITools/openapi-generator .

Without a title property the generator simply name the filter as `Filter1`, `Filter2`, etc. By adding the title property, the tooling can produce a filter interface named after `title`.

## Use Cases

Parameters

[2019-12-11 17:59] dougal83 commented on #4290
+1 for refactoring the filter object.  Thank you for looking further into this!

[2019-12-11 19:15] dhmlau commented on #1400
Closing as done.

[2019-12-11 19:15] #1400 closed

[2019-12-11 22:12] #2038 closed

[2019-12-12 07:39] bajtos commented on #2398
FYI, I think it should be possible to replace `generated: true` with `defaultFn` option set to `uuidv4`, see https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#general-property-properties.

As I understand the differences, `generated: true` means that the database is expected to generate the values (i.e. LoopBack sends `undefined` primary key, database returns the generated value), whe

[2019-12-12 08:47] bajtos commented on #3343
My two cents:

By default, our discovery should recognize all common naming styles (`PascalCase`, `camelCase`, `snake_case`, `UPPER_SNAKE_CASE`) and convert them to camelCase style that's the norm in our TypeScript codebase To me, that's the acceptance criteria to resolve this issue.

|style|database name (input)|LB4 property name (expected output)|
|-|-|-|
|pascal case|`CustomerId`|`customerId`|

[2019-12-12 13:11] bajtos commented on #4290
@derdeka thank you for a great suggestion! I agree we should add `title` to the schema generated for model filters.

I see two options (but there may be more):

Short-term, we can use the approach we have in place for model schemas - instead of emitting an "inline" schema, we generate a schema reference and include the target schema in definitions property. Take a look at `getModelSchemaRef` works

[2019-12-12 13:12] bajtos commented on #4290
@derdeka @dougal83 would you like to contribute this feature yourself?

[2019-12-12 13:33] bajtos opened #4296 "How to build models, repositories and controllers dynamically at runtime"
_This is a follow-up for the spike https://github.com/strongloop/loopback-next/pull/4235_

So far, our documentation and tooling was focused on the use case where most of application artifacts are static, defined in source files. In the Epic _From model definition to REST API #2036_, we are working on a more declarative approach, where we have a model source file and a configuration file, and the

[2019-12-12 13:37] bajtos commented on #2484
Follow-up stories:

- Dynamic binding/rebinding of controllers after app start #433.
- How to build models, repositories and controllers dynamically at runtime #4296
- Docs for exposing REST API of a Model with no custom classes #2740

I am closing this spike as done.

[2019-12-12 13:37] #2484 closed

[2019-12-12 13:40] bajtos commented on #2484
I don't think we will have time to look into this in the next 3-6 months. Let's wait until there is user demand.

[2019-12-12 13:53] agnes512 commented on #3343
@bajtos I agree that the default property name should be camelCase instead of lowercase and focus on `discover` first.

I also agree with @jannyHou that we should also allow people to have their property name the same as db column names as part of scope in the story. e.g:
column name `CustomerId` -> 2 options: `customerId`(default) or `CustomerId` (keep it the same).
But I am not sure how much eff

[2019-12-12 14:05] bajtos commented on #3343
LGTM 👏

Personally, I am also ok to leave the task "keep it the same as the column names ( might cause unexpected behavior. please read the ....file)" out of scope, depending on what other team members prefer.

[2019-12-12 19:36] mschnee commented on #2157
Here's another example:
[code]

I agree that it's poorly documented.  Writing custom formatters for AJV is extremely powerful: especially because you can use them for openapi schema validation and it "just works" any place the field is validated.  Let's say you want to ensure that string matches a format called `bson_id`:
[code]

[2019-12-12 20:17] zzhenryquezz opened #4299 "Filter the parent model using a related model property."
## Suggestion

A way to filter the parent model using a related model property, something like modify the query before execute him or other solution.
[code]
## Use Cases
Is useful when you can request just the parent model but still need to filter the results usign a property of other model(table)

## Examples

Ex:

i have product
[code]
And product_status:
[code]

And product_group
[code]

I Wann

[2019-12-12 20:20] mschnee opened #4300 "Add more convenience openapi method decorators"
Convenience Decorators have been added to `@loopback/openapi-v3` under the `oas` namespace.

**Tags**
[[PR](https://github.com/strongloop/loopback-next/pull/4550)]
`@oas.tags(...tagNames: string[])`
Adds arbitrary tag strings to the path spec for a method or a class.

**Deprecated**
[[(PR](https://github.com/strongloop/loopback-next/pull/4415)]
`@oas.deprecated(isDeprecated: boolean = true)`
When

[2019-12-12 23:40] rodrigouz commented on #3281
`npm update` just worked wonderfully. Thanks!

[2019-12-13 00:17] raymondfeng commented on #3281
Moving forward, please try `lb4 update`. See https://loopback.io/doc/en/lb4/Update-generator.html for more details.

[2019-12-13 14:10] achrinza opened #4303 "bug(repository): non-numeric IDs are not valid"
## Steps to reproduce

1. Create a new model with a `string`-type ID
2. Create a datasource
3. Create a repository for the newly-created model
4. Crate a controller for the newly-created model

## Current Behavior

The generated `create()` function's `@requestBody()` parameter injection will return the following error:

[code]

## Expected Behavior

These functions should be able to accept non-num

[2019-12-13 15:58] bajtos commented on #2398
In the pull request https://github.com/strongloop/loopback-next/pull/4270, we have run into this issue too. When running acceptance tests for `repository-mysql`, automigration fails because

[2019-12-13 16:05] bajtos commented on #4303
@achrinza thank you for reporting the bug. Can you please create a small app reproducing the problem, per our instructions in https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs?

[2019-12-13 23:07] achrinza commented on #4303
@bajtos Unfortunately I haven't been able to get the exact issue to occur, but a similar issue seems to persist. I've updated the original comment to reflect that.

[2019-12-14 09:54] achrinza commented on #4160
@frbuceta As per-https://github.com/strongloop/loopback-connector-mssql/pull/219#issuecomment-564408013, the PR may take a bit longer to be complete. Maybe you could test the PR first by setting the `package.json` dependency?

[code]

If the issue still persists, then we know there's another issue that needs resolving.

[2019-12-14 10:50] dougal83 commented on #4303
It looks like case sensitivity.  Controller expects `exclude: ['ID'],`  Give that a try in place of `exclude: ['id'],`.

[code]

[2019-12-14 11:50] achrinza commented on #4303
@dougal83 Yup, this seems like the case! A bit of an oversight at my part. Will close this issue.

[2019-12-14 11:50] #4303 closed

[2019-12-14 19:51] frbuceta commented on #4062
I leave this piece of code here ... with this lint-staged works correctly
[code]

I will try to make a pr with an option in loopback cli

[2019-12-15 00:09] achrinza commented on #4228
@derdeka This does seem like a non-standard feature but I think it can be beneficial.

As per-#4218, regexp has certain flags that use the backslash which may interfere with JavaScript escape character which means that writing regexp in a JavaScript string isn't technically valid, standard regexp when copy-and-pasted to elsewhere.

[2019-12-15 06:05] achrinza commented on #4245
Hi @aceraizel, has @frbuceta's solution help solve the issue? If it has, then we can close this issue. Otherwise, we can discuss further on a possible fix.

[2019-12-15 17:24] #1396 closed

[2019-12-16 00:16] dhmlau commented on #1914
@frbuceta, since your PR #3304 has landed, is this issue good to close? Thanks.

[2019-12-16 00:18] dhmlau commented on #4089
Closing as done. Thanks.

[2019-12-16 00:18] #4089 closed

[2019-12-16 00:21] frbuceta commented on #1914
Yes, it can be closed. Something provisional has been launched to my liking but someday the time will come to do it better

[2019-12-16 00:26] dhmlau commented on #4062
@frbuceta, thanks for picking up this issue. I just assigned it to you. Thanks.

[2019-12-16 00:34] frbuceta commented on #4160
No problem mate. Yes, I try it now and I tell you

[2019-12-16 00:36] dhmlau commented on #2006
I believe @KyDenZ has answered the question.  Closing this as resolved. Thanks.

[2019-12-16 00:36] #2006 closed

[2019-12-16 00:40] dhmlau commented on #2615
According to the [above comment](https://github.com/strongloop/loopback-next/issues/2615#issuecomment-487897572), I'd like to move over the discussion to #1718 and close this issue as duplicate. Thanks!

[2019-12-16 00:40] #2615 closed

[2019-12-16 00:40] dhmlau commented on #3377
Closing as resolved. Thanks.

[2019-12-16 00:40] #3377 closed

[2019-12-16 00:44] frbuceta commented on #4160
I can confirm that now it does crash loopback but the query still doesn't work, even doing a "where" still doesn't work. Any ideas?

[2019-12-16 00:45] dhmlau commented on #4097
@swd72, we believe we've answered your question through the [above comment](https://github.com/strongloop/loopback-next/issues/4097#issuecomment-557394173). Closing this issue.  Thanks.

[2019-12-16 00:45] #4097 closed

[2019-12-16 00:47] achrinza commented on #4160
@frbeutica Does it immediately crash upon startup or only when the query is executed? Using the same logging env. variable as stated in an earlier comment, what’s the error that occurs?

________________________________
From: Francisco Buceta <notifications@github.com>
Sent: Monday, December 16, 2019 8:44:54 AM
To: strongloop/loopback-next <loopback-next@noreply.github.com>
Cc: Rifa Achrinza <rifa

[2019-12-16 00:47] dhmlau commented on #3491
Closing due to inactivity. @sureshkodur, if you still encounter this issue, please feel free to open a new issue with details to reproduce the problem. Thanks!

[2019-12-16 00:47] #3491 closed

[2019-12-16 00:50] frbuceta commented on #4160
No error occurs, the request is processed indefinitely

[2019-12-16 01:06] achrinza commented on #4160
@frbeutica The issue really seems to be an inefficient generated query. I’ll see if I can replicate a similar environment in my lab.

In the mean time, just to rule out any variables, could you run this query on the MSSQL client of your choice:

[code]

I’m out and about right now, so the query may have some typos; modify that and [TableName] accordingly.

If the query above runs

________________

[2019-12-16 01:27] frbuceta commented on #4160
MsSQL has nothing to do with what it seems ... the query took 6 seconds (98ms)
Thank you very much for the help

[2019-12-16 01:33] frbuceta commented on #4160
WOW... When I do a "where" this is the call to MsSQL

[code]

[2019-12-16 06:03] sureshdmavericks commented on #3491
Yes @dhmlau . This issue has been resolved. Thanks

[2019-12-16 07:11] achrinza commented on #4160
@frbuceta Thanks for the report, I think it's almost safe to say that LoopBack 4's generated T-SQL query doesn't scale very well. I'll look more into it and drop any significant updates here.

Just to be sure, can you try to create a "GET endpoint" on an lb4 connector that executes (and potentially return) the below function?
[code]

This above function should allow raw SQL queries passed through

[2019-12-16 15:30] frbuceta commented on #4160
This is working

This query is not correct. It seems he doesn't like syntax

This works, it took 14 seconds

[2019-12-16 23:39] achrinza commented on #4160
@frbuceta Could you post the generated query when using the fork and `"supportsOffsetFetch": true`? AFAIK this should work fine if the above queries can be executed.

[2019-12-17 00:20] frbuceta commented on #4160
Unless you have it wrong, I have it defined as follows.
![Screenshot 2019-12-17 at 01 17 59](https://user-images.githubusercontent.com/13822438/70953882-49cd4400-206b-11ea-9ebe-660a15d9a5f2.png)

[2019-12-17 00:27] achrinza commented on #4160
@frbuceta Apologies, what I meant was using `DEBUG=loopback:connector:mssql` env. variable, using `supportsOffSetFetch`, making a request then posting the logged generated T-SQL query.

[2019-12-17 00:34] frbuceta commented on #4160
I've tried since postman and if it works, sorry for my mistake
` SELECT [id],[codigo],[fecha],[latitud],[longitud],ROW_NUMBER() OVER ( ORDER BY [fecha]) AS RowNum FROM [dbo].[TABLENAME] WHERE [codigo]=@param1 ORDER BY RowNum OFFSET 0 ROWS FETCH NEXT 100 ROWS ONLY`

I am also making an order by date but it seems not to work ... Can it be for the same?
`Date FORMAT: 2019-09-17T07:14:10.457Z`

Many t

[2019-12-17 08:07] #3673 closed

[2019-12-17 12:37] RipkensLar commented on #2230
@dhmlau @bajtos
I am trying to get this working for a pdf which is stored as an utf-8 in my database. For testing, I also tried to load a local file as utf-8 and send this data, but it also does not get downloaded.
[code]

When I try to execute this with the API explorer, I get the following message:

The following response headers are set:
[code]

Do you have any idea why this is not working?

[2019-12-17 13:26] #2041 closed

[2019-12-17 14:21] yiev commented on #3846
Hello :-)

I came here from https://github.com/strongloop/loopback-next/issues/2246 and I am a bit confused right now - maybe someone of you can help me out of my confusion.

My goal is to have a user profile with completely different properties than `UserProfile`. In the mentioned issue it seemed that this may be developed in future.
But this issue seems like you are building more of a workaround

[2019-12-17 14:26] #2045 closed

[2019-12-17 17:19] dougal83 commented on #1749
``@param.query.object('whereObj', getWhereSchemaFor(Todo))``

I have a concern with there being a query parameter being described externally as an object.  If we have the open api spec describing the query parameter as an object, it raises a question of how we serialise into a string and satisfy the type externally based on the spec?

[2019-12-17 18:13] dougal83 commented on #4290
Just dumping research into possible patterns of references to consider.  I'll look further depending on time available.

Type specific:
[code]
Generic:
[code]

[2019-12-17 19:50] emonddr commented on #3846
@yiev , UserProfile is now in @loopback/security as it is used by both @loopback/authentication and @loopback/authorization .

https://github.com/strongloop/loopback-next/blob/master/packages/security/src/types.ts#L37

We kept `email` and `name` as optional for `backward compatibility`.

However there is a field which is `mandatory`

[securityId] : string  , where securityId is a Symbol (and there

[2019-12-17 20:24] jannyHou commented on #3846
@yiev Thank you for following up the implementation in the auth modules! Right now the `UserProfile` interface is defined in `@loopback/security`, [it extends interface `Principal`](https://github.com/strongloop/loopback-next/blob/master/packages/security/src/types.ts#L14).

Let me copy the relevant definitions:

[code]

It is not an empty interface but in terms of the flexibility to define custom

[2019-12-18 02:24] likexoo opened #4317 "Is it necessary to make @param support ObjectId type"
## Suggestion

Support MongoDB `ObjectId` type in `@param`

## Use Cases

- Need to check if the passed parameter is a valid `ObjectId` type
- Directly use `ObjectId` type parameter, no need to do `new ObjectId()`

## Examples

[code]

## Acceptance criteria

TBD - will be filled by the team.

[2019-12-18 04:01] #119 closed

[2019-12-18 06:30] AbhisheKundalia commented on #3930
@fabiohbarbosa @bajtos
I am facing the same issue. Can you please help with what changes did you make to avoid saving undefined fields as null in mongodb?

[2019-12-18 09:35] yiev commented on #3846
Thank you two for your answers!
I think I got it now. 😄

So implementing my own user like this should do the job, right?
[code]

[2019-12-18 13:38] emonddr commented on #3846
@yiev , almost.
In our view a MyUser model would be the superset of a MyUserProfile model (which implements UserProfile).

`MyUser` model would have many fields and would contain all data fields for the user: e.g. address, website, phone number, email, id, username, first name, last name etc.

Upon login with correct credentials (e.g. username and password or token) via authentication,  the authen

[2019-12-18 14:01] #2071 closed

[2019-12-18 14:01] #565 closed

[2019-12-18 14:29] yiev commented on #3846
@emonddr That's a good advice and I do understand the point to store only the needed information in the user profile. But in my case `MyUser` has anyways not a lot of properties that I don't need in the user profile itself. So what you just said would happen: `MyUserProfile` would contain almost all the same fields as `MyUser`.

It makes it for me a bit easier just to have always all information i

[2019-12-18 18:01] #2049 closed

[2019-12-18 20:10] dhmlau commented on #433
@bajtos, could you please update the ticket with acceptance criteria? Thanks!

[2019-12-19 08:25] RipkensLar commented on #2230
Thanks @dhmlau, that helped. I am able to download the pdf, but all pages are just blank. This could be a problem with loopback because I am able to download the exact same file in another project which is written in php but uses the same database.

[2019-12-19 10:17] hacksparrow commented on #3267
Hmm, I fixed this in July - https://github.com/strongloop/loopback-connector-mongodb/commit/c5200e26498ffcd2b560e3a3cf8ba2795bbf603f.

Use the latest version of `loopback-connector-mongodb`.

[2019-12-19 10:17] #3267 closed

[2019-12-19 14:02] dougal83 commented on #4317
Related issue #3720 as part of more robust handling of ObjectId.

[2019-12-19 14:18] #4001 closed

[2019-12-19 14:19] #3527 closed

[2019-12-19 14:39] dhmlau commented on #2230
@RipkensLar, i got the problem with empty file before, but after I switched to use `fs.readFileSync` instead of `fs.createFileStream`, the problem no longer exists.  When looking up the issue, I found someone uses some libraries to create a `PDFDocument` and load the file.

[2019-12-19 14:41] hacksparrow commented on #2230
`fs.readFileSync` is blocking, use `fs.readFile` with a callback function instead.

[2019-12-19 14:52] RipkensLar commented on #2230
@dhmlau But I am loading the pdf from a database, see explanation below:
I have two projects. In project A (written in PHP) the users are able to upload and download pdfs. This is working and used in production quite some time. Currently I am setting up another project where I need to access the database from project A because I need the same pdfs and don't want to store them twice. So I wrote a s

[2019-12-19 15:00] #3846 closed

[2019-12-19 15:40] ravikenqos opened #4320 "how to resolve redirect issue in loopack4"
import { RestApplication} from '@loopback/rest';
export class ShopifyController extends RestApplication {
  constructor() {
    super();
  }

  async install(
    @param({name: 'shop', in: 'query'}) shop: string,
  ): Promise<void> {
    const redirectUrl = `https://${shop}/admin/oauth/authorize?
    client_id=${shopifyApiKey}&scope=${scopes}
    &redirect_uri=${redirectUri}`;
    this.redirect('/

[2019-12-19 15:55] #2398 closed

[2019-12-19 18:16] gopalakrishnan-subramani commented on #2230
@dhmlau

response.send(data) worked for me, thanks for the support.

[2019-12-19 19:33] jannyHou commented on #4255
We have `AnyType` defined in [types](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/types)
So probably handle that type in [build schema]( https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L167), convert the [`AnyType`](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/types/any

[2019-12-19 19:43] agnes512 commented on #3343
Make sure the name passes the validation function and also converts the expected case.

[2019-12-19 19:54] nabdelgadir commented on #3736
Closed via https://github.com/strongloop/loopback-next/pull/4298

[2019-12-19 19:54] #3736 closed

[2019-12-19 20:34] jannyHou commented on #3854
Close after PR merged

[2019-12-19 20:34] #3854 closed

[2019-12-19 20:34] dhmlau commented on #3902
Closing as done! 🎄

[2019-12-19 20:34] #3902 closed

[2019-12-20 02:26] #2069 closed

[2019-12-20 09:32] RipkensLar commented on #2230
@dhmlau I just created a repo for you so you are able to see what is happening:
https://github.com/RipkensLar/loopback-next

Steps to reproduce:
Check out my repo.
Switch into branch pdf-bug.
Go to examples/todo.
Npm install.
Npm start.
Open the api-explorer.
Try out todos/download and then download the file.
As you can see the file is empty.

The pdf data which I use in the controller method is t

[2019-12-20 11:37] mikeevstropov commented on #2626
[code]
PATCH body
[code]
will fail with
[code]

[2019-12-20 20:03] jannyHou commented on #4320
@ravikenqos The `redirect` function is supported at application or server level, not controller level, see example in the [http redirect documentation](https://loopback.io/doc/en/lb4/Routes.html#implementing-http-redirects)

[2019-12-21 09:27] haotangio commented on #2570
Suddenly I got this issue and have no ideas why it happened.
I already updated the package.json to use latest loopback libs but it's still there.
Any suggestions?

[2019-12-21 10:06] pratikjaiswal15 commented on #3453
Hello. Can you please tell us the syntax for nested relations for url. I have tried something like this but it is giving error 500.

I have three models. Users have has-many carts and carts have has-many product.
My loopback/cli version is 1.27.0.
Thank you in advance

[2019-12-21 10:30] dougal83 commented on #3453
Try incrementing the include filter as follows:

`http://[::1]:3000/users?filter[include][0][relation]=carts&filter[include][1][scope][0]filter[where][product_id]=2`

[2019-12-21 10:35] pratikjaiswal15 commented on #3453
Still not working.

[2019-12-21 11:19] dougal83 commented on #3453
In that case you'll probably have to provide an example repo reproducing the problem so someone can take a look for you.

[2019-12-21 12:19] pratikjaiswal15 commented on #3453
I have posted a question on stack overflow https://stackoverflow.com/questions/59435371/loopback-4-include-nested-relations
Whereas multiple relations working well. I would like to know the syntax for nested relation[rest-api] as it is not documented

[2019-12-21 20:52] trusktr commented on #799
Regarding the all-too-common "has or is using private name" error, I've opened a request to fix issues like these in TypeScript by bringing declaration files to parity with language features. https://github.com/microsoft/TypeScript/issues/35822

[2019-12-22 05:36] shadyanwar commented on #4138
In application.ts, add `useSelfHostedSpec: false` to `RestExplorerBindings.CONFIG`. For example:
[code]

[2019-12-22 07:21] achrinza commented on #4138
Thanks @shadyanwar for the alternate solution. To avoid confusion, as [per-docs](https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html#advanced-configuration-and-reverse-proxies), `useSelfHostedSpec` does remove the explorer's self-hosting of `openapi.json` for it's own use. This however does not fully remove the explorer.

[2019-12-22 07:33] achrinza opened #4328 "feat(rest): refactoring common filter schemas"
Related: https://github.com/strongloop/loopback-next/issues/4290#issuecomment-565000888

Currently, the filter schemas are generated inline in the OAS `openapi.json` document. This may lead to the filter schemas being repeated within the same OAS docs.

## Suggestion

Instead, these schemas should be refactored into `/components/schemas`.

## Use Cases

The OAS document may be more compact and hav

[2019-12-22 07:34] achrinza commented on #4290
I've created a separate issue to work on refactoring common filter schemas: #4328

[2019-12-22 07:43] shadyanwar commented on #4138
@achrinza I assumed the aim of the question was to disable access to the explorer. Is it still accessible in any way after setting `useSelfHostedSpec` to `false`?

[2019-12-22 08:26] shadyanwar commented on #3453
@bajtos @agnes512 thank you for the great work.
While removing fields works well, specifying which fields to only show results in nothing coming back in response from the target model at all (comes as undefined). Your help is appreciated.

Examples:
This one works well. Returns all properties except the username:
[code]
This one doesn't work. Returns the included model's parent property as undefin

[2019-12-22 13:40] achrinza commented on #4138
@shadyanwar I've just tested this to be sure, the explorer is still accessible at `/explorer`. `useSelfHostedSpec: false` removed `/explorer/openapi.json` but not the explorer itself.

[2019-12-22 14:29] eliaoucohen72 opened #4332 "Include related models: bug if foreign key is null"
Hello,
I am using loopback 4 for my server side. I built my models with the new inclusion functionality.
I have model A and model B, In model A, there is a foreign key of model B. When I make a get request, I get the information with the whole object of the foreign key. Everything works perfectly but ... my foreign key is not required. So, when I make a get request in case the foreign key is null,

[2019-12-22 19:14] dougal83 commented on #4138
For completeness, to entirely disable explorer make **both** changes below:
`./index.js` - Add the following setting to options. [disable remote fallback]
[code]
`./src/application.ts` - Remove/comment the following code [remove self hosted component]
[code]

[2019-12-23 14:46] dougal83 commented on #4290
@bajtos I'll give the REST layer improvement a crack.  Will wait for review on #4319 to see if all/part of the pull is required in your estimation.

[2019-12-23 16:34] agnes512 commented on #3453
@pratikjaiswal15 hi, could you try to encode your filter with
[code]
then do
`http://[::1]:3000/users?filter=` **+ the encode result** ?

Sorry that we haven't found a proper way to query the nested relations with square brackets url format.
And since the query is getting complicated, we also recommend to just encode the filter with the above function.

[2019-12-23 17:12] agnes512 commented on #3453
@shadyanwar I just tried it out and I can reproduce it.
I investigated a bit, it is interesting.. apparently the source key/foreign key needs to be included in the fields to make the inclusion work.

For example, for hasMany relation, `Customer` has many `Order`s, the foreign key `customerId` **needs to be included** in the `scope.fields`
[code]
Similarly, for belongsTo relation, an `Order` belong

[2019-12-23 17:47] #1360 closed

[2019-12-23 19:44] micko75 opened #4331 "Loopback 4 install on Windows 10 core-js 2.6 is no longer maintained"
Good day;
I have this error during the install of loopback-cli and on application initialisation.
==============================================================
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.
=======================================

[2019-12-23 22:11] dhmlau commented on #4331
@micko75, what you've shown above is deprecation warning. Did you get any other error message?

@agnes512, could you please take a look? I thought the `renovatebot` would update the dependencies for us. Thanks.

[2019-12-23 22:12] dhmlau commented on #4332
Transferred to `loopback-next` repo.

[2019-12-23 22:14] dhmlau commented on #4332
@deepakrkris , could you please take a look? Thanks.

[2019-12-23 22:22] micko75 commented on #4331
@dhmlau no other error message or warning.

[2019-12-24 07:56] SidharthRaveendran commented on #4059
I'm unable to get relations to work with MongoDB as well, is there any workaround to get it running at the moment?

This is my repository following the Todo and TodoList tutorial
https://github.com/SidharthRaveendran/loopback_relationship

[2019-12-24 12:04] dougal83 commented on #4059
I'm not seeing todo-list-controller.ts in your project.  Perhaps taking another look at the tutorial or compare your code to the prebuilt example might be a good next step.  To create the example locally use `lb4 example todo-list`.  Happy to take a look if you're having the same MongoDb issue with the generated example code.

[2019-12-24 12:13] SidharthRaveendran commented on #4059
Sorry, missed to push that part of the code, I've updated the repo but still have the issue. Could you tell me how to fix it?

[2019-12-24 13:26] agnes512 commented on #4059
@SidharthRaveendran Hi, what kind of errors are you getting? Are they related to `ObjectId`?

[2019-12-24 13:46] agnes512 commented on #4331
@micko75 Hi, for the older version project, you can
1. stick with existing deps and use an older version of CLI
2. upgrade deps to match the newer CLI and use the newer CLI

After deps upgrade, you might have to fix the project manually for any breaks.

For updating, you can do `npm update` ([Ref](https://loopback.io/doc/en/lb4/Command-line-interface.html#upgrading-loopback-dependencies)).
Or do `

[2019-12-24 15:10] koliberr136a1 commented on #4291
You can take a look at this [extension](https://github.com/strongloop/loopback-authorization-extension), it can help you to user HRBAC authorization model

[2019-12-24 16:30] SidharthRaveendran commented on #4059
I'm new to loopback framework, so I'm not sure if it's related to ObjectId or not, this is the error i get.

[code]

[2019-12-24 17:02] dkrantsberg commented on #4296
I came across the need to be able to dynamically define controllers at runtime.
I was able to create and add a controller using this approach:

[code]

Now is there a way to pass Request context to this controller? I need methods of this controller to be able to access request and response objects.

[2019-12-24 18:25] dougal83 commented on #4059
@SidharthRaveendran I've just created https://github.com/dougal83/loopback4-example-todo-list-mongodb so you have a reference to work toward.  Unfortunately as discussed in this issue the include functionality doesn't appear to be working.

[2019-12-24 23:54] javiersantossanchez commented on #1663
Hi everybody, I am looking for an open-source project to contribute, and I found this issue and I would like to work on it.  This issue is unassigned I just want to validate there is nobody working on it.

[2019-12-25 03:15] SidharthRaveendran commented on #4059
@dougal83 the include functionality seems to be working in your example! thank you

![Screenshot 2019-12-25 at 8 41 47 AM](https://user-images.githubusercontent.com/7778385/71430566-a75c3300-26f2-11ea-8092-91f4961e6055.png)

[2019-12-25 05:28] vvdwivedi commented on #1663
@javiersantossanchez I was supposed to work on this, but stuck with something else. I am not sure I understand your second question correctly, but if you want to know:
if users should be able to create packages with uppercase letters?

Then npm doesn't allow Capital letters anymore in the package name.

[2019-12-25 06:32] pratikjaiswal15 commented on #3453
@agnes512 No problem. Thank you.

No problem. Thank you

[2019-12-25 08:23] atreyarc commented on #1466
Hey folks, does any one have the steps for deploying to Azure webapp? I did a standard nodejs deployment from vscode, however, getting below error when trying to ping.
![image](https://user-images.githubusercontent.com/20023770/71439001-22741800-26f8-11ea-84d4-1cb6bec9cead.png)

[2019-12-26 06:03] sureshdmavericks commented on #1979
@RipkensLar , Can you explain `../data/params`?

[2019-12-26 07:07] sureshdmavericks commented on #1979
Thanks @RipkensLar . Its worked like a charm... Thank you

[2019-12-26 07:17] SidharthRaveendran commented on #4059
@dougal83 But I still can't seem to figure out what part of your repo fixed this issue :(

[2019-12-26 09:37] dougal83 commented on #4059
@SidharthRaveendran I bumped the version of loopback-connector-mongodb to 5.x.x.  I suspect that could be the reason, but oddly enough when I run my example the inclusion doesn't work.

Probably best to wait for @bajtos who understands the issue.

[2019-12-29 00:37] dougal83 commented on #4328
@bajtos Here is a [draft gist](https://gist.github.com/dougal83/92b1c5bcc05bd4835861246bc7196e4f).  I need to run code against samples and write tests(*sigh).

Where would be the best to place this code and where to inject it's functionality?  I'll put into PR for review pending your feedback.

[2019-12-29 12:58] #2117 closed

[2019-12-29 13:34] shadyanwar commented on #1201
@virkt25 @dhmlau It would be great if we could re-open this issue.

[2019-12-29 15:02] shadyanwar commented on #1919
Thanks for proposing this workaround. However, in MySQL, the `SELECT` query sent always includes the computed fields (saw it using `DEBUG=loopback:connector:mysql npm start`).

[2019-12-29 16:58] #1235 closed

[2019-12-30 02:09] nabdelgadir opened #4346 "Import LB3 DataSources to a LB4 Project"
_Related to https://github.com/strongloop/loopback-next/issues/3946_.

Currently, users have to manually move their datasources from LB3 to LB4 using the steps defined in https://github.com/strongloop/loopback-next/pull/4343. In order to automate this process, create a CLI command that will move the datasources from a mounted LB3 application to the LB4 project.

Since LB3 datasources are compatibl

[2019-12-30 09:51] Sharonee commented on #3700
Hi @bajtos
I have found that fix should be in @loopback/repository under "create" function,
how can I build a new module for loopback/repository?
do we have any documentation for that?

thx
Sharon

[2019-12-30 16:22] #4147 closed

[2019-12-30 19:23] jannyHou commented on #4205
I am on the latest cli `@loopback/cli@1.27.0`, the created todo example (`lb4 example` --> select todo) already fixes the lint errors in CONTROLLER and MODEL:

- model:
![Screen Shot 2019-12-30 at 2 14 39 PM](https://user-images.githubusercontent.com/12554153/71596859-f8af5c80-2b0e-11ea-9019-2272056039e2.png)
- controller:
![Screen Shot 2019-12-30 at 2 17 25 PM](https://user-images.githubuserconte

[2019-12-30 19:24] jannyHou commented on #4205
I will wait for a new release before closing this story.

[2019-12-30 21:55] jannyHou commented on #4290
@dougal83 I am glad that you are aware of the oas enhancer service and agree that this is a good chance to try it 👍

After story #4258, we are going to add an `OASEnhancerService` in the [rest server](https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/rest.server.ts#L110), as how it has other properties like `_requestHandler`.

I think [function _serveOpenApiSpec](https://gi

[2019-12-30 21:56] jannyHou commented on #4328
@dougal83 commented in https://github.com/strongloop/loopback-next/issues/4290#issuecomment-569807646 :)

[2019-12-30 22:41] rajkaran opened #4351 "Authorizer triggers twice"
I have created a basic authorizer by following [offical documentation](https://loopback.io/doc/en/lb4/Loopback-component-authorization.html) and [loopback4-example-shopping](https://github.com/strongloop/loopback4-example-shopping).

I have found that every time I hits api end point, consol.log in cutom authorizer provider triggers twice.

## Steps to reproduce
below is my code.

role-based-author

[2019-12-31 20:57] #3946 closed

[2020-01-01 12:31] dexdinesh opened #4354 "Navigational properties are not allowed in model data"
As I had already used relations in loop back4 project now when I tried to perform any crud operation it returns
**500 Error: Navigational properties are not allowed in model data (model "UserDevice" property "user_id")**

My models are as follows:

**User Model:**
[code]

**User Device Model:**
[code]

Error I always receive on Create and Update operation:

    at UserDeviceRepository.ensurePersis

[2020-01-01 16:28] eliaoucohen72 commented on #4332
Someone has checked the bug?

[2020-01-02 01:38] dkrantsberg commented on #4296
Actually I was able inject Request and Response object into a dynamically created controller by also using `MetadataInspector.defineMetadata` and programmatically adding injection metadata to the controller class. Like this:

[code]

[2020-01-02 08:11] RipkensLar commented on #2230
@dhmlau do you have any updates on this?

[2020-01-02 08:50] deepakrkris commented on #4332
@eliaoucohen72  I am not able to recreate this issue with in-memory connector and mysql, which database are you using ?
Can you also give the exact URL that is failing and the complete stack trace.
Is your GET call trying to do a list or access a specific id ?
If possible please explain the issue in terms of one of the examples (for instance, todo example)

[2020-01-02 10:34] orensolo opened #4356 "Performance degradation"
##  Steps to reproduce

Run performance tests, when the performance criteria are requests per second and latency.

## Current Behavior

I am using  `"@loopback/context": "^1.25.0"`, and I noticed a degradation in performance.
After analyzing the results using a profiler, I found out that interceptors loading is one of the main causes of this degradation.

Specifically, the following line (in `getG

[2020-01-02 10:46] eliaoucohen72 commented on #4332
Postgres

Both

### charge.model.ts
[code]

### tenant_configuration.model.ts
[code]

### code for my GET request
[code]

[2020-01-02 14:22] agnes512 commented on #4236
:tada:

[2020-01-02 14:22] #4236 closed

[2020-01-02 14:37] baltameme opened #4357 "Unable to add multiple "hasOne" relations in loopback 4 with MongoDB"
@loopback/* dependencies:
  - @loopback/authentication: ^3.2.4
  - @loopback/boot: ^1.6.0
  - @loopback/build: ^3.0.0
  - @loopback/context: ^1.25.0
  - @loopback/core: ^1.12.0
  - @loopback/metadata: ^1.3.9
  - @loopback/openapi-spec-builder: ^1.2.20
  - @loopback/openapi-v3: ^1.10.3
  - @loopback/repository-json-schema: ^1.11.3
  - @loopback/repository: ^1.16.0
  - @loopback/rest: ^1.25.0
  - @l

[2020-01-02 15:15] raymondfeng commented on #4356
Oren, great catch. We’ll come up a fix soon.

[2020-01-02 15:28] dougal83 commented on #4290
@jannyHou Thank you.  I think I'll wait for the next release before tinkering.  I lack the working knowledge to proceed with unreleased lerna packages.

[2020-01-02 17:25] agnes512 commented on #3602
I think LB4 is able to auto-generate `uuid` for MySQL with auto-migration. Here is my model definition:
[code]
Ref: [General property properties](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#general-property-properties)

As what we discussed above, for int default type DBs such as MySQL, PlstgreSQL, `generated=true` only auto-generates `int` type id.
@frbuceta Does `defaultFn` he

[2020-01-02 19:17] agnes512 commented on #2398
Notice:
the solution in  strongloop/loopback-connector-postgresql#404 allows you to generate `uuid` inside of PostgreSQL and use your own extension/function.

**BUT** this can be done easily with the existing functionality `defaultFn`:
[code]

Ref: [General property properties](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#general-property-properties)

In PostgreSQL, integer can b

[2020-01-03 06:46] basavarajvs commented on #4332
I faced a similar issue with POSTGRESQL. Based on the information available from stackoverflow https://stackoverflow.com/questions/54158349/how-to-use-default-in-postgres I updated all the rows whose value was null for the relation. The problem was n more seen. Not sure if in every case we can have a NON-NULL value in a relation field.. But this helped me.

[2020-01-03 08:40] RipkensLar commented on #4291
@dhmlau @deepakrkris @jannyHou
May you please help me out? I have to implement the authorization soon to be able to go into production. Is using the extension mentioned by @koliberr136a1 the only way to implement roles?

[2020-01-03 11:49] LonguCodes commented on #4354
This is desired behaviour, discussed in #3439.
I have no idea why they decided on that and I have another question. How should we update relation properties?

[2020-01-03 13:06] hacksparrow commented on #2230
@RipkensLar the file is not empty as seen in this screenshot.
![image](https://user-images.githubusercontent.com/950112/71724839-cd52a780-2e57-11ea-88c3-ababefb6471c.png)

If it is not displaying any content in PDF viewers, something must be wrong in the format.

[2020-01-03 15:18] agnes512 commented on #4357
@baltameme could you post your User repositories? thanks.

[2020-01-03 17:17] deepakrkris commented on #4332
I used the following scripts in a local postgres instance and tried with the existing todo-list example as is. please note that the foreign key `todoListId` is null for one of the rows in the `todo` table. Still a GET call works fine and gets the list of todos

[code]

[2020-01-03 17:19] deepakrkris commented on #4332
<img width="310" alt="Screen Shot 2020-01-03 at 10 47 42 PM" src="https://user-images.githubusercontent.com/7688315/71737931-1a944080-2e7b-11ea-9564-f0800c8cf25d.png">

the request url http://localhost:3000/todos?filter[limit]=100, gets a list of all todos even though the FK todoListId is null.

[2020-01-03 17:27] deepakrkris commented on #4332
@eliaoucohen72 is the case you are dealing different than the one I have described above ? In that case I have a few questions:

1. usually a list function is supported out of the box and for including relations an `InclusionResolver` is added as in the todo-list example. In your example, what the charge repository and its method findAllActive() are trying to query ? is it a specific join conditio

[2020-01-03 17:37] deepakrkris commented on #4291
@RipkensLar sorry about the late reply. Please go through the shopping example , specifically the user order controller , to see how authorization is implemented ( https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user-order.controller.ts ). The authorization section in the read me of the shopping app, gives details on how it has been implemente

[2020-01-03 17:46] deepakrkris commented on #4291
@RipkensLar to give an easier pointer to start from the example shopping app , please take a look at https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/application.ts#L79

[code]

The above binding tells the loopback authorization package what function will act as an authorizer for every api call. In our example shopping app that function is defined in the p

[2020-01-03 17:48] deepakrkris commented on #4291
@RipkensLar other than the doc fix I have mentioned in comment https://github.com/strongloop/loopback-next/issues/4291#issuecomment-570642815 if you feel the general readability of authorization docs https://loopback.io/doc/en/lb4/Loopback-component-authorization.html is obscure, please suggest improvements and I will have it updated.

[2020-01-03 18:08] deepakrkris commented on #4291
@RipkensLar please review and add your suggestions : https://github.com/strongloop/loopback-next/pull/4361

[2020-01-03 18:40] deepakrkris commented on #4291
@RipkensLar the extension suggested by @koliberr136a1 is for hierarchical roles and is not a generic implementation. The loopback shopping app has much simpler examples for authorization.

[2020-01-03 18:45] baltameme commented on #4357
Hi @agnes512,
Sure, you can find an archive in the attached link for all repos files.

[repositories.zip](https://github.com/strongloop/loopback-next/files/4020449/repositories.zip)

[2020-01-03 19:27] luncht1me commented on #3033
I'm currently looking for a way to validate properties on my model of a `string` type to only be one of an allowed value. This would be a great help as I'm having trouble finding the "loopback way" to do it. My current solution was to iterate over an enum with a custom interceptor... But I don't really like that approach.

[2020-01-03 23:51] luncht1me commented on #2911
I'm currently working on validating with enums, and can confirm the following behavior:

The `@property` decorator within the model doesn't validate enums. My enum `AlertType` here is just a basic string enum of arbitrary strings.
[code]
Using the `@property` decorator, Loopback does not validate that the data I pass for this property to create an instance of this model and I can send it any junk

[2020-01-04 10:41] gohmc opened #4363 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
When I ran load test against lb4 backed application, i got flooded with the above warnings and observed the lb4 application slow down significantly (4x slower than normal with very poor throughput). However, the application didn't crash.

It looks like too many interceptors need to watch the event loop? It can be reproduce with one of the lb4 example:

lb4 example greeting-app
cd loopback4-example

[2020-01-05 14:38] #1727 closed

[2020-01-05 15:39] eliaoucohen72 commented on #4332
I have recreated a new project with the TodoList example with a postgres database. I want to send you all the project that you can run it on your computer (just add your username and password in the  db.datasource.config.json file, and do npm i.  Can you give me your email to send you?

[2020-01-05 15:46] dougal83 commented on #4332
@eliaoucohen72 Just upload it to your github account as a public repo and post link here?

[2020-01-05 16:33] eliaoucohen72 commented on #4332
https://github.com/eliaoucohen72/lb4_todolist_with_postgres

[2020-01-06 06:16] baltameme commented on #4357
Hi @agnes512, kindly any updates regarding the issue?
Also, is there any alternative way to implement the hasOne relation with MongoDB... apparently, there is a problem with Mongo Connector with Loopback4

[2020-01-06 08:34] RipkensLar commented on #4291
Thanks for your detailed replies @deepakrkris. I understand how I would set the whole thing up, but the part that is missing for me is this right here:
[code]

Where do I have to define that a certain user has the role `ADMIN`? I would think that I would have to create a new property in my user model which contains the role of the certain user.

[2020-01-06 09:48] deepakrkris commented on #4291
@RipkensLar , how and where user-role configuration is done is part of the developer's solution and LoopBack does not enforce any details. Please take a look at the acceptance tests in the authorization package, https://github.com/strongloop/loopback-next/tree/master/packages/authorization/src/__tests__/acceptance .
In the casbin authorization test (authorization-casbin.acceptance.ts) user-role co

[2020-01-06 09:59] bajtos commented on #3607
Great, thank you @emonddr!

A plain data object. For example:

[code]

I think the conversion logic should work as follows:

- If the value is not an object, then keep it as-is
- If the value is an array, then (recursively) convert all items of that array
- If the value has `.toObject` method, then call it to perform the conversion
- Otherwise keep the value as-is

I have also checked the implemen

[2020-01-06 10:39] xzessmedia opened #4368 "Informix Connector not available"
Referring to https://github.com/strongloop/loopback-connector-informix/issues/56

The Informix Connector is not part of the tooling.
It should be available by default so informix users can take the advantage of using loopback with their systems

## Acceptance Criteria
- [ ] when running `lb4 datasource`, the informix connectors show up as one of the available connectors.
- [ ] update [Connectors r

[2020-01-06 10:40] bajtos commented on #4368
@xzessmedia would you like to contribute this change yourself? See [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get started.

[2020-01-06 11:50] deepakrkris commented on #4332
@eliaoucohen72 I am able to recreate the error with the repo you provided. I will update this issue with the fix required.

[2020-01-06 13:51] hacksparrow commented on #4320
If you want to dynamically redirect a request you can do this:

[code]

[2020-01-06 13:51] #4320 closed

[2020-01-06 15:07] agnes512 commented on #4357
@baltameme I couldn't reproduce the issue on my end.  My `Customer` has one `Order` and one `Review`:
#### Customer.model:
[code]
####  Order.model
[code]
#### Customer.repository
[code]
Your repositories look correct to me. The error message `500 TypeError: Cannot read property 'type' of undefined
at Object.resolveHasOneMetadata` is vague. I don't think I am not able to spot where the problem is

[2020-01-06 15:18] bajtos commented on #3526
LoopBack does not support cascading operations (create, update, delete).

[2020-01-06 16:02] mgabeler-lee-6rs commented on #3293
I ran into a similar symptom which, in my case at least (not sure if it's exactly the same as here), seems to be caused by the caching of `MODEL_WITH_PROPERTIES_KEY` in `ModelMetadataHelper.getModelMetadata`.

What's happening is that the call to `MetadataInspector.getClassMetadata` calls `Reflector.getMetadata` which calls `Reflect.getMetadata` which finally calls `Reflect.OrdinaryGetMetadata` wh

[2020-01-06 16:14] dougal83 commented on #4331
WARN will be resolved upstream.  See https://github.com/babel/babel/pull/10929

[2020-01-06 16:14] #4331 closed

[2020-01-06 17:42] raymondfeng commented on #4356
It seems that finding matching bindings by tag can be expensive as we iterate through all bindings in the context hierarchy. I'll try to create an index for bindings by tag to see if it helps.

[2020-01-06 18:48] luncht1me commented on #4255
You could for now, define the property type as 'object'... ie:
[code]

Ofc this results in your data being `modelInstance.data.value` but atleast you'd be able to just do anything with it now.

[2020-01-06 18:52] ThePrez opened #4371 "Db2 Data Sources - Fix names for clarity and proper branding"
## Suggestion
There are several "Db2" data sources available now (hooray!):
- IBM DB2
- IBM DB2 for iSeries
- IBM DB2 for z/OS
- Db2 for i (brand new, from @strongloop/ibmi-maintainers , not yet on loopback.io)

## Use Cases
Users should be able to choose options from the loopback.io documentation and `lb datasource` with a proper sense of how the connectors are related

## Examples

A z/OS user h

[2020-01-06 18:54] deepakrkris commented on #4332
This issue occurs because of two parts:
1. the Belongs-To resolver in loopback-next tries to fetch objects even for foreign key marked as `NULL`
2. the Postgres connector tries to set `DEFAULT` value to null keys in where clause (only for id fields), which causes error. This check seems to be an unnecessary one, postgres does not seem to complain for NULL values placed in where clauses even for id

[2020-01-06 19:24] deepakrkris opened #4372 "Belongs-To relation tries to resolve for foreign key NULL"
## Steps to reproduce
Detailed steps are in issue https://github.com/strongloop/loopback-next/issues/4332

## Current Behavior
Belongs-To resolver tries to fetch objects for foreign keys by constructing an IN clause (the juggler does this on behalf of the resolver). If a foreign key has NULL value the constructed IN clause has a `NULL` value in it. ~This may result in errors in certain conditions~

[2020-01-06 19:30] deepakrkris commented on #4332
opened issue https://github.com/strongloop/loopback-next/issues/4372 for case 1 above.
opened issue https://github.com/strongloop/loopback-connector-postgresql/issues/407 for case 2 above.

[2020-01-06 23:35] raymondfeng commented on #4363
The extension point uses listeners to watch events from the request -> rest server -> app context hierarchy so that newly bound extensions can be picked up. The following up will remove the listener:

https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/request-context.ts#L105

In your case, if you have more than 10 concurrent requests, you may set the warning message. We prob

[2020-01-06 23:36] raymondfeng commented on #4363
@gohmc Do you use https://github.com/strongloop/loopback-next/tree/master/examples/greeting-app for benchmarking?

[2020-01-07 00:20] hsluoyz commented on #4291
Casbin supports to store roles (and permission assignment, we call them policy rules together) into file (rbac_policy.csv) or DB (all supported DB are listed in: https://casbin.org/docs/en/adapters).

You can use either:

https://casbin.org/docs/en/management-api
https://casbin.org/docs/en/rbac-api

[2020-01-07 04:18] gohmc commented on #4363
@raymondfeng, the example was used to reproduce the issue only, it was another production application that encounter performance issue. there was lot of MaxListenersExceededWarning in the log file.

latest development is we used another example (hello-world) and run the same test and did not see neither the warning or performance issue (avg latency of 1.3ms, avg req rate/s 7.3K).

trying to determ

[2020-01-07 05:18] joeytwiddle opened #4375 "After adding a new field, how to get the default value into existing documents?"
I have added a new field to my model:

[code]

Now, when I fetch an old existing document from the collection, I want to see it has the property `isFoo: true`. How can we achieve that?

----

Plan A: I fetch pre-existing instances of the model from MongoDB, but this new property is not present on the objects.

I was hoping to see `isFoo: true` on the objects I had fetched.

----

Plan B: I fetched

[2020-01-07 14:46] bajtos commented on #3602
@agnes512 I believe that we want to let the database generate the UUID values, not LoopBack. The suggested property definition will generate the id value at LoopBack side.

[code]

What we want to achieve is the following property definition inside the juggler layer:

[code]

Now because juggler is replacing any user-provided type with connector-provided default type whenever a property is an auto

[2020-01-07 15:16] RipkensLar commented on #4291
@deepakrkris @hsluoyz
That helped quite a bit. So I got the whole authorization set up. Now I am struggeling to configure my rbac model. I don't need accessed resources and access methods. I just want to give user xy one role and check for that in my `authorizor.ts`:
[code]

This is my rbac_model.conf:
[code]

And in my database I have these two rows:
[code]

But when I decorate a method in my con

[2020-01-07 15:29] dhmlau commented on #4371
@ThePrez, your proposal LGTM in general.  One question... is `Db2 for LUW` the latest naming? In https://www.ibm.com/support/knowledgecenter/SSEPGG, the latest versions already change to just use `Db2`

I think if we just change the `description` field in https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json#L403, we don't need to change in other place. We might ne

[2020-01-07 15:35] emonddr opened #4376 "Monthly Milestone - January 2020 ❄️🎆🎉"
## Overview

- Take some time to:
  - fix bugs, improve developer experience, fix docs
  - triage open issues across all the repos, not just `loopback-next`
- Migration work continues to be one of the focus
- Focus on issues/PRs for loopback-connector-mongodb

## Goals

- Migration guide between LB3 and LB4 MVP #453

  - [x] How to migrate boot scripts #3957
  - [x] :running: Spike: Migration guid

[2020-01-07 15:35] bajtos commented on #4328
After we land _feat(rest): add openapi schema consolidation_ #4365, I'd like to start the process of deprecating `getModelSchemaRef` and reworking both our existing code and CLI templates to leverage the new schema consolidation:

- Introduce `getModelSchema` similar to `getModelSchemaRef` (see [`src/controller-spec.ts`](https://github.com/strongloop/loopback-next/blob/1df8cd17f731a7af84284e0149e5

[2020-01-07 15:57] deepakrkris commented on #4291
@RipkensLar looks like you are missing the `object` in the enforce() call , which possibly is a necessary param (https://github.com/casbin/node-casbin/blob/9b95d03146ce7dd5d1b58469f3f302df268b4792/README.md#get-started). Casbin is only used as an example in loopback tests. you can go thru their docs and debug to see how the api calls respond.

[2020-01-07 16:12] raymondfeng commented on #4356
1. With fix
[code]

2. Without fix
[code]

[2020-01-07 16:13] dhmlau commented on #4368
Thanks @bajtos. It's good to know that we have a separate json for the connectors for LB4. https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/connectors.json

[2020-01-07 16:14] dhmlau commented on #4371
Just realized that the json file controlling the list of connectors in LB4 is https://github.com/strongloop/loopback-next/blob/master/packages/cli/lib/connectors.json.

[2020-01-07 16:14] raymondfeng commented on #4356
@orensolo Do you want to try out https://github.com/strongloop/loopback-next/pull/4377?

[2020-01-07 16:57] frbuceta opened #4378 "@loopback/renovate-config package"
## Suggestion

Today I come to propose incorporating a new loopback package (for loopback 3 and 4).

In my day to day I use Renovate (if I'm not confused, in loopback-next it is also used) and as I have seen that @raymondfeng has incorporated in the CLI the option to update the project, At this point, I want to go a little further and take advantage of the full power of Renovate.

To block Renovat

[2020-01-07 17:12] nflaig opened #4379 "Enhance Repository patch functions to allow MongoDB Update Operators"
# Suggestion

Currently it is not possible to use advanced [MongoDB operators](https://docs.mongodb.com/manual/reference/operator/). A good start would be to enhance the `Repository` update implementations to allow [MongoDB update operators](https://docs.mongodb.com/manual/reference/operator/update/).

This feature is already supported by LoopBack 3 but not yet usable in Loopback 4 without a worka

[2020-01-07 19:23] emonddr commented on #433
REST server sees all the routes.
Routes built from all controllers
Routes get set in routing table
Need to find a cleaner way to refresh the cache.

The context view is a mechanism to watch and refresh. Perhaps this angle should be used to manage the cache.

[2020-01-07 21:31] jannyHou opened #4380 "Add OpenAPI enhancer service in @loopback/rest"
## Suggestion

This is a follow-up story for https://github.com/strongloop/loopback-next/pull/4258, after creating the oai enhancer service as extension point, we should add the service in `@loopback/rest` module so that other enhancers could register and contribute OpenAPI specs into the application(server).

## Use Cases

Inside function `getApiSpec()`, you can apply an enhancer like:

[code]

#

[2020-01-08 00:49] luncht1me opened #4384 "OpenAPI 'definitions' not being saved as definition component, but as schema"
So, I was trying to define some more logic for OpenAPI validation within my loopback model, and ran into [This StackOverflow Post](https://stackoverflow.com/a/47667175/1973350) that pointed me in the right direction about more complex logical operators.

So, I went ahead and added the 'definitions' property to my OpenAPI Schema for the route that creates an instance of my target model. But, on ins

[2020-01-08 01:38] jannyHou opened #4385 "Ordering the enhancers by group name for OpenAPI spec enhancer service"
## Suggestion

See discussion in https://github.com/strongloop/loopback-next/pull/4258#discussion_r355542472, when load spec enhancers, people should be able to specify order for them.

A proposal would be using a combination of **group** and **alphabet order** like how we load observers group by group in https://loopback.io/doc/en/lb4/Life-cycle.html#observer-groups.

## Use Cases

When define an

[2020-01-08 02:24] jannyHou opened #4386 "Add bearer auth scheme as the default security scheme"
## Suggestion

After story https://github.com/strongloop/loopback-next/issues/4380 finished, we can add a security spec enhancer to have the bearer auth scheme as the default(or built-in) security scheme. So that explorer has the authorization dialog for people to inject the token per request.

## Use Cases

Add an OAI enhancer that add the following spec into OpenAPI spec generated in the rest se

[2020-01-08 04:08] mohanasundarR commented on #110
Hi,
@bajtos using loopback for more than a year for developing complex Api's. Willing to be a contribute for a awesome project.

[2020-01-08 06:00] rodrigomf24 opened #4388 "getModelSchemaRef is not returning a property from a model that extends an entity"
## Steps to reproduce

- create an lb4 app following the docs guide to add JWT authentication
- secure all endpoints
- run the app
- test the create user and login endpoints through the explorer endpoint, it should work
- add a new model to relate with the user model
- run the `lb4 relation` command to create a hasMany relationship(user has many > new model)
- migrate
- run app
- test the create u

[2020-01-08 09:05] RipkensLar commented on #4291
@deepakrkris ok, I added the `object` in the enforcer() call and in my casbin `rbac_model.conf`. But I am struggeling with the policy. In my opinion I would only need something like this:
[code]
Which says that there is a role called `vn` and a user `testUser` who has the role `vn`. And then I can use the `@authorize` decorator to define which roles are authorized for each method in my controllers

[2020-01-08 11:13] dougal83 commented on #4386
Good idea to add to develop the schema.  Personally I'd be more specific and name it `jwt` rather than `bearerAuth`.

[code]

[2020-01-08 11:29] dougal83 commented on #4385
Another possibility would be to assign weight variable to each enhancer for fine control.  Not sure how necessary it is though.

[2020-01-08 11:34] squiril commented on #110
Hi @bajtos
I would love to participate :)

[2020-01-08 11:53] RipkensLar commented on #4291
I also tried to access to user's roles through the AuthorizationContext, but the roles are always just an empty array. Same for the scopes. I took a look into the authorization component and the context is set here:
https://github.com/strongloop/loopback-next/blob/e49b81996161a7f26ca3c92f0c61c1e47ff45a62/packages/authorization/src/authorize-interceptor.ts#L83

But I am unable to find another part

[2020-01-08 12:20] RipkensLar commented on #2230
@hacksparrow sorry, with empty I meant that it is not displaying any content. Do you have any ideas how I could troubleshoot this?

[2020-01-08 12:43] hacksparrow commented on #2230
That's a PDF file format problem, so no idea.

[2020-01-08 13:18] deepakrkris commented on #4291
@RipkensLar these are casbin specific questions and not LoopBack related.

[2020-01-08 13:36] dougal83 commented on #4388
Hey @rodrigomf24

Try comparing your implementation to the [shopping example](https://github.com/strongloop/loopback4-example-shopping).  If there is a problem with the documentation please point it out.

I'd be happy to take a look at your code if you can provide a repo replicating your issue(upload to git as public repository).

[2020-01-08 13:39] deepakrkris commented on #4291
@RipkensLar if you would like to know what is the role of the user for the incoming request , you can check it in the authorizer function provided by you . for example , in the shopping example
 the authorizationCtx  in this location (https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/authorizor.ts#L26) gives the role of the incoming request. The co

[2020-01-08 13:49] dougal83 commented on #4384
Hey @luncht1me

Although Json schemas have `#/components/definitions/` the Openapi spec v3 does not however.  (see [Open API spec v3.0.1](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#components-object)).  That being said you can use extensions if needs be but that is another matter.

IIRC in LB4 all references are currently shoehorned into `#/components/schemas/` as a

[2020-01-08 14:34] RipkensLar commented on #4291
But where does loopback load the roles of the user for the incoming request? In the `authorize-interceptor.ts` the roles attribute only get an empty array as a value and nothing else.
When I know that I can head over to casbin and set up my model and policy.

[2020-01-08 15:10] gopalakrishnan-subramani opened #4389 "Loopback Postgresql Array Type issue"
We have a loopback 4 typescript model with below column

[code]

where in postgresql, we have given as

[code]

which is an array type.

While storing this data in loopback Post method [create], it fails with following exceptions.

[code]

The good thing is, the same works during update method. any help? We are finding complexities with loopback postgresql connector, where as many types [Array con

[2020-01-08 15:42] ThePrez commented on #4371
Thanks for catching. I'm embarrassed to say I did not know about that change. So `IBM Db2` is the proper branding, although still perhaps confusing to i/z users. I'm fine with either keeping it `IBM Db2` (fixing the case) or adding some kind of parenthetical clarification, for instance `IBM Db2 (for Linux, Unix, Windows)`, although that gets lengthy.

[2020-01-08 16:23] dhmlau commented on #4371
I'm good with the parenthesis.  So we have the following as the `description` field in the connector.json?
- IBM Db2 (for Linux, Unix, Windows)
- IBM Db2 for i
- IBM Db2 for z/OS

@ThePrez, I have a question for you in terms of deprecating iSeries: https://github.com/strongloop/loopback-connector-db2iseries/issues/35#issuecomment-572142860.

@bajtos @raymondfeng @strongloop/loopback-maintainers, W

[2020-01-08 16:47] jannyHou commented on #3396
I am sorry to hear that, but thank you for trying LoopBack and good luck with your project.
We will be glad to help whenever you want to try it again :)

Closing this issue.

[2020-01-08 16:47] #3396 closed

[2020-01-08 16:53] jannyHou commented on #2362
hey @lygstate any update on this issue? Any luck on trying https://github.com/strongloop/loopback-next/issues/2362#issuecomment-548825713 and get it work?

[2020-01-08 16:57] deepakrkris commented on #4291
@RipkensLar that is a very valid question. I assumed that would be taken care by the authentication component. But looks like there is an overlap in functionalities between authentication and authorization components. I am checking with the team. I will reply back asap.

[2020-01-08 17:07] agnes512 commented on #2209
Feel free to re-open the issue if it's not solved yet. Thanks!

[2020-01-08 17:07] #2209 closed

[2020-01-08 18:20] jannyHou commented on #3669
some update:

The openapi spec enhancer service is created in https://github.com/strongloop/loopback-next/pull/4258.

To allow contributing custom security spec, we need https://github.com/strongloop/loopback-next/issues/4380 happen first.

And two more improvements:
https://github.com/strongloop/loopback-next/issues/4386
https://github.com/strongloop/loopback-next/issues/4385

[2020-01-08 19:52] dhmlau opened #4391 "Allow out-of-box token based authentication in API Explorer"
## Suggestion

We provided some documentation on how to enable the "Authorize" button in API Explorer in the example-shopping application so that token based authentication is possible inside the API Explorer.  https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#specifying-the-security-settings-in-the-openapi-specification

It would be great to have out-of-box support. The initial work is

[2020-01-08 20:17] LonguCodes opened #4392 "Relations with custom names not working"
## Steps to reproduce

Create a new Model with a property with belongsTo decorator and add name to definiton. Add relation to repository with the same name.

## Current Behavior

The relation is not created with the given name

## Expected Behavior

There would be a relation to the given name. If done using the default convention `relation name` + Id works as expected.

## Additional information

[2020-01-08 21:07] jannyHou commented on #4291
@RipkensLar Sorry for the late reply, after reading through all the discussion I share your confusion and all the questions about building an RBAC system using `@loopback/authorization`. I will write a comprehensive explanation but let me answer the latest question first:

The role map is defined in the casbin policy file, like what you have as
[code]
When a request comes in, the user name should

[2020-01-08 22:01] jannyHou commented on #4291
About the example `@authorize({allowedRoles: ['admin']})`:
From my understanding, please do NOT mix it with the design that leverages casbin model&policy.

You can design your app in a way that the `roles` is an array property of `User`, the encoded user profile in the token will be sth like
[code]

Then the authorization works in this way:

- A request comes in with the token in header
- `@loopba

[2020-01-08 22:21] jannyHou commented on #4386
@dougal83 ah, true `jwt` is more accurate 👍

[2020-01-08 23:35] pookdeveloper commented on #2286
Any example with loopback3 and typeorm?

[2020-01-09 02:13] baymabruno commented on #3365
**Solved**

In my case, installed using the command:
[code]

It not worked:
[code]

But it worked by path:
[code]

I created an alias in .bash_profile:

[code]

And now working fine:

[code]

nvm: **No**
node version: **v12.14.1**
macOS: **10.14.6**
error **-bash: lb4: command not found**

[2020-01-09 02:58] dhmlau commented on #4392
@agnes512, could you please help? Thanks.

[2020-01-09 03:14] dhmlau commented on #4317
Thanks @dougal83. Closing as duplicate of #3720.
@likexoo, please continue the discussion over #3720. Thanks!

[2020-01-09 03:14] #4317 closed

[2020-01-09 03:17] dhmlau commented on #4300
@jannyHou @bajtos @raymondfeng, what's your thoughts on this?  If that's something we should do, maybe we can mark it as `help wanted`?

[2020-01-09 03:36] syntheticgoo commented on #1979
see: https://nodemailer.com/smtp/

[2020-01-09 07:38] bajtos commented on #4378
Thank you for starting this discussion, @frbuceta.

Based on my limited knowledge of RenovateBot, I don't see how config presets could be used to control the way how LoopBack dependencies are updated by RenovateBot. In my understanding, these presets typically configure paths & modules to ignore, range strategy, lock file maintenance, and so on - see https://github.com/strongloop/loopback-next/blo

[2020-01-09 07:39] bajtos commented on #4379
Related: https://stackoverflow.com/q/59552507/69868

[2020-01-09 08:31] baltameme opened #4397 "How can I assign foreign Key to a Loopback 4 model Entity"
I am trying to create a new LB4 project to test how to connect to a MySQL DB through following this reference: https://loopback.io/doc/en/lb4/todo-list-tutorial-sqldb.html

after preparing the project modules i tried to add to the code below to have a foreign relation between the "Todo", "TodoListImage" and the "TodoList" module:

[code]

* After adding it i have noticed an error related to the es

[2020-01-09 08:48] gczobel-f5 commented on #3524
@bajtos @jannyHou Hi, I created a PR to add the missing keyboards. Please, review.

[2020-01-09 09:02] bajtos opened #4398 "Is it time for a Long Term Support (LTS) version?"
We are seeing growing adoption of LoopBack 4, with many projects already deploying to production. It makes me wonder what kind of stability guarantees are our users expecting from the framework?

At the moment, there is a single release line "Current" where we make all changes (features small and large, bug fixes, security fixes, etc.). Upgrading a LB4-based project to a newer version may require

[2020-01-09 11:23] RipkensLar commented on #4291
Thank you @deepakrkris and @jannyHou for your help. Got it working as described:

[2020-01-09 12:47] achrinza commented on #4397
There does seem to be a potential issue with the docs. I'll try to look into it further

In the mean time, these are some potential quick-fixes:
1. Surround `fk_todoListImage_todoListId` with quotation marks
2. Append `// eslint-disable-line camelcase` to the same line as the property:
[code]

[2020-01-09 14:16] emonddr commented on #4386
@dougal83 , @jannyHou ,

Regarding the comment

Exactly what are we talking about here?

The `title` of the github issue :
`Add bearer auth scheme as the default security scheme` ?

Or

![image](https://user-images.githubusercontent.com/6864736/72074807-94d02500-32c0-11ea-99d7-e19e839e137a.png)

in https://loopback.io/doc/en/lb4/Authentication-Tutorial.html#specifying-the-security-settings-in-the-

[2020-01-09 14:24] agnes512 commented on #4392
@LonguCodes Hi, this is the limitation of our current design. We reject CRUD operations if the request body contains navigational properties. In your case, your source key and the relation name have the same name. It gets rejected when your request contains _the property name_. For example, when you create an instance with `{id: 1, name: 'my order', customer: 1}`, and your relation also named `cus

[2020-01-09 15:00] jannyHou commented on #3957
closed since PR merged

[2020-01-09 15:00] #3957 closed

[2020-01-09 15:19] orensolo commented on #4356
Hi,

There is ~15% improvement after the fix. Thanks for the quick fix.

Oren

[2020-01-09 16:44] dhmlau commented on #4397
Before we have ["strong relations" support](https://github.com/strongloop/loopback-next/issues/2331), that's probably the way to workaround it.

I have tried a similar snippet as above posted by @achrinza and worked for Postgresql.
https://github.com/dhmlau/loopback4-coffeeshop/blob/master/src/models/income.model.ts

[2020-01-09 17:23] LonguCodes commented on #4392
Thanks for the help. It cleared up why i had problems before.

[2020-01-09 17:23] #4392 closed

[2020-01-09 17:31] ibmjm commented on #4398
This sounds like a very good idea.  I'm part of a very small team that doesn't have the resources to deal with a breaking change that might get introduced as part of a typical update.  Having a stable LTS branch that we could target, along with clear summaries of how a new LTS version affects existing projects, would be appreciated.

Thanks @bajtos for looking into this.

[2020-01-09 19:45] morfie78 commented on #3490
Any update on this?

[2020-01-09 20:32] derdeka commented on #4375
@joeytwiddle I have no idea how it works with `mongodb`, but in `mysql` and `postgres` I use database level defaults which are added when the migration process runs. After that they automatically return the default value.

[2020-01-09 21:05] dhmlau commented on #4398
cc'ing a few more people who might be in production:
@marioestradarosa @vvdwivedi @samarpanB @kowsheek

[2020-01-09 22:51] derdeka commented on #4398
From my point of view it's more important to have feature partity with `lb3` then having one or more LTS versions. This will additionally slow down the progress of `lb4` feature development.

But... I have to mention, in our projects we are early adopters and update to the latest `lb4` version as fast as possible. Doing that, breaking changes are never a problem as they happen in small steps in da

[2020-01-10 02:17] achrinza commented on #4398
I think LTS has it's benefits. But I think there's some stuff that needs to well-defined:

1. How to differentiate LTS and Current release lines on NPM?
    Maybe another NPM org such as `@loopback-lts/*`?
2. How to differentiate LTS and Current release lines on GitHub?
3. How to separate documentation?
    Currently, the documentation is updated to work with the latest version of the packages and

[2020-01-10 02:41] achrinza commented on #4378
Currently, I haven't had any issue with using Renovate to update lb4 project to the latest versions as new package versions are published together.

However, I think it may be beneficial for those who don't want to update to the latest CLI version yet (e.g. devops workflow is not updated yet).

I think integration with Renovate is a good idea and could be used as a drop-in replacement for `lb4 upd

[2020-01-10 02:57] achrinza commented on #4354
This is an intended feature to prevent errors such as invalid foreign keys from being keyed into the database. AFAIK, updating navigational properties requires sending another HTTP request directly to the controller that you'd like to modify the navigational property of.

Hence,
1. Send a request to the "parent" model controller with the registered inclusionResolver.
2. Send a request to the "chil

[2020-01-10 03:31] achrinza commented on #1920
Just checking in; can we mark Authorization, Authentication and #1035 as done? The related issues seems to be closed and there hasn't been much recent discussion.

[2020-01-10 07:50] deepakrkris commented on #4115
I tried importing the api spec from the LoopBack todo example app to apic and had the following errors:

[code]

[2020-01-10 07:56] deepakrkris commented on #4115
The biggest challenge was to get a well formatted YAML from the Loopback api json spec. I also did a few modifications as below:
- [x] - added a x-ibm-configuration section
[code]

[2020-01-10 08:01] deepakrkris commented on #4115
Without removing the scope section in the filter object definition the following errors are thrown while importing to APIC:
[code]

[2020-01-10 08:08] deepakrkris commented on #4115
So far I have imported the following YAML into APIC after making the above changes.

[todolist-apispec.yaml.txt](https://github.com/strongloop/loopback-next/files/4044528/todolist-apispec.yaml.txt)

[2020-01-10 11:13] deepakrkris commented on #4115
I am able to check all the api endpoints from IBM Portal
<img width="1278" alt="Screen Shot 2020-01-10 at 4 39 34 PM" src="https://user-images.githubusercontent.com/7688315/72149098-60479080-33c8-11ea-895e-8791e8f41a4e.png">

[2020-01-10 11:33] deepakrkris commented on #4115
IBM Advanced Portal is able to digest all information from the uploaded api spec of the LoopBack app.

<img width="1255" alt="Screen Shot 2020-01-10 at 4 55 55 PM" src="https://user-images.githubusercontent.com/7688315/72150168-e4027c80-33ca-11ea-9eab-f9b5dd6f8ebb.png">

<img width="1260" alt="Screen Shot 2020-01-10 at 4 56 09 PM" src="https://user-images.githubusercontent.com/7688315/72150202-fb4

[2020-01-10 11:34] deepakrkris commented on #4115
I am able to subscribe to the ToDo API product from the IBM Portal.
<img width="1260" alt="Screen Shot 2020-01-10 at 4 56 09 PM" src="https://user-images.githubusercontent.com/7688315/72150301-39d72480-33cb-11ea-88bf-eaa61d007a4d.png">

[2020-01-10 13:32] L-Luciano opened #4403 "Parsing Request Query Object"
Hello,

I tried to add query paramater Object with the model :

`    @param.query.object('fields', jsonToSchemaObject(getJsonSchema(SuggestFields)))
    fields: SuggestFields`

`@model()
export class SuggestFields {
  @property({
    type: 'boolean'
  })
  firstName?: boolean;

  @property({
    type: 'boolean'
  })
  lastName?: boolean;

  @property({
    type: 'boolean'
  })
  city?: boolean;

[2020-01-10 15:51] bajtos commented on #4228
The idea is to allow developers to write the pattern as a JavaScript regular expression and let the framework convert the RegExp object into a string pattern before passing it to JsonSchema/OpenApi/AJV or any other place.

The benefits for user experience are described in the issue description.

Unless you prefer to write your regular expressions as `'\\d{3}-\\d{3}-\\d{4}'`, rather than as `/\d{3}

[2020-01-10 15:53] bajtos commented on #4228
Hmm, that did not work out as expected. Here is a screenshot from GitHub's preview - I don't know why the final comment is rendered differently.

<img width="670" alt="Screen Shot 2020-01-10 at 16 52 53" src="https://user-images.githubusercontent.com/1140553/72166532-b5d06d00-33c9-11ea-8abd-1dcc6c738b99.png">

[2020-01-10 16:09] bajtos commented on #1517
IIUC, the problem is in the way how we are emitting property metadata fields.

[code]

In https://github.com/strongloop/loopback-next/pull/4180, we fixed the problem for model discovery. Unfortunately that fix was not generic enough to address other use cases.

I think we should improve the template to handle nested objects in all property metadata fields. You can check the model generator to see

[2020-01-10 16:13] bajtos commented on #4138
@dougal83 thank you for sharing the instructions. Would you like to contribute them to our documentation? Few places where they may fit:

- https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html
- https://loopback.io/doc/en/lb4/Server.html#configure-the-api-explorer

[2020-01-10 16:14] bajtos commented on #2626
@mikeevstropov please open a new issue for the problem you are experiencing and make sure to provide a small app we can use to reproduce the problem locally, see http://loopback.io/doc/en/contrib/Reporting-issues.html#bug-report. Ideally, write an automated test we can run via `npm test`, one that fails with the current LoopBack version.

[2020-01-10 17:52] mschnee commented on #4300
@dhmlau I'll have a preliminary pull request later today, I'm just going through the checklist and updating documentation now.

[2020-01-10 19:24] dhmlau commented on #1749
@bajtos @dougal83, what's your suggestion on how to handle this issue? (part of the Q1 planning). Thanks.

[2020-01-10 20:12] jannyHou commented on #4291
Submitted a PR to improve the basic use example in `@loopback/authorization`:
https://github.com/strongloop/loopback-next/pull/4405

[2020-01-10 20:35] dougal83 commented on #4386
Hey @emonddr

This issue is to enhance the openApi spec by adding to components.

I've just jumped on it to suggest a name change from `bearerAuth` to `jwt`.  I'm aware that `bearerAuth` is currently in use so if consensus for change is found then all instances would need to be updated.  The `bearerFormat` property is just arbitrary and so using `jwt` as security scheme name would be better IMO.

[2020-01-11 10:25] ricky92 commented on #4388
Looks like a duplicate of #3293 to me.
You are extending an already-defined model and thus are incurring in the same bug described there. I don't think it's related to anything wrong with the documentation.

[2020-01-11 16:03] samarpanB commented on #4398
I think we still need LB4 to meet feature parity with LB3 before it can move to LTS. Also, there can be many scenarios where we may require a major upgrade of some of the dependency for performance or some security fix. So, we need to wait until at least we have a level of feature parity and more production deployments over time. That will prove its maturity as well.

Having said that, I do agree

[2020-01-11 21:43] ThePrez commented on #4371
I propose we make said changes as part of landing the `IBM Db2 for i` connector in LB4 (right now it's just LB3, but 4 is coming soon).

[2020-01-12 09:09] achrinza commented on #4375
This could potentially be a use-case for #487

[2020-01-12 10:38] achrinza commented on #1830
Just adding my 2 cents;

I think have at least the basic implementation should be a high-priority as this is a common requirement in logical database designs with sub-types and weak entities.

[2020-01-12 11:13] achrinza commented on #1235
Related: #2331

[2020-01-13 11:49] technicaljones opened #4413 "NoSql timeout error"
Having an issue connecting to an AWS Document DB cluster.
Its a standard setup cluster with 3 nodes.
The datasource is configured as follows:
[code]

This has worked perfectly with the below dependencies:
[code]
However when the dependencies were upgraded to:
[code]

First the app starts fine. Then when a model is called which uses a NoSql repository, I get this error:

[code]

Then shortly after

[2020-01-13 15:18] bajtos commented on #2230
This looks like a character encoding (charset) problem to me.

1. What database are you using?
2. What column type is used to store PDF documents? Is it binary, varchar, something else? What character encoding is your database configured with?
3. What is your model definition? In particular, how is defined the model property holding PDF data? Is it a `string`? A `Buffer`? (BTW, I am not sure if we

[2020-01-13 15:19] bajtos commented on #2230
@RipkensLar the PDF problem you have described is off topic here, can you please open a new issue please?

[2020-01-13 15:25] dhmlau commented on #4115
@deepakrkris, the error you listed in https://github.com/strongloop/loopback-next/issues/4115#issuecomment-572918603, did LB generate a valid OpenAPI spec (I thought we do) or it's some validation inside APIC? Thanks.

[2020-01-13 15:38] #4413 closed

[2020-01-13 16:03] derdeka commented on #4413
@technicaljones Just for the records - What was your solution?

[2020-01-13 17:19] rodrigomf24 commented on #4388
@dougal83 here is the link to the repository https://github.com/rodrigomf24/medipharma-api, I will compare it today, but @ricky92's comment makes sense, I will try this solution:

[code]

[2020-01-13 17:27] dougal83 commented on #4388
Looking at the code, it is working as expected.  Also typically we do not return a password due to it's sensitive nature.

Looking at the controller you are actually returning the `User` model, that by design excludes the password.
[code]

If you want to return the password(not a good idea):

[code]

Hope that clears up what is going on here.

[2020-01-13 17:29] dougal83 commented on #4388
Thanks @ricky92.  I think you're issue is loosely related but this particular case is down to the controller returning a model that doesn't contain the include.

[2020-01-13 22:02] jannyHou commented on #4403
@L-Luciano Checking...
Btw, any reason why you use `jsonToSchemaObject()`  to wrap `getJsonSchema(SuggestFields))`?

[2020-01-14 06:42] koliberr136a1 commented on #4299
@bajtos @raymondfeng, is it possible to join models ?

[2020-01-14 07:53] baltameme opened #4421 "Redis with loopback 4 Integration Example"
Where can I find an example on how to integrate Redis with loopback 4?
What I need to do with Redis is integrating it within the authentication process & architecture of Loopback 4.

[2020-01-14 08:01] mcorbe opened #4422 "Link to apidocs is broken from README"
Clikcing "API Documentation":
![image](https://user-images.githubusercontent.com/7733429/72324942-56fe4280-36ac-11ea-87ae-7878dd0d29af.png)

Lands here:
![image](https://user-images.githubusercontent.com/7733429/72324912-451c9f80-36ac-11ea-97ab-e53c7f253341.png)

[2020-01-14 08:47] dougal83 commented on #4421
Hey @baltameme

It seems that examples are thin on the ground so I suggest looking at the tests for the [redis connector](https://github.com/strongloop/loopback-connector-kv-redis) to gain an insight.

[2020-01-14 09:09] dougal83 commented on #4422
@mcorbe Thank you for reporting the broken link!

[2020-01-14 13:44] derdeka opened #4425 "npm test hangs infinitly on windows"
## Steps to reproduce

- check out loopback-next repo
- `npm install`
- `npm test` or `DEBUG=mocha:* npm test`

## Current Behavior

Many tests are executed - one test does not end. `npm test` never ends and runs infinitely.
Tried with `cmd`, `powershell` and git `bash`.

^^^^^^is the last logged console output.

## Expected Behavior

`npm test` should end successfully or with some error message.

[2020-01-14 14:54] dougal83 commented on #4425
I found it runs horribly on Win10 ([other issues, /w some tests](https://github.com/strongloop/loopback4-example-shopping/issues/452)).  The best solution for me was to use a virtual machine with linux.

If you have HyperV capable PC then it's extremely quick to set up a VM.

[2020-01-14 15:21] bajtos commented on #4425
This is a known issue, but also difficult to reproduce locally. See the discussion in #1350 and nodejs/node#21210 for more details.

To avoid this issue on CI, we are using Node.js 8.x on Windows:

https://github.com/strongloop/loopback-next/blob/c1cff12ba579975e17a9f0d03e8b8bf0d3e3c09a/appveyor.yml#L3

Considering that Node.js 8.x is no longer supported by the Node.js project, I think it would be

[2020-01-14 15:22] bajtos commented on #4425
_Re-posting https://github.com/strongloop/loopback-next/pull/1431#issuecomment-405294992_

This is the same problem we have been experiencing from the start, see https://github.com/strongloop/loopback-next/pull/1350#issuecomment-394679150:

_looks like there is some other bug on Windows, the test run freezes inside our test suite._

I have described details in https://github.com/nodejs/node/issues

[2020-01-14 16:20] #4422 closed

[2020-01-14 16:20] #2813 closed

[2020-01-14 17:19] jannyHou commented on #4421
Another usage can be found in `loopback4-shopping-example`: https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/repositories/shopping-cart.repository.ts

The shopping-cart repository is connected to a redis datasource.

[2020-01-14 18:50] #3524 closed

[2020-01-14 19:33] emonddr commented on #4296
For someone that doesn't want to `discover` a datastructure, have an endpoint that allows the user to post a custom model definition, and continue from there.

Have a `discover` endpoint to which you send a connection url and it returns the discovered models.
Then POST these models into the endpoint above.

Some things to think about.

[2020-01-15 00:15] #4205 closed

[2020-01-15 08:07] gczobel-f5 opened #4435 "Inclusion of related models for POST"
Hi,
Now that LoopBack supports the inclusion of related models (https://strongloop.com/strongblog/inclusion-of-related-models/) I'm trying to figure out if there is a way to do the same for POST operations. (looks that no, based on #3439)

I have actually a case where I have several endpoints, like
(1) /endpoint1
(2) /endpoint1/{id}/endpoint2

And the idea is be able to send in endpoint1 a full js

[2020-01-15 10:52] technicaljones commented on #4413
It was down to a certificate update and different versions of the certificate being stored in source.

[2020-01-15 11:17] baltameme opened #4436 "Authorization Header Keys - Native Mobile App"
Recently, I built a new LB4 app for serving APIs to native mobile apps, where I've used the JWT for authenticating and authorizing the mobile user through passing the token.

I used the following scheme inside the LB4 project:

[code]

I want to enquire what is the key required from the mobile client side that needs to be passed with requests headers in order to authenticate the user. In LB3 we us

[2020-01-15 11:31] dougal83 commented on #4436
Hey @baltameme

In a typical app involving a login procedure, you would have a token generated and passed back to the client see [loopback4-shopping-example](https://github.com/strongloop/loopback4-example-shopping/blob/5b6c15ea2bbfb3cd14cfc7759fdafe53308625b0/packages/shopping/src/controllers/user.controller.ts#L185-L217).  You might want to look into OAuth 2 aswell as a possible solution.

[2020-01-15 11:35] dougal83 commented on #4435
Hi @gczobel-f5

The closest example I know of is in the [Loopback4-shopping-example](https://github.com/strongloop/loopback4-example-shopping/blob/5b6c15ea2bbfb3cd14cfc7759fdafe53308625b0/packages/shopping/src/controllers/user.controller.ts#L98-L106) that involves two repository calls inside the controller.  Hope that helps.

[2020-01-15 11:36] baltameme opened #4437 "Add JWT authentication to a LB4 Socket App"
I have built a simple chat based on the example shared in the following repo:
https://github.com/raymondfeng/loopback4-example-websocket/

What i am trying to do now is closing the connection over this App so it can be allowed through specific authenticated users. I want to enquire how can i integrate the JWT authentication as part of the socket app life cycle.

[2020-01-15 11:41] baltameme commented on #4436
Hey @dougal83 ,
thanks for your reply.

I am totally aware that about the flow of the shopping as i am following it exactly, and currently i am able to return the generated token back to the client. My question is about the name of the key that needs to be passed from the client side (mobile app) along side with the requests' header.

[2020-01-15 11:43] dougal83 commented on #4437
Hey @baltameme

You might want to pose your question on https://stackoverflow.com/ with tags loopback and websocket.

[2020-01-15 13:45] emonddr commented on #4436
@baltameme , you mean like this?

https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/__tests__/acceptance/user-order.controller.acceptance.ts#L82

[code]

[2020-01-15 16:01] raymondfeng commented on #4437
@baltameme I wonder if you have the JWT token validation up `connect`. See https://github.com/raymondfeng/loopback4-example-websocket/blob/master/src/controllers/websocket.controller.ts#L18

[2020-01-15 18:54] rodrigomf24 commented on #4388
Hi @dougal83, thanks for taking a look at the code. I am not trying to return the password, the problem I have is when I try to create a new user I want it to use the `NewUserRequest` schema to allow passing a `password` field, but for some reason it is not picking that one and it is using the extended one which is `User`.

[2020-01-15 19:15] dhmlau commented on #4386
@strongloop/loopback-next @strongloop/loopback-maintainers @mschnee

Call for contribution:
This task is part of the [epic "Allow out-of-box token based authentication in API Explorer" ](https://github.com/strongloop/loopback-next/issues/4391), that we wish to get it done in 2020Q1. If you're interested in working on it, please leave a message here and we'll assign it to you.  We'll take the first

[2020-01-15 19:15] dhmlau commented on #4380
@strongloop/loopback-next @strongloop/loopback-maintainers @mschnee

Call for contribution:
This task is part of the [epic "Allow out-of-box token based authentication in API Explorer" ](https://github.com/strongloop/loopback-next/issues/4391), that we wish to get it done in 2020Q1. If you're interested in working on it, please leave a message here and we'll assign it to you.  We'll take the first

[2020-01-15 19:59] dougal83 commented on #4388
@rodrigomf24 Oh right, I think I understand you now.  I was over-complicating the issue in my head.

[code]

Your code is calling `create` on the `userRepository` that is using the `User` model.  Try altering the [user repository](https://github.com/rodrigomf24/medipharma-api/blob/master/src/repositories/user.repository.ts) to use the `NewUserRequest` model and see if that works as you expect.

[2020-01-16 02:34] dhmlau commented on #4421
@baltameme, please let us know if we've answered your question, so that we can close this issue. Thanks.

[2020-01-16 02:38] dhmlau commented on #4371
Thanks @ThePrez. I've assigned this issue to you. Thanks!

[2020-01-16 02:59] dhmlau commented on #4425
@bajtos, are you suggesting we should move away using `setImmediate`?

FYI - I was able to reproduce on my home computer - Win10 Home.  When running `npm test`, I got similar results as @derdeka:
[code]

[2020-01-16 07:23] baltameme commented on #4421
Hi @dhmlau, the example is clear enough. thanks so much.
I will be closing it from my side.

[2020-01-16 07:23] #4421 closed

[2020-01-16 07:26] baltameme commented on #4436
Hi @emonddr, yes exactly that's what meant. just one concern I have, is there a way to avoid appending the 'Bearer' keyword and insert the token only so it will become something like this?

await client
      .post(`/users/${userId}/orders`)
      .set('Authorization', token)
      .set('Content-Type', 'application/json')
      .send(order)
      .expect(400);

[2020-01-16 10:11] dougal83 commented on #4436
Hey @baltameme

Take a look at the [jwt auth strategy] (https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/authentication-strategies/jwt-strategy.ts)

You can amend this file to remove the requirement to add `Bearer ` to the authorisation header.

[2020-01-16 13:05] baltameme commented on #4437
Hey @raymondfeng, yeah i've noticed that you're using websocket.controller.ts for exposing the socket connections. However, i want to enquire if its possible to following coding strategy in the following [reference](https://loopback.io/doc/en/lb4/Authentication-Tutorial.html), where i can just append the (authenticate) decorator as the following:

@ws.connect()
@authenticate('jwt')
  connect(socke

[2020-01-16 15:16] dougal83 commented on #4425
Alternative to Win 10 native(or full VM) is to set up [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10).  VSCode has an [extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl) to connect to remote.

Just run test and got following result:

[code]

I could write a small guide on setting this up as Windows users might need some hand holding on set

[2020-01-17 08:10] nflaig commented on #4379
@bajtos the approach described [here](https://stackoverflow.com/questions/57800435/how-to-use-mongodb-extended-operators-in-loopback-4) seems to be working. It is still some kind of a workaround

[2020-01-17 10:07] bajtos commented on #4389
Thank you @gopalakrishnan-subramani for reporting the issue. I don't know how well does our connector supports different ways how PostgreSQL can store arrays, this may be missing piece.

I think the conversion from a JavaScript array instance to SQL statement for setting an array value is handled by this code:

https://github.com/strongloop/loopback-connector-postgresql/blob/c0b7d3db4168cc6825a197

[2020-01-17 12:22] achrinza opened #4449 "loopback-connector-redis: Broken CLA link"
## Steps to reproduce

1. Go to https://github.com/strongloop-community/loopback-connector-redis `CONTRIBUTING.md`
2. Click the CLA link

## Current Behavior

The CLA link points to an non-existent web page:

![image](https://user-images.githubusercontent.com/25147899/70860941-882b0c00-1f62-11ea-996a-d78a8363dc40.png)

## Expected Behavior

The CLA link should points to a valid web page.

## Link

[2020-01-17 12:44] derdeka commented on #4425
@dougal83 I would like to test the WSL approach to continue the work on a PR. Can you send me a guide?

[2020-01-17 13:15] dougal83 commented on #4425
From what I can remember offhand:

- [Install WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) (-> Ubuntu)
- [Install VSCode Addon](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-wsl)
- [Configure WSL to use docker instance on windows](https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-work-flawlessly)
(I had issue with `pip` so aft

[2020-01-17 15:10] emonddr opened #4450 "docs: Improve examples of Interceptors with more implementation details"
In https://loopback.io/doc/en/lb4/Interceptors.html#example-interceptors
there are different examples of interceptors.

To understand the example implementations of these interceptors, let's
also show an example implementation of `what` they are intercepting.

For example:

[code]
It is not clear what this interceptor is attached to.  Is it a function, a class, a request?

How do we know that the

[2020-01-17 17:13] dhmlau commented on #4450
For implementation details, I had 2 blog posts which I'd really like to incorporate some of the content back to the docs, but didn't have the chance:
https://strongloop.com/strongblog/loopback4-interceptors-part1/
https://strongloop.com/strongblog/loopback4-interceptors-part2/

[2020-01-17 18:19] #3287 closed

[2020-01-17 18:19] #4209 closed

[2020-01-17 18:49] bradharms opened #4452 "Injection-specific contexts"
## Suggestion

This is more of a discussion than a direct suggestion.

I want to talk about the possibility of an enhancement of the injection system that makes it easier to allow a new child context to be created specific to a particular injection point, using a callback to modify the injection-specific context.

## Use Cases

The primary use case for this is to override and/or extend configurati

[2020-01-17 19:23] raymondfeng commented on #4452
@bradharms Have you checked out two examples below?

- https://github.com/strongloop/loopback-next/blob/master/examples/context/src/custom-configuration-resolver.ts
- https://github.com/strongloop/loopback-next/blob/master/examples/context/src/custom-inject-resolve.ts

[2020-01-18 06:46] achrinza opened #4455 "docs: create a Querying Data page for LoopBack 4"
Currently, if a user of LoopBack 4 (lb4) wants to find documentation of the usable `filters` for querying the repository, they will need to view [LoopBack 3's (lb3) documentation](https://loopback.io/doc/en/lb3/Querying-data.html). This may not be ideal as the page isn't easily accessible via the lb4 sidebar.

## Suggestion

Create a `Querying Data` or `Filters` page for lb4, replacing content and

[2020-01-18 19:55] #2220 closed

[2020-01-18 19:56] ringodotnl commented on #2220
For now jsonSchema: {nullable: true} works well.

Closing this.

[2020-01-19 05:38] achrinza opened #4458 "Support exploded form query strings"
## Suggestion

Currently, LoopBack 4 (lb4) only supports exploded and JSON-encoded `deepObject` query strings. However, this means that a typical HTML `<form>` or existing software cannot directly interact with the API without modifications to how it constructs the URL.

Hence, lb4 should support ampersand-delimited, exploded `form` query strings as it is a more commonly-used encoding.

Whilst thi

[2020-01-19 10:11] 11arn11 commented on #3033
any update about this feature?

[2020-01-19 12:53] achrinza opened #4460 "External LoopBack API Validator default Swagger JSON URL to uses HTTP"
## Steps to reproduce

1. Go to <https://loopback.io/api-explorer/>
2. Observe the mixed-content error

![image](https://user-images.githubusercontent.com/25147899/72681327-60007100-3afd-11ea-9741-c350c9bcb902.png)

## Current Behavior

A mixed-content error occurs.

## Expected Behavior

The default Swagger JSON URL should be using HTTPS as per-[Swagger API Validator](http://petstore.swagger.io/)

[2020-01-19 14:55] dougal83 opened #4461 "Rename security scheme 'bearerAuth' to 'jwt'"
## Suggestion

Rename following security scheme 'bearerAuth' to 'jwt' to be more specific.

[code]

## Use Cases

Current schema is out of step with [jwt auth strategy name](https://github.com/strongloop/loopback4-example-shopping/tree/master/packages/shopping/src/authentication-strategies).
[code]

See also #4386

## Acceptance criteria

TBD - will be filled by the team.

[2020-01-20 06:10] achrinza opened #4467 "docs: "API docs", "Connector reference" "edit this page" links to an invalid GitHub URL"
## Steps to reproduce

1. Visit the LoopBack 4 (lb4) [API docs](https://loopback.io/doc/en/lb4/apidocs.index.html) or [Connector reference](https://loopback.io/doc/en/lb4/Connectors-reference.html) page
2. Optionally, navigate to any page part of the API docs or Connector reference.
3. Click the "Edit this page" button

## Current Behavior

The user is navigated to an invalid GitHub URL (such as t

[2020-01-20 12:13] #3950 closed

[2020-01-20 12:22] bajtos commented on #4425
@derdeka @dougal83 thank you for looking into better support for developing LoopBack on Windows ❤️ It would be awesome if you could describe the recommended setup in our developer documentation, see https://github.com/strongloop/loopback-next/blob/master/docs/site/DEVELOPING.md

For longer term, I'd like to figure out what's going on under the hood, why are the test freezing on Windows; and hopefu

[2020-01-20 14:30] emonddr commented on #4450
That would be good, to bring in examples from this blog.

There still needs to be an explanation for `how` **args** is being populated with values and what
users should expect to find in it....without having to use a debugger to find out.

[code]

[2020-01-20 16:54] deepakrkris commented on #4115
@dhmlau it is the validation inside APIC that is causing the issue. I am trying to find out what apic would accept for the scope block.

[2020-01-20 17:11] dhmlau commented on #3719
See PR: https://github.com/strongloop/loopback-next/pull/4440

[2020-01-20 18:47] dhmlau commented on #4467
@achrinza, agree that we should hide the button because this page is generated.

[2020-01-20 18:50] dhmlau commented on #4460
@achrinza, thanks for submitting (and merging) the PR https://github.com/strongloop/loopback-next/pull/4464. May I know where did you get the link for https://loopback.io/api-explorer/?

[2020-01-20 18:52] dhmlau commented on #4461
@emonddr @jannyHou ^^

[2020-01-20 19:51] dhmlau commented on #3944
@david-saint, are you still encountering this issue after reviewing @bajtos' [above comment](https://github.com/strongloop/loopback-next/issues/3944#issuecomment-548719844)? Thanks.

[2020-01-20 19:58] dhmlau commented on #2570
@haotangio, could you please try the following command to update the package lock file?
[code]

See https://github.com/strongloop/loopback-next/blob/master/package.json#L33