[2020-08-30 01:56] achrinza commented on #6222
lb4 uses Express.js urlencoded parser, which uses [`qs`](https://www.npmjs.com/package/qs). By default, `qs` has default hard limits - such as 5 levels of nesting - as a security feature. Though I'll need to look into it further to confirm this.

A way to get around this limitation is to use [stringified JSON](https://loopback.io/doc/en/lb4/Querying-data.html#using-stringified-json-in-rest-queries

[2020-08-30 11:23] achrinza opened #6225 "docs: how to stub a relation repository"
Currently, [Testing your application](https://loopback.io/doc/en/lb4/Testing-your-application.html) does not have information on stubbing a relation repository.

This can be a bit tricky for the typical lb4 user to stub as they may need a deeper understanding of how repository relations are resolved. This makes writings unit tests difficult.

We should be providing lb4 users a recommended method s

[2020-08-30 13:49] ntsd commented on #6222
Thanks for the answer. I see how JSON URL params work. Agree with I should parse query in the front end instead of using the backend process. Maybe I need to test **qs** for the bug.

[2020-08-30 23:09] mdbetancourt commented on #3342
did u see these libs?
https://github.com/kofrasa/mingo

[2020-08-31 00:17] argupta23 commented on #6217
@achrinza

I tried to look into this a bit more today and here are some additional updates.

1. I put some console.log statements in user.service.ts  under async LinkExternal Profile and async CreateUser
2. When using DB(memory) the "userId" generated/assigned sequential for external accounts is 1,2,3 and so on
3. When using DB(mongodb) the "userId" generated/assigned for external accounts is eith

[2020-08-31 02:59] argupta23 opened #6228 "Nested Relations not working"
## Steps to reproduce
There are 3 controllers
1. User
2. Devicetempl
3. Device

Models have the following relations

User.model.ts
@hasMany(() => Device)
  devices: Device[];
@hasMany(() => Devicetempl)
  devicetempls: Devicetempl[];

Devicetempl.model.ts
@hasMany(() => Device)
  devices: Device[];
@belongsTo(() => User)
  userId: string;

device.model.ts
  @belongsTo(() => Devicetempl)
  devicete

[2020-08-31 13:44] hacksparrow opened #6232 "Clean up extension template and docs - part 2"
As a follow up task of https://github.com/strongloop/loopback-next/issues/5336, the following needs to be done.

- [ ] Use the component name in the file names to disambiguate them from similar files in other extensions, e.g. src/{name}.keys.ts and src/{name}.component.ts
- [ ] Review the content in the pages above and in the component migration guide (https://loopback.io/doc/en/lb4/migration-exte

[2020-08-31 13:44] hacksparrow commented on #5336
Created this follow up task - https://github.com/strongloop/loopback-next/issues/6232.

[2020-08-31 13:50] dhmlau commented on #6224
+1 in keeping the project root directory unchanged. I encountered this situation a few times especially I tend to use the `--yes` option when scaffolding an app. :)

[2020-08-31 13:56] dhmlau commented on #6218
@argupta23, thanks for bringing this up. Do you see any significant differences when authenticating with Facebook/Google (which the [passport-login example](https://github.com/strongloop/loopback-next/tree/master/examples/passport-login) covered) vs LinkedIn?

[2020-08-31 14:08] dhmlau commented on #6217
@argupta23, when you're changing the datasource from memory to mongodb, did you change the existing `.ts` file or create a new datasource?
If you create a new datasource, make sure you've updated the repositories to point to the new one. e.g. https://github.com/strongloop/loopback-next/blob/master/examples/passport-login/src/repositories/user-credentials.repository.ts#L16.

I'm not sure why the pa

[2020-08-31 15:59] hacksparrow commented on #5336
Closed via https://github.com/strongloop/loopback-next/pull/6158.

[2020-08-31 15:59] #5336 closed

[2020-08-31 16:29] hacksparrow commented on #889
From my work on https://github.com/strongloop/loopback-next/issues/3456, I noted that the mechanism for creating the model object that's returned from the DAO methods are different for each method. This was quite unexpected. Implementing new features or bug fixes that center around the model object will require changes for each DAO method.

Ideally, the model object should be generated by a single

[2020-08-31 17:37] argupta23 commented on #6217
@dhmlau
Yes, I am aware of the changes I need to make when changing datasources.

I have added loopback-connector-mongodb to the repo and then updated the datasources.ts/index.ts file with the following changes which I switch depending on how I want to test.

**src/datasoruces/db.datasource.ts**
const config = {
  name: 'db',
  // connector: 'mongodb',
  // url: 'mongodb://172.20.20.21:27017/backe

[2020-09-01 04:20] georve opened #6237 "How to include filter in relation belong-to, ManyToOne or one to one"
i have an entity which has a relationship with another.. example

@model({settings: {strict: true}})
export class Quotation extends Entity {

  @belongsTo(() => Agent)
  agentId: number;

  @belongsTo(() => Insured)
  insuredId: number;
}

i'm trying to filter insured using relationshiop but it always bring to me all the data

find(
{
   "include":[
      {
         "relation":"insured",

[2020-09-01 06:22] achrinza commented on #6237
Use `scope` to define filters for relations:

[code]

[2020-09-01 09:40] hacksparrow opened #6239 "Change the behavior of lb4 CLI"
The fact that `lb4` scaffolds a REST app by default implies LoopBack 4 (`lb4`) is a REST framework, when it is not. Users now assume LB4 is a REST framework and go to the website expecting to find the docs of a REST framework, instead they find the documentation of a super-framework.

We should start using `--rest` for scaffolding REST apps, `--graphql` for GraphQL app, `--grpc` for gRPC app etc.

[2020-09-01 09:55] shadyanwar opened #6240 "Incomplete JSON Response Data, Possible Timeout"
## Suggestion
Created an endpoint that fetches some data from MySQL then the data undergoes some alteration and processing in the controller. When the data was under a certain size, everything went smoothly. However, with a slight increase, the response returned to the client was incomplete (a malformed JSON).

I tested that the data is fetched in full from the database in all cases. So I am suspe

[2020-09-01 14:09] georve commented on #6237
thank you for your response, I try but I'm getting all record.

{
   "include":[
      {
         "relation":"insured",
         "scope":{
                  "where":{
            "insured_city":"Carora"
         }
        }
      }
   ]
}

I'm working with Mysql connector, Is there an issue with this connector? or maybe a fix is needed?

[2020-09-01 18:16] argupta23 opened #6246 "passport-login example expose REST Explorer - steps"
Playing around with the example last week, I wanted to share a few updates

1. You need to import @loopback/rest-explorer into the package
2. update src/application.ts file to include the following lines

`import {  RestExplorerBindings,  RestExplorerComponent,} from '@loopback/rest-explorer';
import path from 'path';`

within the constructor add the following
`    // Set up default home page

[2020-09-01 18:29] dhmlau commented on #6246
@argupta23, thanks for sharing. Would you like to help improving our docs by submitting a PR to include your updates? Thanks.

[2020-09-01 18:30] cardea-fletcher commented on #1830
I spent a long time debugging my app before realizing this functionality wasn't supported :(

Even though it's possible to define a model that enforces uniqueness via 2 properties marked as `id: 1` and `id: 2`, it won't support other database operations, like delete or update --> it simply fails with a "bad SQL message"

[2020-09-01 18:55] Evaw opened #6247 "enum in path is not respected in validation"
## Steps to reproduce
create an api with decorators

[code]

## Current Behavior
loopback allows requests that do not match the enum in the type.
ex GET /foo/bar
allows function getFoo to be called

## Expected Behavior
loopback should return a 400 because the string does not match the enums provided in the schema

we execute the function when validation should have failed

## Link to reproduction

[2020-09-01 19:34] argupta23 opened #6248 "passport-login controller content question"
@raymondfeng @dhmlau

I am trying to understand why within this example did somebody use

`content: {
        'application/x-www-form-urlencoded': {schema: CredentialsSchema},
      },`

as compared to

`content: {
        'application/json': {schema: CredentialsSchema},
      },`

If we look at other examples posted the default preference seems to be "application/json"

Also please see issue #621

[2020-09-01 19:36] argupta23 commented on #6246
@dhmlau

Yes, will do, lets see what response I get related to #6248 and the progress I make.

Thanks

[2020-09-01 23:41] dhmlau opened #6250 "Monthly Milestone - Sept 2020 🏫 ⚽ ☀️"
## September Milestone

### Overview

_With the core of the framework maturing and contributions shifting to the LoopBack extensions, we think LoopBack has entered a new stage and it's time to revisit our approach to planning work, delivering features, fixing bugs, and improving documentation. See our [latest blog post](https://strongloop.com/strongblog/2020-community-contribution/) for more detai

[2020-09-02 01:46] #6028 closed

[2020-09-02 02:08] jeffersonlicet commented on #5857
After working a little bit on the PR I found small details and questions to take into account:

 1. Are we going to allow stringified JSON like:  `/customers?filter={"fields":["name","address"]}`
This is relevant because of the documentation and the schema validation, which currently only accepts an object.

2. Does it make sense to update the current example (`await customerRepository.find({field

[2020-09-02 02:29] dhmlau commented on #6247
@Evaw, could you please try to replace `schema` with `jsonSchema`?
Here is my working example in the model:
[code]

[2020-09-02 02:33] dhmlau commented on #6248
If I'm not mistaken, `application/x-www-form-urlencoded` is used as the content type because the signup page (https://github.com/strongloop/loopback-next/blob/master/examples/passport-login/web-application/views/pages/signup.jade) which calls the `/signup` endpoint is a form.

[2020-09-02 02:35] dhmlau commented on #6217
@jannyHou, could you please take a look? Thanks.

[2020-09-02 02:39] dhmlau commented on #6190
@raymondfeng, could you please help on this question? Thanks.

[2020-09-02 04:41] achrinza opened #6251 "Provide safety nets for `lb4 update`"
## Suggestion

Add a safety net for users of `lb4 update` such as `lb4 revert` to revert the changes of `lb4 update` (including `package-lock.json`), and a more prominent warning to take a snapshot of the project (e.g. with `git`) before proceeding.

## Use Cases

There has been quite a few instances of the community using `lb4 update` without taking a backup. Most probably because they assume the

[2020-09-02 04:45] achrinza opened #6252 "Add formal troubleshooting steps"
## Suggestion

Add a step-by-step troubleshooting guide for diagnosing common issues (e.g. `npm run clean`).

## Use Cases

Since lb4 can be quite complex, we should provide a formal step-by-step guide for users to try our first to solve common issues. This has the benefit of reducing the load on providing community support.

## Examples

TBD

## Acceptance criteria

TBD - will be filled by the te

[2020-09-02 04:53] raymondfeng commented on #6190
@vdj69 We do see the value to have something similar in LoopBack 4. I started a PoC at https://github.com/strongloop/loopback-next/tree/pubsub/packages/pubsub a while ago but didn't have chances to move it further.

[2020-09-02 05:19] Evaw commented on #6247
the decorator in the example is not the same though. Im trying to use a path param for an api definition. The example is a model definition. We are using the following decorators, as you can see, Im using the `param` decorator, but the enum in its schema is not enforced

[code]

[2020-09-02 08:09] hacksparrow commented on #6251
Great suggestion!

[2020-09-02 08:27] vdj69 commented on #6190
Please let me know if you need my help, I will create an emulator for your testing which send multiple sensors data via mqtt.

[2020-09-02 08:47] mayank-SFIN571 commented on #110
Hi @bajtos
I would like to contribute.
thanks

[2020-09-02 12:59] rebecamurillo commented on #5709
Just encountered the same issue when adding the authentication to my existing project (db migration was working properly before).
- using PostgreSql connector
- to validate the data migration, I commented the line in application.ts, binding the db auth : this.datasource(YourDbDatasource...). Then all changes in DB where correctly done

[2020-09-02 15:29] giano commented on #4572
Again with @loopback/cli@2.13.1, after lb4 update

[2020-09-02 18:03] georve opened #6259 "'ER_CANNOT_ADD_FOREIGN'"
i'm trying to implement foreign keys to see if my search using related elements work finally... but in the migration process i have the following error by MYSQL

  code: 'ER_CANNOT_ADD_FOREIGN',
  errno: 1215,
  sqlMessage: 'Cannot add foreign key constraint',
  sqlState: 'HY000',
  index: 0,
  sql: 'ALTER TABLE `Agency` ADD  CONSTRAINT `fk_agency_groupId` FOREIGN KEY (`groupId`) REFERENCES `Group

[2020-09-02 18:04] georve commented on #6259
the migrate has the following table order

    models: ['Group','Enterprise','Agency','Agent','AgentCode', 'Ramos','Products','Plan','Deducible','User', 'Role', 'UserRole','Permissions', 'Insured','Policy',
    'Quotation','Documents','AgentDocuments','QuotationDocuments','InsuredDocuments','Commission','CommisionInfo','Claim','PoliciesDeducibles','PolicyPayment','PolicyRenovation',
    'ClientHis

[2020-09-02 18:08] mevillep opened #6260 "cannot find datasource for service generation"
## Steps to reproduce

lb4 service

## Current Behavior

Generation is aborted: Error: No datasources found at /Users/username/Desktop/repo-name/src/datasources. Please visit https://loopback.io/doc/en/lb4/DataSource-generator.html for information on how datasources are discovered

## Expected Behavior

service generated

## Link to reproduction sandbox

## Additional information

I have datasourc

[2020-09-02 18:47] nabdelgadir commented on #6260
Hi, the `lb4 service` command looks for "a valid REST or SOAP datasource already created in src/datasources." You have to set the configuration of your datasource to have the property  `connector: 'rest',` or ` connector: 'soap',`. Here's an example of one with a rest datasource (from [here](https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-service.html)):

[code]

Here are the docs: https://

[2020-09-02 20:59] odykyi commented on #1722
user: Partial<User> - works for me

[code]

[2020-09-02 21:57] achrinza commented on #6259
Are the foreign key and their target keys' type the same (e.g. `parentID` of type `number` should reference `ID` of the same type)?

[2020-09-02 21:58] georve commented on #6259
sorry finally I could solve the error it was misspelled the var...

[2020-09-02 21:58] #6259 closed

[2020-09-02 23:09] achrinza commented on #6113
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-09-02 23:09] #6113 closed

[2020-09-03 07:00] giano commented on #4572
No luck.

Unhandled error in GET /getLGX.aspx?u=giano&p=chained&c=moo: 500 ResolutionError: The key 'rest.http.request.context' is not bound to any value in context MyoxApplication-Rg4CeuOeRvWgF_tRDnIwbw-0 (context: MyoxApplication-Rg4CeuOeRvWgF_tRDnIwbw-0, binding: rest.http.request.context, resolutionPath: controllers.GetLgxController --> @GetLgxController.constructor[0] --> services.LoginServic

[2020-09-03 13:14] hacksparrow commented on #3456
OK, here is the new spike report - https://github.com/strongloop/loopback-connector-mongodb/blob/6732fe7589d061632df8990ef4f11b8d48d138d9/SPIKE.md.

This approach is simpler and does not require changes to Juggler. Thanks @bajtos for the discussion.

The PR: https://github.com/strongloop/loopback-connector-mongodb/pull/596

[2020-09-03 14:57] bajtos commented on #6203
Thank you @mrbatista for starting the discussion. Let me move this issue to [loopback-governance](https://github.com/strongloop/loopback-governance) to make it stand out from regular project "noise".

[2020-09-03 15:41] hacksparrow commented on #3456
While discussing the first SPIKE, I highlighted to @bajtos that Juggler also requires refactoring. The points are captured in https://github.com/strongloop/loopback-next/issues/889#issuecomment-683887309.

So, while we will not be using the first approach, it was a good exercise in pointing out areas of refactoring in Juggler, which was missed in the original Juggler Refactor Epic.

[2020-09-04 02:09] candytangnb opened #6271 "[GSSC-TVT]concatenated strings with English substring in lb app"
Test case:
27.030.010

## Steps to reproduce
input ./apic lb4 app -h
and click Enter

## Current Behavior

1. in two of the messages, the word "application" is displayed in English. This word is replacing a variable, so it cannot be corrected in our files.
2. Problem: 'application' is displayed in English in 2 concatenated strings. Please note that a result of concatenation will be incorrect for R

[2020-09-04 02:11] candytangnb commented on #6271
I have no access to add lable, could you please help to add GVT label for this issue? Thanks. @agnes512 @dhmlau

[2020-09-04 02:57] Tabby-web commented on #6225
##

[2020-09-04 02:59] Tabby-web commented on #6252
https://loopbackio.slack.com/archives/C01177XQN8N/p1598659494196700

[2020-09-04 05:07] mdbetancourt commented on #3159
in my project im running loopback with just typescript (ts-node, ts-node-dev) i changed booters to .ts and run ts-node with --type-check flag, and im running jest with ts-jest with no problems (until now)

[2020-09-04 07:09] bajtos commented on #110
@mayank-SFIN571 Invite sent  📨

[2020-09-04 07:13] likexoo opened #6274 "Support `ajv-errors` in parameter schema"
## Suggestion

Support [ajv-errors](https://github.com/ajv-validator/ajv-errors) in parameter schema.

## Use Cases

So we can define custom error message.

## Examples

[code]

## Acceptance criteria

TBD - will be filled by the team.

[2020-09-04 07:19] raymondfeng commented on #6274
We support `ajv-errors` for model properties, see https://loopback.io/doc/en/lb4/Model.html#custom-validation-rules-and-error-messages. Do you propose to extend it for OpenAPI parameters?

[2020-09-04 07:23] likexoo commented on #6274
@raymondfeng Yes and using it in `@param`.

[2020-09-04 07:33] bajtos commented on #3430
Sorry for not coming back to this conversation earlier. Dates, times and timezones are notoriously difficult to handle properly, double so in JavaScript.

In the past, we have had a long discussion around timezones in MySQL in the following GH issue, you may find some relevant information there too: https://github.com/strongloop/loopback-connector-mysql/issues/149 The pull request  https://github.

[2020-09-04 07:34] bajtos commented on #3430
Can we perhaps start by documenting the current behavior and best practices (like setting `TZ` env var)?

[2020-09-04 08:15] bajtos commented on #5857
Good questions, @jeffersonlicet!

Yes, we want to allow JSON-enconding of query string values (i.e. the top-level `filter` parameter). Please note this is handled by our REST layer, the schema should not need any specific changes to support JSON-encoding. Just describe the `fields` property as an array or an object in the schema. I think it's a good idea to show both flavors (JSON and "explode" en

[2020-09-04 09:58] achrinza opened #6275 "Add REST response deserializer, transparent content negotiation"
## Suggestion

We should...
1. Provide an extension point to allow contribution of response deserializers
2. Process automatic content negotiation to use the correct deserializer, similar to `BodyParser`.

## Use Cases

Currently, there is only support for `BodyParser`s that serialize REST request bodies to JSON. This means the Request-Response Lifecycle cannot be fully covered by a `BodyParser`,

[2020-09-04 10:25] Tabby-web commented on #6252
Ty

[2020-09-04 13:19] hacksparrow commented on #6240
@shadyanwar make sure you are using the latest version of `@loopback/rest`, you can set the server properties like this in the `index.ts` file:

[code]

You may have to set `headersTimeout` too, which should be a number slightly more than `keepAliveTimeout`.

[2020-09-05 02:24] diego92sigma6 opened #6281 "Properties with default value are generated but then retrieved as undefined"
## Steps to reproduce

* Create a model, use MongoDB connector
* Add property with default value. Example:
`@property({
		type: 'date',
		name: 'date',
		default: () => new Date(),
	})
	date?: Date`
* Create and store an instance of this model
* Confirm that default value is correctly generated
* Perform a this.repo.find() to get it back

## Current Behavior

Properties are well retrieved, except

[2020-09-05 02:32] achrinza commented on #6281
Would using [`defaultFn: 'now'`](https://loopback.io/doc/en/lb4/Model.html#property-decorator) solve the issue?

[2020-09-05 02:36] achrinza commented on #6281
Quoting from Slack:

Glad you were able to solve the issue!

Closing as solved.

[2020-09-05 02:36] #6281 closed

[2020-09-05 02:36] diego92sigma6 commented on #6281
Sorry, I posted this 10 mins ago but had this problem for 5 hours.
It's the include field in the filter query!  😅😅

[2020-09-05 03:33] shadyanwar commented on #6240
Thanks, @hacksparrow. I have updated the packages and set the `keepAliveTimeout` and `headersTimeout` . Unfortunately, this did not solve the issue of the incomplete JSON received in the response. Any ideas?

[2020-09-05 05:25] Tabby-web opened #6282 "Intelligence"
_intelligences_

_Originally posted by @BROGVOIDOVO in https://github.com/kamranahmedse/developer-roadmap/issues/767#issuecomment-686864201_

[2020-09-05 05:58] #6282 closed

[2020-09-05 07:05] Tabby-web commented on #6282
[]()@fabien

[2020-09-05 07:13] raymondfeng commented on #6282
@Tabby-web Please don't spam our issues.

[2020-09-05 07:15] Tabby-web commented on #6282
@raymondfeng so what should I do to help

[2020-09-05 17:53] BROGVOIDOVO commented on #6282
_Authic_

[2020-09-05 22:35] georve commented on #6237
finally, i solve the issue making the include of foreign-keys into the loopback model. I saw in the source code that the class use the foreign keys and it help me to solve the filter

[2020-09-05 23:51] dhmlau commented on #6247
@raymondfeng, it looks like the ajv validation is not applicable to the OpenAPI parameters? Similar to #6274?

[2020-09-05 23:54] dhmlau commented on #6228
@agnes512, could you please take a look? Thanks.

[2020-09-06 03:18] MattRiddell commented on #3673
Wow...I have a bug in a local repository about this and the solution in option number 3 is absolutely perfect with the author offering to write the code. Any explanation as to why this was closed?

[2020-09-06 03:23] MattRiddell commented on #4573
Is there any documentation about how to make this work with the example?

[2020-09-06 05:34] raymondfeng commented on #4573
See https://github.com/strongloop/loopback-next/tree/master/extensions/authentication-jwt#endpoints-with-refresh-token

[2020-09-06 05:36] raymondfeng commented on #6240
@shadyanwar Is it possible to create a simple app that returns a large json response to reproduce the problem?

[2020-09-06 07:14] raymondfeng commented on #6247
We have a gap - parameters with simple types are not validated by AJV. I'll submit a fix.

[2020-09-06 23:30] arondn2 commented on #110
Hi guys, I would like to contribute

[2020-09-07 05:30] wxuwh opened #6287 "[GSSC-GVT][v10]English string in apic lb4 service"
"27.030.040": English string Service

Steps & Verification Points:
input ./apic lb4
input lbproject as Project aame and Click Enter
input lbproject as Project description and Click Enter
input lbproject as Project root directory and Click Enter
Leave application class name as default and click Enter
Click Enter
Wait until the project has been created
input cd lbproject and click Enter
input ../api

[2020-09-07 05:44] wxuwh commented on #6287
I have no access to add label, could you please help to add GVT label for this issue? Thanks. @agnes512 @dhmlau

[2020-09-07 18:16] flaviogoncalves opened #6295 "lb4 discover does not handle BLOB fields"
## Steps to reproduce
To reproduce this problem use lb4 discover in a MySQL table having a BLOB field. It will generate a model where BLOB is mapped to binary and does not start.

## Current Behavior

The lb4 discover blob fields as binary fields

## Expected Behavior

Blob fields should be discovered as buffer type.

## Link to reproduction sandbox

## Additional information

## Related Issues

N

[2020-09-07 22:21] argupta23 commented on #6228
@dhmlau

Earlier last week I brought this up on the Slack channel and with help from Agnes was able to resolve the issue.

Thanks again for your help.

[2020-09-07 22:21] #6228 closed

[2020-09-07 23:44] dhmlau commented on #6287
@wxuwh, I believe `Service` is a reserved word here and not meant to be translated. I've submitted PR https://github.com/strongloop/loopback-next/pull/6298 to specify that. Thanks.

[2020-09-08 04:43] raymondfeng commented on #6274
PR #6285 will probably fix this issue.

[2020-09-08 08:33] puranjayjain-mtxb2b commented on #6237
@georve can you write down your solution here, if you can?

[2020-09-08 15:21] jannyHou commented on #6217
I reproduced the `userId: NaN` error with mongodb connector, but couldn't get the google login work.

I fixed:

[code]

and created `oauth2-providers.json`, set the ENV `OAUTH_PROVIDERS_LOCATION='../oauth2-providers.json'`

**But somehow my google login keeps directing to `passport-facebook`**:
[code]

Need more time to investigate. In case anyone happen to know the reason?

[2020-09-08 16:07] bajtos opened #6303 "Prepare to participate in Hacktoberfest 2020"
Quoting from https://hacktoberfest.digitalocean.com:

@dhmlau @raymondfeng and @bajtos agreed to join the festival this year.

Requirements (see https://hacktoberfest.digitalocean.com/details/#maintainers):

- [x] Apply the "Hacktoberfest" label to issues in your GitHub project that are ready for new contributors to work on.
  --> _@bajtos to review "good first issues" and pick candidates for "Hac

[2020-09-08 19:40] jannyHou commented on #6248
Thanks @dhmlau agreed. @argupta23 does comment https://github.com/strongloop/loopback-next/issues/6248#issuecomment-685249203 answer your question? If yes can we close this question and focus on the fix in https://github.com/strongloop/loopback-next/issues/6217?

[2020-09-08 20:15] f-w commented on #1919
Operation hook in LB3 can access *httpContext* through `ctx.options.httpContext`.  But in this workaround `ctx.options` is `{}`. `@inject` doesn't work as DI cannot be applied to listener function parameter. I am stuck.

Being able to access *httpContext* is necessary in my use case.

[2020-09-09 05:25] Guanhua1018 commented on #5381
just update the node version to even one, then the issue will be solved.

[2020-09-09 08:36] sskhokhar opened #6308 "Multiple Authentication Mechanism with Authorization"
Hi all,
First sorry to post here, I have asked on slack but no one answered.
I need help in designing authentication and authorization mechanism in  LB4
I have following entities:
1- Administrator (login with email and password)
2- Buyer (login with phone number only - verified by OTP)
3- Seller (login with phone number only - verified by OTP)
4- Support Assistant (login with phone and Password)

[2020-09-09 11:02] hacksparrow opened #6309 "Extract CORS to a standalone extension"
CORS should not be baked in into the framework, especially with defaults. Configuring CORS is a error-prone, complicated task, we should let users take 100% responsibility of setting it up themselves; and disabling CORS should simply mean "not using the CORS extension".

## Acceptance criteria

- [ ] Remove all CORS related code from the core framework
- [ ] Create a new CORS extension from the re

[2020-09-09 11:03] hacksparrow commented on #6309
Prompted by my review of https://github.com/strongloop/loopback-next/pull/6306 and  https://github.com/strongloop/loopback-next/pull/6290.

[2020-09-09 11:28] markus-hsk opened #6310 "API-Title and -Version are being overwritten by values in the package.json"
I've a LB4 application with this code:

[code]

I expect the RestExplorer to deliver the title "Swagger OpenAPI for MyApp" and the version "3.2 Build 12345". This worked till i recently made an update to the packages. Now the RestExplorer ignores the given strings and replaces it with name and version from the package.json. As the contact data is correctly placed in the json i assume, the use of t

[2020-09-09 13:56] argupta23 commented on #6248
@jannyHou @dhmlau

I do understand the difference between the two formats, what I wanted to understand if there was a particular scenario leading to the x-www format.

It seems to me that this was just a user preference.

Yes, we can close this and track the progress in #6270

Thanks

[2020-09-09 13:56] #6248 closed

[2020-09-09 14:01] argupta23 commented on #6246
@dhmlau

This question has been asked on Slack channel by other users, but I have not seen a good reply yet.

Can somebody please outline the steps to disable the JADE  application within this code?

Thanks

[2020-09-09 14:45] jannyHou commented on #6310
Looking.

Seems a regression, @markus-hsk do you know the working version of the packages? especially `@loopback/rest` and `@loopback/openapi-v3`

[2020-09-09 15:25] chrisLovesCode commented on #4872
@achrinza
Hey there,
so if i understand you guys right, https://loopback.io/doc/en/lb3/Registering-users.html will not work for LB**4** ?

i am currently interested in using loopback and i am a littlebit frustrated that the given user registration examples are not real world ready without email verification, since i was looking for a framework which has all the common user management stuff setup :

[2020-09-09 15:46] agnes512 commented on #6017
### Current relation CLI main building relation process:

Prompt:

1. Select relation type
2. Select source/target models[read]
3. Check if corresponding repos exist [read]
4. Check if the source model pk exists [read]
5. Prompt for foreign key
6. Check if the fk exists
7. Prompt for getter/relation name
8. Check if the relation name exists [read]
9. Prompt for inclusion resolver

Scaffold:

1. Ch

[2020-09-09 17:45] jannyHou commented on #6308
Hi @sskhokhar no worries at all :) having a public discussion about comprehensive user scenario would also benefit community.

- For the login part:

I think different login approaches can be handled by multiple login endpoints, an example would be the [passport-login](https://github.com/strongloop/loopback-next/tree/master/examples/passport-login).
It allows login with local user/fb/google/twitte

[2020-09-09 18:02] sskhokhar commented on #6308
@jannyHou  Thank you for reply.
I have tried to use the authentication component, but the problem is token service only takes email, password and security id to generate token "UserProfile" interface.
What if i want to pass in extra user profile as an identification whether the current user is Admin, Seller, Buyer or Support.

To bypass this barricade. I was thinking to do following:
User Model wi

[2020-09-09 19:58] #6247 closed

[2020-09-09 21:37] raymondfeng commented on #6310
@jannyHou It may be related to https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/spec-enhancers/info.spec-enhancer.ts#L56. We can improve the enhancer to honor existing `title` and `version` properties so that they won't be overriden.

[2020-09-09 21:40] raymondfeng commented on #6275
`deserializer` -> `serializer`?

[2020-09-10 02:07] Fr4nZ82 commented on #6029
any news? also findOne has the same issue... my workaroud is
[code]
but stripNullId is slow for big object (like [animationData ](https://raw.githubusercontent.com/airbnb/lottie-web/master/demo/bodymovin/data.json)of Lottie-web player)

[2020-09-10 02:30] fgvicente opened #6318 "includes with belongTo and hasMany relations"
I have this filter

but the response only get belongTo relations but omit hasMany relation
if i include only one in filter, not both,  working fine

[2020-09-10 02:38] hacksparrow commented on #6318
@fgvicente please share a minimal app reproducing the behavior, we can take a look at the issue.

[2020-09-10 05:35] markus-hsk commented on #6310
@jannyHou
Ah yes of course - sorry, i just forgot to add that to my initial post:

[code]

[2020-09-10 08:26] markus-hsk commented on #6310
@raymondfeng I commented the lines 49-52 out and checked the OpenAPI-Result. It is indeed the point, where the values are being overwritten.

[2020-09-10 11:00] achrinza commented on #6115
I'm not familiar with Express.js development, but wouldn't it be better to make Express.js a TypeScript-first project?

Some potential benefits:
- No separate types files
- No need for a separate types check in CI pipeline
- Easier to write in native TypeScript
- Mitigates potentially incorrect or "out-of-sync" types

[2020-09-10 11:16] hacksparrow commented on #6115
It was brought up some years ago, but there was no enthusiasm. The scope is pretty large, Express and all it's dependent org libs have to be re-written in TS, I doubt anyone has the will and bandwidth. Also the thinking is "Express is a JS framework". TS is great for developing large projects, but it brings in its own set of dependencies and problems.

[2020-09-10 11:47] sskhokhar commented on #6308
![image](https://user-images.githubusercontent.com/13753852/92725232-427e6100-f385-11ea-8625-3d1067650d6d.png)

@jannyHou  This is the architecture i came up with. Let me know if you’re confused
In this diagram, its stated that all entities has to call single Login endpoint controller. This controller will decide further actions and call specific services

[2020-09-10 14:42] bajtos commented on #6309
Let's keep `security` label for security vulnerabilities only, to make them stand out from the crowd.

[2020-09-10 14:49] bajtos commented on #6309
Let's start by discussing the user (app developer) experience. Here is my point of view:

_As a LoopBack user building a new API server, I want to quickly scaffold a LoopBack project with the recommended settings and best practices in place. I want a reasonable CORS setup that will allow my API to be consumed by a variety of clients, including single-page web applications (HTML5 SPAs - React, Angu

[2020-09-10 16:52] mschnee opened #6325 "Documentation: Understanding and using Request-scope Context"
User Story
=======
Your API has a contextual route, such as `POST https://api.my-business.com/company/1/employee/2/avatarUrl`, which can allow an administrator, a business owner, a manager, or the employee to change their photo.  Behind the REST controller function, there can be several services: `photoService`, `companyService`, `userService`.  All of these services require loading some basic inf

[2020-09-10 17:37] nabdelgadir commented on #6318
If you want to query more than one relation, you have to use the following syntax:

[code]

[2020-09-10 19:20] dhmlau commented on #6274
Closing as done since PR #6285 has landed.

[2020-09-10 19:20] #6274 closed

[2020-09-10 19:24] mschnee opened #6329 "Documentation: Creating and communicating with microservices."
User Story
=======
There are multiple ways to set up microservices:
- Have a public facing API Gateway responsible for authentication, that then acts as a proxy for internal microservices, or which can have orchestration logic on top of their responses.
- Have many public facing services- one responsible for the process of authentication and the frontends are responsible for knowing.

There are al

[2020-09-10 19:36] mschnee opened #6330 "Documentation: How to @authorize access to an entity"
User Story
=======
Your API has a contextual route, such as POST https://api.my-business.com/company/1/employee/2/avatarUrl, which can allow an administrator, a business owner, a manager, or the employee to change their photo.  There are a series of authorization rules involved:
- A System Administrator can perform this action for any employee for any company.
- An owner or admin at this company c

[2020-09-10 19:41] dhmlau commented on #6215
While I understand not to include the author information in package.json without prompting, I'm not sure if adding the prompt asking users what to do with the author field would complicate the CLI experience. How about we put an empty string or not have the `author` field at all by default for the app generator? If users want to add such info, we provide instructions for "customizing openapi spec"

[2020-09-10 20:02] dhmlau commented on #4717
@achrinza, given the current docs improvement effort, we've added a few guides as "how-tos" and "references". Do you think we can close this issue and continue discussions in specific docs epics? Thanks.

[2020-09-10 21:24] jannyHou commented on #6217
@argupta23

This is an easy update. The reason why switching to mongodb connector fails is, in this example, the User model has a number type id. While a mongodb objectId field doesn't accept number, it has to be a string.

Update as:

- change the `User` id from number to string:
[code]
- add mongodb config in both `UserCredentials` and `UserIdentity` models:
[code]
- remove all `parseInt` throug

[2020-09-10 21:28] jannyHou commented on #6217
Ah, good news, the 3rd-party login is also solved!

Same as the configurations above, the key is to change the UserIdentity's belongsTo decorator with mongodb config specified.

I can login with my google account successfully. And result of the stored identity:

[code]

[2020-09-10 23:24] achrinza commented on #4717
Sure, let's close this issue.

[2020-09-10 23:24] #4717 closed

[2020-09-11 00:05] dhmlau commented on #6209
PR #6321 in progress.

[2020-09-11 00:13] InvictusMB opened #6335 "Request body schema validation false error"
## Steps to reproduce

The following schema for request body

<details><summary>schema</summary>

[code]
</details>

with this input

<details> <summary>input</summary>

{
  "jobId": "1599773708525",
  "error": "qwerty",
  "inputData": {}
}

</details>

produces this error in the response

<details> <summary>error</summary>

[code]

</details>

## Current Behavior

Controller returns an error. Als

[2020-09-11 00:30] dhmlau commented on #6145
@duanvnc, we believe we've answered your question. Closing this issue. Thanks.

[2020-09-11 00:30] #6145 closed

[2020-09-11 00:30] dhmlau commented on #6303
@bajtos, perhaps we can publish a blog towards the end of September to promote about this?

[2020-09-11 00:31] dhmlau commented on #6127
Closing as answered.

[2020-09-11 00:31] #6127 closed

[2020-09-11 00:32] dhmlau commented on #6099
@dzhiwei, we believe we've answered your question. Closing this issue. Thanks.

[2020-09-11 01:08] dhmlau commented on #6001
@hacksparrow, is it good to close? Thanks.

[2020-09-11 02:11] InvictusMB commented on #6335
I've misread the error message.
`"passingSchemas": [0, 1]` means both path the validation.
Also the first part of schema had only two required fields `['jobId', 'inputData']` which creates the [ambiguity in schema](https://www.jsonschemavalidator.net/s/V2QbAD2g).

Closing.

[2020-09-11 02:11] #6335 closed

[2020-09-11 03:03] achrinza opened #6337 "Keep a consistent documentation flow"
## User story

LoopBack 4 is an incredibly extensible meta-framework. While this provides flexibility, it can also be daunting to new users who may be unfamiliar with LoopBack 4.

For example, the Express Middleware documentation teachers users how to modify the middleware chain via Sequences when using `this.expressMiddleware()` is arguably a more simple and flexible method.

The user now has to

[2020-09-11 03:48] #3545 closed

[2020-09-11 04:05] achrinza opened #6338 "Provide a tutorial/primer on DI, IoC, Providers, etc."
## User story

DI, IoC, Providers, etc. are concepts that are familiar to developers with a Java and C# background. However, Node.js developers may not be as familiar with these concepts due to its limited use in the Node.js ecosystem and the preference to take a kitchen sink approach with importing modules.

This makes it difficult for a Node.js developer to understand how these concepts work, an

[2020-09-11 06:47] bajtos commented on #6303
I am thinking about the same! My plan is to write it early and schedule publishing for Tuesday 2020-09-29.

[2020-09-11 08:46] bajtos commented on #6224
Quoting from https://github.com/lodash/lodash/issues/2843:

`_.kebabCase`, like other casing methods, relies on `_.words` to separate compound words.
The specs are with `_.words`. After all, it'd be a bit goofy to duplicate the same test 6 times when it comes down to 1 method.

We treat numbers as separate in most cases:
[code]
The exceptions are ordinals:
[code]

I checked few alternative package

[2020-09-11 08:47] bajtos commented on #3159
With #5011 in place, we are going to stick with Mocha for the foreseeable future.

[2020-09-11 08:47] #3159 closed

[2020-09-11 09:03] bajtos commented on #5532
@Arathy-sivan

Your question is off-topic here. Please post your question to [StackOverflow](http://stackoverflow.com/questions/tagged/loopbackjs+or+strongloop?sort=newest&pageSize=50) or [Slack chat](
(https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw)

[2020-09-11 09:10] bajtos commented on #1234
Please note the comment above is no longer true. At the moment, `lb-tsc` is very tiny wrapper around `tsc`, it mostly finds the right `tsconfig.json` file and automatically decides whether to use build mode (`-b`) for composite projects using project references.

@madaky I think `tsc-watch` should work in LoopBack projects out of the box now. No need to implement our own version.

You can also use

[2020-09-11 09:55] bajtos commented on #4757
As was pointed out, we are discussion a "proper" Database Migration Management Framework in GitHub issue #487.

Let's keep the discussion here focused on a short-term workaround.

The simplest solution that comes to my mind is to leverage [`before execute` connector hook](https://loopback.io/doc/en/lb3/Connector-hooks.html#before-execute) to observe the SQL commands as they are sent to the databas

[2020-09-11 10:01] bajtos commented on #110
@arondn2 Invite sent 📨

[2020-09-11 13:57] andrewlamyw commented on #110
Hi @bajtos I would love to contribute.

[2020-09-11 14:33] georve commented on #6237
Steps to make work search using a related object with annotation @HasMany @BelongTo @OneToOne using MYSQL

1.  Make the relationship using foreign keys with the object-related
    `@model({settings: {
  strict: true,
  foreignKeys:{
    fk_policy_enterpriseId:{
      name:'fk_policy_enterpriseId',
      entity:'Enterprise',
      entityKey:'id',
      foreignKey:'enterpriseId',
      onDelete: 'ca

[2020-09-11 14:34] georve commented on #6318
{
   "include":[
      {
         "relation":"insured",
         "scope":{
            "where":{
               "insured_city":"Carora"
            }
         }
      }
   ]
}

[2020-09-11 14:44] argupta23 commented on #6217
@jannyHou,

Your latest reply is exactly the problem I described 12 days ago in my update.

1. why is userId coming up as 5? IMO it should be a mongodb Object that is auto generated?

After having created this entry are you able to successfully login via the JADE webpage? I don't think you can. You will get an error.

Also try to add a second user account and I believe you will see that it still p

[2020-09-11 15:02] fgvicente commented on #6318
@nabdelgadir thanks!! now works

[2020-09-11 15:03] #6318 closed

[2020-09-11 18:28] jannyHou commented on #6217
@argupta23 ok I didn't realize the userId is not correct. But I am able to login and that's why I thought the problem is solved, see:

<img width="994" alt="Screen Shot 2020-09-11 at 2 27 32 PM" src="https://user-images.githubusercontent.com/12554153/92960078-f261d600-f43a-11ea-89e1-a0ab4223c38d.png">

I will take another look of why the userId is 5.

[2020-09-11 18:33] jannyHou commented on #6217
BTW, thank you @argupta23 for discovering the bug of:
[code]

would you like to submit a small PR and help us fix it?

[2020-09-11 21:04] raymondfeng commented on #6338
FYI - some of the capabilities are covered by https://loopback.io/doc/en/lb4/core-tutorial.html.

There are two ways for us to improve the story:

1. We can go deeper to illustrate certain techniques/patterns with application scenarios, such as:

- Propagate context via dependency injection
- Select downstream services per request based on tenant/user/...
- Compose an application from multiple sub

[2020-09-12 16:23] frbuceta opened #6343 "Specify type of ids in a repository with multiple ids"
Having two properties of type PK/id is not supported by the DefaultCrudRepository.

The specification of DefaultCrudRepository is:
[code]

So the problem is that I can only specify the type of a single id and not of both as you can see in the example below.

**Example Code:**
[code]
[code]

Any solution?

## Additional information

Node: darwin x64 14.10.1

**_I have this in the loopback repositor

[2020-09-12 16:36] raymondfeng commented on #6343
In this case, we should have the following id type:

[code]

[2020-09-13 00:19] dhmlau commented on #6091
related to https://github.com/strongloop/loopback-next/issues/5646.

[2020-09-13 02:06] dhmlau commented on #6022
Closing as done.

[2020-09-13 02:06] #6022 closed

[2020-09-13 02:20] #4842 closed

[2020-09-13 02:20] dhmlau commented on #4842
Closing per the [above comment](https://github.com/strongloop/loopback-next/issues/4842#issuecomment-645040790).

[2020-09-13 02:24] #4177 closed

[2020-09-13 15:24] tipuban commented on #1919
@f-w You could try injecting a getter function for `RestBindings.Http.CONTEXT`  in your model repository constructor method and get its value when the hook is triggered:

[code]

[2020-09-13 21:24] puranjayjain-mtxb2b commented on #1919
The above unfortunately gives us a context not found error

[code]

[2020-09-13 22:25] puranjayjain-mtxb2b commented on #1919
Thanks, it worked for me, but not in the migration script, so ended up injecting an **env** variable to guard it.

[2020-09-14 05:55] candytangnb opened #6351 "[GSSC-TVT]Loopback 3Q TVT updated translaton not in lb4"
## Steps to reproduce

## Current Behavior
Loopback 3Q TVT updated translaton not in lb4.
Updates in this PR https://github.com/strongloop/loopback-next/pull/6300 could not be verified by tester in 3Q TVT final pass

For example:
PTBR
<img width="733" alt="image" src="https://user-images.githubusercontent.com/26452457/93048608-dc018780-f691-11ea-9464-f89c860c528b.png">
<img width="573" alt="image"

[2020-09-14 07:59] hacksparrow commented on #6209
Closed via https://github.com/strongloop/loopback-next/pull/6321

[2020-09-14 07:59] #6209 closed

[2020-09-14 16:35] dhmlau commented on #6351
@candytangnb, we haven't published a release yet. Will notify here when there's a new release that includes the change. Thanks.

[2020-09-14 18:17] #6310 closed

[2020-09-15 01:06] candytangnb commented on #6351
Thanks, @dhmlau. I know that LB has its own release plan. We have to open this issue for tracking and then let tester exit TVT.

[2020-09-15 02:50] alexsilvar commented on #5282
Any updates on that one?

[2020-09-15 06:41] mdbetancourt opened #6362 "@loopback/logging what about alternatives to winston"
What about https://github.com/pinojs/pino#benchmarks?

[2020-09-15 10:44] achrinza commented on #6362
Prior discussion: https://github.com/strongloop/loopback-next/pull/4117#issuecomment-554479437

[2020-09-15 10:53] achrinza commented on #6309
From the other thread, +1 for changing to safer CORS defaults.

However, CORS tends to be an important part of a REST API. So I'm not too sure if we should abstract it from `@loopback/rest`. This may open the gates for "separating for the sake of separating", which would further complicate LoopBack 4.

Since CORS is already managed by `@loopback/rest`, I would consider it already well-separated fr

[2020-09-15 10:54] achrinza commented on #6237
Closing as solved based on https://github.com/strongloop/loopback-next/issues/6237#issuecomment-687671581.

[2020-09-15 10:54] #6237 closed

[2020-09-15 13:50] hacksparrow commented on #6309
As long as there is an intuitive way to enable-disable it, and it is disabled by default (can be enabled in scaffolded apps) I am fine with it being in`@loopback/rest`.

[2020-09-15 15:18] raymondfeng commented on #6309
IMO, `CORS` is designed to protect browsers instead of API servers. Non-browser API clients don't really care about `CORS`.

I'm leaning to leaving CORS in `@loopback/rest` and **enabling** it by default to avoid extra work for most cases. A lot of web applications now use public/private cloud APIs served from other domains. It's also a common practice to separate API endpoints from web servers. T

[2020-09-15 17:48] nabdelgadir commented on #6260
Closing due to inactivity. If the above doesn't work, feel free to reopen the issue, thanks!

[2020-09-15 17:48] #6260 closed

[2020-09-16 00:53] dhmlau commented on #6351
@candytangnb, FYI - `@loopback/cli@2.14.0` was just published.

[2020-09-16 06:04] AceCodePt commented on #1830
Any update on this?

[2020-09-16 14:24] achrinza opened #6368 "Add built-in "multer().none()" body parser for text-only multipart/form-data"
This issue was spun from https://loopbackio.slack.com/archives/C01177XQN8N/p1600257541018200

## Suggestion

Add built-in support for parsing text-only `multipart/form-data` request bodies (i.e. no blobs).

This invovles 2 parts:

1. Adding a text-only `multipart/form-data` BodyParser
  This will use `multer().none()` to parse the request body and run validation. It's implementation of `supports()

[2020-09-16 14:25] jannyHou commented on #6308
@sskhokhar `UserProfile` allows arbitrary properties, see
https://github.com/strongloop/loopback-next/blob/e72e12cb074044b97c65ab416605ed073fca6d19/packages/security/src/types.ts#L37
It extends `Principal` which can have any properties.

[2020-09-16 18:57] dhmlau commented on #6337
@achrinza, thanks for the suggestion. Do you have a list of specific places where the changes should occur? It can be the acceptance criteria of this issue. Thanks.

[2020-09-16 19:01] dhmlau commented on #6223
@hacksparrow, is it a bug in this case?

[2020-09-16 20:46] tripled1313 opened #6369 "In consistent documentation for Calling-other-APIs-and-web-services"
In the documentation for https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html

The example code is not consistent, it switches between a calculator with 2 parameters in the service, and using 1 parameter in datasourse example.

It also does not show how to pass different types of parameters, like an object from the calling code through to the final API.

Showing how to pass an i

[2020-09-17 18:22] emonddr opened #6379 "Generated README.MD for LB4 Application doesn't look right"
## Steps to reproduce
Create an LB4 application

## Current Behavior
Look at the REAMDE.MD file.

It doesn't look right.

![image](https://user-images.githubusercontent.com/6864736/93511731-42d0ac00-f8f1-11ea-89cc-707302fa1e0c.png)

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reportin

[2020-09-17 18:25] emonddr commented on #6379
@raymondfeng  mentioned

In https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/project/templates/README.md.ejs ,
we need to test if the projectType is application or extension.

We have similar conditional code gen - https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/project/templates/package.json.ejs#L87

[2020-09-17 18:36] emonddr commented on #6379
We would need to know what content we want to generated when
- lb4 app is a regular application
- lb4 app is an extension

[2020-09-17 18:59] raymondfeng commented on #6379
I suggest that we have separate copies of `README.md.ejs` for applications and extensions.

[2020-09-17 20:48] #6379 closed

[2020-09-18 01:48] candytangnb commented on #6351
Checking in @loopback/cli@2.15.1. Translation have been in.

<img width="568" alt="image" src="https://user-images.githubusercontent.com/26452457/93545891-25085300-f994-11ea-981b-7a3934fb2715.png">

[2020-09-18 01:48] #6351 closed

[2020-09-18 07:32] hacksparrow opened #6385 "Model: hidden property shortcut"
Currently, to hide properties of a model we have to do this:

[code]

Let's provide a shortcut so we can do this instead:

[code]

## Acceptance Criteria

- [ ] Add new property `hidden` in model property definitions, which should do what `hiddenProperties` does for the listed properties.
- [ ] Update relevant documentation

Along with https://github.com/strongloop/loopback-next/issues/2766, users

[2020-09-18 09:23] tomsaleeba opened #6386 "Postgres model discovery doesn't correctly handle a primary key generated by a sequence"
I was going to file this in the loopback-datasource-juggler repo but it told me to come here.

I'm very open to the fact that I might be doing something wrong, and happy to be corrected.

This is a bug.

TL;DR: I think the discovery process should detect when there is a required field that is generated by the DB and mark it as *not* required.

Steps:
 - [create a sequence](https://gitlab.com/terna

[2020-09-18 09:49] malek0512 commented on #4572
Hello @giano, I encounter the same kind of issue.

Any advice on how to reveal such a circular dependency ?
(At first glance I don't see any..)

[2020-09-18 11:45] bajtos commented on #6385
The benefit of the current model-level design is that child models can hide properties defined in the parent model. I think it is a useful feature we should preserve.

Adding support for property-level `hidden` metadata as an alternate syntax to model-level `hiddenProperties` looks reasonable to me 👍🏻

[2020-09-18 11:58] giano commented on #4572
Hi, my issue was importing from a class (example A.ts) not directly another class (B.ts) but the "folder" where both of the classes were in (and its index.ts that re-exported both classes).

This made the circular dependency less obvious.

Try importing prototypes or extended classes from specific files (not index.ts re-exports) and check if some classes refer each other (A imports B and B imports

[2020-09-18 14:15] bajtos opened #6391 "Replace `@hapi/shot` with `light-my-way`"
Rework `@loopback/testlab` to use `light-my-way` for stubbing HTTP requests & responses.

Arguments for the change:

- `light-my-way` has larger community of contributors (45 vs 24)
- `light-my-way` has more activity (compare https://github.com/fastify/light-my-request/graphs/contributors?from=2020-01-01&to=2020-09-18&type=c to https://github.com/hapijs/shot/graphs/contributors?from=2020-01-01&to=

[2020-09-18 14:22] bajtos opened #6392 "Add a new decorator `@visibility('undocumented')`"
#1896 added support for a LoopBack-specific OpenAPI metadata allowing API developers to hide an endpoint (an OpenAPI operation) from the spec generated by the server.

[code]

~~At the moment, developers must use `@operation` decorator to provide this metadata, decorators like `@get` and `@post` cannot be used.~~

Let's implement a new decorator `@visibility` to make it easier to add `x-visibility

[2020-09-18 14:30] bajtos opened #6393 "Use `--enable-source-maps` instead of `source-map-support` on Node.js 12+"
Starting from version 12.12.0, Node.js offers built-in support for translating error stack traces using source maps - learn more here: https://medium.com/@nodejs/source-maps-in-node-js-482872b56116

Let's rework `@loopback/build` to use this new feature on recent version of Node.js, instead of `source-map-support` module.

If it's possible, then implement a fallback to npm module `source-map-suppo

[2020-09-18 14:33] bajtos opened #6394 "Adopt recently added eslint rules"
Rules to consider for enabling in `@loopback/eslint-config`:

- [no-unsafe-call](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unsafe-call.md)
- [no-unsafe-member-access](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unsafe-member-access.md)
- [no-unsafe-return](https://github.com/ty

[2020-09-18 18:49] dhmlau commented on #6369
@tripled1313, thanks for bringing this up. I agree that the docs for calling out other APIs is a bit messy, especially when we're trying to combine the instructions to call SOAP and REST services together. Do you have some publicly available REST service that we can use as an example?

Based on your comments, I have the following proposal:
- split the instructions to call SOAP and REST services as

[2020-09-18 19:29] dhmlau commented on #6252
cc @jannyHou. since she's working on the troubleshooting guide. PR #6371

[2020-09-18 19:48] tripled1313 commented on #6369
Thanks for looking into this, no, sorry no I do not.  
It looks good, what would also be nice is a link to somewhere that helps explain the what the template, body... are. 
For me, I'm not even sure what this datasource is doing, or the rules that are necessary for the formatting of things like the template, body.
Thanks again.
    On Friday, September 18, 2020, 01:49:58 PM CDT, Diana Lau <notific

[2020-09-18 23:46] dhmlau commented on #6369
Thanks. There are some more information from the REST connector page itself: https://loopback.io/doc/en/lb4/REST-connector.html. Will update the acceptance criteria on this issue.

[2020-09-18 23:49] dhmlau commented on #6369
In case you're looking for example, please take a look at https://github.com/dhmlau/loopback4-github-analytics2/blob/master/src/datasources/githubds.datasource.json. Hope it helps.

[2020-09-19 02:58] achrinza commented on #6275
My under standing is:
- `deserializer` = JS object -> arbitrary data
- `serializer` = arbitrary data -> JS object

Since `BodyParser` already converts arbitrary data into a JavaScript object, we only need to implement a `de-serializer`.

[2020-09-19 04:09] achrinza opened #6402 "Add auditor extension point"
## Suggestion

Add an extension point to accept an _Auditor_.

The `Auditor` can take up 2 auditing roles, _Static_ and _Dynamic_, and may adopt the following interface(s):

[code]

## Use Cases

LoopBack 4 is designed as a framework to build a wide variety of applications. This means opportunities for the developers' hardening routines to miss potentially-important areas of security concern.

The

[2020-09-19 05:39] achrinza commented on #6343
Would this be a duplicate of #1830?

[2020-09-19 18:19] odykyi commented on #110
Hi @bajtos I am happy to implement new feature with roles
please provide me access
many thanks

[2020-09-20 03:28] #3039 closed

[2020-09-20 03:28] #2193 closed

[2020-09-20 09:13] achrinza opened #6409 "Add rate limit extension point"
## Suggestion

Provide extension points, along with sensible default implementations, to enable request quota tracking.

## Use Cases

When creating an API, developers want to be able to control how often a user may be able to access an API over a given period. In some cases, they may want a simple `requests/unit-time` or a more complex `requests/unit-time with bursts` (e.g. AWS) measurement of me

[2020-09-20 14:46] achrinza commented on #5059
Closing this due to inactivity, and since `OASEnhancer` can accomplish the same task with more flexibility and less black box complexity.

Please re-open if the feature has other merits beyond the aforementioned.

[2020-09-20 14:46] #5059 closed

[2020-09-20 14:50] achrinza commented on #4872
@chrisLovesCode Sorry for the late reply; I believe you're looking for a built-in email verification system, while this issue is meant for a tutorial on custom email verification implementations.

[2020-09-20 14:54] brainafesoh commented on #5563
Hi guys, hello @danielalejandrin  I'm still facing the same issue. Currently using node version **12.17.0** and the migrate command still fails.

[2020-09-20 14:55] achrinza commented on #4354
Sorry for the late reply; this issue slipped through my radar.

The atomicity can be handled at the server side by making 2 repository calls within a single request. This does mean a bit of extra logic in the controller, but this ensures atomicity.

The issue of implementing navigational properties is that LoopBack 4 does not have first-class support for database-level foreign key constraints. Thi

[2020-09-20 14:59] achrinza commented on #3975
Closing due to inactivity. Please open a new issue if the problem persists.

[2020-09-20 14:59] #3975 closed

[2020-09-20 15:02] achrinza commented on #1573
Closing as done.

[2020-09-20 15:02] #1573 closed

[2020-09-20 15:40] achrinza commented on #6010
Closing in favour of #4299

[2020-09-20 15:40] #6010 closed

[2020-09-20 15:44] achrinza commented on #4726
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-09-20 15:44] #4726 closed

[2020-09-20 15:47] achrinza commented on #3589
Closing as solved.

[2020-09-20 15:47] #3589 closed

[2020-09-20 15:56] achrinza commented on #5563
Ensure that you're using a supported version of Node.js: v10, v12, v14.

[2020-09-20 16:56] senthilkumarpn commented on #2176
Hi @tonychangcheng / @quaywin

i tried as per your previous comment to set host in index.js but still i'm getting localhost in heroku deployment.

Could you please help me on this.

2020-09-20T16:49:29.516050+00:00 app[web.1]: [1] In Recommender Package 0.0.0.0 60148
2020-09-20T16:49:29.541370+00:00 app[web.1]: [1] Recommendation REST server is running at http://127.0.0.1:60148.
2020-09-20T16:49:3

[2020-09-21 01:54] achrinza commented on #5224
Closing due to inactivity. Feel free to open a new issue if the problem persists.

[2020-09-21 01:54] #5224 closed

[2020-09-21 01:57] #4826 closed

[2020-09-21 02:07] achrinza commented on #6074
Closing as solved; Feel free to open a new issue if the problem persists

[2020-09-21 02:07] #6074 closed

[2020-09-21 03:24] #5355 closed

[2020-09-21 04:53] achrinza commented on #6392
+1 for adding the decorator. It helps abstract OAS 3 away from the developer, thereby making it more discoverable and more "natural" to implement. Let's make the decorator applicable at the `controller` level too, similar to [existing OAS decorators](https://loopback.io/doc/en/lb4/Decorators_openapi.html#oasdeprecated).

The [documentation](https://loopback.io/doc/en/lb4/creating-components-rest-a

[2020-09-21 07:11] bajtos commented on #6392
+1

Ah, my bad, thank you @achrinza for correcting my mistake!

[2020-09-21 10:02] copostic opened #6416 "User authentication-jwt with MySQL"
## Steps to reproduce

Follow the authentication tutorial below:
https://loopback.io/doc/en/lb4/Authentication-tutorial.html

## Current Behavior

The authentication-jwt package includes the User model but it's using a strict mode "false" and has, for example, an id type string which is not usual with MySQL.
It also doesn't create automatically the table in database when using npm migrate

## Expe

[2020-09-21 14:18] bajtos commented on #2062
Few more (more recent?) information:

- One can change the `servers` part of the spec by providing a `rest.openApiSpec.servers` object in the Application config. You may need to disable `rest.openApiSpec.setServersFromRequest` option too, I am not sure. Take a look at the last code snippet in https://loopback.io/doc/en/lb4/Customizing-how-openapi-spec-is-served.html, it shows how to set a custom s

[2020-09-21 14:28] condratbogdan opened #6417 "Access model settings in Loopback 4"
In Loopback 3 i could access the models and their settings by using app.models['Logs'].settings.
How can i do this in Loopback 4?

[2020-09-21 14:33] dhmlau opened #6418 "Update mssql connector docs to include LB4 content"
The [mssql connector README](https://loopback.io/doc/en/lb4/SQL-Server-connector.html) currently doesn't have LB4 content. It should be updated, similar to https://loopback.io/doc/en/lb4/PostgreSQL-connector.html.

## Acceptance Criteria
- [ ] Update the README for https://github.com/strongloop/loopback-connector-mssql to include LB4 info.

[2020-09-21 15:26] bajtos commented on #5812
I think the problem is inside `getIdOf`:

https://github.com/strongloop/loopback-next/blob/08eeab8b716da6296434392888cba92d9d106286/packages/repository/src/model.ts#L435-L436

The class `ModelDefinition` does not provide any `idName()` function. It provides `idProperties()` instead. I am proposing to rework `getIdOf` as follows, using `Entity`'s static method `getIdProperties`.

[code]

It would b

[2020-09-21 16:58] raymondfeng commented on #6417
LB4 model classes are bound the `Application` context. You can use dependency injection or service locator to get a model class by name:

[code]

[2020-09-21 21:41] #5946 closed

[2020-09-21 23:27] jannyHou commented on #6252
cc @achrinza Feel free to discuss and comment in #6371 :)

[2020-09-22 01:56] jannyHou commented on #6217
@argupta23 The problem is here:

https://github.com/strongloop/loopback-next/blob/9892b35ff771e40b9b2c3a5c5d7e17104a863211/examples/passport-login/src/services/user.service.ts#L110

The userIdentity's `id` field is from `profile`'s `id`:

https://github.com/strongloop/loopback-next/blob/9892b35ff771e40b9b2c3a5c5d7e17104a863211/examples/passport-login/src/authentication-strategies/types.ts#L65

whi

[2020-09-22 08:16] w20k commented on #4044
Have anyone tried to implement the 'socket.io-client', loopback way?
@arondn2, thanks your example is awesome! ;)

[2020-09-22 08:50] condratbogdan opened #6426 "Call model methods from anywhere in the code"
In Loopback 3 you could call model methods from anywhere in the code like this app.models.Logs.add({"data": {...}}). How can i do the same in Loopback 4? What is my "app" in Loopback 4? In Loopback 3, "app" was exported in server.js and imported wherever you needed it.

[2020-09-22 13:42] achrinza commented on #6426
Note that [Models do not contain methods](https://loopback.io/doc/en/lb4/Model.html#overview), they only define the _shape_ of the data.

Data access methods are handled by a [Repository](https://loopback.io/doc/en/lb4/Repository.html) (for CRUD or KV database) or [Service](https://loopback.io/doc/en/lb4/Service.html) (for custom functions).

To access a `Repository`, you can use [constructor inje

[2020-09-22 14:12] condratbogdan commented on #6426
I ask this question because i got a response here and don't know how to use it: https://github.com/strongloop/loopback-next/issues/6417#issuecomment-696242041

I know that src/application.ts is the "app", but how do i use it in a middleware or interceptor, for example. I cannot import/require it, because the application is a class. I am trying to migrate some code form LB3 to LB4 and not all piece

[2020-09-22 14:16] bajtos commented on #5701
@maaaaat

I have had a good experience with https://www.npmjs.com/package/require-so-slow, you may want to give it a try.

[2020-09-22 14:27] bajtos commented on #6275
I believe the usual understanding of these two terms is the other way around. Quoting from https://en.wikipedia.org/wiki/Serialization:

[2020-09-22 14:43] arondn2 commented on #4044
hi @w20k. There is a example how use socket.io-client for a acceptance test. [https://github.com/strongloop/loopback-next/blob/socketio/extensions/socketio/src/__tests__/acceptance/socketio.server.acceptance.ts](url). I think you need socket.io-client and @types/socket.io-client dependencies

[2020-09-22 16:16] w20k commented on #4044
Hi, @arondn2 thanks for a quick answer. Probably my issue is a bit more complicated :)

I have a bidirectional connection via WebSocket where loopback is a middleman with (currently) Socket.io server (from the example). And now I need to figure out a proper way to initiate a connection to a server using the (as I've understood SocketIoServer doesn't support it?) 'socket.io-client', and somehow mak

[2020-09-22 20:13] raymondfeng commented on #6409
@achrinza Thank you for the well-written proposal! I think more people refer it as `rate limiting`. Are there existing Express middleware that can do the job?

[2020-09-22 20:40] arondn2 commented on #4044
@w20k I'm not sure I understand. The scheme that you are trying to explain is something like this:
1. client (maybe a html/js page) <---> 2. Server middleman (Loopback4+socket.io) <---> 3. Main Server (Loopback4+socket.io)

And are you trying send messages from (1) to (2) and those message from (2) to (3)? For this you need server.io-client in (2)?

[2020-09-22 21:09] w20k commented on #4044
@arondn2 yeah, you got it right.

1.  Client (html/js SPA + socket.io-client)
2.  Server middleman (Loopback4 + socket.io)
3.  Server Main (Java + Websocket)

It's a WebSocket connection between (1) - (3), where (2) is a "Websocket manager", of some sort.
And we need to send a message from (1) - (3) on login to establish a Websocket connection and back to client (3) - (1) if there were any updates

[2020-09-22 21:41] arondn2 commented on #4044
@w20k if (3) is public or visible for (1) you can connect directly to (3). But I think (3) is private or maybe you just is required connect through (2). If this is the case, my opinion is you must implement a kind of proxy, where client in (1) connects to server in (2) and a client in (2) using socket.io-client in loopback connects to server in (3).

Also (2) must catch events from client in (1) a

[2020-09-23 03:42] jannyHou commented on #5785
- Most of the docs under "Tutorials", "How to guide" and "Concepts" belong to app developers, which simplified this task a lot.
- [Tutorials/Build large scale Node.js projects with LoopBack 4](https://loopback.io/doc/en/lb4/core-tutorial.html) should be a series of tutorials shared by both app and extension developers. So I would suggest either refer to it at the beginning of "Extending LoopBack 4

[2020-09-23 04:31] dmunozb commented on #6416
@copostic You can build your own UserService and inject into [https://github.com/strongloop/loopback-next/blob/master/examples/todo-jwt/src/controllers/user.controller.ts#L64](UserController) the rest of example is the same

[2020-09-23 04:35] dmunozb commented on #6416
@copostic You can build your own UserService and inject in [UserController](https://github.com/strongloop/loopback-next/blob/master/examples/todo-jwt/src/controllers/user.controller.ts#L64) the rest of example is the same

[2020-09-23 05:31] achrinza commented on #6426
The `Application` instance can be injected using the [APPLICATION_INSTANCE](https://loopback.io/doc/en/lb4/Interceptor.html#interceptor-functions) binding, though it's pretty loaded and it should only be used only if you need to dynamically get a binding based on another value, or need access to other global functions. But this may be an indicator code smell due to the extended responsibility.

Fo

[2020-09-23 07:16] achrinza commented on #6409
There's a few I've skimmed over such as [express-rate-limit](https://www.npmjs.com/package/express-rate-limit), but they are limited to REST. Since lb4 does more than typical REST, and since a user's quota should be measurable across different API types, I would lean towards having our own implementation. This would give us more flexibility to fit into our infrastructure.

I've also stumbled upon

[2020-09-23 07:21] achrinza commented on #6416
Thanks for opening the issue, let me see if I can address some of the concerns:

Relational database connectors always assumes `strict: true` and ignores the user's settings. This is used for NoSQL connectors such as MongoDB.

It's not the best preset for RDMBS, but it's to provide support for NoSQL connectors.

As what @dmunozb and the docs has mentioned, it's possible to extend and override the

[2020-09-23 07:29] achrinza commented on #6417
Would `app.get()` be preferred since it's non-blocking? AFAIK, `app.getSync()` exists only for use in a constructor, which can't be `async`-ed.

[2020-09-23 08:44] ErwSim commented on #5946
When will this be published to npm ?

[2020-09-23 10:59] touagueni opened #6427 "refresh token"
Hi everyone!

I am using npm 6.14.8.

I have a working implementation of authentication from the loopback4-example-shopping.  when trying to add the refresh token capability, I am facing the following:

Unhandled error in POST /refresh-login: 500 ResolutionError: The key 'services.authentication.jwt.refresh.tokenservice' is not bound to any value
in context RequestContext-fFKtBWS_Tw2PmEVjTh7oKQ-3

[2020-09-23 13:20] pilare commented on #4738
@jannyHou is there a chance for reopening this issue and providing support for passport-saml as additional strategy in passport-login example?

https://github.com/strongloop/loopback-next/tree/master/examples/passport-login

This example is immensely helpful to integrate loopback 4 application with multiple Authentication providers.

On top of Facebook and Google. I was able to connect it keycloak

[2020-09-23 14:21] raymondfeng commented on #6417
Not exactly. The difference between `getSync` and `get` is whether the binding can be resolved synchronously or asynchronously. If the binding resolution returns a promise by itself or its dependencies, `getSync` will throw an error. Please `await ctx.get(...)` works for both cases.

From performance perspective, `getSync` is more efficient than `get`. If the binding produces a value synchronously

[2020-09-23 14:30] raymondfeng commented on #6409
Some existing Node.js library - https://github.com/animir/node-rate-limiter-flexible

[2020-09-23 14:40] raymondfeng commented on #6427
Did you call `app.component('JWTAuthenticationComponent')` in `src/application.ts`?

https://github.com/strongloop/loopback-next/blob/70741829678b5a0dc9c277a12674725c8a2efb1d/extensions/authentication-jwt/src/jwt-authentication-component.ts#L51

[2020-09-23 14:43] raymondfeng commented on #6427
Please also make sure you use the latest version of `loopback4-example-shopping` as we recently updated it to use newest LoopBack versions.

[2020-09-23 15:04] touagueni commented on #6427
Hi Raymond,

Please, see below the content of the src/application.ts file:

import {authenticate, AuthenticationComponent} from '@loopback/authentication';
import {AuthorizationComponent} from '@loopback/authorization';
import {BootMixin} from '@loopback/boot';
import {
  ApplicationConfig,
  BindingKey,
  createBindingFromClass
} from '@loopback/core';
import {
  model,
  property,
  RepositoryMi

[2020-09-23 15:12] raymondfeng commented on #6427
I don't see something like https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/application.ts#L77.

[2020-09-23 15:13] raymondfeng commented on #6427
You'll have to add `this.bind(RefreshTokenServiceBindings.REFRESH_TOKEN_SERVICE).toClass(...)` if you register all bindings without using the jwt component.

[2020-09-23 15:30] raymondfeng commented on #5785
I would prefer to minimize the number of clicks to access important pages. To my experience, more levels of nesting makes it even more difficult to see sub-titles as the site cannot automatically unfold sidebar items.

On the technical side, there are some pages that need to be read for both application and extension developers.

[2020-09-23 16:54] nabdelgadir commented on #5946
@ErwSim hi, check for it early next week.

[2020-09-23 17:18] touagueni commented on #6427
Raymond I only had to use the application.ts from the shpping application provided example.
it works now, much appreciated.
cheers
T

[2020-09-23 17:18] #6427 closed

[2020-09-23 19:32] Mohammedalasaad opened #6430 "Locked and Unlocked icons should be reversed"
Hi
This is just UI issue. I think the Locked and Unlocked should be reversed.

When you are not **authorized its should show locked icon** and when you **authorized should show unlocked icon**.

<img width="250" alt="Screenshot 2020-09-23 at 21 32 14" src="https://user-images.githubusercontent.com/48674512/94060445-45953a80-fde4-11ea-91f5-4d2a96477c31.png">

[2020-09-23 20:03] jannyHou commented on #5785
@raymondfeng

1.

I understand your concern. I figure out a way to show the drop-down items for "Building LoopBack 4 Application" and "Extending LoopBack 4" by default. When page loads, it looks like this:

<img width="270" alt="Screen Shot 2020-09-23 at 3 52 48 PM" src="https://user-images.githubusercontent.com/12554153/94062664-f552b400-fdb4-11ea-89cb-9831b87b2c84.png">

And no matter how you cl

[2020-09-23 20:29] raymondfeng commented on #6430
The icon is from `swagger-ui`. I think the idea is to click this button to `unlock`

[2020-09-23 20:49] Mohammedalasaad commented on #6430
As you are not authorized so it should be locked mean not accessible.. yes if u click to unlock.. then first state should be locked :)
is this swagger related issue ?

[2020-09-23 20:57] #6430 closed

[2020-09-24 07:25] 3Mohit opened #6433 "Unable to change the title of Loopback API explorer html page"
## Steps to reproduce

1. Open the loopback explorer
2. View the title of the page
3. Title is always "Loopback API Explorer"

## Current Behavior

Title is always same- constant(hardcoded in the library)

## Expected Behavior

Title should by customizable (dynamic)
ex: it should work like swagger theme which is dynamic

## Link to reproduction sandbox

https://loopback.io/doc/

## Additional info

[2020-09-24 07:52] w20k commented on #4044
Thanks for a tip @arondn2.

_Minor note_, who ever stumble on the same issue, after a day of debugging, for some reason (something related to: circular/connection issue) you cannot use 'server.io-client' from the NodeJS server (loopback4, in my case) to connect to internal/external server. It just doesn't let you. By switching to 'ws' library issue was resolved!

[2020-09-24 08:06] italodeandra commented on #2086
And then never did... 😢

[2020-09-24 09:47] codejamninja commented on #2086
Ooops, sorry @italodeandra. I moved on to using another framework. I don't remember the context of this problem. Loopback explains how to run migrations here.

https://loopback.io/doc/en/lb4/Database-migrations.html

[2020-09-24 09:53] italodeandra commented on #2086
Just out of curiosity. Which one are you using currently?

[2020-09-24 10:01] codejamninja commented on #2086
I didn't put it here because I don't want to detract from loopback. Loopback is a great framework. But, since you asked, I am using nestjs. I find it has better support for other database orm's and graphql.

[2020-09-24 10:07] italodeandra commented on #2086
I understand. You have a different use case, so I don't think it's a problem talking about an alternative solution you went for.
I, myself, give up trying to use postgres on Loopback. Most of the use cases on examples/use cases/etc works better in a NoSQL way. I'm still trying to find myself on the options. Still studying them though.

[2020-09-24 10:14] codejamninja commented on #2086
I use prisma (postgres orm) with nestjs.

[2020-09-24 15:34] techseed commented on #5709
@madaky  How did you fix it?

[2020-09-24 16:04] condratbogdan opened #6434 "Migrate LB3 datasources to LB4 format"
We have entries like this in our Core service datasources.json file, that represent endpoints in another service named Accounts:
[code]
We could then use the endpoints from the service inside our loopback app like this, Accounts.Accounts_findById({...}).
How can i get the same effect using LB4 components? (both creation of datasource and method invokation)

[2020-09-24 17:26] dhmlau commented on #5785
+1. Prefer not to have extra level to wrap the "building LoopBack application", regardless we find a way to expand certain sidebar items by default.

For "extending LoopBack 4", i assume the original sidebar items are kept unchanged and we're just adding tutorials in it?

[2020-09-24 18:27] jannyHou commented on #5785
The story is created from discussion

The section "Extending LoopBack 4" is for people building extensions, that's why I prefer to keep it a kind of "outside" for docs for app developers. I think we should find new place for this documentation in the future, I'll open a follow-up issue to discuss this further.

I was suggesting put "Extending LB 4" before "Reference guides", and Miroslav explained

[2020-09-24 18:51] mdbetancourt opened #6436 "Add a way to extend existing filter parameters"
## Suggestion
For library developers could exists a way to add new properties and behaviors to the filter feature in loopback?
so i can add new properties apart from the existing ones (where, include, limit) or even inside of the where, adding also the corresponding openapi spec. is tightly related to [Stack overflow](https://stackoverflow.com/q/64039631/8741524)

## Use Cases
i know this can be a

[2020-09-24 19:12] argupta23 commented on #5936
@raymondfeng @bajtos

Sorry I need to reopen this issue.

I am using the latest version of Lb4 and I re-ran the "lb4 openapi" on the previously attached swagger file.
I was able to generate the appropriate models and controllers from that file.
Then I added a "mongodb" datasource and ran "lb4 repository" via command line on one of the models

It did create the repository for that model, but when I

[2020-09-24 19:29] jannyHou commented on #4738
@pilare Sure. Would you like to submit a PR implementing it? I can help review.

[2020-09-24 19:30] #4738 closed

[2020-09-24 19:30] dhmlau commented on #5785
I should've elaborated my question. There are other pages, e.g. creating components, testing your extension, but i didn't see it in your mockup. So I was wondering if it's going to stay unchanged or move to other sections.

[2020-09-24 20:33] jannyHou opened #6437 "Implement SAML strategy in passport-login example"
## Suggestion

From https://github.com/strongloop/loopback-next/issues/4738#issuecomment-698543534

Implement SAML passport strategy in the passport-login example.
cc @pilare

## Use Cases

User can login using SAML authentication.

## Examples

same ^

## Acceptance criteria

- [ ] Add a new login tutorial + example for SAML authentication.

[2020-09-24 22:47] argupta23 commented on #6308
@sskhokhar

Did you ever resolve the issue?

@jannyHou

How would this work in a multi-tenant case where there is a a single common database?

[2020-09-25 03:15] jannyHou commented on #6017
If they don't decrease the coverage, or we have a good reason not testing them, they should definitely be removed.

👍

[2020-09-25 05:03] achrinza commented on #6275
My bad, seems like my prior memory of using C# serializers has gotten them swapped 🙈

[2020-09-25 08:02] hacksparrow commented on #3456
Created follow up tasks.

1. [Remove MongoDB.prototype.getDefaultIdType](https://github.com/strongloop/loopback-connector-mongodb/issues/600)
2. [ObjectID string interface](https://github.com/strongloop/loopback-connector-mongodb/issues/598)
3. [SPIKE: Connector level model validation](https://github.com/strongloop/loopback-connector-mongodb/issues/599)
4. [Primary key property not validated in `.

[2020-09-25 14:44] jannyHou commented on #5785
@dhmlau Oh those extension tutorials will be moved to "EXTENDING LOOPBACK 4/TUTORIALS"

[2020-09-25 16:45] pilare commented on #6437
@jannyHou thank you for opening this. I did change the code of passport-saml package and submitted [PR there](https://github.com/node-saml/passport-saml/pull/457) for the bug mentioned by @L-Luciano.
It did help with sending the proper `login-request` out without modifying loopback-autentication package.
I still have issues on the way back.
By default it’s a POST and it seems that the the response

[2020-09-26 14:12] pilare commented on #6437
@jannyHou I got working. Problem with the missing body was the body-parser on the express app, that is handling the web application. I've added extended urlencoding and that solved the issue.
[code]
Now I need to incorporate this into my project. I will try to clean up my solution and try to post PR here to expand the example project, or help the others with testing.

[2020-09-26 15:13] cal3432 opened #6448 "Unexpected token export after running "node -r source-map-support/register ." on start script"
## Steps to reproduce

Create a new lb4 app.
run npm start

## Current Behavior

[code]

## Expected Behavior

The app to start at localhost:3000

## Link to reproduction sandbox

Reproduction sandbox doesn't catch the bug for some reason.

## Additional information

node: win32 x64 13.3.0

+-- @loopback/boot@3.0.1
+-- @loopback/core@2.10.1
+-- @loopback/repository@3.0.1
+-- @loopback/rest@7.0.1
+

[2020-09-26 15:42] achrinza commented on #6448
Please try the following:

1. Use a supported version of Node.js (10, 12, 14). v13 has reached EOL.
2. Clean the build files:
[code]

[2020-09-26 19:27] cal3432 commented on #6448
I was running on v13, thats the problem.

[2020-09-26 19:27] #6448 closed

[2020-09-27 14:55] rahil1304 commented on #6391
Hey, I'd like to work on this issue. Could you provide some more information?

[2020-09-28 15:23] dhmlau commented on #4849
@madaky, I used [ng-openapi-api](https://www.npmjs.com/package/ng-openapi-gen) to generate the models and web client from the OpenAPI spec we got from LB app to Angular.
Here is my blog post: https://medium.com/@MobileDiana/building-a-frontend-application-with-loopback4-and-angular-e15c6fb48971
Here is my repo: https://github.com/dhmlau/loopback4-example-todo-angular

[2020-09-28 18:53] dutchiexl commented on #5946
Could you elaborate on how the workaround with 2 queries work ?

I need 3 queries and then have to traverse over every object to link them together. Is there a better way ?

[2020-09-28 22:10] jannyHou commented on #6295
The problem is here:
[createPropertyTemplateData](https://github.com/strongloop/loopback-next/blob/5172b5ffac629c6b875e9416f587db0eaa986634/packages/cli/generators/model/property-definition.js#L28)

That function should handle type `Binary`, map its tstype to Buffer.

@flaviogoncalves Thank you for reporting this issue. Would you like to submit a PR fixing it?

[2020-09-28 23:02] flaviogoncalves commented on #6295
Unfortunately, I don't know how to fix it.

[2020-09-29 07:45] bajtos opened #6456 "🎆 Hacktoberfest 2020"
Greetings :wave: to all Hacktoberfest 2020 participants! Let's have some fun hacking and improving the framework together 🥳

You can learn more about our motivations in the [announcement blog post](https://strongloop.github.io/strongloop.com/strongblog/2020-hacktoberfest/).

## Focus areas

 We are primarily looking for quick wins with long term impact: small enhancements improving your day-to-day

[2020-09-29 08:27] lukeggchapman commented on #3058
There is another problem with not supporting default + required.
The required prop is used to build the schema for the returned type also, not just the input type.
So if your property has default (or generated) that is not required then the return type will show the value as optional, when it is not the case.

If we do not want to support generating or defaulting prior to validation, is there some

[2020-09-29 09:18] bajtos commented on #6391
Hi @rahil1304, thanks for offering your help! What kind of information are you looking for?

- If you are new to GitHub pull requests, then you can learn about the process in [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html).
-  If this is your first contribution to LoopBack, then please take a look at our [Developer guide](https://loopback.io/doc/en/lb

[2020-09-29 09:20] bajtos commented on #6391
Unfortunately, we don't have tests for `shot` inside `testlab`, I think we rely on tests in other packages in the monorepo to verify the functionality. You can run `npm test` in the monorepo root directory to verify that everything keeps working.

Last but not least, the commit message should annotate the change as breaking, see [Making breaking changes](https://github.com/strongloop/loopback-next

[2020-09-29 09:25] bajtos commented on #5857
@jeffersonlicet ping, have you have a chance to make any progress on this issue? Is there anything we can help you with?

[2020-09-29 09:37] bajtos commented on #5264
Please note that most of this work has been already done as part of #3342, see #6030 and #6047 in particular.

[2020-09-29 09:52] bajtos commented on #4674
I reviewed [eslint rules](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin/docs/rules) and did not find any that we could use to enforce this coding style. I am closing this issue as it is not actionable now.

[2020-09-29 11:39] bajtos commented on #6391
Also feel free to ask for help in `#loopback-contributors` channel, you can join our Slack workspace [here](https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw).

[2020-09-29 11:49] bajtos commented on #3672
The problem should have been fixed by #3678. Feel free to re-open the issue (or leave a comment) if the problem is still present, e.g. `app.stop()` is not closing the MongoDB connection and thus Mocha does not exit.

[2020-09-29 11:49] #3672 closed

[2020-09-29 14:42] hacksparrow commented on #5785
Agreed. How do we handle this?

Maybe move the description aspect from **Extending LoopBack 4** section pages to **Concepts**. Some concept pages already exists, in that case info from **Extending LoopBack 4** could be used to augment it. If no corresponding concept page exists, create one.

[2020-09-29 14:51] bajtos commented on #5785
If we can keep the two items always expanded, then I quite like the proposal shown on Janny's screenshot:

<img width="270" alt="Screen Shot 2020-09-23 at 3 52 48 PM" src="https://user-images.githubusercontent.com/12554153/94062664-f552b400-fdb4-11ea-89cb-9831b87b2c84.png">

I would add "How-to guides", "Concepts" and "Best-practices" to "Extending LoopBack 4" too.

I am concerned about maintainab

[2020-09-29 15:47] raymondfeng commented on #5785
I propose some minor changes on top of @bajtos 's outline:

- OVERVIEW
- GETTING STARTED
- INSIDE A LOOPBACK APPLICATION (**=> PREVIEWING A LOOPBACK APPLICATION?**)
+ **UNDERSTANDING LOOPBACK 4 CONCEPTS** (As they are common to applications and extensions)
+ BUILDING LOOPBACK 4 APPLICATIONS
   + TUTORIALS
   + HOW-TO GUIDES
+ EXTENDING LOOPBACK 4
   + TUTORIALS
   + HOW-TO GUIDES
+ BEST PRACTICES

[2020-09-29 17:11] jannyHou commented on #6437
@pilare That would be great! Thank you so much on working on it actively 👍 . Looking forward to see your PR, I can help review and land it.

[2020-09-29 17:29] coderade commented on #4450
The examples are ok for me, but I did not understand how to create Interceptor classes with multiple functions and inject services for example? Is it possible?

    @bind({scope: BindingScope.TRANSIENT})
    export class TestingInterceptor implements Provider<Interceptor> {
    constructor(@service(ConfigService) public configService: ConfigService) {
    }

    value() {
        return this.valid

[2020-09-29 19:39] jannyHou opened #6463 "vscode debugging with application"
Follow up story for https://github.com/strongloop/loopback-next/issues/5701

## Suggestion

lb-next has [.vscode/launch.json](https://github.com/strongloop/loopback-next/blob/master/.vscode/launch.json) to debug tests in packages. The apps created by `lb4` should also contain such settings.

## Use Cases

Similar as

[code]

## Acceptance criteria

- [ ] Add "Run Mocha tests" and "Debug Current Te

[2020-09-29 19:43] jannyHou opened #6464 "Add mocha debugging tips"
Follow up story for https://github.com/strongloop/loopback-next/issues/5701

## Suggestion

Add more mocha debugging tips under page "Debugging tests with Mocha":

- [x] running specific test,
- [ ] env vars,
- [ ] debugging,
- [ ] setting db

## Acceptance criteria

- [ ] Add more mocha debugging tips under page "Debugging tests with Mocha"

[2020-09-29 19:52] jannyHou opened #6465 "Add debug instructions about memory profiling, CPU usage"
Follow up story of https://github.com/strongloop/loopback-next/issues/5701

## Suggestion

Add debug instructions about memory profiling, CPU usage. More conversation can be found here https://github.com/strongloop/loopback-next/issues/5701#issuecomment-667213187

## Acceptance criteria

- [ ] Add a new page for debug instructions about memory profiling, CPU usage. Link it under the troubleshootin

[2020-09-29 20:03] jannyHou opened #6466 "Add instructions for debugging in docker"
Follow up story for https://github.com/strongloop/loopback-next/issues/5701

## Suggestion

Add instructions for debugging a LB 4 app running in the docker container.

## Acceptance criteria

- [ ] Add a new page for instructions for debugging a LB 4 app running in the docker container. Link it to troubleshooting.

[2020-09-29 20:04] jannyHou commented on #5701
Created follow stories:
#6466
#6465
#6464
#6463

[2020-09-29 20:08] jannyHou commented on #5701
Closing as done. Let's use https://github.com/strongloop/loopback-next/issues/6465 for the further discussions about memory profiling and cpu usage.

[2020-09-29 20:08] #5701 closed

[2020-09-29 21:17] jannyHou commented on #6436
Thank you @mdbetancourt, appreciate your advice!
The implementation seems not that complicated, we can allow arbitrary properties in type `Filter`

https://github.com/strongloop/loopback-next/blob/023580e1bafcf46e238832b3e26060acabaad507/packages/filter/src/query.ts#L188

But I think we restrict the properties on purpose to sanitize the filter.

cc @strongloop/loopback-maintainers any thought?

[2020-09-29 21:28] jannyHou commented on #6434
Hi @condratbogdan when you say "How can i get the same effect using LB4 components", do you mean turn the app with accounts services into a LB4 component? Or you want to invoke the account service in a LB4 component?

[2020-09-30 05:41] mdbetancourt commented on #6385
i would like to take this one

[2020-09-30 05:56] mdbetancourt commented on #5857
since jefferson is not working any more on this issue, could i take this? and i have a question how is going to be handle in controllers methos?
[code]

[2020-09-30 08:01] condratbogdan commented on #6434
I want to invoke the account service in a LB4 component.

[2020-09-30 10:13] hacksparrow commented on #6385
@mdbetancourt great!

[2020-09-30 18:04] trmaphi commented on #6295
@jannyHou, it seems like we just one more else-if block to handle this specific case.

[2020-09-30 20:59] jannyHou commented on #5785
cc @hacksparrow the existing contents under https://loopback.io/doc/en/lb4/Extending-LoopBack-4.html are mostly how-to guide, with very few concept and tutorial. But since team has this concern, we can revisit them(2nd step) after having the right layout(1st step).

cc @raymondfeng yep.

cc @bajtos The 3 items under "Best Practices" are not related to extensions, we can add the sidebar when creati

[2020-09-30 21:02] jannyHou commented on #5785
**A summary of content refactoring:**

- Most of existing contents under [extending LoopBack 4](https://loopback.io/doc/en/lb4/Extending-LoopBack-4.html) goes to "EXTENDING LOOPBACK 4/HOW-TO GUIDES"
- "Build large scale Node.js projects with LoopBack 4" should be a series of shared tutorials between app developer and extension developer. Add them to "EXTENDING LOOPBACK 4/TUTORIALS"
- Extract "Exte

[2020-09-30 21:03] jannyHou commented on #5785
**A summary of the new sidebar**:

[code]

Implementation tips:

- If we create nested menu, "BUILDING LOOPBACK 4 APPLICATION" and "EXTENDING LOOPBACK 4" must NOT collapse.
- Consider using metadata like `{collapse:  true}` to configure the menu.
- Consider using separator instead of nested menu to distinguish the app vs extension content. It shouldn't be hard to test the 2 proposals, see which on

[2020-09-30 21:56] simlt commented on #2403
Hi, I am currently having a similar problem on a loopback project when using the mssql connector, so I wanted to contribute. I can confirm that enabling the exit option for mocha solved the problem.

I'm leaving a comment just to let others know that II want to take care of this issue.

[2020-09-30 23:30] dhmlau commented on #2403
Thanks @simlt. Let me assign it to you.

[2020-10-01 07:17] thuthuatna commented on #3430
i have problem too

[2020-10-01 07:36] bajtos commented on #3456
Sure 👍🏻

[2020-10-01 09:26] mituso89 commented on #5132
I followed https://github.com/Wikodit/loopback-connector-postgresql. add it needs a monkey patch and apply the patch but it dont working for me. any suggestion?

[2020-10-01 09:42] fabiohbarbosa commented on #4645
I've got a similar issue, but my issue is related to open API spec generator that I've been using to validate REST requests.
It's been impossible adding the minItems validation to the types of array. Any workaround for that? I tried to set the jsonSchema manually over the @model decorator, but it replaces the all spec of the object and I need to write the object spec manually :/

[2020-10-01 13:04] bajtos commented on #6303
Closing as done. I haven't managed to review all good-first-issues yet. There should be enough Hacktoberfest-labeled issues for the start, I'll review the remaining candidates in the next few days.

[2020-10-01 13:04] #6303 closed

[2020-10-01 13:14] #3456 closed

[2020-10-01 13:15] hacksparrow commented on #6224
Fixed in https://github.com/strongloop/loopback-next/pull/6429.

[2020-10-01 13:15] #6224 closed

[2020-10-01 14:54] ErwSim commented on #5946
@nabdelgadir Still not available ? :disappointed_relieved:

[2020-10-01 15:17] dhmlau commented on #4062
Closing as PR #5616 has landed.

[2020-10-01 15:17] #4062 closed

[2020-10-01 16:47] nabdelgadir commented on #5946
@ErwSim hi, sorry for the delay, but check again next week 🤞 I'll post a comment here when it's available.

[2020-10-01 17:23] jannyHou opened #6477 "Restyling the sidebar to distinguish app and extension experience"
A follow up story of https://github.com/strongloop/loopback-next/issues/5785

## Suggestion

Refactor the sidebar to distinguish between app and extension experience. Please read the discussion in https://github.com/strongloop/loopback-next/issues/5785 to know more about how to customize the menu items.

**A summary of the new sidebar**:

[code]

Implementation tips:

- If we create nested menu, "

[2020-10-01 17:32] jannyHou opened #6478 "Refactoring the contents of "EXTENDING LOOPBACK 4" into right places"
A follow-up story of https://github.com/strongloop/loopback-next/issues/5785

## Suggestion

**A summary of content refactoring:**

- Most of existing contents under [extending LoopBack 4](https://loopback.io/doc/en/lb4/Extending-LoopBack-4.html) goes to "EXTENDING LOOPBACK 4/HOW-TO GUIDES"
- "Build large scale Node.js projects with LoopBack 4" should be a series of shared tutorials between app de

[2020-10-01 17:34] jannyHou commented on #5785
Created #6477 (need to work on first) and #6478 as follow up stories.

[2020-10-02 02:51] fredhansen25 opened #6485 "Child model method with Parent.findOne( including Childs) creates Circular Dependency."
Hello,
How I fix Circular Dependency in a schema as: A.hasmany(B)  B.belongsTo(A), when method B.newItem needs to A.findOne(id,{  include: [ { relation: "b" }] })  ?

My loopback4 project contains two models
   Order  - Order contains hasMany Report
   Report - Report belongsTo Order

On ReportRepository.newReport method, I need to find and manipulate all data of Order, including reports. And this

[2020-10-02 04:10] achrinza commented on #4758
GitHub code scanning has [reached _general availability_](https://github.blog/2020-09-30-code-scanning-is-now-available/) and can be used in place of Semmle LGTM.

[2020-10-02 07:10] bajtos commented on #6477
Few comments to consider:

(1)
Personally, I feel "COMMUNITY EXTENSIONS" don't belong to "EXTENDING LOOPBACK 4" because they have different target audience.

- "COMMUNITY EXTENSIONS" is for people building applications and looking for a recommended solution for a requirement they have, they are looking for an existing extension. For example, how to implement soft-delete.

- "EXTENDING LOOPBACK 4"

[2020-10-02 07:13] bajtos commented on #2403
closing as done via #6475

[2020-10-02 07:13] #2403 closed

[2020-10-02 07:19] pktippa commented on #1979
@mrbatista any update on publishing connector on npm.

[2020-10-02 13:03] bajtos commented on #2177
I believe the current CLI implementation takes the project name as provided by the user and stores the value in `package.json` field `name` without any changes. Instead of adding a new prompt, maybe we should improve CLI help and prompts to make it clear the project name is the same as the package name?

[2020-10-02 15:28] jannyHou commented on #6477
@bajtos thanks!

For (1), I don't have a strong opinion for it, but since the title contains "EXTENSIONS", I feel it's consistent with the topic "EXTENDING LOOPBACK 4". Actually, essentially extending LB4 is also for building applications. Let's discuss in the PR when it's ready :)

For (2) (3), 👍 "BUILDING APPLICATIONS" sounds good.

[2020-10-02 15:53] dhmlau commented on #6409
@achrinza, I found this rate limit extension https://www.npmjs.com/package/loopback4-ratelimiter. Does it fit what you have in mind?

[2020-10-02 18:27] dhmlau commented on #6020
We've enabled Node.js 14 in Jenkins, so it should be part of the CI automatically.
For mssql connector, CI all passes. See https://github.com/strongloop/loopback-connector-mssql/pull/233
<img width="854" alt="Screen Shot 2020-10-02 at 2 26 18 PM" src="https://user-images.githubusercontent.com/25489897/94957184-5b2cf300-04bb-11eb-93eb-ad26cd1c92a6.png">

[2020-10-02 19:21] mdbetancourt commented on #1940
i think
[code]
it's very cool isn't?

[2020-10-02 19:42] dhmlau commented on #5113
Closing as done with the Q3 scope.

[2020-10-02 19:42] #5113 closed

[2020-10-02 20:53] dhmlau commented on #6020
`loopback-connector-db2` has been verified as well.
See https://github.com/strongloop/loopback-connector-db2/pull/152

![Screen Shot 2020-10-02 at 4 52 26 PM](https://user-images.githubusercontent.com/25489897/94968897-bc5ec180-04cf-11eb-97f1-4b0061ce1e72.png)

[2020-10-03 20:10] mdbetancourt commented on #6477
talking about the sidebar what about to changes the style that menu is a little ugly for example https://github.com/onury/docma is pretty cool (unfortunately is not maintained anymore)

[2020-10-03 20:31] mdbetancourt opened #6490 "Change swagger with redoc"
## Suggestion
Use redoc to render documentation instead of swagger
## Use Cases
Redoc has so many features
like code samples
![image](https://github.com/Redocly/redoc/raw/master/docs/images/code-samples-demo.gif)

interactive documentation for nested objects
![image](https://github.com/Redocly/redoc/raw/master/docs/images/nested-demo.gif)

support to discriminators & oneOf
![image](https://github.

[2020-10-04 00:49] dhmlau commented on #6021
We've included Node.js 14 in jenkins, so tests on Node.js14 should be ran automatically without any changes.

Verified loopback-connector-couchdb2 works with Node.js 14. See https://github.com/strongloop/loopback-connector-couchdb2/issues/82

[2020-10-04 04:54] #2764 closed

[2020-10-04 04:54] #3654 closed

[2020-10-04 04:54] #2482 closed

[2020-10-04 15:33] MattiaPrimavera commented on #110
Hi @bajtos, I'd love to contribute!

Best regards,

[2020-10-04 18:52] dhmlau commented on #6250
Closing as done.

[2020-10-04 18:52] #6250 closed

[2020-10-05 05:27] achrinza commented on #4645
A workaround is to use `@property()` and create the OAS3 Parameter Object from there.

For example:
[code]

[2020-10-05 15:36] dhmlau commented on #6215
@hacksparrow, with PR #6341 landed, is this issue good to close? Thanks.

[2020-10-05 15:36] dhmlau commented on #6109
PR #6486 landed. Closing as done.

[2020-10-05 15:36] #6109 closed

[2020-10-05 15:37] dhmlau commented on #5669
Closing for Q3 scope.

[2020-10-05 15:37] #5669 closed

[2020-10-05 15:41] jannyHou commented on #6477
Follow-up stories: Add separate pages for building application and extending loopback 4. Those 2 pages should contain high level descriptions, instead of being just a link.

Tips:
Building app:
- possibility to build app kinds of apps
- how a lb4 app could be: from different perspective : rest/boot/service-proxy/non-rest

[2020-10-05 19:06] mrmodise commented on #5220
@bajtos am interested in contributing on this. Maybe start with point 1 as a starter since am new to Lb contribution

[2020-10-05 22:36] pavelgronsky opened #6503 "Property injection is undefined in Class"
Hello.
I'm try to add my service or repository as Property injection to my Class in Loopback 4 project.

If I try to add Dependency injection in constructor (Constructor injection), everything is worked and I get all function from inject object, but when I try to add injection as property in Type Script Class i take undefined.

This is example:
[code]
When I added inject in constructor, everything

[2020-10-05 22:40] nflaig commented on #5793
There is another bug I noticed that if you only pass one value e.g. `?numberArray=123` then it throws the error with the code `INVALID_PARAMETER_VALUE` and in details with the message `should be array`, however `?numberArray=123&numberArray=12345` works just fine.

I also noticed that `?numberArray[]=123` works but thats different from how it used to work and also is not how the api explorer sends

[2020-10-06 01:54] dhmlau commented on #3051
See https://loopback.io/doc/en/lb4/Setting-debug-strings.html. Closing as done.

[2020-10-06 01:54] #3051 closed

[2020-10-06 04:00] #6392 closed

[2020-10-06 06:34] bajtos commented on #5220
@mrmodise awesome 👍🏻 Starting with the first two items is fine, I'll review your pull request in a moment.

[2020-10-06 06:44] bajtos commented on #1940
@mdbetancourt Your proposal looks nice. Please keep in mind that the parameter name cannot be inferred at runtime, it must be provided by the developer.

[code]

Often the developer needs to provide the type too, so we will end up with quite few `.required()` functions to implement!

[code]

In general, there are more `ParameterObject` properties that the user may want to set in addition to `requi

[2020-10-06 06:52] bajtos commented on #5857
@mdbetancourt

While I cannot speak for @jeffersonlicet, I think it should be ok to take over this work from him, since he haven't posted any update for a month.

The top-level type `Filter` should remain the same as it it now. The underlying runtime (query builder, loopback-datasource-juggler, connectors) already support the array form, we just need to update type definitions to match the impleme

[2020-10-06 07:45] SebastianDaehnrich commented on #5946
@nabdelgadir : do you have an idea when this will be available? :)

[2020-10-06 08:08] mrmodise commented on #5220
Thanks raised PR but having issues with grPc connection and Travis CI commit-linting

[2020-10-06 08:10] mrmodise commented on #5220
Also wanted to get your impressions on having the config object inside the datasource.ts. What I discovered on our projects at work is that these tend to grow in size for complex projects (ours are around 400 to 500 lines). Would it not be ideal to move these ito a config folder and have them listed underneath here following the same conventions as when we were using JSON files?

[2020-10-06 10:11] Rojasivalingam commented on #4869
can anyone explain how to connect native sql in loopback 4

[2020-10-06 11:29] pratikjaiswal15 opened #6509 "Loopback 4 refresh token ER_NO_SUCH_TABLE: Table 'farmtofork.refreshtoken' doesn't exist"
I am trying to implement a refresh token feature in my app. I have followed all steps mentioned here [this](https://loopback.io/doc/en/lb4/JWT-authentication-extension.html) but still getting the following error

`Unhandled error in POST /users/refresh-login: 500 Error: ER_NO_SUCH_TABLE: Table 'farmtofork.refreshtoken' doesn't exist
`
I have also tried to clean tables

[code]
But still the same pr

[2020-10-06 11:30] mrmodise commented on #3581
Looks like most of them are added. Any more specific ones that maybe I can pick up?

[2020-10-06 12:20] bajtos commented on #3581
I am afraid we don't have a list of places missing imports. Can you perhaps pick quickly scan through few doc pages to see if you can spot any code snippet(s) to fix?

[2020-10-06 12:22] bajtos commented on #5220
Interesting. What kind of configuration or code are you putting into your datasources? I would like to better understand your use case.

[2020-10-06 12:27] mrmodise commented on #5220
We don't change the default config on the datasource Classes. The only change we do is we import the config from a different file since these will be longer due to many systems we are integrating with.

so in our datasources we only change the dsConfig to point to the imported config, which will have many operations thus the longer length

[2020-10-06 12:31] bajtos commented on #4450
@raymondfeng can you please chime in and help answer @coderade's question posted above?

[2020-10-06 15:08] jannyHou commented on #6509
Hi @pratikjaiswal15

which database are you using? Memory or a SQL connector? Do you get the same error if using the default memory database?

[2020-10-06 15:37] pratikjaiswal15 commented on #6509
I am using Mysql database. Haven't tried it with memory database.

[2020-10-06 17:08] zenVentzi commented on #5760
Trying to pick a new framework for our team. Any news? Most interested in comparison between LP4 and Nest.js

[2020-10-06 17:51] raymondfeng commented on #5760
@zenVentzi You should check out https://stackshare.io/stackups/loopback-vs-nestjs#:~:text=Developers%20describe%20LoopBack%20as%20%22Build,with%20little%20or%20no%20coding.&text=On%20the%20other%20hand%2C%20NestJS,detailed%20as%20%22A%20progressive%20Node and https://stackoverflow.com/questions/60948693/nestjs-vs-loopback-4

[2020-10-06 18:12] jannyHou commented on #6509
@pratikjaiswal15 Could you check whether the `refreshtoken` table created properly in the mysql database? If not it implies the migration is incomplete. If yes then we should look into the service/repository code.

[2020-10-06 18:46] ilyesbrh opened #6512 "Loopback request fields filter (unexpected behavior)"
## Steps to reproduce

**when using query filter**

[code]

## Current Behavior

**cases** relation wont show because **id : false**

if you set **id : true** it will show **cases** relation in results

## Expected Behavior

setting **id : false** should only hide **id** field not the hole object

[2020-10-07 03:52] pratikjaiswal15 commented on #6509
@jannyHou  No refreshtoken table is not created in mysql database. But I tried `npm run build` and `npm run migrate ` but migration is not happening. What's the problem?

[2020-10-07 09:25] nflaig opened #6514 "Array query parameter does not work for a single value"
## Steps to reproduce

Add array query param to any endpoint

[code]

## Current Behavior

Passing only a single query parameter throws an error with code `INVALID_PARAMETER_VALUE` and and message `should be array` in details

[code]

## Expected Behavior

should not throw an error

## Additional information

Passing multiple query parameters works

[code]

and using a different syntax also works

[2020-10-07 10:50] itamar244 commented on #6393
can I start work on this?

[2020-10-07 12:51] mycolaos commented on #1914
Still not working, or I miss something?

[2020-10-07 12:54] achrinza commented on #6490
I've looked at redoc in the past, it does look pretty good.

Though I'd prefer if we introduce it as its own separate package (i.e `@loopback/redoc`) instead of replacing the existing API Explorer. Reason being the API Explorer is a lot simpler and may be better-suited for some projects.

Also since `@loopback/api-explorer` is already a "mature" package, replacing it may cause unnecessary friction

[2020-10-07 13:59] hacksparrow commented on #4869
@Rojasivalingam use `Repository.execute()` eg:

[code]

The returned object is the the result object of https://www.npmjs.com/package/mysql, you will have to process it on your own.

[2020-10-07 14:45] dhmlau commented on #1914
@mycolaos, how are you using the `hiddenProperties`? Could you please take a look at https://github.com/strongloop/loopback-next/issues/6385?

[2020-10-07 14:52] dhmlau commented on #6512
@agnes512, could you please take a look? Thanks.

[2020-10-07 15:07] berlingoqc commented on #5895
We are migrating from lb3 to lb4/typeORM. We would need this feature. How do i implement this ? It's simply a converter between loopback filter and a typeORM querybuilder ?

[2020-10-07 15:10] itamar244 commented on #6393
should I remove it entirely from the `loopback` repo, or only when internally testing `@loopback/build`?

[2020-10-07 15:23] mycolaos commented on #1914
@dhmlau like this:
[code]

[2020-10-07 16:20] dhmlau commented on #1914
Reopening this issue to be able to track this issue.

@mycolaos, I just tried it with the latest LB4 modules and seems to be working for me. My `Customer` model has:
- custId
- name
- password <-- hidden property, defined the same way as you did.

Then I tested it with API explorer,
1. POST
[code]

2. GET
[code]

Is it what you're seeing too?

[2020-10-07 16:30] ngnam commented on #2263
hi @jannyHou :) Can you help me adding the LDAP authentication? Thank YOU

[2020-10-07 17:55] nabdelgadir commented on #5946
@ErwSim @SebastianDaehnrich there was just a new release, so it should be available now 😄

[2020-10-07 18:41] ErwSim commented on #5946
Yay, thanks @nabdelgadir

[2020-10-08 08:14] Rojasivalingam commented on #4869
Actually , I wants to know about the execution of the query in detail .
I'm  new to loopback  so any help is appreciated

On Wed, Oct 7, 2020 at 7:29 PM Hage Yaapa <notifications@github.com> wrote:

[2020-10-08 09:18] pratikjaiswal15 commented on #6509
Hello @jannyHou sorry to disturb but I am stuck at this issue. Not able to figure out the problem. Can you please help?

[2020-10-08 10:03] hacksparrow commented on #4869
Create a LoopBack project using the `lb4` command, you can access the repository in the controller, where you can specify the SQL command as I have shown. [Start here](https://loopback.io/doc/en/lb4/Getting-started.html).

[2020-10-08 10:31] erogleva commented on #2052
I'd like to work on this

[2020-10-08 12:05] mycolaos commented on #1914
@dhmlau I believe I found the problem. I have an abstract class `MyEntity` that is than extended by other models. `MyEntity` has the `hiddenProperties` options, but it doesn't work. If I decorate with `hiddenProperties` the final model that extends `MyEntity` - it works.

Then, how I can make it work with `MyEntity`?

[2020-10-08 15:57] trieuduongle opened #6518 "Where filter with `neq` doesnot work as expected"
# Steps to reproduce
1. Create a entity has `id` property as the following
[code]
2. Make a query to find samples that not equal the `id`. For example
[code]
# Current Behavior
`result` still has the entity with id='5f7f32799f3b8031a56e4ca8'

# Expected Behavior
`result` should exclude the id that I used to filter.
I am using mongo with package: "loopback-connector-mongodb: 5.3.0"
Everything will

[2020-10-08 19:11] mrmodise commented on #6514
@nflaig this looks interesting. I would like to give it a try.

[2020-10-08 19:22] raymondfeng commented on #6514
Express query parser parses `?stringArray=value1` to `{stringArray: 'value1'}` if `stringArray` only shows once. We should be able to normalize `'value1'` to `['value1']` before passing to AJV.

[2020-10-08 21:13] jannyHou commented on #6509
@pratikjaiswal15 I am not sure why yours doesn't migrate the refreshToken table. Mine works:

[code]

do you see any error when run `npm run migrate`?

[2020-10-08 21:18] jannyHou commented on #6509
I tried in the [`todo-jwt`](https://github.com/strongloop/loopback-next/tree/master/examples/todo-jwt) example.

in application.ts:
[code]

refresh token model and repository:

[code]

and

[code]

[2020-10-08 21:36] emiliobristech opened #6520 "lb4 datasource and service with OpeAPI definition"
## Steps to reproduce

1. Generate datasource (select OpenAPI as DS) based on OpenApi/Swagger file
1.1 Datasource name: petStoreDS
1.2 Select the connector for ds: OpenAPI
1.3 HTTP URL/path to Swagger spec file (file name extension .yaml/.yml or .json): https://petstore.swagger.io/v2/swagger.json
1.4 Validate spec against Swagger spec 2.0?: No
1.5 Security config for making authenticated requests

[2020-10-08 21:42] raymondfeng commented on #6520
Have you checked out https://loopback.io/doc/en/lb4/OpenAPI-generator.html? If you want to generate strongly-typed client code to interact with another REST API, try `lb4 openapi`.

[2020-10-08 21:56] emiliobristech commented on #6520
Yes, I tried it but it seems to freeze.

Just called `lb4 openapi https://petstore.swagger.io/v2/swagger.json` and it seems to be stuck.

[2020-10-08 22:04] emiliobristech commented on #6520
As @raymondfeng said, just call lb4 openid --client and it will generate everything.

Thank you all!

[2020-10-08 22:04] #6520 closed

[2020-10-08 23:40] mdbetancourt commented on #6518
related to #1875, and #3720

[2020-10-08 23:46] mdbetancourt commented on #6436
@bajtos @raymondfeng any thought? i could help with this issue with some advices

[2020-10-09 00:55] mdbetancourt opened #6522 "getDesignTypeForProperty wrong code documentation"
i notice the following documentation is not true

https://github.com/strongloop/loopback-next/blob/a666071e360b06c2f2c620d0aefd82d1ff38cf0c/packages/metadata/src/inspector.ts#L213-L215

there say

   The property has type `undefined`, `null` or a complex type like
   `Partial<MyModel>`, `string | number`, `string[]`.

but is only true for undefined and null because the anothers complex examples re

[2020-10-09 01:19] mdbetancourt commented on #6503
is not possible afaik, i'm not an expert but loopback pass those value through constructor (after read the metadata of injected value) and there you dont receive param in constructor a workaround could be store the value in a lifecycle time
[code]
after all of this i dont understand why don't you want to use the constructor (is you want to use static methods) you could use static properties and a

[2020-10-09 01:40] raymondfeng commented on #6503
@pavelgronsky

Property injection should work. It happens after Constructor injection. You should be able to reference `this.myService`.

The following is NOT working for sure as an empty `Context` does not contain `MyServiceBinding.MY_SERVICE`.

[code]

How does your service provider looks like?

[2020-10-09 03:23] mdbetancourt commented on #1940
I had certainly forgotten :smile:

since required is a common use case we can use
[code]
or
[code]
feels natural and similar to chai style (which we are already using for tests)

[2020-10-09 06:54] trieuduong1602 commented on #6518
Hi @mdbetancourt
Seem issue https://github.com/strongloop/loopback-next/issues/3720 is still opening, so its mean that I should continue waiting for it?

Because I tried to add `mongodb: { dataType: 'ObjectID' }` into `@property` decorator or set `strictObjectIDCoercion` to `true` in `@model` but they didn't work as well.

[2020-10-09 07:25] bajtos commented on #5220
IIUC, you are using loopback-connector-rest? I see how a large configuration of `operations` can make the datasource file difficult to maintain.

Personally, I would keep options like `connector` and `baseURL` inside the main `.datasource.ts` file and move only `operations` into a different file (or multiple files).

Maybe we can introduce some sort of a convention for loading definitions of REST

[2020-10-09 08:28] mrmodise commented on #5220
Thanks. Will log an issue and move the conversation over there

[2020-10-09 08:40] pratikjaiswal15 commented on #6509
@jannyHou Actually I made some silly mistakes. It is working now. Thank you. Closing.

[2020-10-09 08:40] #6509 closed

[2020-10-09 09:44] AshNanjangud opened #6524 "@injectable({tags: {[ContextTags.KEY]: HealthBindings.COMPONENT}})"
Trying to add health check to a loopback 4 application.

Added to application.ts

import {HealthComponent} from '@loopback/health';
this.component(HealthComponent);

@injectable({tags: {[ContextTags.KEY]: HealthBindings.COMPONENT}})
 ^
TypeError: core_1.injectable is not a function
node_modules\@loopback\health\src\health.component.ts:25:2)

Package.json

"@loopback/boot": "^2.4.1",
    "@loopback

[2020-10-09 11:46] Swati-GOT commented on #2139
@rohit-khanna It would be great if can u please provide us with some code snippet for this example

[2020-10-09 14:53] bajtos commented on #1940
I don't have a strong opinion. I guess it depends on how much time you want to invest into building a chain-style API? I think it would be best to start with adding a new argument accepting `Partial<ParameterObject>`, to provide a short-term solution. Then you can look into ways how to make the API even more easier to use, e.g. by providing a chained API.

I feel it's important to preserve backwar

[2020-10-09 14:54] bajtos commented on #2052
@erogleva awesome, let us know if you need any help to get started!

[2020-10-09 15:41] raymondfeng commented on #1940
I'm not a big fan to have a very long decorator. It would be better to add an optional argument for the sugar decorators to accept additional information, such as:

[code]

The 2nd argument should be typed as `Partial<Omit<ParameterObject, 'type' | 'in'>>` to avoid overriding `type` and `in`.

[2020-10-09 18:25] emiliobristech opened #6527 "OpenAPI Connector - Call HTTPS REST service with self-signed certificate"
## Steps to reproduce
1. Create datasource pointing to OpenAPI definition `lb4 datasource`
2. Create OpenAPI proxies `lb4 openapi --client` pointing to datasource
3. Create a controller and inject OpenApi service created in **step 2**
4. Call any method

## Current Behavior
I get following exception:

	Unhandled error in GET /user/8f9d1e34-c340-4ebe-af11-fa0c4575f676: 500 FetchError: request to ht

[2020-10-09 18:49] raymondfeng commented on #6527
@emiliobristech `loopback-connector-openapi` uses `node-fetch` behind the scenes. You can configure the datasource settings with `agent` property per https://www.npmjs.com/package/node-fetch#custom-agent.

[2020-10-09 20:26] mdbetancourt opened #6529 "calledWith is not a function"
https://github.com/strongloop/loopback-next/blob/cf071cb8546b1922b60443f3e86b1aeb8e336f8a/packages/testlab/should-as-function.d.ts#L155

sinon asserts are not supported

see [sinon-chai](https://github.com/domenic/sinon-chai)

[2020-10-09 23:28] dhmlau commented on #2139
@Swati-GOT, did you get a chance to look at the sample snippet in https://loopback.io/doc/en/lb4/Authentication-component-decorator.html#authentication-decorator?

[code]

[2020-10-10 02:16] dhmlau commented on #6393
Absolutely!

IIUC, the change would be limited to `@loopback/build`.

[2020-10-10 02:16] dhmlau commented on #6393
@itamar244, i just assigned it to you. Thanks.

[2020-10-10 10:26] emiliobristech commented on #6527
Hi again @raymondfeng thank you for you help! I found some references abou adding property `rejectUnauthorized=false` to `agent` configuration but it doesn't work. Here is my DS:

	const config = {
		name: 'wso2Scim2Api',
		connector: 'openapi',
		spec: './src/openapi-client/wso2-scim2-api.json',
		validate: true,

		authorizations: {
		default:
			"<API_KEY>",
		},

		positional: true,
		debug: t

[2020-10-10 11:20] rahil1304 commented on #6391
Hey @bajtos
I needed some help with the code in the shot.ts file.
[code]
So these are the particular libraries that are being used from @hapi/shot. Just confirming, I need to find the similar libraries that are being used in light-my-way, and accordingly replace it, right? The rest of the code in shot.ts stays the same, right?

[2020-10-10 15:22] raymondfeng commented on #6527
You need to create an instance of https.Agent:
[code]

[2020-10-10 16:57] javiersantossanchez commented on #1663
Hi, @bajtos
A long time ago we talk about this issue. And I finally submit the change.

[2020-10-10 18:20] emiliobristech commented on #6527
I did exactly what you suggested but it doesn't work. Got same exception. What else could be?

Thanks!

[2020-10-10 19:18] mrmodise commented on #6527
I think you will need to disable strict SSL on the datasource root level:

`
[code]

[2020-10-10 20:30] raymondfeng commented on #6527
@emiliobristech I just fixed `loopback-connector-openapi` to allow such options, please upgrade to `loopback-connector-openapi@6.2.0` and use the following config:

[code]

[2020-10-11 08:55] mrmodise commented on #6514
I found this to be helpful and pointed me in the right direction. Thanks @raymondfeng

[2020-10-11 10:10] emiliobristech commented on #6527
Hey @raymondfeng, now it works perfectly! Thank you and have a good day!

[2020-10-11 10:10] #6527 closed

[2020-10-11 13:53] Rojasivalingam commented on #4869
yeah...!! Thanks anyways

On Thu, Oct 8, 2020 at 3:33 PM Hage Yaapa <notifications@github.com> wrote:

[2020-10-11 16:30] MattiaPrimavera commented on #3259
May I tackle this one as my first issue ?

[2020-10-11 17:16] mrmodise commented on #6514
@raymondfeng @nflaig I have created a draft PR with outstanding unit tests. Please check and let me know if am on track. Thanks

[2020-10-12 01:01] #3757 closed

[2020-10-12 01:01] #3652 closed

[2020-10-12 14:12] nflaig opened #6546 "Peer dependencies are unnecessarily updated"
Currently peer dependencies are unnecessarily updated by lerna. For example if you are using `@loopback/booter-lb3app` and you are updating your packages to latest minor versions, it might happen that you suddenly get the warning that it requires another major version of for example `@loopback/rest` as peer even though nothing really changed in `@loopback/booter-lb3app`.

This should not be the in

[2020-10-12 14:27] nflaig commented on #6524
This error should only happen if you are using `@loopback/core` below `2.10.0`. Are you sure you ran `npm install`  after updating your `package.json`?

[2020-10-12 14:37] mrmodise commented on #5741
Am interested in looking at this. Thanks

[2020-10-12 14:42] bajtos commented on #6391
Yes, that's correct.

I just realized that the issue title and description were referring to an incorrect module `light-my-way`, which does not exist. The correct module name is `light-my-request`, see https://www.npmjs.com/package/light-my-request.

Sorry for the confusion I created 🙈

AFAICT, `light-my-request` provides `InjectionOptions` instead of `RequestOptions` (see [`light-my-request/index

[2020-10-12 14:43] bajtos commented on #3259
@MattiaPrimavera sure thing, we are looking forward to review your pull request 💪🏻

[2020-10-12 14:48] bajtos commented on #6393
My idea is to modify `lb-mocha` and/or the default `.mocharc.js` file to leverage Node.js built-in `--enable-source-maps` option instead of depending on a 3rd-party module `source-map-support`. As Diana wrote, the change will be limited to `@loopback/build`, but since all LB4 code is using `@loopback/build` to run the tests, this change will affect other code too.

Here is the place where we are c

[2020-10-12 14:50] bajtos commented on #4869
See also https://loopback.io/doc/en/lb4/Executing-database-commands.html

[2020-10-12 15:31] #6385 closed

[2020-10-12 15:34] mrmodise commented on #3215
This looks to be fixed now

[2020-10-12 15:41] raymondfeng commented on #6546
@nflaig We discussed this issue in the past. As you pointed out, it would be ideal that we can support a wider range of compatible versions for `peerDependencies`.

But it's really hard to have CI to cover such combinations. We decided to take a conservative approach to update `peerDependencies` so that `@loopback/*` packages will be guaranteed to work with their peers in the same release, which c

[2020-10-12 15:56] nflaig commented on #6546
@raymondfeng Thanks for letting me know. I already assumed the points you mentioned and I also don't see a good solution for it besides manually maintaining peer dependencies. An interesting side-effect to this is that it also "forces" users to update to latest package versions which is not a bad thing in general.

[2020-10-12 19:02] #6546 closed

[2020-10-12 20:04] itamar244 commented on #6393
I added the `--enable-source-maps` to the mocha file conditionally depending on the Node version, using `semver` package and `.mocharc.js` file for custom logic instead of `.json` file. it seems to work.

I will submit a working PR tommorow 😄

[2020-10-12 20:06] agnes512 commented on #6512
This is true. I don't know how your model defined, but my guess is `id` is the pk/fk of the relation `case`. Because the source key was **excluded** when fetching data from the db, the inclusion resolver is not able to find it related models. That's why it fails to include.
From what it is described in [Fields filter](https://loopback.io/doc/en/lb4/Fields-filter.html):

the primary and foreign key

[2020-10-12 20:06] #6512 closed

[2020-10-13 05:11] #6514 closed

[2020-10-13 14:00] jangeorgiev opened #6560 "Execute a MySQL command with named parameters"
##  Steps to reproduce
1. Install node v12.19.0
2. Install package "loopback-connector-mysql": "6.0.0"
3. use repository that extends `DefaultCrudRepository` and run:
`await repo.execute("SELECT * FROM table WHERE name = :name", {name: "John Doe"})`

## Current Behavior
Receive error:
`strong-error-handler Handling AssertionError [ERR_ASSERTION]: params must be an array`

## Expected Behavior
Acco

[2020-10-14 13:35] dhmlau commented on #5142
Closing as done as PR #6507 has merged.

[2020-10-14 13:35] #5142 closed

[2020-10-14 18:08] #5857 closed

[2020-10-14 19:59] erogleva commented on #2052
It would be good for me to summarize the keywords which should be rejected for the different generators

For `lb4 model` -This seems clear and I've started implementing it (reject the names `Model` and `Entity` as well as all names of models already defined in the project)

For `lb4 repository` - Repository? But If you actually specify this keyword the generator will create a RepositoryRepository

[2020-10-14 23:10] dhmlau commented on #4573
Closing as done.

[2020-10-14 23:10] #4573 closed

[2020-10-15 12:02] fgvicente opened #6571 "CORS Problem"
I have an application migrated from lb3 to lb4. I have a frontend in react which works on port 3001. Lately I updated the lb4 packets and when I want to access the api it throws an error in CORS it is wanting to access localhost: 3000 from localhost: 3001.

I have tried with this

[code]

and try with this

[code]

and try with this

[code]

but it keeps throwing the same error. in which I am fail

[2020-10-15 13:12] bajtos commented on #2052
Thank you @erogleva for the summary. I don't have detailed-enough knowledge, but your conclusions looks reasonable to me 👍🏻

I think that means we should reject `DefaultCrud` as a user-provided name. Probably also `KeyValue`?

@agnes512 I think you are most knowledgeable about relations, what's your opinion on the desired behavior of `lb4 relation`?

To be honest, I don't know. It's possible there

[2020-10-15 18:24] mycolaos commented on #1919
I would like to use this workaround to edit the `query`. The problem is that the listener is created for every request.
[code]
First request you will see one console log, second request you see two more.

How to solve this?

[2020-10-15 18:50] mycolaos commented on #1919
Found this https://loopback.io/doc/en/lb4/migration-models-operation-hooks.html,

[code]

Seems to work. Is there any reason why the other approach was recommended?

[2020-10-16 01:24] dhmlau commented on #6560
@jangeorgiev, looking at the example of https://loopback.io/doc/en/lb4/apidocs.repository.defaultcrudrepository.execute.html#example and the error message you shared above, it seems like it is expecting an array. i.e. something like:

[code]

[2020-10-16 01:55] jannyHou commented on #2755
I believe this is covered in the new troubleshooting doc: https://loopback.io/doc/en/lb4/Debugging-tests-with-mocha.html#running-specific-tests

cc @bajtos closing this issue. Feel free to reopen it if necessary.

[2020-10-16 01:55] #2755 closed

[2020-10-16 09:59] tipuban commented on #1919
I'm facing a similar issue:
I need to get the authenticated user (@inject(SecurityBindings.USER)) from within the model observer in order to secure access to data & auto-magically assign entity ownership & other security-related attributes on entity save, however I can't get the authenticated user since the observer is running in an APPLICATION context and the user gets authenticated in a REQUEST

[2020-10-16 10:05] tipuban commented on #1919
I'm actually considering creating a custom sequence where I bind operation hooks for the request only, and then unbind them once the request is completed.
Does that sound like a good idea? Or does anybody have a better suggestion?

[2020-10-16 11:51] tipuban commented on #1919
Nevermind.
I figured out I can use Global Interceptors to bind/unbind my model observers :).

[2020-10-16 14:50] pratikjaiswal15 opened #6580 "Loopback 4 authorization provider not getting called"
## Steps to reproduce

Hello, I was trying to implement authorization in the loopback 4 app. I have implemented a very basic authorization provider but the problem is this provider is not getting called. Even console.logs in the authorization provider are not getting displayed. I have also bonded the authorization provider in application.ts

## Current Behavior
The controllers protected with @auth

[2020-10-16 14:59] bajtos commented on #5671
FWIW, `npm@7.0.0` is available for (beta) testing now. See https://blog.npmjs.org/post/631877012766785536/release-v700

[2020-10-16 15:06] raymondfeng commented on #6580
@pratikjaiswal15 You are missing `this.component(AuthorizationComponent);` in your application constructor. As a result, the authorization interceptor is not activated.

[2020-10-16 17:13] jannyHou commented on #6580
@raymondfeng The app mounts component and bind authorizer after start, see https://github.com/pratikjaiswal15/loopback-authprovider/blob/main/src/application.ts#L64-L70

I think that causes the problem, they should be moved into the app constructor.

@pratikjaiswal15 Not only binding the authorizer,

[code]

should also go into the app constructor. Let me try it.

[2020-10-16 18:04] jannyHou commented on #6580
ok I didn't realize the code is already in the constructor, but it's creating a new app...I think our doc is confusing. will update.

[2020-10-16 18:45] jannyHou commented on #6580
[code]

[2020-10-17 07:45] pratikjaiswal15 commented on #6580
Thank you for your quick help. Closing as done.

[2020-10-17 07:45] #6580 closed

[2020-10-17 12:58] pavelgronsky commented on #6503
@raymondfeng

My service provider look like:

[code]

[2020-10-17 16:17] raymondfeng commented on #6503
1. Can you check if `SkowronekProvider.value()` is invoked?
2. What's the return value from `value()`?
3. Please also check for circular imports that can lead to some undefined variables, such as `MyServiceBinding.MY_SERVICE`. See https://techsparx.com/nodejs/howto/circular-dependencies.html

[2020-10-17 17:58] mdbetancourt commented on #3259
here some advice instead of use `pre`, `post` hook is better to use a nomal and call it explicitly for yarn 2 users https://yarnpkg.com/getting-started/migration#explicitly-call-the-pre-and-post-scripts

[2020-10-17 20:55] agnes512 commented on #2052
@erogleva thanks for bring up the issue!
I think for current `lb4 relation`, duplicate foreign keys or relation names would be rejected. Could you provide more details about the old definition getting removed? Cause it looks a bug to me. Thanks!

[2020-10-18 00:56] agnes512 commented on #6386
Related to https://github.com/strongloop/loopback-next/issues/4557#issuecomment-582135041

[2020-10-18 01:07] dhmlau commented on #6325
Closing as done since PR #6332 and #6333 are landed.

[2020-10-18 01:07] #6325 closed

[2020-10-18 01:58] dhmlau commented on #5595
@HrithikMittal, I just created a [community example page](https://github.com/strongloop/loopback-next/blob/master/docs/site/Community-examples.md). I believe we can just add your example repo to that page. Are you interested to submit a PR? Thanks.

[2020-10-18 07:20] jagzmz opened #6591 "Support for nested dir structure while using generators?"
## Suggestion

So, as of now, lb4 cli makes immediate files under `models, controllers, repositories` folders, maybe add a flag while running the generator something like `--dirNested` asks for the directory path and generates a file in that respective directory.

## Use Cases

Some people might need to maintain a directory structure, instead of every file placed in the same dir.

## Examples

[co

[2020-10-18 09:28] pavelgronsky commented on #6503
@raymondfeng Hi
Please, look on some change in my code:

This is my BindingKey:

[code]
The binding in my application.ts is same:

` this.bind(SkowronekServiceBinding.SKOWRONEK_SERVICE).toProvider(SkowronekProvider)   `

This is my service provider:

[code]

My datasource:

[code]

Look what's happening now:
When I used my service provider inject as parameter in constructor, everything works fine.

[2020-10-18 12:36] pookdeveloper opened #6592 "Static files not work with class that extends of RestApplication"
## Steps to reproduce

Create a custom class that extends of RestApplication

## Current Behavior

Can't access to localhost:3000/index.html

## Expected Behavior

Can access to localhost:3000/index.html

## Link to reproduction sandbox

https://github.com/pookdeveloper/loopback-next/tree/error-static-files-custom-restApplication

## Additional information
This not work:
`export class PruebaApplic

[2020-10-18 17:46] SebastianDaehnrich commented on #2118
@mmeilby: do you found a solution for the case

[2020-10-18 19:59] mdbetancourt opened #6595 "Change to ts-node"
## Suggestion
Is there any chance to use ts-node instead of build+node, also there exists ts-node-dev which is blazing fast for reloading ts-node, this solve issues like #3259 and others problems (i saw some issues with booters because .js and .ts files etc) for production could be used ts-node eliminating build step, i could help with this feature if it's okay

## Sample repository
https://github

[2020-10-18 20:06] raymondfeng commented on #6595
I think `ts-node` might have issue with `app.boot()` as our booters expect to use `.js` files.

[2020-10-18 20:06] mdbetancourt opened #6596 "Migrate and recommend to use Yarn 2"
## Suggestion
Yarn 2 comes with a lot of new features https://yarnpkg.com/features/pnp some of then is reduction of node_modules size, also start time is improved (yarn 2 fix the node require issue) and best practices (like explicitly name every dep in package.json) which could help in issues like #257 because the cold start
We can start listing every dependency explicitly to be more yarn 2 "frien

[2020-10-18 20:11] mdbetancourt commented on #6595
@raymondfeng i already have implemented a loopback api with ts-node (and ts-node-dev) (with a complex structure) with some kind of a plugin system which extend existing injections through mixins and reinjecting, booters etc with zero problems, the reloading with ts-node-dev is almost instantaneous after a file change

[2020-10-18 20:15] mmeilby commented on #2118
Well, yes, however the problem seems not to exist anymore. At least for the version I am using now.

The solution in May was to add this line before the repository class definition:
`@bind({scope: BindingScope.SINGLETON})
export class SomeRepository extends DefaultTransactionalRepository ...`

[2020-10-18 20:15] mdbetancourt commented on #6595
also i'm researching to develop or find a package similar to ts-node-dev for mocha (instead of use require ts-node/register) so test re execution become so fast too

[2020-10-18 20:24] raymondfeng commented on #6592
@pookdeveloper A few things:

1. I would recommend to have your test application to be placed under `/sandbox`.
2. Please make sure your `loopback-next` folk is up to date with https://github.com/strongloop/loopback-next.

I cloned your repo and rebase it against latest master:

[code]

After that, `node .` (examples/todo) starts and `http://localhost:3000` works for me.

[2020-10-18 20:25] raymondfeng commented on #6592
In your case:

[code]

[2020-10-18 20:28] raymondfeng commented on #6524
@AshNanjangud Please run `lb4 update` to update dependencies.

[2020-10-18 20:37] raymondfeng commented on #6503
1. If your service is placed in `src/services` directory, it will be automatically discovered and bound to the application be `app.boot()`.

2. `.toClass` and `toProvider` are for different classes. `toClass` uses the class constructor to create a new instance of the class as the resolved value. `toProvider` uses the class constructor to create a new instance, then call `value()` to return the res

[2020-10-18 20:38] raymondfeng commented on #6503
@pavelgronsky If you have a simple application to reproduce the problem, it will be easier for us to help troubleshoot.

[2020-10-18 21:07] raymondfeng commented on #6592
http://localhost:3000/api/ is now serving `index.html` as you configure the `basePath` to `/api`. It also impacts the static files.

[2020-10-18 21:07] #6592 closed

[2020-10-18 22:04] mdbetancourt commented on #844
some tools
https://github.com/infinitered/gluegun
https://caporal.io/

[2020-10-18 22:34] NorthDecoder commented on #5608
If you are here reading this closed issue, like I am, you are having the same problems noted in several comments above.  My difficulty came from reading the scaffolding instructions exactly, _"Select features to enable in the project. ( Press , 'space' to select, 'a' to toggle all, 'i' to invert selection )"_.  I assumed that meant I needed to enable the features.
![01-lb4-scaffold-form-default](h

[2020-10-19 04:52] AshNanjangud commented on #6524
Thanks It works

[2020-10-19 04:52] #6524 closed

[2020-10-19 04:53] AshNanjangud commented on #6524
Works

[2020-10-19 05:05] mrmodise commented on #6503
@pavelgronsky I think it's worth closing this issue since we were able to resolve it. The issue was how the service binding/namespace was defined. We change the below from:

`export namespace SkowronekServiceBinding {
  export const SKOWRONEK_SERVICE = 'services.SkowronekService';
}`

then in `application.ts` bound the Repository to Repository class. Once this was done all that was left was to use

[2020-10-19 06:35] pookdeveloper commented on #6592
Ahh ok thanks @raymondfeng i think for static file there aren't any way to ignore base path ? Thanks!

[2020-10-19 09:16] mbnoimi commented on #6002
+1
Foreign key generation is very vital feature, I'm very excited to see it available in lb4.

[2020-10-19 12:02] fgvicente opened #6602 "loopback turn http into https"
good morning teacher. I have a query for a rare problem. I have a loopback backend and a react application in /public.

when I access my localhost it works fine but through the ip the http calls transform them into https and it stops working ... it happens with all the scripts and assets.

transform them all into https calls

localhost work OK
![image](https://user-images.githubusercontent.com/362

[2020-10-19 15:24] raymondfeng commented on #6602
It seems that your `201.217.226.72` ip forced `https`. Please check if port 3000 is used by another process.

[2020-10-19 15:48] erogleva commented on #2052
I meant a case such as the following:

For example, if we have a model named Company with "address" as a string property

[code]
and then we also decide to create an "Address" model:
[code]
Using the generator to create a relation `Company hasOne Address` might look like this:

? Please select the relation type hasOne
? Please select source model Company
? Please select target model Address
? Fore

[2020-10-19 16:40] bradharms opened #6604 "Documentation for Namespaces Shadows Documentation for Functions"
## Steps to reproduce / Current Behavior

On https://loopback.io/doc/en/lb4, in some places where a link refers to a symbol which is both a namespace and a function, there is only a link to the function form of a symbol and not the namespace, even where the context of the documentation refers to the function form of the symbol. This makes it seemingly impossible, or at least unintuitive, to access

[2020-10-19 16:49] raymondfeng commented on #6604
AFAIK, it's a known issue with Microsoft API Extractor.

[2020-10-19 17:00] bradharms commented on #6604
I see. [This issue](https://github.com/microsoft/rushstack/issues/1921) seems to be another instance of the same bug.

Do you recommend waiting for the extractor to be fixed?

[2020-10-19 17:10] fgvicente commented on #6602
ok to discard that it is the react application I put a single file with this code in /public

`<!DOCTYPE html>
<html>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>

</body>
</html>`

![image](https://user-images.githubusercontent.com/3626864/96488659-b3caf280-1214-11eb-967b-17e5fa43de5c.png)
as you will see, favicon tries to search with https

I do not have another application or so

[2020-10-19 19:23] dhmlau commented on #6604
@bradharms, if that's the case, is it ok to close this issue since there's not much we can do here. Thanks.

[2020-10-19 19:50] raymondfeng commented on #6595
@mdbetancourt Do you have a public github repo to share your work? If not, can you provide more details? Examples will be helpful.

[2020-10-19 20:22] mightytyphoon opened #6606 "Signed Cookies out of the box"
## Suggestion

It's a bit related to https://github.com/strongloop/loopback-next/issues/3589
I would like an easy way to use **signed** cookies out of the box

## Use Cases

I am trying to implement a cookie based auth system, the most secured possible, with httpOnly=true + SameSite = 'strict' + secure cookie (https) + signed cookie + domain set. The problem is, when trying to use signed cookies,

[2020-10-19 20:40] raymondfeng commented on #6606
You can directly register an Express middleware using `app.expressMiddleware()` - we wrap it into a Middleware behind the scenes.

[2020-10-19 20:59] raymondfeng commented on #6606
See https://loopback.io/doc/en/lb4/Express-middleware.html

[2020-10-19 21:16] mightytyphoon commented on #6606
Thank you, it seems like what I need but does this add some performances issues ?

Wouldn't it be better, performance wise, to have signed cookies being part of loopback instead of a middleware using express ?

I am just asking since signed cookies requests are going to be used at almost every requests.

[2020-10-19 21:18] raymondfeng commented on #6606
Adding an Express middleware to handle cookies won't add too much overhead. Please note that the Express middleware will be adapted to be a LoopBack middleware to be part of the sequence middleware chain.

[2020-10-19 21:26] mightytyphoon commented on #6606
Ok I will try that, thanks a lot for your prompt response. If I don't add any update about performances here, it means that requests are handled fast enough for my use.

[2020-10-19 23:55] #6604 closed

[2020-10-20 00:03] bradharms commented on #6596
Modern versions of Npm do a very good job as a package manager and is included by default with node. I know when Yarn was first introduced it dealt with issues that Npm had at the time, but since then Npm has improved substantially. Now Yarn is mostly additional tooling that the user has to install. I think it would be better if Yarn were an option to choose from as an alternative, but not as the

[2020-10-20 00:07] bradharms commented on #6595
We have been successfully using ts-node for close to a year now. It's possible, but to do so you can't use loopback to its fullest potential because of issues like the above. This has influenced our coding style to move away from the style of a skeleton app as produced by the Loopback CLI. We are about to move to standard typescript so we can make better use of Loopback's features.

[2020-10-20 00:23] dhmlau commented on #6591
I can see this being useful especially if an app have many models (for example) and can be grouped in subfolders. In order to support this, i believe we have to:
1/ make other generators be able to discover artifacts in their subfolders.
e.g. The repository generator needs to look for models in subdirectories

2/ make booters read the subfolders
e.g. https://loopback.io/doc/en/lb4/Booting-an-Appli

[2020-10-20 00:29] dhmlau commented on #6518
@hacksparrow, could you please take a look, since you're working on the ObjectID task? Thanks.

[2020-10-20 00:45] #6021 closed

[2020-10-20 00:46] dhmlau commented on #6021
Closing as done.
Node.js 14 is enabled in Jenkins for all repos.

[2020-10-20 01:55] achrinza commented on #6602
The favicon issue is most likely a browser behaviour. If no favicon is explicitly defined, the web browser will try to look for it in well-defined locations. In this case, it will not cause any issues and can be safely ignored.

[2020-10-20 02:12] fgvicente commented on #6602
solved it with lb4 update

[2020-10-20 02:12] #6602 closed

[2020-10-20 03:19] mrmodise commented on #5741
After spending a bit of time on this I was able to find where the issue is but am still not sure how to go about resolving it.

1. If you change the Filter to: `{"where": {"random": {"regexp" : "k"}}}` return 5th item
2. If you maintain `{"where": {"random": {"regexp" : "/k/"}}}` returns `[]`. What I observed here is that in the `legacy-juggler-bridge.ts` the find method behaves different if you f

[2020-10-20 03:53] raymondfeng commented on #6591
The runtime `@loopback/boot` already supports subdirectories under `src/models`. I'm not sure if we want to add one more prompt for the `lb4 model` command. Maybe make it conditional on presence of subdirectories.

Without this feature, we can still run `lb4 model` to generate model classes under `src/models`. Such classes can then be manually moved into corresponding subdirectories.

[2020-10-20 05:10] mdbetancourt commented on #6595
@bradharms and @raymondfeng, please check the sample repository which i added, also i used Yarn 2 (like commented in #6596) so pls try it with yarn

[2020-10-20 05:42] mdbetancourt commented on #6596
Hi @bradharms thank you for give your opinion, about some of your points

i never said otherwise, i agreed with you

I know but almost everyone has it installed in their machines (even node docker image already include it)

I'm not talking about yarn itself (which also is a bit better just check [benchmarks](https://github.com/pnpm/benchmarks-of-javascript-package-managers)) but about PnP resoluti

[2020-10-20 06:17] hacksparrow commented on #6518
@trieuduong1602 `ObjectId` configuration can be tricky, please share a minimal app reproducing the issue, I will configure it for you.

[2020-10-20 07:20] pavelgronsky commented on #6503
@raymondfeng Hi.
Look my repo example
https://github.com/pavelgronsky/loopback-service-provider

[2020-10-20 09:27] mrmodise commented on #6503
Change this line:

[code]

to

[code]

Add a `keys.ts` and include the service namespace:

[code]

to retrieve service from context you can do:

[code]
or

[code]

[2020-10-20 10:29] MattiaPrimavera commented on #1940
I'm interested in contributing to this one!

- should an error be raised in case the `required` parameter is not found ?
- are we going with `@param.query.string('access_token', {required: true})` ?

[2020-10-20 11:22] #6606 closed

[2020-10-20 13:25] jangeorgiev commented on #6560
Hey @dhmlau, the example in doc is about `PositionalParameters`, but according to https://loopback.io/doc/en/lb4/apidocs.repository.defaultcrudrepository.execute.html#parameters `NamedParameters` are available as well

[2020-10-20 13:42] dhmlau opened #6613 "[Docs] How to debug a LoopBack application"
In the [troubleshooting guide](https://loopback.io/doc/en/lb4/Troubleshooting.html), we can add the information on how to set breakpoints in a LB4 app as debugging.

Some high level information for VS code:
-  go to Debug > create a launch.json.
- edit the `program` properties in launch.json, so that it looks like:
[code]
- set the breakpoint to the location you want
- go back to Debug tab in VS c

[2020-10-20 13:53] jannyHou commented on #6477
@mdbetancourt Sorry for replying late. Good suggestion 👍 unfortunately, I am afraid we don't have the bandwidth to update the website's theme 😞 features+bug fixes have higher priority than the front end change.

[2020-10-20 13:53] jannyHou commented on #6477
Closing as PR merged.

[2020-10-20 13:53] #6477 closed

[2020-10-20 13:59] jannyHou commented on #6478
Closing as PR merged.

[2020-10-20 13:59] #6478 closed

[2020-10-20 15:18] dhmlau commented on #6591
+1 on not putting it as part of the prompt, but was able to make LB artifacts inside the corresponding subdirectory discoverable.

[2020-10-20 15:24] raymondfeng commented on #6503
There are quite a few things in the code that went wrong.

1. Using constructor directly (`const productsModelSchemaUpdate = new ProductsModelSchemaUpdate()` - https://github.com/pavelgronsky/loopback-service-provider/blob/master/src/application.ts#L63) does not trigger dependency injection.

You need to fix it as follows:

**product.ts**
[code]

**application.ts**
[code]

2. We bind datasources/s

[2020-10-20 16:52] mrmodise commented on #6503
Thanks @raymondfeng created a pull request for @pavelgronsky at: https://github.com/pavelgronsky/loopback-service-provider/pull/1/

[2020-10-20 16:55] mrmodise commented on #6503
@pavelgronsky if happy please close the issue 😊

[2020-10-20 17:07] pavelgronsky commented on #6503
@raymondfeng  and @mrmodise  Thanks you very much, you are my heroes ;)

[2020-10-20 17:07] #6503 closed

[2020-10-20 20:35] dhmlau commented on #6560
From the error message, it looks like it's expecting an array not a json.
According to https://github.com/mysqljs/mysql/issues/920, it seems like the mysql nodejs driver doesn't support named parameters. When I tried it, it also complains about the syntax error from the mysql code:

[code]

[2020-10-20 23:36] dhmlau commented on #6416
@jannyHou, could you please take a look when you have a chance? Thanks.

[2020-10-20 23:42] mdbetancourt opened #6616 "@loopback/testlab breaking change"
after upgrade from testlab@3.2.5 to testlab@3.2.7 i get the following error

Error: Attempt to change mapping for "form" extension from "application/x-www-form-urlencoded" to "application/x-www-form-urlencoded". Pass `force=true` to allow this, otherwise remove "form" from the list of extensions for "application/x-www-form-urlencoded"

may be related to https://github.com/visionmedia/superagent/is

[2020-10-20 23:44] dhmlau commented on #6402
@achrinza, thanks for the suggestion. I'm thinking whether it would fit better as a community extension.

@raymondfeng @bajtos, WDYT?

[2020-10-21 00:02] tipuban commented on #2844
Speaking of custom collection/table names, I seem to have stumbled upon an issue when using `npm run migrate` using custom collection names.
The scenario is this:
1. I'm trying to phase out an Entity called "Role" that I've been storing in a collection with the same name.
2. I will no longer store roles in a collection (instead they're going to be embedded into other entities - long story) so I've

[2020-10-21 07:36] pktippa commented on #5709
@madaky @dhmlau  Is there any workaround for this bug?

[2020-10-21 12:07] cioddi commented on #6416
It seems the repositories are identified by the tag 'type':'repository' ([find repository bindings by tag in migrateSchema function](https://github.com/strongloop/loopback-next/blob/a8b3b00845e8922ca4fd2572ffeedfaa4a979b50/packages/repository/src/mixins/repository.mixin.ts#L276)), the UserRepository binding does not have any tags. I am not yet familiar enough with the codebase to fix it.

[2020-10-21 14:17] cioddi commented on #6416
I have created a pull request that fixes the autocreation issue and supplies authentication-jwt repository bindings with proper repository binding tags. Incompatibility of id column with mysql still due to the varchar type remains.

[2020-10-21 16:33] paeolo opened #6621 "Make @loopback/rest independant of @loopback/repository"
## Suggestion

[@loopback/rest](https://github.com/strongloop/loopback-next/tree/master/packages/rest) is dependant of [@loopback/repository](https://github.com/strongloop/loopback-next/tree/master/packages/repository) to generate the OpenAPI specs.

Looking at the code, [@loopback/rest](https://github.com/strongloop/loopback-next/tree/master/packages/rest) calls [getControllerSpec](https://github

[2020-10-21 17:09] raymondfeng commented on #6621
@paeolo Yes, we should break down `@loopback/repository`. I started to do a PoC at https://github.com/strongloop/loopback-next/tree/refactor-repository. I wonder if you can help as I'm occupied with other things.

The idea is to add `@loopback/model` and `@loopback/datasource`.

[2020-10-21 19:30] bradharms commented on #6596
@mdbetancourt Ah, I see. Sorry for the confusion.

[2020-10-21 19:55] #3259 closed

[2020-10-22 07:37] mbnoimi commented on #6002
BTW, I was using Django inspectdb but when I left Django I missed it a lot.

[2020-10-22 11:44] mdbetancourt commented on #6621
:+1:  this may be give some help with #6436 and actually getModelSchemaRef use directly the class to get definitions but is limited because when you override a bound model you can't automatically update the spec this could provide more control over things like this

[2020-10-22 14:25] emonddr opened #6627 "'Handling Errors' link goes to document without Handling Errors section"
## Steps to reproduce

There are two places where the 'Handling Errors' link is used, but takes you to a document without a 'Handling Errors' section

- https://loopback.io/doc/en/lb4/REST-middleware-sequence.html
- https://loopback.io/doc/en/lb4/REST-action-sequence.html
- https://loopback.io/doc/en/lb4/Using-strong-error-handler.html

## Current Behavior

Clicking on link brings you to

https://

[2020-10-22 15:24] jannyHou commented on #5170
Closing as PR #6626 merged.

[2020-10-22 15:24] #5170 closed

[2020-10-22 16:19] paeolo commented on #6621
@raymondfeng Don't have much time either but maybe I could work on it a bit. I am pretty confident I could implement the idea I proposed here but haven't read your PoC yet, I'll give a try:)

[2020-10-22 18:11] dhmlau commented on #6627
I believe it's because there are 2 subpages added: [middleware base sequence](https://loopback.io/doc/en/lb4/REST-middleware-sequence.html) and [action based sequence](https://loopback.io/doc/en/lb4/REST-action-sequence.html). Each page has its own "handling error" section.

[2020-10-22 18:17] dhmlau commented on #6621
@paeolo, let me assign this issue to you. thanks.

[2020-10-22 20:12] dhmlau commented on #6020
What's left is to test loopback-connector-oracle works on Node.js 14. I believe currently there's some CI issue (not related to Node.js 14) in that repo.

[2020-10-22 20:16] emonddr commented on #6627
Yeah I looked at the history of Sequence.md, and noticed that the `Handling Errors` section was cut and paste into the two new sequence docs.

[2020-10-22 20:26] #5595 closed

[2020-10-22 23:46] hectorleiva commented on #6613
Hey @dhmlau !

Are you looking for someone to type up this VSCode procedure into the troubleshooting guide and to provide perhaps, a gif of this happening? Are you looking for as many different ways to debug a Node.js application as possible including this VSCode process? This seems like it is up my alley.

[2020-10-23 00:19] dhmlau commented on #6613
@hectorleiva, there were some questions on the [LoopBack Slack workspace](https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw) about setting breakpoints to debug a LoopBack application, so I created this issue to capture that.
@jannyHou has a PR https://github.com/strongloop/loopback-next/pull/6615 to update the CLI template so that the launch.json will be included

[2020-10-23 07:51] jangeorgiev commented on #6560
Yes, you are right `mysqljs` doesn't support named parameters yet, but according to [this comment](https://github.com/mysqljs/mysql/issues/920#issuecomment-114491351) this feature can be handled by using [named-placeholders](https://www.npmjs.com/package/named-placeholders#usage) library.

So in this case I see 4 options:
1. I have to handle myself [NamedParameters](https://loopback.io/doc/en/lb4/

[2020-10-23 08:05] mdbetancourt opened #6633 "json schemas array tuples"
## Suggestion
currently any array declared in loopback result with the first value declared in the tuple how can i achieve the following model
[code]
if there not exists a clean way to achieve this i could do the changes

## Use Cases
Validating tuples

## Examples

## Acceptance criteria

TBD - will be filled by the team.

[2020-10-24 14:19] trieuduong1602 commented on #6518
@hacksparrow sorry for late reply, I just invited to my project "reproduce-loopback-4-bugs" (I marked this project as private as well, so please accept it)
====
Project preparation:
after you cloned my project, please do the following steps:
1. Open terminal in the project root. Inside terminal, calling following command
    1.1 git checkout issues/6518-use-neq-statement-does-not-work
    1.2 sour

[2020-10-24 18:38] emonddr opened #6641 "Default filter in API Explorer for GET /todos of todo-list example produces a 500 error."
## Steps to reproduce

After starting the todo-list example, and then going into the API explorer, a default filter is available for the GET /todos endpoint. If the filter is used as-is, and the user presses the [Execute] button, the application returns

[code]

and the stack trace shows:

[code]

If the user instead clears this default filter, the operation works.

## Current Behavior

In the API

[2020-10-25 00:10] mdbetancourt opened #6643 "Support for dep injection inside of lifecycle"
## Suggestion
Allow dependency injection in start|init lifecycles

## Use Cases
when dependencies is only used in the lifecycle method could be useful to avoid pollute the object with unnecessaries deps also we can inject dependencies everywhere (constructor, properties, methods) but not in lifecycle is some counter intuitive

## Examples
[code]
## Acceptance criteria

TBD - will be filled by the

[2020-10-25 05:25] mrmodise commented on #6107
I will take this on. Thanks

[2020-10-25 11:51] pktippa commented on #1981
@dhmlau @bajtos Any new updates on LB4 with GeoPoint data support.

[2020-10-25 15:08] #6571 closed

[2020-10-25 18:06] nflaig opened #6647 "health extension returns 200 even if custom live or ready check fails"
According to [Kubernetes docs](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/) a http live/ready  probe needs to return a status code greater than or equal to 200 and less than 400 to indicate success and any other code to indicate failure. This is currently not the case and even failing custom live or ready checks return a 200 status code.

#

[2020-10-26 06:34] cytaylorw commented on #4708
I was having the same issue because I had existing tables migrated with `generated:false`. Updated to `generated:true` and ran `npm run migrate' did not alter the tables with the config. I have to drop all the tables and migrate again.

[2020-10-26 07:34] achrinza commented on #6402
I'm leaning towards making this a built-in extension point for 2 reasons:

1. Audits should be a well-defined interface adopted by the core lb4 packages
2. The proposal is minimal and does not include the auditor implementation itself. Hence, there shouldn't be much additional baggage beyond lifecycle management and interface definitons.

WDYT?

[2020-10-26 21:44] #6647 closed

[2020-10-26 21:50] #5812 closed

[2020-10-27 08:50] bala-fashiondx opened #6669 "Error: EMFILE, Too many open files"
Running a loopback application inside docker container .

**The file descriptor was going on increasing  for datasource as mongodb (Checked using lsof | wc -l )**

_I need to implement garbage collection in lb4 .. Please suggest !!!_

[2020-10-27 09:45] paeolo commented on #6621
@raymondfeng Is there a way to contact you on slack or somewhere else if I have questions/askings about implementation details ? (not to pollute here)

[2020-10-27 10:01] joeytwiddle commented on #4868
In that case, the type could look like this:

[code]

Does that work okay?

[2020-10-27 10:41] norricorp opened #6662 "todo tutorial results in return of empty array for get"
## Steps to reproduce

I run through the tutorial https://loopback.io/doc/en/lb4/Appsody-LoopBack.html for using loopback 4 within appsody. When I try to get the todo list, I get an empty array and 200 status. As I have been running various lb4 commands, perhaps I have been fat fingured.
So I went to the loopback only todo tutorial and used lb4 example to clone the todo code. Run that and same res

[2020-10-27 11:51] mrmodise commented on #6106
Will take this on. Thanks

[2020-10-27 11:51] mrmodise commented on #6108
Will take this on. Thanks

[2020-10-27 15:19] joeytwiddle commented on #2292
Adding this comment for SEO purposes.

If you see this error while committing:

[code]

The solution (shown in the document dhmlau shared above) is to use `git commit -s ...` to sign the commit message.

[2020-10-27 20:18] #6107 closed

[2020-10-27 20:37] raymondfeng commented on #6641
By reading the error message, it seems that `"include":[{"additionalProp1":{}}]` is invalid.

[code]

[2020-10-27 23:31] dhmlau commented on #6669
@bala-fashiondx, I believe you're using LB4, so I just transferred this issue to the loopback-next repo. Please let me know if that's not the case.

[2020-10-27 23:47] dhmlau commented on #6621
@paeolo, feel free to join our Slack channel: https://join.slack.com/t/loopbackio/shared_invite/zt-8lbow73r-SKAKz61Vdao~_rGf91pcsw. The `#loopback-contributors` are for discussions related to contributing to LoopBack.

[2020-10-28 02:10] stoffason commented on #6616
rest-builder.js line 84, setting to true solved it for me

mime.define({
  'application/x-www-form-urlencoded': ['form', 'urlencoded', 'form-body'],
}, true);

[2020-10-28 05:55] raymondfeng commented on #6616
@mdbetancourt How do you reproduce the error?

[2020-10-28 08:57] vishal-chhabria commented on #110
Hi, working on loopback4 for a while, would love to contribute !

[2020-10-28 10:46] norricorp commented on #6662
Just to add, even if I change the controller code so that it is looking for a file called db1.json rather than db.json, I get the same result - an empty array with a 200 status.
This is on the loopback example, nothing to do with appsody. So something is very strange. I would have expected a 500 internal error. I can only think I have done something very dumb except all I run was "lb4 example todo

[2020-10-28 10:50] mdbetancourt opened #6672 "Auto relations mixin"
## Suggestion
Hello i did some code to genera automatically relations for repositories (strongly typed) just declaring in the model, i wanna ask if is ok to add it and where i could place it

## Examples
this is how looks
[code]

## Acceptance criteria

TBD - will be filled by the team.

[2020-10-28 11:42] mdbetancourt opened #6673 "Improve Filter.Include type"
## Suggestion
Add type suggestion for Filter.Include here an image working

![Screenshot from 2020-10-28 07-35-27](https://user-images.githubusercontent.com/22435967/97431308-77705400-18f0-11eb-8578-869892f195f5.png)

suggestions for only relations
![Screenshot from 2020-10-28 07-40-55](https://user-images.githubusercontent.com/22435967/97431618-02e9e500-18f1-11eb-8601-142e0880e33f.png)
typo
![ima

[2020-10-28 13:59] achrinza commented on #6662
Hmm, I've not been able to replicate the issue.

Here's the steps I followed

Run these commands:
[code]

Go to `/explorer` and execute the relevant GET request to `/todos` without any request body.

Results:
![image](https://user-images.githubusercontent.com/25147899/97445374-269c4200-1968-11eb-9b79-56a402545e95.png)

Did you mean Datasource code (under `src/datasources/*`)? The way the data is s

[2020-10-28 14:13] emonddr commented on #6641
Yeah I realize that. Is it the swagger UI (Api explorer) code that produces this sample filter?

[2020-10-28 14:26] norricorp commented on #6662
in one sense I am not surprised it works for you. It is the tutorial so it must work. Except for me it does not.
I run the same commands as you did. And the response from GET /todos via the explorer is "[]" with a status of 200.
And that means no code changes on my part.
I will carry on investigating.

[2020-10-28 15:51] raymondfeng commented on #6641
The sample request is probably from the openapi spec that we generate. Can you confirm? If so, we need to fix the root cause (invalid sample data for the filter/include schema).

[2020-10-28 17:13] dhmlau commented on #6662
We probably have a much older version on `@loopback/cli` on Apposody. If it works for @achrinza, it might be a good time to update the LB4 CLI version there.
@raymondfeng, do you have any pointer on how we can get it updated? Thanks.

[2020-10-28 17:32] norricorp commented on #6662
Just to emphasise this is nothing to do with Appsody. I just happened to start from appsody but the same happens in a pure loopback env.
So appsody is a red herring.

[2020-10-28 18:17] dhmlau commented on #6662
@norricorp, thanks for the clarification. Sorry that I missed your previous comment about not Appsody related.
One more question, what's the `@loopback/cli` version you're using? Would like to try the exact version you're using. Thanks.

[2020-10-28 20:54] norricorp commented on #6662
So I have tried this on two mint linux VMs and on windows. And this is what I have discovered. Using the explorer, I get the following in brave, firefox (mint) and firefox and edge (windows)
![image](https://user-images.githubusercontent.com/19404257/97495144-37948580-195f-11eb-90e0-c082f144f575.png)

BUT, if in a browser or command line with curl, I go to 127.0.0.1:3000/todos, I get an expected r

[2020-10-28 21:07] raymondfeng commented on #6662
@norricorp What value do you have for `filter` inside the API Explorer?

[2020-10-28 22:58] dhmlau commented on #6560
+1 the API docs should add some text around not all databases support NamedParameters.
Would you be interested to submit a PR? Thanks.

[2020-10-28 23:47] achrinza commented on #6662
Based on the screenshot, the `filter` parameter wasn't cleared.

Here's how I executed the query via the API Explorer:

![MakingCorrectQuery](https://user-images.githubusercontent.com/25147899/97508546-d8fcf500-19ba-11eb-90e9-ad458f50951f.gif)

If we don't remove the example `filter`, we are able to reproduce the same result:

![MakingWrongQuery](https://user-images.githubusercontent.com/25147899/

[2020-10-29 00:48] dhmlau commented on #3215
Closing as resolved.

[2020-10-29 00:48] #3215 closed

[2020-10-29 08:50] mdbetancourt commented on #6621
@paeolo i could help you with this issue too if it's ok

[2020-10-29 08:55] norricorp commented on #6662
@achrinza - thank you for taking the time on this. Yes, removing the filter in explorer gives a result.
It does lead to two questions - why does explorer put that filter by default? And having read through the tutorials again, I still do not see anything about filters and removing them.
But again many thanks.

[2020-10-29 08:55] #6662 closed

[2020-10-29 10:54] norricorp commented on #6662
Ah, so it is the additionalProp1 that messes it up.

[2020-10-30 04:36] surajj commented on #3846
How do i bound the AuthenticationBindings.USER_PROFILE_FACTORY in my application.ts?

[2020-10-30 12:12] paeolo commented on #6621
@mdbetancourt Ok, check your mailbox;)

[2020-10-30 13:45] achrinza commented on #6662
This is the behaviour of the Swagger Explorer, which is what the LoopBack API Explorer uses under the hood.

Unfortunately this is one of those areas that get missed when writing documentation for a large documentation. It's already covered under <https://loopback.io/doc/en/lb4/Working-with-data.html>, and typically users discover filters when toying with the API Explorer and going through the How

[2020-10-30 15:22] mrmodise commented on #6106
@bajtos on this point:

Are you referring to how they're automatically booted to `repositories.*` `datasources.*`?

[2020-10-30 23:42] #6110 closed

[2020-10-31 04:29] mrmodise commented on #6108
@jannyHou if you don't I can take this on?

[2020-10-31 07:06] mrmodise commented on #6369
@dhmlau on these points I was thinking of keeping it simple to avoid confusion on this. Maybe then add an additional section that routes out to where these are covered in other sections of `How-to guides`

[2020-10-31 16:49] Code-Crash commented on #512
- AWS Services Extensions like:

1. S3 bucket datasource to handle file object related operations.
2. Elastic Search datasource extension.
3. Lambda functions supports extensions (development/deployment using loopback extensions)

[2020-11-01 03:58] smartmouse opened #6704 "page not found when click on try it out"
click on try it out
<img width="738" alt="Screen Shot 2020-10-31 at 11 55 34 PM" src="https://user-images.githubusercontent.com/4519627/97794809-eb527b00-1bd4-11eb-8384-aaa598569374.png">
<img width="1467" alt="Screen Shot 2020-10-31 at 11 53 47 PM" src="https://user-images.githubusercontent.com/4519627/97794811-f4dbe300-1bd4-11eb-9fe0-5c904fef64df.png">

[2020-11-01 11:58] dougal83 commented on #6704
Hi @smartmouse,

Is this on [https://loopback.io/doc/en/lb4/Authentication-tutorial.html](https://loopback.io/doc/en/lb4/Authentication-tutorial.html) ?  Can you confirm that the link is the item on the Page Contents list and that it is still broken for you?  I've had a look and that link is working for me.

[2020-11-01 12:38] achrinza commented on #6704
The issue is in the [README}(https://github.com/strongloop/loopback4-example-shopping/blob/649394b420f78d5deeeceae55b23331e5af6399f/README.md#tutorial). Probably caused when we normalized the URL scheme to hyphenated PascalCase. Opened https://github.com/strongloop/loopback4-example-shopping/pull/918 as a fix.

[2020-11-02 00:03] f-w opened #6707 "Allow multiple routes decorated to a controller method"
## Suggestion

lb3 allows a custom remote method to handle multiple routes. lb4 limits # of operation decorators to 1 for a controller method. Even though it can be mitigated by creating separate methods calling common code, the API spec in parameter decorators of these methods have to be duplicated.

## Use Cases

Consider a self managed opt-in opt-out email subscription API server, user can unsu

[2020-11-02 08:37] bajtos commented on #5741
Here is the code in juggler that's normalizing/coercing filter values to convert regular expressions from strings to `RegExp` instances:

https://github.com/strongloop/loopback-datasource-juggler/blob/2f867576b66fe535aa1f82bceaaa680ecd4eec6c/lib/model-utils.js#L382-L496

Notice that we are skipping the coercion if the property is not defined in the model:

https://github.com/strongloop/loopback-da

[2020-11-02 12:14] mrmodise commented on #5741
Thanks @bajtos will get right to it. This definitely helped a lot

[2020-11-02 14:15] achrinza opened #6709 "Update minimum EOL"
Node.js v14 has entered Active LTS. In line with the [Module LTS policy](https://github.com/CloudNativeJS/ModuleLTS/blob/c4a24166b355aef623ab56368bd884703f5e8dd5/README.md), we should update our documentation to reflect the new minimum EOL of 2023-04-03.

Areas to update:
- [x] [loopback.io](https://github.com/strongloop/loopback.io/blob/474ac0e0c1376be5f9a466409101248c8a9617d6/pages/en/contrib/LT

[2020-11-02 18:32] #6704 closed

[2020-11-02 18:44] #6522 closed

[2020-11-02 20:50] mdbetancourt commented on #6707
yes i get some problems with this too but is mainly caused because currently loopback decorators doesnt allow to decorate the same function, property (like models) twice

[2020-11-02 21:01] raymondfeng commented on #6707
It can be achieved as follows:

[code]

There are some complexity to mark a single method with multiple `@operation` or sugar decorators as we need to find out how to merge specs.

Maybe one compromise is to allow something like `aliasPaths` to allow extra routes for `@operation`

[2020-11-02 21:11] f-w commented on #6707
The drawback is explained in Suggestion section.

[2020-11-02 21:27] raymondfeng commented on #6707
@f-w If you are willing to contribute a patch to allow alternative verb/path for a given operation, we are happy to review.

[2020-11-02 23:39] f-w commented on #6707
@raymondfeng , is this alternative less complex?

[code]

[2020-11-03 02:12] mdbetancourt commented on #6707
i dont think so xd

[2020-11-03 03:16] raymondfeng commented on #6707
What I have in mind is something like:

[code]

[2020-11-03 04:28] f-w commented on #6707
It limits # of routes to a method to 2.

[2020-11-03 05:09] raymondfeng commented on #6707
Not really. The `@path` can be applied more than once to the same method.

[2020-11-03 05:27] achrinza commented on #6707
My main concern with `@path()` is that it may be too restrictive. For example, in most cases, these endpoints might have a different `description`.

I favour supporting "stacking" `@operation()`, `@get()`, etc.

Also potentially allow the decorators to accept an array:

[code]

This would enable developers to group their requests by their RESTful operations.

[2020-11-03 08:20] bajtos commented on #6456
Big thanks to everyone who participated in this year's Hacktoberfest ❤️

[2020-11-03 08:20] #6456 closed

[2020-11-03 08:20] Salketer opened #6718 "Let api explorer use a different protocol than the loopback server"
## Suggestion

It would be useful to be able to define the protocol of the servers when defining the Api Specs. The loopback rest server can be turned on https, and while it is on, the swagger is set accordingly, but having swagger independent configuration is necessary.

## Use Cases

I want my loopback rest server to use http since it is behind a reverse proxy that handles the SSL matters. But t

[2020-11-03 08:53] mrmodise commented on #5741
@bajtos managed to resolve the issue but am not feeling confident about whether this check: https://github.com/strongloop/loopback-datasource-juggler/blob/82ecf451c5ae8d4dcb32e2e5f1a16ec2060d74b6/lib/model-utils.js#L465 address your point above

[2020-11-03 13:55] mdbetancourt commented on #6707
+1 to use
@get()
@post()

[2020-11-03 16:45] raymondfeng commented on #6707
My goal was to minimize the merging complexity. It will only allow 0-N `@path` in addition to one `@operation` (including `@get`, `@post`, etc). Merging specs is not fun.

[code]

[2020-11-03 18:00] mrmodise commented on #5741
@raymondfeng @bajtos am stuck on the testing of this logic. Looking at the `model-utils.test.js` it looks like its mostly testing the coercing of data types but in this case we want to test the whether if i pass a where clause with regexp filter that it will be returned, as part of where clause? this is similar to most tests in `loopback-dl.test.js` thus a bit of confusion on my end where these sh

[2020-11-03 21:59] f-w commented on #6707
@raymondfeng , are you sure? The limitation of applying a decorator function maximum once to a method is imposed by [decorator-factory](https://github.com/strongloop/loopback-next/blob/afb99ebcbea9924b590f211c1db33c9b0d570152/packages/metadata/src/decorator-factory.ts#L275) rather than openapi-v3. If it's easy to allow multiple `path` decorators, then it's also easy to allow multiple operation dec

[2020-11-03 22:01] raymondfeng commented on #6707
@f-w See https://github.com/strongloop/loopback-next/blob/afb99ebcbea9924b590f211c1db33c9b0d570152/packages/metadata/src/decorator-factory.ts#L823. We have `MethodMultiDecoratorFactory<T>` which is used by `@response`

[2020-11-04 01:51] mdbetancourt opened #6724 "openapi.json and validation"
Hello i used an open api enhancer with the following implementation
[code]
the openapi.json is properly updated but validations is still failing
![image](https://user-images.githubusercontent.com/22435967/98059418-77ef7a00-1e1d-11eb-9f10-dbc75bb9f965.png)
is this behavior expected? or is it a bug? i could fix it with some guidance, because i'm not sure what could be

## Steps to reproduce
add the

[2020-11-04 15:42] IvanMalinin-0876 opened #6727 "hello need ticket"

[2020-11-04 15:44] #6727 closed

[2020-11-04 18:59] jagzmz opened #6728 "BindingScope.SINGLETON scope not working as expected?"
Hi Team,

I am developing a component which takes binding keys for repositories from the configuration, and I am fetching those repositories by code like below,
[code]
this instantiates the repository and gets back the expected result. After this, I am manually setting some properties on the repository class so that it could be used ahead in the future.

But when I hit an controller endpoint for t

[2020-11-04 19:51] dhmlau commented on #6724
@mdbetancourt, do you have a sample of openapi.json that fails validation?
To me, the generate openapi.json should pass validation.

[2020-11-04 19:51] dhmlau commented on #6724
@jannyHou, could you please take a look when we get more information? Thanks.

[2020-11-05 06:20] mdbetancourt commented on #6724
i enabled DEBUG (loopback:rest:validation,loopback:rest:parser,loopback:rest:parse-param,loopback:rest:find-route) flag for loopback and this is the output
loopback:rest:find-route Finding route for GET /users?filter=%7B%0A%20%20%22pivot%22%3A%20%7B%0A%20%20%20%20%22oo%22%3A%205%0A%20%20%7D%0A%7D +0ms
  loopback:rest:find-route Route found for GET /users?filter=%7B%0A%20%20%22pivot%22%3A%20%7B%0A%

[2020-11-05 07:56] norricorp opened #6733 "Todo-List tutorial - model contains "color", data contains "dateModified""
## Steps to reproduce
Tutorial for todo-list. Model has 3 fields - id, title, color. But the db.json file has id, title and dateModified.

## Current Behaviour

Model and data fields do not match

## Expected Behaviour

The data should use "color" rather than "dateModified"

## Link to reproduction sandbox

Not applicable

## Additional information
$   node -e 'console.log(process.platform, proces

[2020-11-05 08:47] bajtos commented on #6106
I am referring to the following content:
- https://loopback.io/doc/en/lb4/Application.html#components
- https://loopback.io/doc/en/lb4/Application.html#controllers
- https://loopback.io/doc/en/lb4/Application.html#servers

I think we should start with a new page that will contain the existing instructions for adding artifacts manually via TypeScript API (e.g. `app.controller`).

The second step -

[2020-11-05 08:58] mrmodise commented on #6106
@bajtos will update accordingly. Thanks

[2020-11-05 09:18] haotangio opened #6737 "Add option to allow rule for column name"
## Background

Current by default the property is "lowercased".
If we want to custom it, we must use:
[code]

This is huge headache if system have hundred of tables hence possibly thousand of column names to customize.

## Suggestion
We should provide an option in the connector level to allow users to compute column name as `keep`, `lowercase`, `UPPERCASE`, `snake_case`, `camelCase`, `PascalCase`,

[2020-11-05 09:56] mbnoimi commented on #4557
Is there any progress on this bug?
Practically I'm unable to use lb4 because I've a huge database so `lb4 discover` is vital in [my case](https://stackoverflow.com/questions/64676381/how-to-control-primary-key-creation-in-lb4-discover/).

[2020-11-05 11:16] Swanseatom commented on #5793
Also notice the same issue as you mention.

[2020-11-05 12:54] mrmodise commented on #5793
This one is resolved. I tried to reproduce the issue above and am not getting it. Will have a look again

[2020-11-05 16:40] #6369 closed

[2020-11-05 18:33] alexsilvar opened #6734 "lb4 discover Oracle don't show models"
## Steps to reproduce

Create a datasource for a oracle database and run ```lb4 discover```

## Current Behavior

it will led you to the Select the models with an empty list
[code]

## Expected Behavior

List of models from database show bellow:
[code]

## Additional information
Extensions version
[code]

I tested the connection using ```oracledb``` and I'm able to run select queries normally on m

[2020-11-05 19:49] dhmlau commented on #4849
Closing as done. See https://loopback.io/doc/en/lb4/Building-frontend-angular-application.html.

[2020-11-05 19:49] #4849 closed

[2020-11-05 19:57] dhmlau commented on #6734
@alexsilvar, if you try `lb4 discover --all`, would it work? The `--all` option will return all the tables.

I haven't tried it on Oracle yet, but for DB2, without the `--all` option, it only returns the tables with schema name that's same as the user name.

[2020-11-05 20:10] dhmlau commented on #5867
Closing as the question has been resolved.

[2020-11-05 20:10] #5867 closed

[2020-11-05 20:14] alexsilvar commented on #6734
Hey, thanks. After I cleaned up my project and changed to an admin db account I was able to discover the tables.
The --all also helped me to get all of them at once.

[2020-11-05 20:14] #6734 closed

[2020-11-05 20:15] dhmlau commented on #6733
@norricorp, if you could submit a PR to fix it, that would be great. Thanks!
There's an ongoing PR (I believe it's close to land) https://github.com/strongloop/loopback-next/pull/6598 that changes quite a lot of files in the todo-list example. You might want to check what's changed before making further changes.

[2020-11-05 20:35] jannyHou commented on #6108
Hi @mrmodise I was on vacation :p I have some other tasks to work on, please feel free to take this task, appreciate it.

[2020-11-05 20:46] mdbetancourt commented on #6737
instead of columnNameComputation is possible just allow a function, then you can add prefix or another things

[2020-11-05 23:58] mdbetancourt opened #6741 "invalid include relation throw 500"
## Steps to reproduce
Add a relation and resolver
call the endpoint with the following filter
[code]
## Current Behavior
[code]
## Expected Behavior
throw a 400 BadRequestError

[2020-11-06 00:09] dhmlau opened #6742 "Docs: Update header about API World award"
## Suggestion

I believe @bajtos mentioned it some time ago that since LoopBack received the API World award for a year now, it might be a good time to remove it from the header of the docs.

## Acceptance Criteria
My proposal:
- [x] Remove it from our docs' header, so that it doesn't appear on every page
- [x] Add some text around it in the [overview page](https://loopback.io/doc/en/lb4/index.htm

[2020-11-06 02:13] arondn2 commented on #4044
Guys, There is a new loopback 4 module for socketio [@loopback/socketio](https://www.npmjs.com/package/@loopback/socketio) and example [@loopback/example-socketio](https://www.npmjs.com/package/@loopback/example-socketio).

[2020-11-06 02:42] rajkaran opened #6744 "File Upload with dynamic path"
I have copied code from file-transfer example which is working fine. I want to send path with file from client side.

below is my fileupload
[code]

How can I get fields submitted with file so I can modify fileName and path. `request.body` before calling this handler is undefined.

[2020-11-06 07:29] norricorp commented on #6733
Just to add this is my first bug fix on github so please be gentle.

[2020-11-06 10:34] achrinza commented on #6744
Hi there, @rajkaran!

`request.body` is undefined as `@requestBody.file()` informs LoopBack 4 to bypass its internal parsers so that Multer can handle them. Is there any reason why the handler can't be called before retrieving `request.body()`?

In the [example](https://github.com/strongloop/loopback-next/blob/148aa0bbf7508a8855c6b13c361fc0ca5059bb30/examples/file-transfer/src/services/file-upload

[2020-11-06 10:39] achrinza commented on #6737
To extend this issue, I think there's 2 values we should allow users to transform: the Model (table) and Property (column) names.

That way the entire database can be fully consistent with the naming convention.

[2020-11-06 14:35] dhmlau commented on #6741
@agnes512, could you please take a look? Thanks.

[2020-11-06 16:16] rajkaran commented on #6744
Hi @achrinza

How will I access fields in `FileUploadProvider `.

My plan is to access request.body within `filename` function in **application.ts**  [filename: (req, file, cb)](https://github.com/strongloop/loopback-next/blob/148aa0bbf7508a8855c6b13c361fc0ca5059bb30/examples/file-transfer/src/application.ts#L62)

[2020-11-07 04:23] haotangio commented on #3047
Hi @dhmlau,

May I have my company logo on Loopback website? We're a big evangelist of Loopback 3 & 4! We've built 25+ projects using Loopback 3 and 10+ projects using Loopback 4 - on production environment. We've tackled many common issues and uncommon issues during those several projects so we understand both Loopback 3 and Loopback 4 very well. And we always consult our customers to use it by d

[2020-11-07 23:11] Ricardope3 opened #6750 "Issue with loopback controller @param.array"
There is another issue I noticed that if you only pass one value e.g. `?numberArray=123` then it throws the error with the code `INVALID_PARAMETER_VALUE` and in details with the message `should be array`, however `?numberArray=123&numberArray=12345` works just fine.

I also noticed that `?numberArray[]=123` works but thats different from how it used to work and also is not how the api explorer sen

[2020-11-07 23:15] Ricardope3 commented on #6750
Having the same issue as  @nflaig in [#5793 (comment)](https://github.com/strongloop/loopback-next/issues/5793#issuecomment-703927426)

My code is like this
[code]

When I only add one element to the string array the following error is displayed

[code]

The url that is being sended looks like this

[code]

[2020-11-07 23:17] Ricardope3 commented on #6750
@bajtos @dhmlau

[2020-11-08 01:10] mrmodise commented on #6750
Thanks for raising the issue. However, the specific issue you are referring has been resolved by this [pull request](https://github.com/strongloop/loopback-next/pull/6542)

[2020-11-08 04:44] baarney opened #6751 "CrudRestComponent returns 404 when trying to create a new resource via PUT"
If I create a minimal app using the REST CRUD example, which uses the CrudRestComponent, then PUTting a new Todo returns a 404, when I believe it should create the resource:

https://tools.ietf.org/html/rfc7231#section-4.3.4

(emphasis mine)

## Steps to reproduce

1. Create an example rest-crud app:
[code]

2. Send the following HTTP request:
[code]

## Current Behavior

- Response is a 404:
[cod

[2020-11-08 06:52] mbnoimi commented on #3490
I believe this feature request is a vital one just like feature request #6002

[2020-11-08 12:00] nflaig commented on #6750
@Ricardope3 I created an [issue](https://github.com/strongloop/loopback-next/issues/6514) for this and it was fixed by @mrmodise.

A new version of `@loopback/rest` has been released and it should be fixed, see [changelog](https://github.com/strongloop/loopback-next/blob/master/packages/rest/CHANGELOG.md).

[2020-11-09 01:23] agnes512 commented on #6741
Thank @mdbetancourt for reporting this! I reckon it's a valid bug and have submitted a PR https://github.com/strongloop/loopback-next/pull/6755 to fix it. It would be great if you could take a look, thanks!

[2020-11-09 07:28] IshuSF opened #6756 "BindingScope path in socketio-controller-factory.ts needs to get corrected"
BindingScope in socketio-controller-factory.ts is hard coded to '../../../packages/context/dist', so this needs to be changes to '@loopback/context'

## Steps to reproduce

In the root of socketio extension, there exist socketio-controller-factory.ts.
Import path of Binding Scope is  ../../../packages/context/dist but there is no such folder.

This will give compile error.

Path needs to be change

[2020-11-09 08:04] mrmodise commented on #5741
@bajtos @raymondfeng PR ready for review. Unfortunately, some pipelines are failing and I don't think they're related to my changes

[2020-11-09 09:55] mayank-SFIN571 commented on #6756
thanks @IshuSF , i'll have made the necessary changes in
https://github.com/strongloop/loopback-next/pull/6757

[2020-11-09 14:43] dhmlau commented on #3047
@haotangio, thanks for reaching out. Optionally, would you also be interested to write a few sentence of your usage to be showcased in https://loopback.io/what-our-users-say.html? Feel free to send me an email to discuss. Thanks.

[2020-11-09 17:51] Fr4nZ82 commented on #6029
i just found that the problem also extends to optional properties. For example, if I have
[code]
and insert the object
[code]
when I do any type of "find", the result is
[code]
that it would not be a big problem except for the fact that when I get back from the client the open api validator gives me an error not being string value but null

[2020-11-09 18:26] #6756 closed

[2020-11-09 19:52] haotangio commented on #3047
Hi @dhmlau, thanks for your response and suggestion. I've just sent you the email for usage showcase. Please check it out and let's discuss there. Thanks!

[2020-11-09 20:37] jannyHou commented on #6751
looking...

[2020-11-09 21:24] jannyHou commented on #6751
@baarney

PUT /todos/{id} aims to replace an existing record, please note the `id` is a required parameter. It calls `replaceById` underneath.

So I would say "PUTting a new Todo" is a wrong use case that's why it gets returned.

And thank you for finding out https://github.com/strongloop/loopback-next/issues/2550, yes that's the feature story we need. Do you mind if I reopen that one and close th

[2020-11-09 23:51] baarney commented on #6751
Thanks for looking into this.

I think that's where we differ. The standard is well defined: PUT should create the resource if it does not exist, so I guess it comes down to whether or not conformance to standards is one of the goals? If it's not, then fine, but it would be good to document that somehwere.

Also, if the CrudRestComponent does not allow this, I can't see any way of creating a new r

[2020-11-10 17:50] jannyHou commented on #3047
@haotangio The logo and testimonial are added in https://github.com/strongloop/loopback.io/pull/1098 🎉  They will show up in our next release.

[2020-11-11 01:56] pktippa opened #6767 "unable to import "generateUniqueId" from @loopback/core"
## Steps to reproduce

As per the [Binding documentation](https://loopback.io/doc/en/lb4/Binding.html):

[code]

## Current Behavior

[code]

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2020-11-11 03:50] mrmodise opened #6770 "docs: simplify middleware based sequence"
## Suggestion
At the moment, the [REST middleware sequence](https://loopback.io/doc/en/lb4/REST-middleware-sequence.html#migrate-from-legacy-sequence) page is mixing explanations with how-to guides and advanced topics. This makes it difficult for our users to find the relevant content (a recipe to achieve the outcome they want).

I propose simplifying this section by applying recommendations from

[2020-11-11 05:22] achrinza commented on #6767
This is usually caused by a dependency or the project requiring a newer version of `@loopback/core`.

Please do the following:
1. Backup the project
2. Test the backup
3. Update the CLI:
[code]
4. Update the project dependencies:
[code]
5. Fix issues caused by breaking changes (if any)
6. Run the application

[2020-11-11 09:56] achrinza commented on #6767
Apologies, please ignore my previous comment; I was able to identify 2 issues:

1. The exports of `unique-id.ts` were not re-exported in `index.ts`
2. `generateUniqueId` is flagged as an `@internal` API.

I've opened #6771 to fix the first issue. As for the 2nd issue, I think it can be a separate discussion. @bajtos, since you introduced that portion of the docs, do you think we should keep the AP

[2020-11-11 12:34] ianjenkinsii opened #6772 "Flag to override authentication-jwt extension's schema"
## Suggestion

Flag to override authentication-jwt extension's schema

## Use Cases

Correcting swagger generation to match one's implementation of User. At present, irrespective of the properties one uses, the swagger generated has auth-jwt properties such as verificationToken which one may not  plan on implementing

[2020-11-11 17:26] dhmlau commented on #6750
Closing as resolved. Thanks!

[2020-11-11 17:26] #6750 closed

[2020-11-11 17:35] nabdelgadir commented on #6742
+1 to removing it from the header. I think it would fit nicely in this section of the overview page:
<img width="904" alt="Screen Shot 2020-11-11 at 12 32 16 PM" src="https://user-images.githubusercontent.com/42985749/98844160-f057cb80-2419-11eb-9180-6934b0761f31.png">

[2020-11-11 17:48] jannyHou commented on #6742
+1 for removing it.

[2020-11-11 18:48] mdbetancourt opened #6773 "Why is required connectors?"
Why we need a Connector or datasource? is not enough with just repositories? there's some way to build connector at the loopback 4 way? or connectors are just legacy code from lb3?

[2020-11-11 23:03] baarney commented on #6751
#788 is probably also relevant (I've updated the expected behaviour from 204 to 201).

If this is a valid case then the response should be 201 for a new resource and 204 for an updated resource.

[2020-11-12 05:20] #6741 closed

[2020-11-12 07:28] earllapura commented on #6225
+1

[2020-11-12 13:16] bajtos commented on #6742
+1 to remove (or move it to somewhere else)

[2020-11-13 07:02] achrinza commented on #6773
A datasource...
- defines the connector and the connector-specific configuration to create a database or service connection.
- defines a set of common functions that is used by repositories (e.g. CRUD)
- is a lift-and-shift form LoopBack 3

A repository...
- defines a set of APIs to be used by the LoopBack 4 application (e.g. CRUD)
- does not posses connector-specific information (e.g. how to esta

[2020-11-13 08:50] vineet-suri opened #6779 "Query with AND & OR combination is not working"
## Steps to reproduce

I am trying to execute this code for the find repository method (which accepts FILTER)

[code]

## Current Behavior

I am getting this SQL for the above query:
[code]
OR clause is completely skipped .

## Expected Behavior

However, when i am trying to execute same query for count method of repository (which accepts WHERE clause, the correct SQL is executed.
Code:
[code]
SQL

[2020-11-13 13:11] norricorp opened #6781 "index.ts is different when created via Appsody vs lb4 app"
## Steps to reproduce

Run appsody init nodejs-loopback and compare with index.ts with project created with lb4 app

## Current Behavior
appsody created index.ts
[code]

lb4 created index.ts (comments removed)
[code]

## Expected Behavior

For them to be the same?

## Link to reproduction sandbox

## Additional information

$   node -e 'console.log(process.platform, process.arch, process.versions.