[2018-03-14 06:51] vijeta-singh commented on #1126
I have see todo example

On success I want to return
{
   "success": "true",
   "data":{json object}
}

On error I want to return
{
    "error": {
                   "field name":"Validation Message"
                 }
}

On error I don't want to return status code.

[2018-03-14 07:34] vijeta-singh opened #1133 "loopback-next more information about error/status code."
On post api call if model validation fails it returns "Bad Request" or "unprocessable entity" with status code.
With status code I want more information  on error so that I can debug.
How I can get more detail on error?

[2018-03-14 15:23] Kaarel opened #1134 "node_modules after production build is too large"
## Description / Steps to reproduce / Feature proposal

As a developer I want a minimal necessary (as in bytes and number of dependencies) package of my loopback service for deployment.

1) `docker run -ti node:alpine sh`
2) `npm i -g @loopback/cli`
3) `lb4 poc` # Selecting all defaults by pressing Enter
4) `cd poc`
5) `npm run build`
6) `rm -rf node_modules` # To ensure no dev cruft
7) `npm insta

[2018-03-14 18:27] shimks commented on #988
I want to expand out the `key concepts` section since there's close to 10 pages to cover here. @strongloop/lb-next-dev what does everyone think?

[2018-03-14 18:27] shimks commented on #988
ps. i didn't unassign kevin :( github is lying

[2018-03-14 18:46] virkt25 commented on #988
@shimks great idea. Done :)

[2018-03-14 18:52] shimks commented on #729
Does anyone know whether this item is done or not?

[2018-03-14 19:59] shimks opened #1137 "move `Concepts` section out of `@loopback/repository`'s README and into the `docs` folder"
## Description / Steps to reproduce / Feature proposal

There are concepts detailed out in the README of `@loopback/repository` that are not present in the docs. To keep the README light-weight and to preserve good information, the `Concepts` section in the README should be migrated over to appropriate pages in docs.

- related to #1121

## Acceptance Criteria
- [ ] remove concepts from README in

[2018-03-15 16:15] shimks commented on #1134
The issue of `@loopback/openapi-v3` having `typescript` as a dependency is not intended and is tracked in issue #1132

[2018-03-15 22:57] b-admike commented on #843
Thank you all for chiming in. After all the discussion and the discoveries made from https://github.com/strongloop/loopback.io/pull/643, my proposal is as follows:

## Assumptions/considerations
- `@loopback/docs` to house static pages from `loopback.io` pertaining to
  LoopBack4 content.
- source of truth to be `@loopback/docs`, so documentation updates should not be
  made in `loopback.io`. That

[2018-03-16 07:06] #1126 closed

[2018-03-16 09:13] vijeta-singh opened #1143 "CRUD api call in the same controller with authentication apis."
I have users controller I want to have crud apis and authentication apis in the same controller.
But I am getting **Unhandled error in POST /user: 500 Error: The key authentication.currentUser was not bound to any value.**  on other get/post api call.

Also I could not find documentation about login and logout ,how I can use these feature of authentication?

[2018-03-16 09:52] Kaarel commented on #1134
Had a bit of time in my hands today so looked further in

* `node_modules\loopback-datasource-juggler` 4.0M, of which
  - `.nyc_output` 1.6M
  - `test` 1.2M
  - `docs` 380K
* `node_modules/lodash/` 3.3M
  - surely not all of the 3+ megs of helper functions are being utilised?
* `node_modules/@loopback/repository` 1.8M
  - `api-docs` 1.2M
* `node_modules/yamljs/` 812K
  - while `node_modules/yamljs

[2018-03-16 13:58] shimks commented on #1019
Tracked by https://github.com/strongloop/loopback.io/pull/643, could you please confirm @b-admike ?

[2018-03-16 14:11] virkt25 commented on #1143
Hi @vijeta-singh are you using `@loopback/authentication`? Can you share either a sandbox to reproduce this issue or some code so it's easier to debug.

That said, with LoopBack 4 we don't have a built in user model that provides `login` / `logout` **yet**. Authentication / Authorization is something we plan to add in the future. We'll be investigating this in this issue: https://github.com/strong

[2018-03-16 14:16] virkt25 commented on #1134
Thanks for the investigation @Kaarel !! This is great.

I agree that it's not helpful to have test coverage data and apidocs bundled in a final release of the package. `apidocs` are available online at http://apidocs.loopback.io but I believe the reasons for doing so is because the site pulls in the docs from the different packages directly. Maybe we should consider a different approach.

As for `

[2018-03-16 14:48] bajtos commented on #1094
My thoughts as the original author of "Best Practices with LoopBack 4": I agree that some parts are specific to design-first approach, I don't mind moving them out of sight. However, there are parts that are still highly relevant:

 - [Defining your testing strategy](http://loopback.io/doc/en/lb4/Defining-your-testing-strategy.html) contains generic advice applicable to both design-first and code-

[2018-03-16 14:54] bajtos commented on #301
From what I remember, our OpenAPI v3 packages are using a 3rd party dependency under the hood, but adding some extra features/types on top of that dependency. I would personally like more if we could contribute our improvements to that 3rd party package and start using it directly. IIRC, @jannyHou had good arguments against that, could you @jannyHou  please re-post them here please?

[2018-03-16 15:25] shimks commented on #1094
@bajtos I agree that those pages, or at least their contents, should be kept.
- For [Defining your testing strategy](http://loopback.io/doc/en/lb4/Defining-your-testing-strategy.html), I think its theme overlaps with [Testing your application](https://loopback.io/doc/en/lb4/Testing-your-application.html) and I'm honestly not sure what to do about these two files. `Testing your application` gives e

[2018-03-16 15:54] raymondfeng commented on #1134
@Kaarel I just published `loopback-datasource-juggler@3.15.5` to remove `.nyc_output`.

For the record, the `test` directory of `loopback-datasource-juggler` contains some shared tests to be run by other connectors. That's why it is included in the published module.

[2018-03-16 15:55] raymondfeng commented on #1134
We publish apidocs along with the modules and use `npm` to manage versions for `apidocs.loopback.io`.

[2018-03-16 18:43] shimks commented on #988
One question that wasn't discussed in the grooming: if a page is deemed outdated and needs a rework, what do we do to the page before creating an issue for the rework? If a code snippet no longer works/compiles, do we:

- fix the code so that it works?
- Or do we slap on a notice saying that the page is outdated and leave it alone?

[2018-03-16 18:51] virkt25 commented on #988
Depends on the amount of effort. What page?

That said if it will require significant updates to even make the code work then just make an issue and bring it up for prioritization. If the content itself needs to be updated then go with creating a new issue.

[2018-03-16 19:00] shimks commented on #988
The question rose up while I was looking over `Controller.md`: it's all about making a controller using the top-down approach (making a spec first instead of having it automatically generated). I think for that page itself, it's fine to do a menial amount of work to make the code work and have an issue to replace the content.

But if you take a look at a giant like `Best Practices`, it's hard to m

[2018-03-16 19:23] shimks commented on #1094
Additionally, I think this issue be broken down into two separate PRs:
- PR/issue to shelve `Best-practices-with-LoopBack` with the exception of `Defining-your-testing-strategy`
  - Rationale: the code and the approach from this section is outdated with the exception of `testing-strategy` so we should take it off of loopback.io
- PR/issue to re-introduce `Best-practices-with-LoopBack` with reworke

[2018-03-19 12:43] NiklasA opened #1144 "The key controller.current.ctor was not bound to any value."
## Description / Steps to reproduce / Feature proposal:
Hi everyone,
I added @loopback/authentication to my LoopBack 4 application (like descriped in [README.md](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/README.md) and I always get the error: "The key controller.current.ctor was not bound to any value.". Does anyone know what I have to do, any hint, where I ha

[2018-03-19 13:34] dhmlau commented on #732
@b-admike , i believe this ticket was created when we were defining what to put in for `MVP`.  I agree with @bajtos  that we've already covered that in getting started.

[2018-03-19 13:42] b-admike commented on #732
Sorry I might have missed this notification, but yeah we are good in this front.

[2018-03-19 13:42] #732 closed

[2018-03-19 14:02] dhmlau commented on #736
With #843, I believe this is done. @b-admike , good to close?

[2018-03-19 14:09] #736 closed

[2018-03-19 14:45] dhmlau commented on #44
Closing as it is no longer needed.

[2018-03-19 14:45] #44 closed

[2018-03-19 15:17] dhmlau commented on #788
@jannyHou , you've mentioned that this is related to the openapi-v3 work that you're doing.  Could you please add more details?  Thanks.

[2018-03-19 15:18] dhmlau commented on #557
@jannyHou , you've mentioned that this might be affected / related to the openapi-v3 work.  Could you please add more details to this ticket? Thanks.

[2018-03-19 15:26] virkt25 commented on #673
+1 for fixing it. I would also like to see this moved from `@loopback/repository` to `@loopback/core` since we are mixing in to the Application class most of the times.

I'd also like to see if we can possibly change the behaviour of MixinBuilder to remove the MixinBuilder class entirely and have something like `class MyApp extends Application.with(Mixin1, Mixin2, ...)`. Reference to something sim

[2018-03-19 15:31] raymondfeng commented on #1144
@NiklasA It would be helpful if you can either describe steps to reproduce the problem or having a sandbox repo to contain the test app.

[2018-03-19 16:03] b-admike commented on #995
@raymondfeng I've been trying to create a test app that demonstrates the use case here. I would greatly appreciate some guidance based on @jannyHou's concerns and the following:

Can we leverage [RepositoryMetadata](https://apidocs.strongloop.com/@loopback%2frepository/#RepositoryMetadata) to reverse lookup the repo based on the model?

Assuming a `Customer` model `hasMany` relation with `Order` m

[2018-03-19 16:57] dhmlau commented on #886
I don't have strong opinion on either approach.  However, when I first use the cli command, i did have the puzzle why it is appending `Controller` without telling me.

If we are appending the suffix automatically, something to consider:
- it might be good to have some hint in the prompt
- might want to be consistent when generating other artifacts (when we support them. e.g. repository, model, etc

[2018-03-19 17:07] shimks commented on #557
overshadowed by https://github.com/strongloop/loopback-next/issues/1094

[2018-03-19 19:02] shimks commented on #918
@bajtos Is it possible for for the base paths to be used _only_ on the routes that are registered through controllers?

[2018-03-19 19:36] virkt25 commented on #918
My understanding of a decorator for basePath would that it would only apply to the API's (and not static files / explorer) ... ideally explorer would have it's own config for the path in the future (or even having it enabled / disabled). Same goes for static files (it's own config).

I would also like to see basePath be capable of building up a nested path. For example:
[code]

[2018-03-19 20:21] raymondfeng commented on #918
IMO, the `basePath` can be potentially configured at various level of the hierarchy, such as:

- RestServer (http://host1:8080/api) (common base path for all controllers)
  - Controller: `/customers` (common base path for all controller methods)
     - Method: `/{id}`

I think we can add decorators to `MyApplication` to provide application/server level settings. For example:
[code]

[2018-03-19 20:38] virkt25 opened #1149 "[Docs] Re-work Extending LoopBack 4"
## Description / Steps to reproduce / Feature proposal

Extending LoopBack 4 section of Docs isn't very cohesive and seems to be all over the place. I am proposing this section be re-written to tell a story / guide the user through creating an extension for LoopBack 4. Ideally something a bit more advanced than `example-log-extension` and the story would explain the concepts of what different tech

[2018-03-19 21:08] shimks commented on #844
I feel like this is something that should be done ASAP before we pile on more features onto our CLI tool. I'm for replacing Yeoman if we can come up with a prototype that addresses the problems that Yeoman faces.

[2018-03-19 22:43] raymondfeng commented on #844
I suggest that we don't rush into a conclusion. It's probably the best choice to have a time-boxed spike to:

1. Verify the pain points that @bajtos has listed and see there are fixes/solutions without abandoning Yeoman.

2. Identify what's needed to build our CLIs using `inquirer` and `ejs` directly.

3. Build a PoC for a simple generator such as `app`.

[2018-03-20 01:45] virkt25 commented on #1094
For pages that end up being shelved, we just need to remove them from the sidebar IMO and don't actually need to rename the page / file. If someone has a direct link, they can read the page still.

Once the page is re-worked, it can be added to the sidebar again.

[2018-03-20 01:59] ganeshkbhat commented on #512
* OAuth Server / Login system
* Current 3.0 like generators
* Example or Implementation based Documentation (bettered). Currently new users can find
* Model property level ACL
* Multi-Tenant level support (add remove model properties for specific tenant, different ACLs for tenant) for models
* Flow Support (possible extended component for Workflow support component based on BPMN/CMMN)

[2018-03-20 02:02] ganeshkbhat commented on #509
## Feature/External Component Support
* Current 3.0 like generators (Model, Relation, API, etc)
* Model property level ACL
* Multi-Tenant level support (add remove model properties for specific tenant, different ACLs for tenant) for models
* Flow Support (possible extended component for Workflow support component based on BPMN/CMMN)
* OAuth Server / Login system External Component
* Storage Extern

[2018-03-20 02:12] virkt25 commented on #509
@ganeshkbhat Great list! Is there any one in particular you would be interested in starting with, depending on which we can see who can help with the guidance from the team.

[2018-03-20 09:00] sbacem commented on #995
is it possible to rename model relation to

[code]
Like in Hibernate, Doctrine or TypeOrm

[2018-03-20 14:54] shimks opened #1152 "Update and revamp `should-as-function.d.ts`"
## Description / Steps to reproduce / Feature proposal

The type information of `should-js` may be outdated and needs to be updated to reflect the latest state of the module.
From @bajtos

- related to https://github.com/strongloop/loopback-next/pull/1148

## Acceptance Criteria

- Copy paste `should.d.ts` from `should` module
  - get rid of type definition that enables object-prototype manipulati

[2018-03-20 15:13] shimks commented on #673
+1 for everything @virkt25 said

[2018-03-20 15:28] shimks commented on #1149
Just wondering, the proposal covers the rewrite/deletion of the subpages as well right?
Here's a couple of additional criterias that I think should be a part of this story:
- Get rid of `language-related-concepts.md` and `Mixin.md` and have their content included in the extension guide
- Rewrite of readme from `@loopback/metadata` to match with the content from the extension guide

If people feel

[2018-03-20 15:55] shimks commented on #731
I no longer think this task is MVP with the reason being that a lot of pages in the docs seem sub-par for the purpose that they're trying to serve: to provide a reference for the users to use loopback4 to build their application.

To me, it's pointless to restructure the docs with existing pages to fit a narrative when the pages themselves haven't been written to fit the narrative.

I personally f

[2018-03-20 16:05] shimks commented on #729
@strongloop/lb-next-dev ping

[2018-03-20 16:14] dhmlau commented on #729
From my understanding, the work is done, we just need to wait for the the doc monorepo work to be finished then we can land.  But @b-admike and @virkt25 probably know better.

[2018-03-20 16:19] virkt25 commented on #729
- Hallway usability testing (this can happen now)
- Blog -- Will be a part of the Month end blog post instead of a dedicated blog post.

Blocked on https://github.com/strongloop/loopback.io/pull/643

- Once that lands, we need to make the tutorial visible on LoopBack.io

[2018-03-20 16:29] virkt25 commented on #1149
Yep. I still need to flesh out the criteria in it's entirety but this is intended to cover the sub-pages under Extending LoopBack 4. As for the metadata page, I reviewed it and I don't think the readme should change, if anything, other readme's need to be as detailed in explaining the APIs and usage.

That said, a new doc should be written for Extending LoopBack 4 covering decorators / usage in a

[2018-03-20 17:51] b-admike commented on #843
Closing as done. Follow up work in #1114.

[2018-03-20 17:51] #843 closed

[2018-03-20 19:32] shimks commented on #731
^^^ @strongloop/lb-next-dev

[2018-03-20 20:30] dhmlau commented on #731
+1 for no need to restructure the current docs.
What stands out is the Mixin page under the Language-related concept.  We could either put it as low priority for MVP or remove from this release.

[2018-03-20 20:35] virkt25 commented on #982
Added a disclaimer about the version that should be used in production to the main LoopBack 4 README. See #1147

[2018-03-20 21:39] NiklasA commented on #1144
Hi @raymondfeng,

I found my issue. The problem was that I integrated `@loopback/authentication` and `example-log-extension` both and that I merged both snippets wrong in `sequence.ts`. I had to move `await this.authenticateRequest(req);` into try / catch block.

**Before:**
[code]

**After:**
[code]

The second mistake was, that I injected `@inject(RestBindings.Http.CONTEXT) public ctx: Context`

[2018-03-20 22:16] raymondfeng commented on #1144
Please note we use a hierarchy of contexts, for example, a request context is created per http request and it uses the app context as the parent. Binding `controller.current.ctor` is only available for the request ctx. The injection of context at constructor level will get the app context.

[2018-03-21 21:43] ambrt opened #1166 "test/ping.controller.test.ts(20,44): error TS2339: Property 'requestHandler' does not exist on type 'RestServer'."
## Description / Steps to reproduce / Feature proposal
lb4 app
cd my-app
yarn install
npm start
## Current Behavior
[code]
## Expected Behavior
starting app

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-03-21 23:03] raymondfeng commented on #1166
Thanks for reporting the issue. Please upgrade to `@loopback/cli@0.5.1`.

[2018-03-21 23:03] #1166 closed

[2018-03-22 13:11] bajtos commented on #1010
I am proposing to modify `lb-tsc` to detect Lerna presence and run `tsc` from the monorepo root directory when Lerna is used. To do so, I need Lerna to provide an environment variable pointing to monorepo root - see https://github.com/lerna/lerna/pull/1343.

In my proposal, people running `lb-tsc` in a single-package repository will keep seeing paths relative to their package root. Same behavior w

[2018-03-22 15:04] shimks commented on #1114
Most of the items in the criteria are done right?

[2018-03-22 15:17] bajtos commented on #673
I was never a fan of MixinBuilder. I am happy with both proposals: fix it or remove it. 👍

[2018-03-22 15:22] bajtos commented on #1094
I am proposing to add "Defining your testing strategy" as a top-level entry under "Best practices" section in the left sidebar, and then remove the other pages from the sidebar as proposed by @virkt25. I think "Testing your application" should be nested under "Best practices" in the sidebar too.

[2018-03-22 15:25] bajtos commented on #1094
I kind of want to consolidate the two together, but I'm curious as to what you think of as the author of both of those two pages.

In my view, these two pages have different goals and should be preserved both.
 - "Defining your testing strategy" explains how to approach testing at conceptual/strategic level.
 - "Testing your application" is a practical guide showing how to write and structure your

[2018-03-22 15:26] bajtos commented on #844
+1 for starting with a spike.

[2018-03-22 15:28] bajtos commented on #886
I am personally fine with the current solution, where `Controller` is appended to the class name. I see how this can be confusing though, I like Diana's proposal to add some sort of a hint - either in the prompt or after accepting the value from the user.

[2018-03-22 15:49] raymondfeng commented on #886
If we decide to recommend a name following a convention, we SHOULD prompt the value so that users can override it.

[2018-03-22 16:04] virkt25 commented on #750
`packages/example-getting-started/src/controllers/todo.controller.ts` should be updated to remove the manual coercion once this issue is fixed! (Also update the related docs for the tutorial!).

[2018-03-22 16:08] arthurdm commented on #753
Hi everyone.  What URL will Loopback use to expose the OpenAPI v3 document?  It would be great if it was consistent with the [Java MicroProfile OpenAPI](http://download.eclipse.org/microprofile/microprofile-open-api-1.0.1/microprofile-openapi-spec.html) model, which exposes the YAML OAS3 document at `/openapi`.

[2018-03-22 16:20] shimks commented on #753
@arash01 Currently, the OpenAPI spec is at the endpoint `/openapi.json` and `/openpai.yaml`, each in their respective formats.

[2018-03-22 16:32] dhmlau opened #1171 "[APIDocs] Missing content from RepositoryMixin"
## Description / Steps to reproduce / Feature proposal
For the RepositoryMixin apidocs section (http://apidocs.loopback.io/@loopback%2frepository/#1798), besides the tsdocs for the class, the rest are missing. For example tsdocs for `repository` and `dataSource` functions are missing.

## Current Behavior
Only the description for RepositoryMixin class shows up, but nothing for the functions.

## E

[2018-03-22 18:03] dhmlau opened #1172 "Monthly Milestone - May 2018"
[TO BE DISCUSSED - TENTATIVE]

- [ ] New web site design on LB4 #817
- Tasks coming out from the juggler relation spike #995
- Tasks coming out from "validation & type conversion" spike #1057
- Configurable response types/formats #436

Legend of annotations:

Mark|Description
--|--
🏃 | work in progress
✋ | blocked task

[2018-03-22 18:14] shimks commented on #731
The last bullet in the criteria isn't done, and I personally think it shouldn't be done anymore. All other points look to be done, but my opinion is that we close this issue

[2018-03-22 19:15] b-admike commented on #673
+1 to @virkt25's proposal as well. I'm okay to remove it until we fix it :-).

[2018-03-22 19:44] shimks opened #1173 "[Spike] Give bottom-up examples in Controllers.md, Routes.md, Repositories.md and Decorators.md"
## Description / Steps to reproduce / Feature proposal
- The four docs in the title all use the api-first approach of wiring the routing in `RestServer`; very often in these docs, an OpenApi fragment is defined first and then registered instead of having it automatically generated.
  - http://loopback.io/doc/en/lb4/Controllers.html
  - http://loopback.io/doc/en/lb4/Routes.html
  - http://loopback.

[2018-03-22 20:18] raymondfeng commented on #1034
Related PRs:

- Extensibility
  - https://github.com/strongloop/loopback-next/pull/657 (Implement extension point/extension pattern with Context)
  - https://github.com/strongloop/loopback-next/pull/983 (Add configuration for extension points/extensions)

- Composability:
  - https://github.com/strongloop/loopback-next/pull/992 (Allows extension points/extensions to be decorated with corresponding

[2018-03-22 20:52] raymondfeng commented on #1034
Some context from the `@loopback/boot` discussion:

A typical LoopBack 4 application will be composed from multiple components. A component is the basic unit and it has both deployment and runtime views. The deployment view is module while the runtime view is context. A component can be the main application module, an embedded local module, or an installed npm module. I want to have main component

[2018-03-22 23:57] virkt25 commented on #1094
+1 to @bajtos proposal for a new "Best Practices" section that houses "Defining your testing strategy" and "Testing your application" while other pages are removed from the side bar till LB4 is more stable and those pages can be updated.

[2018-03-22 23:59] virkt25 commented on #886
+1 for allowing users to override the convention if they want but we keep it.

[2018-03-23 00:03] virkt25 commented on #844
+1 for spike. Aside from verifying the pain points listed above and the plan outlined by @raymondfeng, are there any additional questions we want to answer in this spike?

[2018-03-23 01:16] rmg commented on #878
The original reasons for running private CI for loopback were:
 - test on platforms not supported by available services
 - pre-release integration testing between dependencies

It seems like the value of those may have diminished enough over time that they are no longer worth the maintenance burden.

I think it is, ultimately, up to the Loopback project leaders to decide.

[2018-03-23 01:47] dhmlau commented on #1114
nope.

@b-admike , I forgot to ask when we're grooming this.  Is there anything left that needs discussion or it's ready for estimate?

[2018-03-23 09:53] bajtos commented on #878
I think this may be still useful. For example, when we make changes in loopback-next, it would be great to run CI in loopback4-example-microservices, loopback-extension-grpc, etc. to make sure we are not breaking downstream consumers. Having said that, cis-jenkins does not support monorepos with multiple packages and therefore more work is required before we can have pre-release integration tests

[2018-03-23 12:54] bajtos commented on #1080
The proposal looks good to me.

I am proposing to unify the binding key prefix and the tag to use the same singular value, e.g. `controller`:

[code]

Thoughts?

[2018-03-23 13:13] bajtos commented on #956
I don't have a strong opinion, I am happy to follow the crowd here.

[2018-03-23 13:20] b-admike commented on #1114
@dhmlau I think it's ready for estimation, but it's good to bring it up for discussion to see if anyone has questions about the criteria.

[2018-03-23 13:29] bajtos commented on #436
I don't think so. As I understand #755, it deals with input parameters. This story deals with outputs.

I think the best epic to assign this story to is an epic for implementing a local in-process API Explorer and/or a capability to server static files.

[2018-03-23 13:34] bajtos commented on #754
This can be closed as done, testlab's `validateApiSpec` was updated to check OpenAPI Spec v3 as part of Janny's work on v2->v3 update (IIRC).

https://github.com/strongloop/loopback-next/blob/8d2d8bb5a8373e5ed149d86ba4ff337015b23f2c/packages/testlab/src/validate-api-spec.ts#L6-L20

[2018-03-23 13:34] #754 closed

[2018-03-23 14:13] #925 closed

[2018-03-23 14:14] shimks commented on #754
Looking at the test that it's used in, it seems to only validate the default API spec generated from `createEmptyApiSpec`. Shouldn't we introduce some tests that runs against a spec that's been built from the decorators in `openapi-v3`?. This is something we can test for in `example-getting-started`

[2018-03-23 15:21] shimks commented on #956
+1 for option 1

[2018-03-23 15:30] dhmlau commented on #956
+1 for no manual step.  If there's a better way for apidocs, it's good with me too.
For now, +1 for option 1 too.

[2018-03-23 16:10] shimks opened #1179 "OpenAPI decorator does not properly generate schemas of type `Partial`"
## Description / Steps to reproduce / Feature proposal
From `todo.controllers.ts` in `example-getting-started`:
[code]

It should be noted that the spec generated by `@requestBody` is not correct since the argumnet that the operation takes in _does not_ need an `id` property. One may think that `Partial<Todo>` may be the next best thing, but it's not possible at the moment to specify which propert

[2018-03-23 21:18] shimks opened #1182 "`@repository(Model, datasource)` will not work properly"
## Description / Steps to reproduce / Feature proposal

Add a new controller with the following code:
[code]

## Current Behavior

Going to one of the endpoints when the app is running will cause a timeout.

## Expected Behavior

The endpoint should be able to call its generated repo's method.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writin

[2018-03-24 04:12] Herdubreid opened #1185 "config/datasources.json spelling mistake in Getting Started"
## Description / Steps to reproduce / Feature proposal
Follow the Getting Starting Tutorial
datasources.json:
{
  "name": "ds", <-- should be "db"
  "connector": "memory"
}

## Current Behavior
Errors on testing:
Unhandled error in GET /todo: 500 Error: The key datasources.db was not bound to any value.

## Expected Behavior
Works as downloaded example

_See [Reporting Issues](http://loopback.io/d

[2018-03-26 14:12] dhmlau commented on #1185
@shimks , was it something you were trying to fix in one of your PRs?

[2018-03-26 14:31] shimks commented on #1185
This has been fixed by https://github.com/strongloop/loopback-next/pull/966

[2018-03-26 14:40] dhmlau commented on #1185
I guess the docs was missed out.
@Herdubreid , would you like to submit a pull request?
I believe you're referring to this file: https://github.com/strongloop/loopback-next/blob/master/packages/example-getting-started/docs/datasource.md?

[2018-03-26 17:35] #1182 closed

[2018-03-26 17:56] dhmlau opened #1187 "[Spike] Yeoman vs inquirer+ejs"
Original issue: #844
The outcome of the discussion was to create a spike:

- [ ] Verify the pain points that @bajtos has listed and see there are fixes/solutions without abandoning Yeoman.
- [ ] Identify what's needed to build our CLIs using inquirer and ejs directly.
- [ ] Build a PoC for a simple generator such as app.

[2018-03-26 18:03] dhmlau commented on #886
Currently if we run `lb4 controller`, we have:
[code]

Are we going with:
[code]
I'm not sure how we can better prompt the user for the "first name" to derive the controller class name.  Please comment.

[2018-03-26 19:05] b-admike commented on #956
Option 1 or having them live in their respective package READMEs sounds good to me. Having both would be awesome.

[2018-03-26 20:14] raymondfeng commented on #1010
@bajtos I created https://github.com/strongloop/loopback-next/pull/1189 to allow env vars to be passed to commands.

[2018-03-26 20:39] virkt25 commented on #982
Closing as based on above comment.

[2018-03-26 20:39] #982 closed

[2018-03-26 23:17] raymondfeng commented on #1010
@bajtos I cannot find an elegant way to do what you want. Here is what I have tried to implement with `LERNA_ROOT_PATH` and `lb-tsc`:
[code]
Please note the location of `tsconfig.json` controls the relative path.

There is a conflict of interest:
1. In `LERNA_ROOT_PATH>/tsconfig.json`, we have `"includes": "packages"` to contain TS files from all packages
2. For a given package, we only want to ha

[2018-03-27 11:51] bajtos commented on #886
+1 for @virkt25 proposal above. I would even remove the first "Controller" word from the message, it feels redundant to me.

_**ShoppingCartController** was created in **src/controllers/shopping-cart.controller.ts**_

[2018-03-27 12:09] bajtos commented on #1010
The idea is to execute `tsc` in monorepo root directory and point it to `tsconfig.json` living in the per-package directory.

[code]

In my experience so far, any configuration provided in `tsconfig.json` is relative to the directory where `tsconfig.json` is located.

Below is the hard-coded solution that I am using as a workaround right now, it seems to work flawlessly to me.

[code]

In order to

[2018-03-27 12:11] bajtos commented on #1010
The monorepo-root level tsconfig.json file is intended only for TypeScriptServer run by VisualStudio Code, not for the actual build.

The only option I see is to generate (temporary) package specific `tsconfig.json` at root level. It is pretty ugly.

As I commented above, you can tell `tsc` to compile a project living in a different working directory. This way the compiler include only package fil

[2018-03-27 14:54] shimks commented on #754
@bajtos I think we need to groom the task a bit before we _do_ add in validation. If I was to be working on the task, I wouldn't really know where to create the test and what schema I should be validating.

My proposal is that we repurpose #181 for this task

[2018-03-27 15:18] #1185 closed

[2018-03-27 15:18] dhmlau commented on #1185
@Herdubreid , it's been fixed through #1195.  Thanks.

[2018-03-27 15:52] dhmlau commented on #24
Discussion with @bajtos @raymondfeng:
- allow same model definition to be used to connect to different database
- model has to be uniquely accessible.  Introduce qualified name (namespace).
- it could be current limitation of juggler
- a spike might be needed.

[2018-03-27 15:54] dhmlau commented on #67
Once #1169 has landed, this issue will be resolved.

[2018-03-27 16:05] dhmlau commented on #141
This involves ACL at the controller level and data level.

[2018-03-27 16:09] dhmlau commented on #182
Closing as it's been resolved.

[2018-03-27 16:09] #182 closed

[2018-03-27 16:13] dhmlau commented on #209
Closing it as it's been resolved.

[2018-03-27 16:13] #209 closed

[2018-03-27 16:16] #282 closed

[2018-03-27 16:16] dhmlau commented on #282
Closing it as it's been resolved.

[2018-03-27 16:20] dhmlau commented on #393
Closing this epic and keeping the #550 item.

[2018-03-27 16:20] #393 closed

[2018-03-27 16:21] dhmlau commented on #394
Closing as duplicate of #100

[2018-03-27 16:21] #394 closed

[2018-03-27 16:28] dhmlau commented on #440
Closing as resolved.

[2018-03-27 16:28] #440 closed

[2018-03-27 16:29] dhmlau commented on #441
Closing as resolved.

[2018-03-27 16:31] dhmlau commented on #451
Duplicate of #1069 and #1070

[2018-03-27 16:31] #451 closed

[2018-03-27 16:32] dhmlau commented on #452
http://loopback.io/doc/en/lb4/LoopBack-3.x.html is in place.

[2018-03-27 16:32] #452 closed

[2018-03-27 16:33] dhmlau commented on #454
Closing it as resolved.

[2018-03-27 16:33] #454 closed

[2018-03-27 16:38] dhmlau commented on #514
This could be a blog explaining how to do it.

[2018-03-27 16:45] b-admike commented on #1080
+1 from me as well. I'm also fine with having the same singular value for prefix/tag.

[2018-03-27 16:52] #589 closed

[2018-03-27 16:57] dhmlau commented on #669
Should involve service integration with SOAP services.

[2018-03-27 17:00] dhmlau commented on #678
Closing as duplicate of https://github.com/strongloop/loopback-next/issues/430

[2018-03-27 17:00] #678 closed

[2018-03-27 17:00] virkt25 commented on #1019
Closing as done. This was addressed via https://github.com/strongloop/loopback.io/pull/643

[2018-03-27 17:00] #1019 closed

[2018-03-27 17:07] bajtos opened #1197 "Distributed transaction tracing"
## Description / Steps to reproduce / Feature proposal

Consider the following scenario:

 - Our LoopBack4 app is providing a front-end API layer, integrating data from several backend (System of Record) services.
 - In order to trace requests in our distributed microservices-based architecture, we need to attach a correlation/transaction id to all outgoing request made by our LoopBack4 app.
 - Th

[2018-03-27 18:01] jannyHou commented on #584
Thank you @raymondfeng !
I add a comment here just to remind myself update `@param` and `@requestBody` doc in https://github.com/strongloop/loopback-next/pull/1145 when the namespace/function detect issue is fixed.

[2018-03-27 18:57] raymondfeng commented on #1010
Do you run the script from inside VSCode? Is there a possibility to set an env var? If so, we can improve `run-lerna` to set `--parallel` conditionally.

[2018-03-27 20:03] raymondfeng commented on #1010
I have implemented it in #1189.

The `run-lerna` script adds the following logic:
1. Set `LERNA_ROOT_PATH` env var
2. Detect if the script is run within VSCode and disable `--parallel` if so

[2018-03-27 20:57] b-admike commented on #995
@sbacem thank you for your comment. I think it is possible to use that naming convention and I feel it makes it more intuitive and show the relationship from both sides of the field. It might actually make it easier to describe relationships in one shot as opposed to say having two complimentary decorators (for e.g. `@hasMany` and `@belongsTo`). On the other hand, I'm sure there are points to be m

[2018-03-27 21:12] shimks commented on #988
@dhmlau I don't recall seeing a PR for `openapi-spec-builder` README. Has it already been done as part of @jannyHou's work?

[2018-03-28 10:37] vijeta-singh opened #1201 "loopback-next: hide model property in response"
Hi,

I want to hide some property in api response and I want handle this at model level.
How I can do that?

Thanks

[2018-03-28 11:32] vijeta-singh opened #1202 "How to pass filter fields and where parameter for get api"
In get api response I want selected property.
How I should pass fields filter and where parameter in get api call.

I am passing { "fields": {"id": true, "first_name": true, "last_name": true,"status":true} }.
Getting following error -
Unhandled error in GET /user?filter=%7B%22fields%22%3A%20%7B%22id%22%3A%20true%7D%7D: 500 AssertionError [ERR_ASSERTION]: The query argument must be an object

[2018-03-28 13:04] vijeta-singh commented on #1202
Does loopback-next support api response filer by where option? I did not find any example regrading this in documentation.

[2018-03-28 14:23] #1079 closed

[2018-03-28 14:24] shimks commented on #937
#1079 has been done as a part of stretch goal for this milestone

[2018-03-28 14:30] shimks commented on #181
@jannyHou Could you cross off the tasks here that have been done as part of your work on #753?

[2018-03-28 16:22] jannyHou commented on #181
@shimks I don't think this is done in #753, we don't have tests for package `loopback-next/openapi-v3-types` and `loopback-next/openapi-spec-builder`. I see a bunch of discussion linked to this issue, and am confused by the description

Could you summarize a little bit what are we adding in this issue? tests for `openapi-v3-types` or `openapi-spec-builder` or both?

[2018-03-28 17:22] shimks commented on #181
I think the fact that we need to ask this question is an indication that this story needs re-grooming.
@strongloop/lb-next-dev Can we get a discussion going to get the clarification we need for this topic?

[2018-03-28 18:03] shimks opened #1204 "TSDoc for overloaded functions are not showing up properly"
## Description / Steps to reproduce / Feature proposal

Currently, multiple docs on overloaded functions (such as `route` in `@loopback/rest, rest-server.ts`)
are not rendered correctly; only the first one gets shown and the rest disappears. This is not the way docs for overloaded functions should be treated.

- see http://apidocs.loopback.io/@loopback%2frest/#700

_See [Reporting Issues](http://l

[2018-03-28 19:01] shimks commented on #1204
@raymondfeng Could you take a look at this issue and tell us whether it's a strongdoc problem or a typedoc problem?

[2018-03-28 20:11] virkt25 opened #1206 "Todo Tutorial Feedback -- Issues, Comments, Challenges"
## Description / Steps to reproduce / Feature proposal

As part of #729 I sat down with a user with no prior LoopBack experience (but a developer) and had him go through what is currently known as `example-getting-started` (pending rename to `example-todo`) Tutorial. I made notes during this process and gathered the following feedback from the user.

---

- Node 9 CLI issues after global install
-

[2018-03-28 20:12] dhmlau commented on #181
I guess we need clarification from @bajtos?

[2018-03-28 20:18] shimks commented on #1206
This is some good feedback 👌

[2018-03-28 20:44] virkt25 commented on #753
Closing as completed.

[2018-03-28 20:44] #753 closed

[2018-03-28 21:48] raymondfeng commented on #1204
@shimks Please verify https://github.com/strongloop/strong-docs/pull/110.

[code]

[2018-03-29 01:03] dhmlau commented on #731
Looking at the unchecked boxes in the Acceptance Criteria section:
- Move loopback4-example-log-extension reference from Getting Started section to Extending LoopBack 4 section
   - there is a link to the log-extension under `Extending LB4`: http://loopback.io/doc/en/lb4/Extending-LoopBack-4.html#learn-from-existing-ones.  If there's outstanding work, it will just remove from the `Examples and tut

[2018-03-29 12:01] b-admike commented on #731
+1 to closing this issue as the narrative we are trying to portray here is not compatible with the content we have currently. But we should keep this in mind if we'd like to re-structure the docs in the way proposed in this ticket for the future.

[2018-03-29 14:26] dhmlau commented on #731
Closing as it's no longer relevant.

[2018-03-29 14:26] #731 closed

[2018-03-29 14:59] #47 closed

[2018-03-29 17:39] dhmlau commented on #1044
Removed `Bring questions back to GitHub, use GG only for announcements #47` as part of the stretch goal for [March milestone ](https://github.com/strongloop/loopback-next/issues/937)

[2018-03-29 19:00] Sturgelose opened #1210 "[Feature] Filter in level 2 properties"
## Feature proposal

Summary: Allow to filter by properties in relations (level 2 properties).
Generally, this mostly is a JOIN in SQL language.

Until now there have been many issues in the strongloop/loopback and the strongloop/loopback-datasource-juggler repositories, but until now, none of them has been really been fixed. In the most discussed issue, which started in 2014 BTW (https://github.c

[2018-03-29 19:47] #1010 closed

[2018-03-29 19:58] #1204 closed

[2018-03-29 22:07] shimks commented on #612
+1 for your proposal
i'm assuming we're advocating users name their test files as such for their artifacts?: `user.controller.integration.ts`

[2018-03-30 17:50] shimks commented on #988
Closing as done

[2018-03-30 17:50] #988 closed

[2018-04-01 03:14] virkt25 commented on #729
Blog to be published Tuesday. Closing this as completed.

[2018-04-01 03:14] #729 closed

[2018-04-01 03:34] virkt25 commented on #1044
Removed `App template generates MIT License file without prompt #1079` since it was done in March as a stretch goal.

[2018-04-02 15:09] dhmlau commented on #181
Looking at this issue again, I'm thinking maybe the acceptance criteria is clear enough?  The title of this ticket is `openapi-v3-types module: add basic tests`.  Doesn't it mean adding test for at least `openapi-v3-types`?

Should we leave adding tests for `openapi-spec-builder` as out-of-scope (thus create new issue to track it) or as part of the acceptance criteria (then we edit the criteria ab

[2018-04-02 15:19] shimks commented on #181
Now that I've taken a look at this issue again, I think it's fine as it is now :p (sorry for the confusion). I personally think adding in tests for `openapi-spec-builder` should be done as a part of the task.

[2018-04-02 16:42] virkt25 commented on #937
Closing this as March is done.

[2018-04-02 16:42] #937 closed

[2018-04-02 19:40] dhmlau commented on #181
ok. i'll remove `needs clarification` tag then. thanks.

[2018-04-03 08:09] cblazo opened #1218 "Move packages/examples to main folder"
## Description / Steps to reproduce / Feature proposal
Issue #836 brought the examples back into the monorepo (_/packages/examples_). However, the **packages** folder is already substantially sized. A suggestion is to make a dedicated examples folder in the main project folder, as these have nothing to do with the actual LoopBack REST API logic in the **packages** folder, but just show how to get

[2018-04-03 13:28] b-admike commented on #1114
After having a discussion with Diana, I'm closing this as we have determined the acceptance criteria for this ticket are accounted for (I've updated the ticket). If anyone has a different opinion or other criteria to add, we can re-visit this ticket and discuss further.

[2018-04-03 13:28] #1114 closed

[2018-04-03 14:42] dhmlau commented on #1218
@cblazo , thanks for your feedback.  Coincidently, @bajtos had proposed the same thing about a week ago!

Would you like to submit a PR?

[2018-04-03 18:39] dhmlau opened #1221 "[CLI] Generate model"
## Description / Feature proposal
CLI command to generate model TS file.
- The prompt asks:
   - name of the model
   - property name and type (repeating till user enter empty name for property name)
- The generated model.ts would look something like: https://github.com/strongloop/loopback-next/blob/0411811aa8348e31636fb0fe07b44dd18469280f/examples/todo/src/models/todo.model.ts

### Outstanding qu

[2018-04-03 19:58] dhmlau opened #1223 "[APIDocs] Types and interfaces in openapi-v3-types not showing up in apidocs"
## Description / Steps to reproduce / Feature proposal
In the [apidocs for openapi-v3-types](http://apidocs.loopback.io/@loopback%2fopenapi-v3-types/),
there are only 2 entries show up:
- Function: isReferenceObject
- Function: isSchemaObject

None of the types and interfaces from https://github.com/strongloop/loopback-next/blob/master/packages/openapi-v3-types/src/openapi-v3-spec-types.ts shows u

[2018-04-03 20:05] shimks commented on #1223
Figured out why: `docs.json`doesn't have an entry for openapi-v3-types.ts
I'll make a PR for this

[2018-04-03 20:05] dhmlau commented on #1059
blog post working in progress: https://github.com/strongloop/strongloop.com/pull/121

[2018-04-03 20:27] #1223 closed

[2018-04-03 20:38] dhmlau opened #1225 "[CLI] Generate DataSource"
## Description / Feature proposal
CLI command to generate datasource.  It generates either:
- datasource.ts, or;
- datasource.json with DataSource class that reads datasource.json

Sample for the first approach:
- https://github.com/strongloop/loopback-next/blob/master/packages/repository/examples/juggler-bridge/note-with-repo-class.ts#L22-L25

Sample for the latter approach:
- datasource.json: ht

[2018-04-03 23:24] virkt25 opened #1227 "[RFC] Contribution Docs Usability Feedback"
## Description / Steps to reproduce / Feature proposal

**This issue came about as a result of the March Retrospective**

Need to sit down with a User and have them go through the [Contribution Guidelines](http://loopback.io/doc/en/contrib/index.html) for LoopBack to see if they are simple, clear and concise to understand.

- Make a note of any question a user asks (questions indicate a lack of cl

[2018-04-03 23:30] virkt25 opened #1228 "[Docs] Update ways to contribute to LoopBack"
## Description / Steps to reproduce / Feature proposal

**This issue came about based on the March Retrospective**

Currently the [Contribution Guidelines](http://loopback.io/doc/en/contrib/index.html) indicate that a way to contribute to the project includes the following:
- Reporting issues
- Contribution to code
- Contribution to docs

We need to add a new section to tell users that another way

[2018-04-04 07:59] jwooning commented on #1218
I was working in collaboration with @cblazo on submitting a PR but we ran into a problem with the generators in the cli package. The clone-example generator requires downloading this source code which will have the old example structure for now, and thus the clone-example tests fail until the PR is merged. Should I just ignore the failing tests and submit the PR anyway?

[2018-04-04 14:31] virkt25 commented on #1218
@jwooning @cblazo As long as you update the relevant code in the CLI to fetch from the right folder it is **OK** for some of the tests to fail. That is unfortunately the case any time we have a major refactor such as this one because of how the CLI extracts examples from the monorepo.

Once you have a PR up I can help to land it :) Thank you for the help!

[2018-04-04 18:45] virkt25 commented on #878
`cis-jenkins` and `PR Linter` have been disabled for this repo

[2018-04-04 18:45] #878 closed

[2018-04-04 18:53] virkt25 opened #1232 "[Docs] Local Site Scaffolding"
## Description / Steps to reproduce / Feature proposal

We have a `@loopback/docs` package which is great but it presents a challenge with being able to visualize the site for testing purposes. Common mistakes such as invalid YAML / nested folders / incorrect markdown rendering / etc can't be caught as there is no easy way for us to test our changes by starting up the site with the content from th

[2018-04-04 18:56] virkt25 opened #1233 "[CLI] Local docs command"
## Description / Steps to reproduce / Feature proposal

As we now have a `@loopback/docs` package, I think it might be a good idea to leverage it so they can get a local copy of the docs up and running (helps in offline development).

I'm thinking of a command like `lb4 docs` which can stand up a local copy of the site using Jekyll. It can take an option version parameter matching the version of t

[2018-04-04 19:12] shimks commented on #1233
In my mind, running a local copy of the docs should ideally be accomplished by our script and not our CLI tool. I'd reason that baking that feature into the CLI has no real purpose to the tooling's intended userbase.

[2018-04-04 20:22] virkt25 opened #1234 "[CLI] Watch generated projects"
## Description / Steps to reproduce / Feature proposal

Projects scaffolded and started using the CLI have a start script but any changes such as adding new controllers requires us to manually restart the server. This should be automated using `tsc` watch mode imo similar to how angular does it for it's projects.

I would propose to even go as far as creating a `lb4 serve` / `lb4 start` command si

[2018-04-04 20:27] shimks commented on #1233
Interesting, I thought the feature would be for the developers of `loopback-next` to easily test out whether their newly written docs would be properly rendered or not.

Originally, I was referring to adding in a script in the monorepo to achieve the function that I was thinking about (testing proper docs rendering), but I now can see the appeal in making this feature available for the users as we

[2018-04-04 21:06] Vandivier opened #1235 "ACID compliance, rollback, joins, associations, arbitrary SQL"
## Description / Steps to reproduce / Feature proposal

Feature proposal!

## Current Behavior
Loopback doesn't have associations https://www.netiq.com/communities/cool-solutions/handling-move-events-and-associations-loopback-driver/

Loopback has trouble with or lacks acid compliance including rollback (unlike, say, Sequelize) https://stackoverflow.com/questions/34965732/how-to-implement-acid-tra

[2018-04-05 04:25] hmtai6 commented on #110
Hi @ritch, I wanna would like to join. I have experience on loopback v3 and typescript with react. It will be my honour to join the next version loopback development.

[2018-04-05 13:17] dhmlau commented on #728
Closing this epic as the associated tasks are done.

[2018-04-05 13:17] #728 closed

[2018-04-05 15:08] dhmlau commented on #441
During the meeting with @raymondfeng and @bajtos , we decided to close this ticket as it's been done.  We have @loopback/boot but that's only to boot the typescript classes not the declarative files.  I thought we don't have the spec / schema for what the declarative files should look like.

Reopening it to continue the discussion if it hasn't been done.

[2018-04-05 16:19] dhmlau commented on #1228
Thinking out loud here...
Ways to contribute:
- triaging
  - helping each other out.  There might be issues that look familiar
- provide feedback
  - there are pull requests marked `[RFC]`
  - _Question_: do we want to have a `RFC` label?
  - open new issue for feature proposal
- open issue for bugs
- contribute code
  - if you're starting out, try the ones with issues marked `good first issue`.

[2018-04-05 17:43] #745 closed

[2018-04-06 14:38] #1218 closed

[2018-04-07 01:38] Extarys commented on #512
- ArangoDB connector

[2018-04-07 01:38] Extarys commented on #512
- RethinkDB connector

[2018-04-07 01:40] Extarys commented on #512
To extend what @jpventura said about a payment interface. Could add Stripe.

[2018-04-09 17:34] dhmlau opened #1237 "Enhance developer experience in persistence story"
## Description
Comparing the developer experience for LB3 and LB4 regarding steps involved to get REST APIs up and running that connects to database, it looks like there is room for improvement.

## Current Behavior
Below is the developer experience in the persistance story

|   |  LoopBack 3 | LoopBack 4   | Issue opened |
|---|---|---|---|
| **Scaffold LB app**  | Run `lb` command   |  Run `lb4`

[2018-04-09 17:53] virkt25 commented on #301
@jannyHou any updates for this?

[2018-04-09 19:22] shimks opened #1239 "Allow automatic repository inferrence from `@repository`"
## Description / Steps to reproduce / Feature proposal

`@repository()` should allow the automatic dependency injection from just the property/argument type it's decorating.

[code]

## Current Behavior

Repository pending for dependency injection needs to be manually specified, even if it's already been specified in the property/argument type:

[code]

## Expected Behavior

- allow use case for d

[2018-04-09 21:07] jannyHou commented on #1014
closed in favour of https://github.com/strongloop/loopback-next/issues/301

[2018-04-09 21:07] #1014 closed

[2018-04-09 21:17] jannyHou commented on #301
@bajtos @virkt25 Nice to know we already have an issue to continue the discussion. Copy paste from my V3 prototype PR:

---

From @bajtos
It seems to me we are duplicating a lot of types from openapi3-ts package. I consider it as unnecessary work and extra maintenance cost for the future. Can we keep the number of custom types as small as possible, and contribute any missing features/types to open

[2018-04-09 22:26] jannyHou commented on #788
@Cooker-Monster @dhmlau sorry for the late reply!

I think there are two things related to the status code:

1. Generate the OpenAPI `response` specification
  - It would happen in `openapi-v3`, see [generating operation spec in file `controller-spec.ts`](https://github.com/strongloop/loopback-next/blob/master/packages/openapi-v3/src/controller-spec.ts#L77), we can detect the operation type and ge

[2018-04-10 15:44] dhmlau commented on #699
`non-DP3` because we will still be using the legacy juggler.

[2018-04-10 15:51] dhmlau commented on #734
related to #725

[2018-04-10 16:14] dhmlau commented on #795
Duplicate of #1071

[2018-04-10 16:14] #795 closed

[2018-04-10 16:46] dhmlau commented on #914
related to #918

[2018-04-10 16:49] dhmlau commented on #932
discussed with @raymondfeng , `npm t` is the superset of `npm start`.  Running `npm t` is probably sufficient as testing purpose.

[2018-04-10 17:01] shimks commented on #932
I remember a while ago that this was a problem because `npm t` passed on a cli generated app, but `npm start` didn't

[2018-04-10 17:33] dhmlau commented on #822
Discussed with @raymondfeng , the user experience can be improved here.  Marking it as `bug`.

[2018-04-10 17:33] dhmlau commented on #822
@virkt25 , we've identified this as `DP3`.  Could you please add the acceptance criteria?  Thanks.

[2018-04-10 17:38] dhmlau commented on #817
@virkt25 , i believe we've discussed the url naming proposal earlier (one of v4.loopback.io, loopback.io/v4, loopback.io/lb4).. could you please capture the decision here? thanks.

[2018-04-10 17:47] dhmlau opened #1243 "MVP for LB4 web site"
## Description / Steps to reproduce / Feature proposal
### Timebox for 1 week

For the LB4 web site, we can do it in stages.
The epic is captured in here: https://github.com/strongloop/loopback-next/issues/817

As the first step, the goal is to have a very basic LB4 web site up based on the design team's design (https://ibm.invisionapp.com/share/S4F1BCJTG#/screens/270115273 - available behind fire

[2018-04-10 17:50] dhmlau commented on #1243
Needs discussion - what content do we want to show for `resources` and `contribute`.

**resources** points to:
- http://loopback.io/resources/ or
- new content?

**contribute** points to:
- https://github.com/strongloop/loopback-next/blob/master/docs/CONTRIBUTING.md (preferred)
- https://loopback.io/doc/en/contrib/index.html

[2018-04-10 19:33] virkt25 commented on #1243
`resources` page already has a design with modified content / links to resources.

---

`contribute` should point to the new `CONTRIBUTING` doc since the site will be for LB4. That said, this content is heavily geared to our development style for LB4! As such I think we should preserve some of the old content (under docs for v2/v3) perhaps?

[2018-04-10 19:39] virkt25 commented on #817
The new site will be developed in a new repository `v4.loopback.io` and will have a new domain (v4.loopback.io) ... (this prevents disruptions / breakage for existing site) and once we are done development of the site (and the framework is closer to GA) this new repository will be migrated to `loopback.io` and replace the current site.

The URL scheme for `docs` doesn't change -- follows the same

[2018-04-10 19:53] virkt25 commented on #822
Done.

[2018-04-10 20:25] shimks commented on #822
I think this can be tagged with `good first issue`. Does anyone else agree?

[2018-04-10 20:41] #744 closed

[2018-04-10 20:48] b-admike commented on #1071
From our spike result meeting today regarding #1082, here are some notes and tasks that we think follow from it:

- Refactor more common interfaces into `@loopback/http-server` package from `@loopback/rest` (like low-level http response writer, parser etc.). In other words, from Raymond's comment, `[Continue to] Refactor the http layer constructs and logic out of the @loopback/rest module for bett

[2018-04-11 02:28] dhmlau commented on #1243
Is it a lot of effort to add it in?  I'm thinking to get the MVP web site up and running, then can add more content incrementally.

Since it's a LB4 web site and our intention is to keep LB2/LB3 and LB4 as separate sites.  I guess that's even better?

[2018-04-11 15:04] virkt25 commented on #181
`Add validation test for Swagger document (converted from v3 document)` is no longer relevant as the we only support OAS 3 only now.

[2018-04-11 15:04] #181 closed

[2018-04-11 15:13] dhmlau commented on #756
Closing as all the items are done.

[2018-04-11 15:13] #756 closed

[2018-04-11 15:37] shimks commented on #612
Updating convention on `loopback4-example-microservices`

[2018-04-11 15:39] shimks commented on #612
Closing since it's done

[2018-04-11 15:39] #612 closed

[2018-04-11 15:45] bajtos commented on #1071
My thoughts:

This sounds reasonable 👍

I need more details to be able to understand this point and provide feedback.

Ideally, we should improve our REST package to make it more compatible with `supertest`, so that `testlab-http` becomes obsolete and people can use `supertest` directly. I am not sure if that's possible though!

Hmm, this deserves deeper consideration. What are the reasoning for t

[2018-04-11 15:52] dhmlau commented on #895
@bajtos , i think some of the description of the acceptance criteria is out of date.  Could you please update it so that the team can estimate?
also, do you think this is `good first issue`?

[2018-04-11 16:42] dhmlau commented on #760
@bajtos , assigned this to you for grooming.  Could you please add the acceptance criteria? thanks.

[2018-04-11 16:48] dhmlau commented on #788
Discussing with @raymondfeng yesterday, the goal here is that given the default response code being `200`, how we can let users to customize the response status code and even body.  One possibility is to see what we can do with the `@post` decorators.

[2018-04-11 16:48] dhmlau commented on #788
I don't think this task has a clear acceptance criteria.  Moving it back to `needs discussion` column.

[2018-04-11 17:44] Cooker-Monster commented on #788
I can't figure out how tricky this point is inside the existing code (I'm mainly an enthusiastic user of the framework) but to sumup my way of thinking, every time I want to promote Loopback to dev teams, I'm facing a little desapointment when POST returns 200 in my demo. So debate is always fructeous, but I would like to find a quick workaround to fix this important point.

[2018-04-11 21:50] tallboy commented on #110
Hi @ritch I'd also like to contribute to the `loopback-next` project.  Thanks!

[2018-04-12 12:39] sbacem commented on #512
Client SDK for Angular

[2018-04-12 19:55] virkt25 commented on #1201
Hi @vijeta-singh, I'm not entirely sure what you mean by hiding some property in api response?

But if you wanted to filter a response to exclude some properties you can try the following.
- Create a new `SEND` Sequence action and register that with your application ... this new action can filter the properties you would like to exclude.

OR

- You can create an entirely new Sequence Action that y

[2018-04-12 20:14] jannyHou commented on #962
@shimks
**juggler definition** contains all model settings, which includes schema info and other things like relation definitions.
So my understanding is conversion "juggler definition -> JSON Schema" doesn't cause losing info, but "JSON Schema -> juggler defintion" does...
"JSON Schema" is used for describing "schema" specifically, extending it is feasible while that would against its original pu

[2018-04-12 20:52] b-admike opened #1253 "Refactor http layer constructs and logic out of the @loopback/rest to @loopback/http-server"
## Description
With the introduction of #1082, `@loopback/http-server` unifies common interfaces for creating endpoints using http/https protocols. This means that `@loopback/rest` can consume fortified `Request` and `Response` objects, and http handlers from concrete implementations of `@loopback/http-server` such as `@loopback/http-server-express` and worry only about how to handle controller/ro

[2018-04-13 14:24] shimks commented on #962
@jannyHou If the concern is about losing juggler information, specific juggler information can be stored at a different key in the metadata space and could be retrieved back when JSON Schemas are converted into a juggler definition.

[2018-04-13 15:10] dhmlau commented on #110
@hmtai6 and @tallboy , thanks for your interest!  Invitations sent.

[2018-04-13 18:37] hacksparrow opened #1255 "[Spike] Express vs. Koa for HTTP processing"
**Time boxed to 1 week**

Created from the discussion at https://github.com/strongloop/loopback-next/issues/1071.

List supported use-cases for http processing; what do we need? CORS, compression, static file serving etc.
Look into maturity, availability of middleware, adoption, etc

This spike is for doing a practical and deeper comparison between Express and Koa for our underlying HTTP framework

[2018-04-13 20:52] shimks commented on #1057
For validation, I was thinking of letting users provide a JSON schemas to validate their controller parameters and thought about using decorators for that purpose like this:
[code]

Unfortunately, I don't think it's possible to access the arguments from a parameter decorator, so it needs to be done in a method decorator. Then the question to answer is, do we want this feature to be available at th

[2018-04-13 22:10] dhmlau commented on #1243
Based on feedback we have so far, I've updated the acceptance criteria.
I'm removing `resources`, because we don't need it as the minimal viable product.

@strongloop/lb-next-dev , PTAL.  Would like to get it estimated the coming Tue. Thanks!

[2018-04-13 23:45] b-admike commented on #1071
Thank you for your feedback @bajtos. I think the best person to explain further for the concerns you raised is @raymondfeng.

[2018-04-13 23:50] raymondfeng commented on #1071
In my PR, the HttpEndpoint already exposes `url` (bound) which can be used by supertest (`request(endpoint.url)`).

[2018-04-13 23:56] raymondfeng commented on #1071
From what I remember, the current Sequence is intentionally designed to be independent of/decoupled from DI/IoC. Ideally, people should not be forced into our IoC to write a custom Sequence, but I am ok to revisit this idea.
The second use case to consider is the short-hand app.handler((req, res, sequence) => {/* custom sequence*/}). Do we want to keep it around? Will it be possible to implement t

[2018-04-16 13:42] bajtos commented on #895
Since almost all example repositories were either moved to our monorepo or deprecated, this story is no longer relevant. There is only one example repository outside of loopback-next, [loopback4-example-microservices](https://github.com/strongloop/loopback4-example-microservices), which is a monorepo containing multiple services, therefore `tsc --watch` is not so straightforward to set up.

Instea

[2018-04-16 13:42] #895 closed

[2018-04-16 13:48] bajtos opened #1259 "Enable tsc watch in projects scaffolded by lb4 CLI tool"
## Description / Steps to reproduce / Feature proposal

Our old extension starter repository has a neat dev setup that enables quick red-green-refactor cycles by leveraging incremental transpilation via `tsc --watch`, see [DEVELOPING.md](https://github.com/strongloop/loopback4-extension-starter/blob/e9062ca01f9bff28d6d2ebe077cba84c242ae96e/DEVELOPING.md):

We should update the empty project templa

[2018-04-16 13:55] bajtos commented on #760
@dhmlau done

[2018-04-16 14:01] virkt25 commented on #1259
related to https://github.com/strongloop/loopback-next/issues/1234

(difference being a `lb4 serve / start` command to trigger the underlying `start:watch` script.

Shouldn't `Developing.md` be the document on developing `loopback-next` the project, not loopback4 applications? I think perhaps a new document for developing a `lb4` app or information on running the app should be part of the README o

[2018-04-16 15:10] bajtos commented on #788
Few more ideas to consider:

When returning `201 Created`, the response should include a `Location` header providing a URL of the newly created entity to clients. See https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.2.2, emphasis is mine:

If we had support for configurable response types/formats already implemented (see https://github.com/strongloop/loopback-next/issues/436), then th

[2018-04-16 15:20] b-admike commented on #1259
@virkt25 You'd like the information to be in the README as opposed to `Developing`, right? IIUC, I think @bajtos meant a `Developing.md` accompanying the scaffolded application. It is for development of the app, so I don't mind it being in its own `Developing.md` but it can also be in the README under `Developing your app` or just `Developing` section.

[2018-04-16 16:00] virkt25 commented on #1259
Ooh ok. I thought he meant the the `DEVELOPING.md` doc we have for developing `loopback-next`.

I'm ok with a `Developing.md` being created in a scaffolded application.

[2018-04-16 18:42] b-admike commented on #1057
@shimks IIUC we are talking about Tier 1 validation. I think your approach sounds reasonable and like the choice of JSON schema representation for the validation. +1 for using method decorators for parameters. I'm not aware of any drawbacks to this. Based on what you said for lack fo support for regex patterns for types in OAI spec https://github.com/OAI/OpenAPI-Specification/blob/master/versions/

[2018-04-16 19:50] shimks commented on #1057
@b-admike This is what we have for LoopBack 3 so far https://loopback.io/doc/en/lb2/Validating-model-data.html#using-validation-methods. Based on my short briefing with @raymondfeng, apparently this isn't good enough and we should be looking to replace the validation functions with something more robust.

[2018-04-16 20:06] jannyHou commented on #788
I created a PoC PR for approach "reading success statusCode from `response` spec": https://github.com/strongloop/loopback-next/pull/1260, summarized our discussion in it. Maybe we can continue discussion in that PR then post the solution here.

[2018-04-16 20:40] jannyHou commented on #1243
@dhmlau have we decided which ui framework to use? BootStrap?

[2018-04-16 21:16] jannyHou commented on #1057
@shimks For the validation part, I think the job of parameter decorator and method decorator would be:
- param decorator: register the validation function for a certain argument in Reflect metadata
- method decorator: retrieve the validation functions and apply them on arguments

This is not related to the path decorator IMO, so let's keep it as a separate decorator. e.g.
[code]

And +1 for @b-adm

[2018-04-16 21:27] jannyHou commented on #1057
@shimks OpenAPI spec supports `pattern` in `SchemaObject`, see https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#schema-object

And could you share more details like what's the usage of `pattern` in validation?

[2018-04-16 22:17] shimks commented on #1057
@jannyHou I can't I believe I missed that (`pattern`). `pattern` is essentially just regex for limiting whatever you're validating (see https://spacetelescope.github.io/understanding-json-schema/reference/regular_expressions.html#example).

I think since `pattern` exists for OpenAPI, it's possible to use openapi schemas to do validation, but I feel it'd be harder to do individual validation of eac

[2018-04-16 22:28] raymondfeng commented on #1057
Here is how I see OpenAPI parameter validation works:

1. How to provide the metadata for validation
    - Each parameter has a TypeScript/JavaScript type (from the decorator or inference)
    - The OpenAPI spec for parameter can specify its type and format (subtype)
    - We can either extend OpenAPI spec with more constraints or decorate parameters to supply such metadata

2. How validation is e

[2018-04-16 23:26] #1059 closed

[2018-04-16 23:27] dhmlau commented on #696
Closing as done.

[2018-04-16 23:27] #696 closed

[2018-04-17 01:42] virkt25 commented on #1243
BootStrap is fine IMO. We might not even need this if we start with the default template provided by the static site generator -- I would call this an implementation detail. Using a SPA framework such as `Angular / React` would be an overkill.

A few other choices to consider / worth discussing however (and ideally this doesn't end up requiring a spike ... ) ... is what static site generator we sh

[2018-04-17 01:43] virkt25 commented on #962
What brought about the requirement for this switch?

[2018-04-17 07:41] bajtos commented on #1243
If the LB4 site is going to have a different URL, then I think it makes more sense to point to LB4-specific contribution guide (i.e. loopback-next's CONTRIBUTING.md).

FWIW, we have a related story that's out of DP3 scope: https://github.com/strongloop/loopback-next/issues/950 _Update Contrib docs to match the new reality_.

[2018-04-17 08:51] bajtos commented on #1057
As for Tier1 validation, my understanding is that such validation rules will be declared at controller method level. In that case, I'd prefer to allow developers to use transport-specific decorators like OpenAPI spec `@param` to define validation rules. If needed, we can extend OpenAPI spec with our custom contraints, as mentioned by @raymondfeng.

Upsides:
 - It's easy to support design-first (to

[2018-04-17 12:29] bajtos commented on #1259
Sorry for the confusion! Yes, I meant to add `Developing.md` to the scaffolded applications. I don't mind to include the instructions for app developers in the README of the scaffolded application if we like it more that way.

What's important to me: when we scaffold an application using a non-trivial build setup (i.e. TypeScript), the scaffolded app should contain documentation on how actually de

[2018-04-17 15:11] shimks commented on #1057
Here's what I have down so far for tier 1 validation: https://github.com/strongloop/loopback-next/pull/1256/commits/6b40a3363a6d255d7c72ca063f77616c2792324a. Please look at the test file for the use case.

The PoC comprises of doing validation with JSON Schema, which I feel lines up better with our current support for bottom-up approach. This way we'd also have access to popular validators such as

[2018-04-17 18:42] b-admike commented on #760
We need to decide the http library we are going to use going forward from https://github.com/strongloop/loopback-next/issues/1071#issuecomment-380241710 and https://github.com/strongloop/loopback-next/issues/1255 and whether or not it's compatible with `Shot`.

[2018-04-18 15:25] bajtos commented on #760
FWIW, `Shot` is a stub for the HTTP request/response objects as provided by Node.js core. I'd expect any framework-specific request/response objects to extend these builtin objects, therefore `Shot` stubs may be still useful. We'll see!

[2018-04-18 15:46] shimks commented on #1057
I'm about to start investigation for tier 3 validation and was wondering if `uniqueness` is the only example of it?

[2018-04-19 12:52] bajtos commented on #1057
An example that comes to my mind - I guess it would have to be implemented as a custom validator:

Let's say we have a `Price` model that has a property `Currency` of type string enum. Let's say we maintain the list of valid currencies in another table, where the currency name is NOT a primary key. In that case we may want to write a validator to ensure `price.currency` always contains one of the

[2018-04-19 14:48] dhmlau commented on #990
@raymondfeng @shimks @virkt25, @bajtos proposed to close it.  What do you think?

[2018-04-19 14:53] #1033 closed

[2018-04-19 15:03] dhmlau commented on #1080
@raymondfeng @virkt25 , do you think this should be tagged as `DP3`?

[2018-04-19 15:10] dhmlau commented on #1117
cc @bajtos

[2018-04-19 15:12] dhmlau commented on #1120
ping @bajtos

[2018-04-19 15:32] dhmlau commented on #1171
The problem is the information is at the level inside the function body, what we can do is to put more information at the top level.

cc @raymondfeng @bajtos

[2018-04-19 15:36] dhmlau commented on #1127
Discussed with @bajtos , what's in scope for `DP3` is to decide as a team on what to do with this.

[2018-04-19 15:39] dhmlau commented on #1087
Let's do a spike and to get more information on how it can help us.

[2018-04-19 16:37] virkt25 commented on #1127
This isn't something too difficult to implement IMO and it should be implemented. Here's some modules we can leverage to accomplish this task:

- https://www.npmjs.com/package/make-index
- https://www.npmjs.com/package/ts-indexer
- https://www.npmjs.com/package/create-ts-index

[2018-04-19 18:15] shimks commented on #1171
The problem with the docs in `repository.mixin.ts` is that the order in which the docs introduce {summary, example, params} is wrong. Currently, the docs are written in this order: summary -> params -> example. It should be written in this order: summary -> example -> params. Just switching those should fix the problem (I think). Can someone with enough bandwidth try this?

[2018-04-19 21:01] shimks commented on #1057
For the case of validation of uniqueness, @raymondfeng and I have found that it should be possible to update the juggler definition to support uniqueness for the DBs that support the constraint. For DBs that don't support it, we think it's ok to defer the validation feature for uniqueness. If the users need it, I think they can use our tier 4 validation feature to do it themselves.

Thoughts @bajt

[2018-04-19 22:40] b-admike commented on #760
Yeah I think we all agree that they'd be useful, it's just the compatibility we'd like to figure out (which, like you said, should not be an issue since they extend from the core).

[2018-04-19 23:12] b-admike opened #1267 "Integration of services with controllers (technical preview)"
## Description

Explore how service integration works with controllers. This task is an outcome of https://github.com/strongloop/loopback-next/issues/1069.

## Use case

A controller needs to invoke a REST API or SOAP web service.
[code]

Or
[code]

We'll configure two datasources and bind them to the context.

- pricingService: REST API
- shippingService: SOAP Web Service API

[code]

## Acceptan

[2018-04-20 15:59] dhmlau commented on #960
During the discussion with @bajtos , he thinks some part of it (if not all) might be fixed already.  @shimks, could you please verify?
If it's not fixed, it would be a good candidate for `DP3`.  Thanks.

[2018-04-20 17:17] dhmlau commented on #1225
Things to consider:
1) CLI to generate the datasource
2) bootstrap any LB3 datasources.json and model definition.

[2018-04-20 17:25] dhmlau commented on #1234
Closing in favor of https://github.com/strongloop/loopback-next/issues/1259, since that issue has more detailed description.

[2018-04-20 17:31] dhmlau commented on #1253
The PR from @raymondfeng covered most of the requirements already.

[2018-04-20 17:35] raymondfeng commented on #1239
The injection of `repository` should be explicit: `@repository` is required. I'm fine to make the arg optional if it can be inferred from the type.

[2018-04-20 17:40] shimks commented on #960
I'm ok with closing this. The schema doesn't exist anymore so it's hard to verify considering `openapi-v2` doesn't exist anymore.

[2018-04-20 17:42] jannyHou commented on #1117
Export operation decorators from `rest` sounds good to me, and that's the way we suggest in the documentation.

[2018-04-20 17:48] dhmlau commented on #1232
Probably fixed in https://github.com/strongloop/loopback-next/pull/1254 ?

[2018-04-20 17:48] dhmlau commented on #1233
probably fixed in https://github.com/strongloop/loopback-next/pull/1254 ?

[2018-04-20 17:53] dhmlau commented on #1201
In discussion with @raymondfeng , there are 2 things we can consider:
1) need infrastructure to support the declarative approach for defining models and allows the "hide" property
2) another possibility is to provide pluggability of actions (in the form of extensions) to allow application developers to plug in some transform for the response.

[2018-04-20 17:55] dhmlau commented on #1202
@vijeta-singh , this is related to the type coercion.  In favor of https://github.com/strongloop/loopback-next/issues/750, I'd like to close this issue and continue the discussion over there.  Thanks.

[2018-04-20 17:57] #1202 closed

[2018-04-20 19:09] virkt25 commented on #1243
The site will be static, deployed to GitHub Pages. Travis will be needed to build the static site (convert `.md` -> `.html`). GitHub Pages does this for us for Jekyll sites but if we go with a `Node` static site builder such as VuePress / Hexo then we need Travis to run the build stage and deploy to GitHub Pages.

[2018-04-20 19:09] virkt25 commented on #1243
Blueprint link posted.

[2018-04-20 19:53] dhmlau commented on #1255
@hacksparrow , i've moved this task to In Progress, because you're already working on it.

[2018-04-20 22:14] virkt25 commented on #1233
#1254 sets up a possible foundation for this task but it is not the same as this task. This task is about enabling the `lb4` CLI to have a `docs` command to spin up a local copy of the docs site whereas #1254 is more about testing the `@loopback/docs` package to make sure nothing breaks.

[2018-04-20 22:17] b-admike opened #1268 "Type safety for services"
## Description
We need to have TypeScript declarations for the service interface as well as the data model (Developers to craft the declarations?).

Related to #1069

## Use Case(s)
## Acceptance Criteria
- [ ] Introduce CLI tooling to discover service and introspect the service specifications and generate the corresponding TypeScript artifacts
- [ ] Make this mapping pluggable and extensible to s

[2018-04-20 22:25] #1232 closed

[2018-04-20 22:46] virkt25 commented on #1143
Closing the issue due to inactivity. Comment / Ping me to have it re-opened.

[2018-04-20 22:46] #1143 closed

[2018-04-20 22:52] virkt25 commented on #1239
I think we need to be consistent with other injection decorators and this might be better as:

`@repository(MyRepository) myRepository` ... and myRepository will be assumed to have type `MyRepository` which is what I believe `@inject` does ... or was proposed in a PR.

[2018-04-20 22:57] virkt25 commented on #1234
This task is related but not the same ... I would say this is blocked by #1259 not a duplicate. This is a CLI improvement using the implementation of #1259

This is a proposal to add a `lb4 start` or `lb4 serve` command which starts the LB4 project with watch mode enabled (implemented in #1259).

[2018-04-20 22:57] virkt25 commented on #1234
If it's decided we don't want to implement this at all I'm ok to close it but please state that.

[2018-04-21 19:02] cajoy opened #1269 "Can't create model with related model"
## Description / Steps to reproduce / Feature proposal

I would like to create model with related model/s . but can't

[code]

## Current Behavior

Getting following error:

`Unhandled rejection TypeError: Class constructor Feature cannot be invoked without 'new'`

How can I create model with related model? I can't find any example for that

[2018-04-22 16:38] jannyHou commented on #1269
Hi @cajoy the relation implementation in loopback-next is still in progress, see our spike story in: https://github.com/strongloop/loopback-next/issues/995

[2018-04-22 17:30] cajoy commented on #1269
Thank you @jannyHou, that explains

[2018-04-23 06:31] ThatDevSteve commented on #110
Hi @ritch

I'd love to contribute to Loopback 4 thanks

[2018-04-23 13:54] bajtos commented on #1133
Hello @vijeta-singh, sorry for the long delay. What is the version of `@loopback/core` and `@loopback/rest` you are using? How can we reproduce the error on our side?

[2018-04-23 14:35] b-admike opened #1272 "Promisification of Juggler DAO methods for service integration"
## Description
As part of weakly typed service integration for REST/SOAP and other services, LoopBack 3 connectors should have support for promises. This would let us use async/await. We'd like to change [this](https://github.com/strongloop/loopback-next/blob/service-proxy/packages/service/test/unit/service-proxy/service-rest.unit.ts#L59).

Related to #1069
## Acceptance Criteria
- [ ] Add promise

[2018-04-23 15:51] raymondfeng commented on #1267
See https://github.com/strongloop/loopback-next/blob/970524567a15f1162bc244f060eb602b7647f9c5/packages/service/test/unit/decorators/service-proxy.decorator.unit.ts

[2018-04-23 16:02] b-admike commented on #1253
@dhmlau Yes I think so; this story is for the remaining items.

[2018-04-23 16:06] hacksparrow commented on #1253
At the moment,`http-server-koa` is non-functional (which is on the #1082 branch). We need it to be working to compare Express vs. Koa. I am working on it to make it functional.

[2018-04-23 16:07] hacksparrow commented on #1255
This is currently blocked. We need `http-server-koa` to be working, before we can do the evaluation.

[2018-04-23 16:09] raymondfeng commented on #1255
It's not necessarily true. We can start to answer most of the questions in this story without having a working `http-sever-koa`.

[2018-04-23 16:44] jannyHou commented on #1057
Hope I didn't misunderstand the whole spike, I think we want to apply validator when given the OpenAPI spec, not the other way around, generate the OpenAPI spec according to validating rules.

@bajtos I still feel as the initial implementation, it would be good to have a general validator instead of an OpenAPI specific one. How about using composed decorator? e.g.
[code]
The OpenAPI decorator is g

[2018-04-23 17:27] dhmlau commented on #1062
duplicate of #1225

[2018-04-23 17:27] #1062 closed

[2018-04-23 17:36] raymondfeng commented on #1272
We need to check the following connectors:

- [x] [loopback-connector-rest](https://github.com/strongloop/loopback-connector-rest): See https://github.com/strongloop/loopback-connector-rest/blob/master/lib/rest-builder.js#L448
- [ ] [loopback-connector-soap](https://github.com/strongloop/loopback-connector-soap):
- [ ] [loopback-connector-swagger](https://github.com/strongloop/loopback-connector-s

[2018-04-23 18:14] jannyHou commented on #1269
@cajoy you are welcome! I am closing this issue and let's use #995 to track the progress & everyone's option. We can continue the discussion there.
Feel free to reopen this one if you have other questions!

[2018-04-23 18:14] #1269 closed

[2018-04-23 18:38] b-admike commented on #962
@shimks can you groom the ticket description to have an acceptance criteria as well? @strongloop/lb-next-dev thoughts?

[2018-04-23 19:42] raymondfeng commented on #1087
-1. There is no free-tier: https://codeclimate.com/quality/pricing/

[2018-04-23 19:44] shimks commented on #1117
We need further discussion for using `@inject` from `core` vs `context` and `context` vs `metadata`. We could create a separate issue for discussion on those topics and have just the `rest` vs `openapi-v3` issue up for estimation.

[2018-04-23 20:31] shimks commented on #1057
@raymondfeng @bajtos What kind of UX are we looking for in tier 4 validation? From what it sounds like, we need to be able to give users access to the arguments from the controller method to have them add in their own logic, but the easiest solution to this I feel like is for the users to just do this type of validation in the method itself, both for the users and for us. What am I missing?

[2018-04-23 20:47] sbacem commented on #1087
Free for open source

[2018-04-23 20:50] shimks commented on #1137
Acceptance criteria updated.

[2018-04-23 20:50] raymondfeng commented on #1087
@sbacem Thank you for clarifying. I didn't notice the `fine print` (**Free for open source. Forever.**). It's surprising that the project does NOT highlight it.

[2018-04-23 21:11] shimks commented on #962
@strongloop/lb-next-dev Original post has been updated with a proposal.

[2018-04-24 08:50] bajtos commented on #1272
A bit of additional context. In theory, I see two possible approaches:
 1. Improve service connectors listed above to support promise/await invocation of the DAO methods they are defining, see Raymond's comment above.
 2. Modify `DataSource` implementation to automatically promisify (add Promise support to) all methods provided by connector's DAO. This can be tricky, because at DataSource level, w

[2018-04-24 11:13] bajtos commented on #788
FWIW, the latest version of HTTP/1.1 spec allows the `Location` header to contain a relative path.

See https://tools.ietf.org/html/rfc7231#section-7.1.2, emphasis is mine:

   specific resource in relation to the response.  The type of
   relationship is defined by the combination of request method and
   status code semantics.

   form of a relative reference ([RFC3986], Section 4.2), the final

[2018-04-24 11:25] joeytwiddle commented on #110
Hi, I was recommended Loopback in 2015, but I wanted thoughts I would wait until it was mature before I started using it. Now we're starting a new project at work, so I thought I would try out Loopback 4.

Unfortunately the boss wants a working demo by the end of the week, and I'm still stuck on authentication. Oops!

It does look pretty powerful though. TypeScript has already strong-armed me into

[2018-04-24 11:52] joeytwiddle opened #1275 "The key authentication.currentUser was not bound to any value (mixed auth/noauth controller)"
I have started from a generated server and tried following the [authentication instructions](https://github.com/strongloop/loopback-next/tree/master/packages/authentication).

But whenever I try to access ~an authenticated~ a route, I see this error:
[code]
~Where is the CURRENT_USER provider supposed to get added to the registry?~ ☑️ Answered below.

~Is there an example server with working authe

[2018-04-24 12:09] ghulamhussainK commented on #110
@joeytwiddle  version 4 is a work in progress . it would be suitable for production in 2019.you should start with v 3. as it is the mature and stable one :smile:

[2018-04-24 12:26] b-admike commented on #760
I was looking around and it looks like `Shot` has 8 dependents looking from npmjs. One of its dependents, `artificial`, ports it to work with Express:
[code]
link: https://www.npmjs.com/package/artificial
So it might not work right off the bat with Koa as well.

[2018-04-24 13:16] bajtos commented on #918
I agree with Raymond's comment that `basePath` can be configured at various levels of the hierarchy.

I am not sure if it's a good idea to allow the `@api` decorator to be used at application (and RestServer?) level. Right now, we provide [`RestServer#api()`](http://apidocs.loopback.io/@loopback%2fdocs/rest.html#762) and [`RestApplication#api()`](http://apidocs.loopback.io/@loopback%2fdocs/rest.ht

[2018-04-24 13:26] bajtos commented on #1087
I don't know much about CodeClimate. What I would like as the outcome of this spike, is some sort of a demonstration showing us how we can benefit from CodeClimate in our day-to-day work. It would be even better to show a problem we already have in our code base that we are not aware of but which is highlighted by CodeClimate.

The second part of the spike should explore downsides of integrating C

[2018-04-24 13:37] bajtos commented on #1117
I agree that LB4 consumers (app and extension authors) should be importing REST-related decorators from `@loopback/rest`.

Well, is the effort required to groom, estimate and plan those follow-up issues worth it? I'd personally prefer to fix all three topic in this single story.

In my opinion, people should import symbols from the highest-level package they are depending on.

 - Extensions that d

[2018-04-24 13:52] b-admike commented on #1053
This issue is still valid and the description has been updated with more details on what needs to be done. We would need to create the decorator shortcuts for the common data types and preserve the old API for usage with custom array item types.

[2018-04-24 14:28] shimks commented on #1117
@bajtos I agree with what you've proposed there and will be updating the acceptance criteria to reflect the proposal if I can get more :+1:s from the others.

[2018-04-24 14:31] bajtos commented on #1120
I think it's a great idea to switch from GitHub to npm. Beyond the problems described above, this change will also fix the problem when examples on `master` branch are using new APIs that have not been published to `npm`.

Downloading (and extracting!) tarballs from npm is super easy thanks to the official npm client library called `pacote`. It not only supports semver and downloads the correct ve

[2018-04-24 14:45] bajtos commented on #1173
AFAICT, [Controllers](http://loopback.io/doc/en/lb4/Controllers.html) describe code-first approach too, see http://loopback.io/doc/en/lb4/Controllers.html#writing-controller-methods.

Having said that, I agree the page may need some reorganization to increase visibility of the code-first approach and decrease visibility of the design-first approach.

Similar comment applies to [Decorators](http://

[2018-04-24 14:58] bajtos commented on #1179
I don't think it's a good idea to interpret `Partial<Note>` as a data-type omitting the primary key (id property) because not all applications are generating ids on the server/in the database. In some cases, the clients are responsible to generate a unique id (typically a GUID/UUID). This is important for example for offline-first implementation.

I think we need a way how to tweak the auto-magic

[2018-04-24 15:00] bajtos commented on #1221
For DP3, I think it's ok to always use `Entity` as the base class.

string
number
boolean
object
array
date
buffer

I think that list is a good start and enough for DP3. However, the arrays should be typed. When the user selects "array", we should ask them to provide the type of array items (e.g. "string" or "number" - basically anything from the list above with the exception of arrays).

[2018-04-24 15:05] bajtos commented on #1225
IMO, we should also register the newly created datasource with the application, see e.g. https://github.com/strongloop/loopback-next/blob/c92603157ca7f08cf3748ca6bbd1e68da87d821e/examples/todo/src/application.ts#L48-L56

Simplified version that's probably good enough for DP3:

[code]

Ideally, this registration should provided by `@loopback/boot`, but I think we are not there yet. I guess we shoul

[2018-04-24 15:25] jannyHou commented on #1053
hi @b-admike

Could you elaborate more about what does the "old API" mean?

And we already created all the param shortcuts for OpenAPI primary data types, e.g. `param.query.*`: https://apidocs.strongloop.com/@loopback%2fdocs/openapi-v3.html#param.query

What's missing is some of the shortcuts don't have test cases. And I remember there is another issue for adding tests.

[2018-04-24 15:53] virkt25 commented on #1053
I don't think `@param.array.password()` is a decorator we need.

[2018-04-24 16:03] virkt25 commented on #1179
+1 to having a way to tweak the auto-magic algorithm but I also think we should have a default "magic" fallback that we default to and then a way to tweak it if needed. I have another alternative name for `propertyBlacklist` & friends ... `includeProperties` / `excludeProperties` where we can even abbreviate `Properties` with `Props`

[2018-04-24 16:12] virkt25 commented on #1117
I like the proposal BUT it seems like a big `if this ... import from ... else if that ... import from ...` which can be confusing to read and make sense of as a best practice. What happens if you start writing an app / extension thinking you don't need core but later end up needing core?

I think this ticket should only be used to make sure our code / examples / docs follow these best practices bu

[2018-04-24 16:31] virkt25 commented on #1087
My initial proposal was because I saw some demos of CodeClimate and they are capable of providing powerful analysis in code maintainability, refactoring possibilities, test coverage, etc.

Just saw they are also testing (beta) features to identify bottlenecks in projects by showing how long a PR is in review, how long it takes to merge, etc. That said I'm not sure of the value the beta features mi

[2018-04-24 16:43] jannyHou commented on #1225
@bajtos see https://github.com/strongloop/loopback-next/pull/1261, I think @virkt25 is already doing it :)

[2018-04-24 16:48] virkt25 commented on #918
+1 for having a top-level property for configuring the `basePath`. Question though ... how does a controller customize its `basePath`?

[2018-04-24 17:00] jannyHou commented on #1179
+1 for the discussion above.
And I would prefer to have the property inclusion/exclusion functions as Model static methods instead of processing them in the decorator function. So we don't need to duplicate the implementation every time a new artifact needs it.

[2018-04-24 17:03] dhmlau commented on #1272
@b-admike , I've updated the acceptance criteria according to @bajtos' comment above.
PTAL.  If it's good, then please move it for estimation.  Thanks!

[2018-04-24 17:11] raymondfeng opened #1278 "[SPIKE] Draft extension authoring UX"
## Description / Steps to reproduce / Feature proposal

Capture scenarios and narratives to describe the UX for LoopBack 4 extension authoring.

## Current Behavior

Our extensibility story is not complete to support common scenarios. Some of the key patterns such as extension point/extension haven't been enabled and enforced. We don't have a complete guide to teach extension developers on how to

[2018-04-24 17:44] jannyHou commented on #1057
Had a talk with @shimks regarding tier 3 and 4, take email validation as an example, there could be two kinds of validations:

- validate format
- validate uniqueness(need to call backend api)

If we can pass in the model and repository to the decorator function, then those two use cases don't have a difference, and moreover, if we can get access to the related models and repositories in decorator

[2018-04-24 17:58] jannyHou commented on #1087
+1 for giving it a try 👍

[2018-04-24 19:01] jannyHou commented on #1233
Not very expert of Jekyll(implementation details), but preview the site on local sounds great to me.

[2018-04-24 19:31] virkt25 commented on #918
I like option 1 -- `@path` decorator. With that I image we can even make `@get()` & friends only require a path for a nested path (`/:id`), otherwise just assume it's for `/`

[2018-04-24 20:00] jannyHou commented on #1053
Ah, true....

[2018-04-24 20:14] virkt25 commented on #990
I'd be ok to leave it out of the scope of DP3 ... but I would like for us to implement the `...rest` flavour for binding in at least `app.component` since there is no way we can support components from `@loopback/boot` as they are `npm` modules people will install. And for consistency in our API I would recommend all binding methods support this flavour (but I'll be fine if they don't).

[2018-04-24 20:40] raymondfeng commented on #990
+1 to support the rest params.

[2018-04-25 05:36] joeytwiddle commented on #1275
I found [basic-auth.acceptance.ts](https://github.com/strongloop/loopback-next/blob/master/packages/authentication/test/acceptance/basic-auth.acceptance.ts) but the setup is a bit different.

Notably I cannot do this to my app:
[code]
because:
[code]

[2018-04-25 14:34] virkt25 commented on #1275
Hi @joeytwiddle ,

I created an app using the latest `lb4` CLI and followed the instructions in the @loopback/authentication README and everything seems to be working fine for me. Here's my test app so you can spot anything you might be doing different.

https://github.com/virkt25/lb4-auth-test

If everything you're doing is the same and it's still not working for you can you please provide a repr

[2018-04-25 14:35] shimks commented on #1275
Taking a quick look, it seems like `AuthenticationBindings.CURRENT_USER` isn't bound to the app context. Have you made sure to register the `AuthenticationComponent` to the app context?

[2018-04-25 20:40] raymondfeng commented on #934
Implemented by #1279 and released as `@loopback/cli@0.9.0`

[2018-04-25 20:40] #934 closed

[2018-04-26 03:33] joeytwiddle commented on #1275
Thanks so much! I will look compare and feedback.

Perhaps your demo repository could be linked or imported into the loopback docs, as an example for others. (If the authentication API is stable.)

[2018-04-26 09:58] bajtos commented on #1255
I posted few thoughts and review comments for Raymond's RFC pull request, start reading  here: https://github.com/strongloop/loopback-next/pull/1082#pullrequestreview-115493209

In the meeting which I watched from the recording, the decision was made to abandon Koa for now and support Express-style middleware only, at least that's my understanding.

I think Koa's design is superior to Express and

[2018-04-26 10:42] hacksparrow commented on #1071
From yesterday's spike discussion we have decided to go ahead with Express. There's no doubt, there are some good aspects about Koa, but we are choosing Express over Koa at this stage mainly because:

It will take a good amount of effort to port Koa's request and response objects to work with the LB4 `rest` package. Since Express' request and response objects are basically Node's, working with the

[2018-04-26 10:49] hacksparrow commented on #691
I am taking this you. This will pave the way for the development of our middleware interface.

[2018-04-26 12:17] bajtos commented on #1071
I am ok with using Express, even though I disagree that porting `@loopback/rest` to Koa would require a lot of effort.

Cross-posting from https://github.com/strongloop/loopback-next/issues/1255#issuecomment-384583667:

I posted few thoughts and review comments for Raymond's RFC pull request, start reading  here: https://github.com/strongloop/loopback-next/pull/1082#pullrequestreview-115493209

To

[2018-04-26 13:10] bajtos commented on #990
FWIW, loopback-boot already supports loading components - see https://loopback.io/doc/en/lb3/component-config.json.html.

IMO, the fact that components are npm modules should not prevent us from loading them automatically based on conventional configuration, as long as there is a common API for components/extensions.

In LoopBack3, the API contract for an extension is to provide a default export t

[2018-04-26 13:15] bajtos commented on #918
Right now, `@api` already supports `basePath` property. Are you proposing to rename this property to `x-base-path`?

+1 for this option. I personally prefer a different name - `@basePath` or perhaps `@rootPath`, because it allows us to use a consistent name at both controller and server levels. I am worried that if we used `path` at server level for consistency, then it would be too cryptic.

[cod

[2018-04-26 13:42] bajtos commented on #1179
BTW, this is a problem we faced in LoopBack 3.x too, see https://github.com/strongloop/loopback/issues/2924

Another example of a property that must be omitted when creating a new model is `_rev` property used by Cloudant and CouchDB.

The solution in LB 3.x touched several layers:

 - Juggler properties can be flagged as "updateOnly", see https://github.com/strongloop/loopback-datasource-juggler/

[2018-04-26 14:18] #960 closed

[2018-04-26 14:30] virkt25 commented on #691
Don't we get this as a freebie when we switch to Express since it supports static file serving. We can just set it up for a default folder in basic app scaffolding (CLI) once the switch to Express has been made.

[2018-04-26 14:43] dhmlau commented on #691
From my understanding, yes, we should get it for free after the switch to Express, or at least very minimal effort.
Since this is marked as `non-DP3`, we should evaluate what needs to be done (hopefully none).  If there's work, we'll then defer it since it's not a DP3 item to begin with.

[2018-04-26 15:34] raymondfeng commented on #1255
@bajtos I think we are on the same page. Here are a few more further clarifications:

1. #1082 already illustrates the possibility to plug in another Http framework by abstracting `Request` and `Response` as type aliases and `HttpEndpointFactory` as the entry point.

2. We start to leverage some good designs from `Koa`, for example, using `HttpContext` to wrap `request/response` and keep it extens

[2018-04-26 15:42] virkt25 commented on #990
We can definitely have a `booter` for components if we are given a list of components / node_modules to require the components from ... I thought we were talking about traversing the `node_modules` folder and trying to identify Components ourselves and loading them.

And for custom components in a `components` folder ... we can definitely just boot those even without a list.

[2018-04-26 16:06] raymondfeng commented on #1057
Some thoughts around the 4 tiers of validation:

Tier 1:
  - Per property of models
  - Per parameter of api method calls

Tier 2:
  - multiple properties within the same model instance
  - multiple parameters of the same api method calls

Tier 3:
  - multiple instances of the same model collection (class/store)

Tier 4:
  - custom validations that relies on business logic with possible async acce

[2018-04-26 16:10] raymondfeng commented on #1179
And I would prefer to have the property inclusion/exclusion functions as Model static methods instead of processing them in the decorator function. So we don't need to duplicate the implementation every time a new artifact needs it.

The overlapping between parameter value and model instance validation is interesting:

For example, `CustomerController.create(customer)` probably hints two types of

[2018-04-26 16:27] hacksparrow commented on #691
Yes, it comes baked in with Express. I was thinking more along the middleware interface we'll expose. With access to the Express instance and the app, users can enable this on their own. So, let's not touch this for now, we can create another story for the middleware interface.

[2018-04-26 17:04] hacksparrow commented on #1071
Thanks for the feedback Miroslav, will take all those into consideration in the implementation.

[2018-04-26 18:38] b-admike commented on #1053
We've decided to not implement these shortcuts as it's not adding much value with multiple dimensions included in the original `@param.array` decorator. It's not saving that much typing as well. We could document how to create shortcuts for existing decorators.

[2018-04-26 18:38] #1053 closed

[2018-04-26 18:41] jannyHou commented on #1064
One more document task from this other issue, let's do it in this story together:
https://github.com/strongloop/loopback-next/issues/1053#issuecomment-384747444

[2018-04-26 18:41] jannyHou commented on #1053
@b-admike I add the doc task in https://github.com/strongloop/loopback-next/issues/1064

[2018-04-26 20:58] #1132 closed

[2018-04-27 02:38] dhmlau commented on #1087
It sounds appealing if we could get more information on https://codeclimate.com/velocity/

[2018-04-27 02:54] dhmlau commented on #1087
seems like we're good with this spike.  Moving this to backlog.

[2018-04-27 03:16] dhmlau commented on #1225
related to https://github.com/strongloop/loopback-next/issues/441

[2018-04-27 03:16] dhmlau commented on #1221
related to https://github.com/strongloop/loopback-next/issues/441

[2018-04-27 04:43] hacksparrow commented on #1255
@dhmlau the component which interfaces LB4 to a helper HTTP framework is `@loopback/rest`. To use any custom framework, this component has to be edited.

Reliably porting to Koa from Express might be an effort of 2-3 weeks. The size of this effort depends on various factors - time line, team size etc.

Right now we don't have the provision to write extensions to switch frameworks. But if we want t

[2018-04-27 11:35] bajtos commented on #1087
FWIW, CodeClimate offers code coverage too - see https://codeclimate.com/quality/. Once we decide to keep using CodeClimate, it may be better to switch off Coveralls.

[2018-04-27 11:42] bajtos commented on #1179
This makes a lot of sense to me too. I think it's also in line with `includeProperties / excludeProperties` we discussed earlier.

[2018-04-27 12:10] bajtos commented on #962
Since this issue is labeled as non-DP3, I am proposing to put it on back burner until DP3 is done.

@raymondfeng: IIRC, when we proposed to switch from LDL (the juggler definition format) to JSON Schema, you were advocating against using JSON Schema for model definition and keep using our own syntax (maybe a successor to LDL). Could you please remind us of your arguments?

[2018-04-27 13:15] bajtos commented on #1255
@raymondfeng your plan sounds good to me!

As for plugging alternate express-compatible implementations like fastify, I'd like us to design our REST layer in such way that `express` is a dependency that can be left out from projects that are not using it.

For example, if I want to use fastify in my application, then `npm install` in my app should not fetch `express`.

I think that means that `@lo

[2018-04-27 19:37] hacksparrow opened #1290 "Make the factory HTTP framework function configurable"
## Description / Steps to reproduce / Feature proposal
Make the factory HTTP framework function (`express()`) configurable and switchable with other Express-compatible frameworks

## Current Behavior
None

## Expected Behavior

https://github.com/strongloop/loopback-next/issues/1255#issuecomment-384966553

## Acceptance Criteria

LB4 should accept an options object to configure the underlying HTTP

[2018-04-27 19:41] hacksparrow opened #1291 "[SPIKE] Figure out the responsibility between express middleware and LB4 routing and sequencing"
## Description / Steps to reproduce / Feature proposal
Mount LB4 apps (REST servers) as Express (and Express-compatible) middleware

## Current Behavior
None

## Expected Behavior
https://github.com/strongloop/loopback-next/pull/1082#issuecomment-384580197

## Acceptance Criteria
LB4 apps should be mountable as Express or Express-compatible middleware.
- [ ] Figure out how to have everything befor

[2018-04-27 19:55] hacksparrow opened #1292 "Changed (req, res) pair to a single http context object"
## Description / Steps to reproduce / Feature proposal
Use a single object object to contain the request and response object.

## Current Behavior
`(req, res)`

## Expected Behavior
`(httpContext)`

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-04-27 19:58] hacksparrow opened #1293 "Allow app developers to configure custom Express middleware"
Allow Application and Extensions developers to mount Express middleware at application level.

**WORKAROUND:**

Our current recommendation is to create a top-level Express application (where you can easily mount any middleware) and then mount LB4 as a component (middleware) in that application. See https://loopback.io/doc/en/lb4/express-with-lb4-rest-tutorial.html for detailed instructions.

## Ac

[2018-04-27 21:04] shimks commented on #1057
## Spike findings

### Coercion:
- link to PoC PR #1256 (ignore the commits on validation)
- We should leverage `types` in `@loopback/repository` to do string/JSON coercion for us.
  - `@loopback/types` will act as a global typing system for serialization/deserialization/coercion
  - Coercion will be based on the parameter type of the OpenAPI spec that the route corresponds to
  - done in `parsePa

[2018-04-28 20:42] erikvullings commented on #1259
I had a similar requirement and simply replaced the start command with a [tsc-watch](https://www.npmjs.com/package/tsc-watch) instruction (it is like `tsc -w`, but runs a command on successful compilation, e.g. in this case it will restart the node server). So first install it locally using
[code]
Next, update `tsconfig.json` with the lines (which should perhaps be added to the extended loopback t

[2018-04-30 06:51] #1120 closed

[2018-04-30 16:35] shimks commented on #1049
Hi @cajoy! I wasn't able to reproduce the issue using our modified `todo` application using the `mongodb` connector. Is this still an issue for you? If it is, could you provide us with a reproduction sandbox?

[2018-04-30 17:38] shimks commented on #1267
@raymondfeng Could you update the acceptance criteria for estimation? Thanks

[2018-04-30 17:45] shimks commented on #1206
@virkt25 Could you update this task with an appropriate acceptance criteria? At first glance, this issue seems like it'll pan out to be a spike to see how the feedback could be addressed, but what do you think?

[2018-04-30 17:51] shimks commented on #436
@bajtos Could we get an acceptance criteria for this issue? Thanks

[2018-04-30 17:56] shimks commented on #1052
@jannyHou Could you update the issue with an appropriate acceptance criteria? Thanks

[2018-04-30 18:04] raymondfeng commented on #1267
@shimks Updated

[2018-05-01 00:12] dhmlau commented on #1206
I agree that we need to work things out to have a set of acceptance criteria.  However, I don't think there's a need for a spike, rather than fixing things up.

[2018-05-01 14:32] virkt25 commented on #1206
No Spikes. I'll take an attempt at creating a Todo List (get it) for the tasks with some criteria.

[2018-05-01 14:51] virkt25 commented on #1267
Is the Service assumed to be created using LB3 constructs? (strong-remoting / strong-soap)?

[2018-05-01 14:58] virkt25 commented on #971
How is this different from #1294?

[2018-05-01 15:06] b-admike commented on #1044
We have reached the end of April. Closing this ticket.

[2018-05-01 15:06] #1044 closed

[2018-05-01 17:03] shimks commented on #971
@virkt25 #1294 is adding in validation for the purpose of validating parameters parsed from http requests. This one will be used to validate whether the JSON Schemas our packages produce are themselves valid JSON Schemas. The reason we should have this validation should be congruent to the reason we have openapi-v3 spec validator.

[2018-05-01 17:52] b-admike commented on #1267
Looking at the PR we have for the weakly typed service integration spike, we already have the `serviceProxy` decorator and have a test [using it](https://github.com/strongloop/loopback-next/pull/1119/files#diff-0d86b9e5dd03df9302f718139dc63a07R24) with a controller as shown above. What else do we need to for this ticket?

Yeah I think so (see https://github.com/strongloop/loopback-next/pull/1119/f

[2018-05-01 17:53] raymondfeng commented on #1267
The PR is feature complete and ready for review.

[2018-05-01 18:09] shimks commented on #971
Throwing back to have the acceptance criteria fleshed out: what is this extension geared towards? What is the UX? Is this an internal utility?

If internal: it should live in testlab, it should also be less restrictive

[2018-05-01 19:02] virkt25 opened #1296 "Test lb4 CLI on Node 10"
## Description / Steps to reproduce / Feature proposal

From #1206

Related Note:

---

User had reported error with CLI on Node version 9. Seeing as Node 10 is out and we made some changes with regards to enabling Node 10 I think the issue might've been resolved.

## Acceptance Criteria

- [x] Test `lb4 app` with the latest version to make sure it works as expected
    - If there is an error -- I

[2018-05-01 19:58] virkt25 opened #1297 "[CLI] Do not prompt for Application Class name"
## Description / Steps to reproduce / Feature proposal

From #1206

Related Notes:

---

We already prompt the user for a `Project name` and then prompt for an `Application class name`.

## Acceptance Criteria

- [ ] Remove prompt for Class Name (Use the default we generate) -- this will prevent users from having to enter the it again / get confused about what the `Application class name` is.

[2018-05-01 20:09] virkt25 opened #1298 "Description of Options -- loopbackBuild / mocha"
## Description / Steps to reproduce / Feature proposal

From #1206

Related Note:

---

Related Note:

## Acceptance Criteria

- [ ] Add a description to the Todo tutorial explaining what CLI options we are asking them to select mean such as `loopbackBuild` / `mocha`
- [ ] A good / easy to understand description of options in CLI tool when prompted to select them
    - `loopbackBuild` sets up type

[2018-05-01 20:09] raymondfeng commented on #1297
I think the proposal is against our intention - we want to have reasonable defaults based on conventions for the code generation but we also want to allow users to confirm/customize.

If the concept of `Application` is not clear, we can add a link or make it more descriptive in the CLI.

[2018-05-01 20:11] raymondfeng commented on #1298
1. +1 to make the options more descriptive.
2. -1 to remove the possibility to opt in build scripts from `@loopback/build`.
3. We need to find a way to make it easy to understand the prompts.

[2018-05-02 02:08] dhmlau commented on #1298
Besides making the prompt more descriptive, perhaps add in more details in the docs as well? http://loopback.io/doc/en/lb4/Application-generator.html

[2018-05-02 13:24] jannyHou commented on #1052
@shimks Updated :)

[2018-05-02 13:36] bajtos commented on #971
Returning a boolean is not helpful. When the document is not a valid JSON schema, then we need a descriptive list of spec violations, so that we know what to fix!

To be honest, I don't know. What was your intention when you opened this issue?

As I am thinking about this, maybe what we really want is to write few unit tests for `repository-json-schema` to verify that we are producing a proper JSO

[2018-05-02 13:38] bajtos commented on #1297
+1 for making the CLI prompts more descriptive, so that users understand why we are asking them about application class name.

[2018-05-02 13:49] bajtos commented on #1298
I am of the opinion that less options are better, especially for novice-to-intermediate users, and that our CLI should be tailored for the majority of our users base that is happy to follow our recommended setup.

As for advanced users that understand reasoning behind our recommended setup and ramifications of disabling things like loopbackBuild and tslint, if they understand so much about the too

[2018-05-02 14:17] bajtos commented on #1069
IMO, the pull request #1119 is only a part of the overall story. While it makes it easy to consume services in controllers, it omits other important use cases.

For example, when consuming a service using rest-connector with template-based configuration: as an app developer, I would definitely want to have few smoke tests to verify that my templates work as intended and match the API provided by t

[2018-05-02 20:53] shimks opened #1299 "Apidocs are not being built correctly"
## Description / Steps to reproduce / Feature proposal

Plenty of documentation in our apidocs is broken at the moment. Taking `authentication` for example:
- No entry on `AuthenticationBindings`
- docs above `StrategyAdapter` constructor are not generated
- docs for `PassportRequest` are not generated, although the sidebar entry is
- `@description` and `@example` (above `AuthenticateActionProvide

[2018-05-03 11:01] joeytwiddle commented on #1275
OK, so the reason I was confused is this: my controller has some routes which require authentication, and some which do not (public access).

But it seems if my controller uses `AuthenticationBindings.CURRENT_USER` then I **must** use the `@authenticate` decorator on all its routes.

If I leave `@authenticate` off one of the routes, then when that route is accessed it will throw:
[code]

Does that

[2018-05-03 14:30] jannyHou commented on #1297
I also tend to omit the customizing step of the app class name, don't feel people often have the need to rename it...we can either make the prompt message more descriptive, or remove it and add a short document says we allow the customization.

[2018-05-03 16:26] hacksparrow commented on #1255
Four tasks were identified out of this spike:

1. https://github.com/strongloop/loopback-next/issues/1293
2. https://github.com/strongloop/loopback-next/issues/1292
3. https://github.com/strongloop/loopback-next/issues/1291
4. https://github.com/strongloop/loopback-next/issues/1290

[2018-05-03 16:38] shimks commented on #1290
Rejecting as the acceptance criteria is not clear enough. What is the 'options object'?

[2018-05-03 16:39] shimks commented on #1290
Dropping from dp3 from our agreed consensus in our estimation meeting

[2018-05-03 16:47] shimks commented on #1291
Technically, the acceptance criteria is already done. @hacksparrow Would you consider the issue non-relevant or do you have specific items in mind that allow express-specific aspects to be compatible with lb4?

Suggested criteria:
- change `(req, res)` pattern to use `httpContext` (with a different name)
- and potentially more

[2018-05-03 21:05] shimks commented on #1297
^^^ I'm for removing the prompt for the application class name as well. In my opinion, the users that _do_ want to customize their application class name should be able to set up a flag (`--applicationClassName=CustomNameApplication`).

[2018-05-04 12:02] bajtos commented on #1292
Cross-posting from a private chat:

Hmm, not really :disappointed: Maybe `HttpFrame` or `HttpRequestFrame`? It is a bit unusual though.

As I am thinking about this problem, I am leaning towards the conclusion that the problem is in the very fact that we have two request-related contexts: one holding req/res objects, another an instance of `Context`.

What if we reworked our design so that there i

[2018-05-04 12:46] bajtos commented on #1267
Cross-posting from https://github.com/strongloop/loopback-next/issues/1069#issuecomment-385993406:

IMO, the pull request #1119 is only a part of the overall story. While it makes it easy to consume services in controllers, it omits other important use cases.

1] When consuming a service using REST connector with template-based configuration: As an app developer, I would definitely want to have fe

[2018-05-04 13:08] #419 closed

[2018-05-04 13:39] hacksparrow commented on #1292
Would like to hear from @raymondfeng.

[2018-05-04 16:30] raymondfeng commented on #1292
I like @bajtos's proposal to consolidate the http req/res wrapper object with our IoC Context. But I do have some concerns too:

1. HttpRequestContext becomes more complex that just a wrapper of req/res.
2. The construction of `HttpRequestContext` needs collaboration from LB and the underlying http framework. In my original PoC, I expect the http framework to create the `HttpContext`.
3. We can us

[2018-05-04 18:23] dhmlau opened #1304 "[EPIC] Cloud Native Experience"
## Description / Steps to reproduce / Feature proposal

### Area 1: Scaffold LB4 application from Cloud UI (IBM Cloud App Service starter project)
- https://console.bluemix.net/developer/appservice/dashboard

### Area 2: As-is and to-be scenario
- (As-is scenario)Try to deploy LB4 app to IBM Cloud and see what the steps are and extra metadata it needs
   - blog post to go through the steps
   - LB

[2018-05-04 19:16] shimks commented on #1299
I'd be also ok with closing this one if we repurpose #1171 to also address similar issues for other packages as well

[2018-05-04 20:30] shimks opened #1306 "Implement coercion between HTTP and LB4 layers(converter and deserialize)"
## Description / Steps to reproduce / Feature proposal

This issue is a follow up to #1057.
For DP3, we'd like to provide coercion between the http-LB4 layer.

See also #750 and #100.

## Acceptance Criteria
- [ ] Create an extensive OpenAPI type -> JS run-time type converters
  - [x] Create `string` type to `Date` type converter (done by #750)
  - [x] Create `string` type to `Buffer` type convert

[2018-05-04 22:08] dhmlau commented on #1296
@virkt25 , now that we know a simple app works in Node 10.  It seems to meet the acceptance criteria?

[2018-05-04 22:11] dhmlau commented on #1016
@bajtos , are you thinking of deleting the irrelevant or redundant wiki pages? for example for https://github.com/strongloop/loopback-next/wiki/Installation, i think we can delete it..  thanks.

[2018-05-04 22:12] dhmlau commented on #1306
@shimks , good for estimation? if so, pls move to `needs estimate` column. thanks.

[2018-05-04 22:13] dhmlau commented on #1071
@raymondfeng, is this ticket good to close?

[2018-05-04 22:14] dhmlau commented on #1069
@raymondfeng , the spike seems to be done.  Is this good to close? thanks.

[2018-05-05 22:13] dhmlau commented on #522
@raymondfeng , we have a ticket for SOAP and REST service integration #1036, but not for gRPC.  Do we still want to keep this? Thanks.

[2018-05-07 14:39] shimks commented on #1049
@cajoy Please let us know if this is still an issue for you. If it isn't, this issue is slated for closure by the end of May.

[2018-05-07 14:53] shimks commented on #1267
@bajtos Although I agree that what you're proposing should be done as an outcome of the spike, IMO this is out of scope for what we have estimated and I feel that it should live in its own issue to be estimated and groomed.

[2018-05-07 15:36] virkt25 commented on #1296
Closing as done.

[2018-05-07 15:36] #1296 closed

[2018-05-07 16:31] shimks commented on #1057
Follow up issue for this spike has been created in #1306.

[2018-05-07 16:31] #1057 closed

[2018-05-07 19:17] shimks commented on #1272
I've added support for promises in `strong-soap` but I'm wondering whether I should add in a test case for promise support in the downstream package `loopback-connector-soap` as well. Otherwise, I would consider this task done.

[2018-05-07 23:52] dhmlau commented on #1255
@hacksparrow , since you have the tasks created from the spike.  is this ticket good to close?  thanks.

[2018-05-07 23:53] dhmlau commented on #180
Looks like this is covered by #1255  (spike) and the other tasks (#1290, #1291, #1292, #1293).  Good to close?

cc @raymondfeng @hacksparrow

[2018-05-08 16:35] #1255 closed

[2018-05-08 17:13] dhmlau commented on #1267
PR: https://github.com/strongloop/loopback-next/pull/1119

[2018-05-08 17:13] #1069 closed

[2018-05-08 18:40] shimks commented on #1306
Rejecting as we've decided on splitting the story into two: coercion through openapi spec, and validation + focus on extension capabilities of both coercion and validaion

[2018-05-08 18:56] shimks commented on #1297
Rejecting for estimation. More feedback wanted on what to do with the issue.

[2018-05-08 19:26] shimks opened #1308 "Implement validation for controller methods using OpenAPI parameters"
## Description / Steps to reproduce / Feature proposal
For DP3, we'd like inputs from http requests to be validated using a given OpenAPI spec.

- Follow up to #1306

## Acceptance Criteria
- [ ] Use the validator engine from #1294 in `parseParams` (instead of in the method decorator) to validate the coerced parameters using an OpenAPI spec

_See [Reporting Issues](http://loopback.io/doc/en/contri

[2018-05-08 19:47] shimks opened #1309 "[CLI] [Spike] Come up with UX for application scaffolding through CLI"
## Description / Steps to reproduce / Feature proposal
We need to conduct a spike on the possible UX of an application CLI experience. It should encompass some ideas from:
- #1297: Application class name
- #1298: Enabling Mocha/LoopBack Build
Other areas that may need to be considered are:
- TSLint
- Prettier

## Acceptance Criteria
- come up with a couple of ways to deliver UX for both newbies an

[2018-05-08 19:51] #1272 closed

[2018-05-08 20:01] #956 closed

[2018-05-09 03:31] dhmlau commented on #1309
Some more background...

Based on our discussion today with @strongloop/lb-next-dev , I think there are 2 camps:
**Opinion#1**: The less questions we ask in the prompt is better.
Reason: For new users, they may not know all the concepts behind LB4, so they might be lost (or it is not necessary) to ask them too many questions when we can make some of the decisions for them.

**Opinion#2**: Customiz

[2018-05-09 03:38] dhmlau commented on #1297
I'd like to propose to move this out of DP3.  IMHO, this is a minor issue compared to other UX issues we're having, e.g. CLI for models/datasource/relations.

[2018-05-09 11:48] bajtos opened #1310 "Dev UX: How to preview `docs/site` in incremental mode"
## Description / Steps to reproduce / Feature proposal

When making changes to documentation files in `docs/site` folder, I'd like to preview the changes I am making.

## Current Behavior

I can run `npm run build:site` command to copy all sources and start Jekyll server.

However, this process does not support incremental updates. Whenever I make a change, all files have to be re-downloaded from

[2018-05-09 12:13] bajtos commented on #1297
+1, I have changed the labels accordingly.

[2018-05-09 12:17] bajtos commented on #1309
@strongloop/loopback-next we would like to hear your opinion about CLI tooling. What should we prefer more - simplicity or customizability?

**Opinion#1**: The less questions we ask in the prompt is better.

Reason: For new users, they may not know all the concepts behind LB4, so they might be lost (or it is not necessary) to ask them too many questions when we can make some of the decisions for t

[2018-05-09 12:32] doublemarked commented on #1309
@bajtos just ask the user as the first question. Here's an example of how [Semantic UI](https://github.com/Semantic-Org/Semantic-UI) approaches its setup:
[code]

If you pick Automatic, then you zip through the setup. If you pick Custom then it asks a lot of questions.

[2018-05-09 13:55] bajtos opened #1311 "Make services easy to test + docs"
_This is a follow-up for https://github.com/strongloop/loopback-next/issues/1267_

When consuming a service using REST connector with template-based configuration: As an app developer, I would definitely want to have few smoke tests to verify that my templates work as intended and match the API provided by the service at the other side. I would like to write an integration test that's using only t

[2018-05-09 13:56] bajtos opened #1312 "CLI: a command to create a new service"
_This is a follow-up for #1267_

There should be a new CLI command for creating services, this command should:
 - (MUST HAVE) Create the datasource.
 - (MUST HAVE) Create any artifacts needed to register the service with the app for dependency injection. Leverage the Service booter implemented by #1439
 - (SHOULD HAVE) Create any artifacts needed to write an integration test for the service as I s

[2018-05-09 14:44] shimks commented on #1267
@raymondfeng Is the (technical preview) feature complete? If so, can you close it please?

[2018-05-09 14:46] shimks commented on #436
@bajtos ^^^

[2018-05-10 06:30] m3hari commented on #1309
I completely agree with @doublemarked just an additional thought inspired by the Vue Cli, plugin system is pretty awesome.

We can always start with the basic default configuration and add functionality as the project grows using plugins.

Example: adding cypress e2e configuration and dependencies on alredy create project
[code]

this will add the required dependencies, inject commands and add con

[2018-05-10 10:58] bajtos commented on #1292
Responded in my pull request, let's keep the discussion there for now: https://github.com/strongloop/loopback-next/pull/1316#issuecomment-388021407

[2018-05-10 11:26] bajtos commented on #1309
Thank you @doublemarked and @m3hari  for the feedback!

The idea of adding a prompt for express/custom setup crossed my mind too, it's great to hear other frameworks are already doing the same 👍  I think we have a winner here 🎉

As for CLI plugins, this is sort of similar to what Yeoman does with generators too. It's a great feature to have, but I don't think we will have bandwidth to work on it a

[2018-05-10 11:56] bajtos commented on #1312
See the example in #1311. When writing tests of a service proxy, users should not need to bootstrap the full app in order to access the service proxy instance. Ideally, the tests should not need to know how the service proxy is created at all - the creation aspect should be captured in one place only.

[code]

[2018-05-10 14:03] bajtos commented on #1016
Sure, sounds like a reasonable approach.

The page says "DO NOT EDIT: Moved to loopback.io as of 12 Sept 2017", I think all of these moved pages can be deleted.

[2018-05-10 15:42] dhmlau commented on #1071
Closing it as the following tasks had created as a result of this spike:
#1290
#1291
#1292
#1293

[2018-05-10 15:42] #1071 closed

[2018-05-10 15:49] dhmlau commented on #180
Closing in favor of #1255.

[2018-05-10 15:49] #180 closed

[2018-05-10 19:14] shimks opened #1319 "Make coercion and validation work off of @loopback/types"
## Description / Steps to reproduce / Feature proposal

For DP3, we'd like validation and coercion system implemented in the http-layer to use `@loopback/types`

## Acceptance Criteria
- [ ] Move `types` folder from `@loopback/repository` into its own package; Make sure this PR is refined and make sure it lands https://github.com/strongloop/loopback-next/pull/947
- [ ] Move over the converters use

[2018-05-10 19:28] jannyHou commented on #673
I have been tried different strategies in PR https://github.com/strongloop/loopback-next/pull/1305 to "Fix MixinBuilder to return the correct type for class", but there is no easy way to do it.
And the mixin-builder.ts file(and common-types.ts) should be moved into a new util package instead of the core package. The new util package will be a place for language related util functions/interfaces/ty

[2018-05-10 20:29] jannyHou commented on #673
Hmm, just took a quick look of the task https://github.com/strongloop/loopback-next/issues/1171, if we can define and apply the mixin in the class signature instead of the function, that could potentially solve both two issues....Let me give it a last try!

[2018-05-11 02:34] dhmlau commented on #673
I agree.  It was not the original intention to spend too much effort for the sugar functions anyway.
What do you think @bajtos @raymondfeng ?

[2018-05-14 14:33] shimks commented on #918
For clarification, if a user was to set the base path as `/my-path` and if the user was to have a route decorated with `@get('/user/{id}')`, would that endpoint be served at `some-server/my-path/user/{id}` or `some-server/my-path/{id}`?

[2018-05-14 14:47] arash01 opened #1322 "Broken link in Wiki page"
Hi,
just noticed the link to "getting started example" is broken in wiki page.

Broken link: https://github.com/strongloop/loopback-next/tree/master/packages/example-getting-started

Wiki page: https://github.com/strongloop/loopback-next/wiki/Upcoming-Releases

[2018-05-14 14:55] dhmlau commented on #1173
I'm thinking that the code snippets shown in our documentation can be more coherent.  For example, if the [todo example ](https://github.com/strongloop/loopback-next/tree/master/examples/todo) contains most of the code we need, maybe it's a good idea to reference the code in there, i.e. copy the code snippet over and mention to users the location of a complete example can be found.

Another advant

[2018-05-14 15:01] shimks commented on #1298
@virkt25 Is this task good for estimation based on the current acceptance criteria?

[2018-05-14 15:16] shimks commented on #1085
@bajtos Please update the issue with the appropriate acceptance criteria

[2018-05-14 15:38] virkt25 commented on #1322
Good catch @arash01. Fixed.

[2018-05-14 15:38] #1322 closed

[2018-05-14 15:58] shimks commented on #1311
Is this a proposal on the service we generate through the CLI tooling?

[2018-05-14 16:02] raymondfeng commented on #965
In `openapi-v3`, we only allows `@param` to be used with method params. See https://github.com/strongloop/loopback-next/blob/master/packages/openapi-v3/src/decorators/parameter.decorator.ts#L71.

I'm closing this issue as fixed.

[2018-05-14 16:02] #965 closed

[2018-05-14 16:28] raymondfeng commented on #436
Acceptance criteria:

1. A controller method should be able to specify `media type` for the `responses` object with `@operation`. See https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#response-object

[code]

2. A controller method should be able to return JS representation of the response body or a wrapper corresponding to the response objects. For example:

[code]

or
[c

[2018-05-15 01:53] dhmlau commented on #1016
FYI - I'm now trying to delete the wiki pages with "DO NOT EDIT: Moved to loopback.io as of 12 Sept 2017" and checking them off from the list.

[2018-05-15 10:58] bajtos commented on #1144
@raymondfeng @dhmlau @NiklasA Hello, what's the status of this issue? What actions are needed before we can closed this as done?

[2018-05-15 11:27] NiklasA commented on #1144
Hi @bajtos, it can be closed, it made a mistake, described in [comment above](https://github.com/strongloop/loopback-next/issues/1144#issuecomment-374766232).

[2018-05-15 13:03] dhmlau commented on #1253
closing as duplicate of #1293.

[2018-05-15 13:03] #1253 closed

[2018-05-15 15:02] virkt25 commented on #918
I image the following is how `basePath` would work:

[code]

[2018-05-15 15:51] virkt25 commented on #1298
Updated based on the results of #1309

[2018-05-15 16:02] virkt25 commented on #436
Great acceptance criteria @raymondfeng. Just a discussion point ... I think we need to provide a way to provide some defaults for some formats if possible so the user doesn't need to define these for every operation. I'm thinking the defaults would be `text/html` / `application/json` ... Maybe `octet-stream` / `xml` as well?

Or perhaps the extension system you describe can generate the response i

[2018-05-15 16:12] bajtos commented on #584
Blocked - waiting for https://github.com/TypeStrong/typedoc/issues/472

[2018-05-15 16:28] bajtos commented on #1173
We should have a tutorial showing how to build applications bottom-up way. @raymondfeng could you please add more details about what such tutorial should include? We already have Todo example, what do we need to change or add to make that example good enough as the tutorial?

[2018-05-15 16:34] bajtos commented on #191
We need to revisit the goal of this story, considering that we are going to use Express REquest/Response types internally soon.

[2018-05-15 16:48] jannyHou commented on #1086
@shimks you are right.

This is a dup story of https://github.com/strongloop/loopback-next/issues/436.
They are targeting on solving the same issue, 1086 is just a possible solution. I am going to close it. PR https://github.com/strongloop/loopback-next/pull/1260 is like a spike for it but I don’t think it will the correct direction. We can track the progress in issue 436.

[2018-05-15 16:48] #1086 closed

[2018-05-15 17:18] raymondfeng commented on #1173
I suggest that we create a tutorial following the narratives below:

1. Define a controller class to describe the business functions to be exposed as REST APIs
2. Add decorators to controller methods to map to REST endpoints
3. Introduce a `Todo` model to represent the business object
4. Introduce a `TodoRepository` for persistence
5. Configure the `TodoRepository` with a `DataSource` to a databas

[2018-05-16 00:07] dhmlau commented on #1243
PR: https://github.com/strongloop/v4.loopback.io/pull/1

[2018-05-16 04:03] joeytwiddle commented on #1275
Regarding 3, my approach was to create two new auth strategies:

- NoAuthStrategy would always act like authentication had succeeded, and would always resolve, but it would resolve with `user: null`

  That would allow for routes which do not require authentication, but could live within a controller which uses the AuthenticationBindings.

- OptionalAuthStrategy would be an adapter: it would accep

[2018-05-16 07:06] bajtos opened #1330 "[Release] 🚀 Developer Preview 3 🚀"
This is a high-level issue keeping track of the upcoming release _LoopBack 4 Developer Preview 3_.

## Target Date

July 2018

## Scope

See the current list of stories we are considering as a candidate for DP3 release here:
https://github.com/strongloop/loopback-next/labels/DP3

**https://github.com/strongloop/loopback-next/issues/1038 Robust HTTP processing capabilities**

- [x] Must have: rewor

[2018-05-16 07:09] bajtos commented on #1038
Yesterday, we reviewed DP3 scope for this epic with @raymondfeng and @dhmlau and decided on the following feature set:

- Must have: rework internals to use Express request/response types
- Leverage CORS middleware instead of the current workaround (minimal refactoring)
- HttpEndpointFactory - a new module to deal with HTTP(S) setup, a dependency of @loopback/rest
- Stretch goal: serving OpenAPI s

[2018-05-16 07:12] bajtos commented on #1291
For DP3, we agreed with @raymondfeng that we are not going to expose Express routing/middleware to app developers yet. I am removing this story from DP3 release and epic.

[2018-05-16 07:26] bajtos opened #1331 "HTTP endpoint factory"
Rework the way how an HTTP server is setup and configured for LoopBack applications (RestServer instances) following the approach outlined in https://github.com/strongloop/loopback-next/pull/1082.

**IMPORTANT**

The spike was based on an assumption that we will support different frameworks (Express, Koa, etc.). Based on the spike outcome, we decided to go forward with a single framework and use E

[2018-05-16 07:35] bajtos opened #1332 "Serve OpenAPI spec from a controller method"
At the moment, we use a hacky workaround in RestServer to implement an HTTP endpoint serving OpenAPI spec describing the application.

https://github.com/strongloop/loopback-next/blob/9591f87dee722be4dcc2a8732894f27a64188cfb/packages/rest/src/rest.server.ts#L194-L208

We need to find a cleaner solution. @raymondfeng is proposing to implement `/openapi` endpoint as a regular controller method. To d

[2018-05-16 07:40] bajtos commented on #1267
Closing as done.

[2018-05-16 07:40] #1267 closed

[2018-05-16 13:40] bajtos commented on #1173
With the exception of the second step (add decorators to controller methods), such tutorial is already available in the top-down version here: http://loopback.io/doc/en/lb4/Implementing-features.html

We could copy that page and rework it to show bottom-up approach, but then we would end up with a lot of duplicated content.

For long term, I think we need to find a way how to show both top-down an

[2018-05-16 13:46] bajtos commented on #918
+1 for what TV wrote above.

[2018-05-16 14:17] bajtos commented on #1085
@shimks done.

[2018-05-16 14:27] jannyHou commented on #673
@dhmlau There seems no easy way to get the class signature work either...shall we defer to work on it after DP3?

[2018-05-16 14:43] bajtos commented on #673
If we need more research, then I am proposing to defer the work after DP3.

Personally, I still think we should remove MixinBuilder completely from our code base and docs. If we agree on this direction, then I think it makes sense to make that happen in DP3, probably as a `p2` task.

[2018-05-16 14:49] shimks commented on #673
I'm ok with removing `MixinBuilder`. I'm also ok with fixing it, but from what I've seen with work that went to attempting to create a PR for this task, coming up a solution seems like a real headache.

[2018-05-16 14:56] b-admike commented on #995
Sorry for the late update, everyone. You can find some of the prototype code in the spike #1194. We have discussed about the findings and here is my proposed list of tasks to come out of this:
- Inclusion of related models (same as LB3)
- Infer target repository when related models are backed by the same datasource, otherwise let user explicitly provide the target repository
- Use relational decor

[2018-05-16 15:49] shimks commented on #1275
I'm going to be investigating this.

Our intended use case was that users wouldn't have to decorate routes that don't require authentication.

Thanks for bring this up!

[2018-05-16 17:00] jannyHou commented on #1052
PR merged

[2018-05-16 17:00] #1052 closed

[2018-05-16 17:42] dhmlau commented on #673
On a second thought, shall we close this task (because we're not fixing it) and create a new one to remove `MixinBuilder` and mark it as `DP3` `p2`?

[2018-05-16 18:57] shimks opened #1334 "Document ways to properly authenticate only some methods in a controller"
## Description / Steps to reproduce / Feature proposal
Copying from #1275

This allows injection to not error out even if `CURRENT_USER` is undefined

This allows the injection to only occur when the authenticated methods are being invoked

This allows injection to be resolved when the method is being invoked and not when the controller is being instantiated.

There should be documentation for han

[2018-05-16 19:30] virkt25 commented on #1332
Maybe we need a better way of putting in the hacky URL's. Another issue I see with the spec controller would be what if someone deletes the controller because they don't understand the purpose. I think it should stay an internal endpoint ... but we need a way of defining endpoints not part of the sequence change.

[2018-05-16 19:39] raymondfeng commented on #1332
We can argue the other way too. Having such routes out of bound can have security implications as some applications might want to only expose such specs to admin console with ACL.

We also need to consider other endpoints such as `/health` or `/metrics`.

Extension modules should be able to contribute such endpoints in addition to applications.

[2018-05-17 07:12] #191 closed

[2018-05-17 08:34] bajtos opened #1337 "Blog post: Leveraging Express for a more robust HTTP processing"
Write a blog post describing
 - the changes made as part of the epic
   - https://github.com/strongloop/loopback-next/issues/1292
   - https://github.com/strongloop/loopback-next/pull/1326 (etc.)
   - Leverage CORS middleware instead of the current workaround (minimal refactoring)
   - #1331 HTTP endpoint factory
 - our motivation behind these changes
 - what it means for LB4 app and extension dev

[2018-05-17 08:38] bajtos commented on #1038
This is mostly #1292 and #1326.

#436 IS NOT related.

I'd like to send a pull request today, I am not sure if we need a story.

This is tracked by #1331 with a follow-up in #430.

This is correct.

I added one more story to the epic - Blog post: Leveraging Express for a more robust HTTP processing #1337.

[2018-05-17 09:04] bajtos commented on #1038
See https://github.com/strongloop/loopback-next/pull/1338

[2018-05-17 14:12] virkt25 commented on #1334
+1 for a more helpful error message if we throw one (should be improved anyways in case someone accidentally went down this path).

I like the idea of injecting `CURRENT_USER` as a method argument / having it resolved as a getter (but with this approach I feel it's more complicated as a user would need to know they need to do this).

[2018-05-17 14:13] bajtos commented on #1332
Makes sense too.

Good point.

I think at minimum, we need a flag to say that a controller method should not be described in OpenAPI spec we are generating for the app.

[2018-05-17 16:18] shimks commented on #1298
Based on the acceptance criteria, we have decided on splitting the issue into two: one for updating the prompt's description, and one for providing express mode

[2018-05-17 16:40] shimks opened #1339 "[CLI] Model epic"
## Description / Steps to reproduce / Feature proposal

An epic to organize all things CLI model generation

### Figure out what a generated model looks like

#### Figure out what artifacts will be generated

### Create a command with a set of prompts for a model
- #1221

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-05-17 17:14] shimks opened #1340 "Creating Express mode for generating applications(must have) and other artifacts(optional) through CLI"
## Description / Steps to reproduce / Feature proposal
There should be a mode for creating apps through CLI where users can expect everything to be done for them without having to configure anything through the prompts.

## Acceptance Criteria
- [x] Add an `Automatic` / `Custom` mode for selecting the project settings.
    - [x] Appropriate Tests / Blog posts / etc.
- [x] Figure out the optional p

[2018-05-17 17:18] shimks opened #1341 "[CLI][SPIKE] Generate an app by passing in a config file"
## Description / Steps to reproduce / Feature proposal

In order to enable external CLI/GUI tooling to scaffold and possibly edit LoopBack applications, we need to implement a non-interactive mode for our generators.

Ideally, the CLI should accept a single JSON file containing instructions on what command to execute (app, model, etc.) together with any answers needed by those commands (app name,

[2018-05-17 17:45] jannyHou commented on #1341
Hi @shimks , do you mean when create an app from cli, there is only one prompt asking for a config file, user specify the file path then the app get scaffolded?

[2018-05-17 19:21] dhmlau commented on #1340
Getting the feedback from https://github.com/strongloop/loopback-next/issues/1309 and team discussion, I think the general idea of each CLI command is to have `express` and `custom` mode, such that:
[code]

**Proposal for `lb4 app` command**
- `custom` path would show what we're showing currently, asking:
    - project name
    - project description
    - project root directory
    - application c

[2018-05-17 19:27] shimks opened #1343 "Allow coercion and validation to be extensible"
## Description / Steps to reproduce / Feature proposal

## Acceptance Criteria
- _to be hashed out after the completion of #1319, #750 and #118_

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-05-17 20:30] #1171 closed

[2018-05-17 22:31] dhmlau commented on #1341
Also, I'd like to propose this as either `DP3` `p2` or `non-DP3`.
@raymondfeng @bajtos , what do you think?

[2018-05-18 15:37] bajtos commented on #301
[code]

My opinion: if the OpenAPI spec mandates a well-defined list of valid `in` values, then the type definition should reflect that and use `ParameterLocation` type instead of a generic `string`. I hope we can convince maintainers of `openapi3-ts` to follow this thinking and make the type definitions more accurate.

[2018-05-18 15:42] bajtos commented on #301
BTW, looks like we have already dropped most of our custom type definitions. As of today ([0411811aa](https://github.com/strongloop/loopback-next/tree/0411811aa8348e31636fb0fe07b44dd18469280f/packages/openapi-v3-types/src)), openapi-v3-spec-types provides only few helpers:
 - `OpenApiSpec` as an alias for `OpenAPIObject`
 - `createEmptyApiSpec()`
 - `isSchemaObject()` and `isReferenceObject()` (ty

[2018-05-18 16:01] bajtos commented on #1221
In the current design (at least for DP3 scope), models are defined code-first by using TypeScript classes and annotations, see e.g. [examples/todo/src/models/todo.model.ts](https://github.com/strongloop/loopback-next/blob/0411811aa8348e31636fb0fe07b44dd18469280f/examples/todo/src/models/todo.model.ts).

As I understand the goal of this story, we need a CLI command that will create a `.model.ts` fi

[2018-05-18 16:02] bajtos commented on #1339
Cross-posting from https://github.com/strongloop/loopback-next/issues/1221#issuecomment-390253696:

In the current design (at least for DP3 scope), models are defined code-first by using TypeScript classes and annotations, see e.g. [examples/todo/src/models/todo.model.ts](https://github.com/strongloop/loopback-next/blob/0411811aa8348e31636fb0fe07b44dd18469280f/examples/todo/src/models/todo.model.t

[2018-05-18 16:11] bajtos commented on #1340
I think the proposed express mode is too express. For example, I don't think there is any good default value for a project description to use in the express mode.

The whole discussion (see https://github.com/strongloop/loopback-next/issues/1309) was started because build settings are difficult to understand for new users. I think that's all we should hide behind express/custom mode.

I think the

[2018-05-20 16:19] hbakhtiyor opened #1345 ""Error [ERR_STREAM_WRITE_AFTER_END]: write after end" while app scaffolding"
## Description / Steps to reproduce / Feature proposal
* `npm i -g @loopback/cli`
* `lb4 app`
* leaving default values

[code]

@loopback/cli version: 0.11.5
nodejs v10.1.0
ubuntu 18.04

## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-05-20 17:18] raymondfeng commented on #1345
Fixed by https://github.com/strongloop/loopback-next/pull/1329. It was caused by a dependency breaking change. I'll make a new release.

[2018-05-20 20:04] raymondfeng commented on #1345
Please try `@loopback/cli@0.11.6`.

[2018-05-20 20:04] #1345 closed

[2018-05-21 03:45] hbakhtiyor commented on #1345
still have the issue in 0.11.6 version

[code]

[2018-05-21 03:48] raymondfeng commented on #1345
I just tried and it works for me.

Did you run `npm i -g @loopback/cli` to upgrade?

[2018-05-21 04:01] hbakhtiyor commented on #1345
[code]

[2018-05-21 04:13] raymondfeng commented on #1345
What do you see from the following command:

[code]

You should see the following:
[code]

[2018-05-21 04:32] hbakhtiyor commented on #1345
yeah, saw it,

for second try the cli scaffold without any issues

[2018-05-21 08:18] hbakhtiyor opened #1346 "auto validation request param base on param class or using decorator"
## Description / Steps to reproduce / Feature proposal
similar [routing-controllers approach](https://www.npmjs.com/package/routing-controllers#auto-validating-action-params)

e.g. we already set validation on `Todo` class, and using the validation, instead of writing inside action.

[code]
base on todo-list tutorial
[code]
## Current Behavior

## Expected Behavior

_See [Reporting Issues](http://

[2018-05-21 13:49] bajtos commented on #1311
FWIW, I have already started to look into implementing this user story.

[2018-05-22 03:40] raymondfeng commented on #1134
I have a PR to clean up strong-globalize: https://github.com/strongloop/strong-globalize/pull/132

[2018-05-22 15:26] shimks opened #1348 "Using `lb-mocha` with VSCode's debug feature results in an error"
## Description / Steps to reproduce / Feature proposal

When using VSCode's debugging feature with LoopBack 4's testing script `lb-mocha`, it is not possible to use the `restart` button as doing so would result in timing out with an `ECONNREFUSED` error. I believe this is because the child processes (or the parent processes) aren't being correctly shut down when restarting.

There are two child pr

[2018-05-22 16:33] shimks commented on #1112
I want to say this is covered by #1306. What do you think @jannyHou ?

[2018-05-22 16:43] shimks commented on #899
This should be given a priority (dp3 or non-dp3). I'd rather have this be part of DP3, but we may already be overloaded enough so I'm also ok with it being non-DP3 as well.

[2018-05-22 18:17] shimks commented on #1085
Rejecting based on wanting to improving the UX for this type of controller generation and wanting to leverage `@loopback/boot` to provide users with a list of models and repositories. This task will be blocked on the follow up task to address the issue.

[2018-05-22 18:55] shimks commented on #1311
@bajtos For the dev experience of writing integration tests, is something like this sufficient enough? https://github.com/strongloop/loopback-next/blob/master/packages/service-proxy/test/integration/service-proxy.integration.ts. If it isn't, what kind of other functions should we provide so that the users may be able to write their tests more easily?

[2018-05-22 19:31] #887 closed

[2018-05-23 01:34] virkt25 commented on #100
+1 for implementing in LB4. I don't think this should be in `Needs Discussion` as this is missing acceptance criteria.

[2018-05-24 07:50] bajtos commented on #1311
IMO, the example tests in `service-proxy.integration.ts` require the app to share the implementation of the service in many places (inject decorators, integration tests, etc.). Ideally, I'd like both tests and controllers to share the same implementation details of a service.

That's something I am trying to figure out in #1347. My conclusion so far is that the story "Make services easy to test +

[2018-05-24 14:49] dhmlau commented on #1038
ok. Summarize what we have here.
- [x]  Must have: rework internals to use Express request/response types (~#1292, #1326~)
- [x] Leverage CORS middleware instead of the current workaround (minimal refactoring) (#1338)
- [ ] 🏃HttpEndpointFactory - a new module to deal with HTTP(S) setup, a dependency of (tracked by #1331, with out-of-scope follow-up task #430)
- [ ] Stretch goal: serving OpenAPI sp

[2018-05-24 15:19] dhmlau opened #1351 "HasMany relation - Docs and Blog post"
## Description / Steps to reproduce / Feature proposal
As a follow up task for PR #1342, we need documentation and blog post for the hasMany relation.

### Acceptance Criteria
- [x] documentation on hasMany relation
  - [x] Definition of a `hasMany` relationship between our data models
  - [x] How the relation is defined
  - [x] How the relation can be used in controller methods
- [x] blog post in

[2018-05-24 15:33] dhmlau opened #1352 "Inclusion of related models [MVP]"
## Description / Steps to reproduce / Feature proposal
Follow up task for PR #1342

Inclusion of related models (same as LB3)
For example, `Customer` model has `{include: ['order']}`.  When query on `Customer`, the result should includes the `Order` array.

Duplicates:
 - Include related models in "GET /mymodels" results #1889
 - https://stackoverflow.com/questions/53162562/loopback-4-hasmany-incl

[2018-05-24 15:35] dhmlau opened #1353 "Infer target repository when related models are backed by the same datasource"
## Description / Steps to reproduce / Feature proposal
Infer target repository when related models are backed by the same datasource, otherwise let user explicitly provide the target repository.
See https://github.com/strongloop/loopback-next/pull/1194#issuecomment-384626282

### Acceptance Criteria
- [ ] Introduce `getRepositoryForModel()` function inside `DefaultCrudRepository` class as shown in

[2018-05-24 15:37] dhmlau opened #1354 "Use relational decorators' metadata"
## Description / Steps to reproduce / Feature proposal
Use relational decorators' metadata to construct constrained target repository instance on relational properties

### Acceptance Criteria
@b-admike , could you please add the acceptance criteria?

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-05-24 15:38] dhmlau opened #1355 "Relation refactoring: Remove execute function out of Repository interface"
## Description / Steps to reproduce / Feature proposal
Remove execute function out of Repository interface and into its own interface for arbitrary SQL commands. The reasoning behind this is that the `Repository` interface serves the base for a lot the repository interfaces and it doesn't make sense for some of them to also include the `execute` function. See https://github.com/strongloop/loopback

[2018-05-24 16:05] dhmlau opened #1356 "Relation refactoring: Split Repository interface into different interfaces"
## Description / Steps to reproduce / Feature proposal
See https://github.com/strongloop/loopback-next/pull/1194#discussion_r184261118 for background. This tasks aims to break up the `Repository` interface into different interfaces based on the persistence function type and refactor the repository interfaces which extend from it to use those interfaces via a Mixin.

### Acceptance Criteria
- [ ] S

[2018-05-24 16:10] b-admike opened #1357 "Extension point for registering http response serializers"
Related to #436

LoopBack runtime should define an extension point to register http response serializers that can be used to serialize the JS plain/wrapper object into a http response. A serializer should be able to handle certain media types, for example, json, xml, or protocol buffer. The serializer just has to deal with the http response object as a canonical representation.

_See [Reporting Is

[2018-05-24 16:38] dhmlau opened #1358 "Incorporating relations in our examples"
## Description / Steps to reproduce / Feature proposal
Incorporating relations in our examples, either create new example or use existing ones (e.g. todo example).

### Acceptance Criteria
The example application should:
- [ ] Create another todo intermediate example(a new example package)
- [ ] demonstrate defining and configuring a `hasMany` relation, and calling related repository CRUD APIs fro

[2018-05-24 16:44] dhmlau opened #1359 "[CLI] add `lb4 relation` command"
## Description / Steps to reproduce / Feature proposal
- CLI command lb4 relation or the likes to wire up related models (think of LB3)
	-  Creating CLI templates which expose relation related CRUD methods during controller method generation
	-  Adding CLI prompts which create/decorate relational properties etc.

See also #695

We would like to define models relations in LoopBack 4 as well. Defini

[2018-05-24 16:49] dhmlau opened #1360 "[Relation] Scoping for single models"
## Description / Steps to reproduce / Feature proposal
Scoping for single models: https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#scopes

@b-admike , pls add more details!

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-05-24 16:50] dhmlau commented on #1032
Extracting the to-do list from #995, I've created the following tasks:

- hasMany: doc + blog #1351
- Inclusion of related models (same as LB3) #1352
- Infer target repository when related models are backed by the same datasource, otherwise let user explicitly provide the target repository  #1353
- Use relational decorators' metadata to construct constrained target repository instance on relationa

[2018-05-24 16:56] dhmlau opened #1361 "[Relation] Support BelongsTo relation"
## Description / Steps to reproduce / Feature proposal
Add support for `BelongsTo` relation between two models. Stretch goal for `DP3`.

### Acceptance Criteria
- [x] Update [factory method](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/repositories/relation.factory.ts) to handle this relation
- [x] create interface for CRUD methods available for the relation.  Se

[2018-05-24 18:10] jannyHou commented on #1334
By injecting the `CURRENT_USER` when instantiate the controller class, each call has a consistent user if the invoked method calls other methods that need authentication.

While by using `@inject.getter`, does it still guarantee the user retrieved in a chain of methods is always the same?

[2018-05-24 18:14] jannyHou commented on #1334
Maybe we can define a default value for `UserProfile` that represents an anonymous user, then we don't need a union type to handle `undefined`...

[2018-05-24 18:23] jannyHou commented on #1332
How about create the controller class in the `@loopback/rest` package instead of creating it by cli, this can prevent people from removing it.
If this results in a circular dependency, we can create a new package for some built-in classes, or other artifacts. Just like the built-in models in `loopback`.

+1 👍

[2018-05-24 20:09] dhmlau commented on #1221
@virkt25 , assigning this to you, because you're doing this as part of the spike #441 already. thanks.

[2018-05-24 23:21] virkt25 commented on #1332
On the one hand I like the idea of certain endpoints always being present such as `/openapi.json` so am ok with it being part of `@loopback/rest` ... but at the same time shouldn't users have the option of disabling it? --- Then again, we don't provide an option to users right now so it's probably fine.

[2018-05-24 23:49] dhmlau commented on #1221
@virkt25 , if it's good for estimate, please move to the `needs estimate` column.  thanks.

[2018-05-24 23:49] dhmlau commented on #1225
@virkt25 , if it's good for estimate, please move to the `needs estimate` column.  thanks.

[2018-05-25 02:34] #971 closed

[2018-05-25 02:46] Vandivier opened #1362 "Property 'body' does not exist on type 'ParsedResponse'"
## Description / Steps to reproduce / Feature proposal

consider the following controller.ts:
[code]
## Current Behavior

1 - My IDE (Brackets) throws on line 2: "Property 'body' does not exist on type 'ParsedResponse'"
2 - [Docs state](http://loopback.io/doc/en/lb4/Sequence.html) "Request - (TBD) missing API docs link"

## Expected Behavior

1 - Docs exist for ParsedResponse, showing what propert

[2018-05-25 04:15] virkt25 commented on #1362
@Vandivier Thanks for trying out LB4 and the feedback above. Can you try the following:

1. Install the latest version of the CLI (`npm i -g @loopback/cli`) -- generate a new project and try the above.

2. `PUBLIC_TOKEN` is a property and hence in `ping()` should be referred as `this.PUBLIC_TOKEN`

---

The reason to re-install the CLI and generate a new project is that we recently made the switch

[2018-05-25 22:01] dhmlau commented on #1243
done. See web site: v4.loopback.io

[2018-05-25 22:01] #1243 closed

[2018-05-27 02:46] seanpk opened #1367 "`npm start` fails for newly created lb4 project"
## Description / Steps to reproduce / Feature proposal
Follow the [Getting started](http://loopback.io/doc/en/lb4/Getting-started.html) guide, get to the part where you run `npm start`.
Find out that you need to install two additional packages `base64-js` and `ieee754` for the command to execute successfully.

Ubuntu 18.04, node v10.2.1, npm 5.6.0.

## Current Behavior
After running `npm start` ge

[2018-05-27 04:32] raymondfeng commented on #1367
Hi, I just tried by myself and everything works as expected. Can you post the complete stack trace for your error?

[2018-05-27 15:33] davidmehren commented on #1367
I have the same problem under Arch Linux with node 10.2.1 (npm v6.1.0).

If I try `npm start` right after creating a new project with `lb4` I get the following:
[code]

After `npm install base64-js ieee754` I can start the server, but accessing http://localhost:3000/ping crashes it with
[code]

This also happens with node v8.11.2 (npm v5.6.0).

[2018-05-27 16:17] raymondfeng commented on #1367
Can you run `npm ls swagger-client` and post the result here?

[2018-05-27 16:20] davidmehren commented on #1367
[code]

[2018-05-27 16:36] raymondfeng commented on #1367
It seems that `swagger-client@3.8.5` is completely broken. The problem can be reproduced as follows:

[code]

[2018-05-27 16:37] raymondfeng commented on #1367
https://github.com/swagger-api/swagger-js/issues/1326 is the culprit.

[2018-05-28 13:09] bajtos commented on #441
I watched the recording of your presentation, @virkt25. Great work! I like how well-thought was your proposal, I agree with most of what you proposed at the high-level.

I have a dozen of comments and discussion points, see below.

#### 1
+1 for preserving TypeScript classes for Models and DataSources, they are an integral part of test-first development process described in http://loopback.io/doc/

[2018-05-28 14:28] #1049 closed

[2018-05-28 14:30] shimks commented on #1172
#1049 has been closed since the creator of the triage issue is inactive

[2018-05-28 15:04] bajtos commented on #100
Removing from DP3 as out of scope.

[2018-05-28 15:06] bajtos commented on #1306
@shimks

Should we close this issue then?

[2018-05-28 15:10] bajtos commented on #1308
I believe this is a duplicate of #118 - closing.

[2018-05-28 15:10] #1308 closed

[2018-05-28 15:13] bajtos commented on #1319
@shimks we already have another story covering validation at REST layer, see #750:

Assuming we implement #750 first, what would be the scope & acceptance criteria of this story #1319?

[2018-05-28 15:29] bajtos commented on #1032
In the past (https://github.com/strongloop/loopback-next/issues/995#issuecomment-389549293), I wrote:

@dhmlau The task list above does not provide those small increments of functionality. I am proposing to add the following stories, where the first story should be already in progress by @b-admike:

 1. HasMany with a single operation find, covering both repository/persistence and REST API in a co

[2018-05-28 16:04] shimks commented on #1306
@bajtos Oops, that message was for rejecting for 'estimation' when it was initially brought up. I intended this to be the main task to work on, but essentially #750 and this issue seem to be a duplicate

[2018-05-28 16:05] bajtos commented on #1341
I am not sure what's the intent of this particular story since I am not the author, but: recently we were discussing how to better integrate LoopBack generators with the tooling provided by our runtime team. The discussion boiled down to a requirement that an external CLI/GUI tool should be able to scaffold a LoopBack application with multiple artifacts (models, etc.) in a single non-interactive c

[2018-05-28 16:05] bajtos commented on #1341
IMO, this is non-DP3, but it would be great to have it as part of Core GA.

[2018-05-28 16:09] bajtos commented on #1085
I disagree. Right now, people using `lb4` can easily run into a problem that's difficult to troubleshoot for them. I certainly have been bitten by that.

Leveraging `@loopback/boot` is a great long-term solution, but that's not the point of this story! What I want to see is a small & cheap improvement that will somehow alleviate the current source of confusion.

[2018-05-28 16:15] bajtos commented on #1038
@dhmlau LGTM 👍

[2018-05-28 16:27] jannyHou commented on #1112
@shimks I think this issue is the conversion **from model class to openapi spec**, while #1306 is for the conversion **from request to controller method's input**, so they are different things.

[2018-05-28 16:39] jannyHou commented on #1306
@shimks I think #750 is created to implement the first criteria in this story:

    Create string type to Date type converter
    Create string type to Buffer type converter
    Create other string type to JS run-time converter (like number and boolean)

I would suggest we still use #750 for implementing the first criteria, and get back to this issue when work on the second criteria

[2018-05-28 17:14] shimks commented on #1319
@bajtos I believe the acceptance criteria should remain unchanged considering the scope of this task is to move over the converters used in http coercion into a 'LoopBack' typing hub.

[2018-05-28 17:18] shimks commented on #1341
I may have misunderstood the main points of the topic during the aforementioned discussion. Since my main intent was to capture the information from that discussion, please feel free to edit the description so that it more accurately reflects the discussion that have taken place

[2018-05-28 18:33] hacksparrow opened #1368 "`listening` property in the Server interface"
## Description / Steps to reproduce / Feature proposal
How about a `listening` property in [packages/core/Server](https://github.com/strongloop/loopback-next/blob/master/packages/core/src/server.ts)?

This tells whether the server is running and listening for connections or not.
## Current Behavior
`Server.listening` property does not exist.

## Expected Behavior
`Server.listening` is `true` or `f

[2018-05-28 18:43] jannyHou commented on #1368
Sounds good to me.
And could potentially make the solution for https://github.com/strongloop/loopback-next/issues/822 easier.

[2018-05-28 21:11] raymondfeng commented on #1367
Fixed by https://github.com/swagger-api/swagger-js/pull/1328

[2018-05-28 21:11] #1367 closed

[2018-05-29 00:44] dhmlau commented on #1351
@b-admike , could you please modify the acceptance criteria as needed so that we can estimate tmr? thanks.

[2018-05-29 12:44] bajtos commented on #1341
Done. I have also changed this story into a spike.

[2018-05-29 13:10] bajtos commented on #1134
Now that the strong-globalize clean-up was merged, I think we need to publish a new release and update loopback-next to use the new strong-globalize version. Is that correct?

[2018-05-29 14:42] shimks commented on #441
@virkt25 Would you consider this spike done? I remember there being follow up issues that can be estimated.

[2018-05-29 15:25] bajtos commented on #1127
Assigned to @virkt25, looks like he is already working on something related in https://github.com/strongloop/loopback-next/pull/1363

[2018-05-29 15:43] b-admike opened #1372 "Retrieval of related model for a `HasMany` relation"
## Description
Follow up for #1342. Given `Customer` and `Order` models, and a customer that has orders already, I would like to define a `HasMany` relation and

- find all the orders for said customer in a controller method
- create an order for said customer in a controller method

## Acceptance Criteria

- [x] Infer relation metadata from the `hasMany` decorator to construct constrained target

[2018-05-29 16:50] raymondfeng commented on #1134
We have released `strong-globalize@4.0.0` and it's backward compatible. I'll open an issue to track how to update LB3 modules to use the new version.

[2018-05-29 16:54] b-admike commented on #1351
@dhmlau done. I think what was there before makes sense, just added a couple more points.

[2018-05-29 17:24] dhmlau opened #1375 "Monthly Milestone - June 2018"
## June milestone

### LB4 Goals

- Finish HTTP hardening story #1038
    - [x] HttpEndpointFactory #1331
    - [x] Describe how to use Shot Request/Response mocks #760 - see #1393
    - [x] Blog post: Leveraging Express for a more robust HTTP processing #1337

- Finish Integration with REST/SOAP services #1036
    - [x] Make services easy to test + docs #1311

- Model Relations #1032 - complete t

[2018-05-29 17:30] dhmlau commented on #1311
@bajtos , since this is in the June milestone, we'd like to get it estimated soon.  Is the acceptance criteria good for estimation?  From the above comment, it seems like we might need to modify? thanks.

[2018-05-29 17:30] b-admike opened #1376 "hasMany relation CRUD methods"
## Description / Steps to reproduce / Feature proposal
Follow up to #1372. Create the rest of the allowed CRUD methods on the target repository for a hasMany relation between two models to make sure the full set of allowed methods is exposed.

## Acceptance Criteria:
Implement the following public CRUD methods APIs for `hasMany` relations:
 - [ ] `update`
 - [ ] `delete`
 - [ ] `save`
 - [ ] `crea

[2018-05-29 17:41] dhmlau opened #1377 "DP3 Release checklist"
Getting it from the release checklist: https://github.com/strongloop/loopback-next/wiki/Release-Checklist

- [x] update `README.md` in `loopback-next`
  - change `Status: Developer Preview #2` to `Status: Developer Preview #3`
- [x] update loopback.io
  - at the top of the page, it says `LoopBack 4 is currently in <some release>`.
- [x] Publish packages to npmjs
  - For repo list, see https://gith

[2018-05-29 17:52] raymondfeng commented on #1372
[code]

[code]

[2018-05-29 19:30] jannyHou commented on #1375
@dhmlau As we discussed,  we already have committed 66 story points in total, I am afraid it's a little beyond our velocity, shall we move some committed stories into the stretch goal? I would suggest the two relation tasks that not estimated yet, and the validation story with 13 points:

-  incorporating relations in examples #1358 (needs estimate)
- Use relational decorators' metadata to constru

[2018-05-30 07:36] bajtos commented on #1375
+1 to reduce the scope.

As for relations, I think we should remove "hasMany doc + blog #1351" instead of one of the coding story, because the blog should be the last story in the epic to work on.

[2018-05-30 12:51] bajtos commented on #1311
@dhmlau added two more items to the acceptance criteria. LGTY now?

[2018-05-30 15:13] SzymonSel commented on #110
Hi Everyone. I recently pushed my first contribution and I'm looking forward to contribute more in a more organized fashion :)

[2018-05-30 16:18] hosiduy opened #1378 "Handle null on findOne function in DefaultCrudRepository class"
## Description / Steps to reproduce / Feature proposal
Hi there,
In DefaultCrudRepository class in /node_modules/@loopback/repository/dist8/src/repositories/legacy-juggler-bridge.js file, we have code:
[code]
## Current Behavior
The bug happends when function: findOne return null and pass null to function: toEntiry(). So we have null.toObject() -> Cannot read property 'toObject' of null error.
##

[2018-05-30 16:31] b-admike opened #1379 "Add tests for `hasMany` relation source code"
## Description / Acceptance Criteria:
Add appropriate tests for the following files introduced in #1342.
 - [x] `constraint-utils.ts` https://github.com/strongloop/loopback-next/blob/066dfa3fc8a24f0e7ce7756673ba8d60af7fae62/packages/repository/src/repositories/constraint-utils.ts
- [x] `relation-factory.ts` https://github.com/strongloop/loopback-next/blob/066dfa3fc8a24f0e7ce7756673ba8d60af7fae62/p

[2018-05-30 17:35] jannyHou commented on #1378
@hosiduy Thank you for catching and bringing up the issue.
As a more general solution, I think we should check `null` or empty array for all CRUD methods in file: https://github.com/strongloop/loopback-next/blob/c553f1171ca86eb13ba7473d73d2e0d1b8de29de/packages/repository/src/repositories/legacy-juggler-bridge.ts

[2018-05-30 18:57] shimks opened #1382 "LB4 website: Getting Started page"
## Description / Steps to reproduce / Feature proposal

Part of incremental effort to fully implement `v4.loopback.io`. See #817.

## Acceptance Criteria
- [ ] refactor `index.html` to extract out the header and footer
- [ ] create `Getting Started` page as according to the given spec

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good is

[2018-05-30 20:03] dhmlau commented on #1358
In discussion with @b-admike and @shimks, there are few options on how to add relations in our examples:
**Option 1**: Use [todo](https://github.com/strongloop/loopback-next/tree/master/examples/todo) example
- General idea: todo list has todo's
- Pros: effort will be smaller because we will be adding models instead of creating a new app
- Cons: it might be hard for our users to follow if one exam

[2018-05-30 23:30] dhmlau commented on #1379
@b-admike , is this working in progress now? if not, is it intended for DP3?

[2018-05-31 02:29] dhmlau commented on #1375
+1 in removing "hasMany doc + blog" #1351 in june milestone.
At first I was thinking it might be good to move to stretch goals, but given the amount of work needed to be done in this epic, we may not be able to contain it at all.

[2018-05-31 14:00] bajtos commented on #110
We have 9 pending invitations. Could you please open the following URL and accept/reject the invite please? @vishwasrao @herbertsg @skanygin @austinfrey @GetCodePanda @ThatDevSteve @joeytwiddle @ghulamhussainK @SzymonSel

https://github.com/strongloop/loopback-next/invitations

[2018-05-31 14:09] b-admike commented on #1379
@dhmlau yeah I have started working on it with #1383 (I think it's good to have in DP3).

[2018-05-31 14:11] b-admike commented on #1372
@jannyHou yeah that's correct.

[2018-05-31 14:13] b-admike commented on #1354
@dhmlau I think this is covered by #1372 (which I've updated) with the following criteria:

It makes sense to do it as part of that story. Closing this.

[2018-05-31 14:28] b-admike commented on #1358
@dhmlau I've added some acceptance criteria, but I think we should discuss what type of app we would like to create before we estimate this task. Thoughts? We have a good starting point with the options you provided and I personally would like to go with Option 2, because I think creating a new app would not be daunting given the examples we already have in place.

[2018-05-31 14:36] b-admike commented on #1375
I'm okay to leave #1351 out of the milestone and possibly #1358 as a stretch goal.

[2018-05-31 14:56] b-admike commented on #1354
Talked with @dhmlau. We've agreed that this issue can be closed.

[2018-05-31 14:56] #1354 closed

[2018-05-31 15:47] jannyHou commented on #1375
Thanks for all suggestions, l modified the list according to our chat above, I moved #1358 to stretch goal, and deferred the blog issue #1351 to next milestone.

cc @dhmlau @b-admike @bajtos

And any objection on moving "Router: validate input parameters" #118 into the stretch goal?
@strongloop/sq-lb-apex @raymondfeng @bajtos ?

[2018-05-31 16:09] #660 closed

[2018-05-31 17:09] #372 closed

[2018-06-01 05:51] joeytwiddle commented on #110
@batjos, that links gives me a red alert:

[2018-06-01 14:19] virkt25 commented on #1362
@Vandivier any updates?

[2018-06-01 14:45] #1259 closed

[2018-06-01 14:58] #423 closed

[2018-06-01 15:45] virkt25 commented on #441
Yea I would consider this spike done. Leaving this issue open till I have time to transfer @bajtos 's comments to issues tracking the follow-up work.

---

The outcomes is to use CLI to generate a JSON file which can be edited by users / CLI tooling. The CLI will also generate a `.ts` file with the class for typing purposes. Also gives a programatic way to modify the class. The `.ts` file is gener

[2018-06-01 15:47] collaorodrigo7 commented on #110
@ritch, @bajtos I would really love to help. I have been using loopback 3 over a year already and testing a bit of 4, it's all pretty awesome. I think I can contribute a lot, and will also like to help writing the new documentation and examples!

[2018-06-01 16:53] dhmlau opened #1389 "Scaffold LB4 app with starter templates"
## Feature proposal
With more CLI commands coming along the way to generate data source and models, it still requires lots of steps for users to create a LoopBack 4 application with very basic scenario.

Taking the [ToDo application](http://loopback.io/doc/en/lb4/todo-tutorial.html) as an example.  It involves creating datasource class, datasource json, repository, etc, for connecting to an in-mem

[2018-06-01 20:18] skanygin commented on #110
@bajtos same error as @joeytwiddle mentioned.

[2018-06-04 06:50] bajtos commented on #1375
@jannyHou the changes you made are fine.

[2018-06-04 14:19] bajtos commented on #1085
@shimks here is the (user) story I'd like to get addressed by this issue for DP3:

As a developer building a new LB4 app, I ran `lb4 app` to scaffold a new project. Because there is no CLI support for building models and repositories, I created my `Product` model and `ProductRepository` by hand. Unfortunately I was not aware about the strict file naming convention required by CLI, or perhaps I ove

[2018-06-04 14:53] bajtos commented on #110
@collaorodrigo7 invite sent.

@joeytwiddle @skanygin sorry for the confusion! I am glad you found the right URL where to accept the invite.

[2018-06-04 14:53] #1127 closed

[2018-06-04 16:15] jannyHou commented on #1112
@shimks I updated the acceptance criteria in https://github.com/strongloop/loopback-next/issues/1112#issue-303888785, hope it clarifies the use case need to fix in this story.
I feel you still misunderstand the use case here, this story has nothing to do with request/response/coercion, it's all about fixing the generated OAI3 `schema` for a given model, it's not related a run-time http request...

[2018-06-04 17:01] shimks commented on #1112
I understand that `Date` schema is missing, what I'm saying is that we may not need one anymore considering we're allowing the users to pass in an instance of `Date` as a string. Maybe we should still provide a schema for it if we want to allow the users to provide `Date` as an object. Thoughts @strongloop/sq-lb-apex, @raymondfeng, @bajtos?

[2018-06-04 20:07] jannyHou commented on #750
A list of coming PRs for edge cases:
- [ ] boolean
  - [comment1](https://github.com/strongloop/loopback-next/pull/1370#discussion_r192676145)
- [ ] date
  - [comment1](https://github.com/strongloop/loopback-next/pull/1370#discussion_r192674150)

keep adding more types

[2018-06-05 07:32] bajtos commented on #1112
My opinion: If a remote method expects a date string in the input arguments, then the OpenAPI spec schema produced by LoopBack should clearly say so (so that clients understand what kind of a string to provide) and our REST layer should convert and validate the input value from string to a Date instance.

[2018-06-05 07:52] bajtos commented on #865
Closing as stale. Feel free to reopen if the problem still persists and you can provide additional information to help us reproduce the problem.

[2018-06-05 07:52] #865 closed

[2018-06-05 07:53] bajtos commented on #1346
Closing as a duplicate of #118

[2018-06-05 07:53] #1346 closed

[2018-06-05 07:53] #760 closed

[2018-06-05 13:38] b-admike commented on #1353
@bajtos could you please add some acceptance criteria for this task?

[2018-06-05 14:32] bajtos commented on #750
@jannyHou in addition to the list you have above, there should be a test for each OAS type to verify how the following input values are handled:

- An empty string
- Value not provided (header missing, no query string argument with the given name, etc.)
- An invalid value

[2018-06-05 15:04] bajtos commented on #1353
@b-admike sure. Here is what I would like to see - please let me know if it's aligned with your vision for releations too.

Right now, a controller method exposing a relation method looks like this:

https://github.com/strongloop/loopback-next/blob/2783acf02880eadbb056aa1756e428c3c40c824d/packages/repository/test/acceptance/has-many.relation.acceptance.ts#L36-L49

The goal of this story is to allo

[2018-06-05 15:46] bajtos commented on #1372
See also https://github.com/strongloop/loopback-next/issues/1353

[2018-06-05 15:47] bajtos commented on #1353
See also https://github.com/strongloop/loopback-next/issues/1372, I think these two stories are rather intertwined.

[2018-06-05 16:15] raymondfeng commented on #1353
Here is my take:

1. `customerRepo.orders` should be a factory method to get an instance of `OrderRepository` which will enforce the FK referential integrity
2. The decoration of `orders` property should have enough metadata to help our runtime to know which target repository to use. For example:
[code]
3. `customerRepo.orders()` should take the constraint such as `{id: 'customer0001'}` as an argu

[2018-06-05 18:09] dhmlau commented on #1016
I went through all the pages listed in the original description and deleted the ones that are duplicate of the documentation because our docs contain the most updated content.

For the remaining pages, I'd like to get some input on what to do about it (my proposal included), especially @raymondfeng @bajtos  who are with LB4 since the beginning.

 - [ ] [Benchmarks](https://github.com/strongloop/lo

[2018-06-05 18:46] jannyHou commented on #1173
Let's keep discussion and revisit it in the next meeting.

[2018-06-05 19:18] #585 closed

[2018-06-05 20:17] virkt25 commented on #782
not-stale

[2018-06-06 06:30] bajtos opened #1396 "[Spike]How to modify datasource configuration in integration/acceptance tests"
**Time-boxed to 1 week**

When I wrote the original Thinking in LoopBack content, which was later converted to best-practices guides [Implementing features](http://loopback.io/doc/en/lb4/Implementing-features.html) and [Testing your Application](http://loopback.io/doc/en/lb4/Testing-your-application.html), I was thinking that acceptance and integration tests should use the very same datasource con

[2018-06-06 20:12] jannyHou commented on #695
I feel it's too earlier for team to discuss the declarative relation file before story https://github.com/strongloop/loopback-next/issues/1372 finished, we can revisit it later this month to groom it.

[2018-06-06 20:38] jannyHou commented on #1173
Hi team @strongloop/sq-lb-apex @raymondfeng @bajtos @hacksparrow , after following the conversation above, I think we at least agree on make the **api first approach(top-down)** less visible in the 4 documentation pages list in https://github.com/strongloop/loopback-next/issues/1173#issue-307788627.

I would also suggest we don't document a concept in a way that the code first and api first approa

[2018-06-06 20:46] jannyHou commented on #1085
My take of eliminate the confusion would be:
- The file naming convention should be documented under each artifact/key concept page.
- A link to an artifact's naming convention should be provided in the tutorial where we introduce using cli to create it, in a very well visible way.
- The readme document for `@loopback/cli` should refer to the contents above ^
  - A bonus for this issue, since user

[2018-06-06 21:41] b-admike commented on #1353
I agree with having the factory method on the repository instance (which I think we all agree on). IMO, decorating the factory method and inferring the target repository from it makes sense. My question is how we should, in a high level, infer the target repository if the models are backed by the same datasource this way. I think if we can settle on the first incremental feature for this task, the

[2018-06-07 04:58] virkt25 opened #1398 "TestSandbox random dir generation"
## Description / Steps to reproduce / Feature proposal

Current TestSandbox uses the same folder the user provides for tests. If a file put in the sandbox is `require`d, it gets cached by it. A workaround for clearing the cache was introduced in #1391 but as per the comments, https://github.com/strongloop/loopback-next/pull/1391#issuecomment-394579019, decaching has it's own challenges.

## Curren

[2018-06-07 10:00] bajtos commented on #1173
I think you meant top-down code examples should be moved to less visible sections?

The proposal looks good to me. To be honest, I think it would be more effective to sandbox this task to a certain amount of time and let the person working on the task to decide what's best, rather than spend so much time and effort on coming up with clear acceptance criteria.

[2018-06-07 10:10] bajtos commented on #1016
The content is very outdated, the landscape has changed so much since Node.js 7.x days that the numbers are no longer relevant. We aren't going to switch from async/await back to callbacks anyways.

Let's remove this page.

+1

Remove it.

+1 to keep it. I think larger updates are out of scope of this task, but I think a quick change of adding a ToC-like links to other wiki pages would help a lot

[2018-06-07 10:55] bajtos commented on #1085
I am fine with describing the naming convention in our docs, as you proposed @jannyHou.

BUT: IMO, it would not occur to most people (including) myself that we need to look into README, I wouldn't be sure where to find it. Do you mean the output of `lb4 controller --help`? That would be a good place where to add a link to the docs too.

I still think the CLI should show some hint to the user to ma

[2018-06-07 11:08] bajtos commented on #1353
I fully agree with the first part: " customerRepo.orders should be a factory method to get an instance of a repository".

I disagree with the idea that a relational repository should be the same as DefaultCrudRepository. Relations don't have the same API as regular repositories, for example `execute` is difficult to impossible to implement for HasMany relation, HasAndBelongsToMany relations needs

[2018-06-07 11:20] bajtos commented on #1334
IIRC the constraints of our current authentication design, I think the following should be easy to achieve:

[code]

We can even shorten `@injectCurrentUser` to `@currentUser` or similar.

[2018-06-07 15:39] jannyHou commented on #1173
Let's do a quick spike:
- Take a look of the 4 pages in story description, see which part is out of date, and which should be replaced.
TBD

[2018-06-07 20:29] dhmlau commented on #1382
Issue moved to [strongloop/v4.loopback.io #22](https://github.com/strongloop/v4.loopback.io/issues/22) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-07 20:29] #1382 closed

[2018-06-07 23:57] dhmlau opened #1400 "[Docs]: Wiki cleanup"
## Description / Steps to reproduce / Feature proposal
Originated from #1016
- duplicate / outdated wiki pages had been removed
- decision was made on what to do with the remaining pages

### Acceptance Criteria
- [x] [Principles](https://github.com/strongloop/loopback-next/wiki/Principles)
   - we should move this content to our developer documentation, e.g. [DEVELOPING])https://github.com/strong

[2018-06-08 00:00] dhmlau commented on #1016
Closing this spike as the bigger updates for the wiki page will be tracked under #1400 .  The task will be estimated there.

[2018-06-08 00:00] #1016 closed

[2018-06-08 00:08] dhmlau commented on #1400
We estimated `8` for previous release.

[2018-06-08 00:10] dhmlau commented on #1378
@jannyHou @bajtos , do we have enough information to estimate or should put to our backlog directly?  Thanks.

[2018-06-08 00:12] dhmlau commented on #1309
Closing this spike as resolved because we're going to have the "basic vs customize mode" (terminology TBD) and the task is tracked under #1340

[2018-06-08 00:12] #1309 closed

[2018-06-08 11:44] joeytwiddle commented on #1334
An afterthought: Would it be possible for `@authenticate()` or for `@injectCurrentUser()` to set `this.user`?

That might reduce the boilerplate, if we don't have to keep accepting the user object.

And it would also achieve parity with the current `@inject(AuthenticationBindings.CURRENT_USER)` in case we decide to keep that for developers who _do_ want authentication on every route.

[2018-06-08 13:51] bajtos commented on #1334
You can inject the current user in your controller constructor. Depending on how we decide to handle CURRENT_USER when no user is authenticated (throw an error or return `undefined`), it is probably safer to inject a getter instead.

[code]

[2018-06-08 14:09] b-admike commented on #1353
Yeah that makes sense to me 👍.

I like this approach, and like you said it is moot point as we agreed to pass in the FK constraint to it.

Yes I think that was my root concern now that I think about it.

I also don't really have any suggestions, but your proposal sounds good to me. As we work on #1372, it might become more clear what to do here or the alternatives.

[2018-06-09 00:47] dhmlau commented on #1134
@raymondfeng @bajtos , with the `strong-globalize` being refactored, does it mean this issue is already resolved?

[2018-06-09 03:06] tapas4java opened #1405 "`npm start` failing on newly created lb4 app"
## Description / Steps to reproduce / Feature proposal
The app created following [getting started guide](http://loopback.io/doc/en/lb4/Getting-started.html) is not in working state.

## Current Behavior
Geting below exception when running `npm start`.

[code]
## Expected Behavior
App should run without any issue

[2018-06-09 15:34] raymondfeng commented on #1405
Hmm, it seems to be an issue related to TypeScript 2.9 (https://blogs.msdn.microsoft.com/typescript/2018/05/31/announcing-typescript-2-9/#import-types).

Running `npm run build` for `loopback-next/packages/context` produces an invalid `key.d.ts` from `src/key.ts`:

[code]

Please note the relative import is invalid outside the monorepo.

[2018-06-09 15:43] raymondfeng commented on #1405
I'm proposing a workaround at https://github.com/strongloop/loopback-next/pull/1406.

[2018-06-09 16:24] raymondfeng opened #1407 "@loopback/rest: HttpHandler integration test times out after 2 seconds randomly"
## Description / Steps to reproduce / Feature proposal

Run `npm test` from `loopback-next`.

## Current Behavior

Sometimes (not always) the http handler integration test fails with timeout.

[code]

## Expected Behavior

It should pass consistently.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-06-09 16:54] raymondfeng commented on #1405
Please try `npm i -g @loopback/cli@0.13.4`

[2018-06-10 05:26] tapas4java commented on #1405
Thanks @raymondfeng

`@loopback/cli@0.13.4` looks fine.

[2018-06-10 05:26] #1405 closed

[2018-06-11 01:19] lifan0127 opened #1408 "Cannot override query parameter default value in controller method"
## Description / Steps to reproduce / Feature proposal
See this example from the documentation: http://loopback.io/doc/en/lb4/Controllers.html#writing-controller-methods

[code]

## Current Behavior
The `limit` parameter is always 10, regardless of what value is supplied through query parameter.

## Expected Behavior
Be able to change `limit` via query parameter.

[2018-06-11 03:31] raymondfeng commented on #1408
Please note that `limit` is passed in as a string, for example, `?limit=4` becomes `limit = "4"` at the moment. The type conversion is being implemented by https://github.com/strongloop/loopback-next/pull/1370. The decorator does work though except it's getting `"4"` instead of `4`.

[2018-06-11 03:31] raymondfeng commented on #1408
As a workaround, use `+limit` to convert it to `number` before #1370 is merged and released.

[2018-06-11 03:44] lifan0127 commented on #1408
@raymondfeng Thanks for your prompt response! I am still not able to resolve this issue. My real use case does not involve type conversion. For example:

[code]

It appears in this case, using url parameter `?query=xyz` has no effect and the `query` is always `"abc"`.

My current workaround is not to use default value but do something like `query = query || 'abc'` in the code.

[2018-06-11 03:57] raymondfeng commented on #1408
I tried the following code and it works for me:
[code]

Please run `lb4 -v` to see what version you have. Or post your package.json here.

[2018-06-11 03:58] raymondfeng commented on #1408
BTW, have you rebuilt the TypeScript code with `npm run build`?

[2018-06-11 04:04] lifan0127 commented on #1408
Thanks again. Here is the response when I ran your example:

[code]
lb4 -v output:

[code]

[2018-06-11 05:15] raymondfeng commented on #1408
I'm able to reproduce the problem now. This is a fix: https://github.com/strongloop/loopback-next/pull/1409

[2018-06-11 08:07] bajtos commented on #1337
In progress.

[2018-06-11 13:53] hacksparrow opened #1411 "Add support for HTTPS"
## Description / Steps to reproduce / Feature proposal

Add support for HTTPS.

## Current Behavior

LB4 apps do not support currently.

## Expected Behavior

LB4 apps should support HTTPS.

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2018-06-11 14:20] dhmlau commented on #1331
Closing this as PR #1369 has merged

[2018-06-11 14:20] #1331 closed

[2018-06-11 14:35] hacksparrow commented on #1407
Tried many times, not seeing it. Anyone else want to give it a go?

[2018-06-11 14:37] jannyHou commented on #1378
Acceptance Criteria:

- Check `null` or empty array for all CRUD methods in file: https://github.com/strongloop/loopback-next/blob/c553f1171ca86eb13ba7473d73d2e0d1b8de29de/packages/repository/src/repositories/legacy-juggler-bridge.ts
- Either return an empty entity or throw error(story owner can decide which one is proper)
  - For method like `findOne`, we probably don't want to throw error for em

[2018-06-11 14:39] jannyHou commented on #1378
@dhmlau I would suggest we do a quick estimation tomorrow. Then put to our backlog.

[2018-06-11 14:40] bajtos commented on #1378
IMO, `findOne` should return `null` when no entity was found for consistency with the current LB3.x behavior. I am proposing the following fix:

[code]

[2018-06-11 14:43] hacksparrow commented on #1407
Got a timeout error but in a different location:

[code]

[2018-06-11 14:48] bajtos commented on #1134
Not yet. We need to update most loopback modules to use the new strong-globalize, see the internal issue https://github.com/strongloop-internal/scrum-apex/issues/372.

[2018-06-11 15:13] #1408 closed

[2018-06-11 15:32] raymondfeng commented on #1408
Please upgrade to @loopback/context@0.11.6

[2018-06-11 17:14] shimks opened #1413 "apidocs links are broken and anchors are non-descriptive"
## Description / Steps to reproduce / Feature proposal

After we moved loopback4 apidocs main page to this repo, the base link for it has been changed which invalidates our existing apidocs links in the docs.

Additionally, some of the links with anchors to them are non-descriptive and seem easily subject to change (e.g. link to apidocs for Context's `get` is  http://apidocs.loopback.io/@loopback%

[2018-06-11 23:59] virkt25 commented on #785
not stale, related to https://github.com/strongloop/loopback-next/pull/1399

[2018-06-12 00:51] dhmlau commented on #1411
@hacksparrow , just wondering how does it different from #430 ?

[2018-06-12 00:54] dhmlau commented on #1407
Since it's marked as a bug, I'd like to tag it as DP3.   Putting into our backlog.

[2018-06-12 13:26] rfreydi opened #1418 "[Docs] import get from openapi-v3 or rest ?"
Currently in the [getting-started](https://github.com/strongloop/loopback-next/blob/master/docs/site/Getting-started.md#adding-your-own-controller) where we define a new controller we have an import for the get decorator:
[code]
But the CLI and the autocomplete of PhpStorm import it from another package:
[code]

Which one should be used ?

Here is the output of `lb4 -v`:
[code]

And here are my cu