[2019-07-09 12:10] JonnyBGod commented on #2660
**loopback** and **loopback-next** are two different beasts all together more so as of now they do not have any sort of feature parity.

In my opinion **loopback-next** as is is not production ready as **loopback** is unless you treat it as a completely different project.

So, in my opinion I see two different options here:
- keep everything as is until we have a closer feature parity and then jus

[2019-07-09 13:13] dhmlau commented on #3323
@nabdelgadir , could you please help? Thanks.

[2019-07-09 13:15] dhmlau commented on #3291
Thanks @dougal83! Good to know about this package. :)

[2019-07-09 13:58] bajtos commented on #2660
@JonnyBGod thank you for the comment. I agree that `loopback-next` is very different from `loopback`. This is already captured in npm package names - loopback-next packages use names like `@loopback/core` and `@loopback/rest`, while LB 3.x packages are `loopback`, `strong-remoting`, etc.

Even when LB4 (or later) reaches feature parity with LB 3.x, it will keep using the new package names. As far

[2019-07-09 14:05] bajtos commented on #3278
@ErwSim thank you for the proposal, I see how an aggregated changelog file can be useful.

We are generating our CHANGELOG files using [`lerna version`](https://github.com/lerna/lerna/tree/master/commands/version) and [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog).

AFAICT, `lerna` does not support aggregation of changelog entries. Can you open a new iss

[2019-07-09 14:07] kerolloz opened #3325 "prevent sending some properties in request body"
I have a `User` model. the model has a property named `isVerified`. I want to prevent this property from being sent in the request body.

I tried marking it as generated, but that doesn't work.

[code]

I expect to throw 422 unprocessable entity when `isVerified` is sent in the request body.

[2019-07-09 14:29] raymondfeng commented on #3324
https://github.com/strongloop/loopback-next/pull/3262

[2019-07-09 14:41] raymondfeng commented on #3325
I think we'll have to introduce some metadata to describe the property is readonly.

[2019-07-09 16:10] bajtos commented on #98
Closing as done by https://github.com/strongloop/loopback-next/pull/1765

[2019-07-09 16:10] #98 closed

[2019-07-09 17:27] #3298 closed

[2019-07-09 18:08] #3317 closed

[2019-07-09 19:50] dhmlau commented on #3047
It's live: https://loopback.io/

<img width="1084" alt="Screen Shot 2019-07-09 at 3 19 22 PM" src="https://user-images.githubusercontent.com/25489897/60918446-55694300-a261-11e9-94f9-6828f5f60910.png">

[2019-07-10 07:33] #2807 closed

[2019-07-10 09:33] shadyanwar commented on #3325
Check https://github.com/strongloop/loopback-next/issues/2454

[2019-07-10 10:17] UnclePetros commented on #3323
Hello,
now I've noticed when I start the project in lb3 I receive the following warning:
`Swagger: skipping unknown type "Document".
Swagger: skipping unknown type "file".`
but the project starts fine.

[2019-07-10 13:27] emonddr commented on #2351
Already done in PR : https://github.com/strongloop/loopback-next/pull/2437 .

[2019-07-10 13:27] #2351 closed

[2019-07-10 13:29] #3281 closed

[2019-07-10 13:41] emonddr commented on #2786
Besides the links that @jannyHou provided above, the original README.md link you provided at the beginning of the discussion, https://github.com/strongloop/loopback-next/blob/master/packages/authentication/README.md, has also been revised.

I will close this issue for now. But please re-open if you still need help. Thank you.

[2019-07-10 13:41] #2786 closed

[2019-07-10 16:01] gopalakrishnan-subramani commented on #3270
@raymondfeng Thanks for the tip, it works!!

Can you please give an example for downloading blob/image/documents like pdf using loopback 4? I could not find any source example. Thank you.

[2019-07-10 16:02] mcorbe commented on #3306
@jannyHou perfect, thanks !

@nabdelgadir @hacksparrow @bajtos, please take over closing the thread when reached a decision.

[2019-07-10 16:05] raymondfeng commented on #3306
Hmm, it should have been fixed by https://github.com/strongloop-internal/apidocs.strongloop.com/pull/93/. I'm not sure why the site has not been refreshed.

[2019-07-10 16:09] rmg commented on #3306
@raymondfeng last I checked the only deployment that is automatic is to staging. Promoting to production is a manual trigger.

[2019-07-10 16:15] raymondfeng commented on #3306
I just triggered the promotion now.

[2019-07-10 16:31] raymondfeng commented on #3306
The site is now updated.

[2019-07-10 16:31] #3306 closed

[2019-07-10 20:07] #3319 closed

[2019-07-11 11:32] evantrimboli opened #3335 "Generated controllers can import unused decorators/empty constructor."
## Steps to reproduce

Using the open api generator, generate a controller that does not use any request bodies or does not pass any parameters.

This can be problematic  depending on the compiler options, for example having unused parameters. The same could be said for an empty parameterless constructor.

## Current Behavior

The `param` and `requestBody` decorators are imported in the controller

[2019-07-11 12:50] mmbabel opened #3336 "Filter on findById is ignoring the where clause"
## Steps to reproduce

Submit to any findById call the optional filter argument with a where clause.

## Current Behavior

The where clause is beeing ignored and the item is returned in all cases.

## Expected Behavior

The item will only be returned if it matches the where clause.

## Additional information

This is needed to add item level security based on filters by an Interceptor.

## Related

[2019-07-11 13:52] rajkaran opened #3337 "After Update CLI to 1.18 - npm start not loading file changes"
## Steps to reproduce
After updating cli version to 1.18.0. I am seeing below error when I executes lb4 controller command
[code]
Addition to this If I continue with existing dependencies I gets:
[code]
Considering it as dependency issue. I create a sample getting-started app and updated my applications dependencies accordingly.
After updating package.json file all errors were gone but now I have

[2019-07-11 14:24] nabdelgadir commented on #3323
Hi, thanks for reporting this issue. I assume as a standalone LB3 application, this error doesn't happen? Could you please provide a sample repo to reproduce what you're getting so it's easier to debug? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs, thanks!

[2019-07-11 14:55] raymondfeng commented on #3337
@rajkaran It's not a good idea to use newer version of CLI against projects scaffolded using an older version. That's why the CLI warned you at the first place.

In your case, you'll have to fix `package.json` and `tsconfig.json` accordingly. Try to generate a new project and compare both files.

[2019-07-11 14:55] #3337 closed

[2019-07-11 14:58] jannyHou commented on #2654
Update:

According to [requestBody spec](https://swagger.io/docs/specification/describing-request-body/), different content types could have **different schemas**, this is why taking a single type and its options like
[code]
could not handle more complicated cases, even though it's the concisest signature.

The other proposal

[code]
looks more declarative than calling `getModelSchemaRef(TodoList,

[2019-07-11 14:59] rajkaran commented on #3337
I ended up falling back to 1.17.0 version

[2019-07-11 15:00] raymondfeng commented on #3335
@evantrimboli We generate the empty constructor intentionally to make it easy for developers to add dependency injection with constructor parameters.

`import {operation, param, requestBody} from '@loopback/rest';` is typically required by REST controllers. You run `npm run lint:fix` afterward to remove them.

[2019-07-11 15:04] dougal83 commented on #3336
I think you'll find that is by design.  `findById` is simply finding the item with the supplied `Id`.  I suggest that you use `find` and supply the where clause along with the item `Id` for your case.

[2019-07-11 15:24] raymondfeng commented on #3337
Not at this moment, but we could possibly save such information in `.yo-rc.json`.

[2019-07-11 16:02] mmbabel commented on #3336
When it takes a filter as argument I expect it uses this filter object.

I don't know how findById works internally, but from the signature it looks like a shortened version for find with the where, which has the benefit, that you do not need to know the name of the id.

For now I am doing excatly that overwriting the findById function in all my repos with a version that uses find with the id adde

[2019-07-11 21:09] dhmlau commented on #3336
@mmbabel , are you using the API Explorer to test?

[2019-07-11 21:57] mmbabel commented on #3336
No, I am using Postman to issue the HTTP requests.
The filter is also not coming by the request at all, the filter gets populated by an Interceptor and I tested that the filter is there.

As said, as a workaround I am now overwriting the standard findById in all repositories like in this example:

[code]

this works but is ugly,

[2019-07-11 22:45] evantrimboli commented on #3335
Regarding eslint, I am fairly sure that's still not offered as a solution out of the box:

https://github.com/eslint/eslint/issues/11668

I know you can't support all possible configurations, perhaps they could be options one could configure on the generator? Or alternatively provide some kind of hook to allow for more manual intervention.

[2019-07-12 00:03] dhmlau commented on #3291
I think this seeder capability would make a good LoopBack extension (instead of putting as part of the core). @strongloop/loopback-maintainers , what's your thoughts on that?

[2019-07-12 00:09] dhmlau commented on #3336
@bajtos, could you please help on this? Thanks.

[2019-07-12 01:39] samarpanB commented on #2452
@bajtos do we have any documentation on how to use jest with testlab in LoopBack? I am kind of intrigued to try this suite.

[2019-07-12 06:46] joeysino commented on #3277
It's possible to get [the express app](https://github.com/strongloop/loopback-next/blob/2118d806f22aa66825b9b25348ae41de5f30952f/packages/rest/src/rest.server.ts#L220) from the RestApplication's RestServer.

But when I added middleware, it seemed it was never being called.

This is what I tried, in various places in the constructor of `application.ts`:

[code]

I'm running an older version: `@loop

[2019-07-12 06:47] joeytwiddle commented on #3277
It's possible to get [the express app](https://github.com/strongloop/loopback-next/blob/2118d806f22aa66825b9b25348ae41de5f30952f/packages/rest/src/rest.server.ts#L220) from the RestApplication's RestServer.

But when I added middleware, it seemed it was never being called.

This is what I tried, in various places in the constructor of `application.ts`:

[code]

I'm running an older version: `@loop

[2019-07-12 07:15] bajtos commented on #3337
I suspect this is caused by upgrading `@loopback/build` to version 2. See the release notes for instructions on how to upgrade: https://github.com/strongloop/loopback-next/blob/master/packages/build/CHANGELOG.md#200-2019-06-17

[2019-07-12 07:59] bajtos commented on #3277
@gopalakrishnan-subramani thank you for reporting this issue.

At the moment, we don't have a first-class support for Express middleware in LoopBack 4. It's a missing feature we are aware of, see the discussion in https://github.com/strongloop/loopback-next/issues/1293 for more details.

Our current recommendation is to create a top-level Express application (where you can easily mount any middlew

[2019-07-12 07:59] #3277 closed

[2019-07-12 08:06] bajtos commented on #2452
@samarpanB testlab should be agnostic to the test runner used. Just replace mocha (and lb-mocha) with jest. You can find Jest configuration for loopback-next that I am experimenting with here: https://github.com/strongloop/loopback-next/tree/test/jest, see [jest.config](https://github.com/strongloop/loopback-next/blob/test/jest/jest.config.js) in particular.

Please note that `@loopback/boot` is n

[2019-07-12 08:13] bajtos opened #3342 "Execute raw NoSQL queries (e.g. MongoDB)"
## Suggestion

As I wrote in https://github.com/strongloop/loopback-next/issues/2807#issuecomment-487590905, it is possible to execute raw SQL queries using the recently introduced `Repository` method `execute`, see https://github.com/strongloop/loopback-next/pull/2681. This works great for SQL connectors.

Unfortunately, this method does not work for MongoDB and possibly for other NoSQL connector

[2019-07-12 08:15] bajtos commented on #2021
See also my proposal in https://github.com/strongloop/loopback-next/issues/2807#issuecomment-487590905, it offers slightly different code.

I opened a new issue to describe the more generic feature we are looking for - the ability to execute raw MongoDB queries. See https://github.com/strongloop/loopback-next/issues/3342

It would be great if you can up-vote the issue by adding a :+1: reaction (no

[2019-07-12 08:15] #2021 closed

[2019-07-12 08:16] bajtos commented on #2807
I opened a new issue to describe the more generic feature we are looking for - the ability to execute raw MongoDB queries. See https://github.com/strongloop/loopback-next/issues/3342

It would be great if you can up-vote the issue by adding a :+1: reaction (not a comment please, see https://github.blog/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/), that way we will know how many

[2019-07-12 08:19] bajtos commented on #2653
@nabdelgadir What is the remaining work now that #3309 was landed? Could you please update checkboxes in the acceptance criteria to match the new status and perhaps add a new task for adding support for PK with a custom name (not `id`).

[2019-07-12 08:22] bajtos commented on #3336
IMO, the current behavior is intentional. We should fix TypeScript definitions and our API docs to make it clear which `filter` properties are accepted by `findById` function.

Having said that, I see how it could be useful to add additional restrictions to `findById` calls. Let's open a new issue (a feature request) for that please.

[2019-07-12 08:30] bajtos commented on #3335
I would hope it should be relatively easy to detect whether `operation`, `param` and `requestBody` are used and import them only when needed.

Here is the template we use to generate the controller file:

- https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/openapi/templates/src/controllers/controller-template.ts.ejs

Before the template is executed, we need to gather

[2019-07-12 08:59] sureshkodur opened #3343 "Column names in lowercase using lb4 discover method - SQL connector"
## Describe

Hi Team. I'm generating models from SQL db using **`lb4 discover`** method. But, the column names generating in **lowercase**. While in my SQL db, they are in camelCase. See, below code:
[code]

## Current behavior
 The column name is generated in lowercase as `errorid` instead of `ErrorID`.

## Expected Behavior
- Would like to get the column name `ErrorID` as it is.

## Acceptance C

[2019-07-12 10:55] sureshkodur commented on #3343
@bajtos , @emonddr , @raymondfeng, @ritch , Can anyone, any update on this. Help me

[2019-07-12 11:12] Charly6596 opened #3350 "Missing whitespace in lb4 repository command last line output when selecting multiple models"
# Description/Steps to reproduce
1- Create a new project and enable repositories
[code]
2- Move to the proyect folder and add two models (with any name and default values would do)
[code]

3- Add any datasource with default values
[code]
4- Add a repository for both entities
[code]

# Link to reproduction sandbox

The issue is before launching the app

# Expected result

Last line should be someth

[2019-07-12 12:06] nabdelgadir commented on #1470
Now that https://github.com/strongloop/loopback-next/pull/3297 is landed, the `id` property is excluded when making a `POST` request and developers have the option to exclude other properties as they see fit. Closing this issue as done.

[2019-07-12 12:06] #1470 closed

[2019-07-12 12:11] nabdelgadir commented on #2653
@bajtos I'm assuming you were referring to https://github.com/strongloop/loopback-next/pull/3297, but after https://github.com/strongloop/loopback-next/pull/3309 is landed we can close this issue.

I'm working on custom names but I'll create the new issue so we can close this one after https://github.com/strongloop/loopback-next/pull/3309 is landed.

[2019-07-12 12:30] nabdelgadir opened #3344 "Add Support for Custom Primary Key in Templates"
Cross-posting from https://github.com/strongloop/loopback-next/pull/3297#discussion_r301532434:

Now that https://github.com/strongloop/loopback-next/pull/3297 is landed, the `id` property is excluded when making a POST request. However, the Controller and HasMany templates assume it's always called `id`.

## Acceptance criteria

- [ ] Modify Controller and HasMany templates to include support for

[2019-07-12 14:20] evantrimboli commented on #3335
At this point I don't have the time/expertise to dig into it. Perhaps in the future.

[2019-07-12 14:50] shadyanwar commented on #3310
@raymondfeng @bajtos thoughts?

[2019-07-12 15:10] federicogomeza opened #3346 "How to expose graphql oasgraph in Docker image?"
I am creating an application in loopback 4, using graphql.

The problem I have is that I can not expose graphql oasgraph in Docker image

I have two options:
1 - Create a new dockerfile to expose graphql.
2 - Use the same loopback dockerfile to expose port 3000 (Explorer API at http://127.0.0.1:3000/explorer), and 3001 for graphql (http://127.0.0.1:3001/graphql).

How can I configure my dockerfile

[2019-07-12 16:56] gopalakrishnan-subramani commented on #2230
Is Response a wrapper for express? I see a similar functions exposed. I want to see if I could compress and send json content using the same approach.

[2019-07-12 19:23] dhmlau commented on #3350
Transferred to `loopback-next` repo since it's related to LB4.
@Charly6596, thanks for reporting the problem. Would you be interested in submitting a patch?  The code for LB4 CLI is in here: https://github.com/strongloop/loopback-next/tree/master/packages/cli.

In case you're new to submitting PR in LB4, here is the step by step instruction: https://loopback.io/doc/en/lb4/submitting_a_pr.html. Tha

[2019-07-12 20:36] raymondfeng commented on #3350
@Charly6596 The fix should be very simple. On line https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/repository/index.js#L553, use:

`? this.artifactInfo.modelNameList.join(',')`

[2019-07-13 03:44] evantrimboli commented on #3335
Just for future reference, it would also be good if we could have the option to generate the controllers in a form similar to this:

[code]

That way we could extend these generated classes in a type-safe way without needing to modify the generated code.

[2019-07-13 08:17] likexoo commented on #3300
@sbacem same as your situation here.
My current solution is: every time I get the user information, I will create a new `datasource`.
I found that this really doesn't make much sense, maybe I should connect directly using `Node.js Mongodb Driver`.

[2019-07-13 12:44] Charly6596 commented on #3350
@dhmlau @raymondfeng thanks, yes, I'd like to do that after reading the instructions :+1:

[2019-07-13 17:13] ankit-devtool opened #3360 "how to debug loopback 4 query in mysql."
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-07-15 03:41] gonzarascon opened #3356 "MySQL: can't GET relations in response after first `npm start`"
Hello!

I just finished the Todo-List Tutorial from the documentation and implemented the Model/Repository relation as the tutorial shows, the only diference between it and my project it's that I have been using a local MySQL server from the beginning, so I created my Models based on the MySQL tables.

In my project I have the next relation => `A User can have many Courses`.

At the first start of

[2019-07-15 06:14] shadyanwar opened #3357 "Efficient Bulk Create/Insert With One Database Call"
## Suggestion

The [createAll()](https://loopback.io/doc/en/lb4/apidocs.repository.defaultcrudrepository.createall.html) method provides the ability to bulk create records, however, it is translated into multiple insert statements since the [dao](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js) layer inserts records one by one. I suggested that, in MySQL for exampl

[2019-07-15 06:38] mayank-SFIN571 opened #3358 "Build making process is inconsistent."
While i am trying to run my test cases, the first time i try to make the build it is running fine. But the second time it is not building it.

To reproduce the bug,

- Create a sample application.

- Write a test case.

- Run the test.

- Run the test again.

This is returning the error that outdir 'dist/\_\_test__' not found.

Following are the scripts to run the project.

[code]

[2019-07-15 08:24] rohit-sourcefuse commented on #3358
Following

[2019-07-15 11:03] mmbabel opened #3359 "authenticateRequest not calling strategy for non get requests"
I hope I did not get anything wrong, but this seems wrong
A UserProfile in the sequence is only returned on get requests, not on post, put etc

## Steps to reproduce

Create a authentication strategy and add something like that to the sequence

[code]

## Current Behavior

[code]
will only return a UserProfile on get requests as well as the authenticate function of the strategy is not getting call

[2019-07-15 12:35] emonddr commented on #3359
@mmbabel , if you can provide a link to your github repo, we can help you better.

It is not clear that you've decorated your controller functions with the @authenticate(strategyName, options?) decorator.

[2019-07-15 12:36] emonddr commented on #3359
@mmbabel , please see : https://loopback.io/doc/en/lb4/Loopback-component-authentication.html#using-the-authentication-decorator

[2019-07-15 13:41] emonddr commented on #3359
@mmbabel

I cloned our shopping example

https://github.com/strongloop/loopback4-example-shopping

In  /loopback4-example-shopping/packages/shopping/src/controllers/user.controller.ts

I added

[code]

I tried it out, and it works.

[2019-07-15 14:13] mmbabel commented on #3359
Thanks @emonddr you were totally right, I was missing the controller annotation, sorry for this report

[2019-07-15 14:13] #3359 closed

[2019-07-15 14:35] #2169 closed

[2019-07-15 15:06] raymondfeng commented on #3358
@SFIN571 Did you use `npm test` to run the test?

[2019-07-15 15:29] raymondfeng commented on #2198
@reyraa Can you share the sample app with us to help reproduce the issue?

[2019-07-15 15:30] #2092 closed

[2019-07-15 15:54] #2653 closed

[2019-07-15 18:00] dhmlau commented on #3360
@ankit-devtool, I've transferred your issue to the `loopback-next`. That's the repo for LB4.
Following up with our conversation on gitter, I've suggested to use `DEBUG=loopback:rest:*`.

To use that, you can run this:
[code]

[2019-07-15 18:32] SFIN571 commented on #3358
I am using npm run test

On Mon, 15 Jul 2019, 20:37 Raymond Feng, <notifications@github.com> wrote:

[2019-07-15 22:50] dhmlau commented on #3365
Transferred to `loopback-next` repo, because this is the repo for LB4.

[2019-07-15 23:16] dhmlau commented on #2168
The proposal in this PR https://github.com/strongloop/loopback-next/pull/3164 supersedes the proposed change here. Closing as duplicate.

[2019-07-15 23:16] #2168 closed

[2019-07-16 02:08] dhmlau commented on #3343
@agnes512, could you please take a look? Thanks.

[2019-07-16 02:08] dhmlau commented on #3356
@nabdelgadir, could you please take a look? Thanks.

[2019-07-16 02:14] gonzarascon commented on #3356
More information about this: I also tried running `npm run migrate` into a new schema for test this bug and it still does not work.

[2019-07-16 05:32] hns23 opened #3368 "Sending email using loopback and angular 6"
I have installed Loopback for angular 6. In registration page, I need to send password via email to the user.
Anyone implemented this let me know. I have followed this

https://loopback.io/doc/en/lb3/Email-connector.html

[2019-07-16 07:43] UnclePetros commented on #3323
Hello,
I managed in reproducing the issue.
Please have a look at https://github.com/UnclePetros/loopback-next/tree/issue-3323.
The issue is related to the Investor model.
I leave out loading other models (you may see some static refs in the code), cause this was enough to reproduce the issue.

[2019-07-16 12:27] dougal83 commented on #3368
See https://github.com/strongloop/loopback-next/issues/1979#issue-377500723.  An example has been posted by someone there on how to make a service.

[2019-07-16 13:03] letynsoft opened #3372 "Custom Column/Property Names"
# Description/Steps to reproduce

Hi,
Is there any way how to specify a custom column name using the @property decorator with loopback4?

I have following property
[code]
But the mssql connector (migrate script) doesn't seem to support this (is attemping to create duplicate columns, ...).

I have wrote a little quick-fix (rewriting modelDefinition when define() is called), but that's ugly

# Expec

[2019-07-16 15:10] dhmlau commented on #3372
Transferred to `loopback-next` repo since this is related to LB4.

@letynsoft , it would be something like:
[code]

Please see my example in here: https://github.com/dhmlau/loopback4-example-todo-customized#if-i-have-a-table-name-or-column-name-that-is-different-from-the-model-name-and-property-what-should-i-change.

[2019-07-16 16:13] emonddr commented on #3359
No problem. :)

[2019-07-16 18:05] ankit-devtool commented on #3360
Thank you, this command is helpful.

[2019-07-16 18:43] dhmlau opened #3374 "Improve prompts for `lb4 interceptor`"
Proposal from @bajtos when reviewing the [interceptor blog post PR ](https://github.com/strongloop/strongloop.com/pull/208):

### Current Behavior
When running `lb4 interceptor` command, we get the following prompts:
[code]

### Proposal Behavior
- Print the information about group names as a regular text (not a prompt).
- Possibly wrap the long line at 80 chars so that it's consistently rendered

[2019-07-16 19:47] agnes512 commented on #3343
I reproduced the above issue by using `lb4 discover --schema testdb` with datasource config:
[code]
I can access database with the generated models. I figured that this issue is more about developer-experience instead of a bug.
As for the naming convention feature, we need to discuss about it.
Will link this issue to other similar issues.

[2019-07-16 21:26] dhmlau commented on #3360
Good to hear. Let me close this issue as resolved then. Thanks!

[2019-07-16 21:26] #3360 closed

[2019-07-17 00:21] dhmlau commented on #3368
Thanks @dougal83.
@hns23, I'd like to continue the discussion over #1979.  Closing this as duplicate. Thanks.

[2019-07-17 00:21] #3368 closed

[2019-07-17 05:19] sureshkodur commented on #3343
@agnes512 , I didn't understand... can you explain in details?

[2019-07-17 07:58] letynsoft commented on #3372
Thanks for the reply, tried that, but it doesn't seem to work with mssql connector:
[code]
The strange thing is that the mssql connector get's confused and thinks there is the 'shift_id' column but only 'shiftId' exists at that moment...
If i remove the mssql object completely, it creates the camel case columns just fine (but i would much prefer to have snake_case)...

[2019-07-17 10:23] dougal83 commented on #3372
Have you migrated the database after asking the column to be named as below?:
[code]
Sounds to me that it is the most likely source of confusion.

[2019-07-17 11:54] yasminthaj opened #3377 "Upload image to mongodb using loopback4"
Hi Team,

I am building an e-commerce app with loopback 4, here i want to upload product details along with product image, do i need to go ahead with loopback storage components or any other options are available?, but i found the integration is not yet done https://stackoverflow.com/questions/54663283/how-to-use-storage-components-in-loopback-4-0
Please help me on this.

[2019-07-17 14:09] agnes512 commented on #3343
@sureshkodur Hi! I was testing it out yesterday. And it does generate `errorid` instead of `ErrorID`. If it has errors because the naming convention, we would label it as a bug. But it works fine for me. Are you getting errors causing by the names?

[2019-07-17 14:51] letynsoft commented on #3372
Yes i have tried migrating, that's the issue. The migration process doesn't acknowledge this correctly and fails, when this is used during runtime, it works correctly (for some strange reason)

[2019-07-17 15:11] #3374 closed

[2019-07-17 19:46] nabdelgadir commented on #3356
Thanks for reporting this issue. We couldn't reproduce it on our end. For us, the `/courses` endpoint only returned the user `id` and not the user object. Perhaps we set up the relations slightly differently. Would you mind giving us a sample repo to reproduce your problem? See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs, thanks!

[2019-07-17 21:59] dhmlau commented on #2295
@lapellaniz , not sure if you have found a solution already. I'd like to point you to the [greeter application](https://github.com/strongloop/loopback-next/tree/master/examples/greeting-app) that uses [interceptor](https://loopback.io/doc/en/lb4/Interceptors.html) for caching.  Hope it helps.

[2019-07-17 22:02] dhmlau commented on #3377
@yasminthaj , could you please review the discussion in https://github.com/strongloop/loopback-next/issues/2559 to see if it helps? Thanks.

[2019-07-17 23:15] gonzarascon commented on #3356
@nabdelgadir That's exactly the bug that I found! `/courses`  does not return the user object although Swagger UI shows that object in the `Example Value` section.
Sure, I work on a sample repo to try to reproduce this ;)

[2019-07-18 02:30] dhmlau opened #3382 "[Docs] Add page for "Inside a LoopBack 4 application""
## Description

Originated from the docs improvement proposal: https://github.com/strongloop/loopback-next/pull/3164

## Acceptance Criteria
- [x] Add a new sidebar item called "Inside a LoopBack 4 application" just above the "key concepts"
- [x] Add a page that contains content about:

Note: IIRC, @raymondfeng has some version of such diagram.

[2019-07-18 02:35] dhmlau opened #3383 "[Docs] Add diagrams for "Key Concepts" page"
## Description
Originated from the proposal: https://github.com/strongloop/loopback-next/pull/3164

## Acceptance Criteria
Add the following diagram to the key concept page:
- [x] logical composition of the building blocks
- [ ] how the request flow through different tiers

Note: @raymondfeng might have some variation of the diagrams as a starting point.

[2019-07-18 02:51] dhmlau opened #3384 "[Docs] Add "Application lifecycle""
## Description

Proposal originated from PR: https://github.com/strongloop/loopback-next/pull/3164

Application life cycle content should cover the following stages:
  - Installation
  - Create: includes scaffolding
    - download the cli module
    - create project skeleton
    - scaffold application, create model, add business logics in controller.
  - Develop: Add more artifacts
    - start to

[2019-07-18 06:43] hacksparrow commented on #3295
@bajtos the behavior is the same for `loopback-connector-mongodb@4.2.0` and `loopback-connector-mongodb@5.0.0`.

[2019-07-18 07:04] yasminthaj commented on #3377
I have tried already but it not help me on to achieve my requirement.

[2019-07-18 08:03] hacksparrow commented on #3295
Also, it's not limited to `loopback-connector-mongodb`. The issue is reproducible in the memory connector too.

[2019-07-18 08:26] 1057437122 opened #3386 "Support model property type "any""
I created a model with lb4 and success migrated , but when I start the application it told me start failed , why is this ?How can i solve this ?
[code]

[2019-07-18 08:33] bajtos commented on #3386
@1057437122 thank you for reporting the issue. Please create a small app we can use to reproduce the problem, see https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

We don't support `any` type in LoopBack 4. It's not supported by OpenAPI (Swagger) either.

[2019-07-18 08:38] hacksparrow commented on #3295
It is reproducible in a LB3 app too. The cause is likely in `loopback-connector` or `loopback-datasource-juggler`.

@bajtos how do we prioritize this?

[2019-07-18 09:18] bajtos commented on #3205
Few examples of the syntax supported by LB3:

[code]

[2019-07-18 09:37] sreerajkrishnank commented on #1905
Any updates on this?

[2019-07-18 11:33] 1057437122 commented on #3386
not supported ?But the type "any" was create by lb4 model :
![image](https://user-images.githubusercontent.com/6631168/61454183-6fd9a580-a960-11e9-96ef-619b94fe10b7.png)
if lb4 dont support `any` then what type should i use to create a  long text column ?

[2019-07-18 12:31] dacamposol commented on #3295
In the meantime, if someone faces the same problem, the easiest workaround is to use a different MongoDB connector. Personally I've added the following code to the repository.ts class to prevent big changes in the code meanwhile the problem it's solved:

[code]

[2019-07-18 12:43] sureshkodur commented on #3343
@agnes512 , In my MSSQL db, it has the column name as 'ErrorID', which is in Uppper CamelCase. But when I'm trying to generate schema using _lb4 discover_ it is errorid instead of ErrorID. But I need it as ErrorID in model. Are you understand the issue?

[2019-07-18 12:47] nabdelgadir commented on #3356
@gonzarascon Thank you! And that's very strange. Using the explorer, it showed us the schema with the user object but it just returned the `id` too. The only difference is we never saw the object being returned the first time after running `npm start`.

[2019-07-18 13:08] agnes512 commented on #3343
Yes. After getting models from MySQL, do you still use MySQL as your database? In my case, I did, and the app _works fine_, by that I mean, my application can store/get data via MySQL even it is using `errorid`.

That's why I figured the naming convention does not cause functional errors. It's about the way we convert column names to property names. This issue is more about dev experience. That's

[2019-07-18 13:40] #3344 closed

[2019-07-18 16:04] #301 closed

[2019-07-18 16:29] raymondfeng commented on #3377
@yasminthaj There are two parts involved:

1. How to expose an endpoint to allow file upload?

Please check out https://github.com/strongloop/loopback-next/tree/master/packages/rest/src/__tests__/acceptance/file-upload

2. How to write the file into mongodb?

You might have to use mongodb driver api directly at this point.

[2019-07-18 17:26] dhmlau commented on #3346
@fga8, are you running into problems for either options?  By looking at it, it seems like option2 is promising. If you could let us know what's the issue you're running, we can try to help. Thanks.

[2019-07-18 17:51] emonddr commented on #2198
Found a good article on this error : https://www.stefanjudis.com/today-i-learned/nodejs-sends-warnings-when-you-add-too-many-listeners-to-an-event-emitter/

[2019-07-18 19:14] nabdelgadir commented on #3323
In your `Investor` model, you have `returns: {arg: 'personalDocuments', type: '[Document]', root: true}` for `Investor.remoteMethod('getUserDocuments', {...})`. The `type` has to be either a LoopBack type (see `type` under https://loopback.io/doc/en/lb3/Remote-methods.html#argument-descriptions) or it can be a LoopBack 3 model. So if you make a model called `Document`, then `#/definitions/Document

[2019-07-18 23:10] dhmlau commented on #3295
@hacksparrow, could you please add the acceptance criteria? Thanks.

[2019-07-19 00:21] gonzarascon commented on #3356
Hey @nabdelgadir ! I started to work on the repository for reproducing this bug using the todo-list example and guess what? After running `npm start` (with no modifications on the code), and requested `GET` to the `/todos` endpoint, it only returns the Todo-List `id` instead of the Todo-List object!

I'm suspecting it could be a problem with the `@hasMany` and `@belongsTo` decorators, maybe?

I'll

[2019-07-19 08:25] gulnurumur commented on #3365
i am still facing same issue

[2019-07-19 11:47] bhupesh-sf opened #3396 "Missing options in Authentication module to add passport based Goggle Auth"
## Suggestion

Need to update **AuthenticationStrategy** interface and **StrategyAdapter** class to allow for passport options

Currently the **AuthenticationStrategy** interface allows only request to be passed in authenticate function but it should also allow the optional response and options.

## Use Cases

Need to implement Google Auth passport strategy in my project i.e. http://www.passportjs

[2019-07-19 12:47] nabdelgadir commented on #3356
@gonzarascon I see where the confusion is coming from. So specifically for the `TodoList` example, we introduced temporary inclusion so that the schema currently includes the `todoList` object if you include the filter `{include: [{relation: 'todoLists'}]}` when doing `GET /todos` (see https://github.com/strongloop/loopback-next/pull/3171 if you're interested).

However, in your case, we still don

[2019-07-19 13:50] dhmlau commented on #3396
cc @jannyHou @emonddr

[2019-07-19 15:35] UnclePetros commented on #3323
Ok. Thank you for the useful info.
I've temporarily changed this return type to Object, and it runs successfully and migration goes fine. So I've solved in this way as my scope is to rewrite this specific method.
Anyway I have to say the lb3 application runs fine, even though this type is not defined in it.

[2019-07-19 16:13] nabdelgadir commented on #3323
In the LoopBack 3 documentation, it does say to use types LoopBack 3 recognizes for the `type` but I believe it just defaults to `object` when it doesn't recognize it. But when it's converted in `buildOpenApiSpec`, through the `swagger2openapi` module, from OpenAPI v2 to OpenAPI v3, it enforces the `type` constraint.

[2019-07-19 17:14] UnclePetros commented on #3323
Yes, very clear answer. Thank you again for the help.

[2019-07-19 17:18] nabdelgadir commented on #3323
Thanks, I'll close the issue then. 😄

[2019-07-19 17:18] #3323 closed

[2019-07-19 18:39] gonzarascon commented on #3356
@nabdelgadir oh, I see... But, when I ran the `TodoList` example, the relations didn't work either. Could it be some sort of problem with loopback caching data that is replicating the issue in other projects?
In my project I copied the harcoded relation from the `TodoList` (doing the proper modifications to work with my models, respositories and controllers) as I understood that this feature isn't

[2019-07-19 18:48] nabdelgadir commented on #3356
@gonzarascon Did you remember to use the filter when doing your `GET` requests e.g. `{include: [{relation: 'todo-lists'}]}`? And yes, I agree it's strange you got it the first time. I don't know why it happened, but I hope someone else can chime in if they know how that was possible.

@bajtos @strongloop/sq-lb-apex

[2019-07-19 18:59] samarpanB commented on #3358
@raymondfeng , do we have any update on this issue ? I am also facing this problem.

[2019-07-19 20:08] raymondfeng commented on #3358
I cannot reproduce the problem with `@loopback/cli` 1.19.0. Here is what I tried:

[code]

[2019-07-19 20:22] dhmlau commented on #3346
Duplicate of https://github.com/IBM/openapi-to-graphql/issues/212

[2019-07-19 22:19] gonzarascon commented on #3356
@nabdelgadir Do you have any example on how to implement `{include: [{relation: 'todo-lists'}]}` ? At the moment I copied, as the `TodoList` example shows, `getModelSchemaRef(TodoList, {includeRelations: true})`  inside the `@get` decorator for `/todo-lists`.
I looked for `{include: [{relation: 'todo-lists'}]}` inside of the `TodoList` example and only found that in the `_tests_` folder.

[2019-07-20 03:55] samarpanB commented on #3358
Yes. It doesn’t reproduce with 1.19. It only reproduces with version 2 onwards.

[2019-07-20 05:58] raymondfeng commented on #3358
We fixed the issue that tsc build cache was not removed during clean.

[2019-07-20 05:59] samarpanB commented on #3358
Okay. Which version shall we use ?

[2019-07-20 12:44] privateOmega commented on #3279
@frbuceta I am not sure I get your point entirely, but I will try to explain what I think would work for you.
This seems like a good approach
[code]
And just like @dougal83 said, I guess you can have it this way as well. Check this out for various [Data Mapping Properties](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#data-mapping-properties). So by this, you can have uuid as stri

[2019-07-21 01:20] mikeevstropov commented on #2418
Same problem

[2019-07-21 11:03] privateOmega commented on #2264
@codejamninja Any updates on this feature?

[2019-07-21 20:18] codejamninja commented on #2264
I will have updates before the end of the month. I'm a bit crunched with work at the moment.

[2019-07-21 21:14] dhmlau commented on #3365
It seems like we're having a hard time to reproduce the problem, so I'd like to get more information from those who ran into this issue.  Here are a few questions I have in mind (feel free to provide as much information as you have!):
1. are you running nvm for managing the node version you're running?
2. what's the node version? (run `node -v`)
3. which OS are you using?
4. Do you get `command no

[2019-07-22 06:27] sureshkodur commented on #3343
@agnes512 , Are you read that message properly.. Its not MySQL. Its MSSQL... Can you check it once it MSSQL? @rmg

[2019-07-22 13:36] nabdelgadir commented on #3356
@gonzarascon `{include: [{relation: 'todo-lists'}]}` is a filter, so when you do the request, you can include it in the url e.g. http://127.0.0.1:3000/todos?filter[include][][relation]=todoList. If you want it by default, you can modify the `find` method. This is our current one (sorry about the formatting):

[code]

You can simplify it to the following so you don't need the filter and it includes

[2019-07-22 16:59] #3204 closed

[2019-07-22 20:09] agnes512 commented on #3343
@sureshkodur Hi, I also tried it out on MSSQL. I got the same result: reproduced that issue, and the App still works. i.e I can use `POST/GET` APIs to interact with MSSQL. Here is my datasource config:
[code]

Like I mentioned above, I believe this (`ErrorID -> errorid`) is because of the naming convention that we are using.
It is not a functional error of any specific connectors.

Sorry that we d

[2019-07-23 00:20] gonzarascon commented on #3356
@nabdelgadir thank you very much! So far, I tried all three options: including the filter in the url, modifying the `find` method with filter and modifying the `find` method without the filter.
The one that worked for me (in the meantime at least), was including the filter in the url. AllthoughI see this option as the most uncomfortable of all, it's the only that works without problem and I'm goin

[2019-07-23 05:10] evantrimboli opened #3417 "OpenAPI generator should give a more descriptive error when operationId is missing"
## Suggestion

The generator should detect if the operator is missing and throw an error.

## Use Cases

I had omitted the `x-operation-name` and `operationId` for a particular path. The generation failed with a not very helpful error.  `operationId` isn't required, so the yaml file validated as being correct.

## Examples

[code]

## Acceptance criteria

TBD - will be filled by the team.

[2019-07-23 12:32] sureshkodur commented on #3343
@agnes512 , Yes. App working fine for me also. There is no issue. Only issue with the naming convention. For now, I'm done it manulally. Thank you.

[2019-07-23 13:01] nabdelgadir commented on #3356
@gonzarascon Thank you for the explanation! I'm going to close this issue, but if you have any further questions, feel free to ask. 😄

[2019-07-23 13:01] #3356 closed

[2019-07-23 13:42] ankit-devtool opened #3419 "how to host the build file of loopback 4 in GCP VM(virtual machine)"
Hi,
So i am facing problem while hosting loopback 4 build code in GCP virtual machine.
Do i have to host all the folder in GCP and then run nodemon,
Or there is any way to host only build folder using script like **build:server**.
So, how can i get the prod folder to host that all file in server ?

[2019-07-23 15:29] agnes512 commented on #3295
Reproduce steps for `lb3` app:
App model json file like:
[code]
data:
[code]
`GET /items?filter={"where":{"name":{"regexp":"/oo/i"}}}`
This gives me `{"id": 1, "name": "good", "itemData": {"name": "food"}}`

`GET /items?filter={"where": "itemdata.name":{"regexp": /ll/i"}}}`
This gives me `[]` instead of `{"id": 1, "name": "good", "itemData": {"name": "food"}}`

[2019-07-23 18:42] jannyHou commented on #3417
I think a more reasonable error could be returned in the function here https://github.com/strongloop/loopback-next/blob/72cb8aafad31588deff96fb1af6d33fa03fe5fd5/packages/cli/generators/openapi/spec-helper.js#L137

[2019-07-23 19:06] dhmlau commented on #3417
@evantrimboli, would you be interested in submitting a patch?

[2019-07-23 23:27] aharbis opened #3424 "npm run eslint fails in app generated by @loopback/cli"
## Steps to reproduce

Installed `@loopback/cli` and generated a new project.

## Current Behavior

[code]

## Expected Behavior

Generated `package.json` should not include npm run script which fails.

## Link to reproduction sandbox

## Additional information

For what it's worth, I think this came from here:

https://github.com/strongloop/loopback-next/blob/1882240c623c3e68b8b90630296e622b6193a

[2019-07-23 23:28] aharbis commented on #3424
Here's the full `scripts` section of the `package.json` that yields the issue:

[code]

[2019-07-23 23:35] aharbis commented on #3424
I'm not quite sure what the difference is between the use of these two files:

- `packages/cli/generators/project/templates/package.json.ejs`
- `packages/cli/generators/project/templates/package.plain.json.ejs`

But it seems the non-`plain` one likely has the more correct `eslint` usage:

https://github.com/strongloop/loopback-next/blob/1882240c623c3e68b8b90630296e622b6193a1bd/packages/cli/generat

[2019-07-23 23:41] aharbis commented on #3424
I confirmed that installing `@loopback/build` (honestly thought I checked that in the generator, but maybe not), and switching my `scripts` section to what's doc'd [here](https://www.npmjs.com/package/@loopback/build#basic-use) my `npm run eslint` succeeds.

I guess that just means that for whatever reason if a user does not check the `@loopback/build` option in the app generator then their `eslin

[2019-07-23 23:42] raymondfeng commented on #3424
Good catch! Can you submit a patch to remove `-p`?

[2019-07-23 23:54] amites commented on #2556
Getting into the LB4 ecosystem

Wanted to point out that loading everything from the environment is also not ideal -- lot's of ways that environment values can be leaked -- ideal would also support loading from some kind of `vault` into an object or similar holder and then used async -- working on a hacked out approach to doing this now

happy to share some snippets once I get a working solution

[2019-07-24 00:24] aharbis commented on #3424
Sure! Feel free to assign to me, I'll get a PR open soon.

[2019-07-24 01:27] #3424 closed

[2019-07-24 06:13] bhupesh-sf commented on #3396
Any update here?

[2019-07-24 08:27] samarpanB commented on #3358
@raymondfeng Can you confirm if this issue is resolved with 2.0.4 version of @loopback/build ? This actually affect `npm run build` as well. So it hampers the development and build process. It just fails to create dist folder at times. Seems like a blocker for us.

[2019-07-24 12:21] djamaile commented on #1979
@RipkensLar Can you check my question at stackoverflow, i still have trouble setting it up.

Link:

https://stackoverflow.com/questions/57182231/send-email-with-loopback-4

[2019-07-24 13:33] dhmlau commented on #3396
@jannyHou, could you please take a look? Thanks. Assigning this to you.

[2019-07-24 13:44] dougal83 commented on #3358
Can you try changing clean script in package.json to ``"clean": "lb-clean dist *.tsbuildinfo",`` ?  That might solve the build issue if you've not followed the changelogs on any pre-existing projects.  Just a hunch.

[2019-07-24 14:34] raymondfeng commented on #3358
As @dougal83 mentioned, the issue was in the code generation template for `package.json` after we enable `incremental` tsc build. It was fixed by https://github.com/strongloop/loopback-next/pull/3206.

Newly generated projects won't have the problem. If your existing project is broken, simply change clean script in `package.json` to `"clean": "lb-clean dist *.tsbuildinfo"`.

[2019-07-24 14:34] #3358 closed

[2019-07-24 15:34] jannyHou commented on #3396
Hi @bhupesh-sf just in case you haven't read our [Authentication documentation](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html) I highly recommend you take a look of the section [managing custom authentication strategy options](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html#managing-custom-authentication-strategy-options) first :)

Different options ar

[2019-07-24 15:57] b-admike commented on #2295
@lapellaniz Closing this for now (see our comments above for solutions), but feel free to re-open if you still have the same issue(s).

[2019-07-24 15:57] #2295 closed

[2019-07-24 16:14] dhmlau commented on #3377
@yasminthaj, does the above comment from @raymondfeng help?

[2019-07-24 17:55] agnes512 opened #3428 "`description` field in `settings` of Model decorator"
## Description
In [`lb3`](https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#top-level-properties), we allow to use array to create long descriptions in JSON files inside `@model` decorator. But this feature is not welcome by groups working on Swagger and OpenAPI specs.

In [`lb4` docs](https://loopback.io/doc/en/lb4/Model.html#model-decorator), this field only supports stings. Do we w

[2019-07-24 18:59] emonddr commented on #2198
There is a way to trace where it came from : https://github.com/nodejs/help/issues/1051

[2019-07-24 19:15] emonddr commented on #2198
https://stackoverflow.com/questions/15581978/nodejs-how-to-debug-eventemitter-memory-leak-detected-11-listeners-added

[2019-07-24 20:37] emonddr commented on #2198
@Joel-Raju , @sbacem , @zhaoqin-github , @reyraa

If any of you can provide a repository with an application ( and exact steps) that can reproduce this
warning message, it would greatly be appreciated.

I have placed an application with multiple belongsTo and hasMany relations between
CustomerN and OrderN (where N=1 through 35)
 in
https://github.com/emonddr/relations_app

in an effort to create m

[2019-07-24 20:40] emonddr commented on #2198
Also, if you still have your application showing the warning message, you can try using the
`--trace-warning` flag to output better information to help locate the cause. :)

For example:

`node --trace-warning app.js`

[2019-07-25 06:26] shadyanwar opened #3430 "Setting a timezone other than UTC as default"
It seems that loopback-datasource-juggler is converting any `type: Date` (if defined as so in the model) to UTC before saving to the database.

By doing some digging, [this](https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/dao.js#L331) is where it happens.

What makes things more confusing is that whenever the same data is fetched, it does not undergo this conversion backw

[2019-07-25 10:57] RipkensLar commented on #2198
@emonddr
That's the output from my application:
[code]

I hope that helps.

[2019-07-25 12:49] reyraa commented on #2198
@emonddr Sorry for the delay. I missed the notifications.
[This](https://github.com/reyraa/reyraa-api) is what I've made. There are a few models created. but the one that throws the error is the [Customer](https://github.com/reyraa/reyraa-api/blob/develpment/common/models/customer.js) model.
As you can see the only thing I've done is to create or find an instance of Customer and IdToken and return

[2019-07-25 12:57] emonddr commented on #2198
@reyraa , thank you for providing this. I will investigate.

[2019-07-25 13:49] godartm commented on #3259
Hi , can i take this issue ?

[2019-07-25 13:52] hacksparrow commented on #3259
@godartm yes, please open a PR. Your contribution will be much appreciated.

[2019-07-25 14:35] dhmlau commented on #3259
Thanks @godartm. I've assigned this issue to you. :)

[2019-07-25 14:37] rudylacrete opened #3432 "Official Couchbase support"
## Suggestion

It would be very nice to officially support couchbase in loopback 4

## Use Cases

When it comes to database and persistent storage, Couchbase is a new serious competitor.
It's a very efficient and mature solution with a strong community. Many Loopback user would love to switch from MongoDb or other db to couchbase but just can't do it because there is no official and maintained con

[2019-07-25 14:42] raymondfeng commented on #3432
Were you able to use the LoopBack couchbase connector in LB4? https://strongloop.com/strongblog/node-js-loopback-js-couchbase-connector/

[2019-07-25 14:56] rudylacrete commented on #3432
This connector is 5 years old and not maintained. It's tricky for a company to bootstrap a new project using that. I don't even know if the existing LB4 connector is working with couchbase 6. You have some open issue on the repository saying [it's not even working with couchbase 4.0](https://github.com/guardly/loopback-connector-couchbase/issues/14).

[2019-07-25 15:00] emonddr commented on #2198
The LB3 application provided by @reyraa has the following 12 models listed in

server/model-config.json:

[code]

When starting the application the warning message appears immediately.

Some of these models has `hasMany` or `belongsTo`, a few don't (like Activity).

I experimented a bit.

If each model above is placed as the ONLY model in server/model-config.json and the app is started, no warning

[2019-07-25 15:05] privateOmega commented on #2778
@raymondfeng Hey I was also under the assumption that there was something wrong with my cli for service generation and stumbled upon this comment by you.

May I ask what is the appropriate way to write a password hasher service? Because I am stumped by seeing [loopback example shopping project's password hashing service](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages

[2019-07-25 15:16] emonddr commented on #2198
I first tried an earlier version of the postgres connector:

[code]
but the outcome was the same. warning appeared on 11th model added to server/model-config.json.

[2019-07-25 15:51] godartm commented on #3350
hi @Charly6596 , i see you are not assigne to this issue , so do you plan to do it or can i take it ?

[2019-07-25 15:59] emonddr commented on #2198
I tried with

`"loopback-connector-db2": "=2.1.2",`

and the app started `without the warning` using the **original** models with `hasMany` and `belongsTo`, and the simple models I created.

[2019-07-25 16:12] raymondfeng commented on #2198
I think the root cause is https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L626. We try to defer SQL executions (in your case, migration statements) if the datasource is not in `connected` state. Even though `once` is used (the listener will be removed once the event is triggered),  there is a chance that we have a spike of listeners added to the datasource. It should be saf

[2019-07-25 16:15] raymondfeng commented on #2198
A possible fix can be added around https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L192.

[2019-07-25 16:17] emonddr commented on #2198
It seems there is different code (not common code) running (different things happening) when we use the loopback-connector-postgres connector vs the loopback-connector-db2. I would think the common code would add the same number of listeners regardless of the relational database used.

[2019-07-25 16:26] raymondfeng commented on #3324
See https://github.com/strongloop/loopback-next/pull/3429

[2019-07-25 16:27] raymondfeng commented on #2778
See https://github.com/strongloop/loopback-next/pull/3429. We're trying to generalize the `service` concept to allow both local services and proxies to remote services.

[2019-07-25 16:35] raymondfeng commented on #2198
It might be related how fast the DB connection can be established and if there are SQL executions upon startup such as migration.

[2019-07-25 17:05] emonddr commented on #2198
That's the thing.... I am running the same LB3 app code upon startup but using a different connector. So perhaps the database connection speed, or the connections are handled differently. Not sure yet.

[2019-07-25 19:01] emonddr commented on #2198
Definitely some migration going on for postgres connector:

![image](https://user-images.githubusercontent.com/6864736/61900773-4d113900-aeec-11e9-9395-9835955bf2d6.png)

This line https://github.com/strongloop/loopback-connector-postgresql/blob/master/lib/migration.js#L22 is responsible for the debugging output I am getting :
[code]

[2019-07-25 19:03] emonddr commented on #2198
No migration code for the db2 connector:
![image](https://user-images.githubusercontent.com/6864736/61901270-6070d400-aeed-11e9-831e-1a98bca722bf.png)

[2019-07-25 22:49] jvacas commented on #3386
I think it's supported by openapi. In the [docs](https://swagger.io/docs/specification/data-models/data-types/) saids:

[2019-07-25 23:01] Charly6596 commented on #3350
Hey, I actually _fixed_ it, it was a bit more than adding a `,` but it isn't passing the tests (formatting test i believe) so if you want to take a look at that [here](https://github.com/Charly6596/loopback-next/commit/92d8365f8a3a207e4ca33e226ff631cdb1dc8dbf) is my commit in my forked repo, I will create a work in progress pull request and I won't be able to complete it anytime soon, so feel free

[2019-07-26 07:19] bajtos commented on #3386
Thank you for the comments. It looks like my understanding of `any` in LB4 was based on a wrong assumption and we need to look deeper into this topic.

I would use `string` type. It's possible to configure the property to map to a different database column type - see https://loopback.io/doc/en/lb3/Model-definition-JSON-file.html#data-mapping-properties (the docs is for LB3 but applies to LB4 too).

[2019-07-26 07:28] bajtos opened #3436 "Run repository tests for PostgreSQL"
Add `acceptance/repository-postgresql` package, modeled after MySQL tests in `acceptance/repository-mysql`. The tests should be run as a new Travis CI job, see the existing setup for other connectors.

See also https://github.com/strongloop/loopback-next/pull/3387

## Acceptance criteria

- [ ] A new directory `acceptance/repository-postgresql` running all CRUD tests from `repository-tests` packag

[2019-07-26 07:31] bajtos opened #3437 "Run repository tests for Cloudant"
Add `acceptance/repository-cloudant` package, modeled after MongoDB & MySQL tests in `acceptance/repository-mongodb` and `acceptance/repository-mysql`. The tests should be run as a new Travis CI job, see the existing setup for other connectors.

See also https://github.com/strongloop/loopback-next/pull/3387

## Acceptance criteria

- [ ] A new directory `acceptance/repository-cloudant` running all

[2019-07-26 07:34] bajtos opened #3439 "Reject create/update requests when data contains navigational properties"
## Suggestion

When the client attempts to create or update a model and related models in a single call, then we should reject such requests with a helpful error message explaining the problem.

## Acceptance criteria

Step 1:

- [ ] Introduce a new protected method `DefaultCrudRepository.fromEntity`.
- [ ] Update repository methods to call `fromEntity` whenever we need to convert LB4 Entity into

[2019-07-26 07:38] bajtos opened #3440 "Verify relation type in `resolve{Relation}Metadata`"
Improve helper functions `resolveHasManyMetadata`, `resolveBelongsToMetadata`, `resolveHasOneMetadata` to assert that the provided metadata has the right relation type.

This is important because in some places we are casting generic `RelationMetadata` to a more specific variant, thus bypassing compiler checks.

See #3387 for more details, here is an example implementation for `belongsTo`: https:/

[2019-07-26 07:40] bajtos opened #3441 "Add `keyFrom` to resolved relation metadata"
Add `keyFrom` to HasOne/HasMany resolved metadata. This enables a more generic implementation of inclusion resolvers, because we can use `keyFrom` instead of having to find out what is the name of the primary key (which I found difficult to implement inside inclusion resolvers because of TypeScript limitations).

See #3387 and https://github.com/strongloop/loopback-next/commit/a624d970 in particul

[2019-07-26 07:49] bajtos opened #3442 "Test relations against databases"
Refactor existing integration & acceptance tests for relations, move most (or
all) of them to [repository-tests](https://github.com/strongloop/loopback-next/tree/master/packages/repository-tests) package.

I am not sure how much work will be required to make these tests pass against MongoDB (coercion between `ObjectID` vs. `string`). If it would require non-trivial amount of time, then:

- Introdu

[2019-07-26 07:52] bajtos opened #3443 "Add `findByForeignKeys` helper (initial version)"
Implement a new helper function `findByForeignKeys`, it will become a part of a public API of `@loopback/repository`.

Signature:

[code]

The initial version should be simple, "inq splitting" and additional "scope" constraints are out of scope of this task.

Example implementation - I think it pretty much covers the full scope of this task, but obviously we need to add test coverage as explained

[2019-07-26 07:55] bajtos opened #3444 "Support `inq` splitting in `findByForeignKeys`"
Under the hood, inclusion resolvers are implemented using `inq` operator:

1. Gather PK/FK values from source models.
2. Query target models using `inq` and PK/FK values from step 1.
3. Assign target models to navigational property in source models.

This can be problematic when the number of source instances is large, we don't
know if all databases support `inq` with arbitrary number of items.

T

[2019-07-26 07:57] bajtos opened #3445 "Introduce `InclusionResolver` concept"
Introduce the concept of a inclusion resolver, which is a function we can use to fetch related models (both in our ORM/REST API but also from GraphQL resolvers in the future).

[code]

See #3387 for more details & a prototype implementation.

## Acceptance criteria

- [ ] Introduce a new type `InclusionResolver`
- [ ] Implement a new helper function `includeRelatedModels`, it will become a part of

[2019-07-26 08:00] bajtos opened #3446 "Include related models in `DefaultCrudRepository`"
Modify `DefaultCrudRepository` to leverage InclusionResolvers to fetch related models in `find*` methods.

See #3387 for more details & a prototype implementation.

## Acceptance criteria

- [ ] Enhance `DefaultCrudRepository` class: add a new public property `inclusionResolvers` and a new public method `registerInclusionResolver`
- [ ] Add a new protected method `includeRelatedModels`, this metho

[2019-07-26 08:04] bajtos opened #3447 "Implement InclusionResolver for hasMany relation"
## Acceptance criteria

- [x] Implement a factory function for creating an inclusion resolver for the given hasMany relation (see `createHasManyInclusionResolver` in the spike - #3387, and [here](https://github.com/strongloop/loopback-next/pull/3387/files#diff-d5bb0fde53b1b79c7048d9b43f3f2e8aL7))
- [x] Enhance `HasManyRepositoryFactory` to provide `resolver` property (see the spike).
- [ ] Write i

[2019-07-26 08:07] bajtos opened #3448 "Implement InclusionResolver for belongsTo relation"
## Acceptance criteria

- [ ] Implement a factory function for creating an inclusion resolver for the given belongsTo relation (see `createBelongsToInclusionResolver` in the spike - #3387).
- [ ] Enhance `BelongsToAccessor` to provide `resolver` property (see the spike).
- [ ] Write integration-level tests in `packages/repository-tests` to verify that resolver works for real databases.
- [ ] Feel

[2019-07-26 08:10] bajtos opened #3449 "Implement InclusionResolver for hasOne relation"
## Acceptance criteria

- [ ] Implement a factory function for creating an inclusion resolver for the given hasOne relation (see `createHasOneInclusionResolver` in the spike - #3387).
- [ ] Enhance `HasOneRepositoryFactory` to provide `resolver` property (see the spike).
- [ ] Write integration-level tests in `packages/repository-tests` to verify that resolver works for real databases.
- [ ] Feel

[2019-07-26 08:13] bajtos opened #3450 "Update `todo-list` example to use inclusion resolver"
Remove manually written "poor man's" resolvers, replace them with the real resolvers.

See also https://github.com/strongloop/loopback-next/pull/3387

## Acceptance criteria

Repositories to modify:
- [ ] [todo-list.repository.ts](https://github.com/strongloop/loopback-next/blob/master/examples/todo-list/src/repositories/todo-list.repository.ts)
- [ ] [todo.repository.ts](https://github.com/strong

[2019-07-26 08:15] bajtos opened #3451 "Add inclusion resolvers to `lb4 relation` CLI"
At the moment, `lb4 relation` initializes the factory for relation repository. We need to enhance this command to register the inclusion resolver too.

See also https://github.com/strongloop/loopback-next/pull/3387

## Acceptance criteria

- [ ] Implementation & tests for all relations supported by `lb4 relation`
- [ ] Update `repository` template

[2019-07-26 08:16] bajtos opened #3452 "Blog post: announce Inclusion of related models"
Write a blog post announcing the new features, describing the high-level design and listing limitations of the initial implementation (e.g. as a list of GH issues that are out of MVP scope).

Add some examples, use cases.

See also https://github.com/strongloop/loopback-next/pull/3387

[2019-07-26 08:20] bajtos opened #3453 "Include related models with a custom scope"
Besides specifying the relation name to include, it's also possible to specify additional `scope` constraints:

- custom `order`, `limit`, `skip` and `fields`
- additional `scope.where` constraint

For example, the following filter will include only the first active product:

[code]

The initial version of Inclusion does not support custom scopes. In this story, we should improve `findByForeignKey

[2019-07-26 08:22] bajtos opened #3454 "Recursive inclusion of related models"
In LB3, it's possible to recursively include models related to included models. Let's implement that feature in LB4 too.

For example, consider the domain model where `Author` has many `Post` instances and each `Post` instance has many `Comment` instances.

Users can fetch authors with posts and comments using the following query:

[code]

LB3 also offer few simpler alternatives how to express the

[2019-07-26 08:23] bajtos opened #3455 "Reject queries with incompatible "filter.fields" and "filter.include""
The filter property `fields` allows callers to limit which model properties are returned by the database. This creates a problem when the primary or the foreign key is excluded from the data, because then we cannot resolve included models.

[code]

In LB3, I think we were silently ignoring `include` filter in such case.

I am proposing to be more explicit in LB4 and reject such queries with a 4xx

[2019-07-26 08:30] bajtos opened #3456 "Spike: robust handling of ObjectID type for MongoDB"
MongoDB is tricky.

- It uses a custom `ObjectID` type for primary keys.
- `ObjectID` is represented as a `string` when converted to JSON
- In queries, string values must be cast to ObjectID, otherwise they are not considered as the same value: `'some-id' !== ObjectID('some-id')`.

As a result, both PK and FK properties must use `ObjectID` as the type, and coercion must be applied where necessary.

[2019-07-26 08:39] bajtos commented on #2634
**MVP scope**

- Run repository tests for PostgreSQL #3436
- Run repository tests for Cloudant #3437
- Reject create/update requests when data contains navigational properties #3439
- Verify relation type in `resolve{Relation}Metadata` #3440
- Add `keyFrom` to resolved relation metadata #3441
- Test relations against databases #3442
- Add `findByForeignKeys` helper (initial version) #3443
- Suppor

[2019-07-26 08:39] #2634 closed

[2019-07-26 10:14] ludohenin opened #3457 "Controller method params description"
## Suggestion

I'm looking for a way to describe the Controller methods params so that they are document in the generated spec.

[code]

Btw, haven't found any ways to do even setting it in `api` controller decorator doesn't seems to work.

[code]

![image](https://user-images.githubusercontent.com/1011516/61944766-bcdffc00-af9e-11e9-88f6-cdcb36b83cb8.png)

[2019-07-26 11:30] bajtos commented on #1352
I have updated the issue description with a list of tasks created from the spike #3387.

[2019-07-26 11:34] bajtos commented on #3195
Closing in favor of https://github.com/strongloop/loopback-next/issues/3450 and the issues it depends on.

[2019-07-26 11:34] #3195 closed

[2019-07-26 13:00] sureshkodur opened #3459 "Hi, How do we execute a stored procedure in lb4?"

[2019-07-26 13:05] sureshkodur commented on #3459
Hi , I'm trying to execute stored procedure from MSSQL.
[code]
I'm getting
[code]
Any Help?

[2019-07-26 13:10] jvacas commented on #3386
I made some tests and found a little workaround for the schema generation/AJV, if you define the property this way it works as an any type

`@property({
    jsonSchema: {
      type: AnyType,
    },
  })`

the problem then falls on juggler that doesn't recognize the type and tries to save the data as an object.

[2019-07-26 14:01] #2133 closed

[2019-07-26 15:27] raymondfeng commented on #3457
You can use `@param`, such as:
[code]

[2019-07-26 15:27] #3457 closed

[2019-07-26 15:40] raymondfeng commented on #3459
Try to use `DEBUG=loopback:connector:mssql` to print out the SQL statement being executed and see if it's good.

[2019-07-26 15:42] raymondfeng commented on #3459
See https://docs.microsoft.com/en-us/sql/t-sql/language-elements/execute-transact-sql?view=sql-server-2017. You probably need to use `EXEC` instead of `CALL`.

[2019-07-26 17:08] raymondfeng commented on #3457
FYI - I'm improving these shortcut decorators to accept an optional object for additional properties for the parameter. See https://github.com/strongloop/loopback-next/pull/3461.

[2019-07-26 17:55] nabdelgadir commented on #3112
Closing this as done.

[2019-07-26 17:55] #3112 closed

[2019-07-26 18:32] dhmlau commented on #3346
@fga8, I might have a working Dockerfile for you:
[code]

I've indicated 3 places that you need to make changes if you're using the `Dockerfile` generated by the LoopBack cli.  Please note that I'm not a docker expert, so what I have above is something that works, you might be able to find a better solution.

For the sake of posterity, let me mention a few challenges:
1. `oasgraph` has been deprec

[2019-07-26 19:47] dhmlau commented on #3456
@bajtos, just wanna make sure.. do we need to have this spike done first before working on the ObjectID support for properties, i.e. https://github.com/strongloop/loopback-next/issues/1875? Or this spike is mostly for relations?

[2019-07-27 01:25] Bernd-L commented on #1830
What's the best workaround for this? Or are we stuck to denormalization?

[2019-07-28 08:51] 1057437122 commented on #3386
I would like to contribute some changes  but now I'm new to loopback ,so if I can do i will do it in the future ,thank you , now i will try to change type "any" to "string" to  finish my job first.

[2019-07-28 16:58] jotamora commented on #2027
Hello,

Anybody can said to me if there is someone working in that? If there is someone working, anybody knows, more less, when can be ready?

Thanks.

[2019-07-29 08:35] bajtos commented on #2329
Closing as fixed via #2856

[2019-07-29 08:35] #2329 closed

[2019-07-29 11:18] mayank-SFIN571 commented on #3358
@raymondfeng I am still facing the issue.

Steps to reproduce
1. Run `lb4 app`.(configure it to be a basic app)
2. Run `npm run build`.
3. Delete the dist folder.
4. Run the `lb4 run build`.
This will not create a dist folder again.

All my dependencies including `@loopback/cli`, `@loopback/build` are up to date.

The versions are as follows:

@loopback/cli version: 1.20.0

@loopback/* dependencie

[2019-07-29 14:16] nabdelgadir commented on #3110
Closing as done.

[2019-07-29 14:16] #3110 closed

[2019-07-29 16:27] #3350 closed

[2019-07-29 17:14] dhmlau commented on #1905
@dougal83, seems like your repo is no longer accessible? I got a 404 when clicking on the link and when looking up for the repo as well.

When talking to @bajtos this morning, he also mentioned something similar, i.e. mounting to express app (?).  I haven't got a chance to try it out yet, but here is his code snippet:
[code]

[2019-07-29 19:07] raymondfeng commented on #3358
@mayank-SFIN571 Make sure you have something like the following in `tsconfig.json`:

[code]

[2019-07-29 19:09] raymondfeng commented on #3358
Run npm run build.
Delete the dist folder.
Run the lb4 run build.
This will not create a dist folder again.

If you delete `dist` manually, please run `npm run clean` before `npm run build`.

You can run `npm run clean && npm run build` to have a clean build.

[2019-07-29 20:39] emonddr commented on #2198
**Observations:**

/reyraa-api/server/boot/schemaUpdate.js

 async.eachSeries(datasources, function(dsName, cb) {
     ...
     ds.isActual(function(err, actual)
     ...
 }

 which calls:

 /reyraa-api/node_modules/loopback-datasource-juggler/lib/datasource.js

 DataSource.prototype.isActual = function(models, cb) {
     ...
     this.connector.isActual(models, cb);
     ...
 }

 which calls:

 /

[2019-07-29 20:42] raymondfeng commented on #2198
I think we have found out the root cause. Can we work on the fix based on https://github.com/strongloop/loopback-next/issues/2198#issuecomment-515107435 and https://github.com/strongloop/loopback-next/issues/2198#issuecomment-515108571?

[2019-07-29 20:49] emonddr commented on #2198
One option is to modify:

https://github.com/strongloop/loopback-datasource-juggler/blob/master/lib/datasource.js#L201

copied here for convenience:
[code]

and change it to:

[code]
and users have to add a new property `maxListeners` in
server/datasources.json

[code]

[2019-07-29 20:50] emonddr commented on #2198
@raymondfeng , what are your thoughts?

[2019-07-29 20:56] raymondfeng commented on #2198
`maxListeners` exposes implementation details. In our case, it's really the maximum of number of requests can be queued on the datasource before it's connected. I suggest that we use something like `maxPendingRequests`.

1. We should increase the default value to a higher number, such as 16.
2. We probably should reject a request if the number of pending ones exceeds the max limit.

[2019-07-29 21:46] nabdelgadir commented on #3111
Closing as done.

[2019-07-29 21:46] #3111 closed

[2019-07-30 02:33] dougal83 commented on #1905
@dhmlau Thanks. I will take a closer look soon.

[2019-07-30 05:03] mayank-SFIN571 commented on #3358
@raymondfeng  This did the trick for me, thanks

[2019-07-30 06:21] sureshkodur commented on #3459
@raymondfeng , I used EXEC instead of CALL. I'm getting
<img width="905" alt="Screen Shot 2019-07-30 at 11 51 17 AM" src="https://user-images.githubusercontent.com/31954801/62105583-689b8b80-b2c0-11e9-8831-99c0ac3a214f.png">

[2019-07-30 09:50] pavanchandanam opened #3472 "Unable to use multiple @belongsTo in an model in loopback also it shows an error in repository while declaring multiple createHasBelongsToAccessor()"
[code]

[2019-07-30 10:32] bajtos commented on #1919
Cross-posting from https://github.com/strongloop/loopback-connector-mongodb/issues/534#issuecomment-516363114:

We need `DefaultCrudRepository` class to expose hooks allowing mixins to change the load/save/query behavior (think of [Operation Hooks](https://loopback.io/doc/en/lb3/Operation-hooks.html) in LB3, see also https://github.com/strongloop/loopback-next/issues/1919). We already have `toEnti

[2019-07-30 14:00] emonddr commented on #2198
Since the datasource is an event emitter , setting the max listeners means setting the maxListeners for each event `name` that the datasource is emitting. I think it emits several event types. What would 'maxOfflineRequests' mean exactly?

[2019-07-30 14:01] bajtos commented on #2556
Good point.

I am not very familiar with Kubernetes, Istio and similar tools, so pardon me if my question is stupid. But isn't it the responsibility of the container orchestration tool to fetch the configuration from a valt into environment variables before starting the process?

Having said that, if it makes sense for the app to load the config from the vault directly, and we can find an elegant

[2019-07-30 14:29] bajtos commented on #3310
Thank you @shadyanwar for starting this discussion. I see how more advanced sorting criteria can be useful!

At the moment, LB4 `Filter.order` is defined as follows:

https://github.com/strongloop/loopback-next/blob/cb4178ad5b5011a3a22107ae243e1372fe465676/packages/repository/src/query.ts#L189-L197

In other words, it is an array of property names with an optional ASC/DESC suffix.

While your prop

[2019-07-30 14:34] bajtos commented on #1849
Thank you @Sumit0581 for sharing your solution with us.

Recently, @raymondfeng added support for Lifecycle observers (see [docs](https://loopback.io/doc/en/lb4/Life-cycle.html)), I believe they are intended to replace boot scripts. They are actually better than LB3 boot scripts, because they allow you to run some code not only at app startup, but also when the app is shutting down.

[2019-07-30 14:48] bajtos commented on #3417
Perhaps instead of throwing an error, can we build the method name from other metadata that's available? For example, using the endpoint verb and path, like `GET /api/users/{id}` -> `getApiUsersWithId`.

[2019-07-30 14:53] amites commented on #2556
Pulling directly from a vault is also likely not ideal since there are so many to choose from, this would be more appropriate to hand off to a plugin or easy hook method.

My recommendation would be to using a cascade method with an easy method of providing an callback

ie:
 - load defaults
 - merge with values from a known file ex: `.env`
 - merge with values from system environment (yeah, not id

[2019-07-30 14:59] bajtos commented on #2198
Based on the analysis in https://github.com/strongloop/loopback-next/issues/2198#issuecomment-516153206, it's my understanding that we start automigration before the connection is set up. During automigration, we check whether model tables are actual (`getTableStatus`) and we run this check in parallel (one check for each model, see the `async.each` call). `getTableStatus` calls to lower-level met

[2019-07-30 15:03] bajtos commented on #3430
@shadyanwar thank you for reporting the bug. What database are you using? (This behavior could be connector specific).

Please create a small application we can use to reproduce and debug the issue. We are quite busy and creating one ourselves would not be an effective use of our limited time. See https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-07-30 15:03] b-admike opened #3471 "Expose `isActive()` method in Transaction interface"
## Steps to reproduce

Coming from https://github.com/strongloop/loopback-next/pull/3397#discussion_r308600347. We need to expose an API for transactions in LB4 to check if a transaction is active or not.

## Acceptance Criteria
- [x] Create a `isActive` method in `loopback-connector` that checks if the connection object on a transaction is present or not, thus indicating if transaction itself is

[2019-07-30 15:09] bajtos commented on #2198
(IMO, we should not need to install N event listeners when migrating N models - a single listener should be enough.)

[2019-07-30 15:14] raymondfeng commented on #2198
@bajtos Please note we defer the SQL execution for each statement when the datasource is not connected - see https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L626. This code cannot coordinate multiple operations with one listener.

[2019-07-30 15:52] dhmlau commented on #3472
Transferred to `loopback-next` repo as this is related to LoopBack 4.
@nabdelgadir, could you please take a look? Thanks.

[2019-07-30 18:14] emonddr commented on #2198
I have confirmed that

https://github.com/strongloop/loopback-connector/blob/master/lib/sql.js#L626

[code]
is never entered when migration is happening in an LB4 application.

By the time that migration-related SQL is executed, the datasource `IS` connected, and no listeners are added for the 'connected' event. So we never run into the warning.

I tried running the migration from
- commandline .

[2019-07-30 18:41] agnes512 commented on #3436
see @emonddr for help :D

[2019-07-30 18:58] agnes512 commented on #3444
Discussion:
From @raymondfeng:
do we want to split the queries for users, or just have a limit amount of queries(i.e throws err msg if they exceed the limit)?

Any thoughts? @strongloop/loopback-maintainers

[2019-07-30 22:44] nabdelgadir commented on #3472
Hi, thanks for reporting this issue. So I used your `MarketingProgram` class mostly as is, besides these changes:
- `@Property` -> `@property`
- the type under `@belongsTo` should be the type of the id of the target model e.g. if your `Brand` model has `id: number` then you should have the following:
[code]
- I don't know if this is your full file, but remember to import `belongsTo` from `@loopbac

[2019-07-31 05:52] pavanchandanam opened #3476 "Unable to execute multiple include query in loopback"
let marketingprograms: any = await this.marketingProgramRepository.find({
      include: {
        relation: 'Brand', // include the brand model
        scope: { // further filter the owner object
          fields: ['brandName'], // only show one field
          include: {
            relation: 'Country',
            scope: {
              fields: ['countryId'],
            scope: {

[2019-07-31 11:12] SouthRibbleTech opened #3477 "lb4 discover does not work with ts files"
When you use lb4 datasource it creates the files in /src/datasources/*.ts

However lb4 discover requires that the datasource be in /dist/datasources/*.js

You can not simply rename ts to js

How do you manually create .js datasource files, is there any documentation, I can't find any.

[2019-07-31 12:36] bhupesh-sf opened #3480 "Unable to create a related model"
## Steps to reproduce

1. Create a new LB4 app.
2. Create 2 models employee and employee-salary-packages
3. use LB4 relation command from CLI to define hasMany relation between employee and employee-salary-packages models.
4. Now try to create employee-salary-packages and it throws an exception.

Following are the models and the request:

## Employee Model
[code]

## Employee Salary Package model

[2019-07-31 14:00] godartm commented on #3477
Im not sure if i have understand right the issue but did you try this command ?
[code]

[2019-07-31 14:08] hacksparrow commented on #2598
These two PRs need to be landed to close this issue.

- https://github.com/strongloop/loopback.io/pull/863
- https://github.com/strongloop/loopback-next/pull/3481

[2019-07-31 15:58] agnes512 opened #3482 "Monthly Milestone - Aug 2019 🐟🔥🍤"
## August Milestone

### Goals
- [x] Authentication
  - [x] [Create a common layer for authentication & authorization component](https://github.com/strongloop/loopback-next/issues/2900)
  - [x] [Update package.json and package-lock.json to remove passport references](https://github.com/strongloop/loopback4-example-shopping/issues/175)

- [x] Authorization
  - [x] PR: feat: add authorization compon

[2019-07-31 16:13] #2598 closed

[2019-07-31 16:15] b-admike opened #3483 "Only local transactions should be supported"
## Steps to reproduce

coming from https://github.com/strongloop/loopback-next/pull/3397/files#r308913744. When we have a transaction created in one repository and used in another, we silently ignore it (LB3 behaviour). However, we should actively error out when this happens.

## Current Behavior

- create a datasource and a repository with model A
- create a secondary datasource (different databa

[2019-07-31 16:40] hacksparrow commented on #2598
The PRs have landed. Closing this issue.

[2019-07-31 19:57] agnes512 commented on #3444
I was considering this use case:
Lots of shopping websites use `Load More` button(or scroll down) to load more items.
This kind of button/function only sends a certain amount of queries as the more queries it sends, the longer it takes.

From my understanding and my experience, it's developer's responsibility to decide how many queries to send.
So it makes more sense to me that we just set a limit

[2019-07-31 20:46] dhmlau commented on #3480
@agnes512 @nabdelgadir , could you please take a look? Thanks.

[2019-07-31 20:46] dhmlau commented on #3477
@agnes512 @nabdelgadir , could you please take a look? Thanks.

[2019-07-31 20:49] dhmlau commented on #3476
@jannyHou, could you please take a look? Thanks.

[2019-07-31 21:47] dhmlau commented on #3477
@SouthRibbleTech, `lb4 discover` command requires the LoopBack 4 project to be built first, so as @godartm suggested, you need to run `npm run build` before running the discovery command.

[2019-07-31 22:36] mamiller93 commented on #1624
Or what's the best way of validating a model that isn't a request body endpoint? Using the isemail module is fine for email but a generic validator would be much more helpful, no?

[2019-07-31 23:47] #2614 closed

[2019-08-01 02:23] ssteuteville opened #3488 "self referencing table issues"
I'm having a hard time getting a table to reference itself. Would really appreciate some advice.

I based my code off of these files:
https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/__tests__/fixtures/models/customer.model.ts
https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/__tests__/fixtures/repositories/customer.repository.ts

I get

[2019-08-01 02:49] emonddr commented on #2198
@bajtos @raymondfeng , the particular change you made was in the `master` branch of loopback-datasource-juggler and didn't make it into `3.x` branch of  loopback-datasource-juggler.

@reyraa  kindly provided his LB3 application, and his server/boot/schemaUpdate.js
looks like this :
https://github.com/reyraa/reyraa-api/blob/develpment/server/boot/schemaUpdate.js#L5

Not certain if this a typical sc

[2019-08-01 02:52] SephReed commented on #1905
Would it be possible to just forward one port to the other?

[2019-08-01 03:05] emonddr commented on #2198
Replying to my own question.

https://loopback.io/doc/en/lb3/Creating-a-database-schema-from-models.html mentions this code:
[code]
which is identical to https://github.com/reyraa/reyraa-api/blob/develpment/server/boot/schemaUpdate.js#L5 .

So looks like this is following a recommended approach. Not sure why @bajtos commit mentioned earlier doesn't prevent migration from occurring a datasource is

[2019-08-01 03:25] raymondfeng commented on #2198
It only happens when the DB connection takes time to establish, for example, a remote DB over slow network. Did you test against a local DB?

[2019-08-01 03:29] raymondfeng commented on #2198
In general, DB operations can be performed upon the startup of an application. Such requests such as data loading, schema migration, data seeding, or other things. Using `connected` listener to defer DB calls is a workaround to the fact we don't use `async/await` in LB3.

[2019-08-01 06:47] godartm opened #3490 "Improve lb4 discover to discover relations"
## Suggestion

Actually a models can be discovered from a supported datasource by running the lb4 discover command.
But this didn't detect relation between table .
But for me, the strong advantage of the discover option is to detect the relation beetween model and create the navigational property.
If the datasource support this feature (For exemple: mysql),

## Use Cases

This will allow us to sav

[2019-08-01 08:46] UnclePetros commented on #2674
Hello,
we have the same crucial problem.
FindOne works well with strings until they match a perfect ObjectID string.
In this specific case it fail.

As an example, the following works:
`const customer = await this.customerRepository.findOne({
			where: { digitalUserId: '5d385199e9b4c12fe02612a' },
		});`

The following not work:
`const customer = await this.customerRepository.findOne({
			where: {

[2019-08-01 09:06] dougal83 commented on #3488
Just a small point not necessarily a solution to your problem: id should not be required as it is generated.

[2019-08-01 10:28] sureshkodur opened #3491 "Type defination Errors"
Hi,
When we generate models using discover method, models property types are generating with upper camel case i.e., 'String' instead of 'string' . Then we are getting errors like this.

[code]

How do we resolve these issues?

[2019-08-01 12:06] godartm commented on #3491
Hi , can you give more details about this issue like a model example or a way to reproduce =)

[2019-08-01 12:33] emonddr commented on #2198
@raymondfeng , I am using a docker image for postgresql. So yes, it is on my local laptop.

[2019-08-01 13:06] jannyHou commented on #3476
@pavanchandanam The inclusion feature is not supported yet, we are working on retrieving navigational properties incrementally, see epic https://github.com/strongloop/loopback-next/issues/1352.

The proposal and implementation stories are explained in https://github.com/strongloop/loopback-next/pull/3387

[2019-08-01 13:17] #3386 closed

[2019-08-01 14:27] jonathan-silva opened #3492 "REST DataSource Header Authorization Basic Example"
I can't create a REST datasource service of type post, which goes in the Authorization Basic header

@loopback/cli version: 1.20.0

@loopback/* dependencies:
  - @loopback/authentication: ^2.1.7
  - @loopback/boot: ^1.4.6
  - @loopback/build: ^2.0.5
  - @loopback/context: ^1.21.0
  - @loopback/core: ^1.8.7
  - @loopback/metadata: ^1.2.7
  - @loopback/openapi-spec-builder: ^1.2.7
  - @loopback/open

[2019-08-01 15:05] emonddr commented on #2198
So I've created a PR to merge into 3.x branch
https://github.com/strongloop/loopback-datasource-juggler/pull/1766

I cherry-picked this commit from master:

Miroslav's commit for automigrate and autoupdate
https://github.com/strongloop/loopback-datasource-juggler/pull/1756/commits/40286fcd28cc0119e8530d56ff0d82bc55f4517d

Other commits of interest:
miroslav fixed a typo from commit above
https://g

[2019-08-01 15:46] emonddr commented on #2198
I think this is unnecessary complexity. There is a timer that also removes the 'connected' listeners. So we may run into timing issues when trying to obtain an accurate count of how many are queued.

If we simply have the code suggested above, the only problem the user would face is the same warning message concerning max emitters. They he/she only needs to bump up the number. My 2 cents.

[2019-08-01 16:02] jannyHou commented on #1963
I am closing it since the answer if found. Feel free to reopen it if you have more questions.

[2019-08-01 16:02] #1963 closed

[2019-08-01 17:00] raymondfeng commented on #3492
The header name should be `authorization` instead of `authentication`. You also turn it into a variable so that it can be passed in via the method call.

[2019-08-01 17:09] jonathan-silva commented on #3492
@raymondfeng
I made change ...

![image](https://user-images.githubusercontent.com/25329651/62312947-dd5bfa80-b465-11e9-9197-c5cb9e59e697.png)
and gave following error in the log
![image](https://user-images.githubusercontent.com/25329651/62312824-940bab00-b465-11e9-8ba3-10f8e4d02c5f.png)

Thanks for listening

[2019-08-01 17:28] #3241 closed

[2019-08-01 17:33] raymondfeng commented on #3492
See https://loopback.io/doc/en/lb3/REST-connector.html#configure-options-for-request. You can set `strictSSL` to `false` in the datasource config.

[2019-08-01 17:35] jonathan-silva commented on #3492
@raymondfeng  Thank you very much brother! It worked here

[2019-08-01 17:44] #3492 closed

[2019-08-01 18:28] jannyHou commented on #3439
estimation meeting discussion:
- `toEntity` converts a JSON object(from the database) to an entity class instance
- maybe we should think of a better name for the function `fromEntity`, it should do the reverse vs `toEntity`, then we should put the rejection logic outside the function.
- some proposal: name it as `ensurePersistable`, the function makes sure the data doesn't contain non-persistent

[2019-08-01 19:08] emonddr commented on #2198
Create mockup connector from SQL connector.  Artificially defer the connection.
Then the mocha test can start sending SQL queries to the connector. Use the event api to determine the number of listeners for the 'connected' event. The numbers should line up.
And once connection is made, a timer empties out the listener list. We check that it is down to zero.

[2019-08-01 19:51] jannyHou opened #3493 "[Spike/Discussion] The proposal of the new requestBody decorator"
### Description

A follow up story of https://github.com/strongloop/loopback-next/issues/2654
In the spike story https://github.com/strongloop/loopback-next/issues/2654, @jannyHou proposed a new signature `@requestBody(spec, model, schemaOptions)` to simplify the way of providing schema configs, the design is explained in [file](https://github.com/strongloop/loopback-next/blob/5877f0cc0201af59f2a9

[2019-08-01 19:53] jonathan-silva opened #3494 "How to pass the token value into authorization from the REST datasource"
This structure is correct. In case I have a working POST method, the GET method I can't pass the token that I generate into the variable

![image](https://user-images.githubusercontent.com/25329651/62325726-b102a700-b482-11e9-9161-8f93a906ed7d.png)

when I make the request

![image](https://user-images.githubusercontent.com/25329651/62325267-adbaeb80-b481-11e9-8570-4df2181852b7.png)

@loopback/cli

[2019-08-01 20:03] agnes512 commented on #3480
@bhupesh-sf Hi! I tried to fix it in my PR. Could you try them out to see if it resolves your problem? Thanks!

[2019-08-01 20:11] jannyHou opened #3496 "Improve the @requestBody"
## Suggestion

A follow-up story for https://github.com/strongloop/loopback-next/issues/2654

## Use Cases

Implement `@requestBody(spec, model, schemaOptions)` as the new requestBody decorator.

## Examples

See the [Create](https://github.com/strongloop/loopback-next/blob/5877f0cc0201af59f2a9636a09753207c599ab26/packages/openapi-v3/_spike-request-body.md#create---exclude-properties
) endpoint an

[2019-08-01 20:30] jannyHou opened #3497 "[Refactor] Update controllers' CRUD functions in example packages"
### Description

A follow up story of #2654
After implementing the new decorator `@requestBody(spec, model, options)` in https://github.com/strongloop/loopback-next/issues/3496, update the example packages, apply the new annotation to controller CRUD methods.

### Acceptance Criteria

- [ ] Update the templates in `@loopback/cli` to adopt the new annotation.
- [ ] Upgrade examples to provide the d

[2019-08-01 20:37] jannyHou commented on #2654
The PoC of new proposal is created in draft PR https://github.com/strongloop/loopback-next/pull/3466

Follow up stories see:

- https://github.com/strongloop/loopback-next/issues/3493
- https://github.com/strongloop/loopback-next/issues/3496
- https://github.com/strongloop/loopback-next/issues/3497

[2019-08-01 20:37] #2654 closed

[2019-08-01 20:47] #3494 closed

[2019-08-01 22:23] nabdelgadir commented on #3480
@bhupesh-sf hi so as @agnes512 said, you can try the fix she implemented in her PR.

In your case, in the `employee-employee-salary-package.controller.ts` file, find the `create` method:
[code]

In the `getModelSchemaRef` function, modify the second argument from
[code]
 to
[code]

Let us know if this helps, thanks!

[2019-08-02 02:03] dhmlau commented on #2900
Draft PR #2902.
Recalling the conversation with @raymondfeng, he thinks after PR #1205 is done, we can see what makes sense to put in the common layer.

[2019-08-02 02:39] dhmlau commented on #3491
I thought it's been fixed through https://github.com/strongloop/loopback-next/issues/2953. I assume you're using the latest `@loopback/cli`?

[2019-08-02 07:02] godartm opened #3499 "Feature request: navigate through different model"
Hi ,

## Suggestion

Add the possibility to get a model trought different model  based on primary key.

## Use Cases

Lets imagine i have model foo , bar , baz and all have an ID as primary key.

foo have a relation with bar,
bar have a relation with baz.

How can i retrieve baz from foo ?

Actually i can do

- fooRepository.bar(id)
- barRepository.baz(id)

## Examples

It should be possible to do

[2019-08-02 08:17] bhupesh-sf commented on #3480
@agnes512 @nabdelgadir I tried the solution, it fix one thing that it doesn't gives the model validation error which I already achieved by putting **employee_id** in exclude list itself along with id. But the main problem is that in DB this foreign key is mandatory as employee_salary_package is child of employee and I still need to extract employee_id from the request and add it to data being sent

[2019-08-02 12:53] hacksparrow commented on #2674
@UnclePetros what is the property `digitalUserId` defined as? Can you share it?

[2019-08-02 14:03] ssteuteville commented on #3488
Thanks I updated that. It wasn't the problem.

[2019-08-02 15:40] UnclePetros commented on #2674
@hacksparrow `digitalUserId` has this definition in the Customer model:

`  @property({
    type: 'string',
  })
  digitalUserId?: string;`

I use a mongodb datasource.

Unfortunately I've tried to reproduce it in the todo-list example, but without success.
Anyway, I've noticed if I save the `digitalUserId` as an `ObjectId `in the mongodb database then the `findOne` works fine.

[2019-08-03 19:26] frbuceta opened #3501 "The documentation is not updated"
The documentation in loopback.io is not being updated according to this repository

[2019-08-03 20:12] frbuceta commented on #3501
To have the updated version I have done:

* `npm ci` in the repository root
* `npm run build:site` WATCH OUT! [bundler](http://bundler.io) must be installed
* then I have run `npm start` in `/sandbox/loopback.io`

[2019-08-04 10:46] ericzon commented on #1466
First of all, thanks for this nice work.
I was able to deploy a LB 4 API in Azure (connected with a CosmosDB nosql) as App Service.
During the process I found two main problems:
- The password that azure generates to connect to db sometimes contains characters that are encoded during the process of initialize the conection in loopback mongodb connector.

- When I connect this API to Azure API Mana

[2019-08-04 13:48] dhmlau commented on #1466
@ericzon, thanks for trying out the deployment to Azure. :)
Seems like you were able to find the cause of the problem, are you interested in submitting a PR?

[2019-08-04 14:58] ericzon commented on #1466
Yes, there's my PR :)

[2019-08-04 17:48] shendkardevesh commented on #2027
hi @bajtos,
i tried to set headers by  @param.header.string('token') token?: string in controller which gives me option to enter token for a api, which get's set in header.
which in ui gives me -
![image](https://user-images.githubusercontent.com/19186558/62427250-ed960300-b70d-11e9-87e3-869f87d7f86a.png)

doing this is a correct way or we need something exactly same as in swagger-ui.

[2019-08-05 02:51] ankit2594 opened #3507 "I have hosted my Loopback 4 application on iisnode windows web app, Getting the port from there as a pipe which Loopback 4 doesn't understand"
I have hosted my loopback 4 application on iisnode windows web app, which is giving the port as pipe and in my loopback 4 application i am reading port as  process.env.PORT. And i am getting the error:

Cannot start the application. RangeError [ERR_SOCKET_BAD_PORT]: Port should be >= 0 and < 65536. Received \.\pipe\fde1f2c4-428f-5513-8114-c9520f1ba02d

code:-

  // index.js root file

    const ap

[2019-08-05 06:13] raymondfeng commented on #3507
For Windows pipe support, check out https://github.com/strongloop/loopback-next/blob/3221d9faed0c5dbc5da8bfc65cad7992f1b91f41/packages/http-server/src/__tests__/integration/http-server.integration.ts#L234

[2019-08-05 07:20] godartm opened #3508 "loopback/openapi-v3 multiples paths"
Hi ,
How can i add multiples paths to a method.

For example the method foo can be decorated by /foo
How can i add /bar on the foo method.

An example of use case :

/user/{id}/orders/{id} ---> I retrieve an order by id
/order/{id} ---> i retrieve an order by ID too

should i duplicate the foo method ?

[2019-08-05 08:30] nflaig commented on #2027
Hi @shendkardevesh,

right now I also face the problem that the explorer is completely unusable for me because there is no option to set headers so I have to use Postman instead.

This looks like a good workaround but you would need to add `@param.header.string('token') token?: string` to every controller method which seems odd if you don't even use the token there.

Do you know if there is a way

[2019-08-05 08:48] hacksparrow commented on #2027
@shendkardevesh @nflaig refer to https://github.com/strongloop/loopback-next/pull/2210#issuecomment-451866876.

[2019-08-05 09:33] nflaig commented on #2027
@hacksparrow are there instructions on how to enable this for loopback 4 applications?

[2019-08-05 10:28] hacksparrow commented on #2027
@nflaig the link I pasted above is all we have for now. It is more of a Swagger UI thing. It would help to have our own instruction, though.

[2019-08-05 11:00] hacksparrow commented on #3508
@godartm you have to create a new method for each new route. You want to these two routes to your controller:

- /user/{id}/orders/{id}
- /order/{id}

Then create their corresponding handler methods.

[2019-08-05 11:15] godartm commented on #3508
ok , thanks for reply.

[2019-08-05 11:15] #3508 closed

[2019-08-05 12:45] hacksparrow commented on #2674
@UnclePetros that's correct `loopback-mongodb-connector 5.0` onwards, properties should be set as `ObjectId`, if they are to be treated as one; and autogenerated ids are `ObjectId`s.

[2019-08-05 12:54] UnclePetros commented on #2674
@hacksparrow  ok, very interesting this new feature.
I'll upgrade the code in order to use it.

[2019-08-05 20:44] jordo1138 opened #3510 "lb4 example todo geo coding example typescript error"
`Unhandled error in POST /todos: 500 TypeError: Cannot read property 'y' of undefined
    at TodoController.createTodo (/loopback/examples/loopback4-example-todo/dist/controllers/todo.controller.js:37:42)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:189:7)`

This error occures when trying out the tutorial
https://loopback.io/doc/en/lb4/todo-tutorial-geocoding-serv

[2019-08-05 22:51] dhmlau commented on #3501
Closing as resolved because PR #3502 has landed. @frbuceta, thanks for your contribution!

[2019-08-05 23:53] frbuceta commented on #3501
The page is still not updated

[2019-08-06 03:06] agnes512 commented on #3480
@bhupesh-sf Hi! and yes, the change I made in [the PR](https://github.com/strongloop/loopback-next/pull/3495) is to have the foreign key passed in the request body automatically. For your case, it would attach `customerId` to `optional`, so that you don't have to pass the value again in the request body. (we will need to discuss to have the fk inside of `optional` or `exclude` with the team)

As f

[2019-08-06 04:18] jordo1138 commented on #3510
issue is that the address in the string cannot just be city state zip code, it may not return results and then this will cause Y to be undefined

[2019-08-06 04:18] #3510 closed

[2019-08-06 12:36] bhupesh-sf commented on #3480
Hey @agnes512 Yes its working. I am not sure why it throw error earlier. It could be the reason that I was trying by putting **employee_id** in exclude list rather than optional list. Seems like exclude list make the elements excluded from the request body. Not sure.

Anyways thanks for all the help. Now closing this issue.

[2019-08-06 12:36] #3480 closed

[2019-08-06 13:36] jonathan-silva opened #3513 "Show HTTP request info"
How do I show HTTP request information ?

I need to get some information that is within a request, status, authorization, among other things, as it would be, and would have any examples?

Thank you very much in advance

[2019-08-06 13:54] hacksparrow commented on #3513
The HTTP request object is accessible from controllers. For example, you can modify `src/controllers/ping.controller.ts` to `console.log` the request object:

[code]

[2019-08-06 15:13] #3513 closed

[2019-08-06 15:18] dhmlau commented on #3501
@frbuceta , my apologies. I thought your PR is fixing the issue you're complaining.  Do you have the link of the documentation?  And are you interested in submitting a PR for that? Thanks.

[2019-08-06 15:32] jonathan-silva opened #3514 "Mapping a Oracle Sequence in a Model"
I have a model, which maps an entity to the oracle database, and this entity has a sequence. How to map this sequence to get the nextval id?

For when I insert a new record, it picks the next id automatically

Is there a way to map this in the model so that the loopback understands that this model contains sequence?
If not, how do I get the entity's nextval id, so that I can enter a new value ?

T

[2019-08-06 19:11] #3443 closed

[2019-08-07 19:01] mamiller93 commented on #487
Any recommendations on how to handle database migrations in Loopback4? I read your (@bajtos) message on StackOverflow saying Loopback doesn't support migration scripts yet but it seems as though this thread has gone a bit stale.

[2019-08-07 20:03] dhmlau commented on #3488
@nabdelgadir @agnes512 , could you please take a look? Thanks.

[2019-08-08 14:11] nabdelgadir commented on #3499
@godartm Let's say you have

Foo:
`{id: 1, name: 'foo 1'}`

Bar:
`{id: 1, name: 'bar 1', fooId: 1}`
`{id: 2, name: 'bar 2', fooId: 1}`

Baz:
`{id: 1, name: 'baz 1', barId: 1}`
`{id: 2, name: 'baz 2', barId: 2}`
`{id: 3, name: 'baz 3', barId: 1}`

Just so I understand this issue correctly, what's your desired outcome when you do something like `fooRepository.bar(1).baz(1)`? Because `fooRepository.b

[2019-08-08 14:51] godartm commented on #3499
Yes you understand right the issue =)

[2019-08-08 15:34] sunilsmith opened #3526 "Using hasMany relation and cascading ORM level in loopback4"
I have created 2 models Author and Books where Author has hasMany relation with Book and Book has belongsTo relation with author.
While saving data using ORM models the cascading is not happening i.e

[code]

The above should create a Author record in Author table and create a Book record with the authorId in Book table, which is not happening whereas from belongsTo it can able to create an Author

[2019-08-08 18:41] nabdelgadir commented on #3499
@godartm Thanks! LoopBack doesn't currently have a way to do this directly, so I created a custom controller class as an example:

[code]

In this case `Foo` = `Grandparent`, `Bar` = `Parent`, and `Baz` = `Child`.

I'm sure there's a way to make this more efficient, but this is just something to go off of. Please let me know if you have any other questions.

[2019-08-08 18:57] godartm commented on #3499
Thanks for the reply , and thanks for the exemple. =)

I can be good to request a feature about this  and update the doc to explain how to do this use case.

[2019-08-08 19:38] nabdelgadir commented on #3499
You can update the current issue description with the fields from the [Feature request template](https://github.com/strongloop/loopback-next/issues/new?labels=feature&template=Feature_request.md) or open a new issue and close this one. 😄

[2019-08-08 19:45] freakpol opened #3524 "Add support for `anyOf` and `oneOf` on the `jsonToSchemaObject` utility"
## Suggestion

Add support for `anyOf` and `oneOf` on the `jsonToSchemaObject` utility

## Use Cases

When defining models, sometimes we want to specify that some properties are of one of / any of some types. For this, the property `jsonSchema` of the `property` annotation comes handy, but it lack of support for the `anyOf` and `oneOf`.

## Examples

[code]

When loopback generates the openapi spe

[2019-08-08 20:02] developingjosh commented on #1466
@ericzon  Can you explain what steps you have used to deploy to azure app service on a windows web app?

I have tried multiple methods and it all seems to fail. Although I have gotten this to work on a linux web app.

[2019-08-08 20:07] developingjosh commented on #1466
### Deploying to Azure App Service Linux Web App
Inside the Azure Portal> Configuration > Application Settings add the following:
BUILD_FLAGS : Off

Inside the Azure Portal> Configuration > General Settings add the following to the Startup Command:
pm2 start --no-daemon index.js

[2019-08-08 23:18] dhmlau commented on #3526
Transferred to `loopback-next` repo because this is about LB4.
@sunilsmith, cross-posting my response to your [stackoverflow post](https://stackoverflow.com/questions/57391303/using-hasmany-relation-and-cascading-orm-level-in-loopback4):

-----
You need to create a AuthorBookController to connect the two. Please see example code in here: https://github.com/strongloop/loopback-next/blob/master/exam

[2019-08-08 23:41] giltee opened #3527 "Can't filter on foreign key field for api calls"
## Steps to reproduce

I have a classic simple User, Transaction models that I have setup with relationships to link the models (using mongoDB). I followed the docs on the loopback website and was successful in getting posts sent over.

Now I have found that for some reason the foreign key field is not filterable by the client but every other field seems to work. When I filter for a specific userI

[2019-08-09 00:58] dhmlau commented on #3444
@agnes512, are we ready to estimate this task?

[2019-08-09 03:52] aneekbasu commented on #3365
I am getting the same problem. Please find below the answers to your questions:-

1. are you running nvm for managing the node version you're running? No
2. what's the node version? (run node -v) 10.16
3. which OS are you using? Ubuntu 18.04
4. Do you get command not found error? or other error? Command 'lb4' not found
5. Did you install @loopback/cli at the global level? i.e. npm i -g @loopback/c

[2019-08-09 10:39] sureshkodur commented on #1624
Is it possible the Model Level validations, like
@property({
     type:'number',
     jsonSchema:{
         maximum:20,
         minimum:30
     }
})
DEM_age_B20:number

In the above, the age should be in between 20-30. How do I validate this in LB4?
Anyone help?

[2019-08-09 14:53] dhmlau commented on #3365
@aneekbasu, do you have /usr/local/bin on your $PATH?

I don't have an Ubuntu instance handy to try, here are a few issues that i found that might be useful. Could you please check them out?
https://github.com/strongloop/loopback/issues/281
https://github.com/strongloop/loopback/issues/2737
https://stackoverflow.com/questions/20934343/how-to-restore-reset-npm-configuration-to-default-values

Hope

[2019-08-09 14:56] raymondfeng commented on #3365
BTW, I strongly recommend that you use https://github.com/nvm-sh/nvm so that multiple node versions can be installed and isolated on your machine.

[2019-08-09 17:33] nabdelgadir commented on #3488
I can't reproduce this error locally. Would you mind providing the repo you have this example in? Thanks!

[2019-08-09 20:40] jannyHou commented on #3524
@freakpol Thank you for the suggestion, good point.
We support converting these spec into the composite TypeScript types, see https://github.com/strongloop/loopback-next/blob/650b387196b59d579e9b0692592af3b466ec0000/packages/cli/generators/openapi/README.md#schemas

But don't support the reverse conversion as you mentioned.

Ideally, the composite types could be inferred from the metadata of param

[2019-08-09 20:49] jannyHou commented on #3524
And another important thing to consider: for the composite types, **how to coerce the data from HTTP request**? See the coercion file https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/coercion/coerce-parameter.ts

It's easy for a certain type, but for an union/intersection type, user may need to provide a custom coercion function for it.

[2019-08-10 09:15] mrmodise commented on #1863
@GuerricPhalippou i resolved this in the interim by using Lerna to create another Loopback 4 app package that uses Express server plus Request to get the JSESSIONID from the cookie. I then store this on Redis for any subsequent requests. I will be happy to share the solution for anyone who is deep into Loopback 4 that it’s impossible to rollback

[2019-08-11 00:07] temp3l commented on #3527
same here

[2019-08-11 07:35] nflaig commented on #3527
@giltee @temp3l
there are two options to resolve this:

**Option 1**: In the `find()` method set `strictObjectIDCoercion` to `true` e.g `find(filter, {strictObjectIDCoercion: true})`

**Option 2**: Update [loopback-connector-mongodb](https://www.npmjs.com/package/loopback-connector-mongodb) to the latest version (v5.0.0) which stores the foreign keys as `ObjectId` instead of `String` which should

[2019-08-11 09:22] sandijs-private opened #3531 "mongodb connector config url must be url encoded to be able to connect to Azure"
## Steps to reproduce

When using Azure CosmosDB mongodb, they generate passwords with special characters which need to be url encoded.

Loopback mongo db connector config then looks like this:

{
  "name": "database",
  "connector": "mongodb",
  "url": "mongodb://some-user:password==@some-project.documents.azure.com:10255/somedatabase?ssl=true&replicaSet=globaldb",
  "useNewUrlParser": true
}

Th

[2019-08-11 15:50] frbuceta commented on #3501
No problem. For example `https://loopback.io/doc/en/lb4/Model.html` not equal to `loopback-next/docs/site/Model.md`

I really don't know what the problem is ... I guess you'll have this automated and it won't be working properly

[2019-08-11 16:40] raymondfeng commented on #3501
For some reason, the build does not pick up latest version of `@loopback/docs` and reverted my manual updates.

[2019-08-11 17:06] nflaig commented on #3281
@emonddr Since `@loopback/authentication` relies on a certain version of `@loopback/core` and `@loopback/context` (and more?) to work properly, it might be a considerations to add them as `peerDependencies` in `package.json`. This will cause npm to warn the user after the installation of the package finishes if those dependencies are not installed or have a different/lower version than required.

[2019-08-12 01:45] dhmlau commented on #3501
It should be in sync now.

[2019-08-12 02:09] frbuceta commented on #3501
Yes, now, yes
Good job guys;)

[2019-08-12 02:09] #3501 closed

[2019-08-12 02:28] joe-niland commented on #3396
Hi @jannyHou

I hope it's OK to add my discussion here, as I have a similar issue.

I am trying to use `passport-jwt` via a StrategyAdapter. I followed the Simple Usage case in your linked example and I am able to authenticate requests using the decorator.

However, I need to inject a UserRepository, JWT secret, etc into the Strategy. I tried creating a provider by following your other example, bu

[2019-08-12 03:12] diego92sigma6 opened #3534 "app.restServer.url is undefined"
Hi, I'm currently having this issue. I'm not sure how to deal with it since the configuration is seemingly right

## Steps to reproduce

Run the app normally using *npm start*
With the following code on index.ts: (pretty sure those binds shouldn't affect the issue (right?))

[code]

code in application.ts (not touched):

[code]

## Current Behavior

- App runs well, but some requests aren't being

[2019-08-12 05:53] likexoo opened #3536 "Support for adding custom keywords to Ajv validator"
## Suggestion

Support for adding custom keywords to Ajv validator

## Use Cases

What do you want to use this for?

- Add custom keywords and using it in `@requestBody` `@param`
- Add expansion package such as [epoberezkin/ajv-keywords](https://github.com/epoberezkin/ajv-keywords) and using it in `@requestBody` `@param`

What shortcomings exist with current approaches?

- Cannot add custom keywor

[2019-08-12 06:24] raymondfeng commented on #3534
The following code is flawed:
[code]

[2019-08-12 06:27] #3534 closed

[2019-08-12 13:10] godartm commented on #3499
@nabdelgadir i have updated this issue, can you add the "Feature" label please =)

[2019-08-12 13:39] freakpol commented on #3524
I'm not really sure if I exposed my point well.

The sample code I've posted in the description of the issue, is actual code.
Now, when loopback generates the openapi spec, that generated documentation does not have the `anyOf` (in this example) or `oneOf` sections, because those ones are ignored by `jsonToSchemaObject` utility.

I was not talking about converting openapi to typescript.

[2019-08-12 15:03] #3507 closed

[2019-08-12 16:38] jannyHou commented on #3524
@freakpol I think I understand your description correctly, only the first paragraph of my comment is talking about "converting openapi to typescript", the rest are all about the feature you'd like to have.

[2019-08-12 16:51] freakpol commented on #3524
Oh, ok, sorry, I'm not really that expert either on typescript and even less in loopback.
Anyway, I've tested that proposed solution (at least for `anyOf`) and seems to work fine, it generates  the proper openapi docs and also, when using the `explorer`, the input is validated properly. Note, tho, that I haven't tested with very complex properties.

[2019-08-12 16:54] AnanthGopal opened #3673 "Increase the session expire time whenever call the service"
I implement the Token-based Authentication service by using below link  https://loopback.io/doc/en/lb4/Authentication-Tutorial.html.

I need a small feature that is "Increase the session expire time whenever call the service"

I set an initial session timeout is 20 minutes. but I need to reset this session timeout whenever I call the service. For Ex.

Initial session timeout is 20 minutes, I spent

[2019-08-12 19:40] dhmlau commented on #3536
See PR #3539

[2019-08-12 22:13] rmg commented on #3161
GitHub has opened up Actions (https://github.com/features/actions) to limited beta, scheduled to become generally available on November 13.

What is particularly relevant to this spike is that it is based on a fork of Azure Pipelines and the services are run on Azure VMs.

Also useful is that it supports Linux, Windows, _and_ macOS.

[2019-08-13 01:23] dhmlau commented on #3477
@SouthRibbleTech, we believe we've answered your question, so I'm closing this issue.  If you still have questions, please ping me here and I can reopen the issue. Thanks.

[2019-08-13 01:23] #3477 closed

[2019-08-13 01:27] shadyanwar commented on #3430
@bajtos Here you go:
https://github.com/shadyanwar/lb4-timezone-test

After running npm start, go to:
http://localhost:3000/addUser?name=test

I use [moment-timezone](https://www.npmjs.com/package/moment-timezone) to change the timezone and set a default one.

It will give something like the following:
[code]

The property `createdUser` shows the values returned from the database. Notice how the t

[2019-08-13 10:00] dougal83 commented on #3430
@shadyanwar Hey! Out of curiosity, how do dates behave if you set `process.env.TZ = 'Asia/Tokyo'`?  I think you should then be able to use features like `toLocaleTimeString()`.

[2019-08-13 13:24] dhmlau commented on #3476
@jannyHou, should we close this as duplicate of #1352?

[2019-08-13 15:01] bhupesh-sf opened #3541 "Patch update ID requires all required model properties to be passed in request"
## Steps to reproduce

1. Have a model with some required properties
2. Create a record
3. try to partial update the record with Patch

## Current Behavior

![Screenshot from 2019-08-13 20-25-47](https://user-images.githubusercontent.com/6471510/62951999-91ffff80-be08-11e9-92ec-0b24615dcc85.png)

## Expected Behavior

It should allow the record to be updated.

## Additional information

Controller

[2019-08-13 19:56] dhmlau commented on #3346
@federicogomeza, we believe we've solved your issue.  Please feel free to ping me if you're still running this issue. Thanks.

[2019-08-13 19:56] #3346 closed

[2019-08-13 22:00] shadyanwar commented on #3430
@dougal83 Thanks for the great suggestion.

In package.json, I have added "TZ" to the "start" script as follows:
`TZ=\"Asia/Tokyo\" `
so now it is:
`"start": "TZ=\"Asia/Tokyo\" node -r source-map-support/register .",`

This has affected the conversion behavior so whenever a new Date() is stored in the database, it is stored in the database with the timezone I have set above (toLocaleTimeString() i

[2019-08-14 02:24] aharbis commented on #3058
I've been instrumenting the mentioned code above in the body parser to try and understand how the spec flows through this code path, and how to pull out that spec to apply defaults. It's still a work in progress, but wanted to jot down some notes.

Using the todo example app and leveraging the `debug` statements in the body parser, I've found that the schema lies in the `RequestBody` which comes i

[2019-08-14 03:12] codejamninja opened #3545 "Add PK/FK constraints to hasManyThrough"
Currently, hasManyThrough is making 2 calls to the database. One to query the through (join) table and one to query the target table. For relational databases, this could be reduced to a single query using joins.

https://github.com/strongloop/loopback-next/pull/2359#discussion_r257276433

[2019-08-14 03:47] codejamninja commented on #2264
My pull request for this at #2359 is ready.

For those interested in trying it out, you can install it the following way.

[code]

or add the following to your package.json file

[code]

[2019-08-14 13:01] rashtay commented on #3365
I am facing this issue too. `npm install -g @loopback/cli`

1. I am using NVM
2. Node: v10.15.3
3. MacOS - Mojave
4. NVM: 0.34.0

▶ lb4 app
zsh: command not found: lb4

[2019-08-14 13:20] cyupa opened #3546 "BelongsToAccessor returns wrong entity"
## Steps to reproduce

I've picked up a starter repo that pretty much follows your guidelines from here: https://github.com/sourcefuse/loopback4-starter

The problem I am facing is that a BelongsToAccessor returns a wrong entity.
In my situation, I fetch an entity "UserTenant" that has three belongsTo properties defined like this:
[code]
Model can also be found here: https://github.com/sourcefuse/

[2019-08-14 13:54] rashtay commented on #3365
I fixed the issue. I am using NVM but on digging into the issue further, I realized that though my current version is v10.15.3, my packages were getting installed in v8.x.x. I don't even have v8.x.x version installed but .npmrc was pointing to that folder. I deleted that folder, created a new npm prefix pointing to the current version and Voila, it worked.

[2019-08-14 14:08] hacksparrow commented on #3531
Thanks @sandijs-private.

This issue has been reported earlier too, it was concluded as a documentation issue and we landed a PR - https://github.com/strongloop/loopback-connector-mongodb/pull/529 - to resolve it.

[2019-08-14 14:08] #3531 closed

[2019-08-14 14:16] nabdelgadir commented on #2198
Closing as https://github.com/strongloop/loopback-connector/pull/149 and https://github.com/strongloop/loopback-datasource-juggler/pull/1767 are landed.

[2019-08-14 14:16] #2198 closed

[2019-08-14 15:13] raymondfeng commented on #3546
@cyupa https://github.com/sourcefuse/loopback4-starter is community effort. Does it make more sense to open an issue there?

@samarpan-b WDYT?

[2019-08-14 15:24] jannyHou commented on #3476
Yeah point it to #1352 is reasonable to me.
Feel free to reopen the issue if you have more questions.

[2019-08-14 15:24] #3476 closed

[2019-08-14 15:24] samarpanB commented on #3546
Yes. Please raise it there. I’ll surely get you some help there.

[2019-08-14 15:58] raymondfeng commented on #3365
@rashtay What was in your `.npmrc`? For `nvm`, it needs to be activated with a new terminal window  after the installation. Run `command -v nvm` to make sure.

[2019-08-14 17:52] cyupa commented on #3546
@raymondfeng thanks for the response. Sure, I can do that but by looking at the docs it seems that it everything is set up correctly.

To me it looks like an issue with the BelngsToAccessor, that’s why I posted it here.

[2019-08-14 18:06] acorbellini commented on #3417
Hi all, we had a hard time finding this issue. The bug description lacks the actual undescriptive error printed out, which is the only hint we had to google it:

As mentioned, the solution was adding `operationId` to the path definition. Thanks to the OP for pointing that out.

[2019-08-15 18:22] dhmlau commented on #3072
We've enabled and tested the most commonly used connectors with Node.js 12.  For the rest, we'll enable it later.  Moving to Q4.

[2019-08-16 12:39] cyupa commented on #3546
@raymondfeng  It seems that the issue was with the `keyFrom` option. Should have been using `keyTo` given that is a BelongsTo relationship? My understanding was that id looks to a property that has the  `id: true` option set.

Thanks!

[2019-08-16 12:39] #3546 closed

[2019-08-16 12:47] frbuceta opened #3553 "duplicate NPM packages?"
Packages are being published twice in NPM

![Captura de pantalla 2019-08-16 a las 14 44 39](https://user-images.githubusercontent.com/13822438/63168491-9872bf00-c034-11e9-97e2-8e2c949ee261.png)

[2019-08-16 13:11] bajtos commented on #3444
In LoopBack 3, we are splitting the queries for the user automatically - see https://github.com/strongloop/loopback-datasource-juggler/blob/814c55c7cd7ac49f3a52729949a5d0aaeb91853d/lib/include.js#L237-L264.

I am fine to put this feature on hold for now and wait if there are any users asking for it.

If we decide to do so, then I'd like to ensure that the enforced inq limit is large enough to supp

[2019-08-16 13:19] rashtay commented on #3365
@raymondfeng `nvm` was working fine. Unfortunately, it was installing global packages in the folder of a different version of the node. I deleted that folder from `.nvm` and fixed the prefix.

Now, `.npmrc` points to the right node version

`prefix=/Users/rahshett/.nvm/versions/node/v10.15.3`

[2019-08-16 13:31] rashtay opened #3554 "Project scaffolding via npx"
## Suggestion

I recently faced an issue where even after I globally installed the package, I couldn't use the commands. I fixed the issue.

It just hit me that even `loopback` could bootstrap projects in the way `create-react-app` does it. I am not sure how feasible would it be for the team to do it or whether the team considers this suggestion helpful.

## Use Cases

1. No need to install the pa

[2019-08-16 13:42] romansavrulin commented on #487
I'm interested about how to handle migrations in loopback 4 too. Can you provide any tutorials on that?

[2019-08-16 14:15] mamiller93 commented on #487
@romansavrulin we ended up implementing a knex migration/seed framework as the loopback framework in its current state just wasn’t enough for production. On seed startup, we also started up an instance of the application to get context and ultimately access to the repositories so that we don’t necessarily have to muck with the database directly but let our API handle the seeding! Hope that helps a

[2019-08-16 14:23] romansavrulin commented on #487
@mamiller93 Thanks for your explanation! I'm quite new to loopback, so any information is appreciated! do you have any notes about how to make it work?

Also, have you considered using sequelize to handle migrations ?

[2019-08-16 14:36] mamiller93 commented on #487
@romansavrulin We thought about it but decided with knex because we had previously implemented knex in a prior iteration of our application. We don't have notes on anything we've done - just the code itself, unfortunately, so below is my best notes!

The gist of seeds is as follows:
- Create a helper file that initializes your application ./application => new RestApplication(); await app.boot() an

[2019-08-16 14:39] romansavrulin commented on #487
@mamiller93 Thanks a lot! I'll dive into that!

[2019-08-16 14:44] raymondfeng commented on #3553
@frbuceta Don't worry about the github releases. The last release process was a bit bumpy and it ended up with a few more github tags but `npm` should only have one set of published packages.

[2019-08-16 14:44] #3553 closed

[2019-08-16 14:46] raymondfeng commented on #3554
I believe that you can already install `@loopback/cli` as local dependency and use `npx lb4 ...`.

I don't think it's a good idea to allow multiple versions of `@loopback/cli` to be installed local to a project. Not sure that's even possible.

[2019-08-16 14:47] raymondfeng commented on #3554
BTW, you should be able to use `@loopback/cli` module programmatically too.

[2019-08-16 15:14] JohnPhoto opened #3555 "@lb/authorization defaults to allow"
## Suggestion
I am (basically) using [https://github.com/strongloop/loopback4-example-shopping/pull/231/files](https://github.com/strongloop/loopback4-example-shopping/pull/231/files) but I want to implement "OR-logic" for the voters/enforcers (`compareId` and `casbin`).

I did not find the actual code for `@loopback/authorize` in github but i got it from the `src`-dir in the package.

## Use Case

[2019-08-16 15:18] raymondfeng commented on #3555
@JohnPhoto Thank you for the quick feedback. Are you proposing to default to `DENY` if all authorizers vote `ABSTAIN`?

[2019-08-16 15:33] jannyHou commented on #3555
@JohnPhoto Good to know people are trying the demo in that PoC

For your requirement, I have a workaround in the custom [`voter`](https://github.com/strongloop/loopback4-example-shopping/pull/231/files#diff-6bb64b143a56922ec3c40ccd50adce8aR27)

But I agree that we should allow more flexible logic when making decision, like `OR-logic`, or `AND-logic`, or specify priorities for authorizers/voters.

[2019-08-16 15:43] JohnPhoto commented on #3555
@raymondfeng In my use case I would suggest (Deny always wins):
* Deny, Deny, Deny => Deny
* Allow, Allow, Allow => Allow
* Deny, Allow, Abstain => **Deny**
* Allow, Abstain, Deny => **Deny**
* Abstain, Deny, Abstain => Deny
* Abstain, Allow, Abstain => Allow
* Abstain, Abstain, Abstain => Deny

@jannyHou I did see your workaround but its hard for me to fit such a hack with the logic I have in the

[2019-08-16 16:10] raymondfeng commented on #3555
I think we can make it more flexible as follows:

- Deny, Deny, Deny => Deny (always)
- Allow, Allow, Allow => Allow (always)
- Abstain, Allow, Abstain => Allow (always)
- Abstain, Deny, Abstain => Deny (always)

- Deny, Allow, Abstain =>
   - Deny (if options. precedence === 'Deny' or not set)
   - Allow (if options. precedence === 'Allow' or not set)
- Allow, Abstain, Deny =>
   - Deny (if optio

[2019-08-16 16:26] JohnPhoto commented on #3555
Sounds great to me!

[2019-08-16 16:29] jannyHou commented on #3555
Great https://github.com/strongloop/loopback-next/issues/3555#issuecomment-522064300

Just one question: what's the difference between

[code]
and
[code]
?

[2019-08-16 16:40] raymondfeng commented on #3555
That just show different order of allow/deny combinations.

[2019-08-16 16:40] raymondfeng commented on #3555
@jannyHou I'm working on a PR to implement this proposal.

[2019-08-16 20:12] dhmlau commented on #3536
PR has landed.  Closing as done.

[2019-08-16 20:12] #3536 closed

[2019-08-17 00:57] faris-mobile89 commented on #1352
When we should expect this issue to be resolved? Or if you have a workaround to do this le me know. Thanks :)

[2019-08-17 19:40] rashtay commented on #3554
@raymondfeng Oh, alright! Makes sense.

[2019-08-17 19:40] #3554 closed

[2019-08-18 00:17] federicogomeza commented on #3346
Thanks Diana for the help, at the moment I am using loopback 4 without graphql, since I need it for a productive application, and for the moment this implementation is lacking community. In the future I hope to be able to use graphql again :)

[2019-08-18 08:48] 1057437122 opened #3577 "how to set table's charset while creating a new model"
I created a model with command `lb4 model` and finished all the settings. But after i did the migration with `yarn migrate` , I found the table was created with charset latin1 ( I'm useing mysql 5.7.26), and the mysql command `show create table ` returns like this
[code]
how can i change the charset to  utf8 while create the model file ?

[2019-08-18 17:35] sandijs-private opened #3561 "API_KEY example in Authentication Tutorial"
For secure web services deployments all newbies need also API_KEY.
(and some SHA1 fingerprints for mobile apps too?)

Current documentation describes how to create Authentication with JWT token.

That still allows hackers to flood freshly installed API with endless Login requests which floods also the database which in could scenarios pumps up project costs for startups with little cash which is b

[2019-08-19 07:17] mrmodise commented on #512
1. Authorisation headers in GraphQL mutation and queries.
2. Reading session information headers.

[2019-08-19 09:30] KyDenZ opened #3572 "Generate relations in openapi.json"
## Suggestion

When an entity contains a relationship attribute (hasMany, hasOne), this one is not generated in the openapi.json file.

## Use Cases

I want to use, as part of React, the generator Typescript-axios. It generates the entities well, but without the relations.

## Acceptance criteria

TBD - will be filled by the team.

[2019-08-19 09:54] lazzyms opened #3931 "Firebase Authentication package built-in"
Feature Request :
Add a package/connector for firebase-authentication. This should replace loopback's default user authentication. A developer just needs to add firebase config.

[2019-08-19 15:45] #3445 closed

[2019-08-19 17:45] dhmlau commented on #3555
@raymondfeng , since PR #3556 has landed, does it mean this task is done? Thanks.

[2019-08-19 17:46] #3555 closed

[2019-08-19 17:58] dhmlau commented on #3572
@KyDenZ, could you please translate your use case to English? :)

@raymondfeng, what's your thought on this? Thanks.

[2019-08-19 18:03] KyDenZ commented on #3572
Yes, sorry :)

[2019-08-19 20:43] 1057437122 commented on #3577
No body understand me ? I create a model file with `lb4 model` and it create a file called 'file.model.ts' and this is the content:
[code]
I dont know how to set this table's charset to `utf-8` . Can any body help me ?

[2019-08-19 21:43] dougal83 commented on #3577
https://loopback.io/doc/en/lb2/MySQL-connector.html#creating-a-mysql-data-source

See collation setting.

[2019-08-20 06:06] bhupesh-sf commented on #3541
My bad, I mistakenly replace the repository function from `updateById` to `replaceById` and that was causing this issue.

[2019-08-20 06:06] #3541 closed

[2019-08-20 11:50] #2692 closed

[2019-08-20 12:25] bajtos commented on #2736
Started the work here: https://github.com/strongloop/loopback-next/tree/feat/rest-crud

[2019-08-20 13:32] JohnPhoto opened #3581 "show imports in documentation"
Sorry if this is incorrect template/repo for this suggestion.

## Steps to reproduce

When reading the docs on [https://loopback.io/doc/en/lb4/](https://loopback.io/doc/en/lb4/) for any of the Getting started tutorials.

## Current Behavior

It is most often problematic as a new into LB4 to know where the imports are made from with all the new syntax/concepts.
One specific example is [https://loop

[2019-08-20 14:23] bajtos commented on #2736
Pull request in progress: #3582 Early feedback welcome!

[2019-08-20 14:53] dhmlau commented on #1352
We're planning to get the MVP done in the Q3 "release" (we do continuous delivery).

@bajtos, IIRC you've shared some workaround somewhere (in Slack).  Is it applicable for everyone or particular use case? Thanks.

[2019-08-20 16:57] dhmlau commented on #2246
@jannyHou, based on what we've accomplished in the `@loopback/security` PR, could you please see what's left needs to be done and add the acceptance criteria accordingly? Thanks!

[2019-08-20 17:03] dhmlau opened #3585 "Inclusion of related models - post-MVP enhancements"
MVP for this story is captured in https://github.com/strongloop/loopback-next/issues/1352

[2019-08-20 18:41] dhmlau commented on #1462
Closing it as done.
cc @raymondfeng

[2019-08-20 18:41] #1462 closed

[2019-08-20 19:04] dhmlau commented on #1624
In discussion with @raymondfeng @bajtos:
We've added some enhancement recently in adding AJV keywords, see PR https://github.com/strongloop/loopback-next/pull/3539.

Another way to do validation is through [interceptors](https://loopback.io/doc/en/lb4/Interceptors.html).

[2019-08-20 19:44] mamiller93 commented on #1624
@dhmlau for us, the payload of our endpoint is encoded which would make the AJV validation difficult.

Instead, we did exactly what you recommended - created a method decorator that does the AJV validation for us, with similar defaults to the OpenAPI validation, and throws an error if it isn't valid.

[2019-08-20 20:14] jannyHou commented on #2900
Closing as PR merged.

[2019-08-20 20:14] #2900 closed

[2019-08-20 20:32] dhmlau commented on #3383
The diagram added to the key concept page is the overall diagram that includes the client, LoopBack and other services.  It's good for now.
Closing it as done.

[2019-08-20 20:32] #3383 closed

[2019-08-21 10:22] poode opened #3588 "Build Script Issue"
I have found a strange issue with build script after using cli commands
## Steps to reproduce

1- `lb4 applicationName`
2- `npm start`
3- `lb4 datasource`
4- `lb4 repository`
5- `lb4 model`
6- `lb4 controller`

I followed cli instructions then

7- `npm start`
8- Removing *dist* folder
9- `npm start`  gave an error `Error: Cannot find module './dist'`
10- `npm run build` no thing happened and *dist

[2019-08-21 11:47] dougal83 commented on #3588
https://github.com/strongloop/loopback-next/issues/3358#issuecomment-514658504

Try updating lb4. Issue has been resolved, see above.

[2019-08-21 11:48] shadyanwar opened #3589 "Best way to integrate CSRF protection?"
## Suggestion
Thoughts?

Also, information can be listed on:
https://github.com/strongloop/loopback-next/security/advisories

## Acceptance criteria

TBD - will be filled by the team.

[2019-08-21 12:07] poode commented on #3588
I am using latest package

[2019-08-21 12:16] nflaig commented on #3589
I implemented a solution that uses JWTs together with CSRF-Tokens but I guess that would be to specific already.

[2019-08-21 12:19] shadyanwar commented on #3589
@nflaig I think it's worthy of sharing! Please share it.

[2019-08-21 12:28] dougal83 commented on #3588
Can you see if the advice given by Raymond in the linked thread helps?

[2019-08-21 13:09] poode commented on #3588
Thanks now I made a triavia change in packages.scripts.prestart to be `"prestart": "**npm run clean** && npm run build",`

[2019-08-21 13:09] #3588 closed

[2019-08-21 13:10] poode commented on #3588
Thanks now I made a trifle change in packages.scripts.prestart to be "prestart": "**npm run clean** && npm run build",

[2019-08-21 14:11] 1057437122 commented on #3577
thanks for the answer. I change the mydatabase.json file like this:
[code]
and I rebuild with the command `yarn migrate --rebuild` , but it didnt work , and i dropped the database and create a new one in mysql and build with `yarn migrate`, still useless.
At last I create a database in mysql with this command `create database xxx default 'utf8'` and build with `yarn migrate`, then i found all the

[2019-08-21 14:45] dhmlau commented on #3581
@JohnPhoto, thanks for pointing it out.  Would you like to submit a PR?

For your reference, here is the step-by-step instructions in submitting a PR in `loopback-next` repo: https://loopback.io/doc/en/lb4/submitting_a_pr.html.  Thanks!

[2019-08-21 14:53] dhmlau commented on #538
Closing as done.

[2019-08-21 14:53] #538 closed

[2019-08-21 15:35] dougal83 commented on #3577
Stands to reason considering you need elevated privileges to create database in the first place.  Setting db collation is beyond the scope of migration so I guessed you were up to something else other than the above.  Please close the issue if you're sorted.

[2019-08-21 20:25] nflaig commented on #3589
Unfortunately, I am currently not able to open source the code but I can give a description on how it works and why I implemented it like this.

#### General concept
- stateless microservice architecture
- authentication service handles the login of users and returns the tokens
- JWTs are signed asymmetrically with the private key that only the authentication service holds
- other services can ver

[2019-08-21 20:34] raymondfeng commented on #3589
Can you try the following?
[code]

[2019-08-21 21:32] #3186 closed

[2019-08-22 14:31] malek0512 opened #3594 "Loopback model definition is not adding foreign key relation in database table"
# Description/Steps to reproduce
It seems loopback is not adding foreign key constraint in Database table as per model definition.
I am using loopback 4 for API design and data modeling.
I am using DB2 as my database.

# Expected result
Foreign key constraints defined in loopback 4 model, should be reflected during table creation.

[2019-08-22 14:34] dhmlau commented on #3214
We're assuming the `permalink` in the page always maps to the github file structure. See https://github.com/strongloop/loopback.io/blob/gh-pages/_layouts/page.html#L15-L18.

Exploring ways to preserve the `permalink` while changing "edit url".

[2019-08-22 14:41] jannyHou commented on #2246
@dhmlau I am refactoring `@loopback/authentication` and `@loopback/authorization` to depend on `@loopback/security`, see PR https://github.com/strongloop/loopback-next/pull/3590, will figure out what to do with `UserProfile` and update it here.

[2019-08-22 17:12] JohnPhoto commented on #3581
I will try to help out when I find the time.

One issue though:  [https://cla.strongloop.com/agreements/strongloop/loopback-next](https://cla.strongloop.com/agreements/strongloop/loopback-next) (taken from your link) does not seem to exist.

[2019-08-22 17:22] raymondfeng commented on #3581
We see the issue and in the process of fixing it.

[2019-08-22 21:19] dhmlau commented on #3561
@jannyHou @emonddr, do you have some pointers for @sanadHaj to get started even we don't have the docs covering that yet? Thanks.

[2019-08-23 01:01] aharbis commented on #3058
Going through the code base, trying to find how the schema is resolved and used during validation, as that seems like a logical place to look. I've found [validateRequestBody](https://github.com/strongloop/loopback-next/blob/master/packages/rest/src/validation/request-body.validator.ts#L34) in the request body validator, which calls `validateValueAgainstSchema` and passes in the same `schema` that

[2019-08-23 07:27] bajtos commented on #3572
I am confused.

Are you @KyDenZ asking the model schemas to include properties for accessing related models? We have recently added support for that, see #2631, #2630 and #3171.

Example usage:

https://github.com/strongloop/loopback-next/blob/c65b77f92468a9ae9948809bbcf24d25f05059f8/examples/todo-list/src/controllers/todo-list.controller.ts#L69-L89

Or do you perhaps refer to Link Object ([the sp

[2019-08-23 11:29] KyDenZ commented on #3572
I did not think you had to add "include" to generate relationships in models in the openApi json.

Actually it works now. Thank you @bajtos !

One question: Is it possible to generate a single model that contains all the information (like the loopback generator 3 for Angular) with relations, id, attributes ... To avoid having dozens of models with long quite long name ?

[2019-08-23 13:44] #3577 closed

[2019-08-23 15:49] noctifer20 commented on #2358
I've created basic completion with [tabtab](https://github.com/mklabs/tabtab)
And for installation, you have to run something like `lb4 install-completion`.
Is it suitable for cli ?

<img width="734" alt="Screen Shot 2019-08-23 at 7 42 09 PM" src="https://user-images.githubusercontent.com/18212378/63605398-e9f3ee80-c5de-11e9-8640-f8e270eaea64.png">

[2019-08-23 17:04] #3446 closed

[2019-08-23 17:08] dhmlau commented on #3594
@malek0512, currently the FK constraints are not being added during table creation. We have the [strong relation epic](https://github.com/strongloop/loopback-next/issues/2331) covering this, and the proposal to implement it: https://github.com/strongloop/loopback-next/pull/2712.

For now, you might want to add the foreign key constraints in the model decorator. See example: https://github.com/dhml

[2019-08-23 19:48] Tavisco commented on #3296
Getting the exact same results over here.

I'm using those versions:
[code]

[2019-08-23 21:48] dhmlau commented on #3214
In `_config.yml`, it specifies the base of the edit_url is always:
[code]
What's going to do is to prefix this `lb4_editme_path` value to the *.md file in the permalink.

My proposed fix is:
1. add `lb4_editme_path` in the front matter of the md file
e.g.
[code]
2. modify the layout in `_layouts/page.html` to check for the lb4_editme_path for the page. If exists, use this value instead of the defa

[2019-08-24 17:25] gopalakrishnan-subramani commented on #2220
https://github.com/strongloop/loopback-next/issues/2626

refer raymondfeng , it solved our problem.

[code]

[2019-08-25 14:36] frbuceta opened #3602 "Preserve custom type of auto-generated id property"
## Steps to reproduce

1. Create a model with an id property with the option `generated: true`
![Captura de pantalla 2019-08-25 a las 16 25 52](https://user-images.githubusercontent.com/13822438/63651489-89d38880-c755-11e9-918e-2788a95dc5c6.png)
2. You make a find and the answer is ... uuid: NaN or id: NaN
![Captura de pantalla 2019-08-25 a las 16 26 03](https://user-images.githubusercontent.com/1

[2019-08-25 14:43] dougal83 commented on #3602
What db connector are you using? Do you have an example repo to demonstrate this issue?

[2019-08-25 16:37] koliberr136a1 opened #3603 "Bug: Circular related model at getModelSchemaRef(...,{includeRelations: true})"
## Steps to reproduce

1. Create a model with **circular relation** like bellow:

[code]

2. Try to log `getModelSchemaRef` of the model with `includeRelations` flag to `true`

[code]

## Current Behavior

Your test will throws exception with these log:

[code]

## Expected Behavior

Logs schema:

[code]

## Link to reproduction sandbox

## Additional information

[code]

## See the bug

I traced

[2019-08-25 19:09] koliberr136a1 commented on #512
User, Group, Role, Permission models was added on [loopback-authorization-extension](https://github.com/strongloop/loopback-authorization-extension)

[2019-08-25 21:48] frbuceta commented on #3602
I use MySQL connector, I don't know if I can create an exam at [codesandbox](https://codesandbox.io/)?

[2019-08-26 08:39] milanissimo opened #3606 "lb4 app does nothing (freezing)"
I'm beginner starting to learn Loopback. Just freshly installed successfully Loopback (on Windows 8.1 64bit, node 12.7, Git Bash for Windows or ConEmu latest version) then running "lb4 app", but does nothing (freezing). Anything missing?

remains (no progress, no exiting), even after several minutes:
Kris@RISE1 MINGW64 /d/dev/loop-dev
$ lb4 app

References:

Kris@RISE1 MINGW64 /c/node12
$ node -v

[2019-08-26 10:10] derdeka commented on #3606
I guess there is an issue getting an tty in MINGW64. Can you please try to do the same in a cmd or powershell window?

[2019-08-26 11:08] milanissimo commented on #3606
It works with cmd (admin). Thanks.

D:\DEV\loop-dev\firstapp>lb4 app
? Project name: firstapp
? Project description: firstapp
? Project root directory: firstapp
? Application class name: FirstappApplication
? Select features to enable in the project Enable eslint, Enable prettier, Enable mocha, Enable loopbackBuild
   create .eslintignore
   create .eslintrc.js
   create .mocharc.json
   create .n

[2019-08-26 13:54] bajtos opened #3607 "Model.toObject() should preserve prototypes (e.g. Date and ObjectID values)"
## Suggestion

ATM, `toObject()` method is implemented via `toJSON` and thus converts object values to JSON representation. This is problematic e.g. for `Date` and `ObjectID` values.

I am proposing to modify `toObject()` to preserve type of Date, ObjectID and other non-model values. Of course, if a model instance has a property set to a value of another Model, _that_ property must be recursively

[2019-08-26 14:48] hacksparrow commented on #3607
Agreed!

[2019-08-26 14:52] hacksparrow commented on #3606
Microsoft provides an official Linux subsystem on Windows - https://docs.microsoft.com/en-us/windows/wsl/install-win10. Using it might be better than MinGW.

Since you managed to get it working, I am closing this.

[2019-08-26 14:52] #3606 closed

[2019-08-27 03:36] gonzarascon opened #3608 "Maintaining Loopback application up-to-date"
Hi! I was wondering if there is any way to maintain my Loopback App upgraded to the latests releases.
Should I always upgrade `@loopback/cli`?  Is there any command inside the CLI which upgrades the app?

[2019-08-27 08:02] hacksparrow commented on #3608
We use [semantic versioning](https://docs.npmjs.com/about-semantic-versioning). Using `^` notation we can ensure that the latest non-breaking minor versions are installed every time you run `npm install`.

For example, if a dependency is declared like this:

[code]

When version `1.16.4` or `1.17.0` of `@loopback/res` is released, they will be installed when you run `npm install`.

However, if `2.

[2019-08-27 08:46] hacksparrow commented on #3602
@frbuceta you can create one on GitHub itself. Please share a very basic app which reproduces the problem you are reporting.

[2019-08-27 08:55] derdeka opened #3609 "lb4 tests run into timeout when mounting a large lb3 app"
## Steps to reproduce

I've created a new lb4 app with @loopback/cli-1.21.4
When mounting a large lb3 app with Lb3AppBooterComponent, booting takes some time resulting in a timeout of simple lb4 tests like homepage acceptance test.

## Current Behavior

Tests running into timeout.

`1) "before all" hook: setupApplication for "exposes a default home page"

  PingController
    √ invokes GET /ping (

[2019-08-27 09:13] mmussche2 opened #3610 "Controller param.query.object description not appearing in generated spec"
Hello,
following implementation of #3461 I tried to add a description to my parameters so that they appear in the  generated OpenAPI spec.
It works fine for string and boolean query params, but not for object params. It only displays a disabled empty textarea.

Here is my controller function :

[code]
Here is what the spec displays :
![image](https://user-images.githubusercontent.com/50570837/6375

[2019-08-27 11:17] bajtos commented on #2736
Closing as done.

[2019-08-27 11:17] #2736 closed

[2019-08-27 13:02] noctifer20 commented on #2358
cc @bajtos

[2019-08-27 13:30] hacksparrow commented on #3608
The CLI does two things:

1. Scaffold a new LoopBack app
2. Provide interfaces (commands) for creating / updating the artifacts of the app (like adding a model etc.)

When a new version of the CLI is released, it can affect one or both functionalities.

If the new version added new features or fixed some bugs related to scaffolding, it won't affect existing apps, it will affect only new apps you c

[2019-08-27 13:43] hacksparrow commented on #3608
That will have to be manual update.

[2019-08-27 13:45] #3608 closed, assigned to nobody

[2019-08-28 06:22] mmussche2 commented on #3610
It is displayed correctly, thank you !

[2019-08-28 06:22] #3610 closed

[2019-08-28 23:04] frbuceta commented on #3602
Example repo: https://github.com/frbuceta/loopback-issue3602

![Captura de pantalla 2019-08-29 a las 1 03 38](https://user-images.githubusercontent.com/13822438/63898352-f5895000-c9f8-11e9-8f60-57665ac5a633.png)

[2019-08-29 00:53] gonzarascon commented on #3608
It would be nice to have these tips in the CLI documentation!

[2019-08-29 13:26] JakubMifek opened #3616 "TS2321: Excesive stack depth comparing types with repositories and models"
## Steps to reproduce

1. Create a blank project
2. Add a model with _id ID property and test string property
3. Create mongo datasource
4. Create mongo-Test repository
5. replace ping controller with following:
[code]

## Current Behavior

Error:
$ npm start

error TS2321: Excessive stack depth comparing types 'HasManyRepository<?>' and 'HasManyRepository<?>'.

error TS2321: Excessive stack depth

[2019-08-29 14:06] bajtos commented on #2738
WIP proposal: https://github.com/strongloop/loopback-next/pull/3617

[2019-08-29 21:22] raymondfeng commented on #3616
See https://github.com/strongloop/loopback-next/pull/3614

[2019-08-29 22:00] frbuceta commented on #2027
Hi, I want to work on this feature (yes i am able)

My idea is to add `securityScheme` when registering a`@loopback/authentication` strategy and add `security` to the endpoints when the decorator`example(@authenticate('BasicStrategy'))`is defined

[2019-08-30 09:21] derdeka commented on #3609
Thanks @raymondfeng, i ended up increasing the timeout in .mocharc.json :

[code]
...but it is still hoping of lb3 will be finished in that time.

[2019-08-30 09:21] #3609 closed

[2019-08-30 09:52] lakinmohapatra opened #3663 "Loopback4 - how to use one endpoint for putting all relational data."
Loopback4  - how to use one endpoint for putting all relational data.

Ex ;
I have an address table and user table.
I want to post all user data and address data to only one endpoint and store data .
BY DEFAULT, using relation generator, it creates 2 different controllers one for user and another for address.

Please advise.

[2019-08-30 10:30] UnclePetros opened #3621 "Filter where not working for phone number format string "+000000000""
## Steps to reproduce

- Have a collection document to look for
- Have a string field inside this document with a plus (+) char inside
- Use the autogenerated find method in a controller to filter by this field

## Current Behavior

No data is returned.
If I remove the plus char from the field, filter works fine.

## Expected Behavior

Document data is retrieved

[2019-08-30 15:03] derdeka opened #3624 "feat(booter-lb3app): signal to lb3app that it is mounted inside lb4"
## Suggestion

I would like to send a signal to a lb3app that is is mounted inside of lb4.
With this knowledge the lb3app can conditionally disable some features, like error handling as described in https://github.com/strongloop/loopback-next/tree/master/examples/lb3-application#tutorial

Is there already something like this?

## Use Cases

We are currently try to do a migration from lb3 to lb4, i

[2019-08-30 16:28] raymondfeng commented on #3621
What database do you use?

[2019-08-30 16:29] UnclePetros commented on #3621
mongodb

[2019-08-30 16:44] raymondfeng commented on #3621
Is the phone number defined as `string` type in the model?

[2019-08-30 17:50] UnclePetros commented on #3621
Yes, it is, and is required.
I'm using the like filter at moment without the +, but is not the same.

[2019-08-30 19:18] raymondfeng commented on #3616
For now, don't upgrade to TS 3.6.x.

[2019-08-30 19:53] intaniger commented on #3616
wowza, it seem that many of my project dependencies are required typescript ^3.6, so i can't avoid upgrading to 3.6.x

[2019-09-01 20:52] warmansuganda commented on #3621
Try request with Regex Operator

Example:
http://localhost:3000/users?filter[where][phone][regexp]=/000000000/i

Root cause:
(+) is a special character

CMIIW

[2019-09-02 04:27] AaronJan commented on #2794
I'm just encountering this issue too.

I used `ts-node` for virtually all my projects, naturally I changed `nom run start:dev` to `cross-env NODE_ENV ts-node src/boot-server.ts`.

But when I added a component, one of my component class injection keep getting exception message: `Cannot resolve injected arguments for XXObserver.[0]: The arguments[0] is not decorated for dependency injection, but a v

[2019-09-02 08:22] bajtos commented on #3624
@derdeka thank you for a clear description of your use case and the issue you have encountered 👍

As you have mentioned in your analysis, calling `app.set` may not work reliably as it depends on internal timing of `loopback-boot`.

How about creating a new entry point in your LB3 application and then configuring LB4 booter to use that new entry point instead of the default `../lb3app/server/server

[2019-09-02 09:56] bajtos commented on #3616
This will be fixed by https://github.com/strongloop/loopback-next/pull/3614

[2019-09-02 12:47] derdeka commented on #3624
Great idea, I did not think in that direction. I refactored my lb3 app in the suggested way. Works for me.

[2019-09-02 12:47] #3624 closed

[2019-09-02 14:25] bajtos commented on #2358
Awesome!

If you are referring to the process described in https://github.com/mklabs/tabtab#1-install-completion, then yes!

@noctifer20 could you please open a pull request so that we can discuss the specific details of your implementation? I find it difficult to discuss `lb4 install-completion` based on a high-level description only.

[2019-09-02 14:34] bajtos commented on #3058
I think that's kind of expected. As I wrote earlier: _It's also important to realize that our code parsing JSON request bodies is not applying default values either. It's the ORM layer (loopback-datasource-juggler) that applies default values to properties with no value provided by the client._

The ORM layer is working with LB model definitions that are different from JSON Schema, that's why ther

[2019-09-02 14:53] bajtos commented on #3417
@raymondfeng could you PTAL? I think we should start with fixing the generator first to ensure stack traces of unexpected errors are printed. IIRC, you are most familiar with the way how errors are handled by our CLI.

Secondly, it would be great to improve the generator to report a more helpful error when the operationId is missing, as proposed by Janny in https://github.com/strongloop/loopback-n

[2019-09-02 14:56] bajtos commented on #3524
@freakpol cool! Would you like to submit your improvement as a pull request? The most important part is to add automated tests to verify your implementation and prevent regressions in the future.

See [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) to get started, then we can help you along the way.

[2019-09-02 15:51] derdeka opened #3637 "feat(authentication): resolve default authentication strategy"
## Suggestion

Provide a lookup for a strategy name, if metadata is not provided by decorator.

## Use Cases

Instead of annotating each controller or controller method, we would like to specify a default strategy name to make the application secure by default. In our user experiences, developers sometimes forget the `@authenticate` decorator, which makes the endpoint accidently public available.

[2019-09-02 16:55] koliberr136a1 commented on #3603
Isn't there any solution for this problem ? @dhmlau  @bajtos

[2019-09-02 20:45] nflaig opened #3642 "Unique key model setting is not working for MongoDB"
This issue is related to [#236](https://github.com/strongloop/loopback4-example-shopping/issues/236) in [loopback4-example-shopping](https://github.com/strongloop/loopback4-example-shopping). I also explained how to reproduce the issue and the current vs expected behavior.

This issue did not exists 2-3 months ago, so I suspect some updates to a certain dependency caused it. Unfortunately, the CI

[2019-09-02 22:01] #3642 closed

[2019-09-03 10:28] bajtos commented on #2482
Based on my recent discussion with the AppConnect team, they may take a different approach to redesigning their project for LB4, in which case this feature won't be needed (by them).

Let's remove it from our near-term backlog.

[2019-09-03 10:33] bajtos commented on #2484
Here is a code snippet/mock-up that I wrote while discussing this feature recently:

[code]

[2019-09-03 11:30] rsa408 opened #3645 "why Loopback + mongodb is not working?"
Hi guys,

it is 5 day that I try to start lb4 with MongoDB all the movies and tutorials I looked at the net but my problem was solved. I made git repo and uploaded a very basic code.[https://github.com/RsaLB4/test](https://github.com/RsaLB4/test)

I will be appreciated if you can help me.
screenshots also are there.

Great thanks
------------------------------------------------------------------
T

[2019-09-03 12:36] #3442 closed

[2019-09-03 14:11] derdeka opened #3648 "feat(authentication): allow AuthenticationStrategyProvider to get extended"
## Suggestion

AuthenticationStrategyProvider is currently not exported, therefor is can not be easily extended.

## Use Cases

We would like to have a minimal diffenent behavior than the default one, but its not allowed to extend the class AuthenticationStrategyProvider. The extensionPoint functionality make it hard to replace it completely as it is AFAIK not possible to redefine an extensionPoin

[2019-09-03 14:34] dhmlau commented on #1996
Moving to `p2` because this is related to enhancement for User model.

[2019-09-03 15:21] dhmlau commented on #3648
@derdeka, I'm assigning this ticket to you since you have a PR in progress. Thanks for your contribution!

[2019-09-03 15:22] derdeka commented on #3648
related to #3637

[2019-09-03 15:25] derdeka commented on #3637
As an alternative to replacing the `AuthenticationStrategyProvider` it might be an option to replace the `AuthenticationMetadataProvider`. Is this the intended way of the `@loopback/authentication` design to resolve a default strategy?

[code]

[2019-09-03 15:33] giltee commented on #3527
So neither of those options worked for me... I also tried the updated documentation that is now on the loopback site and it's also not working. The tutorial shows how to get orders by order id and not by customer which really isn't what I would think it's trying to do. Going to keep playing around but this really shouldn't be so difficult. Is there an actual working example somewhere...?

[2019-09-03 15:46] giltee commented on #3527
so noSql belongs to doesn't work properly:

https://github.com/strongloop/loopback-next/issues/2341

And you can't filter data from the client using url parameters. How on earth is this supposed to be scalable?

[2019-09-03 16:33] bradharms opened #3652 "Dynamic Factories"
## Suggestion

Allow a context to have one or more "dynamic/abstract factories" for processing unbound keys.

This would allow a context that doesn't have a binding for a given key to dynamically "invent" a new service on-the-fly and inferring properties of the service by looking at the key being injected and/or other sources of config. This would happen at resolution time, and would ONLY occur if

[2019-09-03 16:34] agnes512 opened #3653 "Monthly Milestone - Sep 2019 🍇🍁🐛"
## September Milestone

### Goals

Inclusion of related models
  - [x]  Implement `InclusionResolver` for hasMany relation https://github.com/strongloop/loopback-next/issues/3447
  - [x] Implement `InclusionResolver` for belongsTo relation https://github.com/strongloop/loopback-next/issues/3448
  - [x]  Implement `InclusionResolver` for hasOne relation https://github.com/strongloop/loopback-next/i

[2019-09-03 16:43] raymondfeng commented on #3652
@bradharms Thank you for the proposal. In fact, I have been thinking about something similar for a while now.

[2019-09-03 17:02] giltee commented on #3527
I also tried to follow the shopping cart loopback example:

[code]
And it also returns an empty array....

[2019-09-03 17:14] raymondfeng commented on #3652
@bradharms Instead of a `DynamicFactory`, a `BindingFactory` probably makes our life easier as it's a factory to supply bindings for a context. If a binding key is not registered in the context registry, we can fall back to binding factories to see if there is a binding behind.

[2019-09-03 17:20] dhmlau commented on #3645
Discussed it with @jannyHou, there might be a bug in generating the OpenAPI spec.  When running the POST on debug, the output is:

[code]

If I remove the `generated` property, the request seem to be ok, and an id is added in the output.  However, if I call GET, `id` is null.

[2019-09-03 17:22] #3482 closed

[2019-09-03 17:34] jannyHou commented on #3645
[code]

The `id` field is required but the generated schema has `id` excluded, that's why 422 error is thrown. Looking and fixing it.

[2019-09-03 17:46] #3648 closed

[2019-09-03 17:49] bradharms commented on #3652
@raymondfeng So you are suggesting that at we add a _binding_ at resolution rather than resolving the service directly?

I have some mixed feelings about this. In my mind a `DynamicFactory` would function more like bindings in the "transient" scope, meaning they would be redefined at each resolution and nothing about the application's binding registry would change outside the configuration phase.

[2019-09-03 17:55] rsa408 commented on #3645
hi guys,
I send this error 3 days ago in the wrong place on this repo [https://github.com/strongloop/loopback4-example-shopping/issues/256](https://github.com/strongloop/loopback4-example-shopping/issues/256)
Please check the @dougal83 's post there.

[2019-09-03 18:01] rsa408 commented on #3645
In loopback3 Id was generated by loopback itself and there was no necessity to care about but in LB4 is much like relational database we can identify wich field to be id. maybe I am tottaly wrong.

[2019-09-03 18:31] dhmlau commented on #3645
Thanks @rsa408.

Cross posting comment from @dougal83 in https://github.com/strongloop/loopback4-example-shopping/issues/256#issuecomment-527495060:

FYI - The `id` property that works for me is:
[code]

[2019-09-03 20:23] dhmlau commented on #2674
@hacksparrow @UnclePetros, is this ticket good to close then? Thanks.

[2019-09-03 21:46] frbuceta commented on #110
I would also like to be part of your team ;)

[2019-09-04 04:55] DanielChuDC opened #3654 "Generate lb4 application in local-directory or specific directory using --directory flag"
Hi , may I ask does lb4 support --directory flag to generate the source code under a specific directory and not to create a new directory.

[2019-09-04 06:12] raymondfeng commented on #3654
@DanielChuDC What's your use case?

Please note that `lb4 app` allows `--outdir` option to supply the directory name to be created.

[2019-09-04 07:09] jotamora opened #3672 "Loopback 4 don´t close test with a MongoDB and Mocha (V.6.1.0)"
Hello everyone,

I Launch npm test, but it never end. It happens when there is a connection with a MongoDB involve. It looks like loopback don´t close the conections:

[code]
Result: The test in the terminal never end.

Mocha is waiting because the "mongodb" package has pending tasks. In fact, I tried to stop the MongoDB service and indeed after a few seconds (I understand that due to timeout), th

[2019-09-04 07:39] DanielChuDC opened #3655 "UserProfile does not found using @loopback/authentication 2.2.0"
## Steps to reproduce

Follow guide from [loopback official documentation](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html#authentication-component) and
`npm install --save @loopback/authentication`.

## Current Behavior

UserProfile not found in @loopback/authentication

## Expected Behavior

UserProfile found in @loopback/authentication

## Additional information

I found t

[2019-09-04 08:08] DanielChuDC commented on #3654
Hi, my use case like Angular project able to generate the source code into the local directory using `.` or `./`
For example: `ng new --directory .`
It is convenient for create a project under a github folder.

By using --outdir, does not generate in the local directory where it will return a error saying that the `.` or `./` already exists.
[code]

[2019-09-04 08:49] DanielChuDC opened #3656 "Documentation and Example of Oauth2 sign in like google sign in."
## Suggestion

Add Documentation and Example of Oauth2 sign in like google sign in.

## Use Cases

Struggling to add the customs passport authentication even reading the guide.
Referring to the loopback 4 shopping cart example, it does not have Oauth 2.0 sign in example.

Thank you.

[2019-09-04 08:52] sertal70 opened #3657 "HttpErrors.InternalServerError does not report my custom message"
Hi all,
I'm facing an issue using `HttpErrors`. In any controller, if I throw any `HttpErrors.*` I can pass a custom message and this is then included in the JSON returned to client. For instance, if I do:
[code]
then the client receive the following JSON (note the `name` and `message` fields):
[code]

But if I throw an `Internal Server Error` like this:
[code]

the JSON returned to the client is:

[2019-09-04 13:28] dougal83 commented on #3657
You might find that you are running into strong error handling behaviour so I don't think that it is a bug but by design.  5xx errors are obscured and only deliver details to the end user in debug mode.  Maybe catch internal server errors and rethrow(as non-5xx) as you see fit?  Not sure that is the best idea though... be careful.

https://loopback.io/doc/en/lb3/Using-strong-error-handler.html

[2019-09-04 13:58] jannyHou commented on #3655
@DanielChuDC Good catch, it is exported from `@loopback/security` now, I will submit a PR for the backward compatibility.

[2019-09-04 14:50] raymondfeng commented on #3654
Do you want to allow the `outdir` to exist even it's not empty?

[2019-09-04 15:26] derdeka opened #3662 "loosing type check when using configure instead of bind"
`configure` does not validate typescript types, `bind` is doing this.

## Steps to reproduce

Example 1:

With `bind` type check works fine, vscode claims aWrongKey as invalid:
[code]

With `configure` aWrongKey is not marked as invalid:
[code]

Example 2:

Types are checked:
[code]

Type check lost:
[code]

## Current Behavior

Type check missing when using `configure`, only works with `bind`.

#

[2019-09-04 15:34] raymondfeng commented on #3662
@derdeka I relabeled the issue as `feature`.

One possible solution is to allow BindingKey to be typed as `<ValueType, ConfigType = unknown>`

[2019-09-04 15:35] dhmlau commented on #3637
@emonddr @jannyHou, could you please take a look? Thanks.

[2019-09-04 15:43] dhmlau commented on #3663
@lakinmohapatra, this is related to the "inclusion of related models" epic https://github.com/strongloop/loopback-next/issues/1352.  We've actively working to support this feature.

I'd like to continue any discussion to that epic and close this ticket as duplicate. Thanks!

Closing as duplicate of https://github.com/strongloop/loopback-next/issues/1352.

[2019-09-04 15:43] #3663 closed

[2019-09-04 16:13] DanielChuDC commented on #3654
Hi, technically the folder can be empty or not empty. Not empty as in the folder may including those file like .git; it is empty also because is hidden files.

If there are able to generate the new app lb4  by using `./` or `.` for those git initialized folder, that will be great.

[2019-09-04 16:25] DanielChuDC commented on #3655
@jannyHou thank you for your response. May I ask what is the main reason moving that User profile to another package?

[2019-09-04 18:31] dhmlau commented on #2739
@bajtos, could you please add the acceptance criteria? Thanks.

[2019-09-04 19:09] mamiller93 commented on #1352
Gah, I thought @loopback/repository 1.13.0 would include the inclusion resolvers. Do you have a rough estimate of when 2019Q4 ships, now that this has a Q4 tag? Or is it still on track for Q3?

@dhmlau thanks for keeping us updated 👍

[2019-09-04 23:58] frbuceta opened #3668 "TS2322 error with authentication example"
## Steps to reproduce

https://github.com/strongloop/loopback-next/blob/5c3b875d97b8eafd236a0bdb6e09c771cefedf39/packages/authentication/src/__tests__/fixtures/services/jwt-service.ts#L33-L37

#### My Code
[code]

## Additional information

## Related Issues

NaN

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2019-09-05 07:58] JohnPhoto commented on #3655
@DanielChuDC The reason is that they want to consolidate common types/keys between authentication and authorization.

[2019-09-05 12:21] derdeka opened #3669 "propagate configured AuthenticationStrategy to OpenApiSpec"
## Suggestion

The configured `AuthenticationStrategy` should propagate the `securityschema` into the generated openapi spec. Currently each endpoint need several configuration options to make this possible.

## Use Cases

With configured securityschemas the api explorer handles authentication information automatically and sends it to the lb4 server.

## Examples

Currently I'm doing something lik

[2019-09-05 13:28] derdeka commented on #3669
I found a simpler way without modifying all endpoints:

constants.ts
[code]

application.ts
[code]

user.controller.ts
[code]

[2019-09-05 15:31] mmussche2 opened #3671 "Unable to create Recursive Model (Non Entity)"
## Steps to reproduce
I have a non Entity Model ReportState which needs to contain an array of ReportStates, It has no ID and is not persisted, it is just part of another model. When starting the API it crashes. Here is my Model :
[code]

## Current Behavior

[code]

## Expected Behavior

I'd want it to start correctly and have the api spec to show that this model is recursive.

## Additional info

[2019-09-05 18:35] #3655 closed

[2019-09-05 19:12] derdeka commented on #3669
related to #2027

[2019-09-05 19:31] rsa408 commented on #3645
I remove exclude from schema:
[code]

then  I add `generated: true` and removed `required: true` .

it was looking fine when I used POST method, for one record/document when in add several records it is ok single record input. but when I try to post an array of recordes I get:
[code]
[code]

[2019-09-05 20:06] dhmlau commented on #3656
@jannyHou @emonddr, I believe we don't support OAuth2 right now out of the box. But is there any workaround? Thanks.

[2019-09-05 20:17] jannyHou commented on #2139
This feature is supported after having the extension point :)
See the new [Authentication component](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html)
Especially [Registering Custom Auth Strategy](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html#registering-a-custom-authentication-strategy)

[2019-09-05 20:17] #2139 closed

[2019-09-05 20:21] dhmlau commented on #3603
There's a section in the documentation https://loopback.io/doc/en/lb4/BelongsTo-relation.html#handling-recursive-relations that covers circular dependencies.  @koliberr136a1, could you please take a look and see if it helps?

[2019-09-05 20:24] dhmlau commented on #3673
@jannyHou @emonddr, could you please take a look? Thanks.

[2019-09-05 20:32] jannyHou commented on #3396
@joe-niland

Sure feel free to continue the discussion here.
It's very hard for me to diagnose the problem without code, could you submit the example code you tried?

[2019-09-05 20:47] jannyHou commented on #3561
@sandijs-private Good point on the importance of having the api-key auth, the reason why we don't have a tutorial for it, is we encourage and give developers the flexibility to write their own auth strategy. We could write a simple example to demo the basic use of api-key auth, but it won't be shipped as an officially support extension.

I am looking at the express middleware [`api-key-auth`](http

[2019-09-06 00:34] dhmlau commented on #3671
The example given in this issue is a bit different from #2250 in the sense that it doesn't involve any model relation. Therefore, the [docs changes](https://loopback.io/doc/en/lb4/BelongsTo-relation.html#handling-recursive-relations) from #2250 are not applicable.

I've created a sample repo to try it out: https://github.com/dhmlau/loopback4-recursive-example. I've made some slight modification to

[2019-09-06 07:11] #3671 closed

[2019-09-06 07:11] bajtos commented on #3671
Thank you @mmussche2 for reporting the issue. I landed @raymondfeng's patch https://github.com/strongloop/loopback-next/pull/3674, the fix will be available in the next release.

[2019-09-06 07:13] mmussche2 commented on #3671
Thank you for the quick feedback on this issue, I'm waiting for the next release now.

[2019-09-06 07:18] bajtos opened #3675 "app.stop() should close all database connections"
## Suggestion

When the user calls `app.stop()`, all database connections should be closed and any other handles should be released. This way the Node.js process should naturally exit because there is no more work to be done.

See the discussion in https://github.com/strongloop/loopback-next/issues/3672 for more details.

## Use Cases

- Run `mocha` tests without `--exit` flag.
- Graceful shutdown

[2019-09-06 07:19] bajtos commented on #3672
Please use Mocha option `exit`, it will end the process after all tests (and after/afterEach hooks) have finished. See https://mochajs.org/#configuring-mocha-nodejs to learn more. Alternatively, you can add `--exit` option to `mocha` CLI, e.g. `mocha --exit src/__tests__/**/*.js`.

IMO, we should apply this change to our project template and add `exit` option to the default `.mocharc` file - see t

[2019-09-06 09:06] lakinmohapatra opened #3677 "HasOne not showing in relation generator loopback"
Has one not showing in LB4 relationship CLI.
![Uploading Screen Shot 2019-09-06 at 2.35.31 PM.png…]()

Please look into it.

[2019-09-06 09:22] sandijs-private commented on #3561
This is more like business requirement to have good reputation for a product which IBM acquired.

Product, which gives superb experience to its users.

I imagine it could be like web services creation CHECKLIST about what you should do to to create production quality web services.

Checklist could have links to various docs about Loopback features, and required external features.

Ability and guar

[2019-09-06 13:47] bajtos commented on #3672
See also https://github.com/strongloop/loopback-next/issues/2403

[2019-09-06 13:58] dhmlau commented on #3677
@lakinmohapatra, thanks for reporting this issue. We have an existing issue covering this: https://github.com/strongloop/loopback-next/issues/2980.  Would you be interested in submitting a PR?  Thanks!

Closing as duplicate of https://github.com/strongloop/loopback-next/issues/2980.

[2019-09-06 13:58] #3677 closed

[2019-09-06 13:58] dhmlau commented on #2980
@lakinmohapatra, this is the same issue you've reported. Would you like to submit a PR? Thanks.

[2019-09-06 14:52] raymondfeng commented on #3675
I see a few options to implement this feature:

1. Add `stop` alias to juggler datasource to call `disconnect` and register all datasources as life cycle observers. We probably don't want to call `connect` during `start` to honor `lazyConnect`.

2. Change the CLI template for datasource classes with lifecycle observer signature. This is probably more flexible as application developers can decide i

[2019-09-06 15:44] koliberr136a1 commented on #3603
Thanks @dhmlau , I've used this documentation to implement my Models and Repositories, but this bug is about openapi-spec generation and `getModelSchemaRef` method

[2019-09-06 15:59] raymondfeng commented on #3603
Fixed by https://github.com/strongloop/loopback-next/pull/3674. We'll make a new release soon.

[2019-09-06 15:59] #3603 closed

[2019-09-06 17:53] rbarriuso commented on #3672
@jotamora Perhaps this works: https://github.com/strongloop/loopback-next/issues/3675#issuecomment-528886582

[2019-09-07 00:21] derdeka opened #3681 "authorization precedence DENY not working then @authorize decorator is missing"
## Steps to reproduce

Add `@loopback/authorization` to the project according to the Tutorial https://loopback.io/doc/en/lb4/Loopback-component-authorization.html , but do not apply the decorator `@authorize` to all endpoints.

## Current Behavior

With the current implementation each endpoint needs to be annotated with `@authorize` or it is open to the world without restriction. It is not possibl

[2019-09-07 00:35] raymondfeng commented on #3681
Please note that you can add `@authorize` at class level.

[2019-09-07 00:39] gonzarascon opened #3682 "Changes in relations"
Hi, it's me again!

A time ago, I posted issue [#3356](https://github.com/strongloop/loopback-next/issues/3356#issue-467928284) regarding problems in MySQL relations doing a `GET` request and I was able to solve the problem with a workaround.

Today I updated loopback and it's dependencies, when I double checked my endpoints (to ensure everything still worked), I noticed that now my endpoints wich

[2019-09-07 00:57] derdeka commented on #3681
We are currently try to migrate a large lb3 app to lb4. With the help of the cli we have now stubs of about 150 controllers. Even on class level its many classes to decorate. It will take some time to migrate the business logic and unit tests. I would feel more safe to specify a application default.

[2019-09-07 05:40] HaiderMalik12 commented on #2305
Hey guys,
I recently published the Loopback 4 course on Udemy. I am giving you the 92% discount code link.
[Loopback 4: The Complete Developer's Guide - $9.99](https://www.udemy.com/course/loopback-4-the-complete-developers-guide/?couponCode=LBYTB12)

[2019-09-07 08:33] UnclePetros commented on #2674
Hello, yes of course.
Thank you again.

[2019-09-07 08:47] jotamora commented on #3672
@rbarriuso I have tried, it still not working.

[2019-09-07 16:21] raymondfeng commented on #3681
What about adding the following option to `AuthorizationOptions`:
[code]

This property can be then checked by the interceptor to decide if authorizers should be invoked when a method does not have metadata.

[2019-09-08 11:54] jinfeei opened #3684 "Docker doesn't build properly"
The default Dockerfile generated cannot build an image properly because tsconfig.tsbuildinfo is included. This stops many files from being processed. To prevent this problem, tsconfig.tsbuildinfo should be included into .dockerignore file.

[2019-09-08 14:58] raymondfeng commented on #3684
@jinfeei Would you like to submit a patch?

[2019-09-08 23:09] frbuceta commented on #3668
Can somebody help me?

[2019-09-08 23:14] julianomacielferreira commented on #3668
Could you copy your tsconfig.json file content, please ?

[2019-09-08 23:29] frbuceta commented on #3602
someone?

[2019-09-08 23:49] julianomacielferreira commented on #110
Hi @bajtos,

I would like be a contributor to this great project, too.

Thanks!

[2019-09-08 23:57] julianomacielferreira commented on #3668
Hello @frbuceta,

My name is Juliano and I'm a new user of the project. Sorry if I can't help you much!

But, could you explain more what I have to do to reproduce this error ?

I know it is a type error of typescript and the config to trigger is something like:

[code]
on a tsconfig.json file.

Thank you!

[2019-09-09 00:18] frbuceta commented on #3668
thanks, all the help is necessary;)

Well, following the tests you can create an example, here([test](https://github.com/strongloop/loopback-next/tree/master/packages/authentication/src/__tests__/fixtures)) is the directory where you can play the issue

[2019-09-09 03:42] raymondfeng commented on #3668
Please use `@loopback/authentication@2.2.2` instead. v2.2.0 was published by mistake with breaking changes.

[2019-09-09 06:24] frbuceta commented on #3668
@raymondfeng I have come to update until version `3.0` and I get the same error

[2019-09-09 07:26] bajtos commented on #3675
+1

On the second thought, I see also a third option - modify our connector to unref the TCP connection handles they hold in the connection pool, so that Node.js don't consider them as "active" when deciding whether the process has finished.

[2019-09-09 07:32] bajtos commented on #2480
In LB3, model setup has two steps:

1. A model class is defined using data from the per-model JSON file.
2. A model is attached to a datasource and exposed via REST API, this is controlled by configuration in model-config.json.

The goal of this story is to provide LB4 version for the first step only.

The second step will be handled by #2036, see also the spike that have already begun: https://gi

[2019-09-09 07:46] derdeka commented on #3681
Great! A quite simple solution to provide a application default. +1

[2019-09-09 09:15] mmussche2 commented on #3671
Hello again @bajtos @raymondfeng,
I have updated my openapi-v3 dependency, now my API starts correctly, but I can't send a post on the associated endpoint, I get an internal server error :
[code]

when replacing
[code]
by
[code]
it works, but then the recursive model is not specified

[2019-09-09 10:04] dougal83 commented on #3602
@fabien I suppose the obvious question is to ask how mysql is generating an id with a guid signature?  I was under the impression that mysql sequences generated ids as integers.

Can you confirm that ``npm run migrate`` has been executed correctly to update database structure and that was performed on a cleandb (or use ``npm run migrate -- --rebuild`` that can lose data)?  You shouldn't be able to

[2019-09-09 10:09] dougal83 commented on #3668
3.0 has the breaking change that you originally encountered, hence the jump to v3.  Use 2.2.2 with your current code or rewrite implementation to be compatible with breaking change.

[2019-09-09 10:47] frbuceta commented on #3668
I have refactored my code for version 3. Later I will check again.

[2019-09-09 12:30] bajtos commented on #2480
The first draft of the implementation (early WIP): https://github.com/strongloop/loopback-next/pull/3688

[2019-09-09 19:35] dhmlau commented on #3682
@gonzarascon, I believe you're looking at the filter field in API Explorer?
![Screen Shot 2019-09-09 at 3 34 43 PM](https://user-images.githubusercontent.com/25489897/64560882-6b55bb80-d317-11e9-9351-d543db6ba3a9.png)

What's the behavior you're expecting?

[2019-09-09 19:52] jannyHou commented on #3669
see draft PR https://github.com/strongloop/loopback4-example-shopping/pull/267

[2019-09-09 21:08] frbuceta commented on #3668
The error is resolved using `require` instead of` import`

Before
[code]

After
[code]

[2019-09-09 21:08] #3668 closed

[2019-09-09 23:19] gonzarascon commented on #3682
Hi @dhmlau! I was exactly looking at that field. Before upgrading loopback filter showed something more similar to the model instance like:

![image](https://user-images.githubusercontent.com/35515401/64572684-c51dac00-d33e-11e9-8c23-75cf6d562367.png)

I was worried this change would affect my application!

[2019-09-09 23:32] dhmlau commented on #2027
@frbuceta, @jannyHou has created a PR on the result of the spike.  Could you please take a look? https://github.com/strongloop/loopback4-example-shopping/pull/267

[2019-09-09 23:43] dhmlau opened #3692 "[Spike] CASCON workshop prep work"
As our workshop proposal got accepted in [CASCON](http://cascon.ca/), this spike is used to figure out what exactly the workshop would be, because it has been reduced to 1 hour 45 minutes.

_Since this is a spike, I'm expecting to spend a day max for that._

## Acceptance Criteria
Given the workshop is only 1 hour 45 minutes
- [x] map out a workshop outline (intro, workshop exercise, slides about

[2019-09-09 23:47] dhmlau opened #3693 "[Spike] CASCON Expo prep work"
Now that our poster proposal is accepted to [CASCON](http://www-01.ibm.com/ibm/cas/cascon/), this spike is to figure out what we need to prepare.

_Since this is a spike, expect to spend 0.5 max._

## Acceptance Criteria,
- [ ] What to show in poster (are we reusing the TechConnect poster? just bringing the TechConnect (internal) content to external?)
- [ ] What we need to talk about at the booth

[2019-09-10 00:05] jannyHou opened #3694 "[Doc] Update the authorization documentation"
## Description

Since we have released the `@loopback/authorization` module, the [authorization component](https://loopback.io/doc/en/lb4/Loopback-component-authorization.html) page should be updated accordingly.

## Acceptance Criteria

- [x] Explain the terms/concepts in LoopBack authorization system, like authorizer, voter, etc...
- [x] Update the [authorization component](https://loopback.io/d

[2019-09-10 00:25] jannyHou opened #3695 "Apply authorization in the shopping example"
## Suggestion

Add authorization system in the shopping example according to the PoC https://github.com/strongloop/loopback4-example-shopping/pull/231

## Use Cases

- Implement the authorizer using casbin
- Decorate User endpoints and its related model's endpoints with `@authorize`
- Mount the authorization component
- Specify different roles for users, like ADMIN, CUSTOMER, etc...
- Specify cust

[2019-09-10 04:32] #3684 closed

[2019-09-10 09:24] technicaljones opened #3697 "Dynamically loading global interceptors"
Hi,

First off the docs say the following:

Global interceptors are discovered from the InvocationContext. They are registered as bindings with interceptor tag. For example,

[code]
([https://loopback.io/doc/en/lb4/Interceptors.html](url))

Which seems incorrect as asInterceptor doesn't exist in @loopback/context.

What I want to do is include a global interceptor as part of a component and only e

[2019-09-10 13:20] remkohdev opened #3698 "Semantic Error at OASv3 for 'MessageExcluding[id]':"
A Loopback4 generated application (https://github.com/remkohdev/guestbook101/blob/master/Lab0/README_w_lb4_cli.md) provides an OAS v3 that gives me the following semantic error in [Swagger editor](http://editor.swagger.io/), which I assume uses Swagger Validator. I validated the Swagger in Swagger Editor after getting issues in API Connect (I now realize I should not be using v3 at all, when using

[2019-09-10 14:51] dhmlau commented on #3698
@jannyHou @raymondfeng , could you please help in this issue?
I was able to reproduce it using my sample app, so I don't think it's specific to a particular usage. Thanks.

[2019-09-10 14:52] dhmlau commented on #3698
@jannyHou, actually would it be fixed by your recent PR? https://github.com/strongloop/loopback-next/pull/3667

[2019-09-10 16:32] bajtos commented on #3698
[code]

I think this means the error is at LoopBack side, where we forgot to url-encode references.

I think the problem should go away once we land https://github.com/strongloop/loopback-next/pull/3504, where we are changing the schema title to match the regular expression `^[a-zA-Z0-9.-_]+$`

[2019-09-10 18:33] rsa408 opened #3700 "error 500 when using an array in post method."
Hi guys
Back to the issue [why Loopback + MongoDB is not working?](https://github.com/strongloop/loopback-next/issues/3645) another problem I found:

I removed exclude from schema:
[code]

then  I add `generated: true` and removed `required: true` from the user model .
[code]

it is looking fine when I used POST method, for one record/document when in add several records it ( array of records )I g

[2019-09-10 19:10] dougal83 commented on #3700
Can't help without seeing the code, post an example repo.  This is not clear at all.

[2019-09-10 20:03] dhmlau commented on #3697
@raymondfeng , I guess this has been changed?

@technicaljones, I've created a blog regarding global interceptors based on a more updated version.  Perhaps you can take a look? https://strongloop.com/strongblog/loopback4-interceptors-part1/

[2019-09-10 20:07] raymondfeng commented on #3697
I believe that we reload global interceptors per request - see https://github.com/strongloop/loopback-next/blob/master/packages/context/src/interceptor.ts

[2019-09-10 20:08] rsa408 commented on #3700
please find the project here: [https://github.com/rsa408/lb4-test](https://github.com/rsa408/lb4-test)
also, [test data.json](https://github.com/rsa408/lb4-test/blob/master/test%20data.json) is there.

[2019-09-10 20:12] raymondfeng commented on #3697
The template function should be `asGlobalInterceptor`. I'll fix the docs.

[2019-09-10 20:13] #3697 closed

[2019-09-10 20:30] dougal83 commented on #3700
First thing, if you are generating id then you should exclude the id on creates request body.  What you have currently didn't make sense by allowing users to be submitted with id while generating is enabled. Also can you confirm that you've used ``npm run migrate`` to set up the db correctly?

When you have more than one value, are you submitting them one at a time or trying to send an array of th

[2019-09-11 03:17] vikramkh commented on #2545
When I try to use: this.request in my code it throws an error:
'this' implicitly has type 'any' because it does not have a type annotation.

[2019-09-11 04:06] raymondfeng commented on #2545
@vikramkh Can you show the code?

[2019-09-11 04:32] vikramkh commented on #2545
I changed it now but originally it was in a callback function which I think it was why it wasn’t working. I had a question as to how to get the IP address from request though if you don’t mind helping. Where is it located in the request object?

[2019-09-11 04:47] raymondfeng commented on #2545
See https://expressjs.com/en/api.html#req. We use Express Request.

[2019-09-11 06:44] rsa408 commented on #3700
Hi @dougal83
when I _exclude the id on creates request body_  with generated id, I receive 422 error:
[code]

I used `npm run migrate` but nothing changed in result getting error 422 with `exclude id` without inserting data into DB, and error 500 without `exclude id ` with inserted data into DB.

For one value there is no issue (without `exclude id`) but for the array of values I got same as above

[2019-09-11 08:24] mmussche2 opened #3706 "Unable to POST on endpoint with recursive model"
Related to #3674
I have updated my openapi-v3 dependency, now my API starts correctly, but I can't send a post on the associated endpoint, I get an internal server error :

[code]
when replacing

[code]
by

[code]
it works, but then the recursive model is not specified

[2019-09-11 08:39] technicaljones commented on #3697
Thanks for the feedback.

So I added the following to the application class

Imported the template function
`import {asGlobalInterceptor} from '@loopback/context';`

Imported our Interceptor from the component
`import {AuthenticationInterceptor} from "./components/authentication/interceptors";`

Then tried to bind it as a global interceptor

[code]

This didn't build correctly and gave us a type e

[2019-09-11 08:56] skokaina opened #3712 "Error: Target model primary key does not exist."
# Description/Steps to reproduce
We are using loopback 4 with a postgres database.
The relation generator gets aborted with following error:
`Generation is aborted: Error: Target model primary key does not exist.`
We couldn't manage a way to have more debug information, and so far, the message isn't self explanatory.

#DB Tables
1. User Table
[code]

2. Profile Table
[code]

#Steps to reproduce
1.

[2019-09-11 09:24] JohnPhoto opened #3707 "[authorization] userToPrinciple using incorrect id/securityId"
## Steps to reproduce
The `userToPrinciple` method in authZ breaks current `UserProfile` at the following line:
https://github.com/strongloop/loopback-next/blob/81890fce1e5cdaf1821557537164f23ba687386b/packages/authorization/src/authorize-interceptor.ts#L160

## Current Behavior
As you can see the method basically throws the `securityId` away (by setting it to the name) and tries to set the `id` (

[2019-09-11 09:41] dougal83 commented on #3700
What is the request body you are submitting? I'll see if I can replicate error on my end.

[2019-09-11 10:25] technicaljones commented on #3697
Just on a side note I managed to load interceptors from component dirs using a custom glob in the application class boot options:

[code]

[2019-09-11 11:37] rsa408 commented on #3700
If  I guess correctly is : (low knowledge)

[code]
from user controller

[2019-09-11 12:53] dougal83 commented on #3700
Sorry, I was not clear enough. What are you submitting to the end point that gives an error. If it is the entireity of your data json file in one go then I would say that is probably the issue? Please confirm the data you submit then I'll load up your code to see error.

[2019-09-11 13:37] dhmlau commented on #1852
See PR https://github.com/strongloop/loopback.io/pull/881

[2019-09-11 14:16] JasonMFry commented on #3365
This is almost certainly a PATH issue for everyone. I had `/usr/local/opt/node@8/bin` on my path for some reason. Changing it to `/usr/local/opt/node/bin` solved the issue for me. In fact, `node@8` no longer even existed.

For others, you may need to google what your path should look like for node stuff.

1. are you running nvm for managing the node version you're running? **No**
1. what's the nod

[2019-09-11 14:35] raymondfeng commented on #3697
@technicaljones Sorry one fix for the docs - https://github.com/strongloop/loopback-next/pull/3710

Please note `asGlobalInterceptor` is a factory function of BindingTemplate and it takes an optional group name for the interceptor to help sort.

[2019-09-11 15:05] basavarajvs opened #3711 "@param.path generated with lb4 relation considers Wrapper datatypes"
## Steps to reproduce
1. Create 2 related DB tables with table ID as a varchar or uuid
2. Discover the DB tables with lb4 discover
3. Create repository for both the tables ( lb4 repository)
4. run the command "lb4 relation"

## Current Behavior

The controller files are generated with methods which have reference to String wrapper under the @param.path

[code]

This is causing an error to be throw

[2019-09-11 15:55] dhmlau commented on #2483
Per the discussion during the estimation meeting yesterday, @raymondfeng suggested to make this task as an epic and start off with one relation first.
@bajtos, if you agree with this approach, @agnes512 can make this as epic and create a task with `hasMany` or `belongsTo` as the first one to tackle.

cc @agnes512

[2019-09-11 15:56] technicaljones commented on #3697
Great thanks @raymondfeng

Passed in the group name and its working now.

[2019-09-11 16:34] dhmlau commented on #1718
The `Strong relation` epic won't be in the Q4 roadmap. Postponing this.

[2019-09-11 17:09] dhmlau commented on #3711
@basavarajvs, what's your id property look like in your model class?
Something similar to:
[code]

[2019-09-11 17:09] dhmlau commented on #3707
Thanks @JohnPhoto for tagging them. :)

@jannyHou @raymondfeng , could you please take a look? Thanks.

[2019-09-11 17:13] dhmlau commented on #3712
Transferring to `loopback-next` repo.

[2019-09-11 19:01] basavarajvs commented on #3711
@dhmlau dhmlau
The Model looks as below
[code]

The generated controller looks like this
[code]
The associated repository looks like this
[code]
Please do let me know if you need additional info

[2019-09-11 20:33] dhmlau opened #3714 "Add loopback-connector-openapi and loopback-connector-grpc to be part of the available connectors"
## Suggestion
Add loopback-connector-openapi and loopback-connector-grpc to be part of the available connectors.
The list is coming from https://github.com/strongloop/loopback-workspace/blob/master/available-connectors.json

## Acceptance criteria

- [ ] when running `lb4 datasource`, the openapi and grpc connectors show up as one of the available connectors.
- [ ] update [Connectors reference](ht