[2020-01-20 19:59] dhmlau commented on #2570
@jedmarcnocum, sorry about the late response. Since it's been a while since you first created the issue, could you please also update the dependencies and see if you are still running into this issue? Thanks!

[2020-01-20 20:01] dhmlau commented on #2407
@adesege, we believe we've resolved your question. I'd like to close this issue now. If you're still encountering this issue, please open a new issue. Thanks!

[2020-01-20 20:01] #2407 closed

[2020-01-20 20:02] dhmlau commented on #2528
Closing due to inactivity.

[2020-01-20 20:02] #2528 closed

[2020-01-20 20:03] dhmlau commented on #2294
We've changed how apidocs generates. Closing this issue as irrelevant.

[2020-01-20 20:03] #2294 closed

[2020-01-20 20:56] dhmlau commented on #2050
@nabdelgadir, not sure if your PR https://github.com/strongloop/loopback-next/pull/4412 would fix it. Could you please take a look? Thanks!

[2020-01-20 21:35] achrinza commented on #4460
@dhmlau, it can found under [Server > Configure the API Explorer](https://loopback.io/doc/en/lb4/Server.html#configure-the-api-explorer). #4464 updates the documentation to reference <https://explorer.loopback.io> instead; though that PR doesn't fix specifically this issue.

[2020-01-20 22:33] codejamninja commented on #2113
I build a project that should make it easy to reason with AST for code generation.

https://github.com/codejamninja/react-ast

[2020-01-21 02:54] rajkaran opened #4471 "Long Polling with LB4"
I want to build a Real-time application but, apparently LB4 doesn't support Websockets and SSE.

I couldn't figure out to set response headers. I need content type to be text/event-source.

My next best option is to use long polling which doesn't seems to working for me.

I have tried many version of below code so far in controller
[code]

This doesn't keeps the Ajax request waiting and returns an

[2020-01-21 03:27] dhmlau commented on #4471
@rajkaran, could you please take a look at an example repo from @raymondfeng: https://github.com/raymondfeng/loopback4-example-websocket?

[2020-01-21 03:32] dhmlau commented on #4455
@achrinza, thanks for suggesting this addition to the docs. I think this is much needed as well. We have an open issue: https://github.com/strongloop/loopback-next/issues/2527.  So I'd like to close this issue as duplicate and continue the discussion over there. Thanks!

[2020-01-21 03:32] #4455 closed

[2020-01-21 05:10] Harmonickey commented on #3293
@mgabeler-lee-6rs that workaround solution worked for me.  As a side-note for those of whom are going about this workaround for now.  Make sure your relations are in your final leaf classes, not the base abstract class.  Otherwise loopback will complain about the relation metadata not compiling correctly.

[2020-01-21 06:35] david-saint commented on #3944
No, it worked thanks forgot to close this.

[2020-01-21 06:35] #3944 closed

[2020-01-21 06:51] gczobel-f5 commented on #3058
I agree with @dougal83. As far as I understand, in OpenAPI is possible to set a property as `nullable`. So, a single property can be `nullable`, `default` and `required` when each of them means:
`nullable`: the value can be null in the DB.
`default`: if a value is not specified will be assigned.
`required`: must be sent in the request.

There is no rule about if `default` and `required` contradict

[2020-01-21 07:22] Jtmaurya opened #4472 "Problem in accessing included relation objects"
const user = await this.userRepository.findOne({
        where: { id: id },
        include: [
          { relation: 'order' }
        ]
      });

      console.log('User details>>>>>>>>>>>>>', user);

      if (user && user.id) {
        console.log('user details>>>>>>>>>>>>>', user.order.id);
       // const records = await this.productRepository.find({
        //  where: { productId: product.i

[2020-01-21 07:23] Jtmaurya commented on #4472
user.order.id is giving error

[2020-01-21 09:36] derdeka commented on #4472
@Jtmaurya Can you please provide an example repository showing your issue? Please review the issue reporting guidelines: https://loopback.io/doc/en/contrib/Reporting-issues.html#how-to-report-an-issue

[2020-01-21 13:35] bajtos commented on #3700
Yes please!

@Sharonee I am afraid I don't understand. What kind of a module would you like to build? It should be enough to modify the existing code, see our [Contributing guide](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) and [Submitting a pull request to LoopBack 4](https://loopback.io/doc/en/lb4/submitting_a_pr.html) for more details.

[2020-01-21 13:40] bajtos commented on #4467
Alternatively, it would be awesome if the button "edit this page" could point to the source code file the API docs was generated from.

See Angular API docs for inspiration: open https://angular.io/api/animations/AnimationPlayer, click on the pencil icon at the top-right.

[2020-01-21 14:00] pratikjaiswal15 opened #4473 "loopback 4 how to create put method with two parameters"
I have two models users and address. User has-many address and address belongs to users. Now I want to create put method on the following url

The intention is to make a put request on one of many addresses belongs to a particular user.

This is what I have tried but can't get over it
[code]

I just come to know about userrepository(repository of source model) contains 4 methods: create, patch, de

[2020-01-21 14:07] nabdelgadir commented on #2050
For the snippet:

[code]

- You cannot currently create a `todo` through `POST todo-lists/` as we reject navigational properties.
  - To create it for a specific todo-list, use the  `POST todo-lists/{id}/todos` endpoint instead.
- When you do  `GET todo-lists/`, the todo-list returns won't include its `todos` by default. Instead, you need to use the filter: `{include: [{relation: 'todos'}]}` in th

[2020-01-21 16:17] #4042 closed

[2020-01-21 16:40] jannyHou commented on #4473
Hi @pratikjaiswal15 according to has many repository's [patch](https://github.com/strongloop/loopback-next/blob/master/packages/repository/src/relations/has-many/has-many.repository.ts#L105) method, I don't see obvious problem of your controller method.

Could you explain more about what does not work? Like are you getting error thrown from any code? Or 500 error? Or incorrect returned data?

[2020-01-21 16:52] jannyHou commented on #4473
Hmm, I think I find the issue, when patching the record:
[code]
you should merge the `a_id` filter into `where`, instead of putting it as the 3rd parameter(options).

Try this: get your `Address` model's id name by

[code]
, then merge it into `where`:

[code]

[2020-01-21 17:01] agnes512 commented on #4472
Hi, could you make the issue more descriptive? Following the reporting guidelines would be helpful.

For relations,
1. please make sure you have [inclusion resolver](https://loopback.io/doc/en/lb4/HasMany-relation.html#enabledisable-the-inclusion-resolvers) set up and queried the correct relation names.
 For example,
- `User` hasMany `orders`, `orders` is your relation name.
-  `Order` belongsTo a

[2020-01-21 17:23] jannyHou commented on #4461
Good point, I created a PR to rename it in https://github.com/strongloop/loopback4-example-shopping/pull/504

[2020-01-21 18:17] #4363 closed

[2020-01-21 18:25] deepakrkris commented on #4115
I am able to invoke the todo-list LB app hosted in AWS via an APIC gateway.
The AWS app is http://ec2-3-88-137-62.compute-1.amazonaws.com:3000/todos?filter=%7B%22include%22%3A%5B%7B%22relation%22%3A%22todoList%22%7D%5D%7D
so APIC instance in https://admin11-rgw.loki.dev.ciondemand.com/ibm/sandbox/todolist.io/v1/todos is invoking the above LB app in AWS

[2020-01-21 18:27] deepakrkris commented on #4115
Following are the only pending items in this spike now:
- [ ] - investigate if General limitations and Security limitations in APIC Knowledge Center would affect us
- [ ] - the below scope section in all filter object definition creates errors when importing to apic (https://github.com/strongloop/loopback-next/issues/4115#issuecomment-572918603)

[2020-01-21 19:05] emonddr commented on #2428
strongglobalize doesn't understand TypeScript.
So we will focus on CLI for now.

[2020-01-21 19:10] emonddr commented on #2428
Utilize strongglobalize exactly as it was used in LB3, and see how it goes. For now.

[2020-01-21 19:16] deepakrkris commented on #4115
error mentioned in https://github.com/strongloop/loopback-next/issues/4115#issuecomment-572918603 does not occur when importing the openapi file in JSON format (as downloaded directly from LB app) to apic.

[2020-01-21 19:28] emonddr commented on #3293
Possible causes
 decorator function maybe introspecting the class too early

Possible Solution
Decorator should reference the raw metadata when the function is applied. We could have a late phase to do full introspection.

We need test cases to confirm this problem, and afterwards confirm that we've fixed the issue.

[2020-01-21 19:31] dhmlau commented on #4449
@achrinza, I've removed the CLA checks but enabled the DCO check in https://github.com/strongloop-community/loopback-connector-redis.

![Screen Shot 2020-01-21 at 2 29 55 PM](https://user-images.githubusercontent.com/25489897/72836440-a28b9000-3c5a-11ea-8bd8-d4fed37fec53.png)

[2020-01-21 19:31] dhmlau commented on #4449
Closing as done.

[2020-01-21 19:31] #4449 closed

[2020-01-21 19:38] deepakrkris commented on #4115
Follow-up tasks:

1. Need to update loopback open-api spec as per https://github.com/strongloop/loopback-next/issues/4115#issuecomment-572916998
2. Additional spike necessary with LoopBack next authentication and authorization
3. Additional testing with other gateway policies. Currently only `invoke` policy is tested.
         - jwt-generate
         - jwt-validate
         - oauth
         - thro

[2020-01-21 19:47] dhmlau commented on #4115
Thanks @deepakrkris. I think we also need to have a docs task, possibly contribute back to the APIC's Knowledge Center, on how to import OpenAPI spec from LB.

[2020-01-21 19:48] nfriacowboy commented on #3365
@baymabruno Thanks a lot, great hint!
That happend to me because i installed nodejs on Mac with Brew command on user A now everithing i do about npm or whatever has to be done on that User and other users don't recognize the installation... well... looks like i finally have an scuse to format the MAC :)

[2020-01-22 01:17] rajkaran commented on #4471
I have tried that example and I have looked at all the issue created related to websocket. I have also looked at socketio branch on which @raymondfeng is working. After investing a week on that I had to revert all because I couldn't make it work with [https://github.com/strongloop/loopback4-example-shopping](https://github.com/strongloop/loopback4-example-shopping). https://github.com/strongloop/l

[2020-01-22 01:43] achrinza commented on #4467
This issue also seems to occur under [Connector reference](https://loopback.io/doc/en/lb4/Connectors-reference.html) and all of its sub-pages.

[2020-01-22 01:51] raymondfeng commented on #4471
@rajkaran We also have a SSE example backed by Kafka here - https://github.com/strongloop/loopback4-example-kafka/blob/master/src/controllers/kafka-demo.controller.ts#L108

[2020-01-22 07:56] pratikjaiswal15 commented on #4473
Hello, @jannyHou Thank you for your reply. Actually I was getting internal server error 500. After your answer, I tried to merge `a_id` into `where` but can't get the right syntax. This is what I have tried

`    @param.query.object('where', getWhereSchemaFor(Address)) where?: Where[adIdName]=a_id,
`
Getting following erros

Sorry to disturb you but can you please elaborate the right syntax to me.

[2020-01-22 09:32] dougal83 commented on #4473
Hey @pratikjaiswal15

I think you are looking for the following approach that passes in the Address update in the request body along with the user's id and a where clause to select the addresses to update:

[code]

I think you can read the [Where Filter documentation](https://loopback.io/doc/en/lb3/Where-filter.html) to learn how to pass in the where clause depending on how you're calling the api.

[2020-01-22 09:41] malek0512 commented on #1981
Hello, any news on this subject ?

[2020-01-22 10:28] atillart1003 opened #4481 "Loopback 4 How to merge openapi with all controller"
I have two controllers below.
[code]

then the myControllerSpec will be:

[code]
and

[code]

then the secondControllerSpec will be:

[code]
I want to merge 2 openapi into 1 file.
_Example:_

[code]
What is your suggestion?

Note: Sorry, I am not good at English.

[2020-01-22 12:33] pratikjaiswal15 commented on #4473
Hey @dougal83  actually I want to update only single address of many addresses belongs to a particular user. Something like this
`users/{id}/addresses/{adresses_id`}.
As per instructions of @jannyHou I have to pass `address_id` to where filter to get respective address record and then pass where to patch method. But I can't get the right syntax.
Can you please help me in passing `address_id` to wh

[2020-01-22 12:54] Jtmaurya commented on #4472
It is the order repository

import {DefaultCrudRepository, repository, BelongsToAccessor} from '@loopback/repository';
import {Order, OrderRelations, User} from '../models';
import {MysqldbDataSource} from '../datasources';
import {inject, Getter} from '@loopback/core';
import {UserRepository} from './user.repository';

export class OrderRepository extends DefaultCrudRepository<
  Order,
  typeof

[2020-01-22 12:57] Jtmaurya commented on #4472
This is the user repository

import {DefaultCrudRepository, repository, HasManyRepositoryFactory} from '@loopback/repository';
import {User, UserRelations, Order} from '../models';
import {MysqldbDataSource} from '../datasources';
import {inject, Getter} from '@loopback/core';
import {OrderRepository} from './order.repository';

export class UserRepository extends DefaultCrudRepository<
  User,

[2020-01-22 13:24] agnes512 commented on #4472
@Jtmaurya The repositories seem correct to me. Could you also post those 2 models? thanks.

[2020-01-22 13:26] Jtmaurya commented on #4472
import {Entity, model, property, hasMany} from '@loopback/repository';
import {Order} from './order.model';

@model({settings: {strict: false}})
export class User extends Entity {
  @property({
    type: 'number',
    id: true,
    generated: true,
  })
  id?: number;

  @property({
    type: 'string',
    required: true,
  })
  email: string;

  @property({
    type: 'string',
    required: true,

[2020-01-22 13:26] Jtmaurya commented on #4472
import {Entity, model, property, belongsTo} from '@loopback/repository';
import {User} from './user.model';

@model({settings: {strict: false}})
export class Order extends Entity {
  @property({
    type: 'number',
    id: true,
    generated: true,
  })
  orderId?: number;

  @property({
    type: 'number',
    required: true,
  })
  total: number;

  @belongsTo(() => User)
  userId: number;
  //

[2020-01-22 13:37] agnes512 commented on #4472
The models seem valid as well.

Could you check if your query is correct?
[code]
then `result[0].orders` should be the related order that we created above.

[2020-01-22 14:20] dougal83 commented on #4473
You pass to the filter via the call to the API.  With what I posted above as controller, using REST you can try:
`/users/1/addresses?filter[where][id]=2`
where `1` is the `userId` and `2` is the `addressId`.

It's something like that, read the aforementioned docs for more info.  The reason for using a filter is to give flexibility but you can revert to a simple query param if you find it easier.

[2020-01-22 15:45] jannyHou commented on #4461
updated in https://github.com/strongloop/loopback4-example-shopping/pull/504

[2020-01-22 16:19] #4135 closed

[2020-01-22 20:07] dougal83 commented on #4481
The following seems to fit if you're looking for a library to do it for you: https://github.com/maxdome/swagger-combine

[2020-01-23 06:54] Jtmaurya commented on #4472
Yes, the above  code is working. Can you please help me as i want to get included relation properties.
In my scenario

User  hasMany orders,
Order belongsTo User

So i want to  write  a query which will give me **order.user.user_properties;**

[2020-01-23 08:48] pratikjaiswal15 commented on #4473
Okay, but I want to do it inside the controller method. This is what I have tried

[code]

But getting error

hope you can help me

[2020-01-23 08:48] pratikjaiswal15 commented on #4473
Hello @jannyHou can you please help? please

[2020-01-23 09:00] bajtos commented on #4115
Thank you @deepakrkris for documenting what you have found during the investigation 👍

Regarding the limitations described in https://github.com/strongloop/loopback-next/issues/4115#issuecomment-572916998. IMO, we should not force APIC-specific constraints on all LoopBack users:

- Since our current OpenAPI spec is valid, I think our users should have the option to keep using it as it is now.
- At

[2020-01-23 09:04] bajtos commented on #433
I think the recently introduced `ContextEventListener` (see https://github.com/strongloop/loopback-next/pull/4451) could be a better solution, because it's simpler to use and possibly more performant.

[2020-01-23 10:16] baltameme commented on #4436
I catch it @dougal83 thanks so much.

[2020-01-23 10:16] #4436 closed

[2020-01-23 11:08] derdeka commented on #4481
@atillart1003 What is your usecase for merging the spec manually? Why is there a need to do that?

[2020-01-23 12:38] bajtos opened #4486 "Query large datasets in a non-blocking way"
## Suggestion

Allow users (REST API consumers, Repository callers) to receive results from a query via streams. This is important when querying large data sets, where we do not want to process all results in a single tick of the event loop, but want to spread the load into several "batches" to avoid blocking the event loop for too long (see e.g. https://github.com/strongloop/loopback/issues/4298)

[2020-01-23 12:43] deepakrkris commented on #4115
I will complete "investigate if General limitations and Security limitations in APIC Knowledge Center would affect us" as part of this spike.

[2020-01-23 12:46] deepakrkris commented on #4115
@bajtos , agree with you. I am thinking APIC toolkit should have an option to modify a spec to add x-ibm configurations and ask user to make necessary changes. I will create a task in velox-devops (APIC)  repo and see what is the feedback.

[2020-01-23 12:48] deepakrkris commented on #4115
@dhmlau I am reading thru the limitations. I will open few follow up tasks if any testing/verification is required. Otherwise this item will be completed as part of this spike.

[2020-01-23 13:07] dougal83 commented on #4473
Hey @pratikjaiswal15,

It appears that you wish to persist with fixed parameters.

Remove:
[code]

Use (assuming `adIdName` is the field to check):
[code]

I highly recommend that you familiarise yourself with the [Where Filter documentation](https://loopback.io/doc/en/lb3/Where-filter.html#where-clause-for-other-methods).  Please don't be put off by it not being labelled as lb4, the lb3 docs stil

[2020-01-23 13:52] agnes512 commented on #4472
It's the same.
[code]
then `result[0]` _is_ the order instance that you want. And `result[0].user` _is_ the related `User` instance. You should be able to access all user properties that you need.

Is the inclusion not working? or you couldn't query data as you want? I believe the [Querying related model](https://loopback.io/doc/en/lb4/BelongsTo-relation.html#querying-related-models) section has e

[2020-01-23 14:05] derdeka opened #4487 "test fails if not running with en locale operating system"
## Steps to reproduce

Having operating system **with locale other than `en_us`**, in my case locale is `de_de`.

[code]

## Current Behavior

Test fails when juggler returns localized message and test expects different language.

[code]

This is the source code of the failing test:
https://github.com/strongloop/loopback-next/blob/6105883967ca5853cc8990f423d9febd1eb07101/packages/repository/src/__

[2020-01-23 14:25] pratikjaiswal15 commented on #4473
@dougal83 Okay I got your point. But the problem is `@patch('/users/{id}/addresses` will update all the addresses belongs to a particular user. Now I have to use `where` to filter single address and pass to patch method

[2020-01-23 14:44] dougal83 commented on #4473
The path `@patch('/users/{id}/addresses` accompanied with a where filter param will only update records that satisfy the filter.  Don't worry about using the where filter for now, you can look into that at a later date.

My [previous post](https://github.com/strongloop/loopback-next/issues/4473#issuecomment-577673923) was in reference to the your code in the [post immediately above it](https://git

[2020-01-23 15:05] bajtos opened #4488 "Docs: how to use OpenAPI connector"
As a LoopBack 4 user connecting to a REST service with an OpenAPI description, I would like to leverage [loopback-connector-openapi](https://github.com/strongloop/loopback-connector-openapi) to build an easy-to-use service proxy for me. Unfortunately, there is very little information how to do that.

## Acceptance Criteria

- [x] Enhance [Calling other APIs and web services](https://loopback.io/do

[2020-01-23 15:09] dougal83 commented on #4290
Closed via #4355

[2020-01-23 15:09] #4290 closed

[2020-01-23 15:52] #2050 closed

[2020-01-23 15:52] #4161 closed

[2020-01-23 15:54] pratikjaiswal15 commented on #4473
Okay. Thank you very much but it is giving error. Stating
``Address.definition.id() is not function`
Id is name of address id

[2020-01-23 17:23] dougal83 commented on #4473
Is that your code from above?:

[code]
What is the purpose of the code?  Why was it added?

[2020-01-23 17:30] dougal83 commented on #4461
I've reverted #4386 to reflect this change.

[2020-01-23 19:36] dhmlau commented on #4115
IIRC, for LoopBack 3, if you start off as a pure LB application, there's some CLI you can run to make it APIC compatible, i.e. adding the `x-ibm-configuration`. Maybe @jannyHou or @raymondfeng would know?

[2020-01-23 20:05] jannyHou commented on #4115
@dhmlau Hmm, I am not aware of those commands, at least LB3 doesn't have them (Maybe APIC has commands to import LB3 app?).
APIC generator creates .yaml file with swagger def and some APIC config file then invoke lb-cli to scaffold a new app, but for existing app, usually just copy the code over.
After the copy(or any change made to the apic app), there is a command called `apic update-loopback-ap

[2020-01-23 20:53] deepakrkris commented on #4115
@dhmlau , @bajtos I have opened issue https://github.ibm.com/velox/velox/issues/4303 towards APIC platform (includes toolkit) . I will watch for feedback and update here.

[2020-01-23 21:17] deepakrkris commented on #4115
updated the velox Epic for LoopBack 4 integration https://github.ibm.com/velox/ui/issues/19306

[2020-01-24 00:00] #4467 closed

[2020-01-24 00:37] achrinza opened #4492 "Jenkins Commit Linter clashes with Commit Sign-Offs"
## Steps to reproduce

1. Add a signed commit to a strongloop-community repo
2. Open a PR

## Current Behavior

Commit Linter will fail due to the commit sign-off. This can be problematic for repos that have a DCO instead of a CLA.

See: https://github.com/strongloop/explorer.loopback.io/pull/8

## Expected Behavior

The Commit Linter should be smart enough to exclude commit sign-offs from its lin

[2020-01-24 03:37] pratikjaiswal15 commented on #4473
Actually It was referred by @jannyHou to get id of address. If I remove it `adIdName` in your code which is passed to patch method? Where to declare it?

[2020-01-24 06:56] atillart1003 commented on #4481
@derdeka I want to share swaggerUi with my friend for testing api, I deploy loopback 4 project on aws lambda by claudia-api-builder but don't show swaggerUi

[2020-01-24 08:41] bajtos commented on #4425
I am able to reproduce the problem on my personal Windows laptop.

- Windows 10 Pro, Version 1909, Build 18363.592
- Node.js 12.14.1
- Source code from the current HEAD - 9de1133ecd

Here is a fast way how to trigger the problem:

1. Checkout the code

2. `npm install`

3. Inside `packages/testlab`:

[code]
4. Inside `packages/cli`:

[code]

[2020-01-24 09:42] bajtos commented on #4425
While debugging the code, I found that `BaseGenerator.prototype.setOptions()` is trying to read JSON configuration from stdin. I think we may have a bug in this condition:

https://github.com/strongloop/loopback-next/blob/9de1133ecdaaf7625ba3cf740567dc6190fa9a52/packages/cli/lib/base-generator.js#L87-L90

My wild guess is that on Unix, `process.stdin.isTTY` is truthy and therefore we don't try to

[2020-01-24 09:46] dougal83 commented on #4473
In place of `adIdName` on my example put the id property name for your address model (usually `id`).      @jannyHou appears to be showing you how to find that programmatically.  Since you are specifically passing in the two parameters you can just hardcode the where clause:

`.patch(address, {id: a_id});`

Assuming that the Address Id property is named `id`.  Change according to your own model def

[2020-01-24 10:19] dougal83 commented on #4481
@atillart1003 Are you aware that you can retrieve the openapi spec at `http://localhost:3000/openapi.json` locally by default?

[2020-01-24 12:50] bajtos commented on #4115
Sounds good to me 👍

[2020-01-24 14:06] agnes512 commented on #1201
The comment https://github.com/strongloop/loopback-next/issues/3453#issuecomment-568242123 might related to this issue.

[2020-01-24 16:11] bajtos commented on #4425
How to uncover the TTY-related problem on a Unix machine: pipe `/dev/null` to `stdin` when running the tests.

For example, inside `packages/cli` directory:

[code]

[2020-01-24 16:46] ih84ds opened #4495 "OpenAPI shema definition for models should exclude hidden properties by default"
Hidden properties are automatically removed from the response data (model's toJSON() excludes the hidden properties), so it seems that the schema definition should also exclude these fields by default. Currently, one has to manually add these fields to the "exclude" option in `getModelSchemaRef()`

Current behavior: hidden properties are removed from response data but openapi schema definition lis

[2020-01-24 17:14] raymondfeng commented on #4425
As far as I know, the return value from a generator method does not have impact how the queued steps are executed.

Let me dig into the source code to check.

[2020-01-24 18:36] raymondfeng commented on #4425
FYI: The intention of `if (jsonFileOrValue === 'stdin' || !process.stdin.isTTY) { ` was to read the input from `stdin` or a piped stdin such as `< config.json`.

@bajtos Does `process.stdin.isTTY` return `false` on Windows?

[2020-01-24 19:02] TheZwieback opened #4496 "RestServer and Socket.io"
Hi,

I want to implement a WebSocket server on a loopback rest server. As the rest server is based on an express app with a node http server this should be straight forward. Unfortunately I found a minor issue. Accessing the node http server object is not possible in the RestApplication constructor as it is protected inside the RestServer class. I changed the properties on my machine locally and t

[2020-01-24 19:11] raymondfeng commented on #4496
@TheZwieback Can you build on top of https://github.com/strongloop/loopback-next/tree/socketio?

[2020-01-24 20:15] deepakrkris commented on #4115
I have gone thru the general limitations for Open API 3 in APIC Knowledge Center https://www.ibm.com/support/knowledgecenter/en/SSMNED_2018/com.ibm.apic.toolkit.doc/rapic_oai3_support.html . I don't see any case that would trigger incompatibility between APIC and LoopBack 4 APIs based on the given general and security limitations.
Most of those limitations are related to datapower's implementation

[2020-01-24 20:19] deepakrkris commented on #4115
#### This task is unnecessary as the available policies on the APIC assembly define the API invocation flow of datapower and has nothing to impact the endpoints themselves.

[2020-01-24 20:33] deepakrkris opened #4498 "[Spike] End to End test Shopping example in cloud with APIConnect"
## Test prerequisites
0. Modify the shopping app to include the [APIC OpenAPI enhancer](https://github.com/strongloop/loopback-next/tree/master/extensions/apiconnect). This allows the LB-generated OpenAPI spec includes APIC specific metadata.
1. Deploy shopping example in a cloud service (ibm , aws, etc)
2. Generate open api spec for all the api endpoints and services from the shopping example
3.

[2020-01-24 20:34] deepakrkris commented on #4115
Follow up tasks:

1. Issues raised on APIC toolkit : https://github.ibm.com/velox/velox/issues/4303 (APIC must support importing Open API spec from LoopBack and add additional extended configurations like x-ibm-configurations and generate product files)

2. Test all endpoints in Shopping example with APIConnect (https://github.com/strongloop/loopback-next/issues/4498)

3. Doc issue : Update APIC k

[2020-01-24 20:45] besongsamuel commented on #2624
Thanks for sharing @emonddr . I am running into the exact same problem with Loopback4 when trying to implement facebook authentication.

`Unhandled error in GET /auth/facebook: 500 InternalServerError: TypeError: self.redirect is not a function
    at Strategy.strategy.error (c:\Users\sbesong\Documents\WORKSPACE\VOID\myworry-server\node_modules\@loopback\authentication-passport\src\strategy-adapte

[2020-01-25 01:36] dhmlau commented on #4492
@achrinza, discussing with @bajtos:
- the commit linter error occurs in the `explorer.loopback.io` because it has the linter rules of 50 characters on first line and 72 characters on subsequent lines, and uses DCO.  While most of our older repos are not using DCO, it might be a one-off issue.
- there won't be much changes in that repo anyway, so I'd like to continue the reviews in https://github.c

[2020-01-25 01:36] #4492 closed

[2020-01-25 13:26] TheZwieback commented on #4496
@raymondfeng I looked at the package and it seems to instantiate a new http server to use in its middleware. It would be nice to just use an existing one, i.e. like the rest server described above.
I do not need to expose the socket.io server through dedicated controller endpoints, instead I want the regular http rest endpoints to deliver progress updates through socket.io.

[2020-01-25 19:14] spicemc opened #4505 "Using postgres function to generate uuid's fails"
## Steps to reproduce / Current Behavior

I'd like to use a different postgres function to generate uuids.
But having this model property
[code]
creates an "int4" data type with a default "nextval('user_id_seq'::regclass)".

## Expected Behavior

It should create the data type "uuid" with "gen_random_uuid()" as default.

## Additional information

[code]
The extension pgcrypto is enabled in postgr

[2020-01-26 11:13] orensolo commented on #4356
Hi,
I have 2 additional questions :

1. Will the fix be relevant also for the case where interceptors are used?
2. When will the fix be released?

Thanks,
Oren

[2020-01-26 14:54] koriamanish commented on #110
Hi, @bajtos I would like to contribute to this project

[2020-01-26 15:13] eliaoucohen72 commented on #4332
Did anyone find a solution to the bugs?

[2020-01-27 03:39] raymondfeng commented on #4356
@orensolo

1. The fix helps regardless of the presence of interceptors
2. I would like to have #4377 approved and landed this week ASAP.

@bajtos  Please have the final review on #4377.

[2020-01-27 08:04] Jtmaurya commented on #4472
This code is not working for me.
Can you suggest something else?

[2020-01-27 09:26] dougal83 commented on #4472
Hey @Jtmaurya, can you post an example repo on your account that replicates the issue you are experiencing?

[2020-01-27 10:07] KyDenZ opened #4512 "Mysql string id is null"
## Steps to reproduce

I have a MySQL database that contains data with a string format ID. A class is mapped to the data in my database. All data is returned except the id, is null.

Initialize a loopback project, add a class with an id of type string, a mysql datasource.

[code]

## Current Behavior

The problem is that the id is in string in my database. It is not the "varchar" type that is prob

[2020-01-27 11:53] pratikjaiswal15 commented on #4473
Sorry for the late reply. Thank you very much. It is woking fine

[2020-01-27 12:04] dougal83 commented on #4473
You're most welcome, happy to help.  Closing issue.

[2020-01-27 12:04] #4473 closed

[2020-01-27 12:16] dougal83 commented on #4512
Hey @KyDenZ
I think #4270 is related, take a look.  Personally I'd try the following but I doubt that is the solution considering it is related to an identifier.

[code]

[2020-01-27 16:27] #4356 closed

[2020-01-27 16:49] dhmlau commented on #4115
@deepakrkris, thanks for opening the follow up tasks. Can we close this issue as done? Thanks.

[2020-01-27 17:02] deepakrkris opened #4516 "APIConnect / LoopBack 4 integration"
## Use Cases

Source Epic: https://github.ibm.com/velox/ui/issues/19306

APIC 5.0 had options to import Open API spec (v2) from an existing LoopBack 3 Application.
(https://www.ibm.com/support/knowledgecenter/en/SSFS6T/com.ibm.apic.toolkit.doc/capim_cli_product_yaml_example.html ).
APIConnect v2018 now has limited support to import OpenAPI -v3 (https://www.ibm.com/support/knowledgecenter/en/SSMNED

[2020-01-27 17:04] deepakrkris commented on #4115
@dhmlau yes I am good with closing this issue

[2020-01-27 17:04] #4115 closed

[2020-01-27 17:08] 1057437122 opened #4517 "JsonSchemaOptions parameters conflict bug"
## Steps to reproduce

1.  create a model, such as Store:id, name, taxNumber, createUserId(belongs to a user), countryId(belongs to a country)
2. create a repository with default option for model Store
3. create a controller with model and repository created before.
4. edit openapi document  like this in GET /stores controller
[code]

## Current Behavior

open in browser and scroll to this control

[2020-01-27 18:08] paeolo opened #4518 "MongoDB ObjectId and HasOneRepository"
## Steps to reproduce
I experiment a bug with MongoDB using code from the shopping application example. Specifically, I copied the code for Login/User authentication in my own code (with no modifications).

Remember there are two models: **User** and **UserCredentials** linked by a **HasOne** relation. when you create a new user you store the password in UserCredentials with:

`await this.userRepo

[2020-01-27 18:35] raymondfeng opened #4520 "[migration/auth] Migrate https://github.com/strongloop/loopback-example-access-control to LB4"
## Suggestion

Create an example in LoopBack 4 to illustrate similar access control features as https://github.com/strongloop/loopback-example-access-control. The other option is to add similar features to an existing example such as https://github.com/strongloop/loopback4-example-shopping.

## Acceptance criteria

- [x] The example should have ability to authenticate 4 users
  - Use user/user cre

[2020-01-27 18:36] raymondfeng commented on #3719
Follow-up stories;

- https://github.com/strongloop/loopback-next/issues/3719

[2020-01-27 18:54] raymondfeng opened #4521 "[migration/auth] Create a guide to describe how to migrate LB3 User based authentication to LB4"
Create a guide to describe how to migrate LB3 built-in User/AccessToken model based authentication

## Acceptance criteria

- [x] Describe usage of LB4 datasource and repository for the user/access token data access
- [x] Migrate model definitions from LB3 User/AccessToken to LB4
- [x] Create a login controller to perform authentication
- [x] Create a token service to generate access tokens
- [x]

[2020-01-27 19:11] raymondfeng opened #4522 "Refactor Shopping Example: simulate ACLs with LB4 authorization"
Describe how to simulate ACLs in Shopping Example

## Acceptance criteria

- [ ] Illustrate usage of `@authorize` to add role based access control
- [ ] Create an pseudo `Authorizer` that implements ACL enforcement similar to https://github.com/strongloop/loopback-next/blob/master/examples/access-control-migration
- [ ] Create an pseudo `Authorizer/Voter` that implements custom LB3 role resolver
-

[2020-01-27 21:26] dhmlau commented on #4516
@deepakrkris, could you please follow up in Feb? If that's something falls under the LB team (which is likely the case), we probably need a separate task for the implementation.

[2020-01-27 22:19] dougal83 commented on #4517
Hi @1057437122

It is a little hard to give advice based on what you've said.  Could you perhaps create a public repo on your account to demonstrate your issue?

Have you set up the relations correctly?  You can follow the [todo tutorial](https://loopback.io/doc/en/lb4/todo-list-tutorial-relations.html) if that helps.

[2020-01-27 23:38] #3767 closed

[2020-01-28 01:09] paeolo commented on #4518
My bad, this issue is resolved, I was using loopback-connector-mongodb 4.x instead of 5.x...
Paul.

[2020-01-28 01:09] #4518 closed

[2020-01-28 02:17] Jtmaurya commented on #4472
[](https://github.com/Jtmaurya/dummy2.gitl)

[2020-01-28 02:17] Jtmaurya commented on #4472
https://github.com/Jtmaurya/dummy2.git

[2020-01-28 04:12] dhmlau commented on #4461
@jannyHou @dougal83, since  strongloop/loopback4-example-shopping#504 has landed, is this issue good to close? Thanks.

[2020-01-28 05:31] raymondfeng commented on #4356
@orensolo It's released in `@loopback/context@2.0.0`. Please install latest version of CLI (`npm i -g @loopback/cli) and use `lb4 update` to update dependencies of your app.

[2020-01-28 06:00] ewrayjohnson commented on #1981
I am working on creating tests to show the bug and confirm the fix

[2020-01-28 09:44] 1057437122 commented on #4517
Sure, sorry for my bad english, the repo is here:
https://github.com/1057437122/lb4jsonschemaoption.git

configuration is here: src/controller/store.controller.ts

[2020-01-28 10:24] KyDenZ commented on #4512
Great, thank you ! I had not seen this pull request.

[2020-01-28 10:24] #4512 closed

[2020-01-28 10:31] 1057437122 commented on #4517
First I only add @belongTo decorator in the model, the error is like the picture, then I added belongToAccessFor in repository , same error

[2020-01-28 11:08] orensolo commented on #4356
Thanks

[2020-01-28 11:28] dougal83 commented on #4517
I'm not sure you can have a model that belongs to more than one other model although that is not specified in the [documentation](https://loopback.io/doc/en/lb4/BelongsTo-relation.html). Perhaps could you try an experiment using the `lb4 relation` command to set up your relations and see if it complains?

I would try myself but I'm traveling with only my smartphone.

[2020-01-28 11:40] 1057437122 commented on #4517
yep, now i tried to add a store belong to a province with command `lb4 relation`, it's the same.
btw, i tried in my other project, the real data respond from server is right, only there's something wrong with openapi document

[2020-01-28 13:30] emonddr commented on #4498
@deepakrkris , while you are doing this, please create an internal document (for the loopback team) of all the steps you had to perform to set this up and test API Connect. Thanks.

[2020-01-28 14:57] ludohenin opened #4530 "CORS origin custom function throw and crash the app"
## Steps to reproduce

Setting the origin to a custom function make the app crash if an error is passed to the callback function.

[code]

## Current Behavior

[code]

## Expected Behavior

send a response with the correct error code.

[2020-01-28 16:14] agnes512 commented on #4472
@Jtmaurya I tired out you app and finally found where the problem is. All the artifacts are valid, just need to make some small changes.

The issue is causes by migration.
TL;DR, the identifier `Order.orderId` got escaped during migration ([related code](https://github.com/strongloop/loopback-connector-mysql/blob/master/lib/mysql.js#L473)). It's a known issue, see https://github.com/strongloop/loo

[2020-01-28 17:22] deepakrkris commented on #4498
@dhmlau let me try to do some simple tests with IBM cloud and see if it is doable. AWS was much simpler for me.

[2020-01-28 19:40] #3949 closed

[2020-01-28 19:49] dougal83 commented on #4517
Having had a look, the relations were not configured completely and there were a few minor issues.  Rather than explain it... take a look at the following commit on your code that fixes the includes:

[Fix commit](https://github.com/dougal83/lb4jsonschemaoption/commit/3c49b6f18c8603820a79a802e07851f9a9875440)

Feel free to ask any particular questions on changes and I'll try to explain but I've ha

[2020-01-28 20:14] dhmlau commented on #453
FYI - Migration guide: https://loopback.io/doc/en/lb4/migration-overview.html. It is still working in progress. We'll be filling in more details and the docs will be found under this link.

[2020-01-29 14:40] 1057437122 commented on #4517
Thanks for your help. But I cloned your repo and started, in my browser, still it's error, this is my capture.
![11580308631_ pic_hd](https://user-images.githubusercontent.com/6631168/73365847-42759900-42ad-11ea-961a-ab815d47e1cc.jpg)
![21580308760_ pic_hd](https://user-images.githubusercontent.com/6631168/73366026-89638e80-42ad-11ea-9ca9-8420cfa7d679.jpg)

may be error is because of my environmen

[2020-01-29 15:31] dougal83 commented on #4517
No, it is most likely something simpler. I made the changes on a new branch called 'alteration'(not master).  Try `git checkout alteration` :)

[2020-01-29 17:57] 1057437122 commented on #4517
Thank you for your patients ! I got it !

[2020-01-29 17:57] #4517 closed

[2020-01-29 18:47] raymondfeng commented on #4452
@bradharms Did you have a chance to check out the examples? I think they should resolve your use case. Please let us know so that we can either close this issue or have more discussions.

[2020-01-29 20:33] dhmlau commented on #4505
@spicemc, I believe you need to have the brackets after `gen_random_uuid`.

I was able to run `npm run migrate` and create the table with the UUID column.
Here is the property setting I used, which is pretty much as yours:
[code]

And I assume you've created the `pgcrypto` extension in the database: https://starkandwayne.com/blog/uuid-primary-keys-in-postgresql/

Hope it helps.

[2020-01-29 22:01] #4351 closed

[2020-01-30 00:13] dougal83 commented on #4380
#4539 related pull.

[2020-01-30 11:48] dougal83 commented on #4461
Closing as done.

[2020-01-30 11:48] #4461 closed

[2020-01-30 14:10] pratikjaiswal15 commented on #4473
Hello, @dougal83  So sorry to disturb you again. But I can't create get request with two parameters.
Here is my code
[code]
Error I am getting

[code]

So embarrassed to disturb you. Thank you in advance

[2020-01-30 14:14] emonddr commented on #3719
Closing this `spike` issue, since @raymondfeng  has opened up follow-up stories and agreed this issue can now be closed. :)

[2020-01-30 14:14] #3719 closed

[2020-01-30 16:28] spicemc commented on #4505
@dhmlau, Thanks for your answer and for the link. I tried your suggestion but without success.
Yes, i`ve created the extension and also adding it via SQL works:
[code]

After that i made further attempts. When i set a normal property then the datatype is taken:
[code]

Setting ```generated: true``` does not use the specified value of the datatype. Setting ```generated: false``` sets the datatype t

[2020-01-30 16:50] dhmlau commented on #4505
Interesting. I was able to use what you had in the original description.
Here is what I've done:

1. In postgres database, run
`CREATE EXTENSION pgcrypto;`

2. In LB app, after creating all the models, datasource, repository and controller, run:
[code]
3. Check the definition of the table.
Mine shows:
[code]

4. Test the endpoint using API Explorer. I can see the generated UUID in the correspondin

[2020-01-30 16:51] dhmlau commented on #4505
The reason I added the brackets for `gen_random_uuid` because it failed when I run the migrate script.

[2020-01-30 17:29] jannyHou commented on #3471
closing since all related PR merged. And see the postgresq follow-up story in https://github.com/strongloop/loopback-connector-postgresql/issues/411

[2020-01-30 17:29] #3471 closed

[2020-01-30 17:35] spicemc commented on #4505
Yes very strange. There are no errors in the logs and i have a different behaviour.
Even if i create another property the datatype is "int4" if i set generated: true :

[code]

It seems like a fallback.

[2020-01-30 17:41] spicemc commented on #4505
Oh there is an error in the postgres logs. Running
```npm run migrate -- --rebuild```
logs:
```ERROR:  schema "public" already exists```

[2020-01-30 18:13] spicemc commented on #4505
Now it's getting interesting. If i delete the table and then running migrate twice:
[code]

It seems that the second run now knows about the datatype and converting fails. But why does the first run create a different datatype (int4)?

[2020-01-30 18:53] agnes512 commented on #4505
@spicemc IIUC you want the `test` and `id` properties all be auto-generated `uuid`? The fields `generated` and `useDefaultIdType` only applicable for the id property `id`. See https://github.com/strongloop/loopback.io/pull/918.

_I think_ the setting
[code]
would allow you to have auto-generated `uuid` for non-id property in Postgres. Please let me know if it works.

[2020-01-30 20:08] emonddr commented on #3959
This is for server side.

We don't intend on supporting our own oauth2 server module.

- Point them to existing infrastructure (social website passport modules)
- need to document how they can use these social website ones. We need to describe the LB4 authentication and authorization steps to enable the usage of access tokens from external oauth2 providers.

[2020-01-30 20:25] dhmlau commented on #4498
@deepakrkris, I'd like to have a proper priority on this task, so I have a few questions:
- what are the differences between the test that you've done in spike https://github.com/strongloop/loopback-next/issues/4115 vs this task?
- Is it because we didn't test for protected endpoints in spike #4115?

Thanks.
would like to have a proper priority on this task.

[2020-01-30 20:25] #2980 closed

[2020-01-30 20:29] jannyHou commented on #4487
Seems it falls back to the default lang.

[2020-01-30 20:34] raymondfeng commented on #4487
FYI: Behind the repository apis, we use LB3 juggler/connectors which are globalized using [strong-globalize](https://github.com/strongloop/strong-globalize).

[2020-01-30 21:00] spicemc commented on #4505
@agnes512, thanks, i tried this setting. Unfortunately the uuid is not generated automatically but the datatype is uuid.

Actually i just wanted to use the auto-generated uuid for the id property. But it didn't work. I have added the Test property for testing purposes only.

[2020-01-30 21:19] dhmlau opened #4543 "Monthly Milestone - February 2020 💝 🔆 ☕️"
## Overview
- continue to focus on the migration guide: general runtime and authentication+authorization

## Goals

- [ ] Migration guide between LB3 and LB4 MVP #453
  - [ ] 🏃How to migrate CRUD Operation Hooks #3952
  - [ ]  🏃How to migrate model mixins #3951
  - [x] Spike: how to import LB3 models extending a custom base model #3813
  - [ ] 🏃 [migration/auth] Migrate
        https://github.com/

[2020-01-30 21:49] jannyHou commented on #4495
@ih84ds Thank you for the suggestion, it sounds reasonable to me. Take the Todo app as an example:

Now the response schema of GET still uses the original model schema `Todo`

[code]

*the Todo schema in reference*:

[code]

While the expected schema should be

[code]

I can think of two approaches:

- Generate new schema with hidden properties excluded:
  - In the controller template, introduce a

[2020-01-30 21:51] jannyHou commented on #4495
I can think of two approaches:

- Generate new schema with hidden properties excluded:
  - In the controller template, introduce a config to hide the properties
[code]
  - In `@loopback/repository-json-schema`, read the flag then generate a new reference for them called `TodoExcludeHiddenProps`

- Use the existing `exclude` config
[code]

[2020-01-31 00:54] dougal83 commented on #4473
No worries.

`.find({id: cart_id})` would be my wild stab in the dark.

[2020-01-31 03:32] pratikjaiswal15 commented on #4473
No not working. Getting same error. In this example id field of the modal `cart` is cart_id

[2020-01-31 04:43] t2mercer opened #4545 "lb-tsc does not build dist folder with tsconfig.json key $schema value present"
## Steps to reproduce
lb4 example (any example)
open tsconfig.json - it will look like the below.

{
  "$schema": "http://json.schemastore.org/tsconfig",
  "extends": "@loopback/build/config/tsconfig.common.json",
  "compilerOptions": {
    "outDir": "dist",
    "rootDir": "src"
  },
  "include": ["src"]
}
npm run build
time stamps on files in dist folder do not change even though command executes

[2020-01-31 04:49] raymondfeng commented on #4545
Try to run `npm run clean && npm run build`

[2020-01-31 04:57] t2mercer commented on #4545
lb4 example soap-calculator
cd ./loopback4-example-soap-calculator
npm run clean && npm run build

updated then run the following again

npm run build

not updated this time so try running the following again

npm run clean && npm run build

now dist folder deleted ... oops

so ... delete both tsconfig.json and tsconfig.tsbuildinfo

run the following

npm run clean && npm run build

this creates t

[2020-01-31 05:07] raymondfeng commented on #4545
I can reproduce the problem now. Please delete `tsconfig.tsbuildinfo` and `npm run build` should be working. I'll investigate a fix to avoid the manual step.

[2020-01-31 05:15] t2mercer commented on #4545
confirmed.
removing tsconfig.tsbuildinfo rebuilds dist folder after npm run clean had deleted it and then you execute npm run build.
Thank you for the guidance.

[2020-01-31 05:16] t2mercer commented on #4545
The issue is with the package.json file.

change

    "clean": "lb-clean *example-soap*.tgz dist package api-docs dist tsconfig.build.tsbuildinfo",

to

    "clean": "lb-clean *example-soap*.tgz dist package api-docs dist tsconfig.tsbuildinfo",

[2020-01-31 05:16] raymondfeng commented on #4545
You can update package.json to replace `tsconfig.build.tsbuildinfo` with `tsconfig.tsbuildinfo` so that `npm run clean` works.

[2020-01-31 05:17] t2mercer commented on #4545
yup :-)

[2020-01-31 07:30] deepakrkris commented on #4498
Shopping app test is required for:
1. Testing for authentication and authorization
2. Various model relations
3. Various filter and query options

Todo example comparatively has very less scope for testing.

[2020-01-31 09:52] Jtmaurya commented on #4472
@agnes512 @dougal83  Now i am facing the problem related to
**result[0].orders** it is showing error

[2020-01-31 10:03] dougal83 commented on #4380
@jannyHou I've had a cursory look over the code and I do have a query on how to proceed with implementation.  How would I handle the sync call to an async function(is there an example to study?)

The sync example above:
[code]
The code in `spec-enhancer.service.ts`:
[code]
I've not really dealt with this issue before as I could use await.  Is there is a particular trick to this implementation?

[2020-01-31 11:03] hacksparrow opened #4547 "includeRelations bug"
## Steps to reproduce

Checkout https://github.com/strongloop/loopback4-example-shopping/tree/bug/include-relations.

Run `npm t`, it will fail with: `Error: expected 200 "OK", got 422 "Unprocessable Entity"`.

Now, change `getModelSchemaRef(Order, {includeRelations: true})`  to `getModelSchemaRef(Order)` in `order.controllers.ts`. Run `npm t` again, test will pass now.

## Apparent Cause

The act

[2020-01-31 11:17] dougal83 commented on #4473
Whoops, I meant to add `where` part too, try:
`.find({where: {cart_id: cart_id}})`

It makes more sense to me to name the Id of the `cart` model as `id`, each to their own.  Read docs and experiment  to see if you can get it working as you expect.  The [example shopping app](https://github.com/strongloop/loopback4-example-shopping) is worth taking a look at too if you wish to see a more complete e

[2020-01-31 14:31] agnes512 commented on #4472
Could you check what `result` is? And could you post the `Order` table in your database? thanks.

[2020-01-31 14:46] #4545 closed

[2020-01-31 16:26] dhmlau commented on #4498
Thanks. Let me add it to the acceptance criteria too.

[2020-01-31 16:39] agnes512 commented on #4505
@spicemc We just made a release. Could you try `-- loopback-connector-postgresql@3.8.1`?
I think the setting:
[code]
should work 😄

[2020-01-31 17:10] #4384 closed

[2020-01-31 17:53] spicemc commented on #4505
@agnes512 Good to know that it should work. :smile:

I updated and when i run ```npm run migrate``` then these errors occur:
[code]

Now it tries to use the extension "uuid-ossp" which is currently not installed/created and "pgcrypto" is ignored. Another problem is, that this is not working anymore (which went smoothly with loopback-connector-postgresql@3.8.1):
[code]
The same errors as above are

[2020-01-31 18:56] agnes512 commented on #4505
Hmm it's weird. Because we use extension `uuid-ossp` and function `uuid_generate_v4()` by default if users don't provide **both** extension and function.

The setting
[code]
will use the default values because only `postgresql.dataType` is being set.

But the setting below shouldn't be using the default ones :(
[code]

I've tested it on my end, I am able to use `pgcrypto` and `gen_random_uuid()`.

[2020-01-31 19:44] spicemc commented on #4505
No worries. Too bad it is not reproducible on your side. I double checked the settings and copied yours. But the error still exist. Migrate sends this to the postgres server:
[code]
Really strange.

I also checked the postgres server again, the extension is active and it is possible to add a table and a uuid column with the function gen_random_uuid() which perfectly generates uuid's on insert.

[2020-01-31 19:54] agnes512 commented on #4505
Ah I think it might because I am always using root user so it works fine.

Could you try create the extension in your database with
`CREATE EXTENSION IF NOT EXISTS "uuid-ossp"`?
Just want to check if it's causing by the db permissions.

Sorry we didn't consider that when designing it  D:

[2020-02-01 09:24] dougal83 commented on #4388
Potentially related to #4547

[2020-02-01 09:26] spicemc commented on #4505
Now it works! So i need to have both extensions created or at least uuid-ossp. Now also works again  setting a uuid as default like this ```default: () => uuid()```.

Thanks for your help. :relaxed:

[2020-02-01 09:46] pratikjaiswal15 commented on #4473
Thanx a lot

On Fri, Jan 31, 2020 at 4:47 PM Douglas McConnachie <
notifications@github.com> wrote:

[2020-02-01 09:49] pratikjaiswal15 commented on #4473
Small question though. Can you please tell me how to get the count on an extension.

For example `users/9/carts/count` will give the count of records on `users/9/carts`.
I googled a lot but didn't get any solution. It is not been documented very well.

Thank you

[2020-02-01 19:49] dougal83 commented on #4473
You could do:
[code]
More typically though you would use the feature found in a default CRUD controller for the `Cart` repository:
[code]
You could supply a where clause to specify the userId, e.g. `{where: userId: <insert user id here>}` assuming the id for user model relation is named `userId`.

[2020-02-02 03:19] pratikjaiswal15 commented on #4473
Thank you very much

[2020-02-03 06:03] Jtmaurya commented on #4472
![Screenshot (112)](https://user-images.githubusercontent.com/49449408/73629399-078eaf00-4679-11ea-9ffa-97a2cd2d6d03.png)

[2020-02-03 06:23] vhidvz opened #4553 "Inconsistent OpenAPI Validation with multiple OpenAPI Datasource"
As you want to create multiple Datasource with OpenAPI connector, the Validator seems mixed them up.

Steps to regenerate this issue [Multiple OpenAPI Usage](#multiple_openapi_usage).

# Steps to Reproduce

1.  ```git clone https://github.com/vhidvz/loopback-next.git```

2.  ```cd loopback-next/examples/mutiple-openapis-usage```

3.  MongoDB database (if you need):

    ```docker run --name some-m

[2020-02-03 06:51] raymondfeng commented on #4553
Thank you for reporting the issue with details. I’ll take a look tomorrow.

[2020-02-03 09:33] Jtmaurya commented on #4472
`@get('/orders/abc/{id}', {
    responses: {
      '200': {
        description: 'Order model instance',
        content: {
          'application/json': {
            schema: getModelSchemaRef(Order, {includeRelations: true}),
          },
        },
      },
    },
  })
  async findById(
    @param.path.number('id') id: number,
    @param.query.object('filter', getFilterSchemaFor(Order)) filter?

[2020-02-03 09:57] bajtos commented on #433
FYI: I added the following "Acceptance Criteria":

 /cc @dhmlau @emonddr

[2020-02-03 10:01] bajtos commented on #4296
Important: until https://github.com/strongloop/loopback-next/issues/433 is implemented, controllers registered after app startup WILL NOT be picked up by our REST layer. I think we should include a note (a warning?) in the new documentation to explain the problem to readers.

[2020-02-03 13:43] #4376 closed

[2020-02-03 13:59] agnes512 commented on #4472
@Jtmaurya if you are using `findById()` instead of `find()`, the result itself is the expected `Order` instance. Could you try return `res` itself in your controller ( or `console.log(res)`)?

[2020-02-03 14:41] agnes512 commented on #4472
@Jtmaurya I pushed my fix in https://github.com/agnes512/dummy2. Could you try it on your end? I also have 2 examples in the main controller. If everything goes well, that endpoint should create one `User` and one `Order` instances. And it traverses the user instance with related `orders` and the order instance with related `user`:
[code]

[2020-02-03 16:25] agnes512 commented on #4505
I am closing this issue. Feel free to reopen it if you have any questions!

[2020-02-03 16:25] #4505 closed

[2020-02-03 19:10] dhmlau commented on #1516
We now have Renovate bot to update the dependencies.

[2020-02-03 19:10] #1516 closed

[2020-02-03 21:08] dhmlau opened #4557 "Discovery not preserving "generated" and "type" properties"
## Steps to reproduce

This is originated from https://github.com/strongloop/loopback-next/issues/4505.

1. I create a model with the following id property. It is `generated` using the `gen_random_uuid()` function in postgresql database.
[code]

2. Run migrate script, so that the table definition looks like:

[code]

3. Now, I create another LB4 app and run the `lb4 discover`.
The generated id pro

[2020-02-03 21:09] dhmlau commented on #4557
cc @agnes512

[2020-02-04 06:59] saidineshgarapati commented on #1465
Hi Johnny Driesen, I am glad you succeeded in uploading a project using Docker and AWS loopback on AWS. I am trying on achieving the same.  Can you please share the procedure you followed in uploading a project using Docker and AWS Elastic.

[2020-02-04 10:20] joeysino commented on #2230
### Suggestion: Allow us to call out to the static file delivery

Use case: I have large files stored on the drive, but they are sensitive, so I don't want to use `this.static()` in the application. I need to check access rights first.

But I do want to take advantage of static's streaming and caching features. (For example it can also support HEAD requests for skipping to the middle of the conten

[2020-02-04 10:23] joeysino commented on #2230
### Suggestion: Support caching when delivering from DB

Use case: I have a large file in a repository, and I have also stored a checksum for it there.

The client requests the file from our API, also passing an E-Tag header.

If the header value matches the stored checksum, that means the browser already has the file, and I can reply with `304 Not Modified`. If not, then I must stream the file as

[2020-02-04 21:57] agnes512 commented on #4557
Thanks for bringing up the issue.

From my understanding, some fields are for migration usage only such as `generated` and `useDefaultIdType`. These tags tell a connector how to create a table.

As for the result of `lb4 discover`, I have two concerns here:
- the `generated` field is not needed as it is for migration
- `required` here not just means the column cannot be null, but also means that i

[2020-02-05 15:19] UsmanJavedAttari opened #4565 "WARNING: relational database doesn't support {strict: false} mode. {strict: true} mode will be set for model instead."
## Steps to reproduce

Use `{strict: false}` in `@model(settings : {})` property.

## Current Behavior

Getting

## Expected Behavior

The warning should not be here. As I updated the loopback cli and with that I updated loopback dependencies, after updating everything, I am getting this warning. It working fine in previous version. Using MySQL. Also getting these warnings if I get request on any

[2020-02-05 17:21] dougal83 commented on #4565
I don't think it actual does anything for non-relational dbs.  Does anything change when you don't set `{strict: false}`?

See: https://github.com/strongloop/loopback-datasource-juggler/pull/1817

[2020-02-05 18:14] agnes512 commented on #4565
Yes. Because `{strict: false}` mode is only supported by NoSQL databases. See https://github.com/strongloop/loopback-next/issues/4042 and https://github.com/strongloop/loopback-next/issues/4042#issuecomment-549801710.

[2020-02-05 18:39] cycorld commented on #4388
@dougal83 I agree with you. When I add a relation with User and use "includeRelations" option at responses, the password is disappear. And when I call "getModelSchemaRef(User)" at another place, it also disappear.

[2020-02-05 18:57] dougal83 commented on #4565
Hey @UsmanJavedAttari

Please remove `{strict: false}` from `@model(settings : {})` property to remove the warning.

[2020-02-05 19:03] UsmanJavedAttari commented on #4565
@dougal83 then I am not able to add extra properties.
Let's say I want to add some extra properties in the response, I have to add those in model and make `{strict: false}`. Otherwise, it doesn't pick extra properties.

[2020-02-05 19:05] UsmanJavedAttari commented on #4565
And the question is why I didn't get any warnings in the previous version?🤔 Even though I was using `{strict: false}`.

[2020-02-05 19:12] agnes512 commented on #4565
The warning was added lately. We didn't change anything but add the warning.

[2020-02-05 21:56] CNSKnight opened #4570 "AssertionError [ERR_ASSERTION]: The binding selector must be an address"
I've just done an `npm upgrade` and cannot start ~~or build~~.
Note this is an lb3-mounted app. I never could get any of the migration to succeed (as of the orig port to lb4).

Node: v12.14.1
@loopback/cli@1.30.0

![loopback-fukup](https://user-images.githubusercontent.com/220025/73886946-8ed65100-4838-11ea-8261-e3bbd63541ce.png)

[test-log.txt](https://github.com/strongloop/loopback-next/files/41

[2020-02-05 22:25] dhmlau commented on #4570
@CNSKnight, from your above screen cap, I realized that the `@loopback/context` has upgraded from 1.x to 2.x.  Could you please take a look at how to deal with the breaking changes https://github.com/strongloop/loopback-next/blob/master/packages/context/CHANGELOG.md#200-2020-01-27?

[2020-02-05 22:34] raymondfeng commented on #4570
Can you run `npm ls @loopback/context` to see if you have other versions of `@loopback/context`?

[2020-02-05 22:46] raymondfeng commented on #4570
BTW, try to upgrade using `lb4 update` after installing the latest version of CLI with `npm i -g @loopback/cli`.

[2020-02-06 02:20] bseib commented on #2454
I wanted to share a workaround that I got working to implement read only properties as discussed here. It may address #3325 too. This workaround achieves the following:

 1) it allows you to put `readOnly` in any `@property()` of your model
 2) the schema generated from the controller for OpenAPI won't show any `readOnly` fields for "write" operations (`POST`, `PUT`, `PATCH`), but will show them f

[2020-02-06 04:55] CNSKnight commented on #4570
Am getting a build but `start` throws:
[code]

[2020-02-06 04:56] raymondfeng commented on #4570
What did you see for `npm ls @loopback/context`?

[2020-02-06 06:21] stanils commented on #4570
In my case it is
[code]

[2020-02-06 06:29] raymondfeng commented on #4570
Please run `npm i @loopback/context@2.1.0` to make sure all versions are the same.

[2020-02-06 06:40] raymondfeng commented on #4570
@CNSKnight Please run `rm -rf node_modules` followed by `npm i`. Your stack trace shows there is an older version of `@loopback/context` is still inside `@loopback/core/node_modules`.

[2020-02-06 07:10] UsmanJavedAttari commented on #4565
What about this?

[2020-02-06 08:59] bajtos commented on #3954
@joschne thank you for joining the discussion! It has been our intention for a long time to abandon LoopBack-specific client SDKs and rely on Swagger/OpenAPI client code generation instead. As you said:

Do you happen to know what's the relation between swagger-codegen and openapi-generator and how they differ from each other?

BTW if you are using Angular, you may want to also try https://github.

[2020-02-06 11:04] baswag commented on #2366
Would really love to have such a feature, especially when managing multiple Loopback Applications and other packages in a monorepo. @bajtos @raymondfeng

[2020-02-06 11:08] baswag commented on #4570
Having the same issue after updating the dependencies today. Already tried removing the node_modules and re-installing all dependencies. `npm ls` also shows only Version 2.1.0 of `@loopback/context` is installed in the project

[2020-02-06 11:09] rajanmishra commented on #4570
Any update on this, it's broken my deployment.
Error: cannot start the application. { AssertionError [ERR_ASSERTION]: The binding selector must be an address (string or BindingKey)

+-- @loopback/boot@1.7.3
| `-- @loopback/context@2.1.0
+-- @loopback/context@2.1.0
+-- @loopback/core@1.12.3
| `-- @loopback/context@2.1.0
+-- @loopback/openapi-v3@1.13.0
| `-- @loopback/repository-json-schema@1.12.1
|

[2020-02-06 12:10] raymondfeng commented on #4570
@baswag @rajanmishra Can you post the stack trace? If you have a simple project to reproduce the issue, please share.

[2020-02-06 12:17] raymondfeng commented on #4570
What’s your node/npm version? On what OS?

[2020-02-06 12:31] baswag commented on #4570
[code]
Node: 12.8.0
NPM: 6.13.4
@loopback/cli: 1.30.0
OS: Windows 7

[2020-02-06 13:23] Ambay54 opened #4572 "The key 'rest.http.request' is not bound to any value in context application"
I installed the below mentioned version on loopback dependencies and getting the error attached in screen shot
"@loopback/boot": "^1.4.3",
    "@loopback/context": "^1.20.1",
    "@loopback/core": "^1.8.4",
    "@loopback/extension-health": "^0.2.14",
    "@loopback/openapi-v3": "^1.6.4",
    "@loopback/repository": "^1.8.1",
    "@loopback/rest": "^1.16.2",
    "@loopback/rest-explorer": "^1.2.4"

[2020-02-06 13:31] joschne commented on #3954
@bajtos I'm happy to hear you like the suggested approach.

I had to pause the migration from lb3 to lb4. Thus, our software is still running on lb3. Chances are high, that in the run of this year we can continue our work on the migration to lb4. If / when we do so, I'm willing to actively contribute to the official LoopBack documentation. Before that my hands are tied.

I have no insider informat

[2020-02-06 14:11] dougal83 commented on #4572
Please try suggested actions from #4570 (namely remove node_modules folder and run `npm i`).

[2020-02-06 14:21] Ambay54 commented on #4572
I did try that. It did not help

[2020-02-06 14:21] pojii commented on #4570
`poj@poj-2 obo-nlp-server % lb4 update
The project was originally generated by @loopback/cli@<unknown>.
The following dependencies are incompatible with @loopback/cli@1.30.0:
- @types/node: ^10.14.6 (cli ^10.17.14)
- prettier: ^1.16.4 (cli ^1.19.1)
- typescript: ^3.3.1 (cli ~3.7.5)
- @loopback/authentication: ^1.0.17 (cli ^3.3.2)
- @loopback/boot: ^1.0.12 (cli ^1.7.3)
- @loopback/build: ^1.3.0 (cl

[2020-02-06 14:38] bajtos commented on #4565
@UsmanJavedAttari if I understand your use case correctly, your model contains well-defined property (via `@property()`) that are stored in your MySQL database, but then you have some custom code that's adding additional properties to be returned in HTTP responses. When a HTTP request to create or modify a model includes those additional properties, they are silently discarded by LoopBack and that

[2020-02-06 14:40] dougal83 commented on #4565
@UsmanJavedAttari It is possible to [extend a model in the controller](https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/controllers/user.controller.ts#L44-L51) as follows:

[code]
And make the required changes:
[code]
Lol.  Just beaten. :)

[2020-02-06 15:02] chrisperks commented on #4570
We fixed this for our project by:

- Deleting any `yarn.lock` and `package-lock.json` files you may have
- Using the CLI to perform `lb4 update`

[2020-02-06 15:22] raimundoGarcia commented on #4570
├─┬ @loopback/authentication@3.3.2
│ ├── @loopback/context@2.1.0
│ └─┬ @loopback/security@0.1.12
│   └── @loopback/context@2.1.0
├─┬ @loopback/boot@1.7.3
│ └── @loopback/context@2.1.0
├── @loopback/context@2.1.0
├─┬ @loopback/core@1.12.3
│ └── @loopback/context@2.1.0
├─┬ @loopback/openapi-v3@1.13.0
│ └─┬ @loopback/repository-json-schema@1.12.1
│   └── @loopback/context@2.1.0
├─┬ @loopback/reposito

[2020-02-06 15:24] raymondfeng commented on #4570
@raimundoGarcia What OS do you have? What's your stacktrace?

[2020-02-06 15:30] bajtos commented on #4425
I understand that intention, it's just seems that the current implementation does not work as expected. Personally, I'd prefer to have an explicit CLI option like `--interactive` (when prompting the user, enabled by default) and `--no-interactive` (when reading JSON from stdin).

This is tricky. It usually returns `true` :

[code]

However, when I run Mocha tests from VS Code debugger, stdin is no

[2020-02-06 15:40] jannyHou commented on #4572
@Ambay54 Do you think it's the same error as https://github.com/strongloop/loopback-next/issues/4570? If not could you submit a sample app we can use to reproduce the error?

[2020-02-06 15:42] raimundoGarcia commented on #4570
I use ubuntu, and now seems to be working well >_>
Thanks :)

[2020-02-06 16:11] raymondfeng commented on #4570
I can reproduce the problem now.

One workaround is to run `npm dedup` so that `@loopback/context` is only installed at root level.

[2020-02-06 16:12] derdeka opened #4573 "feat(authentication): refreshing/replacing the token"
## Suggestion

TTL of AccessToken (`JWT`, `LB3 legacy token` or any other token system) should be extendable or token should be replaced after some time of beeing used. AFAIK the `@loopback/authentication` component does not support this yet.

## Use Cases

Cross-Posting @sformisano 's comment from https://github.com/strongloop/loopback-next/issues/3673#issuecomment-560954366 as discussion point:

[2020-02-06 16:51] dougal83 commented on #4388
Looking further into this issue... I presume the main stumbling block may be around the requirement to [register an inclusion resolver](https://loopback.io/doc/en/lb4/HasOne-relation.html#enabledisable-the-inclusion-resolvers) before it can be used.  Please take a read of the documentation and see if it helps or if you could suggest an improvement?

I had a go at altering the loopback4 shopping ex

[2020-02-06 16:55] frbuceta commented on #4160
Upgrade:
Right after applying this patch to the mssql connector, it still does not return the results.

Will we have to apply a default limit? The request takes up to 2 minutes and even more

[2020-02-06 17:34] dougal83 commented on #4573
Adding token refresh would add a bit of polish. 👍

[2020-02-06 17:36] alyhegazy opened #4576 "fix code snippet in registering authorization component with options documentation"
## Steps to reproduce
The code snippet in the documentation for how to register authorization component with options doesn't add the options.
https://loopback.io/doc/en/lb4/Loopback-component-authorization.html#registering-the-authorization-component

## Current Behavior
Options are not added to the authorization component.

[code]

`app.component()` has a void return type so `binding` will be `un

[2020-02-06 20:33] #4570 closed

[2020-02-06 20:54] raymondfeng commented on #4570
Please upgrade to `@loopback/context@2.1.1`. The most reliable approach is as follows:

1. `npm i -g @loopback/cli`
2. Go to your project
3. `lb4 update`

[2020-02-06 21:50] jannyHou commented on #4576
@alyhegazy Good catch.
I verified with an app in PR https://github.com/strongloop/loopback-next/pull/4571

[code]
works.
The debug log:
[code]
And according to the code in
https://github.com/strongloop/loopback-next/blob/6eea5e428b145cafb84a998bd53979da8c8fba07/packages/authorization/src/authorize-interceptor.ts#L38

Your solution is the correct fix. Submitting a PR to update the doc

[2020-02-06 23:05] derdeka commented on #4573
@sformisano
I would prefer option 3 too.

To make this working i would like to extend the `TokenService`:
https://github.com/strongloop/loopback-next/blob/6eea5e428b145cafb84a998bd53979da8c8fba07/packages/authentication/src/services/token.service.ts#L11-L20

E.g. by adding a `refreshToken` method:
[code]

The `TokenService` needs to:
- validate the token and extract the user information
- validate

[2020-02-06 23:25] jannyHou commented on #4520
PR created in https://github.com/strongloop/loopback-next/pull/4571, in progress

[2020-02-07 02:53] #4576 closed

[2020-02-07 04:37] #2363 closed

[2020-02-07 06:22] diego92sigma6 opened #4581 "MongoDB connector behaving unexpectedly"
Hello, I have a problem using Jest and Loopback 4, version 6.4.1

I've been trying to figure out why my code behaves unexpectedly
[code]

```givenEmptyDatabase()``` deletes every document from all collections in mongo.
Here is how it looks:
[code]

What is weird is that:

*sometimes storedTasks.length == 2, sometimes == 0, sometimes == 4*

**The same thing happens along all my tests:** Simple find

[2020-02-07 09:21] dougal83 commented on #4581
Hola @diego92sigma6

Not enough info to provide any meaningful help but you could take a look at an example test to see if it helps you writing the test.  Here is a suitably structured one:  https://github.com/strongloop/loopback-next/blob/master/packages/repository-tests/src/crud/create-retrieve.suite.ts

Note the usage of features such as `before` features, I think it's `beforeEach` with Jest.

[2020-02-07 09:57] diego92sigma6 commented on #4581
Thanks for the response, much appreciated! That example looks promising. I'll see if I can make better use of the testing features and will get back to you later!

[2020-02-07 11:45] derdeka opened #4584 "vscode source code formatting vs. linting rules?"
**Questions**

When saving a typescript file in vscode it's getting automatically formated by some linting rules:

https://github.com/strongloop/loopback-next/blob/34ee060fee8757a1a3ff675355d6b899953c21cf/.vscode/settings.json#L10-L13

When saving it automatically gets formated, e.g. some spaces after brackets are inserted:

![image](https://user-images.githubusercontent.com/13640166/74026272-1e4d

[2020-02-07 13:04] bajtos commented on #4486
An interesting read: https://blog.ipfs.io/2020-02-01-async-await-refactor/

Based on the arguments presented in that article, I am thinking about removing array-based querying API altogether and make streaming/async-iterable API the only variant available. Or at least make it the default one.

[2020-02-07 13:59] dougal83 commented on #4584
Add to settings:
`"typescript.format.insertSpaceAfterOpeningAndBeforeClosingNonemptyBraces": false,`

[2020-02-07 14:06] VigneshMeem commented on #2021
repository.modelClass.name
Instead  Mymodel.modelName
Woked for me
code
    if (!this.userdataRepository.dataSource.connected) {
      await this.userdataRepository.dataSource.connect();
    }
    const collection = await // eslint-disable-next-line @typescript-eslint/no-explicit-any
    (this.userdataRepository.dataSource.connector as any).collection(
      Userdata.modelName,
    );

    const d

[2020-02-07 14:16] bajtos commented on #4425
Based on the discussion with @dhmlau, let's timebox the February work on this issue to one week. Learn more about the problem, fix what can be fixed quickly and then propose the next steps and/or follow-up issues.

[2020-02-07 15:30] bajtos opened #4585 "Upgrade strong-globalize to the latest version"
In a typical application, there are multiple versions (and copies) of [strong-globalize](https://github.com/strongloop/strong-globalize) in the dependency tree.

Take our [examples/todo](https://github.com/strongloop/loopback-next/tree/master/examples/todo) as an example:

[code]

At the moment, `require('strong-globalize')` is taking about `0.3s` (see https://github.com/strongloop/strong-globaliz

[2020-02-07 15:35] #4553 closed

[2020-02-07 15:40] frbuceta opened #4586 "Loopback does not work in the last update"
## Steps to reproduce

I've been since yesterday (when I update) with problems with Mssql. Some 'endpoints' work and others do not.

Thinking that it was a 'deadlock' in the database and rollback in Loopback Version and it was proven to work so it can be a problem that has been introduced in the new version

Loopback returns an error 500 with the following message:

The model has 5 relationships a

[2020-02-07 16:07] frbuceta commented on #4586
**Updates**
I just activated the debug with `loopback:connector:mssql` and I see that loopback retrieves all the information before giving the error

I am editing a video so you can see it like me (the data is not mine and I cannot reveal it)

[2020-02-07 17:05] agnes512 commented on #3343
closing as done!

[2020-02-07 17:05] #3343 closed

[2020-02-07 18:24] MwSpaceLLC opened #4590 "openapi.json show alweys also if disabled explorer"
### Issue type
* [* ] bug report
* [ ] feature request
* [ ] question about the decisions made in the repository

### Issue description

Qhen i disable the explorer like as follow:

[code]

**myserver.com**/openapi.json show all database structure.
i Want to use LoopBack only backend laravel. but this public information is dangerous

![Annotazione 2020-02-07 192502](https://user-images.githubuserc

[2020-02-07 18:25] MwSpaceLLC commented on #4590
For the moment, i use this resolution. let me if correct as folllow in **index.ts**:

[code]
![Annotazione 2020-02-07 190750](https://user-images.githubusercontent.com/29952045/74055084-a0a62880-49df-11ea-97fd-1145c0145286.png)

[2020-02-07 18:35] #4590 closed

[2020-02-07 20:00] dougal83 commented on #4590
I do something similar:
[code]

[2020-02-07 20:10] dhmlau commented on #4586
@frbuceta, comparing the working versions vs non-working versions, i noticed there is a breaking change in `@loopback/rest`. Could you please try if that's the module causing the problem? Thanks. https://github.com/strongloop/loopback-next/blob/master/packages/rest/CHANGELOG.md

[2020-02-07 21:24] dhmlau commented on #4573
@derdeka, since you have a PoC, let me assign this to you. Thanks.

[2020-02-07 21:25] dhmlau commented on #4547
cc @jannyHou

[2020-02-07 21:44] dhmlau commented on #4357
Closing due to inactivity.

[2020-02-07 21:44] #4357 closed

[2020-02-08 04:32] KyDenZ commented on #2624
I also have the same concern with passport-github.

I found this deposit which seems to correct the problem:
https://github.com/sourcefuse/loopback4-authentication

[2020-02-08 04:42] achrinza commented on #4160
@frbuceta From the top of my head -yes, you'll need to apply a default limit manually. This can be accomplished in 2 ays:

1. Client-side
  This can be done by adding it as part of the request filter query on the client-side
2. Server-side (recommended)
  Modifying the filter object with a fixed limit before passing it into the repository functions will ensure a server-enforced default limit

[2020-02-08 06:17] #2012 closed

[2020-02-08 14:18] nflaig commented on #4573
While we are at it, I would also suggest that the tokens are `HttpOnly` cookies instead of storing them in `localStorage`, see [here](https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html#local-storage) for why this is important. Another advantage of cookies is that the server can set and remove the tokens and clients do not need to know anything about the authentication f

[2020-02-08 14:32] dougal83 commented on #4573
@nflaig 👎 for cookies.  LocalStorage is better suited to the task at hand.  Cookies break RESTful best practices as it requires the server to store session information.

[2020-02-08 14:53] nflaig commented on #4573
@dougal83 I guess you didn't understand my proposal correctly. We are not storing any session information on the server, the only thing that changes is how the JWT is stored on the client which is localStorage vs HttpOnly cookie.

[2020-02-08 15:10] dougal83 commented on #4573
You could be right but I'm just not convinced atm.  I'll read more about it and come back if I change my mind.

Furthermore, I don't really see the above statement being a concern with regard to inclusion of the refresh token that this PR proposes.  The short lived access token contains the permissions/scopes.  The longer lived refresh token simply requests/refreshes the access token and at the po

[2020-02-08 15:15] dhmlau commented on #4585
@bajtos, I've updated the original description with the list of repos. I'm not sure whether we need to update for `*loopback-sdk*` repos.

[2020-02-08 15:19] nflaig commented on #4573
There are a lot of great resources with information on web security best practices for example [OWASP cheat sheets](https://cheatsheetseries.owasp.org/). Also if you take a look how websites store sensitive information you will not find a single one that uses local storage.

The PR listed 3 different options. This was just another argument against option 1 and why it is not a suitable approach.

[2020-02-08 16:35] dougal83 commented on #4573
You're right that LocalStorage shouldn't be used to store sensitive information.  However the [OWASP Docs](https://cheatsheetseries.owasp.org/cheatsheets/REST_Security_Cheat_Sheet.html#sensitive-information-in-http-requests) don't highlight a particular issue.  The JWT token, is fine in LocalStorage as it is really just a verifiable claim and not the actual credentials for instance.

Fair enough,

[2020-02-08 18:09] nflaig commented on #4573
They are highlighting some issues like XSS in the [chapter about local storage](https://cheatsheetseries.owasp.org/cheatsheets/HTML5_Security_Cheat_Sheet.html#local-storage). I think the highest risk might be a malicious npm module you are using in your UI code which just gets all items in local storage and sends those to the attacker. I can't really tell how likely it is that such an attack happe

[2020-02-09 01:47] dhmlau commented on #4572
@Ambay54, the latest version of `@loopback/context` is 2.1.1. Could you please update to the latest version and try? I noticed you're on 1.x.  Here is some info on the breaking changes: https://github.com/strongloop/loopback-next/blob/master/packages/context/CHANGELOG.md#breaking-changes.  Thanks.

[2020-02-09 01:53] dhmlau commented on #4291
Closing as done since PR#4405 has merged.

[2020-02-09 01:53] #4291 closed

[2020-02-09 02:15] dhmlau commented on #577
Given that there are a large number of files, it might be more practical to fix issues as we go or when someone opens an issue.

[2020-02-09 02:15] #577 closed

[2020-02-09 02:16] dhmlau commented on #3072
Consider it done.  The rest are not very active repos.

[2020-02-09 02:16] #3072 closed

[2020-02-09 02:29] dhmlau commented on #2753
@rkterungwa16, we think the [above comment ](https://github.com/strongloop/loopback-next/issues/2753#issuecomment-490872997) has answered your question, so I'd like to close this issue now. Thanks.

[2020-02-09 02:29] #2753 closed

[2020-02-09 02:29] dhmlau commented on #2468
Closing due to inactivity.

[2020-02-09 02:29] #2468 closed

[2020-02-09 02:52] dhmlau commented on #4075
@vikramkh, I think at this point, we prefer not to divert our effort in maintaining one more Facebook group. Feel free to keep your Facebook group though, and please also keep in mind we have other social media channels:
- [Twitter](https://github.com/strongloop): it has the most updated info. Please follow us there!
- [Facebook page](https://www.facebook.com/strongloop) : this one is more for ann

[2020-02-09 02:52] #4075 closed

[2020-02-09 13:50] frbuceta commented on #4586
I will review but [here](https://github.com/strongloop/loopback-next/blob/master/packages/rest/CHANGELOG.md) it says that the change is only internal

[2020-02-09 14:06] frbuceta commented on #4586
Today is Sunday and there are no records in the database ... Being a breaking change should give the same error and not return an HTTP 200

[2020-02-09 21:10] achrinza commented on #4397
Hi @baltameme, we'll close this issue as solved; but if there's still any concerns, please feel free to open a new issue.

[2020-02-09 21:10] #4397 closed

[2020-02-10 05:07] mastermunj opened #4600 "Model Validation - custom business logic"
Hi,

I need help with Model validations. Is there anything similar to LB3 Model.validateAsync?

E.g. When someone is trying to register with a mobile number, I want to check whether mobile is on the blocked list.

[2020-02-10 06:34] pankajcheema commented on #3357
I am agree with the point of @shadyanwar . I am also looking for the same .

[2020-02-10 06:34] pankajcheema commented on #3357
any update on the same ?

[2020-02-10 08:30] baltameme commented on #4397
OK @achrinza noted, thanks so much!

[2020-02-10 08:39] baltameme opened #4603 "Set a fixed Port number for chat app in Loopback 4"
I am trying to set a fixed port number for a chat app that i have built using Loopback 4. The problem is that every time i restart the app a new port number will be assigned dynamically to the app instance.
Please, note that i already tried to follow the documentation [reference](https://loopback.io/doc/en/lb4/Application.html) here but it did not work with me.

Here's a snippet code for the appli

[2020-02-10 08:52] derdeka commented on #4573
@nflaig I don't make any asumptions how the tokens are stored (in cookies or in localstorage). I think this is in the responsibility of the frontend and is out of scope of my POC. But i'm open to discussions about best practices and feedback how other developers handle this. In my case i have a angular frontend which should periodically refresh the `accessToken` to avoid interuption of user intera

[2020-02-10 09:14] achrinza commented on #4603
Hi @baltameme; could I clarify if you've followed specifically [this section of the docs](https://loopback.io/doc/en/lb4/Application.html#constructor-configuration) to configure the port?

There's enough info for me to pinpoint the exact issue, but if you could publish a minimal reproducible app to GitHub we may be able to better debug the issue.

[2020-02-10 09:20] achrinza commented on #4600
Hi @mastermunj; AFAIK models are meant to only provide data structure (as part of the LB4 redesign). However, a similar validation can be accomplished by [adding custom repository methods](https://loopback.io/doc/en/lb4/Repositories.html#example-custom-connector-crud-methods) or processing validation at the controller-level.

[2020-02-10 09:42] baltameme commented on #4603
Hi @achrinza, here's a [link](https://drive.google.com/open?id=18hDUUSx3PFbiHRedVxWApNyJiqUDzLxy) with a sample project

[2020-02-10 10:33] nflaig commented on #4573
@derdeka yes it probably makes sense to discuss this topic in another issue.

This can not be decided by the frontend since the backend sets the cookies in the response. In case the cookies are Http only it is even impossible for the UI javascript code to interact with the cookies at all. But I guess the first step is anyways to do the PoC implementation with refresh tokens and the next step would

[2020-02-10 11:33] mastermunj commented on #1872
Hi @bajtos, any visibility on when the model validation will be available?

Or maybe you can point me towards an interim solution to achieve custom business validation, similar to that of LB3 Model.validateAsync which is applied every time the model is created/updated.

[2020-02-10 11:38] derdeka commented on #4573
@nflaig I don't see any cookies in the login process set by `loopback-next` or `loopback4-example-shopping`. Which application are you referencing?

[2020-02-10 11:58] frbuceta commented on #4586
I just detected where the error is going. I have a "belongsTo" relationship that does not work but making a diff of my code I see that there is no change that affects, also if I create the relationship with the CLI, It make it as is.

[code]

[code]

Something I have not seen?

[2020-02-10 11:59] nflaig commented on #4573
@derdeka `loopback4-example-shopping` does not use cookies but if it would it has to be decided in the backend. Of course if the token is sent back in the request body for example you can decide in the frontend where you want to store it. Usually the backend would use the `set-cookie` header in case the tokens are intended to be stored as cookies.

[2020-02-10 12:11] bajtos commented on #4425
This part can be solved by running the debugger manually via `node --inspect-brk`.

[2020-02-10 12:30] bajtos commented on #4425
AFAICT, when I run tests with stdin read from `/dev/null`, then we don't get as far as prompting for options like `name`, however the tests don't always pass. The outcome is different depending on how I limit the tests executed and whether Mocha is configured with no timeout.

Few examples:

- `lb-mocha "test/integration/generators/model.integration.js" -b -t 0 < /dev/null`
   All tests pass

- `$

[2020-02-10 13:11] bajtos opened #4607 "CLI incorrectly assumes non-interactive mode"
Our CLI app allows users to provide prompt answers in multiple ways:
- Some values can be configured via CLI arguments and options, e.g. `name`.
- It is possible to provide JSON object with values to all prompts via `--config` option.
- It is possible to stream a JSON object to `stdin`

At the moment, the logic determining when to read data from `stdin` is based on `process.stdin.isTTY` flag. Unfo

[2020-02-10 13:12] bajtos commented on #4607
Re-posting from https://github.com/strongloop/loopback-next/issues/4425#issuecomment-584100049:

AFAICT, when I run tests with stdin read from `/dev/null`, then we don't get as far as prompting for options like `name`, however the tests don't always pass. The outcome is different depending on how I limit the tests executed and whether Mocha is configured with no timeout.

Few examples (executed fr

[2020-02-10 13:13] bajtos commented on #4425
On the second thought, I think it's better to discuss this problem in a different issue and keep the discussion here focused on Windows. See https://github.com/strongloop/loopback-next/issues/4607

[2020-02-10 14:30] derdeka commented on #4584
This setting works for me. Should we add this to .vscode/settings.json ?

Do you mean this would be the standard if i disable all plugins?

[2020-02-10 16:28] dougal83 commented on #4584
Wouldn't be a bad idea if you ask me.  Would you like to do the honours with PR?

I believe it would apply with vanilla VSCode install if you have a suitably recent version of Typescript in use.  Can't remember of the top of my head.

[2020-02-10 17:20] dhmlau opened #4610 "[Spike] How to migrate Angular 1.x and 2+ LB3 client"
Originated from epic: https://github.com/strongloop/loopback-next/issues/3954

A spike on migrating Angular 1.x and 2+ LB3 client.

### Acceptance Criteria
- [ ] Find out whether [OpenAPI generator](https://github.com/OpenAPITools/openapi-generator) a good solution
   - If yes, how to migrate?
   - If no, what would be our recommended solution in the context of migration guide?
- Expected outcome:

[2020-02-10 17:23] dhmlau opened #4611 "[Spike] How to migrate Android LB3 client"
Originated from epic: #3954

A spike on migrating Android LB3 client.
From @bajtos, we might want a Java or Kotlin client.

## Acceptance Criteria
- [ ] Find out how to migrate an Android LB3 client.
- Expected outcome:
   - [ ] our recommended approach and description on how to do it.
   - [ ] create a follow up task, if needed, to add the instruction as part of the migration guide

[2020-02-10 17:29] dhmlau opened #4612 "[Spike] How to migrate iOS LB3 client"
Originated from epic: #3954

A spike on migrating iOS LB3 client.
From @bajtos, we might want a ObjC or Swift client.

### Acceptance Criteria
- [ ] Find out how to migrate an iOS LB3 client.
- Expected outcome:
   - [ ] our recommended approach and description on how to do it.
   - [ ] create a follow up task, if needed, to add the instruction as part of the migration guide

[2020-02-10 19:39] alexnfsc175 opened #4615 "The WhereBuilder Class with a type gives an error on null dates"
## Steps to reproduce

The WhereBuilder Class with a type gives an error on null dates

[code]

[code]
This behavior seems to me to be a bug with WhereBuilder typing

## package versions
[code]

[2020-02-10 23:56] achrinza commented on #4603
Hi @baltameme, from what I can tell, `@loopback/http-server` is being used directly as the server. In `application.ts`, line 52-53, there's the following lines:

[code]

In this case, the HTTP server is utilising `options.websocket` instead of `options.rest`. Hence, updating the `config` variable in `index.ts` to:

[code]

would fix the port number.

[2020-02-11 00:12] Hichem-elAbassi commented on #110
Hi, @bajtos ,count me in (?)

[2020-02-11 09:03] bajtos commented on #844
https://oclif.io seems to be a popular library used e.g. by Heroku CLI.

[2020-02-11 09:40] dougal83 commented on #844
Looks very good. +1 for plugins @oclif/plugin-not-found (e.g. "did you mean?") @oclif/plugin-autocomplete (add bash autocomplete).

[2020-02-11 10:07] asaurav025 commented on #2230
@bajtos Can you help me out with stubing Response parameter of the controller

[2020-02-11 10:33] AnanthGopal opened #4624 "Is possible to select the data from database and export that data using loopback 4?"
i need to select and export data by using loopback 4. If it is possible, can you provide the sample link?

[2020-02-11 10:51] derdeka commented on #4610
@dhmlau I did POCs for [OpenAPI generator](https://github.com/OpenAPITools/openapi-generator) and [ng-openapi-gen](https://github.com/cyclosproject/ng-openapi-gen) in the last weeks and can share some stuff. Both of them have their upsides and downsides, but are very different to [loopback-sdk-builder](https://github.com/mean-expert-official/loopback-sdk-builder). My hope was to find a kind of dro

[2020-02-11 11:04] achrinza commented on #4624
Hi @AnanthGopal, could you clarify one "export data"? LB4 is flexible in that you can query using a repository function (such as `.find()`, `.findById()`, etc.) and then use the response of those functions as you wish.

[2020-02-11 11:12] Jtmaurya commented on #4472
In the above code we will get **user along with the corresponding orders** and vice-versa.
But what if **i want to take only totalPrice along with the user details, not the whole details of order.**
In that case, what should i do?

[2020-02-11 11:50] achrinza commented on #4615
Hi @alexnfsc175, unfortunately I don't have enough info to narrow down the issue. Could you share the error and as per-[Bug Report template](https://github.com/strongloop/loopback-next/issues/new?labels=bug&template=Bug_report.md), could you upload a reproduction sandbox to GitHub?

Taking a shot in the dark: `updated_at` may have not been set as an optional property, hence the error when setting

[2020-02-11 12:03] mastermunj commented on #4600
Hi @achrinza, #1872 is more or less similar to my query. As of now, LB4 doesn't seem to have the direct support of the validation at the data access layer.

[2020-02-11 12:29] achrinza commented on #4586
@frbuceta I'm guessing that the query in the this part of the log is what's failing:

[code]

When the query is executed through SSMS (or similar a program), does it still timeout?

[2020-02-11 13:13] frbuceta commented on #4586
I am using Jetbrains Datagrip and it returns me perfectly

[2020-02-11 13:22] achrinza commented on #4573
I agree that tokens should be stored as a `HTTPOnly` cookie to prevent XSS.

However if I'm not mistaken, `verifyToken()` and `generateToken()` do not assume where the token (and neither will `refreshToken()`). This seems to be more of an issue on how `loopback4-example-shopping` implements these interfaces thereby out-of-scope of this issue.

[2020-02-11 14:50] achrinza commented on #4600
Seems like it! In that case, we can close this a a duplicate of #4187 and continue discussion there.

[2020-02-11 14:50] #4600 closed

[2020-02-11 14:50] achrinza commented on #4600
Duplicate of #4187

[2020-02-11 15:12] frbuceta commented on #4586
I just set requestTimeout to 0 and everything works. It takes but it works. Sorry for the inconvenience

[2020-02-11 15:12] #4586 closed

[2020-02-11 15:28] agnes512 commented on #4472
I don't think you can return a instance with user details along with order details together directly. However, your can manipulate the returned object. For example, if you only want the `totalPrice` field to be returned, you can use the `field` clause in the scope:
[code]
With this query, the returned related `Order` instance would only contain these 2 fields. **NOTICE** that you will need to incl

[2020-02-11 15:43] agnes512 commented on #4472
I don't think you can return a instance with user details along with order details together directly. However, your can manipulate the returned object. For example, if you only want the `totalPrice` field to be returned, you can use the `field` clause in the scope:
[code]
With this query, the returned related `Order` instance would only contain these 2 fields. **NOTICE** that you will need to incl

[2020-02-11 15:57] AnanthGopal commented on #4624
Do i select data from the database and need to export data into CSV

[2020-02-11 16:09] dougal83 commented on #4573
Agreed.  Client side implementation is out of scope of PR.

[2020-02-11 16:31] bajtos commented on #4585
The following modules are in LTS modes, I am not sure if it's a good idea to update them - I am not sure about the impact of breaking changes made in strong-globalize on the consumers of those modules.

Maybe we can leave them out from the first wave of upgrades?

- strong-remoting
- loopback-phase
- loopback
- loopback-filters
- loopback-sdk-angular
- loopback-sdk-angular-cli
- grunt-loopback-sdk

[2020-02-11 16:57] dhmlau commented on #1873
There is documentation showing how to do file upload: https://loopback.io/doc/en/lb4/Parsing-requests.html#specify-custom-parser-by-controller-methods.

What we might be able to do is to:
- improve the docs so that this page is easier to find
- explain how to enable file upload in API explorer, see #2666
- create a full stack example on how to use it

[2020-02-11 17:11] bajtos commented on #2672
As of today, request has been officially deprecated at npm level.

[2020-02-11 17:41] dhmlau commented on #4610
@derdeka, it would be great if you could share the information between OpenAPI generator and ng-openapi-gen. Thanks!

I just discussed with @bajtos, it might be good to:
- take the [CoffeeShop application](https://loopback.io/doc/en/lb3/Introducing-the-Coffee-Shop-Reviews-app.html) as the starting point - it's a smaller app than the shopping app
- generate the client using LB3 SDK client and OpenA

[2020-02-11 18:01] bajtos commented on #2672
AFAICT, https://www.npmjs.com/package/needle should be preserving error details reported by Node.js core and supports Promise-style too. It may be a good alternative to consider.

[2020-02-11 19:12] jannyHou commented on #4585
The latest `strong-globalize` requires node>=8.9, but not all repos are compatible, e.g. `loopback-connector-cloudant`'s node version limit is >8.

A possible solution: upgrade the `strong-globalize` version and node engine then make a major release.

Another thing to consider: all connectors have juggler3.x as dev-dependency, which also has the engine limit as >8.

[2020-02-11 20:35] agnes512 commented on #4624
@AnanthGopal Not sure if I understand your question correctly. But one of the basic usages of LB4 is that you can access the db if you set up the datasource properly.

Take MySQL as an example, if you already have your tables defined, LB4 allows you to discover schemas from DBs (ref: https://loopback.io/doc/en/lb3/Discovering-models-from-relational-databases.html). And this can also be done by the

[2020-02-11 21:52] raymondfeng commented on #2672
First step to replace `request` in `loopback-next` - https://github.com/strongloop/loopback-next/pull/4628.

The usage of `request` in `http-caching-proxy` is more involved.

[2020-02-12 12:59] achrinza opened #4631 "API docs tables not properly generated"
## Steps to reproduce

1. Go to lb4 API docs
2. View either one of these links:
  https://loopback.io/doc/en/lb4/apidocs.rest-crud.html#functions
  https://loopback.io/doc/en/lb4/apidocs.repository.html#functions

## Current Behavior

It seems that any tsdoc with a code block causes the table to not be created:

### Rest Crud
![image](https://user-images.githubusercontent.com/25147899/74336801-fdd

[2020-02-12 13:50] achrinza opened #4632 "Proposal(docs): update design"
## Suggestion

This is a proposal to spark some discussion on a potential docs redesign. The POC images are not a final design, but are to explore potential possibilities on what the docs could look like.

Currently, the [LoopBack documentation](https://loopback.io/doc/en/lb4) is arguably not the "cleanest" docs. While it does get the job done, it could benefit from a redesign which could make the

[2020-02-12 14:32] dougal83 commented on #4632
As long as the documents as a whole are consistent and clearly conveys information, it would be 'nice to have' if someone wants to take it on as a project to completion.

[2020-02-12 14:54] pktippa opened #4633 "requestBody decorator is not supporting validation of inherited model, always refers to Parent model for validation."
## Steps to reproduce

[code]
Request:

[code]
Response:

[code]

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

Seems issue is with

[code]

Refer
https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L83-L89

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Re

[2020-02-12 15:39] raymondfeng commented on #4631
@achrinza Good catch. The tsdoc comments at https://github.com/strongloop/loopback-next/blob/master/packages/rest-crud/src/repository-builder.ts#L14 should be fixed as follows:

[code]

We need to use `@example` to represent sample code.

[2020-02-12 20:45] #4631 closed

[2020-02-12 23:47] SephReed opened #4640 "Rest-explorer queries the wrong url"
I have an nginx server which serves the loopback api explorer.

It is currently fowarding all queries to `localhost:3000/path/to/query` instead of the actual public server it is on.

I can not find a way to specify that it should not use `localhost:3000`

[2020-02-12 23:53] raymondfeng commented on #4640
See https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html#advanced-configuration-and-reverse-proxies for instructions.

[2020-02-13 02:36] dhmlau commented on #4380
PR in progress: https://github.com/strongloop/loopback-next/pull/4554

[2020-02-13 08:05] #4530 closed

[2020-02-13 08:45] deepakrkris commented on #2208
all tasks completed, acceptance criteria satisfied.

[2020-02-13 08:45] #2208 closed

[2020-02-13 08:50] deepakrkris commented on #4458
@achrinza this format is supported as default. For instance, I created the default ping app with `lb4 app` and edited the ping() method as follows, the query `http://localhost:3000/ping?count=0&count2=2` works. Looks like this is not explained enough in the examples and docs. I will use this issue to update docs.

[code]

[2020-02-13 08:50] bajtos commented on #4585
Thank you @jannyHou for pointing out important details we should keep in consideration.

Since Node.js 8.x has reached end of life in December 2019, it's perfectly fine to stop supporting in actively developed repositories (e.g. connectors) and it's probably ok to drop it from repos in LTS mode too.

+1, I agree with your proposal. While bumping up the minimal supported Node.js version, let's set

[2020-02-13 09:18] bajtos commented on #4585
As part of releasing a new semver-major version of the connectors, we should update LTS information README files. Move the Current version to Active LTS, the Active LTS version to Maintenance LTS, and check which Maintenance LTS versions has reached end of life. See https://loopback.io/doc/en/contrib/Long-term-support.html

[2020-02-13 09:52] bajtos commented on #2672
@raymondfeng Can you please confirm that axios is preserving low-level error details? (See the discussion above.)

Ideally, I'd like us to use the same library across the entire loopback-next codebase, including connectors like REST and SOAP.

IMO, we should start with looking for a library that works well for `http-caching-proxy` and then use that one everywhere else.

[2020-02-13 10:15] bajtos commented on #4458
I am not sure how often are HTML forms submitting the data via a query string? I think it's more common to submit form data in the body of a POST request.

I.e. instead of sending a `application/json` request body `{"type": "cheesy", "toppings": "pepperoni", "toppings": pineapple}`, the client can send `application/x-www-form-urlencoded` body `type=cheesy&toppings=pepperoni&toppings=pineapple`.

T

[2020-02-13 14:09] bajtos commented on #4425
With #4605 and #4605 landed, `npm test` is no longer freezing on my Windows machine when using Node.js version 12.16.0. There are few test failures though, I opened #4643 to fix some of them. There will be few more fixes required until `npm test` is green, I'll continue my investigation.

[2020-02-13 14:21] mastermunj commented on #2809
I believe the above must be documented somewhere in repositories docs. I was struggling with migration for the past 3 days and finally stumbled upon this message. Priceless!

Thank you so much @bajtos

[2020-02-13 15:10] dougal83 commented on #4425
@bajtos Happy to confirm tests work on my Win 10 machine.  Just say the word and I'll check.

[2020-02-13 15:53] #2090 closed

[2020-02-13 15:53] #2040 closed

[2020-02-13 16:10] bajtos commented on #4425
@dougal83 that's great news! Are the tests actually passing for you? I am seeing several test failures when running the tests from Windows CLI (`cmd.exe`). I am fixing some of the problems in https://github.com/strongloop/loopback-next/pull/4643, can you please review?

[2020-02-13 16:48] pratikjaiswal15 opened #4644 "Loopback 4 filters not working with multiple relations"
I am using multiple relations in loopback 4. I have 4 models.

User has many carts accessible on url `users/user_id/carts`
cart has many products. Relation named `product`
Product has many stocks and product-prices named `stocks` and `productPrices` respectively.
Here is a controller at url `users/user_id/carts/prices` which performs multiple relations as shown below.

[code]
But I am unable to pe

[2020-02-13 17:29] mastermunj opened #4645 "property.array generates incorrect schema"
Here is the gist of code for easy replication.

## Steps to reproduce

[code]

## Current Behavior

Notice the nested `items` objects created.

[code]

## Expected Behavior

[code]

[2020-02-13 17:35] mastermunj commented on #1872
Sorry to bump in again, however, it's important to have model validation. Is this being planned for the near future? If not, kindly suggest an interim approach to do custom business logic validation at the model level.

[2020-02-13 17:57] dougal83 commented on #4425
OK I will review #4643 next.  On my main PC via powershell(run as administrator) `npm run test` returns:

[code]

[2020-02-13 18:31] mamiller93 commented on #3159
I'm curious whether this spike has an updated timeline as you removed the 2020Q1 tag about a month ago. From my research, a lot of users have expressed mocha is faster than jest, but we're also running into some slowness when running 300+ tests over 50+ files. I'm curious whether the migration to Jest would prove beneficial and whether we should embark on that adventure by ourselves or hold off an

[2020-02-13 19:12] raymondfeng commented on #4645
@mastermunj The `jsonSchema` of `@property.array` applies to the item type. See https://github.com/strongloop/loopback-next/pull/4646.

[2020-02-13 19:13] raymondfeng commented on #4645
If you want to override `array` type, use `@property` instead.

[2020-02-13 19:35] dhmlau commented on #1872
I think one of the ways is to use [interceptor](https://loopback.io/doc/en/lb4/Interceptors.html). You can create a class level interceptor for the controller so that all requests need to go through your validation before further processing. I have a sample app in this blog post: https://strongloop.com/strongblog/loopback4-interceptors-part2/

[2020-02-13 21:41] dkrantsberg opened #4648 "Case insensitive routing"
While porting a legacy API to LoopBack 4 I've noticed that LoopBack routing is case sensitive.
Is there a way to make it case insensitive so that it doesn't throw 404 errors if route casing is different (`/api/userprofile` or `/api/userProfile`)?

Case-insensitive routing is default in Express.js.  I was expecting LB4 to behave the same way.

[2020-02-14 06:59] mastermunj commented on #1872
Controller level validators work only for requests, however, model level validations work for every data-access on the model.

As of now, I am thinking to use ajv in the repository for doing custom async validation for data-access methods of models.

[2020-02-14 07:07] mastermunj commented on #4645
Does `property.array` ignore attributes other than `jsonSchema`? Because `uniqueItems` is missing from the generated schema in the above case.

[2020-02-14 07:14] mastermunj commented on #4645
Also, when I try to run migration with `@property` having `type: array` following error occurs.

[code]

PS: error is for different attribute `mobiles`, but specs are the same.

[code]

[2020-02-14 08:46] achrinza commented on #4648
@dkrantsberg AFAIK, lb4 only uses Express.js for its middlewares, and uses its own routing engine. (see [Circling back to Express with a twist](https://loopback.io/doc/en/lb4/Crafting-LoopBack-4.html#circling-back-to-express-with-a-twist).

lb4 does have the concept of Sequences, to which you can "normalize" the incoming route path before passing it into `findRoute()` (see [Invoke Operations using

[2020-02-14 08:47] pratikjaiswal15 commented on #4644
Any update sir @agnes512

[2020-02-14 08:50] dougal83 commented on #4645
Try using `"` in place of `'`?:

What editor are you using?  VSCode would have suggested the above.

[2020-02-14 09:07] bajtos commented on #4425
Thank you @dougal83 for reviewing and testing #4643. My take is that we are on the right track and have few more tests to fix.

Here are the next steps I see:
1. Land #4643
2. Investigate `app-generator with tilde project path` test failure. I am not sure if Windows allows `~` in file and directory names?
3. Investigate `HttpCachingProxy` and `HttServer` test failures. I suspect they may have the

[2020-02-14 09:09] mastermunj commented on #4645
I am using VSCode. The difference of `'` vs `"` is because I am manually writing js here. For the model, I generate it automatically for reusing the same schema in multiple models.

I prefer using a single quote though.

[2020-02-14 09:39] dougal83 commented on #4425
@bajtos I'll take a look at (2). Tilde is used to shorten paths to my knowledge.  Hopefully you find (3) the same!

[2020-02-14 10:43] dougal83 commented on #4425
@bajtos I did wonder why a `sandbox` folder appeared in packages and now we have a/the culprit.

[app.integration.js#L259](https://github.com/strongloop/loopback-next/blame/master/packages/cli/test/integration/generators/app.integration.js#L259) appears it should read `const rootDir = path.join(__dirname, '../../../../../');`  Change passes on Win10 + WSL.

If you're making another PR could you in

[2020-02-14 11:02] UsmanJavedAttari commented on #4565
@bajtos thanks for your great response, I have a question though.
For there's just a warning if i use `{strict: false}`, the extra properties works fine.

[2020-02-14 11:19] dougal83 commented on #4645
I believe it's a json declaration hence the need for `"`.  Give it a try?

[2020-02-14 11:23] mastermunj commented on #4645
Oh sure! I am sorry for not clarifying earlier. I use `"` for json in json files. For strings in ts / js files, it's single quote.

Since email / mobile is used at several places in code, I have created a json schema which is read and passed directly to `@property` wherever needed through a util function. For the purpose of this ticket, since I had to do manual inclusion of json file, there was a

[2020-02-14 12:45] bajtos commented on #2672
FYI, here is a chart comparing download numbers for different `request` alternatives: https://npmcharts.com/compare/axios,needle,node-fetch,got?interval=30

[2020-02-14 13:59] bajtos commented on #2672
I did a quick experiment with `needle`. I like the fact that it always preserves low-level Node.js error details and allows string-based proxy configuration (no need to parse the proxy URL). However, it has different implementation of timeout handling, which makes it difficult to pass the timeout-checking test in http-caching-proxy.

I quickly scanned the source code of `node-fetch` and `got`, and

[2020-02-14 15:42] jgwinner commented on #110
Hi @bajtos I'd definitely like to be involved.

[2020-02-14 16:09] bajtos commented on #3159
@mamiller93 this spike is not a priority for us in the next few months (at least). The migration would require too many changes.

We are also discussing with @boneskull the option to improve Mocha to better serve our needs: allow the tests to be run in parallel, better support for TypeScript in watch mode.

I guess the only way how to answer the first question is to do a spike on your side and see

[2020-02-14 16:16] agnes512 commented on #4644
@pratikjaiswal15 From your description, I guess you'd like to combine the `where` clause with the `include` clause. But notice that for the `find()` method, from the API docs, it takes 2 params:
[code]

That's why your filter `filter[where][cart_id]=29` gets discarded, and
[code]
would only return **_all_** products with their related `Stock` and `ProductPrice`.

Basically, you need to combine the

[2020-02-14 16:28] dkrantsberg commented on #4648
Yes, this is what I ended up doing. Thanks, @achrinza.

[2020-02-14 16:28] #4648 closed

[2020-02-14 19:31] dhmlau commented on #4487
I'm running into the same issue when extracting messages for translation.  For example
https://github.com/strongloop/loopback-next/blob/master/packages/cli/test/integration/generators/relation.integration.js#L67-L77
[code]
Since this message is coming from https://github.com/strongloop/loopback-next/blob/master/packages/cli/generators/relation/index.js#L21, I'm wondering if it's a good idea to use

[2020-02-14 20:45] agnes512 commented on #4633
@pktippa I tried it on my end and was able to create a `Person` instance. The only difference is my `User` model extends `Entity`. Here are the two models:
[code]
Could you compare and check if the above definitions work for you?

[2020-02-14 21:49] dougal83 commented on #4645
@mastermunj Apologies for the delay.  Try the following:

[code]

In times like this when I'm unsure I take a moment and search for a test in a git repo.  If you see above, @raymondfeng kindly added a test that you could examine in this instance. -> #4646 I hope the above helps you out.

[2020-02-14 23:01] dhmlau commented on #4632
+1 that it's nice to have.

I'm not sure how feasible it is with our current codebase... I wonder if we can put the "index" on the right side? Getting inspiration from the Angular docs site and possibly some other docs site as well.

<img width="828" alt="截屏2020-02-14下午5 59 44" src="https://user-images.githubusercontent.com/25489897/74575138-d86b1e00-4f53-11ea-8478-1f50840028f1.png">

[2020-02-14 23:01] dhmlau commented on #4632
I think @raymondfeng has some feedback on the docs site before.

[2020-02-15 01:30] pratikjaiswal15 commented on #4644
Okay, thank you

On Fri, 14 Feb 2020, 9:46 pm Agnes Lin, <notifications@github.com> wrote:

[2020-02-15 06:34] achrinza commented on #997
It's been a while since this issue was visited;

@bajtos - is there any reason we need lb4 to transparently handle encrypting the cookies? IMO this reduces flexibility and interoperability and should be handled by the controller and be up to the user to encrypt.

[2020-02-15 06:39] achrinza commented on #4644
@agnes512 AFAIK `filterBuilder` this isn't documented. Should this go under `Working with Data`?

See #2577

[2020-02-15 06:51] achrinza commented on #4632
I agree that it's a nice-to-have; thought a discussion thread on it can get the ball rolling.

If there's too much tech debt on the current codebase, then it's a good opportunity to rework it - maybe with a front-end framework such as [Next.js](https://nextjs.org/) to make it easier to manage.

We can look into PoC to check its feasibility.

[2020-02-15 07:58] achrinza commented on #4573
Just to clarify; are we simply adding a `refreshToken` function to the interface?

If so, we should land this before the `loopback4-shopping-example` PoC.

[2020-02-15 11:21] LonguCodes opened #4656 "Dependency injection into parent classes"
## Steps to reproduce
Base Class
[code]

Deriving Class
[code]
## Current Behavior

Error in the console:

Cannot resolve injected arguments for DerivingRepository.[2]: The arguments[2] is not decorated for dependency injection, but a value is not supplied

## Expected Behavior

## Link to reproduction sandbox

## Additional information

linux x64 10.16.3

├── @loopback/authentication@3.2.4
├── @l

[2020-02-15 16:00] dhmlau commented on #3324
Closing due to inactivity.

[2020-02-15 16:00] #3324 closed

[2020-02-15 21:32] dougal83 commented on #4425
@bajtos (3) was the same.  Thanks for doing all the hard work! ;)

[2020-02-16 12:28] #4656 closed

[2020-02-17 04:47] mastermunj commented on #4645
I have created an [example repo](https://github.com/mastermunj/lb4-property-decorator) that can showcase the issue better.

Please have a look at schema generated for attributes `mobiles1`, `mobiles2` & `mobiles3` of model `Person`.

* `mobiles1` uses `@property.array` which internally maps `jsonSchema` to `items` property of generated schema.
Please note, how `uniqueItems` property also becomes p

[2020-02-17 06:47] AnanthGopal commented on #4624
The below URL has the download option loopback  "https://stackoverflow.com/questions/29372470/downloading-file-from-strongloop-loopback/31389086#31389086", I need this same option in loopback 4

[2020-02-17 08:42] achrinza commented on #4624
@AnanthGopal Something similar can be accomplished via the controller:

[code]

^ This above code assumes a `File` model with 2 columns: `Id` and `Value`.

`Content-Disposition: attachment` should be enough to encourage a web browser to download the file.

I haven't tested this code, but this is what I remember from the top of my head.

[2020-02-17 08:54] achrinza commented on #4624
@AnanthGopal Something similar can be accomplished via the controller:

[code]

^ This above code assumes a `File` model with 2 columns: `Id` and `Value`.

`Content-Disposition: attachment` is usually enough to encourage a web browser to download the file.

[2020-02-17 10:48] achrinza commented on #4624
Related: #2230

[2020-02-17 10:57] dougal83 commented on #4645
Ref: [Openapi Spec - Array, Unique items](https://swagger.io/docs/specification/data-models/data-types/#uniqueItems)

@mastermunj I see what you're aiming for here, an array with unique items but I'm not sure that Loopback supports this particular route to achieve it.  Although you can update the schema to add `uniqueItems`, the database might not apply any restriction, hence migration failing.  W

[2020-02-17 11:54] mastermunj commented on #4645
@dougal83 Loopback does support this validation at rest level through ajv.

The point I am trying to make here is that if I use `@property.array` wrong schema gets generated. If I use `@property` with `type:array` migration fails with the error shared earlier.

Also, migration error states that `type` is invalid for property and not that property schema has an extra attribute.

[2020-02-17 12:36] malek0512 commented on #1863
I'm interested by a solution for this feature.
@mrmodise Can you share alternative ?
Thanks in advance.

[2020-02-17 12:47] bajtos commented on #4584
FYI: here is our recommended VSCode setup: https://github.com/strongloop/loopback-next/blob/master/docs/site/VSCODE.md

[2020-02-17 13:50] derdeka commented on #4610
@dhmlau AFAIK there is no coffeeshop app written in `lb4` yet. Correct?

[2020-02-17 13:56] derdeka commented on #4584
Thanks @bajtos @dougal83, i forgot to install prettier plugin on my new laptop. Anyway, i think the .vscode setting might be helpful.

[2020-02-17 13:56] #4584 closed

[2020-02-17 15:13] agnes512 commented on #4644
@achrinza Do you mean the page that we are having for LB4?

[2020-02-17 15:27] achrinza commented on #4644
@agnes512 yup

________________________________
From: Agnes Lin <notifications@github.com>
Sent: Monday, February 17, 2020 11:13:20 PM
To: strongloop/loopback-next <loopback-next@noreply.github.com>
Cc: Rifa Achrinza <rifa@achrinza.com>; Mention <mention@noreply.github.com>
Subject: Re: [strongloop/loopback-next] Loopback 4 filters not working with multiple relations (#4644)

This email was sent f

[2020-02-17 15:37] agnes512 commented on #4644
That's a good suggestion! `filterBuilder` would be helpful to simplifies the query syntax for use cases like this.

[2020-02-17 17:40] #4425 closed

[2020-02-18 09:04] achrinza opened #4672 "Remove CLI-generated `booterOptions`"
Currently, the lb4 `CLI` generates `booterOptions` in `application.ts`:

[code]

## Suggestion

`this.bootOptions.controllers` should be removed from the generated code as the default configuration is identical.

## Use Cases

Removing this configuration will remove the clutter in the CLI-generated code and make it easier for new developers to understand and utilize LoopBack 4.

A comment can be l

[2020-02-18 10:09] pktippa commented on #4633
thanks @agnes512 with extending `Entity` it works. thanks.

[2020-02-18 10:09] #4633 closed

[2020-02-18 11:36] achrinza commented on #4224
+1 for better documentation. Currently [`sandbox/README.md](https://github.com/strongloop/loopback-next/blob/7fe694865b337c99beb25afc581c5429fb758746/sandbox/README.md) states to run the following commands:

[code]

However, this would lead to the following error (`npm start` was used, but the issue is the same):
[code]

The command should instead be:

[code]

[2020-02-18 12:37] bajtos commented on #4672
Hi @achrinza, thank you for opening this discussion.

My argument for introducing `this.bootOptions` was to make it easier for new developers to understand what is the default behavior and also learn how to customize conventions used by our bootstrapper (what options are available). Instead of having to read through (possibly long) documentation, users can immediately see all information right in

[2020-02-18 12:47] bajtos opened #4673 "linter: package metadata and registration"
When adding a new package, it's often easy to forget about the checklist we have in our docs ([Adding a new package](https://github.com/strongloop/loopback-next/blob/master/docs/site/DEVELOPING.md#adding-a-new-package)).

Let's implement a linter that will verify that all packages in our monorepo are registered in all required places and have the expected metadata in their `package.json`.

## Acce

[2020-02-18 12:56] achrinza commented on #4645
From what I can gather:

1. The following code results in a nested `items` which is invalid schema. This is due to `jsonSchema` being mapped directly to `items`. This is expected behaviour. Though we could use some better typings to prevent this from being accepted.
[code]
2. `uniqueItems` outside of `jsonSchema` is ignored. This is expected behaviour.
3. `uniqueItems` is placed within `items` in

[2020-02-18 13:19] bajtos opened #4674 "eslint: forbid boolean function arguments"
Function arguments of type `boolean` are considered as a bad practice because they make the code difficult to read and reason about.

Consider the following code:

[code]

What does the `true` flag mean? There is no way to tell when reading the code using the function, we have to look up the API definition and/or implementation to understand.

Compare with the current implementation which is follo

[2020-02-18 13:23] bajtos opened #4675 "eslint: disallow non-null assertions after optional chain expressions (no-non-null-asserted-optional-chain)"
Quoting from eslint docs for [no-non-null-asserted-optional-chain](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-non-null-asserted-optional-chain.md):

Using non-null assertions after an optional chain expression is wrong, and introduces a serious type safety hole into your code.

## Acceptance criteria

- [ ] A commit modifying our eslint

[2020-02-18 13:35] bajtos opened #4676 "build: enable importHelpers in tsconfig and add tslib to dependencies"
TypeScript has quite few helper functions that are by default emitted in every code produced by the compiler. For example, the Todo controller from our `examples/todo` application contains the following header in the transpiled output:

[code]

Let's avoid this extra boilerplate by adding [`tslib`](https://www.npmjs.com/package/tslib) package to project dependencies and telling the compiler to loa

[2020-02-18 17:29] agnes512 commented on #3602
Note that even #4270 is merged, the flag is only preserved at the juggler level. MySQL connector needs to be updated ( PostgreSQL is able to auto generate uuid now)).

[2020-02-18 19:38] #855 closed

[2020-02-18 20:22] agnes512 commented on #4372
So far the issue is only found in Postgres. MySQL and in-memory db work as expected.
Might need to check Postgres' query syntax to see how it handles `null` value. MySQL repository might be a good reference.

[2020-02-18 23:07] dhmlau commented on #2672
There are 2 references of the request module with https://www.npmjs.com/package/request in docs. We may want to update that as well:
1. https://loopback.io/doc/en/lb4/Calling-other-APIs-and-web-services.html#datasource-for-rest-service
2. https://github.com/strongloop/loopback-next/tree/master/packages/http-caching-proxy#basic-use

[2020-02-19 05:33] #2672 closed

[2020-02-19 14:38] #2244 closed

[2020-02-19 15:54] achrinza commented on #3730
Does [Extending OpenAPI specification](https://loopback.io/doc/en/lb4/Extending-OpenAPI-specification.html) resolve the issue?

[2020-02-19 15:56] hacksparrow commented on #3952
@bajtos how about this alternate interface?

[code]

The hooks are not hard-coded in the repository class, you add them as required using an instance method.

[2020-02-19 16:04] raymondfeng commented on #2672
This comes from `loopback-connector-rest`. I'm not sure if we want to migrate to `axios` at this moment.

Fixed.

[2020-02-19 16:24] #4675 closed

[2020-02-19 23:58] pernsdorff commented on #3027
When you are using Windows and VSCode, you are using PowerShell so you need follow PS commands for environment vars  https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7

[2020-02-20 02:16] #1078 closed

[2020-02-20 02:16] #2141 closed

[2020-02-20 05:33] #4224 closed

[2020-02-20 09:59] mrbatista commented on #3325
@raymondfeng The [JSON Schema draft-07](http://json-schema.org/latest/json-schema-validation.html) define a new keywords `readOnly` and `writeOnly` keywords. AJV allow to define this keywords and to add custom validation. See the [Annotation keywords](https://github.com/epoberezkin/ajv#annotation-keywords) section.
Can this be a good starting point?

[2020-02-20 10:27] achrinza commented on #4674
Is `no-inferrable-types` the correct eslint rule? AFAIK it's to prevent unnecessary verbosity when declaring a variable or parameter type.

Though it's still a good rule to enable nonetheless.

[2020-02-20 10:36] praneshvrp1396 opened #4690 "Cannot migrate database schema Error: The connector has not been initialized."
Have created a datasource and all my db operations are working fine. But I am unable to run migrate script. I am getting the error as `Cannot migrate database schema Error: The connector has not been initialized.`
I attach my config.json for the datasource below.

[code]

[2020-02-20 12:00] JakubMifek commented on #3730
Hi @achrinza thank you for taking interest.

I guess it would, assuming that the `spec` parameter is complete openapi specification containing all endpoints where I'd be able to find my concrete endpoints and extend their specification using the parameter.

In the meanwhile I already solved the issue (sorry for not posting) by creating a bootscript which runs after the application boot but before

[2020-02-20 12:00] #3730 closed

[2020-02-20 12:15] achrinza commented on #4690
Hi @praneshvrp1396, as per-[bug report template](https://github.com/strongloop/loopback-next/issues/new?labels=bug&template=Bug_report.md), could you please provide a reproduction sandbox on GitHub so that we can better spot the issue?

[2020-02-20 13:00] praneshvrp1396 commented on #4690
## Steps to reproduce
Discover a model from a created Datasource.

Edit the existing migrate.ts as:
[code]
Run `npm run migrate`

## Current Behavior

D:\FoxSense\pranesh-ba\birth-assist-server>npm run migrate

Cannot migrate database schema Error: Cannot migrate models not attached to this
 datasource: Coupon
    at D:\FoxSense\pranesh-ba\birth-assist-server\node_modules\loopback-datasour
ce-jugg

[2020-02-20 13:36] achrinza commented on #4690
@praneshvrp1396 Thanks for the extra info;

Taken from the [Todo example](https://github.com/strongloop/loopback-next/tree/36133b4d869983cd90b5216de5f9201ebe9108a2/examples/todo), `migrate.ts` should look similar to this (using `Application` instead of `juggler.Datasource` directly):

[code]

[2020-02-20 15:17] praneshvrp1396 commented on #4690
Thanks for the response. I replicated the same and I am getting the below error when I run `npm run migrate`
[code]

[2020-02-20 15:46] bajtos commented on #2672
IMO, we need to migrate all actively-developer connectors to use Axios instead of request. Here is why:

[code]

I am proposing to release that change in a new major version, to allow people to stick with `request` if they prefer. (Plus to avoid breaking behavior of existing application in edge cases where Axios and Request behave differently.)

[2020-02-20 17:53] dhmlau commented on #2428
Closing as done.

[2020-02-20 17:53] #2428 closed

[2020-02-20 18:13] raymondfeng commented on #2292
FYI: We use commitlint with Husky and commitlint has https://github.com/conventional-changelog/commitlint/blob/master/docs/reference-rules.md#signed-off-by that we can use to check DCO.

[2020-02-20 19:29] #3737 closed

[2020-02-20 22:10] deepakrkris commented on #3810
@bajtos I find that lb4 import-lb3-models command already supports including connector metadata in property definitions (I checked out of curiosity because the existing code does not restrict flowing of db metadata from lb3)

[2020-02-20 22:13] deepakrkris commented on #3810
I was able to create the following typescript class from the LoopBack 3x db example  , Todo model json
[public.todo.json.txt](https://github.com/strongloop/loopback-next/files/4233234/public.todo.json.txt) ,

[code]

[2020-02-20 22:15] deepakrkris commented on #3810
I tried changing the property name of desc to desc2 just to check if the column metadata is used indeed, and it all works perfectly.

[2020-02-20 22:35] raymondfeng commented on #4674
@achrinza `no-inferrable-types` is already enforced to avoid something like `const x :  string = 'abc';`.

[2020-02-21 00:23] achrinza commented on #4690
This might be related: https://github.com/strongloop/loopback-connector-postgresql/issues/34

[2020-02-21 00:46] mschnee commented on #4300
Everything is merged, so we're good to go :)

[2020-02-21 00:46] #4300 closed

[2020-02-21 05:28] achrinza opened #4697 "Docs on creating an lb4 app using bottom-up approach"
Related stale issues: #1512 #1513 #1514 #1515
Similar PR: #4629

The docs do not provide a method to build lb4 apps using a bottom-up approach. This can make it difficult for new users to understand the responsibilities of the different components in lb4.

* This means users may have to dig through previous GitHub issues, pull requests and blog posts.
* As a result, the users' ability to leverage

[2020-02-21 05:38] #3227 closed

[2020-02-21 06:33] #4676 closed

[2020-02-21 07:56] bajtos commented on #3952
@hacksparrow can you please clarify how is your interface dealing with the following problem?

Also IMO, setup of operation hooks is a responsibility of per-model repository class (e.g. `ProductRepository`), it's not a responsibility of repository consumers (controllers, etc.).

[2020-02-21 10:16] RipkensLar opened #4705 "MariaDB - Temporal Data Tables feature"
## Suggestion

Hi, since the loopback-connector-mysql repository has like zero activity, I am asking this here as well because we need this feature in production in the future.
My original issue: https://github.com/strongloop/loopback-connector-mysql/issues/409

I am planning on using temporal data tables with MariaDB.

## Use Cases and Examples

I am unsure if this is already implemented or possi

[2020-02-21 11:03] praneshvrp1396 opened #4708 "Id property not auto generating in Loopback 4"
## Steps to reproduce
With `settings: {idInjection: true, postgresql: {schema: 'public', table: 'user'}}`
[code]
## Current Behavior

[code]

## Expected Behavior

User created sucessfully

## Additional information

Id is generated when I manually turn on the Identity constraint in table properties via **pgadmin** . But I need the same to be done via running `migrate.ts` of the app.

[2020-02-21 11:09] Tronix117 commented on #4697
Agreed, the doc needs to be improved a lot, there is a lot of room to make clean code, however it's really hard to do it due to lack of documentation. For exemple : https://loopback.io/doc/en/lb4/Services.html does not explain what is a service for, and what are its capabilities. It needs a lot of efforts to understand compared to other framework making it way simpler to start from scratch.

[2020-02-21 12:00] hacksparrow commented on #3952
@bajtos I am yet to start working on a solution for preventing registration of an operation hook multiple times, but it would be the same for whatever interface we choose ultimately.

I am wondering, since the repository instance is destroyed after a request is responded and a new one created for each request. Where is the possibility of installing the same hook multiple times? Unless it is done i

[2020-02-21 14:40] bajtos commented on #3952
DefaultCrudRepository needs a backing `PersistedModel` attached to the datasource in order to perform CRUD operations. The datasource instance is long-living (almost like a singleton) and so are the PersistedModel classes attached to it.

At the moment, DefaultCrudRepository checks if the backing PersistedModel has been created before (by another instance created previously) and does not recreate

[2020-02-21 14:51] bajtos commented on #2292
There are multiple ways how to achieve that, see https://jjasghar.github.io/blog/2016/10/04/signing-commits-in-git for a good overview.

I am personally using the `~/.gitmessage` approach.

Further reading:
- VSCode supports automatic sign-offs, see https://github.com/microsoft/vscode/pull/10410
- [git docs for `commit.template`](https://www.git-scm.com/book/en/v2/Customizing-Git-Git-Configuration

[2020-02-21 15:10] dougal83 commented on #4386
@jannyHou For clarification, is this story to add jwt strategy /w enhancer to base project generator template?

[2020-02-21 15:35] raymondfeng commented on #2672
To be fixed:

- [ ] https://github.com/strongloop/strong-soap/issues/262

[2020-02-21 17:19] agnes512 commented on #4708
@praneshvrp1396 Hi, from the auto-migration section of the README file https://github.com/strongloop/loopback-connector-postgresql#auto-migrateauto-update-models-with-foreign-keys, I think the following setting should work:
[code]
Notice that the `id` should have `required: false`. This is because the id is generated in the database. We don't need to include it in the post request.

Could you try

[2020-02-21 18:19] dhmlau commented on #4435
Closing as resolved.

[2020-02-21 18:19] #4435 closed

[2020-02-22 03:10] achrinza commented on #3939
This is probably fixed by #4623

[2020-02-22 08:15] getlarge opened #4712 "Parsing OpenAPI callbackObject declared in controllers"
## Suggestion

In a Loopback 4 controller, i described an operation and also included CallbackObject. I was hoping that the `openapi.json` generated would contain the correct translation, but the schema declared in requestBody, responses ... are always empty (see below).

[code]

So i'm wondering to which package it is related to ? ( openapi-spec-builder, openapi-v3, rest ?)
And where the changes

[2020-02-22 13:34] dougal83 commented on #4581
Closing.  Feel free to reopen if necessary.

[2020-02-22 13:34] #4581 closed

[2020-02-22 13:35] dougal83 commented on #4388
Closing.  Feel free to reopen as necessary.

[2020-02-22 13:35] #4388 closed

[2020-02-22 13:40] achrinza commented on #4705
@RipkensLar Thanks for the feature suggestion! I'm not too familiar with MySQL/MariaDB, but AFAIK this is a MariaDB-exclusive feature.

If that's the case, I think this (along with the other diverged features) may be a good reason for a separate MariaDB connector.

[2020-02-22 15:49] achrinza commented on #981
I realized that this issue was opened just before submitting a new issue, here's a snippet of it

---

Currently, the community contributions can only be viewed from [GitHub contributor graph](https://github.com/strongloop/loopback-next/graphs/contributors). This may be a bit too obscure, especially since it sorts by commit count by default.

## Suggestion

I think that utilizing the [@all-contrib

[2020-02-23 05:55] #2123 closed

[2020-02-23 07:24] sbeka opened #4731 "How connect only localhost for MySQL?"
I can't connect to MySQL database via 127.0.0.1. My provider says could connect via **localhost**.
In mysql.datasource.config.json writed localhost, but loopback try connect to 127.0.0.1.
How connect only to localhost? Version loopback: 4.

**Trying to install on Plesk.**

[2020-02-23 15:03] gtbono commented on #110
Hi @bajtos I want to contribute!

[2020-02-23 16:22] achrinza opened #4717 "Add a "Guides" section"
## Suggestion

Add a "Guides" section in the docs, just like how there is a "Examples" and "Core Concepts" section.

## Use Cases

"Core Concepts" can only provide information in a vacuum (within that concept).

"Examples" provides a complete guide to making a specific application.

Hence a "Guides" section would fill the gap for more general *detailed* information on common scenarios, such as:

-

[2020-02-23 23:47] dougal83 opened #4721 "Extending existing model in controller"
I'm attempting to extend a model in the same fashion as below:

https://github.com/strongloop/loopback4-example-shopping/blob/bc151bbda5a8c2f80067c6887df63b69dd0012b3/packages/shopping/src/controllers/user.controller.ts#L44-L51

However extending an existing model by adding properties does not seem to function as in the above example.  Is there something that I am missing?

Example Repo:
https://g

[2020-02-24 05:42] praneshvrp1396 commented on #4708
And as an addition, if the `id `property is generated, where can we specify the range of the `id `field?

[2020-02-24 05:47] praneshvrp1396 commented on #4708
I tried and I am getting the same error.

[2020-02-24 05:53] praneshvrp1396 commented on #4690
Got this fixed.
I tried migrating from a existing db which I created via `pgadmin `where I did not fill the `length` property of the `character varying` type. This lead to all confusions.

[2020-02-24 05:53] #4690 closed

[2020-02-24 07:59] asaurav025 opened #4726 "Not able to upload file to other service from loopback application"
## Steps to reproduce

Create a rest service which make post call to upload file to other external service.
Create corresponding controller to upload file the current system and pass on the file to the external service by making call to upload file.

## Current Behavior

form-data/multipart type is not able to define proper boundary to request body.

## Expected Behavior

I expected the file to ge

[2020-02-24 13:57] agnes512 commented on #4708
@praneshvrp1396 I edited my comment https://github.com/strongloop/loopback-next/issues/4708#issuecomment-589749770 a bit. Sorry that I missed `generated: true`.

Could you try `npm run migrate` and `npm start` again? You should be able to see something like:
<img width="965" alt="Screen Shot 2020-02-24 at 8 55 55 AM" src="https://user-images.githubusercontent.com/50331796/75158125-793fa300-56e3-11

[2020-02-24 14:40] dougal83 commented on #4708
@agnes512 Sorry, I should have queried that... I assumed that you knew something I did not! 😄

[2020-02-24 14:54] achrinza commented on #4731
@sbeka In most OSes, `localhost` is an alias for `127.0.0.1`. You can test this with the following commands:

**Windows**
[code]

**Linux**
[code]

[2020-02-24 14:59] agnes512 commented on #4731
Second @achrinza 's comment.

@sbeka  If that doesn't work for you, could you provide `datasource.config.json` file? Here's how we usually set up the database with MySQL connector:
[code]

[2020-02-24 15:43] bajtos commented on #3813
It turns out the problem of referencing existing models at LB4 side has been already solved by `lb4 relation` generator, models are distinguished by their names which are expected to be unique. When it comes to importing LB3 models to LB4, we preserve LB3 model names when defining LB4 model classes.

I am proposing to assume that the base model is imported using the same process as the currently i

[2020-02-24 18:40] dhmlau commented on #4717
@achrinza, thanks for the suggestion. Would the "Guide" you suggested be something similar to the [Usage Scenario](https://loopback.io/doc/en/lb4/Usage-scenarios.html) in the docs?

[2020-02-24 18:44] dhmlau commented on #4640
@SephReed, did @raymondfeng's comment resolve your question?

[2020-02-24 19:24] SephReed commented on #4640
I got it eventually.  The setup I was working with had an api host overwrite somewhere unexpected.

[2020-02-24 19:24] #4640 closed

[2020-02-24 22:10] derdeka commented on #4726
@asaurav025 I had a short look into your sample repository. I think the missing part to make the upload working is registering the multer express middleware, for example `expressApp.use(multer.any())`. In the upload acceptance test, this is done inline here: https://github.com/strongloop/loopback-next/blob/b68c256dc8808ae8746be2189ce5f1015ce6b5a2/packages/rest/src/__tests__/acceptance/file-upload/

[2020-02-25 02:08] dhmlau commented on #433
PR https://github.com/strongloop/loopback-next/pull/4679 has landed. Closing as done.

[2020-02-25 02:08] #433 closed

[2020-02-25 05:01] praneshvrp1396 commented on #4708
Getting the same error even after doing the required change as you said.

[2020-02-25 07:45] bajtos commented on #3810
That's awesome, it means we have less work to do 🚀

Your updated Acceptance criteria looks good to me.

[2020-02-25 09:02] achrinza commented on #4721
Taken from the reproduction sandbox:

[code]

The `getModelSchemaRef` is still referencing the base model, `User`. Changing it to `NewUserRequest` fixes the issue:

![image](https://user-images.githubusercontent.com/25147899/75231565-a2018e80-57f0-11ea-983e-c04efa7523d2.png)

[2020-02-25 10:12] asaurav025 commented on #4726
@derdeka I am able to upload file to my application perfectly fine but requirement is to upload that file to other service internally(through code) after some modification by calling an api exposed by that service.

[2020-02-25 10:26] dougal83 commented on #4721
lol, no worries. I've been looking over the [Shopping example](https://github.com/strongloop/loopback4-example-shopping/blob/bc151bbda5a8c2f80067c6887df63b69dd0012b3/packages/shopping/src/controllers/user.controller.ts) but couldn't figure it out.  Either I'm a dummy or it's worth some documentation(if I've not missed that too).

[2020-02-25 13:46] L-Luciano opened #4738 "loopback/authentication-passport SAML"
## Steps to reproduce

Configure loopback/authentication-passport with saml

configuredSamlStrategy(): Strategy {
    return new Strategy(
      {
        path: '/api/login/callback',
        entryPoint: 'http://localhost:8090/auth/realms/osmos/protocol/saml',
        issuer: '*****'
      },
      this.verify
    );
  }

## Current Behavior

Error : 500 TypeError: Cannot read property 'samlFallba

[2020-02-25 13:54] agnes512 commented on #4708
@praneshvrp1396  Would you like to post an example repo on your account that replicates the issue you are experiencing so that I can take a closer look?

[2020-02-25 14:40] achrinza commented on #4738
Hi, thanks for the report. Could you provide a minimum reproduction sandbox repo on GitHub so that we could look into the code?

________________________________
From: Lucio <notifications@github.com>
Sent: Tuesday, February 25, 2020 9:47:03 PM
To: strongloop/loopback-next <loopback-next@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [strongloop/loopback-next] loopback

[2020-02-25 15:14] L-Luciano commented on #4738
I Had some files in sandox :

https://repl.it/repls/DamagedSuperiorFiles

I use my saml strategy on the last route in user controller

Sorry, I can't push my repo on github. If you need more, tell me which files you need.

Regards,

[2020-02-25 15:26] dougal83 commented on #4721
![image](https://user-images.githubusercontent.com/2735881/75261413-e8e88780-57e2-11ea-847f-ecb9ded0c1cd.png)

Debug shows the extended class refers to the `User` `modelName` instead of the expected `NewUserRequest`.

[2020-02-25 15:29] #3810 closed

[2020-02-25 15:38] L-Luciano commented on #4738
Additional Info :
I opened a bug in passport-saml plugin.
I suppose they can fix the pb too.
https://github.com/bergie/passport-saml/issues/424

[2020-02-25 17:38] dhmlau commented on #4289
Closing as resolved.

[2020-02-25 17:38] dhmlau commented on #4289
Closing as resolved.

[2020-02-25 17:38] #4289 closed

[2020-02-25 18:12] dhmlau commented on #4487
Capturing the conversation with @raymondfeng:
we can use one locale for tests and probably force it for `npm test` in package.json.

[2020-02-25 18:12] dhmlau commented on #4487
@derdeka, would it be a feasible solution for you?

[2020-02-25 19:13] dhmlau commented on #4521
@bajtos @jannyHou, I'd like to continue the discussion from https://github.com/strongloop/loopback-next/pull/4571#discussion_r383710046 of having a reusable extension/component for the JWT authentication. If that's what we're going to create, should we get that component created first before working on this docs?

cc @raymondfeng

[2020-02-25 20:12] praneshvrp1396 commented on #4708
Really sorry. What does it mean to post an example repo?  Since I am new to github..not familiar with terminalogies

[2020-02-25 20:33] agnes512 opened #4744 "Identifier gets discarded after running migration"
## Current Behavior

If we run migration on model:
[code]
and check the DB:
`Order`, it doesn't have the identifier:
<img width="706" alt="Screen Shot 2020-01-28 at 11 02 33 AM" src="https://user-images.githubusercontent.com/50331796/73281261-b0db2e00-41bd-11ea-860d-e4b77b1ea382.png">

We need to specify the column setting (column name esp, should be in **_lowercase_**) for the id property to have

[2020-02-25 20:35] agnes512 commented on #4472
I am closing this issue as no response. The migration isssue is being tracked in #4744

[2020-02-25 20:35] #4472 closed

[2020-02-25 20:42] agnes512 commented on #4644
I am closing the issue. Feel free to reopen it if you have any questions, thanks!

[2020-02-25 20:42] #4644 closed

[2020-02-25 21:56] dougal83 commented on #4708
Don't worry about it, we are new to Git at some point.  Glad you are here! :)  By example repo, it is meant to upload an example of your project/issue.  The following guide should help:

Here is a guide: https://kbroman.org/github_tutorial/pages/init.html

[2020-02-26 00:03] derdeka opened #4747 "feat(lb3-compat): Loopback3 compatibilty extension/package"
## Suggestion

I suggest to create a `@loopback/lb3-compat` package to reimplement the builtin `lb3` models and behavior with `lb4` components like `interceptors` etc.

## Use Cases

To support `lb3` migrations it might be helpful to rebuild the `lb3` behavior and models in `lb4` for a faster migration path for exisiting applications. It does not make sense that each user needs to do this by going

[2020-02-26 05:53] #2447 closed

[2020-02-26 05:57] achrinza commented on #2447
@zhang-shengping Has the issue been resolved? If not, I think it would be best to keep this issue open should we revisit this issue.

[2020-02-26 06:17] Jtmaurya commented on #4472
Ok, thanks for answering

[2020-02-26 06:27] achrinza commented on #4717
@dhmlau You're right; they're similar. Initially I thought that "Usage Scenarios" was a high-level overview of LoopBack 4 features.

Should we rename it to "Guides"? It seems to be better-associated to the purpose of the section. I'm not not hard-set on the change, but that's my suggestion.

[2020-02-26 08:47] RipkensLar commented on #4705
System-versioned tables are SQL:2011 standard, but temporal data tables are MariaDB-exclusive.

[2020-02-26 09:07] derdeka commented on #4487
Forcing a locale in the tests would solve to make all tests passing on my localized operating system. This would really improve the developer experience.

When using a api server from a frontend like `angular` i would **not expect** to have error messages in the locale of the server's operating system. I think it would be better to request a specific locale with a custom parameter or http header (

[2020-02-26 09:36] derdeka commented on #4717
@achrinza Initially when reading your ticket i thought you would suggest a kind of FAQ to support answering user issues. So you want full featured "Guides"?

[2020-02-26 11:24] achrinza commented on #4717
@derdeka A FAQ wasn't what I initially had on mind, but I think we can create a story for that: A FAQ may be able to fill in a different gap in the docs.

[2020-02-26 13:04] raw-ham opened #4751 "ID automatically generated by PostgreSQL becomes undefined"
A situation similar to https://github.com/strongloop/loopback-next/issues/3749

## Steps to reproduce

1. `lb4 datasource`
2. `lb4 discover`
3. `lb4 repository`
[code]
4. `lb4 controller`
[code]

5. Modify model
[code]

## Current Behavior

Do the following

[code]

Result

[code]

The instance is being created in the database, but it somehow failed to map to the property.

## Expected Behavior

I

[2020-02-26 14:51] dhmlau commented on #3935
Discussion with @hacksparrow:
It seems like the scope of this task is not clear. A few things to figure out:
- does it make sense to work on this task now while we're still working on other parts of the migration guide?
- does it make sense to break the task down into a smaller pieces first?

[2020-02-26 14:57] agnes512 commented on #4751
@raw-ham Hi, the model definition looks legit to me. I think the problem is caused by id auto-generation. Could  you check what's your default value for the identifier  of table `testTable` with query:
[code]

If the id property in your table is _not_ autogenerated (e.g default value of identifier is `SERIAL`), the result of the operation
[code]
will be `testId: undefined`.

There are three ways t

[2020-02-26 15:38] dhmlau commented on #4717
Renaming "Usage Scenarios" to "Guides" LGTM. Let me see if I get the differences from all the categories:
- Key concepts: explain what certain concept is and how it relate to other concepts
- Examples: just examples on how to do certain things. Not step-by-step instructions
- Tutorials: step-by-step instructions on how to to do
- Guide: "how-to" information.

I think:
- What we have in "Usage scen

[2020-02-26 16:28] raw-ham commented on #4751
@agnes512 Thanks for your answer

![image](https://user-images.githubusercontent.com/20364054/75362698-78358e00-58fc-11ea-96b9-6adaa93a5e72.png)

I can't do either fix.
Because I uses an already running DB.

No problem occurs if the DB column name is lowercase or snake case.
(No problem when using `lb4 discover`)

I think the problem is that `idColName` becomes` lowercase`.
https://github.com/stro

[2020-02-26 19:42] #4487 closed

[2020-02-26 20:35] jannyHou opened #4753 "Extract the jwt authentication to a local component for the auth migration example app"
## Suggestion

After creating the demo for JWT authentication in loopback4-shopping-example, and applied a similar auth system in loopback-example-access-control, we think it's time to extract the jwt authentication system into a separate [extension package](https://github.com/strongloop/loopback-next/tree/master/extensions), so that:

- jwt related services, bindings can be packed as a component

[2020-02-26 20:53] agnes512 commented on #4751
@raw-ham I can reproduce the issue, and it only happens in Postgres. I think it's still because of the identifier issue. And and weird thing is the workaround doesn't work anymore hm.

(workaround:
[code]
)

The only way to make it work now is to set the **_identifier column name_** to **_lowercase_** for Postgres, which seems a unpleasant bug to me. I forgot that Postgres has such an issue when I

[2020-02-26 21:18] dhmlau commented on #4697
@achrinza @Tronix117, thanks for the feedback. I'd +1 for any improvements on the docs. :)

@achrinza, I'm not sure if I understand what you mean by `Add a "writing from scratch" page for each components`. Would you like to submit a draft PR to continue the discussion? Even a skeleton with some brief description could help.

@Tronix117, for the [Services page](https://loopback.io/doc/en/lb4/Servic

[2020-02-26 22:24] alyhegazy opened #4754 "defining a nested array model property using @property.array decorator crashes the app"
## Steps to reproduce
define a nested array model property like the following

[code]

## Current Behavior
The app crashes with the error `Cannot start the application. Error: "items" property must be present if "type" is an array`

## Expected Behavior
The nested array property should be defined without problems. Would be nice to also allow defining the type of the nested array for example `@prop

[2020-02-27 00:14] dhmlau commented on #981
+1
Does it show all the contributors (since the beginning of this repo)? If yes, it will be 100+. It might be good just to show the pictures? I saw it in some repos but forgot where it is.

@strongloop/loopback-maintainers, WDYT?

[2020-02-27 00:17] raw-ham commented on #4751
@agnes512

Yes, there is no other solution. So I am in trouble.

Thank you very much! Please comment if you need more information.

[2020-02-27 00:21] dhmlau commented on #2399
Closing due to inactivity.

[2020-02-27 00:21] #2399 closed

[2020-02-27 00:28] frbuceta commented on #981
Something like this?
https://frbuceta.github.io/restify-jwt-community/#contributing
https://github.com/frbuceta/restify-jwt-community/blob/master/docs/index.md

[2020-02-27 01:56] agnes512 commented on #4751
Debug note:
`juggler-model.definition: ModelDefinition.prototype.idColumnName` -(`testId`)> `juggler-DataSource.prototype.idColumnName` -(`testId`) > `connector-SQLConnector.prototype.idColumn` -( it calls dbName function of each connector)> `postgres-connector-postgresql.js line 280` -> `testid`

[2020-02-27 03:51] nabdelgadir commented on #981
I like the first one https://frbuceta.github.io/restify-jwt-community/#contributing, although since there are 100+ contributors, would it be too cluttered?

[2020-02-27 04:40] achrinza commented on #981
I've created draft PR #4756 to show how it'd look like on this repo's README

[2020-02-27 05:02] #1152 closed

[2020-02-27 08:53] derdeka opened #4757 "feat: dump ddl changes into sql file instead of executing it on database"
## Suggestion

Add an option to `npm run migrate` to dump the resolved database structure changes into an `sql` file instead of executing it on the database.

## Use Cases

I think it's quite dangerous to run the migration on a production database and would like to review the necessary changes before it's executed on a production database or apply the sql file manually.

Currently i need to clone

[2020-02-27 11:14] achrinza opened #4758 "meta: utilize dynamic code analysis platforms"
Utilize platforms such as [LGTM](https://lgtm.com/), [CODEBEAT](https://codebeat.co/), [Guardrails](https://www.guardrails.io/) and/or [Codacy](https://www.codacy.com/) to provide dynamic code analysis on the project. This can help find issues in the codebase via commit checks and is free for FOSS projects.

These checks tend to take less time than the Travis pipelines hence it won't increase fric

[2020-02-27 11:26] dougal83 commented on #981
+1 to preference for first example.  I think this is one situation that looking cluttered and busy might be a good thing; demonstrating the volume of people deciding to get involved.

[2020-02-27 12:31] #3813 closed

[2020-02-27 15:00] jannyHou commented on #4753
- UPDATE: to simplify the story, let's first make it a local refactor for the auth migration example app: extract jwt authentication into a local component for it.

[2020-02-27 15:59] dhmlau commented on #981
Maybe it's just me. It shows broken images for me on the 2nd link.

@dougal83, any reason you don't want bot? I think it would be ideal to have bot to update the contributors for us, because it's hard to keep track manually.

[2020-02-27 16:04] deepakrkris commented on #4754
@alyhegazy ,  are you extending from another model, is `Model` a base class you have defined ?

can you try :

[code]
This seems to work for me.

[2020-02-27 16:06] deepakrkris commented on #4754
@alyhegazy please ignore my previous comment, I get the same error.

[2020-02-27 16:08] frbuceta commented on #981
Interesting, the truth is that it has never occurred to me to delete the bots

[2020-02-27 16:10] alyhegazy commented on #4754
@deepakrkris the problem is in the `property.array()` decorator. If you replace `@property.array(Array)` with `@property.array(Object)` for example it works fine.

[2020-02-27 16:35] dhmlau commented on #4757
There was a GH issue from @bajtos proposing this as well. It might capture some other useful information, however I cannot find it. :(

@bajtos, if you find it, please reference it. Thanks.

[2020-02-27 16:49] emonddr opened #4759 "Creating Mixins in LoopBack 4"
## Suggestion

Besides having a migration guide to bring lb3 mixins into lb4, we should have a document
describing how to create mixins in LB4.

Suggested in this comment: https://github.com/strongloop/loopback-next/issues/3951#issuecomment-592090828

## Use Cases

- How to write a mixin that's adding new properties to a Model class
- How to write a mixin that's changing persistence behavior provi

[2020-02-27 17:50] emonddr commented on #3951
As suggested by @bajtos , we should have a LoopBack 4 topic in our documentation on how to use mixins. https://github.com/strongloop/loopback-next/issues/4759

[2020-02-27 18:09] dhmlau commented on #4372
PR in progress: https://github.com/strongloop/loopback-connector-postgresql/pull/420.

[2020-02-27 18:10] dhmlau commented on #3935
@hacksparrow, let me assign it to you for now, because you indicated that you'll be looking into the scope of this task. Thanks.

[2020-02-27 18:16] dougal83 commented on #981
@dougal83 A bot to update the list is fine.  I'm just anti bot when it comes to their inclusion on a contribution list. 😄 Just a nice to have... I see bots as noise in this context.

[2020-02-27 18:33] deepakrkris commented on #4754
@alyhegazy we are not supporting nested arrays

https://github.com/strongloop/loopback-next/blob/master/packages/repository-json-schema/src/build-schema.ts#L221 .

But this is not well documented as well as the validation code above misses returning an appropriate error.

[2020-02-27 18:41] alyhegazy commented on #4754
@deepakrkris should I create a feature request for supporting it? As it's very likely to have nested arrays in a schema and it seems there's no way around it. What do you think?

[2020-02-27 18:50] deepakrkris commented on #4754
@alyhegazy , looks like we can achieve supporting nested arrays using json schema spec directly in @param() decorator . I am going to work on an example for this. If you are able to contribute with an example faster, that would be great as well.

[2020-02-27 19:14] jannyHou commented on #4751
For code change in `loopback-connector/sql/idColumnName()`, it will affect other sql connectors, but if that function is overridden in the other connector, it's fine.

[2020-02-27 19:30] jannyHou commented on #1873
Updated Acceptance Criteria:

- [ ] improve the docs so that this page is easier to find
- [ ] explain how to enable file upload in API explorer, see #2666
- [ ] create a full stack example on how to use it

[2020-02-27 23:58] Akhail commented on #436
What about this, I think it can work

export class CustomerController {

  @get('/:id', {responses: {...}})
  async findById(id: string, @inject(Http.RESPONSE) response): Response {
    return Object.assign(response, {
      statusCode: 200,
      headers: {...};
      content: {
        'application/json': customer,
      }
      links: {...};
    })
  }
}
because writeResultToResponse bypass res

[2020-02-28 00:51] deepakrkris commented on #4332
issue in description closed for post gres with strongloop/loopback-connector-postgresql#407 , following up for other connectors with https://github.com/strongloop/loopback-next/issues/4372

[2020-02-28 00:51] #4332 closed

[2020-02-28 03:25] deepakrkris commented on #4372
PR strongloop/loopback-connector-postgresql#420 is merged.

[2020-02-28 07:25] sbeka commented on #4731
the fact is that I am deploying the project to Plesk. There is no full access to the OS.

[2020-02-28 07:28] sbeka commented on #4731
as far as I understand it is not yet possible to install on Plesk?

[2020-02-28 08:13] achrinza commented on #4731
LoopBack does not require any additional software (other than a Node.js runtime).

I'm not familiar with Plesk, but based on [this article](https://support.plesk.com/hc/en-us/articles/360010318753-How-to-connect-to-MySQL-database-hosted-on-Plesk-server-from-remote-machine-), they would provide a public-facing IP address. Could you confirm that such an IP address is available?

It might be better t

[2020-02-28 13:19] bajtos commented on #4754
@deepakrkris I checked the acceptance criteria you proposed, they look great to me!

I like that you are including a task to improve the error message reported by LoopBack to make the problem easier to understand & troubleshoot for our users :+1:

[2020-02-28 16:39] #1721 closed

[2020-02-28 16:54] bajtos commented on #844
Added another pain point:

[2020-02-28 17:07] agnes512 opened #4763 "deprecate `DataSource.idColumnName` and leverage `SqlConnector.column / idColumn`"
Follow-up story of https://github.com/strongloop/loopback-connector/pull/171

Here is part of [the comment](https://github.com/strongloop/loopback-connector/pull/171#pullrequestreview-366387120):
- Considering that `DataSource.prototype.idColumnName` is effectively broken, I think we should mark it as deprecated and advise connectors to use `ModelDefinition.prototype.idName()` and `SqlConnector.pr

[2020-02-28 17:32] raymondfeng commented on #3336
Fixed by https://github.com/strongloop/loopback-next/pull/4745

[2020-02-28 17:32] #3336 closed

[2020-02-28 17:32] raymondfeng commented on #1749
Implemented by https://github.com/strongloop/loopback-next/pull/4745

[2020-02-28 17:32] #1749 closed

[2020-02-28 20:04] agnes512 opened #4767 "Monthly Milestone - March 2020 👾⏳🐨"
## Overview

- Migration guide: Stop starting, start finishing!

## Goals

- [ ] Migration guide https://github.com/strongloop/loopback-next/issues/3935

  _General runtime_

  - [x] Which official LB3 components are not planned in LB4 #3956 (from Feb
        milestone)
  - [ ] 🚶Migration Guide: Discuss life cycle differences between LB3 and LB4
        #3935 (from Feb milestone)

  _Authenticatio

[2020-02-29 04:03] achrinza commented on #4624
Hi @AnanthGopal, has the above solution helped resolve the issue?

[2020-02-29 04:09] achrinza commented on #4717
@derdeka Aparently there's already an [FAQ](https://loopback.io/doc/en/lb4/FAQ.html). It's referenced in the README but not on the lb4 sidebar.

[2020-02-29 11:35] #1758 closed

[2020-03-01 08:54] Drane commented on #4238
+1 thx

Might be a good idea to mention the sequence changes in the example README.md too.

[2020-03-01 09:09] achrinza commented on #4238
Hi @Drane, sounds like a good idea! Would you like to contribute with a PR? [Contribute to LoopBack 4](https://loopback.io/doc/en/lb4/code-contrib-lb4.html) has some helpful resources to get started.

[2020-03-02 14:16] dougal83 commented on #4386
I have a busy March so unassigned in case someone else wishes to help in the meantime.

[2020-03-02 15:00] dhmlau commented on #4543
Moved the slipped tasks to March. Closing Feb milestone. Thanks.

[2020-03-02 15:00] #4543 closed

[2020-03-02 18:47] jannyHou commented on #4520
close after merging https://github.com/strongloop/loopback-next/pull/4706
follow up stories:
- https://github.com/strongloop/loopback-next/issues/4753
- 2nd phase improvement for casbin persistence(TBD)

[2020-03-02 18:47] #4520 closed

[2020-03-02 23:13] pilare commented on #2624
Thanks for investigating that issue @emonddr. I was working on a strategy for keycloak and end up with the same problem.
[code]
@jannyHou any chances for some development or instructions on how to get past that?

I tried some other approaches like:
https://github.com/codejamninja/lb4-authorization
but they are not using @loopback/authentication, which I would like to be compliant with, and had som

[2020-03-03 03:23] #2336 closed

[2020-03-03 09:42] achrinza opened #4781 "Consolidate security advisories, revise security policy"
Currently, security advisories are inconsistently documented [here](https://loopback.io/doc/en/sec/index.html) and [here (for older lb2 vuln.)](https://loopback.io/doc/en/lb2/Security-advisories.html).

They are also [not known](https://github.com/nodejs/security-wg/blob/master/processes/third_party_vuln_process.md) to the Node.js Security WG.

This may obscure security advisories from the end-use

[2020-03-03 10:00] mrbatista opened #4782 "Skip default authorization strategy for custom paths"
## Suggestion
When set default authentication strategy the access to the rest explorer is forbidden.
This is particular situation when is not possible to use `@authorization.skip()` decorator.
My suggestions:

1. Add new property to rest explorer configuration to skip authorization strategy for path where rest explorer is mounted.

1. Add new property to `AuthenticationStrategy` configuration to s

[2020-03-03 10:23] achrinza commented on #4717
My concern with the Authentication and Authorizations docs is that they're quite overloaded with information. It may make it difficult to get a good overview on the different features an configuration styles of those components.

I think those pages (Authentication, Authorization) should be at a higher level - more focused on the features and configurations that are possible, and then linking to t

[2020-03-03 14:40] L-Luciano commented on #1863
Any news ?

[2020-03-03 16:23] #2350 closed

[2020-03-03 20:41] dhmlau commented on #3862
@hacksparrow, could you please add the acceptance criteria for this task? Thanks.

[2020-03-03 21:52] nabdelgadir commented on #3978
Sorry for the super delayed response! Do you have an example of a LB3 method that you'd want to access directly?

[2020-03-04 07:53] odykyi commented on #4759
---
lang: en
title: 'Mixin'
keywords: LoopBack 4.0, LoopBack 4
sidebar: lb4_sidebar
permalink: /doc/en/lb4/Mixin.html
---

It is a commonly used JavaScript/TypeScript strategy to extend a class with new
properties and methods.

A good approach to apply mixins is defining them as sub-class factories. Then
declare the new mixed class as:

[code]

Check article
[real mixins with javascript classes](h

[2020-03-04 08:38] achrinza commented on #4731
Hi @sbeka, has the issue been resolved?

[2020-03-04 10:01] sbeka commented on #4731
hi. unfortunately not yet resolved. the framework still wants to connect to 127.0.0.1.

reviewed all files, did not find in the framework where i can change this. so that the framework addresses the localhost

[2020-03-04 10:07] achrinza commented on #4731
Hi @sbeka, `localhost` is identical to `127.0.0.1` as per-previous comment. The issue is most probably something else.

[2020-03-04 10:10] sbeka commented on #4731
ok, got it!

[2020-03-04 15:11] frbuceta opened #4791 "BelongsTo does not work well with large IDs"
## Steps to reproduce

I have changed the names of the properties in a BelongsTo relationship, the id is now longer (example: '34006051'), and loopback has stopped giving me the relationship, now it doesn't include it anymore

The field by which the BelongsTo is made has id but still does not return the object.
Will the id be too big? I also have a HasMany and it works.

Before
[code]

Now
[code]

[2020-03-04 15:32] achrinza commented on #4791
I noticed that the `orders.id` values are truncated by 1 character (e.g. `3400606` vs `34006060`).

Is this also unexpected behaviour?

[2020-03-04 15:34] frbuceta commented on #4791
No, this is like this in the database. It is right

[2020-03-04 17:27] jgwinner commented on #1921
We're looking at upgrading from LB3 to LB4 now that ACL's work. So, this popped up again in our feed.

Did anyone get any further on it?

        == John ==

[2020-03-04 18:12] agnes512 commented on #4751
@raw-ham a fix is released in `loopback-connector@4.01.2`, the identifier column should be `testId`
with definition:
[code]
Could you try it out to see if it works on your end? thanks

[2020-03-04 23:41] #702 closed

[2020-03-05 09:57] hacksparrow commented on #3755
Not reproducible anymore.

[2020-03-05 09:57] #3755 closed

[2020-03-05 13:07] bajtos commented on #4781
Thank you @achrinza for taking the initiative to improve our docs related to security policy. I'll try to review the changes by the end of this week. I think we will need to get an approval from @raymondfeng and @dhmlau too.

[2020-03-05 17:49] #3951 closed

[2020-03-05 18:09] dhmlau commented on #4380
@dougal83, with PR #4554 merged, I checked with @jannyHou, she mentioned that this issue should be good to close.  If you don't object, I'm going to close this issue as done. Thanks.

[2020-03-05 19:15] dougal83 commented on #4380
Closing as done.

[2020-03-05 19:15] #4380 closed

[2020-03-05 19:50] bd100b opened #4800 "AssertionError [ERR_ASSERTION]: *** setRootDir: Intl dir not found"
## Steps to reproduce

1. Install LoopBack 4 CLI: `npm install -g @loopback/cli`
2. Create a new project:` lb4 app`

## Current Behavior

It throws me an error:
[code]

## Expected Behavior

A new project creating process should get started

## Additional information

My system:
Windows 10
NodeJS v13.10.1
npm 6.13.7

[2020-03-05 20:38] dhmlau commented on #4800
@bd100b, thanks for reporting this issue. We've published `@loopback/cli@2.0.1` to fix this problem. Could you please give it a try? Thanks!

[2020-03-05 20:38] dhmlau commented on #4800
Fixed in https://github.com/strongloop/loopback-next/pull/4799.

[2020-03-05 20:43] dhmlau commented on #4296
@raymondfeng , I'm assigning this to you since you'll be looking into it. Thanks.

[2020-03-05 20:54] bd100b commented on #4800
@dhmlau now it throws me another error:

[code]

[2020-03-05 21:03] bd100b commented on #4800
@dhmlau Sory, my bad. I've uninstalled @loopback/cli and then installed it again like: `npm install -g @loopback/cli@2.0.1`, reopened my IDE and run `lb4 app` and now it works. Thanks for the fix.

[2020-03-05 21:05] dhmlau commented on #4800
I will close this issue as resolved. Thanks!

[2020-03-05 21:05] #4800 closed

[2020-03-06 05:12] raymondfeng commented on #2666
The following works for me:
[code]

[2020-03-06 05:18] raymondfeng commented on #2666
I'm blocked by https://github.com/swagger-api/swagger-ui/issues/4600

[2020-03-06 05:28] raymondfeng commented on #2666
See a working example at https://github.com/strongloop/loopback-next/pull/4801

[2020-03-06 05:28] #2666 closed

[2020-03-06 05:29] raymondfeng commented on #4011
See a working example at https://github.com/strongloop/loopback-next/pull/4801

[2020-03-06 05:29] #4011 closed

[2020-03-06 05:57] sureshdmavericks opened #4803 "How to define relations with foreign key ?"
Hi,

Here is my code to define relation.

[code]

[2020-03-06 05:59] achrinza commented on #4803
Docs on defining relations can be found [here](https://loopback.io/doc/en/lb4/Relations.html).

[2020-03-06 05:59] #4803 closed

[2020-03-06 06:18] hacksparrow commented on #3952
Closed via https://github.com/strongloop/loopback-next/pull/4730

[2020-03-06 06:18] #3952 closed

[2020-03-06 09:47] aaamitsingh commented on #3432
Any update?

[2020-03-06 14:26] bajtos commented on #4674
Hmm, that's a good question. Now that I am re-reading the documentation for `no-inferrable-types`, I am not sure why I thought this is the rule to use 🙈

[2020-03-06 14:30] bajtos commented on #3293
Based on https://github.com/strongloop/loopback-next/issues/3293#issuecomment-507643117, the problem can be reproduced using the sanbox provided in the bug report, see https://github.com/ricky92/loopback-next/tree/model-inheritance

[2020-03-06 14:34] bajtos commented on #4059
I am afraid I don't have bandwidth to look into this issue anytime soon 😢

[2020-03-06 14:36] bajtos commented on #1663
@javiersantossanchez sorry for responding so late. Are you still keen to work on this issue?

Based on the previous discussion, I think the agreement is to add a new prompt for the npm package name. This prompt should use a lower-case version of the project name as the default value offered by CLI to the user running it, and we can use `validate-npm-package-name` to ensure the prompt is answered w

[2020-03-06 18:09] dhmlau commented on #4782
@emonddr, could you PTAL? Thanks.

[2020-03-06 18:09] dhmlau commented on #4738
@emonddr, could you please take a look? Thanks.

[2020-03-06 18:16] sam-github commented on #4781
I'm not convinced the actions here an in the associated PR are all necessarily improvements.

Perhaps the lb version advisories should cross-link, but having the advisories collected in way specific to the LB versions seems like a feature to me.

https://loopback.io/doc/en/sec/index.html is a pretty clear location for responsibly disclosed and clearly documented reports of vulnerabilities.

Descri

[2020-03-06 18:20] emonddr commented on #3432
@aaamitsingh , it looks like the community provider connector for couchbase hasn't done anything since 2015; https://github.com/guardly/loopback-connector-couchbase .

The LoopBack team doesn't have the bandwidth to help maintain community-provided connectors.
We also don't have the bandwidth to create or maintain a connector for couchbase.

If you'd like to try couchdb, we do maintain a connector

[2020-03-06 19:06] aaamitsingh commented on #3432
Thanks for the reply @emonddr. I want to use couchbase only, have you tried to connect couchbase with couchdb connector and query with mapReduce view?

[2020-03-06 19:22] hlian opened #4809 "@loopback/rest: path-to-regexp too far ahead?"
There's

[code]

in package.json, but [express requires path-to-regexp to be on the 0.x major version](https://github.com/expressjs/express/issues/4171#issuecomment-586653090). I think this puts users of LB4 in an awkward position of having to choose between one or the other?

Also, as of the most recent release, TypeScript won't compile if `path-to-regexp@0.1.7` is the chosen version:

[code]

be

[2020-03-06 20:07] emonddr commented on #4809
@hlian , please provide a small application that reproduces the issue you are seeing. Thank you. :)

[2020-03-06 20:17] emonddr commented on #4809
@deepakrkris , PTAL. Thx :)

[2020-03-06 20:27] javiersantossanchez commented on #1663
Hello, @bajtos
Yes I would happy to work on this task.
Then I going to start to work on it tomorrow.

[2020-03-06 20:29] raymondfeng commented on #4809
@hlian Node.js allows different versions of the same module as dependencies. For example, `npm ls path-to-regexp` gives me the following information:

[code]

Please note `6.1.0` is a transitive dependency for `@loopback/rest` and it should not have impact on your application.

[2020-03-06 20:38] dhmlau commented on #1873
@raymondfeng created a PR https://github.com/strongloop/loopback-next/pull/4801 to add an example.

[2020-03-06 20:39] emonddr commented on #4782
@mrbatista, thank you for your question.

I am trying to understand your suggestion.

The API Explorer url will show all the endpoints contributed by multiple controllers (ProductController, OrderController, PingController).  The @authenticate decorator can be added to controller methods or a controller class. If it is specified at ProductController class level, then @authentication.skip() can be

[2020-03-06 20:45] deepakrkris commented on #4809
@hlian please provide a sample app or code sandbox to recreate your issue

[2020-03-06 21:17] #4372 closed

[2020-03-06 21:31] emonddr commented on #4782
In LoopBack 4, you can prevent the api explorer from appearing by following these instructions:
https://loopback.io/doc/en/lb4/Self-hosted-rest-api-explorer.html#disable-self-hosted-api-explorer

[2020-03-06 22:19] hlian commented on #4809
ah, gotcha!

[2020-03-06 22:19] #4809 closed

[2020-03-06 22:44] mrbatista commented on #4782
@emonddr I needs to allow access to api explorer for unauthenticated user.

In my application I configured the [default](https://loopback.io/doc/en/lb4/Loopback-component-authentication.html#default-authentication-metadata) authentication.
After this change the api explorer page is not accessible because the default path require a valid jwt token.
My question is: How can I disable authentication f

[2020-03-07 00:17] deepakrkris commented on #4522
changing the scope and acceptance criteria to fit Shopping example, because ALL of the action items were accomplished by https://github.com/strongloop/loopback-next/pull/4706 and https://github.com/strongloop/loopback-next/pull/4571

[2020-03-07 02:44] dhmlau commented on #4522
@deepakrkris, since this is originally a migration guide task, I'd like to understand more on the acceptance criteria change.  Here are my thoughts:
- If all the criteria are met by PR #4706 and #4571, and because it's not a migration/migration guide related task, I'd defer to Q2.
- I thought we already have role based access control in the shopping example. Why do we need to refactor it? I unders

[2020-03-07 06:09] deepakrkris commented on #4522
@dhmlau the shopping app has only a basic authorizer , not a casbin based rbac authorizer
https://github.com/strongloop/loopback4-example-shopping/blob/master/packages/shopping/src/services/basic.authorizor.ts

[2020-03-07 06:12] deepakrkris commented on #4522
@dhmlau this is already done . https://github.com/strongloop/loopback-next/blob/master/examples/access-control-migration/src/services/assign-project-instance-id.voter.ts

[2020-03-07 06:17] deepakrkris commented on #4522
@dhmlau , yes the shopping example tasks can be deferred, there were few follow ups discussed in the migration PR https://github.com/strongloop/loopback-next/pull/4571/files#r381350460 , https://github.com/strongloop/loopback-next/pull/4571/files#r383709072  by @emonddr  and @bajtos .May be we can prioritize them ?

[2020-03-07 07:12] achrinza commented on #4781
Thanks @sam-github for the extremely detailed feedback;

I think that's a good idea. The concern right now is that its inconsistent: some vulnerabilities across different LoopBack versions are consolidated into the same page, some from LoopBack 2 are in a separate page than the rest without any link between these pages.

Apologies my wording was convoluted, I believe that they are indeed showing o

[2020-03-07 16:25] #2151 closed

[2020-03-07 17:32] AnanthGopal commented on #4624
Thank you that code is working as expected.

Below code used to download static files from the server
`@get('/files/download', {
    responses: {
      '200': {
        description: 'File instance file download',
        content: {
          'text/csv': {
            schema: {
              type: 'string',
              format: 'binary',
            },
          },
        },
      },
    },
  })

[2020-03-07 17:44] AnanthGopal opened #4813 "Model genertor"
[typeorm-model-generator](https://www.npmjs.com/package/typeorm-model-generator) is the NPM package used to generate models for Nest.js framework. Is there a similar generator in LoopBack 4?

The package very useful to generate model hence I am asking...

[2020-03-07 19:35] #4624 closed

[2020-03-07 21:58] dhmlau commented on #4522
@deepakrkris, thanks for your info.

1. >  the shopping app has only a basic authorizer , not a casbin based rbac authorizer

Seems like we're going around circles about having casbin in the first place, then removing it, and we want to add it back again.  :).  Not your fault, just pointing out the fact. :)
Either way (basic or rbac authorizer) is fine with me, as long as we have docs covering the

[2020-03-07 22:00] dhmlau commented on #4522
From what you described, @deepakrkris, let's continue the discussion here on the next steps, and for now, I'll defer this task from Q1, since it is no longer a migration guide related issue. Thanks!

[2020-03-08 00:26] #2368 closed

[2020-03-08 05:18] mastermunj commented on #4813
@AnanthGopal Please check [Model Generator](https://loopback.io/doc/en/lb4/Model-generator.html) and [Repository Generator](https://loopback.io/doc/en/lb4/Repository-generator.html)

You should also check out other [CLI References](https://loopback.io/doc/en/lb4/Command-line-interface.html).

[2020-03-08 06:12] achrinza commented on #4813
Hi @AnanthGopal, discovering models from an existing database is possible with [`lb4 discover`](https://loopback.io/doc/en/lb4/Discovering-models.html)

[2020-03-08 08:42] raw-ham commented on #4751
@agnes512

I confirmed that it was solved in my project.

Thank you for correspondence!

[2020-03-08 08:42] #4751 closed

[2020-03-08 17:35] #1463 closed

[2020-03-08 17:35] #1956 closed

[2020-03-08 19:03] sam-github commented on #4781
Its genuinely confusing! :-) There used to be a Node Security Project, and they donated a snapshot of the DB to the ecosystem-sec-wg, and then the nsp project's parent company was acquired by npmjs.com, so there could be said to be two "inheritors" of the project.  At this point (not when the wg was founded) npmjs.com has package audit and sec reporting capability, it didn't used to. I'm not sayin

[2020-03-09 09:56] AnanthGopal commented on #4813
thank you @achrinza .  that command generates only model properties, that do not generate the relationship between the tables. how to generate the modelwith relationships

[2020-03-09 10:08] achrinza commented on #4813
@AnanthGopal Unfortunately this isn't possible at the moment: #3490

[2020-03-09 10:09] AnanthGopal commented on #4813
okay, thank you. is it possible include this feature in the future?

[2020-03-09 10:24] bajtos commented on #2556
Recently, I am leaning towards a different approach. I think we should remove `.datasource.json` files, because all other artifact types (models, repositories, controllers) are already using TypeScript instead of JSON.

The idea is to embed the default datasource configuration directly inside `.datasource.ts` files, for example:

[code]

With this new design in place, variable substitution does no

[2020-03-09 10:27] bajtos commented on #2265
Closing as resolved by https://github.com/strongloop/loopback-next/pull/4080, which added `lb4 update` command to check/update project dependencies

[2020-03-09 10:27] #2265 closed

[2020-03-09 10:29] bajtos commented on #2660
@dhmlau @raymondfeng ping, now that LB3 is in Maintenance LTS, is it perhaps time to move forward and rename one or both repositories?

[2020-03-09 11:53] bajtos commented on #1068
Our experimental packages are using `0.x` version, I am re-opening this issue because it's affecting us again.

[2020-03-09 11:54] dip-sinha opened #4825 "How to upload file using req.files in loopback 4?"

[2020-03-09 12:37] bajtos commented on #1068
Submitted a PR to lerna to fix the problem: https://github.com/lerna/lerna/pull/2486

[2020-03-09 12:48] frbuceta commented on #4791
Can someone help me a little with this? @strongloop/loopback-next

[2020-03-09 12:56] derdeka commented on #4825
Here is an work in process example you might looking for: #4801

[2020-03-09 13:41] hacksparrow commented on #3935
https://loopback.io/doc/en/lb4/Understanding-the-differences.html already contains the broad differences between LB3 and LB4.

"Operation hooks(interceptors in lb4)/remote hooks and their equivalents in LB4" is covered by
https://loopback.io/doc/en/lb4/migration-models-overview.html.

"How to migrate boot scripts #3957 might be related" is covered by https://loopback.io/doc/en/lb4/migration-boot-s

[2020-03-09 14:11] achrinza commented on #4813
The lb legacy juggler is a bit out of my knowledge; @bajtos and @raymondfeng may be able better-equipped in answering this question.

We'll close this issue so that we can continue discussions in #3490. Feel free to put your input in that issue instead.

[2020-03-09 14:11] achrinza commented on #4813
Duplicate of #3490

[2020-03-09 14:11] #4813 closed

[2020-03-09 14:24] dhmlau commented on #3935
+1 in breaking down into smaller tasks or at least PRs.

I'm good with your updated acceptance criteria. @aharbis, feel free to chime in if there's particular topic you want to cover.

Not sure how we want to organize the docs, we do have an old issue about documenting the request/response cycle: https://github.com/strongloop/loopback-next/issues/1833.

[2020-03-09 14:36] hacksparrow commented on #3935
https://github.com/strongloop/loopback-next/issues/1833 could be more detailed under "Behind the Scene", the one in the Migration Guide less detailed. I will close #1833 too.

[2020-03-09 14:56] derdeka commented on #4791
@frbuceta Can you please provide an example repo which reproduces the issue. (see https://loopback.io/doc/en/contrib/Reporting-issues.html)

[2020-03-09 15:11] achrinza opened #4826 "Review LoopBack's Long Term Support Policy"
## Suggestion

Loosely related: #4398

This issue consists of 2 points, both related the Module LTS polcy:

1. Adopt Module LTS on the individual packages

    LoopBack 4 claims to adopt the [CloudNative Module LTS Policy](https://github.com/strongloop/loopback-next#long-term-support). This only applies to the project as a whole, and semver major bumps within the individual packages in the monorep

[2020-03-09 15:13] bajtos commented on #3935
I am fine with breaking this down into smaller tasks, that way we can better track progress and perhaps even spread the work.

That's a good plan 👍

I think it's important to cover application life-cycle and especially the boot process too.

In LB3, the boot process works roughly as follows:
1. Create datasources
2. Define all models
3. Attach models to datasources
4. Run boot scripts

There are f

[2020-03-09 15:44] derdeka commented on #4782
@mrbatista If you want to whitelist the authorization for specific resources, you could use an voter for this:

[code]

For the `explorer` you just need the pattern `/^ExplorerController\./` to vote for a `AuthorizationDecision.ALLOW`.

Does this solve your issue?

[2020-03-09 16:04] hacksparrow commented on #3935
Ok then, another task on booting.

- Booting
  - Document the LB3 bootup process
  - Document the LB4 bootup process

[2020-03-09 16:13] jannyHou commented on #4521
@dhmlau Yes. Moving here after close https://github.com/strongloop/loopback-next/issues/4753

[2020-03-09 16:30] haotangio commented on #1857
@bajtos Thanks for your help, I tried to make the mixin approach working, but was struggle with the repository type. Could you help to provide `type information for the "repository" argument`?

[2020-03-09 16:34] deepakrkris commented on #4522
@emonddr from your comment in https://github.com/strongloop/loopback-next/pull/4571/files#r381350460

[code]
@emonddr @jannyHou , do you think we can prioritize this for the migration example app in Q1 ?

[2020-03-09 16:37] #4825 closed

[2020-03-09 16:48] deepakrkris commented on #4522
@jannyHou from @bajtos comment https://github.com/strongloop/loopback-next/pull/4571/files#r383709072 👍

[code]
I see one limitation, the current way of casbin configuration in this example will explode with a growing number of APIs and more importantly with "data" (when additional projects are added). Usually API access is grouped with scopes and rbac checks are done against the scopes. Data leve

[2020-03-09 17:06] jannyHou commented on #4522
@dhmlau @deepakrkris I think, since we already have an example app(access-control-migration) that ONLY focuses on and demos the authentication and authorization, I would suggest use it as much as possible in the auth migration docs.
Personally I would not make the shopping example's auth system more complicated, as long as its functions perform well, I tend to keep the shopping example as it is.

[2020-03-09 17:09] jannyHou commented on #4522
@deepakrkris for https://github.com/strongloop/loopback-next/issues/4522#issuecomment-596645761, sorry I haven't got a chance to create follow-up story for it. If you can add the limitations section in this story that would be great 👍

[2020-03-09 17:41] dhmlau commented on #4386
@jannyHou @raymondfeng, could you please clarify? Thanks.

[2020-03-09 18:02] dhmlau commented on #3935
FYI - there's a GH issue for documenting application life cycle: https://github.com/strongloop/loopback-next/issues/3384.

[2020-03-09 19:49] dhmlau commented on #4826
@achrinza, just wanna clarify on the Module LTS policy.
AFAIK, the requirement is: the version of the module cannot go EOL before the Node.js version, that was claimed LTS when the module was still active, goes EOL.

An example might be easier to illustrate that because it took me a while to understand that. :)
Take `loopback-connector` as an example.  The current version is 4.x.
- When Node.js 12

[2020-03-09 21:51] jannyHou commented on #4753
Closing it after 2 PR merged.

[2020-03-09 21:51] #4753 closed

[2020-03-09 23:21] achrinza commented on #4826
Thanks @dhmlau, for the example.

From my understanding, your example is definitely correct, but I believe it's missing one point. I'd like to take an example from this monorepo as it's what's of concern (`loopback-core`)

- When Node.js 12 is published, `loopback-core@2.0.0` is still active. According to Module LTS policy, we need to support `loopback-core@2.0.0` till Node.js goes EOLs.
- If Node

[2020-03-10 01:16] aharbis commented on #3935
I am good with splitting this up into tasks, and I agree that these four will cover the large majority of the gaps I was hoping to see filled:

- Request-response cycle
- In-built data parsing and validation
- Custom validation
- Booting

I am happy to assist in contributing, but my expertise at this point is mostly on the LB3 side. I've yet to do many deep-dives into the inner workings of LB4.

[2020-03-10 01:20] raymondfeng commented on #4726
@asaurav025 Are you looking a client library in Node.js to upload files using `multipart/form-data` media type? Please check out https://github.com/strongloop/loopback-next/blob/master/examples/file-upload/src/__tests__/acceptance/file-upload.acceptance.ts#L22. It uses `supertest` to upload files as attachments.

[2020-03-10 07:01] dip-sinha opened #4834 "the example-file-upload is giving internal server error after submitting the file"
## Steps to reproduce

## Current Behavior

## Expected Behavior

## Link to reproduction sandbox

## Additional information

## Related Issues

_See [Reporting Issues](http://loopback.io/doc/en/contrib/Reporting-issues.html) for more tips on writing good issues_

[2020-03-10 07:05] dip-sinha commented on #4834
Unhandled error in POST /file-upload: 500 Error: unknown format "binary" is used in schema at path "#/properties/file"
this is the error I am getting in console

[2020-03-10 08:14] achrinza commented on #4834
@dip-sinha, please publish a GitHub repo sandbox so that we can examine the code. Otherwise it may be difficult for us to pinpoint the issue.

[2020-03-10 08:19] achrinza commented on #4826
There's also the concern that we're adopting Module LTS for the LoopBack framework as a whole, and not on the individual packages which may adoption of individual LoopBack packages (e.g. `@loopback/context`) difficult as they may have an unpredictable support schedule when semver major releases occur.

[2020-03-10 09:25] hacksparrow commented on #3935
https://github.com/strongloop/loopback-next/issues/3384 would be a more detailed doc too. The content in the Migration Guide would not be as detailed.

[2020-03-10 09:29] hacksparrow opened #4836 "Migration Guide: Request-response cycle"
Document the request-response cycle differences in LB3 and LB4.  Created out of https://github.com/strongloop/loopback-next/issues/3935.

https://github.com/strongloop/loopback-next/issues/1833 should be done before doing the task.

## Acceptance Criteria

After 1833 is done,
- [ ] Go through the request response cycle in LB4 and LB3 ( with diagrams)
- [ ] Explain the differences

[2020-03-10 09:31] hacksparrow opened #4837 "Migration Guide: Custom validation"
Document the points of data access / validation and their differences in LB3 and LB4.  Created out of https://github.com/strongloop/loopback-next/issues/3935.

**Acceptance Criteria**

- [ ] Document the points where data (request / transaction) can be accessed and validated in LB3
- [ ] Document the points where data (request / transaction) can be accessed and validated in LB4

[2020-03-10 09:33] hacksparrow opened #4838 "Migration Guide: Boot up"
Document the differences in the boot up process in LB3 and LB4.  Created out of https://github.com/strongloop/loopback-next/issues/3935.

**Acceptance Criteria**

- [ ] Document the difference the boot up process between LB4 & LB3.

Related https://github.com/strongloop/loopback-next/issues/3384.

[2020-03-10 09:33] hacksparrow opened #4839 "Migration Guide: In-built data parsing and validation"
Document the in-built data parsing and validation differences in LB3 and LB4. Created out of https://github.com/strongloop/loopback-next/issues/3935.

**Acceptance Criteria**

- [ ] Document in-built data parsing and validation in LB3
- [ ] Document in-built data parsing and validation in LB4

[2020-03-10 09:34] hacksparrow commented on #3935
Created the following issues:

- https://github.com/strongloop/loopback-next/issues/4838
- https://github.com/strongloop/loopback-next/issues/1833
- https://github.com/strongloop/loopback-next/issues/4839
- https://github.com/strongloop/loopback-next/issues/4837

[2020-03-10 13:30] AlexDM0 opened #4841 "@response(204, ... ) will not create the same type of response as schema definition."
## Steps to reproduce

## Current Behavior

If I want to use decorators for response, I cannot seem to get a correct 204 in the explorer.

If I use the schema definition:
[code]

I get a clean 204 in the explorer:
[code]

If I use the decorator however:

[code]

I get the typeselector for the response:
[code]

Since I cannot stack the ```@response``` decorators once I use the schema as described a

[2020-03-10 13:45] dougal83 opened #4842 "Best practice? Optional (single) endpoint authentication"
Simply put, how is it best to create an endpoint that allows both anonymous and authenticated access.  Should this pattern be avoided?  Is there a better way?

Use case: the same interface to create a comment anonymously or with username appended.

Example (**NOT FOR PRODUCTION**):
[code]
Optional JWT Strategy:
[code]

tag: @emonddr

[2020-03-10 14:02] jannyHou commented on #4386
after having the jwt authentication component extracted in [examples/access-control-migration](https://github.com/strongloop/loopback-next/tree/master/examples/access-control-migration/src/components), I am thinking refactor the strategy in this example to extend the enhancer and provide jwt auth spec by default.

I am not sure if @raymondfeng still wants to have the authorize button enabled for e

[2020-03-10 14:26] dougal83 commented on #4841
Hey @mschnee, Could you please take a look?

[2020-03-10 15:02] raymondfeng commented on #4834
@dip-sinha The example depends on https://github.com/strongloop/loopback-next/pull/4808, which is merged into master but not published to npm yet.

There are two options to try this example now:

1. Check out `strongloop/loopback-next` github repo and run `npm i` under `loopback-next` to set up dependencies for `examples/file-upload`.

2. In the example `application.ts`, add the following code to

[2020-03-10 15:02] #4834 closed

[2020-03-10 15:19] jannyHou commented on #1873
some update: PR #4801 merged. Next we need update the docs mentioned in https://github.com/strongloop/loopback-next/issues/1873#issuecomment-592136943

[2020-03-10 15:47] mrbatista commented on #1979
@dhmlau Available to port LB3 Email connector to LB4.

[2020-03-10 16:08] jannyHou commented on #4521
Will address the comment in https://github.com/strongloop/loopback-next/pull/4706#discussion_r383625928

[2020-03-10 16:30] dhmlau opened #4844 "[EPIC] Add "Running and Debugging app" page"
## Suggestion

In LB3 docs, there's [Running and debugging apps page](https://loopback.io/doc/en/lb3/Running-and-debugging-apps.html). A similar version for LB4 would be useful.

### Acceptance Criteria
- [x] Running and debugging apps
   - [x] setting debug strings
       - The connector ones would be the same. For others, not every debug strings would be the same. e.g. strong-remoting
   - [x] e